[2019-09-03 21:15] TomAugspurger commented on #5362
I'm guessing that `result_type` isn't implemented (correctly) for `dask.dataframe.DataFrame.apply`.

I'm not sure there's anything to do, however. It should be passed through to the underlying pandas' call. As long as the `meta` you've provided is correct, Dask shouldn't need to care about `result_type`. Do you have an example where it's failing?

[2019-09-03 22:19] manugarri commented on #5360
@TomAugspurger that is correct, the input data is not already split by day. This means that each of the input files unfortunately has data for multiple dates that I would like to separate at the output.

[2019-09-04 02:13] birdsarah commented on #5362
Yes - the code in this issue. I tried to use it and it didn't work. I have successfully used it in pandas.

[2019-09-04 02:22] TomAugspurger commented on #5362
Sorry, I should have said "reproducible" example :)

[2019-09-04 02:50] TomAugspurger commented on #5359
Currently, the dask schedulers struggle with workloads like this. The typical workaround is to compute the result in two passes over the data. The first to compute the small result `x.mean(axis=0)`, and the second to compute the final result.

[code]

xref https://github.com/dask/dask/issues/874

[2019-09-04 02:55] birdsarah commented on #5362
# pandas
works (as per https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html)

[code]

# dask

[code]

this passes with the standard warning about no meta being applied

# dask - error 1

[code]

Fails with
[code]

# dask - error 2

[code]

Fails with
[code]

# dask - error 3

[code]

fails with

[code]

(same if metadata supplied as dict)

[2019-09-04 03:38] TomAugspurger commented on #5362
Ah, the keys in `meta` should be columns in the output. You're returning a list, which pandas expands with the default `[0, 1, ...]` columns

[code]

Dask's `DataFrame.__setitem__` doesn't currently accept a list as an indexer with a DataFrame as the target, so you'll need something like

[code]

[2019-09-04 03:38] TomAugspurger commented on #5362
That error message

Could probably be improved, at least when the number of differing columns is small.

[2019-09-04 03:40] varunbpatil commented on #5359
@TomAugspurger Thanks for the reference. Works perfectly fine.

[2019-09-04 03:40] #5359 closed

[2019-09-04 06:11] lesteve commented on #5324
Are you using `sklearn.linear_model.LinearRegression` or `dask_ml.linear_model.LinearRegression`? I would strongly suggest to use `dask_ml.linear_model.LinearRegression`, otherwise you copy `X` and `y` into memory when you use `.fit`).

My guess: when your `X` and `y` are distributed on different workers as in the case when you do `.persist` this could be even worse, because you need to communicat

[2019-09-04 12:25] martindurant commented on #5257
Do you get the same problem if you try to use `fsspec.open('webhdfs...', storage_options={...})`? Then it would be a fsspec-only problem, args not getting passed to the right place.

[2019-09-04 12:42] AlbertDeFusco commented on #5257
I get the same problem with the following pandas code

[code]

but `f.read()` works.

I spent quite a bit of time with pdb last night and during `pd.read_csv` the file is read line-by-line and at some point fsspec is attempting to fetch a range that starts at or past the end of the file.

[2019-09-04 12:44] martindurant commented on #5257
Ah, then this is sounds like the thing we fixed in https://github.com/intake/filesystem_spec/pull/124 - can you try?

[2019-09-04 13:14] jsignell commented on #5360
Just wanted to say that I imagine this is a fairly common scenario both for for 2d and nd data. It might be nice to have a minimal example of the workflow with some smallish/public dataset.

[2019-09-04 14:00] denisvlah opened #5363 "Dask trying to save file with too long name"
This happens when working with huge dataframe larger than available RAM and dask computational graph is very big. Dask tries to spill data to disc and create too long file names for this.
Traceback from DASK worker:
[DaskErrorToLog.txt](https://github.com/dask/dask/files/3574913/DaskErrorToLog.txt)

Error was obtained on Ubuntu 18.0.4 with file system ext4 (maximum filename length is 255)
DASK ver

[2019-09-04 14:56] quasiben commented on #5363
@denisvlah not sure how this error is manifesting but I would recommend two things:

1) upgrade to dask 2.3.0 is possible
2) build a minimal reproducible example we can run: https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-09-04 15:51] telferm57 commented on #5295
When engine='pyarrow', the number of partitions in the dask dataframe is set to the number of divisions -1 . The number of divisions is the number of parts + 1. In this case, we have one file, so npartitions is set to (1 + 1 -1) = 1, whatever the size of the file. Both pyarrow and fastparquet engines induce undesirable behaviour, it seems to me.

[2019-09-04 15:53] martindurant commented on #5295
@telferm57 , what do you think the behaviour ought to be? Remember, you can always repartition the dataframe before calling to_parquet.

[2019-09-04 16:12] hongzmsft opened #5364 "A public API to access task graph information"
I am working serializing task graph for dask data structures. I understand that the information can be fetched from __dask_graph__().layers. I want to know whether this is a proper API for downstream projects to use. If not, what is the proper way to get task graph information?

[2019-09-04 17:21] mrocklin commented on #5364
Yes, the `__dask_graph__` interface, and everything in https://docs.dask.org/en/latest/custom-collections.html is stable.  Things change of course, but this has been the state for a long while.

[2019-09-04 17:24] hongzmsft commented on #5364
Thanks for the clarification.

[2019-09-04 17:24] #5364 closed

[2019-09-04 18:19] hoangthienan95 opened #5365 "`read_csv` get stuck for wide dataframe (2 million rows, 500k columns)"
I'm trying to read a file with 2 million rows and 500k columns into Dask dataframe, but after a night running, it still have not finished.

When I stop it, it is stuck at the `inferring dtype` step:

I have tried to eliminate Dask's dtype inference work by getting the dtype from the first 10 rows using pandas, but nothing changed.

[code]

<details>
<summary> Traceback when stopping after running

[2019-09-04 18:23] hoangthienan95 commented on #5365
Also, I tried creating a minimum example for this, but doing

[code]
to make dataframe and read it back in gives me memory error. How should I create a minimum example for this?

[2019-09-04 18:37] TomAugspurger commented on #5365
It seems like the traceback is in `pandas.DataFrame.select_dtypes`. How long does

[code]

take on your in-memory pandas DataFrame?

[2019-09-04 19:47] hoangthienan95 commented on #5365
Hi @TomAugspurger , about an hour!

%time df.select_dtypes(include='category')

Wall time: 55min

[2019-09-04 19:49] #5257 closed

[2019-09-04 19:57] TomAugspurger commented on #5365
Hmm, I suspect that can be optimized on pandas end, but doesn't entirely explain what you're seeing I think. We only call that once I think.

Interested in debugging any further? I would start by comparing the snakeviz output of reading a `100 x 1000` DataFrame vs. a `100, 10000` DataFrame, and seeing where things scale poorly. If not, I'll get to it later in the week.

[2019-09-04 21:00] davidbrochart commented on #5105
I'm not sure this is entirely related, but I'm having a problem "transposing" chunks, i.e. transforming a dataset that is e.g. chunked in time into a dataset that is e.g. chunked in space, or the other way around.
Here are two reproducible examples, for the former:
[code]
Which gives this error:
[code]

And for the latter:
[code]
Which gives that error:
[code]

[2019-09-04 21:22] TomAugspurger commented on #5105
I'm not sure if this is proper, but it avoids the error in the first case

[code]

As a novice xarray user, I might expect something like this to happen automatically when calling `Dataset.chunk`. But I probably don't fully understand what's going on.

[2019-09-04 21:31] davidbrochart commented on #5105
Thanks a lot, this case was the most important for me. I will now see how it behaves on a large dataset.
For the second case, I understand that it's not that trivial and that it might be implemented in xarray in the future.

[2019-09-04 22:11] davidbrochart commented on #5105
With the relatively small TRMM-3B42RT dataset, it keeps on reading the zarr over and over again, and it eventually crashes. I ran the following on the Pangeo binder, but you can change the client and run it locally too:
[code]

[2019-09-05 00:18] j-grover opened #5366 "'Series' object has no attribute 'is_unique'"
pandas.Series has a property `Series.is_unique` but dask.Series does not currently looking at the API.

The [implementation](https://github.com/jschendel/pandas/blob/b2f0d82ef4413550807c8f16a5b313382c0598aa/pandas/core/base.py#L1340) for pandas.Series is simply:
`return self.nunique(dropna=False) == len(self)`

So the dask version would be:
`return self.nunique().compute() == len(self)`
(dask's [n

[2019-09-05 02:43] TomAugspurger commented on #5366
Thanks for opening the issue.

Do you have a sense for whether `dask.datframe.Series.is_unique` would be lazy (return a Delayed object) or eager? I think that lazy would be my preference.

[2019-09-05 03:11] j-grover commented on #5366
The following is the code snippet from the existing python package that I require this for:

[code]

I believe in this case the computation would have to be eager?

[2019-09-05 07:27] davidbrochart commented on #5105
You can run the code above in the Pangeo Binder by clicking [this link](https://binder.pangeo.io/v2/gh/davidbrochart/pangeo-test/master) and opening `test0.ipynb`.

[2019-09-05 11:19] TomAugspurger commented on #5366
Yes. Delayed objects can't be used in conditionals

[code]

So you would need to `compute` if the `.is_unique` property were lazy.

@jcrist do you have thoughts on what's appropriate for `Index/Series.is_unique`?

[2019-09-05 14:44] TomAugspurger commented on #5105
Hmm, still thinking through the rechunking, but that pattern collapsing all the `time` chunks into a single one and chunking the other dims seems to require a lot of communication between chunks, right? So this isn't an embarrassingly parallel problem, so my earlier workarounds won't help here.

Better scheduling might not help too much either. There's just going to be a lot of communication here.

[2019-09-05 14:46] #5343 closed

[2019-09-05 14:52] davidbrochart commented on #5105
But rechunking just along the time dimension will result in huge chunks that won't fit in memory, right?

[2019-09-05 14:59] TomAugspurger commented on #5105
Oh, yes, I misread the chunk sizes. So that won't work...

[2019-09-05 15:01] martindurant commented on #5330
I think we can close this now, since the only remaining thing is the permissions. https://github.com/dask/dask/issues/5361 is probably the right place to discuss commit/rollback of entire data-output operations.

[2019-09-05 15:01] #5330 closed

[2019-09-05 15:02] jcrist commented on #5366
Since we can't do this efficiently (it requires a full pass over the data for each column) and we can't match pandas api (I'm against eager behaviors if we can avoid them, especially for properties) perhaps we shouldn't support this at all?

The above loop would be better implemented in dask as a single pass over the data, rather than multiple computations. Something like:

[code]

[2019-09-05 15:04] davidbrochart commented on #5105
Interestingly, dask doesn't seem to complain about that, but it hangs doing nothing in the `rechunk-merge` task.

[2019-09-05 15:23] TomAugspurger commented on #5366
Thanks. Not implementing seems to be the correct call here. I don't really see `.is_unique` being useful outside of using it as a conditional. And as you say, it's likely there's a more efficient way.

[2019-09-05 15:40] birdsarah commented on #5362
OK. So I'm successfully using expand. All my confusion stemmed from confusing errors regarding meta keyword. Happy to close.

[2019-09-05 15:41] m-albert commented on #5105
I had a similar problem: Rechunking an array (and in my case performing `da.overlap`) read from a hdf5 source was killing the scheduler (crashing and filling up memory).

What turned out to help in my case was to fill in the chunks manually. I didn't check how your file  is saved @davidbrochart, but I guess typically data that doesn't fit into memory would be saved in some way supporting i/o chunk

[2019-09-05 16:01] hoangthienan95 commented on #5365
hi @TomAugspurger thanks for helping me diagnose this. I will try to look at it over the weekend, although I have never used snakeviz so it might take some time to figure things out.

I tried reading a different file (less rows, same number of cols) and it threw this error after around 3 hours, and I got an alert from my work's IT team that this python process is consuming alot of memory
<details>

[2019-09-05 16:03] davidbrochart commented on #5105
Thanks for the workaround @m-albert. In my case, it is saved in the zarr format using xarray, so I'm not sure I can go as low-level as you did, directly manipulating a Dask array.

[2019-09-05 17:43] m-albert commented on #5105
I'm not very familiar with `xarray`, but the same trick could be used for dask arrays within the `xarray` dataset

Ok I overcomplicated things in the code above: Using `map_blocks` in my case was needed because I was performing a `da.overlap` at the same time. In your example, something like this should do the trick of outsourcing the rechunking:

[code]

However, I just tried this in your binder

[2019-09-05 18:04] m-albert commented on #5105
I'm not very familiar with `xarray`, but if I understand it correctly the `.data` attributes of datasets are dask arrays.

I realised that in the code above I complicated things way to much using `map_blocks`. In my case I needed this because I was doing the chunk overlapping in the same processing step. In your case, a simple `from_array` could do the trick, because the `zarr` format seems to exp

[2019-09-05 18:31] TomAugspurger commented on #5365
OK. That traceback points to dask's source. Dask does take a hash of the data that's passed to `Delayed`.

You might try setting `blocksize` to something smaller in `dd.read_csv`. The default value may not be appropriate for this wide of a DataFrame.

[2019-09-05 18:51] davidbrochart commented on #5105
With your code, it hangs for a while and finally throws an error `ValueError: array not found at path 'precipitation'`.

[2019-09-05 19:07] m-albert commented on #5105
Hmm yeah I just got the same, the error unfortunately is a bit cryptic.

[2019-09-05 19:08] TomAugspurger commented on #5360
@manugarri here's how I might approach it

setup:

[code]

Loading

[code]

Grouping & writing:

[code]

[2019-09-05 19:28] arpit1997 commented on #5309
@mrocklin @jrbourbeau I can take this for the weekend if no-one else is working on it.

[2019-09-05 19:46] quasiben commented on #5365
For context, default for blocksize is `int(total_memory // cpu_count / 10)`.

Can you tell us the total_memory, cpu_count, and estimate how many bytes 4 rows of data might be?

[2019-09-05 20:13] quasiben commented on #5309
@arpit1997 Thanks!  let us know if you need any help

[2019-09-05 21:19] hoangthienan95 commented on #5365
I have 256 GB RAM, 24 cores, and one row is `["object"] * 4 columns + float64 * 383115 columns` so `(8 byte * 383 155 columns) * 4 rows ~ 12.3 Megabyte`?

[2019-09-06 06:18] varunbpatil commented on #5359
Hi @TomAugspurger, just a follow-up question.
Does this mean that any function that Dask has already implemented that does something like this has to be changed for correctness?

For example, the `cov()` function in `dask/array/routines.py` has this line:
[code]

which means `da.cov()` doesn't currently work for larger-than-memory datasets.

[2019-09-06 10:29] hoangthienan95 commented on #5365
I tested again and did specify block size to be 20_000_000, still got stuck overnight. This time it is stuck at a different function of `delayed`

<details>
<summary> Traceback </summary>

[code]
</details>

[2019-09-06 11:32] TomAugspurger commented on #5359
I think I've used cov on larger than memory datasets before. Does it work
for you?

On Fri, Sep 6, 2019 at 1:18 AM Varun B Patil <notifications@github.com>
wrote:

[2019-09-06 11:33] TomAugspurger commented on #5359
Some algorithms like `da.percentile` do use approximate algorithms.

On Fri, Sep 6, 2019 at 6:34 AM Tom Augspurger <tom.augspurger88@gmail.com>
wrote:

[2019-09-06 12:27] varunbpatil commented on #5359
I tried da.cov() and da.corrcoef() and they do not currently work for larger-than-memory datasets.

[2019-09-06 12:36] manugarri commented on #5360
@TomAugspurger  thanks for your example! I was checking it and it indeed does the trick. However is not a valid solution in my case since the data I have is pretty big. The groupby operation returns a pandas dataframe per level of the column, this means it writes a single file per output level.

One way I found to balance the output partition sizes is to set the index as the date, which adds signi

[2019-09-06 13:49] TomAugspurger commented on #5360
That's inducing a shuffle. Does it have overhead over the `groupby` approach? I assumed it would be about the same.

That seems reasonable. This would emulate what we do with `map_blocks` and `block_info`. Perhaps we could call it `partition_info` and it would be a dict with the keys `partition_number` and the `divisions` (lower / upper bound on the index values).

[code]

I think that would suffi

[2019-09-06 14:02] manugarri commented on #5360
So the map_partitions itself takes similar time, but the indexing/repartition takes quite some time.

yeah that is what i was thinking of doing, it does bother me that doesnt follow the standard glob paths any longer, since then its a very custom solution. This means that afterwards I dont get to use my ETL framework using the standard * globs anymore, since adding the {date}{uuid} becomes a requi

[2019-09-06 15:25] manugarri commented on #5360
@TomAugspurger  I've been checking the dask implementation, and I think a nicer solution would be to generate the partition filenames to the native dask `to_json` function.

I can generate nice output filenames (with part names a-la-spark) with the following code:
(it assumes dataframe already indexed by date)
[code]

This produces a list of filenames, one per partition, that look like this:

[cod

[2019-09-06 15:37] martindurant commented on #5360
Those dots in '..../temp/output/2019-08-31/part-00000.json.gz' look suspicious, I would try with absolute paths.

[2019-09-06 15:38] d-v-b opened #5367 "Task dependencies do not match chunking when using `from_array`"
If I create an array chunked along the first axis like so:
[code]
![image](https://user-images.githubusercontent.com/3805136/64438270-d3956a80-d095-11e9-83cd-c700a42ad965.png)
The task graph reflects that each chunk is independent. So far so good.

But if I use the same data and chunking to construct a dask array using `from_array`, the topology of the resulting task graph is different:
[code]
![i

[2019-09-06 15:44] TomAugspurger commented on #5365
I looked at this briefly today. I'm not sure there's a whole lot Dask can do.

Some things I observed

1. Dask scales well with the number of rows, which is which is how Dask partitions things. A 100 x 10,000 CSV takes ~4s. A 20,000 x 10,000 CSV takes ~5s
2. ~2/3 of the time is spent in pandas (select_dtypes, csv reader). https://github.com/pandas-dev/pandas/issues/28317. Dask could perhaps provid

[2019-09-06 16:12] manugarri commented on #5360
@martindurant  the dots are because i dont want to share my local machine absolute path :D

[2019-09-06 16:13] TomAugspurger commented on #5367
I'm not sure I understand. That graph is showing that the two blocks `y` share a common piece of data (the ndarray `x.compute()`). In order to run `(test, 0, 0)` or `(test, 1, 1)`, you'll need the input.

[2019-09-06 16:20] lr4d commented on #5263
Digging a bit further today, it seems like the issue lies in `map_partititions`.

If calling `ddf.map_partitions(lambda df: df["A"].sum(), meta=meta)`, `map_partitions` returns `new_dd_object(graph, name, meta, divisions)`. The `graph` would return a `np.int` but since `meta=pd.Series`, this statement returns a Series.

However, when calling `ddf.map_partitions(lambda df: df["A"].sum(), meta=meta)

[2019-09-06 16:25] TomAugspurger commented on #5263
Not off the top of my head, sorry.

On Fri, Sep 6, 2019 at 11:20 AM Lucas Rademaker <notifications@github.com>
wrote:

[2019-09-06 17:26] d-v-b commented on #5367
@TomAugspurger Good catch, the way I coded that up was confusing. Now I explicitly create a numpy array from `x` and use that as the argument to `from_array`. In this case, I would argue that `(test 0, 0)` should not depend on the entire array, but rather a slice / view of that array.

[2019-09-06 17:39] d-v-b commented on #5367
I realize I didn't include an important comparison between `from_array` and `stack()`:
[code]
![image](https://user-images.githubusercontent.com/3805136/64448318-6db3dd80-d0ab-11e9-8ac6-89b64b4e1f31.png)

This is the task graph I would expect to see after calling `from_array(x_, chunks=chunks)`: each leaf has an independent data dependency. Instead, `from_array` produces a task graph where each le

[2019-09-06 19:19] quasiben commented on #5365
Another thing you could try is cutting up the CSV on disk, loading in the chunks with pandas/dask, then concating the chunks in memory.  Doing this would have two potential benefits:

1) It works, where as now you are blocked
2) reading the chunks can be parallelized with dask :)

Something like:
[code]

For splitting a large file into pieces i would recommend the linux utility [split](https://lin

[2019-09-06 19:28] r-beer opened #5368 "Dask distributed does not run SVD on chunked data array"
First of all, thank you very much for the helpful guidelines concerning bug reports. I have already learned a lot by just creating the mcve as explained in [Craft Minimal Bug Reports ](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports).

I created this bug report as suggested by @mrocklin on this (less clean) [related stackoverflow question](https://stackoverflow.com/questions/577

[2019-09-06 19:38] quasiben commented on #5263
I think `map_partitions` assumes that the resulting computation still produces a dataframe-like or series-like object.  From the end of the doc string:

If the function you're mapping changes the index/divisions, you'll need
to clear them afterwards:

The operation, `df['A'].sum()` produces an integer which has no index.  What happens to work is, if instead you call with a list of columns the redu

[2019-09-06 20:24] nrj101 commented on #3348
Restarting the kernel works

[2019-09-06 22:28] TomAugspurger commented on #5368
I'll start here :)

1. It looks like dask-jobqueu / SLURMCluster isn't needed
2. It appears that creating a Client isn't needed. Unless the bug is in the distributed scheduler, you'll find that dask issues can often be reproduced without it. You'll learn this in time :)
3. Dig a bit into what `eof` is doing (this is harder).

I happen to know that dask's current `svd` implementation only works for

[2019-09-06 23:21] birdsarah opened #5370 "Columns cut off in mismatched metadata error message"
The columns in the computed data do not match the columns in the provided metadata

I have a lot, but not unreasonable amount. of columns. There's a problem with my metadata. However, the message has been truncated so I can't debug.

[code]

How do I get more message?

[2019-09-07 00:57] mrocklin commented on #5370
The relevant code is here:

https://github.com/dask/distributed/blob/98822d4ab13081a49a3643f216dcf26009ff9496/distributed/core.py#L969-L1003

It looks like the length of 1000 characters is hard coded.  Maybe this should be a configuration value?

[2019-09-07 01:41] birdsarah commented on #5309
I can confirm that explode inside a map_partitions call works well.

[2019-09-07 03:39] birdsarah commented on #5370
+1

[2019-09-07 19:37] TomMaullin opened #5371 "Broadcasting cholesky"
I am currently writing some code that needs to do many cholesky factorizations;

e.g. I wish to do `da.linalg.cholesky(M)` where `M` is actually a 3D matrix and I want to broadcast the operation across the first dimension so that for each `i` the cholesky of M[i,:,:] is calculated and the output `L` is stored as `L[i,:,:]`; much like how this is done in numpy's linalg.

I have played around with i

[2019-09-07 23:58] shoyer commented on #5371
Dask array generally just wraps NumPy/SciPy routines. As far as I can tell, SciPy doesn't include a broadcasting cholesky. So it's probably out of scope for Dask.

I would suggest writing your own wrapper for this, e.g,. by chunking your array into size 1 chunks along the leading dimension, and making use of Dask's `map_blocks` to calculate the operations in parallel.

If your arrays are small, th

[2019-09-08 15:22] TomMaullin opened #5373 "Cholesky fails for sparse matrices"
Hi I am trying to run a cholesky decomposition on a Sparse matrix like so:

[code]

But I get the following error:

[code]

This was run on a CPU in a google colab notebook; any help on resolving this would be greatly appreciated... ideally I'm hoping to find a solution that at least allows some of the computation to be done using sparse operations as time efficiency is a big factor in what I am w

[2019-09-08 15:29] TomMaullin commented on #5371
Hmm I see... I will attempt this. Thank you.

[2019-09-08 19:15] TomAugspurger commented on #5373
I'm not aware of a cholesky decomposition implementation that works with sparse arrays.

[2019-09-08 19:19] TomMaullin commented on #5373
Update:

Apologies this works if I set the following:

[code]

[2019-09-08 19:30] TomMaullin commented on #5373
I believe the package `cvxopt`does a sparse cholesky decomposition.

[2019-09-08 19:36] mrocklin commented on #5373
You might want to engage with the github. com/pydata/sparse package, which
is probably where this sort of change would need to be made.

On Sun, Sep 8, 2019, 12:30 PM TomMaullin <notifications@github.com> wrote:

[2019-09-08 19:48] r-beer commented on #5368
Dear @TomAugspurger,
thank you very much for your fast reply!

It took me a while to verify whether this really solves the chunking problem when using `dask.distributed`. It does, thank you very much! 👍

Exactly, I didn't properly clean up the mcve.

Thank you for the info, that indeed facilitates debugging. Especially when braking down the mcve further, as you show.

Thank you for your explanatio

[2019-09-08 19:48] #5368 closed

[2019-09-08 23:12] j-grover commented on #5366
No worries, I see the efficiency issue and why we wouldn't want it to be eager. Okay to close?

[2019-09-09 02:00] jcrist commented on #5366
Yeah. Thanks for following up.

[2019-09-09 02:00] #5366 closed

[2019-09-09 05:00] arundh93 opened #5376 "Issue in joining empty dataframe with a non empty data frame"
When we join a DataFrame with an empty dataframe in fails saying
`You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat`

This is because dask internally applies `_meta_nonemty` which adds one entry to the empty data frame from `_simple_fake_mapping` which generates a row of `foo` entries hence it fails

[2019-09-09 09:21] michaeldoron59 opened #5377 "da.unique(<array with unknown shape>,return_counts=True) crashes"
This code:
[code]
produces an error.
I think that it should work theoretically, but the code tries to allocate ones at the shape of the original array and crashes (before computing).
Thanks

[2019-09-09 10:11] RodrigoNeves95 commented on #5321
@birdsarah Can I ask which fastparquet version are you using?!

[2019-09-09 11:03] TomAugspurger commented on #5377
Hmmm it's raises at https://github.com/dask/dask/blob/a4b5a1deb0c910fc5b851f856d64f98639010779/dask/array/routines.py#L887-L888.

Perhaps, but do you have an alternative implementation in mind? Nothing comes to me immediately. Do you have thoughts @jakirkham?

[2019-09-09 11:06] TomAugspurger commented on #5376
Do you have a minimal example?

[2019-09-09 12:00] jdlesage commented on #5357
Sorry for the delay. Thanks for your answer. I am not able to reproduce it on a simple example. After more investigations, that are the parquet metadata on my files that are big. These metadata are serialized inside the dask graph.

For example here the metadata of the first file.
`<pyarrow._parquet.FileMetaData object at 0x7f564075cbd8>
  created_by: parquet-mr version 1.9.1+20190430131449 (build

[2019-09-09 12:02] telferm57 commented on #5295
I think there should be a consistent number of partitions using the same data ... at the moment csv, fastparquet and pyarrow produce different results , with csv the only 'sensible one'

repartitioning - with fastparquet, this still leaves a vast number of tasks in the graph (1800 or so) , which when you attempt to write the file back using to_parquet, results in 1800 v. small files

[2019-09-09 12:35] jendrikjoe opened #5378 "String comparison for index fails."
**Bug report:**

When doing comparisons with the index and filtering a dask dataframe with it I get a `NonImplementedError`. This seems to be related to #3227 and #3230. It happens for all kinds of data types stored in the index

[code]

[2019-09-09 12:59] therhaag opened #5379 "dask.dataframe.pivot_table seems to destroy datetime type information on the new index"
I ran into an issue when using pivot_table on a dask.dataframe recently: when selecting a column with type `datetime64[ns]` as the new index, the dtype of the index is `object` afterwards. I have generated some mock data below resembling the original data which is coming from machine sensors:

[code]

Output (dtypes as expected):
[code]

Now pivot the table:
[code]

Output (index type is `object`)

[2019-09-09 13:07] TomAugspurger commented on #5379
Thanks for the report! The following seems to fix it, at least for this case.

[code]

With that, I get

[code]

Would you be interested in submitting a PR with that and tests? Ideally, we would also have tests that cover different index subclass (period, datetimetz, categorical, interval), but at least covering datetime would be a start.

[2019-09-09 13:25] arundh93 commented on #5376
Here is the sample code:

`mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
{'a': 100, 'b': 200, 'c': 300, 'd': 400},
{'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]

df1 = pd.DataFrame(mydict)
ddf1 = dd.from_pandas(df1)

df2 = pd.DataFrame(columns=['a', 'q'])
ddf2 = dd.from_pandas(df2)

ddf1.join(ddf2, on='a', lsuffix='_l', rsuffix='_r')`

The stack trace is as follows:

`Traceback (most recent call la

[2019-09-09 14:13] denisvlah commented on #5363
@quasiben
The error is reproduced on dask 2.3.0.
Cannot provide a tiny code snippet to reproduce this because it would require to port all my code and data.
Created a fix and a pull request for it:
https://github.com/dask/zict/pull/27

[2019-09-09 14:21] quasiben commented on #5377
Hmm, why does the filter have unknown shape ?

[code]

[2019-09-09 14:24] jakirkham commented on #5377
Not really no. Though no objections to others thinking about this :)

Because we don't know how many values are greater than 0.

[2019-09-09 14:24] WesRoach commented on #2735
It seems in @dsevero example drop_duplicates throws a non-relevant error when `subset=` isn't explicitly declared. @TomAugspurger is this intentional, or should we resolve with a PR?

[code]

[2019-09-09 14:43] mrocklin commented on #5357
I wonder if maybe we shouldn't be using the pyarrow piece object within the graph, and should instead use some other proxy to it.  Thoughts @martindurant @rjzamora ?

[2019-09-09 14:45] TomAugspurger commented on #2735
Probably not intentional.

The fix is to add `subset=None` as the first keyword to `DataFrame.drop_duplicate`. That will fix the documentation issue as well.

Then update references like `subset in kwargs` inside drop_duplicates.

[2019-09-09 14:48] TomAugspurger commented on #2735
I updated the original post with hopefully clear instructions on fixing, in case anyone is interested in contributing a fix.

[2019-09-09 14:48] martindurant commented on #5357
I don't really know what the Piece contains, why it would be so big, but we should be able to figure out which things are needed in the writer code. I did this kind of object trimming for fastparquet.

[2019-09-09 15:16] quasiben commented on #5378
@jendrikjoe thanks for the bug report and reproducible example.  Indeed this is an issue

A couple of things:
1) dask recently merged functionality to help compute unknown sizes: https://github.com/dask/dask/pull/5312 -- `(ddf2.index < '1234_5010').compute_chunk_sizes()` . This may prove useful in resolving this and other bugs as we may to call that instead of erroring or at least make users aware

[2019-09-09 15:21] TomAugspurger commented on #5376
Hmm, thanks (btw, your `from_pandas` calls need to specify npartitions).

So you're trying to join an integer-dtype array `df1.a` with an object dtype column (`df2.index`). Pandas typically doesn't allow that.

[code]

Pandas apparently *does* allow this on empty dtype,

[code]

I'm going to check, but not raising there may be a bug. Dask passes a non-empty version of the data to `concat`, which i

[2019-09-09 15:27] martindurant commented on #5357
Worth pointing out that this is definitely suboptimal use of parquet, only ~260 rows per chunk

[2019-09-09 15:35] therhaag commented on #5379
Thank you for the very quick reply - not something we're used to with our enterprise software vendors :)
I will look into submitting a PR later this week.

[2019-09-09 15:44] birdsarah commented on #5321
@RodrigoNeves95 0.3.2!!

[2019-09-09 15:47] jendrikjoe commented on #5378
@quasiben thanks for the speedy reply :slightly_smiling_face:
I tried doing `ddf2 = ddf2[(ddf2.index < '1234_5010').compute_chunk_sizes()].compute()`, but it gives me `AttributeError: 'Array' object has no attribute 'compute_chunk_sizes'`
Regarding you second question, it actually works when not filtering on the index and does simple string comparison. In the particular case, it removes the last e

[2019-09-09 15:57] jcrist opened #5380 "Avoid filesystem operations on the client"
In certain configurations, users may have workers that have access to a filesystem that they don't have access to on their client (e.g. hdfs). It would be nice if we could move all graph-build-time filesystem operations (e.g. globbing files, etc...) to be run as tasks on the workers instead of locally. If needed this could be done by a configuration parameter, but I suspect we may want to do this

[2019-09-09 16:06] jcrist commented on #5380
Yeah, my plan here was to just wrap all setup operations in a single task and compute it for now. I think this would have to be done on a per-IO-function basis, but we may be able to abstract this later.

[2019-09-09 16:08] mrocklin commented on #5380
+1

On Mon, Sep 9, 2019 at 9:06 AM Jim Crist <notifications@github.com> wrote:

[2019-09-09 16:25] quasiben commented on #5378
you will mostly likely need dask from master on github.  The comments i made probably won't fully work but will help you take the next step -- though perhaps @TomAugspurger may have thoughts on filtering with an index.

[2019-09-09 16:43] jendrikjoe commented on #5378
Hey @quasiben, I used master in the above comment and it got me further such that the error message is `NotImplementedError: dask.array<lt, shape=(3,), dtype=bool, chunksize=(3,), chunktype=numpy.ndarray>'` instead of `NotImplementedError: dask.array<lt, shape=(nan,), dtype=bool, chunksize=(nan,)>` :slightly_smiling_face:

[2019-09-09 16:49] pentschev commented on #5314
I agree with @jakirkham. To ensure they `may_share_memory`, we would have to evaluate, so it probably makes no sense to use this with Dask and the best would be to error out.

[2019-09-09 16:49] jrbourbeau commented on #5317
@ksangeek this issue should be resolved upstream in `cloudpickle`. If you install the dev version of `cloudpickle` from GitHub (`pip install git+https://github.com/cloudpipe/cloudpickle`) that should fix the serialization error you're running into.

[2019-09-09 17:12] sjperkins commented on #5377
Something like this has worked for me:

[code]

[2019-09-09 17:14] sjperkins commented on #5377
In fact this might be even simpler?

[code]

[2019-09-09 17:43] mrocklin opened #5382 "Release"
It has been a few weeks since our last release.  We should probably push something out soonish.  I looked through logs and I think that there isn't much that should require updating anything other than dask/dask and dask/distributed.

@jrbourbeau , any interest in taking this one?  (I'm also happy to do it if you're busy at work)

[2019-09-09 18:06] jakirkham commented on #5377
I think those lines are mainly mimicking these with `arange`.

https://github.com/dask/dask/blob/a4b5a1deb0c910fc5b851f856d64f98639010779/dask/array/routines.py#L882-L883

That said, there may be some clever way to get these lines to work with unknown chunk sizes too.

[2019-09-09 18:49] sjperkins commented on #5377
[code]

The only disadvantage I can see is that adds a linear dependency between calls to figure out the runs but I don't think it can be helped and I don't think its too bad.

[2019-09-09 19:16] quasiben commented on #5378
after chatting with @TomAugspurger i'm don't think filtering on index is fully supported.  Instead, if you want to select into the DF with the index I would recommend using `loc`.  For example to select everything but the last line:

[code]

Notice that the value is inclusive.

Dask could implement boolean indexing with a dask array but it currently doesn't .  Effectively when dask filters on a co

[2019-09-09 19:20] jakirkham commented on #5377
Do you want to start a PR?

[2019-09-09 21:05] WesRoach commented on #2735
Interested. Reading contribution guidelines (previous contribution was docs).

[2019-09-09 22:44] jendrikjoe commented on #5378
Awesome thank you for all those hints :slightly_smiling_face:
I will go for the slicing solution for the time being :wink:
I will as well try implementing it, when I have a bit more spear time here :+1:

[2019-09-09 23:26] jrbourbeau commented on #5317
Closing this issue as it's been fixed upstream in `cloudpickle`. @ksangeek feel free to re-open if you're still experiencing serialization errors.

[2019-09-09 23:26] #5317 closed

[2019-09-10 08:55] manugarri commented on #5360
**update**, the issue i was having was because a dask versioning. using dask==2.1.0 was giving the last error I mentioned. I updated to 2.2.0 and the approach I mention (indexing and generating the partition filenames) works like a charm, at the cost of additional overhead for the indexing itself.

I guess we can close this for now, might make sense to add partitioning as a feature, since I think

[2019-09-10 08:55] #5360 closed

[2019-09-10 10:13] CMCDragonkai commented on #2929
I'm still getting this problem here.

The problem is that I'm using

[code]

To acquire the meta from the input dataframe.

I later do

[code]

And this ends up with a multindex that looks like:

[code]

So now how am I supposed to construct this kind of index for the `meta` attribute?

When I try to use the `index` parameter of `make_meta` it doesn't seem to work.

[2019-09-10 10:23] CMCDragonkai commented on #2929
If I try to use something like:

[code]

I get another error:

[code]

[2019-09-10 11:18] TomAugspurger commented on #2929
@CMCDragonkai can you provide a minimal example?

[2019-09-10 11:29] CMCDragonkai commented on #2929
The balancing code is complicated, it takes each partition and returns a new partition which has the same columns but more or less rows.

[2019-09-10 11:35] TomAugspurger commented on #5373
So if pydata/sparse implements a sparse Cholesky decomposition, what will dask need to do to use it? Right now we call `scipy.linalg.cholesky`. We would need to dispatch to pydata/sparse's based no the type of the concrete array? If so we can leave this issue open, but it's blocked until there's a sparse implementation we can use.

[2019-09-10 11:36] drorata commented on #3877
Is it also documented somewhere on dask's side or is the snippet by @neverfox is considered a common knowledge?

[2019-09-10 13:23] sjperkins commented on #5377
Hey @jakirkham. Unfortunately, I don't have time at the moment. My schedule might clear in three weeks or so.

[2019-09-10 13:46] kwunlyou opened #5386 "dask.dataframe.map_partition not as expected"
The following code doesn't output as expected using `dask==2.3.0`
[code]

- during the running, there is a strange dataframe generated as follows

[code]

- also, two more files are generated, i.e., `1.txt` and `2.txt`
[code]

if define `df = pd.DataFrame([1, 2, 3, 4, 5], index=[0, 1, 2, 3, 4], columns=['score'])`, everything works fine

[2019-09-10 13:54] TomAugspurger commented on #5386
Did you see the docs at https://docs.dask.org/en/latest/dataframe-api.html#dask.dataframe.DataFrame.map_partitions? When you don't provide a `meta`, dask will try to infer the output by running the computation on a bit of dummy data.

Right now, we don't have a good way of expressing a `map_partitions`-like call that doesn't return a DataFrame. So I'd recommend something like

[code]

and pass `me

[2019-09-10 14:10] TomAugspurger commented on #3877
We still get questions / reports about it, so it's not common *enough* knowledge. @jcrist looked into giving a better error message a while back, but IIRC there isn't really a good place for us to actually handle it.

[2019-09-10 14:11] TomAugspurger commented on #2929
Do you have a minimal example?

[2019-09-10 14:22] kwunlyou commented on #5386
@TomAugspurger Thanks for the explaination, Tom.

[2019-09-10 14:34] jcrist commented on #3877
If you're creating a `LocalCluster` (or just calling `Client`) in a script, then yes.

[2019-09-10 14:38] mrocklin commented on #5373
*If* that happens (and it seems like it might be slightly far away) then I wonder if SciPy might be interested in adopting NEP-18 support.  cc @rgommers

[2019-09-10 14:45] mrocklin commented on #3877
Or any time you create a process in Python from a script.

On Tue, Sep 10, 2019 at 7:34 AM Jim Crist <notifications@github.com> wrote:

[2019-09-10 14:47] mrocklin opened #5388 "Remove vestiges of Python 2"
It has been a while since we dropped Python 2 and there doesn't seem to be catastropic blow-back.  To me, now seems like a safe time to clear out things like the compatibility file, six, and other Python 2 workarounds.  Note that we probably still want to keep things for PyPy and Windows compatibility.

[2019-09-10 14:51] rgommers commented on #5373
We are at least interested in exploring it: http://scipy.github.io/devdocs/roadmap.html#support-for-distributed-arrays-and-gpu-arrays

[2019-09-10 15:19] #5386 closed

[2019-09-10 15:30] jlopezpena commented on #2665
Fixed in joblib master

[2019-09-10 15:30] #2665 closed

[2019-09-10 15:37] jrbourbeau opened #5389 "Failing HDFS test"
Looks like there's a failing HDFS test (`dask/bytes/tests/test_hdfs.py::test_glob`) on `master` (ref https://travis-ci.org/dask/dask/jobs/583191520). Haven't had a chance to look into it yet, but wanted to open an issue for tracking

cc @martindurant @TomAugspurger

[2019-09-10 15:40] martindurant commented on #5389
This is OK, actually - directories *should* be included in the glob - so the test needs updating.

[2019-09-10 15:56] TomAugspurger commented on #3293
This was fixed by https://github.com/dask/dask/pull/5312

[2019-09-10 15:56] #3293 closed

[2019-09-10 17:57] rjzamora commented on #5357
I just took a quick look at this - We should be able to avoid passing around `piece`, and instead pass around information like the path and `partition_keys`.  I'll try implementing a clean fix and submit something later today.

[2019-09-10 18:27] martindurant commented on #5357
Well, knowing the column names/types and offsets in the files really is necessary, so the data passed might not be as minimal as just paths; unless we want pyarrow to re-parse the file footers within every task.

[2019-09-10 18:47] mrocklin commented on #5357
That seems cheap?

On Tue, Sep 10, 2019 at 11:27 AM Martin Durant <notifications@github.com>
wrote:

[2019-09-10 18:50] drorata commented on #3877
@mrocklin so when is it *not* needed? Isn't it that every processing start (at some point) with creation?

[2019-09-10 19:13] mrocklin commented on #3877
If your Python script creates no additional processes then you don't need
it.

On Tue, Sep 10, 2019 at 11:50 AM Dror Atariah <notifications@github.com>
wrote:

[2019-09-10 19:50] rjzamora commented on #5357
This is what I am hoping/assuming.  I suspect that pyarrow is re-reading the metadata anyway - I'll include a bit of benchmarking info in the PR.

[2019-09-10 20:16] bhavika commented on #5152
I'm still seeing this on s3fs==0.3.4, fsspec==0.4.4, dask==2.3.0.

[2019-09-10 20:25] martindurant commented on #5152
@bhavika , S3FileSystem depends upon fsspec.AbstractFileSystem since 0.3.0, which has _get_kwargs_from_urls defined. Are you *certain* you have `s3fs==0.3.4`, might there be a problem with your environment?

[2019-09-10 20:25] martindurant commented on #5357
(that could, I suppose, be done for fastparquet too)

[2019-09-10 20:35] bhavika commented on #5152
Apologies @martindurant, you're right - it was an issue with my environment. I had a pip installed s3fs which was 0.3.4 but the conda version was much older. It did not occur to me to look for that difference. Thank you.  :pray:

[2019-09-10 20:38] martindurant commented on #5152
Glad it is sorted

[2019-09-11 01:05] akravetz commented on #3670
It looks as though this has been fixed in pandas
https://github.com/pandas-dev/pandas/pull/23072

[2019-09-11 06:19] drorata commented on #3877
@mrocklin I'm sorry, but I don't understand. Can you give an example where "no additional processes" are used?

[2019-09-11 07:47] CMCDragonkai commented on #2929
Ok I created one:

[code]

[2019-09-11 07:50] universewill opened #5392 "Is there an example to concat two dataframes vertically?"
Is there an example to concat two dataframes vertically?
I can not find a solution with dask

[2019-09-11 07:56] CMCDragonkai commented on #2929
So basically I need something like:

[code]

[2019-09-11 11:22] TomAugspurger commented on #2929
Your `meta` is incorrect. You're saying that the index name is `image_class`, but it's actually `image_class_id`

[code]

[2019-09-11 11:23] TomAugspurger commented on #5392
Did you see the docs for `dask.dataframe.concat`?

[code]

[2019-09-11 11:25] TomAugspurger commented on #3877
I think Matt was noting that this is a general Python problem, not just Dask. Any python program that creates processes at the top-level will have this issue.

Specifically for Dask, the processes are probably created with a  `LocalCluster` (which is implicitly created by `Client()` when `processes=True` (the default).

[2019-09-11 11:35] drorata commented on #3877
Since `dask` is such a heavy abstraction on top of so many things, I guess it is expectable that a `dask` user won't be familiar with this aspect. I'd vote for mentioning this in the docs. In the meanwhile, can you point to some related documentations?

[2019-09-11 11:39] CMCDragonkai commented on #2929
That is just what is provided by `df_meta = dd.utils.make_meta(df)`. But even if I get the correct name, that doesn't help me reset the index back to the original `image_id`.

[2019-09-11 18:30] MnvS opened #5393 "Dask: Dataframe to_dask_array not working"
I am trying to create dask array from dask dataframe as below:

input.csv
A, B, C
5, 7, 8
9, 6, 11
15, 3, 2
0, 1, 5
2, 4, 3

    df1 = dd.read_csv('input.csv')
    print(type(df1))
    print(df1.head())
    arr = df1.values # working good
    print(type(arr))
    print(arr.compute())

    arr2 = df1.to_dask_array(lengths=True) # (Not working) I want to Specify lengths=True which can triggers immed

[2019-09-11 18:34] jrbourbeau commented on #5393
I'm not able to reproduce the `AttributeError` with the current Dask `master`. What version of Dask are you using?

[2019-09-11 18:38] MnvS commented on #5393
'0.16.1'

[2019-09-11 18:41] jrbourbeau commented on #5393
Thanks for the quick reply! The `DataFrame.to_dask_array()` method was added in Dask version 0.19.0, so that's why the `AttributeError` is being raised. Updating Dask should fix this issue for you.

[2019-09-11 18:57] trivialfis commented on #5331
@Matthew Jones

Maybe a list of data for each dataframe/array.  There are some complications I don't fully understand, like how to associate a few dataframes so for supervised learning partitions of `X` and `y` in local worker is promised (promise as in documented API) to be consistent when needed.

[2019-09-11 18:57] MnvS commented on #5393
ya great. Thanks so much for suggesting this.

[2019-09-11 18:57] #5393 closed

[2019-09-11 19:04] kkraus14 opened #5394 "Delegate accessor __getattr__ to underlying object __getattr__"
In an accessor for dask.dataframe, there's a check to see whether a given attribute exists within the meta object: https://github.com/dask/dask/blob/master/dask/dataframe/accessor.py#L89-L96

In cuDF we delegate a `__getattr__` call to the string accessor to our underlying string library in many situations: https://github.com/rapidsai/cudf/blob/branch-0.10/python/cudf/cudf/core/column/string.py#L5

[2019-09-11 19:17] jrbourbeau commented on #5393
Anytime, thanks for opening up an issue!

[2019-09-11 20:14] TomAugspurger commented on #5394
To make sure I understand, for a string-dtype cuDF Series

[code]

What's the output of these

[code]

[2019-09-11 20:15] #5389 closed

[2019-09-11 20:30] kkraus14 commented on #5394
@TomAugspurger both of those return True, the problem is when looking for the `slice` method:
[code]

[2019-09-11 20:44] #5379 closed

[2019-09-11 21:01] arpit1997 commented on #5309
@birdsarah Can you close this issue?

[2019-09-11 21:03] mrocklin commented on #5309
In the future @arpit1997 if you add text like `Fixes #5309` in your PR then it will automatically close that issue.

Closing.  Thanks @birdsarah for raising this and @arpit1997 for resolving it!

[2019-09-11 21:03] #5309 closed

[2019-09-11 21:13] arpit1997 commented on #5309
@mrocklin sorry about that, forgot to add. Will do it next time.

[2019-09-11 21:14] mrocklin commented on #5309
Either way is fine.  It's just a nice GitHub trick that I thought you would
enjoy.

On Wed, Sep 11, 2019 at 2:13 PM Arpit Solanki <notifications@github.com>
wrote:

[2019-09-12 15:55] RuiLoureiro opened #5397 "User-defined operations"
I am unsure if there is currently any straightforward way to implement the following architecture:

I want to be able to define new operations.
These operations can depend on other custom defined operations or built in operations from dask.

I have defined these operations as classes, as I need logic to cache previous computations.

Let's assume operation **_A_** uses dask's `unique()`, operation

[2019-09-12 17:08] wesm opened #5398 "BUG: Failure in test_parquet.py as a result of pyarrow change from pandas.Timestamp to datetime.datetime"
See results of nightly integration test:

https://circleci.com/gh/ursa-labs/crossbow/2846

It seems this unit test is reliable on the behavior of boxing `pyarrow.TimestampArray` scalar values to Python objects. We decided to return `datetime.datetime` from this API except for nanosecond resolution (see https://github.com/apache/arrow/commit/6f724576a98651ed32d915aa5367bd3b03bb4a86). It won't impac

[2019-09-13 07:09] CMCDragonkai commented on #3197
Is this true? Even when I use `meta` in my usage, I've found that each partition/group is still being executed twice. Is there a particular version of dask that has the `meta` keyword preventing the double execution? This is quite problematic for me as my group by apply has side effects.

[2019-09-13 09:30] RuiLoureiro commented on #5397
Thank you for your quick reply.
I should have given more context.

[code]
This is a simplified (and very inefficient) version of what I'm trying to do.
(calling dask.compute every time I need to access a method is very expensive).

On the other hand, I would like to make it so that for every method its dependencies are computed before executing it. This can be done manually but, again, is not effi

[2019-09-13 13:40] TomAugspurger commented on #3197
Do you have an example of it applying twice?

[code]

[2019-09-13 14:25] #5398 closed, assigned to nobody

[2019-09-13 18:01] kkraus14 commented on #5394
Fixed underlying cudf issue https://github.com/rapidsai/cudf/pull/2796/

[2019-09-13 18:01] #5394 closed

[2019-09-13 20:08] drorata commented on #3877
Please forgive me for the somehow off-topic. If I understand it correctly, trying to use

[code]

would yield an error because the same code will be executed independently by all "instances" on the different processes. This will lead to a conflict (whose details I don't fully understand). However, by *protecting* the process creation step:

[code]

Only the initial invocation of the job creates th

[2019-09-13 23:35] safijari commented on #4399
I just started looking into `dask` as a way to scale some code beyond the limits of available ram and slammed headfirst into this problem. Both tuple and slice based item assignment are not a thing yet (I assume the focus is more on reading data than writing it?).

Is there a fundamental issue blocking the implementation of mutation?

[2019-09-13 23:40] safijari commented on #2000
Has there been any movement on this issue since? Having mutable dask arrays would be a huge boon to one of my existing codebases

[2019-09-14 00:01] mrocklin commented on #2000
No.  There has been no activity here.  This is non-trivial to do.

[2019-09-14 03:11] QuLogic opened #5406 "New zarr requirement is not listed"
`zarr` is newly imported and used in tests (without skips), but it is not listed in `setup.py` anywhere. So I don't know if it was supposed to be a dependency for arrays, or for anything at all. Then tests without it [fail](https://koji.fedoraproject.org/koji/taskinfo?taskID=37655244).
[code]

[2019-09-14 03:37] jrbourbeau commented on #5406
Thanks for catching this @QuLogic! We should make sure this test is skipped if `zarr` isn't installed by adding `pytest.importorskip("zarr")` to the top of the test. Any interest in submitting a PR with a fix?

[2019-09-14 03:46] QuLogic commented on #5406
Sure, that's easy; should this be listed in `setup.py` somewhere though?

[2019-09-14 04:11] jrbourbeau commented on #5406
I think we want to avoid adding `zarr` to `setup.py`. Since `zarr` is only necessary for `to_zarr`/`from_zarr` and isn't required more broadly for using `dask.array` like, e.g. `toolz` is, we don't want to make all `dask.array` users install `zarr` unnecessarily and instead treat it as an optional dependency for those who would like to use `zarr` I/O features. If you're curious, there was a recent

[2019-09-14 08:46] QuLogic opened #5408 "test_temporary_directory sporadically fails when run with xdist"
When running with `pytest-xdist`, the `test_temporary_directory` test seems to fail sporadically:
[code]
It might be related to #5104, but there's no backtrace there, so I'm not sure.

[2019-09-14 10:17] Aravindg01 opened #5409 "fillna(0) not working !"
Hi All,

new to dask.
I have a code here in pyspark:

_

import pandas as pd
import numpy as np
from pyspark.sql import functions as F
from pyspark.sql import SQLContext
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql.types import *
sc = SparkContext('local')
spark = SparkSession(sc)
sqlContext = SQLContext(sc)
data = pd.read_csv('C:/testfile/

[2019-09-14 11:20] TomAugspurger commented on #5409
I don't see a dask import in that code. Are you asking a spark question?

[2019-09-14 11:33] Aravindg01 commented on #5409
Yes

[2019-09-14 12:14] quasiben commented on #5409
@Aravindg01 this GH repo is specific to dask.  I would recommend the following resources for spark questions Stackoverflow or the spark user mailing list.  Perhaps this particular [stackoverflow post](https://stackoverflow.com/a/40396979/2258766) would be of interest.

[2019-09-14 16:49] arpit1997 commented on #5326
@jrbourbeau @xiaodaigh Anyone working on this? Can I take this one?

[2019-09-14 16:54] arpit1997 commented on #5146
@jcrist Is this issue resolved? Is there any issue with the PR above?

[2019-09-14 20:21] arpit1997 commented on #5275
@simaster123 https://github.com/dask/distributed/tree/master/distributed/dashboard This is where the code for web ui resides

[2019-09-14 20:34] arpit1997 commented on #5294
@karldw Are you working on this? I can take this up if you are busy. cc: @TomAugspurger

[2019-09-14 21:33] stsievert commented on #5146
@arpit1997 I'm the author of that PR, and jotted down some of the issues in see https://github.com/dask/dask/pull/5358#issuecomment-531515639

[2019-09-14 22:16] karldw commented on #5294
I've been slow, but yes. I wanted to ask a couple of questions.
- How do you feel about importing the non-public `_normalize_keyword_aggregation` from pandas?
- Do you want to support named aggregations that aren't passed as `pd.NamedAgg`?
  - For example, pandas supports aggregations like this for Series:
`grouped_series.agg(a="sum", b="min")`

[2019-09-14 22:30] friedrichknuth opened #5411 "Compute failing on sparse array"
**Overview**
Compute fails when executed on a sparse array. If the numpy array is not converted to sparse, compute completes without issue.

**Versions**
[code]

**Resources**
[code]

**Example**
The following will create a gridded dataset with many np.nan values.
[code]
Note that the data size for the first data variable dem1 evaluates to around 2 GB.
[code]
Computing the mean for both data varia

[2019-09-14 23:38] arpit1997 commented on #5292
@TomAugspurger

[code]

This behaviour might just be from pandas instead of dask.
Don't know how to proceed further on this.

[2019-09-15 00:11] karldw commented on #5294
@arpit1997, this ended up being a little fiddly. If you want to work on this, feel free to move ahead and take anything you find useful from the [code](https://github.com/karldw/dask/tree/e7807924af318a74613d0fce2e76d2ae4525c859) I just pushed.

There are some design decisions to make too, raised in the questions above.

[2019-09-15 16:52] jcrist commented on #5408
Hmmm, good to know, thanks for filing the issue. Is this something you're interested in investigating?

[2019-09-15 16:52] jcrist commented on #5409
Yeah, as @quasiben said, this is not the place to ask Spark questions. Closing.

[2019-09-15 16:52] #5409 closed

[2019-09-15 17:00] jcrist commented on #5411
The `nbytes` attribute is computed based on the shape of the array and the underlying dtype, it's not representative of actual memory usage. For that you want to use `sys.getsizeof`:

[code]

Since your underlying data isn't sparse (you're creating a dense random array), the sparse representation actually uses *significantly more* memory than the dense version. You're likely running out of memory

[2019-09-15 17:08] #5388 closed

[2019-09-15 17:11] jcrist commented on #5406
I forgot I added a fix for this in #5400 while cleaning up the PY2 code. Tests now should pass without `zarr` installed. Closing.

[2019-09-15 17:11] #5406 closed

[2019-09-15 17:23] friedrichknuth commented on #5411
OK thank you - that makes sense!

Is `combined` combined a candidate for being converted to sparse?

It is the result of combining two small dense arrays that are distant from each other in coordinate space, which results in many nan values between the two dense arrays. The dense arrays could be far smaller and the distance much greater in a real world example.

[2019-09-15 17:29] jcrist commented on #5411
Any array that has a large number of values all the same (usually `0`) could potentially benefit from being converted to a  `COO` (or other sparse representation) array. The full benefits/costs are application specific, and would depend on data size, what operations you'd need to support downstream of the conversion (sparse arrays don't support all methods), and how sparse the array is.

[2019-09-15 17:42] arpit1997 commented on #5294
@karldw Thank you for your reply and the current work you posted. I can pick from here.

[2019-09-15 19:07] friedrichknuth commented on #5411
Sounds good. There is no issue with dask here so this can probably be closed out.

A few more notes on sparse:

At first glance, it looks like performance of sparse depends on the fill value being used. Right now I'm only seeing a reduction in size (but not compute time) when using `0` or `0.0` as fill value.

_Size tests comparing `0.0`, `1.0`, `1`, `np.nan` as fill value_

[code]

_Compute test

[2019-09-15 21:44] TomAugspurger commented on #5294
I’d recommend open an issue on pandas tracker about making normalize_keyword_aggregation public before using it, if it’s necessary.

[2019-09-16 13:13] jcrist commented on #5411
When using alternative fill values, you need to specify `fill_value` to the `COO` constructor, otherwise `0.0` is assumed.

[code]

---

Sounds good. If you run into issues using sparse with dask, feel free to open a new issue. For issues/questions with sparse itself, see https://github.com/pydata/sparse.

[2019-09-16 13:13] #5411 closed

[2019-09-16 14:03] masip85 opened #5412 "Skip rows with lambda functions - 'function' object is not iterable"
print(pd.__version__): 0.25.0
print(dask.__version__): 2.2.0

import pandas as pd
import dask.dataframe as dd

[code]

This works. But:

[code]

Why do I obtain this error:?

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-25-cdd89b49b99e> in <module>
      1 df = dd.read_csv(path

[2019-09-16 14:39] TomAugspurger commented on #5412
Most likely dask only supports the case where `skiprows` is a list-like value.

This could most likely be supported, but we'll need to take some care to document that the row index resets in each partition.

[2019-09-16 14:41] TomAugspurger commented on #5326
I'm not sure there's a clear issue here. We could document `schema` with an
example, or perhaps link to the pyarrow docs on the subject.

On Sat, Sep 14, 2019 at 11:49 AM Arpit Solanki <notifications@github.com>
wrote:

[2019-09-16 15:01] jrbourbeau commented on #5326
@xiaodaigh did specifying a value for `schema=` resolve your issue?

I think either of these options would be welcome contributions

[2019-09-16 15:40] xiaodaigh commented on #5326
Will try to have time this weekend. I only contribute to OSs on weekends

[2019-09-16 15:54] jcrist commented on #5392
Yeah, you're going to want to use `dd.concat`, which works the same as `pd.concat`. Closing.

[2019-09-16 15:54] #5392 closed

[2019-09-16 17:04] WesRoach commented on #2735
I think this issue can be closed? I thought the `fixes` keyword in #5410 would close this issue on merge, but I guess not?

[2019-09-16 19:07] arpit1997 commented on #5294
@TomAugspurger I am looking into it right now. Will update if `normalize_keyword_aggregation` needs to be used.

[2019-09-16 19:59] TomAugspurger commented on #2735
Yep, you're correct. Maybe it has to be in the first post.

[2019-09-16 19:59] #2735 closed

[2019-09-16 20:24] aprowe commented on #5156
I am also getting a similar error, with a trivial example:

[code]

test.csv:
[code]

This seems like a pretty fundamental error. Is there something I am missing or something wrong with my configuration?

If I create the dataframe in-code, it works:
[code]

What could be different between the dataframes?

[2019-09-16 20:52] jrbourbeau commented on #5156
What version of Python and `cloudpickle` are you using? There was recently an issue which was fixed in the most recent `cloudpickle==1.2.2`  release

[2019-09-16 21:08] mrocklin opened #5413 "Revert Spark doc style changes?"
I mildly prefer the old layout without the boxes.  I think that boxes would make more sense if they included much briefer text, or if they were all connected.  As-is, I personally find the old layout more natural to read.  I also like that the Dask content follows the Spark content.

### Before

*Although I think I would want to remove the blue styling.  It looks like this was left over from the R

[2019-09-16 21:17] arpit1997 commented on #5294
@TomAugspurger Both `_normalize_keyword_aggregation` and `_is_multi_agg_with_relabel`needs to be used for Named Aggregation to be supported. Former is to construct the dict like parameter for agg and latter is to check is provided kwargs are named agg parameters. Opening an issue on `pandas-dev/pandas`

[2019-09-16 21:21] TomAugspurger commented on #5292
@arpit1997 what version of pandas givwes that output? On pandas master I have

[code]

[2019-09-16 21:36] arpit1997 commented on #5292
@TomAugspurger I am  extremely sorry. I accidentally posted the wrong result. Here is the correct one.

[code]

Problem is that its metadata in Dask DataFrame is

[code]

Metadata DFs

[code]

[2019-09-17 07:20] masip85 commented on #5412
When I try to use large list. For example, I translate to list like this:
`q = list(filter(lambda i: (i % n != 0 and i > 22)))`

being n = 7 for example,

This is not ok:

`df_ = dd.read_csv(paths[1], skiprows = q)`

 ---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-95-b38f4e8874fd

[2019-09-17 13:17] jcrist commented on #5413
I agree, I also find the boxes harder to read (more crowded, having to visually correlate sentences between the two boxes).

[2019-09-17 15:39] aprowe commented on #5156
Im on python 3.6.7, cloudpickle 1.2.1
updating to cloudpickle 1.2.2 fixed it, thanks!

[2019-09-17 16:38] jrbourbeau commented on #5299
Thinking about this issue more, I'm not sure we can avoid the N^2 behavior in the general case. Mainly because we allow tasks as argument for other tasks. For example, considering this task graph:

[code]

inlining `'c'` requires substitutions of `'a'` and `'b'` in each `(sum, ['a', 'b'])` task. I think this is where the N^2 behavior is coming from.

This is unfortunate when we're inlining relativ

[2019-09-17 19:48] TomAugspurger commented on #5412
That error message indicate the problem. You're likely filtering out the
rows dask is using for it's sample.

Did you try increasing the number of bytes in `sample` as instructed?

On Tue, Sep 17, 2019 at 2:21 AM Vicente <notifications@github.com> wrote:

[2019-09-18 03:58] CMCDragonkai commented on #1541
Given that `map_partitions` takes each partition and returns another partition (where this partition is bigger or smaller), it appears that `map_partitions` is capable of squeezing the total length of the dataframe or increasing the total length of the data frame.

[2019-09-18 06:52] masip85 commented on #5412
Yes. It's a rare case: I only select 113 cases and avoid 11999880 lines. (I have scripted a function that loads light data and all data, this case is of course the light). I guess samples are for guessing dtypes. But, I have specified 3 dtypes and parsed the 4th column to datetime.So why is it using sample? I have increased it. It takes too long with this warning:

blocksize is smaller than sample

[2019-09-18 11:43] TomAugspurger commented on #5412
What's taking too long? Dask or pandas, reading the CSV?

You might want to look into alternative file formats if possible. It sounds
like there isn't an issue with Dask here.

On Wed, Sep 18, 2019 at 1:52 AM Vicente <notifications@github.com> wrote:

[2019-09-18 12:48] masip85 commented on #5412
Of course there is an issue, I am writing it. XD

Dask takes too long! 0 problems and 0 issues with pandas. No error with pandas using lambda funtion, or long list.Dask hasn't got available lambda function, and for long list it increases from ms to 30s for reading same file/s.

Well my approach nowdays is reading it completely and no using my skipRows list. After reading I slice the dataframe imit

[2019-09-18 12:48] masip85 commented on #5412
Of course there is an issue, I am writing it. XD

Dask takes too long! 0 problems and 0 issues with pandas. No error with pandas using lambda funtion, or long list.Dask hasn't got available lambda function, and for long list it increases from ms to 30s for reading same file/s.

Well my approach nowdays is reading it completely and no using my skipRows list. After reading I slice the dataframe imit

[2019-09-18 14:35] RogerThomas opened #5414 "Add an assume_unique_in_partition option to nunique"
It should be possible to add a flag like `assume_unique_in_partition` to the Series.nunique() function to speed up nunique. This would mean per partition we could just count unique values and sum across partitions.

[2019-09-18 16:01] friedrichknuth commented on #5411
Thanks! Will do...

[2019-09-18 19:25] jrbourbeau commented on #5414
Thanks for opening an issue @RogerThomas! Out of curiosity, have you come across situations where the current implementation has been too limiting?

Perhaps @TomAugspurger has thoughts on adding a dask-specific `assume_unique_in_partition` keyword to `Series.nunique()`

[2019-09-18 21:13] TomAugspurger commented on #5414
To be clear: the proposed speedup is from not having to serialize and pass around a (potentially large) pandas Series of unique values and a subsequent intersection of those values? Instead you would ship the integers and just do a sum?

I'm a bit iffy about this as a parameter. Haven't thought about it too much.

That said, we *could* do this automatically on `Index.nunique` when we have known di

[2019-09-18 23:46] mrocklin commented on #5414
Can a user do this today somewhat easily with map_partitions and sum?  If
so, then I'm also less excited about adding a custom keyword argument here.

On Wed, Sep 18, 2019 at 4:13 PM Tom Augspurger <notifications@github.com>
wrote:

[2019-09-19 02:10] jrbourbeau commented on #5414
That's a good point. @RogerThomas would this approach fit your use case?

[2019-09-19 06:15] lmiroslaw opened #5416 "Support for ADSL Gen2"
**Feature Request:** in your official documentation you are mentioning Azure DataLake Storage is not supported due to lack of Gen2 implementation.

However [DataLake Storage Gen2](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-introduction) is already there.

What is the current status?

[2019-09-19 15:00] SSappy opened #5417 "Dask-ml OneHotEncoder much slower than expected"
Hello,

Not sure if that's more a Stackoverflow issue or not but I'm posting it here for now.

After playing a bit with Dask I was very surprised by how slow the OneHotEncoder is compared to Scitkit-learn one. Here is an example showing the issue:

`
import dask.dataframe as dd
import numpy as np
import pandas as pd
from dask.distributed import Client

import time

client_ = Client()

# Create fak

[2019-09-19 15:11] SSappy commented on #5417
Also, somewhat related:

[code]

throws
![Capture du 2019-09-19 17-11-27](https://user-images.githubusercontent.com/32330047/65256871-8cc95b00-db00-11e9-853a-df2e46664471.png)

[2019-09-19 17:55] jrbourbeau commented on #5416
There appears to be ongoing work in https://github.com/dask/dask-adlfs/pull/6

[2019-09-19 18:02] RogerThomas commented on #5414
@jrbourbeau sure, can use the map partitions version. Thought it might be a nice feature addition, but understand not wanting to bloat the API, so feel free to close if you wish.

[2019-09-19 18:21] jrbourbeau commented on #5414
Given the `map_partitions` solution, I think we'll opt to not add a new keyword argument here. But I definitely appreciate you filing an issue. Thanks @RogerThomas!

[2019-09-19 18:21] #5414 closed

[2019-09-20 08:27] jorisvandenbossche commented on #5398
We are again seeing an error in the nightly integration test (https://circleci.com/gh/ursa-labs/crossbow/3027?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link):

[code]

[2019-09-20 09:27] jorisvandenbossche opened #5418 "Failure in read_parquet with specified schema and pyarrow engine"
We are again seeing an error in the nightly integration test (https://circleci.com/gh/ursa-labs/crossbow/3027?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link).

Running it locally,  I get two different errors depending on how the dataset is set up (I think related to if the first partition is all null or the second partition):

[code]

And locally the other error

[2019-09-20 09:27] jorisvandenbossche commented on #5398
Opening a new issue for this -> https://github.com/dask/dask/issues/5418

[2019-09-20 09:48] jorisvandenbossche commented on #5418
Some observations:

**The dataframe shape mismatch** (second failure above):

- This fails when reading in the parquet file that has been produced with a specified `schema`.
- The reason for the failure is because when reading the file, for some reason, the `"x"` column is set as the index. Hence, the resulting dataframe has 4 instead of 5 columns, giving the error:
- Reproducible example from the

[2019-09-20 10:23] jorisvandenbossche commented on #5418
The above explains only half of the failure, and after that 1-line patch, the test still fails half of the time with the other failure:

**The statistics comparison TypeError** (the first failure above):

* This error happens if (in the reproducible example above) the first partition of the `"name"` column has a value, and the second partition is all nulls.
* This error is caused by https://github

[2019-09-20 11:19] OliverHofkens opened #5419 "Categories lost after groupby + agg"
### Reproducible example

[code]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>category_1</th>
      <th>category_2</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0</td>
      <td>A</td>
      <td>A</td>
      <td>0.1</td>
    </tr>
    <tr>
      <td>1</td>
      <td>A</td>
      <td>B</td>
      <t

[2019-09-20 11:34] TomAugspurger commented on #5419
Confirmed, thanks. Not sure exactly where things are going wrong though.

[2019-09-20 12:44] OliverHofkens commented on #5419
I'd be glad to take a look and cook up a PR next week.

[2019-09-20 13:52] mrocklin commented on #5418
cc @rjzamora

[2019-09-20 14:43] jrbourbeau commented on #5419
That would be welcome, thanks @OliverHofkens

[2019-09-20 15:31] wesm commented on #5418
thanks @jorisvandenbossche for the thorough analysis. In the second case at least I think it's good to close the "undefined behavior" loophole

[2019-09-20 17:59] athornton commented on #5054
I'm going to close this particular one, but there is still an underlying issue.  See dask/distributed #2880 (https://github.com/dask/distributed/issues/2880)

[2019-09-20 17:59] #5054 closed

[2019-09-20 19:09] rjzamora commented on #5418
Thanks for raising @jorisvandenbossche!  The first problem should be resolved by specifying `index=False` in the call to `dd.read_parquet`... I will look into the second problem.

[2019-09-20 19:36] anderl80 commented on #2619
Hi all, is this still open? This might be very useful for some of my IoT applications..

[2019-09-21 03:51] jrbourbeau commented on #2619
Closing this issue as `dask.dataframe.merge_asof` was added in https://github.com/dask/dask/pull/4877. Hopefully that helps for your use case @anderl80. Feel free to open up any follow-up issues.

[2019-09-21 03:51] #2619 closed

[2019-09-22 12:02] trivialfis commented on #5331
https://github.com/dask/distributed/issues/3075 is preferred.

[2019-09-22 12:02] #5331 closed

[2019-09-22 17:59] rabernat commented on #1225
Is this issue considered closed by #4677?

[2019-09-23 13:58] OliverHofkens commented on #5419
For future reference, I found the issue:
In `_groupby_apply_funcs()` a DataFrame is constructed from the results of the different functions applied:
https://github.com/dask/dask/blob/6527596f4db4b47943537d66b71cba747ac37b2d/dask/dataframe/groupby.py#L870-L882

When constructing a DataFrame from different Series as is done here, `pandas` unions the indexes of the Series to create the DataFrame inde

[2019-09-23 14:14] OliverHofkens commented on #5419
Related: https://github.com/pandas-dev/pandas/issues/17605

[2019-09-23 21:47] balbok0 opened #5425 "Array won't save after da.insert call"
Hi,

I have been recently trying to load the [birds dataset](http://www.vision.caltech.edu/visipedia/CUB-200-2011.html) using dask.
Here is a [link to download](http://www.vision.caltech.edu/visipedia-data/CUB-200-2011/CUB_200_2011.tgz) I used from the website above.

## Code
**In order to run this code you have to have the above-mentioned birds dataset downloaded and with the root of its director

[2019-09-23 22:43] d-v-b opened #5426 "da.array(list) returns a list"
Calling `da.array()` on a list returns the argument unchanged, i.e. the output is a list, not a dask array. This is unexpected. Either the docstring should be updated to indicate this, or the function should be changed to emit an ndarray as one would expect from the current docstring.

MRE:
[code]

[2019-09-24 00:54] jrbourbeau commented on #5426
Thanks for opening an issue @d-v-b. We might want to add `x = asarray(x)` at the beginning of `da.array` (several other functions in `dask/array/routines.py` do this to ensure the that input is converted to a dask array).

[2019-09-24 01:19] jrbourbeau commented on #5425
Thanks for opening up an issue @balbok0! Are you able to produce a minimal reproducible example (https://blog.dask.org/2018/02/28/minimal-bug-reports)?

This is snippet performing similar operations to your example?

[code]

[2019-09-24 02:00] jrbourbeau commented on #1225
I think so. @mrocklin is this safe to close with the introduction of the `method='tdigest'` option in `quantile`?

[2019-09-24 02:04] jrbourbeau commented on #731
These edge cases seem to be handled correctly using the new `method="tdigest"` option in `quantile` (added in #4677)

[code]

@shoyer is this safe to close?

[2019-09-24 03:32] shoyer commented on #731
Well, the *default* behavior has not changed. I still think that should be fixed. There are some cases when it's appropriate to treat each chunk as a set of independent, identically distributed samples, but that's a very strong assumption to make without user input. See also https://github.com/dask/dask/pull/3819 for more discussion.

[2019-09-24 08:44] jdlesage opened #5427 "persist does not forward the _meta attribute"
In this PR (https://github.com/dask/dask-glm/pull/82) of dask-glm, I rely on the `_meta` attribute of dask array to check if the array is sparse.

`persist` function transforms the `_meta` attribute. I can't check if a persisted array is sparse or not.

Here a simple reproducer:
[code]

[2019-09-24 13:12] mrocklin commented on #1225
Sure?

On Mon, Sep 23, 2019 at 9:00 PM James Bourbeau <notifications@github.com>
wrote:

[2019-09-24 13:22] mrocklin commented on #5427
This is strange even without dask.distributed.  I'm moving this upstream to dask/dask

[code]

Creating the dask array is also surprisingly slow

[code]

Here is a profile output

[code]
[code]

cc @hameerabbasi

[2019-09-24 13:23] mrocklin commented on #5427
(Also, for what it's worth, I often recommend using the `.persist` method of the array, or the `dask.persist` function.  Few people today seem to use the `Client.persist` method)

[2019-09-24 16:03] martindurant commented on #5416
To be sure, we meant *we* didn't have Gen2 support, which is why the storage cannot be supported until we do.

[2019-09-24 16:25] TomAugspurger commented on #5427
@mrocklin can you check your output of

[code]

I'm seeing `sparse._coo.core.COO` as expected.

[2019-09-24 16:27] mrocklin commented on #5427
[code]

[2019-09-24 16:36] balbok0 commented on #5425
Hi, thank you for such a fast response! The example you provided is working (i.e. it doesn't throw an error).
I will try to see if I can make a simpler example, but it might be related to `imread` function. I'll try to reduce the example even further.

[2019-09-24 16:58] #5290 closed

[2019-09-24 18:11] balbok0 commented on #5425
Hi @jrbourbeau,
after trying to get a smaller example I believe I found that those are 2 separate problems.

## `to_tiledb`
For `to_tiledb` your minimal example doesn't work. It throws exactly the same error as I mentioned above.
Here is code snippet to reproduce the problem:
[code]

## `to_npy_stack`
I Identified and fixed one problem with my code snippet. In particular switching from `np.pad` to

[2019-09-24 18:45] mrocklin commented on #5425
I recommend reading through https://blog.dask.org/2018/02/28/minimal-bug-reports (@jrbourbeau linked to this earlier).  It has suggestions on how to prepare a minimal example.

If you're looking to construct a dask array from many lazy functions, I recommend reading through this: https://blog.dask.org/2019/06/20/load-image-data

[2019-09-24 21:55] TomAugspurger commented on #5427
Strange. And what version of numpy? I'm seeing `sparse`'s COO even with sparse==0.7.0.

[2019-09-24 21:56] TomAugspurger commented on #5427
And @jdlesage in the original issue, you have

[code]

Should that be

[code]

i.e. asserting that the `._meta` is sparse?

For better or worse, I *do* see a sparse array there

[code]

[2019-09-24 22:16] timothydmorton opened #5431 "Access individual columns of dataframe defined using read_parquet"
I would like to be able to do something like the following:
[code]
without dask having to loading all the columns from the parquet file before pulling out the desired column.  My desired use case may well have hundreds of columns in the parquet file, so in order for a single dask dataframe to be a useful data model for this case, the columnar access would have to be passed along so that the underl

[2019-09-24 22:33] timothydmorton commented on #5431
FYI, the reason the system I am working on isn't able to upgrade to the latest dask version is related to https://github.com/dask/dask/issues/5054 and https://github.com/dask/distributed/issues/2880, so those issues are indirectly tied to this one in that sense.  @martindurant this has astronomy implications (for the LSST project), so perhaps that's of interest to you?

[2019-09-24 22:34] timothydmorton commented on #5431
@jrbourbeau just to mention you here, as were discussing this offline earlier.  Thanks!

[2019-09-24 22:36] mrocklin commented on #5431
Yes, it would be useful to do this optimization.  We removed the optimization during a rewrite of our parquet handling, and haven't added it back in since.  This isn't intentional, it is just due to a lack of developer time.

You're correct that this is mostly the same as the request in #4546 .  Would it be ok to close this issue in favor of that on?

[2019-09-24 22:36] athornton commented on #5431
Commenting here so I'm part of the chain as well.

[2019-09-24 22:39] timothydmorton commented on #5431
Sure, it's OK to close if this is the same issue; I just wanted to make sure that it wouldn't have been fixed in #4336 (as I'm not able to test that currently).

[2019-09-24 22:40] timothydmorton commented on #5431
Oh, sorry; I mistakenly thought #4336 was merged; I guess it's just closed

[2019-09-24 22:41] mrocklin commented on #5431
Thanks.  Closing.  This is definitely something we would like to see fixed.  If anyone is around that wants to invest some time here, I think that that would have high impact.

[2019-09-24 22:41] #5431 closed

[2019-09-24 22:43] timothydmorton commented on #5431
I'd be happy to help out as much as I can, but will need at least a nudge in the right direction.

[2019-09-24 22:44] timothydmorton commented on #4546
Commenting to follow this issue.  I am interested in contributing to help move this forward, but will need some guidance as to where to begin.

[2019-09-24 22:48] timothydmorton commented on #4546
@jmunar do you have any more recent thoughts on this issue?

[2019-09-24 22:54] mrocklin commented on #4546
If we solve this problem at the high level graph layer (which seems best) then probably we would want to construct a Mapping type for `read_parquet`.  An example high level mapping type is the Blockwise type here:

https://github.com/dask/dask/blob/0922a872e34445970c65d2275ed56a920f7d826d/dask/blockwise.py#L128-L136

That Mapping type is paired with an optimization function, `optimize_blockwise` h

[2019-09-24 22:59] mrocklin commented on #4546
So, I would make a Mapping class that had enough information to generate the task graph created in a read_parquet call.  I would have the read_parquet call return that as a layer rather than a concrete `dict` object.

I would then write a function that took a `HighLevelGraph`, and looked through all of the layers to find cases where a ReadParquet mapping was followed by a layer that picked out col

[2019-09-25 09:56] jdlesage commented on #5427
I think we did several mistakes in this ticket.
In my original reproducer, it misses the `_meta` in `assert isinstance(dask_arr_persisted, sparse.COO)`
There is no bug there because if I add it, I go the correct meta. (sparse.COO)

In the code from @TomAugspurger, I think it should be `sparse.eye(10)` instead of `np.eye(10)`. If I use sparse, _meta is correct too.

Sorry for the mistake and the wr

[2019-09-25 12:03] davidtwomey opened #5432 "Proxying Dask (Bokeh) Web Interface on AWS SageMaker"
Hi,
I am using Amazon SageMaker Instances to run self-contained JupyterLab environments.
I can run dask no problem, but it would be great to view the bokeh dashboard in my browser.
I have so far looked into two approaches (see below) but **would welcome any solutions/ideas anyone has**:

### 1.  **Port Forwarding**: (as suggested [here](https://distributed.dask.org/en/latest/web.html#id1))
Unfortu

[2019-09-25 12:44] mrocklin commented on #5432
Thanks for laying all of this out @davidtwomey .

My first question is actually whether or not the AWS Sagemaker folks can help with this problem.

@wleepang do you have any contacts that would be useful here?

[2019-09-25 16:13] martindurant commented on #4546
Note that you can always do better by hand: change the inputs in the loading functions to include columns=, or even select which partitions to load only after setting up the computation. For example, geo/datashader has an interesting mode for selecting from parquet depending on an axes viewpoint. We would, of course, try to do as much as possible automatically.

[code]
This kind of thing is intere

[2019-09-25 18:17] timothydmorton commented on #4546
Thanks guys; I'll start to take a look at this, and see where I can get.

[2019-09-25 19:10] jmunar commented on #4546
@timothydmorton nice that you pick up on this. I tried embedding read_parquet into a blockwise, embedding the row groups as a delayed layer. But I didn't succeed, so ended up doing an extremely ugly using "low level" graphs

[2019-09-25 19:20] #5357 closed

[2019-09-25 23:07] #5418 closed

[2019-09-26 12:21] kondabathula opened #5434 "Computing delayed object with large data on a client raises CancelledError."
Executing the following code with large data is raising `CancelledError`
`dask version 2.2.0`
[code]

If the array range is 1000 the delayed object is executed with out any error and returning expected results. But, If the array range is more for example 2000 than a CancelledError is raised. Please find the traceback below..

[code]

[2019-09-26 13:26] mrocklin commented on #5434
Unfortunately this works fine for me:

[code]

[2019-09-26 14:27] TomAugspurger commented on #5427
So, everything is working as expected?

[2019-09-26 14:51] jdlesage commented on #5427
yes, it is. (close the ticket)

[2019-09-26 14:51] #5427 closed

[2019-09-26 16:47] CJ-Wright opened #5435 "ValueError: Metadata mismatch found in `from_delayed`."
It seems that merging multiple delayed dataframes does not work when the dataframes are series of category type.

It seems that the error is coming from the equality of categorical dtypes includes the categories used, which makes this approach to concatenation not work. This came up in the context of intake.

[code]
Error msg
[code]

[2019-09-26 16:59] mrocklin commented on #5435
Thank you for the excellent issue @CJ-Wright .

Looking into the code a bit it looks like this strictness in `check_meta` was intentional at some point:

https://github.com/dask/dask/blob/8001ee2e258f3f27d40e78990c5b98d44edc138e/dask/dataframe/utils.py#L593-L602

And it looks like we enforce the metadata check in `from_delayed` here:

https://github.com/dask/dask/blob/8001ee2e258f3f27d40e78990c5b9

[2019-09-26 17:12] CJ-Wright commented on #5435
Hmm ok. Would it be possible to have a boolean flag on `from_delayed` which says don't check the meta? I tried using the `clear_known_categories` function, but that got rid of my categories all together.

[2019-09-26 17:14] mrocklin commented on #5435
Yes, that seems reasonable

On Thu, Sep 26, 2019, 12:12 PM Christopher J. Wright <
notifications@github.com> wrote:

[2019-09-26 17:15] CJ-Wright commented on #5435
Would you like a PR to that effect?

[2019-09-26 17:23] mrocklin commented on #5435
Sure

On Thu, Sep 26, 2019 at 12:15 PM Christopher J. Wright <
notifications@github.com> wrote:

[2019-09-26 22:29] athornton commented on #5431
dask/distributed#2880 seems to have begun occurring at the same time as the adoption of fsspec as the way to register various file-handling techniques.  I don't know if that has any bearing on this issue, but I am now suspicious that fsspec may not be prepared for the idea of opening a large number of huge files where you might be opening way more stuff than is going to fit into memory.

[2019-09-27 06:40] kondabathula commented on #5434
Thank you for the response.

Could this be because of insufficient memory?

[2019-09-27 10:56] JukkaKeisala opened #5437 "warn_dtype_mismatch -method fails sometimes"
Not easy to reproduce, but the check in `warn_dtype_mismatch`-method
[code]
fails sometimes. Maybe one should not use 'is', but instead '=='?

https://github.com/dask/dask/blob/master/dask/dataframe/multi.py#L371-L374

[2019-09-27 12:38] mrocklin commented on #5434
10000 is a very small amount of memory, so no, I don't think so.

[2019-09-27 12:44] mrocklin commented on #5437
When does this arise?  No objection from me on changing the is to ==, but
it would be nice to know when this is important.

On Fri, Sep 27, 2019 at 5:56 AM JukkaKeisala <notifications@github.com>
wrote:

[2019-09-27 13:02] #5435 closed

[2019-09-27 13:21] martindurant commented on #5431
Note that parquet handling also was rewritten at the same time, so it would be worthwhile trying to isolate further. What do you think fsspec might be doing? It sounds like you thinking memory leaks, which is something that should be concretely testable.
Also, if it is the culprit, there have been a lot of fixed bugs and releases over the summer, it is well worth trying the very latest (or master)

[2019-09-27 20:57] timothydmorton commented on #4546
@mrocklin any suggestions on how I might identify a "layer that picks out columns"?  I'm using the example setup in https://github.com/dask/dask/blob/8001ee2e258f3f27d40e78990c5b98d44edc138e/dask/dataframe/io/tests/test_parquet.py#L517 and the only way I can come up with to identify that a layer is a "column-picking-out" layer is the fact that its name has `'getitem'` in it, which seems somewhat f

[2019-09-27 20:58] timothydmorton commented on #4546
i.e., can I test for a specific method(s) being the callable?

[2019-09-27 21:33] timothydmorton commented on #4546
And to further clarify the first part of your suggestion, were you suggesting the new `ReadParquet` mapping to replace the `subgraph` in this call?
https://github.com/dask/dask/blob/f6c2449a000a72f05e41d0208d80696bc257d2ab/dask/dataframe/io/parquet/core.py#L291

[2019-09-27 21:33] mrocklin commented on #4546
There really isn't any standard way to do this today.  You're in very new territory for all of us.  Really, the only constraint is that you make sure that whatever you do works well with how `DataFrame.__getitem__` operates.  I could imagine making a subclass of Blockwise that was specific for getitem and testing for that, or, as you suggest just testing the value of the callable within the Blockw

[2019-09-27 21:34] mrocklin commented on #4546
Yes.

[2019-09-28 14:31] mrocklin opened #5438 "GeoPandas Integration"
Geopandas 0.6 supports the Pandas extension array interface.  So simple Dask integration works out of the box:

[code]

What's next?  I see two possible approaches:

1.  We subclass Dask DataFrames/Series and produces Dask GeoDataFrames/GeoSeries.  There is strong precedent on how to do this now thanks to `dask_cudf`.
2.  We improve the handling of accessors, like a `.geo` and use that with the ex

[2019-09-28 14:55] jorisvandenbossche commented on #5438
The subclass approach is basically what you prototyped in https://github.com/mrocklin/dask-geopandas, is that correct?

I think if the goal is to provide a similar user interface as GeoPandas itself, as long as that is using a subclass approach, the dask-geopandas bridge probably will need to use it as well. It could of course also be an opportunity to experiment with an accessor instead of subcla

[2019-09-28 15:00] mrocklin commented on #5438
Mostly.  It's now *much* more mature in dask-cudf.

[2019-09-28 19:19] TomAugspurger commented on #5438
Without checking, I suspect that option 2 is not a lot of work.

Geopandas would need to register a couple methods telling dask about its scalar type. https://github.com/ContinuumIO/cyberpandas/pull/39/files has an example. The trickiest part is making it work with dask as an optional dependency.

https://docs.dask.org/en/latest/dataframe-extend.html#extension-arrays has the docs.

[2019-09-28 21:20] mrocklin commented on #5438
It sounds like both approaches are easy, and have examples to draw from.
This might be a good project for someone that is new to the community.  Do
we know of anyone that might want to take this on?

On Sat, Sep 28, 2019, 2:19 PM Tom Augspurger <notifications@github.com>
wrote:

[2019-09-29 22:12] tinaok opened #5439 "a bug in automatic chunk? or my misunderstanding??"
Hi,
we were trying to varying array chunk-size for a benchmarking study. [https://github.com/pangeo-data/benchmarking/issues/30]
But when choosing automatic chunk, for our case, certain chunk-size we have used does not work.  For example, we set array.chunk-size as 370MB, and set chunks='auto', chunk size created by Dask Array is '(380, 192, 320)' thus it is only 187MB of chunk.
If using chunk-siz

[2019-09-29 22:37] quasiben commented on #5439
@tinaok I get the same results as you. I don't think this is a bug but rather how dask tries to keep the chunk shapes relatively the same.   Notice that the dimensions of the differing chunks are off by factors of two `192-> 384` and `320->160`.  In your particular case, the 370 doesn't chunk nicely into equally shaped chunk, but 380 does

[2019-09-30 00:23] mrocklin commented on #5439
Ben's assessment is correct.  Dask's auto chunking heuristics are
comfortable accepting chunk sizes down to half of what was requested if it
can make things line up nicely.

On Sun, Sep 29, 2019 at 5:37 PM Benjamin Zaitlen <notifications@github.com>
wrote:

[2019-09-30 12:44] tinaok commented on #5439
Thank you @quasiben and @mrocklin
we made a benchmark study [https://github.com/pangeo-data/benchmarking] comparing 'manual' chunking and automatic chunking by varying chunk size between 64MB-> 128MB -> 256MB -> 512MB for some geophysical operations.
When I set 64MB, automatic chunking gives me chunksize=(199, 192, 160) thus 49MB
128MB ->chunksize=(251, 192, 160) thus 62MB (slightly less than half

[2019-09-30 13:12] mrocklin commented on #5439
Not currently, but the code is here in case you'd like to engage further:

https://github.com/dask/dask/blob/f6c2449a000a72f05e41d0208d80696bc257d2ab/dask/array/core.py#L2474-L2597

[2019-09-30 19:43] ayushdg opened #5441 "[Feature] Exposing the `sort` parameter for dataframe groupby aggregations"
**Goal**
Avoid sorting intermediaries by default while performing certain groupby aggregations (reduction like aggs: min, max, count etc)

**Proposal**
Would it be possible for dask to support the `sort` parameter for [`dask.dataframe.groupby`](https://docs.dask.org/en/latest/dataframe-api.html#dask.dataframe.DataFrame.groupby) for groupby aggregations so that the value is passed down to the under

[2019-09-30 21:15] athornton commented on #5431
It is the parquet rewrite that dask/distributed#2880 is breaking on (commit ID a53d45edd6b30b514e0e4dee475ae72d78d62a62)

Is this likely to be the same underlying issue as #4546 ?  My failure comes when extracting two columns from the GAIA DR2 data.

[2019-09-30 21:33] ryankarlos commented on #2682
@TomAugspurger  Does this issue  still require a PR, if so Im happy to work on it ?

[2019-09-30 22:10] athornton commented on #5431
Um.  Once I've gotten down to the last useful commit, I still can't get parquet files to load from GCS buckets:

[code]

[2019-09-30 22:38] dcherian opened #5442 "make unify_chunks public API?"
It seems like it would be useful to add `xarray.unify_chunks` that calls `dask.array.core.unify_chunks`. However `unify_chunks` does not appear to be public API (https://docs.dask.org/en/latest/search.html?q=unify_chunks&check_keywords=yes&area=default)

can this be made public?

[2019-09-30 22:53] hoangthienan95 commented on #5365
Thank you @TomAugspurger and @quasiben for the help diagnosing the issue and thank so much @TomAugspurger for following up with the Issue on pandas repo. For those encountering the same problem as me, I ended up just read the file line by line the old-fashioned way. Renaming and closing.

[2019-09-30 22:53] #5365 closed

[2019-09-30 23:09] mrocklin commented on #5442
Sure.  See https://github.com/dask/dask/pull/5443

On Mon, Sep 30, 2019 at 5:38 PM Deepak Cherian <notifications@github.com>
wrote:

[2019-09-30 23:49] dcherian commented on #5442
Awesome. Thanks, Matt!

[2019-10-01 00:54] jhulten commented on #5092
For another example:

[code]

The input is `int64`. The output is `object`. Or should be.

This is intended to provide a human readable size of a sum of files in my dataset.

Pinging original dev for Aggregation: @chmp

[2019-10-01 11:50] TomAugspurger commented on #2682
I suspect it's still open. At a glance, I didn't see any tests named
"test_assert_eq".

On Mon, Sep 30, 2019 at 4:33 PM Ryan Nazareth <notifications@github.com>
wrote:

[2019-10-01 14:24] tinaok commented on #5439
Thanks @mrocklin
I look at the code you mentioned, but I could not found the part accepting chunk size down to half, can you plz help me ?
I thought I can may be modify the minimum 'half' part, to somehow larger value, but may be it is not as simple as that?

[2019-10-01 14:30] mrocklin commented on #5439
Unfortunately I don't have great recall over the full codebase.  I would
have to investigate and understand the code, just as you are now doing.
It's also very possible that I am mis-remembering the half aspect.

On Tue, Oct 1, 2019 at 9:24 AM Tina Odaka <notifications@github.com> wrote:

[2019-10-01 15:09] mrocklin commented on #5434
Is there anything else to do here?  If not, I may close this soon.

[2019-10-01 15:10] mrocklin commented on #5425
I'm going to go ahead and close this.  If we get a minimal reproducible example I'd be happy to reopen.

[2019-10-01 15:10] #5425 closed

[2019-10-01 15:12] mrocklin commented on #5408
Does anyone know if there is a way to exclude certain tests from being run with xdist?

[2019-10-01 15:14] mrocklin commented on #5397
You can call `dask.compute` with many arguments.

[code]

[2019-10-01 15:14] #5397 closed

[2019-10-01 15:17] TomAugspurger commented on #5408
I think the easiest is to add an `@pytest.mark.single`, and then use `pytest -m 'not single'` in CI.

[2019-10-01 16:49] pmk21 commented on #5261
Could I take up this issue? And any ideas on how to proceed?

[2019-10-01 20:34] quasiben commented on #5261
@pmk21 that would be great!  I'd recommend looking directly at the setup.py file:
https://github.com/dask/dask/blob/master/setup.py

You can also show dependencies with `conda`:

[code]

[2019-10-01 21:36] #5442 closed

[2019-10-02 06:06] ecederstrand opened #5447 "Python 3.5 support broken"
The latest dask release, 2.5.0, contains syntax not supported in Python 3.5:

[code]
It looks like there is a Python 3.5 CI pipeline, so I'm not sure how this was not caught.

[2019-10-02 11:28] benjeffery opened #5448 "Slicing after `map_overlap` with asymmetric overlap gives unexpected result."
I'm seeing unexpected results from slicing after a `map_overlap` with an asymmetric overlap. For example:  (dask  == 2.5.0)

[code]
As expected.
We then try to slice:
[code]
There is a missing block of numbers (the same size as the overlap) in the middle.
Slicing from the other end:
[code]
Seems to have no effect. If you use `depth=5` everything works as expected.

I will start to look into this,

[2019-10-02 11:54] pmk21 commented on #5261
Sorry a little lost here. The `setup.py` file shows all the required dependencies right? I'm not able to find the optional dependencies.

The conda output also shows the same dependencies as present in the `setup.py` file.

However I found quite a few dependencies in the CI files which aren't present in the `setup.py` file.

[code]

And also what should be the exact format of showing optional depe

[2019-10-02 12:17] jorisvandenbossche commented on #5438
One thing that @mrocklin did in the POC is to provide a way to have the partitions of the dask dataframe based on spatial regions.

What is the current status of custom partitioning / indexing in dask? Or if we want that, that needs a subclass?

[2019-10-02 13:33] benjeffery commented on #5448
I think I have found the cause.
In https://github.com/dask/dask/blob/master/dask/array/overlap.py#L160 there is the following:
[code]
This code is calculating the size of chunks at the edges of the array, so we need to add the chunk size to the boundary size, BUT, the left edge chunk has a _right_ size overlap, not a _left_ size overlap, so swapping these would seem to be correct:
[code]
I'm prett

[2019-10-02 13:35] mrocklin commented on #5438
For that we would want a subclass today.

On Wed, Oct 2, 2019 at 7:17 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2019-10-02 13:42] mrocklin commented on #5431
Poke @martindurant .  Is the information above valuable for you to help identify what is going on?  Is there other information that would help?

[2019-10-02 13:45] martindurant commented on #5431
I have not seen that before - this seems to be happening deep within gauth. How are you authenticating with google? Is this happening in the dask client process or on a worker?

[2019-10-02 13:49] quasiben commented on #5261
I think the `extra_requires` are additional dependencies:

https://github.com/dask/dask/blob/13ddde5d68b4a68e3f16c8b5d4cd4ea3f8da578e/setup.py#L10-L20

Core bits of Dask can be optionally install:
[code]
See https://docs.dask.org/en/latest/install.html#pip

I don't think pip has an easy way to list the dependencies easily -- but dask on it's own, no array, no dataframe is only dependent on Python,

[2019-10-02 14:02] quasiben commented on #5017
@javad94 Perhaps we could chat here instead --

The `talks` link here: https://github.com/dask/dask-sphinx-theme/blob/68de02c5b1b2a45465ac127a43b6ed45a544fca2/dask_sphinx_theme/layout.html#L28

Could be changed to the recently created dask org on YouTube:
https://www.youtube.com/channel/UCj9eavqmvwaCyKhIlu2GaoA

What is also being asked in this issue is a single which which links to the following:

[2019-10-02 14:16] quasiben commented on #5447
@ecederstrand thanks for the report.  I wasn't able to reproduce the error (though it does look like an error) because I can't create an env with conda:

[code]

It's also possible that we don't test the parquet functionality in py35.  @TomAugspurger do you know off hand if this is the case ?

[2019-10-02 14:23] quasiben commented on #5448
I am seeing the same thing.  Thanks for the report and the fix!

[2019-10-02 14:26] TomAugspurger commented on #5447
The 3.5 env should include pyarrow.

[2019-10-02 14:34] mrocklin commented on #5447
Perhaps the fact that conda-forge doesn't produce 3.5 packages anymore
makes it so that this issue was hard to detect, and somewhat rare to run
into.

I tried briefly removing the comma in arrow.py and then rerunning black and
I found that black wanted to add the comma back in.  This means that either
my black version is oldish (you need to use master to avoid this issue) (I
think that I'm using a

[2019-10-02 16:45] ayushdg commented on #5441
The default value for `sort` is `True` for both pandas and cudf at the moment

[2019-10-02 16:55] mrocklin commented on #5441
That simplifies things considerably :)

I'll give this a quick shot.  One moment.

On Wed, Oct 2, 2019 at 11:45 AM Ayush Dattagupta <notifications@github.com>
wrote:

[2019-10-02 17:12] pmk21 commented on #5261
Thanks @quasiben. I will work on it.

[2019-10-02 17:16] athornton commented on #5431
That's happening in the dask client process, and that's supposed to be a public bucket so I don't know how or if I am authenticating at all.  Although maybe it's trying to write `_metadata` back to the bucket?  I'll see if I can figure it out.

Further possibly confounding fact: this is happening in a GKE cluster, so it's not impossible there's default token mounting going on behind the scenes as

[2019-10-02 18:30] athornton commented on #5431
Still happening with distributed master.  I'll include the whole (large) stack trace.  This is the GAIA DR2 data, so the answer len() should get is roughly 1.7E9.  I am reading from the public bucket gs://jupyterlabdemo-gaia-dr2/gaia_source.parquet (and the initial read goes fine); that folder contains 1750 files, generally about 500MB apiece.

[code]

[2019-10-02 18:33] martindurant commented on #5431
Yes, it is totally possible that gcsfs is picking up some standard google creds which don't have any permissions on GCS (even anonymous reads). You can bypass this with something like
[code]

[2019-10-02 18:46] athornton commented on #5431
Thank you!  That worked!

[code]

[2019-10-02 20:35] djhoese opened #5452 "Working towards best practices for packages based on dask"
This topic was brought up by @mrocklin on twitter: what best practices and guidelines should packages that depend on dask and other pydata packages follow? This was specifically brought up when talking about Satpy which is highly dependent on xarray DataArrays using dask arrays underneath. So the question is, what kind of things could be presented/documented to people wanting to build a package de

[2019-10-02 21:49] mrocklin commented on #5452
I would say that this depends on the technical sophistication of your users.  Assuming that that sophistication is sometimes low, I would say that you should probably expose chunking optionally, and otherwise should help to provide guides to dask's auto-chunking if possible.  Assuming that you're dealing with geotiffs it would be good to use the tile size to inform automatic chunking.

https://git

[2019-10-02 23:15] javad94 commented on #5017
@quasiben Yeah, I would like to help.

For the talks link, I'll make that change. Also, [Dask channel](https://www.youtube.com/channel/UCj9eavqmvwaCyKhIlu2GaoA) can upload some of the @mrocklin videos that he created on his channel too which available in [talks playlist](https://www.youtube.com/playlist?list=PLRtz5iA93T4PQvWuoMnIyEIz1fXiJ5Pri). I think most of the other videos of this playlist hav

[2019-10-03 02:13] quasiben commented on #5017
@mrocklin do you have thoughts on moving/copying some of the videos you've mad in the past to the dask YT channel ?

What you have listed is correct.   You're right, `External Learning` is not a great term.  There is a dask tutorial offered by datacamp: https://www.datacamp.com/courses/parallel-computing-with-dask .  It's a resource we should link to because it's an yet another way for folks to le

[2019-10-03 03:57] djhoese commented on #5452
So it sounds like to summarize your answers:

1. It'll be a case by case decision on how/when chunking is specified by package users. In most cases and if done correctly the package should be able to auto-chunk in most cases using `normalize_chunks` with optional overrides by the user.
2. Packages point to dask docs.
3. I was thinking of non-array cases where we have utilities using futures and/or

[2019-10-03 10:17] achapkowski opened #5454 "Issue with register_dataframe_accessor"
Hello,

I created a simple accessor:

[code]

On my ```test.py``` I tried the following:

[code]

The custom accessor is called `amazing` and it doesn't seem to be registered with the dask dataframe.  Am I registering it incorrectly?

[2019-10-03 13:07] mrocklin commented on #5017
I've tried this, but can't figure out how.

Given the extensive drama around Datacamp this year I think that doing this would need to be signed off by a few of the organization owners.

[2019-10-03 13:23] quasiben commented on #5017
@mrocklin I agree.  i started issue https://github.com/dask/community/issues/14 to discuss that further

@javad94, let's set aside the datacamp/external resources materials for now

[2019-10-03 13:37] quasiben commented on #5454
@achapkowski thanks for the report.  I tried what you have and everything worked for me.  Though i did have to change the import statement for `dd`

[code]

[code]

[code]

Which version of dask are you using ?

[2019-10-03 15:09] mrocklin opened #5455 "Avoid fusing literals"
We may want to avoid fusing literals in task graphs.

Now that many computations are run through the distributed scheduler, it may be wise to avoid fusing literal values that are placed into task graphs.  The communication machinery is better able to handle these objects if they are on their own, rather than deep within a complex task.  For example for numpy arrays we're able to serialize and comp

[2019-10-03 15:19] #5413 closed

[2019-10-03 15:42] mrocklin commented on #5455
It might still make sense to fuse base types, like numbers and strings.  I suspect that such a policy would also let us avoid rewriting many existing tests :)

[2019-10-03 17:25] pnuu commented on #5452
Few more (euro) cents from another Pytroll core dev. As I'm more concentrated on the operational satellite processing chains, there are some points that I need to consider all the time, both when writing the software and when setting things up. Below are some thoughts that came to mind when I read the 3-item list @djhoese started with.

There can be several completely independent chains (we at FMI

[2019-10-03 17:55] djhoese commented on #5452
And any package using dask would need to come up with some sort of best practices for their use cases. So maybe it isn't something that dask can do to help any more than it already is, but that best practices would need to discuss this as something people should be concerned about.

[2019-10-03 18:02] achapkowski commented on #5454
@jrbourbeau I updated to the latest dask version and it worked! Thank you

[2019-10-03 18:02] #5454 closed

[2019-10-03 18:05] achapkowski opened #5457 "ExtensionArray in Dask"
In pandas, building an ExtensionArray is straight forward.  When writing them in Dask, do you have to implement anything to handle the chunking?

The blog posts makes it sound simple: https://blog.dask.org/2019/01/22/dask-extension-arrays

But I wanted to ensure that was the case.

[2019-10-03 18:24] jrbourbeau commented on #5457
Dask needs the extension array to be registered with `make_array_nonempty` and `make_scalar`. Please see https://docs.dask.org/en/latest/dataframe-extend.html#extension-arrays for more details and an example

[2019-10-03 19:14] martindurant commented on #5380
I mentioned elsewhere fsspec's dask-file-system, and the idea here is very similar, although the use case is different. Probably there is not much new that would need to be implemented.

[2019-10-03 19:23] mraspaud commented on #5452
Great stuff in here, thanks for starting this issue!

I have one thing I would like to bring up, it's related to IO. In our application (satpy), we do read a lot of data from disk and write at least as much to disk when we're done. However, it's not really practical for us (at my work place) to have these data on shared storage as the data volume is too big and would slow down the entire network,

[2019-10-03 19:41] mrocklin commented on #5452
I would encourage satpy to not make constraints about setting up Dask workers.  I think that this is handled best on an application by application basis.

Can they all use the same dask cluster?  If so, that would load balance for you.

Typically people use a network file system for this sort of thing.  If I/O is a bottleneck then you might consider compression, nicer file formats, doing more comp

[2019-10-03 20:02] bluecoconut opened #5458 "Bug in MapSeries for unsorted index base series"
Tests were not actually testing the intended base-series index being unsorted case.

Code to show error in current dask:
[code]

Errored output:
[code]

[2019-10-03 20:05] bluecoconut commented on #5458
Fixed in the PR referenced above.

Note: the reason this went by unnoticed was that `from_pandas` has the default `sort=True` kwarg, which caused the test to not actually initialize unsorted distributed dataframes. Setting this to false immediately showed the error and then allowed for fixing.

[2019-10-03 20:33] ryankarlos commented on #2682
Ok will have a look and submit a PR

[2019-10-03 20:40] javad94 commented on #5017
@quasiben OK
How I can find the "Get Started" section file to add this page to it?

[2019-10-03 22:37] DigitalPig opened #5461 "Dask Dataframe cannot handle the lazy evaluation of dd.Scalar object in fillna"
This issue is somewhat related to #1701

#1701 reveals the issue when fillna with a dask dataframe ops. In some cases, we have to fill each column using the columnwise ops like `.mean`:

Minimal reproducible example:

[code]

[2019-10-03 23:25] rettigl opened #5464 "dask.array from_delayed and scheduler='processes' not working with hdf5"
Hi,
I am trying to load multiple hdf5 files delayed into dask arrays using the 'processes' scheduler. I can load data from multimple h5 files in parallel using delayed with both the 'threads' and the 'processes' scheduler, but once I try to convert the "delayed" objects into dask arrays using the from_delayed function of the dask.array, it only works with the 'threads' scheduler, and fails with "T

[2019-10-04 03:01] quasiben commented on #5461
@DigitalPig Thank you for the report.  The `does not work` line is a duplicate of the line above.

ddf_t["A"].fillna(ddf_t["A"].mean()).compute() # Does not work.

Can you post with the problematic line ?

[2019-10-04 09:50] mrocklin commented on #5461
He's saying that passing a `dask.dataframe.Scalar` object into fillna doesn't work, but that passing a concrete value, like a float, does.

[2019-10-04 09:51] mrocklin commented on #5461
Fixed by https://github.com/dask/dask/pull/5463

[2019-10-04 10:26] mrocklin commented on #5448
Fixed by #5449

[2019-10-04 10:26] #5448 closed

[2019-10-04 10:29] #5461 closed

[2019-10-04 14:30] quasiben commented on #5464
I am seeing the same thing you are but I'm not sure why.

The error specifically is:

I think that when this occurs this can mean that there is a variable scoping issue ?  There have been issues with h5py files in the past.  For example, in https://github.com/dask/distributed/issues/927 the recommendation is to use the threaded scheduler as you are doing now.

@TomAugspurger  do you have any addit

[2019-10-04 15:01] TomAugspurger commented on #5464
I don't think H5py.File objects are serializable.

[code]

If you're trying to use it with the distributed or multiprocessing
schedulers, you'll need to take care not to pass H5Py.File objects around.
Instead you'll have to pass functions that take serializable inputs like
strings and create the H5Py file from within the function. Note that
there's also some issues w/ thread safety. The Xarray doc

[2019-10-05 22:51] henryre opened #5465 "dask[complete]==2.3.0 installs distributed==2.5.2"
It looks like `dask[complete]==2.3.0` now installs `distributed==2.5.2`, whereas previously it installed `distributed==2.3.0`. This is causing an incompatibility with `parse_bytes` since it doesn't handle ints in 2.3.0. Tested on Python 3.7, OS X and Ubuntu 18.04. The output below shows cached packages, but the same result happens with `--no-cache-dir`.

[code]

And then testing out `LocalCluster`

[2019-10-06 21:21] bhishanpdl opened #5466 "dask_ml.model_selecton gives Import Error of '_validate_shuffle_split_init'"
# Command:
[code]

# Error:
[code]

# Introduction
[code]

# scikit-learn have no problem with it
[code]

# Question
How to fix the import error in dask?

[2019-10-07 02:42] quasiben commented on #5465
@henryre thank you for the report.  I've verified this is a problem if you are only defining `dask[complete]==2.3.0`.   A few question for immediate concerns:
- Is this critical for you ?
- Would it be acceptable to also pin `distributed==2.3.0` when installing as you noted ?

For future concerns I'm not sure what is best here for pip users ?  One could update the setup.py but that doesn't work fo

[2019-10-07 02:49] jcrist commented on #5465
We use `>=` versioning, since this is often what users want. `dask` and `distributed` are separate packages - if you want a specific version of anyone of them you should pin the version. Usually a difference of a minor version or two shouldn't result in any failures, we rarely have tight coupling between the two packages. In this case something did break since we moved some utilities into dask pro

[2019-10-07 04:08] jrbourbeau commented on #5466
Thanks for opening up an issue @bhishanpdl. As mentioned in https://github.com/dask/dask-examples/issues/109#issuecomment-538462435, this `ImportError` should have been fixed in https://github.com/dask/dask-ml/pull/489. If not using it already, could you please try updating to the latest release of `dask-ml` to see if that resolves this issue?

[2019-10-07 06:07] fgadaleta opened #5468 "read_csv from alternative S3 still tries to connect to Amazon"
[code]

Returns

```EndpointConnectionError: Could not connect to the endpoint URL: "https://bucket.alternative-region.other-cloud.amazonaws.com/?list-type=2&prefix=&delimiter=%2F&encoding-type=url"```

Somewhere `amazonaws.com` is appended to the URL

[2019-10-07 09:30] joschaschmiedt commented on #5465
I understand that this can be fixed by users quite easily. However, shouldn't `distributed` 2.5 depend on dask 2.5? Currently, it depends on dask >= 2.3 (https://github.com/dask/distributed/blob/master/requirements.txt#L3).

[2019-10-07 10:06] debabrata-mishra opened #5470 "IndexError while merging dask dataframes"
I'm running into the following issue while merging a dask dataframe with an empty dask dataframe.
**IndexError: single positional indexer is out-of-bounds**

[code]

This error is specifically happening with the latest release (dask==2.5.2) . It seems to work smoothly with dask 2.4.0

[2019-10-07 10:27] joschaschmiedt opened #5471 "Release alerts"
Is there an official way to be alerted about Dask releases? The GitHub functionality for watching releases doesn't work for the Dask project as the releases are only created as tags, not [GitHub releases](https://help.github.com/en/articles/creating-releases). The [blog](https://blog.dask.org/) also doesn't seem to be updated for each release.

It would be nice to have an alerting system for every

[2019-10-07 11:16] mrocklin commented on #5468
cc @martindurant

On Mon, Oct 7, 2019 at 1:07 AM fgadaleta <notifications@github.com> wrote:

[2019-10-07 11:21] mmohrhard opened #5472 "Incorrect chunk size calculation in da.tensordot"
Our original test case that showed that something is going wrong with `da.tensordot` in comparison to `np.tensordot`.

[code]

Error message is:

[code]

[2019-10-07 11:23] mrocklin commented on #5470
Thank you for the error report @debabrata-mishra .  Are you able to provide a minimal reproducible example?  That is probably the first step to identifying and resolving this error:

-  https://stackoverflow.com/help/minimal-reproducible-example
-  https://blog.dask.org/2018/02/28/minimal-bug-reports

[2019-10-07 11:26] mrocklin commented on #5471
They tend to be announced in https://github.com/dask/community

Currently there isn't another way.  This could be changed though if you want to help set something up.  Our current release procedure is here if you want to propose something.

https://github.com/dask/dask/blob/master/docs/release-procedure.md

[2019-10-07 12:33] joschaschmiedt commented on #5471
Thanks for pointing me to the community repository. I'll definitely keep an I on it.

To create a GitHub Release that can be watched, you could add a curl POST to the GitHub REST API to your release procedure. For example the following
[code]
will result in something like [this](https://github.com/joschaschmiedt/dask/releases/tag/2.4.0). It requires an access token with the appropriate scope.

[2019-10-07 12:39] martindurant commented on #5468
The above is equivalent to
[code]

Can you please check whether this gets the correct URL?

[2019-10-07 12:58] martindurant commented on #5468
FYI, doing `fsspec.filesystem('s3', **storage_options)`, which is what Dask effectively does, seems to point to the correct endpoint for me (Could not connect to the endpoint URL: "https://s3.alternative-region.other-cloud/").

[2019-10-07 13:06] fgadaleta commented on #5468
boto3 has no attribute conf

[2019-10-07 13:15] martindurant commented on #5468
Sorry, `botocore.config.Config`

[2019-10-07 13:22] fgadaleta commented on #5468
[code]

returns `ClientError: An error occurred (400) when calling the HeadObject operation: Bad Request
`

[2019-10-07 13:46] #5080 closed

[2019-10-07 14:04] djhoese commented on #5452
I thought of some new ones this weekend and an update on another:

2a. A lot of scientific libraries that can benefit from dask are usually wrapping old fortran or C code that is fast because of how it is implemented. Some also use OpenMP, but they are part of the existing users' workflow. Blindly setting things like OpenMP or BLAS number of threads could have major performance penalties on these

[2019-10-07 14:39] quasiben commented on #5472
@mmohrhard this looks like an issue -- thank you for reporting.  I'm not sure what's going on at the moment.  I was expecting chunks to be: `(4,5)` and instead we have `((5,), (5,))`

For example, if we create a dask array with two equally sized chunks things look ok:

[code]

Right, two chunks of size `(10,10)`.  If instead we created one big chunk:

[code]

It looks like there is either a bug or

[2019-10-07 14:46] #5458 closed

[2019-10-07 15:03] martindurant commented on #5468
That's not particularly helpful :|
Perhaps `client.list_buckets()` might be a simpler call to try.

[2019-10-07 16:59] fgadaleta commented on #5468
that also gives me
`EndpointConnectionError: Could not connect to the endpoint URL: "https://s3.nl-ams.amazonaws.com/"
`

[2019-10-07 17:02] martindurant commented on #5468
I does *not* do that for me, so I can only suppose it is getting some additional config from your system, environment or files or instance metadata.
I have never used "virtual" addressing, so that might be worth reading into.

[2019-10-07 21:01] JSybrandt opened #5475 "Many Tasks assigned to one worker."
Hello,

I'm running many embarrassingly parallel tasks on a dataset with many (972) partitions.
I usually use between 50 and 100 nodes, and configure my cluster such that each node has one process per machine, and the same number of threads / memory per process. My application has been written with extensive check pointing, so each major operation is load - process - write. The overall number of t

[2019-10-08 05:55] goldenbull opened #5477 "exceptions on functools.lru_cache"
dask 2.5.2
distributed 2.5.2

I started a scheduler and two workers:
[code]

Then I tried to run a simple piece of code on the scheduler, here is the source code:
[code]

This script ends up in a lot of exceptions:
[code]

But if I start the cluster in source code, everythings works fine:
[code]

So my question is, how to use `functools.lru_cache` correctly?

[2019-10-08 15:20] henryre commented on #5465
Hi @quasiben @jcrist thanks for following up. I'm unblocked, was able to upgrade with a few fixes, but figured this was worth reporting either way. Just my 2 cents: regardless of what packages you'd expect `dask[complete]==2.3.0` to install, I would at least expect to be able to initialize a `LocalCluster` if I installed `dask[complete]==2.3.0`. Since plenty of folks pin exact versions (needed to

[2019-10-08 15:54] jcrist commented on #5447
IIUC, if black sees a file already uses python 3.6 syntax (e.g. trailing comma after `**kwargs`) then it will force it to use python 3.6 syntax. See https://github.com/psf/black/issues/419.

[2019-10-08 16:01] jcrist commented on #5465
Yeah, this is definitely a bug. Will fix.

Since we use `>=` dependencies (as recommended) things should work if you install `dask[complete]==2.3.0` only when that's the latest release. They likely work after this, but as dependencies release the chances of a breakage increase. As with all python packaging, pinning your dependencies as a user is recommended.

[2019-10-08 16:03] mrocklin commented on #5471
@jacobtomlinson do you have any thoughts on this?

[2019-10-08 16:11] jcrist commented on #5465
See dask/distributed#3124 for fixing distributed's dependencies. I'm going to close this for now, thanks for reporting!

[2019-10-08 16:11] #5465 closed

[2019-10-08 16:11] jrbourbeau commented on #5416
@lmiroslaw does this give a sense of the current status? Is it safe to close this issue?

[2019-10-08 16:12] mrocklin commented on #5447
So it sounds like you're saying that there might be some *other* bit of
Python 3.6 syntax in this file that we would want to track down.  The
trailing comma would then be a symptom rather than the cause.

On Tue, Oct 8, 2019 at 10:54 AM Jim Crist <notifications@github.com> wrote:

[2019-10-08 16:14] quasiben opened #5478 "Drop Python 3.5 Support"
Should we drop Python 3.5 support ?  Looking at the [PyPi Stats](https://pypistats.org/packages/dask) you can see (minor version download plot) that Python 3.5 downloads are quite low compared with 3.6.  3.7 is also low but that is mostly like due to 3.6s popularity.

If we do drop 3.5 support, we should still resolve the following two issues and release a last version with support for 3.5

- [x]

[2019-10-08 16:14] jrbourbeau commented on #5457
@achapkowski does that documentation clarify how to register third-party extension arrays with `dask.dataframe`? Is it safe to close this issue?

[2019-10-08 16:46] TomAugspurger commented on #5457
I think we're good, let us know if things can be clarified though @achapkowski.

[2019-10-08 16:46] #5457 closed

[2019-10-08 16:48] achapkowski commented on #5457
So if I read this right, I just need to create a throw away method that creates an empty Series essentially?

[2019-10-08 16:49] TomAugspurger commented on #5466
Let us know if it doesn't fix things @bhishanpdl.

[2019-10-08 16:49] #5466 closed

[2019-10-08 16:50] TomAugspurger commented on #5457
I don't think it's a Series. I think you register methods for creating a scalar and an array.

[2019-10-08 16:52] quasiben commented on #5475
@JSybrandt could you provide a bit more context ?  Maybe the task graph ?  If the machines processing the long tasks are depended on by subtasks then they will have to wait until the long tasks are finished

[2019-10-08 17:49] TomAugspurger commented on #5477
Can lru_caches be pickled safely between processes?

[2019-10-08 18:12] quasiben commented on #5477
I don't think so xref: https://github.com/cloudpipe/cloudpickle/issues/178

Looks like ray is facing similar difficulties https://github.com/ray-project/ray/issues/5766

[2019-10-08 19:10] mrocklin commented on #5477
Maybe try toolz.memoize ?

On Tue, Oct 8, 2019 at 1:13 PM Benjamin Zaitlen <notifications@github.com>
wrote:

[2019-10-09 06:06] debabrata-mishra commented on #5470
Sure. The following is the code snippet where the code used to fail.

		overall_data = pd.DataFrame()
		overall_data = dd.from_pandas(overall_df, npartitions=self.npartitions)

		for x in range(self.k_clusters):
			#some code blocks
			df = df[df.cluster == x]
			overall_data = dd.merge(overall_data, df, how='outer')

The following is a sample code which should be able to reproduce the error:

[co

[2019-10-09 08:44] jacobtomlinson commented on #5471
That curl command looks useful for creating the GitHub release, but I would be nervous about including it in the release procedure (manual release procedures make me nervous regardless).

GitHub provides an RSS atom feed for tags as well as releases. [Here is the Dask one](https://github.com/dask/dask/tags.atom). Does that solve your use case?

[2019-10-09 09:06] joschaschmiedt commented on #5471
@jacobtomlinson Thanks for the RSS feed. For me that certainly works as I use an RSS reader.

Some kind of email alerts would probably still be useful for others. Another option would be to manually create a release from a tag via the GitHub web interface and copy-paste the entry in the [changelog.rst](docs/source/changelog.rst), which then looks like [this](https://github.com/joschaschmiedt/dask/

[2019-10-09 09:20] jacobtomlinson commented on #5471
You could also use a service like [IFTTT to send you emails when a new RSS item is added](https://ifttt.com/applets/147561p-rss-feed-to-email).

This is definitely a common pattern. But so is updating a changelog file, creating a git tag and pushing it. I'm not sure changing the convention here is going to be that helpful.

One option would be to add a CI/CD step to run your curl command when a ta

[2019-10-09 12:48] mrocklin commented on #5470
Thank you for the minimal reproducible example @debabrata-mishra . This is very helpful.

@rjzamora I suspect that this might have something to do with your recent work.  Would you mind taking a look?

[2019-10-09 13:22] TomAugspurger commented on #5434
This is also working fine for me. @kondabathula can you perhaps try Matt's code in a fresh environment? If that fails then we'll reopen and debug some more.

[2019-10-09 13:22] #5434 closed

[2019-10-09 13:25] TomAugspurger commented on #5439
@tinaok were you able to look into the auto chunking code at all? It might be worthwhile putting an `import pdb; pdb.set_trace()` in that `auto_chunks` function and stepping through things line-by-line to see how we arrive at the final number.

[2019-10-09 13:27] TomAugspurger commented on #5092
@jhulten @nbmorgan do we have a runnable example here? I glanced through and didn't see anywhere a DataFrame was defined (apologies if I missed it).

[2019-10-09 13:29] TomAugspurger commented on #5437
@JukkaKeisala any response to https://github.com/dask/dask/issues/5437#issuecomment-535923484?

One problem with using `==` is that pandas' extension dtypes can't be safely compared to NumPy dtypes

[code]

[2019-10-09 14:13] rjzamora commented on #5470
No problem - I will look into this.  I can confirm that I get the same error

[2019-10-09 17:00] #5470 closed

[2019-10-09 19:08] JukkaKeisala commented on #5437
@mrocklin @TomAugspurger
This happened when tried to merge two dask dataframes. Left and right dtypes were the same in [asciitable](https://github.com/dask/dask/blob/master/dask/dataframe/multi.py#L379) (showed in log/output). Because dtypes were the same I deduced that the error shouldn't have been raised.

Of course it is possible that the printing of asciitable hides the problem...

On my local

[2019-10-09 19:12] shashi-netra opened #5481 "pip install gives ImportError: No module named 'dask' in venv"
I am trying dask + xgboost for the first time and created a venv on my ubuntu 18 box. and did the `pip install dask[complete]`. However, when I run the code below (it's a simple multi-class classifier with softmax), I keep getting this error:
[code]
Upon doing a `pip install -U dask[complete] `, I get a "Requirement already satisfied" for all the packages. Not sure what I am doing wrong.

[code]

[2019-10-09 19:56] nbmorgan commented on #5092
Here is a runnable version slightly diffent error.  I am still trying to follow the custom agg rules.

[code]

[2019-10-10 13:02] TomAugspurger commented on #5481
Can you post the output of the following?

1. Creating / activating a new virtualenv / conda env
2. Installing dask into that env

[2019-10-10 13:12] TomAugspurger commented on #5092
@nbmorgan is `ddf2` supposed to be a dask or pandas dataframe?

Also can you

1. remove unused imports? Are requests, zlib, etc used?
2. Simplify things: Do you need 5 calls to `percentile` or does 1 do? Do you need the other aggfuncs?
3. Minimize things: `timeseries()` makes a large dask DataFrame by default. Does it reproduce with a smaller one? `freq=D`?
4. Is `AddDerivedTimeFeature` necessary?

[2019-10-10 13:28] TomAugspurger commented on #5477
@goldenbull let us know if `tools.memoize` works out for you, so future readers know if it's an option.

Closing this since I don't think there's anything for dask to do at the moment.

[2019-10-10 13:28] #5477 closed

[2019-10-10 14:26] radiantone opened #5483 "Enumeration over Task Graph Results"
There does not seem to be a way to cause a task graph specification to enumerate a results over a receiving function in parallel.

graph = {
    "documents": (thedocs,),
    "analylze": (analyzedoc, "documents")
}

I do not want to send the "list of documents" to analyzedoc. I want to essentially map each document in "documents" to a separate (parallel) call to analyedoc.

[2019-10-10 14:40] mrocklin commented on #5483
See https://examples.dask.org/applications/evolving-workflows.html

On Thu, Oct 10, 2019 at 9:26 AM radiantone <notifications@github.com> wrote:

[2019-10-10 15:25] mrocklin commented on #5483
Short term that's probably out of scope for Dask.  When people ask for ways
to compute evolving graphs we recommend that they use one of the three
approaches in that example.

On Thu, Oct 10, 2019 at 10:21 AM radiantone <notifications@github.com>
wrote:

[2019-10-10 18:07] TomAugspurger commented on #5437
We could try using `pandas.api.types.is_dtype_equal` instead, which should be robust.

@JukkaKeisala do you have an example where this comes up? Ideally we would have a test case for it.

[2019-10-10 18:33] #4546 closed

[2019-10-10 19:01] radiantone commented on #5483
Gotcha. The net result however, is that we can only get parallelism on task graphs that return non-list results. If a collection or list is returned, then a function has to process that list itself - reducing the point of task graphs. Mainly I see this as an arity concern in the computational model. And to be complete, i should support one to many mapping across a function.

[2019-10-10 19:03] #5483 closed

[2019-10-10 19:16] mrocklin commented on #5483
You're welcome to give it a try.  I think that you'll find it challenging to get what you want and also satisfy all other usage constraints though.

[2019-10-10 20:42] javad94 commented on #5017
@mrocklin You can download them with [Youtube-dl](https://github.com/ytdl-org/youtube-dl) and upload them in Dask's youtube channel.

[2019-10-10 20:54] ShanshanBi opened #5485 "bugs when importing dask in Anaconda (python3.7)"
I used conda install dask to install dask in my anaconda.
then import it  with "import dask.dataframe as dd"
I got an error

  File "<ipython-input-13-420aeb5f905d>", line 1, in <module>
    import dask.dataframe as dd

  File "C:\Users\shbi\AppData\Local\Continuum\Anaconda3\lib\site-packages\dask\dataframe\__init__.py", line 13, in <module>
    from .io import (

  File "C:\Users\shbi\AppData\Loc

[2019-10-10 21:04] radiantone commented on #5483
I actually did it before for a project. I wrote a JSON dialect for determining the graph flow, arguments and metadata such as parallelism and flow control indicators. Then a process compiles that into a dask task using function wrappers to dispatch calls to functions, gather results, etc. But it does require some scaffolding that runs outside the graph. Something that would be better if it wasn't

[2019-10-11 04:18] goldenbull commented on #5477
`@toolz.functoolz.memoize` works fine. I think maybe redis is more suitable for the distributed caching scenario, in spite that cross-process caching is a little slower than in-process caching.

[2019-10-11 04:31] goldenbull opened #5487 "bokeh dashboard throws exception when showing all workers"
dask 2.5.2
distributed 2.5.2
bokeh 1.3.4

start scheduler and workers:
[code]

then start a browser and navigate to http://localhost:8787/workers
the scheduler throws exceptions:
[code]

[2019-10-11 05:00] ashwinvis commented on #4399
Same here, the [only workaround is to use `dask.array.concatenate`](https://stackoverflow.com/a/36143234) and that is what we had to do for [fluidfft (unfinished API for dask FFT)](https://bitbucket.org/fluiddyn/fluidfft/src/2824f4f2f667a1ce79301d37219ef0510aeac57c/fluidfft/fft2d/operators.py#lines-394:406). I do hope there is a better way as this approach requires rewriting algorithms. If this is

[2019-10-11 10:14] tinaok commented on #5439
Hi @TomAugspurger sorry for my late response, I started to look at the code, and understood some part, made some test on change, but then I did not have time to continue.  I'll get back to it next week.

[2019-10-11 11:54] mgsnuno opened #5488 "drop_duplicates(split_out) ValueError"
python: 3.7.3
dask: 2.5.2

[code]

Any idea why?

P.S. - I know using tuples inside columns is not ideal, but it fits a particular use case. Still it works well if I don't `split_out`, hence though relevant to report.

[2019-10-11 12:34] JukkaKeisala commented on #5437
The following JSON data lies in web (server through REST API in my case):

[code]
at endpoint `myendpoint/data1`

and
[code]
at endpoint `myendpoint/data2`

If I run the following script on TCPServer (using TCPServer.serve_forever + parameters)
[code]
the `id`'s are not the same but the datatypes are (i.e., `==`). This is the reason why I raised this issue.

I cannot reproduce this in iPython or J

[2019-10-11 13:53] TomAugspurger commented on #5487
Hmm I'm seeing this on the main `/status` page, but not on the workers page.

I am seeing errors with loading bokeh.js in the browser console

[code]

[2019-10-11 15:21] ShanshanBi commented on #5485
The is my first time to use this package. I believe I got Dask updated to the newest version. Looks like I still have this issue. anything I can do to fix it? Thanks.

[2019-10-11 15:21] TomAugspurger commented on #5488
You can reproduce this exception with just pandas `pd.util.hash_pandas_object(pdf)`. I'm not sure whether it's a bug in pandas or a limitation of NumPy, but I don't think there's much Dask can do.

[2019-10-11 15:32] TomAugspurger commented on #5487
This looks to be the same as https://github.com/dask/distributed/issues/3120. Consolidating there.

[2019-10-11 15:32] #5487 closed

[2019-10-11 15:33] TomAugspurger commented on #5485
What's the output of

[code]

[2019-10-11 15:40] ShanshanBi commented on #5485
The code works. import dask worked. but when I import dask.dataframe, still got an error.

  File "C:\Users\shbi\AppData\Local\Continuum\Anaconda3\lib\site-packages\dask\dataframe\io\csv.py", line 21, in <module>
    from ...bytes import read_bytes, open_file, open_files

  File "C:\Users\shbi\AppData\Local\Continuum\Anaconda3\lib\site-packages\dask\bytes\__init__.py", line 8, in <module>
    if f

[2019-10-11 15:49] TomAugspurger commented on #5485
Did you activate the new environment? That seems to still be under `Anaconda3\lib\site-packages`.

[2019-10-11 17:25] ShanshanBi commented on #5485
Oh, I restart my spyder and everything looks good now. Thanks for helping me out! I will close this issue.

[2019-10-11 17:25] #5485 closed

[2019-10-11 21:38] TomAugspurger commented on #5437
Thanks @JukkaKeisala, that and https://github.com/numpy/numpy/issues/6295 was enough to get a reproducer

[code]

[2019-10-11 21:40] TomAugspurger commented on #5437
I don't really know what `np.longlong` is, but the repr is `dtype('int64')` for me, and the `np.iinfo()` looks the same. I'll see if we can use `is_dtype_equal` instead there.

[2019-10-12 17:39] JukkaKeisala commented on #5437
Nice reproducer you found @TomAugspurger, I think `is_dtype_equal` will work here. I cannot check it for a couple of days but will do that as soon as possible.

[2019-10-13 18:27] TomAugspurger commented on #5437
No need. I have an open PR and the tests all passed.

[2019-10-14 07:42] mgsnuno commented on #5488
Correct. The question is then: why does `compute([split_every])` works and `compute(split_out)` fails? i.e. what in the call to `split_out` makes it fail?

P.S. - I created an issue in pandas: https://github.com/pandas-dev/pandas/issues/28969

[2019-10-14 12:37] TomAugspurger commented on #5488
No I don't think there's anything for Dask to do right now.

[2019-10-14 14:06] quasiben commented on #5017
resolved by https://github.com/dask/dask/pull/5460/

[2019-10-14 14:06] #5017 closed

[2019-10-14 14:11] quasiben commented on #5447
looking into this now

[2019-10-14 14:14] mrocklin commented on #5447
@quasiben see #5490

[2019-10-14 14:22] djhoese commented on #5452
6. Another one based on https://github.com/dask/distributed/pull/2671. How to write tests (pytest or unittest only) that need to use a distributed Client. When trying to do it in Satpy tests I run in to issues with ports remaining open and not being able to reopen them.

[2019-10-14 14:48] #5437 closed

[2019-10-14 15:50] latusaki commented on #4194
I have this issue with dask==2.5.2, pyarrow==0.15.0. Fastparquet does not have this problem, although I am guessing its down to the way it handles partitions.

Is there anything more clever to do than manually mapping numpy.dtypes to pa data types like the following ?:

[code]

[2019-10-14 16:18] TomAugspurger commented on #4194
@latusaki you could likely construct / extract a DataFrame with the correct schema and make a pyarrow.Table from that.

[2019-10-14 17:49] TomAugspurger commented on #5452
Were you doing anything fancy, like trying to reuse an event loop or state between tests? Or were you just using the public API? I would think that things would be fine as long as you're closing the cluster down between tests. Reports otherwise would be welcome.

[2019-10-14 17:52] TomAugspurger commented on #5464
Anything else to do here @rettigl? I'm not sure whether we should add a note in the docs about this, or where it should go.

[2019-10-14 18:06] TomAugspurger commented on #5412
@masip85 do you have a minimal example to share http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports?

Right now a sample is always taken, even when `dtype` is specified. That alone doesn't give us enough information to parse all the CSV files.

[2019-10-14 18:07] #5362 closed

[2019-10-14 18:22] djhoese commented on #5452
No, nothing too fancy. When I originally wrote the tests I noticed that dask's own tests had some pytest fixtures for handling things so I assumed that might be necessary and just mocked the Client in my tests. I was creating a LocalCluster with 1 worker, creating a Client with that cluster, then after using them I would run `.close()` on both.

I should note, it passed locally just fine but on Tr

[2019-10-14 19:14] TomAugspurger commented on #5452
Those are documented at https://distributed.dask.org/en/latest/develop.html#writing-tests. If you're making assertions about the cluster, it may be helpful to use those helpers, but otherwise they may be too tricky to use.

We have one similar to this already. It's about creating a `LocalCluster` at the top-level of a python script. I'm not familiar with what `setup.py test` does unfortunately.

[2019-10-14 19:16] djhoese commented on #5452
It's deprecated (as far as I understand), but essentially calls unittest with the test suite specified in setup.py.

[2019-10-14 19:23] skeller88 commented on #3121
I propose that this issue be renamed to "Support for Google BigQuery" to make it clear that Dask already supports gcs.

[2019-10-14 19:47] jcrist commented on #3121
Good point, done.

[2019-10-14 20:34] rettigl commented on #5464
Thanks @TomAugspurger for your reply.
However I am still not quite sure I understand the behavior. I understood the problem with serializing H5py.File objects, that's why I passed the filename to the constructor within the delayed construct, which also worked in the first test case.
I don't quite get why it does not work the same way in the second case. Why does it need to serialize the H5py.file

[2019-10-14 20:42] TomAugspurger commented on #5464
Whats the second case?

[2019-10-14 20:49] rettigl commented on #5464
[code]
is working with 'processes', but
[code]
not. That's the two cases I mean. Both should to my understanding create a H5py.File object only in the worker process, but that's apparently not the case...

[2019-10-14 20:59] TomAugspurger commented on #5464
Both of those are creating File objects in the client process. They're arguments to `delayed`, which means they exist in the task graph sent from the client to the scheduler.

[2019-10-14 21:30] rettigl commented on #5464
Thanks, now I got it. It's actually not the H5py.File objects that needs to get serialized, but the return of the .get function, which is a hd5f dataset object, and that cannot be serialized.
The following works:
`darrays = [da.from_delayed(d.delayed(h5py.File(name=f, mode='r').get('Stream_0')[slice(None,None)]), dtype='int32', shape=(1, 1000000)) for f in h5files]`
also with 'processes', as it co

[2019-10-14 21:30] #5464 closed

[2019-10-15 04:36] varunbpatil opened #5492 "Dask dataframe resample - value too large to convert to int"
**_This issue may not be related to Dask itself, but wanted to know if there is a better way._**

I have a very large time-series Dask dataframe (~2.7 billion rows) in which there are several million timestamps (rows) missing.

I am trying to do a `resample` to fill in the missing timestamps (rows) since there is no `reindex` in Dask.

**The problem appears to be in the following code.**

https://

[2019-10-15 10:16] latusaki commented on #4194
@TomAugspurger  sadly enough, table.head() and table.tail() have different schema on my example dataframe that reproduces this issue

[2019-10-15 11:30] TomAugspurger commented on #5492
I don't see any workarounds off the top of my head.

[2019-10-15 14:09] martindurant commented on #3121
Has anyone tried using the SQL interface and a library like https://github.com/mxmzdlv/pybigquery ?

[2019-10-15 15:17] TomAugspurger commented on #5452
Just an FYI, scikit-learn is dealing with similar issues: https://github.com/scikit-learn/scikit-learn/issues/14979.

[2019-10-15 15:40] #5447 closed

[2019-10-15 16:05] TomAugspurger opened #5493 "3.8 Support"
Tracking issue for adding 3.8 support.

- [ ] Add to CI (blocked by conda packages for 3.8)
- [ ] Add a 3.8 classifier to setup.py

[2019-10-16 05:15] VijayantSoni opened #5495 "Reusing code in /dask/dask/array/utils.py"
I was looking at issue https://github.com/dask/dask/issues/2682 and saw an opportunity to reuse code in this [Array util's assert_eq method](https://github.com/dask/dask/blob/7b4f90f0a708cbb97ebb498c78f7931d82ec99db/dask/array/utils.py#L196-L279).

We can move the logic for computing dt, meta and computed value to a separate method and reuse that for both params `a` and `b`.

[2019-10-16 05:17] VijayantSoni commented on #5495
I have created a PR, please see if this makes sense and looks good.

[2019-10-16 15:57] crepererum opened #5498 "pyarrow integration broken as of 0.15.0"
Dask is currently passing `preserve_index` to pyarrow. This is deprecated as of pyarrow 0.13.0 (has no effect anymore) and is removed with pyarrow 0.15.0.

[2019-10-16 16:03] quasiben commented on #5498
@rjzamora is this something you could look into ?

[2019-10-16 16:56] rjzamora commented on #5498
@crepererum - I see that Dask is passing a `preserve_index` argument to `pa.Table.from_pandas`, but I'm not finding it anywhere else - Am I missing something?

If you are refering to the `from_pandas` case, can you link documentation stating that `preserve_index` is deprecated? (I don't see anything in [0.15.0 documentation](https://arrow.apache.org/docs/python/generated/pyarrow.Table.html#pyarrow

[2019-10-16 19:29] #5495 closed

[2019-10-17 08:10] crepererum commented on #5498
Oh bollocks, I was using an old dask version locally and was probably also looking at the wrong dask code when trying to figure out the root cause. 🤦‍♂  Sorry for that, works on `latest`.

[2019-10-17 08:10] #5498 closed

[2019-10-17 11:37] masip85 commented on #5412
This explained the initial problem: lambda are not allowed to in _skipRows_. Ok, from this limitation, I try to use a long list which contains a long numeric list which be used as rows to skip in _skipRows_ . That makes the reading very very very slow.

Example:

[code]

Depending on the jump number, obviously, _toSkip_ increase. Ok, there is certain length of toSkip which makes reading very slow.

[2019-10-17 12:46] mrocklin commented on #5498
No worries.  It's reassuring that you're out there testing things and
comfortable raising issues.

On Thu, Oct 17, 2019 at 3:10 AM Marco Neumann <notifications@github.com>
wrote:

[2019-10-17 13:07] TomAugspurger commented on #5412
Profiling would of course be welcome.

Note that when `skiprows` is provided, dask will need to read enough data to still get at least the sample bytes excluding the rows in `skiprows`.

[2019-10-17 14:34] quasiben commented on #5498
Thanks for answering @rjzamora

[2019-10-17 17:20] tswast commented on #3121
I'm a maintainer of the pybigquery SQLAlchemy connector for BigQuery, though I haven't tried it with Dask, only Superset.

I think there's still benefit for Dask to have native BigQuery support. Specifically, when there are large result sets it will help to distribute the results across workers using the BigQuery Storage API directly. Also, it'll be cheaper to read directly from storage in cases w

[2019-10-18 03:47] bluecoconut opened #5502 "Multiple independent calls to optimize can break read_parquet getitem optimization"
This example with entirely dask.dataframe operations leads to a delayed object that has a the same key created that has different results when executed. This results in a loss of information when the graph is scheduled (task is assumed to be pure), and then invalid results happen.

It seems to be caused due to an attempt to back-propegate the needed columns to read_parquet, and then the task id no

[2019-10-18 03:52] bluecoconut commented on #5502
This seems to be new with the most recent release, so I suspect it was caused by this PR:

https://github.com/dask/dask/pull/5453

Ping for those who were involved in this change and might be able to help identify where this bug came from:

@TomAugspurger @mrocklin @athornton and @timothydmorton

[2019-10-18 05:28] nsmith- opened #5503 "Distributing heavy functions via closures"
Hi,

So I had started investigating usage of heavy functions, e.g. something with large state such as the example below:
[code]

If I send jobs out using the function itself, or a small perturbation of it, it takes quite a while.  I assume there is some bottleneck in function distribution:
[code]
returns 21 seconds on my laptop.  Now, clearly this is a case where broadcasting could help, so I do t

[2019-10-18 12:23] TomAugspurger commented on #5502
Mmm, thanks for the report. This is definately from #5453. Will need to think about this one a bit.

[2019-10-18 12:32] TomAugspurger opened #5504 "Upstream Dev failures"
https://travis-ci.org/dask/dask/jobs/599328572

[2019-10-18 12:34] TomAugspurger commented on #5503
I think the dashboard error was fixed by https://github.com/dask/distributed/pull/3140.

[2019-10-18 13:38] nsmith- commented on #5503
If I read that PR right, it should be in `2.6.0`, which I'm using.
It seems that also the second example snipped fails to render in the bokeh graph tab.

[2019-10-18 14:17] bipsen opened #5505 "Dask: TypeError: __call__() takes 2 positional arguments but 3 were given"
Copy of: https://stackoverflow.com/questions/58449018/dask-typeerror-call-takes-2-positional-arguments-but-3-were-given

I am experiencing this error using Dask. I have no idea about how to go about fixing it, as it doesn't seem to be anything in my code explicitly.

What I am doing is reading a dataframe and using `stanfordnlp` to tokenize a text column, and then take out the `nouns`. It works fi

[2019-10-18 15:33] cjnolet opened #5506 "Data distribution guarantees for CUDA-based multi-node multi-GPU processing"
This is a feature request / discussion issue to outline some problems we are having on RAPIDS cuML and, hopefully, converge on a good solution.

**Problem:** Dask Arrays & Dataframes are assumed to be immutable data structures. As GPU memory is more limited than host memory, users can usually still simulate “in-place” changing of the data structures by assigning transformed instances to previously

[2019-10-18 15:34] TomAugspurger commented on #5505
Does

[code]

work?

[2019-10-18 15:36] cjnolet commented on #5506
Tagging @dantegd

[2019-10-18 17:29] bipsen commented on #5505
I Tom, thanks for the reply. Just before you wrote I found out I could solve the problem with

    df['tagged'] = df['Message'].apply(
        lambda x: process(x, nlp, lang, wp)
        if type(x) == str else '',
        meta=('Message', str))

[2019-10-18 20:59] lukepfister opened #5509 "Deserialization errors when using dask-distributed and Zarr files"
I have a remote server running `dask-scheduler` and a `dask-worker`.  I have a Zarr array on my local machine that I wish to process on the remote server.

The combination of `dask.array.from_zarr` and `dask-distributed` leads to killed workers.  I'm not sure if this is user error or an underlying bug.

The remote & local machines use `dask=2.6, distributed=2.6`, and `zarr=2.3.2`.

MCVE:
[code]
Re

[2019-10-18 22:02] jrbourbeau commented on #5509
Thanks for opening up an issue and providing a nice example @lukepfister. Unfortunately I'm not able to reproduce the error with the following snippet:

[code]

Do your client and workers share the same filesystem?

[2019-10-18 22:10] jrbourbeau commented on #5481
Just checking in here @shashi-netra, could you provide the information @TomAugspurger asked about? It will probably be difficult to debug otherwise

[2019-10-18 22:13] lukepfister commented on #5509
No, they do not share the same filesystem.  I do not have the error using
your snippet-- I believe the fact that the dask-worker is on a remote
machine is key.

On Fri, Oct 18, 2019 at 5:02 PM James Bourbeau <notifications@github.com>
wrote:

[2019-10-19 00:55] mrocklin commented on #5509
If you want to use a Zarr array backed by a filesystem with many machines
then that file will need to be present on all of the machines at the same
location.

On Fri, Oct 18, 2019 at 6:13 PM Luke Pfister <notifications@github.com>
wrote:

[2019-10-19 10:38] shashi-netra commented on #5481
Hi there, apologies for the delayed response. BUt here is the output I get when installing into a new venv

[code]

Upon trying to run the above script:
[code]

[2019-10-19 12:27] mrocklin commented on #5481
It sounds like you want to install the dask-cuda package

    pip install dask-cuda

On Sat, Oct 19, 2019 at 6:38 AM Shashi Kant <notifications@github.com>
wrote:

[2019-10-19 13:14] #5481 closed

[2019-10-21 13:12] crusaderky opened #5514 "Exception chaining (raise Exception() from ...)"
Both dask.multiprocessing and dask.distributed discard the traceback of all but the latest exception in a chain (``raise Exception() from e``).

Full description and POC solution at https://github.com/dask/distributed/issues/3158

[2019-10-21 15:07] lukepfister commented on #5509
Understood.  Is this by design, or a limitation of the current implementation?

[2019-10-21 15:15] quasiben commented on #5504
Is this related to skimage API changes ?

[2019-10-21 15:18] tuxmam opened #5515 "Endless task using dataframe and joblib"
I have an application using joblib for paralelisation. It works fine with the loky backend.
However when I am using the dask backend it does not end most of the time and I have to kill it.

After some experiments it fails when I iterate on the dataframe columns or when I pass the dataframe itself.
The content of the task does not affect behaviour.
It works fine if I use the loky backend or if I us

[2019-10-21 15:23] TomAugspurger commented on #5515
What percent of the time does it fail? Things seem OK with 0.14 (https://github.com/joblib/joblib/pull/914 fixed a few things).

[2019-10-21 15:38] quasiben commented on #5503
I am able to reproduce the TaskGraph -- not sure what is going on but priority looks like the following:

And comparing on None/Tuple is a problem.  I don't have time to look at this more fully but I believe it is a bug

[2019-10-21 15:40] quasiben commented on #5505
It seems like @TomAugspurger has provided a solution (Thanks @TomAugspurger !) and I believe we can close. If i'm mistaken please re-open

[2019-10-21 15:40] #5505 closed

[2019-10-21 15:44] #5426 closed

[2019-10-21 15:46] TomAugspurger commented on #5505
Just to be clear, this would be a bug, but I'm not able to reproduce it with

[code]

[2019-10-21 15:54] TomAugspurger commented on #5504
Looking into it now.

[2019-10-21 17:37] TomAugspurger commented on #5509
Strings without a protocol like `s3://` refer to absolute paths.

[2019-10-21 19:24] #5504 closed

[2019-10-21 19:29] #5509 closed

[2019-10-21 19:43] CJ-Wright opened #5517 "Dask Dataframe not able to read remote file, but local (and pandas) work"
[code]
The combination of dask and a remote read causes the following error:

[code]

I'm not certain what is going on exactly.

[2019-10-21 19:55] quasiben commented on #5517
@CJ-Wright  thanks for the report.   I am able to reproduce.  I initially thought this would be an issue with fsspec but now I am not longer sure.  Can you report the versions of dask, pandas, and fsspec ?  @martindurant do you have time to look at this ?

[2019-10-21 20:06] CJ-Wright commented on #5517
[code]

[2019-10-21 20:18] TomAugspurger commented on #5517
For some reason, we think that the length of the CSV is 0 bytes.

[code]

Most likely, the FRED server isn't responding correctly with the content-length, but I haven't checked.

[2019-10-21 20:21] CJ-Wright commented on #5517
Would pandas fail if the size is 0 as well?

[2019-10-21 20:28] TomAugspurger commented on #5517
Pandas doesn't ask the server for length information.

[2019-10-21 20:31] tilign opened #5518 "DaskMethodsMixin compute does not work with async clients"
Below is a minimal repro
[code]
Gives the error
[code]

It looks like compute has not been changed to deal with the coroutine when the client is asynchronous.  Presumably compute should be a coroutine in that case.

I believe this affects all versions but just in case my environment is:
[code]

[2019-10-21 20:34] CJ-Wright commented on #5517
Ah ok, would it be possible to default to doing what pandas does, if no size is provided?

[2019-10-21 20:39] TomAugspurger commented on #5517
@martindurant would know better, but that's what we do if no size is provided. But from what I can tell the server *is* responding with a size, it's just wrong (saying it's 0)

[code]

ideally we would have a way to completely disable this, but I'm not sure if / how to do that.

[2019-10-21 20:51] quasiben commented on #5518
@tilign thanks for the interest in the async side of dask!  A few things:

1) you can easily create a client with the following:
[code]

No need to go through `LocalCluster` but if you prefer that, that's ok!

2) I think the issue is related to async interface.  It's good to remember that you can await futures directly or you can use the client interface like the following:

[code]

[2019-10-21 21:08] tilign commented on #5518
Thanks for the quick update @quasiben.  As you said:

[code]

Works fine.  In fact I am currently getting around the issue I described above by monkey patching the compute method on the mixin:

[code]

[2019-10-21 21:40] quasiben commented on #5518
@tilign great!  Ok to close ?

[2019-10-22 03:08] samkaufman opened #5519 "infer_storage_options fails with on file paths with two leading slashes."
Calling `dask.bytes.utils.infer_storage_options("//tmp/f”)` returns:

[code]

but I expected it to return:

[code]

[2019-10-22 04:42] shichuzhu opened #5521 "`dask.array.roll` triggers creating a very large numpy array"
* Operating System (Ubuntu 18.04.3 LTS)
 * Python version (3.7)
 * Where Python was acquired (Anaconda)
 * The full traceback/stack trace shown:

Triggered by the following piece of code:
[code]
The exception is due to memory limit. However, I'm wondering why it's trying to create a numpy array (in-memory) of size (25, 10, 29, 20, 90, 360) as indicated?
Stack trace:
[code]

-----------------------

[2019-10-22 07:27] mgsnuno commented on #5488
Closing since not related to Dask.

[2019-10-22 07:27] #5488 closed

[2019-10-22 08:39] tuxmam commented on #5515
Yes it seem to be fixed by updating to joblib 0.14.
Thank you for the quick answer.

[2019-10-22 08:39] #5515 closed

[2019-10-22 13:15] tilign commented on #5518
May I submit a pull request with a fix instead so that others can benefit from the fix and to avoid monkey patching?

[2019-10-22 13:46] quasiben commented on #5518
I think this is currently by design.  @jcrist, if you have time can you comment here ?

[2019-10-22 13:54] quasiben commented on #5519
@samkaufman `infer_storage_options` comes from [fsspec](https://github.com/intake/filesystem_spec/blob/master/fsspec/utils.py#L12-L15) and the bug may need to be fixed there

[2019-10-22 14:06] jcrist commented on #5518
Yeah, we'd need to update `compute` (and I think `persist` as well) to deal with the case when the client as asynchronous. The trick here is we can't import distributed to check, so you'll need to make whatever fix you use do a generic check. You might modify `get_scheduler` to also check the `asynchronous` attribute on the client, and have a separate code path for the async case.

[2019-10-22 14:07] jcrist commented on #5518
In general the methods weren't designed with an async context in mind. I think it makes sense to support this use case, if you'd like to submit a PR I'd happily review it.

[2019-10-22 14:11] quasiben commented on #5521
From the code posted I don't any conversion of the h5py fd to a dask.array.  So it looks likes like you are using dask directly on a non-chunked array ?

To be clear I was expecting to see something like:

[code]

[2019-10-22 14:37] martindurant commented on #5517
That's a new one on me! It could deserve a special case, but size=0 is a valid possibility.

If you give block_size=0, you use normal requests streaming like pandas (*also* requires blocksize=0 csv kwarg to turn off random access)

[2019-10-22 15:10] TomAugspurger commented on #5517
@martindurant can you give an example? `blocksize=0` fails in bytes/core.py for me

[code]

I don't feel great about special casing `0`, as it is a valid response...

[2019-10-22 15:12] martindurant commented on #5517
Sorry, should have been `None`

[2019-10-22 16:50] TomAugspurger commented on #5517
So just `df2 = dd.read_csv('https://fred.stlouisfed.org/graph/fredgraph.csv?id=SP500', blocksize=None)` fails with the same error.

But this worked,

[code]

That doesn't seem like a great user experience though.

[2019-10-22 17:12] martindurant commented on #5517
Agreed, but the solution isn't simple. Perhaps if using files rather than chunks in read_csv, should call fs.cat, which then gives a place to override the usual blocky behaviour.

On October 22, 2019 12:50:19 PM EDT, Tom Augspurger <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-10-22 18:14] TomAugspurger commented on #5506
Can you clarify: do the data become unbalanced across workers as part of a Dask operation, or
is it the result of a user loading in data? If I'm reading from an on-disk file structure
that's unbalanced like

[code]

Then I'd say that's a user issue. They should take care to repartition before calling into cuML,
or work to get better-partitioned files written to Disk.

I don't understand this. That

[2019-10-22 21:13] TomAugspurger commented on #5517
@martindurant can you clarify what you mean by "using files"?

[2019-10-22 21:24] #5521 closed

[2019-10-22 22:57] mrocklin commented on #5519
cc @martindurant

[2019-10-23 03:47] petioptrv commented on #5069
Hi @iamrajhans, are you still working on this? If not, do you mind if I take a crack at it?

[2019-10-23 07:35] iamrajhans commented on #5069
@petioptrv yeah, go ahead.

[2019-10-23 08:54] mgsnuno opened #5525 "dask.distributed client hangs in VSCode"
Assistance request for those using vscode (https://github.com/microsoft/vscode-python/issues/7845):

dask - 2.6.0
vscode - 1.39.2 (latest but version independent)
python extension - 2019.10.41019 (it's tied to this version but vscode team cannot find issue without diving into dask)

## Steps for bug
[code]
- start `Python Interactive` and paste this in input terminal and we get never ending stream

[2019-10-23 09:14] RodrigoNeves95 opened #5526 "Dask creates folder when using dd.read_parquet() on a path that does not exist"
The code should be straightforward to understand. But the problem is that when you try to read a parquet folder that does not exist dask is creating that exact path. I believe this shouldn't happen. Correct me if I'm wrong.

[code]

[2019-10-23 13:44] martindurant commented on #5519
This is a windows network path? I believe it is fixed in fsspec master.

[2019-10-23 13:46] martindurant commented on #5517
Whole files, as opposed to chunks

[2019-10-23 14:49] TomAugspurger commented on #5517
So I think we have two options:

1. Document / request that the user specify `blocksize=None`. And when that's specified, we pass through the right keyword for the backend (for http, I guess we need `block_size=0`).
2. Add length 0 as a special case. When the server responds with Content-Length=0, we treat it as Content-Length=None and don't trust it.

I think 2 is probably the better path forward

[2019-10-23 14:52] TomAugspurger commented on #5525
`Client()` does quite a bit. To narrow this down, can you see if creating a LocalCluster also causes the issue?

[code]

Can you also try with LocalCluster(processes=False)?

[2019-10-23 14:58] TomAugspurger commented on #5526
Is this just with fastparquet, or is does it occur with pyarrow too?

Can you reproduce with just fastparquet and not Dask?

[2019-10-23 15:07] mgsnuno commented on #5525
It also happens with `LocalCluster()`, with `LocalCluster(processes=False)` there are no problems. So it's tied to the processes.

[2019-10-23 15:46] TomAugspurger commented on #5517
OK, I'll make a PR to fsspec with that.

On Wed, Oct 23, 2019 at 9:58 AM Martin Durant <notifications@github.com>
wrote:

[2019-10-23 15:52] CJ-Wright commented on #5517
Thank you very much for all the work on this!

[2019-10-23 20:34] TomAugspurger commented on #5525
It seems to work if you create the client in a `__main__` block

[code]

Can you confirm that?

[2019-10-23 23:29] RodrigoNeves95 commented on #5526
Yes, it only happens with fastparquet backend and I can't reproduce it only with fastparquet.

[2019-10-24 08:45] mgsnuno commented on #5525
It also fails.
If you select the code in a file and use shift+enter to run it, it fails always, with or without `__main__` block.
If you paste the code in the interactive window terminal, it fails less but still fails sometimes. By failing I mean hanging and starting to print the warning messages.

[2019-10-24 08:53] CMCDragonkai opened #5529 "Dask Concatenation of a Series of Dataframes"
I've asked a variant of this question already here: https://stackoverflow.com/q/58498507/582917

And I solved it by doing an `groupby`, then `apply`, and finally `reduction`. (I'd like to know whether that could be combined together into a custom aggregation).

Another problem I have is that `map_partitions` behaves entirely different from `groupby` and `apply`. Intuitively I think that both situa

[2019-10-24 09:23] atulsaurav commented on #2604
@MaxPowerWasTaken Could you please post an example of how to accomplish this using SQLAlchemy expressions?

[2019-10-24 09:31] atulsaurav commented on #2604
@TomAugspurger MPP databases handle a similar situation either by requiring a distribution key (set of columns based on which the data needs to be partitioned/distributed) or defaulting to a hash of unique key for random distribution. If we make at least one of the above parameters mandatory, then it would provide Dask an efficient way to partition the data and related query, ingestion and process

[2019-10-24 11:52] mrocklin commented on #5525
One approach to resolve this problem would be to try to reproduce the error without Dask, and then raise that back on the vscode issue tracker and see if they can help.

You might try creating a process with the `multiprocessing` module, including using the `forkserver` context if necessary (assuming that you are not on Windows)

[code]

[code]

If both of those fail to reproduce the bug then we w

[2019-10-24 11:54] mrocklin commented on #5529
As in that question I asked that you produce a minimal verifiable complete
example.  I've pointed to links on what is requested there.  Do you have
the time to take a few minutes and read over them?

On Thu, Oct 24, 2019 at 4:53 AM Roger Qiu <notifications@github.com> wrote:

[2019-10-24 14:45] TomAugspurger commented on #5525
There's an example in
https://docs.dask.org/en/latest/configuration.html#yaml-files

On Thu, Oct 24, 2019 at 9:40 AM Nuno Gomes Silva <notifications@github.com>
wrote:

[2019-10-24 20:22] TomAugspurger commented on #5363
Should be fixed by https://github.com/dask/dask/pull/5383.

[2019-10-24 20:22] #5363 closed

[2019-10-24 20:23] jrbourbeau commented on #5376
@arundh93 did @TomAugspurger comment "If you create your DataFrame with proper dtypes for the index, you'll get the expected behavior." help resolve your issue?

[2019-10-24 20:24] jrbourbeau commented on #5315
Just checking in here, @Harshitg were you able to get a minimal example?

[2019-10-24 20:25] TomAugspurger commented on #5371
Closing this for now, since scipy doesn't have a broadcasting cholesky. We can revisit if / when that's implemented.

[2019-10-24 20:25] #5371 closed

[2019-10-24 20:26] jrbourbeau commented on #5286
I'm going to close this issue for the time being. @javierfs please feel free to re-open if you're able to produce an reproducible example

[2019-10-24 20:26] #5286 closed

[2019-10-24 20:28] jrbourbeau commented on #5276
@typicalanalytical are you still encountering this behavior? Are you able to provide a minimal example?

[2019-10-24 20:29] jrbourbeau commented on #5268
Just checking in, @muammar were you able to reduce this to a minimal reproducible example (see https://blog.dask.org/2018/02/28/minimal-bug-reports)?

[2019-10-24 20:30] jrbourbeau commented on #5196
I'm going to close this issue for the time being. @ductri please feel free to re-open if you're able to produce a [minimal example](https://blog.dask.org/2018/02/28/minimal-bug-reports)

[2019-10-24 20:30] #5196 closed

[2019-10-24 20:47] jrbourbeau commented on #5190
It appears `npartitions="auto"` isn't currently supported. Running

[code]

outputs the

[code]

@Matthew-gunsuSon is seeing. We should update the docstring to reflect this.

[2019-10-24 20:49] TomAugspurger commented on #5324
Any followup here @hoangthienan95?

[2019-10-24 20:54] TomAugspurger commented on #5349
@landonzweigle SSHCluster was recently refactored. Can you check if the new implementation solves this issue for you?

[2019-10-24 20:58] TomAugspurger commented on #5323
Sorry for the delay @AndreCNF. Could you simplify the report a bit by including the full minimal example in the original post, rather than linking to a zip file?

I wonder if you're running into late binding: https://docs.python-guide.org/writing/gotchas/#late-binding-closures

[2019-10-24 20:58] jrbourbeau commented on #5178
@ywzhang188 in the last line in your example

[code]

I think `apriori(df, use_colnames=True)` is returning a Pandas `DataFrame` with two columns, however `df.assign` needs a `Series` as input.

I don't think this is an issue with Dask.

[2019-10-24 21:02] jrbourbeau commented on #2983
I'm going to close this issue for the time being. @thebeancounter please feel free to re-open if you're able to provide a minimal example (see https://blog.dask.org/2018/02/28/minimal-bug-reports)

[2019-10-24 21:02] #2983 closed

[2019-10-24 21:03] #5190 closed

[2019-10-25 00:53] CMCDragonkai commented on #5529
I did provide the minimal executable example. The code was changed to use an embedded dataset.

[2019-10-25 01:18] CMCDragonkai commented on #5529
The whole code copied from SO is executable just with python3. `python ./test.py`.

[code]

[2019-10-25 07:51] lchara03 opened #5532 "Dask read_csv does not work when file is in local Network"
There is a problem when I try to read a csv file from file in local network.

Using pandas read_csv it works fine. i.e. `pd.read_csv(r'\\localnet\folder\file.csv')` but does not work with dask.dataframe.  I also tried `dd.read_csv(r'file:\localnet\folder\file.csv') `

Thank you

[2019-10-25 13:47] TomAugspurger commented on #5532
cc @martindurant.

@lchara03 what scheduler are you using? Do you create a `Client`, or are you just using the default threaded scheduler?

Can you set

[code]

and post the traceback of `dd.read_csv("path/to/file")`?

[2019-10-25 13:51] TomAugspurger commented on #5529
Thanks. Do you think that's a minimal example, or can it be narrowed down further?

If it's already minimal, I can try to make time to look at it next week. But it looks quite complex still so I'll need to make time. http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports may have some hints on how to simplify things. At a glance, I don't see an expected output.

[2019-10-25 13:54] martindurant commented on #5532
This should be fixed in fsspec master. Please try it.
If so, we should probably release it.

[2019-10-25 17:56] ahirner opened #5533 "Dataclass traversal breaks delayed __init__ and __post_init__"
We use `dataclasses.dataclass` to instantiate resources. Since ____ , they are traversed and rebuilt on `delayed`. This causes not being able to:
1) delay `__init__` and
2) re-invokation of `__post_init__` .

[code]
_dask 2.6 (and also on 2.2)
python 3.6.7 with dataclass backport_

I think we can work around by delaying collections with dataclasses separately. However, I'm not sure if there are mo

[2019-10-25 20:11] TomAugspurger commented on #5533
cc @aberres and @jcrist if you have thoughts.

[2019-10-25 20:38] jcrist commented on #5533
Hmmm, interesting. Problem 1 is a bug and should be fixed. You can work around it for now by delaying a function constructor instead of calling `delayed` on the dataclass constructor itself.

Problem 2 is odd. We currently traverse dataclasses for sub-dask objects as we do for other simple python objects (tuples, lists, dicts, sets). The assumption being that dataclasses aren't expensive to recons

[2019-10-25 23:00] landonzweigle commented on #5349
Hi! Sorry, I totally forgot about this issue (I circumvented the issue).
I have updated to 2.6.0. When running:
[code]
the workers still seem have the default priority. This refactor doesn't seem to have solved my problem. Any ideas?

[2019-10-25 23:20] mrocklin commented on #5349
For general awareness, the new SSHCluster isn't connected to the dask-ssh
CLI.  There wasn't a trivial way to keep the old CLI keywords, so I've left
this for now.  The old implementation is still around for this.

(Landon, this doesn't concern you, I mostly wanted Tom to be aware)

On Fri, Oct 25, 2019 at 4:00 PM landonzweigle <notifications@github.com>
wrote:

[2019-10-25 23:21] mrocklin commented on #5349
My comment from before probably still holds.

It would be good if someone investigated the behavior of nice and the Python `multiprocessing` module.  It doesn't look like this is anyone's priority, so I expect that this issue will probably linger for a while.  @landonzweigle , if you have time to investigate this, that might be your fastest path to success.

[2019-10-25 23:59] landonzweigle opened #5535 "SSHCluster worker_options={"nprocs":___} option unknown."
As implied in the title, I am getting an error when I pass "nprocs" into worker_options. The error is:
`ValueError: Class distributed.worker.Worker does not support keyword nprocs`
I also get this error for the scheduler for "tls-ca-file".
Correct me if I am wrong, but isn't worker_options a dictionary where the keys are the options given from `dask-worker --help`, therefore "nprocs" and "tls-ca-f

[2019-10-26 14:39] landonzweigle commented on #5535
After not being a moron I realize that I should be looking at [this](https://distributed.dask.org/en/latest/worker.html#api-documentation). Sorry for the noise!

[2019-10-26 14:39] #5535 closed

[2019-10-28 01:35] CMCDragonkai commented on #5529
What's complex about it? The only thing that's non-dask is my `apportion_pcts` function which has nothing to do with the problem. That's just the setup. The problem is just about concatenating a series of dataframes.

I ended up solving it with:

[code]

[2019-10-28 09:04] mgsnuno commented on #5525
[code]

Nothing new, still the same warning messages

[code]

@mrocklin more complex things to run?

[2019-10-28 09:56] ahirner commented on #5533
Thanks for the quick response.
I can make a PR for problem number 1. I'd suggest to have something like `is_dataclass_obj` in `compatibility.py `.

After all, explicitly delaying collections with `dataclass`es is not the worst. I imagine this to be a general use case tough, e.g. when some work like [validation](https://pydantic-docs.helpmanual.io/usage/dataclasses/) has been put into. Maybe mentio

[2019-10-28 17:13] TomAugspurger commented on #5525
Perhaps a small tornado hello world application?

If that doesn't hang, then you may want to poke around where dask and
jupyter interact (this is only after
VSCode changed something jupyter-related, right?).

This sounds somewhat similar to
https://github.com/dask/distributed/pull/2343.

On Mon, Oct 28, 2019 at 4:04 AM Nuno Gomes Silva <notifications@github.com>
wrote:

[2019-10-29 10:57] rizwanishaq opened #5538 "how the dask vstack and concatenate works, as it is making problems?"
suppose, I have this code,
`import dask.array as da
models= da.random.random((2000000,256),chunks=(1000000,256))
models
`
when I run this, it gives me
               Array	Chunk
Bytes	4.10 GB	2.05 GB
Shape	(2000000, 256)	(1000000, 256)
Count	2 Tasks	2 Chunks
Type	float64	numpy.ndarray

I then again tried this
`
models = da.vstack([models, [np.random.randn(256)]])
models
`

	           Array	Chunk

[2019-10-29 11:49] TomAugspurger commented on #5538
Why do you expect two chunks in the final output?

You can inspect the dask graph

[code]

I'm not sure if that can be improved (I suspect not), but in general a single function call will not align with a single new task.

[2019-10-29 12:14] rizwanishaq commented on #5538
Number of Chunks we can control with rechunk(), but number of task, I don't know, how to controle, issue, suppose, I concatenate 1000 times, the number of task counts increase, and processing get slower and slower. Any solution i.e. that, number of tasks stay same?

[2019-10-29 14:04] trexfeathers opened #5540 "Cross-Chunk Slicing Memory Error"
My team's userbase of scientists often need to slice data in shapes that result in each slice touching high numbers of the source data's chunks. This causes sub-optimal memory usage by Dask - see [Specifying Chunk shapes](https://docs.dask.org/en/latest/array-chunks.html#specifying-chunk-shapes) in the documentation. In some examples this is causing memory errors, and unfortunately the users have

[2019-10-29 15:08] #5478 closed

[2019-10-29 15:12] jrbourbeau commented on #5315
Closing this issue for now. @Harshitg please feel free to re-open if you're able to update with a minimal reproducible example.

[2019-10-29 15:12] #5315 closed

[2019-10-29 15:12] jrbourbeau commented on #5276
Closing this issue for now. @typicalanalytical  please feel free to re-open if you're able to update with a minimal reproducible example.

[2019-10-29 15:12] #5276 closed

[2019-10-29 15:13] jrbourbeau commented on #5268
Closing this issue for now. @muammar please feel free to re-open if you're able to update with a minimal reproducible example.

[2019-10-29 15:13] #5268 closed

[2019-10-29 15:25] TomAugspurger commented on #5538
Anything else to do here @rizwanishaq?

Going back to the original question of "how do these work?" you can see the source at, e.g. https://github.com/dask/dask/blob/0871699c0e4b021fca4a3104042d1adf7c5fd5d5/dask/array/core.py#L3353, but I'm not sure how helpful that will be.

[2019-10-29 15:26] TomAugspurger commented on #5529
So you found a workaround @CMCDragonkai? Anything else to do here?

[2019-10-29 15:28] TomAugspurger commented on #5519
@samkaufman can you try with fsspec master (https://github.com/intake/filesystem_spec/)?

[2019-10-29 15:45] typicalanalytical commented on #5276
Sorry I will try to create MCVE and re-open.  Thanks.

[2019-10-29 15:56] rizwanishaq commented on #5538
I am experimenting with it, and you can see, I have example like,
models = np.random.randn(1000000,256), suppose, it doesn't fit in the memory, so I am using
models = da.random.randn((1000000,256), chunks=(10000,256), it is totally, ok, it works amazingly well, but my concern after that, I continually, updating this models, i.e. by
 models = da.vstack([models, np.random.randn(256]).rechunk(1000000

[2019-10-29 16:03] jrbourbeau commented on #5276
Sounds good, thanks @typicalanalytical

[2019-10-29 16:56] TomAugspurger commented on #5468
@fgadaleta were you able to debug this any further?

[2019-10-29 20:46] samkaufman commented on #5519
@martindurant It is not. It’s a good ol’ POSIX path with two leading slashes.

@TomAugspurger Just did. It still exists.

Closing this now in favor of [fsspec issue #164](https://github.com/intake/filesystem_spec/issues/164).

[2019-10-29 21:17] emlazzarin commented on #4869
`nunique` is still slow and memory-intensive on multi-column groupbys in Dask, and seems somewhat challenging to resolve. Maybe extending `nunique_approx` to groupbys on DataFrames would handle many of these cases?

[2019-10-30 01:14] mikedeltalima commented on #4275
@mrocklin If no one else is working on this, I'd like to help with the first two tasks you mentioned.

[2019-10-30 01:34] #5519 closed

[2019-10-30 04:43] mrocklin commented on #4275
Welcome @mikedeltalima . This issue appears to still be open and unresolved.  If you want to tackle it then that would be great!

[2019-10-30 10:29] rizwanishaq commented on #5538
Find the solution, by doing
models = da.vstack([models, np.random.randn(256]).rechunk(10000,256).persist()
Still need to have a look on the RAM usage, but, I suppose, it will persist on cluster RAM. And it is now faster a lot. Still make experiments...

[2019-10-30 11:48] nikhilbankar19 opened #5541 "Add variance inflation factor (VIF) feature to identify multicollinearity within dataset"
Thank you for reporting an issue.

Please read the following guidelines to ensure that your issue is handled
properly.  If you have a ...

1.  **General Question**: like *"How do I filter a dask.dataframe?"* then
    please consider asking the question on Stack Overflow using the #Dask tag.

    Please do not ask a question in both locations.

    If you think that you have run into a bug or have

[2019-10-30 15:32] theSekyi opened #5542 "dd.read_parquet adds an extra column dir0"
I have a multiple parquet files in difference directories

[code]
Each file contains columns `A,B,C`

I wanna read all this files so I do a

`ddf = dd.read_parquet(paths).drop_duplicates()`

However, `ddf` contains columns `A,B, C and dir0`. `dir0` contains names of the folders
from which each path in `paths` was read.

Reading each individual file in `paths` contains no `dir0` columns.

How do I

[2019-10-30 16:15] jrbourbeau commented on #5542
I suspect `dd.read_parquet` is using the Drill scheme for this set of input files (based on this test https://github.com/dask/dask/blob/0871699c0e4b021fca4a3104042d1adf7c5fd5d5/dask/dataframe/io/tests/test_parquet.py#L1273)

@martindurant is that correct? Is there a way to manually specify the scheme used?

[2019-10-30 19:03] TomAugspurger opened #5543 "Hide nbytes in HTML repr with sparse blocks?"
The `nbytes` reported by the HTML array repr is incorrect with we have sparse blocks inside an array.

This issue was discussed in https://github.com/dask/dask/issues/5313. In general, knowing the `.nbytes` correctly isn't possible with sparse blocks. I think we should not include the memory usage when the `_meta` is sparse.

<table>
<tr>
<td>
<table>
  <thead>
    <tr><td> </td><th> Array </th><t

[2019-10-30 19:04] mrocklin commented on #5543
This sounds good to me.  What would the check here be, `"sparse" in `typename(x)`?

[2019-10-30 19:23] jrbourbeau commented on #5543
That seems like a reasonable check. We should also use `dask.utils.typename` in the HTML repr, I don't think we currently are

https://github.com/dask/dask/blob/0871699c0e4b021fca4a3104042d1adf7c5fd5d5/dask/array/core.py#L1269-L1270

[2019-10-30 19:30] jrbourbeau commented on #5541
@nikhilbankar19 could you elaborate on this more? For example, is there an existing routine in NumPy or Pandas this corresponds to?

[2019-10-30 19:34] jrbourbeau commented on #5538
Glad you found a solution that works for your use case @rizwanisha! Is there anything else to do here? Otherwise I'm inclined to close this issue

[2019-10-30 19:47] jrbourbeau commented on #4869
@emlazzarin I believe that's what was proposed in #1821. Is that something you have any interest in working on? (no obligation though)

[2019-10-30 19:57] rabernat opened #5544 "chunks get combined in 4d array reshape"
I want to reshape a 4D dask array in such a way that I expect should preserve the original chunk structure. I am finding that `reshape` is instead rechunking my array in a non-optimal way.

Things work as expected in 3D:
[code]

![image](https://user-images.githubusercontent.com/1197350/67893356-d90ab080-fb2c-11e9-9b05-3938df254d4c.png)

The chunks simply get stacked into a single column. Examinin

[2019-10-30 20:31] TomAugspurger commented on #5544
I think your intuition that the intermediate rechunk-merge and split / reshape can be avoided is correct. The trick is probably to figure out when the output chunks align with the input chunks.

If no one beats me to it, I can take a look next week.

[2019-10-30 21:38] jrbourbeau commented on #5540
Thanks for opening up an issue @trexfeathers. Do you have any thoughts on what a general solution may look like? That could be useful in helping guide any further discussion. You may also consider commenting on #3595 to see if others on that thread have made any progress since the original conversation took place

[2019-10-30 21:42] jorisvandenbossche commented on #5438
After thinking some more about this, I think a lot of the value will actually come from smart spatial-aware partitions.
(which doesn't mean the basic integration isn't useful of course)

[2019-10-31 00:59] mrocklin commented on #5544
I'm curious, if the order of the dimensions is flipped then does this problem persist?  I.e. (5, 20, 20) -> (5, 400)?

[2019-10-31 01:00] mrocklin commented on #5544
My guess is that the implicit C-ordering of data might make the intermediate reshaping actually necessary in some cases, even if we don't care in this case.

[2019-10-31 01:53] rabernat commented on #5544
It's the same. Same number of tasks and graph structure.

[2019-10-31 22:04] #5517 closed

[2019-10-31 22:46] CJ-Wright commented on #5517
Thank you so much for your work on this!

[2019-10-31 23:02] birdsarah opened #5547 "Implement nunique (and all supported methods) on Resampler"
`df.resample('1d').nunique()` returns `AttributeError: 'Resampler' object has no attribute 'nunique'`

However, following the code in `/dask/dataframe/tseries/resample.py`  `df.resample('1d')._agg('nunique').compute()` works as expected.

This is a feature request to update Resampler class with all supported methods.

[2019-10-31 23:30] birdsarah opened #5548 "Add API docs for Resampler class"
This may be a discoverability issue but I could not find API docs for the Resample class at https://docs.dask.org/en/latest/dataframe-api.html or https://docs.dask.org/en/latest/api.html

![Screenshot from 2019-10-31 18-03-15](https://user-images.githubusercontent.com/1796208/67992897-8bfe0b80-fc0c-11e9-8def-76838757601a.png)

---

Separately, but relatedly, I find the information architecture aro

[2019-10-31 23:54] mrocklin commented on #5540
One grand solution to this problem is to have a higher level numpy-like library that could capture all of the users operations, and then optimize those calls accordingly for things like chunk structure.  Unfortunately, dask array doesn't have any mechanism for something like this today.  There has been some talk about doing some lightweight version of this with the new [high level graphs](https://

[2019-10-31 23:58] mrocklin commented on #5540
If I had a person to work on this problem for six months I would suggest that they make another numpy-like library that captured a call graph of all of the operations, and then a bunch of routines to optimize around that structure.  Users would use that, and that would then lower down to dask array.

At one point I made a small prototype of this, but I can't find it now.  I imagine it's on some gi

[2019-11-01 02:43] isaac-you opened #5549 "Is there any method to calculate batch linear regression in GPU efficiently???"
[code]

[code]

[2019-11-01 02:43] isaac-you commented on #5549
I have written a cpu version of such calculate problem, but cpu version is still slow.

[code]

The np.linalg.solve is most efficient method in cpu version.
But If I have a Nvidia 2080Ti
And how can I broadcast the loop of massive regressions into GPU.
Or is there any method to calculate massive regressions in GPU ???
Thank you so much.

[2019-11-01 09:35] fgadaleta commented on #5468
Yes it seems to work. Thanks

[2019-11-01 09:35] #5468 closed

[2019-11-01 14:43] mrocklin commented on #5549
This seems like a question about Numba.  Did you mean to raise this there?

[2019-11-01 15:36] landmanbester opened #5550 "Key error in blockwise when align_arrays=False"
I am using dask-2.6.0. The following code

import dask.array as da
from dask.array import blockwise
import numpy as np

out_shape = ("row", "chan", "corr1", "corr2")
model_shape = ("row", "chan", "dir", "corr1", "corr2")
jones_shape = ("row", "ant", "chan", "dir", "corr1")

ants = da.zeros(10)
jones = da.zeros((10, 7, 16, 2, 2))
model = da.zeros((10, 16, 1, 2, 2))

blockwise(lambda x: x, out_shape

[2019-11-01 16:10] jrbourbeau commented on #5547
That seems reasonable, thanks for opening up a feature request @birdsarah! Linking to the `Resampler` API docs in pandas for reference https://pandas.pydata.org/pandas-docs/stable/reference/resampling.html

[2019-11-01 16:29] jrbourbeau commented on #5548
Thanks for pointing this out @birdsarah. Addressed over in #5551

[2019-11-01 21:15] magehex opened #5552 "Implement cross_val_score"
Hello,

could you please implement cross_val_score

[2019-11-01 21:24] quasiben commented on #5552
@magehex glad to see your interest in dask.  Could you be a bit more descriptive in what you are asking here ?  Possibly write down some pseudo code ?

[2019-11-01 21:42] magehex commented on #5552
Thank you for your answer @quasiben . You could have a look at https://github.com/dask/dask-ml/issues/578
That is what I want to do.

[2019-11-01 21:57] jrbourbeau commented on #5552
@magehex let's continue this conversation over in https://github.com/dask/dask-ml/issues/578

[2019-11-01 21:57] #5552 closed

[2019-11-01 23:50] #5548 closed

[2019-11-02 15:03] isaac-you commented on #5549
Sorry wrong place to ask.
And I just want to find a method to do massive regression simultaneously in GPU.
Thank you so much.

[2019-11-02 15:18] jrbourbeau commented on #5549
Closing in favor of https://github.com/numba/numba/issues/4771

[2019-11-02 15:18] #5549 closed

[2019-11-02 18:57] samuelkampa opened #5555 "Note on `Add x.str.cat (#3028)` (lines 125-126)"
It's not clear to me why `String.str.cat` isn't supported in Dask when `others == None`. Not having the ability to concat a single series into a string is a significant cost, I think. Unless there's a reason for this condition, I recommend deleting lines 126-126.

[2019-11-03 14:26] TomAugspurger commented on #5555
Do you have a minimal example of the input for a `.str.cat` with a dask series would be?

What would the return type be?

And the result is a single string, right? Should we assume that string fits in memory?

[2019-11-03 18:42] jrbourbeau commented on #5541
Just checking in here, @nikhilbankar19 could you please provide some more background / context for this request

[2019-11-03 18:49] jrbourbeau commented on #5529
Just checking in here, @CMCDragonkai is there anything else to do for this issue? Otherwise I'm inclined to close it

[2019-11-03 18:52] jrbourbeau commented on #5532
Just checking in here, @lchara03 did using the current `master` branch of `fsspec` resolve this issue?

[2019-11-03 19:10] #5543 closed

[2019-11-03 21:57] CMCDragonkai commented on #5529
I worked around it. So there's no direct solution to the OP?

On 4 November 2019 05:49:40 GMT+11:00, James Bourbeau <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-11-04 06:29] alphahmed opened #5557 "dask.dataframe.head(n) method results in no rows."

[2019-11-04 06:35] alphahmed commented on #5557
Passing head(n) method to a dask dataframe which is a product of another dataframe(s), like join( ) results in empty dataframe with zero rows and an error message of not sufficient elements to display.

Iterating through the index elements provides results:
``
df3 = df1.join(df2)

display(df3.head(5))

UserWarning: Insufficient elements for `head`. 5 elements requested, only 0 elements available.

[2019-11-04 15:31] jrbourbeau commented on #5557
Thanks for opening an issue @alphahmed, are you able to produce a minimal example? (see https://blog.dask.org/2018/02/28/minimal-bug-reports for reference)

[2019-11-04 16:17] samuelkampa commented on #5555
Where `others == None`, `String.str.cat` in Dask should be isomorphic with `String.str.cat` in Pandas. For example:
[code]
The result would indeed be a single string. We should assume that the string fits in memory.

[2019-11-04 16:22] jrbourbeau commented on #5555
@samuelkampa any interest in submitting a PR?

[2019-11-04 16:30] jrbourbeau commented on #5557
Is this the type of behavior you're running into?

[code]

Where you expecting different behavior for an empty DataFrame?

[2019-11-04 17:48] samuelkampa commented on #5555
Just submitted a PR. Thanks!

[2019-11-05 00:22] jrbourbeau commented on #5529
I personally haven't been able to dive into your example yet and am not likely to be able to in the near future

If you have any concrete suggestions for what you would like to see, please feel free to open up a separate issue regrading proposed API changes / additions

[2019-11-05 01:30] dickreuter opened #5560 "Introduce a pylint test for coding standards and docstring enforcement"
Dask is an amazing project, but it's relatively hard to contribute because there appears to be absolutely no coding standards, nor an enforcement of any kind of docstring. It might be helpful to add a pylint test (e.g. something like [this](https://github.com/dickreuter/neuron_poker/blob/master/tests/test_pylint.py)). For example scheduler.py it suggests the following:

[code]

[2019-11-05 01:53] mrocklin commented on #5560
Moving this to dask/dask

@dickreuter , you may want to look at https://docs.dask.org/en/latest/develop.html#code-formatting for our current linting.

[2019-11-05 01:57] mrocklin commented on #5560
Please be aware that negative comments like these regularly lead to maintainer burnout.  I encourage you to try to keep a positive tone.

Thanks!  That helps!

[2019-11-05 02:06] dickreuter commented on #5560
Don't want to cause any burnout. Will help where I can ;) Keep up the good work!

[2019-11-05 02:06] #5560 closed

[2019-11-05 02:31] mrocklin commented on #5560
To be clear, suggesting that Dask about pylint is perfectly reasonable.  My
concern was just about tone, which often we forget about when communicating
with people through text on the internet.

On Mon, Nov 4, 2019, 6:06 PM Nicolas Dickreuter <notifications@github.com>
wrote:

[2019-11-05 09:25] dickreuter commented on #5560
Yes that makes totally sense.

[2019-11-05 14:38] Ahrimanox opened #5561 "dd.read_csv : Skip csv files for those pandas fails"
Hi,
I don't know if this is the best place to ask about that.

I read a bunch of CSV files with dd.read_csv.
Some of them are malformed, non standard or just have bad date format.

This could lead to a dd.read_csv fail just because pandas failed to read one (or more) of them.
Is there a way or an option for dd.read_csv to skip files that couldn't be loaded by pandas ?

At that day, I have to try r

[2019-11-05 15:59] rsignell-usgs commented on #5105
I now have a workaround for this issue which works quite well.   My use case was using xarray to read a large collection of netcdf files, then rechunking and writing to zarr.   Instead of letting dask try to manage the whole thing, I just step through the dataset one output time chunk at a time, and use the xarray append functionality.   This way my dask workers stay busy reading/rechunking/writin

[2019-11-05 16:02] jrbourbeau commented on #5561
Thanks for opening an issue @Ahrimanox!

Not that I'm aware of. If you know ahead of time which csv files pandas has issues with, you can pass `dd.read_csv` a list of files which you know aren't malformed, etc.