[2019-05-08 14:50] Mr-Jree commented on #4769
Hmm.. so we can't determine what's causing the error?

[2019-05-08 17:02] scottwsides opened #4783 "dask workers in different directories"
Thank you for reporting an issue.

Please read the following guidelines to ensure that your issue is handled
properly.  If you have a ...

1.  **General Question**: like *"How do I filter a dask.dataframe?"* then
    please consider asking the question on StackOverflow using the #Dask tag.

    Please do not ask a question in both locations.

    If you think that you have run into a bug or have a

[2019-05-08 17:04] scottwsides commented on #4783
I'm using dask workers to monitor jobs running in background. I submit the actual jobs with a submit script (sh or PBS). The dask workers monitor if jobs are complete. I need the functions that dask is monitoring to change directory... but this seems to be confusing other threads that are trying to change directory when another thread has already changed directory. Can threads work in different di

[2019-05-08 18:02] martindurant commented on #4783
The concept of "current working directory" is process-wide. You would be better off using absolute paths.

[2019-05-08 18:08] scottwsides commented on #4783
Gotcha. I've refactored appropriately. You can close issue. Thanks!
*Dr. Scott W Sides*
(303) 718-7028

On Wed, May 8, 2019 at 12:02 PM Martin Durant <notifications@github.com>
wrote:

[2019-05-08 18:10] #4783 closed

[2019-05-08 21:15] jrbourbeau commented on #4781
Closing as `dask` 1.2.2 and `distributed` 1.28.0 are on PyPI and conda-forge

[2019-05-08 21:15] #4781 closed

[2019-05-08 21:18] mrocklin commented on #4781
Thanks for managing the release @jrbourbeau !

[2019-05-08 21:42] jcrist commented on #4782
Thanks for the excellent reproducible issue example. This passes fine on the latest releases of dask and distributed, I suspect that https://github.com/dask/distributed/pull/2505 provided the fix. Closing.

[2019-05-08 21:42] #4782 closed

[2019-05-08 21:54] jrbourbeau commented on #4781
Thanks for walking me through it!

[2019-05-08 22:19] cicdw opened #4784 "Environment variables are not being picked up"
It appears that CLI environment variable behavior is different in the newest release of `dask` 1.2.2.

Specifically, if you set up an environment with `distributed==1.28.0` and `dask==1.2.1`, the following commands work as expected:
[code]

However, if you upgrade to `dask==1.2.2`, an error is raised, suggesting that the environment variable is not being picked up correctly:
[code]

This environme

[2019-05-08 22:21] cicdw commented on #4784
I assume this is being caused by [this commit](https://github.com/dask/dask/commit/cd1acd64afd9ad48c3068ef46f2c11e8299d2e3e)?

[2019-05-08 22:41] GTimothee opened #4785 "trivial improvement of dask's local.py documentation"
Hi everyone,
I just wanted to be sure that there is no documentation error in the "local.py" file.
It is written line 333 that : "We hope that this first-in-first-out policy reduces memory footprint"
However, everywhere else it is written that Dask is using a LIFO policy. Is it just a mistake or is it FIFO in this file ?
Excuse me in advance if it is a misunderstanding from me.
Regards,
Tim

[2019-05-08 23:28] #4685 closed

[2019-05-09 01:28] jrbourbeau commented on #4784
Thanks for the report @cicdw, I'm able to reproduce. The issue is arising here

https://github.com/dask/distributed/blob/1b32bd30201ef6ced5029180143d2c37b393b586/distributed/cli/dask_worker.py#L210-L212

After the changes in #4742, the `DASK_SCHEDULER_ADDRESS` environment variable gets added to `dask.config.config` with the key `scheduler_address` instead of `scheduler-address`. Perhaps we should

[2019-05-09 01:34] jcrist commented on #4784
Yeah, that's a bug in how distributed is using `dask.config`. No code should ever work with the raw `config` dict, but instead use the accessor methods. Would either of you care to make a PR changing this?

[2019-05-09 01:35] jrbourbeau commented on #4784
I'm on it now

[2019-05-09 02:46] jrbourbeau commented on #4784
Hmmm looks like `distributed.config.get` isn't agnostic to hyphen/underscores

[code]
[code]

[2019-05-09 03:00] jcrist commented on #4784
That's the raw dict again (look at `type(config)`). You should just use `dask.config.get`.

[2019-05-09 03:43] quickpanda commented on #4782
great! Thanks!

[2019-05-09 05:32] cicdw commented on #4784
Awesome, just getting back and seeing this - thank you both!  It looks like https://github.com/dask/distributed/pull/2676 is headed in the right direction, but let me know if I need to chip in anywhere and I'd be happy to.

[2019-05-09 12:40] martindurant commented on #4785
such as where?

[2019-05-09 13:03] mrocklin commented on #4784
That PR is now in.  We should probably push out a bugfix release.

One concern is that I just merged a few breaking changes, and was hoping to let them simmer a while, but things are probably ok anyway.

[2019-05-09 13:50] GTimothee commented on #4785
"After several other policies we find that the policy of last in, first out is surprisingly effective." in the paper of Dask Array for example

[2019-05-09 13:52] martindurant commented on #4785
Would appreciate a link to this.

One thing to keep in mind when considering scheduling policies, is that the graph describe dependencies: later tasks often depend on former ones and simply cannot be scheduled before them.

[2019-05-09 13:55] GTimothee commented on #4785
Sure,

"To keep the memory footprint small, we choose to keep ready-to-run tasks in a last-in-first-out stack such that the most recently made available tasks get priority." https://docs.dask.org/en/latest/shared.html?highlight=last%20in%20first%20out

At this stage we choose the policy of “last in, first out.” That is we choose the task that was most recently made available, quite possibly by the

[2019-05-09 14:06] martindurant commented on #4785
I think the right reference is https://distributed.dask.org/en/latest/scheduling-policies.html#first-come-first-served-coarsely - there is a difference between what is done at the fine grained level within the workers and threaded scheduler (LIFO) and what happens to tasks as they come in from clients (FIFO).

I see that in fact I have been confused too - there is more than one local.py! The one y

[2019-05-09 14:30] guillaumeeb commented on #4769
Historicaly, when seeing this error on Dask distributed, it could mean that your worker has run out of memory and has to restart, but this may not be the case anymore. Do you see something memory related?

[2019-05-09 14:31] GTimothee commented on #4785
So in dask.local it is not a mistake, it is using FIFO, right ?

[2019-05-09 14:35] martindurant commented on #4785
Excuse me if I'm not being clear :)

I believe the text is wrong and should be LIFO ( cc @mrocklin , to be certain)

[2019-05-09 14:37] mrocklin commented on #4785
Dask task scheduling is a bit more complex than LIFO vs FIFO, but yes, LIFO
is more correct and a good first approximation.

On Thu, May 9, 2019 at 9:35 AM Martin Durant <notifications@github.com>
wrote:

[2019-05-09 14:40] jrbourbeau commented on #4784
Just to clarify, we're okay doing a bugfix release for `distributed` today? If so, I'm happy to manage it

[2019-05-09 14:42] GTimothee commented on #4785
OK thank you very much for your help :) !

[2019-05-09 14:42] #4785 closed

[2019-05-09 14:43] mrocklin commented on #4784
In my ideal world we would `git checkout v1.2.2`, then apply your patch, and then push that to PyPI, ignoring the commits that were recently merged since the last release.  We would then not merge this into to mainline (it's already there in the future).

However, I don't know if this approach has negative consequences down the line (Dask has always had a strictly linear history).  cc @jakirkham,

[2019-05-09 15:40] cicdw commented on #4784
I'm sure this affects others, but FWIW we are able to temporarily work around this.

[2019-05-10 09:55] crepererum opened #4789 "Feature Request: Pre-post task hooks"
# Abstract
I would like to request that dask (and therefore distributed) support pre-/post-task hooks. These are functions that can be executed before/after a node of the computation graph is executed on the target system (subprocess, distributed worker).

# Applications
- logging
- debugging
- interpreter state clean-up / preparation
- sending out prometheus data via push protocol

# Technical De

[2019-05-10 13:31] markojurkovic opened #4790 "IndexError when doing compute() on a filtered Dask Array"
I have a Dask `Array` (one-dimensional) called `feat_arr` which holds values of some feature (`float64` values). It gets created by filtering out a column of a Dask `DataFrame` called `feature_dataframe`. I also have a (one-dimensonal) NumPy `ndarray` called `scores_` which is the same size as `feat_arr`. I use that array to filter out values from `feat_arr`, like so:

    feat_arr = feature_dataf

[2019-05-10 14:08] martindurant commented on #4790
Can you please provide more details or otherwise try to narrow down your problem, in a way that we can replicate and thus help solve? The following, seemingly similar situation works fine:
[code]
(produces the expected array of about 50 elements, with only positive values)

[2019-05-10 15:50] GTimothee commented on #1317
As this issue is still open, can I take my chance of optimizing some of these functions ?

[2019-05-10 17:59] jcrist commented on #4789
This is already doable with [scheduler plugins](https://distributed.readthedocs.io/en/latest/plugins.html), which provide a general way to hook into the scheduler for custom feedback. I suspect the information exposed in the `transition` method would be sufficient for your usecase.

[2019-05-11 10:22] crepererum commented on #4789
@jcrist scheduler plugins only run on the scheduler, not on the worker, or do I misunderstood that? Use cases listed above (e.g. prometheus metric push and interpreter cleanup) would require the code to be executed on the worker.

[2019-05-11 20:21] quancore commented on #4511
I am facing a similar issue on dask-yarn. See: https://github.com/dask/dask-yarn/issues/64

[2019-05-13 07:29] markojurkovic commented on #4790
I really don't know what additional details to provide, since the two lines of code and the description in the original post are really all there is to the lifecycles of those variables. Is there anything specific that you would like me to provide? Could it be that your examples works because you use the `from_array` method and specify the number of chunks explicitly?

[2019-05-13 14:11] pentschev commented on #2561
Another example:

[code]

Here again, using trivial chunks functions properly.

[2019-05-13 14:15] mrocklin commented on #2561
Yes, the reshape function only works in certain situations.  See limitations here: https://docs.dask.org/en/latest/array-api.html#dask.array.reshape

[2019-05-13 14:27] pentschev commented on #2561
Alright, it didn't occur to me checking that before, thanks for the link. Allowing other cases (such as keeping the same number of dimensions) something that we want to tackle in the future? If not, I'd suggest either closing this issue or perhaps adding a few checks in the code to give the user a reason for particular cases.

[2019-05-13 14:29] mrocklin commented on #2561
No strong thoughts from me on this

[2019-05-13 14:50] mrocklin commented on #4784
OK, this is affecting other people now (this came up I think in the pangeo gitter chat).  As mentioned a couple comments above I'd like to issue a bugfix release using only this commit on top of the last release.  This won't be in the mainline history.  @jakirkham at one point when I suggested doing this before you raised concerns, but I admit I don't recall them.  Is this going to cause some havo

[2019-05-13 14:57] TomAugspurger commented on #4784
@mrocklin IIRC we did this for 0.17.5: https://github.com/dask/dask/issues/3503. I don't think it caused any issues.

[2019-05-13 15:55] jcrist commented on #4789
I'm not sure what you mean by prometheus metric push, but if you're just trying to push a log every time a task completes, a scheduler plugin may be sufficient. For running code actually on the workers you'd currently need to implement this by wrapping a task. You'd have two options here:

- Implement this as an optimization pass that transforms all tasks to whatever you need. Here's a simple impl

[2019-05-13 16:34] TomAugspurger commented on #4694
@jakirkham can you publish the calendar invite, so new maintainers can subscribe to it?

[2019-05-13 17:41] jakirkham commented on #4784
If this an active discussion can I ask that we please reopen it (am also asking this for future cases like this), it appears I’ve missed a few pings here and it’s most likely because it was closed.

[2019-05-13 17:56] mrocklin commented on #4784
Yes.  I've reopened (and please feel free to reopen issues yourself in the future).

[2019-05-13 18:28] jakirkham commented on #4784
Sure, just asking as a matter of procedure that we reopen issues if we think there is still something actionable. Happy to do my part in this as well. Otherwise people (including myself) are likely to miss that there is something to do. Thanks in advance 🙂

[2019-05-13 18:32] jakirkham commented on #4784
Branching out for a patch release seems fine to me. I think projects that do branches for different versions (e.g. NumPy) usually branch at every minor release. Though their release process may be a bit too complex for our needs.

As we are using versioneer, it is nice to merge the patch release back into the history so versioneer gets the version correct on mainline.

[2019-05-13 18:35] jakirkham commented on #4584
[Zarr]( https://zarr.readthedocs.io ) works reasonably well for parallel writes. I'm not unbiased though as I do work on it some. That said, I came to it as a Dask user interested in addressing this same problem.

[2019-05-13 18:38] jakirkham commented on #3245
That sounds like a good approach. Are you interested in working on this, @gerritholl?

[2019-05-13 19:24] gerritholl commented on #3245
In principle, interested yes, but I can't allocate time to this right now (also because I would need to learn a lot more about dask first).

[2019-05-13 19:57] jakirkham commented on #4694
Sorry Tom, I created this event in my work calendar and invited people to it. Can see how this might be a problem though. For now have simply added you to the event. Please let me know if you got the invite. Open to a different solution for how we track this event long term if needed.

[2019-05-13 20:02] TomAugspurger commented on #4694
Got it, thanks.

On Mon, May 13, 2019 at 2:57 PM jakirkham <notifications@github.com> wrote:

[2019-05-13 20:06] quancore commented on #4511
Bump for the issue about resolution other than changing function. This issue also occurs in cross_val_score in sklearn.

[2019-05-13 20:09] mrocklin commented on #4511
@quancore you may not be aware, but the behavior of "bumping" an issue can be seen as somewhat rude.  It gives the impression that you think that it is someone's job to solve these problems for you.   As an OSS project, this is as much your responsibility as anyone's.

If you have something constructive to add to the conversation then please participate.  If you are willing to contribute a solutio

[2019-05-13 20:10] mrocklin commented on #4511
http://matthewrocklin.com/blog/work/2016/08/25/supporting-users

On Mon, May 13, 2019 at 3:06 PM Baran Nama <notifications@github.com> wrote:

[2019-05-14 03:31] hoangthienan95 opened #4795 "Question: Optimization and Dask dataframe to_parquet"
Hello,
I'm trying to both use Dask with my workflow and experiment with different ways to do the same task to learn Dask and get an intuition of which API (array, dataframe, bag, delayed) to use. Therefore, some feedback on the thought process would be greatly appreciated. I hope that I can learn intuition/principles from a small example and extrapolate to bigger workflows. I also have questions a

[2019-05-14 04:01] hoangthienan95 commented on #4769
Hi all, just want to chime in that I haven't been able to use TPOT with Dask on medium-sized dataset and up, with similar errors/warnings. @Mr-Jree maybe you'll find the erratic behavior and the error messages familiar in my notebook and video in [dask/dask-jobqueue#251]( https://github.com/dask/dask-jobqueue/issues/251#issue-422461427). I usually have to restart the kernel any time Dask fails or

[2019-05-14 08:38] crepererum commented on #4789
First of all, thanks for the very detailed response and helpful implementation ideas.

Fair. Let me elaborate a bit:

## Prometheus Metric Push
I'm talking about [this feature](https://github.com/prometheus/client_python#exporting-to-a-pushgateway). It harvests the metrics registered in the interpreter-wide global registry and pushes them to a pushgateway. The metrics I'm thinking about are regist

[2019-05-14 14:37] TomAugspurger commented on #4769
I may be wrong, but I suspect it's too specific. I imagine that someone
who's seeing the issue could generate a random dataset that
reproduces the issue (even if it's just occasional).

On Mon, May 13, 2019 at 11:01 PM hoangthienan95 <notifications@github.com>
wrote:

[2019-05-14 14:40] mrocklin commented on #4769
Right, it's not the datasets that matters, it's unrolling whatever is specific about tpot that is causing the issue.  I'm taking a brief look at this now, but I'm not highly confident that I'll arrive at an answer before I have to context switch away.

[2019-05-14 15:00] mrocklin commented on #4769
When I run locally with the following script

[code]

I get the following errors

[code]

These are also coming up in examples.dask.org if you look in the worker logs (though the info pages on the dashboard)

This points to a serialization issue.

When I remove this code from distributed/protocol/__init__.py things seem better?

[code]

So it looks like our code to serialize Scikit-Learn estimator

[2019-05-14 15:21] mrocklin commented on #4784
With the recent release, I suspect that this is now resolved.  Closing

[2019-05-14 15:21] #4784 closed

[2019-05-14 15:33] jrbourbeau commented on #4784
Thanks for pushing this out @mrocklin

[2019-05-14 15:40] cicdw commented on #4784
Thanks everyone!

[2019-05-14 16:22] TomAugspurger commented on #4142
I'll look through the current warnings and get this closed this week.

[2019-05-14 17:58] jakirkham opened #4797 "Check for `__array_function__` when skipping `__array_wrap__`"
In PR ( https://github.com/dask/dask/pull/4708 ), we chose to keep using `__array_wrap__` instead of `__array_function__` for dataframes. This is a reasonable choice as currently dataframe libraries don't implement this functionality, but they may in the future ( https://github.com/rapidsai/cudf/issues/1728 ) ( https://github.com/pandas-dev/pandas/issues/26380 ). It could make sense to adjust this

[2019-05-14 17:59] jakirkham commented on #4797
cc @pentschev

[2019-05-14 18:45] mrocklin commented on #1496
@jrbourbeau and I were chatting about this.  I think that my thinking here has shifted a bit, so I wanted to write down my current thoughts:

This is one of the more common requests I get from *potential institutional users*.  Folks from companies or other institutions e-mail me fairly frequently and ask me "who uses dask?".  One part of an answer to that question is software projects, like what i

[2019-05-14 18:52] mrocklin commented on #1496
A couple days ago I searched through twitter and came up with the following list:

-  Xarray
-  Iris / UK Met
-  Pangeo: NASA, NCAR, UK Met, USGS (probably several more)
-  Datashader, Anaconda, US Army Corps of Engineers
-  Scikit-Learn through Joblib
-  Karthotek - Blue Yonder
-  TSFresh - Blue Yonder
-  Satpy
-  MDAnalysis
-  Scikit-Allel Oxford Big Data Institute / Center for Genomics and Glob

[2019-05-14 19:15] mathdugre opened #4799 "Random sampling of k elements from a dask bag"
It seems like there is no way, from the API, to randomly sample k elements from a dask bag.

#1332 Address a similar issue. It gives a random probability to each elements to be chosen however you are not guaranteed to have a fix number of element at the end.

Currently the way I would do it is:

[code]

What I think a `sample` method from `dask.bag` should do:

[code]

If this look like a desirabl

[2019-05-14 19:42] jbednar commented on #1496
People using datashader are presumably at least installing dask, including these from Twitter:

- Instacart: https://tech.instacart.com/space-time-and-groceries-a315925acf3a
- SafeGraph: https://twitter.com/jbrichman/status/1006195205899505665

[2019-05-14 20:13] hoangthienan95 commented on #4795
Following up on this, I realize that my dataframe had only one partition. However, I have no idea how to repartition it. This becomes an issue when I try to construct the final dataframe:

With this df as the basic structure
![image](https://user-images.githubusercontent.com/25307953/57728181-456a2400-7661-11e9-9273-bba2f35625b5.png)

I tried to append those delayed columns but encountering troubl

[2019-05-14 20:31] TomAugspurger commented on #4795
It'd be a bit easier to digest this if you could provide a minimal example that demonstrates the essence of your problem http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports.

A few scattered thoughts

1. You probably don't want to mix dask.delayed and dask.array or dask.dataframe. Something like `dask.delayed(np.all)(dask_array)` is strange. See http://docs.dask.org/en/latest/best-p

[2019-05-14 20:39] TomAugspurger opened #4801 "Add registration accessors for 3rd-party libraries"
Pandas provides an API 3rd parties to register accessors: http://pandas.pydata.org/pandas-docs/stable/development/extending.html#registering-custom-accessors.

For example, cyberpandas provides the [`.ip` series accessor](https://cyberpandas.readthedocs.io/en/latest/usage.html#ip-accessor). For cyberpandas to work well with dask.dataframe, it should also register an accessor with Dask.

We should

[2019-05-14 20:52] hoangthienan95 commented on #4795
Hi @TomAugspurger, I'll try but it's hard to provide a minimal example to pull out the main piece of this: the delayed object returned by another package's data parser (who uses `dask`). I'll try my best to respond clearly to your points.
1. the `test_arr` is not a dask array, but it's actually a `delayed` object that returns a `numpy array` when computed. In order to use `np.all` to get boolean f

[2019-05-14 20:57] hoangthienan95 commented on #4795
The data parser gives `genotype`, which is a list of delayed dictionaries. The array I care about is in the key `"probs"`
![image](https://user-images.githubusercontent.com/25307953/57731732-59198880-7669-11e9-9f72-711dac66e6ec.png)

![image](https://user-images.githubusercontent.com/25307953/57731675-37b89c80-7669-11e9-8f30-a8d817912af3.png)

[2019-05-14 21:03] hoangthienan95 commented on #4795
I try to keep things delayed until `to_parquet` because I assume that parquet uses column store, so that each column can be computed in sequence and not all at once?

[2019-05-14 21:03] TomAugspurger commented on #4795
I'll certainly acknowledge that providing minimal examples is difficult :)
It seems like my initial skim was off base, so I'll hope that you can
get something put together.

As an aside, code snippets are typically preferred to screenshots (makes it
easier to try out & think about things locally).

On Tue, May 14, 2019 at 3:57 PM hoangthienan95 <notifications@github.com>
wrote:

[2019-05-14 22:40] jrbourbeau commented on #1496
Thanks @mrocklin for assembling this list

Totally agree. I'd be in favor of a "Who uses Dask?" (or some other title) page on dask.org that highlights companies using Dask, software projects that use Dask, Institutional partners, etc.

One other approach I've seen is to include a "Project X is used by" section on the project landing page with company logos. For example, Jupyter has a "Currently in

[2019-05-14 23:07] mrocklin commented on #1496
Definitely agreed.  A page like that (or footer on the main page) that showed the logos of all companies that currently use the project would, I think, make many others much more comfortable with depending on the software.

It's sometimes tricky getting permission to use those logos.  I'm not sure how careful we have to be here though, especially when a company has made public mention of their use

[2019-05-15 01:16] jrbourbeau commented on #4790
@markojurkovic you could try using the Dask DataFrame [`to_dask_array()` method](http://docs.dask.org/en/latest/dataframe-api.html#dask.dataframe.DataFrame.to_dask_array) to convert your Dask Series to a Dask array with known chunk sizes. For example, something like:

[code]

Note that specifying `lengths=True` in `to_dask_array()` will trigger an immediate computation of the Dask array chunk size

[2019-05-15 01:59] yliapis commented on #3657
I am currently taking a look at this issue. I agree, it feels like using `blockwise` (formerly `atop`) should be possible to avoid reshaping, but it is causing some complications for me with chunks (from `normalize_chunks`)

[2019-05-15 14:28] mrocklin opened #4803 "Experiment with map_overlap and cupy arrays"
It would be useful to try the [da.map_overlap](http://docs.dask.org/en/latest/array-overlap.html) function with CuPy arrays on large 2d datasets.

A trivial example might look something like the following (untested):

[code]

My guess is that we'll be badly bound by communication.  I would verify this probably by running this computation under the [dask distributed scheduler](http://docs.dask.org/

[2019-05-15 14:36] martindurant commented on #4758
Just to note: dask.array.Array does have a number of methods using `derived_from` to fill in their docstrings. I'll look into applying to functions, as opposed to methods, as suggested.

[2019-05-15 14:48] jrbourbeau commented on #4799
Thanks @mathdugre for opening up this issue and for the clear code snippets. @mrocklin do you have any thoughts on adding a `sample` method to the dask bag API?

[2019-05-15 14:54] mrocklin commented on #4799
In principle I think it would be good to have and the proposed API seems fine to me, especially given that it mirrors the standard library.

I think that it might be somewhat challenging to implement because we don't know how many elements are in each partition.  My guess is that it's not trivial to fairly select k elements from multiple partitions lazily without knowing how many elements are in e

[2019-05-15 14:55] mrocklin commented on #4803
Also cc @jakirkham and @pentschev for visibility

[2019-05-15 15:00] martindurant commented on #4799
A function to downsample bags by randomly taking 1-in-N elements would be much easier.

[2019-05-15 17:00] TomAugspurger commented on #4630
@rabernat when you get a chance, can you check on https://github.com/dask/dask/issues/4630#issuecomment-487719304? Specifically, in your pseudocode, does changing

[code]

to

[code]

fix things? https://github.com/dask/dask/issues/4630#issuecomment-487719304 shows that after the persist we end up with one task per chunk.

[2019-05-15 18:20] #4372 closed

[2019-05-16 06:05] lijose commented on #4775
Above minimal code is not returning correct size of dataframe (apologies) . Needs to use below one

[code]

**But** code is working fine when the head_rows is not passed as parameter while creating dataframe. If the value of head_rows != 5 then the bytes_per_row is not correct
**File : dask/dask/dataframe/io/sql.py
Line:  127**
Current code : ` bytes_per_row = (head.memory_usage(deep=True, index=T

[2019-05-16 12:34] martindurant commented on #4775
I suspect you are correct. Would you like to submit a PR with this fix? Ideally, there would be a test which shows that changing the head_rows does not change the number of rows per partition (much).

[2019-05-16 13:22] lijose commented on #4775
ok. will submit PR

[2019-05-16 19:51] jrbourbeau commented on #4790
Just checking in here, @markojurkovic does using `.to_dask_array(lengths=True)` instead of `.values` avoid the raised `IndexError`? Is it safe to close this issue?

[2019-05-16 19:54] btw08 opened #4809 "dask DataFrame.to_csv writes extra carriage return on Windows"
When using `dask.dataframe.DataFrame.to_csv`, I noticed that lines end with `\r\r\n`, as opposed to simply `\r\n`. I'm guessing this is a Windows issue, although I haven't had the opportunity to test on another system.

The following example shows the bytes produced when using pandas and dask to write the same data to csv. The pandas output is what I was expecting for both. Hopefully this makes it

[2019-05-16 20:00] TomAugspurger commented on #4809
What version of pandas do you have? This changed recently, and there were some (unavoidable) issues.

[2019-05-16 20:01] TomAugspurger commented on #4809
I'm not sure, but https://github.com/pandas-dev/pandas/issues/25048 may be relevant.

[2019-05-16 20:07] btw08 commented on #4809
My pandas version is 0.24.0

[2019-05-16 21:55] bnaul commented on #3376
Not sure what changed but when I run the above example now the index is sorted. Guess I'll close...?

[2019-05-16 21:55] #3376 closed

[2019-05-16 22:25] alexpashevich opened #4811 "pub/sub mechanism gets stuck"
Hi,

I am using the pub/sub mechanism of dask and I can see that it often gets stuck right after being created. I have found that the order in which processes communicate with each other is important. At the moment I am using a hack with publishing Nones from the child processes however I find this solution unsatisfactory because I still can see the communication getting stuck. My library versions

[2019-05-16 22:35] mrocklin commented on #4811
Dask's PubSub unfortunately doesn't hold onto a history of recent messages, so if a Sub joins a topic after a Pub has already put something, the Sub won't get that message.  If I add a sleep after you map your tasks out but before you publish on the Pub then everything works.

Some improvements that could help here:

1.  A backlog of recent messages kept somewhere (I don't know where this would be

[2019-05-17 00:07] josivalmarques opened #4812 "Error Python/Dask worker/scheduler"
Hello everyone, I am using in my local network the 3 computers, being 2 for 'worker' and 1 computer the 'schedule', configuring the 'client' in python when executing the command:

###################
from dask.distributed import Client

client = Client ('My ip address: 8786')
###################

And the result is:

TypeError: descriptor 'tls_worker_cert' for 'Security' objects does not apply to '

[2019-05-17 01:20] mrocklin opened #4813 "Retire duplicate documentation in distributed.dask.org"
We have a lot of information about setup and installation at distributed.dask.org that is now pretty well covered at dask.org.  We should probably go through and remove pages for which we have analogs.  We should probably also add redirects (there is some code for this in `docs/source/conf.py`

[2019-05-17 01:43] mrocklin opened #4814 "Alias .blocks to .partitions in dask array"
The `.blocks` attribute allows people to index into a dask array blockwise
The `.partitions` attribute does the same thing for dask dataframe partitions

It would be friendly to alias blocks to partitions (which is maybe the more generic name?) for people who want to write agnostic code

See https://github.com/dmlc/xgboost/pull/4473/commits/72723eb42aec978db4bc1d90bd3426404fd8c393#diff-0e386f37d88

[2019-05-17 05:12] jangorecki commented on #4372
Thanks for approaching this issue.
It happened that my initial report was simplified to much.
Query from my report was:
[code]
so `max` was taken on `v1` column, while `min` was taken on `v2` column. While simplified example uses same column. I would appreciate a comment how to address original report. Below simplified.
[code]
expected answer
[code]

[2019-05-17 10:18] markojurkovic commented on #4790
@jrbourbeau OK, now the IndexError doesn't get raised, but why the piece of code @martindurant wrote in the first reply works, and mine doesn't stil isn't clear.

[2019-05-17 12:19] btw08 commented on #4809
I don't see a direct connection between this and https://github.com/pandas-dev/pandas/issues/25048, as it seems like the issue there is with line endings embedded in the data, not the line endings generated for every record. Additionally, the issue I'm seeing affects dask, but *not* pandas. I could definitely be missing something, though!

I also poked around a bit more, and I came up with a fix t

[2019-05-17 13:31] martindurant commented on #4809
errors=self.errors, newline='')

Obviously, this should be carefully tested on all platforms.

From the TextIOWrapper docs:

  translated to the system default line separator, os.linesep. If
  newline is '' or '\n', no translation takes place. If newline is any
  of the other legal values, any '\n' characters written are translated
  to the given string.

Could it be that, on Windows, pandas isn't

[2019-05-17 13:41] TomAugspurger commented on #4790
@markojurkovic are you able to provide a [minimal example](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) reproducing the first issue? That may help us (or you) understand the difference between your code & @martindurant's.

[2019-05-17 14:00] martindurant commented on #4809
Note that `pd.DataFrame.to_csv` also has various kwargs to deal with encoding, including `line_terminator=` ("versionchanged: 0.24.0", says the doc); I don't know when this is applied, or how pandas decides if it's writing in text mode or not (perhaps @TomAugspurger knows).

[2019-05-17 14:15] TomAugspurger commented on #4372
I would write this as a `.agg().assign` with both dask and pandas

[code]

[2019-05-17 14:17] TomAugspurger commented on #4809
I haven't followed either discussion too closely, so the following may be incorrect.

I think that https://github.com/pandas-dev/pandas/pull/25624/files answers those, maybe. I suspect that dask is creating a file object internally, which may need to specify `newline=''`.

I think

[2019-05-17 14:22] martindurant commented on #4809
That's really annoying, why change this! I wouldn't want to alter OpenFile directly, other windows dask users, just writing to text files, would have their experience changed.

[2019-05-17 14:24] TomAugspurger commented on #4809
I think https://github.com/pandas-dev/pandas/issues/25048 has most of the
rationale, but I didn't follow it too closely.

On Fri, May 17, 2019 at 9:22 AM Martin Durant <notifications@github.com>
wrote:

[2019-05-17 14:33] martindurant commented on #4809
I am not in agreement with the discussion there, but I don't suppose there's anything to be done about it now. (you *can* tell is a file object is text-mode)

Perhaps, from Dask's point of view, we should always pass `lineterminator='\n'`, in the pandas call, since we know it will passed to TextIOWrapper. Is it right, though, to use windows line endings ever? What if the write is going to somewher

[2019-05-17 14:40] pantaray commented on #4584
Sorry for the delay, we've spent the last few days testing various options for tackling this.

@jakirkham: thank you for the suggestion!

We ran a bunch of performance tests on our cluster using

1. **Sequential HDF5 writing:** workers pump their chunks of the distributed array `a` into a single container via `map_blocks` followed by `persist()` (not `compute()` to avoid the above errors). Writing

[2019-05-17 14:44] TomAugspurger commented on #4812
Can you give a full traceback? What version of distributed, and are there any logs on the scheduler / worker?

What protocol are you passing to Client? `tcp`? (no protocol defaults to tcp) or tls?

[2019-05-17 15:02] jrbourbeau commented on #4790
Glad to hear it!

Not all operations (e.g. slicing) are supported for dask arrays with unknown chunk sizes (see http://docs.dask.org/en/latest/array-creation.html#from-dask-dataframe). The `.values` attribute on a dask series returns a dask array with unknown chunk sizes, while in @martindurant's example the dask array has known chunk sizes. My guess is that's what's causing your original issue. E

[2019-05-17 15:15] jangorecki commented on #4372
@TomAugspurger Thank you for your comment. It gives nice speed improvement for pandas over comparing to previous `lamba` method. It of course well cover the initially reported problem.
It happened that I have another similar query to ask against the data - calculate regression by group - where AFAIU I am not able to decompose it for atomic aggregation functions, followed by `assign`, as you did ab

[2019-05-17 16:19] beckernick commented on #4184
I believe this feature would be useful down the road for distributed GPU dataframes, too.

[2019-05-17 16:26] josivalmarques commented on #4812
Hi Tom, tks for ur help,

*Can you give a full traceback
How i can see full traceback?

*What version of distributed
1.27.0, latest

*any logs on the scheduler / worker?
I just have 2 files in a dask folder, purge.lock and global.lock, both empty

What protocol are you passing to Client?
TCP
![image_dask](https://user-images.githubusercontent.com/7399450/57942232-4f7d6400-78a7-11e9-985e-4a4ef957b4

[2019-05-17 16:27] jrbourbeau commented on #4184
Any interest in working on this @beckernick?

[2019-05-17 16:43] TomAugspurger commented on #4812
The console with the client should have a longer traceback.

How'd you start the scheduler & workers?

On Fri, May 17, 2019 at 11:26 AM josivalmarques <notifications@github.com>
wrote:

[2019-05-17 16:55] beckernick opened #4817 "[FEA] Remove pandas dependencies from rolling functionality"
Removing the pandas dependencies in the [rolling windows](https://github.com/dask/dask/blob/master/dask/dataframe/rolling.py) implementation will help allow us to use other backend dataframe libraries such as cuDF for distributed rolling windows (cuDF rolling functionality is currently a work in progress).

As of May 17, 2019, the following lines of code have explicit pandas dependencies on what a

[2019-05-17 17:00] beckernick commented on #4184
@jrbourbeau I'm interested but don't have the bandwidth currently. @yidong-nvidia do you have the bandwidth or any interest in working on this functionality given your experience with exponential weighted functions?

[2019-05-17 17:01] mrocklin commented on #4817
Nice analysis @beckernick !  My thoughts (which in many cases agree with yours)

https://github.com/dask/dask/blob/081a911148d472bb1a82a88a19f18e5c19d5f137/dask/dataframe/rolling.py#L108

This might be ok to keep we're only manipulating the divisions here, not the actual data.  It's probably fine to keep this in Pandas regardless of how we store the data

https://github.com/dask/dask/blob/081a9111

[2019-05-17 17:11] beckernick commented on #4817
@mrocklin I generally agree with what you've suggested. The unknown for me on your last one is that `before` is ultimately used for some operations as a timedelta, which might pose some interoperability concerns if cuDF can't handle that conversion.

[2019-05-17 17:14] mrocklin commented on #4817
I think that ideally cudf would be able to reason about Pandas and Python timedelta objects.  They're likely to come up in normal workflows.  If this isn't the case today then I think it's a reasonable request and that we should raise an issue on the cudf issue tracker.

[2019-05-17 17:23] beckernick commented on #4817
Will verify.

[2019-05-17 18:09] saifrahmed opened #4818 "ValueError: Metadata mismatch: Expected partition of type `DataFrame` but got `DataFrame`"
I'm getting an error which suggests a possible dask validation code issue:

Since the expected type is the actual type and it is still throwing an error, it leads me to believe that perhaps the dask validation routine is not working well.

This happens when trying to combine several futures for csv loads. The code to reproduce this error is as follows:

[code]

The full stack trace is:
[code]

Thi

[2019-05-17 18:32] jrbourbeau commented on #4818
Thanks for the report @saifrahmed. Would it be possible to construct a [minimal example](https://blog.dask.org/2018/02/28/minimal-bug-reports) that reproduces this issue? That may help us (and potentially you) better understand the situation and help in debugging

[2019-05-17 19:13] jakirkham commented on #4803
Thanks for raising this. This would be good to look into. Imagine array creation becomes pretty important here (as Peter has discovered in other parts of the codebase).

We may also want to take a closer look at `da.pad`. It handles a larger variety of edge conditions and also does some array creation in the process.

[2019-05-17 19:29] saifrahmed commented on #4818
Dear @jrbourbeau - The section at the top "The code to reproduce this error is as follows..." has all the code i'm running. The only other code is to actually start the components on the command line (scheduler, workers) and to obtain CSVs (doesnt matter what CSVs one uses.)

What else could I add to the code to help solve this issue?

[2019-05-17 19:49] josivalmarques commented on #4812
*The console with the client should have a longer traceback.

*How'd you start the scheduler & workers?
Using Anaconda Prompt Console.
http://distributed.dask.org/en/latest/setup.html, page "Setup Network"

Print of Anaconda command worker:
![anaconda prompt](https://user-images.githubusercontent.com/7399450/57951973-24543e00-78c2-11e9-878c-9adfba6ba99b.png)

Print of Dask directory:
![dask-rodcel

[2019-05-17 22:22] jrbourbeau commented on #4818
Avoiding external data files generally helps make running code examples much easier for others (ref the "Don’t post data" section of https://blog.dask.org/2018/02/28/minimal-bug-reports)

My guess is that the error is being raised here

https://github.com/dask/dask/blob/a4fd776d5f66e162f6115871af2cd9412de05533/dask/dataframe/utils.py#L566-L568

Have you tried submitting `pd.read_csv` to the `clien

[2019-05-17 22:26] martindurant commented on #4818
This will be it - each dask dataframe should be made of multiple pandas dataframes. Sorry I didn't follow up on this. A pity that, in the error message, it just says "DataFrame" for both these things, could be improved.

[2019-05-17 22:51] mrocklin commented on #4803
Nice points.  Thanks @jakirkham  !

On Fri, May 17, 2019 at 2:13 PM jakirkham <notifications@github.com> wrote:

[2019-05-18 10:59] pentschev commented on #4803
I've done some testing before. Without UCX we're in many cases better off using a CPU-only implementation on a single process. The major problem is having different processes, where in practice we can go no faster than ~1GB/s with IPC via TCP.

Only for some context, CUDA performance is often bound by PCIe communication, where theoretical bandwidth is 15.75GB/s, with 10-12 GB/s being achievable in

[2019-05-18 16:19] jrbourbeau commented on #4818
#4819 improves the error message that is raised in the originally posted example

[2019-05-18 17:29] jrbourbeau commented on #4811
@alexpashevich hopefully @mrocklin's comment about adding a `sleep` after you map your tasks works as a fix for the time being. Do you have an interest in working on any of the proposed improvements?

[2019-05-18 17:30] birdsarah opened #4820 "System page on dashboard regularly awkward"
I often end up in an aspect ratio where the system page of the dashboard looks like this:

![Screenshot from 2019-05-18 12-28-41](https://user-images.githubusercontent.com/1796208/57973071-a139f300-7968-11e9-92d4-0705c697a22b.png)

Bokeh's layout has had a big overhaul of late, maybe there's an opportunity to take advantage and get a more robust layout with less code. I would suggest a grid of fou

[2019-05-18 20:47] birdsarah opened #4821 "Visual suggestion for task graph"
The task status has a natural order: waiting -> processing -> memory -> released

The task graph could visually prompt this better:

1) Legend should be presented in that order (top to bottom waiting -> released)
2) Color scheme could better reflect this. Some options:
 a) Either a continuous hue with no particular meaning e.g. Viridis4 or Plasma4
 b) waiting: gray + traffic lights (processing: re

[2019-05-18 21:33] birdsarah commented on #4821
Wrong repo, moved to https://github.com/dask/distributed/issues/2711

[2019-05-18 21:33] #4821 closed

[2019-05-19 14:53] TAdeJong commented on #2559
I could spend some time on this to make a PR in the style @mrocklin proposes, but am somewhat confused by @jakirkham 's work on this. Can I just start a new PR trying the aliassing?
Also, I saw this: https://github.com/numpy/numpy/issues/11658, should I take this into account in any way?

[2019-05-20 13:21] schinto commented on #4769
I have the same issue. Was the problem already solved?

[2019-05-20 13:24] TomAugspurger commented on #4769
Still open. I'm hoping to take a look this week.

On Mon, May 20, 2019 at 8:21 AM schinto <notifications@github.com> wrote:

[2019-05-20 15:03] TomAugspurger opened #4824 "Match NumPy signature change for unravel_index"
NumPy changed the signature of unravel_index from

[code]

to

[code]

I spent a few minutes trying to get a version that worked with both older and newer versions of NumPy, but didn't finish it.

Split from https://github.com/dask/dask/pull/4805, which ensures that the warnings doesn't leak through to the user. The remaining task here is to make our signature match.

[2019-05-20 15:10] mrocklin commented on #4769
I think that we just need to remove those lines to serialize scikit-learn estimators.  I'll test this out later today.

[2019-05-20 17:03] TomAugspurger commented on #4818
Is there anything left to do on this issue?

[2019-05-20 17:12] #4769 closed

[2019-05-20 17:28] jakirkham commented on #4584
Certainly virtual HDF5 datasets are an interesting solution to explore here. I wonder if we should include an example in the docs. Thoughts from others here?

[2019-05-20 17:34] mmccarty commented on #4194
I can take a stab at the Dask related parts summarized above, but I wanted to check first. Is anyone else working on this?

[2019-05-20 17:35] birdsarah commented on #4194
I'm not. I don't currently have time, but would LOVE to see this happen. Thanks!

[2019-05-20 17:38] jrbourbeau commented on #4799
To summarize, it sounds like a `sample` method would be a welcome addition to the bag API. However, it's possible that it may not be straightforward to implement. We're happy to help review and provide feedback @mathdugre

[2019-05-20 17:51] mathdugre commented on #4799
I will slowly try to work on it. It will probably take a bit of time initially since I will need to familiarize myself with the code base. I will let you know if I have any issues; thank you.

[2019-05-20 17:53] jrbourbeau commented on #4799
Thank you!

[2019-05-20 18:24] jakirkham commented on #4584
Have run `git bisect` on this and narrowed the issue down to commit ( https://github.com/dask/dask/commit/9f870d17e6fcae00ab010c86a5b182b2ecf214b8 ). Right before that commit everything works correctly and with that commit this error emerges.

[2019-05-20 18:31] jakirkham commented on #4584
Should add that I don't see this error on `master`. However it no longer gives the original result (on 1.0.0) either. So there is still a bug (albeit a different one). Using `git bisect` narrowed down the behavior change to commit ( https://github.com/dask/dask/commit/a67550745fea122e710e398a34fd7651452c885e ). For clarity, this is what `res` looks like with this change.

[code]

[2019-05-20 19:10] martindurant commented on #4799
We do already have `dask.bag.Bag.random_sample`, is that enough?

[2019-05-20 19:32] jakirkham commented on #4584
Yep, looks like this also came up in issue ( https://github.com/dask/dask/issues/4712 ). Where the last change was added to address this issue. Let's see if @bmerry has thoughts on this particular case.

[2019-05-20 20:11] jakirkham commented on #4270
Was looking at this to see if there is anything we can improve here. Looks like you have done everything that really can be done until RTD adds support for this feature.

The only other thing we could try is adding [a workaround like this]( https://github.com/runwayml/model-sdk/pull/28 ). Happy to put up a PR if it is of interest. Though would understand if people don't want to do this.

[2019-05-20 20:36] TAdeJong commented on #4490
While working on #2726 I noticed that `da.tril` and `da.triu` probably have the same issue, as there is the same code pattern present. Just wanted to mention here, although I get a different traceback on my local machine currently:

[code]

[2019-05-20 20:45] TAdeJong commented on #2726
I am working on a pull request on this using #4431 for the diagonal extraction case. WIP though, as I was surprised by the $(n+k)*(n+k)$ output of `np.diag(np.ones(n), k)`.
I also want to have a look into cleaning up the shared but different code in `da.triu`, `da.tril` and `da.diag`.

[2019-05-20 20:49] pentschev commented on #4490
@TAdeJong this is being handled in https://github.com/dask/dask/pull/4543, in fact I got them to work last week, but that's a long running PR, so it may take a little while to have integrated.

[2019-05-20 21:02] jakirkham commented on #2726
Cool, thanks for working on this. Please let us know if you need pointers or would like someone to take a look.

[2019-05-20 21:09] jrbourbeau commented on #4799
I think @mathdugre's concern is that with `random_sample` you're not guaranteed to have a fix number of elements

[2019-05-20 21:21] mathdugre commented on #4799
My concern is the one mentioned by @jrbourbeau. In some case you would want to sample an exact number of element and I think it would be hard to implement this through `dask.bag.Bag.ramdom_sample`

[2019-05-20 22:38] tpanza opened #4825 "Add documentation for dataframe reshape methods"
The methods implemented in [dataframe/reshape.py](https://github.com/dask/dask/blob/master/dask/dataframe/reshape.py) are not documented on the https://docs.dask.org site. Please add documentation, ideally with some examples and best practices for the 3 currently existing reshape methods:

* [get_dummies](https://github.com/dask/dask/blob/master/dask/dataframe/reshape.py#L19)
* [pivot_table](https

[2019-05-20 23:54] jrbourbeau commented on #4818
@saifrahmed is this issue safe to close?

[2019-05-21 04:12] jlevy44 opened #4826 "Broadcasting Issues at Edge of Array"
Awesome stuff. I'll running an analysis where I have a large dask array, dimensions (133000, 55000, 3) , chunk size 1000. When I try to load the end of the array: arr[131000:133000,54000:54800].compute() , the command breaks: ValueError: could not broadcast input array from shape (729,720,3) into shape (729,800,3)

And this seems to only happen across the axis 1. Can you please help me debug this

[2019-05-21 04:15] jlevy44 commented on #4826
It works if I trim this array down.

[2019-05-21 06:25] bmerry commented on #4584
When working on #4712 I do recall looking at the code and thinking that it didn't look like it would handle `drop_axis`. If I have time I'll take a look later this week to see if I can see how to fix it. It does get fairly hairy once you're combining `new_axis`, `drop_axis` and `block_info`, so I don't want to promise anything.

[2019-05-21 09:56] bmerry commented on #4584
@pantaray Give the commit above a try. It seems to work on your minimal example, but that's no guarantee that it'll work in all cases since the example is only accessing one element from block_info. I still need to write unit tests for the interaction between various features (drop_axis with concatenation, new_axis and broadcasting) before I submit a pull request.

[2019-05-21 12:21] jlevy44 commented on #4826
Is there any option I can specify to read off the ending chunks values as zeros if the true array doesn’t quite reach that far?

[2019-05-21 12:59] martindurant commented on #4799
Understood, but I don't think exact number with fair sampling can be done in parallel, because you don't know how many elements there are in each partition.

[2019-05-21 13:04] mrocklin commented on #4799
One approach would be to gather k elements from each partition as well as
the total number of elements from each partition, and then sample k
elements from that group in some weighted way.  This probably gets awkward
if partitions have fewer than k elements or if k is very large.

Sampling algorithms can be very clever sometimes.  My solution above is
probably overly naive in some way.  I expect t

[2019-05-21 13:09] aterrel commented on #4270
Works for me.

[2019-05-21 15:20] henriqueribeiro opened #4827 "Bug in or operation"
Hey,

Please see the following example.

[code]
Using pandas dataframe:
[code]
Output:

|    |   0 |
|---:|----:|
|  0 |   1 |
|  1 |   0 |
|  2 |   1 |
|  3 |   1 |
|  4 |   1 |
|  5 |   1 |
|  6 |   0 |
|  7 |   0 |
|  8 |   0 |
|  9 | nan |

Using dask dataframe :
[code]

We get the following error:

[code]

Any ideas?

[2019-05-21 16:10] mrocklin commented on #3245
cc @jakirkham , you might find this interesting

[2019-05-21 16:15] TomAugspurger opened #4828 "Add DataFrameGroupBy.corr"
Pandas allows for group-wise computation of the correlation coefficient.

[code]

xref https://github.com/dask/dask/issues/4372

cc @quasiben, @jangorecki

[2019-05-21 16:16] TomAugspurger commented on #4372
@jangorecki this would be most useful if it were implemented directly in Dask: https://github.com/dask/dask/issues/4828

[2019-05-21 16:19] martindurant commented on #4827
This is a bit of a corner case. Because `shift()` causes the end element to be `nan`, the column data type becomes object rather than bool. Dask tries to guess the output of the operation by providing fake data, and for object columns this is "foo" - so you get the comparison of bool and str and the error. You can work around it with

[code]

Note that pandas seems to actually think True or Nan ->

[2019-05-21 16:20] mrocklin commented on #4828
So I guess the question becomes how does one compute groupwise correlation in parallel?  Fun!

[2019-05-21 16:21] jakirkham commented on #3245
Sure I've been tracking this for a little bit.

My understanding is we are looking for a solution like [this]( https://github.com/dask/dask/issues/3245#issuecomment-489646034 ). @shoyer, would you be able to confirm if this matches what you are looking for?

[2019-05-21 16:22] TomAugspurger commented on #4827
Thanks for the report @henriqueribeiro. This is an unfortunate consequence of pandas not having a nullable bool type. I think we'll be able to work around it in Dask by ensuring that the `_meta_nonempty` of the shifted dataframe matches the input a bit more closely.

[2019-05-21 16:35] TomAugspurger commented on #4827
Hmm, I take this back. Working around this is looking quite difficult. Giving that a nullable boolean array may be coming soon to pandas (https://github.com/pandas-dev/pandas/pull/25415) I'd favor @martindurant's workaround for now.

@henriqueribeiro Do you see anything in the error message that could have been improved? One possible issue is that you aren't explicitly doing anything with `meta`,

[2019-05-21 16:37] TomAugspurger commented on #4828
Yeah, I spent about 30 minutes on this last week with no luck. There are
pieces in dask/dataframe/corr.py that can hopefully be re-used.

On Tue, May 21, 2019 at 11:20 AM Matthew Rocklin <notifications@github.com>
wrote:

[2019-05-21 16:41] mrocklin commented on #4828
Looks like the relevant code is here:

https://github.com/dask/dask/blob/bf0376e8fc371acfaba7b57200525bedc2611f33/dask/dataframe/core.py#L4160-L4309

Presumably rather than computing and aggregating chunk-wise sums, counts, and covariances we'll be computing and aggregating groupby-sums, groupby-counts, and groupby-covariances.

[2019-05-21 16:54] TomAugspurger commented on #4825
Thanks @tpanza, are you interested in working on this? I think adding to the "Other functions" section in https://github.com/dask/dask/blob/master/docs/source/dataframe-api.rst is appropriate.

[2019-05-21 17:04] shoyer commented on #3245
@jakirkham Yes, a dask version of `np.errstate` would solve part of this problem.

More generally, we'd also like the ability to filter warnings more generally within a context manager, e.g., to handle cases like [this one](https://github.com/pydata/xarray/blob/66581084a89f75476b581ef74e5226eae2d62a84/xarray/core/duck_array_ops.py#L158) inside xarray:
[code]

So you might want something like `dask

[2019-05-21 18:23] TomAugspurger commented on #4826
@jlevy44 if you can provide a [minimal example](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) it'd be easier to see where things are going wrong.

[2019-05-21 19:50] pentschev commented on #4496
Closing this, since #4708 was merged already.

[2019-05-21 19:50] #4496 closed

[2019-05-21 20:24] #4758 closed

[2019-05-21 20:43] TomAugspurger commented on #4818
Closing. I don't immediately see an easy way to error / warn on this behavior earlier.

[2019-05-21 20:43] #4818 closed

[2019-05-21 22:57] jakirkham opened #4830 "Computing moments fails with CuPy arrays"
Ran into some issue with certain reductions using moments on CuPy arrays. Here's an example with computing the variance, but this also holds for the standard deviation as well. This is using Dask 1.2.2, CuPy 6.0.0, and Python 3.7.3. Also have `NUMPY_EXPERIMENTAL_ARRAY_FUNCTION` enabled.

<details>

[code]

</details>

[2019-05-21 23:01] mrocklin commented on #4830
cc @pentschev

[2019-05-22 08:57] pentschev commented on #4830
Thanks for the report @jakirkham. This is already fixed in #4543, but it requires also the shape argument for `*_like` functions, which means it won't work with NumPy versions earlier than 1.17, and also requires https://github.com/cupy/cupy/pull/2171, which won't be merged in until NumPy 1.17 is released.

[2019-05-22 09:20] Lemina commented on #2789
Hi, I also encountered this issue. Any updates please?

[2019-05-22 13:27] TomAugspurger commented on #2789
I applied the following

[code]

and only one test seems to fail (we get an `Index([1, 2, 3])` instead of an `Int64Index([1, 2, 3])`. @Lemina are you interested in making a PR with a change like that and tracking down why that last test is failing? Otherwise I should be able to get to this next week.

[2019-05-22 14:06] jakirkham opened #4832 "divmod doesn't work on Dask Arrays"
Currently [`divmod`]( https://docs.python.org/3/library/functions.html#divmod ) doesn't work on Dask Arrays. This should just be a matter of defining [`__divmod__`]( https://docs.python.org/3/reference/datamodel.html#object.__divmod__ ) and [`__rdivmod__`]( https://docs.python.org/3/reference/datamodel.html#object.__rdivmod__ ) for Dask Array objects, which can be defined in terms of the integer d

[2019-05-22 17:51] jrbourbeau commented on #4319
@mrocklin how have things been since switching to using `black` on `dask.distributed` (ref https://github.com/dask/distributed/pull/2614)? Have any issues come up using it on a larger codebase?

[2019-05-22 18:35] mrocklin commented on #4319
Good question.  Here are some of the things I've learned:

1.  Any pending PRs will have many merge conflicts.  It would be good to make this switch only after merging/closing most pending work
2.  Git pre-commit hooks are great, but new developers probably won't use them.  We should tell them how to use black manually
3.  So far, the break in git blame history hasn't been an issue
4.  There hasn'

[2019-05-22 19:36] #4584 closed

[2019-05-22 20:23] TomAugspurger commented on #4812
Were you able to get this traceback?

Can you also try setting the log level to debug in case that has more information? https://distributed.dask.org/en/latest/configuration.html#user-wide-configuration (change the logging.distributed value from `info` to `debug`

[2019-05-22 20:29] TomAugspurger commented on #4809
@btw08 can you run your test program with pandas 0.23.4 and see if the dask output matches the pandas output? I don't have a windows machine to test on.

If so, can we try adding `newline=''` to the files we pass pandas? *maybe* in

[code]

though I may be missing places (and that may break other things).

[2019-05-22 20:31] martindurant commented on #4809
We do not want to change the general filesystem interface just for pandas, it will affect anything else that writes in text mode and expects text mode to work in the normal way.

[2019-05-22 21:00] TomAugspurger commented on #4809
Probably want a parameter that we pass through. Though my impression was that this is the recommendation for the Python CSV writer as well, though I may be wrong.

[2019-05-23 03:06] jrbourbeau commented on #4319
Thanks for the great feedback!

Perhaps we should have another sprint that focuses on merging/closing PRs : )

Agreed, we should add the both `black dask` and how to set up pre-commit hooks to the "Development Guidelines"

Good to know!

[2019-05-23 03:24] jrbourbeau commented on #4790
Closing this issue as I think the originally posted issue has been resolved. @markojurkovic feel free to re-open if this is not the case

[2019-05-23 03:24] #4790 closed

[2019-05-23 10:26] jakirkham commented on #4584
@pantaray, if you haven't already, could you please retry with `master` and let us know if that fixes the issue or not? Thanks 😄

[2019-05-23 14:14] btw08 commented on #4809
Thanks for all the follow-up! I have 3 comments:

* @TomAugspurger , From what I can tell, your fix looks equivalent to what I did [above](https://github.com/dask/dask/issues/4809#issuecomment-493433265). For what it's worth, that fix (mine, which, I *think*, is equivalent to yours) *does* fix the issue with pandas 0.24.0, but, when running with pandas 0.23.4, causes no `'\r'` at all to be written

[2019-05-23 14:58] martindurant commented on #4809
I guess that's what we should do, since we already have `encoding=` and `errors=`. Any interest in contributing this, @btw08 ? I'm not sure how we can test the `to_csv` case, but we can test the file writing directly.

[2019-05-23 15:05] btw08 commented on #4809
Sure, I can try my hand, if you don't mind it taking a week or two! From poking around at the code, I'm thinking the fix will be simple enough, but GitHub PRs are uncharted territory for me, so I imagine there may be a learning curve. I'd love to give it a shot, though!

[2019-05-23 15:14] martindurant commented on #4809
In that case, please do!
In the PR, be sure to write "fixes #4809" into the comments.

Some general instructions: https://docs.dask.org/en/latest/develop.html#contributing-to-code

[2019-05-23 16:28] jlevy44 opened #4837 "Read One Large Numpy Array"
Hey there, how would you recommend reading one large numpy array that does not fit into memory? I was thinking of just running:

[code]
The chunk parts are just intervals that I've omitted and replaced with pseudocode to illustrate my point.
Could this be done? Is there a feature to directly import numpy array? I'm not sure how the numpy stacking helps, especially if I want to use one file??

[2019-05-23 17:03] TomAugspurger commented on #4837
Can you rechunk the memmapped array with `da.rechunk`? I'm not sure what performance / memory usage will be like in that case.

[code]

[2019-05-23 17:06] TomAugspurger commented on #4795
@hoangthienan95 how are things going here? Have you had time to produce a minimal example demonstrating the problem(s)?

[2019-05-23 17:11] TomAugspurger commented on #4789
I don't quite understand this, and how it relates to the issue. Taking the title, "pre-post task hooks" literally, a scheduler plugin should suffice. @crepererum could you try to clear up my misunderstanding?

FYI, worker plugins were recently added to distributed: https://github.com/dask/distributed/pull/2453

[2019-05-23 17:15] TomAugspurger commented on #4776
@avnovikov I think we're a bit blocked by a minimal example here. Have you been able to construct one? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports may be helpful.

You say that `ddf` is a regular pandas Dataframe? (A bit confusing since we usual use `ddf` for a Dask Dataframe). Shot in the dark, but pandas DataFrame.apply will call the function multiple times for the first g

[2019-05-23 17:32] mrocklin commented on #4789
I think he's looking for something more like Scheduler Plugins (which have hooks for a variety of events) but on the Worker.  The recently added Worker Plugins only support hooks for for setup/teardown currently, but more could be added for things like task transitions and other events.

[2019-05-23 17:35] mrocklin commented on #4837
It sounds like you might just want da.from_array

On Thu, May 23, 2019 at 12:03 PM Tom Augspurger <notifications@github.com>
wrote:

[2019-05-23 17:54] TomAugspurger commented on #4700
map_partitions doesn't need to communicate data across partitions, so probably.

Going to close this since we're lacking a reproducible example, but if you can provide one @avnovikov we'll reopen. http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports may be worth reading through.

[2019-05-23 17:54] #4700 closed

[2019-05-23 18:41] avnovikov commented on #4776
I'll try to construct a minimal example, however, it may be quite difficult as the function is rather complex.

Yes, dask dataframe is not working, due to inability to construct the computational graph.

[2019-05-23 19:01] TomAugspurger commented on #4776
It's hare to say for sure, but it seems like the function being applied in the groupby shouldn't matter much.

[2019-05-23 22:46] bnaul commented on #3198
I can confirm that this was fixed by #4727, thanks @jcrist! anyone want to close?

[2019-05-23 22:51] #3198 closed

[2019-05-23 22:52] jrbourbeau commented on #3198
Thanks for following up on this @bnaul!

[2019-05-24 07:39] pantaray commented on #4584
@bmerry @jakirkham Thanks for looking into this!

With the current master (`1.2.2+28.g41e5026b`) the first example (`da_dummy` with `drop_axis`) works now, the "workaround" `da_dummy2` (no `drop_axis` but returning `(idx, 1)`) still gives me the same `IndexError: tuple index out of range`, full traceback here:
<details>

[code]

[2019-05-24 07:58] crepererum commented on #4789
@TomAugspurger sure. I think I kinda missed the 2 modes the prometheus offers. So the metrics are present on the worker and have to be gathered/pushed/collected from there. You have 2 ways of doing so:
1. **default prometheus mode:** Prometheus fetches the data from the worker node. You have no influence when this happens since it is configured on the prometheus server ("scraping" and "scrape inte

[2019-05-24 09:01] davidwynter commented on #4367
This is how I cut down the massive logging output to something I could deal with/ It may be useful to someone else, or a more suitable version built into Dask:

[code]

[2019-05-24 09:34] bmerry commented on #4584
As far as I know the `map_blocks` function is supposed to return a numpy array, not a tuple, so I don't really expect `da_dummy2` to work, and it's probably coincidental that `da_dummy` works.

[2019-05-24 09:43] apatlpo opened #4839 "dask.bag unexpected KilledWorker when module cannot be imported"
I run into misleading error messages and thought it might be worth putting the information into an issue.

In a notebook, I import methods found in a local library (`from mylib import *`) and distribute calls to these methods.

If the distribution is performed with `client.submit, I get an informative message error:
[code]

If however I use a dask bag the worker is killed:
[code]
calls was: `db.fr

[2019-05-24 09:57] Hoeze opened #4840 "Support for sparse TileDB arrays"
Currently, sparse TileDB arrays are not supported:
https://github.com/dask/dask/blob/41e5026b482bfb4c39535f8f301a1832f8a2630f/dask/array/tiledb_io.py#L53-L54

I think it should be possible to wrap TileDB with e.g. [pydata/sparse](https://github.com/pydata/sparse/).
At least, that's my current type of workaround, but it would be very more comfortable having this directly in Dask.

[2019-05-24 11:24] jakirkham commented on #4584
Glad to hear this fixed the issue! 🎉 Thanks for checking @pantaray and thanks for the fix @bmerry. 😄

That's interesting that `map_blocks` worked with multiple return results at one point. As Bruce says, this is not behavior that was intentional. That said, I can certainly appreciate the value of having multiple results returned. If that is of interest to you, would you be willing to open a new is

[2019-05-24 11:27] jakirkham commented on #4840
Maybe @ihnorton has thoughts here? 🙂

[2019-05-24 11:28] jakirkham commented on #4837
Have you had a chance to try Matt's suggestion @jlevy44? Do you have any more questions?

[2019-05-24 11:33] jakirkham commented on #4750
What is the next step here? @lsorber would you be interested in opening a new issue as @mrocklin suggests? Is there anything else we should try to do in this issue?

[2019-05-24 11:44] jlevy44 commented on #4837
Yeah I’m going to try it, just have been swamped. I’d suspect this would work though. Feel free to close the issue if you’d like.

[2019-05-24 12:10] TomAugspurger commented on #4837
Let us know if it works out.

[2019-05-24 12:10] #4837 closed

[2019-05-24 12:39] lsorber commented on #4750
From my perspective, this issue can be closed since the current best practice is to use `ensure_dict` before modifying the graph.

In terms of next steps, I think it'd be great to work towards upgrading the graph optimiser API to allow multiple optimiser passes over the graph.

I don't have a concrete proposal for this though, and think the topic might be much deeper than it seems at first sight.

[2019-05-24 13:27] martindurant commented on #4839
Would appreciate any logging output from the workers before going down, if possible.

[2019-05-24 13:49] mrocklin commented on #4839
You're correct that missing modules shouldn't cause killed workers.  I'm
surprised to see that occur.  If you have time to generate a reproducible
example that would be helpful.

On Fri, May 24, 2019 at 8:27 AM Martin Durant <notifications@github.com>
wrote:

[2019-05-24 13:58] jcrist commented on #4750
Cool, I'll close this for now. Agreed that we should generalize how we expose graph optimizations - I think we only need a few plugin points for users to insert their own functions in different places, we won't need anything as complicated as what tensorflow has.

[2019-05-24 13:58] #4750 closed

[2019-05-24 14:05] lesteve commented on #4839
Something like this should reproduce:
[code]

[2019-05-24 14:12] pantaray commented on #4584
@bmerry @jakirkham Thanks for the quick feedback!

My bad, you're of course correct: `map_blocks` isn't really intended to return anything but arrays. Unfortunately, even with `return np.array([idx, 1])` in `da_dummy2` I still get the same error.

[2019-05-24 14:16] bmerry commented on #4584
That's probably because you're returning an array with shape (2,) whereas it should return an array with shape (1, 1) to match the `chunks` argument.

[2019-05-24 14:23] pantaray commented on #4584
@bmerry good catch. With `return np.array([[idx]])` (to enforce shape `(1, 1)`) `da_dummy2` works as well now. Thanks again!

[2019-05-24 14:27] jakirkham opened #4841 "Dask Array's pad should handle 0-dim constants on the edge"
Dask Array's `pad` doesn't currently treat 0-dim constants correctly. As a result, calls like this error.

[code]

<details>

[code]

</details>

[2019-05-24 14:38] jakirkham opened #4842 "Dask Array's constant pad coerces array to NumPy ndarray"
Currently Dask Array's pad (when using the `constant` mode) may end up coercing array data of a different array type to a NumPy `ndarray`. For example, the following code will result in a NumPy `ndarray`.

[code]

This still happens if we try to set the `constant_values` differently. If we provide a 0-D array, we run into issue ( https://github.com/dask/dask/issues/4841 ).

[2019-05-24 14:50] mrocklin commented on #4839
Hrm, indeed, reproduced.  Thanks @lesteve !

[2019-05-24 14:57] jakirkham commented on #4803
Just to add an observation here, currently the logic in `map_overlap` (particularly around constant edge values) runs into some issues as constant edge values are effectively turned into NumPy arrays, which cannot be concatenated with CuPy arrays. So we will probably want to rework this logic.

[code]

<details>

[code]

</details>

[2019-05-26 06:21] cornhundred opened #4843 "Dask client not running on Colab"
Dask client is not running on Colab. My code is:

[code]

and the error is:

[code]

To reproduce the error please see the following Colab gist:

https://colab.research.google.com/gist/cornhundred/70524e9425db14f3adec9e86660aa313/trying_dask_on_colab.ipynb

[2019-05-26 06:25] cornhundred opened #4844 "Dask dashboard not working on Kaggle"
The Dask dashboard is not working on Kaggle. My code is:

[code]

Clicking the Dashboard link says "This site can’t be reached"

I'm guessing that page (e.g.  http://127.0.0.1:8787/status) is not being served by Kaggle. Is there any way to get any of the dashboard components to be visible in the notebook? Or would we IFrame something into the notebook?

To reproduce the error please see the Kaggle

[2019-05-26 11:28] TomAugspurger commented on #4844
@quasiben is something like https://github.com/dask/distributed/pull/2715 likely to solve this?

[2019-05-26 11:30] TomAugspurger commented on #4843
Are you in contact with anyone from colab about this?

[2019-05-26 11:56] cornhundred commented on #4843
Not yet, but I'll raise the issue with Colab.

[2019-05-26 14:10] mrocklin commented on #4844
Nope.  That's different. This likely needs to be solved on the Kaggle
side.  They either need to open up another port, or else use something like
nbserverproxy to allow the Jupyter notebook server to proxy through the
dask dashboard.

I recommend raising a feature request with Kaggle.  There isn't much we can
do other than implement tools that can solve this problem.  Kaggle needs to
choose to act

[2019-05-26 15:09] marberi opened #4845 "ValueError: cannot handle a non-unique multi-index!"
[dask_error.txt](https://github.com/dask/dask/files/3220417/dask_error.txt)

This might be related to Dask not supporting multi-indexes. My code was randomly
failing, which made me first assume there was a problem in the input data. Running
with the versions

dask: 1.2.2
numpy: 1.16.3
pandas: 0.24.2

the minimal example below fails. Is there a way of making this error message more
intuitive? Or ha

[2019-05-26 16:26] TomAugspurger commented on #4844
That’s my suspicion too. I’d recommend reaching out to them and pointing them here if they have questions.

Closing for now since there isn’t any immediate step to take here.

[2019-05-26 16:26] #4844 closed

[2019-05-26 17:18] letmaik opened #4846 "AttributeError: module 'dask.array.numpy_compat' has no attribute 'nancumprod'"
These lines are incorrect:
https://github.com/dask/dask/blob/125e0d7872ffb5374f5b2ccb20cdb79ca4834682/dask/array/chunk.py#L70-L74

The [numpy_compat](https://github.com/dask/dask/blob/master/dask/array/numpy_compat.py) module doesn't define these functions, hence it will fail badly with older numpy versions, like 1.11.

The numpy_compat moduled contained the functions up until dask 1.2.0, with 1.2

[2019-05-26 17:35] cornhundred commented on #4844
Thanks I'll raise the issue with Kaggle

[2019-05-26 17:56] TomAugspurger commented on #4846
We recently bumped the minimum numpy version to 1.13. How’d you install dask?

[2019-05-26 18:53] letmaik commented on #4846
[code]

https://ci.appveyor.com/project/letmaik/rawpy/builds/24820422/job/mcp7o1ajeo9cv3d5#L741

[2019-05-26 22:26] TomAugspurger commented on #4846
Did dask come from conda forge or defaults?

[2019-05-27 02:27] TomAugspurger commented on #4846
I see that our dependencies on Conda-forge weren't updated. I'll make a PR updating them.

[2019-05-27 02:32] smartass101 opened #4847 "vindex with 2D int array fails to schedule or does not chunk"
I'm trying to achieve the create a temporary array from shape `(f, t)` to ` f1, f2, t)` by vectorized integer broadcasting along these lines

[code]

. Because it does not fit into memory, I tried using dask. Unfortunately, that also doesn't work, either it gets stuck  while creating the dask graph if chunking over `t` or does the full broadcast even when chunking over `f1, f2`.

I also tried `das

[2019-05-27 02:39] #4846 closed

[2019-05-27 02:40] TomAugspurger commented on #4846
@letmaik conda-forge should be building corrected packages now.

@jakirkham do you know if the bad packages need to be manually removed? i.e. will `conda install -c conda-forge numpy=1.11 dask=1.2.2` correctly error in the future, or will the solver fall back to the lower build number with the incorrect metadata?

[2019-05-27 07:04] JoranDox opened #4848 "deprecation warnings messages in Read-from-Parquet documentation"
https://examples.dask.org/dataframes/01-data-access.html#Read-from-Parquet

![image](https://user-images.githubusercontent.com/7152733/58401506-59992280-805e-11e9-8fd9-ea2ca1aaaca9.png)

[2019-05-27 07:09] shoyer commented on #4847
`vindex` in dask is not terribly efficient. Due to the way dask.array works (building a full computation graph before doing computation), it has to check indexing operations over all pairs of possibly matching chunks.

If the structure of your data allows doing this operation in another way, I would recommend that. Based on your toy example, it looks like combining `dask.array.roll()` and `dask.ar

[2019-05-27 08:56] smartass101 commented on #4847
Thank you for the pointer, combining `roll` and `stakj` could work indeed in this case. I suppose in xarray jargon that would be `shift` and `concat`.

[2019-05-27 09:38] letmaik commented on #4846
This came from defaults. Just run these commands and you can reproduce it:
[code]

[2019-05-27 12:22] TomAugspurger commented on #4846
I think the defaults recipe mirrors conda forge. I’ll ping the distro team after the holiday to make sure they pick up build number bumps.

[2019-05-27 13:34] martindurant commented on #4848
The environment in the repo lists [pyarrow 0.10.0](https://github.com/dask/dask-examples/blob/master/binder/environment.yml#L14), but pandas is not pinned, hence this error. I'll check, but I expect it's completely safe to use pyarrow 0.12 at least.

[2019-05-27 17:11] shoyer commented on #4847
In xarray it would be roll/concat.

[2019-05-27 23:53] martindurant commented on #4848
I can confirm that pyarrow 0.12 works without any warnings. I'll go through the environment and see which of the packages are safe to update across all of the examples.

[2019-05-28 03:46] smartass101 commented on #4847
Thank you for the pointer, last time I checked, `roll` in `xarray` didn't have `roll_coords`, great to see it being added.

[2019-05-28 11:03] TomAugspurger commented on #4845
Can you provide a reproducible example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-05-28 11:12] TomAugspurger commented on #4845
Note that this only happens when we have multiple threads working with the same data.

[code]

Seems like some piece of data is being manipulated inplace by two threads.

[2019-05-28 14:59] jakirkham commented on #4584
Glad to see we got this issue sorted 😄

[2019-05-28 15:07] jakirkham commented on #4635
So `chunks='auto'` is now supported in `da.eye` thanks to PR ( https://github.com/dask/dask/pull/4834 ).

The remaining task is to support anisotropic chunks for `da.eye` as well. For example we'd like to support the following, `da.eye(12, chunks=(4, 3))` (stolen from [Tom's example]( https://github.com/dask/dask/pull/4834#issuecomment-494937041 ) ;).

[2019-05-28 15:10] tpanza commented on #4825
Yeah I'll try to get something together, using the pointers above

On Tue, May 21, 2019, 9:57 AM Tom Augspurger <notifications@github.com>
wrote:

[2019-05-28 15:11] mrocklin commented on #4843
My guess is that they don't allow users to start processes.  You might try the following for now:

[code]

Though there are performance implications of this, particularly when using GIL-bound computations.

[2019-05-28 15:12] mrocklin commented on #4840
I general I think that this change would be welcome.  +1 on asking TileDB devs about it, I think that they have historically maintained Dask's TileDB connection.

[2019-05-28 15:13] mrocklin commented on #4830
Closing this as fixed upstream, pending release.

[2019-05-28 15:13] #4830 closed

[2019-05-28 15:15] mrocklin commented on #4635
While I agree that anisotropic chunks are in scope, does anyone actively
want this?  I'm not sure I've ever seen any actual uses of `da.eye` in
practice.  I'm somewhat in favor of closing until more people ask for this
functionality.

On Tue, May 28, 2019 at 10:07 AM jakirkham <notifications@github.com> wrote:

[2019-05-28 15:43] jrbourbeau commented on #1496
Closed via https://github.com/dask/dask.github.io/pull/8

[2019-05-28 15:43] #1496 closed

[2019-05-28 16:31] TomAugspurger commented on #2789
I plan to work on this this week.

[2019-05-28 16:36] jakirkham commented on #4635
Personally I don't see a problem with keeping this issue open (especially if we think it is in scope). Though I agree this seems like lower priority relative to other issues.

[2019-05-28 16:44] TomAugspurger commented on #4848
Closed by https://github.com/dask/dask-examples/pull/73

[2019-05-28 16:44] #4848 closed

[2019-05-28 16:47] jakirkham opened #4849 "Allow `da.bincount` to handle N-D arrays (with warning)"
Currently [`da.bincount` requires the input array be 1-D]( https://github.com/dask/dask/blob/2f308e72a46de818055819108429e8f7ce7ba03b/dask/array/routines.py#L529-L531 ). If the actual array is multidimensional, this requires the user to flatten the array first, which can be quite expensive. It would be preferable to relax this to a warning and simply handle `bincount` on all of the chunks as if th

[2019-05-28 17:29] jakirkham commented on #4846
Thanks @TomAugspurger. I've pulled what I believe to be the broken packages from conda-forge (as noted in your PR), but if you can recheck that would be very helpful.

[2019-05-28 17:31] jakirkham commented on #4846
Independently it's probably worth dropping these fallbacks as they are not needed. Have submitted PR ( https://github.com/dask/dask/pull/4850 ) to address that.

[2019-05-28 18:17] TomAugspurger commented on #4846
@jakirkham confirmed for conda-forge

[code]

[2019-05-28 20:14] jakirkham commented on #4846
Thanks Tom!

[2019-05-29 01:17] jakirkham commented on #4789
Does this help clarify things, @TomAugspurger?

[2019-05-29 01:19] jakirkham commented on #4839
Any thoughts on next steps here, @mrocklin?

[2019-05-29 01:34] jakirkham opened #4852 "Use tree reduction in `da.bincount`"
Currently `da.bincount` does a [reduction over `np.bincount`s from each chunk]( https://github.com/dask/dask/blob/2f308e72a46de818055819108429e8f7ce7ba03b/dask/array/routines.py#L549 ). It would be nice to change this to use [a tree reduction]( https://github.com/dask/dask/blob/master/dask/array/reductions.py ) instead.

[2019-05-29 01:51] mrocklin commented on #4839
Not a ton, no.  The thing to do here is to figure out where we're deserializing this bit of data, and figure out how to make the system robust to that bit of code failing.  Clearly we've done this clearly for other cases.  I don't have any particular thoughts on why this might differ.  Someone would have to investigate further.  As a disclaimer, that person is unlikely to be me any time in the nex

[2019-05-29 05:05] GenevieveBuckley commented on #4849
Can you explain why it's more efficient to flatten each chunk separately, rather that flattening the whole dask array?

I assume there is some extra overhead in calling `.ravel()` on a dask array vs a numpy array, but how substantial is it?

[2019-05-29 05:06] SteffenRoe opened #4854 "Dask is not support Multiindex"
Hi guys,

when are u planning to add support for multiindex?

that would be outstanding. its a really great library!!!

[2019-05-29 08:24] pentschev commented on #4830
Just to clarify, this is not yet in upstream, it requires #4543 to be merged.

[2019-05-29 13:22] TomAugspurger commented on #4854
https://github.com/dask/dask/issues/1493 has some info. Basically need a well-thought out design  and someone with the time to implement it.

[2019-05-29 13:22] #4854 closed

[2019-05-29 13:23] TomAugspurger commented on #811
Closing in favor of https://github.com/dask/dask/issues/1493

[2019-05-29 13:23] #811 closed

[2019-05-29 15:19] jakirkham commented on #4849
Thanks for the engagement here @GenevieveBuckley. Was debating pinging you, but was also thinking about diving into this issue a bit more before pulling more people in.

When flattening a Dask Array, it effectively spreads out your chunks. This is because it is trying to respect the same traversal order that NumPy has. However this means it passes through each chunk repeatedly to extract small pie

[2019-05-29 15:42] jakirkham opened #4855 "Flattening Dask Arrays without spreading out chunks"
Currently functions like [`ravel`]( http://docs.dask.org/en/latest/array-api.html#dask.array.Array.ravel ) and [`flatten`]( http://docs.dask.org/en/latest/array-api.html#dask.array.Array.flatten ) follow the same traversal that one would expect when using NumPy. This makes sense for users coming from NumPy, who would expect this. Also there are some Dask Array functions that rely on this behavior

[2019-05-29 15:43] jakirkham commented on #4855
cc @shoyer @pentschev @GenevieveBuckley (to get a few different perspectives on this)

[2019-05-29 15:46] shoyer commented on #4855
Yes, this would be useful. I think either a new option in the `order` parameter or a new parameter to these functions/method would work.

[2019-05-29 16:06] jakirkham commented on #4855
Just to provide more context for item 3 (config option), this could be useful when the user does not have direct access to `ravel`/`flatten`, but still wants this behavior to be used under the hood. For example, [`argwhere` flattens the array]( https://github.com/dask/dask/blob/2f308e72a46de818055819108429e8f7ce7ba03b/dask/array/routines.py#L1117 ) and [`nonzero` also does so indirectly]( https://

[2019-05-29 18:29] shoyer commented on #4855
I would much rather thread a new argument through argwhere/nonzero in dask than add a configuration option. Global configuration options lead to spooky "action at a distance" that can be very hard to debug, e.g., if unexpected operations also happen to indirectly use flattening.

[2019-05-29 18:29] jakirkham opened #4857 "Handling arbitrary arrays in bincount"
Currently we are [hardcoding a NumPy array in `bincount`]( https://github.com/dask/dask/blob/2f308e72a46de818055819108429e8f7ce7ba03b/dask/array/routines.py#L521 ). It would be good to match the result array type with the arrays provided as input.

[2019-05-29 18:30] jakirkham commented on #4857
cc @pentschev (in case this is of interest)

[2019-05-29 18:32] jakirkham commented on #4857
Just as one more note, here is the (shortened) traceback one sees when using CuPy arrays.

[code]

[2019-05-29 18:38] jakirkham commented on #4855
Good point. Just wanted to make sure it made sense why that was in the list. 🙂

[2019-05-29 18:45] jakirkham commented on #4855
FWIW here is the code I hacked together to do this myself. Not to say it should be implemented exactly like this, but hopefully it is useful when this actually gets implemented somewhere.

[code]

[2019-05-29 18:56] pentschev commented on #4855
Sorry for joining the discussion late, but while I agree with @shoyer's point on global configurations, I'm also growing more concerned about non-NumPy API arguments. If someone wants to use Dask today calling `np.ravel(dask_array, non_numpy_arg=some_value)`, `non_numpy_arg` would have to be removed for a non-Dask array in the future.

[2019-05-29 19:01] jakirkham commented on #4855
Does this mean you would prefer option 1 or 4?

[2019-05-29 19:03] pentschev commented on #4857
Unfortunately, this is not the only place there are hardcoded arrays. Ultimately, I think we will have to handle all existing calls to array creation functions, which include:

- `empty` and `empty_like` (as well as their counterparts, `full`, `ones`, `zeros`);
- `array` and `asarray`;
- possibly others I haven't seen or can't think of now.

[2019-05-29 19:09] pentschev commented on #4855
Actually, I can't think of any good solutions that won't introduce issues on one way or another. Option 1 would probably introduce the same problem as I've mentioned before. Option 4 doesn't do that, but on the other hand, it would introduce another function, that wouldn't work with `__array_function__`. I think option 4 would at least be more explicit to users, since they won't need to check whic

[2019-05-29 19:12] shoyer commented on #4855
I have no strong preference between options (1), (2) and (4).

[2019-05-29 19:21] jakirkham commented on #4857
At least for this case, we might be able to get away with something like...

1. Copy the larger of the two arrays.
2. Add the smaller array into the larger one.
3. Get the next array and repeat.

There's some inefficiency with this proposal, but that is true of ragged arrays in Python generally, which is what we are effectively working with in this case.

Not to mention we may want to adjust this

[2019-05-29 19:33] pentschev commented on #4857
Do you have a sample to reproduce the issue above @jakirkham? I think with `_meta` we can easily solve that by replacing the creation of `out` with `out = np.zeros_like(bincounts._meta, shape=n, dtype=dtype)`. This will require NumPy 1.17, but it's one of the cases we can't really deal without the new `shape` argument.

No, there's no open issue yet. I've been thinking of possible solutions and th

[2019-05-29 19:41] jakirkham commented on #4857
Sure, here's a simple example.

[code]

[2019-05-29 19:43] jakirkham commented on #4857
It would be great if we raised the issue on Dask to start. Agree we might need to go in different directions from there, but that at least gives us a starting point to do that from.

[2019-05-29 19:45] pentschev commented on #4857
Sure, will formulate that nicely and raise an issue on Dask tomorrow to start. Thanks for the example, I'll check how to make sure it works with `_meta`.

[2019-05-29 19:46] jakirkham commented on #4857
Thanks Peter! 😄

[2019-05-29 19:47] pentschev commented on #4857
Glad to help! :)

[2019-05-29 20:45] jakirkham commented on #4843
@cornhundred, have you had a chance to try Matt's suggestion above?

[2019-05-29 20:47] jakirkham commented on #4845
If that's true, would it be possible to inject copies in-between steps to identify where the in-place manipulation is occurring?

[2019-05-29 21:34] pentschev commented on #4857
Fixed in https://github.com/dask/dask/pull/4543 now, but requires NumPy 1.17 (unreleased), and adding `shape` argument to CuPy `*_like` functions https://github.com/cupy/cupy/pull/2171, which is unmerged and won't be merged until NumPy 1.17 is released. I found also a bug with the CuPy PR I mentioned, which I fixed locally and will push a commit once I add tests for that.

[2019-05-30 01:05] cornhundred commented on #4843
Hi @jakirkham, yes adding the argument `processes=False` worked - see gist https://colab.research.google.com/gist/cornhundred/1fa599c4cb09cded2a598cc02ca3947b/trying_dask_on_colab_no_processes.ipynb

However, I have to read the documentation more to understand the consequences of not using proceses. Also, the Dashboard link is not working.

[2019-05-30 02:13] GenevieveBuckley commented on #4855
The major point I want to make is that if this is implemented, an explanation of it should also go in the 'best practices for dask arrays' docs - I bet there are users out there who'd be grateful to know about the performance implications.

[2019-05-30 02:23] raymondyao opened #4858 "dropna for columns"
Missing dropna(axis='columns) like pandas

[2019-05-30 02:31] GenevieveBuckley commented on #4855
For the question you actually asked:
1. I'd also vote no for option 3 (I agree with @shoyer on this, he explains the potential pitfalls well upthread).
2. I'd want to prioritise an API that is compatible with numpy as far as possible. Ideally it would be relatively easy for users to take code they wrote for dask arrays and re-use it for numpy arrays without it breaking. In cases where that's not p

[2019-05-30 03:05] quasiben commented on #4858
Thanks @raymondyao for the suggestion.  Any interest in contributing a PR ?

[2019-05-30 03:32] jakirkham commented on #4843
Glad to hear that worked.

Could you please raise another Colab issue about the Dashboard being inaccessible?

[2019-05-30 03:42] #4814 closed

[2019-05-30 07:35] endremborza opened #4859 "unexpected indices are out-of-bounds error"
**Bug report:**

I looked for quite a while, but couldn't find a reason for this:
[code]

it works for smaller numbers, but gives KeyError: IndexError('indices are out-of-bounds',) for large enough ones, which it probably shouldn't. Doesn't give any other indication as to what is wrong.

[2019-05-30 07:38] endremborza commented on #4859
oh, and if I leave off the last compute off the last arr,

[code]

this is rather unexpected as well

[2019-05-30 09:06] codercody opened #4860 "Repartition randomly dropping some rows"
**Bug report**

When I called `set_index(..., sorted=True)`, I got a warning saying partition indices have overlap, which is fine. From here, after calling `repartition`, I lost a row. This must be a bug in the `repartition` code since I don't see why `repartition` would make me lose rows.

[code]

[2019-05-30 13:44] simaster123 opened #4861 "Issue reading CSV files from non-working directory in Windows"
I posted this issue on Stackoverflow a couple days ago thinking there would be an easy workaround, but I still cannot read CSVs from a different hard drive using Dask's "read_csv" function in Windows.

This seems related to the issue discussed here, but the resolutions discussed there did not work for me:  https://github.com/dask/dask/issues/1885

I tried various combinations of converting '/' to

[2019-05-30 16:03] jlevy44 commented on #4837
I seem to be getting this numpy error:

ValueError: mmap length is greater than file size

[2019-05-30 16:04] jlevy44 commented on #4837
@TomAugspurger

[2019-05-30 16:08] TomAugspurger commented on #4837
Can you give a full example?

[2019-05-30 16:22] jlevy44 commented on #4837
I just ran
[code]
with some npy file and obtained this error.. I'm not sure if I can elaborate past this.

[code]
Some of the files passed through fine, others not so much.
I'm running multiple npy 2 dask conversions in parallel, perhaps they're memory mapping to the same location? Not sure.

[2019-05-30 16:26] jlevy44 commented on #4837
I think I may have fixed it by changing the memory mapping mode to r+.

[2019-05-30 16:27] jlevy44 commented on #4837
It would be a nice feature to build this into dask, just this tiny function, pulling data from a memory mapped npy.

[2019-05-30 16:28] jlevy44 commented on #4837
I think you have something for stacked npy but I didn't see anything for one single npy.

[2019-05-30 16:46] jakirkham commented on #4843
After talking with a colleague about the dashboard issue, they recommended using `ngrok`. This [SO answer]( https://stackoverflow.com/a/48468512/3877089 ) may also be useful for setting it up.

Would also be curious if `jupyter-server-proxy` works here. If not, it might be worth [raising an issue on `jupyter-server-proxy`'s tracker]( https://github.com/jupyterhub/jupyter-server-proxy ) with whatev

[2019-05-30 16:51] randerzander commented on #4843
@cornhundred I suspect the dashboard being inaccessible is because printing the client info in Colab gives you a localhost address:
[code]

I've dug around for ways to expose it, and the simplest I've seen is using ngrok like so:
[code]

That should print a link which you can click and get the Dask Status Dashboard for your Colab instance.

[2019-05-30 17:41] philippegr opened #4862 "Adding bokeh to the complete install scope"
This is a feature request

From the [doc](http://distributed.dask.org/en/latest/web.html) Bokeh has to be installed separately. This is a somewhat unexpected behavior, as one would think that a `pip install dask[complete]` would bring everything.

I think that it would be worth: either including bokeh in the scope of complete or stating in dask-tutorials (like the one at Scipy) that the web interf

[2019-05-30 19:08] pentschev commented on #4855
I strongly agree with this. Given the negative impact of option 3, that only leaves us with option 4, which wouldn't meddle with NumPy API at all.

That said, my vote remains for option 4.

[2019-05-30 19:46] codercody commented on #4860
I found a workaround to this phenomenon. Instead of using `repartition`, I just manually constructed the graph using `methods.boundary_slice`, though it seems like overkill to me.

[2019-05-30 22:13] TomAugspurger commented on #4861
What is `dask.bytes.core.get_fs_token_paths(file_path + item)` on your system?

[2019-05-30 23:20] simaster123 commented on #4861
(<dask.bytes.local.LocalFileSystem object at 0x000001FD4DCDEF98>, '5dc96918a5449170f49bbbcaef27ea92', ['F:/test_data/filename.csv'])

(I moved the data to my F drive from my D drive

[2019-05-31 03:14] TomAugspurger commented on #4861
Can you post the full traceback?

If you're interested in debugging, I would drop a `pdb.set_trace()` somewhere around https://github.com/dask/dask/blob/a6abe3ca75179a7264a15de043335e6dbed684ea/dask/dataframe/io/csv.py#L328

[2019-05-31 07:58] TomAugspurger commented on #4837
function, pulling data from a memory mapped npy.

da.from_array should work for array-like things, including a memmapped file.

On Thu, May 30, 2019 at 11:27 AM Joshua Levy <notifications@github.com>
wrote:

[2019-05-31 08:58] TomAugspurger commented on #4860
It's possible that `sorted=True` is assuming that the provided index is
strictly increasing. Are you interested in investigating?

On Thu, May 30, 2019 at 2:46 PM Cody Johnson <notifications@github.com>
wrote:

[2019-05-31 09:00] TomAugspurger commented on #4837
Can you provide a script to create a dummy file? See
http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports.

That error kinda looks like it's coming from NumPy though. Does just
`np.load` call raise the error?

On Thu, May 30, 2019 at 11:22 AM Joshua Levy <notifications@github.com>
wrote:

[2019-05-31 13:17] TomAugspurger commented on #4845
I'm not sure. I think a more productive line is to demonstrate the thread safety issue with pandas-only code and a ThreadPool, and see if changes can be made to pandas. @marberi are you interested in exploring that?

[2019-05-31 13:29] marberi commented on #4845
@TomAugspurger Could you outline how I could make such a test? I am quite familiar with Pandas from as a user, but not how one would debug this issue.

[2019-05-31 13:47] TomAugspurger commented on #4845
I'm not entirely sure either. This is a bit tricky, since it's not clear
what section of pandas is mutating the shared object.

I would try a couple approaches:

1. Use a ThreadPoolExecutor to apply multiple reductions (cumcount, commix)
to the same DataFrameGroupBy object at the same time.
   That would help narrow down whether the issue is in pandas' groupby
code, or in the indexing dask does be

[2019-05-31 14:46] philippegr opened #4864 "Dask does not detect pyarrow"
From a docker image python:3.7
[code]
In Python
[code]

Importing pyarrow is fine and if fastparquet is installed, the code complains that "/" is a directory and not a .parquet file as expected.

[2019-05-31 14:56] philippegr commented on #4864
This has to do with pyarrow==0.13.0 not being supported by Dask as one can see by doing
[code]

This issue is more around the error message in the read_parquet() with pyarrow 0.13.0 then

[2019-05-31 14:58] jakirkham commented on #4517
The docstring wrapping has since been improved. Am going to go ahead and close this, but please feel free to raise a new issue if there are other things off with this change. Thanks!

[2019-05-31 14:58] #4517 closed

[2019-05-31 15:05] codercody commented on #4860
I’m currently working on implementing `merge_asof` but am certainly interested after I finish up! Shouldn’t be too much longer…

[2019-05-31 16:13] TomAugspurger commented on #4864
@martindurant do you know if pyarrow 0.13.1 will fix things without changes to dask?

[2019-05-31 16:17] jakirkham commented on #4864
@martindurant, would you be able to take a look at this?

[2019-05-31 16:22] jakirkham commented on #4842
@pentschev, do you have any thoughts on how best to handle this or issue ( https://github.com/dask/dask/issues/4841 )?

[2019-05-31 16:26] #4801 closed

[2019-05-31 16:27] jakirkham commented on #4847
Did Stephan's suggestion work for you, @smartass101? Is there anything else to do here?

[2019-05-31 16:29] jakirkham commented on #4852
This could be a fun task if it is interesting to you, @madsbk. Would provide an opportunity to learn about how reductions work in Dask and how to construct task graphs.

[2019-05-31 16:30] jakirkham commented on #4855
Sounds like the consensus is 4, correct? Please either +1 or -1 this comment if that is either correct or incorrect.

[2019-05-31 16:32] jakirkham commented on #4859
@TomAugspurger, would you have a chance to look at this?

[2019-05-31 16:36] TomAugspurger commented on #4859
@endremborza which versions of pandas and dask? I don't see an error on `df.loc[arr.compute(),:].compute()` with dask master and pandas 0.24.2

[2019-05-31 16:38] TomAugspurger commented on #4859
That's possibly a bug. For a boolean Dask Array mask, we should assume that the length of the array matches the length of the Dataframe, and raise a execution time if they aren't. Essentially the same as `df.loc[df['0']]`, but without the alignment.

[2019-05-31 16:43] jakirkham commented on #4862
Interesting question. Maybe it is worth adding a `diagnostics` extra, which includes `bokeh`. That way it will be folded into `complete`. Thoughts from others?

cc @mrocklin @TomAugspurger @quasiben @jrbourbeau @martindurant

[2019-05-31 16:44] vilmara commented on #3484
Hi @darindf, did you fix this issue?, I getting the same error

[2019-05-31 16:58] darindf commented on #3484
I think I ended up modifying the config.yaml file to increase the time out values.

[2019-05-31 17:02] jakirkham commented on #2254
cc @mpeaton

[2019-05-31 17:06] vilmara commented on #3484
@darindf thanks for your prompt reply, where is that file located? is this part of the dask installation?

[2019-05-31 17:25] martindurant commented on #4864
Yes indeed, the error which shows for `engine='pyarrow'` is being swallowed up by the general error when using `engine='auto'` (the default) and neither being successfully found.

Indeed, pyarrow 0.13.0 does not work with distributed, due to serialisation issues. It maybe works with pure dask following some fixes on our end. The current issues should be solved in version 0.13.1, but since that is

[2019-05-31 17:29] martindurant commented on #4864
To reiterate: the correct workaround for now is to *downgrade* pyarrow

[2019-05-31 17:32] mrocklin commented on #4852
How important is it to do a tree reduction here?  I understand the value of tree reductions generally, I'm mostly just curious about when this becomes awkward.

[2019-05-31 17:43] mrocklin commented on #4852
How important is it to do a tree reduction here?  I understand the value of tree reductions generally, I'm mostly just curious about when this becomes awkward.

[2019-05-31 18:10] darindf commented on #3484
The configuration location is  defined in [url](http://distributed.dask.org/en/latest/configuration.html).

This page doesn't describe the distributed [options](https://github.com/dask/distributed/blob/master/distributed/distributed.yaml) which are additional to the dask options.

The setting I changed is limit setting from 3s to 3h
[code]

[2019-05-31 18:22] pentschev commented on #4842
Seems like they should be treated as part of #4543, I'll check this and #4841 next.

[2019-05-31 18:51] jakirkham commented on #4842
Thanks Peter!

[2019-05-31 18:56] jakirkham commented on #4852
Running `bincount` on the AOLLSM m4 dataset now is pretty slow. My hope is this would help speed it up, but I could be wrong about this.

[2019-05-31 19:01] martindurant commented on #4864
@philippegr , ok to close this?

[2019-05-31 20:20] philippegr commented on #4864
Yes!
I see this is as a temporary problem from an external depency.

Thank you very much everybody

[2019-05-31 20:20] #4864 closed

[2019-06-01 11:11] njanakiev opened #4866 "Index not continuous for read_csv with chunksize specified"
First of all, wonderful project, thanks for the efforts!
I noticed that the index of the resulting dataframe from `.read_csv()` with `blocksize` argument is not continuous for the whole dataframe (it repeats for each block from `0` to `blocksize - 1`):

[code]

Pandas also offers the functionality to read chunks of a CSV with [pandas.read_csv](https://pandas.pydata.org/pandas-docs/stable/reference

[2019-06-01 11:54] TomAugspurger commented on #4866
Given just the blocksize, do we know the number of rows per partition without reading the actual file?

[2019-06-01 12:10] endremborza commented on #4859
1.2.2 and 0.24.2
you may need to increase the number of rows or force it to more partitions.

[2019-06-01 12:14] TomAugspurger commented on #4859
Do you have an example that reliably reproduces?

[2019-06-01 12:30] endremborza commented on #4859
I don't know what to tell you, it reliably reproduces for me. Ubuntu 16 docker image, python 3.6.8

[code]

after this both with or without ```.compute()``` after arr gives the same error as described above.

it works if i decrease the rownum from 1,000,000 to 100,000, thats why I suggested you increase that.

[2019-06-01 18:40] bmerry opened #4867 "Performance enhancement: pre-compute chunk boundaries"
I'm opening this to start a discussion - I don't know if will actually turn out to be a good idea. If there's agreement that it's worth investigation I will try to find some time to implement it.

# Proposal

At present a dask array stores the chunking scheme as a list of chunk sizes (per dimension), but there are a number of places where the positions of chunk boundaries are needed (just search f

[2019-06-02 14:40] Sriharsha-hatwar commented on #4832
Hi so basically it should return two elements which are themselves an array, one is with the quotients and one is with the remainders right?

I will take this up if that's the case :)

[2019-06-02 17:23] mrocklin commented on #4748
Here is a draft of a form using Google Forms

https://docs.google.com/forms/d/e/1FAIpQLSeG12dOna6dIR85Qza6Cr_CZ9rxqH08pilmeQR7ehaJDu25Fw/viewform

[2019-06-02 17:26] bryevdv commented on #4748
I'm guessing "Option 6" is not a real support channel?

[2019-06-02 18:34] bluecoconut opened #4869 "Groupby NUnique is slow and possibly buggy"
## Overview
I ran into some issues where groupby nunique was bottle-necking my computations. In chasing things, I found that by re-implementing and I was able to get over 100x improvement in speed in lots of test cases, but I'm unsure of the extra requirements to merge this / generalize my solution to work for all dask groupby nunique. (not sure current status / support on multi-index groupbys)

T

[2019-06-02 18:59] bluecoconut opened #4870 "Series Map does not have implementation for dask Series"
Map Series does not work for dask Series mapped to dask Series.

## Example
[code]

Get Error:
```TypeError: arg must be pandas.Series, dict or callable. Got <class 'dask.dataframe.core.Series'>```

[2019-06-02 19:02] mrocklin opened #4871 "Implement Series `__iter__` protocol"
This would solve this stack overflow question:

https://stackoverflow.com/questions/56416326/iterate-through-a-dask-series-getting-unique-values-from-dask-series-to-list/56418050#56418050

Probably this is just a call to one of the `iter` methods already defined.  I don't know exactly what Pandas semantics are though, so this might take a little investigating to see what they do.

[2019-06-02 19:09] bluecoconut commented on #4870
Included a PR to address: https://github.com/dask/dask/pull/4872

[2019-06-02 19:37] jakirkham commented on #4832
Yep, that is the idea. Please feel free to. Would be happy to review a PR.

[2019-06-03 03:09] TomAugspurger commented on #4869
Thanks for the report. It'd be a tad easier to review the code in a PR, so I haven't looked closely at that, apologies.

That should be fine in this case. The output dtype should always be ints?

We follow pandas, so a regular NumPy int64 would be correct.

Do you see that with pandas only? Or is that a Dask issue?

I believe it should be the same behavior for nunique.

I'm not sure offhand. Does

[2019-06-03 06:17] javabrett commented on #2656
I think you can always re-partition to `npartitions=1`, at the cost of doing that, and the potential consequences on performance of the export and re-import.  But you'll get a single CSV file.

[2019-06-03 06:19] javabrett commented on #2656
I visited this issue when triaging some bugs.  One thing I observed is that Dask wasn't creating any parent-paths for me, so errored-out when attempting to `to_csv()` or `to_json()` into a non-existent path.  This wasn't completely unexpected, but might cause some confusion when the last directory-path-segment is viewed or treated like a pseudo-filename, because it is actually a container for the

[2019-06-03 09:10] crusaderky commented on #3663
Just a heads up that I won't be able to work on this on the short term future - so if anybody wants to pick it up, he's most welcome to do so.

[2019-06-03 11:11] GenevieveBuckley commented on #3663
This might be a good one for someone to pick up at the scipy sprint that's on in a few weeks.

[2019-06-03 13:42] curiouscod3 opened #4873 "How to read directly from MongoDB or other NoSQL like Couchbase"
How to directly read from Mongodb or Couchbase?
It would be nice to read directly from NoSQL database like dd.read_mongo(), read_couchbase().

[2019-06-03 14:35] jakirkham commented on #3663
Thanks all. I've marked it as a good second issue.

[2019-06-03 14:42] jakirkham opened #4874 "divmod doesn't work on Dask Series"
Currently [`divmod`]( https://docs.python.org/3/library/functions.html#divmod ) doesn't work on Dask Series. This should just be a matter of defining [`__divmod__`]( https://docs.python.org/3/reference/datamodel.html#object.__divmod__ ) and [`__rdivmod__`]( https://docs.python.org/3/reference/datamodel.html#object.__rdivmod__ ) for Dask Series objects, which can be defined in terms of the integer

[2019-06-03 14:44] jakirkham commented on #4843
@cornhundred, does this info help?

[2019-06-03 14:45] jakirkham commented on #4845
@marberi, does Tom's suggested course of action above make sense? Do you have additional questions?

[2019-06-03 14:49] jakirkham commented on #4861
@simaster123, have you had a chance to try Tom's suggestion above?

[2019-06-03 14:50] cornhundred commented on #4843
Hi @jakirkham, I made a gist with the changes suggested by @randerzander (https://colab.research.google.com/gist/cornhundred/7b6f535d279cc2005a13f6a6e21e00bd/trying_dask_on_colab_no_processes.ipynb#scrollTo=rQuhrN9ZxXLj), but I'm getting a "Web Page Blocked" error.

`Access to the web page you were trying to visit has been blocked in accordance with company policy. Please contact the helpdesk x4HE

[2019-06-03 14:51] jakirkham commented on #4862
As no one else has responded, I'll assume my suggestion above is ok (though please speak up if not). Would you be interested in submitting such a PR, @philippegr?

[2019-06-03 14:56] jakirkham commented on #4871
@TomAugspurger, any thoughts on this?

[2019-06-03 14:58] jakirkham commented on #4873
@martindurant, any thoughts on this?

[2019-06-03 15:11] martindurant commented on #4873
You can do this now with `dask.delayed`. What you will need to do, is come up with a reasonable way to partition your data, and then generate a query for each of your partitions. Then, so long as you have a function which takes one of these queries and returns the corresponding list of objects (or dataframe), you are done. The code would look something like this
[code]

[2019-06-03 15:20] jakirkham commented on #4867
Thanks for the nicely written issue, @bmerry. I'll give this some thought and follow-up.

[2019-06-03 15:20] martindurant commented on #2656
I agree that we could have these call `mkdirs` on the filesystem in each case, and this could even like in the `open_files` machinery, rather than being specific to the CSV or JSON writers. `mkdirs` is indeed one of the required methods on a dask file-system, even if it has no effect on object stores like s3. However, there are always errors of this sort that can happen, particularly lack of permi

[2019-06-03 15:39] curiouscod3 commented on #4873
@martindurant
Yes, I've already been aware of that on Stackoverflow.
I've expected some direct methods like dask methods : read_csv , read_sql.
Seemingly, Such a way is the only way to interact with other databases for Now!

[2019-06-03 15:42] martindurant commented on #4873
If you manage to make something along these lines which can be easily generalised, please submit it for inclusion - then there will be!

[2019-06-03 19:32] pentschev opened #4875 "Implement shape argument in *_like functions"
The shape argument in `empty_like` (and counterparts: `full_like`, `ones_like` and `zeros_like`) is important to guarantee functions that depend on creation of such arrays (without `_like`) to work correctly with the introduction of NEP-18 and `_meta` in Dask arrays. The argument was introduced by https://github.com/numpy/numpy/pull/13046.

An example where we need such functionality is the `momen

[2019-06-03 20:34] jakirkham commented on #4643
An thoughts on this one, @TomAugspurger?

[2019-06-03 20:39] TomAugspurger commented on #4871
The only complex thing `Series.__iter__` does is convert NumPy types to the
Python scalar equivalent.

I imagine that we can chain together a bunch of pandas.Series.__iter__ and
we'll be fine.

On Mon, Jun 3, 2019 at 9:57 AM jakirkham <notifications@github.com> wrote:

[2019-06-03 20:42] jakirkham commented on #4870
Thanks for raising and submitting a fix, @bluecoconut. 😄

[2019-06-03 20:44] quasiben opened #4876 "[QST] Optimized hashing/shuffling"
When dataframes are shuffled, dask builds a hash of the index for each partition and buckets the hashes modulo n_partitions.  cuDF has an optimized hash partitioning scheme:

https://github.com/rapidsai/cudf/blob/81a85a39dc03c7c4bd7b0c7f8f39447b14747ca2/python/cudf/bindings/hash.pyx#L54-L67

Could dask take advantage of such a routine when shuffling ?

[2019-06-03 20:45] quasiben commented on #4876
cc @jakirkham @mrocklin @jrhemstad @kkraus14

[2019-06-03 20:47] jakirkham commented on #4876
cc @TomAugspurger

[2019-06-03 20:48] quasiben commented on #4876
An example of the `partition_by_hash` being called:

[code]

[2019-06-03 20:51] TomAugspurger commented on #4643
Due to https://github.com/pandas-dev/pandas/issues/24318, we need to not call `hash_pandas_object` on empty data frames. It's not clear what pandas should do in that case, so I think dask needs to work around it.

I suspect `shuffle` and `partitioning_index` would both need to be updated to handle empty partitions somehow, but I haven't looked into what they should do (and don't plan to any time s

[2019-06-03 21:22] mrocklin commented on #4876
How important is it to combine the hash and partition operations into a single step?  Was this decision made for performance reasons?

[2019-06-03 21:58] bluecoconut commented on #4869
Thanks for answers to questions. It might be a few days (or week+) until I can get to making a PR for this.

The concat MultiIndex problem I have not been able to chase down. I have an alternate implementation that _feels_ more logical (without the `.reset_index()`) but causes memory to explode no matter how careful I am. It's also the case that the memory stays around even when the workers are no

[2019-06-03 22:08] jrhemstad commented on #4876
It was made in support of dask-cudf's distributed join algorithm. I never did direct performance comparisons between doing the hasing/mapping and partitioning as separate steps. It'd be interesting to see the performance difference between calling `partitiong_by_hash` vs. `gdf_hash` & partition in Dask.

[2019-06-04 07:02] simaster123 commented on #4861
Apologies for the delay....

It looks like the issue was caused by me calling Dask's read_csv function in a distributed environment.  My Dask code works fine on my local machine using just a local worker, but the error was thrown when I started adding my distributed workers.

The weird file path used in the traceback seems to have been a red herring.  The answer here led me in the right direction:

[2019-06-04 07:02] #4861 closed

[2019-06-04 11:59] TomAugspurger commented on #4859
Bumping your example to 10000000 rows still works for me. Can you try on dask master?

[2019-06-04 12:10] simaster123 opened #4878 "Feature request - Display worker names in the Dask web UI"
@mrocklin recommended I raise this here.  I asked on stackoverflow whether it is possible to display the worker names in the Dask web UI.  As of right now, the workers are only listed by their IP addresses, not the names given to them, despite assigning names during their creation.  Copied from my stackoverflow question (https://stackoverflow.com/questions/56299817/possible-to-display-worker-names

[2019-06-04 12:44] njanakiev commented on #4866
@TomAugspurger Isn't the number of rows per partition the same as the blocksize, or did I misunderstood something?

[2019-06-04 12:59] marberi commented on #4845
I will have a try. Tried some simple debugging this morning, inserting some print statements in the Pandas code to see if I could find some hints. Quite tricky, since the state at times changes between "is_unique" and checking what are duplicates. I keep looking. However, testing if upgrading Pandas to the latest version gives another issue (see attachment). Are you aware of this problem? It seems

[2019-06-04 13:07] mpeaton opened #4879 "Add chunking dict to blockwise e.g. da.blockwise(...,chunks=...)"
Feature Request
Currently da.blockwise does not have an interface for explicitly specifying chunk sizes.
Adding a "chunks" kwarg that accepts a dictionary may improve the syntax of blockwise expressions when rechunking is required.  For example:
[code]
Could be used instead of:
[code]

[2019-06-04 13:13] TomAugspurger opened #4880 "Avoid use of pandas.compat in dask.dataframe"
It's supposed to be private.

[2019-06-04 13:31] marberi commented on #4845
Thanks. It looks very relevant. The Pandas code called by dask crashes in multiple places, but testing with "is_unique" seems to always be involved.

[2019-06-04 13:35] jakirkham commented on #4861
Thanks for the update @simaster123.

[2019-06-04 13:45] TomAugspurger commented on #4845
Yes, I missed that earlier. You might try adding a `threading.Lock` around
uses of is_unique / do_unique_check just to verify.

On Tue, Jun 4, 2019 at 8:31 AM marberi <notifications@github.com> wrote:

[2019-06-04 14:39] marberi commented on #4845
I tried adding a lock in "is_unique" in the Pandas source code, as shown below. Then
rerunning I still have the same issue. Does this look like a correct usage of locking?

[code]

[2019-06-04 14:42] TomAugspurger commented on #4845
Yes. Pandas has multiple index classes, and some override is_unique with
their own implementations.

On Tue, Jun 4, 2019 at 9:39 AM marberi <notifications@github.com> wrote:

[2019-06-04 14:43] jakirkham commented on #4843
Did you have a chance to try on your home computer? Am curious to know if it worked there.

[2019-06-04 14:52] cornhundred commented on #4843
Hi @jakirkham, yes the link worked when I ran the notebook off my cellphone's WiFi hotspot.

[2019-06-04 14:58] jakirkham commented on #4879
@shoyer, any thoughts on this?

[2019-06-04 15:07] mrocklin commented on #4879
@jakirkham heh I would actually have pinged you on this :)

[2019-06-04 15:09] jakirkham commented on #4879
I will also try to look later in the week when I'm off triage duty 😄

[2019-06-04 15:22] marberi commented on #4845
Ok, I got one step further concerning this. The "is_unique" method in the Index class found in:
pandas/pandas/core/indexes/base.py

has a "@cache_readonly" decorator. When commenting out this cache, this problem disappears. This appears to be a custom decorator implemented in the Pandas code.

[2019-06-04 15:30] TomAugspurger commented on #4845
Yeah, the output of `is_unique` is computed once and cached for the
lifetime of the object. Future calls to `is_unique` won't even reach the
lock, after the value has been cached.

On Tue, Jun 4, 2019 at 10:22 AM marberi <notifications@github.com> wrote:

[2019-06-04 15:32] endremborza commented on #4859
just did, on a different machine (ubuntu 16), not in docker, just venv, same result. both value error and index error.

[2019-06-04 16:03] TomAugspurger commented on #4859
Strange. Are you interested in investigate this further, since you can
reproduce it?

On Tue, Jun 4, 2019 at 10:32 AM Endre Mark Borza <notifications@github.com>
wrote:

[2019-06-04 16:16] endremborza commented on #4859
it would be nice to know whether it affects others as well, but i am planning on using dask in the future, so i might as well look into it a bit.

do you have any idea where to start based on the traceback?

[2019-06-04 16:26] TomAugspurger commented on #4859
I would look at

  File "/usr/local/lib/python3.6/dist-packages/dask/dataframe/methods.py", line 30, in loc
    return df.loc[iindexer, cindexer]

printing out `len(df), len(iindexer)` and move from there.

[2019-06-04 16:37] endremborza commented on #4859
ok, will do.

one last try for reproducibility, ditching the csv and the big numbers, tried on dask-master:

[code]

[2019-06-04 16:47] endremborza commented on #4859
ok, the error is clearly that dask doesn't partition the values, so that it tries to index the partitioned dataframes with the entire boolean array.

where should dask break up the array to partitions?

[2019-06-04 16:54] endremborza commented on #4859
in the value error case, dask, for some reason tries to evaluate ```dask.array<lt, shape=(nan,), dtype=bool, chunksize=(nan,)>```, which has size nan, so the built in check at arra/core.py:1187 doesnt catch it, then it gets computed to a (70,) shaped array which fails in the builtin bool().

even weirder, that all 70 are true, when they shouldn't be

[2019-06-04 17:23] endremborza commented on #4859
For this second one, i see a simple solution, will post a PR, possibly later today

[2019-06-04 17:47] mrocklin commented on #4879
@mpeaton I'm curious, what is the motivating use case here?

My first instinct is that if this is just to avoid a rechunk call then I'm somewhat against this just to keep things orthogonal.  Otherwise we get too many keyword arguments in complex functions like blockwise and they become difficult to manage going forward (see for example, the current state of map_blocks).

I also wouldn't want to ad

[2019-06-04 18:09] #4880 closed

[2019-06-04 18:19] mrocklin commented on #4867
I think I'm against adding this state at array construction time, but I'd be comfortable caching it on the array once computed.  We would want to make sure that we invalidate that cache if we modify chunks directly (which happens very infrequently).

I think that the next step here is to find all the locations where we call `np.cumsum` on `Array.chunks` to see how common this is, and to verify tha

[2019-06-04 18:25] jrhemstad commented on #4876
I recalled that the `gdf_hash` function was originally created for @sklam to do much the same as what @quasiben is doing for dask-cudf's Join: Compute the hash of a set of rows, do the modulo, and then repartition based on the mapping of hash values to partition number.

I don't recall exact numbers, but in @sklam's original implementation the "shuffle" was still a signifcant portion of the runtim

[2019-06-04 19:38] marberi commented on #4845
Would this be an acceptable fix? I tested acquiring locks inside the __get__ method itself and
it did not work.

https://github.com/marberi/pandas/commit/ad33858298961d63ab0bc70caf1d04b3ca02b5fc

[2019-06-04 19:53] TomAugspurger commented on #4845
May be worth posting on the pandas issue I linked to. I'm not familiar with
pandas' indexing code.

On Tue, Jun 4, 2019 at 2:38 PM marberi <notifications@github.com> wrote:

[2019-06-04 20:05] marberi commented on #4845
Ok, also posted there. Let's see what they say.

[2019-06-04 22:03] CSP197 commented on #2447
Sorry for the delay, but I checked out this implementation, but it appears to be failing some of the existing tests, due to a value error in the normalize_chunks function.

I've included the terminal output of one specific test here:
[code]

Any advice on how to proceed?

[2019-06-04 22:57] mrocklin commented on #2447
Not from me.  It looks like for some reason there is an empty tuple passed as a chunk element.

[2019-06-05 00:33] TomAugspurger commented on #4812
Let us know if you can provide that info. This doesn't *seem* to be an issue with dask / distributed though.

[2019-06-05 00:33] #4812 closed

[2019-06-05 10:32] pentschev opened #4883 "Array creation and __array_function__"
One of the issues that arise when introducing `__array_function__` in a NumPy-like library, such as Dask, is array creation. Many functions require some sort of array to be created, either for temporary usage or to hold results. Specifically within Dask, most resulting arrays are simply NumPy-arrays, most of the times wrapped in a Dask array. However, when we deal with another NumPy-like library,

[2019-06-05 11:11] bmerry commented on #4867
Sure, a cache would work too.

I had assumed that arrays were immutable. Can you clarify where the chunking might change in place?

Maybe let me stick together a proof-of-concept to see if it really does improve performance in the slicing use case.

[2019-06-05 11:24] bmerry commented on #4867
Ah, I see there are a number of places that assign to `_chunks`. What do you think about turning `_chunks` into a property with the same getter as `chunks` but a setter that invalidates the cache?

[2019-06-05 12:00] Sriharsha-hatwar commented on #4874
Will be working on this as well, will issue a separate PR in couple of days.

[2019-06-05 13:58] TomAugspurger commented on #4827
For now, I think that the user doing `.astype(bool)` is the best choice. Dask *could* do that for the user, but that would make the metadata incorrect (not matching pandas) so things like `.select_dtype` would differ between dask and pandas. Given that this is a limitation of pandas that is likely to change in the medium term, I'd prefer to just work around pandas.

I'll make a small PR with a doc

[2019-06-05 14:39] mrocklin commented on #4883
I'm not sure I fully understand, what are situations where this goes poorly?

For example, if I can `da.asarray(my_cupy_array)` do I not get a dask array of cupy arrays?

[2019-06-05 14:42] mrocklin commented on #4867
Something like that.  It does seem odd to have properties two levels deep though.

[2019-06-05 14:53] bmerry commented on #4867
I agree, having a private attribute be a property is counter-intuitive (and I haven't yet thought of a good name for the real underlying attribute). But the alternative of just providing the setter on `chunks` feels like handing users a foot-gun.

[2019-06-05 14:53] mrocklin commented on #4867
Maybe a `_set_chunks` method?

[2019-06-05 14:56] bmerry commented on #4867
That would work, but whenever I see a `set_foo` method my first question is usually "why not make that a property?" :-)

I don't have a strong preference between them. Let me know which you'd prefer.

[2019-06-05 14:56] beckernick opened #4885 "[FEA] Remove pandas requirement from get_dummies"
To support other dataframe backends like cuDF, we should aim to remove the hard coding of `dataframe.reshape.get_dummies` to pandas functionality. `get_dummies` is not a DataFrame method in pandas, so I believe it's not in the `M` methodcaller cache.

Raising this issue now as a placeholder for further thinking/discussion about best approach to generalizing one hot encoding.

https://github.com/da

[2019-06-05 15:00] beckernick commented on #4885
I suspect we may need to look into generalizing

https://github.com/dask/dask/blob/165f71e70983874a9f63eda544199d526041f69f/dask/dataframe/utils.py#L178

[2019-06-05 15:01] mrocklin commented on #4867
Lets decide later.  Do whatever for now.  We can change it once we have something working fairly easily.

[2019-06-05 15:01] philippegr commented on #4862
I will give it a try :-)

[2019-06-05 15:02] bmerry commented on #4867
Ok. I'll start with a property, since that way I don't need to change all the code that currently assigns to `_chunks`. Might be a week or two before I get around to working on this though.

[2019-06-05 15:04] pentschev commented on #4883
That's correct, and if I'm not mistaken, this is the primary reason we have to use `asarray=False` when creating a Dask array from a CuPy array.

[2019-06-05 15:10] pentschev commented on #4883
And beyond that, we have cases where we create an array from a list, for example, currently there's no mechanism to ensure that this array will be of same type of some other array which will be operated on. One example is `percentile`, in which we have an array `a` that can be a CuPy array for example, and `q` which is array-like but we need to make a CuPy array from it. See https://github.com/das

[2019-06-05 15:16] mrocklin commented on #4883
If possible I would like to focus first on the `da.asarray(my_cupy_array)` case.  I think that it is likely easier to manage.

Some relevant code is here:

https://github.com/dask/dask/blob/165f71e70983874a9f63eda544199d526041f69f/dask/array/core.py#L2316-L2334

There is some clear special-casing of NumPy here.  I wonder if there is some check we can do instead of an explicit type check here that

[2019-06-05 15:17] mrocklin commented on #4883
For the `da.asarray(my_list)` case that seems a bit harder to resolve.  Maybe a `like=` keyword?  This seems a bit odd though.

[2019-06-05 15:25] pentschev commented on #4883
I don't have a particular order in which I would like to keep, I'm just raising this question in case we already have something ongoing, and to get ideas from other people.

The idea I had was similar to your `like=` argument suggestion, but with a new function, similar to `empty_like`. In any case, I don't know long-term what would be a better solution, ideally -- and supposing the idea is to hav

[2019-06-05 15:36] pentschev commented on #4883
And by the way, something that maybe wasn't clear before, the issue is not with Dask alone, but we can't use `numpy.asarray(cupy_array)` as well:

[code]

[2019-06-05 17:09] #4878 closed

[2019-06-05 17:29] jakirkham commented on #4883
For fixing `da.asarray`, maybe we can go through a deprecation cycle and then default to `asarray=False`.

That said, IIUC the `da.asarray` is a finer point. The larger issue is, how do we handle array creation in algorithmic code? Currently we have hard-coded NumPy array creation in some places. How can we relax this to create an array matching the input type when needed?

[2019-06-05 17:32] jakirkham commented on #4874
Thanks @Sriharsha-hatwar. It looks like @henriqueribeiro just recently submitted PR ( https://github.com/dask/dask/pull/4884 ). Maybe you'd be interested in helping review/test that?

[2019-06-05 17:34] jakirkham commented on #4862
Great! Thanks for the help. Please let us know if you run into any issues. Happy to help review once you have put something together. 🙂

[2019-06-05 17:34] pentschev commented on #4883
I think the main problem isn't `da.asarray`, but `np.asarray` itself, since we can't dispatch that with a CuPy array, for example. Maybe if that was possible, we wouldn't need to use `asarray=False` in Dask array creation at all.

Correct, and I'm raising this here to see what ideas we have on the Dask side, but this may be a question that we need to raise in NumPy itself.

[2019-06-05 17:39] mrocklin commented on #4883
Cupy intentionally doesn't want np.asarray(my_cupy_array) to work.  Their
reasoning here is that this often happens and reduces performance.  They
would rather that users intentionally call a to_numpy method, or something
similar.

On Wed, Jun 5, 2019 at 10:35 AM Peter Andreas Entschev <
notifications@github.com> wrote:

[2019-06-05 17:50] jakirkham commented on #4883
IIUC Peter is suggesting that `np.asarray` should mean `cp.asarray` in some cases. Perhaps similar to [the backend selection idea]( https://github.com/scipy/scipy/issues/10204#issuecomment-495225397 ). Though please correct me if I'm getting this wrong, Peter.

Anyways I don't think we should get too bogged down in `asarray` in particular. It's only one example of the kinds of issues we still enco

[2019-06-05 17:55] mrocklin commented on #4883
My guess is that that's not possible today.  Too much of the ecosystem probably depends on `np.asarray` to produce exactly a numpy array.

[2019-06-05 18:11] pentschev commented on #4883
You're correct in your entire statement. :)

[2019-06-05 18:14] TomAugspurger commented on #2789
Thinking more on this, I do think that dask now does the right thing for the original example

[code]

I'm updating the documentation about this.

IIUC, your concat example is that you're allowed to `concat([df1, df2])` whose columns are different orders? If so, I think that's a bit different from what we're talking about here. pandas will typically align during operations (doing a union on the ke

[2019-06-05 18:16] pentschev commented on #4883
That's right, it isn't possible today, and that's exactly what I want to discuss: how do we make it possible?

It is too often the case that we need to create new arrays, and for `__array_function__` to work properly in all (or almost all) cases, we need to deal with that. This is why I used the example of `shape` in `empty_like`, we depend on it in several instances, and we need something similar

[2019-06-05 18:36] #2789 closed

[2019-06-05 20:17] pentschev opened #4888 "Array._meta missing functionality tracker"
Here we track `Array._meta` functionality that did not get in with #4543, but should still be implemented.

- [ ] Pass `meta` to all `Array()` constructors where `dtype` does not suffice
  - [ ] `dask/array/core.py` (incomplete, must include fix for #4929)
  - [ ] `dask/array/creation.py` (must include fixes for #4841, #4842)
  - [ ] `dask/array/percentile.py`
  - [ ] `dask/array/reductions.py` (i

[2019-06-05 20:55] #4827 closed

[2019-06-05 22:03] mrocklin commented on #4866
Right, it's not possible to do this and be nicely efficient.  I'm afraid this isn't likely to occur.  Closing for now.

[2019-06-05 22:03] #4866 closed

[2019-06-05 22:06] mrocklin commented on #4858
Unfortunately we can't do this operation lazily.  This would require us to read through all the data in order to determine the columns of the output.  I think that given this constraint we probably won't implement this any time in the near future.  Closing.

[2019-06-05 22:06] #4858 closed

[2019-06-05 22:07] mrocklin commented on #4847
Closing due to lack of response.

[2019-06-05 22:07] #4847 closed

[2019-06-05 22:09] mrocklin commented on #4843
Is there anything left to do here, or can this be closed?

[2019-06-05 22:09] mrocklin commented on #4842
Is this resolved by the _meta PR?

[2019-06-05 22:11] mrocklin commented on #4826
Closing this due to lack of response.  @jlevy44 if you're able to provide a small minimal reproducible example then please respond here and we'll reopen this.

[2019-06-05 22:11] #4826 closed

[2019-06-05 22:11] mrocklin commented on #4825
Checking in here.  Any progress @tpanza ?  No pressure of course (none of us can set expectations for the others) but I thought I'd ask.

[2019-06-05 22:13] mrocklin commented on #4809
Checking in.  Any progress @btw08 ?  (no pressure)

[2019-06-05 22:14] mrocklin commented on #4799
Checking in here.  @mathdugre is this something that you're still interested in doing?  If so, is there anything that you need in order to make progress?

[2019-06-05 22:15] mrocklin commented on #4795
Closing due to lack of response.  @hoangthienan95 if you're able to provide a minimal example please respond here and we'll reopen.

[2019-06-05 22:15] #4795 closed

[2019-06-05 22:15] mrocklin commented on #4789
@crepererum is this something that you would be interested in doing?

[2019-06-05 22:16] mrocklin commented on #4776
Closing due to lack of response.  @avlahop if you're able to come up with a minimal reproducible example please response here and we'll reopen.

[2019-06-05 22:16] #4776 closed

[2019-06-05 22:17] mrocklin commented on #4740
I think that this question has been answered.  Closing.

[2019-06-05 22:17] #4740 closed

[2019-06-05 22:18] mrocklin commented on #4706
This appears to be stale.  Closing.  (Though please reopen if the problem persists)

[2019-06-05 22:18] #4706 closed

[2019-06-05 22:19] mrocklin commented on #4662
This conversation appears to have gone stale.  Closing.

[2019-06-05 22:19] #4662 closed

[2019-06-05 23:05] cornhundred commented on #4843
@mrocklin, I think it's resolved.

However, Colab does not appear to support processes (but this is a Colab issue).

[2019-06-05 23:05] #4843 closed

[2019-06-05 23:57] skrah commented on #4662
Ah yes, it appears to be superseded by #4669.

[2019-06-06 06:11] avlahop commented on #4776
@mrocklin I think you ment @avnovikov. :smile:

[2019-06-06 08:31] crepererum commented on #4789
Sure. Might take a week or two.

[2019-06-06 12:50] mathdugre commented on #4799
@mrocklin Yes I'm still interested in this issue. I didn't have much time in the last two weeks but I should be able to take a closer look during next weekend.

[2019-06-06 14:14] KrishanBhasin commented on #4451
Can I add a +1 to this issue? It has affected me too

[2019-06-06 14:26] TomAugspurger commented on #4451
I think we fixed this in partd: https://github.com/dask/partd/pull/32.

[code]

@KrishanBhasin what version of partd do you have?

[2019-06-06 14:28] TomAugspurger commented on #4451
I see that our setup.py only requires partd >= 0.3.8. This bug was fixed in partd 0.3.10. I think this is large enough to warrant bumping the minimum partd version, so that partd is updated when users update their env with dask.

@KrishanBhasin if you're on an older version of partd can you try manually updating it to the latest version?

[2019-06-06 14:29] quasiben commented on #4451
I just tried and it ran without issue:

For reference:

[2019-06-06 14:33] KrishanBhasin commented on #4451
I just checked, I have `partd==0.3.8`. I will manually set my package up to ask for a newer version and rerun.

[2019-06-06 14:42] KrishanBhasin commented on #4451
I can confirm that updating partd to 0.3.10 fixes this issue for me.

Thank you!

[2019-06-06 14:59] quasiben commented on #4451
https://github.com/dask/dask/pull/4890 will close this issue

[2019-06-06 16:18] pentschev opened #4891 "Implementing sizeof() for third-party libraries"
For the task of memory spilling in https://github.com/rapidsai/dask-cuda, we need to add `sizeof()` support for https://github.com/rapidsai/cudf types (and maybe others in the future), the easiest would be to add that to `dask/sizeof.py`, is that something acceptable to have in Dask? Otherwise, I would implement that in dask-cuda itself and have a fallback to `dask.sizeof` for the types that alrea

[2019-06-06 16:27] mrocklin commented on #4891
Benefits of pushing into downstream libraries, like dask-cuda

-  Reduce scope of the core library (we wouldn't want every downstream Python library to add their own serialization to our codebase.
-  Easier for cudf dev community to change things without having to check in with the dask/dask group

Benefits of dask/dask

-  It will be reliably imported.  It's entirely possible that people won't im

[2019-06-06 16:28] pentschev opened #4892 "Dask monthly meeting calendar"
It seems that lately we're having issues interpreting timezones. The meeting on my calendar was supposed to start one hour after it actually happened, and I think @mrocklin had a similar issue.

I don't know if this is something that can be fixed easily with google calendar, so I suggest we keep that invite (as a suggestion only, and additionally encourage people to confirm if the time is indeed c

[2019-06-06 16:52] TomAugspurger commented on #4892
I updated the google calendar invite:
https://calendar.google.com/event?action=TEMPLATE&tmeid=NmxnamVvcGtjY3E2NGI5bTZzcW1hYjlrYzhybTZiYjFjY29qOGI5ZzY0cWoyYzFrNjFpMzhwaGlja18yMDE5MDYwNlQxNjAwMDBaIDRsMHZ0czBjMWNnZGJxNWpoY29najU1c2ZzQGc&tmsrc=4l0vts0c1cgdbq5jhcogj55sfs%40group.calendar.google.com&scp=ALL

The meeting now has a timezone of (GMT+00:00) Coordinated Universal Time.

So today's would have

[2019-06-06 16:55] mrocklin commented on #4892
I suspect that this does not always align with the text in
http://docs.dask.org/en/latest/support.html#discussion .  We might want to
remove the text that gives rough times in different parts of the world and
instead just use the UTC or GMT time

On Thu, Jun 6, 2019 at 9:52 AM Tom Augspurger <notifications@github.com>
wrote:

[2019-06-06 16:57] TomAugspurger commented on #4892
Yes, if we're OK with the local time of the meeting shifting around DST
transitions, then I think removing that text and replacing it with UTC (and
a link to the calendar invite) is best.

On Thu, Jun 6, 2019 at 11:55 AM Matthew Rocklin <notifications@github.com>
wrote:

[2019-06-06 18:22] shoyer commented on #4883
My view is that we need a new coercion function/protocol inside NumPy, something like `np.duckarray()`. We can't change `np.asarray()` because that is used in some cases where the user expects real NumPy arrays (e.g., with `strides`).

Nathaniel Smith and I discussed this in [NEP-22](http://www.numpy.org/neps/nep-0022-ndarray-duck-typing-overview.html#principle-3-focus-on-protocols), but didn't co

[2019-06-06 18:52] jakirkham commented on #4892
So last monthly meeting (before today's) we agreed to reset the time to remain the same after daylight savings time in the US. IOW we made it 11a EDT. It sounds like we are changing it again. Could we please not change the time again, but instead keep it at 11a EDT?

[2019-06-06 20:33] simaster123 opened #4893 "Feature Request: Timestamp in logs"
I think it would help debugging and performance optimization.  I find it hard to line up output from my own logs with the logs from the dask-scheduler/ dask-workers.

[2019-06-06 20:46] mrocklin commented on #4893
Dask uses the standard Python logging module.  This means that you can control logging today by modifying the settings there.

If you want to use Dask configuration, then this is customizable with the `distributed.admin.log-format` configuration value.  See https://docs.dask.org/en/latest/configuration.html

See

https://docs.python.org/3/library/logging.html#logrecord-attributes

https://github.c

[2019-06-06 20:50] pentschev commented on #4892
FWIW, I don't care which timezone is used, as long as there's a single one used as reference that we can always check the day before and be sure of the right time.

[2019-06-06 22:12] simaster123 commented on #4893
Perfect - thank you!

For what it's worth, I edited the distributed/distributed.yaml file as follows:

From:
`log-format: '%(name)s - %(levelname)s - %(message)s'`

To:
`log-format: 'Dask Log -- %(asctime)s - %(name)s - %(levelname)s - %(message)s'`

[2019-06-06 22:12] #4893 closed

[2019-06-06 22:16] #4451 closed

[2019-06-06 23:39] bnaul opened #4894 "`DataFrame.to_parquet(engine='fastparquet')` not amenable to out-of-core workflows"
**Summary**: the fact that `df.to_parquet` returns a single delayed object which depends on all of the chunks being written prevents memory from being freed and makes it difficult (impossible?) to use it for out-of-core analyses.

**Example**: let's say we want to perform some dataframe operation and save the results. With `to_csv` it's easy to write a chunk at a time and garbage collect the input

[2019-06-07 00:07] #2977 closed

[2019-06-07 00:31] tpanza commented on #4825
Hi @mrocklin , please see PR #4896

[2019-06-07 00:40] martindurant commented on #4894
Have you observer the behaviour (holding on to memory) in practice? The `writes` above evaluate to pieces of parquet metadata, not the original data that was written to disc. Although these also take up some memory, there is no reason it should be a bottleneck or constraint in the typical scenario of many rows/few columns per partition.

Worth mentioning that pyarrow is in the process of being abl

[2019-06-07 03:49] daliagachc opened #4897 "installing distributed via conda on macOS Mojave and python 3.6 kills jupyter lab and jupyter notebook"
Hi,
my environment sopped working after installing distributed i.e i cannot connect to the kernel via jupyter lab or notebooks. After a while i get the following error:
Timeout waiting for kernel_info reply from ....
Uninstalling distributed fixes the issue.
This is the list of my packages in case it can help:

[code]

[2019-06-07 04:09] daliagachc commented on #4897
tried downgrading to tornado 5.1.1 as i read that that could help with the
[code]
but that didnt help

[2019-06-07 10:14] pentschev commented on #4842
No, unfortunately `da.pad` relies on `da.asarray`, which in turn relies on `np.asarray`. We've started a discussion on how to deal with those cases in #4883.

If this particular case (constant padding) is needed immediately, I think we could use `*_like` functions instead, but to solve `pad` more generally we will require to deal with the cases I mentioned above.

[2019-06-07 13:12] beckernick opened #4898 "[BUG] dask.array.einsum doesn't support CuPy backend"
Running into numpy array related issues when trying to use cupy arrays with einsum. Looks like it's perhaps due to still getting to the `asarray` branching logic which appears to be set to True somewhere internally, despite the cupy inputs. Perhaps it's being reset or not fully passed down from the original arrays to an intermediate array.

[code]

Some initial debugging
[code]

[2019-06-07 13:30] pentschev commented on #4898
@beckernick it seems that you don't have the `NUMPY_EXPERIMENTAL_ARRAY_FUNCTION=1` environment variable set, which is required with NumPy 1.16.x. Regardless, it still doesn't work when it's enabled, I've added this issue to our tracked in #4731. How urgently do you need this?

[2019-06-07 14:28] pentschev commented on #4490
Just for future reference, #4543 is integrated and fixes this issue. For it to work, NumPy 1.17 (still unreleased) is required, as well as https://github.com/cupy/cupy/pull/2171 (won't be merged until NumPy 1.17 is released). I'm leaving this open for now.

[2019-06-07 14:34] pentschev commented on #4891
Instead of implementing `sizeof()` for third-party libraries, I propose a different solution now. We add a parameter `sizeof_func` to `distributed.sizeof.safe_sizeof` which defaults to `dask.sizeof.sizeof`. We can then reimplement that function in libraries such as dask-cuda to handle specialized types or simply return `dask.sizeof.sizeof` in case the type isn't explicitly handled by this new func

[2019-06-07 14:49] jakirkham commented on #4842
The one downside of using `_like` is it creates a dependency on the data in the array. That said, if this is as close as we can get to the right behavior here, this seems like the best way to resolve this issue.

[2019-06-07 14:53] #4825 closed

[2019-06-07 14:55] beckernick commented on #4898
Thanks @pentschev . I don't think this is incredibly urgent (from my limited perspective), as the einstein summation usage can probably be rewritten without too much effort with the appropriate indexing/transposing.

Will defer to @jakirkham in terms of general importance of this functionality versus other priority (outside of this specific circumstance in which I noticed this).

[2019-06-07 16:03] jakirkham commented on #4898
@pentschev, do you have a sense of how difficult this might be to fix?

[2019-06-07 16:11] mrocklin commented on #4891
The current sizeof functions are dispatchable, meaning that you can extend them to custom types today in other libraries.  I think that this is similar to your suggestion to take in a `sizeof_func` function.  In other libraries you can do the following:

[code]

However, we need to make sure that those libraries are imported on the workers.  For this reason it's slightly more safe to have the impl

[2019-06-07 16:12] jakirkham commented on #4892
Sure, to be clear I'm not so concerned with timezone. Am just trying to avoid changing the time again given we are already having issues with people showing up at the wrong time. If we can change the timezone so that the time doesn't not change for the next meeting, that would be preferred. Does this sound reasonable to people? If so, @TomAugspurger would it be possible to reflect this in the even

[2019-06-07 16:16] bnaul commented on #4894
I have* observed this behavior; in particular the reason I'm interested in changing this is that my workers are running out of memory and being evicted (this is on Kubernetes). The problem actually sort of compounds itself because tasks for files that were already written are still being held by the scheduler, so when the worker responsible for that task gets killed the scheduler thinks that the t

[2019-06-07 16:18] pentschev commented on #4891
There is a `__sizeof__` implementation in cudf, but now that you mention it, I think that it didn't work well maybe because of the issue in https://github.com/rapidsai/cudf/issues/1957. The size didn't match and I assumed it was using a wrong implementation (like Pandas), but maybe it's just that bug. Let's hold on with the issue here and see if we can fix the cudf issue first, that may solve all

[2019-06-07 16:43] martindurant commented on #4894
we have come across such things where many allocations and releases are happening, but I thought this was much better in pandas 24 and whatever numpy did.

Can you tell what a worker is doing at the time of death? If is any worker, or specifically the one expecting to do the finalisation task? You can use the `client.nbytes` method to find out how much memory the partition-writing results are actu

[2019-06-07 16:44] martindurant commented on #4894
(I should mention, in reference to my comment about pyarrow, that the same refactor will allow skipping of the finalisation step, in cases where the global metadata file is not useful, for both pyarrow and fastparquet)

[2019-06-07 16:47] beckernick opened #4899 "[BUG] dask.array.linalg.inv fails on CuPy backed arrays"
Linalg.inv appears to fail for the same general reason as #4898 . Filing this for visibility purposes in case others run into this issue before #4731 is resolved.

[code]

I do have the `NUMPY_EXPERIMENTAL_ARRAY_FUNCTION=1` environment variable set for this test
[code]

[2019-06-07 16:57] mrocklin commented on #4899
This is somewhat tangential, but are you sure that you want `inv`?  The `inv` function is almost never appropriate to call.  Perhaps you wanted to call `solve` instead?  It is usually much faster and more numerically stable.

[2019-06-07 17:01] jakirkham commented on #4899
It would be interesting to know more about the context where `inv` is used (if that can be shared).

[2019-06-07 17:21] mrocklin opened #4900 "Define __await__ method for collections"
What should this do?

[code]

One option, would be that it is shorthand for the following:

[code]

[2019-06-07 18:36] beckernick commented on #4899
Let's take that discussion offline unfortunately.

[2019-06-07 18:50] pentschev commented on #4898
I was checking it now, and the only thing we need to add CuPy support for the newly introduced `_implementation` NumPy attribute https://github.com/numpy/numpy/pull/13627, that allows functions such as CuPy to fallback to the NumPy implementation when they do not wish to implement it themselves, which was not possible with `__array_function__` before. I will submit a PR to CuPy to make use of that

[2019-06-07 18:51] TomAugspurger commented on #4900
That's the most reasonable behavior I see.

On Fri, Jun 7, 2019 at 12:21 PM Matthew Rocklin <notifications@github.com>
wrote:

[2019-06-07 18:53] pentschev commented on #4899
For the record, we'll need #4883 for this.

[2019-06-07 18:53] sushmit86 commented on #2801
I am getting this error on databricks environment?

import pyarrow.parquet as pq
print(pyarrow.__version__)

data1 = pq.read_table("output/rfm_data.parquet")

I am getting this error

---------------------------------------------------------------------------
OSError                                   Traceback (most recent call last)
<command-2212940796894983> in <module>()
      2 print(pyarrow._

[2019-06-07 18:56] jakirkham commented on #4899
It sounds like this is less important.

[2019-06-07 18:56] martindurant commented on #2801
@sushmit86 , this appears to have nothing to do with Dask, maybe post on the pyarrow tracker.

[2019-06-07 18:57] beckernick commented on #4899
Agreed. This does not need to be prioritized.

[2019-06-07 19:10] jakirkham commented on #4898
Ah ok. That should be straightforward then. Also should help with a few use cases (including this one). Thanks for looking into it Peter. 🙂

[2019-06-07 19:49] TomAugspurger commented on #4897
If you create a fresh environment with just

[code]

do things work? Skimming through your deps, the fact that pyzmq came from defaults but notebook from conda-forge may indicate a problem, or it could be something else.

[2019-06-07 21:21] bolliger32 opened #4902 "keyerror in dask.config.rename when working with distributed"
calling `dask-worker` using `dask==1.2.2`, `distributed==1.28.1`, I get the following error:

`Traceback (most recent call last): File "/opt/conda/envs/worker/bin/dask-worker", line 7, in <module> from distributed.cli.dask_worker import go File "/opt/conda/envs/worker/lib/python3.6/site-packages/distributed/__init__.py", line 3, in <module> from . import config File "/opt/conda/envs/worker/lib/pyt

[2019-06-08 00:05] #4902 closed

[2019-06-08 00:54] bolliger32 opened #4904 "to_datetime removes _meta.index.name but does not remove the partition index names"
This problem was noticed when trying to call `to_parquet` and getting a columns do not match the metadata `ValueError`. It is similar to #3003 but I believe that behavior was actually fixed for `assign` (?)

Example:
-------

in.csv:
[code]

[code]

The printed value is: `(None, 'ix')`. Expected result: `('ix', 'ix')`

[2019-06-08 17:56] btw08 commented on #4809
Sorry for the late reply - I've been out of the country with no connectivity the past couple days. No progress yet, only because I haven't gotten a chance to work on it. This week should be less hectic, and I should get a chance to make some progress. I'd still be glad to do it if no one beats me to the punch!

[2019-06-09 16:30] Chilipp opened #4906 "dask.dataframe.core.Series.corr fails when other Series has the same name"
Hey awesome dask developers!

For some reason, the correlation between Series does not work

Consider the following simple example:

[code]
It produces the following

<details><summary>ValueError: could not broadcast input array from shape (2,2) into shape (2)</summary>

[code]
</details>

It however does work, when you rename the column `a` to `b`, i.e. you replace the last line with
[code]

You

[2019-06-09 19:07] MarkCBell opened #4907 "Make dask work when snappy (not python-snappy) is installed"
Running:
[code]
Results in
[code]
This is because `pip install snappy` installs the package [SnapPy](https://pypi.org/project/snappy/) but dask is expecting snappy to refer to the ["python-snappy" package](http://google.github.io/snappy/) (which also installs to the python package `snappy` but must be done via `pip install python-snappy`).

The problem appears to be that dask is testing whether py

[2019-06-09 19:21] bmerry commented on #4867
I've started doing some proof-of-concept stuff. It's far from ready and doesn't even pass the tests, but it shows an order-of-magnitude speedup for the case I've implemented, for constructing the graph:
[code]

Unfortunately the computation then becomes the dominant factor, even for this trivial case. I'm guessing that's because `da.optimize` starts with `ensure_dict`, which will take time proport

[2019-06-10 03:05] mrocklin commented on #4867
Thanks for the investigation and the analysis

On Sun, Jun 9, 2019 at 12:21 PM Bruce Merry <notifications@github.com>
wrote:

[2019-06-10 03:36] TomAugspurger commented on #4906
Thanks for the report, confirmed on master. At a glance, I'm not sure where the problem is. Are you interested in looking further? I would recommend comparing the input and output shapes to `cov_corr_chunk` and `cov_corr_agg`.

FYI, a smaller example like `np.arange(12)` works.

[2019-06-10 04:07] #4233 closed

[2019-06-10 06:48] #4907 closed

[2019-06-10 10:26] hameerabbasi commented on #4662
Re-open? I revitalised #4669

[2019-06-10 12:16] skrah commented on #4662
Since I opened this, I'm fine with moving the conversation to #4669.

[2019-06-10 16:36] quasiben opened #4910 "Var calculation fails with non-pandas Dataframe"
When using `dask-cudf`, the new parallel variance calculation will fail (PR https://github.com/dask/dask/pull/4865/) . This is probably due to two main causes

- `__array_interface__`   isn't fully implemented: `np.X` (var/nansum) may not be supported but can be added see https://github.com/rapidsai/cudf/issues/1728
- Tightly using pandas signatures: `pd.Series -> Series()`, `pd.concat -> Concat`

[2019-06-10 16:37] quasiben commented on #4910
I'm not sure what the best action here is but I think there are two solutions:

1) fix cudf to work with the various numpy calls and update dask with generalized dataframe things
2) detect non-pandas dataframes and dispatch to old variance calculation

[2019-06-10 17:19] TomAugspurger commented on #4910
My preference is for option 1. Does the cudf side of things sound difficult?

[2019-06-10 17:43] quasiben commented on #4910
I don't think it should be too bad -- i'll look at it shortly and come back with an update

[2019-06-10 19:52] TomAugspurger opened #4911 "TypeError when slicing non-numeric array"
[code]
[code]

[2019-06-10 19:54] TomAugspurger commented on #4911
Bisected to #4543 (cc @pentschev if you have a chance to look)

[2019-06-10 19:58] pentschev commented on #4911
When I saw the title, I immediately thought it would be there. Thanks for the report @TomAugspurger, will take a look.

[2019-06-10 20:14] pentschev commented on #4911
Oh no, I was taking a quick look now, and you have fallen on the one case that we sort of decided to ignore, that of flexible types. We did this mainly for two reason: we didn't think anyone used those and we didn't really know how we could handle `_meta` for those.

This case in particular can be easily fixed (I'll send a PR soon), but I assume you're going to do something more complex than that

[2019-06-10 20:23] TomAugspurger commented on #4911
The context is dask_ml's OneHotEncoder, which transforms an array like

[code]

to

[code]

see https://ml.dask.org/preprocessing.html#dask-ml-s-sparse-support

As for how much weight to put on that... I'm not really sure. In my experience I'm rarely working with just text data, and so I'm using a dataframe rather than an array (which takes a different code path).

[2019-06-10 20:57] quasiben commented on #4910
I added `__array_function__` to cuDF for numpy dispatch but ran into some trouble with dask core bits.  I didn't fully appreciate this at the outset, but using dask-array means the object being passed around needs to support much/all of the dask-array.  Parallel variance will eventually call `to_dask_array` -- a `dask_cudf.Series` currently does not support enough of the array like things to make

[2019-06-10 20:57] jakirkham commented on #4911
@pentschev, do you know how text data was handled before `_meta`? I'm curious if with text data we can use whatever old code path was there. Maybe it didn't track things like `'<U1'` vs. `'<U2'`, but it did track a type of `np.unicode_`. Apologies if this question is naive, you know more about how `_meta` handles these things and what code it replaced than I. 🙂

[2019-06-10 21:00] jakirkham commented on #4910
cc @pentschev (in case you have thoughts here 😉)

[2019-06-10 21:23] CSP197 commented on #2447
I was also looking over some of the other failed testcases, and wanted to ask why pytest raises a "NotImplementedError" when calling the da.tile function.

As I understand it, the NotImplemented Error should only be called when the function is either not implemented or is an abstract method pending implementation in a child class.

[code]

[2019-06-10 21:23] pentschev commented on #4911
Previously, it tracked things like `'<U1'` via `dtype`, so that was all of the array's knowledge of the flexible type. Eventually all the computations would be done and the `dtype` updated, but now we don't have a separate `dtype` anymore, it's inferred from `_meta` and this is why we have no actual length anymore. I'm not sure whether this answers your question entirely, let me know if it doesn't

[2019-06-10 21:38] pentschev commented on #4910
It looks like the most relevant changes in #4865 were in the dataframe context, which I don't know much about.

@quasiben if you need any help with `__array_function__` I can try to take a look at it tomorrow.

[2019-06-10 21:42] #4911 closed

[2019-06-10 21:45] mrocklin commented on #2447
Here is a link to the current implementation

https://github.com/dask/dask/blob/4d3a48ee6d5e2b63fef1b0e6740b6478261cdaea/dask/array/creation.py#L758-L770

Perhaps looking at that will help?  I personally don't know why that's a NotImplementedError, but hopefully someone is able to look at the intent of `np.tile` and figure out what is appropriate here.

[2019-06-10 21:55] jakirkham commented on #4910
That's correct. It was the `__array_function__` bit that I thought you might find interesting. 😉

[2019-06-10 22:01] jakirkham commented on #2447
With NumPy, one can do the following.

[code]

We have not yet implemented this behavior in Dask (hence the `NotImplementedError`). If someone wanted to come along and implement this, that would be welcome.

[2019-06-10 22:04] jakirkham commented on #2447
Should add pytest is not raising `NotImplementedError`. It is checking that `tile` properly raises `NotImplementedError` in those unsupported cases. If a new implementation correctly handle those cases, the `NotImplementedError` test could be replaced by an actual test for the expected behavior.

[2019-06-10 22:15] jakirkham commented on #2447
FWIW one could probably solve this issue today by implementing `da.tile` using `da.block`.

[code]

[2019-06-10 22:43] jrbourbeau opened #4913 "Boolean array indexing bug"
Reported through a side channel. It appears that indexing a Dask array with a boolean Dask array of the same shape doesn't yield the same result as NumPy. For example,

[code]

outputs

[code]

I wanted to double check that this type of indexing is currently supported and this is a legitimate bug.

[2019-06-11 02:51] mpeaton commented on #4879
I understand.   Is it possible that specifying chunks explicitly in this manner, as opposed to via rechunk calls, would make the chunking computational requirement more easily utilized by dependent tasks?

[2019-06-11 03:38] mrocklin commented on #4913
My guess is that it's in scope, but somewhat expensive computation-wise to
do correctly.  My guess is that this requires some rechunking.

On Tue, Jun 11, 2019 at 12:43 AM James Bourbeau <notifications@github.com>
wrote:

[2019-06-11 03:47] mrocklin commented on #4879
I'm sorry but I'm not sure I understand what you mean here.  Can I ask you to rephrase?

Are you asking if there is some advantage to blockwise knowing a target chunk structure, rather than doing this in a previous step?  If so, then my answer is "I don't know".  Has this come up for you?

[2019-06-11 03:55] jakirkham commented on #4913
This can be done if you flatten the arrays.

[code]

Of course there is a performance overhead for flattening arrays. ( https://github.com/dask/dask/issues/4855 )

[2019-06-11 03:59] jakirkham commented on #4874
Solved with PR ( https://github.com/dask/dask/pull/4884 ).

[2019-06-11 03:59] #4874 closed

[2019-06-11 03:59] jakirkham commented on #4832
Solved with PR ( https://github.com/dask/dask/pull/4884 ).

[2019-06-11 03:59] #4832 closed

[2019-06-11 04:00] jrbourbeau commented on #4897
Just checking in here @daliagachc, does using a fresh environment like @TomAugspurger suggested seem to help?

[2019-06-11 04:01] daliagachc commented on #4897
Yes it does! thanks for the support :).

[2019-06-11 04:02] daliagachc commented on #4897
Moreover, i tries with python 3.6 and 3.7. both worked.

[2019-06-11 04:03] jrbourbeau commented on #4897
Great! Glad to hear your issue has been resolved

[2019-06-11 04:03] #4897 closed

[2019-06-11 04:50] jakirkham commented on #4913
Actually complete forgot about this, but this has come up before. 😄 Please see issue ( https://github.com/dask/dask/issues/3184 ). Also there was an attempt to fix it, which basically matches what I've described above in PR ( https://github.com/dask/dask/pull/3193 ).

[2019-06-11 14:10] #4900 closed

[2019-06-11 14:35] pentschev commented on #4898
As per the description in #4914, besides that PR, other requirements to ensure this works are https://github.com/cupy/cupy/pull/2249 and https://github.com/numpy/numpy/pull/13627.

[2019-06-11 15:21] jrbourbeau commented on #4913
Thanks for the feedback @mrocklin @jakirkham! Good to know about #3184, I didn't see it when searching through the issue tracker. I'll move this discussion over to that issue.

Closing as this is a duplicate of #3184

[2019-06-11 15:21] #4913 closed

[2019-06-11 16:01] kkraus14 commented on #4910
We'll work on fixing cuDF upstream and as a stopgap we can vendor over the old variance code so as to not slow down Dask. Thanks all!

[2019-06-11 16:03] quasiben commented on #4910
In a chat with @mrocklin we briefly experimented with use `cupy.array` on the `dask_cudf.Series` obj.  This gets you quite far but trouble arises with the `nansum`.  Nansum has not been implemented but there is a TODO in the cupy src:

https://github.com/cupy/cupy/blob/0e4141428d4dace8d13e10ac58c844d3bb0d23c5/cupy/math/sumprod.py#L66

@pentschev would this be difficult to add ?

[2019-06-11 16:10] TomAugspurger commented on #4748
Just went through the survey. A few comments.

1. Took me 5 minutes 45 seconds, while I was writing comments.
2. The "role"
3. It may be worth copying some questions directly from https://www.jetbrains.com/research/python-developers-survey-2018/, so that we can benchmark Dask users vs. the general population fo Python devs
4. Typo in "What Dask resources...". Github "ssues" should be "issues".
5.

[2019-06-11 17:02] pentschev commented on #4910
Not sure yet, I will take a look at it soon. Possibly, a specialized reproduction of `sum` will do.

[2019-06-11 18:57] jakirkham commented on #4910
Might be worth taking a look at PR ( https://github.com/cupy/cupy/pull/2222 ), which implements some other `nan` functions. The same strategy could be leveraged by `nansum` without too much difficulty.

[2019-06-11 20:15] beckernick commented on #4885
@galipremsagar is looking into this.

[2019-06-11 20:36] pentschev commented on #4910
Thanks @jakirkham for mentioning that PR, I would not have seen that otherwise! :)

[2019-06-11 21:22] mrocklin commented on #4910
More generally, it looks like we're now computing dataframe variance computations using numpy-like functions.  This causes problems with gpu dataframes/arrays due to null-handling, but I could imagine that it would also cause problems with other non-numpy compatible dtypes in the future (though perhaps those don't exist).

[2019-06-11 22:51] henrypinkard opened #4920 "problem combining memory-mapped arrays on the same file"
Hi, I've run into a bug with combining multiple memory-mapped files into a dask array. I wasn't able to figure out if this is a problem with dask or numpy, so posting on both.

The context is, I have a large binary file that contains several chunks of data that I'd like to combine into a single multidimensional array, without having to immediately read all of these chunks into memory. My strategy

[2019-06-11 23:00] mpeaton commented on #4879
IIUC da.blockwise() is the only dask.array "building block" that allows multiple array inputs with arbitrarily-labeled/permuted axes, so chunks=… (or maybe rechunk=…?) makes particular sense there.  I don't think there would be much use for bubbling up beyond there.

As for my comment regarding dependent tasks, I was speculating about autochunking and related optimizations.  I have noted there is

[2019-06-12 04:40] mrocklin commented on #4879
If by a simple wrapper you mean "just add a chunks= keyword to blockwise, and call rechunk internally if so" then I disagree.  While I agree that the implementation is likely quite simple, adding new keyword arguments to a function like blockwise has long term consequences.  We have to continue maintaining it for a long time and consider how it interacts with all other keyword arguments, now and i

[2019-06-12 12:19] smangham opened #4922 "Assignments to integer column name fail"
Dask can't handle assignments to integer column names, returning `TypeError: assign() keywords must be a string`.

**Objective:**
I'm trying to cast all potentially mixed object columns to string, then categorise (i.e. `[0, 'a', 1.1]` -> `['0', 'a', '1.1']` -> categories).

**Environment:**
On the latest versions of Dask and Pandas.

**MVE:**

    import pandas as pd
    pdf = pd.DataFrame({0:[0,

[2019-06-12 13:09] TomAugspurger commented on #4922
Right now dask's DataFrame.__setitem__ reuses DataFrame.assign, which
relies on **kwargs, which must have string keys.

It may be possible to do an `elemwise` `__setitem__` instead. Are you
interested in looking into this? I'm not sure how tricky it will be.

On Wed, Jun 12, 2019 at 7:19 AM Sam Mangham <notifications@github.com>
wrote:

[2019-06-12 13:15] pentschev commented on #4910
@quasiben could you try out https://github.com/cupy/cupy/pull/2252 and see if it works for you?

[2019-06-12 14:47] jakirkham commented on #4862
In an effort to move things forward, have submitted PR ( https://github.com/dask/dask/pull/4924 ). Please share your thoughts over there.

[2019-06-12 15:46] jhonjcastroh opened #4926 "IOError: [Errno 2] No such file or directory: '/var/lib/awx/.azure/azureProfile.json'"
When run this command  it works:
`sudo ansible-playbook -i hosts create-vm-azure.yml --extra-vars "vm_name=test flavor=Standard_D2s_v3 resource_group=nebula user_vm=nebula pass_vm=Password" -vvvv`

But whit run the job at AWX doesn´t works....

  ansible-playbook 2.7.7
  config file = /var/lib/awx/projects/_6__github_jhon/ansible.cfg
  configured module search path = [u'/var/lib/awx/.ansible/plugi

[2019-06-12 15:49] jhonjcastroh commented on #4926
When set ansible_python_interpreter=/usr/bin/python3 get the follow error:

[2019-06-12 15:58] TomAugspurger commented on #4926
Wrong GitHub repository?

On Wed, Jun 12, 2019 at 10:50 AM Jhon Castro <notifications@github.com>
wrote:

[2019-06-12 16:02] jhonjcastroh commented on #4926
Sorry error of AWX

[2019-06-12 16:02] #4926 closed

[2019-06-12 16:17] quasiben commented on #4748
@TomAugspurger , is number 2 done -- did you want to say more about "role" ?

[2019-06-12 16:22] quasiben commented on #4748
Is the Python 2 or 3? question still appropriate if we are already moving forward with https://github.com/dask/dask/pull/4919

[2019-06-12 16:40] TomAugspurger commented on #4748
Sorry. I think I was going to say "should the role question be a select one, rather than select multiple". But I think select multiple is fine.

[2019-06-12 17:39] dojeda commented on #1238
Just a heads-up to whoever may be interested: we've encountered this issue, that is a malloc exception when using pandas and hdf5 within Dask on OSX. Our culprit was that we had an anaconda environment with pandas and pytables installed from pip, but when we re-created an environment with these two dependencies installed by conda and not pip, the problem was solved.
Cheers.

[2019-06-12 18:11] jcrist commented on #4920
Thanks for filing the issue, this is indeed a bug in dask. When dask methods get non-dask collection objects we hash then using a extensible hash function (more on this here: http://docs.dask.org/en/latest/custom-collections.html#implementing-deterministic-hashing). The hash function is called `tokenize`, and is used to determine identical data/tasks to avoid doing extra work.

[code]

It looks li

[2019-06-12 18:44] #4904 closed

[2019-06-12 19:39] jakirkham opened #4928 "Ignoring size 0 arrays in stack"
There has been some work recently on `concatenate` to exclude size 0 arrays from being added to the Dask graph. ( https://github.com/dask/dask/pull/4167 ) It would be reasonable to consider a similar optimization for `stack`, which would also exclude size 0 arrays from the Dask graph.

[2019-06-12 19:42] jakirkham opened #4929 "Leveraging `_meta` in `da.stack`"
Currently Dask Array's `stack` does not leverage `_meta`. It would be good to update the code in `stack` to use `_meta` instead of `dtype`.

cc @pentschev

[2019-06-12 19:43] jakirkham commented on #4888
Would add `stack` to this list. Have also added it separately as issue ( https://github.com/dask/dask/issues/4929 ).

[2019-06-12 20:00] pentschev commented on #4888
Thanks for the report @jakirkham. On the list I have on top I'm keeping the files that still need to be fixed one-by-one, which means they can have one or multiple functions. Specifically `stack` is part of `dask/array/core.py`. I'll link the issue, but I'm intentionally not listing every function there, otherwise that list will become huge.

[2019-06-12 20:02] pentschev commented on #4888
I'm not trying to discourage opening issues for specific functions that may require higher priority, it's great to know which ones are more important!

[2019-06-12 20:13] jakirkham commented on #4888
Yep, agree it's not worth listing them all.

In general `stack`, `concatenate`, and `block` are of importance because they can be useful for [building a cohesive Dask Array from pieces]( https://docs.dask.org/en/latest/array-stack.html ). `concatenate` already uses `_meta` and `block` uses `concatenate` internally. So `stack` is the only one of these 3, which is not covered.

[2019-06-12 20:53] jakirkham commented on #4883
Is there an issue on the NumPy repo that we should use to discuss this proposal, @shoyer?

[2019-06-12 20:55] #4047 closed

[2019-06-12 21:46] pentschev commented on #4883
TBH, I've been trying to wrap my head around the NEP-22 proposal, but I still don't understand how we would use that in practice. I'm very sure I don't understand the proposal well, but my little understanding is that duck arrays would automatically convert itself, we will face some rejection, and here I'm thinking particularly of CuPy, where no implicit conversion is allowed. Happy to continue th

[2019-06-12 21:54] pentschev commented on #4888
I wasn't aware of that, and honestly, this is a very good point. I guess we should prioritize those. So far, my priority has been somewhat arbitrary:

1. Functions with open issues and those that I was directly using;
1. Functions that were quick and easy to fix;
1. Alphabetical order.

[2019-06-12 22:00] shoyer commented on #4883
It wouldn't be a bad idea to discuss this in the NumPy tracker somewhere.

My thinking something like the following implementation for the protocol:
[code]

Example usage:
[code]

[2019-06-12 22:08] almaleksia opened #4930 "Dask and pandas mean/std result disperancy for timedelta columns"
There are two things dask does differently when computing std and mean for timedelta columns.
For dataframe timedelta columns are dropped and for series different dtype is returned (float64 or numpy.timedelta64, while in pandas it's Timedelta).

Examples:
[code]

Given that variance handles timedeltas it should be easy to change.

[2019-06-12 22:45] henrypinkard commented on #4920
Yeah happy to take a look

[2019-06-12 23:18] henrypinkard commented on #4920
Think this should fix it. `offset` is indeed an attribute in numpy `1.13.0`, so just get that when available

[2019-06-13 02:06] TomAugspurger commented on #4930
@jbrockmendel remind me: what's your current thinking on these reductions for timedelta? IIRC you think

- mean : OK
- std : OK
- var : remove?

[2019-06-13 02:28] jbrockmendel commented on #4930
correct

[2019-06-13 08:52] tg359 opened #4933 "which pyarrow"
Thank you for reporting an issue.

Please read the following guidelines to ensure that your issue is handled
properly.  If you have a ...

1.  **General Question**: like *"How do I filter a dask.dataframe?"* then
    please consider asking the question on Stack Overflow using the #Dask tag.

    Please do not ask a question in both locations.

    If you think that you have run into a bug or have

[2019-06-13 08:53] #4933 closed

[2019-06-13 09:17] Chilipp commented on #4906
hey @TomAugspurger! Sorry for coming back on this so late, I was busy with a workshop. It can be easily solved by replacing `df[x]`  in one line with `df.iloc[:, idx]` (see https://github.com/dask/dask/commit/453162caa99f303be9e430d4f3e9509d21fe1657). `df[x]` results in a new dataframe instead of a series if the dataframe has duplicated column labels.

I made a PR in https://github.com/dask/dask/p

[2019-06-13 15:08] philippegr commented on #4862
Sorry I did not move faster on that one

[2019-06-13 15:15] philippegr opened #4936 "Dataframe.to_parquet does not work with Path"
[code]
Last line fails with

[code]

Is it a problem of implementing a PathLike interface? (On a *non-empty* df using `str(Path(...))` would work)

[2019-06-13 15:29] TomAugspurger commented on #4936
Can you post a full example (simple definition of df) and a traceaback?

On Thu, Jun 13, 2019 at 10:15 AM Philippe Grangier <notifications@github.com>
wrote:

[2019-06-13 16:04] jcrist commented on #4574
Fixed by @4917.

[2019-06-13 16:04] #4574 closed

[2019-06-13 16:08] jakirkham commented on #4862
Not need to be sorry. It's part of my job to make sure things don't get dropped. So just wanted to make sure we were handling your concern.

[2019-06-13 17:34] IPetrik commented on #2366
For those like me coming here after Oct 2017, the method `__dask_tokenize__` was added. (http://docs.dask.org/en/latest/custom-collections.html#deterministic-hashing)

[2019-06-13 17:45] jakirkham commented on #4888
That seems like a reasonable way to set priorities. Given this scheme, is opening issues like I've done a reasonable way to alert you to important things or is there a different way you'd prefer to manage this?

[2019-06-13 18:49] philippegr commented on #4936
Edited my initial post

[2019-06-13 19:01] TomAugspurger commented on #4936
Thanks. I think that we should add something like

[code]

somewhere before calling `infer_storage_options`. Are you interested in exploring that @philippegr?

[2019-06-13 20:38] jrbourbeau commented on #3651
@mrocklin as https://stories.dask.org is linked to in the main docs, is it okay to close this issue?

[2019-06-13 21:47] mrocklin commented on #4936
Would `path = str(path)` work?

On Thu, Jun 13, 2019 at 9:01 PM Tom Augspurger <notifications@github.com>
wrote:

[2019-06-13 21:51] mrocklin commented on #3651
Sure

[2019-06-13 21:51] #3651 closed

[2019-06-13 21:59] TomAugspurger commented on #4936
For pathlib, probably. What I posted is for anyone implementing the fspath protocol.

[2019-06-14 10:50] #4867 closed

[2019-06-14 11:36] pentschev commented on #4888
I think it's good to open issues in two cases:

1. They need priority;
1. The function in question is not listed on this issues' description or mistakenly marked as done.

The only thing I want to prevent is that we end up with one issue for each function that doesn't yet support `_meta`, because that defeats the purpose of the issue here.

Also, if you create a new issue for one of the reasons I

[2019-06-14 14:15] philippegr commented on #4936
That would fix it locally, and yes I could do that.

Looking at the pandas codebase, there is a generic function to handle this cases
https://github.com/pandas-dev/pandas/blob/d2beaf3c821236e8e2f6fb0bdaf90ff3d404cc11/pandas/io/common.py#L97

That would be a more robust across the API solution, but I must also say that it's probably touching too many files for me to be comfortable doing this

[2019-06-14 14:34] #4809 closed

[2019-06-14 14:35] #4862 closed

[2019-06-14 18:57] jakirkham commented on #4047
Should we add Dask to the [Python 3 statement]( https://python3statement.org ) as @hugovk suggested?

[2019-06-14 19:09] jrbourbeau commented on #4047
+1 from me

[2019-06-15 16:42] kkraus14 commented on #4876
I believe this was before we had an optimized gather implementation and it was getting bottlenecked in using Numba kernels, but I could be mistaken.

[2019-06-15 19:21] alimanfoo opened #4940 "Mask selection vs compress() - inconsistent shape"
Using dask 1.2.2. In the following example:

[code]

...I would expect ``da.compress(t, x, axis=0)`` to give the same result as ``x[t]``, however the shape is ``(nan,)`` in the first case and ``(2,)`` in the second.

Is this expected behaviour?

[2019-06-15 20:44] alimanfoo commented on #4940
Maybe the difference is because ``compress()`` calls ``asarray(condition)`` [here](https://github.com/dask/dask/blob/d8ff4c4d155d51cf275776c1ec8ef27c16d43f17/dask/array/routines.py#L1005). I.e., the ``condition`` array is coerced to a dask array, although it doesn't really need to be if it is a numpy array.

Perhaps we could add a check to allow ``condition`` to be a numpy array, and if so don't c

[2019-06-16 07:43] mrocklin commented on #4940
That sounds reasonable to me

On Sat, Jun 15, 2019 at 10:44 PM Alistair Miles <notifications@github.com>
wrote:

[2019-06-16 19:00] AdrienHEH opened #4941 "Problem with merging on a named index"
Dask version: 1.2.2, python 3.7.2

[code]
`portfolio` contains a `str` index named `eh_id`, and another column which will not be used.
Merging them directly results in an empty dataframe, when it shouldn't:
[code]
Going back to pandas before the merge solves the issue (non empty dataframe):
[code]
Using the name of the index in dask also solves the issue (non empty dataframe):
[code]
Somehow compu

[2019-06-16 19:16] TomAugspurger commented on #4941
Are you able to provide a minimal example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-06-16 19:18] TomAugspurger commented on #4936
The pandas function you linked to is private. It wouldn't be appropriate for Dask to use.

[2019-06-17 06:22] dsevero opened #4942 "to_parquet filters breaking with custom index"
# Versions
`dask==1.2.2`
`fastparquet==0.3.1`

# Problem
I have a parquet file that was saved using

[code]

Upon reading, I'm trying to use the `filters` keyword in `dd.DataFrame.read_parquet` to do push-down filtering. For example:

[code]
Everything was working fine, until I decided to, before partitioning the dataset, do a `.set_index(...)` on my `df` like so.

[code]

Probably related to http

[2019-06-17 07:55] xiaozhongtian opened #4943 "Dict in dask only support the first selection"
Hello,
This is a simple example that i tried to show the bug.
[code]

you can see that only the first column that has been transformed but the second can't find the `dict[col]` so it returns all 0.

Give me some advises.
Thanks

[2019-06-17 10:25] 3ggaurav opened #4947 "I use parse dates keyword while importing the csv file using dask, and got a value error. Here is my code -"
Thank you for reporting an issue.

Please read the following guidelines to ensure that your issue is handled
properly.  If you have a ...

1.  **General Question**: like *"How do I filter a dask.dataframe?"* then
    please consider asking the question on Stack Overflow using the #Dask tag.

    Please do not ask a question in both locations.

    If you think that you have run into a bug or have

[2019-06-17 10:25] 3ggaurav opened #4948 "I use parse dates keyword while importing the csv file using dask, and got a value error. Here is my code -"
Thank you for reporting an issue.

Please read the following guidelines to ensure that your issue is handled
properly.  If you have a ...

1.  **General Question**: like *"How do I filter a dask.dataframe?"* then
    please consider asking the question on Stack Overflow using the #Dask tag.

    Please do not ask a question in both locations.

    If you think that you have run into a bug or have

[2019-06-17 10:25] 3ggaurav opened #4949 "Got a value error :- 'timestamp' is not in list' while use parse dates keyword when importing the csv file"
Thank you for reporting an issue.

Please read the following guidelines to ensure that your issue is handled
properly.  If you have a ...

1.  **General Question**: like *"How do I filter a dask.dataframe?"* then
    please consider asking the question on Stack Overflow using the #Dask tag.

    Please do not ask a question in both locations.

    If you think that you have run into a bug or have

[2019-06-17 10:31] 3ggaurav commented on #4949
I used parse_dates keyword while importing the CSV file using dask, and got a Value_Error. Here is my code -
import dask.dataframe as dd
parsed_data = dd.read_csv('../csv_files/HR_Data_Merged.csv', sep = '|', parse_dates = ['timestamp'])
parsed_data

Error -

---------------------------------------------------------------------------
ValueError                                Traceback (most recent

[2019-06-17 12:09] syagev opened #4950 "No way to efficiently rename dataframe index"
The pandas [`DataFrame.rename_axis`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename_axis.html) is not supported and also, `dd.DataFrame.index.name = <new_value>` has [no effect](https://notebooks.azure.com/styagev/projects/scratch/html/dask_rename_index.ipynb), so there is no efficient way to rename a dataframe index. Some users [suggest](https://stackoverflow.c

[2019-06-17 13:06] jcrist commented on #4942
Thanks for filing an issue. If possible it would be good to get a [reproducible issue](https://blog.dask.org/2018/02/28/minimal-bug-reports) to make debugging easier.

cc @martindurant for parquet expertise.

[2019-06-17 13:07] #4948 closed

[2019-06-17 13:07] #4947 closed

[2019-06-17 13:17] jcrist commented on #4949
Thanks for filing an issue. In the future you can edit an existing issue rather than opening a new one if you mess up creating the issue (#4947, #4948). Also, I've edited your issue to properly format the code, making it easier to read.  In the future you can do this by surrounding your code in backticks like this:

[code]

---

Does the above code work with pandas (using `pd.read_csv` instead of

[2019-06-17 13:17] philippegr commented on #4936
@TomAugspurger of course not.
I was just suggesting that a similar function in Dask could solve the problem in many different places.

[2019-06-17 13:19] #4898 closed

[2019-06-17 13:21] TomAugspurger commented on #4950
Can you provide small example with the expected output, so that contributors can easily tell what the request is, and if it's been fixed?

Series/DataFrame.rename_axis seems straightforward to implement, if you're interested in working on it.

What do you mean by inefficient? We do need to update the name of each partition, so that operations that depend on the index name are correct.

[2019-06-17 13:28] syagev commented on #4950
@TomAugspurger thanks for the constructive comments! I think inefficiency is indeed not very relevant in this context..

Updated the issue as requested. I am happy to work on this but unfortunately cannot commit to a timeline (might take weeks till I get to it).

[2019-06-17 13:34] TomAugspurger commented on #4950
Thanks, no rush.

The signature for pandas.DataFrame.rename_axis is quite complex as we support two modes.

1. legacy `.rename_axis(mapper, axis={0,1})`
2. New `.rename_axis(index=., columns=.)`

We'll want to match that signature, but hopefully we can just call `self._meta.rename_axis(...)` and have pandas manage all the complexity.

We'll want to allow for renaming  the index or the columns.

[2019-06-17 13:37] jcrist commented on #4943
This has nothing to do with dask, and instead has to do with how Python lambda's and scopes work. See this [stackoverflow question](https://stackoverflow.com/questions/19837486/python-lambda-in-a-loop) for more information.

One way to fix this is to use a function to make the lambda, isolating the closure:

[code]

[code]

You also had your lookup tables swapped, so once the closure issue was fix

[2019-06-17 13:37] #4943 closed

[2019-06-17 13:46] pentschev opened #4951 "Support identification of _meta-related issues"
While handling `_meta`, we tried to be very conservative, defaulting to NumPy anywhere we couldn't find an appropriate solution. We have a few ways of handling such situations, including maintaining the current behavior, as noted by @mrocklin in https://github.com/dask/dask/pull/4914#issuecomment-502111112.

Option 2 seems to be a good compromise between usability and developer support, allowing d

[2019-06-17 13:53] pentschev opened #4952 "Improve blockwise_meta exception handling"
Current `blockwise_meta`/`blockwise` implementation defaults to `dtype` construction of `Dask.Array` when an non-trivial exception is raised when computing `_meta`. This is suboptimal for two reasons:

1. It's difficult to trace that the defaulting happened within `blockwise` for somewhat complex user code;
1. Exceptions that come from the array compute task (with NumPy, CuPy, etc.) are not raised

[2019-06-17 13:57] xiaozhongtian commented on #4943
thank you. This helps me a lot.

[2019-06-17 14:17] shoshijak opened #4953 "Merging dask dataframes read from CSV results in too many rows"
When reading two dataframes from CSV and merging them, the merged dataframe contains too many rows.

---

### Reproducer

**Intention**
1. Generate 2 pandas dataframes
2. Write them to 2 CSV files
3. Read the 2 CSV files into 2 Dask dataframe
4. Merge the 2 Dask dataframes by putting them "side-by-side", i.e:

[code]

merged with:
[code]

becomes:
[code]

5. Check that the merged dataframe has the

[2019-06-17 14:22] TomAugspurger commented on #4953
Is writing to / reading from CSV necessary to reproduce?

My first guess is that when you read from CSV, you introduced duplicates in the index since we have `range(0, N)` for each partition. Then you join on the index, which introduces duplicates. Can you verify that?

[2019-06-17 14:30] martindurant commented on #4942
Agree, @jcrist , hard to say here. A full example, with exact package versions would be helpful.

[2019-06-17 14:47] shoshijak commented on #4953
Yes.
Proof is, that the following code is successful:
[code]

[2019-06-17 14:48] shoshijak commented on #4953
I'm not sure how to verify this.
Also, would this explanation explain the fact that this code runs fine for a smaller dataframe?

[2019-06-17 14:55] TomAugspurger commented on #4953
Can you verify that duplicates are causing the issue? You may be able to
check by doing a `.reset_index()` before writing, and then doing a
`.set_index()` after reading.

On Mon, Jun 17, 2019 at 9:47 AM Shoshana Jakobovits <
notifications@github.com> wrote:

[2019-06-17 15:02] TomAugspurger commented on #4953
Possibly. I didn't check to see how many partitions the smaller example had.

Does my comment about set_index & reset_index help?

On Mon, Jun 17, 2019 at 9:49 AM Shoshana Jakobovits <
notifications@github.com> wrote:

[2019-06-17 15:43] pentschev commented on #4898
@jakirkham @beckernick the CuPy maintainers are asking if it's fine merging https://github.com/cupy/cupy/pull/2249 after NumPy 1.17 release. Since that PR is currently needed for this issue, are you guys ok with that? Note that the fix requires NumPy 1.17 (currently master branch) to work anyway.

[2019-06-17 15:45] pentschev commented on #4898
Also feel free to reopen this issue until CuPy merges that PR/NumPy gets released. Just FYI, on the Dask side it should work now (provided the other two requirements are met).

[2019-06-17 15:52] dsevero commented on #4942
Sorry. I'll provide one in a bit.

[2019-06-17 15:59] shoshijak commented on #4953
check by doing a `.reset_index()` before writing, and then doing a
`.set_index()` after reading.

The error persists after adding `.reset_index()` before writing doesn't change anything.
Here's the output:
[code]

[2019-06-17 15:59] shoshijak commented on #4953
The smaller example has only 1 partition, while the larger one has multiple partitions.

[2019-06-17 16:08] hoangthienan95 commented on #4795
Hi there, sorry for being slow to get back to you, the past few weeks have been busy.

One of the problems I am facing is doing operations/assign new columns from current columns where the index is not monotonically increasing and doesn't start from 0. My `id` index is the result from earlier merging operations and I would like to keep it for future operations.

I'm having a hard time creating new

[2019-06-17 16:14] TomAugspurger commented on #4953
Did you also do a `.set_index(col)` on the column you reset before writing?

As another way to check if the index is unique: Ensure that `ddf.index.value_counts().max().compute()` is 1.

[2019-06-17 16:55] shoshijak commented on #4953
In my previous output I didn't. Here's the output with `set_index`

Data 1 (PANDAS, after `reset_index`, before write):
[code]

Data 1 (DASK, after reading, before `set_index("index")`
[code]

Data 1 (DASK, after reading, after `set_index("index")`
[code]

Data Merged (DASK, after reading, after `set_index("index")`
[code]

[2019-06-17 17:43] #4940 closed

[2019-06-17 20:01] TomAugspurger commented on #4953
If you're trying out the reset_index / set_index stuff, you may need to play with whether the row is written or not.

The idea is to have the dask and pandas versions be identical. The dask one just have to go through an extra set_index so that the partitioning is done on a monotonically
increasing column.

[2019-06-17 20:10] TomAugspurger commented on #4795
On the narrow question of how to add a column, in this case I would recommend

[code]

[2019-06-17 20:42] hoangthienan95 commented on #4795
Thank you @TomAugspurger, that worked. However, I have other parts of my code where I have to add columns while keeping the index that this cannot be applied. In general, if you can create an array from applying a numpy function on dask dataframe `df`, how do you convert this to a Dask Series while retaining the index of `df` so it could be appended? (assuming that the function is also implemented

[2019-06-17 20:47] TomAugspurger commented on #4795
I think something like `dd.from_dask_array(dask_array, index=df.index)`
would work.

On Mon, Jun 17, 2019 at 3:42 PM hoangthienan95 <notifications@github.com>
wrote:

[2019-06-17 21:21] jakirkham commented on #4883
What you are proposing sounds reasonable, Stephan. Is there a particular NumPy issue we should move too?

[2019-06-17 21:29] #4906 closed

[2019-06-18 06:42] 3ggaurav commented on #4949
Hi jcrist,

Thanks for giving me instruction and thanks for your help. I'm new in dask while I'm bit confident in pandas. So I resolved this problem in dask , by trying it in pandas as you said. Thanks. The issue is resolved.

[2019-06-18 06:42] #4949 closed

[2019-06-18 06:43] floschl opened #4957 "Worse performance when accessing common resource from within ddf.map_partitions call"
I do encounter a performance issue, when accessing a global .nc file from within a dask.dataframe.map_partitions function.

This is my pseudo code:

`
def get_dist2coast(latarr, lonarr, do_interp=True, cfilepath='~/data/dist2coast/dist2coast_1deg.nc'):
    """ Calculates distance to coast."""
    #
    # access global/common dist2coast_1deg.nc file
    # return d2c_vec based on lat+lon values

ddf

[2019-06-18 06:45] 3ggaurav commented on #661
Hey Tom,

Just checked in your dataframe , there is a column having name 'date' or not. You have to pass column name list in parse_dates attribute to parse the values of that column in datetime format. Thanks.

[2019-06-18 06:50] 3ggaurav opened #4958 "Can't find the way to drop column having nan values in dask."
Thank you for reporting an issue.

Please read the following guidelines to ensure that your issue is handled
properly.  If you have a ...

1.  **General Question**: like *"How do I filter a dask.dataframe?"* then
    please consider asking the question on Stack Overflow using the #Dask tag.

    Please do not ask a question in both locations.

    If you think that you have run into a bug or have

[2019-06-18 06:57] 3ggaurav commented on #4958
In pandas there is a method to drop columnwise. Here is my code -
data = data.dropna(subset = [some_column_name(optional)], axis = 1)

but In dask -
data = data.dropna(subset = hr_attributes, axis = 1)
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-12-a5b0af78341b> in <module>

[2019-06-18 09:44] soxofaan commented on #4907
FYI and as reference: we have the same problem, but with another package also under the same name "snappy": the python bindings for the ESA SNAP toolbox (https://step.esa.int/main/toolboxes/snap/). Also see https://senbox.atlassian.net/browse/SNAP-936 and https://senbox.atlassian.net/browse/SNAP-937

[2019-06-18 10:22] 3ggaurav opened #4959 "How do I fill any value to a dask dataframe cell (cell having specific row number and column number)?"
Thank you for reporting an issue.

Please read the following guidelines to ensure that your issue is handled
properly.  If you have a ...

1.  **General Question**: like *"How do I filter a dask.dataframe?"* then
    please consider asking the question on Stack Overflow using the #Dask tag.

    Please do not ask a question in both locations.

    If you think that you have run into a bug or have

[2019-06-18 10:29] 3ggaurav commented on #4959
I can't implement to fill any value in a particular cell of a dask dataframe. However, It is implemented in pandas Dataframe with the help of 'loc' function. Here what I'm trying to do -

with pandas -
data.loc(row_index , column_name) = value (successfully run)

but in dask -

uniqueness_data.loc[unique_value, 'start_date'] = unique_count

---------------------------------------------------------