[2021-10-01 17:06] leos opened #8208 "s3fs and other extras not listed as extras in setup.py"
It's great that there's a list of optional dependencies here - https://docs.dask.org/en/latest/install.html#optional-dependencies - but is there a good reason they aren't added as extras into setup.py?

As it is now, someone installing with `pip` needs to manage the version of dependencies such as `s3fs` or `pyarrow` themselves. If the optional dependencies were configured as extras then `pip inst

[2021-10-01 17:38] jcrist commented on #8208
Dask has lots of optional dependencies, adding them all as `extras` to our `setup.py` was deemed unmaintainable, and a list of dependencies in the docs favored instead. Other projects (e.g. pandas https://pandas.pydata.org/pandas-docs/stable/getting_started/install.html#optional-dependencies) also ran into this issue and came to the same conclusion. See https://github.com/dask/dask/pull/5209 for a

[2021-10-01 17:38] #8208 closed

[2021-10-04 03:12] umonaca commented on #8156
The solution works. However, I think you should document this parameter in `dask.dataframe.DataFrame.query`.

[2021-10-04 06:51] yohplala commented on #8201
Thanks @jsignell
For my own information, please, where in the source is made the call to fastparquet or pyarrow?
I would like having a look how this call is made. Thanks in advance for your feedback!
Bests,

[2021-10-04 13:19] jsignell commented on #8156
Ohh! That's true https://docs.dask.org/en/latest/generated/dask.dataframe.DataFrame.query.html is very thin! I only realized that pattern was supported because I was looking around in the tests. Please feel free to open a pull request with an example of that pattern @umonaca!

[2021-10-04 13:35] jsignell commented on #8201
You can take a look at the files changes in https://github.com/dask/dask/pull/8206

[2021-10-04 13:51] sayantikabanik opened #8210 "Bug: Building dask from source (arm64)"
**What happened**:
- Building dask from source using conda on `arm64` machine
- Command used- `conda env create -n dask-dev -f continuous_integration/environment-latest.yaml`

### Error
[code]

**What you expected to happen**:
Able to create the environment without any missing packages

**Anything else we need to know?**:
I commented the `bcolz`, `crick` in the `environment-lates.yaml` file, and t

[2021-10-04 14:00] #8113 closed

[2021-10-04 14:08] #8178 closed

[2021-10-04 14:19] jsignell commented on #8210
The dependencies in `environment-latest.yaml` are not required. You should be able to create a dask environment like this
 `conda create -n dask python dask`.

The failing tests are a different story. If you could provide more output that would be helpful.

[2021-10-04 14:21] jsignell commented on #8207
I'm going to close this - upstream tests are passing. If this gets reopened again by the bot, then we might have an issue with the way that action works.

[2021-10-04 14:21] #8207 closed

[2021-10-04 14:28] github-actions[bot] opened #8211 "⚠️ Upstream CI failed ⚠️"
[Workflow Run URL](https://github.com/dask/dask/actions/runs/1303884649)

[2021-10-04 14:39] github-actions[bot] opened #8212 "⚠️ Upstream CI failed ⚠️"
[Workflow Run URL](https://github.com/dask/dask/actions/runs/1304259797)

[2021-10-04 14:54] jrbourbeau commented on #8211
Closing in favor of https://github.com/dask/dask/issues/8212

[2021-10-04 14:54] #8211 closed

[2021-10-04 14:56] jrbourbeau commented on #8207
It looks like there are genuine failures (from a `pandas` deprecation warning being elevated to an error) in the upstream build

[code]

https://github.com/dask/dask/runs/3791975778. Let's continue to track over in https://github.com/dask/dask/issues/8212

[2021-10-04 14:58] jsignell commented on #8212
Ok there are real new errors having to do with resample `closed` being deprecated. I will open a PR.

[2021-10-04 15:01] jrbourbeau commented on #8212
Side note: I've manually added the `upstream` label to this issue. I think that should prevent new issue reports from being opened (but let's wait to see if this is actually the case)

[2021-10-04 16:05] jsignell opened #8214 "Pandas 1.2.0 compatibility - `std()` for the `datetime64[ns]` dtype"
This doesn't work yet in dask because here the implementation of `std` generally depends on `var`, which doesn't work for datetimes.

Some tests are skipped for this in `dask/dataframe/tests/test_arithmetics_reduction.py`

[2021-10-04 16:07] jsignell commented on #8214
I thought I'd split up #7100 to make it easier to keep track of the different parts.

[2021-10-04 17:18] jsignell opened #8216 "Starting with pandas 1.2.0, column reductions are applied column-wise (when possible), and therefore now applied on eg the integer columns separately. In a test case, this caused the integers to overflow for `prod()`. While before, the DataFrame was converted to a float ndarray (because it also has a float columns), not giving those overflow issues. Hence the test was failing (see test `dask/dataframe/tests/test_ufunc.py::test_ufunc_with_reduction`).The question here is whether dask wants to follow that behaviour (I am not familiar with how column reductions are currently implemented)."

[2021-10-04 17:20] #8212 closed

[2021-10-04 19:07] yohplala commented on #8201
Thanks a lot for your reactivity! Much appreciated!

[2021-10-04 19:28] #6555 closed

[2021-10-04 21:51] rjzamora commented on #8087
Note that #8072 was merged, and so the pyarrow component of this issue should be resolved.

[2021-10-04 22:54] jrbourbeau commented on #8087
Thanks for following-up here @rjzamora

Will the `fastparquet` component be included in https://github.com/dask/dask/pull/8092? Or should that be a separate line of work?

[2021-10-05 00:56] MrPowers commented on #8087
@jrbourbeau - [This PR](https://github.com/dask/dask/pull/8180) should help with the fastparquet issues with the _SUCCESS file outputted by Spark. cc: @martindurant

[2021-10-05 01:13] martindurant commented on #8087
Right, but my PR fixes the fastparquet issue *completely* and exposes a case where arrow fails!

[2021-10-05 13:14] bkvsy opened #8217 "ImportError: cannot import name 'apply' from 'dask.compatibility'"
**What happened**:
Running the code below in Sagemaker Studio jupyter lab:

[code]
gives following error:
[code]

Restarting kernel / reinstallation doesn't work

**Environment**:

- Dask version: 2021.9.1
- Python version: 3.7
- Operating System: Linux (Sagemaker Studio)
- Install method (conda, pip, source): pip

aiobotocore==1.4.1
aiohttp==3.7.4.post0
aioitertools==0.8.0
alabaster==0.7.12
anaco

[2021-10-05 13:20] bkvsy commented on #8217
_distributed_ package installed was incompatible with _dask_ version. After updating and restarting the kernel everything works fine

[2021-10-05 13:20] #8217 closed

[2021-10-05 15:41] valeriupredoi opened #8218 "Possible bug: `dask.array.compute()` hanging with `multiprocessing.Pool`"
**What happened**:

Calling `compute()` twice in the same function hangs: first time one calls `compute()` in a straightforward manner, second time via `multiprocessing.Pool`; see example below:

- if I call `my_func(2)` then I go ahead and execute the mpi block (with the dask cluster commented out), the execution hangs (see stack trace below, after a `KeyboardInterrupt`);
- if I repeat the operat

[2021-10-05 17:44] #2792 closed

[2021-10-05 17:56] jrbourbeau opened #8220 "`test_cupy_sparse.py` failures on gpuCI build"
The following tests have started to fail on our gpuCI build

[code]

with an interesting `Fatal Python error: Floating point exception` error (full traceback below). See [this gpuCI build](https://gpuci.gpuopenanalytics.com/job/dask/job/dask/job/prb/job/dask-prb/519/CUDA_VER=11.2,LINUX_VER=ubuntu18.04,PYTHON_VER=3.8,RAPIDS_VER=21.12/console) triggered from https://github.com/dask/dask/pull/8219 fo

[2021-10-05 17:58] jrbourbeau commented on #8220
I see there were changes made to the image used in CI yesterday (xref https://github.com/rapidsai/dask-build-environment/pull/7). Perhaps those are related?

[2021-10-05 18:02] jakirkham commented on #8220
cc @cjnolet

[2021-10-05 18:14] jsignell commented on #8218
I am probably missing something, but I am confused by what you are trying to achieve. Even using `client.map` it seems unusual to call compute within the function that you are trying to distribute. I just don't see what the value of that is. If you are using `Pool` already then why not just use `numpy.Array` and skip dask altogether?

[2021-10-05 18:36] charlesbluca commented on #8220
Looks like the issue is that we're now picking up cuDF for CUDAToolkit 11.4? Not sure how that's happening but I imagine it has something to do with the recent PR. Here are the packages getting picked up 2-3 days ago:

[code]

Vs now:

[code]

[2021-10-05 19:03] charlesbluca commented on #8220
Opened a fix for this:

https://github.com/rapidsai/dask-build-environment/pull/11

Once that's merged in and the images are rebuilt, this should be resolved

[2021-10-05 19:15] valeriupredoi commented on #8218
@jsignell cheers muchly for getting back to me! That is just a toy example to show what the setup is within our stack - there is a process that needs to call a function that should `compute()` at the same time when another process is sending the same function to mpi via `Pool` - don't worry about fixing the toy example, in the actual setup things are way more complicated but it boils down to this

[2021-10-05 19:50] charlesbluca commented on #8220
Images are now building with CUDA 11.2 like before, which should resolve this - just reran tests in #8219

[2021-10-05 19:59] charlesbluca commented on #8220
Looks like tests are passing again! Thanks for opening this @jrbourbeau 🙂

[2021-10-05 19:59] jakirkham commented on #8220
Thanks for tracking this down Charles! 😄

[2021-10-05 21:25] #8220 closed

[2021-10-06 03:47] sayantikabanik commented on #8210
Thank you @jsignell, I was able to create the env without any missing dependencies.
Maybe this [link](https://docs.dask.org/en/latest/develop.html) could be updated with the same.

A few tests are still failing for me. I have updated the issue with the `conda info` and `conda list` details. Please let me know if more details are required

[2021-10-06 08:54] pavithraes opened #8224 "Distributed LocalCluster's `memory_limit` keyword argument needs documentation"
**Minimal Complete Verifiable Example**:

[code]

**What happened**:
Looks like the `memory_limit` keyword argument used here sets the limit ~~for the entire cluster (see screenshot below)~~. If that's the case, it'll be helpful to add it to the [LocalCluster documentation here](https://docs.dask.org/en/latest/setup/single-distributed.html#localcluster).

Edit: It sets the limit per worker. My exa

[2021-10-06 08:57] pavithraes commented on #8224
cc'ing @jcrist who helped confirm the behaviour

[2021-10-06 16:09] raybellwaves opened #8226 "Local Processes scheduler question"
Reading https://docs.dask.org/en/latest/scheduling.html#local-processes it says

[code]

is `dask.multiprocessing` needed to be imported? What about `import dask` to set the config?

I guess not as I just tried this and it works

[code]

Closing

[2021-10-06 16:09] #8226 closed

[2021-10-06 16:30] charlesbluca opened #8227 "ReadTheDocs PR builds are failing"
Looks like we're getting timeout errors on RTD builds for PRs:

- https://readthedocs.org/projects/dask/builds/14922250/

Truncating the output, here is the failure message:

[code]

Has a recent PR significantly increased the docs size?

[2021-10-06 16:51] charlesbluca commented on #8227
Not sure if it's a consistent failure, just noticed it on the past handful of PRs:

- https://github.com/dask/dask/pull/8225
- https://github.com/dask/dask/pull/8223
- https://github.com/dask/dask/pull/8222

[2021-10-06 19:31] jcrist commented on #8224
From looking at the code, it looks like passing `memory_limit` to `LocalCluster` sets the memory limit per worker (it's forwarded directly), not total cluster. This also matches the observed behavior:

[code]

I personally think this is a bit confusing, as I'd expect this to be split per worker with a kwarg named this way, but I think it's too late to change this.

To improve the documentation, sh

[2021-10-06 19:35] keflavich commented on #8224
I'm quite confused; are the examples shown by @pavithraes and @jcrist contradictory?  @pavithraes showed:
[code]
which resulted in two workers with 16 GB each, 32 GB total but @jcrist showed
[code]
which resulted in 4 workers with 1 GB each, 4 GB total.

Is this a difference between `Client` and `LocalCluster`?  Or some different behavior if you don't specify `n_workers` directly?

[2021-10-06 19:38] jcrist commented on #8224
I noticed that too. This is because we take `min` of the user input and the total available system memory. So if your machine has 16 GiB of RAM, no workers are limited to 16 GiB of RAM even if `memory_limit="32 GiB". This is what happened in @pavithraes case above, and I think is the correct behavior (but could also be called out in the docstring).

[2021-10-06 19:46] keflavich commented on #8224
@jcrist how is the total available system memory determined?  I suspect this is the root cause of myriad problems I've been experiencing: I'm operating on slurm-managed machines that have ~0.5 TB memory available per node, but only ~few GB free to a given process.

[2021-10-06 19:51] jcrist commented on #8224
The code can be found here: https://github.com/dask/distributed/blob/main/distributed/system.py. It should take into account cgroups limits and RSS rlimit settings, but maybe slurm doesn't set those? Dask's memory accounting also isn't perfect, so slurm may kill the job before dask notices the memory limit has been exceeded.

Note that if you instead use [dask-jobqueue](http://jobqueue.dask.org/en

[2021-10-06 21:33] fnattino opened #8229 "Unexpected behaviour with out-of-bound indices"
**What happened**:

I encountered the following issue when slicing a Dask array with a one-dimensional Dask array of integers. If the array used for slicing contains indices that are out of range in addition to some valid indices, I would expect an `IndexError` to be raised. Instead, no error is raised and it looks like the element corresponding to the first valid index is repeated for all the out

[2021-10-06 22:12] jakirkham commented on #8227
It also [fails on `main`]( https://readthedocs.org/projects/dask/builds/14911955/ )

[2021-10-07 01:57] github-actions[bot] opened #8230 "⚠️ Upstream CI failed ⚠️"
[Workflow Run URL](https://github.com/dask/dask/actions/runs/1314335534)

[2021-10-07 05:36] jakirkham commented on #8227
Thanks Juan! 😄

[2021-10-07 10:44] jacobtomlinson commented on #8227
@jsignell and I have been doing a bunch of work on the docs lately.

In version 2 of the dask sphinx theme we now use the executable book theme instead of the read the docs theme as a base. Most of the other Dask projects have already rebuilt docs with the new theme.

I'm not surprised that it takes longer to build, the new theme is more complex and has more features. It's disappointing that this

[2021-10-07 12:49] jsignell commented on #8227
Seems like https://github.com/readthedocs/readthedocs.org/issues/8545 would be a good start :)

[2021-10-07 13:39] jacobtomlinson commented on #8227
Yeah it does.

[2021-10-07 15:44] rjzamora commented on #8087
I spent some time thinking through the "correct" solution to this, and it is a bit tricky to come up with a convention that will work for both fastparquet and pyarrow.  Therefore, I can add a fix to #8092, but I'd prefer to get that merged first, and **then** work on a fix.

[2021-10-07 15:57] jrbourbeau opened #8233 "Monthly community meeting"
A monthly Dask community meeting happens the first Thursday of the month at 10:00 US Central Time in [this video meeting](https://us06web.zoom.us/j/87619866741?pwd=S2RxMlRKcnVvakt4NHZoS1cwOGZoZz09). We chat about ongoing development efforts, give updates on what's happened in the Dask ecosystem over the last month, etc. Meeting notes are available in [this Google doc](https://docs.google.com/docum

[2021-10-07 16:44] astrojuanlu commented on #8227
No need to throw money at it :)

[2021-10-07 17:35] jakirkham commented on #7853
@pentschev, would be good to get your thoughts here since we have discussed the oddities of `np.unique` before and the changes proposed in the Data API may help with that here

[2021-10-07 19:18] pentschev commented on #7853
@jakirkham yeah, I've seen this before, and I wrote https://github.com/dask/dask/issues/7997 covering two issues that involve structured arrays in Dask, one of them being `da.unique`. Unfortunately I haven't found any better ideas than using a `dict`, and in the case of `np.unique` I went ahead with https://github.com/dask/dask/pull/8021 to allow computing it with CuPy chunks, but for values only.

[2021-10-07 20:45] jrbourbeau opened #8236 "API docs misrendering with new sphinx theme"
After the recent documentation refactor (xref https://github.com/dask/dask/pull/7984) it appears our API docs aren't quite rendering correctly. Specifically, [with the old theme](https://docs.dask.org/en/stable/generated/dask.dataframe.read_parquet.html#dask.dataframe.read_parquet) we have:

<img width="1552" alt="Screen Shot 2021-10-07 at 3 39 00 PM" src="https://user-images.githubusercontent.com

[2021-10-07 23:36] choldgraf commented on #8227
I looked into this today and it was more complicated than I was hoping haha. I think that there are still improvements we could make, but there seems to be some fundamental reality that include a *ton* of API docs on every single page will slow things down considerably.

However, there was a new feature we implemented in the pydata theme to try and help with this, which is to optionally limit the

[2021-10-08 00:15] choldgraf commented on #8227
Ah one more idea which I think would make a much _bigger_ difference. The `autosummary` directives currently are being used with a `toctree` argument:

https://github.com/dask/dask/blob/843c37554dc65e532d70c38b2cd1f337fcc874a0/docs/source/array-api.rst#L6-L14

This means that a toctree entry is being generated for every single API entry. If you remove `:toctree:` from the directive, I believe that

[2021-10-08 20:46] rjzamora opened #8243 "Deprecate "pyarrow-legacy" engine in dask.dataframe.read_parquet"
Given the pyarrow version requirements in Dask, we can now assume the `dataset` API will be supported if pyarrow is installed. We can also assume that deprecation warnings will be raised by the pyarrow backend if `dd.read_parquet(..., engine="pyarrow-legacy")` is used.  Therefore, I propose that we add an explicit deprecation warning for the "pyarrow-legacy" engine itself, and establish a timeline

[2021-10-09 23:59] ek234 commented on #7332
Hey @ncclementi
Is any work going on for this issue? I want to contribute to DASK. If no one is working on this, may I try to solve this issue?

Thanks

[2021-10-10 01:34] MosGeo commented on #7332
Hi @ek234 I kinda dropped the ball on this one. I started going through the code but to learn about dask but didn't get to the actual issue. So I dont think anybody working at it atm. You can give it a try.

[2021-10-11 10:50] DahnJ opened #8245 "Implement `unstack()`"
For a recent [Stackoveflow question](https://stackoverflow.com/questions/69480773/convert-column-of-categoricals-to-additional-columns/69524920#69524920), I wrote a PoC version of `unstack`, which I believe does not exist in Dask. I suppose this is connected to https://github.com/dask/dask/issues/1493 but is in principle independent of it.

Pasting verbatim from the SO question for convenience:

[

[2021-10-11 13:34] jsignell commented on #8236
@jacobtomlinson I am happy to look into this if you don't know what's going on.

[2021-10-11 15:53] jsignell commented on #8229
I ended up taking a look and changing the error messages is relatively straightforward, but correcting the results is more involved. I think this might have to do with some of the known issues with blockwise. But I need to do more investigation.

[2021-10-11 19:48] sharkinsspatial commented on #7547
@stevengillard, @cisaacstern has been working to create a simple, consistent reproducer for an equivalent issue.  I believe that your assessment of the stack trace here is the direction we should be looking and I was attempting to create an example where thread deadlock occurs due to the global h5py lock.  But my `h5py` operations don't seem to be creating a global lock even when opening in `a` mo

[2021-10-11 20:06] cliffplaysdrums commented on #8172
Regarding `RuntimeError: file metadata is only available after writer close`, I'm confident that is only because the prior operation failed (which is mentioned in 79777), so even if I wanted to patch pyarrow, it won't solve the overall problem.

Regarding

I find this unlikely given that it happens every time on the same dataframe but never on any of the others I've tried.

I ended up working arou

[2021-10-12 00:50] GenevieveBuckley commented on #2663
Is this still needed?

[2021-10-12 01:06] jakirkham commented on #2663
There's not been much activity here in 4yrs. Am happy to close. Can always revisit if it becomes important. Though my guess is there are different ways people want to manipulate graphs today where this functionality is less relevant.

[2021-10-12 01:06] #2663 closed

[2021-10-12 01:15] GenevieveBuckley commented on #2629
This issue has been open for a while, contributions are welcome from anyone who'd like to tackle it.

[2021-10-12 03:25] GenevieveBuckley commented on #2839
Bumping this. Is there anything else that needs to be done here?

[2021-10-12 03:40] GenevieveBuckley commented on #2794
There are some good suggestions about how to tackle this in the linked issue:
* https://github.com/dask/dask/issues/3906#issuecomment-416592075
* https://github.com/dask/dask/issues/3906#issuecomment-419605154

[2021-10-12 03:44] #3906 closed, assigned to nobody

[2021-10-12 04:14] GenevieveBuckley commented on #3263
I can run the code snippet without error with dask 2021.09.0, so I'm going to close this issue since it looks like it's been addressed in more recent versions of Dask.

Anyone still experiencing this should try upgrading their version of dask, and if that doesn't help then please open an issue.

[2021-10-12 04:14] #3263 closed

[2021-10-12 04:16] #2679 closed

[2021-10-12 04:19] GenevieveBuckley commented on #3269
@dask/maintenance can someone edit the title of this issue to better reflect the contents? I'd suggest something like *"BUG: Dask dataframe cannot handle string index"*

A minimal, reproducible example for this issue is given here: https://github.com/dask/dask/issues/3269#issuecomment-372082058

[2021-10-12 04:30] stevengillard commented on #7547
@sharkinsspatial below are the steps I used to reproduce on a single machine.  I'm running in AWS us-east-1, the same region as the [S3 dataset](https://registry.opendata.aws/ecmwf-era5/).  It's not consistent, for me the worker process deadlocks about 50% of the time.

First start a scheduler and single worker with s3fs debugging enabled:
[code]
Then run the following python script in a different

[2021-10-12 05:42] GenevieveBuckley commented on #3422
It looks like `ndim` is a required attributed if you're using a more recent version of Dask. Here is Matt's example again, updated for easier copy-pasting:

[code]

[2021-10-12 05:59] GenevieveBuckley commented on #3734
Is there someone who could point people to an example ORC file?

[2021-10-12 06:06] #3704 closed, assigned to nobody

[2021-10-12 06:27] GenevieveBuckley commented on #3661
I know this issue was opened a long time ago. Given [Datacamp's recent behaviour](https://dnlmc.medium.com/dont-use-datacamp-ef04adcf1b7f), that is a hell no from me.

[2021-10-12 06:27] #3661 closed

[2021-10-12 06:40] GenevieveBuckley commented on #3661
Also, I know there are two newer courses on Dask at TalkPython. It's mostly the same content as the official Dask tutorial, plus a whole bunch of about Coiled in there too. I don't think there's any real benefit in linking to these things from the Dask docs.

[2021-10-12 07:14] #3847 closed, assigned to nobody

[2021-10-12 07:43] GenevieveBuckley commented on #4307
Closing this. Progress can be tracked at https://github.com/pandas-dev/pandas/issues/24318

[2021-10-12 07:48] GenevieveBuckley commented on #4264
Closing this thread due to inactivity.

[2021-10-12 07:48] #4264 closed

[2021-10-12 07:53] #4239 closed

[2021-10-12 08:07] GenevieveBuckley commented on #4157
vindex discussion here: https://github.com/dask/dask/issues/4156

[2021-10-12 08:10] GenevieveBuckley commented on #2794
Possibly this is also useful? https://github.com/dask/dask/pull/4167/files

[2021-10-12 08:18] GenevieveBuckley commented on #4741
Closing this - @birdsarah if you do end up making an issue over at pyarrow, please add a link here so that interested people can follow any progress updates.

[2021-10-12 14:20] sayantikabanik commented on #8210
I installed flaky, thanks for pointing it out @jakirkham. Curious to know if that should have be installed from `conda-forge` during env creation (`conda create -n dask python dask`)

Currently, I see two tests failing (after flaky installation)
[code]

[2021-10-12 18:56] jakirkham commented on #5028
If we are able to create an MRE, that would also be very helpful

[2021-10-12 20:38] jrbourbeau opened #8252 "`KeyError` in `dask.graph_manipulation.bind`"
The snippet below using `dask.graph_manipulation.bind`:

[code]

raises the following `KeyError`:

[code]

cc @crusaderky

[2021-10-13 00:35] GenevieveBuckley commented on #5138
Closed by https://github.com/dask/dask/pull/5137

[2021-10-13 00:35] #5138 closed

[2021-10-13 01:28] GenevieveBuckley commented on #5133
cc @quasiben

[2021-10-13 01:29] #5419 closed

[2021-10-13 01:37] GenevieveBuckley commented on #5378
These examples run without error using a newer version of dask (I'm using dask 2021.09.0), so it looks like this has been fixed. I'll close this issue, but if anyone is still having trouble please let us know.

[2021-10-13 01:37] #5378 closed

[2021-10-13 02:09] GenevieveBuckley commented on #5370
It looks like this issue has been addressed by https://github.com/dask/dask/pull/5530

If that's not the case, please let us know and we can reopen this issue @birdsarah

[2021-10-13 02:09] #5370 closed

[2021-10-13 02:17] GenevieveBuckley commented on #5314
The consensus on this seems to be no, so I'll close this. Tom, feel free to reopen it if you think this idea should be considered more.

[2021-10-13 02:17] #5314 closed

[2021-10-13 02:31] GenevieveBuckley commented on #5676
Did Tom's suggestion solve your problem @OliverHofkens? Should we close this issue?

[2021-10-13 02:56] GenevieveBuckley commented on #5514
The linked issue https://github.com/dask/distributed/issues/3158 has been closed by https://github.com/dask/distributed/pull/3430

Is there something additional that needs to happen in dask/dask, or should this issue be closed also?

[2021-10-13 03:44] #5699 closed

[2021-10-13 04:16] sayantikabanik commented on #8210
`3.7.0` is my current `flaky` version

[2021-10-13 04:44] GenevieveBuckley commented on #6037
Were you able to put together a minimal, reproducible example @cjnolet?

[2021-10-13 05:16] GenevieveBuckley commented on #6332
@tomwhite does it make sense to keep this issue open for tracking purposes, or should we close it?

[2021-10-13 05:20] GenevieveBuckley commented on #6320
Following up on this - @cgi1 are you able to make a minimal, reproducible example, or should we go ahead and close this issue?

[2021-10-13 05:49] #6212 closed

[2021-10-13 06:21] GenevieveBuckley commented on #6482
Closing this issue, at it's a duplicate of https://github.com/dask/dask/issues/2488 (which Marvin's issue https://github.com/dask/dask/issues/6522 is also a duplicate of). Progress can be tracked over there.

[2021-10-13 06:46] GenevieveBuckley commented on #6367
This is pretty cool @JulianWgs!

There hasn't been much discussion on this issue for a little while, so I'm going to close it now (but please feel free to reopen it if that's helpful later)

[2021-10-13 06:46] #6367 closed

[2021-10-13 06:51] #6349 closed

[2021-10-13 06:54] GenevieveBuckley commented on #6606
Are you still interested in working on this @CMCDragonkai?

[2021-10-13 07:42] jakirkham commented on #8210
Interesting. Maybe the next step here is to create a repro and file this with the flaky repo?

[2021-10-13 08:33] jakirkham commented on #8210
Ah ok. See it in our [CI environment]( https://github.com/dask/dask/blob/715884922f02721aa1f3e279c5ee71ed935cb48a/continuous_integration/environment-3.8-dev.yaml#L16 ) as well. Sorry wasn't thinking about that here for some reason.

With that installed, how are things looking for you? 🙂

[2021-10-13 19:50] jrbourbeau opened #8255 "Nested documentation redirects not working"
I noticed that our documentation redirect which use nested URLs

https://github.com/dask/dask/blob/e98d4f2cf8884d142b93c9fb2405d47e4ad02a54/docs/source/conf.py#L362-L374

don't redirect properly. For example, we want https://docs.dask.org/en/latest/setup/cloud.html to redirect to https://docs.dask.org/en/latest/how-to/deploy-dask/cloud.html, however today we're redirected to https://docs.dask.org/

[2021-10-14 04:00] sayantikabanik commented on #8210
I installed `pytest-rerunfailures      10.2`, but still running into the same issue.

[2021-10-14 04:22] GenevieveBuckley commented on #6672
Related discussion: https://github.com/dask/dask/issues/6673

[2021-10-14 04:23] #6671 closed

[2021-10-14 05:57] GenevieveBuckley commented on #6808
Do we have someone with access to a Windows machine who can reproduce this? (I have access to linux and mac computers, but not Windows).

If we go with the suggestion to update the developer installation docs, I've opened https://github.com/dask/dask/pull/8259 here. I'm also happy if we can find a better (non-documentation) fix, too.

[2021-10-14 06:18] #6947 closed

[2021-10-14 06:54] #7291 closed

[2021-10-14 07:48] #5514 closed

[2021-10-14 08:20] GenevieveBuckley commented on #8082
Closed by https://github.com/dask/dask/pull/8136

[2021-10-14 08:20] #8082 closed

[2021-10-14 10:22] HarryDresden1 opened #8260 "TypeError: len() of unsized object when converting dask array to tensor"
**What happened**: I use dask for my preprocessing pipeline and in the end, I want to convert it to a PyTorch tensor when I try to do so I get the error "TypeError: len() of unsized object". Although if I tried to do this within a delayed function it works, as in the commented line.

**What you expected to happen**: I expected it to work without using delayed, as if the operations performed using

[2021-10-14 13:01] rrpelgrim commented on #8059
Update:
I made the rookie 'mistake' of switching a few things out in the cluster's software environments mid-debugging without noting down details of the s-env I started with.

I am now not able to reproduce my own issue above. I'm running `pyarrow 5.0.0` instead of `4.0.1`. Writing the same 375GB dataset to S3 as Parquet is working fine. Even up 1.4TB works.

Good thing is it seems my problem is

[2021-10-14 14:19] ncclementi commented on #8141
@Nickkontschak This issue seems to be resolved, as the computations are completing as reported in the two comments above. I'll will close this issue for now, but if you have more problems or any updates, feel free to re-open it.

[2021-10-14 14:37] mrocklin commented on #6571
There was some effort to upstream dask-optuna into optuna.  I think that
dask-optuna quickly went out of date with upstream changes.

On Thu, Oct 14, 2021 at 9:28 AM Jim Crist-Harif ***@***.***>
wrote:

[2021-10-14 14:55] jcrist commented on #6511
I'm not sure we should warn on `empty`, as it's nice to have it for full compatibility with the numpy api. And since they're all backed by stride tricks now, I'm not sure if there's really a cost to using `da.empty` this way? I'd opt to close this and leave things as is.

[2021-10-14 15:25] ncclementi commented on #8071
I noticed that in the docs for `dd.read_parquet` it mentions an example with "==" see filters section in this docstring. https://github.com/dask/dask/blob/898afc04208aba91dc52acb5e04cc7a76f9c1013/dask/dataframe/io/parquet/core.py#L133-L138
However, the function `apply_filters` mentions "=" see docstrings https://github.com/dask/dask/blob/main/dask/dataframe/io/parquet/core.py#L1006-L1071

So there

[2021-10-14 15:25] mrocklin opened #8262 "Use Rich more broadly?"
Rich is neat.  Do we want to leverage it more broadly?

![image](https://user-images.githubusercontent.com/306380/137348119-7ef5d8d5-a738-4ed9-ab83-117ba28db962.png)

Dask gets lots of love around our error messages.  Good error messages reduce user pain.  Rich might help us to improve our current error messages and user feedback.  I suspect that once we start using it people might also really enj

[2021-10-14 16:01] jcrist commented on #6267
That should work, they'd pickle as references to the shared memory buffer and be remapped in the receiving process (provided all your workers are running on the same machine, otherwise you'd get an error). In general I think we're unlikely to add direct shared memory support in dask itself, but users are free to make use of it in custom workloads using e.g. `dask.delayed`. So if you have an object

[2021-10-14 16:01] #6267 closed

[2021-10-14 16:39] #8088 closed, assigned to nobody

[2021-10-14 17:07] ncclementi commented on #7778
@dabasmoti I'm going to close this issue since there has been no activity for a long time. If you still have problems/questions feel free to re-open this issue. Notice there were a couple of questions asked in previous comments, if you re-open the issue it would be helpful if you can answer those so we can help you.

[2021-10-14 17:55] rrpelgrim commented on #8059
@ncclementi - no, the cluster and client were both still running.

[2021-10-14 18:42] gjoseph92 opened #8264 "Improve documentation of `DataFrame.divisions`"
Talking to a user recently, they were confused about how to pass `divisions=` in `set_index`. Specifically, they missed that the list had to have N+1 elements in it, and the N+1th element was the upper bound for the last partition.

The API docs currently link to https://docs.dask.org/en/latest/dataframe-design.html#partitions, which does describe this in words, but takes some close reading to get

[2021-10-14 19:47] jakirkham commented on #6511
Yeah that seems ok to me as well. Increasingly the community is working on making sure different arrays can be used easily in downstream code. So having warnings pop-up for some APIs might confuse people.

That said, I understand what Matthias is getting at. Most of the reason people use `np.empty` (or similar) is to do an `malloc` instead of a `calloc` for example (avoiding the cost of initializi

[2021-10-14 20:21] conorsullivan50 opened #8265 "Can't access histogram2D or DD"
I'm trying to run a piece of code that creates a 2D histogram. Single dimension histogram working fine,

![image](https://user-images.githubusercontent.com/59403048/137389578-37c6a6d1-44de-4f19-8902-3d1d96356a19.png)

When I list all methods using dir(dask.array):
![image](https://user-images.githubusercontent.com/59403048/137389664-5d13bc0d-317c-41dc-b5ae-870a31b4ed16.png)

My dask version is the

[2021-10-14 22:38] #8265 closed, assigned to nobody

[2021-10-14 23:11] jrbourbeau commented on #7167
Just checked the latest CI build on `main` and, indeed, these unclosed file `ResourceWarning` are gone 🎉

Thanks for following-up here @GenevieveBuckley

[2021-10-15 02:54] GenevieveBuckley commented on #8110
... I don't think we have an answer to this specific question about real world applications.

[2021-10-15 07:09] GenevieveBuckley opened #8268 "Flaky test - test_progress.py::test_register"
**What happened**:
I'm noticing a flaky test when I run the dask test suite locally (`test_register` in the file `test_progress.py`). Can anybody else reproduce this?

**What you expected to happen**:
I expect that this test should pass every time I run pytest, and not fail intermittently.

**Minimal Complete Verifiable Example**:

I don't know how *reproducible* this is, given it's a flaky test,

[2021-10-15 08:40] sayantikabanik commented on #8268
I tried to build `dask` from the source and followed similar steps.
Faced a similar issue with `flaky plugin`

Issue - [8210](https://github.com/dask/dask/issues/8210)
<details>
<summary> Log </summary>
[code]
</details>

[2021-10-16 11:55] samgans commented on #8260
Hi! I can look at the issue and try to understand what's going on.

[2021-10-16 14:30] oeyvindds opened #8269 "Timezone error in merging Dask and Pandas"
I have two data frames, which to me look to have the same format. One is in Dask and one is in Pandas.

They both look similar to this:

        	                    Volume	Open	High	Low	Close
    Date
    2003-03-28 14:00:00+00:00	221	0.78049	0.79010	0.77941	0.79009
    2003-03-31 06:00:00+00:00	55	0.78227	0.78494	0.78169	0.78223
    2003-03-31 14:00:00+00:00	283	0.78277	0.78277	0.76909	0.77179

[2021-10-16 14:40] oeyvindds commented on #8269
Just tested dd.concat([df, ddf]) and that seemed to work...

[2021-10-17 18:59] samgans commented on #8152
Hi! If you can provide me with the information on where are you expecting to see the logic for the warning in the code, I will implement it.

[2021-10-17 20:12] elfring opened #8271 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

Would you like to integrate anything from a transformation result which c

[2021-10-18 00:09] GenevieveBuckley commented on #8268
That looks unrelated to this issue @sayantikabanik

[2021-10-18 03:34] sayantikabanik commented on #8268
I have delinked the issue, to avoid added confusion

[2021-10-18 14:54] jsignell commented on #8255
Rats. Thanks for wrtiting this up James. I will take a look. Worst comes to worst I can just move them all back.

[2021-10-18 19:33] #8115 closed

[2021-10-18 20:54] #8271 closed, assigned to nobody

[2021-10-18 22:23] jrbourbeau commented on #8210
Unfortunately, both the `flaky` (which we don't use) and  `pytest-rerunfailures` (which we do use) pytest plugins utilize the `flaky` pytest marker. My guess is having both of them installed in your software environment is leading to conflicts. Could you try uninstalling `flaky` to see if that helps?

[2021-10-19 13:46] jsignell commented on #8152
Hi @samgans I think it's not quite decided yet whether this should be implemented. I recommend picking up a different issue.

[2021-10-19 14:08] jsignell commented on #7302
I can no longer reproduce. I think this was fixed in #8162

[2021-10-19 14:12] #3384 closed

[2021-10-19 14:47] jsignell commented on #5007
I agree that `map_blocks` could use some better error handling and would probably benefit from being made more explicit. Personally, I often iterate over `.blocks` rather than using `map_blocks` because I find that easier to reason about.

[2021-10-19 17:54] #8260 closed, assigned to nobody

[2021-10-19 21:29] stephanie-wang commented on #7613
Hey all, thanks for the update! The blog post that you linked looks very interesting. We've taken a pretty different approach in Ray where we are trying to implement shuffle natively with tasks, without "bypassing" the core system. I agree, it would be great to see how these compare.

We ended up writing a blog post about some of those earlier results [here](https://medium.com/distributed-computin

[2021-10-20 07:20] GenevieveBuckley commented on #2103
Is there a central place in the code where we can do this for all `ufunc`, or would this need to be done for each one individually?

I'm wondering if this would make a good first or second issue.

[2021-10-20 13:01] #8268 closed

[2021-10-20 14:28] jsignell opened #8278 "How to handle upstream warnings in CI"
There are some warnings popping up on the Python 3.9 tests having to do with external dependencies that are not quite staying uptodate. It seems like we should either pressure upstream library authors to update and release OR drop some of these dependencies. In particular, I am looking at crick (@jcrist), chest (@mrocklin), and fastparquet (@martindurant).

[code]

[2021-10-20 14:36] jsignell commented on #8278
Seems like the pytables issues are fixed on main and just waiting on a release.

[2021-10-21 04:24] vttrifonov opened #8280 "computing std of sparse matrix produces an error"
The following code raises an error

[code]
The current issue is that `dask.array.reduction.moment_agg` has a line `denominator[denominator < 0] = np.nan`, but in this case `denominator` is a `sp.COO` matrix which does not allow item assignment. A possible solution is to use `denominator = np.where(denominator<0, np.nan, denominator)` instead of the direct assignment .

[2021-10-21 05:27] vttrifonov commented on #8280
I just tried this on master and I can do `x.std(axis=0).compute()`. The rest of the `dask/array` tests seem to pass. Except `x.std()`/`x.var()` which still fails (see #7169).

[2021-10-21 08:56] jorisvandenbossche commented on #8278
@martindurant reading the discussion in https://github.com/dask/fastparquet/issues/576, I thought this was already solved? Or this is a different case that cannot be solved as discussed in that issue?

[2021-10-21 13:00] martindurant commented on #8278
I'm not sure why that issue was closed - it seems to indeed have solution(s), but it doesn't look like it's been implemented in the code.

[2021-10-21 18:32] enthusiastics opened #8284 "how to configure dask to use swap space to avoid memory error"
I am some relatively large task on DASK on a machine with (120 GB RAM, 280GB Swap space)

Using this setting, every thing is a bit slow but it works:

    client = Client(memory_limit='90GB',n_workers=1,threads_per_worker=14)

I think there is some IO issue when observing the computation. However, if I use

    client = Client()

In the end, there are memory error causing everything to break. But

[2021-10-21 20:47] #8252 closed

[2021-10-21 20:53] #8255 closed

[2021-10-21 23:57] ek234 opened #8285 "handle_out() returns nothing if out is set"
**What happened**: function set o to the output dask array and returned None.

**What you expected to happen**: function set o to the output dask array and return the output array.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Environment**:

- Dask version: dask-2021.9.1+38.geab6a998
- Python version: 3.9.7
- Operating System: Manjaro
- Install method (

[2021-10-21 23:58] ek234 commented on #8285
The provided code is a basic example of where this could be incredibly useful.
Please let me know if you would like to add this as I am interested in working on this.

[2021-10-22 17:55] jrbourbeau opened #8288 "Python 3.10 support"
Python 3.10 has been released 🎉 Historically it has taken some time for our dependencies to add Python 3.10 support / releases to show up on `conda-forge`. Opening this issue for tracking purposes

[2021-10-22 21:00] y-he2 opened #8289 "#4012 for read_csv?"
Very interesting feature, I bumped into a similar problem with read_csv (~20k files ~1MB each) and landed on #4012.
Is there any similar feature for read_csv?
I tried to search but found none, also tried a few walkarounds but none effective.
The reason I need this is because I think the huge graph is blowing up my memory.

This issue is more like a sanity check and general support to see if it mak

[2021-10-22 21:42] y-he2 opened #8290 "Managed per worker loaded large object in distributed worker memories?"
First of all great job from the Dask community, I got into Dask a while ago for systematic parallelizing data workload and got fallen in love with it right away.
I just posted an issue tonight thought may as well just post this one that bothered me for a while now.

I want to start with a more general question and see if it evolves into "an actual feature request". (so if dosent fit as Feature Req

[2021-10-23 17:29] chrisroat opened #8292 "graph became invalid in 2021.10.0"
**What happened**:

Error raised during `graph.validate()` for a graph which was valid in 2021.9.1.

This graph creates a dataframe per chunk of an array, then merges the dataframes along one axis of the array.  A final per-chunk analysis is then run, where a merged dataframe is used in the analysis of each chunk that was used to make it.

**What you expected to happen**:

The constructed graph sh

[2021-10-24 10:30] koaning opened #8293 "Datetime Casting Causes Issues in 1+ Row DataFrame"
I am debugging a bit of code relating to datetimes and I found an oddity. Let's consider this code snippet.

[code]

This runs fine. I can use the same `pd.to_datetime` that I'm used to in Pandas which is nice. That is unless ... my dataframe only contains a single row.

[code]

This is the `ValueError` that I get.

[code]

This is strange. Just to confirm that this isn't a pandas oddity, it works

[2021-10-24 11:21] #8293 closed, assigned to nobody

[2021-10-25 09:46] DahnJ opened #8294 "Shuffle prototype: Feedback (disk usage + workers dying)"
I have tried #8223 on a ~3.4TB gzipped Parquet dataset.

I tried four runs so far, with two different behaviours
- First I tried the whole dataset. I got to the last step (`to_parquet`), but then ran out of disk space with over 4TB being used by the shuffle
- The subsequent three runs I have tried to use a subset (by passing a smaller number of files to `read_parquet`). I did not get over the `set

[2021-10-25 17:08] mesejo opened #8297 "Series is_monotonic, is_monotonic_decreasing, is_monotonic_increasing"
I'd like to be able to use is_monotonic, is_monotonic_decreasing, is_monotonic_increasing. As of today, I can do this in pandas but not dask

[code]
**Output**
[code]

The same applies to `is_monotonic_decreasing`, `is_monotonic_increasing`. The dask version is:
[code]

[2021-10-25 17:35] jsignell opened #8299 "CI Issues on main"
There are some failures showing up on main.

I think that what's happening is the pre-commit job is using python 3.10 now and maybe some things have changed?

[2021-10-26 02:34] #8299 closed, assigned to nobody

[2021-10-26 16:13] crusaderky opened #8301 "Deprecate AxisError, itemgetter, methodcaller"
These classes and functions no longer have a reason to exist:

- dask.array.utils.AxisError (backwards compatibility around numpy.AxisError - no longer needed with the current minimum numpy dependency)
- dask.utils.itemgetter (serializable variant of operator.itemgetter - which can be serialized as of Python 3.7)
- dask.utils.methodcaller (serializable variant of operator.methodcaller - which can

[2021-10-27 16:42] cmp1 opened #8303 "Client() causes concurrent.futures._base.CancelledError"
**What happened**:
When I run the following code with client() and then call any method that invokes 'compute()', the process fails and each time I receive the above error.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

Full Stack Trace

distributed.protocol.core - CRITICAL - Failed to Serialize
Traceback (most recent call last):
  File "C:\Users\CPrice2\Ve

[2021-10-27 17:09] gjoseph92 opened #8306 "Use Blockwise/`map_partitions` in various DataFrame join methods"
I noticed that some join methods have things like
[code]
where we're generating a low-level graph that could just be done with `map_partitions`. Using `map_partitions` in these scenarios would both speed up graph transmission and allow for blockwise fusion across the operations. Refactoring this simple sorts of graphs should be straightforward.

- [x] `single_partition_join`
- [ ] `hash_join`'s `m

[2021-10-27 17:37] ayushdg opened #8307 "Groupby + split_out fails when key columns have the same name"
**What happened**:
Performing a groupby+aggregate while using the `split_out` argument fails in the corner case when the key columns being used to `split_out` might use the same name.

**What you expected to happen**:
Same behavior as when not using `split_out`

**Minimal Complete Verifiable Example**:

[code]

<details>
<summary>Stacktrace</summary>
----> 6 ddf.groupby(by=[df["key"].isna(), df["k

[2021-10-27 20:41] gjoseph92 opened #8308 "`map_partitions` only aligns arguments in `*args`; `**kwargs` are concatenated first"
When passing an auxiliary dask DataFrame to `map_partitions`, its chunks are aligned to the main DataFrame and the function receives one chunk of each per task. If you give the same input as a kwarg, the function receives the entire DataFrame concatenated into one.

It's somewhat unclear from the docstring if this is expected behavior:
[code]

but either way it's a bit unintuitive that using a pos

[2021-10-27 20:48] gjoseph92 opened #8309 "`partition_info` in `map_partitions` materializes the graph unnecessarily"
Using a `partition_info` kwarg in your `map_partitions` function forces the entire blockwise graph to be materialized. This can be slow, lead to slower scheduling, and eliminates optimization opportunities.

The way the injection of `partition_info` is [currently implemented](https://github.com/dask/dask/blob/3b61950cbdf033d53ae98937d19a9ff0b2a38f40/dask/dataframe/core.py#L5919-L5938) is a bit con

[2021-10-28 06:59] viper7882 opened #8313 "Even the Cheat Sheet PDF is not available for download"
Hi @jsignell,

I'm referring to https://github.com/dask/dask/blob/main/docs/source/cheatsheet.rst, the URL to the Cheat Sheet PDF is a deadlink and pointing to itself: https://github.com/dask/dask/blob/main/docs/source/cheatsheet.rst#id1

[2021-10-28 12:29] #8313 closed, assigned to nobody

[2021-10-28 15:13] #8301 closed, assigned to crusaderky

[2021-10-28 18:26] danielhstahl opened #8315 "Xgboost on K8s does not work"
**What happened**:

I get the following error when running XGBoost on Kubernetes:

---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
/tmp/ipykernel_62/3178767199.py in <module>
      7 dtrain = xgb.dask.DaskDMatrix(client, X, y)
      8
----> 9 output = xgb.dask.train(
     10     client,
     11

[2021-10-29 07:57] JoranDox opened #8319 "divisions lost when using index.to_series"
**What happened**:
I wanted to use the index column to filter on, but that was a lot harder than using a regular columns, while it should be faster & I'd hope at least as easy to work with.
Using an index doesn't behave like a regular columns (series), and transforming to a series (as workaround) gives a different error.

**What you expected to happen**:
Use an index as a regular column (series),

[2021-10-29 08:02] JinrongGuo1 opened #8320 "read_parquet from HDFS always raise error "list index out of range""
**What happened**:
can't read parquet from HDFS correctly, use cmd "hadoop fs -ls hdfs://ns/user/ana/conda/v1/input", I got the right file list.

[code]

**Environment**:

- Dask version: 2021.04.0
- Python version: 3.8
- Operating System: centos
- Install method (conda, pip, source): conda

[2021-10-29 18:17] jrbourbeau commented on #8315
Thanks for raising an issue @danielhstahl. The `ModuleNotFoundError: No module named 'xgboost'` error indicates that `xgboost` isn't installed on the cluster workers. Maybe the workers are using a different Python environment than the one you exec'ed into? Can you inspect the output of `client.get_versions(packages=["xgboost"], check=True)` to make sure the same version of `xgboost` is installed o

[2021-10-30 00:47] danielhstahl commented on #8315
Nothing seems off about it:
[code]

[2021-10-30 20:40] bluss opened #8323 "inconsistency in dataframe: no multiindex from pandas, but allowed from parquet"
**What happened**:
Unexpected difference in handling the same structure from pandas or from parquet. I'm not completely sure if this is a bug or just an incomplete feature. But that multiindex loading is allowed from parquet is a surprise.

**What you expected to happen**:
If MultiIndex can be supported from parquet, then it should be supported from pandas too(?)

**Minimal Complete Verifiable Exa

[2021-10-30 21:32] danielhstahl commented on #8315
Apparently the scheduler also needs xgboost.  It works if I use the following config:

[code]

[2021-10-30 21:32] #8315 closed

[2021-10-30 22:00] ek234 commented on #8285
@douglasdavis I have opened the PR.

[2021-11-01 11:49] jacobtomlinson commented on #8315
We typically recommend that the client, scheduler and workers all have identical Python environments.

[2021-11-01 13:18] zzhengnan opened #8324 "Why is it undesirable for delayed functions to mutate inputs?"
Hi team! Regarding the following piece of best practice from https://docs.dask.org/en/latest/delayed-best-practices.html#don-t-mutate-inputs, why is it not ideal for delayed functions to mutate their inputs?

Is it due to considerations for potential race conditions when the same function has been scheduled to run more than once in a concurrent fashion?

Separately, I'm wondering if there's a more

[2021-11-01 20:51] gjoseph92 commented on #8294
Hey @DahnJ, thanks for trying this out. Sorry it's taken a while to get back to you.

First:
* How are you deploying the cluster? How many workers? CPUs, threads, memory, and disk per worker?
* How many partitions in your parquet dataset, and how large is each partition?
* Did you restart the cluster after each failure (`client.restart()`?) Did you try recreating it from scratch?
  * If you're res

[2021-11-01 21:11] jrbourbeau commented on #8319
Thanks for raising an issue. The latest `dask==2021.10.0` release contains this PR https://github.com/dask/dask/pull/8165 which results in `ddf2[ddf2.index.to_series().str.endswith("a")].compute()` no longer raising a `ValueError`. Could you try upgrading to the latest `dask` release to see if that resolves your issue?

[2021-11-01 21:24] jrbourbeau commented on #8046
Just following up here, @rajagurunath is it safe to close this issue now that https://github.com/rajagurunath/dask_deltatable exists?

[2021-11-01 21:55] jrbourbeau opened #8326 "GitHub action for stale issues/PRs hitting API limit"
Looking at the [latest run for our new stale issue/PR actions](https://github.com/dask/dask/runs/4063171054?check_suite_focus=true) we see that it's working (:tada:) but we're also getting the following warning

[code]

about hitting the default limit on GitHub API calls (as the warning says, the `actions/stale` action defaults to a limit of 30 API calls, but is configurable via the `operations-pe

[2021-11-01 23:20] GenevieveBuckley commented on #8326
It looks like we can check what the rate limits are [using this API](https://docs.github.com/en/rest/reference/rate-limit)

[2021-11-01 23:24] GenevieveBuckley commented on #8326
Here's what the stale action docs have to say about `max_operations_per_run`: https://github.com/actions/stale#operations-per-run

[2021-11-02 01:38] pinnnnnnz opened #8327 "empty partition in from_delayed"
When I use `from_delayed([a list of partition (pandas DF)])`, if there is one partition/df is empty, it will throw an error.
<img width="446" alt="Screen Shot 2021-11-01 at 6 37 29 PM" src="https://user-images.githubusercontent.com/77021940/139772716-ee0d4288-1eb3-42ab-bf7d-861d9a181db4.png">
My current work around is to manually keep those that is not empty but it could be extremely slow when we

[2021-11-02 07:24] JoranDox commented on #8319
Nice, that works like a charm, thanks!

Should I open a separate bug report / feature request for dask to allow using indices as columns? It seems like something deeply ingrained in dask and as such hard to fix (although e.g. map_partitions would just work I assume?)

[2021-11-02 08:15] JoranDox commented on #8319
I've started with posting this instead: https://stackoverflow.com/questions/69807167/dask-index-not-behaving-like-a-column-and-not-like-in-pandas

[2021-11-02 08:15] #8319 closed

[2021-11-02 13:49] jsignell commented on #8245
Thanks for writing this all out. That approach makes sense to me.

[2021-11-02 13:56] jsignell commented on #6593
Sorry for the slow response @kori73, I think using `from_pandas` is fine.

[2021-11-02 14:15] jsignell commented on #5856
Closing this for now, but feel free to reopen if you are able to try with recent versions and provide a traceback.

[2021-11-02 14:15] #5856 closed

[2021-11-02 16:25] ncclementi commented on #8327
Hi @pinnnnnnz thank you for raising this issue, can you please provide a [Minimal Complete Verifiable Example](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) so we can reproduce the error?

[2021-11-02 16:44] AhmetCanSolak opened #8329 "AttributeError: module 'dask' has no attribute 'array'"
**What happened**:
I am not able to use any endpoint on `dask.array`. Getting the mentioned attribute error.

**What you expected to happen**:
I was expecting dask to behave as before. I wanted to some simple operations like `dask.array.stack()`.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:
I need to install from pip. I am using it as a dependency on a pac

[2021-11-02 17:07] douglasdavis commented on #8329
To use `dask.array` you'll need to `import dask.array`. Out of curiosity what version of Dask were you able to use `dask.array` by only importing `dask`?

[2021-11-02 17:28] AhmetCanSolak commented on #8329
Thank you for prompt answer. I cannot recall exact version as I am not pinning dask version but should be something like `2021.3.0` according to pypi release history.

[2021-11-02 17:28] #8329 closed

[2021-11-02 17:40] DahnJ commented on #8294
Thank you for the reply @gjoseph92 !

I am starting a `LocalCluster` on a single machine with these parameters:

[code]

Since it's a local cluster, I assume the disk per worker is only limited by the disk space left on the device.

`5800` partitions, each about `620M`, when gzipped (as in `.gz.parquet`)

Yes. I run the cluster from a Jupyter notebook and I restart the kernel each time, which I be

[2021-11-02 18:39] jrbourbeau opened #8330 "`bcolz` no longer maintained"
I recently noticed that [`bcolz` is no longer actively maintained](https://github.com/Blosc/bcolz/blob/500351db35c7d2a182e1d33e38daccf6a5ac7266/README.rst#unmaintained-package-notice). Dask DataFrame supports I/O operations with `bcolz` through our `from_bcolz` method. Should we consider deprecating `from_bcolz`? We don't get many `bcolz`-related issues reported, so things may continue to just wor

[2021-11-02 18:54] jrbourbeau commented on #8327
Here's a snippet that results in the same error

[code]

<details>
<summary>Full traceback:</summary>

[code]

</details>

@pinnnnnnz by default Dask will check that a DataFrame's partitions have a consistent schema. If you don't want this behavior, then you can set `verify_meta=False` in your `from_delayed` call

[2021-11-02 20:34] jrbourbeau opened #8331 "Use more explicit keywords"
Our top-level `dask.compute`, `dask.persist`, and `dask.visualize` methods all have `**kwargs` in their signature. Certain keyword arguments are then `pop`ed off the `kwargs` dict

https://github.com/dask/dask/blob/89d93a8264ce81c30207d83de96e3346a15365a4/dask/base.py#L551-L552

and the remaining `kwargs` are then forwarded elsewhere

https://github.com/dask/dask/blob/89d93a8264ce81c30207d83de96e3

[2021-11-02 21:19] rajagurunath commented on #8046
yes, that's right, we can safely close this issue @jrbourbeau.

Thanks a lot for all the assistance and help ! 😊

[2021-11-02 21:22] ncclementi commented on #8264
Related to this issue We were chatting about the `divisions` section of the[ docs in set_index](https://docs.dask.org/en/latest/generated/dask.dataframe.DataFrame.set_index.html#dask-dataframe-dataframe-set-index) where it says

"If sorted=False, you should leave divisions empty and call repartition after set_index." It looks like this comment was introduced a long time ago by @jcrist (see https:/

[2021-11-02 22:26] jrbourbeau commented on #8046
No worries at all -- you're the one who did all the work! Looking forward to seeing `dask-deltatable` progress

[2021-11-02 22:26] #8046 closed

[2021-11-02 22:44] jrbourbeau commented on #5722
Closing due to lack of activity. Feel free to re-open as needed

[2021-11-02 22:44] #5722 closed

[2021-11-02 22:49] jrbourbeau commented on #6685
Closing due to lack of activity. @bedangSen feel free to re-open if you're still running into this issue

[2021-11-02 22:49] #6685 closed

[2021-11-02 22:50] jrbourbeau commented on #6856
Closing due to lack of reproducer (see https://blog.dask.org/2018/02/28/minimal-bug-reports for more details). @natsunami feel free to re-open if you're able to provide a reproducer others can run to help debug.

[2021-11-02 22:50] #6856 closed

[2021-11-02 22:52] jrbourbeau commented on #6920
Just checking in here, @aburkov are you able to try @rjzamora's suggestion of specifying a small subset of the files and collect a simple profile (using something like prun)?

[2021-11-02 22:53] jrbourbeau commented on #6940
Closing due to lack of activity. @roarjn feel free to re-open if you'd like to continue

[2021-11-02 22:53] #6940 closed

[2021-11-02 22:56] jrbourbeau commented on #8269
Checking in here, @oeyvindds can you provide the information @jsignell mentioned in this comment https://github.com/dask/dask/issues/8269#issuecomment-946154525?

[2021-11-02 22:57] jrbourbeau commented on #7638
Closing due to lack of response. Feel free to re-open as needed

[2021-11-02 22:57] #7638 closed

[2021-11-02 22:59] jrbourbeau commented on #7600
Closing due to lack of activity. Feel free to re-open as needed

[2021-11-02 22:59] #7600 closed

[2021-11-02 23:01] jrbourbeau commented on #7356
Closing due to lack of activity. Feel free to re-open as needed

[2021-11-02 23:01] #7356 closed

[2021-11-03 08:16] SebastienDorgan opened #8333 "get_async and chunksize"
Looking at the code of the _get_ functions offered by dask, I wonder about the use of the chunksize argument for the threaded and multiprocessing cases and their relationship with _local.get_async_.
It would seem to me that it makes more sense to reason in terms of number of partitions (nb_chunks) than in partition size. By doing this _get_async_ would still be able to calculate a consistent/effic

[2021-11-03 10:26] SebastienDorgan opened #8334 "Use map instead of batch submit in local.get_async"
The _local.get_async_ function only uses the submit function even when the actual scheduler used is a _concurrent.futures.Executor_ and _chunksize > 1_ or a call to the _map_ method would be more efficient. Using the _map_ method would also allow another slightly different approach to be implemented where chunking is delegated to the executor. That is, all tasks could be sent simultaneously using

[2021-11-03 13:53] jrbourbeau opened #8335 "`aiobotocore` releated test failures"
Some of our tests have started failing with

[code]

due to the new `aiobotocore` 2.0.0 release. Working on a fix now, just wanted to surface this for others

[2021-11-03 14:08] #5974 closed

[2021-11-03 14:42] jrbourbeau commented on #8335
Turns out this was already fixed upstream in `s3fs` but, for some reason I'm still not sure of, we've been pulling in an older version of `s3fs` in CI (specifically `s3fs==0.6.0`). I've proposed we add an `s3fs` version constraint to our CI environments over in https://github.com/dask/dask/pull/8336. For an example of the current test failures see the CI builds in https://github.com/dask/dask/pull

[2021-11-03 15:27] gjoseph92 commented on #8306
I just realized this is slightly more important than I'd originally thought, because now that low-level optimization is turned off for DataFrames, the only way we get task fusion is through HighLevelGraphs. So even simple linear chains won't be fused, exposing us to root task overproduction (https://github.com/dask/distributed/issues/5223).

For example, this means that a `single_partition_join` f

[2021-11-03 16:49] gjoseph92 commented on #8331
This would be nice to do in many, many places. I assume this is all holdover from Python 2 syntax. It both benefits users and developers, since tracking what happens to `kwargs` as they get passed down to different functions that are all popping things off is a pain. Maybe we should make a meta-issue tracking all the places to do this?

[2021-11-03 17:15] gjoseph92 opened #8338 "`map_partitions` doesn't broadcast single-partition DataFrames"
In trying to implement https://github.com/dask/dask/issues/8306 — specifically converting `single_partition_join` to blockwise — I realized that `map_partitions` repartitions single-element inputs to align with multi-partition inputs. I'm not sure if this is intended or desired.

The obvious thing to do for `single_partition_join` is something like:
[code]
hoping that `single_partition` would be b

[2021-11-03 17:59] #6808 closed

[2021-11-03 18:09] chrisroat commented on #8292
Here is a more simplified version of the above (thank you new BlockView!), where doing a `dd.concat` on some `dd.from_delayed` dataframes is broken, as compared to directly using `dd.from_delayed` on a list of delayed objects.

[code]

[2021-11-03 20:42] jrbourbeau commented on #8333
Thanks for raising an issue @SebastienDorgan. How does what your proposing differ from the existing `chunksize = -1` case?

https://github.com/dask/dask/blob/8e5b3f0abd07ec634c29d5e8c665884b35882a24/dask/local.py#L452-L454

Also cc @jakirkham, who recently went through this portion of the codebase, for visibility

[2021-11-03 20:57] jsignell commented on #8320
This is going to be a hard one to debug without a reproducible example @JinrongGuo1. I certainly recommend updating to a more recent version of dask if possible. Also if you are able to get the output of `path_parts_list` (using pdb or a breakpoint) that would be helpful.

[2021-11-03 21:05] dorgan-csgroup commented on #8333
Indeed I missed this part of the code! Thanks for your quick answer

[2021-11-03 21:08] SebastienDorgan commented on #8334
Indeed I missed this part of the code! Thanks for your quick answer

[2021-11-03 21:09] jsignell commented on #8289
Sorry for the slow response. That seems like a reasonable proposal to me. I think it would be slightly better if `blocksize` could be expanded in scope to read in several files at a time if the first file that it reads is very small. But I can get how that might be hard to achieve.

[2021-11-03 21:13] jsignell commented on #8338
I agree that the default behavior can be surprising. I started down a similar path to what you are outlining here: https://github.com/dask/dask/pull/6628/files

[2021-11-03 21:20] SebastienDorgan commented on #8333
Indeed I missed this part of the code! Thanks for your quick answer

[2021-11-03 21:23] jakirkham commented on #8333
Also this line seems relevant to the question

https://github.com/dask/dask/blob/80a82008d5b02a08f6ff59d802defcc43247eb1a/dask/multiprocessing.py#L180

[2021-11-03 21:41] jrbourbeau commented on #8289
@y-he2 what version of `dask` are you using? Are you using the `distributed` scheduler? I would expect more recent versions of `dask` (which include https://github.com/dask/dask/pull/7415) to be more efficient when constructing / serializing the underlying task graph (cc @rjzamora for visibility)

[2021-11-03 22:56] gjoseph92 opened #8340 "Dask DataFrame not supported by NumPy functions (NEP-18)"
Dask Arrays mostly support [NEP-18](https://numpy.org/neps/nep-0018-array-function-protocol.html) dispatching via `__array_function__`, meaning you can call NumPy functions like `np.where` on dask Arrays, and it'll return dask arrays (dispatching to `dask.array.where` internally).

We should do the same for DataFrames. In the same way that `np.where` and other functions work on pandas DataFrames,

[2021-11-03 23:16] jrbourbeau commented on #8340
Also cc @jakirkham who raised this related issue previously https://github.com/dask/dask/issues/4797

[2021-11-03 23:25] gjoseph92 commented on #8340
Thanks for the xref @jrbourbeau, I figured someone had mentioned this before but I couldn't find it.

A particularly odd thing is that I'm proposing to use `__array_function__` on DataFrames specifically to mimic the fact that pandas DataFrames _don't_ support `__array_function__`, and instead just get converted to NumPy arrays. To be equivalent, we'd simply like them to turn into dask Arrays inst

[2021-11-03 23:32] gjoseph92 commented on #8338
I did just realize that, for a really hacky workaround, a single-partition DataFrame passed as a kwarg should be broadcast due to https://github.com/dask/dask/issues/8308.

[2021-11-04 01:10] GenevieveBuckley opened #8342 "Improve documentation of `block_info` keyword argument in Dask array `map_blocks`"
I'd like us to add some extra information to the dask docs around the `block_info` keyword argument for Dask array `map_blocks`. I think it should be added to [this section here](https://github.com/dask/dask/blob/cd65507841448ad49001cf27564102e2fb964d0a/dask/array/core.py#L586-L625)

Marvin explained something I found confusing here https://github.com/VolkerH/DaskFusion/pull/1#issuecomment-9589483

[2021-11-04 01:13] GenevieveBuckley commented on #8342
This would be a good first issue. If anyone wants to give it a go, that'd be great :smile:

[2021-11-04 05:12] pinnnnnnz opened #8343 "Support Column assignment with more types"

[2021-11-04 05:20] #8343 closed

[2021-11-04 09:44] y-he2 commented on #8290
I realized that there was too much information and topics in my OP, I will try to produce a MRE and maybe even break it down to multiple issues.

[2021-11-04 10:03] y-he2 commented on #8289
Thanks for the reply and no worries with the delay. I think I might have entangled a few problems in my OPs and caused some confusion. Although regardless I still think being able to efficiently merge files during read could ease up the graph construction, if its possible and, not end up just like some implicit repartitions calls.

Regarding the graph construction performance and size, firstly its

[2021-11-04 14:35] ncclementi commented on #8324
Hi @zzhengnan, thanks for opening this issue! It seems like this question is more of a usage question than a bug report or feature request. We encourage people with such questions to ask them at the [Dask Discourse](https://dask.discourse.group/t/how-to-use-the-dask-discourse/21). Would you mind opening a discussion topic about this over there? If you do so, feel free to close this issue and we wi

[2021-11-04 15:49] ncclementi opened #8344 "Update Talks & Presentation page of docs"
Currently, the Talks and Tutorials page of the docs is outdated (see https://docs.dask.org/en/stable/presentations.html)
We only have links up to 2019.

I'm opening this issue to start tracking some talks and tutorials that we want to include. Comment here with talks or tutorials that should be added to this page.

[2021-11-04 16:51] bglossner commented on #8214
Does this seem like an okay **first issue**? I'd like to take this on if so! I just don't want to start an issue someone else might be able to do much quicker if I get stuck. Thanks!

[2021-11-04 17:05] jsignell commented on #8214
It's a pretty good first issue in that you probably don't need a ton of dask-specific knowledge. But it might be a good bit of work. Please feel free to take it on and ping me if you get stuck.

[2021-11-04 17:20] jsignell commented on #8340
I think this is broadly a good idea.

[2021-11-04 17:42] bglossner commented on #8214
I'll give it a shot then! Thanks for such a quick response.

[2021-11-04 18:19] gjoseph92 commented on #8294
Overall note: this new shuffle is designed specifically for multi-machine clusters. On a single machine, you'd probably be better off using `shuffle="disk"`. It's sort of similar to this new shuffle, except it may have more efficient serialization, plus it skips the unnecessary networking step of sending the data back to itself.

Yes, I think this is the problem!
1. You just don't have enough disk

[2021-11-04 19:37] jrbourbeau commented on #8333
Closing as I think the original question has been answered. Let us know if that's not the case @SebastienDorgan

[2021-11-04 19:37] #8333 closed

[2021-11-04 19:45] jrbourbeau commented on #8344
@jsignell and I gave a "Hacking Dask: Diving Into Dask’s Internals" tutorial at PyCon 2021 and the Dask Summit 2021, which I think was well received ([materials presented](https://github.com/jrbourbeau/hacking-dask) and [Dask Summit recording](https://www.youtube.com/watch?v=KZkkVYRZcDA))

I'm not sure how many repeats we want to list, but the standard Dask tutorial was also given at SciPy 2020 /

[2021-11-04 20:12] #3269 closed

[2021-11-04 20:57] jrbourbeau commented on #8331
Sure, making this replacement in other places seems fine too. `compute`, `persist`, and `visualize` just stood out as particularly well-worn parts of our public API.  Below are all the times `kwargs.pop(` occurs throughout the codebase (according to `git grep "kwargs.pop("`). I've not validated that all these occurrences merit being replaced, but I suspect many of them could be.

<details>
<summar

[2021-11-04 22:18] gjoseph92 opened #8346 "`set_index` on a column containing NaN raises confusing error (`partition_quantiles` not robust to NaNs)"
**Minimal Complete Verifiable Example**:

[code]

<details><summary>Full traceback</summary>

[code]

</details>

Note that the error occurs eagerly while trying to calculate good divisions.

Setting a column containing NaNs as the index is probably a bad idea, so if we still want this to error, that would be reasonable. But an error like ``"Cannot calculate division for column "B" since it contai

[2021-11-04 22:19] jrbourbeau commented on #8292
Thank you for the simplified example @chrisroat. Out of curiosity, does this regression result in your computation failing? Or is it just the `validate()` method that fails? I ask because if I replace `ddf_final.__dask_graph__().validate()` with `ddf_final.compute()` in the second example I get the following error

[code]

with both the latest `main` branch as well as the 2021.09.1 release

[2021-11-04 22:21] gjoseph92 opened #8347 "`set_index` on a column containing NaN raises confusing error (`partition_quantiles` not robust to NaNs)"
**Minimal Complete Verifiable Example**:

[code]

<details><summary>Full traceback</summary>

[code]

</details>

Note that the error occurs eagerly while trying to calculate good divisions.

Setting a column containing NaNs as the index is probably a bad idea, so if we still want this to error, that would be reasonable. But an error like ``"Cannot calculate division for column "B" since it contai

[2021-11-04 22:21] #8346 closed

[2021-11-04 22:28] chrisroat commented on #8292
Your error is because the computations are bogus lambda function.  The example provided is simply creating the graph.  My tests fail during `assert_eq` which validates the graph prior to even running compute.

What I am experimenting with is whether the `make_ddf_works` is a valid substitute.  It seems to create a valid graph and passes the unit tests.   I'm trying out our regression tests to be s

[2021-11-04 22:43] chrisroat commented on #8292
So the regression tests are passing, which makes me feel confident the computation isn't screwed up.

Is it expected that  `dd.from_delayed` on a list of delayed objects should result in a single dataframe, effectively doing a `dd.concat`?

[2021-11-04 23:32] mrocklin opened #8348 "Promote setup documentation in Docs TOC"
I suspect that the deploy page, https://docs.dask.org/en/latest/how-to/deploy-dask-clusters.html#, is of high enough importance that it should maybe get a top-level listing on the sidebar TOC.  Right now it's in the "How to" section at the same level as "How to set up prometheus", which seems less relevant.

[2021-11-05 10:36] jacobtomlinson commented on #8344
I keep a [similar page](https://jacobtomlinson.dev/talks/) roughly up to date on my blog with talks I've given. If you grep through there for Dask there may be some of interest.

One of particular note to add to the Dask page might be [Intro to distributed computing on GPUs with Dask in Python ](https://jacobtomlinson.dev/talks/2021-03-31-dask-and-rapids-blazing-webinar/) as it is a GPU flavoured

[2021-11-05 13:32] jsignell commented on #8344
I gave kind of a talk version of the hacking dask tutorial at the pydata dc meetup: https://github.com/jsignell/inside-dask

[2021-11-05 14:08] jsignell commented on #8348
Fair enough. @jacobtomlinson and I are going to have some more docs time next week so we will make a plan of how dask and distributed docs should relate then.

[2021-11-05 14:13] jsignell commented on #8347
Yeah I think raising a better error is probably good enough.

[2021-11-05 15:01] jsignell opened #8349 "Regression: `read_parquet` fails on main (not on 2021.10.0)"
There is a regression on main that causes the following to fail. I discovered this while looking at https://github.com/dask/dask/issues/8323

[code]

[code]

ping @martindurant and @rjzamora

[2021-11-05 15:07] martindurant commented on #8349
Detail:
fastparquet alone reads this fine, but I see that in the dask code in _collect_dataset_info we are passing an empty list of paths for fastparquet to handle

[2021-11-05 15:09] martindurant commented on #8349
Note that the data is a single file, not a directory. If it is renamed "multi.parquet", it works OK - so we are failing the file names filter, which should not apply to a single file input.

[2021-11-05 15:11] rjzamora commented on #8349
Thanks for raising @jsignell , and @martindurant for taking a look. I can work on a fix later today

[2021-11-05 15:11] jsignell commented on #8323
Yeah this is not a huge surprise. Dask doesn't really have MultiIndex support, but you can sometimes get MultiIndex partition within dask dataframes. There are limitations to what you can do with these dataframes because they will never be able to understand the range of each partition (dask calls these `divisions`). That is why `from_pandas` fails, that method always tries to figure out the divis

[2021-11-05 15:12] jsignell commented on #8349
sorry if the title was too alarmist :grimacing: seems like it is kind of an edge case.

[2021-11-05 15:19] #6357 closed

[2021-11-05 15:19] jsignell commented on #8338
I'm going to close this since I just merged https://github.com/dask/dask/pull/6628

[2021-11-05 15:19] #8338 closed

[2021-11-05 15:21] jsignell commented on #2807
I'm going to close this since I just merged https://github.com/dask/dask/pull/6628 and it includes some docs improvements as well as a new mechanism for broadcasting rather than repartitioning.

[2021-11-05 15:21] #2807 closed

[2021-11-05 15:23] jsignell commented on #8307
oof sorry I forgot to comment @ayushdg I did look into this for a bit and I can definitely reproduce. If you have ideas about how to fix, please feel free to open a pull request.

[2021-11-05 16:30] YashPhogat opened #8350 "ValueError: bytes object is too large"
### Description
I've been getting a "ValueError: bytes object is too large" error while using prefect flow with dask on a dataframe of 4.01GB . How can I fix it?

### Reproducible Example
[code]

### Output
[code]

[2021-11-05 16:55] gjoseph92 commented on #8292
Based on the docs, I think so:
[code]
Is that not what you were expecting?

[2021-11-05 17:13] jsignell commented on #7610
Ok I'm going to close this since the issue is resolved.

[2021-11-05 18:35] chrisroat commented on #8292
My expectations aside, your read of the documents makes it clear what is correct.  :)  Though technically, I'd be curious what happens if each delayed object is itself multiple partitions.

For that part of the example, I had just been doing the from_delayed individually, and then doing a concat.  It's nice to do it with fewer lines of code!  It is interesting that the same graph isn't generated b

[2021-11-05 19:46] gjoseph92 commented on #8350
@YashPhogat this warning is hinting at what's wrong and suggesting one thing you can do:

[code]

As you're discovering, individual objects in Dask's graph cannot be larger than 4 GiB. This limitation comes from [msgpack](https://github.com/msgpack/msgpack/blob/master/spec.md#limitation) ("maximum length of a Binary object is `(2^32)-1`"), which is part of the serialization we use for sending mess

[2021-11-05 20:18] djhoese opened #8352 "Empty chunk causes exception in nanmin/nanmax"
**What happened**:

I want to get the nanmin of a specific set of pixels in an array. Some of the chunks are empty which is causing an exception when this dask array is passed to `nanmin` (`dask.array` or `numpy`).

**What you expected to happen**:

Get the minimum value for the overall array, ignoring or passing allow NaNs.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we nee

[2021-11-05 20:22] djhoese commented on #8352
I realize I misread the docstring for nanmin which says:

I read "all-NaN slices" and thought that includes empty slices. Maybe this is unrealistic to fix.

[2021-11-05 20:25] #8349 closed

[2021-11-05 21:24] gjoseph92 commented on #8292
What do you mean? Like if your delayed object referenced a list of pandas DataFrames, like `delayed([pd.DataFrame(...), pd.DataFrame(...)])`? In that case, it would just be invalid.

If you think about how `DataFrame.to_delayed()` essentially "explodes" the dask DataFrame into a list of `delayed`s, where each partition is its own delayed object, `from_delayed` is the inverse: you give one delayed

[2021-11-06 13:41] DahnJ commented on #8294
Aha! Thanks, it never ceases to amaze me how many Dask details I miss out on. I will give it a try and see if it works for my case.

~230GB available

Again, this was very helpful and enlightening, thanks!

Good point

[2021-11-07 02:29] boazmohar opened #8353 "ignore_index is not used in dd.concat"
I am working on making a PR for #8331 and ran into `dd.concat`. (coming soon)
As mentioned elsewhere #7500, #7473, the `ignore_index` keyword is not being used.

Here is a test I added that fails with `ignore_index=True`

[code]
Output:
[code]
**What happened**:
Index is [0,1,2,0,1,2]
**What you expected to happen**:
Index should be [0,1,2,3,4,5]

**Anything else we need to know?**:
I couldn't fix

[2021-11-07 09:18] danilopeixoto commented on #8172
I had this issue using Dask (pyarrow or fastparquet engines) to write a dataframe with more than 1 partition and partition_size great that 5MB.

I could write the dataframe partitions to parquet files after use `df.repartition(partition_size='5MB')`.

I believe this avoid multipart uploads. When uploading a >5MB file to S3 bucket, botocore automatically splits the upload to multiple HTTP PUT reque

[2021-11-08 04:20] aloysius-lim opened #8355 "Could not deserialize task when using `npartitions="auto"` in `DataFrame.set_index()`"
**What happened**:

When using `npartitions="auto"` in `DataFrame.set_index()` on a local distributed cluster, a "Could not deserialize task" error occurs (see code and output below).

This happens only when:
1. Instantiating a cluster using `dask.distributed.Client()` (only tested on local, but the intended use case is Dask on Kubernetes).
2. Repartitioning using "auto" number of partitions.

**W

[2021-11-08 14:45] mohamedniyaz1996 opened #8357 "Support Dask Dataframe Transpose"
Please add API-support for DataFrame transpose as we do in pandas with DataFrame.transpose()

[2021-11-08 15:31] ridhachahed opened #8358 "Scheduler memory just keep increasing in idle mode"
Hello Dask community !

I am running Dask on a linux server and I am very limited by my memory. My main problem is that the the dask scheduler process just keep eating more and more memory even though I don't submit any work to the workers yet ! I would like to understand what's going on and if there is any mitigation to this problem ?

To reproduce it:
from dask.distributed import Client
client =

[2021-11-08 15:32] quasiben commented on #8357
Something like the following might work.

Though many things probably need to be better taken care of like columns to index for example.

[2021-11-08 16:15] zzhengnan commented on #8324
Thanks for the suggestion, @ncclementi.

Done! https://dask.discourse.group/t/why-is-it-undesirable-for-delayed-functions-to-mutate-inputs/57

[2021-11-08 16:15] #8324 closed

[2021-11-08 16:37] jsignell commented on #6486
I think this issue can be closed since it seems like it was intended as a snapshot of the state of affairs. But people can reopen if they disagree with that assessment.

[2021-11-08 16:37] #6486 closed

[2021-11-08 16:39] jsignell commented on #8280
If you are able to open a pull request that would be very much appreciated @vttrifonov.

[2021-11-08 16:43] jsignell commented on #8308
Does the `align_dataframes` kwarg resolve this issue, or is there still work to do here in your opinion @gjoseph92?

[2021-11-08 17:15] jsignell commented on #8357
Yeah I think this could be a good feature and it could be built using blockwise, but it might take a little thought to get right. I tried a naive approach and it didn't do quite the right thing.

[code]
[code]

I'll just also say that since dataframe partitions the data along the index, the data would have to be entirely repartitioned if you want to know the divisions (range of each partition).

[2021-11-08 17:53] ncclementi commented on #8327
@pinnnnnnz checking-in here, does the answer above that suggests setting `verify_meta=Flase`solve your problem?

[2021-11-08 18:03] pinnnnnnz commented on #8327
It does. But I was hesitant to use it because I also want it to be `True` to ensure the meta though.

[2021-11-08 18:41] gjoseph92 opened #8359 "`set_index` does not support passing in a dask Index"
**What happened**:

Passing a dask Index to `DataFrame.set_index` fails while trying to generate `meta` while inferring the new output divisions.

**What you expected to happen**:

New output divisions should not even need to be calculated. The dask Index object being passed in already has divisions; we should just use those. Furthermore, since the dask Index has known divisions, we should also in

[2021-11-08 18:54] charlesbluca opened #8360 "Delayed optimizations causing breakage in `dask_ml.wrappers.Incremental.fit`"
**What happened**:
I am running into a `ValueError` when trying to fit a `sklearn.linear_model.SGDClassifier` wrapped by `dask_ml.wrappers.Incremental`:

[code]

**What you expected to happen**:
As of `2021.10.0`, this would've resulted in the model being fitted with the training data.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:
This issue seems to have c

[2021-11-08 19:03] jakirkham commented on #8360
cc @ian-r-rose

[2021-11-08 19:33] gjoseph92 opened #8361 "Optimized groupby aggregations when grouping by a sorted index"
Similar request to https://github.com/dask/dask/issues/2999

When grouping by the index, and the index has known divisions, most aggregations could be a simple `map_partitions`. Since each partition already contains all the values for an output group[^1], there's no need to exchange data between partitions.

However in these cases, we still do `apply_concat_apply`, `_cum_agg`, etc. and generate co

[2021-11-08 20:24] ian-r-rose commented on #8358
Hi @ridhachahed are you perhaps using the `dask-labextension`? If so, might you be running into https://github.com/dask/dask-labextension/issues/185 ?

[2021-11-08 20:28] gjoseph92 commented on #8308
Unfortunately I think the docs still don't make it explicit enough that kwargs don't get aligned (whether `align_dataframes` is True or False). I should have thought to mention that in https://github.com/dask/dask/pull/6628, sorry.

A docs update to make the current state clearer would be good, though I still think we should actually change the current state since it's pretty weird.

[2021-11-08 21:23] ridhachahed commented on #8358
Hello @ian-r-rose , unfortunately I am not using `dask-labextension` everything is run form the command line without  the dashboard. You will find attached the numbers I have where we can the see scheduler memory increasing while the worker memory reaches a plateau at one point (when we don't put a limit on their memory).

![image](https://user-images.githubusercontent.com/31919686/140820134-bc0d7

[2021-11-08 21:49] jsignell opened #8362 "graphviz failures on CI"
There are some failures popping up in CI. I assume they have to do with a new release of graphviz or something. I'm taking a look and will report back

[code]

[2021-11-08 22:22] boazmohar commented on #8331
I think i did most of these in #8354, the places I am not sure how to change as I don't know how to document the arguments:
1.[`token`](https://github.com/dask/dask/blob/main/dask/dataframe/core.py#L5848)
2.[`parent_meta`](https://github.com/dask/dask/blob/main/dask/dataframe/core.py#L5849)

<details>
  <summary>Remaining places and some remarks about them</summary>

[code]
</details>

[2021-11-08 22:41] #8362 closed

[2021-11-08 22:41] jsignell opened #8364 "Issues with windows 3.7 and graphviz"
There are some issues with windows 3.7 and graphviz.

[code]

_Originally posted by @jsignell in https://github.com/dask/dask/issues/8363#issuecomment-963640411_

[2021-11-09 00:25] jakirkham commented on #8360
While the issue was originally identified in the Dask-SQL CI, it is now also being seen outside that context. Seems to be breakage affecting Dask-ML more generally

[2021-11-09 04:43] chrisroat commented on #8292
Thanks for the better understanding of `from_delayed`/`to_delayed`.

Ah, I see.  I would think the metadata would be enough to skip adding tasks that weren't necessary (in this case, all `meta` are identical in columns/types).

Agreed.  I will skip using `concat` myself, both because of this possible bug and because I don't need the extra logic.

[2021-11-09 13:45] jsignell commented on #8364
As @boazmohar points out in this comment: https://github.com/dask/dask/pull/8354#issuecomment-963716017 this might be a Python 3.7 but with pathlib.

[2021-11-09 13:47] jsignell commented on #8364
It looks like this is being tracked on graphviz already: https://github.com/xflr6/graphviz/issues/145 and we can pin to 0.17 to avoid.

[2021-11-09 14:39] jsignell commented on #8331
Yeah I think `token` and `parent_meta` are really meant for internal use and aren't considered to be user-facing so it's fine to leave them as is.

[2021-11-09 14:51] jsignell commented on #8364
I'm going to close this one since I pinned python-graphviz in environment-3.7

[2021-11-09 14:51] #8364 closed

[2021-11-09 14:59] jsignell commented on #8361
YES! I  am very excited about this idea. In general, there are a lot of opportunities for doing things better in groupby. I think the current implementations are written more for legibility and generalizability and less for performance.

Let me know if you are actively planning on working on this or would like to talk things through.

[2021-11-09 15:05] jsignell commented on #8359
Yeah that makes sense to me. Do you think we need to do any validation?

[2021-11-09 15:27] #7610 closed

[2021-11-09 15:30] jsignell opened #8366 "Upstream failures"
There are new failures popping up in upstream tests. I am taking a look now.

[code]

[2021-11-09 17:33] gjoseph92 commented on #8364
@jsignell thanks for jumping on this fix. Do you have an issue open just to track unpinning this?

[2021-11-09 17:36] gjoseph92 commented on #8292
Ah, if only that were the case! That's worth opening an issue for. I wish we more efficiently supported that workflow of explode chunks -> do things to chunks -> combine back into DataFrame/Array.

[2021-11-09 17:41] gjoseph92 commented on #8361
Awesome! I'm excited about it too. I agree that there's a lot of room to improve groupby performance, and a fair amount of it is pretty low-hanging.

I'm not actively planning on working on this right now, and I'm not sure if anyone else is either. I think we should though! Issues with groupby performance and usability are the top things I hear from users right now.
cc @jrbourbeau @fjetter @jcrist

[2021-11-09 18:13] gjoseph92 commented on #8359
I think we'd just validate that the new index has same number of partitions as old index. If it has (valid) known divisions, then we can go down the `sorted=True, divisions=new_index.divisions` fastpath. If not, we convert it to a Series and go down the normal unknown divisions path?

[2021-11-09 18:38] gjoseph92 commented on #7918
This may still be flaky: https://github.com/dask/dask/runs/4155659392?check_suite_focus=true

[2021-11-09 19:11] jsignell commented on #8364
I'm not sure we ever need to unpin since it's only Python 3.7. But if you think it's important then sure, we can open an issue :)

[2021-11-09 19:45] jsignell commented on #8359
sounds like a good plan to me.

[2021-11-09 20:38] jakirkham commented on #8292
With Array we have [`.blocks`]( https://github.com/dask/dask/blob/11f52ed453711e7f4e293208083c284fff4b13ba/dask/array/core.py#L1861-L1862 ) and DataFrames we have [`.partitions`]( https://github.com/dask/dask/blob/5b38dda3ff4c2432baa6af8b52ba1572a539548e/dask/dataframe/core.py#L1179-L1180 ).

[2021-11-09 21:23] jrbourbeau commented on #8355
Thanks for reporting and providing a nice, minimal code snippet @aloysius-lim. I tried the example listed in the "Minimal Complete Verifiable Example" section, but am not able to reproduce the error you're seeing.

What version of NumPy are you using? It looks like you may be running into https://github.com/dask/dask/issues/7170 which, I think, was fixed upstream in NumPy (for reference, I'm not a

[2021-11-10 08:04] aloysius-lim commented on #8355
@jrbourbeau you're right, I was using numpy 1.21.3, and updating it to 1.21.4 seemed to solve the problem... at first. The problem appeared again in our unit test suite.

On further investigation, I found a strange behavior where the first invocation of `reset_index()` succeeds, but any subsequent calls (even on different data frames) produces the same "could not deserialize task" error.

What I t

[2021-11-11 07:00] aloysius-lim opened #8373 "Nullable types saved incorrectly in partitioned parquet files, leading to ValueError when appending"
**What happened**:

Same as #6085, but for partitioned parquet files. The dtypes change as such:

| original | reloaded via `read_parquet()` |
| --- | --- |
| Int64 | float64 |
| string | object |
| boolean | object |

This happens only when saving the parquet files with partitions; without partitions, the metadata is saved and reloaded correctly to match the original dtypes.

This has a side effe

[2021-11-11 08:24] aloysius-lim opened #8374 "IndexError when reading empty parquet file with chunksize"
**What happened**:

When reading an empty parquet file with `chunksize` argument, the error `"IndexError: list index out of range"` is raised. While it may seem that using `chunksize` is irrelevant, the use case here is reading files from an external source where it is not known a priori whether or not the file is empty (or really large).

**What you expected to happen**:

An empty dataframe is re

[2021-11-11 21:08] #8360 closed

[2021-11-12 06:19] kdebrab opened #8376 "pure delayed gives wrong result for dataclass methods"
**What happened**:

[code]
This is an incorrect result.

Apparently, `A(1).get_delayed_param().key` is erratically the same as `A(0).get_delayed_param().key`. It seems like the tokenize fails and falls back on something that gives the same result for both as `str(A(1)) == str(A(0))`.

**What you expected to happen**:
The correct result is obtained without delayed:
[code]

One also gets the correct

[2021-11-12 09:36] jakirkham opened #8377 "Thoughts on "Getting Started" section"
Currently the "Getting Started" section does a few things really well. It explains how to install Dask and shows how to work with some synthetic data. Then it jumps to talks and tutorials, which are useful, but maybe a little time consuming (and possibly should be at the end of the section or a different one). While "Best Practices" is also useful, this is pretty heady for someone getting started

[2021-11-12 18:55] jakirkham commented on #8377
May be worth considering in the context of the documentation refresh ( https://github.com/dask/community/issues/170 )

[2021-11-12 21:55] jsignell commented on #8377
Thanks for writing this up!

Just for context, the How To... section is a new idea that is meant to expand to contain lots of little snippets that explain how to do different things. I moved the deployment docs into there (this might have been the wrong idea and we can undo it if we need) to populate the folder, but it is meant to grow to include lots of short "recipes".

We have been talking abou

[2021-11-13 17:41] enthusiastics opened #8378 "dask memory issue, isn't it supposed to handle larger than memory computation?"
I have a data folder, 200 parquet files total 600GB Disk. I understand that after fully loaded to memory it would be about 4TB. So I will use dask to perform out of core computation. I assume it would compute and output partitions by partitions to make everything manageable.

    parquet_files_list = glob.glob(f"{Centralized_location2}{dump_signature2}dd_x_n_y{special_str1}/part*.parquet")
    agg

[2021-11-14 22:39] GenevieveBuckley commented on #8377
I think your list of questions above is a good summary, and helps show some current gaps.

[2021-11-15 03:20] djhoese commented on #8352
Thanks for starting the PR @boazmohar. This may lead me to be lazier in my open source work in the hope that others just do the PRs for me :wink:

[2021-11-15 16:28] jsignell commented on #8335
Do we want to unpin at some point or are we happy to just close this?

[2021-11-15 17:42] jsignell commented on #8264
I think I understand what the original meaning was. I opened a PR to clarify.

[2021-11-15 18:10] djhoese opened #8380 "da.store loses dependency information"
**What happened**:

I'm trying to take the result from a `map_blocks` function and store one slice of the resulting array in one zarr array and another slice in another array. I set `compute=False` on the `da.store` calls so that I can compute them together later and avoid computing the array multiple times. However, it seems the map blocks function is called for each store operation. From what I

[2021-11-15 18:11] djhoese commented on #8380
Also note this does not happen if the map_blocks function is a single result or if I don't do `src[0]` and instead store the entire 3D array twice. Something about the `__getitem__` task seems to be the problem.

[2021-11-15 18:22] rileyhun commented on #8335
I'm dealing with this issue as well and I believe I'm using the latest version of `s3fs`. Is there a fix for this?

[2021-11-15 18:38] marcelned opened #8381 "Missing conda yml file"
The file `continuous_integration/environment-latest.yaml` can't be found when trying to replicate https://docs.dask.org/en/stable/develop.html.

[2021-11-15 19:15] gjoseph92 commented on #8306
Thanks for merging @jsignell! Note that these were not done:

Should we re-open this issue, or open new ones for them?

[2021-11-15 19:21] djhoese commented on #8380
Ok new find, if I call `da.store` with a list of sources and targets then it works as expected. So I guess the new question is how can I do `to_zarr` for multiple sources and targets?

[2021-11-15 19:33] djhoese commented on #8380
Found an ugly workaround, change the bottom portion of the script to turn fuse.active off:

[code]

This stops `da.store` from fusing the tasks and causing the later `da.compute` to not realize that the two sources are from the same dependencies.

[2021-11-15 19:47] jrbourbeau commented on #8306
Re-opening to continue to track here. I've also updated the original post to be a checklist instead of a bulleted list (hope that's okay)

[2021-11-15 19:52] jrbourbeau commented on #8381
Thanks for opening this issue @marcelned. That environment file was recently removed in https://github.com/dask/dask/pull/8275. We're now recommending using `continuous_integration/environment-3.9.yaml` (as can be seen in the dev version of the documentation https://docs.dask.org/en/latest/develop.html#install)

[2021-11-15 19:52] #8381 closed

[2021-11-15 20:04] chakpak commented on #3530
This seems to be a long standing issue. Is anyone working on a clean fix addressing root cause? Or just looking for workarounds for now?

[2021-11-15 20:44] jsignell commented on #8380
It seems to me that if optimization should not happen until right before computation starts. So in the `dask.compute` call. @jrbourbeau and @crusaderky it seems like this might be related to https://github.com/dask/dask/pull/8261 if you have any insight.

[2021-11-15 21:15] gjoseph92 commented on #3530
@chakpak I believe the tl;dr on this is that it's neither Dask's nor NumPy's problem, and not something we can safely resolve here, but instead an issue with the underlying C-level memory allocator and its heuristics for when to release memory back to the OS.

Therefore, I'd suggest either adjusting the settings for the allocator if you're on linux:
[code]
Or trying a different allocator if you're

[2021-11-15 21:40] jrbourbeau commented on #8335
I'm checking over in https://github.com/jrbourbeau/dask/tree/unpin-s3fs whether we can unpin `s3fs` today or not

[2021-11-15 21:57] raybellwaves opened #8382 "QST: task count for getting one partition"
**What happened**:

Created a dask.dataframe of multiple partitions. Got a single partition and saw the number of tasks is the same as the number of partitions or larger.

**What you expected to happen**:

When getting a partition from a dask.dataframe wouldn't the task count be 1? In the example below it shows 10. I may be mistaken here e.g. the number of tasks stays the same as the total number

[2021-11-15 22:08] jsignell commented on #8376
Thanks for writing this up so clearly. I think there might need to be a new `normalize_token` function registered to cover the `dataclass` case or at least `normalize_function`  needs some changes. If you are comfortable adding that I think it would go in here https://github.com/dask/dask/blob/main/dask/base.py#L942

I will try to take a look at it later this week if you don't get to it first :)

[2021-11-15 22:11] jsignell commented on #8353
Thanks for writing this up @boazmohar if you have the time to look into it more that would be appreciated. Otherwise it will probably take a bit for someone to get to it.

[2021-11-16 04:03] dcherian commented on #8382
You have to cull the graph to get what you want; like passing `optimize_graph=True` to `visualize`

I wrote this function to do what you want (but with xarray things wrapping dask arrays) though I think there are still a few bugs. IT would be nice if dask provided a robust version of this functionality for dask collections
[code]

[2021-11-16 13:44] crusaderky commented on #8380
Correct, ``store`` automatically optimizes the graph. My recent PR didn't change that.
We should disable optimization when compute=False.

[2021-11-16 14:59] Christiankoo opened #8386 "IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer on non integer column."
I have dask bag with 59 n_partitions with chucksize of 100 000 ( so basically around 6 million records). I want to transform dask bag to dask dataframe and then to pandas dataframe. This is my snippet.
[code]
I tried multiple things - cast every column to dtype object, remove na values with dropna(). Everytime i get this exception:

[code]
I understand that it needs to get rid of NaN objects, but

[2021-11-16 16:27] jrbourbeau commented on #8378
Thanks for raising an issue @enthusiastics. There are lots of steps in your example, are you able to provide a minimal reproducer (see https://blog.dask.org/2018/02/28/minimal-bug-reports for more details)? Otherwise it may be difficult for others to help debug.

Can you post worker logs? That's often a good place to start looking when a `KilledWorker` exception is encountered. Additionally, you m

[2021-11-16 16:59] astrofrog opened #8387 "Issue when indexing small array with a few index values"
**What happened**:

[code]

**What you expected to happen**:

[code]

**Minimal Complete Verifiable Example**:

See above.

**Environment**:

- Dask version: 2021.8.1
- Python version: 3.9.5
- Operating System: Ubuntu
- Install method (conda, pip, source): pip

[2021-11-16 17:17] djhoese commented on #8380
Would that just mean putting an `if` statement around the `__dask_optimize__` call? How should `source_layers` be constructed if not optimized?

https://github.com/dask/dask/blob/f5881891505b9a2ba2da195befb11ad7b4c7bb23/dask/array/core.py#L1017-L1019

[2021-11-16 17:33] crusaderky commented on #8380
without optimization, you need to merge sources_hlg into the final graph - see HighLevelGraph.merge

[2021-11-16 19:55] chakpak commented on #3530
@gjoseph92 this was a very good explanation. Thanks for following up. This makes sense and we will experiment further.

[2021-11-16 19:55] charlesbluca opened #8388 "Standardizing type for `divisions`"
Looking through Dask's codebase, it seems like there isn't a consistent typing for a Dask object's `divisions`; in some places (like [`set_sorted_index`](https://github.com/dask/dask/blob/f5881891505b9a2ba2da195befb11ad7b4c7bb23/dask/dataframe/shuffle.py#L1017)), we return an object with a tuple `divisions`, while in others (such as [`set_partition`](https://github.com/dask/dask/blob/f5881891505b9

[2021-11-16 21:13] jrbourbeau commented on #8386
Thanks for raising an issue @Christiankoo.

Could you post a full traceback where you're getting the `IntCastingNaNError`? It'd be useful to see where the error is originating from.

Additionally, I'm wondering if we can determine the number of the number of NA values and inf values in each column of your dataset. Something like

[code]

where `ddf` is replaced with the result of `bag.to_dataframe

[2021-11-16 22:15] jrbourbeau commented on #8374
Thanks for raising an issue @aloysius-lim -- I'm able to reproduce. It looks like `aggregate_row_groups` assumes `stats` can't be empty. Perhaps we could just pass `parts` and `stats` through if they're empty. cc @rjzamora if you have thoughts about a different approach

[2021-11-16 23:16] jrbourbeau commented on #8320
Closing due to lack of response. Feel free to re-open if you'd like to continue

[2021-11-16 23:16] #8320 closed

[2021-11-16 23:16] jrbourbeau commented on #8269
Closing due to lack of activity. Feel free to re-open if you'd like to continue

[2021-11-16 23:16] #8269 closed

[2021-11-16 23:19] jrbourbeau commented on #6920
Closing due to lack of activity. Feel free to re-open if you'd like to continue

[2021-11-16 23:19] #6920 closed

[2021-11-16 23:19] astrofrog commented on #8387
It looks like the behavior changes for ``i=da.arange(32)``

[2021-11-17 01:53] djhoese commented on #8380
I'm not familiar with the structural differences between the various dictionaries and graphs used here, but the line just above that uses `HighLevelGraph.merge`:

https://github.com/dask/dask/blob/f5881891505b9a2ba2da195befb11ad7b4c7bb23/dask/array/core.py#L1016-L1022

So theoretically, if we're not optimizing then we can make `layers = source_hlg.layers`, right? And I guess `dependencies` would s

[2021-11-17 03:23] dcherian commented on #8361
:+1: I implemented this for `dask.array` in [flox](https://github.com/dcherian/flox) as `method="cohorts"`.

I implemented it by indexing out "cohorts" or "groups that occur together" and then either applying the grouped reduction using either `blockwise` or `_tree_reduce` as appropriate for each subset. Then concatenate those results to form the final result.

I learned about the possible blockwi

[2021-11-17 03:50] rjzamora commented on #8374
Thanks for the ping @jrbourbeau! You have this exactly right.  [This line](https://github.com/dask/dask/blob/f5881891505b9a2ba2da195befb11ad7b4c7bb23/dask/dataframe/io/parquet/core.py#L1268) should definitely be something like: `if not stats or not stats[0].get("file_path_0", None):`. If there are no statistics elements to iterate throug, it is completely safe to pass along the `parts` and `stats`

[2021-11-17 08:32] FredericOdermatt opened #8390 "`to_parquet` call fails with index of type `int` and data of type list of lists"
Hi everyone

I have recently started working a lot with `Dask` and I am facing an issue similar to what other people have described here [stackoverflow 1](https://stackoverflow.com/questions/52707190/dask-why-has-cpu-usage-suddenly-dropped), [stackoverflow 2](https://stackoverflow.com/questions/67319620/dask-computations-slow-down-with-time) and which might also be related to [issue 2835](https://

[2021-11-17 09:01] FredericOdermatt commented on #8390
I just did a sanity check and removed the `.repartition` function completely. So the second part of my code only looks like this:

[code]
and **still** it is talking a lot of time for the final tasks to finish! So the issue is likely related to the `to_parquet` operation.

In my dashboard there is only two workers left doing the last `to_parquet` for more than 5 minutes

![image](https://user-imag

[2021-11-17 09:10] GenevieveBuckley opened #8391 "Change default boundary value to "none" for dask map_overlap"
I'd like to propose changing the default value of the `boundary` keyword argument in `map_overlap`. The current default is `"reflect"`, and I'd like it to be `boundary="none"` instead.

Reasons why this would be useful:
- It's much faster. It roughly halves the number of tasks, and the difference in compute time is significant
- There's less of a difference between results from a numpy array, vs t

[2021-11-17 14:25] rjzamora commented on #8388
Thanks for raising this @charlesbluca !

At the moment, I think divisions *should* be a tuple.  However, I know there are many cases (both internally and down-stream) where lists are used. I also think it is worth mentioning here that I have been planning to write up a design proposal to support a dataframe-based divisions definitions to cover most of the motivating cases for multi-index support (

[2021-11-17 16:19] crusaderky commented on #8380
shallow copy, but yes. You'll also need to find the topmost layers using ``e.__dask_layers__()`` to build the dependencies later on in the method.

[2021-11-17 17:02] #8264 closed

[2021-11-17 18:00] gjoseph92 commented on #8388
+1. For how critical it is, I've always been surprised that it gets no validation. This would probably fix most of the problems?

It could also be reasonable for `assert_eq` to check the type of divisions. This would have caught https://github.com/dask/dask/pull/8389, for example.

[2021-11-17 18:14] scharlottej13 commented on #8373
Thank you for submitting this issue! The examples you provided were great, I was able to easily reproduce the problem. Since this is a parquet-related problem, @rjzamora would you be able to recommend the best way to proceed?

[2021-11-17 18:16] jsignell commented on #8388
I love the idea of adding this to `assert_divisions` and adding a setter.

[2021-11-17 18:22] jsignell commented on #8388
A side benefit of making divisions a property is that we can give it a docstring and incorporate a bunch of the new language from ``set_index``.

[2021-11-17 18:29] jsignell commented on #8391
This seems sane to me. I'm wondering who else is likely to be heavily using `map_overlap` since we should probably let them know that we intend to flip the switch. I can't think of an easy way to deprecate this slowly so I think it'll just be a matter of noting the change (and when it occurred) in the documentation.

[2021-11-17 18:34] jakirkham commented on #8391
cc @rabernat (for an xarray perspective)

[2021-11-17 18:39] jakirkham commented on #8391
Personally agree that this makes sense

Have long wanted to deprecate this functionality in `map_overlap` and move workflows to something more NumPy-like for solving this problem (when it is needed, which arguably is rare) by using `pad` ( https://github.com/dask/dask/issues/3641 )

[2021-11-17 19:17] ian-r-rose commented on #8388
It might also be useful to link this up with the work being done in #8295: a lot of this should be catchable statically.

[2021-11-17 20:19] rabernat commented on #8391
I'm not sure I can give much Xarray perspective (not my area of specialization). @dcherian would probably be better on this.

However, we _are_ using this feature quite heavily in https://github.com/xgcm/xgcm/pull/380, which @tomnicholas is spearheading.  In that PR, we actually explicitly specify `boundary="none"`, so as long as that keeps working, 👌 .

[2021-11-17 21:20] dcherian commented on #8391
:+1: Xarray doesn't really use `map_overlap` much. I bet xgcm uses `map_overlap` the most in the xarray ecosystem.

[2021-11-17 21:32] jakirkham commented on #8391
Ok so it doesn't sound like this will cause issues. So maybe we should go ahead.

Just to make sure we haven't missed anyone, would suggest a deprecation cycle. So first we warn if `boundary` is not specified and let users know the behavior will change (this will become `"none"` in some future release). Then in that future release (whatever version we picked), we make the change.

[2021-11-17 22:04] ian-r-rose commented on #8355
Hi @aloysius-lim , thanks for the update.

I was able to reproduce your issue on using numpy==1.21.4, so it seems the underlying problem in #7170 is not fully resolved.
Of note: the error seems to be coming from deserializing cached values, so it makes sense that it would only crop up on the *second* time you are executing `set_index()`:

[code]

We'll do some more digging to see what's going on

[2021-11-17 23:30] scharlottej13 opened #8395 "Add DataFrame.nunique()"
Opening this as a new issue, as it came up in a recent [SO post](https://stackoverflow.com/questions/69928786/number-of-unique-values-in-dask-dataframe-columns) that @ian-r-rose and I worked on. It seems like it was mistakenly marked as added in issue #3817.

[2021-11-18 08:12] FredericOdermatt commented on #8390
I have kept looking at this and I have a new **minimal working code** that I believe is closer to the root cause of this:

[code]
https://user-images.githubusercontent.com/50372080/142372603-16251b36-f995-495d-b0fc-8e65312269d3.mov

- in general a large `n_workers` and larger data `size` make the behavior worse
- if `n_workers` is not 1 and `size` is large enough I can get to a setting where the c

[2021-11-18 11:22] Christiankoo commented on #8386
Hi.

I executed your block of code, but same error :

[code]

[2021-11-18 12:26] j-r77 opened #8399 "Mismatch between parquet statistics and parts silently drops data"
**What happened**:
Hi,

I've had some difficulty reading in (older) parquet data files, due to not Dask not finding statistics for about 2/3 of the files.

I'm running the following simple code:
[code]

Where urlpath is a glob path that resolves to 5 folders, each with a _metadata and a _common_metadata file, and 17 parquet files (one of the folders has 16).
The total number of partitions should b

[2021-11-18 16:54] rjzamora commented on #8373
Thanks for reporting @aloysius-lim, and for the ping @scharlottej13 !

I spent more time than I'd like to admit investigating this before I realized that we were simply loosing the nullable-dtype information when "re-creating" the partition within `_write_partitioned`.  The current logic in that function seems to convert a pyarrow Table back into a pandas DataFrame, before performing a groupby ope

[2021-11-19 04:26] cheginit opened #8402 "read_csv throws BlockSizeError"
**What happened**:
Throws an exception when reading a `csv` file from a URL even when `blocksize` is set to `None`.

**What you expected to happen**:
Successfully return a dataframe from a URL.

**Minimal Complete Verifiable Example**:

[code]
which throws (with or without `blocksize=None`):
[code]

**Anything else we need to know?**:
`pandas` works just fine.

[code]

**Environment**:

- Dask ver

[2021-11-19 09:10] FredericOdermatt commented on #8390
Today I worked more on this and I think I have gotten even closer to the base of the issue:

The crux seems to lie in the combination of `index` of type `int` and data of the form `pa.list_(pa.list_(pa.int64())))`

A simpler **minimal reproducable example** making forth with the log-uniform list-length distribution, since it is not needed to reproduce the bug:

[code]

a few notes here:
- simply n

[2021-11-19 14:14] jsignell commented on #8402
Thanks for writing this up @cheginit I am able to reproduce. I think the issue is not with `blocksize` but with `sample`.

I tried setting the sample to very large. For the record I also tried setting `sample` to `False` and to `0` but neither of those got me as far as setting it to very large.

[code]

and it was able to finish, but the dataframe was not usable, because anytime I try to actually

[2021-11-19 14:42] martindurant commented on #8402
~We don't really have a good answer if the server doesn't respect RANGE header specifications.~

I started writing the typical answer above, but actually I see no reason for the restriction, since the `sample` must come from the file header, and `blocksize=None` means we don't do any random access within the file (i.e., reading from an arbitrary offset).

So I made https://github.com/fsspec/filesy

[2021-11-19 14:54] jsignell commented on #8402
Nice @martindurant! Yeah @cheginit you can get around the dtype mismatch by using `assume_missing=True`

[2021-11-19 16:04] cheginit commented on #8402
@martindurant and @jsignell Thanks for your quick response and addressing the issue. Your explanation makes sense. I'll give it a try once it gets merged.

[2021-11-19 20:15] #8402 closed

[2021-11-19 21:07] jakirkham commented on #8364
FWIW the fix went into 0.18.1, which has since been packaged and released. So we can unpin this

[2021-11-19 23:57] ian-r-rose commented on #8387
I can reproduce this behavior, and it does seem restricted to indexing a numpy array with a dask array when its length is smaller than 32.

Some further investigations:
Indexing numpy with numpy (computed from dask) succeeds:
[code]
and indexing dask with dask succeeds:
[code]

@astrofrog can you elaborate a bit more on your use-case and how you came across this? To my knowledge, such an indexing

[2021-11-20 00:35] ian-r-rose commented on #8387
Did a bit of snooping in the numpy source. What appears to be happening here is that numpy is trying to decide whether to index along one dimension as a list, or to tread the index object as a multidemensional tuple of indices.

In their own words, this decision is based on [somewhat arbitrary heuristics](https://github.com/numpy/numpy/blob/d1e711fcb0d8132d607698889db6de6c3adedd8d/numpy/core/src/m

[2021-11-20 17:59] saulshanabrook commented on #7933
Hey all,

I am reading through this thread to try to get up to speed with the current status of this work.

I have also been exploring some different ways of handling expression graphs in Python (previously in [metadsl](https://github.com/metadsl/metadsl) and now in a different soon-to-be open-sourced library) and am curious about exploring what approaches might work for Dask.

I know that current

[2021-11-21 07:10] jlehrer1 opened #8407 "Reading in DataFrame with header=1 causes first column to be inaccessible"
**What happened**:
I read in a file as `df = dd.read_csv('filename.csv', header=1)`, then tried to set the index as the first column. Even being entirely explicit like `df.set_index(df.columns[0])` fails to a KeyError.

**What you expected to happen**:
I should be able to set the index as any of the columns, but this incorrectly fails.
**Minimal Complete Verifiable Example**:

[code]

**Environmen

[2021-11-21 12:14] mesejo opened #8408 "Weird behavior during assertion"
**What happened**:
[code]

**What you expected to happen**:
The second assertion should pass, moreover, when doing:
[code]
The output is:
[code]
The reverse of the expected output.

**Anything else we need to know?**:
Detected this (possible) problem when working on [this](https://github.com/dask/dask/pull/8304)

**Environment**:

- Dask version: '2021.03.0'
- Python version: Python 3.8
- Operatin

[2021-11-22 13:35] lucharo commented on #5722
Also interested in this, why does `read_orc` not load column names like `read_parquet` and `read_csv` do?

[2021-11-22 18:51] ncclementi opened #8409 "Update install instructions for dask-dev enviornment"
The [Development environment Install section](https://docs.dask.org/en/stable/develop.html#install) of the docs says
[code]
But we got rid of `environment-latest.yaml` on https://github.com/dask/dask/commit/5bc14dc7b62f129622c3f11fbe7119c13836de26

We should now point to use `environment-3.9.yaml` unless we recommend something different.
The file to modify is: https://github.com/dask/dask/blob/mai

[2021-11-22 18:53] jsignell commented on #8409
Is the docs build failing? This should have been updated when the release went in.

[2021-11-22 18:53] jsignell commented on #8409
I'm taking a look at readthedocs

[2021-11-22 18:57] ncclementi commented on #8409
I noticed that when I googled for dask docs, it return `stable` instead of `latest`. If I change it to `latest` now I the docs are updated. Should this change be on `stable` or not yet?

[2021-11-22 18:57] jsignell commented on #8409
It should be on stable. There was an error on the build. I am retrying

[2021-11-22 19:20] jsignell commented on #8409
Rebuild worked, but we need to rethink our release process to get the stable build to complete properly. It looks like the build got messed up because when it tried to install distributed, that referenced dask 2021.11.2 and that wasn't yet available.

[2021-11-22 19:21] jsignell commented on #8409
I'm going to close this, but ping @jrbourbeau so that he's aware of the issue with the release process.

[2021-11-22 19:21] #8409 closed

[2021-11-22 19:34] jsignell commented on #8364
Thanks for mentioning that  @jakirkham :)

[2021-11-22 19:35] jrbourbeau commented on #8409
Yeah, I've been manually retriggering RTD builds when releasing but forgot to this time. Agreed it would be good to avoid the need for manual steps here

[2021-11-22 19:37] jsignell commented on #8409
oh yikes, yeah maybe we can come up with something.

[2021-11-22 20:21] rjzamora commented on #7933
Thanks for continuing this discussion @saulshanabrook - I apologize in advance for the following information dump that is unlikely to answer any of your actual questions (since my immediate thoughts focus more on the high-level requirements of Dask rather than the requirements of the specific expression system that we ultimately need)…

I think you are correct that a clear list of required feature

[2021-11-22 20:26] jsignell commented on #8399
Thanks for writing this up @j-r77 if you are able to create an example where all the data is generated, that would definitely help towards a speedy resolution.

But I'll ping @martindurant and @rjzamora anyways in case they have ideas of how to proceed.

[2021-11-22 21:28] martindurant commented on #8399
At a quick skim of the report, I imagine indeed we don't test for a case where only some of the data contains statistics. The statistics should be aligned with the "parts", so that you only exclude parts when you can be sure there is no good data there.

[2021-11-22 21:47] #8352 closed

[2021-11-22 22:08] saulshanabrook commented on #7933
Thank you @rjzamora for the very in-depth reply! The high-level requirements you listed are getting at exactly my original question.  Before we can determine the requirements of the expression system I think it's helpful to outline, as you have started, what are its intended use cases and the shortcomings of current solutions to those.

I want to take some time to digest the specific examples and

[2021-11-22 22:45] jsignell commented on #8408
This is expected. Dask sorts the index on set, so the data ends up flipped, but each index value points to the same data value. That is one of the reasons why we have helpers like `assert_eq` which makes sure that the indexes are alligned before checking the values.

[2021-11-22 22:45] #8408 closed

[2021-11-22 23:02] jsignell commented on #8407
Aha! It took me a bit to reproduce this one, but I've got a minimal example now:

[code]

I think what's going on is dask doesn't do the right thing with the `header` kwarg when a single file is being split into several partitions (@rjzamora in case you have insight). As a workaround, you can use `skiprows=1` instead of `header=1`

[2021-11-23 05:12] rjzamora commented on #8407
Thanks for the ping @jsignell  - Hopefully #8413 does the trick here.

[2021-11-23 07:34] FredericOdermatt commented on #8390
I want to give another update. I can now avoid this behavior, but it is still weird as to why it happens for me.

In case anyone else is having similar behavior, where `to_parquet` calls on a `LocalCluster` are kind of lagging at the end or even never finishing:

I could solve my issues by moving all data (including index) from `int` to `float` before writing to parquet and back to int when readin

[2021-11-23 11:16] DahnJ opened #8415 "Documentation for `set_index(col, compute=True)` is unclear/inaccurate"
I think the documentation is currently unclear/inaccurate about the nature of the `compute` parameter for `set_index`:

[code]

The documentation currently contains this description:

This would suggest that if I provide divisions and set `compute=True`, immediate computation will be triggered. This only seems to be the case when using `shuffle=disk`. Even then, it's not clear to me what is actual

[2021-11-23 15:25] rjzamora commented on #8399
I suspect that passing in a glob with multiple directories is causing the issue here. I am fairly confident that the glob-pattern feature was designed to handle a collection of files (not a collection of datasets).

Hopefully this is an exaggeration, or the problem will likely never get fixed ;)  I will try to reproduce the problem with a toy directory-glob example (I have alrady confirmed that le

[2021-11-23 15:32] mrocklin commented on #8348
Checking in here.  From my perspective there should maybe be a "Deploy" or "Set up" top level entry that points to https://docs.dask.org/en/stable/how-to/deploy-dask-clusters.html

[2021-11-23 16:25] jacobtomlinson commented on #8348
Yeah that's in the works.

[2021-11-23 16:31] rjzamora commented on #8399
#8416 doesn't close this, but it should result in a clear UserWarning when the statistics and partitions are misaligned (and automatically bail on statistics processing).

I have not been able to reproduce a real case where misalignment occurs, but I will be happy to work on a fix for the root cause of this issue once a reproducer becomes available.

[2021-11-23 18:18] MickaelRigault commented on #5373
Hi, I don't know if it helps but https://scikit-sparse.readthedocs.io/en/latest/cholmod.html is an implementation of a Sparse Cholesky decomposition (cython). We use it quite a lot. If it could be natively implemented in dask, that would be very useful.

[2021-11-23 22:58] scharlottej13 commented on #8415
Thanks for raising this issue and for the examples-- I was able to reproduce what you're describing and was actually about to open an issue after reading your SO post. @ian-r-rose and I had a good discussion on this, and it does seem that at the very least the documentation should be updated to reflect this behavior, but it's possible this could be a bug. @gjoseph92 maybe you have thoughts on this

[2021-11-24 09:17] DahnJ commented on #8415
@scharlottej13 thanks for looking into it!

Btw, do please upvote any SO questions you find useful — it's a minor thing that nonetheless helps the question get recognized and lets the asker know that they're at least being useful :)

[2021-11-24 16:21] ian-r-rose commented on #8386
@ncclementi and @jrbourbeau , any idea what might be going on with the traceback that @Christiankoo provided?

[2021-11-24 16:30] ian-r-rose commented on #8378
Closing due to lack of response. Since this seems like a usage question, I'd encourage you to reopen your question on the [Dask Discourse](https://dask.discourse.group/) page if you'd like to continue the discussion @enthusiastics.

[2021-11-24 16:30] #8378 closed

[2021-11-24 17:13] ncclementi commented on #8386
I'm not sure exactly what's going on but it looks like the problem is when converting from bag to dataframe, and it looks like this error `IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer` is "Raised when attempting an astype operation on an array with NaN to an integer  type."

I was able to create a reproducer that might help with the debugging.

[code]

<details open>

[2021-11-24 20:25] amcpherson opened #8418 "dask dataframe read_csv + filtering fails when using comment kwarg"
**What happened**:  A key error on a queried column that exists in the dataframe.  Specific to reading a csv using dask read_csv and specifying a comment kwarg to account for a header in the csv.

**What you expected to happen**:  The query should return a dataframe with the filter on column, without the keyerror occuring.

**Minimal Complete Verifiable Example**:

[code]

**Environment**:

- Dask

[2021-11-25 11:16] astrofrog opened #8420 "Feature Request: cache calls to __getitem__ on array-like object"
*I originally thought this was a bug but was told on Slack this is expected so I am opening this as a feature request instead*

I am using ``from_array`` with a custom array-like object to access data on disk. The data access is quite expensive so I would like to avoid unnecessary repeated access of the same data. The following example illustrates the issue I am running across:

[code]

The output

[2021-11-25 11:39] Cadair commented on #8420
I also have a similar setup where this would be useful.

[2021-11-25 16:34] #7332 closed

[2021-11-25 16:34] #8285 closed

[2021-11-25 20:57] Straegge opened #8421 "DataFrame.groupby sorts group keys even with sort=False"
**What happened**:
The row with group key/index `A` is sorted before `B` after the `.last()` computation, even though `sort=False` is passed and the doc states "Sort group keys. Get better performance by turning this off.".

I'm guessing this has to do with the fact that Dask does not implement the `as_index` parameter, so the group keys are always the index and therefore sorted. But this should b

[2021-11-26 10:12] j-r77 commented on #8399
Thanks for the update @rjzamora . The data in this case comes from one dataset, but is manually partitioned into the 5 separate folders. Columns are the same in every folder, and the glob works for our situation in most cases. These problems were found in older data that we are trying to reprocess.

The _metadata_ files are a black box for me, but I'd like to understand more about what's going on.

[2021-11-29 03:10] GenevieveBuckley commented on #8342
Upon closer inspection, the documentation does describe this, just in a way I found confusing. So it's really due to poor reading comprehension on my end.

I'm going to have a think about if there's a way to make the documentation clearer, otherwise I'll close this issue today or tomorrow.

[2021-11-29 10:37] harrisliuwk opened #8426 "various errors when invoking `dask.distributed.LocalCluster` with custom host (and port)"
**What happened**:
Initiating `LocalCluster` after upadating dask to newest version reports errors.

codes that used to work:
[code]

**What you expected to happen**:
runs without error

**Minimal Complete Verifiable Example**:
case 1:
[code]
reports "OSError: [Errno 98] Address already in use"

case 2:
[code]
reports "ValueError: not enough values to unpack (expected 3, got 1)"

In case 2, I trie

[2021-11-29 10:48] jakirkham commented on #8334
Yeah we did look at using `map`. Unfortunately as it doesn't return a `Future`, but instead returns a blocking iterator, it is kind of hard to work with in the context of the Dask scheduler. Ideally there would be something like `map_async`, which would return a `Future` (for [example]( https://stackoverflow.com/a/35909364 )). Though Idk if that kind of thing is in-scope for the `Executor` interfa

[2021-11-29 11:22] fjetter commented on #8395
@scharlottej13 can you please add a bit more information to the description? A sentence or two summarising the SO post and/or issue if that it relevant.
I think the SO post also mentions `groupby.nunique`. is this missing as well and part of this issue?

[2021-11-29 16:19] #8407 closed

[2021-11-29 17:07] gjoseph92 commented on #8415
A quick skim of the code: https://github.com/dask/dask/blob/d34a35453403631ebbd86b37a5d21f101f0d7758/dask/dataframe/shuffle.py#L558-L564

makes me think that `compute=True` with `shuffle='disk'` causes it to immediately _write_ all the data to disk, but not read any back. What gets left in the graph (run when you compute the resulting `DataFrame`) is reading that data back out of disk.

It's not i

[2021-11-29 17:17] rjzamora commented on #8399
Thanks for the info! Can you clarify the glob pattern you are using? Is it just something like `"root_dir/*/*"`?  Also, are there multiple `_metadata` files, or just one within the root directory?  I ask about the `_metadata` file count, because there can never be more than one "global" metadata file  for proper `read_parquet` behavior.  If Dask detects the existence of any one of the `_metadata`

[2021-11-29 17:18] ian-r-rose commented on #8415
I agree that it's not obvious that `compute=` is a useful feature to have. A quick flip through the code finds the same pattern in a few places:

* DataFrame I/O
* Array I/O
* DataFrame shuffling
* DataFrame head/tail

I don't think these are hugely valuable options, personally, though unfortunately `compute=True` is the default for a number of the dataframe methods, and they are not obscure, so i

[2021-11-29 17:40] martindurant commented on #8399
You might try a glob pattern like "root_dir/**.parquet" (or whatever the data files are called).

Yes!
[code]

[2021-11-29 18:25] bglossner commented on #8214
Sweet, thanks! I left some responses on the commit and will create a WIP PR for the next commit(s) I make.

[2021-11-29 19:47] jborman-exos opened #8429 "Cannot catch and reraise exception with context on .compute()"
**What happened**:

I cannot catch and reraise an exception with context while operating on a dask dataframe. The desired context in this case is the column name that could not be parsed.

In my own use case I am applying a number of parsing functions across the columns in my dataframe. Occasionally a parser will fail and I would like to know which column failed to identify the associated column/f

[2021-11-29 20:04] jsignell commented on #8429
Thanks for raising this issue and including a reproducible example. The issue is that `dd.to_numeric(srs).astype(np.int64)` does not raise an error for dask. Not until you call compute. So the try catch that you are putting in the `dask_parser` will never be hit.

To get the behavior that you are after, you'd have to write a custom function and then map that to each partition of the dataframe. Thi

[2021-11-29 20:04] #8429 closed

[2021-11-29 20:42] jsignell commented on #8421
It looks like the sort is only set up to apply across partitions in the aggregation step. This is a bug, but there aren't real performance implications when a dask dataframe contains a single partition, so it might not be too big a deal.

Here's an example of multiple partitions succeeding at not sorting:

[code]

[2021-11-29 20:57] scharlottej13 commented on #8395
This is to write the Dask version of [pandas.DataFrame.nunique](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html). The linked SO post is one example of someone asking for this functionality. I don't think `groupby.nunique` is missing, I found the function [here](https://github.com/dask/dask/blob/main/dask/dataframe/groupby.py#L1940), so that's not part of this issue.

@fj

[2021-11-29 22:50] DahnJ commented on #8415
Regarding the usefulness:

## `compute=True` methods

I haven't gone through them all, but regarding I/O and `head` (and I suspect all methods where `compute` is `True` by default), the `compute` option is absolutely useful to me.

By default, `df.head()` computes the head. If I instead want to get a lazy object, perhaps because I want to visualize its computational graph, then I use `compute=Fals

[2021-11-29 23:25] gjoseph92 commented on #8415
Agreed that `compute=True` is certainly useful in other places, `head` being a prime example. I was only referring to `set_index` specifically when I said that. @ian-r-rose for I/O, do you specifically mean O (`to_csv`, etc.)? I'm not seeing a `compute` in `read_csv` or `read_parquet`, but maybe there's another input function I'm not thinking of that does this.

If `compute` is actually just used

[2021-11-29 23:42] ian-r-rose commented on #8415
@ian-r-rose for I/O, do you specifically mean O (`to_csv`, etc.)? I'm not seeing a `compute` in `read_csv` or `read_parquet`, but maybe there's another input function I'm not thinking of that does this.

Yes, I'm referring to "O".

I suppose you could make this argument, but it seems pretty slippery to me. I can say that I've been surprised by all of the above having `compute=True` as a default be

[2021-11-29 23:49] gjoseph92 commented on #8415
Agreed, it is a little odd that in this lazy computing library, a handful of functions are not lazy by default. And that that is probably not going to change.

Back to this one in `set_index` though, do we think the `compute=True` option is worth having? (When you could achieve something similar, but maybe not quite a performant, with a `to_*`+`read_*` if you wanted.) I feel like the choice here i

[2021-11-30 00:12] gjoseph92 commented on #8420
@astrofrog have you read the documentation page on caching https://docs.dask.org/en/stable/caching.html? Caching isn't something that dask does at all by default; you have to set it up explicitly using something [like this](https://docs.dask.org/en/stable/caching.html#automatic-opportunistic-caching). There are also some bugs with it (xref https://github.com/dask/dask/issues/6228). It doesn't get

[2021-11-30 04:28] koverholt commented on #5610
I opened https://github.com/dask/dask/pull/8432 and https://github.com/dask/distributed/pull/5549 to address the remaining build warnings. And I've enabled the option to treat build warnings as errors in those PRs.

[2021-11-30 11:47] DahnJ commented on #8415
To me, the interesting question would be whether using this option provides any improvements compared to using `to_parquet`. If not, then I'm in favour of deprecating.

Based on this quick benchmark, it seems that while the writing is faster, reading is much slower (possibly because of the necessity to still `concat` as mentioned by @gjoseph92 ), resulting in a similar overall performance.

[code]

[2021-11-30 17:11] martindurant commented on #7709
Linking https://github.com/dask/dask/pull/7417 as an example of a PR implementing a new HLG Layer and long discussion about the implications (cc @ian-r-rose ). That PR, *once merged*, might provide interesting insights into how to design a Layer.

Also of note, in https://github.com/ContinuumIO/dask-awkward/blob/main/src/dask_awkward/core.py we use existing layer-creating functions to manufacture

[2021-11-30 17:12] martindurant commented on #7709
Also cc @rjzamora , who has developed a lot of Layers!

[2021-11-30 17:27] bglossner commented on #8214
Left some more interesting problems I am seeing in https://github.com/bglossner/dask/commit/922d7a1e28a7452153d3b72f54aa48f91d871acc when using 250 large numbers.

[2021-11-30 17:50] jakirkham commented on #7709
cc @madsbk

[2021-11-30 18:35] jsignell commented on #8418
Thanks for writing this up and sorry for the slow response. I am looking at the codebase and it seems like the comment kwarg should work ok for all cases except when the line is the first in the file. In that case the header information gets kind of messed up. I'll have a PR open shortly with a fix.

[2021-11-30 20:21] amcpherson opened #8434 "Nan values read in as 1.0 when using read_csv"
**What happened**: Nan values read in as 1.0

**What you expected to happen**: Nan read as nan

**Minimal Complete Verifiable Example**:

Data: [example.txt](https://github.com/dask/dask/files/7628601/example.txt)

[code]

- Dask version: 2021.11.2
- Pandas version: 1.3.4
- Python version: 3.7.4
- Operating System: Linux/Mac
- Install method (conda, pip, source): pip

[2021-11-30 20:50] jsignell commented on #8434
I get the exact same result if I force the dtype using pandas:

[code]

So maybe the solution is just to drop the `dtype` kwarg.

[2021-11-30 21:21] gjoseph92 opened #8435 "[Discussion] Don't compute divisions by default in `set_index`?"
Calling `df.set_index('foo')` currently calculates all of `df` immediately, in order to pick values for `divisions`. This is helpful, but also makes it very easy to trigger a large computation, and the eagerness is inconsistent with Dask's lazy API.

Downsides of this are illustrated in [this blog post](https://targomo.medium.com/how-we-learned-to-love-dask-and-achieved-a-40x-speedup-aa14e72d99c0#

[2021-11-30 21:23] gjoseph92 commented on #8361
Hey @DahnJ, really enjoyed your blog post (https://targomo.medium.com/how-we-learned-to-love-dask-and-achieved-a-40x-speedup-aa14e72d99c0#fa71). Sadly, it sounds like you ran into this exact issue. Good to get more validation that this is worth fixing!

[2021-11-30 21:38] amcpherson commented on #8434
Appears to be a pandas bug:
https://github.com/pandas-dev/pandas/issues/42808

[2021-11-30 23:36] DahnJ commented on #8361
Glad to see the blog post raising some of these issues to the forefront!

Yes, this makes a lot of sense to me! I also wonder just how many users' workflows are failing because of this precise issue. I did hear that "what I do is embarrassingly parallelizable, so why do I always resort to looping over chunks of data" sentiment a number of times at the summit, possibly suggesting Dask introduces so

[2021-11-30 23:49] DahnJ commented on #8245
One more detail: in the [original SO question](https://stackoverflow.com/questions/69480773/convert-column-of-categoricals-to-additional-columns/69524920#69524920), the user actually utilized a solution that assumed that appropriate `set_index` took place before (named `Option B`), which allows to perform this operation by simply using `map_partitions` instead of `apply_concat_apply`.

That makes

[2021-12-01 02:25] gjoseph92 opened #8437 "When `divisions` has repeats, `set_index` puts all data in the last partition instead of balancing it"
Reported in https://stackoverflow.com/a/70178087/17100540 by @DahnJ.

Given imbalanced data, you want the same value to be split across multiple output partitions:
[code]

However, when the shuffle actually happens, all the data ends up in the last possible partition:
[code]

The problem is in the [`set_partitions_pre`](https://github.com/dask/dask/blob/a5aecac8313fea30c5503f534c71f325b1775b9c/das

[2021-12-01 02:27] gjoseph92 commented on #8361
Agreed. I think this should be one of the top priority DataFrame issues to work on. I was honestly shocked when I read the code and realized we weren't utilizing the sorted index.

This is usually the right way to feel. It's very reasonable that you'd expect Dask to be doing the obvious, correct thing here with groupby!

That was a good question. I replied to it; this is a bug: https://github.com/

[2021-12-01 03:01] tooptoop4 opened #8438 "Avro - s3 byte range for just schema or row count"
boto3 library has s3 get_object that accepts a byte range (to avoid downloading a whole file but just download selected byte range). if my Avro file is 100mb, can this disk library do some byte range seek to only download the s3 object partially (ie the parts that contain header.schema metadata and row count)?

https://docs.dask.org/en/latest/_modules/dask/bag/avro.html seemed to have something ab

[2021-12-01 04:04] gjoseph92 commented on #8415
Funny, running your benchmarks on my machine (2019 Intel MacBook Pro, 8-core, SSD), they only take 6-8sec, not the 45sec-1min you posted. And with `compute=True`, the `dfb.compute()` part is also ~3x slower than the `set_index` part. But parquest is slightly slower for me as well.

This makes sense, because with `to_parquet` you're doing all the same work as the `compute=True` case (write pieces t

[2021-12-01 09:14] DahnJ commented on #8437
To me, this has actually been an accidental feature, rather than a bug — that is I can just `map_partitions` and be sure that I don't get a single index value split over multiple partitions.

Possibly there should be an option to still force that behaviour, a function that merges partitions with overlapping index, or perhaps an option to `map_partition` that treats those partitions as a single par

[2021-12-01 09:40] DahnJ commented on #8415
This makes sense to me.

However, I still want to explicitly ask about the option of having `persist` with a `disk` option. I have only ever used `LocalCluster` so far, so I could easily utilize `to_parquet`, but what would I do if I use a distributed cluster, want to persist my data on the workers, but don't have enough memory?

I would probably start this as another issue since it's independent

[2021-12-01 15:16] ocqco opened #8439 "Series / DataFrame view method not implemented."
When attempting to convert a column from one dtype to another using `astype`, there is a `FutureWarning` raised by Dask and Pandas regarding the move to using `view`.

Pandas suggests replacing the `astype` method with `view`, however `view` appears not to be implemented in `dask.dataframe.core`.

This is the `FutureWarning` from Pandas:

df['TIMESTAMP_astype'] = df['TIMESTAMP'].astype('int64')

S

[2021-12-01 16:17] scharlottej13 commented on #8438
Hi @tooptoop4, thanks for opening this issue! It seems like this question is more of a usage question than a bug report or feature request. We encourage people with such questions to ask them at the [Dask Discourse](https://dask.discourse.group/). Would you mind opening a discussion topic about this over there? If you do so, feel free to close this issue and we will continue the conversation on di

[2021-12-01 16:46] scharlottej13 commented on #8382
Hi @raybellwaves, does this help solve your problem?

[2021-12-01 16:50] scharlottej13 commented on #8376
Hi @jsignell, did you have a chance to look at this already? If not, I'm happy to take a look!

[2021-12-01 17:30] jsignell commented on #8376
Yeah this slipped off my list. I'd be pleased for you to take it over!

[2021-12-01 17:31] jsignell commented on #8434
Ah ok thanks for linking to that! I am going to go ahead and close this ticket.

[2021-12-01 17:31] #8434 closed

[2021-12-01 17:40] ian-r-rose commented on #8439
Thanks for raising this @ocqco . It looks like this deprecation was added in [pandas 1.3.0](https://pandas.pydata.org/docs/whatsnew/v1.3.0.html#other-deprecations). I also see some heartache downstream related to this in holoviews: https://github.com/holoviz/holoviews/issues/5146.

I don't *think* it would be hugely difficult to add a `view` method to dask.dataframe.

[2021-12-01 18:19] scharlottej13 commented on #8386
@Christiankoo, have you tried adding the `meta` keyword argument when converting the Dask bag to a dataframe? Modifying `@ncclementi`'s (very helpful) example, this works:
[code]
a | b
-- | --
1.0 | NaN
inf | NaN
1.0 | NaN

As does using [pandas' nullable integer data type](https://pandas.pydata.org/pandas-docs/stable/user_guide/integer_na.html), with a slightly different example:
[code]
 a | b
--

[2021-12-01 21:34] jsignell commented on #8361
Ok so I think we already do this check for whether or not we need to do anything special in `apply`. We could just extend that logic: https://github.com/dask/dask/blob/a5aecac8313fea30c5503f534c71f325b1775b9c/dask/dataframe/groupby.py#L1692-L1717

[2021-12-01 22:49] gjoseph92 commented on #8361
^ yes, this is exactly it!

[2021-12-02 15:50] jsignell commented on #8361
I did some initial investigation and I think that we still need to do a groupby per-chunk. Otherwise we would need to reimplement all the groupby methods to act on non groupby objects. As an experiment I tried implementing just `first` as a map_partitions with no groupby per-chunk, but the implementation of `df.first` is different than the implementation of `groupby.first` so it didn't work quite

[2021-12-02 16:43] raybellwaves opened #8443 "DOC: add example of to .dask (HighLevelGraph repr) to docs in https://docs.dask.org/en/latest/graphs.html"
Only learned about `.dask` after @charlesbluca's dask-sql demo at the dask meeting. Not sure if it's in the docs anywhere?

Could add a Visualization subpage to https://docs.dask.org/en/latest/graphs.html ?

[2021-12-02 16:45] mrocklin commented on #8443
cc @GenevieveBuckley @freyam

[2021-12-02 16:55] twoertwein opened #8454 "DOC: note that compute does not optimize delayed objects"
The doc-strings of the various `compute` functions state that the graph is optimized by default. Optimizations don't seem to be applied for delayed objects https://github.com/dask/dask/pull/6222. It would be great to update the doc-strings and maybe even add a brief example how to optimize delayed objects (that use some "advanced" features such as `bind` - not sure whether `dask.utils.ensure_dict`

[2021-12-02 17:22] freyam commented on #8443
Yes, this would be a great addition.

I have my final exams going on right now. I will be working on #7709 starting 2 weeks from now.

I will make sure to add documentation about `.dask` as well.

[2021-12-02 19:00] korosig opened #8444 "DASK slow down the IDE"
**What happened**:

Hi there, I have installed a new Anaconda 2021.11 with a new Spyder 5.1.5 on my Windows 10 with a New DASK

When I open the new file and import packages, everything goes well, but if I read parquet, it kills my machine.
A simple +,-,/  or another task like asking `timedelta(hours=200)` takes 10 or more seconds.

Do you have an idea to solve that problem?

**Minimal Complete Ver

[2021-12-02 19:51] gjoseph92 commented on #8361
This is definitely true. But to me, it's very cheap. Sorry I didn't make that clear!

Skipping a full `aca` is huge win (see the graphs in the [blog post](https://targomo.medium.com/how-we-learned-to-love-dask-and-achieved-a-40x-speedup-aa14e72d99c0#fa71) for an example). It avoids needlessly doing a tree-reduction and concatenating all those partitions, which saves a ton of data transfer, of task

[2021-12-02 21:02] raybellwaves commented on #8443
Didn't see #7709. Welcome to close this if you think this is a dup

[2021-12-02 21:55] jsignell commented on #8361
Ok that makes sense. I can see how fewer layers is good even if the total number of tasks does not decrease by much. I'll keep pushing on it.

[2021-12-02 23:25] davidhao3300 opened #8445 "Suboptimal graph structure when read-writing a parquet"
**What happened**:

to-parquet ops don't appear to "fuse" together with the rest of the linear chain. Since fusing chains is the current workaround for https://github.com/dask/distributed/issues/3974, this results in larger-than-necessary memory usage due to workers picking up work from other partitions earlier than they should.

**What you expected to happen**:

to-parquet ops should be merged in

[2021-12-02 23:39] ncclementi opened #8446 "dask dataframe read_parquet split_row_groups docs outadated?"
The current [documentation](https://docs.dask.org/en/latest/generated/dask.dataframe.read_parquet.html#dask-dataframe-read-parquet) regarding `split_row_groups` in dask dataframe `read_parquet` says " Only the “pyarrow” engine supports this argument." however when running these tests [`dask/dataframe/io/tests/test_parquet.py::test_split_row_groups`](https://github.com/dask/dask/blob/7446308083e2f2

[2021-12-02 23:51] gjoseph92 commented on #8445
@davidhao3300 thanks for raising this. You're totally right. As a workaround right now, I'd recommend:
[code]

@rjzamora I guess I'd thought with https://github.com/dask/dask/pull/7620 that the O side of I/O was Blockwise'd as well, but reading through `to_parquet`, it's not: https://github.com/dask/dask/blob/a5aecac8313fea30c5503f534c71f325b1775b9c/dask/dataframe/io/parquet/core.py#L738-L770

Loo

[2021-12-03 00:10] gjoseph92 opened #8447 "Consider reactivating low-level DataFrame optimization when not all layers are Blockwise"
Since https://github.com/dask/dask/pull/7620, we've seen a few instances where users have gotten burned by root-task overproduction (see https://github.com/dask/distributed/issues/5555, https://github.com/dask/distributed/issues/5223 for background) because certain DataFrame optimizations still use low-level graphs, and therefore aren't getting fused anymore. Examples:
* https://github.com/dask/da

[2021-12-03 00:18] gjoseph92 opened #8448 "Add fusion optimization for Delayed"
We're starting to realize how critical the task fusion optimization is for avoiding task overproduction (see dask/distributed#5555, dask/distributed#5223 for background).

In light of this and https://github.com/dask/dask/issues/8447, I think we should add the `fuse` optimization for `delayed` as well, which currently doesn't have it: https://github.com/dask/dask/blob/a5aecac8313fea30c5503f534c71f

[2021-12-03 01:34] gjoseph92 opened #8449 "`to_delayed(optimize_graph=False)` has an invalid HighLevelGraph"
Oops, duplicate of https://github.com/dask/dask/issues/8173. Closing.

[2021-12-03 02:00] #8449 closed

[2021-12-03 02:48] djhoese opened #8450 "Chunks/dtype not considered with map_blocks result name"
**What happened**:

As part of a really long multi-day debug session I've finally figured out the root of my problem. I replaced some old code with a single no-dependency map_blocks function and started to run into some issues when the result was included a larger application that involved rechunking. I've discovered that the main issue is that the `chunks` keyword argument isn't considered in the

[2021-12-03 02:57] rjzamora commented on #8447
My motivation to finally refocus my efforts on HLG cleanup is certainly reaching a tipping point! Sorry for being somewhat MIA in these topics lately.

I agree that we probably want the middle ground you are suggesting. As I type this, I see that you submitted an issue - So, perhaps we can discuss the specific details there :)

[2021-12-03 19:29] davidhao3300 commented on #8445
Thank you for the fast response, I confirm that setting optimization.fuse.active to True fuses to-parquet into the chain.

Are there any cons to enabling this globally? I guess all task graphs will have fusions that reduce opportunities for workers to share work?

[2021-12-03 20:07] gjoseph92 commented on #8445
Great to confirm, thanks.

The main con is just that you'll be converting all high-level graphs to low-level graphs, which are slower to transfer to the scheduler. Additionally, it appears that this may adversely affect `set_index` with the distributed scheduler, see https://github.com/dask/dask/pull/8451#issuecomment-985215013. If you're using `set_index`, this could be a significant problem; @rj

[2021-12-03 20:49] #8373 closed

[2021-12-03 21:02] gjoseph92 commented on #8450
Looks `map_blocks` tokenization logic has remained unchanged since long, long ago when it was first added in https://github.com/dask/dask/pull/848: https://github.com/dask/dask/blob/a87672e949365075e19cd90b81ddb18f63e3178a/dask/array/core.py#L501

Back at that time, py2 was still a think, so `args` and `kwargs` contained all the arguments to `map_blocks` (including `chunks`).

But these days, `arg

[2021-12-03 21:49] rjzamora commented on #8445
Right - @madsbk discovered a while back (see #6051) that shuffling (set_index) performance can be significantly improved by modifying the priority of certain tasks. This optimization was eventually implemented in the form of HLG annotations. This seemed "nice" at the time, because we were no longer adding a shuffle-specific hack in dask-core code. However, the optimization completely depends on th

[2021-12-03 21:50] jrbourbeau commented on #8448
Thanks for the proposal @gjoseph92. For reference, @jcrist implemented this in https://github.com/dask/dask/pull/6222, but backed off due to other HLG work that was going on. That said, it's not totally clear what work he was referencing -- maybe @jcrist can clarify?

[2021-12-03 21:54] rjzamora commented on #8445
Note that I should be able to implement a to_parquet HLG layer soon.  I suspect that breaking it into a `Blockwise` + `Reduction` (new), we should be able to utilize Blockwise fusion for the particular case motivating this issue.

[2021-12-03 22:00] gjoseph92 commented on #8445
@rjzamora what's `Reduction`? Naively reading the graph, I think it could be done easily with just `Blockwise` + `BlockwiseDepDict` to pass in the filenames to tasks (see https://github.com/dask/dask/pull/8310#discussion_r762305810). But `Reduction` sounds cool :)

[2021-12-03 22:04] rjzamora commented on #8445
I think it makes sense to add a general `Reduction` Layer (or maybe `TreeReduction`) to reduce a Blockwise Layer down to a single output task. This would be used in `to_parquet` to collect the parquet metadata from every write task, and  produce a single `_metadata` file.

[2021-12-03 22:05] gjoseph92 commented on #8454
For your reference @twoertwein, the distributed scheduler currently does not schedule un-fused chains of tasks correctly: https://github.com/dask/distributed/issues/5555, https://github.com/dask/distributed/issues/5223). And the `Delayed` class does not currently fuse chains of tasks (unlike other collection types). So there are really two ways to fix the specific problem you're seeing: fix the sc

[2021-12-03 22:06] gjoseph92 commented on #8445
`TreeReduction` would be a great one! That's probably the most common pattern that's not high-level right now.

[2021-12-03 22:48] arnaudsj opened #8455 "Task stealing regression in 2021-11-0+ (preventing task load balancing)"
**What happened**: There seems to be an issue with the task scheduling. When the cluster starts, and the first worker grabs the first task, it appears to block the rest of the workers until it completes the first task. This is particularly an issue when large clusters are spun in the cloud, as the scheduler start to send tasks when not all the workers are ready. This minimum working example below

[2021-12-03 22:57] twoertwein commented on #8454
Thank you @jrbourbeau and @gjoseph92!

Looking forward to #8448 being hopefully fixed :) Happy to close this issue in favor of #8448 (unless you prefer keeping this doc-only issue open as it might be easier to fix).

[2021-12-03 23:03] jrbourbeau commented on #8454
Np, let's close this issue in favor of the other one

[2021-12-03 23:03] #8454 closed

[2021-12-04 00:57] #8344 closed

[2021-12-04 05:59] MQMQ2018 opened #8457 "Does dask_ml.model_selection.GridSearchCV support GPU by applying LocalCUDACluster()?"
Dear Representative,

Does dask_ml.model_selection.GridSearchCV function being supported with GPU through using LocalCUDACluster()? I am trying to run sklearn.neural_network.MLPRegressor coupled with using dask_ml.model_selection.GridSearchCV to train my model, and I don't know whether the way below is the correct way to process my task by using local GPUs? If not, what is the correct way to do? T

[2021-12-04 13:38] djhoese commented on #8450
That works for my mini-example above with hacking my installed version of dask. If you need me to try my real world case let me know. Otherwise, this makes sense and seems like a simple fix.

[2021-12-04 13:41] djhoese commented on #8450
...and I just tested the real world case and that works too!

[2021-12-04 14:54] kdubovikov opened #8458 "merge_asof works incorrectly (with reproducible example)"
I am trying to implement the following logic in dask: https://stackoverflow.com/questions/58810517/pd-merge-asof-with-multiple-matches-per-time-period. The idea is to have merge_asof with multiple matches per time period if the right table contains more than one matching record.

In the following example, I try to find all matching events for given payments within a time window before each payment

[2021-12-05 23:22] GenevieveBuckley commented on #8391
Update, we said we'd make the change in version `2022.03.0`

So in late February, we need to make a second PR, changing the default value of the `boundary` kwarg to `"none"` (that's not the python `None`, but a string with the word `"none"`). If you see the first PR linked above, there's a comment telling you which function & line the change needs to be made on.

[2021-12-06 00:36] GenevieveBuckley commented on #8443
Yes, we should do this. If no-one knows it exists, it might as well not exist. I'm a bit busy, but I'll try and squeeze something in, you're right that it is important.

Strictly speaking, I don't think this is a duplicate of https://github.com/dask/dask/issues/7709. Let's keep both issues open, they seem to address slightly different aspects of the docs.

[2021-12-06 00:46] GenevieveBuckley commented on #8443
The other thing I think is not widely known is the `result.dask.visualize()` method. Everyone knows `result.visualize()` (low level graph visualization) but not the high level graph one.

That should also get added to the docs in a more prominent location. Like near where we introduce the first `.visualize()` method.

Maybe these things should also go in the tutorials at some stage too?

[2021-12-06 14:14] raybellwaves commented on #8443
Indeed I did not know about `result.dask.visualize()` thanks

[2021-12-06 14:18] raybellwaves commented on #8382
The simple solutions here seem to be

[code]

[code]
(https://github.com/dask/dask/issues/8443#issuecomment-986814308)

I think it's non-trivial to have it show two tasks from the start.

[2021-12-06 17:31] MrPowers commented on #8435
@gjoseph92 - Rather than "If you use `divisions="compute"`, we recommend printing the `.divisions` of the resulting DataFrame and copy-pasting them back into this line of code, so if you re-run it, divisions won't be re-calculated.", can we just include the divisions in the error message.  Or perhaps we can expose another API?  Making users set `divisions="compute"`, then calling `.divisions`, the

[2021-12-06 17:45] TLouf opened #8460 "Assignment using 1D dask Array index"
**What happened**:
I get a `ValueError` when I use a 1D dask index array to make an assignment on another dask array.

**Minimal Complete Verifiable Example**:

This
[code]

raises the following error:

[code]

while curiously this does not:
[code]

**Environment**:

- Dask version: 2021.11.2+18.g43247806 (just pulled)
- Python version: 3.9.5
- Operating System: Pop!_OS 21.04 x86_64
- Install meth

[2021-12-06 17:55] MrPowers commented on #8435
I like `df.recommended_divisions().compute()` 🤓

That way users that are familiar with the process can easily skip step #1.

It seems like manually setting the divisions will run into "notebook scaling issues" at some point.  What do we recommend if the recommended divisions array contains 100,000 elements?

[2021-12-06 18:20] gjoseph92 commented on #8435
I don't know, I've also been wondering about this. My vague idea of tools to "generate reasonable divisions when they know something about the data (save typing)" are hoping to help with this, but it certainly won't cover a lot of cases. At some point, you might just have 100,000 hardcoded divisions you need to use. At that point, I don't know. Write it to a file? Put it in a cell and collapse it?

[2021-12-06 19:36] gjoseph92 commented on #8450
@djhoese care to open a PR? If not I can get to it eventually.

[2021-12-06 21:05] djhoese commented on #8450
I will try to find time tonight.

[2021-12-06 21:58] aeisenbarth opened #8461 "Default for dtype not correct for array-like objects"
Functions which accept a numerical value and an optional `dtype` try to determine the dtype from the value if not explicitely provided.
Specifically, `da.full(shape, fill_value)` works for a literal scalar, but not for a Dask array that later produces a scalar.
This worked in dask 2021.7 but broke in 2021.8

**What happened**:

The example raises NotImplementedError "Can not use auto rechunking wi

[2021-12-07 19:00] Kareem-negm opened #8463 "Update Readme file"
Hello Dask team,
I am a newbie in Dask, I am learning Dask these days and want to start contributing with you team
so I want to start with the small contribution
the Readme file in this repository need more work wherefore I want to add some features into such as :
- Dask Logo
- What is Dask
- some Code example
- Contents, Quickstarts
- Installation
- References
- Contribution Guide

these topics a

[2021-12-07 20:08] jrbourbeau commented on #8463
Thanks for raising an issue @Kareem-negm. Historically we've opted for a more minimal README in order to avoid replicating information that's already in the Dask docs and can get out of sync over time. See https://github.com/dask/dask/issues/2230 and https://github.com/dask/dask/pull/2231 for previous conversations on this topic.

That said, I'm sure there are ways we can still improve our README,

[2021-12-07 20:57] jrbourbeau opened #8465 "gpuCI build timeout"
In https://github.com/dask/dask/pull/8462 and https://github.com/dask/dask/pull/8464 the gpuCI build has failed with [the following logs](https://gpuci.gpuopenanalytics.com/job/dask/job/dask/job/prb/job/dask-prb/896/CUDA_VER=11.2,LINUX_VER=ubuntu18.04,PYTHON_VER=3.8,RAPIDS_VER=22.02/console):

[code]

cc @charlesbluca any idea what might be going on?

[2021-12-07 21:03] #8450 closed

[2021-12-07 21:03] charlesbluca commented on #8465
I noticed these failures occasionally in dask-sql's gpuCI; my best guess is that some form of connectivity issue with Docker causes the job to hang on the image pull. In my experience, you unfortunately need to wait for the broken job to finish before trying to `rerun tests`, as the failing result of the first job will take precedence over any subsequent results.

I can check in with RAPIDS ops to

[2021-12-07 21:52] Kareem-negm commented on #8463
Hello @jrbourbeau , Thanks  a lot for your quick respond
I understand now why you do not make a README file to avoid replicating information in Docs but I think it will be better if we made a suitable README that can show for the reader what is Dask and not replicate information
I can work on a suitable README if you allow me to do that shown "what is the Dask is!! "
So that Mr.@jsignell and @jaco

[2021-12-07 22:56] jrbourbeau opened #8466 "Sporadic test collection failure"
Recently `pytest` test collection in CI has begun to sporadically fail with the following error (for example, see [this CI build](https://github.com/dask/dask/runs/4447340223?check_suite_focus=true)):

[code]

See the full error logs below.

I've not had a chance to thoroughly investigate, but my _guess_ is this is related to the event loop changes made in https://github.com/dask/distributed/pull/

[2021-12-08 04:18] quasiben commented on #8465
I restarted https://github.com/dask/dask/pull/8464 and things seem to be moving along again.  I suspect this was due to the rather severe AWS outage today

[2021-12-08 10:09] GenevieveBuckley commented on #7791
I worked some more on this in the last two days, here is a summary of where we are at.

First I focused on counting the number of tasks without materializing the graph (a slightly easier task than generating all the output keys). Then I can extend the idea to generating the full output keys without materializing it.

I sent this in email to Ian and Gabe earlier:

As described above this idea is fl

[2021-12-08 10:19] GenevieveBuckley commented on #7788
I worked more on this recently, and now have a much better understanding about what tasks get generated for different array shapes and chunk configurations.

I describe a flawed idea for addressing this issue here: https://github.com/dask/dask/issues/7791#issuecomment-988673559

I've abandoned that first flawed approach, in favor of using the `interior_keys` variable directly.

[2021-12-08 10:26] GenevieveBuckley commented on #7788
I can replace the `ArrayOverlapLayer` `__len__` method with this, which seems to work well without materializing the whole task graph.

[code]

Given that three class methods (`__len__, `get_output_keys` and  `_construct_graph`) will now depend on `interior_keys`, we might want to refactor things slightly to avoid repeatedly re-computing `interior_keys`. I haven't thought about this deeply yet, ju

[2021-12-08 15:34] jacobtomlinson commented on #8463
I'm in two minds about this.

- One option would be to add some more descriptive content to the README that should be fairly evergreen. Like the content on dask.org. Then add common headers to the README like `installation`, `contributing`, etc, but just include links to existing content in the docs.
- The other option is to leave things as it is. Keeping things minimal and just having one link ou

[2021-12-08 16:04] johnros-pagaya commented on #5525
I am observing the same phenomenon.

[2021-12-08 16:24] ian-r-rose commented on #8446
This looks right to me @ncclementi. @martindurant can you comment on fastparquet's support for `split_row_groups`?

[2021-12-08 16:25] martindurant commented on #8446
split_row_groups is handled by dask and works as expected, I believe - following @rjzamora 's work.

[2021-12-08 16:34] #8438 closed

[2021-12-08 16:40] ian-r-rose commented on #8420
@astrofrog do you have any thoughts about whether @gjoseph92 's suggestion would meet your needs?

[2021-12-08 16:50] ncclementi commented on #8446
Then if things work as expected, the last line of these docs should be removed.
https://github.com/dask/dask/blob/ec6b5267fb381e8f55f3319c1b33078849307a66/dask/dataframe/io/parquet/core.py#L193-L200

I created a PR for this, linked above.

[2021-12-08 17:51] jrbourbeau commented on #5525
https://github.com/dask/distributed/pull/4733 should have resolved the `AttributeError: 'NoneType' object has no attribute 'process'` issue (xref https://github.com/dask/distributed/issues/5386). I recommended folks try updating to the latest `dask` and `distributed` releases to see if that helps resolve the issue

[2021-12-08 18:16] scharlottej13 commented on #8444
Hi @korosig, thanks for opening this issue! It seems this is more of a usage question and we encourage people to ask such questions on the [Dask Discourse](https://dask.discourse.group/). Would you mind opening a discussion topic about this over there? If you do so, feel free to close this issue and we will continue the conversation on discourse.

To get the conversation started though, I think yo

[2021-12-08 18:19] jrbourbeau commented on #8465
Thanks @quasiben. I'll keep and eye out for the next couple of days and if we don't encounter this timeout again, we can close this issue out 👍

[2021-12-08 18:24] #8309 closed

[2021-12-08 19:57] korosig commented on #8444
Hi,

I have created almost the same ISSUE on SPYDER GIT ISSUE.... and they figured out, that the problem is not about the DASK.
It is about the Spyder Variable Explorer. When we run a part of the python script the Spyder Variable Explorer refreshes every variable size ....  While checking the DASK data frame size is not a fast action, it takes time.  The (next) Spyder 5.2.2 will solve this problem

[2021-12-08 20:19] rjzamora commented on #8445
I took a first stab at this in #8468 - I'm hoping we can use the same reduction layer for the metadata stage in to_parquet

[2021-12-08 20:21] scharlottej13 commented on #8444
Thanks for the update @korosig! We'll go ahead and close this issue, then.

[2021-12-08 20:26] #8444 closed

[2021-12-08 22:03] scharlottej13 commented on #8461
After looking into this a bit more, it seems you're correct that the [following added lines](https://github.com/dask/dask/pull/7903), and specifically `type(fill_value)` are responsible:
[code]
Before those lines were added, the Dask array was being interpreted by numpy as a numpy-compatible array, via [this protocol](https://numpy.org/neps/nep-0018-array-function-protocol.html). Now, though, the

[2021-12-08 22:11] scharlottej13 commented on #8460
@TLouf thank you for raising this issue! We were able to reproduce it easily thanks to your minimal example and it does indeed seem like this is a bug. The example you provided does work in Numpy:
[code]

[2021-12-09 14:54] joni-herttuainen commented on #3530
We have been suffering from the same issue, only in our case, we are also using `dask-mpi` and `mpi4py` for multi-node parallelization of complex computations.

We are also using pandas and numpy in our computations so those might be related. We were able to lessen the effect of the issue by running all the functions in subprocess, like this
[code]
and then calling it as follows
[code]
in which `f

[2021-12-09 15:56] rjzamora commented on #7709
@martindurant @douglasdavis - The following gist is still **very** rough for now, but may be helpful for to-be layer developers: https://gist.github.com/rjzamora/3f76c6dcbde16a4185222eaadcd1d02f

[2021-12-09 16:03] martindurant commented on #7709
Thanks very much, will give it a careful read. I wonder, though: would is not be easier to start with a layer that has no dependencies?

[2021-12-09 16:09] ian-r-rose commented on #7709
For what it's worth, I also recently wrote up some [notes](https://gist.github.com/ian-r-rose/4221ebf52f3423203640c498fb815f21) on HLG pain points. It's less detailed than Rick's but perhaps still interesting

[2021-12-09 16:58] douglasdavis commented on #7709
Thanks @rjzamora!

[2021-12-09 17:27] rjzamora commented on #7709
Are you suggesting that how-to notes should consider a simpler example, or that the tree-reduction example should start with a dependency-free case?  If you are saying the latter, can you clarify what you mean by dependencies?

[2021-12-09 17:29] martindurant commented on #7709
I meant the former

[2021-12-09 17:57] rjzamora commented on #7709
I probably agree. The official HLG-layer "how-to" docs should probably focus on a simple (contrived) example.  I was trying to come up with a "real" example that is less-complex, but I found it difficult to think of an algorithm that cannot be mapped onto a Blockwise layer, a shuffle, a join, a map_overlap call (still MaterializedLayer for now), or a tree reduction (targeted in #8468).

[2021-12-09 18:05] martindurant commented on #7709
from_numpy (https://github.com/dask/dask/pull/7417) would be a good no-deps example, and maybe the best way to finish off that PR. Also, in dask-awkward we have a few of [these](https://github.com/ContinuumIO/dask-awkward/blob/main/src/dask_awkward/core.py#L708), where the HLG should be a lazy dict and is based on a simple comprehension, but actually get materialised every time. That example is a

[2021-12-09 21:45] Christiankoo commented on #8386
Hello. Sorry for my inactivity, had a lot of work. I will try those solutions tomorrow and i will edit this comment to let you know if it worked.

[2021-12-10 08:03] GenevieveBuckley commented on #7757
Not much discussion happening here, so I'll close the thread. We can always re-open or start a new conversation if needed.

[2021-12-10 08:03] #7757 closed

[2021-12-10 09:31] GenevieveBuckley commented on #7709
That is very useful @rjzamora, thank you for writing it!

I agree with the pain points you mention in the doc. Lots of parallels with discussions Ian and Gabe have had around this as well.

[2021-12-10 09:54] GenevieveBuckley commented on #7709
I wrote [this](https://gist.github.com/GenevieveBuckley/cd8f8f756e338e1cd621741d3f67b490). It's terrible, but I did promise Ian and Gabe I would try to write *something*.

I think the most helpful ideas from it are:
1. A focus on converting existing Dask functionality (I expect more people will be doing this, compared to creating entirely new functionality with high level graphs - at least at this

[2021-12-10 15:50] jsignell commented on #8458
Thanks for opening this @kdubovikov I took an initial look and I noticed that it seems like there are incorrect values showing up in the BORN_DATE column. When I do `merge_payments_events(payments_dd, events_dd, window='1h').head()` it includes `BORN_DATE`s that are less than the min `BORN_DATE` on the original df.

There are probably several different issues at play here, but having such a nice r

[2021-12-10 17:39] #8297 closed

[2021-12-10 19:54] jrbourbeau commented on #8465
Closing as I've not seen this pop up recently

[2021-12-10 19:54] #8465 closed

[2021-12-10 20:07] jrbourbeau opened #8473 "Changelog links don't reference specific release version"
I noticed our release version anchor links in the changelog don't actually reference a specific released version. If I go to the changelog and click on the `2021.12.0` link, I'm redirected to https://docs.dask.org/en/stable/changelog.html#id1 when, naively, I would have expected this link to look like https://docs.dask.org/en/stable/changelog.html#2021.12.0 (or something similar). As you move down

[2021-12-10 22:20] Christiankoo commented on #8386
Hey. Thank you for tip. Meta keyword argument worked and it no longer throws that exception. Thanks! One question. Is there a way to pass that meta parameter for all columns? Because i have 70 columns and it is exhausting to write every single one to like this {'column1:'object','column2':'object'} etc. Is there a way to pass something that all columns will be objects? Thanks

[2021-12-10 22:57] davidhao3300 opened #8474 "Cross-scheduler inconsistent result structure"
**What happened**:

Due to a mistake in our code, we were persisting a dask dataframe in one scheduler, but then ran the compute while specifying threads scheduler. What was weird was that the computation returned a pandas Series of Futures instead of the expected DataFrame (or exception).

**What you expected to happen**:

I'm not sure what the best behavior is. Could be erroring on conflicting s

[2021-12-10 23:08] scharlottej13 commented on #8386
Glad it worked! Yeah that's a great question. I don't think Dask bag currently has any functionality to do this. One workaround might be to get the column names from your Dask DataFrame first to dynamically populate the meta argument, something like:
[code]
But maybe the others on this issue have a more elegant solution :). It might be nice to add a feature to Dask bag that's analogous to returnin

[2021-12-11 00:10] Christiankoo commented on #8386
Thanks for that workaround. For now, I will use this, if there is no other option.

[2021-12-11 00:10] #8386 closed

[2021-12-11 05:01] mgorny opened #8475 "PyPI sdist tarball is missing 'conftest.py'"
**What happened**:
Some tests fail when run from the sdist tarball on PyPI (https://files.pythonhosted.org/packages/18/23/8dea146e14e884e7e0a72738c6bc4ed2ab6939fffbd3ffa32330459861ef/dask-2021.12.0.tar.gz) because of missing fixture, e.g.:

[code]

FWICS this is because the top-level `conftest.py` is not included in the tarball (while tests are).

**What you expected to happen**:

Passing tests ;-

[2021-12-11 11:27] krishnaaxo commented on #6301
Thank you for this solution.

[2021-12-13 17:19] ncclementi commented on #8386
@Christiankoo not sure if this helps now, but another option to have the dictionary of the meta from the dataframe is, on the example above:
[code]
Then you can replace only what you need on that dictionary.

[2021-12-13 18:08] jrbourbeau commented on #8475
Thanks for reporting @mgorny. This fixture was added in https://github.com/dask/dask/pull/8250 and included in the 2021.11.2 release. `conftest.py` not being included in the the `sdist` on PyPI is a long-standing oversight, but hadn't been noticed before since it was rather minimal (e.g. it didn't contain any fixtures previously). I think we should stop shipping tests in the `dask` `sdist` and ins

[2021-12-13 18:14] mgorny commented on #8475
Sure, I've switched Gentoo builds to use GH archives already in order to fix. Just figured out you want to know about this inconsistency, especially that it have gotten me a while to figure out why some tests started failing.

[2021-12-13 18:20] jrbourbeau commented on #8475
I definitely appreciate you surfacing this! Apologies for the unexpected test failures. I'll push a PR up in a moment with updates to not ship tests

[2021-12-13 18:24] jrbourbeau commented on #8475
See https://github.com/dask/dask/pull/8478 -- thanks again @mgorny

[2021-12-13 20:12] #8466 closed

[2021-12-13 20:55] jrbourbeau opened #8480 "`test_scheduler_highlevel_graph_unpack_import` flaky"
From time to time `dask/tests/test_layers.py::test_scheduler_highlevel_graph_unpack_import` will fail in CI with the following error (see the traceback further below):

[code]

<details>
<summary>Full traceback:</summary>

[code]

</details>

[2021-12-13 21:04] #8418 closed

[2021-12-13 21:43] jsignell commented on #8463
I kind of like the idea of putting more content on the README. I tend to agree with @jacobtomlinson that this content changes very infrequently and if we can improve discoverability of information at all that is a good thing. If we end up including `contributing` and `installation` sections we can always put a test to make sure that it stays exactly the same as that content in the docs.

[2021-12-13 22:28] mathause opened #8482 "nanmin & nanmax no longer work for scalar input"
**What happened**:

`dask.array.nanmin(np.int_(3)).compute()` returns `TypeError: len() of unsized object`. This still worked in v2021.11.2. Only `nanmin` and `nanmax` seem affected, `nansum` etc still work.

**What you expected to happen**:

No error.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

xref: pydata/xarray#6016

**Environment**:

- Dask version:

[2021-12-14 06:17] GenevieveBuckley commented on #8443
I feel like this page is probably the better place for it: https://docs.dask.org/en/latest/graphviz.html

Opening a PR now

[2021-12-14 13:55] jsignell commented on #8482
Thanks for reporting this. I can reproduce and it seems like this issue probably came in in https://github.com/dask/dask/pull/8375. I'll open a PR shortly to fix.

[2021-12-14 16:57] jsignell commented on #8110
Closing this since #8124 is in.

[2021-12-14 16:57] #8110 closed

[2021-12-14 17:26] #8482 closed

[2021-12-14 17:55] MaximLippeveld opened #8485 "Add optimize_graph flag to Bag `to_dataframe` function"
This functionality is necessary to avoid the loss of annotations during graph optimization. Consider the following snippet:
[code]
In some cases `func` will not be executed on a worker with at least 1 GPU resource, because the resource annotation is lost during the graph optimization that occurs in `to_dataframe`.

[2021-12-14 19:09] martindurant commented on #8448
I don't think this is a strong argument, at least in the normal case that the tasks don't have extra annotations like retry.

[2021-12-14 21:28] davidhao3300 commented on #8448
Was about to file an issue but discovered this one, here's some code that illustrates one possible motivation for having delayed fusion support:

Basically we want to do a computation but also get some intermediate results. We're also really trying to fuse tasks together into a single node where possible. Our thought was that we can "join" the results we want together in a parent computation node

[2021-12-14 22:15] scharlottej13 commented on #8376
@ian-r-rose and I were able to reproduce this, and it looks like the error is indeed in `_normalize_function` here: https://github.com/dask/dask/blob/0d4bdea8d5215270646c7b48413e4125f590166e/dask/base.py#L982
Testing `cloudpickle.dumps` with `protocol=None` works, but with `protocol=0` you get this error:
[code]
How important is `protocol=0` here?

[2021-12-15 06:57] GenevieveBuckley commented on #7709
Circling back to the original comment on this thread:

I had a look at what would need to happen to make the code example runnable. I tried to change as little as possible about the example for this experiment, although we may find another type of example that could work better.

There are a few things that jump out:
1. Example data generation
2. Small changes needed so the code does not produce e

[2021-12-15 07:48] mathause commented on #8482
Thanks for the quick fix!

[2021-12-15 08:49] snowoody commented on #7777
I run into a similar issue with <code>dask.dataframe.read_csv().compute()</code> returning a tuple instead of a pandas dataframe.

Set <code>dask.config.set({"optimization.fuse.active": True})</code> in the code or set <code>processes=True</code> when starting the <code>Client</code> both can solve the problem.
Dask version: 2021.12.0
pandas version: 1.3.5
Python version: 3.7

[2021-12-15 09:17] jorloplaz commented on #6387
Is this really so straightforward? What if one is using row groups or some sort of row-filtering, so that the `len` of the loaded dataset isn't necessarily the one of the full dataset?

[2021-12-15 14:08] martindurant commented on #6387
The original post gives some caveats, as you mention. This would only work with row-group filtering (not row-filtering) and only before manipulations.

So no, I would not say this was straight-forward (I would remove the "good first issue"), since there isn't a good place to put the length information in a dataframe meta anyway.

[2021-12-15 16:02] Kareem-negm commented on #8463
@jrbourbeau ,  @jsignell and @jacobtomlinson, please  review if this is a good style and tell me your feedback

[2021-12-15 16:14] scharlottej13 commented on #8485
Thanks @MaximLippeveld for opening this issue! Considering this flag already exists in [Dask Array](https://github.com/dask/dask/blob/0d4bdea8d5215270646c7b48413e4125f590166e/dask/array/core.py#L2667-L2687) and Dask DataFrame, it makes sense to also add it here. For context, the loss of annotations when converting a High Level Graph to a Low Level Graph is an [existing issue](https://github.com/da

[2021-12-15 16:28] scharlottej13 commented on #8474
Thanks @davidhao3300 for opening up this issue! Would you feel comfortable opening up a PR, with the suggestion from @jsignell?

[2021-12-15 16:40] scharlottej13 commented on #8463
@Kareem-negm welcome and thank you for opening up this issue! It looks like it has generated some good ongoing discussion here on the best way to move forward. Might be good to let this conversation play out a bit before spending too much time on writing a whole `readme`.

[2021-12-15 16:42] scharlottej13 commented on #8461
@aeisenbarth would you feel comfortable opening up a PR for this?

[2021-12-15 17:54] Kareem-negm commented on #8463
Hello @scharlottej13 , Ok
I spent a little time writing a basic style for the README file that I think you will love it
you can see it here :
https://github.com/Kareem-negm/dask/tree/readme

This is a preliminary work that I did to get some modifications to the final visualization of the README structure
I am not moving forward until you and the team guide me

[2021-12-15 18:31] TomAugspurger opened #8491 "`require_extension` regression in `read_parquet`"
This example requires adlfs and planetary-computer (`pip install adlfs planetary-computer`)

[code]

This raises with

[code]

Related to https://github.com/dask/dask/issues/8349. Is this a deliberate change and I'll need to update the code? Or is it unintentonal?

In case it helps, here's the directory structure:

[code]

cc @rjzamora.

[2021-12-15 18:41] TomAugspurger commented on #8491
Reading through things a bit more closely, and looking at that file structure, I guess this might be the expected behavior?

I'm not seeing `require_extension` documented anywhere. IIUC it's passed through like `read_parquet(..., dataset={"required_extension": None})`. I don't see `dataset` documented either. Is that a pyarrow specific keyword, or can it be added as a top-level keyword argument?

[2021-12-15 19:13] #8446 closed

[2021-12-15 19:25] rjzamora commented on #8491
Ah - Right. You will need to disable the required file extensions if you only specify a directory (without a _metadata) file. This behavior was added for Spark compatibility.

I think the lack of `required_extension` documentation is a mistake, and the documentation for `dataset` ["exists"](https://github.com/dask/dask/blob/a86ff77a08809d7b5ab3712b468acea29b16f443/dask/dataframe/io/parquet/core.py

[2021-12-15 20:01] ian-r-rose commented on #8374
This has been fixed by #8410, and is available in the `2021.12.0` release

[2021-12-15 20:01] #8374 closed

[2021-12-15 20:17] ian-r-rose commented on #8331
Closing as fixed by #8354, thanks @boazmohar !

[2021-12-15 20:17] #8331 closed

[2021-12-15 21:18] jsignell commented on #8474
@jrbourbeau pointed me to https://github.com/dask/dask/issues/7082 as a broader idea that would help with this specific issue. It is probably overkill if this is the main improvement, but keeping track of some metadata about persisted layers could make cases like this more obvious.

[2021-12-15 21:47] scharlottej13 commented on #8415
Thanks all for the discussion! To summarize, it sounds like there are two options (1) to deprecate the compute option in `set_index()` or (2) to improve the documentation so it's clear that `compute=True` is only used when shuffling with disk, and therefore is only relevant when using a single machine. @jsignell, would you like to weigh in here?

[2021-12-15 22:12] asong-c opened #8493 "Dask scheduler high cpu usage when dashboard port is probed"
**What happened**:
Seeing dask-schedular slowly creep to 100% cpu usage if the dashboard port is regularly probed

Running dask-scheduler in a kubernetes pod like
`dask-scheduler --host 0.0.0.0 --dashboard-address 127.0.0.1:8100`

I have a service which checks the liveness of the dashboard at port 8100 every second.
After a short period of time dask-scheduler consumes 100% of a vCPU requested by t

[2021-12-15 22:34] jsignell commented on #8415
Thanks for the ping, I am all for deprecating surprising behaviors and eager computations. @DahnJ did you open an issue for adding a `disk` option to `persist`? That does seem like an interesting idea. I wonder if it could be supported that the workers could just pick up the pieces of data that they know about even if they don't share a disk.

[2021-12-15 22:42] asong-c commented on #8493
I have also attempted this in a container with python 2.7 and see the same behavior, 1000mcpu are used up by dask-scheduler if the dashboard port is probed at an interval of 1 second

Dask version: 2021.12.0
Python version: 3.7
Operating System: Docker image based on Ubuntu 18.04
Install method (conda, pip, source): pip

[2021-12-15 23:05] ian-r-rose commented on #8493
Hi @asong-c , I believe this is the same issue as what we ran into in dask/distributed#4287 / https://github.com/dask/dask-labextension/issues/185 . Each poll of the dashboard endpoint triggers a huge amount of Bokeh model creation, which is never really cleaned up (at least, not on the timescale we care about).

In that case, we fixed the issue by polling a known JSON endpoint rather than one of

[2021-12-16 01:04] gjoseph92 commented on #8493
@asong-c I think @ian-r-rose's suggestion of `{BASE_URL}/individual-plots.json` is a good way to fix this for now. (Also I think the xref is https://github.com/dask/distributed/issues/4827, not the `dask/dask` issue.)

But it could be interesting for us to see a profile of what the scheduler is actually doing. You could try using this utility https://github.com/gjoseph92/scheduler-profilers to run

[2021-12-16 02:29] TomAugspurger commented on #8491
Thanks. So to confirm, if I added a `_metadata` file then the additional keyword arguments wouldn't be necessary?

Yeah, I think that's a great idea. I can take that on if you want, though perhaps https://github.com/dask/dask/pull/8339/ should go in first.

[2021-12-16 02:32] rjzamora commented on #8491
If you are motivated to do it soon, then don't worry too much about #8339 (I don't mind revising it if needed) :)

[2021-12-16 14:11] martindurant commented on #7709
Ref: https://github.com/dask/dask/pull/7417#pullrequestreview-833608482 (@gjoseph92 ) for an example of how this is all complex, or at least *can be*. I am more in the dark than before!

[2021-12-16 15:30] JavierYepez opened #8495 "Different output for to_json(compute=False) and to_json(compute=True)"
**What happened**:

I'm trying to save a dataframe with more than 1 partition to a json file. For this, I'm using an asynchronous client to compute the save later. The issue is that after waiting  the return is a list full of None objects.

**What you expected to happen**:

I expected to return the same as when using `to_json(df, path, compute=True)`

**Minimal Complete Verifiable Example**:

[cod

[2021-12-16 16:27] gjoseph92 opened #8496 "`from_dask_array` materializes the graph unnecessarily"
`dask.dataframe.from_dask_array` has many instances of `ensure_dict` and low-level dict-merging, which is both inefficient and will prevent any optimizations from being applied to those layers (without https://github.com/dask/dask/issues/8447).

Convert `from_dask_array` to use and merge HighLevelGraphs properly. xref https://github.com/dask/dask/issues/8306

https://github.com/dask/dask/blob/27a7

[2021-12-16 22:58] gjoseph92 opened #8497 "Show length of layer in HLG JupyterLab repr"
When looking at the new interactive HLG repr in a Jupyter notebook, one key piece of information I often want to know is how many tasks are in a given layer (and in the total graph). This is not currently displayed in the repr, but easily could be.

![image](https://user-images.githubusercontent.com/3309802/146460850-9f8a0074-ad27-41d8-a220-6d8bdbfc3123.png)

Adding an `tasks (unoptimized)` count

[2021-12-17 18:29] jsignell commented on #8495
Ah that's a good point. In case it's not clear, the operation is working (the data is being written to the file), it's just that the return isn't very informative.

I have a super-minimal example that I was messing around with:

[code]

I think the solution is exactly what you are pointing to, but I think it's the return on `write_json_partition` that should be changed. I'll open a PR in a few min

[2021-12-17 20:27] TomAugspurger commented on #7547
We're making some progress on this in https://github.com/h5py/h5py/issues/2019, https://github.com/h5netcdf/h5netcdf/pull/117, and linked issues.

There might be some fixes possible at the fsspec level, but for now it seems like updating libraries to avoid circular references if possible is the best path forward. Either way, I don't think there's anything Dask can do, so I'm closing this.

[2021-12-17 20:27] #7547 closed

[2021-12-20 01:23] QuLogic opened #8499 "test_development_guidelines_matches_ci fails from sdist"
**What happened**:
The test fails when building from an sdist. This is because the GitHub workflows are not included in the sdist.
[code]

**What you expected to happen**: Tests pass or are skipped if not relevant.

**Environment**:

- Dask version: 2021.12.0
- Python version: 3.10
- Operating System: Fedora Rawhide
- Install method (conda, pip, source): source

[2021-12-20 01:37] QuLogic opened #8500 "conftest.py is missing from sdist"
**What happened**: During collection, several tests fail to find the `shuffle_method` fixture:
[code]

This is because the fixture is in `conftest.py`, which is missing from the sdist.

**What you expected to happen**: Tests collect and pass fine.

**Environment**:

- Dask version: 2021.12.0
- Python version: 3.10
- Operating System: Fedora Rawhide
- Install method (conda, pip, source): source

[2021-12-20 01:40] QuLogic commented on #8500
Oops, this is a duplicate of #8475.

[2021-12-20 01:40] #8500 closed

[2021-12-20 13:46] aeisenbarth commented on #8461
Yes, I can make a PR, if the suggested change is sufficient. I did not find any similar occurences in the code that would require changes in more locations or at a higher level.

[2021-12-20 16:13] gunzapper commented on #8499
Should we include GitHub workflows in sdist?

[2021-12-20 16:33] jsignell commented on #8499
I just want to point out that Dask is moving towards not packaging tests at all - see https://github.com/dask/dask/pull/8478 for that discussion.

[2021-12-20 19:50] jsignell commented on #8303
Seems like this might be similar to https://github.com/dask/distributed/issues/5504 maybe you can use the advice in that issue as a guide?

[2021-12-20 19:58] jsignell commented on #3121
I'm going to close this issue now that there is a separate project!

[2021-12-20 19:58] #3121 closed

[2021-12-20 20:03] #8173 closed

[2021-12-20 20:05] jsignell commented on #8292
Is this issue good to close? It seems like the discussion is mostly around building understanding.

[2021-12-20 20:10] jsignell commented on #8497
Just as a note, this information is available on the repr for the array itself `arr.data`

[2021-12-20 20:18] scharlottej13 opened #8503 "Update DataFrameGroupBy.apply warning"
This was brought up in a [SO post](https://stackoverflow.com/questions/70265639/best-way-to-perform-arbitrary-operations-on-groups-with-dask-dataframes), and in addition to answering the question, Sultan pointed out these notes are out of date, since shuffling is in fact used: https://github.com/dask/dask/blob/124ae53f9627ec51659398877ba9d2cc6652f28b/dask/dataframe/groupby.py#L36-L41

[2021-12-20 20:26] jsignell opened #8504 "Nightly build failure"
@charlesbluca @jakirkham it looks like the nightly build is not succeeding. Do we need to add a token somewhere?

 https://github.com/dask/dask/runs/4585485487?check_suite_focus=true

[2021-12-20 20:30] jsignell commented on #8503
I think those docs are confusingly worded but correct. Reductions (i.e. `mean`, `sum`, ...) do not shuffle and `apply` does.

[2021-12-20 20:34] ian-r-rose commented on #8503
I thought the thing that is out of date is the `Warning` note here: https://docs.dask.org/en/latest/generated/dask.dataframe.groupby.DataFrameGroupBy.apply.html#dask.dataframe.groupby.DataFrameGroupBy.apply

[2021-12-20 20:46] scharlottej13 commented on #8503
Ah that makes sense, thanks for clarifying!

[2021-12-20 20:49] jsignell commented on #8503
Ah! Yeah that one is wrong. We do a shuffle (if needed) and then each group is contained in one partition.

[2021-12-20 20:51] scharlottej13 commented on #8503
Great, sorry for the confusion! I'll edit the title :)

[2021-12-20 20:52] charlesbluca commented on #8504
Yes, we need to add a secret with the Anaconda token for the Dask channel:

https://github.com/dask/dask/pull/8469#discussion_r766130681