[2021-12-20 21:11] jsignell opened #8506 "Failing Windows tests"
There have been 2 to 5 failing windows Python 3.7 tests for the last few days (or weeks?).  This  is an example of how they look:

[code]

From: https://github.com/dask/dask/runs/4587205293?check_suite_focus=true

[2021-12-20 21:12] chrisroat commented on #8292
It seems like a bug (to me) that simple operations lead to invalid graphs.  My concern would be that it could by hiding something subtle.  Of course, I could be wrong, and my repro case may be incorrectly coded: https://github.com/dask/dask/issues/8292#issuecomment-959793163

[2021-12-20 21:43] jsignell commented on #8292
I just toyed around with a slightly modified example using `make_df_works`. Some notable differences:

 - delayed functions take inputs and return outputs.
 - uses `make_ddf_works` which calls `dd.from_delayed` on a list of delayed objects. Note that this is what the function expects as mentioned in https://github.com/dask/dask/issues/8292#issuecomment-962057514

[code]

[2021-12-20 21:48] #8388 closed

[2021-12-20 21:49] jsignell commented on #8504
Ok @jakirkham is that something that you can do?

[2021-12-20 21:55] quasiben commented on #8504
I added the `DASK_CONDA_TOKEN` -- I thought this was done already.  Things _should_ be working now

[2021-12-20 22:12] chrisroat commented on #8292
Do you have thoughts on why the graph generated with `make_ddf_broken` does not work?

[2021-12-20 22:21] gjoseph92 commented on #8497
The total number of tasks across all layers is available, but knowing the number of tasks _per_ layer isn't AFAICT

[2021-12-21 18:55] jsignell commented on #8292
I have one main thoughtsthat is not totally tested. If it is correct we can do a better job with error handling: `dd.from_delayed` is meant to handle a list of delayed objects. In `make_ddf_broken` you are passing in a single delayed object.

[2021-12-21 19:03] jsignell commented on #8292
No that's not it. I just looked and the first thing Dask does if you pass a `Delayed` is just wrap it in a list.

[2021-12-22 13:58] j-r77 commented on #8399
Thanks for the fast responses all! Took me some time to test, but I can confirm that #8416 solves our problem.

With regards to the cause of the statistics mismatch @rjzamora :
I'm passing in a path of the form `parquet/year=2021/month=12/day=20/brandcode=*/*.parquet`
Every brandcode=x folder has its own `_metadata` and `_common_metadata` file, containing a dataset written separately but with the

[2021-12-22 14:02] martindurant commented on #8399
Our code looks for a file named "_metadata", but it may well be that it's not getting the right directory root ("parquet/year=2021/month=12/day=20/"), where there is no such file in this case. fastparquet has a `root=` argument to `ParquetFile` that can be used for such tricky cases, I'm not immediately certain whether this is exposed in the dask call, or if pyarrow has similar.

[2021-12-22 14:09] #8395 closed

[2021-12-22 14:34] #8503 closed

[2021-12-22 20:07] jsignell commented on #8497
Oh yeah, just meant that the logic is probably similar if people want a first place to look.

[2021-12-22 22:24] jlehrer1 opened #8513 "DataFrame.loc errors when row indexing with list, even with set number of partitions"
**What happened**:
Recieved `KeyError: 'Cannot index with list against unknown division'` when doing row-wise indexing on a DataFrame wit ha set number of partitions

**What you expected to happen**:
Return a new DataFramee with the indexed rows

[code]

The final line throws the following error: `KeyError: 'Cannot index with list against unknown division'`

**Environment**:
Jupyterm, Python 3.9
-

[2021-12-22 22:36] jsignell commented on #8513
Yeah so that error is basically saying that `primary.known_divisions == False`. Even thought you have a set number of partitions, that doesn't mean that Dask knows the bounds of the index for each partition. The way to get known divisions is by setting the index.

[2021-12-22 23:41] jlehrer1 commented on #8513
@jsignell Can you elaborate further? I didn't see this specified in the documentation anywhere. The index is, by default, a `RangeIndex`. Setting the index tends to be very slow, so can I just do something self referential like `df.set_index(df.index)`?

[2021-12-22 23:55] jlehrer1 commented on #8513
Actually, that does not fix the problem. When I add

[code]

The error persists.

[2021-12-23 11:00] henryliou-kklab opened #8515 "[BUG] read_json doesn't respect to meta"
**What happened**:
`read_json` doesn't respect to the typeing provided in `meta`

test.txt
[code]
**What you expected to happen**:
`label` should be treated as a `string` field instead of `int`

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Environment**:

- Dask version: `dask-2021.12.0`
- Python version: `Python 3.8.12`
- Operating System: `MacOS Monter

[2021-12-23 14:54] jsignell commented on #8513
Huh ok I made a reproducible example and I think what you need is to add `sorted=True` to the `set_index` call:

[code]

That should work for your case, but I do think there is a codepath that doesn't work quite as expected if the index is the same as the original ddf. FWIW this whole pattern is being reconsidered and we are currently thinking of ways to make this smoother, faster, and easier to u

[2021-12-23 15:54] jlehrer1 commented on #8513
Thank you! This is clear

[2021-12-23 15:54] #8513 closed

[2021-12-23 16:05] jadeidev opened #8516 "Dask doesn't reload code"
### Discussed in https://github.com/dask/dask/discussions/8514

<div type='discussions-op-text'>

<sup>Originally posted by **jadeidev** December 22, 2021</sup>
I started a local dask cluster
[code]
 and ran my project and I have noticed that if I change code in one of my project submodules after running for the first time dask would still run the old code. is this the intended behavior? Admittedl

[2021-12-23 17:40] jsignell commented on #8435
I really like the idea of separating out the steps that are all wrapped up into `set_index`. I agree that it currently does too much, and is both surprising and opaque. I took a crack at implementing a `calculate_divisions` method in #8517 and I really liked how the new approach felt.

In general in Dask we tend to avoid having the user interact directly with the daskiness of dataframes (partition

[2021-12-23 17:47] jsignell commented on #8516
Thanks for writing this up! I think that this is the expected behavior. Once you have imported the `dask_toy` module on a worker it doesn't get reloaded. It's similar to having a python kernel in jupyter or something. If you want the imports to happen again, you have to restart the kernel.

[2021-12-23 17:54] jsignell commented on #8515
Thanks for writing this up! This is a really common misunderstanding so if you have any suggestions for how to make it clearer please open a pull request.

So meta tells Dask what it should expect the object to look like. It does not tell Dask to coerce the data to match `meta` it just says, until you have the real data, this is kind of what it looks like.
For your example you can just set dtype i

[2021-12-23 18:20] jadeidev commented on #8516
@jsignell thank you for the help and quick response, that makes sense. I am wondering if it is desirable to implement a "soft restart" or an option on the `Client` class to reload modules. [stackoverflow discussion about jupyter here](https://stackoverflow.com/questions/5364050/reloading-submodules-in-ipython)

[2021-12-23 18:58] jsignell commented on #8516
I went looking on the https://github.com/dask/distributed issue tracker and I found this issue: https://github.com/dask/distributed/issues/4245 which is pretty close to yours and uses the `upload_file` function to update the modules on the workers. Maybe that could be a path forward for you?

I'm going to close this for now, but please feel free to reopen if you don't get it working.

[2021-12-23 18:58] #8516 closed

[2021-12-24 06:03] henryliou-kklab commented on #8515
Thanks!
Work like a charm :)

[2021-12-24 06:03] #8515 closed

[2021-12-26 18:06] aneeshnema commented on #8473
From sphinx-doc/sphinx#1449 the issue seems to be with docutils which requires id to begin with a letter.
See https://repo.or.cz/docutils.git/blob/HEAD:/docutils/docutils/nodes.py#l2241

The easiest way to solve this is to append "v" to all releases, i.e. `2021.12.0` to `v2021.12.0`. I tested this locally, and it generates links like `#v2021.12.0` and `#v2-30-0-2020-10-06` for older releases inste

[2021-12-27 01:01] Illviljan opened #8518 "dask.array.percentile: rename interpolation arg to method"
**What happened**:
numpy is renaming arguments for percentile/quantile, for good compatibillity dask should follow numpys example: https://github.com/numpy/numpy/pull/20327

[2021-12-28 18:33] abergou commented on #7574
@crusaderky I ran across this in a different context and looked your proposed solutions above. If I understand `HighLevelGraph` correctly then I think the DummyLayer solution you propose above can be made much simpler. I believe that the Dummy layers can simply be empty, but dependent on the "combined layer" that contains all of the logic. I think that this solution is quite simple and should gene

[2021-12-28 20:25] kori73 commented on #7095
I would love to work on this issue.

This seems  similar to how `transform` or `apply `methods are implemented. My initial approach is to write a `_groupby_slice_shift` function and calling `shift` in it instead of `apply` or `transform`. I think we can then use it inside `map_partitions`.

[2022-01-01 18:44] Kareem-negm commented on #8463
Hello, Happy new year!
there are any updates?

[2022-01-01 20:57] bglossner commented on #8214
Sorry for the long break! Created a PR when you have the time. It addresses the `dtype` error I was getting and also has code for doing `axis=1`.

[2022-01-02 06:25] bluegeo opened #8524 "ProgressBar `out` parameter issues"
The `out` parameter in `diagnostics.ProgressBar` is not documented. It appears it should be a file-like object, which means bytes should be written to it by default. The current implementation raises `TypeError: a bytes-like object is required, not 'str'`.

Example:
[code]

Tested using:

- Dask version: 2021.12.0
- Python version: 3.9.7
- Operating System: Mac OS X 12.1
- Install method (conda, p

[2022-01-03 14:41] jsignell commented on #8518
Thanks for bringing this up @Illviljan!

[2022-01-03 16:23] jsignell commented on #8524
The lack of documentation (and the name `_file`) certainly makes this hard to decipher, but going back to when this change was first introduced(https://github.com/dask/dask/pull/3185), it looks like the intention was just to allow the user to specify `stdout` or `stderr`. So I think that your original issue is not supported. Would you like to open a pull request to improve the documentation?

[2022-01-03 17:32] TomAugspurger opened #8526 "Pushing array rechunking into the I/O layer"
Apologies for the vague request, but here goes. The tl/dr is

1. Sometimes, the chunking of the storage format is different from the desired chunking for analysis, requiring rechunking and complex task graphs
2. Some storage formats support reading windows, allowing for the construction of much simpler task graphs where each tasks consists of many reads + a concat
3. It would be fantastic if Dask

[2022-01-03 19:02] ian-r-rose commented on #8376
@jrbourbeau do you have any insight as to whether the specific protocol matters here?

@scharlottej13 I think it might be interesting to try out the test suite with `protocol=None` to see if anything fails.

[2022-01-03 20:03] scharlottej13 commented on #8376
Sounds good! Locally, no tests fail in dask/tests/test_base.py nor dask/array/tests/test_ufunc.py. I'll push a draft PR w/ the change to see if anything in CI fails.

[2022-01-04 15:20] mlahir1 opened #8528 "From Delayed throws exception when column names are out of order"
**Exception**
[code]
**Repro code**
[code]
**Note**: Same issue happens with pandas dfs too.

This happens in our library when we try to read multiple files as delayed dataframes and when partitions data in hive as columns in these data frames. For example:
[code]

Works fine but if I pass in partition param and add it to df I run into the error.
[code]

[2022-01-04 18:53] jakirkham commented on #8504
Apologies just got back from holiday

No this was not something I had done yet. Was waiting to see if there were any concerns with this proposal ( https://github.com/dask/dask/pull/8469#discussion_r766130681 )

However it sounds like we are ok with that approach and this has been resolved. Is that correct or are there remaining issues here?

[2022-01-04 22:42] charlesbluca commented on #8504
Yeah it seems like this is resolved, I see that nightly builds are now uploading:

- https://anaconda.org/dask/dask-core/files

We should be safe to close this

[2022-01-04 23:57] #8504 closed

[2022-01-04 23:58] jakirkham commented on #8504
@jsignell if you see any remaining issues here, please let us know and we can revisit 🙂

[2022-01-05 00:54] scharlottej13 opened #8530 "dask.dataframe.describe error with nullable data types"
**What happened**:
Error with `dask.dataframe.describe()` when columns contain nullable data types.

**What you expected to happen**:
Similar output as `pandas.dataframe.describe()` (which works)

**Minimal Complete Verifiable Example**:

[code]
<details>
<summary> full traceback </summary>

[code]
</details>

**Anything else we need to know?**:
Individually calling the methods in `describe`, `std

[2022-01-05 02:19] abergou opened #8532 "Dask interprets boolean array as an index array"
**What happened**: setting items on a dask array with a bool array incorrectly casts the array to an index array.

**What you expected to happen**: no broadcastig error.

**Minimal Complete Verifiable Example**:
[code]

**Anything else we need to know?**:

**Environment**:

- Dask version: 2021.12.0
- Python version: 3.9
- Operating System: linux
- Install method (conda, pip, source): pip

[2022-01-05 12:15] pavithraes commented on #8473
@aneeshnema Thank you for looking into this! To confirm, we're appending "v" to the release numbers only in [changelog.rst](https://github.com/dask/dask/blob/main/docs/source/changelog.rst) right? If so, the fix sounds good to me, I'd encourage you to open a PR. :)

This same issue exists in the [Distributed Changelog](https://distributed.dask.org/en/stable/changelog.html) too, would you be intere

[2022-01-05 15:08] quasiben commented on #8528
It looks like in `make_df` that returned dataframes can be ordered in three different ways, is that correct ?  Does column ordering change when doing read_orc columns ?

[2022-01-05 16:03] jsignell commented on #8530
Yeah this isn't terribly surprising. The pd nullable types are not super well supported. I think you can get through your first issue with this change:

[code]

but I haven't been able to get to the bottom of the next error yet. Are you planning on looking into this?

[2022-01-05 16:39] pavithraes commented on #8532
This may be a duplicate of #8460

[2022-01-05 17:52] scharlottej13 commented on #8530
Thanks @jsignell! Yup, I can keep looking into this.

[2022-01-05 18:33] mlahir1 commented on #8528
column re-ordeing doesn't change with read_orc. let me provide a different example to make my case clear.
[code]
but in the same above case if i pass partitions as [] (empty lits) things work as expected.

[2022-01-05 18:47] asong-c commented on #8493
Unfortunately I haven't been able to modify the polling app to test changing the polling endpoint just yet, but I have gotten some of the profiling info.

This is with and watching the kubernetes pod spike up to 1vcpu in use
`dask-scheduler --host 0.0.0.0 --dashboard-address 127.0.0.1:8100`

`client = distributed.Client("127.0.0.1:8786")
from scheduler_profilers import pyspy_on_scheduler
with pysp

[2022-01-05 18:56] gjoseph92 commented on #8435
@jsignell totally agreed. If we can't fully hide complexity, it's better not to obscure it at all. For better or worse, I think divisions are the sort of thing users do actually have to understand and interact with in order to use dask effectively.

I'm liking how your new approach feels too!

[2022-01-05 19:07] gjoseph92 commented on #8493
Thanks @asong-c, this is extremely helpful. For others, you can view the py-spy profile here: [`profile-dash.json`](https://speedscope.app#profileURL=https%3a%2f%2fgistcdn.githack.com%2fasong-c%2f9199f297477d9ba93845be8308fdbb26%2fraw%2f0218f313d7ceac6db87fde2ae19f4c6a65169ef4%2fprofile-dash.json). I recommed looking at `MainThread` in left-heavy view, which looks like this:
![image](https://user-

[2022-01-05 19:12] asong-c commented on #8493
@gjoseph92 thanks for the analysis!
I'll also see if I can confirm no problems if I can hack our poller to  reach /health or /individual-plots.json

[2022-01-05 19:16] scharlottej13 commented on #8376
Since CI has been having some issues, I ran the dask/dask test suite locally and no new tests failed (3 failed, but these also fail on `dask:main`).

[2022-01-05 21:28] jsignell commented on #8532
Thanks for mentioning that @pavithraes they are indeed very similar, but follow different code paths. Someone might be able to fix them both at once though!

[2022-01-05 21:39] #8518 closed

[2022-01-06 01:54] asong-c commented on #8493
I can confirm that with some hacks, polling /health does not result in cpu spiking reported in kubernetes (at least not after 10 min)
I can do a new profiling run for what this looks like, but im guessing it isnt really needed

[2022-01-06 04:22] ian-r-rose opened #8535 "Blockwise optimization bug when collections appear multiple times"
Okay! This is a weird one, and I'm still investigating what is going on, so bear with me. I was working on #7417 and ran into some surprising behavior with blockwise optimization. It appears to happen (at least) when
1. a collection with the same name is used more than once in a high level graph,
2. when there are at least two blockwise layers that might be combined, and
3. when there are multiple

[2022-01-06 06:14] gjoseph92 commented on #8493
I'm glad `/health` works. Though it's disappointing to me that reloading the dashboard is so expensive, I do think `/health` is the right thing to poll (and the dashboard is arguably the wrong thing to poll). Don't think we need another profile.

[2022-01-06 11:37] davidhassell commented on #8532
I'm happy to have to a look at this.

[2022-01-06 12:58] JoranDox opened #8537 "dask apply loses index type with simple meta"
**What happened**:
When trying to *apply* a function to a dataframe, and giving a simple meta, the perceived dtype of the index of the return value is lost. Also the name of the index is lost (harder to show in this minimal example, but pretty similar I assume).
In the bigger picture this gives issues with ddf.merge where it expects the index column "[0]" to exist but instead finds "nameofcolumn".

[2022-01-06 13:15] JoranDox commented on #8537
Kind-of workaround: provide this as meta:
[code]
or, if you need to change a column's type:
[code]
or if you need to add a new column:
[code]
making
[code]
into
[code]
in the worst case.

[2022-01-06 16:46] jsignell commented on #8214
No worries! Thanks for picking it back up!

[2022-01-06 17:03] rjzamora commented on #8399
When you specify `"parquet/year=2021/month=12/day=20/brandcode=*/*.parquet"`, dask will not find a `_metadata` file in the list of paths that is generated. Therefore, having multiple `_metadata` files is probably not the problem (although, Dask does assume that there can only be one of these files when it does find it).

[2022-01-06 17:51] rjzamora commented on #8535
Hmm - Thanks for raising this. I can certainly reproduce

When you say a different name, do you mean that you modify `xx._name`? I still get the error when a distinct variable name is used (because the collection name is still the same):

[code]

[2022-01-06 17:51] davidhassell commented on #8532
OK - I think I've got to the bottom of this. The problem is related to the parsing of the indices, rather than the mechanics of the assignment (which is a relief!). PR to follow.

[2022-01-06 18:43] ian-r-rose commented on #8535
Exactly -- I don't need to modify the name manually, I can pass it in as a kwarg, but if I give them different names as opposed to the deterministic tokenization, I get the right answer again:

[code]

[2022-01-06 18:44] ian-r-rose commented on #8535
Also, thanks for taking a look @rjzamora

[2022-01-06 19:12] rfilmyer opened #8539 "Add include_path_column to read_json"
Similar to #6575, I ran into a situation where the `include_path_column` argument from `dd.read_csv` would have been very useful on `dd.read_json`.

[2022-01-06 20:22] rjzamora commented on #8535
This indeed seems to be a logic bug in optimize_blockwise. It looks like the matmul layer (`Blockwise<(('mul-bd4187c86bf5b3023c3b8ab1f2397129', ('.0', '.1')), ('mul-bd4187c86bf5b3023c3b8ab1f2397129', ('.1', '.2'))) -> matmul-3e94acba0bdfaf326a7220437b4448e8>`) originally targets two distinct `indices`, but these distinct indices become a single result in the fused graph... still need to figure out

[2022-01-06 20:44] ncclementi commented on #8224
@pavithraes and @jcrist, I'm checking in here. What is the final status on this issue? It is not quite clear to me from the conversation if we are having the right behavior but is missing documentation or if there is something else going on?

Since this issue has the tag of "good first issue". Is it possible to set up clear action items on what needs to happen/what is expected so if someone were t

[2022-01-07 01:42] rudra0713 opened #8540 "Submitting multiple dask.xgboost calls causes fewer worker utilization"
I have created a random classification dataset with 100,000 rows and 30 columns and I am training the distributed xgboost on this dataset. My system has 8 workers, therefore I created 8 partitions of my dataset. While running dask.xgboost only once on this dataset, each of the 8 workers get one part of the DaskDmatrix (total it has 8 parts). But when I submit multiple dask.xgboost calls, then the

[2022-01-07 14:03] ParticularMiner opened #8541 "Mutually inconsistent `x_chunk` and `axis` argument-values during `dask.array.reduction()`"
Hi all @dask

I continue to thank you guys for the wonderful program that `dask` is!

I'm not sure if the behavior described below is by design or an oversight.  But feel free to let me know what you think.

When "tree-reducing" a `dask` array `x` along multiple axes using
[code]
the values of the `x_chunk` and `axis` arguments passed to the callable `aggregate` when `concatenate=False` (or to the

[2022-01-07 16:33] crusaderky commented on #7574
@abergou the layers returned by ``__dask_layers__`` should contain all the keys returned by ``__dask_keys__``, see
https://docs.dask.org/en/latest/custom-collections.html#dask_layers__

I'm not adverse in principle to changing the spec of the method from
[code]
to
[code]

However we'd need to investigate all current uses of ``__dask_layers__`` - namely I suspect it may not play nice with ``dask.gr

[2022-01-07 18:13] rjzamora commented on #8535
I submitted a possible fix in #8542.  However, I still feel a bit confused by this one, so I welcome feedback (and/or other suggestions) :)

[2022-01-07 18:21] ian-r-rose commented on #8535
Thanks @rjzamora! I'll take a look today

[2022-01-07 18:22] ian-r-rose commented on #8535
I would think it's actually pretty important to get a fix for this in `main`, even if it's imperfect. Silently getting the wrong value for matrix multiplication in some cases is a fairly big deal

[2022-01-07 18:48] jrbourbeau commented on #8227
Closing as this issue has been resolved -- thanks all!

[2022-01-07 18:48] #8227 closed

[2022-01-07 19:01] jrbourbeau commented on #8540
Thanks for raising an issue @rudra0713. It's not clear to me if this behavior is due to Dask or XGBoost -- cc'ing @trivialfis for thoughts on the XGBoost side of things

[2022-01-07 19:11] choldgraf commented on #8227
I saw this pop up in my notifications and was like oh god what have we broken now?! 😆

[2022-01-07 19:39] gsheni opened #8543 "Set minimum pyyaml version"
- Currently, in `setup.py`, there is not a minimum pyyaml version set
  - https://github.com/dask/dask/blob/3c46e89aea2af010e69049cd638094fea2ddd576/setup.py#L37
- It would be ideal if dask set the minimum require version

[2022-01-07 19:51] #8473 closed

[2022-01-07 20:08] jrbourbeau commented on #8543
Thanks for raising an issue @gsheni. Agreed setting a minimum version for `pyyaml` would be a nice improvement. Do you have a suggestion on what a good minimum version would be? Looking at `pyyaml` releases, 5.3.1 seems like a reasonable minimum as it's almost 2 years old.

The relevant places where we would need to add `pyyaml >= <minimum-version>` are:

- https://github.com/dask/dask/blob/c2b962

[2022-01-07 20:59] gsheni commented on #8543
@jrbourbeau I would be glad to pickup this issue.

[2022-01-07 21:23] scharlottej13 commented on #8458
Thanks for this question @kdubovikov! I think I have an idea as to what is happening here. The approach suggested in the [SO post](https://stackoverflow.com/questions/58810517/pd-merge-asof-with-multiple-matches-per-time-period) also doesn't work as-is in their example with Dask, and it seems this is indeed (as you noted) because the `right_on` columns are not returned in the Dask `merge_asof`, wh

[2022-01-07 21:41] ianliu opened #8546 "Allow coroutines to be used in dask.bag operations"
Would be nice if dask allowed to pass coroutines directly to dask bag operations, such as map, filter, foldby, etc.

Seems like https://github.com/dask/distributed/pull/5151 added the ability to submit coroutines on the client object.

I've submitted this request here first: https://dask.discourse.group/t/is-it-possible-to-map-coroutines-in-a-dask-bag/174

[2022-01-08 16:02] lampda commented on #4643
Has this bug fixed already?

When I do outer merge,  I had this error message:
*"ValueError: Length of passed values is 0, index implies 48679."*

My pandas is of version '1.1.5' while dask '2021.03.0'

[2022-01-08 21:28] jakirkham commented on #4643
@lampda would suggest raising a new issue with a minimal reproducer

[2022-01-09 03:22] gVkWY8NJAa opened #8547 "Unable to replicate random samples between dask and numpy"
**What happened**:
When the same random seed is used for both dask and numpy, the output of random.normal() do not match each other.

**What you expected to happen**:
I would have expected the output to match verbatim. When setting a dask random state, and then calling `<random_state>._numpy_state.normal()` the results will match those from numpy. However, this returns a np.ndarray() versus a dask

[2022-01-09 07:32] ParticularMiner commented on #8541
To illustrate the above issue, see the following example:

[code]

The following is the output from the first stage of recursion during `reduction()` where we observe `x_chunks` is a list of lists (two-dimensional) as expected:
[code]
Next is the output from the second stage of recursion where we observe `x_chunks` is just a list (one-dimensional) since one axis is already completely reduced but n

[2022-01-10 13:53] crusaderky opened #8549 "OSError: Could not load shared object file: llvmlite.dll"
There's an upstream bug in llvmlite on Windows that will cause the process scheduler to randomly fail:

https://github.com/numba/llvmlite/issues/808

[2022-01-10 16:49] jsignell commented on #8539
Hi @rfilmyer, thanks for opening this feature request. If you are interested in working on this, please feel free to open a Pull Request.

[2022-01-10 16:57] crusaderky commented on #8549
Interesting - I'm seeing it fail *always* on test_set_index_consistent_divisions, *never* on scheduler="processes", and exclusively on Python 3.7/Windows. Not sure about the reason.

[2022-01-10 17:40] rjzamora commented on #8549
I am getting Python 3.7/Windows failures in several PRs (where no other CI is failing). `test_set_index_consistent_divisions` always fails, but the other failures vary from run to run. For example, #8551 has 3 failures and it is just a fake docstring change.

[2022-01-10 18:03] jsignell commented on #8547
Hmm. I'm not sure that I expect dask and numpy to match each other. I just expect dask to match dask and numpy to match numpy. Can you explain what motivates you to want them to match each other?

[2022-01-10 18:14] djhoese commented on #8547
I'm not the original poster, but I've followed this conversation from the original slack question. I could see someone who has unit tests written for numpy who wants to switch to dask and make sure they get the same results. Obviously if dask and numpy generate random numbers differently then this can't be depended on, but looking at the source code the dask random functions use the same numpy Ran

[2022-01-10 20:19] jsignell commented on #8547
That makes sense as a scenario. I'll leave this open and see if anyone else chimes in.

[2022-01-10 22:12] #7095 closed

[2022-01-10 22:42] scharlottej13 commented on #8458
Here's a better minimal example to show the `right_on` column is not returned in Dask, but it is in Pandas, while both `left_by` and `right_by` are returned in both:

[code]

[2022-01-10 23:39] gVkWY8NJAa commented on #8547
Thanks for the question, there are two areas of interest with this. The first is the doc string in the random.py module whose `RandomSate` class says the following:
[code]
While the it may be identical to `np.random.RandomState` algorithmically, its implementation appears to not be identical due to how the seed is handled in practice. The reader of the comment may assume logically that the behavio

[2022-01-11 07:49] jakirkham commented on #7189
Just to add here this traces back to NumPy issue ( https://github.com/numpy/numpy/issues/18555 ) as mentioned in comment ( https://github.com/conda-forge/numpy-feedstock/issues/229#issuecomment-806625665 ). This was fixed in PR ( https://github.com/numpy/numpy/pull/19926 ) included in NumPy 1.22.0, which was recently released in conda-forge ( https://github.com/conda-forge/numpy-feedstock/pull/251

[2022-01-11 14:30] #6593 closed

[2022-01-11 15:32] crusaderky commented on #7189
@jrbourbeau could you retest on your macintel please?
[code]

[2022-01-11 17:03] y-he2 commented on #8290
Turns out this kind of "custom worker memory store" could be easily done with Ray's Plasma Object Store, I didnt even needed to use those stateful actors.
Its as simple as:
[code]
for anyone who might run in similar problems. And Ray handles the storing and loading pretty well in memory (maybe even shared memory, but not sure and no time to verify for that part yet).

If theres more question or fo

[2022-01-11 17:13] y-he2 commented on #8289
At the moment Im a bit more confident that this function is worthy to implement. As I happened to refactored my solution and did a preprocessing on those 20k files, baked in some massively parallel operations, indexing, and most importantly, bundled together the files into roughly 100M partitions, and cached.

If my observation was correct, this refactoring, gave at least 20x speedup for whatever

[2022-01-11 17:18] y-he2 commented on #8290
Also as for the slow performance part, since I mentioned that I suspecting #8289 was causing it, and it turns out I could be correct.
So to clarify:
* For the custom worker memory part, it was solved by Ray's Plasma Object Store. Although it did not caused slow down, even with the old solution code when I was using Dask.
* The slow down could in fact been caused by #8289 as I suspected in the end

[2022-01-11 19:06] jrbourbeau commented on #7189
Yep, I can confirm `python -c "import numpy; numpy.ones(120) ** -1"` no longer raises a `RuntimeWarning` with the setup in https://github.com/dask/dask/issues/7189#issuecomment-1010079448

[2022-01-12 16:14] jsignell commented on #8387
I'm going to close this issue for now, but @astrofrog if you are able to provide more information about your use-case please feel free to reopen

[2022-01-12 16:43] scharlottej13 commented on #8546
Thanks @ianliu for opening this issue! Would you mind expanding a little bit on your use case for this? @jrbourbeau or @jsignell do you know if this has come up before?

[2022-01-12 16:47] scharlottej13 commented on #8541
Thanks for this issue @ParticularMiner! @bryanwweber thanks for taking a look!

[2022-01-12 16:51] jsignell commented on #8537
Yeah I take that whole lecture back. You just need to pass a tuple instead of a plain dtype. That way dask knows to expect a series. If you look at the warning when you don't provide a `meta=` you'll see that is actually what it recommends:

[code]

[2022-01-12 17:01] scharlottej13 commented on #8528
@quasiben do you know what the next steps for this would be?

[2022-01-12 17:08] scharlottej13 commented on #8496
@gjoseph92 would you be able to provide a little more detail on this in case a new contributor would like to pick it up?

[2022-01-12 17:40] jsignell commented on #8537
I think that in the case that you originally tried dask should throw an error.

[2022-01-12 18:34] jrbourbeau commented on #8539
I think @bryanwweber mentioned he is planning on picking this issue up

[2022-01-12 19:56] gjoseph92 commented on #8496
I would probably not recommend this for a new contributor. After reading through the current code, I think I would approach this by rewriting it with a different approach: rather than generating graphs, you can fully express this operation using the high-level Array and DataFrame APIs, then `da.map_blocks`/`da.blockwise`/`dd.map_partitions` (not sure which yet) to combine the array with the new in

[2022-01-13 12:35] JoranDox commented on #8537
Ooh good point, I totally missed that in the warning, thanks, that solves it for us! :+1:
Shall I leave this issue open until the pull request is finished? Or just close it already?

Also a big fan of a comprehensive blog post detailing the finer parts of meta :smile:

Thanks!

[2022-01-13 14:48] jsignell commented on #8537
Nice! Let's leave this open and I'll just add a little test for the PR and it should be mergable.

Feel free to comment on the blog post idea if you have any other questions or confusions! I'm going to get to it at some point :)

[2022-01-13 15:21] #7189 closed

[2022-01-13 18:49] #8532 closed

[2022-01-13 18:50] #8461 closed

[2022-01-13 20:45] gjoseph92 opened #8567 "Show names of layer dependencies in HLG JupyterLab repr"
Similar to https://github.com/dask/dask/issues/8497. The interactive HLG repr displays the layers in topological order, but you can't actually tell if a layer depends on just the one layer before it, or on multiple.

A proper graph layout would of course be cool, but that's unnecessary and far out of scope.

For now, it would be nice to just list the names of the layers that each layer depends on.

[2022-01-13 23:36] jrbourbeau opened #8568 "Document `dask.DataFrame.from_delayed` compatibility with `Future`s"
`dask.DataFrame.from_delayed` works when either an iterable of `Delayed` objects or an iterable of `Future`s are passed in as input. However, the docstring for `from_delayed`

https://github.com/dask/dask/blob/358a5e367eedc8f2963651071a72f43e0ac4f887/dask/dataframe/io/io.py#L573-L576

only mentions compatibly with `Delayed` objects. We should update the `from_delayed` docstring to also mentioned `

[2022-01-14 06:49] quasimik opened #8569 "Cannot join DataFrame on nullable data types (e.g. Int64)"
**What happened**:

I tried joining on a column with a nullable integer type (from Pandas), and it failed.

* Using `.compute()` beforehand works
* Using the corresponding non-nullable type (e.g. `int64`) works
* The column does not contain `<NA>` data (although I did expect it to still work with them)

**What you expected to happen**:

The join should work and treat `<NA>` datapoints as NaNs

**M

[2022-01-14 07:03] #8569 closed

[2022-01-14 17:22] #8535 closed

[2022-01-14 18:03] gjoseph92 opened #8570 "Culling massive Blockwise graphs is very slow, not constant-time"
**tl;dr: Could `get_all_external_keys` and `get_output_keys` be avoided in HLG culling?**

In some workflows, it can be desirable to create a dask Array/DataFrame structure representing some full-size, enormous dataset, then immediately use slicing to sub-select out only a tiny part of it, then work with that. Now that we can use Blockwise for IO (xref https://github.com/dask/dask/pull/7417), this

[2022-01-14 22:50] pr4deepr opened #8574 "dask yaml load error: TypeError"
**What happened**:
I am using a library [aicsimageio ](https://github.com/AllenCellModeling/aicsimageio) to read images and dask is a dependency. When I run the command:
`import aicsimageio`
 I get this error:
`TypeError: load() missing 1 required positional argument: 'Loader'
`
I've never had this error before. When looking at the error traceback, it appears to be related to dask and PyYAML

[cod

[2022-01-14 23:00] jrbourbeau commented on #8574
Thanks for raising an issue @pr4deepr. What version of `distributed` are you using? It looks like you may be running into https://github.com/dask/distributed/issues/2564 which was resolved a couple of years ago. `dask` and `distributed` are co-maintained and released, so if you're using `dask=2022.01.0` then you should also use `distributed=2022.01.0`

[2022-01-14 23:23] pr4deepr commented on #8574
This maybe a Google COlab thing..
I ran `pip install distributed==2022.01.0`

[code]

It says `distributed 1.25.3` as the old version??

It seems to work now.
I may have to explicitly state to install an updated version of distributed.
Thanks!

[2022-01-14 23:27] #8574 closed

[2022-01-15 22:24] QuLogic opened #8575 "Remove `list` tag?"
Probably this was an accident, and can be deleted: https://github.com/dask/dask/releases/tag/list

[2022-01-16 03:12] jrbourbeau commented on #8575
This was an old tag that was, as you mentioned, accidentally added. I remember deleting it at some point, but must have been accidentally pushed again. Thanks for letting us know -- I just deleted the tag

[2022-01-16 03:12] #8575 closed

[2022-01-16 19:04] Kirito1397 commented on #8568
Hello,
I recently found out about Dask and would really like to make my contribution to this awesome project. I am a beginner and would like to take upon this issue.

[2022-01-17 03:53] chrisroat opened #8577 "zarr region support"
The ability to write subsets ("regions") of data to zarr seems useful, and xarray does support it.  Would it be a problem to add a `regions` keyword to `to_zarr`?

Below is a code example of what I've used to write regions of an array separately.  I do this because my graphs are unwieldy and can be trivially parallelized across the first dimension.  It seems to work.

[code]

[2022-01-17 07:56] alcinos opened #8578 "groupBy on index of Series fails"
**Minimal Complete Verifiable Example**:

[code]

Instead of returning the same result as plain pandas, the above snippet crashes with the following traceback:
[code]

The above computation works fine when grouping the full dataframe, for eg `ddf.groupby("A").cumsum().compute()`
**Environment**:

- Dask version: '2022.01.0'
- Python version: 3.9
- Operating System: linux
- Install method (conda, p

[2022-01-17 08:21] alcinos opened #8579 "Type inference failure when column type is np.ndarray"
**Minimal Complete Verifiable Example**:

[code]

It seems that Dask incorrectly assumes the type of df["arrays"] to be str, and therefore complains when doing the addition:
[code]

**Environment**:

- Dask version: '2022.01.0'
- Python version: 3.9
- Operating System: linux
- Install method (conda, pip, source): pip

[2022-01-17 14:30] abergou commented on #8568
Question: it appears that [dask.array.from_delayed](https://docs.dask.org/en/stable/generated/dask.array.from_delayed.html) also works with either a `Delayed` object or a `Future` (though unlike the data-frame verison not sequences of these objects). Is this also supported functionality?

[2022-01-18 09:39] JSKenyon commented on #7449
Hi @rjzamora! I know it has been a while but this reproducer is still broken (and makes debugging some of my code very difficult). Should I open a new issue?

[2022-01-18 13:00] jorisvandenbossche opened #8580 "Failures with upcoming pandas 1.4 release"
There are already some issues / PRs related to this (eg some upstream failures are also listed in ), but I thought it might be useful to have a dedicated issue about this.

Pandas released a 1.4.0rc0 last week, and probably will release a final 1.4.0 next week.

The upstream test build (eg https://github.com/dask/dask/runs/4823351165?check_suite_focus=true) shows several failures, falling into a f

[2022-01-18 15:15] jorisvandenbossche commented on #8439
Small note that we are undoing this deprecation, see https://github.com/pandas-dev/pandas/pull/45449 (https://github.com/pandas-dev/pandas/issues/45034).

That aside, it can of course still be useful to add a `.view()` method (but it should certainly make it less critical)

[2022-01-18 15:23] ian-r-rose commented on #8439
Thanks @jorisvandenbossche

[2022-01-18 15:28] rjzamora opened #8581 "Blockwise serialization can fail with LocalCluster(processes=False)"
This issue is an attempt to clearly highlight an existing bug in Dask that has been (less-clearly) reported in a number of places (e.g. #7449 and #7777): The current serialization machinery used in Dask and Distributed does not work when `LocalCluster` is used with `processes=False`.

This bug shows up any time a `Blockwise`-based `HighevelGraph` (HLG) layer contains a local graph with nested task

[2022-01-18 15:31] rjzamora commented on #7449
Thanks for following up on this @JSKenyon - Rather than re-opening this issue, I submitted #8581 to focus a bit more on the root serialization problem.

[2022-01-18 15:38] rjzamora commented on #7777
I'd like to close this issue in favor of #8581 - Although this issue has useful discussion, that bug report is bit more focused on the underlying serilaization issue (and the likely fix in distributed).

[2022-01-18 15:38] #7777 closed

[2022-01-18 15:54] abergou opened #8582 "Indexing 0-D dask array handling raises exceptions"
**What happened**:
The following code raises an exception:
[code]

**What you expected to happen**:
I would expect this to match numpy behavior:
[code]

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**: nope

**Environment**: linux

- Dask version: 2022.01.0
- Python version: 3.9
- Operating System: linux
- Install method (conda, pip, source): pip

[2022-01-18 16:30] douglasdavis commented on #8582
Thanks for including the minimal reproducer! It looks like the raise is coming from a divide by zero in the array slicing logic, I'll dig a bit more.

Full traceback for reference

[code]

[2022-01-18 16:59] jrbourbeau opened #8583 "Add scheduler option to `assert_eq` utilities"
In https://github.com/dask/dask/pull/8559 we added a `scheduler=` keyword argument to `dask.dataframe.assert_eq` to allow for cases where we want to run the computes that happen in `assert_eq` on a specified scheduler. As a follow-up, we should add a similar `scheduler=` keyword argument to our other `assert_eq` utilities in `dask.array`

https://github.com/dask/dask/blob/a504115312b1e591604276a30

[2022-01-18 17:27] jsignell commented on #8580
Thanks for raising this @jorisvandenbossche! It is indeed good to see these all in one place. If you have time to take a look at any of the PRs it would definitely be appreciated.

[2022-01-18 17:27] jsignell commented on #8546
Yeah I think this has come up before but I can't find a reference.

[2022-01-18 18:01] graingert commented on #8580
re upgrading to sqlalchemy 1.4 https://github.com/dask/dask/pull/8158

[2022-01-18 18:39] jrbourbeau opened #8584 "`@derived_from` decorator not copying docstring"
Earlier today I noticed that some methods which use our `derived_from` utility to copy docstrings over from some other method (e.g. `dask.dataframe.DataFrame.ffill` copies it's docstring from the corresponding pandas `ffill` method)

https://github.com/dask/dask/blob/85bc7b5bb888c8a96eee3db07b260ca11d7cc130/dask/dataframe/core.py#L1443-L1445

isn't working

[code]

while other methods, e.g. `dd.Da

[2022-01-18 19:15] jsignell commented on #8577
That sounds reasonable to me! If a `regions` kwarg would be useful, I encourage you to submit a pull request.

[2022-01-18 19:19] jsignell commented on #8582
@douglasdavis if this is a regression, just wanted to make sure you are aware that there were recent changes in https://github.com/dask/dask/pull/8538

[2022-01-18 19:34] abergou commented on #8582
Doesn't appear to be a regression: it has existed since at least 2021.11.2

[2022-01-18 19:48] jsignell commented on #8579
Thanks for raising this issue @alcinos you are exactly correct in your diagnosis. In particular I was hoping that it would be possible to workaround this issue by providing dask with more information about what the dataframe looks like. You can do this by setting `_meta` like:

[code]
After you set the meta you'll see that you can do addition on the whole dataframe:

[code]

But unfortunately that

[2022-01-18 20:49] jsignell commented on #8578
Thanks for taking the time to write this up! Here's another workaround for dask:

[code]

I think I'll be able to make a quick fix for this.

[2022-01-18 20:54] jsignell opened #8585 "Make meta publicly accessible"
There have been some issues coming up with how we handle `meta`. I think they boil down to users needing a way to control the meta on their dask.dataframe objects.

1. add public methods for setting/getting meta.
2. add meta as a kwarg on all functions so people can optionally specify what their output looks like
3. preserve as much info as possible on meta (things like setting meta to a subset of

[2022-01-18 21:32] #8439 closed

[2022-01-19 09:35] rickbeeloo opened #8586 "Aggregrate without summarizing the original dataframe"
Goal
-----
_P.s. I was not sure if this was more suited here or StackOverflow, since this is quite specific I posted it here, let me know!_

I wonder whether it is possible to retain the columns on which `groupby` was applied. What I currently do is, `agg` using `list` and then `explode` the results again (see below). This however seems quite expensive as adding "list" jumps the runtime from 9 sec

[2022-01-19 14:23] jsignell commented on #8578
Ok it is more involved than I had hoped. But I just wanted to report back that the failing logic is specifically in the `_cum_agg` method so only cumsum, cumprod and the like should be having this issue.

[2022-01-19 16:34] jsignell commented on #8586
This is a kind of unusual pattern for dask, because dask doesn't support multi-index very well, but it seems like for such a customized workflow you would be better off just operating on the partitions directly using `map_partitions` or just iterating over `partitions` (that is assuming that the data for each groupby fits on one partition). Can you implement this same workflow for pandas?

[2022-01-19 16:38] pavithraes commented on #8586
Hi @rickbeeloo , thanks for opening this issue! It seems like this question is more of a usage question than a bug report or feature request. We encourage people with such questions to ask them at the [Dask Discourse](https://dask.discourse.group/). Would you mind opening a discussion topic about this over there, implementing `@jsignell`'s suggestion? If you do so, feel free to close this issue an

[2022-01-19 17:06] bryanwweber commented on #8541
Hi @ParticularMiner sorry, I haven't had a chance to look at this yet. Hope to this week!

[2022-01-19 18:41] #8495 closed

[2022-01-19 20:36] jsignell commented on #8568
Yes @abergou I think delayed and futures are generally meant to be pretty interchangeable.

[2022-01-19 20:36] #8568 closed

[2022-01-19 20:40] jsignell commented on #8546
I think I was thinking about an issue where the user wanted to pass iterables of futures to `from_delayed` so I am no longer sure if there has been a request to pass coroutines

[2022-01-19 20:43] #8485 closed

[2022-01-20 03:04] gjoseph92 commented on #8570
So would it be possible to rewrite the culling process to not require any layers to generate all their keys?

[2022-01-20 17:27] scharlottej13 opened #8596 "Add `engine_kwargs` argument to `dask.dataframe.to_sql`"
This question came up on the [Dask Discourse](https://dask.discourse.group/t/how-to-provide-ssl-details-in-the-ddf-to-sql-function/206). We were able to come up with a solution, but noticed the [`dask.dataframe.read_sql_table`](https://docs.dask.org/en/latest/generated/dask.dataframe.read_sql_table.html) accepts an `engine_kwargs` argument while [`dask.dataframe.to_sql`](https://docs.dask.org/en/l

[2022-01-20 18:17] KangchengHou opened #8598 "ValueError of shape mismatch when assigning vector to a slice of matrix"
**What happened**: ValueError of shape mismatch when assigning a column vector to a slice of matrix.

**What you expected to happen**: the assignment should work without error

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Environment**:

- Dask version: 2022.01.0
- Python version: 3.8.5
- Operating System: Mac OS X and Linux
- Install method (conda, pip,

[2022-01-20 19:20] davidhassell commented on #8598
Hi, this is another index parsing bug (sorry!) - I can make a PR for this.

[2022-01-20 20:22] #8582 closed

[2022-01-20 21:10] quasiben opened #8599 "`Series.str` / `Series.dt` methods missing from Docs"
Dask has many str accessor methods implemented but these are all missing from the documentation. For example, Dask supports `Series.str.capitalize` but it's missing in https://docs.dask.org/en/stable/dataframe-api.html.

xref: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.capitalize.html

[2022-01-20 21:18] jrbourbeau commented on #8599
Thanks for pointing that out @quasiben. In addition to the `Series.str` methods, Dask also supports `Series.dt` accessors like `Series.dt.hour` https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.hour.html which would also be nice to add to the Dask API docs

[2022-01-21 13:30] ParticularMiner commented on #8541
Hi @bryanwweber, @scharlottej13

Pls [follow this link](https://github.com/ParticularMiner/dask/pull/2#issue-1110345797) to see a fix in my `dask` fork in which I chose to fix the number of dimensions of the list of lists.  (This seemed to be the easiest and most backward-compatible option.)

There, the code above now gives at the 1st stage of recursion:
[code]
and at the 2nd stage of recursion:
[

[2022-01-21 16:30] rwijtvliet commented on #7783
Sorry if this reopens the issue - that's not my intention - but I cannot find the thread where this has been discussed and decided. I'd like to see if there is a way for me to code around this deprecation. Could someone point me to the correct thread? Many thanks.

[2022-01-21 16:37] jsignell commented on #7783
That would be somewhere in the pandas issue tracker or codebase @rwijtvliet, Dask is just following :)

[2022-01-21 16:55] rwijtvliet commented on #7783
Ah right, didn't see I was in the wrong project 😅

[2022-01-21 17:50] ParticularMiner commented on #8541
@bryanwweber, @scharlottej13

Moreover, exchanging the values of `a` and `b`:
[code]
yields:
1st stage of recursion:
[code]
2nd stage of recursion:
[code]
which is what one would expect.

[2022-01-21 18:50] #8348 closed

[2022-01-21 21:12] blasscoc opened #8607 "Improve how apply_along_axis deals with the shape""

[2022-01-21 21:33] ian-r-rose commented on #8607
Hi @blasscoc, can you provide a description of what you would like to improve, ideally with a reproducible example?

[2022-01-21 21:51] tuffacton opened #8608 "MD5 not supported without usedforsecurity=False in FIPS 140-2 environment"
**What happened**:
In a FIPS 140-2 enabled CentOS 7 VM I got an error much like the one described here: https://github.com/paramiko/paramiko/issues/396

I had to effectively perform this monkey patch: https://stackoverflow.com/a/70232502

Changed `.env/lib/python3.6/site-packages/dask/base.py`:

```855     return md5(str(tuple(map(normalize_token, args))).encode()).hexdigest()```

to

```855     r

[2022-01-21 22:07] amirkdv commented on #8596
@scharlottej13 I looked into this a bit and I think there are some design decisions to be made here.

[`dask.dataframe.to_sql`](https://docs.dask.org/en/latest/generated/dask.dataframe.to_sql.html) delegates db-facing logic to [`pandas.DataFrame.to_sql`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html) through a `con` argument. This is expected to be a full sqlalchemy URI

[2022-01-21 22:42] ian-r-rose commented on #8585
I think making `meta` a public attribute is a good idea. It's already part of the public API in a number of places (various `map` and `apply` function args), and having it be private on a collection is kind of weird. In particular, I would love to be able to explicitly say: "this map operation doesn't change the shape/dtype", which today looks something like (AFAIK):
[code]

Maybe just a getter? I

[2022-01-22 00:31] scharlottej13 commented on #8596
Hi @amirkdv and welcome! Thanks for having a look at this issue. I think you bring up some great points about design consideration. Specifically:

This is exactly what I was thinking-- to make `dask.dataframe.to_sql` more symmetrical to `dask.dataframe.read_sql_table`, for clarity.

Yes! That was exactly what we suggested as a solution. This issue is more of a feature request than a bug issue, in

[2022-01-22 21:38] amirkdv commented on #8596
Thank you @scharlottej13! I hadn't looked at the actual Discourse page and had missed your similar comments re SSL, sorry about that.

I've opened a PR for this. The test case I used was a much simpler `echo=True` as an engine kwarg, the SSL use case turned out to be a bit more complicated, see PR for details.

[2022-01-22 21:41] amirkdv commented on #8596
Thanks @scharlottej13! I hadn't look at the original Discourse page and had missed your comments re SSL, sorry about that!

I've opened a PR for this. I used a simpler `echo=True` as the use case. The SSL use case turned out to be a bit more complicated, see PR for details.

[2022-01-23 15:50] martinfleis opened #8611 "regression in a custom groupby.agg when split_out is not None"
**What happened**:

It seems that the changes in #8468 broke custom aggregation over in `dask_geopandas`, where we implement our own function to be able to aggregate geometries. When specifying `split_out` in the `.agg` method, it currently raises an error. With `split_out=None`, it is all fine, so I think that this is an issue on the dask side, not on dask_geopandas side.

**What you expected to

[2022-01-23 16:27] shashiracherla commented on #8584
Hi tried to solve it seems like `pandas.DataFrame.ffill.__doc__` is empty unlike cummax but somehow `help(pandas.DataFrame.ffill) `seems to work

[2022-01-23 16:57] jorisvandenbossche commented on #8611
It's probably not a regression in dask, but an existing issue with the interaction with geopandas.GeoDataFrame being a special sublcass.

What changed in #8468, is that `apply_concat_apply` starts to use `map_partitions`. And with `split_out` specified, it calls `map_partitions` a second time, which I think is what triggers the direct error. But I think it's actually already caused by the first ca

[2022-01-23 19:30] kori73 opened #8613 "Outdated code example in dataframe create docs"
`From raw dask graphs` section in dataframe-create.rst contains the following code block:

[code]

However, when we pass ``columns`` to ``dd.DataFrame``, I get the following error:

`ValueError: Expected iterable of tuples of (name, dtype), got ['price', 'name', 'id']`

It seems like the example code is outdated and we should pass ``meta`` instead of ``columns``.

[2022-01-24 14:34] rjzamora commented on #8611
Thanks for investigating this @jorisvandenbossche! Feel free to ping me if we need changes on the Dask side

[2022-01-24 17:10] jsignell commented on #8585
Thanks for engaging with this Ian! I should have put in the original post that I was talking this came up in conversations with @gjoseph92. I think it was his idea to emphasize the potential positive impact on error messages :)

I think that anytime there is a method that outputs a dataframe, it is potentially useful to be able to override the meta. Not that we should force people to provide it li

[2022-01-24 17:34] #8537 closed

[2022-01-24 17:36] jsignell opened #8615 "Pyarrow failures on 3.7 builds"
@rjzamora  @martindurant all the Python 3.7 builds have been failing on these two tests. I suspect that it has to do with some version mismatch.

[code]

[2022-01-24 17:38] martindurant commented on #8615
I suppose pyarrow>2 was not released for py37. We no longer need these tests at all. Dask is dropping py37 anyway, right?

[2022-01-24 17:44] jsignell commented on #8615
Yeah Dask is dropping py37 soon, in the meantime can I just delete these tests?

[2022-01-24 17:46] martindurant commented on #8615
yes, do

[2022-01-24 17:48] jsignell commented on #8615
Oh man :facepalm: sorry for the ping. Rick already handled this in https://github.com/dask/dask/commit/fa6a5d619d42877283042c85abccc620f1ede100

[2022-01-24 17:48] #8615 closed

[2022-01-24 17:58] jsignell commented on #8580
Alright pandas 1.4 has been released and as expected there are some failures in the python 3.9 environments where we pick up latest pandas.

[2022-01-24 18:13] rjzamora opened #8616 "[DISCUSSION] Layer-by-Layer Graph Execution"
### TLDR

**Rough Proposal**: In order to overlap graph communication with scheduling and computation, we should enable **partial** task-graph execution. Further details are discussed below, but the ultimate goals is to completely remove the need to send HLGs to the scheduler (while hopefully improving Dask's ability to handle large-scale graphs).

**NOTE:** The ideas here are mostly a combination

[2022-01-24 18:17] rjzamora commented on #8616
cc @quasiben @jakirkham @mrocklin @jcrist (critical thoughts very welcome)

[2022-01-24 18:54] #8613 closed

[2022-01-24 18:55] #8598 closed

[2022-01-24 19:15] jsignell commented on #8580
I'm opening a PR now to skip append tests.

[2022-01-24 19:56] gjoseph92 commented on #8616
@rjzamora thanks for writing this up; I've been wanting to discuss something similar.

Layer-by-layer will be hard to schedule well. It might make root task overproduction even worse (https://github.com/dask/distributed/issues/5555 / https://github.com/dask/distributed/issues/5223). Since layers are essentially breadth-first, and execution order should be essentially depth-first, I don't think we'

[2022-01-24 20:10] rjzamora commented on #8616
This idea may be similar to what Mads had in mind, and what I poorly described at the end of the issue:  Perhaps we just want to be able to pickle some kind of generator function that the scheduler can simply unpickle and use to generate tasks in a reasonable order (not necessarily by layer, but maybe by required output key).  However, in order to get something like this working without a serializ

[2022-01-24 22:21] #8584 closed

[2022-01-24 22:52] ian-r-rose commented on #8524
When I was looking at #8604, I noticed that the example here could be fixed by opening the file in text mode (`TemporaryFile` defaults to `"w+b"`):

[code]

So I think that arbitrary files actually *do* work here, they just need to accept string data.

[2022-01-25 02:25] gjoseph92 commented on #8616
I think we're circling around the idea that you, me, @ian-r-rose, and @GenevieveBuckley talked about. With low-level graphs, you figure out the outputs given the inputs. For high-level graphs to be effective, you need to work backwards: you must figure out the inputs given the outputs. You have to invert all the graph-generating logic currently in dask/dask, often coming up with new algorithms. It

[2022-01-25 02:28] gjoseph92 commented on #8616
I like the incremental approach, I just don't see how much value it would add. Worst-case, it would make an existing problem (root-task execution) even worse. But best-case, communication and computation just wouldn't overlap much, so you wouldn't gain much performance. I just don't think there's much of a way to work around needing depth-first scheduling, but having breadth-first communication.

[2022-01-25 02:50] rjzamora commented on #8616
Yes - I get the feeling that the most-promising solution is to take the time to flip all common graph-construction algorithms on their heads, or develop a good expression system to somehow simplify/automate this (not that I have such a HLE solution in my head).  

Regarding your graph streaming suggestion/plan:  This approach is certainly in line with what I was thinking. Perhaps we could also sta

[2022-01-25 09:22] nordange opened #8618 "Add first and last aggregate functions to `dask.dataframe.pivot_table`"
This question/feature request started on the [Dask Discourse](https://dask.discourse.group/t/using-pivot-table-with-non-numerical-data/267/2).

Currently `dask.dataframe.pivot_table` only supports `mean`, `sum` and `count` as aggregate functions. This makes `pivot_table` inconvenient for working with non-numeric data. `first` and `last` are supported aggregate functions in Pandas' `pivot_table`.

[2022-01-25 09:32] fjetter commented on #8616
Our global state machine is complex and complicated enough as it is without adding a third distinct actor to the mix.
If we want to start streaming the tasks in priority order, that may be something to consider. We'd still need to fully materialize the graph but I would suggest to not couple too many problems at once and would defer this to a later discussion. Implementing some kind of backpressur

[2022-01-25 10:59] orf opened #8619 "Improve to_parquet "Schemas are inconsistent" error messages"
We're trying to introduce Parquet into our team, and the largest blocker that we've seen is the dreaded "schemas are inconsistent" error message:

This error message is super unhelpful: surely Dask _knows_ what the differences are? If this comes from a job that produces tens of thousands of individual parquet files what it's really asking me to do is trawl through the individual partition schemas

[2022-01-25 14:42] jsignell opened #8620 "`read_sql_query` with meta converts dtypes from 32 to 64."
After https://github.com/dask/dask/pull/8158 there is one test that doesn't quite pass on win32 I think it is because `read_sql_query` converts int32 to int64. I am not quite sure where the issue lies. Here is the failing test:

[code]

[2022-01-25 15:06] Lalitmohansharma1 commented on #8524
hello ,
i am new to dask , can you assign me this issue

thanks

[2022-01-25 15:21] jsignell commented on #8524
@Lalitmohansharma1, @ppsbs already has work started on this.

[2022-01-25 15:26] jsignell commented on #8619
Thanks for raising this @orf! That seems like a really good idea to me. For the rare case where this would become very large, we can truncate part of the content.

[2022-01-25 15:33] jsignell commented on #8618
Thanks for raising this issue @nordange! It seems like adding these aggregations to pivot_table would be relatively straightforward. It would just require changes here:

https://github.com/dask/dask/blob/e44f78009d56332b0153828adb0eaf0e5d01582f/dask/dataframe/reshape.py#L186

and new `pivot_last` and `pivot_first` functions here:

https://github.com/dask/dask/blob/e44f78009d56332b0153828adb0eaf0e5

[2022-01-25 15:48] mrocklin commented on #8616
My gut reaction to this is skepticism.  Large graphs are less of a problem
than optimal scheduling.  This approach helps with large graphs at the cost
of optimal scheduling.  I think that the difficulties around HLGs are due
to poor design so far, and that can be fixed.  HLGs also provide a variety
of other long-term benefits to the scheduler, which would have a lot more
semantic information about

[2022-01-25 17:57] rjzamora commented on #8616
Thanks for the feedback @mrocklin!  Note that I have been completely on the fence about this idea from the start (and I still very-much am) :) Overall, I agree with everything you said.  With that in mind…

Totally agree. However, the only reason we are materializing HLG layers on the scheduler is because of graph communication time (which only seems to matter for large graphs and/or remote client

[2022-01-25 20:08] amirkdv opened #8622 "Broken usage of capsys for inspecting logging output"
**What happened**:

1. We have one unit test that uses capsys to make assertions about emitted logs: [`dask/dataframe/io/tests/test_sql.py`](https://github.com/dask/dask/blob/2022.01.0/dask/dataframe/io/tests/test_sql.py#L410-L425)
1. Add a second unit test that does the same
1. You can't have more than one test using that pattern, the first one works and anything after does not
    - add new test

[2022-01-25 20:37] jsignell commented on #8580
@martindurant do you have time to take a look at the timezone related issues with fastparquet?

[2022-01-25 20:40] jsignell commented on #8580
Here is the output from the failing fastparquet tests:

<details>
  <summary>Details</summary>

[code]

</details>

[2022-01-25 20:55] jsignell commented on #8580
PRs left to merge:
- https://github.com/dask/dask/pull/8623
- https://github.com/dask/dask/pull/8158
- still need to do the work for fastparquet timezone issues

[2022-01-25 21:55] martindurant commented on #8580
I don't know about these yet, but fastparquet tests are failing too because of Int64Index -> Index(Int64) ( supposed to be marked as depr, but seems the default behaviour changed too https://pandas.pydata.org/pandas-docs/stable/whatsnew/v1.4.0.html#deprecated-int64index-uint64index-float64index ).
Looks like this issue here seems to be something else.

[2022-01-25 22:06] #7406 closed

[2022-01-26 02:36] david-thrower opened #8624 "AttributeError: 'DataFrame' object has no attribute 'name'; Various stack overflow / github suggested fixes not working"
**What happened**:

I perform a pipeline of transformations on a Dask dataframe originating from dd.read_sql_table() from a view in an oracle DB. In one stage that follows many successful stages, I try to apply a simple class method to a column of type <object> (strings). This always returns this error (main issue):

[code]
When I tried to inspect the dataframe object having this column on which t

[2022-01-26 07:35] jorisvandenbossche commented on #8580
There shouldn't be a change in behaviour (yet), the code snippet in what you linked is "future behaviour", not what is released (that's a bit confusing, as we typically show "new behaviour" in those whatsnew code snippets, i.e. for the new release)

[2022-01-26 09:13] nordange commented on #8618
Great! I'll give it a go, @jsignell.

[2022-01-26 12:33] jorloplaz commented on #8458
We've noticed this in our job, the fact that `merge_asof` for some reason drops the right timestamp. We don't know why this is (in Pandas it doesn't happen), but we solve it by this naïve procedure:

1. Assigning an additional column to `right` which is a copy of the timestamp we're gonna join on.
2. Calling `merge_asof`.
3. Renaming that additional column with the name the original right timestam

[2022-01-26 13:48] ncclementi commented on #8624
@david-thrower thank you for the detailed explanation, is there a possibility that you can provide a more concise minimal reproducible example that we can try on our end. It's a little difficult to help you. In the meantime I noticed couple of things that might help:

- There are couple of related issue raised on pandas and sklearn that might have some ideas to try, and it looks like in most cases

[2022-01-26 14:01] ncclementi commented on #8460
@davidhassell pinging you here as I noticed that you fixed this issue https://github.com/dask/dask/issues/8532 in this PR https://github.com/dask/dask/pull/8538 and they seem related. Would you like to take a crack at this issue too? It's completely ok to say no, no pressure : )

[2022-01-26 14:19] martindurant commented on #8580
@jorisvandenbossche specifically, it was the index type of a read_csv call that changed (for the fastparquet breakage), and pandas refuses to compare two series with different index types, although the values are the same.

[2022-01-26 14:25] martindurant commented on #8580
https://github.com/dask/fastparquet/pull/738

[2022-01-26 15:05] jorisvandenbossche commented on #8580
Ah, that's because you are using extension types, that indeed changed: https://pandas.pydata.org/pandas-docs/stable/whatsnew/v1.4.0.html#index-can-hold-arbitrary-extensionarrays (but so for default Int64Index, nothing yet changed)

[2022-01-26 15:51] DamianBarabonkovQC opened #8625 "Dropped Support for Custom Metadata Types"
**What happened**:

A recent pull request titled "Fail if meta is not a pandas object": https://github.com/dask/dask/pull/8563 breaks support for custom metadata types in dask. This pull request was motivated by the issue: https://github.com/dask/dask/issues/8537.

In our codebase, we use a custom Python class which is iterable as the dask metadata value. I would like to kindly ask if this dropped

[2022-01-26 16:58] ian-r-rose commented on #8607
Closing due to lack of response, but if you are able to elaborate on your issue we can reopen and discuss

[2022-01-26 16:58] #8607 closed

[2022-01-26 17:05] ian-r-rose commented on #8586
Closing due to lack of response. But I'd encourage you to continue the discussion on Discourse or Stack Overflow, as @pavithraes suggested

[2022-01-26 17:05] #8586 closed

[2022-01-26 17:18] scharlottej13 commented on #8549
@crusaderky can we close this issue?

[2022-01-26 17:23] ncclementi opened #8627 "Create dashboard documentation page"
Opening this issue for tracking purposes as well as clear some questions if needed. I'll be opening a draft PR soon and we move from there but for context here are some points.

**Currently status:**
We have some material spread around different pages and blogs but some of it is outdated and there are missing components too.

**Proposal:**
Create a dask/docs page that describes the plots on the ma

[2022-01-26 19:17] #8578 closed

[2022-01-26 19:21] jsignell commented on #8625
Thanks for opening this @DamianBarabonkovQC this was definitely not an intentional effect. I will change it to accept an iterable an ping you on the PR.

[2022-01-26 20:31] scharlottej13 commented on #8622
Thank you @amirkdv for writing this up so clearly and including the reproducible example!

[2022-01-26 20:52] amirkdv commented on #8622
Right, good point! I think the funkiness happens after we exit the test case. On pytest's end, every fixture has a lifecycle [like this](https://github.com/pytest-dev/pytest/blob/325744ef8/src/_pytest/capture.py#L878-L891):
[code]

I think it's the fixture teardown logic for capsys that messes with io streams in a way that breaks log handlers.

The way people seem to be working around this in `pyt

[2022-01-26 21:44] jsignell commented on #8625
Ok so I don't think this was ever supported how you expected. If I revert #8563 and run your code I get meta as a pandas.Series with dtype = "object". This is because you haven't instantiated the class so it is interpreted as an object. If you _do_ instantiate the class, you get a different error:

[code]

So I guess I'm a little confused if this ever worked properly and I have two proposed fixes.

[2022-01-26 22:40] david-thrower commented on #8624
Sorry for the longer explanation. I included the entire pipeline because on the original post, because the issue appears unusual and may be an artifact of something upstream from the actual affected step. I summarized it to the extent possible and fixed a few typos.

[2022-01-27 00:40] jrbourbeau opened #8630 "gpuCI out of memory error"
We observed a memory allocation failure

[code]

over in [this gpuCI build](https://gpuci.gpuopenanalytics.com/job/dask/job/dask/job/prb/job/dask-prb/1201/CUDA_VER=11.5,LINUX_VER=ubuntu18.04,PYTHON_VER=3.8,RAPIDS_VER=22.04/console)

<details>
<summary>Full traceback:</summary>

[code]

</details>

cc @charlesbluca in case you have thoughts or have seen this pop up elsewhere

[2022-01-27 09:06] jorisvandenbossche commented on #8611
The renaming seems to happen at

https://github.com/dask/dask/blob/08eee6d655459e9b8494d67957b6fe908e1b8c67/dask/dataframe/groupby.py#L574-L575

If I naively change that to return the original `column`, the example in the top post works again (but there are also a whole bunch of groupby tests that fail). Now, I suppose there is a good reason for this renaming of the aggregated columns, but I don't

[2022-01-27 11:55] fjetter commented on #8625
Regarding the kartothek library, the [MetaPartition](https://github.com/JDASoftwareGroup/kartothek/blob/1821ea5df60d4079d3911b3c2f17be11d8780e22/kartothek/io_components/metapartition.py#L220) class is **not** a dask meta object. If anything, you could have a dask Series with elements of type `MetaPartition` (in pandas/dask type system this would still be `object`).
If the library does this wrong,

[2022-01-27 12:06] crusaderky commented on #8549
@scharlottej13 no, the issue is still there we just xfailed the test for the time being.

[2022-01-27 14:36] #8580 closed

[2022-01-27 15:01] charlesbluca commented on #8630
Thanks for the ping @jrbourbeau - haven't seen this elsewhere, though if it is a non-recurring failure I would guess it may have something to do with the state of gpuCI's runners. Will update this issue if this turns out to be the case for other projects running gpuCI

[2022-01-27 15:24] graingert commented on #8608
currently dask uses `hashlib.md5` in `dask.base.tokenize` for [deterministic hashing
](https://docs.dask.org/en/stable/custom-collections.html#implementing-deterministic-hashing) and therefore not obviously security critical (hashing passwords).

However, currently `dask.base.tokenize` is a public function that could potentially be used by any user code in a security critical way.

Perhaps it woul

[2022-01-27 16:02] graingert opened #8632 "dask.array.core.map_blocks mis-handles kwargs in task name"
**Minimal Complete Verifiable Example**:

[code]

this prints:

[code]

but I expected

[code]

**Anything else we need to know?**:

`name` is calculated with https://github.com/dask/dask/blob/7446308083e2f284229a11e9b3e330aa9e73cf96/dask/array/core.py#L678

however `kwargs` are treated the same as a dict in the last arg https://github.com/dask/dask/blob/7446308083e2f284229a11e9b3e330aa9e73cf96/da

[2022-01-27 16:47] scharlottej13 commented on #8458
Thanks for providing this workaround @jorloplaz! I haven't gotten around to changing `merge_asof` itself yet, would you feel comfortable looking into it?

[2022-01-27 21:54] martinfleis commented on #8611
We have discussed this issue with @jorisvandenbossche and it is unlikely that we will be able to fix it on geopandas or dask-geopandas side.

`geopandas.GeoDataFrame` defines a `.geometry` property that takes care of all geospatial operations (interfacing shapely and pygeos). `.geometry` always points to one of the columns of the `GeoDataFrame` based on its name ("geometry" by default but can be a

[2022-01-27 22:30] gjoseph92 commented on #8611
Is this a regression we need to fix before releasing https://github.com/dask/community/issues/216? cc @jrbourbeau

@martinfleis @jorisvandenbossche do you have a sense of what the fix would be? Not renaming the columns in groupby seems like one idea—I haven't checked yet to understand why we do that. But I get the sense that the more robust fix would be to use something more advanced than: https:/

[2022-01-27 22:46] gjoseph92 opened #8634 "Better error message for unsupported Array reshape operations"
`Array.reshape` "only allows for reshapings that collapse or merge dimensions" (xref https://github.com/dask/dask/issues/2561). However, when you try to do one of these unsupported reshapings, the error message `Shapes not compatible` does not make it at all clear that what you're asking for just isn't supported by dask. Instead, it sounds as though your inputs are invalid.

A more descriptive err

[2022-01-27 22:53] martinfleis commented on #8611
It breaks `dissolve()` in dask-geopandas when `split_out` is specified but we haven't released this yet (will do in a week or two, hopefully). So if there's a perspective that this will get fixed in on of the upcoming versions there's no need to rush for 2022.01.1.

It probably would. When the GeoDataFrame is constructed from a dict as in this case, geopandas either checks for "geometry" or needs

[2022-01-28 20:23] rjzamora commented on #8611
Hmm - I am having a hard time figuring out how #8468 (or setting split_out) ended up changing behavior like this. It really seems like `_groupby_apply_funcs` has always initialized a new dataframe-like object with modified column names.  You are correct that we do not need to rename columns in all cases, but we certainly do need to create new names if we are performing more than one type of aggreg

[2022-01-28 21:01] gjoseph92 opened #8635 "Blockwise optimization doesn't combine task names, like low-level fusion does"
Users may be confused why tasks that they expect to run don't show up on the dashboard.

With low-level fusion, we concatenate the names of all the tasks together, so at least the name of the task (like `read_csv-assign-getitem-add`) gives you some hint that all those things are still happening. But with blockwise fusion, that same task would just be named `add`, which gives you no indication that

[2022-01-28 22:24] martinfleis commented on #8611
@rjzamora It had to be some commit merged on 22/1 and #8468 seems to be the only candidate.

I am not sure what do you mean but we need to use it, we can't just raise an informative error. The whole point of dask-geopandas is that is enables geospatial operations and the needs to include aggregations. The `dissolve` example we are talking about here is one of the most common use cases.

The invali

[2022-01-28 23:37] rjzamora commented on #8611
 Ah - I was completely focused on the `return df.__class__(result)` discussion above.  However, I now realize that `GeoDataFrame(result)` will work fine when `result` is a dict without a “geometry” field.  All of my questions/suggestions above were assuming that something like that will fail.  The only time that “geometry” constraint shows up is when you try to create a `GeoDataFrame` metadata obj

[2022-01-29 00:31] rjzamora commented on #8611
It seems like the problem may only show up when a "non-empty" metadata object needs to be generated by geopandas. I experimented with some quick things in ACA, and it seems like [this branch](https://github.com/rjzamora/dask/tree/empty-meta-emulation) (which avoids the need to non-empty metadata in the`has_shard` operation relevent for `split_out>1`) **may** resolve this issue.

[2022-01-29 05:02] tgaddair opened #8636 "Dictionary outputs (dtype "object") being interpreted as strings"
**What happened**:

Attempted to perform a map-reduce style transformation on a series that outputs a single dictionary following the reduce. However, the dictionary from the map step is being interpreted as a string in the reducer.

**What you expected to happen**:

The dictionary output from the mapper should be passed as a dictionary to the reducer. This behavior is consistent with dask 2022.1.

[2022-01-29 09:36] Dhruv454000 commented on #8634
can i work on this issue?

[2022-01-29 09:45] martinfleis commented on #8611
@rjzamora `dask-geopandas` CI passes with this branch, so it may be a solution. Thanks for looking into that!

[2022-01-29 09:53] jorisvandenbossche commented on #8611
Given your last comments it might now be clear to you, but just to reiterate in general, my understanding is that:

* The groupby implementation renames columns and recreates a GeoDataFrame (the `return df.__class__(result)` where `result` is a dict with renamed keys). This in itself is not a problem (geopandas will let that pass fine, although you get an "invalid" geodataframe, that's not a direc

[2022-01-29 10:12] martinfleis commented on #8611
@jorisvandenbossche I think that the solution avoiding call to `meta_nonempty` is better here because, as you pointed out, this would work only for the geometry column named `"geometry"`. It could allow a workaround but if we can make it generalisable for any name, that would be optimal.

[2022-01-29 11:37] Illviljan opened #8638 "Allow some boolean indexing operations to return correct shape"
For some masking operations it's very easy to figure out the shape of the array:

[code]

Not having to do `.compute_chunk_sizes()` after these simple operations seems like a nice feature and will make duck typing with other 3rd party packages easier.

[2022-01-29 12:44] Dhruv454000 commented on #8634
@gjoseph92  so the message  should be simply "Not Implemented" right?

[2022-01-29 21:27] bnavigator opened #8639 "test__get_paths is missing the site.PREFIXES expansion"
dask 2022.1.1 produces this new test failure on an openSUSE rpm build:

[code]

I notice that the changes in #8573 initially do not do the expansion of the `site.PREFIXES` paths for the `expected` array in the test, `_get_paths()` always does it.

[2022-01-31 09:14] Rabia23 commented on #2604
I am unable to load the data into dask dataframe using sql query.
[code]

Error:
[code]

Any help would be appreciated.

Thanks.

[2022-01-31 14:30] bryanwweber commented on #2604
Hi @Rabia23! Thanks for posting here. Your question seems more like a usage question, so I would encourage you to post it over on our discourse page: https://dask.discourse.group/ Thanks for using Dask!

[2022-01-31 14:36] martindurant commented on #2604
@Rabia23 : the `sql` parameter must match the description given in the docstring:
[code]
Please read SQLAlchemy's documentation on how to make a generic "selectable".

[2022-01-31 14:38] martindurant commented on #2604
e.g., here is an example from dask's tests:
[code]

[2022-01-31 14:50] pavithraes opened #8640 "Improve docstring for dask.visualize"
The [`dask.visualize` API docs](https://docs.dask.org/en/stable/api.html#dask.visualize) mention that `args` need to be a "dask object", which isn't very clear to newcomers. It may be worth clarifying that we mean a [Dask Collection](https://docs.dask.org/en/stable/#familiar-user-interface) here?

Ref: [The Stack Overflow question which surfaced this misunderstanding](https://stackoverflow.com/que

[2022-01-31 15:39] rjzamora commented on #8611
@jorisvandenbossche - As far as I can tell, your understanding is 100% correct.  I'm sorry I didn't get a chance to explain in detail, and appreciate you writting everything up!

I think it makes sense to "fix" this issue by either avoiding the call to meta_nonempty when the output will be invalid, or by makeing the `_nonempty_geodataframe` more flexible. However, since the `hash_shard` operation

[2022-01-31 15:45] jsignell commented on #8638
I totally agree that if there is a simple way to deduce shape that is desirable. Especially if it doesn't add too much complexity to the codebase.

[2022-01-31 15:56] jsignell commented on #8636
Thanks for opening this @tgaddair I suspect that it is related to https://github.com/dask/dask/pull/8468 in particular @rjzamora it looks like we might be inadvertently dropping the `meta` before the `map_partitions` call in `apply_concat_apply`.

[2022-01-31 16:24] quasiben commented on #8635
I'm +1 on on having the concatenated name -- this information is really useful when debugging and trying to understand performance or what happened and when

[2022-01-31 16:31] rjzamora commented on #8636
Thanks for the ping @jsignell -  #8468 modified ACA to leverage `map_partitions` for both the initial chunkwise "map" phase, as well as the sharding (for aggregations with split_out>1).  This means there are many cases where the output of `map_partitions` will not be a proper DataFrame collection (because the result is not meant to be a "public" collection).

The ACA overhaul was orginally using e

[2022-01-31 20:06] gjoseph92 commented on #8635
Eager fusion seems reasonable to me. It probably simplifies the optimization code a bit too, and makes `len(dsk)` and the task counts show in reprs much more realistic.

I'm not sure how much of an undertaking that'll be, though? It probably requires changing every place where Blockwise layers are constructed, and explicitly deriving them from the previous layer. Naively, both this and https://git

[2022-01-31 20:13] rjzamora commented on #8635
Right - Although eager optimizations may be pretty easy to implement, it would be a large enough change to require serious discussion.  I can also imagine a few ugly edge cases and assume that many existing tests would break for sure :)

As long as the stopgap doesn't get out of hand, I agree that we shouldn't rely on eager optimizations yet (just wanted to highlight this as a posible motivation).

[2022-01-31 20:35] gjoseph92 commented on #8638
My intuition is that this would not be easy to do without adding complexity. In order to do it, you'd have to be able to inspect the graph of the argument to figure out that, semantically, the argument is a `ones` operation. Graphs, even HLGs, aren't currently designed for that sort of semantic introspection. You'd get into some gnarly stuff poking at the `dsk` attribute of the `Blockwise` object.

[2022-01-31 21:14] #8539 closed

[2022-01-31 21:35] jsignell commented on #8474
Feel free to just open a pull request @ppsbs as soon as you start work.

[2022-01-31 23:11] gjoseph92 commented on #8634
The exception should be a `NotImplementedError`. Coming up with a good, descriptive error message that helps users is part of the task, though I could write one if you'd like.

Note that this also isn't as simple as changing the text in that one line of code. You need to read and understand the reshape code first to understand if this error is _also_ currently catching cases where you've actually

[2022-02-01 06:09] Dhruv454000 commented on #8634
ok i will work on it.

[2022-02-01 12:35] jgerlach93 commented on #4873
love it!

[2022-02-01 14:21] #8524 closed

[2022-02-01 14:30] #2604 closed

[2022-02-01 14:37] jsignell commented on #8639
Ah thanks for opening this @bnavigator this. Just for my understanding the issue applies purely to tests right? If you have a change in mind please feel free to open a pull request!

[2022-02-01 15:42] jrbourbeau commented on #8639
Thanks for reporting @bnavigator -- see https://github.com/dask/dask/pull/8644 for a proposed fix

[2022-02-01 15:43] #8577 closed

[2022-02-01 16:40] #8596 closed

[2022-02-01 16:40] #8622 closed

[2022-02-01 17:39] jsignell opened #8645 "[DISCUSSION] What to do about `None` vs `no_default` as a pandas kwargs"
Pandas has started to use a pattern where `None` means something different than `no_default`. So far we've been handling these as they come up (for example: https://github.com/dask/dask/pull/8554), but we should probably figure out what we want to do more generally.

I've been holding off on the general solution until we can get some feedback from cudf people (cc @quasiben)

[2022-02-01 17:41] #8639 closed

[2022-02-01 17:55] soma2000-lang commented on #8640
@jsignell  I want to work on this please assign me this issue

[2022-02-01 17:57] quasiben commented on #8645
cc @shwina @galipremsagar @beckernick @brandon-b-miller

[2022-02-01 18:32] bryanwweber commented on #8640
@soma2000-lang Please feel free to submit a pull request, you do not need to be assigned this issue!

[2022-02-02 02:24] galipremsagar commented on #8645
From the discussion here: https://github.com/pandas-dev/pandas/issues/45448, Looks like `pandas` is still going to enforce it widely. The `no_default` seems to be a synonymous change that happened with `np.nan` vs `pd.NA`. So to support this we would also have to include `no_default`-like support both in `dask` & `cudf` too - right?

But since `no_default` is buried and not widely known is pandas

[2022-02-02 03:21] #8636 closed

[2022-02-02 03:21] #8611 closed

[2022-02-02 05:06] tgaddair commented on #8636
Thanks for the fix @rjzamora!

[2022-02-02 12:04] shwina commented on #8645
We _could_ use `pd.api.extensions.no_default` directly. Agree with @galipremsagar that it'd be nice to have that as a top-level `pd.no_default` (although perhaps `pd.NO_DEFAULT` would be more clear).

Maybe I worry too much, but one potential concern if other package(s) follow suit and have their own "`NoDefaultType`", we end up with `pd.no_default`, `other_lib.no_default`, `another_lib.no_default

[2022-02-02 12:54] Dhruv454000 commented on #8634
@gjoseph92 i have noticed that it works well and if we pass invalid shape it gives error message shape of new array must be unchanged which is correct. so i need to change message now right?

[2022-02-02 14:09] jsignell commented on #8645
Yeah dask already has its own `no_default` that we use in some places. I was kind of wondering if dask should just use that and strip it out of the kwargs before passing to pandas/cudf. I think the expectation is that users will not explicitly set `pd.api.extensions.no_default` as the value of a kwarg.

[2022-02-02 14:14] shwina commented on #8645
I agree that this is the expectation, but being able to explicitly pass optional kwargs is valuable in so many contexts. Always stripping out the kwarg is doable, but adds unnecessary processing overhead.

At this point, I think I'm just complaining. I'm not strongly opposed to either solution (explicitly passing no_default or stripping it out).

[2022-02-02 16:06] th0ger opened #8650 "Error "column not in index" when using read_parquet() on hive-partitioned parquet dataset"
**What happened**:
The `dask.dataframe.read_parquet()` method fails with error `KeyError: "['col1'] not in index"` when trying to read a partitioned parquet dataset (in my example generated by ` pyarrow`).

**Minimal Complete Verifiable Example**:

[code]

[code]
[code]

**Anything else we need to know?**:
Please note that the lazy `print(dd1)` does include `col1`, it's only at `.compute()` we are

[2022-02-02 16:17] ppsbs commented on #8474
Thanks, @jsignell !

I've worked a few hours on this task in the last 2 days and (based on my little experience with dask) I cannot see an unexpected behavior. As `ddf.compute(scheduler="threads")` runs asynchronously and `compute` always update the scheduler inside of `get_scheduler`, for me it is expected that it would return a future. And, on the other hand, as `ddf.compute()` runs synchronousl

[2022-02-02 16:35] bryanwweber commented on #8650
Hi @th0ger thanks for reporting this! @pavithraes has volunteered to take a look 😄

[2022-02-02 16:51] bryanwweber commented on #8608
It seems that #8632 could be resolved at the same time, since fixing that would potentially also change the `tokenize` method? Should we create an issue to consolidate discussion around this topic?

@jrbourbeau @jsignell Just putting this on your radar.

[2022-02-02 16:52] bryanwweber commented on #8630
@jrbourbeau @charlesbluca Are there any updates here?

[2022-02-02 16:53] graingert commented on #8608
https://github.com/dask/dask/pull/6843

[2022-02-02 17:14] bryanwweber commented on #8619
@orf are you willing or able to create a pull request to address this? No pressure! Just trying to move this along if possible :smile:

[2022-02-02 18:10] jsignell commented on #8474
Once you are understand what is going on it might make sense, but it is not the behavior that a user would naively expect. This is not likely to be what the user intends to get back:

[code]

To close this issue, we would like to be able to at least give the user some warning that the operation is likely not what they intended.

[2022-02-02 19:48] jrbourbeau commented on #8630
I've not seen this show up again. Closing for now and we can re-open if needed in the future

[2022-02-02 22:07] #8445 closed

[2022-02-02 23:11] david-thrower commented on #8624
@jsignell, @bryanwweber, @ncclementi  Thank you all for the replies and sorry for the broken communication on this complex and cryptic issue. I also appreciate your patience as  struggle to articulate the history of troubleshooting I have done and  not be too verbose.

So for clarification, for the suggestion of upgrading Pandas and the possibility that the issue may have been caused by using an o

[2022-02-03 08:47] jorloplaz commented on #8458
I'm afraid I'm not that familiar with Dask internals so as to try to change `merge_asof` myself. That's just a simple workaround to fix after invoking it that the right-hand-side dataframe's timestamp has been lost, but I really don't know why it's lost!

[2022-02-03 10:50] th0ger commented on #8650
@pavithraes a bit closer to a workaround:

[code]
[code]

The `partitioning="hive"` argument is valid pyarrow syntax that _should_ solve the issue (i belive pyarrow chnaged the behaviour, so you must provide this if the partion keys shall be returned.)

I also tested this syntax:

[code]
[code]

[2022-02-03 10:51] th0ger commented on #8650
https://github.com/dask/dask/blob/b6713736533f98afda441e1d0319b7f5b45e53ad/dask/dataframe/io/parquet/arrow.py#L829-L838

[2022-02-03 16:51] scharlottej13 opened #8656 "docs - autogenerate API"
Currently, when new methods are created they have to be manually added to the docs, leading to issues where things are missing (e.g. #8599). This process is also a blocker for moving the Distributed docs into Dask.

One option is to use the [recursive option](https://sphinx-autosummary-recursion.readthedocs.io/en/latest/) in [sphinx-autosummary](https://www.sphinx-doc.org/en/master/usage/extension

[2022-02-03 18:02] beckernick opened #8658 "Groupby Rank"
Similar to https://github.com/dask/dask/issues/7095 , I'd also like to be able to use `rank` on groupby Series and DataFrame objects to create per-group rank columns. Today, I can do this in pandas but not Dask.

[code]

[code]

[2022-02-03 18:05] beckernick commented on #8658
Please feel free to assign this to me, as I can open a PR for this later today.

[2022-02-03 18:18] #8625 closed

[2022-02-03 19:11] bryanwweber commented on #8624
Hi @david-thrower Thanks again for the reply. If you can provide a minimal example to reproduce this issue, that would be very helpful, say 50 lines or less ideally, and also ideally not in a module/package structure. It seems like you did some testing in a smaller codebase to reproduce the problem; can you reduce that code even more? If the failure relies on having a SQL table, it'd be super hand

[2022-02-03 19:42] phobson commented on #8359
FYI -- I'm going to take look at this over the coming days

[2022-02-03 20:45] jsignell commented on #8656
Thank you for opening this!!! It has been on my back burner since... September?

[2022-02-04 16:19] ppsbs commented on #8474
I get your point @jsignell ! So, we could maybe raise an exception in the case where `compute` (and consequently `get_async`) are called with a dask graph whose result has already started being computed. Do you think that is a good path? Another option that I can think of is forcing `start_state_from_dask` to always convert cached futures to "results" (hence giving to `ddf.compute(scheduler="threa

[2022-02-04 16:27] jsignell opened #8661 "New labels"
This is more of an announcement than an issue, but I wanted to make everyone aware that there are some new labels and I am starting to apply them to issues and PRs.

There are essentially 4 types of labels:

- area labels - vibrant colors (`bag`, `dataframe`, `highlevelgraphs`...)
- type labels - pastels (`bug`, `feature`, `documentation`...)
- status labels - start with `needs` (`needs info`, `ne

[2022-02-04 17:59] ncclementi commented on #8661
Thanks for putting this together @jsignell. I have only one question:
- Is there any info on what goes under `p1`, `p2` and`p3` levels of priority? I think it'll be nice that we are all I the same page on what these mean to avoid confusion.

[2022-02-04 18:14] bryanwweber commented on #8661
@jsignell a related question: which one is highest priority, 1 or 3?

[2022-02-04 19:49] jrbourbeau commented on #8661
Good question -- see the corresponding label description

![Screen Shot 2022-02-04 at 1 47 51 PM](https://user-images.githubusercontent.com/11656932/152593725-007c9971-7425-40d8-9855-ac44630f99ae.png)

[2022-02-04 20:21] d70-t opened #8663 "Signalling that a task should be rescheduled at a later time"
I'm wondering how to best handle reads from high latency storage (e.g. tape) or other tasks which may take a long time without the task itself making any progress (i.e. the task has to wait for something else). In this setting, I'll maybe have a task graph which contains many parallel reads of different chunks, each of which may either be only on tape or may already be available on disk cache. If

[2022-02-04 20:50] jsignell commented on #8474
I think raising an exception or even just a warning is the right path.

[2022-02-06 04:02] erinov1 opened #8666 "Column mistmatch prevents append to partitioned parquet dataset with `engine=fastparquet`"
I'm unable to append to an existing partitioned parquet dataset when using `engine=fastparquet`, although it works fine with `engine=pyarrow`.

MWE:

The second `to_parquet` call fails:
[code]
Tail of traceback:

[code]
There is some issue involving the column `B` used for partitioning. On the other hand, the same code works fine with `engine=pyarrow`.

**Environment**:

- Dask version: 2021.12.0

[2022-02-06 11:44] tomwhite opened #8667 "Add `expand_dims` to Dask array"
Dask is missing the NumPy [`expand_dims`](https://numpy.org/doc/stable/reference/generated/numpy.expand_dims.html) function. This is needed for the Array API (https://github.com/dask/community/issues/109).

[2022-02-06 11:46] tomwhite opened #8668 "`concatenate` inconsistency with NumPy for `axis=None`"
**What happened**:

Calling `concatenate` with `axis=None` gives an error rather than flattening the inputs, which is what happens in NumPy.

**What you expected to happen**:

Behaviour the same as NumPy.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

This fix is needed for the Array API (https://github.com/dask/community/issues/109), where the function is

[2022-02-06 11:51] tomwhite opened #8669 "`eye` inconsistency with NumPy for `dtype=None`"
**What happened**:

Calling `eye` with `dtype=None` gives an error rather than using the default float dtype, which is what happens in NumPy.

**What you expected to happen**:

Behaviour the same as NumPy.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

This fix is needed for the Array API (https://github.com/dask/community/issues/109).

**Environment**:

-

[2022-02-06 11:53] tomwhite opened #8670 "`linspace` division by zero error"
**What happened**:

`linspace` gives a division by zero error, when NumPy returns an empty array on the same input.

**What you expected to happen**:

Behaviour the same as NumPy.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

This fix is needed for the Array API (https://github.com/dask/community/issues/109).

**Environment**:

- Dask version: main
- Pytho

[2022-02-07 06:00] th0ger commented on #8650
@bryanwweber @pavithraes could you kindly provide your comments on this?

[2022-02-07 09:16] Illviljan commented on #8638
I think this (shortterm, high level expressions seems longlongterm) can be solved by under the hood by switching boolean arrays to integer indices.

Here's a proof of concept that fixes my examples, probably neeeds a little more thought on n-dimensions:

[code]

[2022-02-07 16:30] jrbourbeau commented on #5596
I believe this was closed by https://github.com/dask/dask/pull/7756 where `dask.dataframe.to_orc` was added

[2022-02-07 16:30] #5596 closed

[2022-02-07 20:23] jrbourbeau opened #8673 "`pytest` 7.0.0 compatibility"
The latest `pytest` release deprecated passing `None` to `pytest.warns` which is causing CI to fail (see [this CI build](https://github.com/dask/dask/runs/5070618868?check_suite_focus=true)). We should avoid passing `None` to `pytest.warns` in our tests.

[2022-02-07 21:49] th0ger opened #8677 "Dask fails when suppying `filesystem` or `fs` to `dask.dataframe.read_parquet()`"
**What happened**:

When reading parquet files from Azure Blob Storage, we are providing an `fsspec` compatible filesystem to `pyarrow` (via the `adlfs` package).
However, in [read_parquet()](https://docs.dask.org/en/latest/generated/dask.dataframe.read_parquet.html#dask.dataframe.read_parquet) Dask will **always** determine an alternative filesystems via the `path` argument (such as `s3://`).
If

[2022-02-07 23:58] jrbourbeau opened #8682 "`scipy` 1.8.0 compatibility"
`scipy == 1.8.0` made updates to more clearly indicate what are intended to be public vs. private APIs https://docs.scipy.org/doc/scipy-1.8.0/html-scipyorg/release.1.8.0.html#clear-split-between-public-and-private-api. As a result of these changes, deprecation warning that are now raised from our existing `scipy` imports are being elevated to errors (like the one below) and causing CI to fail

[co

[2022-02-08 12:18] ParticularMiner commented on #8682
@jrbourbeau

I think the problem originates in `scipy` itself not `dask`.  [I've reported the issue there.  You may follow this link to see.](https://github.com/scipy/scipy/issues/15549)

[2022-02-08 13:47] orf opened #8764 "TypeError("Serialize' object is not callable") with "ddf.from_pandas""

[2022-02-08 14:58] beckernick opened #8688 "Deprecate and remove tseries.resample getnanos"
I've been exploring and learning about the Resampler class, and noticed that the utility `getnanos` is not currently used in the codebase. From the [blame](https://github.com/dask/dask/commit/7cb2428705fea3555f7269ba4be456783e02e194), it looks like this utility was necessary with an older version of pandas but is no longer necessary. As this is available in the public API, it may not be safe to re

[2022-02-08 16:06] jrbourbeau commented on #8688
Thanks @beckernick -- agreed that `getnanos` is no longer needed. My guess is this was never intended to be part of Dask's public API, but given there's no leading `_` some users may have interpreted it as part of the public API. We should wrap `getnanos` in our `_deprecated` utility decorator

https://github.com/dask/dask/blob/d36455b38da64b59d831d11e9c9bd44fd5b6cba2/dask/utils.py#L45

and add a

[2022-02-08 16:31] beckernick commented on #8688
No problem. Unless you think this is particularly time sensitive, I am happy to throw up a PR (likely Friday morning)

[2022-02-08 19:53] jsignell commented on #8666
Thanks for writing this up @erinov1 - ping @martindurant in case you have time to take a look.

[2022-02-08 19:55] martindurant commented on #8666
@yohplala , do you think a recent change might have done this?

[2022-02-09 06:54] yohplala commented on #8666
Hi @martindurant ,

1/
I have investigated a bit, and I cannot see any direct link with recently modified code.
The 'faulty' condition uses 2 `ParquetFile` attribute I made no change to: `pf.columns` and `pf.cats`.

2/
To get further, it would be worth to know exactly which condition is raising the trouble, is it:
- `(set(pf.columns) != set(df.columns) - set(partition_on))`
-  or `set(partition_on

[2022-02-09 07:23] yohplala commented on #8666
@erinov1 , @martindurant

I just tested with `fastparquet`, works ok.
[code]
(and resulting folder structure is as expected)

I would advise as next step would be `print` statements in `fastparquet.py` to know about `pf.columns`, `pf.cats` and `partition_on`.

[2022-02-09 08:51] Dranaxel commented on #8640
Hello, not sure to understand some details. The SO issue talks about args passed to dask.visualize and your answer shows you calling it as an attribute of a dask collection object.
Is this some equivalent writing or do i miss something ?

[2022-02-09 10:30] Dranaxel commented on #8619
@orf Would you mind share your code ? Or at least a part so we can reproduce the error

[2022-02-09 13:37] jsignell commented on #8677
It's not totally clear from your writeup if this is a regression or a request for an enhancement. Can you clarify if this used to work?

Ping @martindurant and @rjzamora for fsspec/parquet expertise.

[2022-02-09 13:44] #8583 closed

[2022-02-09 14:44] rjzamora commented on #8677
@th0ger - Can you please try specifying `storage_options` (as described [here](https://docs.dask.org/en/latest/how-to/connect-to-remote-data.html)).  I see that the `read_parquet` documentation on `storage_options` is a bit light - Perhaps we should improve the docstring a bit?

It is indeed true that Dask will always consruct its own fsspec-based file-system object (no matter the backend engine).

[2022-02-09 15:48] bryanwweber opened #8695 "Nicer handling of incorrect usage of `DataFrameGroupBy`"
I was trying to debug a `DataFrameGroupBy` operation and naively tried to `.compute()` it. This raised a `KeyError` that the `compute` column was missing.

[code]

In hindsight, this is clearly not the right thing to do. On the other hand, as a naive Pandas-familiar user, I was trying to "compute" the Pandas `GroupBy` object so that I could inspect it. I think it would be nice to have a more usefu

[2022-02-09 16:53] scharlottej13 commented on #8663
Hi @d70-t , thanks for opening this issue! I think using async is a reasonable approach. It also seems this is more of a usage question rather than a feature or bug report and we encourage people to ask such questions on the [Dask Discourse](https://dask.discourse.group/). Would you mind opening a discussion topic about this over there? If so, feel free to close this issue and we will continue the

[2022-02-09 16:57] TAdeJong commented on #5661
Stumbled back upon this via #8689. As of 2022.01.1+20.gad3b688f, the bug is still there, although the error is different now:

`KeyError: ('rechunk-merge-e63040be2c9c9793b8231bdea30520b8', 1, 0)`

<details>

[code]

</details>

[2022-02-09 17:12] scharlottej13 commented on #8695
Would defining a `compute` method and raising a `NotImplementedError` (as done [here](https://github.com/dask/distributed/blob/7a3ea4c34ae0af6af1137fe3e3bda927aa9eac26/distributed/deploy/adaptive_core.py#L146-L148) in distributed) be the right approach? @jsignell do you have thoughts on this?

[2022-02-09 17:23] scharlottej13 commented on #8673
@jrbourbeau, you noted that #8678 only partially addresses this issue, what are the next steps?

[2022-02-09 17:59] jrbourbeau commented on #8673
https://github.com/dask/dask/pull/8678 removed our use of `pytest.warns(None)` (which is now deprecated) in only a single test module `dask/dataframe/tests/test_multi.py`. Next steps would be go to through and remove all the other times we use `pytest.warns(None)` in other test modules.

[2022-02-09 19:04] ParticularMiner commented on #5661
Hi @TAdeJong ,

I think the problem here is that the `chunks` attribute of `diagonal()`'s output 1D-`dask` array has a mixture of chunks of zero and nonzero size, something that `dask.array` seems to be allergic to (as I've come to learn from experience).

The following code extract from `diagonal()`:

https://github.com/dask/dask/blob/510bbc380531cbf56a409f1ae68e6fd84a9599e6/dask/array/creation.p

[2022-02-09 19:20] TAdeJong commented on #5661
Heey @ParticularMiner,

Thanks for looking into this. It seems you are right about the zero and nonzero chunks, and now finally @TomAugspurger's comments here make sense to me, (and make my rereporting of this of limited use, I'm sorry) :-)

I guess we could fix `diagonal()` in the way you suggest, but that would essentially only be symptom relief and I guess it would be preferable to really handl

[2022-02-09 19:28] ParticularMiner commented on #5661
@TAdeJong

I completely agree.

As a side note, I've just discovered that my "fix" above allows your code snippet to pass, but not the main `test_diagonal()` in `test_creation.py`.  So there is something else going on here.

[2022-02-09 19:56] ParticularMiner commented on #5661
@TAdeJong

It seems the problem only occurs when the input array has exactly two dimensions.  Really weird.  So I've amended the "fix" above (see the edit).  This will cause both the main `test_diagonal()` and your code snippet to run successfully.

But like you said before, this can only be a tentative patch-up solution awaiting a more comprehensive one.

[2022-02-10 01:38] phobson opened #8702 "Scipy's `gmres` fails to converge with Dask Array"
**What happened**:
During a review of https://github.com/dask/dask/pull/8694, I noticed that scipy's `gmres` fails to converge on a solution with even a small dask array after several minutes. The task graph grows seemingly boundlessly

![image](https://user-images.githubusercontent.com/1163939/153312892-1b88d0f6-56f2-4d97-a8f4-748bab6c6324.png)

**What you expected to happen**:

`gmres` should co

[2022-02-10 12:54] jonashaag opened #8704 "Docker example not working on macOS and Windows"
https://github.com/dask/dask/blob/main/docs/source/deploying-docker.rst#example

This doesn't work on macOS: https://docs.docker.com/network/host/

cc @tschuelia

[2022-02-10 13:12] pavithraes commented on #8640
@Dranaxel Good catch! Yes, [it's equivalent in most cases](https://github.com/dask/dask/blob/20e924618999febeac706b20212104fe4f3ea61d/dask/base.py#L216). I've also updated the answer on Stack Overflow. :)

[2022-02-10 14:20] #8541 closed

[2022-02-10 18:46] jsignell commented on #8695
Yes! That seems like a perfect solution! Maybe with a bit of a suggestion as well that points people to chain an aggregation method or use a getter like `get_group`.

[2022-02-10 19:13] martindurant commented on #8570
Totally agree with @gjoseph92 , I was under the impression that there were two major benefits of HLGs in general:
- smaller transfer size, since we do something similar to using a generator/comprehension rather than a concrete set of keys and tasks
- that you can select/update from a large graph at no cost, effectively changing the start/end of the comprehension implied in the first bullet.
- (pos

[2022-02-10 19:17] jsignell commented on #8704
Thanks for opening this @jonashaag seems like we just need a note saying that this only works on linux unless someone wants to contributed windows or mac examples?

[2022-02-10 20:35] jakirkham commented on #8570
I could be wrong about this, but given the proposed changes around HLG transfer ( https://github.com/dask/distributed/issues/5581 ) there is an opportunity to improve transfer size (if more work is still needed there)

[2022-02-10 21:48] struktured opened #8707 "dataframe.read_hdf raises exception for empty datasets"
**What happened**:

```ValueError: Start row number (0) is above or equal to stop row number (0)``` when calling `dataframe.read_hdf`

**What you expected to happen**:

An empty dataframe to be loaded without error.

**Minimal Complete Verifiable Example**:

[code]

**Environment**:

- Dask version: 2021.10.0
- Python version: 3.8
- Operating System: Linux
- Install method (conda, pip, source): co

[2022-02-10 22:25] struktured commented on #4227
I'm also interested in the fix for this. It's pretty unnatural to explicitly call `.compute()` before invoking `.isin(...)`.

[2022-02-10 23:42] th0ger commented on #8677
OK, some background;
I'm fairly new to working with both Arrow and Dask for interfacing with parquet.

I started with pyarrow, which does not have native support for Azure blob storage (ADLSGen2), but it was very easy to get to work, using their very clear guide on [using fsspec-compatible filesystems with Arrow](https://arrow.apache.org/docs/python/filesystems.html#using-fsspec-compatible-filesys

[2022-02-11 00:18] david-thrower commented on #8624
## Here is my speculative conclusion (perhaps confusion may be a better way to word it. I certainly don't claim to know everything here.):

Hopefully I am wording this well enough: It appears to me that perhaps [index metadata | indexing functionality] regarding list and list - like iterables may be getting [lost | corrupted] between the global scope and the subprocesses which I presume that .appl

[2022-02-11 00:45] CJC-ds opened #8708 "Missing Built-in methods for SeriesGroupBy `ffill`"
Some of the "built-in" methods for dask SeriesGroupBy objects are missing.

In pandas we could do something like...

[code]

But when I try to do it in Dask..

[code]
I receive an `AttributeError: 'SeriesGroupBy' object has no attribute 'ffill'`

---

I'm hoping this can be implemented along with the other `fillna` methods. Thanks.

[2022-02-11 01:05] gerrymanoim opened #8709 "Dask seems to re-compute delayed calls after calculating divisions"
To prep data for below repro (but this is the same with any dataset):

[code]

Consider the two code snippers below:

[code]

vs

[code]

In the good behavior case, dask performs some work (including reading the parquet files) to determine divisions for `sort_values`. Then it proceeds to the rest of the work it needs to do.

In the `bad behavior` case, if you watch the task graph or run with `perf

[2022-02-11 01:46] Dranaxel commented on #8640
I'm new in Dask so maybe I'm saying something huge but it seems the term dask collection is never really explained in the documentation. Even the link you provided doesn't explicitely mention it.

[2022-02-11 03:16] rjzamora commented on #8677
Thanks for writing this up @th0ger! Knowing about your experience is super valuable!

Ah yes. This is a mess for a variety of reasons, but there is certainly no excuse for it to be quite as rough as it is. Cleaning this up (and addressing #8491) is on my short list.  

  I completely agree with you. There is no reason someone should need to look at source code to figure out what to do. I do expect

[2022-02-11 05:49] #8667 closed

[2022-02-11 05:52] #8668 closed

[2022-02-11 09:22] th0ger opened #8711 "Add support for ADLS Gen2 with Service Principal (client_id/client_secret)"
Hi daskers,

The documentation on [Microsoft Azure Storage](https://docs.dask.org/en/stable/how-to/connect-to-remote-data.html#microsoft-azure-storage) reads:

We use ADLS Gen2 (= Azure Blob Storage with HNS enabled). Azure has four different [access control models](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-access-control-model), and we follow their [security recommend

[2022-02-11 09:24] th0ger commented on #8711
I've posted this as well: https://github.com/fsspec/adlfs/issues/299

[2022-02-11 09:58] pavithraes commented on #8640
@Dranaxel Thanks for the PR, and that's a good point! Collections are another term for user interfaces (they typically refer to DataFrame, Array, Bag, Delayed, and Futures). The diagram on that page mentions collections, but we sure can make this term clearer in the docs.

[2022-02-11 10:54] Dranaxel commented on #8640
Glad to help ! So souldn't we make the doc talk about user interfaces rather than collections ? To keep the same language all allong.
I saw my PR isn't valid bc of some formatting error, do you need me to fix this ?

[2022-02-11 11:10] Dranaxel commented on #8619
Was looking to https://github.com/dask/dask/blob/20e924618999febeac706b20212104fe4f3ea61d/dask/dataframe/io/parquet/core.py#L530
But I didn't find any interface which would allow me to raise any error. I would love some insight to work on this issue.

[2022-02-11 12:42] sissnad opened #8712 "Sampling from Dataframe for frac < npartitions / nrows"
**What happened**:
I have been trying to sample rows from a dataframe using `sample(frac)` and realised that it does only work properly if the parameter `frac >= npartitions / nrows`, where `nrows` is the number of rows of the dataframe. For example, for `frac = 1 / nrows` `sample(frac)` returns a sample of `sample size = npartitions` instead of 1.

**What you expected to happen**:
I expected samp

[2022-02-11 14:39] pavithraes commented on #8640
Personally, I feel like the term "user interface" is both general and broad, whereas "collection" specifically refers to the Dask APIs. It helps create clarity in discussions, and it's also been used historically across the docs and codebase. It's maybe better to make the term "collections" more understandable in the docs :)

Yes, please! I've added some comments there too.

[2022-02-11 15:00] martindurant commented on #8570
@jakirkham , that seems like an orthogonal discussion. In the case here, the HLG is expensive to construct before even starting to send it, even though in principle the selection should result in a small graph without having to iterate over the original. So it's point 2 in my list which is the surprising omission.

[2022-02-11 21:11] arcontechnologies opened #8719 "No module named 'dask.distributed'; 'dask' is not a package"
Hi,
I'm new to Dask but when I tried to import dask.distributed it said :
**No module named 'dask.distributed'; 'dask' is not a package**

![image](https://user-images.githubusercontent.com/17960609/153670521-7bc9a4d6-6942-4f54-bba3-dec074307543.png)

Knowing that I'm running conda venv where I can see that dask is installed :

![image](https://user-images.githubusercontent.com/17960609/153670254-

[2022-02-11 21:17] jrbourbeau commented on #8719
Thanks for raising an issue @arcontechnologies. It looks like your local `dask.py` file is interfering with `import`ing from `dask` (the package). One fix would be to change the `dask.py` file to have another name

[2022-02-11 21:38] arcontechnologies commented on #8719
Oh my mistake ! I renamed it and it's working
thanks

[2022-02-11 21:38] #8719 closed

[2022-02-14 05:14] erinov1 opened #8720 "`in` predicate does not work with `dd.read_parquet()`"
**What happened**: Reading a partitioned parquet dataset with dask using a filter containing an `in` predicate raises an exception. Perhaps dask uses syntax for this predicate that is different from how pyarrow/fastparquet work? I was not able to find an example.

**Minimal Complete Verifiable Example**:

[code]

The call to `dd.read_parquet` yields the following traceback:

[code]
The same error

[2022-02-14 22:46] phobson opened #8722 "[upstream/build] Groupby mean result index doesn't preserve bool dtype"
**What happened**:

@ncclementi and I were tracking down this error on her fork with upstream dependencies:
https://github.com/ncclementi/dask/runs/5148303425?check_suite_focus=true#step:5:11490

Following a recent pandas bug enhancement (https://github.com/pandas-dev/pandas/pull/45061), groupby results with bool-typed indexes are better respected. In dask, the index type generally remains `bool`,

[2022-02-15 04:32] erinov1 commented on #8720
Specifying the collection as a tuple `("1")` fixes the error above (since this is different than both fastparquet and pyarrow conventions, perhaps it should be documented somewhere?).

However, there appears to be a rather subtle bug when the `val` in a `(column, op, val)` predicate contains just one item: consider a modification of the original example, but where the partitioning column takes its

[2022-02-15 09:44] jorloplaz commented on #8458
I guess that's related to the fact that `left_on` and `right_on` (that is, the columns being joined approximately) must be sorted for `pd.merge_asof` to work, so it makes sense to have a preference for them to be indices.

Actually, `dd.merge_asof` doesn't allow `left_by` and `right_by` (that is, the columns to be joined exactly before joining approximately on `left_on` and `right_on`) to be the i

[2022-02-15 16:57] #8640 closed

[2022-02-15 17:51] phobson commented on #8709
@gerrymanoim

Thanks for the clear explanation and reproducible example. I'm looking into this now.

For the sake of clarity I've uploaded performance reports for the Good and Bad case that you provided. If you have a moment, I'd be keen to take a look at similar reports generated on your system.

Feel free to ping me here with additional info or questions.

[Good-Bad-perf_reports.zip](https://git

[2022-02-15 18:09] #5124 closed

[2022-02-15 18:11] jrbourbeau commented on #8632
Closed via https://github.com/dask/dask/pull/8655

[2022-02-15 18:11] #8632 closed

[2022-02-15 20:01] jrbourbeau commented on #8722
Thanks @phobson @ncclementi, I'm able to reproduce the dtype mismatch issue. Experimenting a bit locally, I was able to reproduce the same issue with a slightly simpler example that just divides two Dask Series (so avoiding `groupby` altogether):

[code]

Interestingly, if we actually `compute()` the Dask Index, then we get the same dtype as what we would expect from pandas (i.e. `assert z.index.d

[2022-02-15 21:12] phobson commented on #8722
Thanks for the direction, @jrbourbeau. I'll coordinate with Naty.

[2022-02-15 21:51] ncclementi opened #8726 "[upstream/build] missing newline after info() call on empty dataframe"
Currently the test `test_dataframe.py::test_info` fails on the upstream build because there is a pandas upstream PR merged that now includes a newline `\n` see https://github.com/pandas-dev/pandas/pull/45498

Minimal Reproducible Example :
[code]

Notice that the`pandas`output has a `\n` at the end.
[code]

Software versions:
dask: main
pandas: '1.5.0.dev0+359.g03fef5f0e3'

[2022-02-15 21:59] jsignell commented on #8624
Ah ok I know what the issue is! Thank you for taking the time to write it up so completely.

If you look at the full traceback you'll see that it starts with:

[code]

I know that message can be hard to parse, but what it is saying is that the tiny version of your data that dask uses to keep track of what the output should look like (`meta`) is not good enough for this custom function. So it is re

[2022-02-15 22:24] phobson commented on #8359
### Fast path

### Slow path

[2022-02-15 22:39] scharlottej13 commented on #8458
@jorloplaz I think that's exactly right (lines 931, 936 in particular):
https://github.com/dask/dask/blob/baa378f8a09005ce6c79a7029fc0c1c1d2430a5f/dask/dataframe/multi.py#L925-L936

I think this is essentially correct (though maybe a bit more complicated). The task graph is created in [`merge_asof_indexed`](https://github.com/dask/dask/blob/baa378f8a09005ce6c79a7029fc0c1c1d2430a5f/dask/dataframe/m

[2022-02-16 01:59] GowthamChowdary commented on #8704
https://github.com/docker/for-mac/issues/2716  has been on since 2018. I'd like to make a PR with the note.

[2022-02-16 02:03] jrbourbeau commented on #8704
cc @jacobtomlinson for visibility

[2022-02-16 06:51] WanBenLe opened #8730 "Can support score_samples of sklearn.neighbors.KernelDensity in dask_ml.wrappers.ParallelPostFit?"
When I run these code will rasie the error, can support score_samples of sklearn.neighbors.KernelDensity in dask_ml.wrappers.ParallelPostFit or
I can do what I need by referring to other code in dask_ml.wrappers and by adding some new code (and ensuring the correct xign of the result)?

from dask.distributed import Client
import joblib
from sklearn.neighbors import KernelDensity
import pandas as p

[2022-02-16 08:10] suliuzh commented on #7717
I am wondering if these dependencies are used but not documented properly.

- tiledb
https://github.com/dask/dask/blob/d06339b1ff6379637d0d100f88fee97d35a65db8/conftest.py#L43
- bcolz
https://github.com/dask/dask/blob/3a552fbd3aef6a6815543a8054f8e2be6b2181b0/dask/dataframe/io/io.py#L260
- numba
https://github.com/dask/dask/blob/3a552fbd3aef6a6815543a8054f8e2be6b2181b0/dask/sizeof.py#L105

- h5py
h

[2022-02-16 09:46] jorloplaz commented on #8458
Thanks for looking into this @scharlottej13 . As I see it, this amounts to the fact that [pd.merge_asof](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge_asof.html) behaves like a left join in [pd.merge](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge.html), which literally states:

My understanding of this, backed up with @kori73 's snippet, is that

[2022-02-16 10:04] jacobtomlinson commented on #8704
Thanks for the ping here @jrbourbeau. I've opened #8731 to update the example for all platforms.

[2022-02-16 13:38] jsignell commented on #7717
These are all optional packages. They can be used with dask, but there is plenty of functionality in dask that works without them.

[2022-02-16 13:42] #8704 closed

[2022-02-16 13:44] #8726 closed

[2022-02-16 14:10] jsignell commented on #8720
Thanks for writing this up @erinov1! I just went looking through the codebase and came to the same conclusion as you that only a tuple is supported. If this is a known and unavoidable limitation (@rjzamora or @martindurant should be able to comment on whether that is the case), then docs and an early error would certainly help. For your second scenario, I think you just need a trailing comma to ma

[2022-02-16 14:12] martindurant commented on #8720
Correct, @jsignell . I think this specific syntax was described in full by arrow, although fastparquet originated the general form.

[2022-02-16 14:15] jsignell commented on #8720
Ok great! So it would be reasonable to raise if the `op` is `in` and the `val` is not a `tuple` right?

[2022-02-16 14:16] martindurant commented on #8720
Yes it would. Well, maybe a list is OK too.

[2022-02-16 14:45] jsignell commented on #8712
Thanks for writing this up so well! That is a pretty compelling example. I am taking a look at the sample code now to see if I can tell what's going on.

[2022-02-16 15:16] jsignell commented on #8712
Ok so this makes sense. Dask just maps the `sample(frac)` to each partition so we get a little bit of rounding differences. I found this example illustrative:

[code]

I think the question becomes: Is this something to solve with documentation or with code changes?

It is hard for me to think about how we could do it with code changes since `nrows` isn't something that we know until compute.

It d

[2022-02-16 17:29] pavithraes commented on #8707
@struktured Thanks for opening this issue, and for including a minimal example! I'll take a look at this :)

[2022-02-16 17:47] phobson commented on #8709
Hey @gerrymanoim. We're still tracking this down. I was able to reproduce the issue you're seeing. I'll likely need to pull in more resources to really get to the bottom of it.

[2022-02-16 17:56] graingert commented on #8711
It looks like adfs supports both client_id/client_secret and account_name/account_key authentication methods: https://github.com/fsspec/adlfs/blob/fbe43c601e7b162b7a2bf93f7f8b699c747b70e6/adlfs/spec.py#L377-L381

so I think this is a documentation bug in dask

[2022-02-16 19:09] david-thrower commented on #8624
@jsignell Thank you for that pointer. It did successfully correct the issue on my test script. I am surprised that this worked because I had already made a few unsuccessful attempts to manually parse the meta object. I had tried manually calling what if I remember right was `meta = dd.make_meta(...)` with the correct specification, I tried `meta = pd.DataFrame({'city':[],'state':[], 'zip_code':[]}

[2022-02-16 19:11] #8624 closed

[2022-02-16 19:42] pavithraes commented on #8663
@d70-t I agree with Sarah that we can move to Discourse, so I'll boldly close this for now :)

[2022-02-16 19:42] #8663 closed

[2022-02-16 20:11] rjzamora commented on #8480
Cause is in `distributed` btw: https://github.com/dask/distributed/pull/5695#issuecomment-1035371765

[2022-02-16 20:12] martindurant commented on #8666
I finally got around to running the code with dask 2022.01.1 (just before 02.0) and the original code works fine!

[2022-02-16 23:35] jrbourbeau commented on #8722
@ncclementi @phobson and I did some pairing on this issue and narrowed things down to this change being useful

[code]

Just posting this here for completeness. This may break other tests, I'm not sure yet. @ncclementi would you mind pushing up a PR to see if the test suite is happy with this change?

[2022-02-16 23:54] #2568 closed

[2022-02-17 14:07] jsignell commented on #8624
I'm so glad that worked! The meta stuff is definitely confusing - it trips people up all the time. We are working on how to make it clearer.

[2022-02-17 14:11] Dranaxel commented on #8695
Hi, actually looking on this issue. To clarify: we need to implement a compute method to https://github.com/dask/dask/blob/80a82008d5b02a08f6ff59d802defcc43247eb1a/dask/dataframe/groupby.py#L1014 in order to raise a NoImplementederror ?

[2022-02-17 14:26] jsignell commented on #8695
Yes that is exactly right!

[2022-02-17 21:22] jakirkham commented on #7764
cc @davidbrochart (for awareness)

[2022-02-17 21:40] davidbrochart commented on #7764
The long-term approach is to have conda-forge support a Wasm platform, then we would use conda to build environments as we are used to, instead of having a monolithic "Python + shipped libraries".
[CPython can now "officially" be build for Wasm](https://github.com/ethanhs/python-wasm), and we have started working on the conda-forge wasm target. It's going to take some time, but we'll get there!

[2022-02-18 11:49] albarji opened #8735 "set_index with sorted=True can drop rows in dataframes with empty partitions"
**What happened**: when setting a new index on a Dask DataFrame through the `set_index` method, in some cases of DataFrame with empty partitions, some rows are dropped in the process. This only seems to happen when using the argument  `sorted=True`.

**What you expected to happen**: `set_index` should not drop rows.

**Minimal Complete Verifiable Example**:

[code]

The test Dataframe `ddf` looks

[2022-02-18 14:24] jsignell commented on #8702
What's not clear to me is if this has worked at all recently, and if not then I wonder if anyone is using this functionality. @dask/maintenance to see if anyone has a sense of that.

[2022-02-18 14:34] jsignell opened #8736 "ReadTheDocs build failing"
I've been seeing this coming up on CI for PRs and haven't gotten a chance to dig in yet, but just wanted to flag it.

[code]

[2022-02-18 15:55] mgsnuno opened #8738 "to_sql sqlalchemy pickle error with 2022.2.0"
**What happened**:
to_sql sqlalchemy pickle error with dask 2022.2.0

**What you expected to happen**:
to_sql produces no pickle error with 2022.1.1

**Minimal Complete Verifiable Example**:

[code]

<details>
<summary>Traceback</summary>

[code]
</details>

**Anything else we need to know?**:
tested with SQLAlchemy 1.4.31

**Environment**:

- Dask version: 2022.2.0
- Python version: 3.9.10
- Oper

[2022-02-18 15:57] phobson commented on #8702
@jsignell that's a good question. I should be able to find time today (early evening US/Pacific) to cycle through a matrix of a few old versions of Scipy and dask.

[2022-02-18 19:28] jsignell commented on #8711
Please feel free to open a PR @th0ger to improve the docs!

[2022-02-19 04:36] holdenk opened #8739 "join should take maximal advantage of _recursive_pairwise_outer_join when present"
Right now, when joining more than two DataFrames, Dask uses `_recursive_pairwise_outer_join` for the DataFrames being joined to and performs a final non-parallelized merge. Instead we should allow all of the merges to be computed in parallel.

[2022-02-19 21:18] martinfleis commented on #5438
Hello, I think that with the first proper release of [`dask-geopandas` ](https://github.com/geopandas/dask-geopandas) coming up shortly, this can be closed :).

[2022-02-19 22:03] detrout opened #8742 "test_map_overlap_no_depth[None] Failed: DID NOT RAISE <class 'FutureWarning'>"
Hello,

I was trying to update the Debian Dask package to 2022.01.0 and had a minor failed unit test.

[code]
With Python 3.9.9 I tried to test the pytest.raises contextmanager

[code]

I'm wondering if the context handler should actually be this:

[code]

I'm probably just going to patch it with this:

[code]

**Environment**:

- Dask version: 2022.01.0
- Python version: Python3.10.2 and Python3.

[2022-02-19 22:15] detrout commented on #8742
Forgot one useful detail we're using python3 pytest 6.2.5-1

[2022-02-21 09:18] semenoffalex commented on #3899
`! python -m pip install dask[dataframe] --upgrade` results in `Requirement already satisfied`. Kernel has been restarted. However `import dask.dataframe as dd` returns the same suggestion to install dask.

[2022-02-21 12:51] jorloplaz commented on #5720
Following on @TomAugspurger 's comment and a conversation on Slack with @jsignell, [Pandas now supports indexation by an ExtensionDtype from its 1.4 release](https://pandas.pydata.org/docs/dev/whatsnew/v1.4.0.html#index-can-hold-arbitrary-extensionarrays).

So, if Dask fails, it should be because it relies at some point on some specific `numpy`-related code and doesn't delegate on Pandas for that.

[2022-02-21 13:12] mgsnuno commented on #8738
@jsignell I think it might have to do with this change: https://github.com/dask/dask/blob/f634f2b01caeb10dcd33734f780d9bb6056a21d9/dask/dataframe/io/sql.py#L798

the `engine` is created already at this stage and the engine is not picklable

[2022-02-21 14:37] th0ger commented on #8711
So far, I can confirm that this auth method works against ADLS Gen2:

[code]

So yes, ths docs should be improved.

[2022-02-21 15:47] TomAugspurger commented on #5720
Yeah, we will need find all the calls to NumPy functions in partionquantiles and make sure that we’re just using functions from the extension array interface.

[2022-02-21 17:04] jsignell commented on #8666
Ok! So I am going to go ahead and close this. Thank you everyone for engaging on this :)

[2022-02-21 17:04] #8666 closed

[2022-02-21 17:10] jsignell commented on #3899
If you can provide more of the error that you are seeing that would help. In a fresh environment I cannot reproduce @semenoffalex

[2022-02-21 17:11] jsignell commented on #5438
Thank you so much @martinfleis and @jorisvandenbossche for taking dask-geopandas on!

[2022-02-21 17:11] #5438 closed

[2022-02-21 17:17] jsignell commented on #8738
Thanks for raising this @mgsnuno! I think you are right in your diagnosis. I guess our options are to revert that #8609 or figure out a way to pickle the engine object. Ping @scharlottej13 and @ian-r-rose for options on the best path forward.

[2022-02-21 18:05] ian-r-rose commented on #8738
Ah, yeah, we shouldn't be trying to create the `engine` directly at graph construction time for exactly this reason. The `read_sql` path defers engine creation until `_read_sql_chunk`, this `to_sql` be doing something similar.

It should be a reasonably straightforward fix, though perhaps we should revert #8609 until we can get it in.

[2022-02-21 19:52] ncclementi opened #8744 "PR Labeler bot not behaving as expected"
According to the [labeler.yml](https://github.com/dask/dask/blob/main/.github/labeler.yml) anything that falls under   - `dask/docs/*` or `dask/docs/**/*` should receive the `documentation` label. But it's not working properly, and when the label is added manually it gets removed by the bot.

For example, see this documentation PR https://github.com/dask/dask/pull/8648. Where the label was added m

[2022-02-21 20:05] jsignell commented on #8738
Yeah it does seem like we could write a similar `_to_sql_chunk`.

[2022-02-21 21:17] jrbourbeau commented on #8742
Thanks for reporting @detrout. I agree `pytest.warns` should be used for catching warnings. A PR updating `pytest.raises` -> `pytest.warns` would be welcome

[2022-02-21 21:19] jsignell commented on #8744
What the heck. We have a rogue bot?? Let me see if I can figure it out.

[2022-02-21 21:43] #8695 closed

[2022-02-21 21:44] ncclementi commented on #8742
It seems there is a PR that will probably affect this test, https://github.com/dask/dask/pull/8743.

[2022-02-21 21:45] #8744 closed

[2022-02-21 21:48] detrout commented on #8742
Although shouldn't #8743 then also remove the if boundary is None branch in test_overlap since it wouldn't be generating the FutureWarning anymore?

[2022-02-21 21:56] jsignell commented on #8742
Yeah it will be removed in #8743, so you can also just wait for that to merge.

[2022-02-21 22:02] jrbourbeau commented on #5610
Re-opening as I think we still have a few warnings emitted during our documentation build. We should close this issue once we've enabled the "elevate warnings to errors" setting

[2022-02-21 22:11] jsignell commented on #8278
I think we can go ahead and close this. It's probably better to open issues on the upstream libraries as these warnings crop up.

[2022-02-21 22:11] #8278 closed

[2022-02-21 22:54] detrout commented on #8742
ok sounds good to me.

[2022-02-21 22:54] #8742 closed

[2022-02-22 12:50] th0ger commented on #8650
Hi @pavithraes and @scharlottej13, thank for looking into this.

First one regression from my end: I forgot to provide `partitioning_flavor="hive"` to `ds.write_dataset()`. This setting ensures that pyarrow names the partition folders as hive-style `/col1=<value>/` instead of just `/<value>/`. It seems to me that pyarrow does not write the `_metadata` and `_common_metadata` files that Dask does (a

[2022-02-22 14:20] #8739 closed

[2022-02-22 16:10] kbushman opened #8749 "Groupby Shift produces incorrect result"
**What happened**:

Data shifts to incorrect location when using groupby shift operation.

**What you expected to happen**:

Data should be shifted along the sorted index within each group.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

There is a comment in the source code that "If the grouper does not align with the index then this causes a full shuffle.

[2022-02-22 19:20] #8722 closed

[2022-02-22 19:39] #8711 closed

[2022-02-22 22:18] phobson commented on #8709
The intermediate conclusion for this is that this is essentially "how dask works".

In the good case, a call to `read_parquet` isn't showing up due to task fusion. In the bad case, it's not possible to "un-persist" via deleting futures since the task graph will always depend on them.

You can inspect a low-level graph in an interactive REPL to help illuminate some of the inner working of this.

Fo

[2022-02-23 01:29] jrbourbeau commented on #8376
Closed via https://github.com/dask/dask/pull/8527

[2022-02-23 01:29] #8376 closed

[2022-02-23 08:57] sissnad commented on #8712
Sorry, for the delay.

Ideally, dask dataframe provides the same functionality (and similar results) as pandas dataframe. This is why I would prefer a code change. Of course, if it is not possible it requires documentation.

I don't have any preference when it comes to `frac` vs `n`. If switching from `frac` to `n` solves the problem, I vote for using `n`.

[2022-02-23 11:00] Prateek1410 commented on #2426
Hello all!

I am stuck on a similar problem. I am getting the error: _TypeError: '_iLocIndexer' object does not support item assignment_

My code is this.:

`s = 0
for index, row in ob_full.iterrows():
  if row[3] != 0:                           #if the current row for column 3 is not equal to zero...
    s = ob_full['Steps'].values[index]      #...then, take the current cell's value and store it

[2022-02-23 14:16] beckernick commented on #8749
I ran into this problem while working on #8659 in https://github.com/dask/dask/pull/8659#issuecomment-1037266953

I'm not sure sorting each partition after a full shuffle would resolve this problem, as the partitions themselves may be different. A naive approach could be to create a monotonically increasing global index column and sort based on that.

[code]

cc @jsignell , interested in your thou

[2022-02-23 14:26] semenoffalex commented on #3899
@jsignell nevermind.
Turned out the problem was with `cudf` breaking `pandas` installation in Ubuntu under WSL2.

[2022-02-23 17:22] scharlottej13 commented on #8720
@erinov1 just checking in here-- would you feel comfortable opening up a PR with the above suggestions? Feel free to let us know if you need any help. No pressure either way!

[2022-02-23 17:27] jrbourbeau commented on #8330
Given `bcolz` is no longer maintained and can't be installed from conda-forge on Python 3.9+, I think we should deprecate `from_bcolz`. @pavithraes would you mind looking into this when you get a moment.

To do this I would emit a `FutureWarning` in Dask's `from_bcolz` with `warnings.warn` and then use `pytest.warns` in our existing `bcolz`-related tests to make sure the warning is emitted as expe

[2022-02-23 17:37] scharlottej13 commented on #8677
@rjzamora just checking in, what's the status on this issue? From your above comment it seems additional documentation and warnings would be helpful, should we open a separate issue for those changes? Thanks!

[2022-02-23 17:41] gerrymanoim commented on #8709
Ah I see - thanks for the detailed response!

[2022-02-23 17:41] #8709 closed

[2022-02-23 17:43] scharlottej13 commented on #8688
@beckernick are you still interested in opening a PR for this? No pressure either way, just wanted to check in!

[2022-02-23 18:14] scharlottej13 commented on #8620
@jsignell it looks like this test is now passing CI (from checking the latest windows run [here](https://github.com/dask/dask/runs/5297419058?check_suite_focus=true#step:6:8781)). Are you still seeing this test fail?

[2022-02-23 18:35] #8618 closed

[2022-02-23 18:40] #5661 closed

[2022-02-23 18:42] #2726 closed

[2022-02-23 18:59] beckernick commented on #8688
Unfortunately I've had to shift focus and haven't had a chance to do this. I'm still happy to return to this when things clear up, but am also happy for someone else to jump in.

[2022-02-23 19:29] jsignell commented on #8735
Ok I think the issue has to do with how `fix_overlap` works. Basically when there are empty partitions _and_ overlap, the function can drop rows. I am including the fix for this on #8517.

[2022-02-23 21:17] jrbourbeau commented on #8688
@scharlottej13 would you mind taking a look at this when you get a moment?

[2022-02-23 22:30] scharlottej13 commented on #8688
Just noting we should keep this issue open until we actually remove `getnanos`

[2022-02-23 22:31] #8738 closed

[2022-02-24 09:53] espenairmine opened #8753 "Much slower (100 x) xarray.open_mfdataset + compute after upgrading to dask > 2022.1.0"
We're  opening 3-5 netcdf files, each 200-300mb.

Running on Azure AKS,  python 3.8
xarray==0.21.1
dask==2022.1.1

[code]

This call executes in 300-400ms with dask <= 2022.1.0
After upgrading, automatic if package version not pinned, the call takes 20-30 sec

**What happened**:

After upgrading (automatically), our processes had close to 100x longer call times

**What you expected to happen**:

U

[2022-02-24 13:33] #8670 closed

[2022-02-24 14:35] jorloplaz commented on #7206
This is similar to what we're discussing in #5720 . The problem appears to be in `partitionquantiles.py`, which thinks that it is numpy dtypes being used, and not extended Pandas ones.

[2022-02-24 16:27] albarji commented on #8735
Thanks a lot for looking into this! 👍

[2022-02-24 17:23] jsignell commented on #8620
Yeah that test wasn't passing on a build that we don't do anymore (the windows32 python3.7 build) so hard to say if it's not passing or not anymore.

[2022-02-24 17:28] jrbourbeau commented on #8620
Thanks @jsignell @scharlottej13. Since we've only seen this on a Python 3.7 build, which we don't support anymore, I'm going to close this issue for now and we can re-open if we see this error again or someone is able to reproduce on Python 3.8+

[2022-02-24 17:59] jrbourbeau commented on #8753
Thanks for reporting @espenairmine. Are you able to provide a minimal reproducer others can run (see https://blog.dask.org/2018/02/28/minimal-bug-reports for more details)?

[2022-02-24 22:24] #8214 closed

[2022-02-25 04:16] rjzamora commented on #8243
Thanks for the excellent summary @jorisvandenbossche (Sorry for the delay - I know it was a while back). #8758 is taking the first step at addressing this issue (adding a deprecation warning).

[2022-02-25 13:39] espenairmine commented on #8753
@jrbourbeau  - hopefully reproduceable with updated code above

[2022-02-25 14:12] quasiben opened #8759 "Expand Meta doc for Arrays"
In our documentation `meta` is explained for Dataframes:
https://docs.dask.org/en/stable/dataframe-design.html#metadata

It would be nice to include an analogous explanation for arrays as well

[2022-02-25 21:27] erinov1 commented on #8720
Hi @jsignell @scharlottej13
Apologies for the delay. Yes, I can try to open a PR in the next few days.

[2022-02-26 01:34] scharlottej13 opened #8760 "Error pickling h5py objects with multiprocessing scheduler"
**What happened**:
This issue first came up on [discourse](https://dask.discourse.group/t/h5py-objects-cannot-be-pickled-or-slow-processing/229). When using the multiprocessing scheduler with `h5py` objects, there is a `TypeError: h5py objects cannot be pickled`. This does not happen when using the distributed scheduler.

**Minimal Complete Verifiable Example**:
[code]
<details>
 <summary>Full tra

[2022-02-26 18:02] soma2000-lang commented on #8759
@quasiben  can i work on this

[2022-02-28 15:06] pavithraes commented on #8707
@struktured Thanks for your patience!

I couldn't reproduce this error, and I'm wondering if it's specific to your data? I'm also curious if you can read this (or smaller+similar data) successfully with [pandas' read_hdf](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_hdf.html#pandas-read-hdf)?

[A minimal example that shows this erorr](https://matthewrocklin.com/blog/work/

[2022-02-28 20:32] sergiomora03 commented on #6008
I have the same error, but with index. It's maybe works as index (multi-index) as values (multi-columns). Is it in the scope or maybe i'm wrong?

[2022-02-28 20:47] jsignell commented on #8759
@soma2000-lang if you are interested in working on this you can go ahead and open a pull request.

[2022-02-28 20:50] #8608 closed

[2022-02-28 21:04] jsignell commented on #8753
It would help if you can check the code above. Particularly the path in the `compute` function is not right.

If I naively run:

[code]

I get:

[code]

[2022-02-28 21:13] jsignell commented on #8749
Hmmm for the original issue I am not totally convinced that the shift is doing the wrong thing. The `c` value for each index value matches that in pandas. It is just that the index is not in order.

[code]

[2022-02-28 21:29] soma2000-lang commented on #8759
Ok

On Tue, Mar 1, 2022, 02:17 Julia Signell ***@***.***> wrote:

[2022-02-28 22:35] kbushman commented on #8749
Hmm, interesting. I just reran it a few times and it seems to be non-deterministic. Sometimes I get the same result that you did (which I agree is the expected result). But other times I get the following result:

[code]

[2022-02-28 23:18] gjoseph92 commented on #8709
Sounds like https://github.com/dask/dask/issues/8635 is contributing to the confusion? That is, the `read_parquet` operation actually runs twice in both cases, it's just that in the "good" case, it's fused into the `assign` task as @phobson showed, so you don't realize it's happening. If the task name on the dashboard were `read_parquet-assign` instead of just `assign`, it might be clearer what wa

[2022-03-01 08:50] LeeMo2K10 opened #8766 "dask how to read AlibabaCloud oss parquet?"
dask_function(...,
    storage_options={
        "key": ...,
        "secret": ...,
        "client_kwargs": {
            "endpoint_url": "http://some-region.some-s3-compatible.com",
        },
        # this dict goes to boto3 client's `config`
        #   `addressing_style` is required by AlibabaCloud, other services may not
        "config_kwargs": {"s3": {"addressing_style": "virtual"}},

[2022-03-01 13:45] jsignell commented on #8749
Ah ok. I admit it was a little bit wishful thinking. Thanks for indulging me.

[2022-03-01 14:21] jsignell commented on #8152
I don't see a decision yet. But the suggestion of using logging rather than warnings seems fine. We don't do that much in dask/dask but there is at least one case in the dataframe.shuffle module.

[2022-03-01 14:50] gerrymanoim commented on #8709
I think for me it was a combination of the name and the coloring that was different, so without delving into the task graph it wasn't clear that the reading was occurring as part of a fused operation in one case.

[2022-03-01 15:07] quasiben commented on #8760
While this issue is focused on writes I think it's still relevant to how dask handles multi-processes and hdf5 processing:
https://github.com/dask/dask/issues/3074

[2022-03-01 17:42] jcrist commented on #8161
I don't believe there's any further action needed from us here, closing. Feel free to reopen if the issue persists.

[2022-03-01 17:42] #8161 closed

[2022-03-01 17:47] pavithraes commented on #8323
@jsignell Thanks for looking into this!

[2022-03-01 17:47] #8323 closed

[2022-03-01 17:54] jcrist commented on #8152
I initially was pro adding a warning here (this came up after debugging why a user wasn't seeing parallelism in their code). After reading through the comments above though, I think I'm now against adding a warning at all. I could see the benefit of a debug log message though when the scheduler starts up. Something like:

[code]

at the start of `dask.threaded.get`/`dask.multiprocessing.get`/`dask

[2022-03-01 17:55] scharlottej13 commented on #8420
@astrofrog, closing this due to inactivity, but feel free to re-open if you are still having issues!

[2022-03-01 17:55] #8420 closed

[2022-03-01 17:56] jcrist commented on #8132
@martindurant - is this issue still tracking ongoing work/todos? All the linked PRs have now been merged, I'm wondering if this can be closed.

[2022-03-01 17:58] #8132 closed

[2022-03-01 18:00] pavithraes commented on #8303
Closing as stalled, please feel free to re-open if your issue persists. :)

[2022-03-01 18:00] #8303 closed, assigned to nobody

[2022-03-01 18:04] scharlottej13 commented on #8399
@j-r77 closing this issue since it seems your problem was resolved with #8416 and the advice from `@rjzamora` and `@martindurant`

[2022-03-01 18:04] #8399 closed

[2022-03-01 18:07] jcrist commented on #8074
As this is a rather high-breadth issue and has sat idle for several months, I'm going to close this as stale. Feel free to reopen or open a more focused issue if the discussion should continue.

[2022-03-01 18:07] scharlottej13 commented on #8391
@jsignell are we good to close this issue since #8743 has been merged?

[2022-03-01 18:11] jcrist commented on #8062
Looking through our test failure history, this no longer appears to be a flaky test. Closing.

[2022-03-01 18:13] pavithraes commented on #8290
@y-he2 Thanks for opening this! Based on your latest comment, it sounds like this issue is mostly resolved, and tracking #8289 would be enough? If so, please feel free to close this!

[2022-03-01 18:19] pavithraes commented on #8284
Closing this one, since #8224 is tracking the documentation requested :)

[2022-03-01 18:19] #8284 closed

[2022-03-01 18:22] pavithraes commented on #8280
@vttrifonov Thanks for the issue! Just wanted to check again if you'd be interested in opening a PR :)

[2022-03-01 18:25] jcrist commented on #7997
With #8014 & #8021 in, I believe this can be closed.

[2022-03-01 18:25] #7997 closed

[2022-03-01 18:31] pavithraes commented on #8327
@pinnnnnnz Thanks for opening this issue! I think `@jrbourbeau`'s solution sounds good, so I'm boldly closing this as resolved. If the issue persists, or you'd like to propose a new feature, please feel free to re-open it!

[2022-03-01 18:31] #8327 closed

[2022-03-01 18:41] jcrist commented on #7996
Looking through a few recent gpuCI builds, it looks like this may no longer be a flaky test?

[2022-03-01 18:47] jcrist commented on #7977
Just checking in here, @kinghuang were you able to retest with Joris's patch? Was any work ever done upstream in pyarrow to resolve this?

[2022-03-01 18:56] jcrist commented on #7918
Looking through recent test failures, I don't see this flaky test popping up anymore. Closing for now.

[2022-03-01 18:56] #7918 closed

[2022-03-01 19:01] jcrist commented on #7853
Since this is mostly an upstream issue in Data API, I'm going to close this here and let discussion continue there.

[2022-03-01 19:02] jcrist commented on #7690
Closing as stale.

[2022-03-01 19:02] #7690 closed

[2022-03-01 19:03] jakirkham commented on #8391
I think so. @GenevieveBuckley is this good to close from your perspective? 🙂

[2022-03-01 19:07] jcrist commented on #7369
I haven't seen this test failure lately, closing for now.

[2022-03-01 19:07] #7369 closed

[2022-03-01 19:19] phobson commented on #8709
@elaineejiang this is the issue I mentioned that discusses how to dive into task graphs

[2022-03-01 21:20] scharlottej13 commented on #8390
Hi @FredericOdermatt and thank you for your patience on this issue!

I was able to reproduce your most recent reproducible examples (thank you for taking the effort to make these more minimal) both on Dask versions `2021.10.0` and `2022.02.1`. From what I can tell, this issue is not related to `parquet`, but is instead more about managing memory in Dask. Stepping through your snippet, I was able t

[2022-03-01 21:20] #8390 closed

[2022-03-02 01:57] github-actions[bot] opened #8768 "⚠️ Upstream CI failed ⚠️"
[Workflow Run URL](https://github.com/dask/dask/actions/runs/1919719701)

[2022-03-02 02:01] gjoseph92 opened #8769 "DataFrame merge: clarify that merging on column puts all matching values into one partition"
I naively tried to do `dd.merge(a, b, on="column_with_ten_values")`, where `a` and `b` were both large DataFrames with thousands of partitions each.

Eventually the compute failed with:
[code]

I was confused why a 224 TiB array needed to be allocated. As a user, this was a strange and concerning error to see. Eventually I realized that my `on` column had only a few unique values, so (I think) it

[2022-03-02 02:24] gjoseph92 opened #8770 "`DataFrame.set_index` with empty `divisions` does not raise informative error"
This may seem like a rather silly thing to validate, but it's easy to accidentally pass in empty divisions if you're using a divisions list generated elsewhere, or mess up typing `range(1000, 2)` instead of `range(0, 1000, 2)` like I did.

Would be nice to have a short, informative traceback in this case instead of this inscrutable error.

[code]

[code]

[2022-03-02 03:12] gjoseph92 commented on #8635
Just want to note that I've been using Dask to do some "actual data science" for the past few hours, and I've been repeatedly thrown off by misleading task names on the dashboard. Wondering things like "why is my cluster OOMing trying to do `df.size.compute()`," only to realize much later that `size` is fused onto the end of a shuffle, and the OOMing is actually because I've picked bad divisions f

[2022-03-02 07:51] z4m0 commented on #8493
I was trying to check for the healthiness of the scheduler and workers when I encountered that issue. Is there an equivelent `/health` to poll to know if the workers are healthy?

[2022-03-02 11:49] jorloplaz commented on #5720
Actually, there seems to be an incompatibility in the very deep `meta_from_array`. This makes `.values` fail miserably, even when `.compute()` is not called. Perhaps it should be `dtype.kind` and not `dtype` itself that should be passed? @TomAugspurger :

[code]

[2022-03-02 11:59] soma2000-lang commented on #8759
@jsignell Just once to clarify what I need to do here,should I write about arrays here??

[2022-03-02 12:21] pavithraes commented on #8650
@th0ger Thanks for sharing a nice minimal example, I was able to reproduce this. :)

I'm wondering if this might be a bug in Dask, maybe @jcrist or @rjzamora can help confirm?

Because it seems to work as expected using pandas' `read_parquet`: `pd.read_parquet(path='foo-pyarrow', engine="pyarrow")`. With this information, here's a non-ideal workaround using `Delayed`:

[code]

I also came across [

[2022-03-02 12:33] TomAugspurger commented on #5720
I'm not sure off hand. It might be worth seeing what we do with Categorical  / CategoricalIndex.

[2022-03-02 13:50] peterroelants opened #8771 "KeyError"
**What happened**:

I got the following Exception printed while running my code:
[code]
The code continues running after the Exception is printed.

I suspect that the `KeyError` is coming from Dask, although I don't have any clue why and how it happens. The `linecache.getline` `TypeError` is a Python bug I think: https://bugs.python.org/msg414346

I cannot reliably reproduce this, and it only happ

[2022-03-02 14:36] rjzamora commented on #8650
Thanks for the reporting this @th0ger - My understading is that dask is able to round-trip the partitioned dataset, but fails when the data was written directly by pyarrow (please do correct me if I am wrong). It is likely that this is a bug in Dask and I will be happy to help investigate.

Some other notes:
- The pyarrow-dataset engine was implemented before the pyarrow.dataset API had write supp

[2022-03-02 15:37] rjzamora opened #8772 "Add a dedicated documentation page for reading and writing Parquet data"
The `dask.dataframe` Parquet API has become relatively complex in order to support a range of pluggable `Engine` definitions (e.g. `FastparquetEngine`, `PyarrowDatasetEngine` and `CudfEngine`). The growing code base has led to new/valuable features, but also [unecessary user pain](https://github.com/dask/dask/issues/8677).  To help improve the user experience, I suggest that we add a dedicated "Re

[2022-03-02 15:38] rjzamora commented on #8677
Thanks for the ping and sorry for missing this @scharlottej13 ! I am hoping that I can clean up #8765 to make it easier to pass custom `pyarrow.dataset.Dataset` (or `fastparquet.ParquetFile`) options and improve the errors/warnings when unsupported arguments are passed.  However, I do think a dedicated documentation issue makes sense - Hopefully #8772 covers what we want/need.

[2022-03-02 15:58] DamianBarabonkovQC opened #8773 "Series Aggregation called Multiple Times, Must Support Recursive Nature"
**What happened**:

With the latest Dask version 2022.02.0, whenever a Series is aggregated, the aggregator is called multiple times in a recursive nature. This was not the case before 2022.02.0. This recursive nature means that the aggregator function must return values that it should be able to later accept again.

**What you expected to happen**:

In Dask 2022.01.0 and before, the aggregator di

[2022-03-02 17:24] jcrist commented on #8768
This is due to a segfault in pandas (:grimacing:) in `test_apply_or_transform_shuffle_multilevel`.

[2022-03-02 17:29] scharlottej13 commented on #8766
Hi @LeeMo2K10, thanks for opening this issue! It seems this is more of a usage question rather than a feature or bug report and we encourage people to ask such questions on the [Dask Discourse](https://dask.discourse.group/). Would you mind opening a discussion topic about this over there and sharing a [minimal reproducible example](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-repor

[2022-03-02 17:29] #8766 closed

[2022-03-02 17:41] jcrist commented on #8768
Hopefully it's a transient issue, but we should keep an eye on it. Segfaults may only appear in multithreaded code, the pandas devs may not be aware of an issue.

Closing for now, if it fails again we should look further.

[2022-03-02 17:41] #8768 closed

[2022-03-02 17:44] #8330 closed

[2022-03-02 17:57] jcrist commented on #8773
Thanks for the reproducible example, I've updated it slightly to run with less data. I also noted that this works fine locally and only fails with the distributed scheduler, indicating this likely has something to do with the HighLevelGraph logic for generating the graph on the scheduler.

cc @rjzamora, since #8468 lead to this issue.

[2022-03-02 17:58] scharlottej13 commented on #8435
@gjoseph92 did you and @jsignell still want to keep this discussion open?

[2022-03-02 18:07] github-actions[bot] opened #8776 "⚠️ Upstream CI failed ⚠️"
[Workflow Run URL](https://github.com/dask/dask/actions/runs/2235329821)

[2022-03-03 08:29] y-he2 commented on #8290
Sure, can close this as the solution is: use (Dask on) Ray object store.

[2022-03-03 08:29] #8290 closed

[2022-03-03 08:30] y-he2 commented on #8289
Closed #8290 which makes this feature request even more crucial.

[2022-03-03 14:02] espenairmine commented on #8753
@jsignell -  sorry, could have included code to download the files, but it was in the comment above:

[2022-03-03 15:04] jsignell commented on #8753
Ah sorry it's been a while since I was downloading from a thredds server.

I downloaded a datafile from here: https://thredds.met.no/thredds/catalog/metpplatest/catalog.html?dataset=metpplatest/met_forecast_1_0km_nordic_20220303T13Z.nc

And ran:

[code]
with latest dask I got:

[code]

with dask 2021.10.0 I got:
[code]

when I use `open_dataset` instead I get much more similar times:

latest
[code

[2022-03-03 15:10] rgommers commented on #8702
This also doesn't work with SciPy 1.7.0. My question is why you'd expect this to work? [scipy.sparse.linalg.aslinearoperator](http://scipy.github.io/devdocs/reference/generated/scipy.sparse.linalg.aslinearoperator.html) is the public function that can return a `MatrixLinearOperator`. When trying to feed it the dask array `x` from the example above, the result is:
[code]
A dask array does not meet

[2022-03-03 15:16] rjzamora commented on #8773
Your intuition sounds correct to me @jcrist - The good news is that #8672 fixes the problem. However, I will see if I can find what is causing the issue now in case that PR takes a while to get merged.

[2022-03-03 15:30] jsignell commented on #8753
Ok I took a look at the dask graphs for these arrays and the main difference I am seeing is there is an extra layer in the new graph. I think the layer is coming from here:

https://github.com/dask/dask/blob/f5b42d4b90d45f9c9bf42fcae99e4a4589246f18/dask/array/core.py#L299-L319

It looks like it was added in https://github.com/dask/dask/pull/7417 @ian-r-rose I'm hoping that you might have some insi

[2022-03-03 15:39] jsignell commented on #8702
Ah ok thanks for commenting @rgommers. I definitely don't have well-formed expectations around this part of dask or scipy. Given this context I think we can just remove that example from the docs.

[2022-03-03 15:48] jsignell commented on #8702
I am removing all docs and tests around this functionality in #8694

[2022-03-03 16:00] jsignell commented on #8776
Rats I was hoping this was just a transient error, but looks like we have another segfault from pandas. See https://github.com/dask/dask/issues/8768 for more comments.

@jorisvandenbossche the segfault is coming from `test_apply_or_transform_shuffle_multilevel`

[2022-03-03 17:08] #8682 closed

[2022-03-03 17:08] #8702 closed

[2022-03-03 17:11] jsignell commented on #8753
Let me also ping @dcherian from xarray for visibility.

[2022-03-03 19:41] gjoseph92 commented on #8435
Sure, seems like we agreed that we should do this, but maybe we'll just leave the issue open until it actually happens?

[2022-03-03 20:22] tejinc opened #8777 "Installing Dask-gateway using Helm failed for Kubernetes v1.22.1"
**Command run**:
helm install --version 2022.2.1 dhub dask/daskhub --namespace dhub --create-namespace
or
helm install --version 0.9.0 dhub dask/dask-gateway --namespace dhub --create-namespace

**What happened**:
Installation failed with the following output:
Error: INSTALLATION FAILED: failed to install CRD crds/daskclusters.yaml: unable to recognize "": no matches for kind "CustomResourceDefini

[2022-03-03 22:10] ifenty commented on #7547
@TomAugspurger @stevengillard

I think I'm confronting this same issue, indefinite thread hanging when using open_mfdataset + parallel=True with a dask cluster to read files via s3fs.

Is there a known set of library versions before or after this bug which are known to work (i.e., allow open_mfdataset to open s3fs files in parallel with dask?).

I'm operating on a 'brand new' juypterhub environmen

[2022-03-04 01:39] mattgerg12 opened #8778 "Support for automatic optimizations"
Does dask query optimizer can automatically push down filters and projections based on the transformation queries that follows after the load? (Just similar to spark, duckDB ) Or should we rely on manually specifying this when loading the file(`read_parquet`) using `columns` and `filters` options ?

Are there any plans to support this in future ? I am curious - as on the contrary to pandas, dask c

[2022-03-04 16:40] jsignell commented on #8778
There are definitely plans to push down filters, but they aren't very complete yet, so if you can include columns and filters in the read_parquet call it is always better to be explicit.

You can watch PRs like https://github.com/dask/dask/pull/8692 and https://github.com/dask/dask/pull/8633 for that work.

[2022-03-04 16:40] #8778 closed

[2022-03-04 18:55] scharlottej13 opened #8779 "`dataframe.percentiles_summary` cannot handle pandas `"string"` data type"
Noticed this when answering [this question on Stack Overflow](https://stackoverflow.com/a/71345190/17015034), [`percentiles_summary`](https://github.com/dask/dask/blob/a27b437da2594fd5c15f85736aa520feb726ddbd/dask/dataframe/partitionquantiles.py#L386-L432), which is used to set new partition divisions for shuffle operations, does not know how to handle [pandas `"string"` data types](https://pandas

[2022-03-04 20:15] scharlottej13 opened #8780 "Improve docstring for `dataframe.repartition`"
In [this Stack Overflow question](https://stackoverflow.com/questions/71340935/dask-repartition-by-index-not-working-as-expected-resulting-in-2-instead-of-3-p), there is some confusion around how `divisions` works for [`dataframe.repartition`](https://docs.dask.org/en/latest/generated/dask.dataframe.DataFrame.repartition.html#dask.dataframe.DataFrame.repartition). The docstring for [`dataframe.set

[2022-03-05 20:04] kori73 commented on #8749
I have opened a PR with the within-partition-sorting approach. I can also offer some help if you would like to go with the global index (or some other) approch to fix the issue discussed on #8659.

[2022-03-05 21:07] abergou opened #8783 "dask.base.clone_key loses prefix if it has no token"
When someone crafts custom names for dask collections that only have a prefix and no token component then if graph_manipulation tools are applied to this graph dask loses the task prefix information. I would naively expect this information to be retained.

[code]
I would expect baz's dask key's to start with `bar-`.

Compare this with:
[code]

I believe the issue is in `dask.base.clone_key`. It's

[2022-03-05 22:14] detrout commented on #8169
With Dask 2022.01 and 2022.02 this patch gets past the initial test failure test_categorical_set_index[tasks]:

[code]

However the new info(verbose=True) option introduced in #8222 gives a new error when running on 32 bit.

(Traceback from my 2022.02 test run
[code]

I'm pretty sure that 32-bit architectures will use less memory than 64-bit architectures and that should be expected.

[code]

Woul

[2022-03-06 10:39] QuLogic commented on #8499
If you want, or maybe those tests should be skipped if not running on GitHub CI.

Seems like that's not happening.

[2022-03-07 08:26] pentschev commented on #7996
The test has been marked flaky, meaning it will be attempted to run for 10 times and only then fail. Unless I'm mistaken, there's no way to identify whether the test ran more than once and passed after a failure, is there?

[2022-03-07 09:35] davidhassell opened #8784 "Add ma.count to Dask array"
Hello,

Dask is missing the [numpy.ma.count](https://numpy.org/doc/stable/reference/generated/numpy.ma.count.html) function, but this would be useful for use in the cf-python library, which is currently undergoing a daskification.

Would you consider putting this in? I have put together a PR that implements it, which will appear shortly.

Many thanks, David

[2022-03-07 11:12] crusaderky commented on #8616
I really like @gjoseph92's idea.
I think there are a few issues with it though:

1. as pointed out already, Client<->Scheduler connectivity is frequently less reliable/predictable than Scheduler<->Worker
2. Client<->Scheduler bandwidth and latency can be much, much slower than the one inside the cluster - namely when the Client is on somebody's laptop and connects to a scheduler on AWS. Worst case

[2022-03-07 18:48] #8773 closed

[2022-03-07 18:51] #8780 closed

[2022-03-07 19:47] mikwieczorek opened #8787 "[Bug] [Dask-on-Ray] Partd files are not cleaned automatically"
**What happened**:
Partd files that are used by Dask for shuffling are accumulating in `/tmp` folder on Ray Cluster workers.

**What you expected to happen**:
partd files should be cleaned automatically

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:
Ray Cluster needs to be deployed on Kubernetes with matching Ray versions on cluster and client.

**Environmen

[2022-03-07 21:13] quasiben commented on #8787
Have you pinged Ray folks about this ?  My understanding is that the Ray is also handling the object spilling in addition to running tasks through Ray's scheduler

[2022-03-08 11:38] jaj42 opened #8788 "Update dataframe partitioning to work with pandas custom dtypes"
**What happened**:
Repartitioning a dask dataframe indexed with a TZ-aware datetime index of type 'datetime64[ns, UTC]' fails with: TypeError: Cannot interpret 'datetime64[ns, UTC]' as a data type

**What you expected to happen**:
Repartitioning should work as expected with the TZ-naive index.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:
Full error:

[code

[2022-03-08 11:52] mikwieczorek commented on #8787
@quasiben Yes, but Ray is spilling objects in a separate directory if needed. `partd` files are Dask related files. Seems like they should be cleaned automatically by Dask after shuffling, but they persist on the workers.

[2022-03-08 14:14] pavithraes commented on #8759
@soma2000-lang Just checking in, are you comfortable opening a PR for this? Please feel free to ask for more clarifications or help with anything :)

[2022-03-08 14:15] soma2000-lang commented on #8759
Yes,sorry for the delay

[2022-03-08 16:13] jaj42 commented on #8788
I think the key issue is that timezone-aware datetime64 dtypes are a feature of Pandas which is not supported by NumPy.
Here is the relevant Pandas documentation:
[https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-timezone-series](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-timezone-series)
Trying to interpret the dtype from n

[2022-03-08 16:51] joanrue opened #8790 "Add ``dask.array.default_rng``"
Functions used for the generation of random samples (for example [dask.array.random.normal](https://docs.dask.org/en/latest/generated/dask.array.random.normal.html#dask.array.random.normal)) indicate in their docstring:
`New code should use the normal method of a default_rng() instance instead.`.

This feature is not currently available and would be very useful for compatibility with other array m

[2022-03-08 17:05] #8770 closed

[2022-03-08 17:21] jcrist commented on #8788
Yeah, this is the same issue as https://github.com/dask/dask/issues/8779 , our partitioning code needs to be updated to work with the pandas custom dtypes.

[2022-03-08 17:33] jsignell commented on #8499
This seems like a reasonable solution as well if you are interested in opening a PR.

Still planning to do it, but with a different approach and waiting for tests to be more stable on distributed before we do it https://github.com/dask/dask/pull/8662

[2022-03-08 17:46] #8627 closed

[2022-03-08 19:56] jsignell commented on #8783
Thanks for the nice write-up @abergou! It looks like you have a good idea of the change that should be made. Please feel free to open a pull request with the changes that you suggest.

Ping @crusaderky just in case since he's the expert in this part of dask.

[2022-03-08 20:23] jsignell commented on #8790
Thanks for opening this @joanrue! If this is something that you are interested in please feel free to open a pull request. For context, that docstring is copied from the upstream library that the function is mimicking (in this case numpy) so we don't really control the contents.

[2022-03-08 20:26] jsignell commented on #8749
Thanks @kori73! So this is closed by #8782

[2022-03-08 20:40] jsignell commented on #8764
I just failed to reproduce this with:

[code]

Am I missing something?

[2022-03-08 20:43] orf commented on #8764
I’m sorry for the late reply, I’ve been really busy over the last week.

this is definitely still reproducible from our tests, I’ll put some time in my calendar tomorrow to untangle it and produce an actual minimal example.

[2022-03-08 20:46] #8749 closed

[2022-03-08 21:41] mikwieczorek commented on #8787
@quasiben Actually yes, I managed to reproduce the problem with local Ray Cluster. Seems like the problem depends on the data size or/and machine-capacity.

You can try modifying `num_cpus` and data size values to obtain `partd` file in the `/tmp` folder.

In the `main` function I used:
[code]
What is even more interesting I did not get `partd` files when running with this line
[code]
but GOT the

[2022-03-08 22:05] jsignell commented on #8764
No worries at all, this has also slipped through the cracks on our end.

[2022-03-08 22:08] #8735 closed

[2022-03-09 03:42] rjzamora commented on #8764
Sorry for not seeing this issue earlier - I should be able to help investigate tomorrow. The `pipe` call certainly makes it look like https://github.com/dask/dask/pull/8468 could be the cause. Any chance you are using `processes=False` for your cluster? If so, this may also be another instance of https://github.com/dask/dask/issues/8581

[2022-03-09 16:45] #8650 closed

[2022-03-09 16:47] #8783 closed

[2022-03-09 17:05] jsignell opened #8795 "Flaky test `test_dataframe_aggregations_multilevel[cov-disk-<lambda>1]`"
There is a flaky test `test_dataframe_aggregations_multilevel[cov-disk-<lambda>1]`

[code]

https://github.com/dask/dask/runs/5468641701?check_suite_focus=true

[2022-03-09 17:21] pavithraes commented on #8787
@mikwieczorek Thanks for creating this example!

This is expected because [`partd`](https://docs.dask.org/en/stable/dataframe-groupby.html?highlight=partd#shuffle-on-disk) is not used when `shuffle='tasks'` :)

Would you also be able to share an example that uses a [Dask Single Machine Scheduler](https://docs.dask.org/en/stable/scheduling.html)?

[2022-03-09 17:28] mikwieczorek commented on #8787
@pavithraes Yes, you are right of course about the `partd` and the `shuffle`. However with Ray they do persist even when `shuffle=tasks`

I will have a look

[2022-03-09 17:36] pavithraes commented on #8634
@Dhruv454000 Thanks for your interest in this! Would you be comfortable opening a PR where we can continue this discussion? It'll be easier for folks to share in-line feedback that way :)

[2022-03-09 18:18] pavithraes commented on #8712
Thanks for looking into this, Julia!

@sissnad Would you be interested in opening a PR to update the docs?

[2022-03-09 18:20] scharlottej13 commented on #8788
Thanks @jcrist and @jaj42! I closed #8779 since we can address the larger issue of updating the partitioning code (specifically [`percentiles_summary`](https://github.com/dask/dask/blob/a27b437da2594fd5c15f85736aa520feb726ddbd/dask/dataframe/partitionquantiles.py#L386-L432)) to work with both [pandas `"string"`](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html) and [pandas `dateti

[2022-03-09 18:20] scharlottej13 commented on #8779
closing, will address this issue in #8788

[2022-03-09 18:20] #8779 closed

[2022-03-09 22:54] ian-r-rose commented on #7977
I ran into this again today -- not sure if I'll be able to reproduce it reliably, but if I can I'll try the above patch.

[2022-03-10 01:22] gjoseph92 commented on #7036
Just want to note that I don't think this is a viable solution.

1. It's going to be a ton of work. There's a lot of low-level graph code in both Array and DataFrame that's not going to get high-level-ified that soon (hence https://github.com/dask/dask/issues/8447).
2. Other things (delayed, bag) that use low-level graphs will still lose their annotations through `fuse`.

Basically, we're not goin

[2022-03-10 07:49] mikwieczorek commented on #8787
@pavithraes Yes, you are right about the `partd` files nad `shuffle` method. My bad.

I tried Dask `threads` scheduler and it does not leave any `partd` files.
However, using Dask with Ray and without specifying `shuffle=tasks` does SOMETIMES result in `partd` files left on a disk after processing finished.

The problem with persisting `partd` files arose when I was using Dask + Ray Cluster and I

[2022-03-10 13:04] pavithraes commented on #8787
@mikwieczorek Thanks for confirming!

That's exactly right, I was wondering the same. With this information, I'd also suggest you check with the Ray community about this.

[2022-03-10 13:25] sissnad commented on #8712
Yes, sure. Do you have any documentation guidelines?

[2022-03-10 14:16] jsignell commented on #8712
We have development guidelines that explain _how_ to write and build the docs, but I don't think we have style guidelines as much. Probably in this case just adding a few lines to the docstring would be sufficient.

[2022-03-10 14:27] odovad opened #8797 "to_parquet when column with only null values"
I did create a file named 'system_data.txt' with the following content :
[code]

This code produces an error :
[code]

**What happened**:
RuntimeError: AppendRowGroups requires equal schemas.
I tried with fastparquet, and there is no errors.

**What you expected to happen**:
The parquet file should be created without errors.

**Environment**:

- Dask version: 2022.2.1
- Python version: 3.8
- Pyarr

[2022-03-10 17:42] orf commented on #8764
Hey, so I managed to reproduce this. But it appears to _only_ happen within Pytest. Here's a reproduction:

[code]

[code]

Without Pytest this succeeds.

[2022-03-10 17:58] orf commented on #8764
Huh. So within the project I can reproduce this on, running:

[code]

suceeds, but fails within pytest. In a fresh virtual environment it fails in Pytest and outside Pytest.

[2022-03-10 17:59] rjzamora commented on #8764
Sorry for the pain here @orf - I'm pretty sure the `cluster = LocalCluster(processes=False, n_workers=3)` is the problem here. #8672 should resolve the `processes=False`, but I'm afraid you may need to use one of the workarounds suggested in [this comment](https://github.com/dask/dask/issues/7777#issuecomment-994509162) until that gets in. For example, you may ned to do something like:

[code]

[2022-03-10 18:37] orf commented on #8764
Thank you @rjzamora! I'll try this, and close this issue as it's the same as #8581.

[2022-03-10 19:09] jsignell commented on #8797
Thanks for opening this issue. I suspect this has to do with one of the partitions (the last one) having an entirely nan column. If you look at the error message, you'll see that it recommends using `to_parquet(..., schema="infer")`. That worked for me to solve the issue. Does that also work for you?

[code]

ping @rjzamora just to make sure I got that right.

[2022-03-10 19:15] odovad commented on #8797
Hi @jsignell, I did try to use `schema="infer"`but the computation was taking too long (many additional tasks on the real example). Possible it would have worked but I didn't wait until the end.

[2022-03-10 19:42] jsignell commented on #8797
Ah in that case maybe passing an explicit schema (also mentioned in the error message) would be preferable.

[2022-03-10 21:20] jlehrer1 opened #8798 "Dask drop(axis=1) hangs on large datasets"
**What happened**:
After letting dask run for 18+ hours with 75gb memory and 35CPU's, it is unable to drop a column of a 650k x 50k purely numeric (float64) dataset.

**What you expected to happen**:
Column would drop in a reasonable amount of time.

**Minimal Complete Verifiable Example**:
Hard to provide complete example with a minimal dataset since the problem is one of scaling, but the code is

[2022-03-11 00:28] thibaut-kobold opened #8799 "Dask config fails to load"
Hi,
I encounter an issue where I can succesfully install Dask from conda, but fails to import it later. I attached below a minimal example where:
- I highlight at the start conda/python versions
- I create and activate a blank conda environment with python 3.9
- install only dask with `conda install dask`
- run python and try to import dask, with no success.

Any idea of what is happening? Thanks

[2022-03-11 06:23] eriknw commented on #7036
I'm pretty familiar with low level optimizations, but less so with annotations, so I could probably take a stab at this.

[2022-03-11 13:59] guidocioni opened #8800 "`groupby.transform` failing on dataframe with duplicates in column"
I'm trying to process parquet files stored in AWS S3.

The files are read simply with
[code]
It looks like this

| time                             |   latitude |   longitude | time_plot                 |
|:---------------------------------|-----------:|------------:|:--------------------------|
| 2021-04-01 00:00:30.688104+00:00 |    36.4179 |     34.1496 | 2021-04-01 00:00:00+00:00 |
| 2021-04-0

[2022-03-11 16:46] jcrist commented on #8799
I'd guess you have a malformed config file (containing only a string, not a map) somewhere on your system. Dask loads yaml files from several places on import:

- `~/.config/dask/`
- `/etc/dask/`
- `{prefix}/etc/dask/` where `prefix` is the root of your python environment

Unless you or an administrator put a config file in one of these places though, I'd expect a clean install to load no config f

[2022-03-11 16:48] jcrist commented on #8799
That said, we should provide a better error message if a config file doesn't load properly or is malformed in this way.

[2022-03-11 16:51] ncclementi commented on #8799
@thibaut-kobold Jim beat me to it. I doubled check and followed the steps you mentioned and I had no problem importing dask. But something else I'm noticing is that the version of dask that gets installed in your environment is `2021.10`, which is not the latest `2022.2.1`. Not sure if this is what you desired, but if you want the latest version I would recommend adding `conda-forge` as your defau

[2022-03-11 16:51] scharlottej13 commented on #8798
Hi @jlehrer1, thanks for opening this issue! It seems this is more of a usage question rather than a feature or bug report and we encourage people to ask such questions on the [Dask Discourse](https://dask.discourse.group/). Would you mind opening a discussion topic about this over there? If so, feel free to close this issue and we will continue the conversation on discourse.

From a quick look at

[2022-03-11 16:57] thibaut-kobold commented on #8799
Thank you for your help @jcrist and @ncclementi, this is helpful. I will check the config files mentioned. Dask version is not the issue (I reproduced the error with both 2021 and 2022 versions).
As the error is not reproducible on other machines, feel free to close this issue.

[2022-03-11 17:09] thibaut-kobold commented on #8799
@jcrist : you were right! A config file in ~/.config/dask/ was causing the issue. Many thanks!

[2022-03-11 17:09] #8799 closed

[2022-03-11 17:22] #8599 closed

[2022-03-11 17:40] jcrist commented on #8799
Glad to hear it! I've pushed a fix up at #8801 that should give a better error message in this case. Should hopefully help the next user in this situation debug things easier.

[2022-03-11 21:30] struktured commented on #8707
It's definitely a bug but I can only manage to produce the empty dataset shape using proprietary tools.  Here's an example h5 schema that would generate the error. It has one dataset inside called `maybe_empty` with two columns `x` and `y`:

[code]

[code]

will then produce:

[code]

I can upload the empty h5 file to github if that helps debug it. I might also take a stab at fixing the bug myself

[2022-03-12 07:52] TristanBilot commented on #8634
Is this issue solved or can I fix it as a first issue? :)

[2022-03-12 22:11] rajeee opened #8802 "Setting divisions on dask dataframe collapses rows."
**What happened**: Trying to set divisions on a dask dataframe created from delayed objects results in rows being erased from the dataframe.

**What you expected to happen**: The divisions to work as expected

**Minimal Complete Verifiable Example**:

[code]
The code outputs this:

![image](https://user-images.githubusercontent.com/12487392/158036601-09fbbe67-d370-44fc-a106-5d490e22f181.png)

Some

[2022-03-13 12:21] guidocioni commented on #8800
Yeah that's right.
I have to say the assignment of a groupby.apply operation to the original dataframe often causes issues...
Any idea why you don't get this error if converting the dask dataframe to a pandas dataframe before? The index should be the same...right?

[2022-03-14 14:50] jcrist commented on #8802
Assigning directly to divisions `ddf.divisions = ...` has no error checking and isn't really recommended. In your case the issue is that the divisions you're assigning only contain 2 partitions, while your original dataframe has 5 partitions. This results in the trailing 3 partitions being implicitly dropped. As a reminder, divisions is a tuple of npartitions + 1 elements, where the first npartiti

[2022-03-14 15:52] rajeee commented on #8802
@jcrist Thanks for the response.

I think there is more going on. I have not been able to create two partitions with (0, 9, 15) divisions from the list of 5 delayed objects, no matter which approach I use.

Consider the following:

[code]
This still results in missing rows.

[2022-03-14 16:48] jsignell commented on #8800
Yeah I think in pandas the data doesn't really get shuffled, so when assigning the output to the column in the dataframe the indices match. For dask on the other hand, the indices don't match so that's when the reindex happens and then it throws an error because the index values are non-unique.

That's my current understanding anyways. So I think a global monotonically increasing index would resol

[2022-03-14 17:32] davidhassell opened #8804 "Adding a weights parameter to `reduction`"
Hello,

I would like to explore adding a new `weights` parameter to the `dask.array.reduction(x, ...)` function ([dask.array.reduction](https://github.com/dask/dask/blob/main/dask/array/reductions.py#L41)).

This would allow an array of weights to be passed to each chunk, via the `chunk()` callable and alongside the chunk's data.

The use case is to be able to carry out weighted reductions that ca

[2022-03-14 17:55] ian-r-rose commented on #8753
Thanks for the ping @jsignell, sorry to be slow in responding. I'm having a tough time reproducing the behavior here. I tried this on xarray==0.21.1 and dask==2021.10.0/dask==2021.2.1, and did the following steps:

1. Downloaded a ~100MiB netcdf file from the above thredds server ([here](https://thredds.met.no/thredds/catalog/metpplatest/catalog.html?dataset=metpplatest/met_analysis_1_0km_nordic_l

[2022-03-14 18:48] rajeee commented on #8802
Awesome! I mixed up how the divisions were supposed to work. Glad that this helped uncover some related issues.

To conclude, I should have done this:

[code]

[2022-03-14 18:50] jsignell commented on #8753
I think the 20-30 seconds was for more than one file. I was seeing ~2 seconds and ~50ms for one file with dask main and dask 2021.10.0 respectively.

[2022-03-14 19:07] ncclementi commented on #8776
Unfortunately, we are still having the segfault on `test_apply_or_transform_shuffle_multilevel`

[2022-03-14 19:15] ian-r-rose commented on #8753
With both versions I'm seeing ~50-100 ms. What scheduler are you using? If it's multiprocessing or distributed, there may be some undesirable inter-process communication of the array that's being triggered.

[2022-03-14 20:58] jcrist opened #8808 "Periodic distributed test failures on osx"
We've been seeing some periodic test failures on osx CI for the last couple days. Example failure report: https://github.com/dask/dask/runs/5543476482?check_suite_focus=true.

The error indicates that no event loop is found in the executing thread:

[code]

I touched code related to this several months ago, (https://github.com/dask/distributed/pull/5531, https://github.com/dask/distributed/pull/55

[2022-03-15 09:19] fjetter commented on #8808
We removed a lot of special treatmenents in `check_thread_leak` function to track down leakages. One of the changes was that we now "warm up" the BaseTCPConnector Threadpool, see https://github.com/dask/distributed/blob/2fffe74dde40238a3387d12740ff9a54c16acb9f/distributed/utils_test.py#L1573-L1576
https://github.com/dask/distributed/blob/2fffe74dde40238a3387d12740ff9a54c16acb9f/distributed/comm/tc

[2022-03-15 12:58] jsignell commented on #8804
If this is something that would be useful to you then by all means! Restricting the weights that are allowed seems very reasonable to me. If it ends up being cumbersome we can always loosen it up later.

[2022-03-15 13:42] davidhassell commented on #8804
Thanks!

[2022-03-15 13:54] jsignell commented on #8707
I tried creating an empty dataset  and wrote it to a file like this:

[code]

<details>
<summary>Error from trying to read file written with <code>format="fixed"</code></summary>

[code]
</details>

When you read the same file with pandas you get back an empty dataframe.

Note that by default pandas was using `format="fixed"`. I tried changing that to `format="table"` and I got a different error a

[2022-03-15 14:01] jsignell commented on #8707
I opened a PR to get around the error that I think you are encountering, but I think there is a larger issue with your setup which is that the file that you are trying to read seems like it was written with `fixed` format rather than `table`. And that is not supported by dask.

[2022-03-15 16:53] jsignell commented on #5633
Starting in #8517 dask is calculating the len of the partitions when creating divisions at least for pre-sorted indexes. It seems like a shame to drop this metadata on the floor, when we could instead keep track of it. I know there is a larger item of pursuing high level expressions, but that work seems to be stalled so I'm wondering if we might be able to get some nice wins out of a simpler solut

[2022-03-15 18:29] struktured commented on #8707
@jsignell  I see your point and appreciate you making the PR! However, the data loads perfectly fine *and* efficiently using `dd.read_hdf` with a glob pattern as long as none of the files have empty records. For instance, many millions of google stock quotes are loaded from hundreds of hdf5 files structured this way in just a few minutes.

[2022-03-15 18:34] #8707 closed

[2022-03-15 18:53] jsignell commented on #8707
Cool! I think you shouldn't be seeing the same error, but if you are please feel free to reopen and try to provide an example that raises the error that you are seeing, or at least include more of the error message.

[2022-03-15 19:02] jcrist opened #8813 "Some `dt` accessor methods applied to an Index may result in invalid divisions"
Specifically, I found that `index.dt.floor(...)` can result in invalid divisions if the divisions already align with the period passed to floor. For example:

[code]

Results in

[code]

This error indicates that the max of a partition isn't less than the upper bound for that partition as stated by the divisions. This is because the divisions were adjusted by `map_partitions` (with `.floor("D")` a

[2022-03-15 19:54] ryan-williams commented on #5633
Just to note, I prototyped `DataFrame.iloc` using a new `partition_sizes` member (analogous to `know_partition_lens` above) in #6661.

I've been meaning to try to make it more reviewable for over a year, but it may be too bit-rotted to be worth much at this point. Just mentioning in case some of the "propagating the new `partition_sizes` info through various transformations" (or perhaps some of th

[2022-03-15 20:00] jsignell opened #8815 "`test_partition_on_duplicates` failure on windows python3.8 CI"
Just noticed this in CI so I wanted to document it. Mild ping to @martindurant in case something has changed on the fastparquet side.

[code]

[2022-03-15 20:21] jcrist opened #8816 "`test_blockwise_dataframe_io[True-False-hdf]` is flaky on osx CI"
I noticed this test periodically failing due to a pytables locking issue today (may have started earlier).

<details>
<summary>Traceback </summary>

[code]

</details>

Log from failing test: https://github.com/dask/dask/runs/5558289646?check_suite_focus=true#step:6:21912

[2022-03-15 21:22] jsignell commented on #5633
I think there is a lot of logic in #7912 that could also be used to jump start this work if there is consensus that it is desirable.

[2022-03-16 01:27] jlehrer1 commented on #8798
@scharlottej13 Sure, I will. To me, this does seem like a bug, since the `.persist()` being called on each instance works when the length of the list of columns to drop is actually longer, but the dataset itself is smaller. It seems to me that the code hangs on larger datasets. Should I be setting the number of partitions manually?

[2022-03-16 15:07] diegoxfx commented on #5435
I'm getting that same error when trying to read a json file with `include_path_column` flag

[code]

[2022-03-16 16:02] #8359 closed

[2022-03-16 16:18] jsignell commented on #5435
Have you tried setting `verify_meta=False`?

[2022-03-16 17:07] diegoxfx commented on #5435
I tried but then i got this new error: `TypeError: read_json() got an unexpected keyword argument 'verify_meta'`. My dask version is 2022.02.1

I checked the read_json and i found this:

[code]

The `from_delayed` function at the end does not receive any additional argument, I think that's why I'm getting the `ValueError`

[2022-03-16 18:11] charlesbluca opened #8817 "Grouping by multiple columns with `dropna=False` gives unexpected results"
**What happened**:
I am attempting to do a groupby on multiple columns with `dropna=False`, and I find that this still drops null values:

[code]
[code]

When attempting this same operation with a series groupby, we get an error during computation:

[code]

<details>

<summary>Trackback</summary>

[code]

</details>

**What you expected to happen**:
Pandas gives the following outputs:

[code]
[cod

[2022-03-16 20:21] #7068 closed

[2022-03-16 20:25] martindurant commented on #8815
Only on windows? fp 0.8.0 is six weeks old, so unlikely to be that.

[2022-03-16 20:38] jsignell commented on #5435
ah yeah that makes sense. Feel free to open a pull request if you like!

[2022-03-16 20:42] jsignell commented on #8815
yeah only on windows. It's a weird one for sure.

[2022-03-16 21:06] th0ger commented on #8650
Confirming the fix works on latest main branch.

[2022-03-16 22:35] phobson commented on #8342
I believe this was closed by #8425

[2022-03-16 23:32] leogao2 opened #8819 "Support `__name__` on functions annotated with `@delayed`"
Right now, if you wrap a function in `@delayed`, you can no longer get `__name__` from it. For instance:

[code]

Whereas the expected behavior is for `__name__` to be `my_function`, similar to `functools.wraps`.

[2022-03-17 04:39] dcherian opened #8822 "Confusing error from map_blocks if function returns scalar per block"
**What happened**:

`map_blocks` raises a confusing error when the mapped function returns a scalar.

**What you expected to happen**:

Let the user know that the function should return a single element array.

**Minimal Complete Verifiable Example**:

[code]

[code]

**Anything else we need to know?**:

If I amke the fuction return a single element array, it works

[code]

**Environment**:

- Das

[2022-03-17 11:10] odovad commented on #8797
@scharlottej13 yes, it worked when passing explicit schema. I thought that the dtypes that we see on the dask dataframe should be the one used for all partitions.

[2022-03-17 15:08] tangoed2whiskey opened #8823 "fillna with dask DataFrame raises ValueError"
**What happened**:
Attempted to use `a.fillna(b)` on a Dask DataFrame `a` with another Dask DataFrame `b` provided as the fill value. This raised the error
`ValueError: invalid fill value with a <class 'numpy.ndarray'>`

**What you expected to happen**:
A new Dask DataFrame returned containing the non-nan values of `a` and nan values replaced by the equivalent values from `b`

**Minimal Complete V

[2022-03-17 16:25] #8819 closed

[2022-03-18 05:50] GenevieveBuckley commented on #8342
You're right, good catch!

[2022-03-18 05:50] #8342 closed

[2022-03-18 18:30] jsignell opened #8825 "Failures on GPU CI"
Some failures just started cropping up on GPU CI. I thought that they might be related to https://github.com/dask/dask/pull/8818 but the tests passed fine there. But it looks like it might just be an out of memory error, so I'm really not sure. Here's an example:

[code]

https://gpuci.gpuopenanalytics.com/job/dask/job/dask/job/prb/job/dask-prb/1554/

ping @charlesbluca @quasiben @rjzamora

[2022-03-18 18:39] jakirkham commented on #8825
Have raised offline as well

[2022-03-18 18:51] galipremsagar commented on #8825
Hi @jsignell, it could be another API that is using more GPU memory - we are investigating what is that.

But, meanwhile I opened a PR to reduce the gpu test parallelism to unblock the release: #8826

[2022-03-18 19:16] jakirkham commented on #8825
So Prem's PR is merged, which should unblock the release here.

Though maybe we can leave this open while we dig into the underlying memory issue?

[2022-03-18 21:01] ian-r-rose commented on #8753
A quick update based on some investigations that @jsignell and I carried out earlier today:

We are indeed able to reproduce a performance regression for this example, and it is related to #7417. That PR changed `from_array` to use `Blockwise`, which in theory allows for higher-level optimizations and cheaper graph communication and construction. But the introduction of `Blockwise` prevented one t

[2022-03-18 21:26] ian-r-rose commented on #8753
Okay, here is a reproducer with just dask:

[code]

On `dask==2021.10.0` this produces
[code]
whereas on `main` this produces
[code]

Notice how in the first case the slice operation is fused with the original read from disk (effectively pushing it into the storage layer), but in the second case the slice operation is kept separate.

[2022-03-20 12:56] fingoldo commented on #3245
Any solution? There are huge logs of such warnings in the ipython notebook...

[2022-03-21 03:31] rajeee opened #8829 "dask DataFrame.read_parquet doesn't preserve the paths order"
**What happened**:
Dask doesn't honor the order of files listed in the path

**What you expected to happen**:
I would have expected the partition ordering to be consistent with list of paths in read_parquet. Seems like the input path is automatically sorted internally without choice.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Environment**:

- Dask ve

[2022-03-21 06:34] eriknw commented on #7933
I've been looking at HLEs again recently, so let me share at a very high level how I'd like to tackle it in a way that helps us experiment and learn.  I'm going to be somewhat vague and hand-wavy, because there is so much good information and details above that don't need repeating, and because I don't have a detailed, low level plan that I want to advocate for as the way forward (I actually have