[2020-11-02 15:00] rjzamora commented on #6754
Thank you for looking into this @jorisvandenbossche ! Getting the fix into 2.0.1 would be great :)

[2020-11-02 15:21] jorisvandenbossche commented on #6754
So the reason that the bug surfaced now is because the new fsspec filesystems no longer inherit from pyarrow.filesystem.FileSystem, and because of that we take a different code path where we are swapping fsspec's LocalFileSystem with our own LocalFileSystem (which has a different path separator on Windows). While before (when fsspec subclassed pyarrow), we didn't actually take this code path ..

[2020-11-02 16:46] jacobtomlinson opened #6787 "Migrate CI to GitHub Actions"
Due to changes in the Travis CI billing, the Dask org is migrating CI to GitHub Actions.

This repo contains a `.travis.yml` file which needs to be replaced with an equivalent `.github/workflows/ci.yml` file.

See dask/community#107 for more details.

[2020-11-02 16:52] jsignell commented on #6784
Thanks for writing this up. On dask master I only see the doubling of the number of calls not the 4x with `schema=infer`. I get the doubling with both fastparquet and pyarrow for the record.

I think the to_parquet issue has the same origin as #6758 which is to say that there is some graph alteration that happens when you call `to_parquet` even if you don't call compute right away. It'd be good to

[2020-11-02 16:59] jsignell commented on #6785
Yes, your dask worker needs to have access to all the files that you expect to import from. You can probably use a preload script to add folder_a before you start the worker. See https://docs.dask.org/en/latest/setup/custom-startup.html for more information.

[2020-11-02 17:02] jsignell commented on #6781
Closing this in favor of #6787 which was discussed in https://github.com/dask/community/issues/107

[2020-11-02 17:02] #6781 closed

[2020-11-02 17:50] alimanfoo commented on #6745
Thanks everyone for following this up. I'm following this at a distance and not fully grokking all aspects, so apologies if my comments are off.

If there is a straightforward change that can be made to the ordering algorithm that resolves this issue then that would seem great and worth pursuing.

I wondered if it might be worth also considering another point, which is that in general it might be

[2020-11-02 19:48] steff456 opened #6788 "Some methods of the DataFrame API Documentation are not in the summary table"
**What happened**: In the summary table of the Dataframe API, https://docs.dask.org/en/latest/dataframe-api.html some methods are not present.

**What you expected to happen**: I will expect to have the following methods in the summary table,
- [ ] DataFrame.abs
- [ ] DataFrame.align
- [ ] DataFrame.all
- [ ] DataFrame.any
- [ ] DataFrame.applymap
- [ ] DataFrame.bfill
- [ ] DataFrame.copy
- [ ] D

[2020-11-02 19:53] quasiben commented on #6788
Thank you @steff456 for the report!  I think you can find those name can be added to the RST file here:
https://github.com/dask/dask/blob/master/docs/source/dataframe-api.rst

A PR would be most welcome!

[2020-11-02 19:54] steff456 commented on #6788
Thanks for the quick response! I'll create the PR shortly 👍

[2020-11-02 20:32] leofang commented on #6118
I verified this works with CuPy v8 and Dask v2.30.

[2020-11-02 20:55] rjzamora commented on #6758
@jsignell - You are right that `map_partitions` constructs a `Blockwise` layer in the high-level graph, which will transform everything into a `SubgraphCallable`.  However, I think the real problem here is that `to_parquet` [is calling to_delayed](https://github.com/dask/dask/blob/48a4d4a5c5769f6b78881adeb1b3973a950e5f43/dask/dataframe/io/parquet/core.py#L519) without passing in an `optimize_graph

[2020-11-02 22:54] djhoese opened #6790 "Master branch returns nan shape when chunktype=xarray.DataArray"
**What happened**:

The Satpy project has a travis environment that installs unstable (master branch) versions of dask, xarray, and a couple other libraries. That environment has been failing for at least a couple weeks and I finally had time to track down the issue. Something in xarray or dask master branches is causing an odd use case to return arrays with `nan` in the shape when previously they

[2020-11-03 01:45] #6788 closed

[2020-11-03 03:52] jrbourbeau commented on #6790
Thanks for raising an issue and providing a nice reproducer @djhoese! I haven't looked into this issue deeply, but did run `git bisect` which pointed to d73fb8b81481df2ca49e0c183a372eb61e1a9ad7 as the commit where behavior changed

[2020-11-03 04:47] rjzamora opened #6791 "Use IO-Subgraph + Blockwise throughout codebase"
Blocked by #6715

After #6715 goes in, most (maybe all) IO operations in the `dataframe` and `array` modules can be converted into `Blockwise` high-level graph (HLG) layers.  This change should improve  HLG optimizations (like blockwise fusion).

This issue is intended as a "living" checklist of action items related to `Blockwise` IO...

- [ ] [read_json](https://github.com/dask/dask/blob/f937c06a

[2020-11-03 04:52] rjzamora opened #6792 "Add comprehensive `get_output_keys` defintition to Blockwise"
#6715 adds a very lmited `get_output_keys` implementation to `Blockwise` which is intended to address Dask-DataFrame requirements.

This method should be expanded to avoid full graph materialization for more-complex (array-based) layers.

[2020-11-03 05:53] chrisroat commented on #6784
With pyarrow (1.0.1 and 2.0.0), I get the 8 calls with `schema=infer`.

The the suggested fix to use optimize_graph=False in https://github.com/dask/dask/issues/6758#issuecomment-720719213 seems to fix the problem for fastparquet.  With pyarrow, it fixes the problem without `schema=infer`, but only partially fixes the problem with `schema=infer`: I see 6 calls!

[2020-11-03 14:27] martindurant opened #6795 "Doc updates"
Quick scanning, the following should be corrected:

- "Does Dask have a SQL interface": yes it now does (if perhaps not fully featured)
- paid support: add Coiled? others (saturn)?
- main page Supported By: there was discussion on how to add logos here, but I would say Coiled, Saturn, CapitalOne, Prefect should be here. Also, an older page Funding should be the same with more details, or just remo

[2020-11-03 15:10] MichaelKarpe commented on #4184
Unfortunately I do not have time currently to work on the implementation of cov and corr. However I reopened the pull request about EWM with #6796!

[2020-11-03 15:18] jsignell commented on #6758
Ah! Thanks for pointing that out. It seems like we'll be able to use a map_partitions call but maybe it's strange to write files as a side effect of mapping... In the meantime, it is probably worth adding in the `optimize_graph=False` kwarg.

[2020-11-03 15:37] jsignell commented on #6784
Yeah it looks like those 4 extra calls represent this section running once per partition per dataframe.

https://github.com/dask/dask/blob/f937c06a2ee1b92515714365ea945ca7b4d0e945/dask/dataframe/io/parquet/arrow.py#L859-L862

That runs before compute is even called. Fortunately,  that only runs until some non-null value is discovered in the column. So If you change your example to be like:

[code]

[2020-11-03 15:41] rjzamora commented on #6784
@jsignell is exactly right - We are sampling partitions until we find a non-null schema for every column.  Since your example is using empty DataFrames, we will sample everything without finding what we need.  Therefore, we need to run the df-creation code 4 times durring schema inference (once for each partition being written), and then once for each partitition when the data is actually written

[2020-11-03 16:11] gioxc88 commented on #6705
any news on this?
Many thanks

Gio

[2020-11-03 16:18] mrocklin commented on #6785
Thank you for raising this issue @df19900725

I think that supporting a folder would be a good idea.  If anyone wants to do this, I recommend something like the following:

[code]

This will also require us to become smarter on the other side when we unpack these bytes.

I think that this is in-scope and would be a useful contribution

[2020-11-03 16:21] mrocklin commented on #6745
The easiest way to do this is to include opening the Zarr array in every task.  Then every task opens a zarr file, reads some data, and then closes it down.

There are two potential challenges:

1.  The Zarr array may be non-trivial to serialize and send (I'm not too concerned about this though)
2.  Opening the Zarr array every time can be expensive, particularly when metadata is non-trivial.  Xar

[2020-11-03 16:22] mrocklin commented on #6118
I'm glad to hear it.  Thanks for reporting @leofang .

Closing.

[2020-11-03 16:22] #6118 closed

[2020-11-03 17:18] mrocklin commented on #6758
I think that this will be easier to solve after we handle layer annotations.  It will probably look like this:

[code]

I recommend waiting for the next major release.

[2020-11-03 17:33] chrisroat commented on #6784
That makes sense.  The danger is that even a computation that results in a null dataframe could be expensive, so the sampling could randomly trigger long calculations.

[2020-11-03 17:39] martindurant commented on #6784
I thin the expectation is, that you shouldn't use "infer" in such cases. There could be more doc words around this.

[2020-11-03 17:48] rjzamora commented on #6784
Right - This is the reason `schema="infer"` is not the default.  If the user already knows the schema they want, they can pass it directly with this argument.  You can also pass the type for a subset of columns if you pass a `dict`.

[2020-11-04 07:13] rileyhun opened #6798 "Cannot Write Dask Dataframe to CSV"
**What happened**:

I am following a workflow from an example notebook (i.e. https://github.com/dask/dask-examples/blob/master/dataframes/01-data-access.ipynb).

I'm unable to create the artificial dataset.

I get the following error:

`AttributeError: Can't get attribute 'Day' on <module 'pandas._libs.tslibs.offsets' from '/opt/conda/lib/python3.7/site-packages/pandas/_libs/tslibs/offsets.cpython

[2020-11-04 13:29] mrocklin commented on #6798
Hrm, this works for me

[code]

[2020-11-04 15:14] jsignell commented on #6798
I did some mild googling of your error and I suspect that this is a pickle problem. Since you mention dask-gateway and your dask version is 2.21.0 I suspect that you have a different version of dask.distributed or Python on your cluster. If you have access to your cluster it'd be helpful to know what's running there. If not, I recommend upgrading your client-side version of dask and distributed to

[2020-11-04 16:00] RogerMoens commented on #6757
@mrocklin: thanks! I have just tried to commit a first fix to see where it can be improved before I do any other adjustments. Is this the way to go or am I missing some vital information?

- I have set up a Docker ubuntu 20.04 with simple Python 3.8.5 installed (I am looking into changing that to a conda environment). Should I share the environment etc. for the update?
- How do I properly add test

[2020-11-04 16:08] trivialfis opened #6800 "`concurrent.futures._base.CancelledError` with `KubeCluster`."
[code]
worker-spec.yaml:
[code]

**What happened**:
[code]

- Dask version:
[code]
- Python version:
[code]
- Operating System:
Ubuntu 20.04

- Install method (conda, pip, source):
conda

[2020-11-04 16:15] quasiben commented on #6800
I would suggest moving this to the dask-kubernetes issue tracker.  Also, @trivialfis it looks like you are leveraging GPUs. If so, I would recommend using dask-cuda-worker instead of the dask-worker

[2020-11-04 16:18] trivialfis commented on #6800
@quasiben The GPU line can be safely removed.  The MRE is only using CPU.

If that's a better place to go I will move the issue.  But I can't be sure as that's part of `client.gather`.

[2020-11-04 17:50] gioxc88 commented on #6705
Thank you for the answer
If you look carefully I am delaying `search.fit` and not `search` as your code implies.

After running additional tests I think I found a hint on what could be the cause of the problem.
Basically today I tested the code on linux and if works fine, whereas on Windows it hangs as described above.

Since @mrocklin you tested the code and it worked fine for you could you pleas

[2020-11-04 18:06] JohnZed commented on #6800
@trivialfis is this 100% reproducible every time or is it sporadic?

[2020-11-04 18:07] JohnZed commented on #6800
Any chance this is related to the old: https://github.com/dask/dask/issues/6027

[2020-11-04 18:18] trivialfis commented on #6800
100% reproducible

[2020-11-04 18:20] trivialfis commented on #6800
A bit more context, the base docker image is `rapidsai/rapidsai:cuda11.0-runtime-ubuntu18.04-py3.8`

[2020-11-04 18:59] quasiben commented on #6800
This looks like you are relying on `y` to be pickled up and sent over the wire.  Perhaps it would be better to submit the future `y` directly:

[code]

[2020-11-04 19:19] trivialfis commented on #6800
Thanks for the suggestion.  As in the code comment, I'm actually trying to gather many lists of futures in worker function (1 list for a dataset, the worker function is a training function that accepts multiple validation datasets).  The MRE  here is impractical as it graps the whole dataset, and only used for creating a simplest example.  Also some other parameters are passed into it.  I can try

[2020-11-04 19:26] quasiben commented on #6800
You should also be able to do this with submit as long as you are also passing in the future as an argument

[2020-11-04 22:30] rileyhun commented on #6798
Hi @jsignell - thanks so much for your suggestion. I upgrade dask + distributed to 2.30.0 on both client and server side and that seemed to do the trick! I shall close this case now.

[2020-11-04 22:30] #6798 closed

[2020-11-04 23:17] pseudotensor opened #6805 "Client() control scope of resources"
Currently I cannot see way to manage both GPUs and CPUs using dask "resources".

Suppose I have 2 machines each with 1 GPU and 8 cores.  I can set labels for GPU and CPU counts, but dask_cudf/RAPIDS side requires 1 worker/GPU.  But then for any CPU tasks I am suddenly forced to having 1 worker process for an entire node.  I can set nthreads to all cores divided by number of GPUs.  For numpy/panda/

[2020-11-05 06:43] pseudotensor commented on #6805
I'm curious if one work-around is to use the client.submit with resource control and then inside that call do some dask operations.  It seems a bit unwieldy but might work.

[2020-11-05 11:12] sjperkins commented on #6805
@pseudotensor This is probably a good use case for task [annotations](https://github.com/dask/dask/issues/6701). We've made some progress towards adding [them](https://github.com/dask/dask/pull/6767)

[2020-11-05 11:17] sjperkins commented on #6805
See https://docs.dask.org/en/latest/api.html#dask.annotate

[2020-11-05 13:31] jsignell commented on #6798
Yay glad it worked!

[2020-11-05 13:39] #6597 closed

[2020-11-05 13:39] #6688 closed

[2020-11-05 13:47] jni commented on #6688
Thank you all! :pray: :heart:

[2020-11-05 14:35] jsignell commented on #6782
Sorry for slow response @kinghuang. I think that the multiple levels of directory nesting is causing issues. The workaround that you propose is the right way forward.

[code]

The year and month data are not meant to be included in the output when you use IO-level filters. Although this might be a nice feature to add.

Pinging @martindurant since I can't quite tell if there is an fsspec bug. This

[2020-11-05 14:37] tomwhite commented on #6597
Thanks for fixing this @jsignell!

[2020-11-05 14:38] jsignell commented on #6785
I agree! I'll go ahead and close this since there is an open issue in distributed: https://github.com/dask/distributed/issues/925

[2020-11-05 14:38] #6785 closed

[2020-11-05 14:44] martindurant commented on #6782
Sorry, @jsignell , what are you asking me?

For paths/glob stuff, it may well be worth trying with s3fs at current master.

For the record, I thought that the pyarrow driver was supposed to walk the directories itself; but perhaps that's a coming feature too.

[2020-11-05 15:30] kinghuang commented on #6782
It seems to me that pyarrow *does* walk the directories itself. The problem here is that `s3fs.glob("bucket/data/*")` doesn't return the immediate child key prefixes, whereas `s3fs.ls("bucket/data/")` does (see my [second comment](https://github.com/dask/dask/issues/6782#issuecomment-719880196)).

Given `['bucket/data/year=2018', 'bucket/data/year=2019', 'bucket/data/year=2020']`, pyarrow does cor

[2020-11-05 15:33] jsignell commented on #6782
Sorry yeah that was unclear. I meant that that line in fsspec seems to prevent directories from being included in the output. Which I think is leading to a list of empty paths in dask here: https://github.com/dask/dask/blob/3bd6bb2190bc83110b9a459d0a7c3524fc775e92/dask/dataframe/io/parquet/core.py#L296

Since the path only contains directories.

[2020-11-05 15:57] DavidKatz-il opened #6808 "ERROR: conda env create -n dask-dev -f continuous_integration/environment-latest.yaml"
**What happened**:

Trying to create a `conda` environment has suggesting [here](https://docs.dask.org/en/latest/develop.html), it cause the following error:
[code]

**Anything else we need to know?**:

When running the following line it works fine and successfully create a `conda` environment:
[code]

**Environment**:
- Python version: 3.8.3
- Operating System: Windows
- Install method (conda, pi

[2020-11-05 16:06] #6744 closed

[2020-11-05 16:06] quasiben commented on #6808
Does the same occur with `environment-3.8.yaml` ?

[2020-11-05 16:19] jrbourbeau commented on #6808
I think our documentation might be out of date as it doesn't look like we use `continuous_integration/environment-latest.yaml` anywhere. We should update the docs to point to `environment-3.8.yaml` instead. @DavidKatz-il is that something you'd be interested in working on? (no obligation though)

[2020-11-05 16:25] quasiben commented on #6808
@DavidKatz-il apologies, my eyes passed over your notes there

[2020-11-05 16:31] DavidKatz-il commented on #6808
I will be happy to make a PR.
Does it need to be changed only [here](https://github.com/dask/dask/blob/5bf5b70eabf87aa461e44bbcbc249e4cf0a93838/docs/source/develop.rst)?

[2020-11-05 16:46] TomAugspurger commented on #6808
Environment-latest is a symlink to `environment-3.8.yaml`. I think it's there just for the contributing docs.

@DavidKatz-il do you see the same error? Maybe conda doesn't follow symlinks on some platforms?

[2020-11-05 16:59] DavidKatz-il commented on #6808
I'm not sure that I'm understanding your question.
I saw that it's only a Symbolic Link, but when running ``` conda env create -n dask-dev -f continuous_integration/environment-latest.yaml``` on a `Windows` machine it didn't work.

Are you familiar with a way that in the docs it will automatically show ``` conda env create -n dask-dev -f continuous_integration/environment-3.8.yaml``` instead of ``

[2020-11-05 19:25] martindurant commented on #6782
I see. The original glob("path/*") *does* seem to work correctly, but get_fs_token_paths gets files only. I still don't see how that's the problem, though: if pyarrow doesn't walk the tree, passing any a number of subdirectories will not help any more than passing the root directory. Pyarrow doesn't call get_fs_token_paths, so how do we get there? I recommend turning on s3fs logging (e.g., S3FS_LO

[2020-11-05 20:07] mattchurgin opened #6810 "Issue warning when map_blocks() function with axis arguments conflicts with know dask array chunk structure"
Hello, I recently ran into this issue and wanted to suggest issuing a warning when mapping a function onto a dask array when the mapped function arguments could yield unexpected/undesirable behavior in relation to the known chunk structure of the array. I provide an example below.

**Minimal example:**
I want to horizontally stack multiple 1-d dask arrays and argsort them along their columns.

[co

[2020-11-05 20:13] pseudotensor commented on #6805
@sjperkins Thanks.  It's seems (to me naively) that just providing a resources to Client() is much more straight-forward than the annotations.  However .compute and .submit is using resources can be used by Client() to give a restricted contextual access to the cluster.

[2020-11-05 20:41] duboviy opened #6811 "Pandas & Dask mean/std result disperancy for timedelta columns"
Two things dask does differently when computing std and mean for timedelta columns.

For dataframe timedelta columns are dropped and for series different dtype is returned (float64 or numpy.timedelta64, while in pandas it's Timedelta).

Example:

[code]

[2020-11-05 20:58] TomAugspurger commented on #6811
IIRC, pandas has gone back and forth on both of these in recent releases. Can you check to see what the behavior is on our oldest supported version?

Ideally we would match whatever version of pandas is installed, but I'm also OK with just matching the most recent.

[2020-11-05 22:00] jsignell commented on #2516
It seems like you have now written that filesystem @martindurant :) - good to close?

[2020-11-05 22:02] martindurant commented on #2516
True! I don't think it gets used, but it could be...

[2020-11-05 22:02] #2516 closed

[2020-11-05 22:06] jsignell opened #6812 "Better error message for `to_csv` with distributed worker and non-local filesystem"
I just ran into an issue when trying to use `to_csv` with distributed workers that don't share a file system. I shouldn't have been surprised that writing to a local file system from a distributed worker doesn't work. It shouldn't work. But the error I got was just a `File Not Found` error. That brought me to:

https://github.com/dask/dask/issues/2656#issuecomment-343903868

Which was the answer.

[2020-11-06 11:40] RogerMoens commented on #2849
_This note is added for the records_.

As already mentioned in #6757, the power iteration is prone to errors due to numerical precision. Therefore, running in float32 deteriorates the performance of the power iteration more than float64 (see second test case in #6802). For some matrices, the influence might be more than for others, depending e.g. on the singular value landscape (e.g. steep decreas

[2020-11-06 14:23] jsignell commented on #6782
Sorry I think I misunderstood what was going on. @kinghuang what version of fsspec are you using?

As a side note, it is difficult to diagnose this issue without a reproducible example, so the best way to get help is to create one.

[2020-11-06 14:27] mrocklin commented on #6705
Yes, I run Ubuntu 20.04 on a Lenovo Thinkpad.

[2020-11-06 15:22] jsignell commented on #6810
Thanks for the detailed write-up! Since this seems like a relatively common scenario, I think it's a great opportunity to raise a warning in advance. Especially since the code doesn't throw a warning, but just gives an unexpected result.

I am trying to think about whether this is a general problem with the `axis` key word thong. Do other numpy operations that use axis need to have access to the w

[2020-11-06 21:11] nils-braun opened #6814 "blocksize and persist has impact on result"
**What happened**:
When running `read_csv` in combination with `persist` and `blocksize`, results change on re-evaluation.
I am using a 10 worker dask-cluster with version 2.29.0 (I skip the cluster setup part of the script).

[code]

**What you expected to happen**:

The same result every time :-)

**Environment**:

- Dask version: 2.29.0
- Python version: 3.8.6
- Operating System: coiled cluster

[2020-11-06 21:21] mattchurgin commented on #6810
Hey @jsignell,

It looks like this issue may be general. I only tried one more function, np.sum, but found a similar result.
Create array whose chunk structure happens to run along columns (each column part of a different chunk):
[code]
Undesired output when summing across columns, as each column is treated as independent due to chunk structure:
[code]

When summing across rows we get the expected

[2020-11-08 03:23] pseudotensor commented on #6571
Amazing work, thank you so much.

[2020-11-08 20:48] syagev opened #6816 "read_parquet with fastparquet does not support DNF filters"
**What happened**:
Calling `read_parquet` with filters in DNF format (i.e. List of Lists of Tuples), using the fastparquet backend, does not filter partitions and returns all partitions instead.

**What you expected to happen**:
I expected filters to be applied as stated in the documentation of `read_parquet`.

**Minimal Complete Verifiable Example**:

I expect the following to return parts that h

[2020-11-09 12:10] gioxc88 commented on #6705
any idea of why it hangs on windows?

[2020-11-09 12:55] jorisvandenbossche commented on #6782
@kinghuang There are currently some bugs when using the latest s3fs and pyarrow (https://issues.apache.org/jira/browse/ARROW-10473, https://issues.apache.org/jira/browse/ARROW-10433 on the pyarrow side, and eg https://github.com/dask/s3fs/issues/378 on the s3fs side (fixed in master but not yet released)).

So could you check if it is working fine with s3fs 0.4 ?
Or otherwise you would need s3fs m

[2020-11-09 15:05] jsignell commented on #6814
Yikes. I can reproduce on dask/distributed master although I get a different final number. I suspect that there might be some issue with tasks having the same name even if the blocksize is different.

[2020-11-09 16:27] justinessert opened #6819 "read_parquet fails when reading parquet folder from s3"
**What happened**:

After creating a Dask DF, I am able to successfully write a Parquet file to s3 using `ddf.to_parquet(s3_path)`. The result is a folder being created on s3 which contains the individual parquet files for each partition. Then when trying to read that file back in `dd.read_parquet(s3_path)` fails with the stack trace below (in details dropdown).

<details>

**Stack Trace:**

[code

[2020-11-09 16:44] jsignell commented on #6810
Yeah that makes sense. It seems reasonable to me to raise a warning for these cases. Go for it! Just ping me if you run into issues.

[2020-11-09 16:46] eric-czech commented on #6757
Hey @RogerMoens, thanks again for working on this!  To your points:

If you add some in pull requests, I'll gladly review them and help think about others that might be worth including.  If I recall correctly, I don't think the current `svd_compressed` testing is very comprehensive.

The obvious test possibility that jumped out to me here is to compare `u`, `s`, and `v` from `svd` to `svd_compress

[2020-11-09 16:47] jsignell commented on #6816
This seems like a fastparquet bug to me. You might be better off opening it over there.

[2020-11-09 17:22] rockwellw commented on #6721
I also ran into this problem, and came up with a workaround (if repartitioning is an option). This should eliminate any all-NaN partitions.
`df = df.repartition(npartitions=(df.map_partitions(len) > 0).compute().sum())`

Since we don't want `set_index` to repartition, maybe it's worth checking for NaN partitions and raising a more specific/helpful error.

[2020-11-09 18:42] jsignell commented on #6819
This looks like a pyarrow bug. But it could have to do with the async changes that I think have been happening in fsspec. Ping @martindurant for confirmation.

[2020-11-09 18:46] jsignell commented on #6721
@rockwellw feel free to open a PR with the suggested fix for the sorted check.

[2020-11-09 18:49] daxiongshu opened #6820 "dask.array.dot doesn't work with cupyx sparse based dask arrays"
`da.dot(dx, dw)` throws an error when `dx` and `dw` are `dask arrays` of `cupyx.scipy.sparse` chunks. Here is the code.

[code]

<details>
  <summary>Click to see the error</summary>

Error:
[code]

</details>

<details>
  <summary>Click to see another example and a different error</summary>

If I change the above code
[code]
to
[code]

I got a different error:
[code]

</details>

**Environment**:

[2020-11-09 18:55] jakirkham commented on #6820
As @cjnolet mentioned offline, this is likely because we lack sparse matrix types in `tensordot_lookup`. We would want to add these [along with other CuPy sparse matrix lookups]( https://github.com/dask/dask/blob/a2518c91cdaf9ec88df56d67ac253fe228d45c9e/dask/array/backends.py#L21 ). Would be good to do this for SciPy sparse matrix types as well. We may also want to consider adding an `einsum_looku

[2020-11-09 18:55] #6758 closed

[2020-11-09 18:55] #6784 closed

[2020-11-09 19:05] RogerMoens commented on #6757
Hey @eric-czech, for testing suggestion see: https://github.com/dask/dask/pull/6799#issuecomment-724169462

I am planning to present some v0's on Wednesday for the points that are still open (see my post above).

I am also going to review the QR iterator to see whether a similar compute=True option is possible/needed as is for the power iterator (that was in place), I am not sure why that was adde

[2020-11-09 19:37] eric-czech opened #6822 "`svd_compressed` should not assume convergence error with nan inputs"
The `svd_compressed` function currently reports a convergence error if inputs are nan some of the time and in other cases returns all nan results.  Examples:

[code]

It would be ideal if this error indicated the real issue, possibly with scikit-learn-like messages (e.g. "Input contains NaN, infinity or a value too large for dtype").  Deferred errors/assertions (https://github.com/dask/dask/issues

[2020-11-09 21:08] syagev commented on #6816
Thanks @jsignell for the reply. I don't claim to be an expert but the mentioned fastparquet API does not seem to support the input it is being given by dask.

See this function: https://github.com/dask/fastparquet/blob/2527bca33b0137fca6cc800fc4a264c37f63f02c/fastparquet/api.py#L803

It claims to support only list of tuples, and from reading the code it joins those filters with an AND.

On the oth

[2020-11-09 22:09] jsignell commented on #6816
Ah ok sorry I misunderstood. So it sounds like the solution is better docs on what is actually supported on the different parquet engines. Would you be interested in improving the docs with a note about this? If so you can go ahead and open a pull request.

[2020-11-09 22:18] dankerrigan commented on #6600
Working on a similar dataset to @gforsyth and experiencing the same apparent issue, the worker, performing the write_metadata task, using increasing amounts of memory until the worker OOM terminates and the worker and task restart. The dataset we originally encountered this issue with has thousands of columns, 10s of thousands of partitions, and millions of rows running on a cluster with TBs of me

[2020-11-10 13:46] #6775 closed

[2020-11-10 15:20] martindurant commented on #6795
#6823

[2020-11-10 15:45] rjzamora commented on #6600
Thanks for the reproducer @dankerrigan !   I get the same behavior on my machine.  It certainly seems like the problem occurs when all the metadata is aggregated onto a single worker to write the "_metadata" file.  I'll try to dig in and see if we are doing anything silly here.

[2020-11-10 15:46] hayesgb opened #6824 "When overwriting partitioned parquet files, Dask may leave old partitions present."
**What happened**:
Let's define a pyarrow Dataset as a collection of parquet files.

When overwriting a pyarrow Dataset created by Dask, where the new Dataset has a fewer number of files than the original dataset, only the new number of partitioned files are overwritten, and the old "dangling" files are left in the directory.

**What you expected to happen**:
A pyarrow Dataset, when written to dis

[2020-11-10 16:59] mrocklin commented on #6795
(Disclaimer, I have a financial bias here)

My sense is that Quansight is still happy to provide Dask support.

Coiled certainly does this (we have active Dask support contracts today)

I don't think that Saturn currently offers this except for people who work on Saturn Coud (but I could be wrong)

Agreed on Coiled, Saturn, Capital One, Prefect.  Maybe we want to drop HHMI.  I would suggest that w

[2020-11-10 17:07] rjzamora commented on #6824
This is very similar to the problem reported in #5873 - That issue was raised when the partitions were being randomly named, but it is the same idea: Dask will not clear the contents of a directory when a dataset is overwritten.

The general sentiment in that issue was that it may be best to make the user responsible for clearing stale data.  However, I am still unsure about this.

[2020-11-10 17:53] martindurant commented on #6795
https://www.quansight.com/dask
"For more help with Dask for your business, connect with us and we can give you a full systems evaluation to find out if you are getting the most out of your data science software."

cc @jsignell for the saturn view on paid dask support

Discussion on "supported by": https://github.com/dask/community/issues/44 and https://github.com/dask/community/issues/51 (but no a

[2020-11-10 18:14] hayesgb commented on #6824
A very common ML engineering use case is to overwrite files on a scheduled basis. The fact that Dask silently allows the write to occur, leaving the dangling parquet files seems problematic.  I included the proposal to explicitly request an overwrite.

By analog, Spark has the same overwrite keyword, which can permit a remove and write, or with "dynamic" it will only overwrite changed partitions.

[2020-11-10 21:00] jsignell commented on #6795
Yep I agree that Saturn belongs in "supported by" and not in "paid support". I'll also suggest listing the companies alphabetically.

[2020-11-10 21:45] mmccarty commented on #6600
Awesome! Thanks @dankerrigan
@rjzamora I'm glad you can see the issue locally. Let us know if you need any help.

[2020-11-11 02:01] pseudotensor opened #6826 "performance issues"
https://towardsdatascience.com/beyond-pandas-spark-dask-vaex-and-other-big-data-technologies-battling-head-to-head-a453a1f8cc13

Curious if these isssues can or have been addressed.  Thanks.

[2020-11-11 02:13] melvinev opened #6827 "Shoudl Dask drop columsn when writing to parquet with partition_by?"
In Spark, when you partition by a field and write to parquet, it drops the partition column since the folder path now contains the field data.

When write to parquet using the below code, the correct parquet folders are created (i.e. name=XXXX), but the parquet files also have the name field which is the column I partitioned on.  How can I use to_parquet to also drop the partition_on column?

df.t

[2020-11-11 03:30] quasiben commented on #6826
Yes.  I would recommend reading over: https://github.com/dask/dask/issues/6264 and various linked PRs from that issue

[2020-11-11 03:37] pseudotensor commented on #6826
Thanks!  I've been more deeply relying upon dask and was hopeful.  Will check out the PR, thanks!

[2020-11-11 03:37] #6826 closed

[2020-11-11 04:55] rjzamora commented on #6827
I can try to reproduce myself tomorrow, but my understanding is that you are correct: The individual parquet files should not include the column(s) used for partitioning.  Are you reading back a single file with something like pandas when you find this behavior?

[2020-11-11 06:35] chrisroat opened #6828 "Memory surge when used delayed+map_blocks"
**What happened**:

I am porting some skimage functionality to dask for histogram matching.  The code seems to work correctly for small examples and unit tests, so I believe it is coded correctly (famous last words, I know).  However, when performing a moderate-sized task, the dask version is goes slow and uses a lot of memory.  The numpy version operates with no such issues on the same data.

**W

[2020-11-11 08:51] Rohit-IISc commented on #6301
@sroet Thanks a lot for this resolution. I have been looking for various solves, this eventually was affecting Auto-Sklearn as well, after this I am able to run it smoothly.

[2020-11-11 10:16] pseudotensor commented on #5085
[code]

Hitting this as well.  How to diagnose?

I'm running xgboost with local dask_cuda cluster and see this every so often.  It only started, I think, once I stopped using dask_cuda.read_csv and started passing a dask dataframe using from_array() for a numpy array.  Maybe related to fact that now has to go from CPU -> GPU indirectly?

[2020-11-11 14:16] jsignell commented on #6721
@bnaul do you think the informative error added by #6821 is enough to address this issue?

[2020-11-11 15:41] jsignell commented on #6828
I can reproduce this locally and I think the issue is actually with `da.unique`. I tried to compute `unique_indices` and was able to kill my workers. I think `return_inverse` might be causing the issue here.

[code]

[2020-11-11 16:17] jsignell commented on #6828
Pinging @jakirkham on this since it seems like you implemented `da.unique`.

[2020-11-11 16:21] jsignell commented on #5085
Did the fix suggested in https://github.com/dask/dask/issues/5085#issuecomment-513043034 help at all @pseudotensor?

[2020-11-11 16:21] eric-czech commented on #6757
Ah, I thought scipy had a randomized SVD implementation too.  Understood that direct comparisons to deterministic results won't work.  scikit-learn is a dev dependency already though (see [envorionment-3.8.yaml](https://github.com/dask/dask/blob/master/continuous_integration/environment-3.8.yaml), e.g.) and it would be present in the build, so I still think a comparison to that implementation is p

[2020-11-11 16:31] RogerMoens commented on #6757
Adding to that, I couldn't find anything on writing and reading to and from multiple disks at once, for spilling purposes, is this an option?

[2020-11-11 17:04] #6795 closed

[2020-11-11 17:41] melvinev commented on #6827
Hi @rjzamora thank you so much for the reply.  I'm using awswrangler to write the data to AWS Glue/Athena and it's picking up a second column that matches the partition column name.  It may be on their side - I'll let you know, thanks again.

![image](https://user-images.githubusercontent.com/35536427/98845034-0063b100-2402-11eb-811f-b45a2737fd67.png)

[2020-11-11 17:58] mrocklin commented on #6757
Today Dask doesn't think about specific storage hardware.  Instead we rely on the OS for this.  Multi-disk IO is certainly important, but it tends to be handled with high bandwidth network file systems, or with raid.  In both cases Dask/Python is presented with a filesystem abstraction, and we just write to that.

This seems like the right place to put this abstraction, rather than in Dask itself,

[2020-11-11 18:08] mrocklin commented on #6705
I do not right now have such an idea.  It is unlikely that I personally
will test this out immediately.  I encourage others to though.

On Mon, Nov 9, 2020 at 4:10 AM gioxc88 <notifications@github.com> wrote:

[2020-11-11 18:26] chrisroat commented on #6828
Thanks for finding the root issue.  I'm still trying to wrap my head around the code, but here's a better minimum example.  The graph, below, isn't complex.

[code]

![image](https://user-images.githubusercontent.com/1053153/98849558-43288780-2408-11eb-8927-84bfb6ef4201.png)

[2020-11-11 19:00] bnaul commented on #6721
sorry @rockwellw I missed your PR before. I'm not totally sure that the new error message is quite right either for this specific case: while it's technically true that "all" of the 0 values in an empty partition are NaN, I don't know that that really clarifies to the user that the root cause is an empty partition. repartitioning is one way to get rid of the empty partitions so that `set_index` as

[2020-11-11 19:20] jakirkham commented on #6828
It's worth noting that `Delayed` forces all chunks into a single chunk. If that single chunk doesn't fit in memory, that would potentially cause issues. Is it possible to avoid using `Delayed` and do something else?

[2020-11-11 19:33] rockwellw commented on #6721
@bnaul good point. On second look, I'm realizing the fix may be as easy as
[code]

My only concern is whether there is a more subtle reason why `sorted=True` should not be valid in this case. Logically it seems reasonable, since as you pointed out, the partition will be empty when computed (as opposed to full of NaNs).

[2020-11-11 19:44] chrisroat commented on #6828
That `delayed` call is intended to fit in memory.  It works as long as an array of unique values fits in memory (which is fine up to uint16).  I have checks in my actual code to enforce this.  It's a bottleneck, but I believe it is necessary.

The culprit for the memory use looks to be the following during the inverse calculation.  The `ar` variable is the incoming array, and the `out["values"]` i

[2020-11-11 19:45] rockwellw commented on #6721
Opened a draft PR #6829

[2020-11-11 20:32] RogerMoens commented on #6822
A short note: I think it is the underlying tsqr that gives you this type of behaviour, since you are going from a square to a "thin".

[2020-11-11 21:40] RogerMoens commented on #6757
@eric-czech

I have finished all updates and tests except for the LU iterator.

Friday somewhere in the morning for you, somewhere in the afternoon for me? What about 9AM EST (so 3PM Amsterdam time)?

Yups, the difference for the type of matrices I use is quite large actually (see the first post). But, it all depends of course on your application. For convex optimizations it also influences the op

[2020-11-11 21:46] martindurant commented on #6614
Did anything happen here?

[2020-11-11 21:58] jsignell commented on #6828
There is a comment in the `unique` code that it could be rewritten using a tree reduction approach. Maybe now's the time?

[2020-11-11 22:27] jakirkham commented on #6828
Yeah that's tracked as issue ( https://github.com/dask/dask/issues/2851 ). It's certainly a doable thing if someone has interest in doing that.

I thought about bring it up. However as we are putting all of the data into a single chunk, which `unique` is running on, I don't think it would help.

This actually raises another question @chrisroat. Is there any reason not to just call `map_blocks` (or

[2020-11-11 22:49] chrisroat commented on #6828
In this case, the `unique` call is over all the data, not just per-block.   It's the interpolation being done on a single chunk via delayed.

I'll take a look at the tree reduction idea.

[2020-11-12 03:26] pseudotensor commented on #5085
I had to stick with tcp protocol for now for general stability reasons with ucx, so I haven't tried again.    I'll try upgrading to rapids 0.16/py38/cuda10.2 and see how that does with ucx.

[2020-11-12 03:51] #6814 closed

[2020-11-12 08:47] chrisroat commented on #6828
I took a peak at how this might work, and have to say that I don't fully follow all the meta and reduction code.

For the moment, I have the following which seems to be working, though not optimized or vetted on large data.  It's pieced together from some ideas on this and related threads.  I didn't figure out how to pass unknown-shapes around without triggering problems, so it conservatively pass

[2020-11-12 10:24] cyborgnaren commented on #6819
@martindurant can you share any information on this ?

[2020-11-12 13:34] eric-czech commented on #6757
Sounds good!  I'll send an invite shortly.

[2020-11-12 14:43] gforsyth commented on #6819
@cyborgnaren -- can you confirm which version of pyarrow you are using?  I'm not sure that pyarrow ==2.x support has been added yet.  If you are using pyarrow 2.x, can you try to downgrade to a < 2.x version and see if the issue remains?

[2020-11-12 15:02] martindurant commented on #6819
I can confirm that it seems to work fine with pyarrow 1x and latest s3fs/fsspec (see, I don't update too often).

[2020-11-12 15:32] justinessert commented on #6819
Can confirm that this works for me too. Thank you!

[2020-11-12 17:10] rjzamora commented on #6600
I don't have a solution yet, but I did poke around a bit.  The failure [in this reproducer](https://github.com/dask/dask/issues/6600#issuecomment-724311883) is definitely due to the total size of the metadata being sent to the final `write_metadata` task....  Every `write_partition` is sending along a ~1.3MB object containing the schema as well as the parquet metadata for the row-groups written by

[2020-11-12 17:17] gforsyth commented on #6819
Ok, @justinessert , I'm going to close this out, then -- pyarrow 2.0 support is on the way and is being tracked in a separate issue.

[2020-11-12 17:17] #6819 closed

[2020-11-12 17:26] jakirkham commented on #6828
Basically it is complaining that structured `dtype`s can't be reduced

[code]

I think structured `dtype`s are unique to NumPy. It doesn't seem possible to create them with CuPy and I doubt Sparse supports them. Would suggest just special casing this when they show up. Can do a check like `meta.dtype.kind == "V"` to see if a structured `dtype` is present.

[2020-11-12 18:07] brandonwillard commented on #6488
In case anyone else ends up being blocked by this, I was able to hack around it by changing the `pickle` behavior for only the one `S3FileSystem` object involved:
[code]

[2020-11-12 18:10] martindurant commented on #6488
An alternative would be to not specify storage_options at all, but use config files or environment variable to do it: https://filesystem-spec.readthedocs.io/en/latest/features.html#configuration

[2020-11-12 18:13] brandonwillard commented on #6488
I couldn't (and still can't) get the environment variables to actually change/use the AWS profile in this case.  Perhaps it has to do with the MFA?

[2020-11-12 18:26] martindurant commented on #6488
MFA?
The environment variables I refer to are fsspec-specific: would be `FSSPEC_s3_profile=some-local-profile`. I think this should work? If not, then indeed too much state is being pickled for your use case. One can argue about whether that is right or not.
I am surprised that the AWS-specific environment variables didn't work.

[2020-11-12 18:30] brandonwillard commented on #6488
Ohh, sorry, I _haven't_ tried the `FSSPEC_*` env variables!  I'll give that a shot.

[2020-11-12 18:36] brandonwillard commented on #6488
All right, I think that worked (i.e. `import os; os.environ["FSSPEC_s3_profile"] = "some-local-profile"`); much appreciated!  Might as well close this until further notice.

[2020-11-12 18:37] martindurant commented on #6488
Another workaround would be to create an s3 instance, followed by `s3.storage_options.pop("profile")` (the storage options are not used in the instance after the first connect)

[2020-11-12 18:37] #6488 closed

[2020-11-12 20:31] Xwnola commented on #5787
Any updates on this bug? I happen to have a csv with UCS-2 LE BOM encoding and Dask failed to read the csv when I set encoding = 'UTF-16'. Interestingly enough, this issue happened after I upgraded pandas from 1.0.0 to 1.1.4.

[2020-11-13 02:37] postelrich opened #6832 "dd.read_parquet filter doc does not match filter logic"
The doc here for `dd.read_parquet` https://github.com/dask/dask/blob/master/dask/dataframe/io/parquet/core.py#L199-L212 does not align with the logic that actually takes place in https://github.com/dask/fastparquet/blob/master/fastparquet/api.py#L803. The docs state, if I'm reading correctly, that you can pass in two types of filters. One is a List[List[tuple]] where the tuples in the inner list a

[2020-11-13 02:51] pseudotensor opened #6833 "Massive memory (100GB) used by dask-scheduler"
Using rapids 0.14 with dask 2.17.0 python 3.6, conda.

I'm running xgboost using dask on GPUs.  I do:

1) convert in-memory numpy frame -> dask distributed frame using from_array()
2) chunk the frames sufficiently for every worker (here 3 nodes, 2 GPUs/node each) has data as required so xgboost does not hang
3) Run dataset like 5M rows x 10 columns of airlines data

I see my application use reason

[2020-11-13 03:07] pseudotensor commented on #6833
[maps.txt](https://github.com/dask/dask/files/5534505/maps.txt)

Here is output of `sudo cat /proc/32193/maps > maps.txt`

[2020-11-13 03:19] pseudotensor commented on #6833
Apart from being all odd, is there a way to ask scheduler for its memory usage?

[2020-11-13 03:47] pseudotensor commented on #6833
I'm guessing I'm misunderstanding a user's responsibility when using dask.

1) I assume that if I did not persist the data, then when a process closes that data is gone

2) I assume data is distributed, not sitting on a single node's scheduler.  That would defeat the purpose of distribution.

3) I assume from_array() is taking the numpy array and distributing that on the cluster, not just storing

[2020-11-13 03:49] rjzamora commented on #6832
Is this a duplicate of #6816 (where the appropriate solution is likely a revised doc string)?

[2020-11-13 03:55] pseudotensor commented on #6833
Here's a code fragment, but it's obvious from my description:

[code]
This is done in a fork that dies every fit.

I expect the dask-scheduler memory should *never* be large or hold data and certainly now keep growing.

[2020-11-13 04:06] pseudotensor commented on #6833
FYI before posting I googled and search around and didn't find exactly the same scale of problem.  Mostly stack overflow stuff was misuses or misinterpretations AFAIK.

I'm also not clear if I should post to dask or dask/distributed.

[2020-11-13 04:06] rjzamora commented on #6833
This question may be a better fit for [dask/distributed](https://github.com/dask/distributed/issues), but I can try to offer some thoughts...

I assume that it is definitely better to explicitly close your client (and maybe even cancel futures).  Although your client process is dying, I don't think the relevent data will be immediately deleted from the cluster.

The data will be distributed for pr

[2020-11-13 04:09] pseudotensor commented on #6833
I understand that the initial numpy data is on the single server, but this is not on the dask-scheduler.  Also, it's relatively small amount of data, only 200MB of numpy data.

I understand to get a fully distributed experience I need to start from get-go with dask, but I'm far from that if even simple uses are showing massive use by the scheduler.

[2020-11-13 04:22] postelrich commented on #6832
it is indeed

[2020-11-13 04:22] #6832 closed

[2020-11-13 04:24] rjzamora commented on #6833
Right - I understand that your data is small, and I agree that it shouldn't be taking up a lot of space in the graph.   When I say "the entirity of your data will be stored in the graph", I am just saying that the very first task in the graph will include the entire array as input.  If you call `X.persist()` after the `from_array` call, your data will become distributed (you are correct that `comp

[2020-11-13 04:31] postelrich commented on #6816
My vote would be to upgrade the fastparquet logic to match the doc as filtering is kind of useless for multi-partitioned data otherwise.

[2020-11-13 04:46] pseudotensor commented on #6833
Will use of dd.from_array(X).persist() bypass the scheduler or must it go through it?

It seems a bit odd of a design if all in-memory dask distributed data operations have to go from the client process -> scheduler -> workers.  Then the scheduler always ends up holding all the data meant for the cluster of workers for from_pandas, from_array, etc.  How can one just get the data in memory on the c

[2020-11-13 05:07] rjzamora commented on #6833
I see - If you are starting with a literal numpy array or pandas DataFrame, you are correct that the data will flow client process -> scheduler -> workers.  There is really no way around this, since the starting point is an in-memory data structure.  If you don't want to read from disk, you may be looking for something like [dask.delayed](https://docs.dask.org/en/latest/array-creation.html#using-d

[2020-11-13 05:09] pseudotensor commented on #6833
But why can't the scheduler and task just keep track of the client having the memory?  Of course, one can't del the object, but one can't rm the file for read_csv anyways.  So it's the same issue, no new issue.

[2020-11-13 05:48] pseudotensor commented on #6833
Looking at https://distributed.dask.org/en/latest/memory.html I see no reason why there is accumulation.  The fork goes away, the future held should be deleted.  I would think I don't have to cancel the future myself.

However, perhaps I'm uncleanly shutting down the fork.  Maybe then the future isn't entirely removed?  That is, while in-memory stuff is clearly gone after a fork is gone, any distr

[2020-11-13 08:56] pseudotensor commented on #6833
I added more details and repros at: https://github.com/dmlc/xgboost/issues/6388#issuecomment-726589459

There are some things mentioned in the issue that seem to be xgboost's fault, like excessive memory usage on CPU before ask is even used.

However, the fact that the scheduler and worker both keep growing in memory use every completed python script, despite having client.cancel(X) and client.can

[2020-11-13 09:08] pseudotensor commented on #6833
Eventually the worker gets killed and restarts due to the OOM accumulated.

[code]
This keeps happening over and over.

Everytime thi s happens, the new worker starts again with less memory but again accumulating after each iteration in the loop.  Again it gets killed, etc.

Meanwhile the scheduler continues itself to grow in memory use.

[2020-11-13 09:12] pseudotensor commented on #6833
Maybe related: https://github.com/dask/distributed/issues/3898

[2020-11-13 09:21] pseudotensor commented on #6833
Moved discussion to: https://github.com/dask/distributed/issues/4243 since seems to be dask.distributed problem only perhaps.

[2020-11-13 09:55] RogerMoens commented on #6757
Just found this paper from Drew Schmidt at ORNL on SVDs (https://arxiv.org/pdf/2009.00761.pdf). It could be interesting, for comparison and to review some of the effects on large scale.  It is focused on MPI implementations, however.

[2020-11-13 13:11] eric-czech opened #6835 "Improve randomized SVD support"
The current randomized SVD implementation is based on [Halko 2011](https://arxiv.org/abs/0909.4061) (algorithm 4.3).

Many randomized SVD algorithms have been developed or described well since then, and the improvements in accuracy and/or efficiency from them may be worth trying to implement.

Here is a list of candidate algorithms that could be worth considering, primarily from @RogerMoens and a

[2020-11-13 15:18] RogerMoens commented on #6835
Also as an addition to this:
https://www.stat.berkeley.edu/~mmahoney/pubs/lawn297.pdf

[2020-11-13 15:45] #6757 closed

[2020-11-13 16:04] RogerMoens commented on #6835
Also note on this paper (@eric-czech): (Heavner and Martinsson 2020)
It is not yet clear to me whether it offers the advantage of compression that an SVD has. If you save the different components of an SVD you end up with an immense compression for storage purpose and also you can use it it post-processing. In this one it seems that you create an m x m matrix and an n x n matrix in the process?

[2020-11-13 22:34] blokhinnv opened #6840 "bag.groupby doesn't work properly with string keys"
I'm going through the [the second part of the tutorial](https://github.com/dask/dask-tutorial/blob/master/02_bag.ipynb) and it looks like `dask.bag.groupby` doesn't work properly.

[code]
Here I expect that `result` list would contain only unique keys, but the output shows that there is four tuples for each key.
[code]
Why would it work that way?

**Environment**:

- Dask version: 2.20.0
- Python

[2020-11-13 23:54] #6792 closed

[2020-11-14 07:33] blokhinnv commented on #6840
I managed to fix this behaviour by adding 2 parameters in the call:
[code]
So, how it looks from where I'm standing. `js` is split at about 50 partitions by `dask` when created. So is `result` before computations. After I call compute it looks like data are groupped only inside a partition.
I can't find anything about such behaviour of `dask.bag.groupby` in docs. The tutorial says "groupby: Shuffl

[2020-11-14 09:49] sjperkins commented on #6828
I suspect the memory issues are similar to those described in https://github.com/dask/dask/issues/874, as unique creates a single output node for the values (similar to the mean computation in https://github.com/dask/dask/issues/874)

[2020-11-14 20:22] AaEll commented on #5085
I found that this issue came up when completing a shuffle operation with many keys. In my case, over 10 million. I remedied this by defining a key-group column and then doing the shuffle on that key-group.

[2020-11-14 20:52] #6787 closed

[2020-11-14 20:59] jrbourbeau opened #6842 "Follow up after moving to GitHub Actions"
In https://github.com/dask/dask/pull/6794 we moved our Travis CI build to GitHub Actions 🎉 There are a couple pieces of follow up work we'll want to keep track of:

- [ ] Add coverage back &mdash; potentially moving to codecov (xref https://github.com/dask/dask/pull/6794#issuecomment-726703648)
- [ ] (Maybe?) Separate our main tests workflow into OS-specific workflow files so we can re-run tests o

[2020-11-14 21:43] brendancol commented on #4842
@mrocklin @jakirkham just wanted to ping this issue to get help promote.  Any tips on solving the coercion issue for cupy arrays in the `cupy_backed_array.map_overlap(..., boundary=0.)` case?

[2020-11-16 10:11] pentschev commented on #4842
The original issue here with `da.pad` is going to be resolved by https://github.com/dask/dask/pull/6738. However, your issue with `map_overlap` (that internally relies on `map_blocks`) is probably solved by passing `meta=`, please see https://github.com/dask/dask/blob/8d622ad81162245d5e7663522b9721df5b23e9f4/dask/array/core.py#L486-L495

[2020-11-16 17:07] kinghuang commented on #6782
I have `fsspec==0.8.4`.

Using `s3fs==0.4.2` seems ok for now.

[2020-11-16 19:13] jsignell commented on #6816
You are welcome to open an issue or PR over on fastparquet to request this feature, but in the meantime I think the docs should be made to reflect reality :)

[2020-11-17 14:53] jsignell commented on #6840
This looks like https://github.com/dask/dask/issues/6640 so I suggest updating your dask to 2.30.0

[2020-11-17 14:53] #6840 closed

[2020-11-17 15:09] GFleishman opened #6849 "array.overlap and array.map_overlap block sizes are incorrect when depth is an unsigned bit type"
**Minimal Example**:
[code]

[code]
[(0, 70)]
[(70, 140)]
(70,)
(70,)

[code]
[(70, 110)]
(40,)
[(0, 70)]
(60,)

I gather that `map_overlap` simply pads each block with data from its neighbors, then calls `map_blocks` on the "augmented" array. I suspect that when this augmented array is sliced there is probably an expression like:
`new_block = augmented_array[d[0]:-d[0], ...]` where `d` is the dep

[2020-11-17 15:29] jsignell commented on #6849
That argument makes sense to me and I can reproduce on latest master. It seems like you have a good handle on how to implement the fix, so please feel free to open a Pull Request.

[2020-11-17 17:19] GFleishman commented on #6849
Thanks for reproducing, I'm happy to take a look at it this evening :)

[2020-11-17 18:37] melvinev commented on #6824
Very much support @hayesgb proposal here, this is a problem for us.

[2020-11-17 23:38] TomAugspurger commented on #5787
Any updates would be reflected here, and I don't see any. If you're interested in investigating more we'd appreciate it.

[2020-11-18 06:28] lorenh516 commented on #4371
Bumping as well, this would be an extremely helpful feature.

[2020-11-18 06:33] lorenh516 commented on #5294
Bumping this issue

[2020-11-18 09:33] trivialfis commented on #6833
Moving discussion from xgboost to here (or distributed if preferred).  Here is a minimum reproducible example:

[code]

Spec:
[code]

[2020-11-18 09:50] natsunami commented on #6365
Hello vinhdiesal, I have the same problems ! Could you tell me which packages did you have to install ?

Thx for the help !

[2020-11-18 12:31] TomAugspurger commented on #5294
I think https://github.com/pandas-dev/pandas/issues/28472 is the latest issue on the pandas side. Dask could use private APIs (we do in other places), but I'd prefer to see that paired with an acknowledgement that it won't change in pandas.

[2020-11-18 12:49] TomAugspurger commented on #4371
Just an FYI, the pandas behavior is potentially changing, which would make this more important to implement: https://github.com/pandas-dev/pandas/pull/35967

In the future pandas will require this keyword when grouping by one or more categoricals.

[2020-11-18 14:45] quasiben commented on #6833
Can you also provide how you started the cluster ?  In the above, you are connecting with `scheduler.json` which does not show how many workers, memory limits, etc.

[2020-11-18 15:11] quasiben commented on #6833
I think it would be good to read through https://github.com/dask/distributed/issues/3032 as it outlines some problems when using `from_array` with data already loaded in memory.  As @rjzamora has noted, the data is included in task graph which is going to run through the scheduler.  Instead, I would suggest rewriting things with dask throughout the workflow:

[code]

[2020-11-18 15:29] trivialfis commented on #6833
@quasiben  Thanks for the reply!  I believe the your example should be the right way of loading data.  But for a small dataset like HIGGS, the in memory size with double is about 2.5 GB (11000000 rows * 29 cols * 8 bytes / 1024^3).  To fill out 60 GB of memory there has to be at least 24 copies of data.  That seems to be something worth looking into?

[2020-11-18 15:49] jsignell commented on #4371
I can take on wrapping up the work that @OliverHofkens started. I'll open a PR shortly.

[2020-11-18 16:58] quasiben commented on #6833
I would expect this to actually have more memory consumption in the scheduler as you've laid it out.  With 11000000 rows and a chunksize of 50000, you end up with 220 nodes in the graph all of which will be 2.5 GBs so you should have 550GBs in the scheduler.  If instead you have have a chunksize of 5500000, there will be 2 nodes and ~5GBs on the scheduler.

If you are curious, you can look at what

[2020-11-18 17:11] mrocklin commented on #6653
There are a variety of solutions to this problem in the example I point to above, including pulling the result back, waiting on the future and then submitting more tasks after you remotely compute the length, and submitting tasks from tasks.

You could also consider Prefect, which uses these tricks internally.

There isn't a clear alternative proposal here, so I'm going to close for now.  Thanks f

[2020-11-18 17:11] #6653 closed

[2020-11-18 17:12] mrocklin commented on #6533
The second repartition is relatively cheap.  I don't see an obvious thing to improve here.  I'm going to close this for now.  If there is more to discuss then please chime in and we'll reopen.

[2020-11-18 17:12] #6533 closed

[2020-11-18 18:08] RogerMoens commented on #2849
@TomAugspurger : this one is fixed, so it can be closed I guess.

[2020-11-18 18:20] RogerMoens commented on #6835
https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=8091029&casa_token=r0aZBfyMMo8AAAAA:H1ZYLEsrfwxjrYk0fKFXp1I9uSAkULrMbeeEWZfKPz--UY2JN-wUQJYz4mU3hvlr-9rjMpProg&tag=1

Could be interesting

[2020-11-18 18:46] pseudotensor commented on #6833
But why is there accumulation if one repeats the fit in a loop?  Once a task is done, why does the task graph continue to hold the arrays?

[2020-11-18 18:49] pseudotensor commented on #6833
The other point I made earlier. The task graph should never contain data, it can just contain a reference to the clients data.

Same with files actually.   read_csv should be possible on the client alone, in the context of multinode with no shared disk, the client should be possible as a reference for where the file is, and any operations on the task graph should be able to keep that as a referenc

[2020-11-18 18:57] TomAugspurger commented on #2849
Thanks!

[2020-11-18 18:57] #2849 closed

[2020-11-18 19:10] rjzamora commented on #6833
This seems straightforward on a local cluster, but a bit complicated when the cluster is distributed.  In the case of IO, all workers have access to a shared file system with a established API for accessing the data by its path.  Accessing remote data by memory reference seems less reliable.  Won't this require rmda support in both the software and hardware?   Note that I don't know much about thi

[2020-11-18 19:16] pseudotensor commented on #6833
Ya I'm thinking of distributed case too.  Both a file or in-memory object could be modified after read_csv or from_array() type operations are done.  So both have reliability issues but the API can be made robust to make it clear how things should function, e.g. shallow reference or deep copy.  But in any case, no need to store data on graph.

[2020-11-18 21:01] quasiben commented on #6833
In the case of a chunksize of `5500000` I don't see total memory exceeding 5.1GBs.
[code]

The scheduler should (and does) clean up after futures which no longer are being held onto by worker or client.  This can be made more [aggressive](https://distributed.dask.org/en/latest/memory.html#aggressively-clearing-data) .

Backing out for a minute, I think we've identified what is happening with the o

[2020-11-18 23:33] hhuuggoo commented on #6833
I believe dask xgboost runs the coordinator for all the xgboost workers ON the scheduler.  But @jameslamb would know more

[2020-11-19 04:14] ischoegl opened #6855 "Mixing of dask.array and numpy.ndarray in Numba @guvectorize"
It appears that `dask.array` and `numpy.ndarray` cannot be mixed when using Numba's `@guvectorize` decorator - see the minimal example below. It would be a nice feature if dask could resolve this (or at least raise a more helpful exception!). Regardless, this is a truly helpful package!

**Minimal Example**
[code]
The following `ValueError` is raised ... (on dask version 2.30.0)
[code]

[2020-11-19 11:17] natsunami opened #6856 "ValueError: Order of columns does not match"
Hello Dask community !

**What happened**:
While working on the [microsoft malware prediction](https://www.kaggle.com/c/microsoft-malware-prediction) I preprocessed my X_train dataset using pipelines to perform an XGBoost. Having now an X_train_processed dataset i just wanted to compute the number of rows but I'm facing the following ValueError:The columns in the computed data do not match the col

[2020-11-19 13:02] eric-czech opened #6857 "Support for lazy dask.array.stats.distributions arrays"
It would be helpful if the scipy.stats.distributions ufuncs for common distributions were implemented in dask, e.g.:

[code]

Using a workaround like `da.map_blocks(stats.distributions.norm.pdf, x)` is simple enough, but wrapping this within dask would be more convenient.

[2020-11-19 13:26] eric-czech opened #6858 "Fix lstsq docstring"
`linalg.lstsq` currently reads:

[code]

however, this should be:

[code]

Example:

[code]

[2020-11-19 15:02] jsignell commented on #6855
Thanks for opening this issue. I can reproduce on lastest master and this feels like something that should be allowed. I am opening a PR now with a proposed fix.

[2020-11-19 15:06] mrocklin commented on #6858
Would you be interested in fixing this?

On Thu, Nov 19, 2020 at 5:26 AM Eric Czech <notifications@github.com> wrote:

[2020-11-19 15:08] quasiben commented on #6833
I was thinking again about this last night and I think you can avoid long term storage on scheduler all together with what I think you are doing.

Typically, the first response to folks who have a large numpy array in memory and then want to move some dask collection is naively, don't do that.  Here, the assumption is that the data is loaded directly from disk and instead, the dask collection (arr

[2020-11-19 15:17] jacobtomlinson opened #6860 "Get config item if variable is None"
Throughout many cluster managers it is common to allow configuration of the cluster via kwargs before falling back to the Dask config system.

This results in code like this:

[code]

For long variable names black will turn this into something more like this:

[code]

With many of these repeated, code starts to become [rather unreadable](https://github.com/dask/dask-cloudprovider/blob/master/dask_

[2020-11-19 15:24] jsignell commented on #6860
I like this idea a lot. Another potential name would be `dask.config.maybe_get`

[2020-11-19 15:26] mrocklin commented on #6860
This seems sensible to me.  I think that it makes sense to think about the
name here.  I wonder if there are examples in the stdlib. I'm reminded of
the converse operation dict.setdefault

On Thu, Nov 19, 2020 at 7:18 AM Jacob Tomlinson <notifications@github.com>
wrote:

[2020-11-19 15:29] jacobtomlinson opened #6861 "Could dictionaries returned by dask.config.get also be config objects"
Assuming we have the following config.

[code]

I can access the deepest nested object with `dask.config.get`.

[code]

However if I do this in two steps it is not possible.

[code]

Instead I must use `dask.config.get` again and pass foo back in.

[code]

It would be nice if when the result for `dask.config.get` is a dictionary then instead it returns something which has the same behaviour.

[2020-11-19 15:29] jacobtomlinson commented on #6861
Or perhaps a context manager could be used to temporarily remove a certain prefix:

[code]

[2020-11-19 15:32] jacobtomlinson commented on #6860
Agreed. I must admit I'm struggling to think of a sensible one.

[2020-11-19 15:32] jacobtomlinson commented on #6860
😄

[2020-11-19 15:33] jsignell commented on #6856
Thanks for raising this issue, but it it hard to debug without a reproducible example. I would suggest that you print the columns on each of the variables and that you call compute at several points on the dask.dataframes to check that the computed columns are what you expect.

[2020-11-19 15:37] rjzamora commented on #6856
Yeah - A simple reproducer would help a lot here - Also, if `X_train_processed` is a dask DataFrame, it would be good to check what the `X_train_processed._meta` looks like after the fit, and to check that `X_train_processed.head()` shows the correct column order.

[2020-11-19 15:46] mrocklin commented on #6861
In principle I agree that this would be useful.  My gut reaction is that this might uncover some hidden complexity and so be hard to make work well.  

cc @djhoese of donfig

[2020-11-19 16:14] rjzamora commented on #6857
Right now, `dask.array.stats.distributions` [is literally the same thing](https://github.com/dask/dask/blob/3c64a88034beb9b940102bd5d01414c10e15f032/dask/array/stats.py#L42) as `scipy.stats.distributions`.

You are correct that it is trivial to support simple ufuncs like `pdf` by effectively doing `x.map_blocks(scipy.stats.distributions.norm.pdf)` within Dask.  Maybe dask.array-knowledgeable peopl

[2020-11-19 16:15] mrocklin commented on #6857
My guess is that this will be fine for pdf, but might be harder for other functions methods on the distributions.  It would be interesting to discover what is doable or not doable in the scipy module.

[2020-11-19 16:38] ischoegl commented on #6855
Much appreciated! Agreed that it intuitively feels like this should work ... (the exception left me chasing my tail for a while)

[2020-11-19 16:38] djhoese commented on #6861
Interesting idea. How does dask's config currently handle dictionary values? Looking at the donfig docs (which I ported from dask) https://donfig.readthedocs.io/en/latest/configuration.html it looks like there is no distinction between a value that is a dictionary and sub-config entries. This would probably be easiest to implement with donfig and then make dask use donfig. If the donfig main `Conf

[2020-11-19 17:30] #6745 closed

[2020-11-19 17:35] jakirkham commented on #6857
Like cumulants? Maybe one could use `da.cumsum` as well?

[2020-11-19 17:48] dtourillon opened #6864 "set_index on datetime column with microsecond precision removes one row from dataframe"
**What happened**:

I created a pandas dataframe with shape (4, 2). One of the column is a datetime with microsecond precision.

If I create a dask dataframe from this pandas dataframe and call `set_index` on the datetime column, the resulting dataframe now has only 3 rows:
![image](https://user-images.githubusercontent.com/25746704/99700936-d180b700-2a61-11eb-966f-c534228cd26f.png)

**What you ex

[2020-11-19 17:58] jangorecki opened #6865 "add dask.dataframe.read_feather like pandas one"
Pandas has `read_feather` function, it would be useful to have that in `dask.dataframe` so it will be serving better as drop-in replacement for code that meant to read feather/arrow format.

[2020-11-19 20:22] rjzamora commented on #6865
Thanks @jangorecki !  The existence of a pandas `read_feather` API sounds like a good motivation for dask.dataframe support to me :)

Can you say anything about the feather format or typical use case that might be important to know here?  For example, would it be sufficient to simply create a distinct DataFrame for each feather-formatted  file in a directory or list?

[2020-11-19 23:37] rjzamora commented on #6864
Thanks for the nice reproducer @dtourillon !

I was able to reproduce the problem and tracked the precision error to [the round-trip casting](https://github.com/dask/dask/blob/ff3ea6c74e8736a5823d648defcf9164f083d266/dask/array/percentile.py#L28) used to enable the `np.percentile` call on each partition of the index.  One possible fix is to check (after the conversion) that the first division is n

[2020-11-20 00:02] trivialfis commented on #6833
Those are useful references.  I think it might be best for xgboost to list some of these discussions in its doc.

[2020-11-20 01:11] dtourillon commented on #6864
@rjzamora I am relatively new to dask, so I might be overlooking something... but I suspect fixing only the first division would not be sufficient.

Try adding this before the code snippet above:
[code]

Then when I run the code snippet above, I get:
- ddf.known_divisions is True
- the same divisions as above
- 4 rows... but the dataframe is not sorted (I think each partition is sorted, but not gl

[2020-11-20 01:41] rjzamora commented on #6864
There is a decent chance that your intuition is correct.  #6866 certainly feels more like a bandaid than a fix.

Regarding your `distributed`  `index.is_monotonic` check:  I can confirm that I get the correct result when only the first division is adjusted.  Although there are small precision errors in **all** the divisions, the first division is the most critical.  This is because the data will b

[2020-11-20 02:42] dtourillon commented on #6864
Alright, hopefully fixing the first division fixes the fact that the overall index is not sorted in the end... You certainly know better than I do! ;)

However, I am pretty sure (but not 100% certain) that I have also lost data (on my real 399 million rows dataframe) based on numerical imprecision of the last division... same problem with last and first divisions?

Oh, and thanks for such a fast a

[2020-11-20 04:58] rjzamora commented on #6864
Yeah - I wouldn't be surprised if there were knock-on effects that I am not thinking of.  I don't feel confident that correcting the first division will cover **all** cases, but my intuition tells me that error in the last division isn't likely to cause a problem.  Note that any element falling beyond the threshold of the last division [will be reassigned to the last division anyway](https://githu

[2020-11-20 07:42] jangorecki commented on #6865
I have feather v2 format file, just single file storing whole dataset. I would like to load it into dask in-memory data frame so it can be used as efficient as possible. Ideally I would like to have an option to only mmap data, in case where dataset I am going to work with is too big for available memory. Then performance will be lower but I will able to compute out-of-memory tasks.
I am now using

[2020-11-20 07:55] RogerMoens commented on #6835
A question I was asking myself yesterday: in order to avoid oversubscribing of nodes (https://docs.dask.org/en/latest/array-best-practices.html#avoid-oversubscribing-threads), one has to put the number of threads to 1 for MKL or the kernel at use.

However, when you perform a randomized svd, there is still an svd that is performed at the heart. In the case of the dask implementation this happens v

[2020-11-20 14:54] szelenka opened #6867 "Ability to customize filename prefix during partitioned to_parquet"
I have a distributed pipeline which generates portions of a partitioned parquet file, where they all eventually upload all of the parquet files to s3. We can update the _metadata across all the workers in s3, such that it correctly contains all of the pointers to the various partitioned parquet files in the bucket.

The challenge comes when multiple workers try to partition a parquet file in the s

[2020-11-20 15:27] rjzamora commented on #6867
This sounds reasonable to me :)

[2020-11-20 15:33] jacobtomlinson commented on #6861
@djhoese that does sound interesting.

My immediate use case for this issue has actually gone away now. Due to some refactoring, the config is no longer nested in the same way. Although this may still be useful in the future.

[2020-11-20 15:35] jacobtomlinson commented on #6861
Also interesting side note, creating the `~/.config/dask/foo.yaml` file above for my small example causes the config tests to fail. Because one test does `assert "foo" not in config`. That lead to some unnecessary debugging 😂.

[2020-11-20 16:22] KrishanBhasin opened #6868 "Optimise out `astype()` calls when the type is already set"
Currently, when I call `df.astype({'x':'int'})` on a dataframe where the column `x` is already an `int`, dask still schedules the task (and it still remains after calling `dask.optimize(df)`)

Based on a reading of dask/dataframe/core.py’s definition of `astype()`, I can’t see any reason there couldn’t be a quick check against types that are already correct and don’t need to be cast - am I missing

[2020-11-20 16:25] mrocklin commented on #6868
That would be welcome

On Fri, Nov 20, 2020 at 8:22 AM Krishan Bhasin <notifications@github.com>
wrote:

[2020-11-20 16:38] mrocklin commented on #6835
We could keep MKL numthreads high, and have the dask schedulers start to
become more intelligent about avoiding oversubscription.  See
https://github.com/dask/distributed/issues/4053

On Thu, Nov 19, 2020 at 11:55 PM RogerMoens <notifications@github.com>
wrote:

[2020-11-20 16:54] mrocklin opened #6869 "Test Xarray workloads against new high level graph work"
We've been working on moving high level graphs directly to the scheduler.  This should significantly reduce overhead when submitting large graphs.  So far our benchmark workloads have been dataframe workloads.  We should diversify.

The other main group that often speaks up about task scheduling overhead is the Xarray/Pangeo group, which also handles very large graphs.  It would be useful to estab

[2020-11-20 16:57] mrocklin commented on #6869
Also cc @jrbourbeau and @quasiben so that you're aware

[2020-11-20 17:01] jsignell commented on #6867
If you are interested in implementing this you should feel free to open a pull request. You might want to consider whether you could resolve your issue by adding a layer of nesting. It seems like each worker could just write to a subdir.

[2020-11-20 17:01] rabernat commented on #6869
Thanks a lot for the tag Matt. We are really excited about this. I'm going to tag @jbusecke from our group, who may have some good use cases to contribute.

[2020-11-20 17:04] mrocklin commented on #6869
If I were to create a wishlist it would be ...

1.  Something that we can run on a laptop without any data, that is something like 10-20 lines of code.  Ideally it would include a few different kinds of operations with some knobs (like seasonal averaging where we could change the amount of total time, monthly vs quarterly, etc..)
2.  The same thing, but hopefully with sufficient knobs that it woul

[2020-11-20 17:07] Sylvain-chateau opened #6870 "ddf.drop method fails if columns is an empty list"
Hello,

I have a comment regarding the drop function at https://github.com/dask/dask/blob/master/dask/dataframe/core.py
[code]
In case columns is an empty list, we enter the  map_partitions fun and get the error 'metadata inference failed in `drop_by_shallow_copy`. which is not very explicit.
I don't know if it's the desired behaviour, but in case it's not, then a test on columns and an update of

[2020-11-20 17:19] szelenka commented on #6867
For this specific case, the source data is too large to fit on the disk of any worker, so the only way to get it to s3 is in different parts or buy more capacity on the workers.

I realize it's not a typical use case, but the hard code "part.%i.parquet" is preventing us from using dask to write out the parquet files.

I'll look into drafting a PR in early December.

[2020-11-20 17:35] rabernat commented on #6869
I'll kick things off with a very simple example.

[code]

Here we create a pretty big array (vary the shape to make it bigger / harder), and then do some computations with it. To me this example exposes two things:
- How long it takes the graph to transfer to the scheduler, despite the simplicity of the operation. For me, this takes 20-30 seconds to start on a laptop at current size.
- A [missed?]

[2020-11-20 17:41] rabernat commented on #6869
Here is a slightly more complex one that represents a very common operation in climate science: calculating an anomaly from a seasonal climatology.

[code]

This nearly always runs out of memory. I feel like it's related to the "memory backpressure" issue I have raised elsewhere (e.g. https://github.com/dask/distributed/issues/2602).

I developed a workaround with rechunking and map_blocks here: h

[2020-11-20 18:26] rjzamora commented on #6870
Thanks @Sylvain-chateau - I agree that a metadata-inference failure is not the desired behavior here.  I would expect dask to provide the same behavior as pandas: return a copy of the same DataFrame.

Did you have any interest in providing a PR to handle the `columns == []` case in the code you quoted above?  If not, I should be able to follow up later today or Monday.

[2020-11-20 18:47] rjzamora commented on #6865
It may be tricky to produce a multi-partition dask DataFrame from a single feather file.  Also, I'm not sure how mmap would help you handle larger-than-memory data given (1) the dask-graph programming model and (2) the available pyarrow API.  My understanding is that a feather file can be written as multiple `RecordBatch` chunks, but there is currently no mechanism available to perform partial IO

[2020-11-20 21:13] jrbourbeau commented on #6824
I believe this was closed by https://github.com/dask/dask/pull/6825, though feel free to re-open if that's not the case

[2020-11-20 21:13] #6824 closed

[2020-11-20 22:44] pseudotensor commented on #6833
In the original xgboost script the accumulation was ongoing and futures were never cleaned up.  I would continuously hit OOM killer over periods of time.  Client process being done didn't matter, scheduler/worker still persist the data uncleaned.

So maybe you found way around the attempt at a repro by @trivialfis , but the original issue cannot be explained then.

[2020-11-21 03:10] #6870 closed

[2020-11-21 18:19] chrisroat opened #6873 "groupby-apply differences between categorical and non-categorical"
**What happened**:
A groupby-apply operation on a partitioned dataframe processes (empty) duplicated indices if grouped over a categorical.

**What you expected to happen**:
No duplication, which is the behavior with a non-categorical.

**Minimal Complete Verifiable Example**:

[code]
Output:
[code]

**Anything else we need to know?**:

Presumably this happens because each groupby-partition is exp

[2020-11-21 19:21] quasiben commented on #6833
@pseudotensor can you link to or rewrite the reproducer.  https://github.com/dask/dask/issues/6833#issuecomment-726492018 is a good start but I'd like to have X and y explicitly stated.  It's best if it can be can be reproduced without downloading a file (using random data or dask.datasets.timeseries()) but using HIGGS.csv or some other canonical dataset would be ok.

[2020-11-21 19:58] mrocklin opened #6874 "Reuse tensordot memory tricks in matmul"
Currently the dask array matmul implemenation is similar to the tensordot implemenation (understandably) but lacks a clever trick that tensordot uses to avoid contractions in blockwise (which can result in large pileups of intermediate results).

https://github.com/dask/dask/blob/ff3ea6c74e8736a5823d648defcf9164f083d266/dask/array/routines.py#L290-L329

Tensordot uses only outer products in blockw

[2020-11-21 20:02] kinghuang opened #6875 "Missing index column in dataframe.to_json output"
**What happened**:

I have a Dask dataframe with an index, and I am attempting to use `dataframe.to_json` to output a Dask dataframe to JSON (record per line). The resulting output is always missing the index. There seems to be no way to include the index in the output, short of resetting the index.

**What you expected to happen**:

Calling `dataframe.json` with `lines=True` and `orient="records"

[2020-11-21 22:15] itamarst commented on #6723
Some existing solutions:

https://github.com/QUVA-Lab/artemis/blob/master/artemis/general/hashing.py
https://github.com/joblib/joblib/blob/master/joblib/hashing.py

[2020-11-23 06:39] LazyTrader opened #6877 "read_csv() not reading data properly and dataframe.set_index() causing loss of data"
**What happened**:

I have a CSV file containing approximately 237 million rows of data ranging from 03/08/2003 - 17/11/2020. After loading the CSV file as a dataframe, I end up with only 1392158 rows. Setting the date column as the index also always results in the loss of more values and I get a dataframe containing data that ranges from 01/01/2004 - 31/12/2019.

**What you expected to happen**:

[2020-11-23 10:28] jorisvandenbossche commented on #6867
@szelenka would a keyword where you can specify this "template" string be sufficient? So the current behaviour would translate to something like `filename_template="part.%i.parquet"`, and giving the ability to specify another string that can still include `%i`.

That way, you could specify a different base name in each worker / to_parquet call?

[2020-11-23 11:36] jorisvandenbossche commented on #6713
Late answer here, but indeed `pyarrow` itself doesn't use or fallback to `fsspec`, and by default only uses its own filesystems (unless you pass it explicitly a filesystem object, like @martindurant showed).

Pyarrow includes an S3 filesystem implementation, but, the support for this in the wheels is a bit varying (AFAIK, wheels for windows lack support for this, and for Mac OSX support was only a

[2020-11-23 16:00] rjzamora commented on #6877
Thanks for raising @LazyTrader - Can you include a mechanism to generate `"Data.csv"` in your example.  It will be easier to help if I can reproduce the problem locally and it will save a lot of time if I can just copy paste an example :)

[2020-11-23 16:27] jsignell commented on #6873
I just pushed a change to #6854 and now it fixes this issue when you specify `observed=True` do you think that is sufficient to close this issue (once that PR merges)?

[2020-11-23 16:28] rjzamora commented on #6875
Perhaps you need to specify `orient="index"`?

[code]
[code]

I noticed that the docstring incorrectly references `dd.to_json` - Perhaps we need to improve access to this docstring and make sure it clarifies the proper way to preserve the index?

[2020-11-23 17:16] rjzamora commented on #6867
@szelenka - Can you clarify why setting `append=True` after the initial write doesn't accomplish your goal here?  Does your workflow require you to write to the same dataset from different clients at the same time?

Note that dask used to use a uuid to name each file, but this was resulting in duplicated data in some production-scale cases where workers were occasionally dying mid-write.  It is ea

[2020-11-23 17:19] kinghuang commented on #6875
I specifically want JSON lines output, so `orient="records", lines=True` is correct. But, I just tried this in Pandas only, and it's also missing the index. This might not be a Dask problem. I'll file an issue over there.

[code]

[code]

[2020-11-23 17:28] kinghuang commented on #6875
Ah, according to pandas-dev/pandas#25513, not including the index when `orient="records"` is the expected behaviour.

The Pandas docs are rather confusing in this aspect. I took the default `index=True` and the comment about `index=False` being only possible when the orient is `split` or `table` to mean that it'd be included for `records` output.

Resetting the index (or something similar) is the

[2020-11-23 17:28] #6875 closed

[2020-11-23 17:33] ResidentMario commented on #6713
Well, to be honest, this isn't my first attempt to use `pyarrow` for something, and not my first time running into an opaque (to me) issue like this getting in the way. I'm sure it's a very powerful tool if you know how to use it but...

[2020-11-23 20:43] rjzamora commented on #6791
**Update**: The description above has been modified to include a more-complete list of missing IO routines that may need to be modified to use a Blockwise-IO layer.

cc @mrocklin - Who may have advice on which functions to label as high-priority items.

Before working through this list, it *may* also make sense to introduce a new `BlockwiseIO` layer that is *guaranteed* to include an IO subgraph (

[2020-11-23 22:27] szelenka commented on #6867
@jorisvandenbossche `filename_template="part.%i.parquet"` would work!

@rjzamora I was using the `append=True` keyword, but it wasn't behaving as I expected.

We have a 100 GB SQL table which we'd like to convert to parquet format on S3, but the workers are running on k8 where they only have 20 GB of ephemeral storage. We can pull out small batches from and distribute that across a pool of workers

[2020-11-23 23:00] rjzamora commented on #6867
Hmm - Interesting use case!  I wouldn't be surprised find bugs with `append=True` on hive-partitioned data.  However, I would expect the file-naming offset to be depend on the information in the `_metadata` file (not the acutal data on disk).  For example, to find the part offset for the write, it seems like the arrow engine [takes the length of the ParquetDataset](https://github.com/dask/dask/blo

[2020-11-23 23:35] chrisroat commented on #6873
I think it will be surprising to get the duplicate keys in any situation.  I would think the best thing is to have `observed=True` always be true during the underlying apply after a groupby.   Each key would just return the result of apply for its value.

I may not fully understand all the possible cases, but I don't It doesn't seem useful to return the all the other values and produce the duplica

[2020-11-24 03:50] jborchma opened #6880 "Add dataframe method: skew()"
Hey Dask team,

I stumbled upon the fact that the data dataframe class currently does not have a `skew()`-method, but pandas does. I also found that the array class has a nice implementation, so I figured I'd help implement the `skew()`-method for the dataframe class. Would that be ok?

[2020-11-24 05:02] mrocklin commented on #6880
That would be great!

On Mon, Nov 23, 2020 at 8:29 PM Jan Borchmann <notifications@github.com>
wrote:

[2020-11-24 05:14] uturuncoglu opened #6882 "inconsistencies between numpy and dask pad() function"
I am not sure why but following code create different answers for NumPy and Dask,

[code]

The result is

[code]

and

[code]

the first one is true but second one not.

[2020-11-24 05:33] uturuncoglu commented on #6882
If array is converted to Dask Array using `da.from_array(arr)` and pass to the NumPy then `np.pad()` function also calculates as `da.pad()`. I am not sure this is expected behavior or not.

[2020-11-24 10:41] icfly2 opened #6884 "Very uneven load distribution"
This issue is similar to [this issue](https://github.com/dask/dask/issues/5158). I have a setup as described in [this SO post](https://stackoverflow.com/questions/64911735/dask-scheduler-empty-graph-not-showing). But the essence is:

[code]
I've used pandas read and write to sql here,  but in reality these are highly custom functions for talking to oracle and other sql dbs with upserts and what no

[2020-11-24 10:43] icfly2 commented on #6884
Picture proof of distribution issue:
![image](https://user-images.githubusercontent.com/7895513/100083725-1a61b280-2e4a-11eb-85ba-e5b210ea161c.png)
![image](https://user-images.githubusercontent.com/7895513/100083804-35342700-2e4a-11eb-8167-2321b1dd5411.png)

[2020-11-24 11:27] FilippoBovo opened #6885 "Reading a Parquet file saved with a categorical index using Pyarrow raises an exception."
**What happened**:
Reading a Parquet file saved with a categorical index using Pyarrow raises the following exception:

[code]

**What you expected to happen**:

I expected Dask to read the Parquet file without the exception and return a Dask DataFrame where the index has dtype `category`.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

I was using Pyarrow 2

[2020-11-24 12:43] icfly2 commented on #6884
This got worse 8still running):
![image](https://user-images.githubusercontent.com/7895513/100095565-f9ee2400-2e5a-11eb-8787-e8e6cc1b4305.png)

[2020-11-24 13:49] WaterKnight1998 opened #6886 "[Feature Request] Map function for DataFrameGroupBy"
Hi,

I have the next dataset: [Store Item Demand Forecasting Challenge](https://www.kaggle.com/c/demand-forecasting-kernels-only/data).

I am trying to train a Forecasting Model for each (shop, item) combination at scale. You can get it working with Spark very easily witrh `groupby.apply`. Take a look at the next (example)[https://databricks.com/blog/2020/01/27/time-series-forecasting-prophet-spar

[2020-11-24 14:12] quasiben commented on #6882
Thanks @uturuncoglu for raising this.  I believe https://github.com/dask/dask/pull/6579 should resolve this once merged in.

As for np.pad() operating on a dask array, yes, this is expected.  NumPy has a [protocol](https://numpy.org/neps/nep-0018-array-function-protocol.html) for allowing numpy to dispatch to another array library.

[2020-11-24 14:47] jsignell commented on #6873
Hmm I think I disagree. The docstring for `apply` specifically mentions this case:

   so when ``func`` is a reduction you'll end up with one row per
   partition-group pair.

Consider this case in pandas:
[code]
output:
[code]

When categories are present in the list of known categories a groupby key, value pair is passed to apply even if the category is not present in the dataset. This is precis

[2020-11-24 14:57] #6864 closed

[2020-11-24 15:31] jsignell commented on #6882
I am closing this since it seems like a duplicate of #6127, but thanks for bringing this up!

[2020-11-24 15:31] #6882 closed

[2020-11-24 16:22] uturuncoglu commented on #6882
@jsignell thank you for your help.

[2020-11-24 16:29] mark-boer commented on #6882
I see I made a typo in the following line. That should have said `reflect_type` instead of `reflect`:

https://github.com/dask/dask/blob/b3707ffac2563c2fa925bc9247564c1c8929e6dd/dask/array/creation.py#L1057

The `mode='reflect', reflect_type='odd'` has not yet been implemented, but it should have thrown a `NotImplementedError`. @jsignell is right that #6579 should have this fixed as it implements

[2020-11-24 17:05] rjzamora commented on #6885
Thanks for raising @FilippoBovo!  #6887 should address this.

[2020-11-24 17:05] chrisroat commented on #6873
OK, then I'm over-ruled by the documentation.  :)

However, I think it needs to be hashed out a bit more clearly.  Here are two issues that come to my mind:

1.  If I do a groupby, is a partition always equal to one key?  What if that subset of data does not fit into memory?

2.  I want to understand the possible outcomes and how they are accessible.  Is this correct?

--

`observed=True` in both

[2020-11-24 17:30] rjzamora commented on #6886
Can you share *how* you tried using groupby with Dask Dataframe?

[2020-11-24 17:54] WaterKnight1998 commented on #6886
[code]

[2020-11-24 18:30] rjzamora commented on #6884
I am unable to work out the connection between the code example and the daskboard screen shots, so I may be completely "off" here.  However, I would expect the actual graph you are constructing to produce minimal concurrency - allowing no more than two workers to execute tasks in parallel.  That is, I get the following graph for your code (using `out.visualize(optimize_graph=True, verbose=True, si

[2020-11-24 18:40] jsignell commented on #6873
From what I can tell, one key does not necessarily correspond to one partition. It looks like dask handles this internally to ensure that parition size doesn't blow up. When using aggregations the output is often in one partition, but you can use `split_out` or `split_every` to control that.

There is no `observed` in `apply` so your cases simplify down to the first and the last.

[2020-11-24 18:48] chrisroat commented on #6873
Gotcha.  I think having `observed` in `apply` comment was more wishful thinking.  I see the logic/consistency in how things are done, even if it seemed a little surprising to me at first.

Thanks for the fix!

[2020-11-24 19:19] icfly2 commented on #6884
It is an ETL workload so each task implements a set of ETL operations. You aren't off by much, as a next try i was going to turn all the extract, transform and load functions into delayed functions. But this would result in a lot of data being moved and I think the dependencies come from the fact that they depend on the previous task to finish and this would result in even more data being moved be

[2020-11-24 20:14] rjzamora commented on #6884
Right - breaking up the tasks exposes more concurency, but won't help performance if a lot of data needs to be moved around.

Can you calrify exactly what you want to happen here? (sorry again for being slow) It seems that you want task3 to execute on a different worker than task2?  If I understand correctly, you are not "forcing" the exection of task2 and task3 to be on the same worker, but the n

[2020-11-25 07:27] icfly2 commented on #6884
So all the tasks only output `True`, their actual ETL load is done separately. If this is smart or not is up for debate, but legacy and time restrictions mean that isn't changing. Think of the tasks like luigi tasks if that helps.

The issue is that they absolutely do not need to run on the  same workers, but must not start in the wrong order. Continuing the example I gave earlier: Checking if a I

[2020-11-25 09:07] FilippoBovo commented on #6885
Thanks, @rjzamora. Do you happen to know when your pull request incorporate in a PyPi release?

[2020-11-25 14:15] jborchma opened #6890 "Scipy missing from extras_require in setup.py"
Working on addressing #6880, I chose to use the `array.stats` implementation of skew for the dataframe functionality. However, though the import tests I realized that scipy (which [is needed](https://github.com/dask/dask/blob/master/dask/array/stats.py#L39) for `array.stats`) is not part of any of the `extras_require` installs, hence any usage of `array.stats` fails unless scipy is independently i

[2020-11-25 14:52] jsignell commented on #6890
IIRC scipy is not a pure-python library, so it is best installed using conda. That is why it is missing from the extra_requires. It is included in the conda envs: https://github.com/dask/dask/blob/25bdd200fcdf17368008ce475d370dd77af2bb66/continuous_integration/environment-3.8.yaml#L50

If you follow the conda section of the [development install docs](https://docs.dask.org/en/latest/develop.html#de

[2020-11-25 14:53] jsignell commented on #6890
If you'd like to add scipy to that docs section you mentioned, I think that'd be a good improvement!

[2020-11-25 15:04] jborchma commented on #6890
Will do! Thanks for the quick response.

[2020-11-25 15:08] jsignell opened #6891 "Stop supporting pandas 0.23.0"
When looking over some failing tests I realized that there doesn't seem to be Python 3.7 support in pandas 0.23.0. This is confirmed by the release notes:

[source](https://pandas.pydata.org/pandas-docs/version/0.23.3/whatsnew.html#whatsnew-0232)

With that in mind I propose that we stop supporting pandas 0.23 at all, and bump the minimum pandas version to pandas 0.24 (released January 25 2019), p

[2020-11-25 15:21] jsignell commented on #6723
The joblib solution seems like a good one. There is also some discussion of hashing going on in https://github.com/dask/dask/pull/6844 and https://github.com/dask/dask/pull/6843.

[2020-11-25 15:27] #6885 closed

[2020-11-25 15:30] jsignell commented on #6885
@FilippoBovo the next dask release will likely be within a month or so. If you'd like to install the unreleased changes, you can pip install from the git repo: `pip install git+https://github.com/dask/dask.git --no-deps`

[2020-11-25 15:51] rcomer commented on #6734
Closing this on the assumption that the problem is with `numpy.ma`.  Thanks for the advice!

[2020-11-25 15:51] #6734 closed

[2020-11-25 15:53] TomAugspurger commented on #6891
+1 to dropping 0.23. Don't have a strong opinion on whether 0.24 or 0.25 is a better lower bound. If you grep for `PANDAS_GT_0250 ` and `PANDAS_GT_0240 ` you can get a rough sense for how much compat code we have for each.

[2020-11-25 16:10] aulemahal opened #6892 "Indexing an array created from `np.object` returns wrong dtype."
**What happened**:
When indexing a dask Array that was constructed from a numpy array of the `object` dtype, the returned dask array has a `Int64` dtype.

**What you expected to happen**:
I expected the array dtype to stay the same.

**Minimal Complete Verifiable Example**:

[code]
Returns:
[code]

**Anything else we need to know?**:
This was found while using xarray, which stores strings in objec

[2020-11-25 16:17] jsignell commented on #6886
Thanks for the example. That dataset is small enough that if you use the defaults on `dd.read_csv` you'll only get 1 partition. If you want more than one partition, you can set the blocksize option in `read_csv` :

[code]

Similarly when you do the initial aggregation and reset the index you end up with one partition again, so you can repartition:

[code]

I am closing this since I don't see any e

[2020-11-25 16:17] #6886 closed

[2020-11-25 17:01] jsignell commented on #6892
Thanks for raising this issue! I can reproduce. I'll open a PR shortly with a fix.

[2020-11-25 17:04] jrbourbeau commented on #6891
Also +1 for dropping 0.23. Not a strong opinion, but I'm fine setting 0.25 as the minimum support version. It's been almost a year and a half since it was released.

[2020-11-25 17:16] GFleishman commented on #6849
Sorry for delay - I'm still willing to fix and submit PR, just have deliverables at work that take priority. I may take some time over the holiday to look into this.

[2020-11-25 19:13] jsignell commented on #6891
Ok I will go for 0.25 as the minimum.

[2020-11-25 19:33] GFleishman commented on #6849
Decided to look into it now after all.

The bug is nested down to [`da.overlap.overlap`](https://github.com/dask/dask/blob/2ce9cf9190482315e317656e11cd1f7707f91c0c/dask/array/overlap.py#L472) (try running previous example but use `da.overlap.overlap` instead of `map_overlap`). It likely nests further down to [`da.overlap.overlap_internal`](https://github.com/dask/dask/blob/2ce9cf9190482315e317656e

[2020-11-25 20:07] GFleishman commented on #6071
@jrbourbeau @jcrist @jakirkham

What is the status of this discussion?

For the past few days I've been tracking down a problem in my workflow that boiled down to inconsistent values for the WRITEABLE flag for blocks in a `da.map_overlap` call on a larger-than-memory array distributed over workers on a dask-jobqueue LSFCluster.

Each block is large, and over-writing the portion of the block I need

[2020-11-25 20:46] jsignell commented on #6891
I will also bump numpy up to 1.15 (released July 23 2018)

[2020-11-25 21:57] jsignell commented on #6148
Current failures https://github.com/dask/dask/runs/1455320542 mostly fit into these categories:

 - [ ] pyarrow: `pyarrow.lib.ArrowTypeError: ('Did not pass numpy.dtype object', 'Conversion failed for column i32 with type int32')`
 - [ ] masked arrays: `ValueError: cannot convert float NaN to integer`
 - [ ] sparse 383

[2020-11-25 22:07] jakirkham commented on #6071
Would use [`np.require`]( https://numpy.org/doc/stable/reference/generated/numpy.require.html ) instead. This can be done like so `np.require(a, requirements="W")`.

The issue with `setflags` is it is trying to change the flags on the existing array. If that is already read-only, then that will fail. Whereas `np.require` will just pay the cost of a `memcpy` to create a new array to meet the requir

[2020-11-25 22:09] TomAugspurger commented on #6148
Just noting that https://github.com/dask/dask/runs/1455320542#step:4:417 looks to be installing pandas 1.1.0rc0, rather than nightly from scipy-nightly-wheels on anaconda. I wonder if I pinned it and forgot to unpin? Sure looks like it :/ https://github.com/dask/dask/blob/2ce9cf9190482315e317656e11cd1f7707f91c0c/continuous_integration/scripts/install.sh#L14

[2020-11-26 01:19] LazyTrader commented on #6877
Could try this one as a contrived example. :)

[code]

[2020-11-26 11:31] sdementen opened #6897 "slow first call to parquet"
**What happened**:

I am using pystore which uses dask. The sample below uses pystore but the issue appaers to be on dask side (as far as I have understood).

The first write action (to_parquet) takes an extra 0.8s vs the following calls.
The first read action (to_pandas) takes an extra 0.45s vs the following calls
The second time I write/read items from pystore, it is immediate (irrespective of t

[2020-11-26 13:36] RogerMoens commented on #6835
Also interesting for the GPU-based version of RSVD:
https://onlinelibrary.wiley.com/doi/abs/10.1002/cpe.5754?casa_token=bGov0V80uJsAAAAA:MVNX6P2F2qmG4fzcfL_lVVnfxmb-ziEJDM1pDiT0IaSdWotxSEvck0JvZNVceaLU-PlNH10DcaA2K3jZ

[2020-11-26 14:54] sdementen opened #6898 "exception when reading an item with filters"
**What happened**:

Using dask via pystore, an exception is raised when reading a parquet file with filters. The issue appears to be some statistics with None values.
[code]

**What you expected to happen**:

No exception

**Minimal Complete Verifiable Example**:

[code]

**Environment**:

- Dask version: 2.30.0
- Python version: 3.8
- Operating System: win10
- Install method (conda, pip, source):

[2020-11-26 20:49] martindurant commented on #6897
I suggest at least linking to a pystore issue too, in case they know what's going on. I would imagine it makes a difference what mix of threads/processes you use (with the distributed client, even locally), and the size of the data and any partitions. These would be useful extra data. Also, you can use the additional dask profiling tools such as the distributed dashboard to figure out what time is

[2020-11-26 20:50] martindurant commented on #6898
Please try to formulate your example without pystore as an extra complication.
Note that I believe your data will have only one partition, so the filter (which is partition-based) will have no effect.

[2020-11-27 05:35] sdementen commented on #6898
here is the pure dask version.
[code]

with the exception
[code]

[2020-11-27 07:14] sdementen commented on #6897
here is the minimal version I could come (smallest dataframe, remove effect of lazy imports).
There is still a slowdown of 0.6s in the `to_parquet` (the `read_parquet` slowdown has disappeared once remove all the lazy import effects).

[code]

[2020-11-27 07:16] sdementen commented on #6897
Regarding your other suggestions (type of scheduler, etc), I am just running the "default" setup.
For the profiling, the picture is the same as my original post (re `acquire` method of `_thread.lock`)

[2020-11-27 08:18] Sturla22 opened #6899 "IndexError when supplying multiple paths to dask.dataframe.read_csv() and including a path column"
I fixed my installation (dask version 2.30) locally by adding
` and i < len(self.paths)` to this line
https://github.com/dask/dask/blob/fbccc4ef3e1974da2b4a9cb61aa83c1e6d61efba/dask/dataframe/io/csv.py#L82

I bet there is a deeper reason for why `i` is exceeding the length of paths but I could not identify it with a quick look through the neighboring code.

Minimal example to reproduce, assuming m

[2020-11-27 13:43] martindurant commented on #6897
I would hazard that the time is being spent in numba jit-compiling of the various functions in fastparquet, which happens on first execution. Since the package contains not just function, but also jit-classes, the compiled pieces do not cache well.

[2020-11-27 14:36] sdementen commented on #6897
Is there some way to confirm this on my side?
Would it be consistent with the time spent in acquire_lock ?

[2020-11-27 14:39] martindurant commented on #6897
You could run the code for a very small dataset with scheduler="sync" and see what shows up in a profiler like snakeviz; or you could run with the distributed scheduler and look on the dashboard. You could even profile fastparquet alone, without dask.

Maybe? One of your threads will do the compilation, and the others will have to wait, I suppose.

[2020-11-27 15:38] sdementen commented on #6897
You are right!
It is the first call to `write` from fastparquet that takes a long time.
I close the issue and thank you for your support.

[2020-11-27 15:38] #6897 closed

[2020-11-27 16:10] martindurant commented on #6898
I can reproduce the problem; during computing stats for column A, which is not even of interest in this operation. I can report that things work if:
- there is more than one partition in `ddf`
- you use fastparquet without dask for reading
- you use pyarrow with or without dask for reading

due to
 /Users/mdurant/code/dask/dask/dataframe/io/parquet/core.py::sorted_columns
[code]
you always get `su

[2020-11-27 16:14] martindurant commented on #6898
Thanks for the reproducing example, @sdementen . With my diagnosis above, you should be able to make the fix and include your code as a test in dask/dataframe/io/tests/test_parquet.py

(the code line is actually number 843 is current master)

[2020-11-27 16:29] kellymarchisio opened #6900 "Memory issues appending to large arrays (sequential matmul, Cuda)"
My goal is a large matmul using cupy/CUDA (end-state: 400k x 400k, float16).  I've split the matmul into pieces and can successfully do the multiplication in slices on gpu. The need now is just to append the slices together, but I cannot seem to do this without memory issues.  I've tried the method from #5601 splitting into subarrays and using da.concatenate, but concatenate uses way too much ram

[2020-11-27 17:06] mrocklin commented on #6900
I recommend using the dot method, like A.dot(B) .  Also, the memory used by
matrix multiplication is highly dependent on chunking structure.  You may
want to try rechunking your arrays to have tall-and-skinny or fat-and-short
chunks to see what works best.

On Fri, Nov 27, 2020 at 8:29 AM Kelly Marchisio <notifications@github.com>
wrote:

[2020-11-27 17:51] sdementen commented on #6898
Thank you @martindurant for the insight.
However, you are maybe overestimating my skills re dask/parquet/partitions/etc.
I have fixed my issue locally by commenting the assert line that was raising the issue (i.e. I am not blocked by the issue)
If you want me to contribute a PR to fix this issue, I am still in the fog ;-)

[2020-11-27 19:26] martindurant commented on #6898
See the linked fix - one line of code :)

[2020-11-27 20:31] #6898 closed

[2020-11-27 20:56] martindurant opened #6902 "upstream failing"
Build report: https://github.com/dask/dask/actions/runs/387739739

[2020-11-27 21:25] kellymarchisio commented on #6900
Hi @mrocklin - thanks for the response.  Perhaps I wasn't clear -- my issue isn't actually the matmul, it's that I cannot seem to concatenate arrays without the entirety of them being loaded into RAM. They're too big for RAM. How do I append onto the end of an array stored on disk?

I've tried A.dot(B), but it seems Dask can't handle this with cupy arrays. It tries to load the entirety into GPU me

[2020-11-28 01:28] mrocklin commented on #5105
@alimanfoo I took at look at this problem today using your original example (thanks for providing that by the way).  Unfortunately I wasn't able to reproduce the memory issue.  Perhaps this is because of fixes that @TomAugspurger has done recently? I get the sense though that this issue isn't entirely resolved yet.  Is there a better example today that fails reliably?

Alternatively, if the exampl

[2020-11-30 01:56] rileyhun opened #6904 "Dask-ML: Error when fitting K-means model"
**What happened**:

I am following along to this workbook [here
](https://github.com/dask/dask-examples/blob/master/machine-learning/training-on-large-datasets.ipynb). The only difference is that I am using a remote Dask Cluster on Kubernetes. When I try to fit the model on the training data, my workers are killed.

**What you expected to happen**:

I expected the K-means model to be fitted on the

[2020-11-30 11:34] shangw-nvidia opened #6906 "dask.bag.random.sample returns dask.bag.core.Item instead of dask.bag"
**What happened**:

Say I have a bag A. What I want do is to pair a bag B, which is a smaller than A in terms of the number of elements, with a sampled version of A. For example:
A = [1 2 3 4 5 6 7]
B = ['a', 'b', 'c', 'd']
I want C = [('a', 3), ('b', 6), ('c', 5), ('d', 1)]

Looking at the documentation on [`dask.bag.random.sample`](https://docs.dask.org/en/latest/bag-api.html#dask.bag.random.sam

[2020-11-30 11:49] stephenworsley opened #6907 "Incorrect maths with tensordot for sparse arrays constructed with map_blocks"
**What happened**:

When applying the tensordot function to a chunked dask array which has been made into a sparse array, the result will be incorrect.

[code]

**What you expected to happen**:

This should yield
[code]
but instead yields
[code]
It's worth noting that this bug does not happen with regular sparse arrays or if the chunked sparse array is constructed as follows:
[code]

I'm not sure

[2020-11-30 11:56] tomwhite commented on #6874
Unlike `matmul`, `tensordot` doesn't broadcast leading axes, so I'm not sure it's possible to rewrite `matmul` in terms of `tensordot`.

For example:
[code]

It is possible to implement `matmul` using `einsum` though, see https://github.com/dask/dask/compare/9472b69c3333c3767fe9a500ea6c310d83cfb4c6...tomwhite:matmul-memory-usage, so that might be a way to solve this issue, since Dask's `einsum` im

[2020-11-30 12:32] zklaus commented on #6907
This might not even be related to sparse. In the following snippet, the same problem appears. At least I think it is the same problem. Applying `persist` to the input makes it work.

[code]

[2020-11-30 14:48] martindurant commented on #6899
Would you mind expanding your example code to generate some files too, and then include the traceback, so that we can be sure talk about exactly the same thing, and help with diagnosis?

[2020-11-30 14:49] martindurant commented on #6899
( @jsignell , for the include_path_column logic)

[2020-11-30 15:13] mrocklin commented on #6906
I agree that this looks like a bug and would be good to fix.  It looks like
we want to use the `out_type` parameter to the reduction method in the call
to dask/bag/random.py::_sample

On Mon, Nov 30, 2020 at 3:34 AM Shang Wang <notifications@github.com> wrote:

[2020-11-30 15:14] jsignell commented on #6849
This seems like a reasonable solution to me. Type coersion should happen sooner rather than later so that it can fail quickly.

[2020-11-30 15:14] mrocklin commented on #6874
If that works, then great :)

On Mon, Nov 30, 2020 at 3:57 AM Tom White <notifications@github.com> wrote:

[2020-11-30 15:15] jsignell commented on #6148
Ah - good point. I'll unpin that and see if things improve :)

[2020-11-30 15:21] jsignell commented on #6902
Yeah I've been commenting on #6148 and trying to fix on https://github.com/dask/dask/pull/6896. I'm going to close this.

[2020-11-30 15:21] #6902 closed

[2020-11-30 16:00] #6892 closed

[2020-11-30 16:04] rjzamora commented on #6884
I'm still unsure why you wouldn't want GRAPH_IF to run on the same worker as GRAPH (since the worker will be ready to run something new as soon as GRAPH is finished anyway), but perhaps you are just using that sequence as a simple example.

I don't personally have experience with the [client.replicate](https://github.com/dask/distributed/blob/b4dfc925bac32a488be2016a5930a9b7dd95cec5/distributed/cl

[2020-11-30 16:18] GFleishman commented on #6849
Forked and fixed on a new branch. Submitting PR, it asks for "- [ ] Tests added / passed- [ ] Passes `black dask` / `flake8 dask`" Can you share a link to documentation on these requirements? I'm happy to meet them, but not sure what they are.

[2020-11-30 16:21] rjzamora commented on #6877
@LazyTrader - Thank you for sharing a full example.   I am unable to reproduce data loss on my end (`len(Ticks)` is `2000000` before and after setting the index).  Note that set_index will result in a global sort of your data with respect to the new index, so [your example above](https://github.com/dask/dask/issues/6877#issue-748517059) doesn't necessarily show any data loss either.

Can you confi

[2020-11-30 16:24] TheXu commented on #1493
Would a suitable workaround be just concatenating the string versions of the multiple indices into one column, then making that column the index?

For example:
[code]

[2020-11-30 16:25] eric-czech commented on #6874
FWIW, I tried many different combinations of inputs (always two arrays of different shapes/chunkings) and found that there appear to no large differences between `matmul` and `einsum` as @tomwhite currently has it parameterized in that diff: https://gist.github.com/eric-czech/3c39785ebb08088775326154bbeddcc2

The conclusions I draw from this are:

1. Neither supports scalars
2. The `einsum` versio

[2020-11-30 16:31] mrocklin commented on #6874
I suspect that there will be some other challenges:

   1. Broadcasting rules for matmul may be atypical as the number of
   dimensions increases beyond 2.  I don't have a strong memory here but
   recall it being strange in some way
   2. Some numpy-like libraries (sparse, cupy) probably implement
   np.matmul, but not einsum.  It's probably better on our part if we use the
   np.matmul call on a

[2020-11-30 16:47] jsignell commented on #6900
I think people often write to a file in these types of cases. Often a parquet file for tabular data, or a zarr file for nd data. Would that be a viable solution for your use case?

[2020-11-30 16:56] jsignell commented on #6904
Thanks for raising this issue. In my experience, this type of error usually occurs when there are different versions of packages on the workers/scheduler/client, or even different versions of python. I know you mentioned that there is no package difference, but:

1. Can you also confirm that there isn't a different python version?
2. Are you positive that dask-ml and its dependencies are installed

[2020-11-30 17:16] jsignell commented on #6849
The place to put tests would be: https://github.com/dask/dask/blob/master/dask/array/tests/test_overlap.py

And this section covers black and flake8: https://docs.dask.org/en/latest/develop.html#code-formatting

[2020-11-30 17:41] tomwhite commented on #6874
Thanks for trying those out @eric-czech. For the cases that differ, we could check that the axis lengths are compatible and raise an error like `matmul` does (if we decided to go down the `einsum` route).

`matmul` will always contract, so I don't see how we can use the `tensordot` trick with it (which relies on *not* contracting in the chunks, then doing the contraction via reductions). Using `te

[2020-11-30 17:47] GFleishman commented on #6849
Ahh, sorry I missed the dask/array/tests folder - just an oversight. Thanks!

[2020-11-30 17:49] jvivian-atreca commented on #1493
That's what I've done to get around this in the past.

[2020-11-30 17:55] rileyhun commented on #6904
HI @jsignell,

I can double-check all of the above. I can confirm however that I've been playing around with the other machine-learning  (Dask-ML) example notebooks you've provided in the github repo, and haven't had any issue with them.

Here is the docker file of my dask-workers:

[code]

[2020-11-30 17:57] mrocklin commented on #6874
The tensordot trick actually *does* contract in the chunks (otherwise the intermediate results would be possibly huge).

However, we lie to the intermediate Dask Array so that it thinks that it hasn't contracted and that it should do the sum appropriately.   The intermediate dask array has shape and chunk structure metadata that is intentionally incorrect.

[2020-11-30 18:04] tomwhite commented on #6874
Ah ok - it's more complicated than I thought!

[2020-11-30 18:10] quasiben commented on #6869
I added this code to the nightly scheduler benchmark: https://github.com/quasiben/dask-scheduler-performance/pull/31 .  This currently takes ~105 seconds on a DGX with 10 workers and 1 thread per worker

[2020-11-30 18:20] GFleishman commented on #6849
PR submitted: https://github.com/dask/dask/pull/6909
Thanks for the guidance @jsignell !

[2020-11-30 18:30] jsignell commented on #6899
I am not sure if this is a regression or not, but I can reproduce. Thanks for bringking this up @Sturla22. The issue is that the number of blocks does not neccessarily correspond to the number of files. I'll have a PR shortly.

[2020-11-30 20:04] shangw-nvidia commented on #6906
@mrocklin After I fixed `out_type` as you suggested: https://github.com/shangw-nvidia/dask/commit/b9f617055be2c1be5856e79c28ec8a24708b9b07 , I'm facing another problem when the input population to choices is a `dask.bag<flatten, npartitions=166>`:
[code]
In this case, the above example would be:
[code]
and I still want `C = [('a', 3), ('b', 6), ('c', 5), ('d', 1)]`. I'm trying to achieve this by:

[2020-11-30 20:05] shangw-nvidia commented on #6906
Btw, I can submit a PR from my fork for the `out_type` bug if no one has not got to that already.

[2020-11-30 20:45] TomAugspurger commented on #6904
The unique thing about Dask-ML's KMeans is that it uses numba for a portion of the fitting. It's the only method in dask-ml to use numba.

[2020-11-30 20:49] gioxc88 opened #6910 "Dask changes decorated class module to "types" after calling compute making impossible to pickle the object"
It was very difficult to find a minimal reproducible example because I was not sure what was causing the issue.
But now I am sure it is the class decorator because if I remove it the problem is gone.
As you can see in the code below I have a decorated class called `MyClass` and an instance on that class called `my_object`.
Finally have a function called `my_function` which takes the object as inpu

[2020-11-30 23:15] #6890 closed

[2020-11-30 23:16] #6880 closed

[2020-11-30 23:21] jrbourbeau opened #6914 "dask/bag/tests/test_bag.py::test_from_s3 failure"
Recently running `pytest -v dask/bag/tests/test_bag.py::test_from_s3 --runslow` locally raises

[code]

and has started to cause CI to fail (xref https://github.com/dask/dask/pull/6913/checks?check_run_id=1476682778). Perhaps the `tip-data` bucket doesn't exist on S3 anymore?

In the meantime I'll submit a PR which `xfails` this test

<details>
<summary>Traceback:</summary>

[code]

</details>

[2020-11-30 23:52] mrocklin commented on #6869
Thank you for the examples @rabernat .  @ian-r-rose took a look at these and found a significant performance increase locally (I'll let him share details) but still a painful delay when communicating the graph over a wire.  This was due to the large size of the `da.random.random` layer, which is still not abstract.

This points us to a current failing on the dask.array side, none of the data gener

[2020-12-01 00:03] shangw-nvidia commented on #6906
I found a way to work around it through converting `A` to `dask.DataFrame`, use `DataFrame`'s `sample`, the converting it back to `Bag`:

[code]

However, I would imagine this approach is paying the overhead of converting back and forth between `Bag` and `DataFrame`.

[2020-12-01 00:19] rjzamora commented on #6869
#6791 includes `from_array` (`getitem`) on the list of operations to move to `BlockwiseIO` to enable fusion at the HLG level.  A naiive translation to the blockwise approach doesn't really improve IO-subgraph construction, so we will probably want to define the IO within a simple `Mapping` (to avoid constructing the full subgraph).

[2020-12-01 00:54] LazyTrader commented on #6877
`"Data.csv"` might be too small for the issue to show up. You could try playing around with `Array = np.random.randn(2000000, 3)` and varying the first value from 2000000 - 200000000. The actual file is about 12 close to 13 gigabytes

[2020-12-01 09:50] tomwhite opened #6916 "Unbounded memory usage in tensordot"
**What happened**:

Following #6846 the memory usage of `tensordot` (and `dot`, which delegates to `tensordot` in Dask) is much higher than before, and grows as a function of array size.

**What you expected to happen**:

The memory usage should be related to chunk size (as it was previously), not the size of the array. This was achieved previously by avoiding `concatenate=True` in the call to `bl

[2020-12-01 15:10] jsignell commented on #6907
I can't reproduce either of these on latest master:

![image](https://user-images.githubusercontent.com/4806877/100756397-35d53c00-33bb-11eb-9204-b52dc330e89b.png)

Please reopen if you update to latest master and are able to reproduce.

[2020-12-01 15:10] #6907 closed

[2020-12-01 15:55] jsignell commented on #6910
Thank you for opening this! I can reproduce. I find it interesting that this only happens when distributed is used. If you take out:

[code]

everything works as expected. This leads me to think that the issue is in distributed rather than dask itself. I am having trouble tracking down where this replacement happens though. I suspect this has to do with some ongoing work on `HighLevelGraphs` @jrbo

[2020-12-01 15:59] jsignell commented on #6904
#6910 is another pickling issue. Not sure if they are related.

[2020-12-01 17:15] jrbourbeau commented on #6791
cc-ing @ian-r-rose who might also have some time to work on this

[2020-12-01 17:50] zklaus commented on #6907
This does seem to be fixed in master (more on that below). However, the following simple program
[code]
Produced wrong results for many releases of dask (I tested 2.30.0, 2.20.0, 2.10.0, 2.0.0, and 1.0.0) this seems to have been fixed with fbccc4ef3e1974da2b4a9cb61aa83c1e6d61efba .

Seeing as this is a rather serious bug, silently producing wrong results for `da.dot` and `da.tensordot` under certa

[2020-12-01 17:55] zklaus commented on #6916
Note that there seems to have been a hidden bug in dask's tensordot for a long time that was coincidentally resolved by #6846. For a few more details see #6907.

[2020-12-01 18:29] martindurant commented on #6910
Note that if you put your class definitions inside a module, rather than defined in `__main__`, then things seem to work OK. This can be a workaround.

[code]
->
[code]
so this is a cloudpickle-specific behaviour. Still looking.

[2020-12-01 18:43] gioxc88 commented on #6910
Thank you, I was aware of that, sorry for not specifying it in the op.

In fact it was a user of my package to report this issue because I always use to import decorated classes form the package modules whereas the users tend to construct the classes in the main module.

Thank you for looking into this
Gio

[2020-12-01 19:07] #6174 closed

[2020-12-01 19:10] jsignell commented on #6907
I suspect that since the bug has been around for so long, this isn't something that people run into very often. But I'll raise it with @dask/maintenance to see if this should be a candidate for a bug fix release. If not, then maybe a time estimate for the next release would be helpful.

[2020-12-01 19:25] martindurant commented on #6907
We ought to be nearing a full normal release, I believe. It would be good to have that timeline, I agree.

[2020-12-01 20:04] zzhengnan opened #6917 "Calling `.shape` on dask array extracted from dask dataframe results in NaN"
**What happened**:
I have a dask array that's extracted from a dask dataframe using `.values`. Calling `.shape` on said dask array gives back NaN.

**What you expected to happen**:
`.shape` returns the actual shape of the dask array.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:
If I create the array directly with `da.from_array` -- as opposed to extracting

[2020-12-01 21:32] TomAugspurger commented on #6917
That's expected, since dask dataframe doesn't know the length of each partition.

You can use https://docs.dask.org/en/latest/array-api.html#dask.array.Array.compute_chunk_sizes to compute the size of the unknown chunks (but this may be expensive)

[2020-12-01 21:50] martindurant commented on #6910
I can confirm that the rename happens using cloudpickle deser of the class, but I don't yet know what you can do about it. It can be suppressed by using a metaclass...
[code]

[2020-12-01 21:55] zzhengnan commented on #6917
Thanks for the explanation @TomAugspurger.

In the example I posted above, both `dask_df` and `dask_arr` consist of a single chunk/partition. Can you help me understand why the dataframe is  not aware of its shape (more specifically, the number of rows), whereas the array is? Is this difference an intentional design choice?

[code]

[2020-12-01 22:08] TomAugspurger commented on #6917
It's just the implementation for now. There's another GitHub issue dedicated for dataframe partition lengths if you search for it.

[2020-12-01 22:54] rjzamora commented on #6877
I am not able to reproduce the issue with an `np.random`-generated CSV file (I tried up to 200mil rows).  I am not sure what would be causing you to lose data on the read, but the loss of data after `set_index` may be related to the datetime precision (see #6864).

[2020-12-01 23:00] rjzamora commented on #6917
Linking #5633 here (please do correct me if I'm mistaken)

[2020-12-02 01:23] ian-r-rose commented on #6869
Taking a look at the graph transfer step from @rabernat's (:wave:) minimal example:

I'm triggering the optimization and shipping of the task graph (and non-blocking computation) using `c.persist()` as a proxy for transfer time. By flipping [`optimization.fuse.active`](https://github.com/dask/dask/blob/c58b031c6f979d93e67d66e982693dbea9daea71/dask/array/optimization.py#L50-L51), we can delay the m

[2020-12-02 02:27] rabernat commented on #6869
This all sounds quite promising. Thanks for the work everyone!

[2020-12-02 02:36] zzhengnan commented on #6917
Thanks both for the help and the additional context.

[2020-12-02 02:36] #6917 closed

[2020-12-02 05:57] lmeyerov opened #6919 "LocalCluster IOLoop closing prematurely"
**What happened**:

When reusing an async `LocalCluster` across async pytests, as part of proving out how a web server would do it, we are seeing `IOLoop is closed` exceptions for new async clients. Weirdly, cluster reuse is fine within a test, but not across.

Test:

[code]

Run:

[code]

**What you expected to happen**:

Both `test_do_test_lazy_cluster1` and `test_do_test_lazy_cluster2` pass:

*

[2020-12-02 06:23] lmeyerov commented on #6919
This might be related to https://github.com/pytest-dev/pytest-asyncio/pull/192 , where the event loop may be getting mangled across async tests?

[2020-12-02 06:43] lmeyerov commented on #6919
A workaround is to prevent any code from calling `<event loop>.close()`, which enables the tests to pass:

[code]

[2020-12-02 06:50] aburkov opened #6920 "read_parquet from an S3 bucket with many partitions takes hours"
The problematic code:

`text_df = dd.read_parquet(f"s3://{data_read_bucket}/{data_read_dir}", columns=[id_column, text_column])`

**What happened**: When f"s3://{data_read_bucket}/{data_read_dir}" is a partitioned parquet on S3 and contains thousands of parquet files, Dask executes read_parquet for hours.

**What you expected to happen**: instant execution because no data is really read. I underst

[2020-12-02 07:14] lmeyerov commented on #6919
For posterity: the above workaround can be put into a pytest fixture, preserving the open loop across in-scope tests, but caching code still gets awkward

[2020-12-02 15:05] jsignell commented on #6920
It would be helpful to know whether you are using pyrarrow or fastparquet along with the version. But I suspect that reading thousands of parquet files is expected to be slow. You might have better luck consolidating them into fewer/larger files.

[2020-12-02 17:48] rjzamora commented on #6920
In addition to knowing the backend you are using (pyarrow vs fastparquet), I am also interested to know if there is a shared `_metadata` file available?  If not, you may want to consider generating one with the [create_metadata_file](https://github.com/dask/dask/blob/c58b031c6f979d93e67d66e982693dbea9daea71/dask/dataframe/io/parquet/core.py#L667) utility (currently requires pyarrow).  It is certai

[2020-12-02 18:34] icfly2 commented on #6884
I don't mind if `graph_if` runs on the same worker as `graph` as long as `stats_if` (which also depends on `graph`) runs on a different worker. And this is exactly what is not happening.

I've now "fixed" this by throwing 20 workers at the problem and thus having more or less one worker free for each initial task.

By using `dask.dataframe` and `dask.bag` in some of the very heavy tasks, and makin

[2020-12-02 22:00] #6754 closed

[2020-12-02 22:17] rjzamora commented on #6920
#6921 proposes a way to collect metadata in parallel when `_metadata` is missing (for pyarrow only).

[2020-12-02 22:56] aburkov commented on #6920
Thank you. We will try to generate _metadata file when we dump the data to S3. Our devops team uses Spark for dumping data from database to S3, I asked them to see if they can do that.

As for using engine="pyarrow" I have a different trouble with it. It only works when engine is fastparquet. Otherwise, here's the error:

[code]

Googling didn't result in any suggestions.

We will also try your re

[2020-12-02 23:15] rjzamora commented on #6920
Interesting - Can you share your pyarrow version? 2.0.0 has known FS problems.

[2020-12-03 00:33] aburkov commented on #6920
Sorry, I reinstalled anaconda, and the problem with pyarrow was solved before you I saw your request. I didn't keep the version from the previous installation.

I installed the version of dask with the fix #6921 in it and it's still slow. What I noticed is that in dask/dataframe/io/parquet/arrow.py the execution goes inside this if:

[code]

so, if I understand correctly, the metadata is only read

[2020-12-03 01:29] jakirkham commented on #6916
Good to know. Maybe we should include a test then? Would you be willing to submit a PR? 🙂

[2020-12-03 06:03] brendanpl14 opened #6922 "Replace the word "chain" and "chaining" throughout the code base"
Although it is commonly utilized in CS to denote that act of combining multiple objects, functions, or processes into a series, the word “chaining” (or “chain”) is a borderline-racist term that can be associated with slavery and the act of restraining, binding, and imprisoning slaves.  Chains were used to prevent slaves from running away, while allowing enough mobility for them to complete their f

[2020-12-03 08:33] Timost opened #6923 "Update opportunistic caching doc"
Hi,
:heart: dask.
I think the doc on opportunistic caching can be updated to remove the experimental feature warning.

I was just watching https://coiled.io/blog/design-principles-of-distributed-systems-dask-and-pyspark/ and I had already stumbled on this page on my own and I thought it might be time to remove the warning as it's quite old. And maybe mention that it's only available on the local s

[2020-12-03 13:59] quasiben commented on #6923
@Timost any interest in submitting a patch with these changes? If not, no worries

[2020-12-03 14:29] tomwhite commented on #6874
It might be simplest to just delegate to `dot` for the common 2D case, and use the existing implementation for other cases. I opened #6924 for this.

[2020-12-03 14:30] Timost commented on #6923
Sure I'll do it !

[2020-12-03 14:32] sdementen opened #6925 "Cannot compare tz-naive and tz-aware timestamps on concat"
**What happened**:

When concatenating two dask dataframes with indices dype=datetime64[ns, UTC], I get a `TypeError: Cannot compare tz-naive and tz-aware timestamps`. One of the the dask dataframe was created with `dd.from_pandas` and the other with `dd.read_parquet`

**What you expected to happen**:

An happy concatenation ;-)

**Minimal Complete Verifiable Example**:

[code]

**Anything else we

[2020-12-03 15:09] rjzamora commented on #6920
Right - For the code you are running (`gather_statistics = False, split_row_groups = False`), I wouldn't expect metadata parsing to scale with the number of files, because we only read the footer metadata on the first file.

Given that you are not splitting by row-group or gathering statistics, I am a bit surprised that it is taking so long to execute `read_parquet`.  My understanding is that the

[2020-12-03 15:16] #6923 closed

[2020-12-03 15:40] rjzamora commented on #6922
Thanks @brendanpl14 !

I don't actually know how sensitive the word `"chain"` really is, but it shouldn't be too hard to avoid it (although it could be confusing to use a different name for `itertools.chain`).

It is also worth noting that dask still uses the `master` branch name, which other organizations have been moving away from.

[2020-12-03 15:42] quasiben commented on #6922
I think this discussion should move to https://github.com/dask/community/issues/ where we are also discussing the [branch renaming](https://github.com/dask/community/issues/68) @rjzamora brought up

[2020-12-03 15:44] jacobtomlinson commented on #6922
I agree that this is a good thing to discuss, but we should continue it over in dask/community#68.

[2020-12-03 15:44] #6922 closed

[2020-12-03 17:05] ravwojdyla commented on #6916
From https://github.com/dask/dask/pull/6846#issuecomment-735763407:

Afaiu https://github.com/dask/dask/pull/6924 also adds a special case but just for {1,2}d. Should I give it a try to produce a PR for the sparse array special case, to compare? Wdyt @tomwhite and the rest?

[2020-12-03 19:54] rockwellw commented on #6721
@bnaul can we resolve this based on the fix in #6829 ?

[2020-12-03 20:12] sjperkins opened #6928 "Document annotation interaction with distributed SchedulerPlugins"
Currently, the method for specifying annotations is [documented](https://docs.dask.org/en/latest/api.html?highlight=annotate#dask.annotate), but their interaction with [distributed SchedulerPlugins](https://distributed.dask.org/en/latest/plugins.html?highlight=SchedulerPlugin#distributed.diagnostics.plugin.SchedulerPlugin) is not.

It would be useful to demonstrate some simple (but powerful) inter

[2020-12-03 20:16] sjperkins commented on #6928
Any ideas on the best place for this?

1. dask documentation
2. distributed documentation
3. a blog post?

[2020-12-03 23:55] rjzamora opened #6929 "Add default compression="infer" option to read_csv"
As discussed in [cudf#6850](https://github.com/rapidsai/cudf/issues/6850), `dask.dataframe`'s `read_csv` API does not match that of pandas when it comes to compression.  The default setting in pandas is `compression="infer"`, while dask uses `compression=None`.

@dask/io - Is there a strong argument against adding a default `"infer"` option to the dask API?

cc @lmeyerov

[2020-12-04 16:39] ameraner opened #6935 "da.histogram returns unexpected results with weights containing NaN"
**What happened**:
`da.histogram` doesn't cope with `np.nan` values in the `weights` array. In fact, any bin coming after a bin containing a NaN weight is filled with NaN.

**What you expected to happen**:
Empty bins to keep being 0, bins with NaN weights to be NaN (see output of same computation with Numpy).

**Minimal Complete Verifiable Example**:

[code]
This outputs:
[code]

**Environment**:

[2020-12-04 18:15] zklaus commented on #6916
I would. The problem is that I am not completely sure what is going on. In
[code]
`r1` is wrong and `r2` is correct (with a dask version prior to fbccc4ef3e1974da2b4a9cb61aa83c1e6d61efba). This is not due to special values; when I take the problematic values and create an array from a numpy array with them, the problem does not occur. The problem is also not with the (tensor)dot implementation of

[2020-12-04 20:00] mrocklin commented on #6916
Can I ask folks to try this with the single-threaded scheduler `.compute(scheduler="single-threaded")`

If it's fine there then I suspect that this is the numpy/glibc threaded leak issue.

[2020-12-04 20:05] zklaus commented on #6916
Sorry I didn't mention this here before, but in the full script I had a `dask.config.set(scheduler='single-threaded')` at the beginning, so the error does occur with the single-threaded scheduler. (I now edited the snippet above to include the scheduler change.)

[2020-12-04 20:51] jsignell commented on #6935
Thanks for raising this issue! I can reproduce on latest master. If you have a sense of what is going on, feel free to open a PR otherwise it might be awhile before someone is able to fix this.

[2020-12-04 22:05] jsignell commented on #6925
Thanks for raising this. I was able to reproduce using fastparquet, but found that it works as expected when using pyarrow (`engine="pyarrow"`).

It seems fastparquet isn't storing the timezone information properly in the metadata file, but it isn't clear to me whether or not this is a bug in the dask code base or if it lives in fastparquet. Either way there is an issue with `divisions` (which tri

[2020-12-04 22:18] martindurant commented on #6925
Will look...

I'll mention that parquet does not store time zones, this information only goes into the pandas metadata (i.e., only for data that came from pandas originally), so it is quite likely that this hasn't been implemented in fastparquet at all.

[2020-12-05 03:17] chrisroat opened #6937 "Dask dataframe partition ordering"
If I persist a dask dataframe from delayed objects:

[code]

and then reread it and create another delayed list:

[code]
will `another_delayed_list[i]` always correspond to the same object as `delayed_list[i]`?

This seems to be true in my small tests, but can it be, or is it, a guarantee?

[2020-12-06 00:19] TomAugspurger commented on #6937
Do you mean same object in terms of `another_delayed_list[i] is delayed_list[i]`, or just that they're equal? If it's the latter, then yes, they'll be the same. DataFrames are ordered in the rows.

[2020-12-06 02:33] chrisroat commented on #6937
Yes, just equal is necessary.  Thanks!

[2020-12-06 02:33] #6937 closed

[2020-12-07 03:10] roarjn opened #6940 "Removing b' from object column in dask dataframe"
**What happened**: Reading parquet file NYC taxi dataset for object column `IATA_CODE_Reporting_Airline` results in b' which needs to be removed.

**What you expected to happen**: data read without b'

**Minimal Complete Verifiable Example**:
[code]

[code]

 ```
 | Flight_Number_Reporting_Airline | Year | Quarter | Month | DayOfWeek | DOT_ID_Reporting_Airline | OriginCityMarketID | DestCityMarket

[2020-12-07 08:57] shangw-nvidia commented on #6906
@mrocklin @jsignell Just pinging to see if there's any update on this issue?

Thanks!

[2020-12-07 12:53] TomAugspurger commented on #6940
Is that indicating that the values are bytes? Or is it actually a string starting with the characters `b'`?

[2020-12-07 14:52] martindurant commented on #6929
I can think of no good reason for the difference.
Note that decompression could happen within fsspec *or* pandas, but both should amount to the same thing.

[2020-12-07 15:01] roarjn commented on #6940
The dtype remains same as object. So I believe just a b' string attached in front of object column.

[2020-12-07 15:09] pentschev commented on #5992
@drcdr I've just now verified that CuPy 8.x fixes the issue with `LocalCUDACluster`, this is the output I get from running the code in the original description:

[code]

The issue with `map_blocks` attempting to compute the result for `_meta` was extensively discussed in https://github.com/dask/dask/issues/6690, and because we have no simple general solution we decided the best course of action fo

[2020-12-07 15:14] jsignell commented on #6940
byte strings are still represented as object dtype in pandas. For example:

[code]

[2020-12-07 16:17] jsignell commented on #6928
I imagine distributed documentation and a blog post would be a good approach.

[2020-12-07 17:34] martindurant commented on #6940
Parquet does store both bytes and (utf8) strings as distinct types. Is this an example data file from us? You might want to look at the parquet schema of the dataset using, pyarrow directly.

[2020-12-07 17:37] jsignell commented on #6906
Please submit the `out_type` PR if you have it handy. For the second issue `TypeError: object of type 'itertools.chain' has no len()` I wasn't able to reproduce. With your change to `out_type` the following works as expected:

[code]

If we wanted to support returning partitioned data from `db_random.choices` then we could add another kwarg to `choices` maybe `split_out`

[2020-12-07 19:20] jsignell commented on #6925
More about fastparquet and timezones in https://github.com/dask/fastparquet/issues/532

[2020-12-07 19:32] shangw-nvidia commented on #6906
@jsignell In order to reproduce the `TypeError: object of type 'itertools.chain' has no len()` issue, `A` has to be a `flatten` bag. For example:
[code]

[2020-12-07 20:09] shangw-nvidia commented on #6906
Created PR #6941

[2020-12-08 14:18] lfdversluis commented on #4643
I see the merge function is still bugged, both for outer and inner. Any way to mitigate this? I tried to use `align` to make sure the dataframes have the same indices/columns but that seems unsupported atm.

[2020-12-08 14:40] beckernick opened #6942 "Cannot calculate percentiles for cupy backed array with linear interpolation"
I can smoothly calculate the percentiles using linear interpolation of a Dask array backed by NumPy, but I cannot with a Dask array backed by CuPy. From a brief step in the debugger, the issue arises due to a NumPy array full of individual CuPy 0-d array scalars not working in `np.interp` within `merge_percentiles`.

Note that if we don't go down this codepath (such as by using "lower" as the inte

[2020-12-08 15:49] rjzamora commented on #6942
It seems that there may not be a cupy dispatch for `np.interp`?  At least it is not listed in the [comparison table](https://docs.cupy.dev/en/stable/reference/comparison.html).  I cannot recall for sure, but this may be one of the reasons we implemented a distinct [`_approximate_quantile`](https://github.com/rapidsai/cudf/blob/f6b16ab65ac897416eea82cb8b76c09b224615e6/python/dask_cudf/dask_cudf/sor

[2020-12-08 23:56] rafa-guedes commented on #6363
@TomAugspurger sorry for taking ages to respond. I wrote some code [in this notebook](https://github.com/rafa-guedes/notebooks/blob/master/zarr_metadata_scaling.ipynb) to demonstrate this behaviour. In this example the zarr archives are small and metadata reading is fast but it it does show how it scales with the number of chunk objects for each variable in the dataset.

Most of the time seems to

[2020-12-09 03:24] saravananpsg commented on #4643
One way is to break down the functionalities (suppose if you are computing data at different points); then write the files as and when required, by this way the partitioned index can be wiped away.

[2020-12-09 15:19] chrisba73 commented on #5992
Confirmed; with CuPy 8.0 I now don't get a crash.

[2020-12-09 15:34] Joshfindit opened #6943 "Ability to more easily track bandwidth usage"
I've successfully deployed an MVP, but I've run in to unexpectedly high usage on the bucket.

I see that the debug logs do list usage in the form of `read[7] 32768 bytes from 16384`, but what we'd really like is something that could be used without debug logging.

Ideally stats where we could see:
- What file was accessed
- What the datetime was
- How much of the data was read at that time

[2020-12-09 15:36] Joshfindit commented on #6943
(It may be worth noting that we're using B2, and Backblaze currently does not offer any sort of usage reporting. You have to contact support to get the total for individual days as opposed to the monthly total shown in the UI)

[2020-12-09 16:12] quasiben commented on #5992
Thanks @chrisba73 for confirming. I'm going to close.  @drcdr if you see this issue again please feel free re-open

[2020-12-09 16:12] #5992 closed

[2020-12-09 19:11] mchi opened #6945 "Fix syntax error in HLG docs example"
**What happened**:

The HighLevelGraphs example in docs/source/high-level-graphs.rst line 160 is missing a comma.

**Environment**:

- Dask version: latest master, 3a08bb32e736d51a758281a3abc0fc0dbec04efc
- Python version:
- Operating System:
- Install method (conda, pip, source):

[2020-12-09 19:24] dtourillon opened #6947 "`compute()` changes a dataframe column dtype from uint64 to float64"
**What happened**:

I created 2 pandas dataframes with a single cell each (containing a UUID), and saved them to disk.
I then created a dask dataframe from these 2 pandas dataframes using `read_csv(...)` + added a second column (`uuid_0`) derived from the first one (`uuid`).

The dtype of column `uuid_0` is `uint64` before calling `ddf.compute()`... and `float64` after:
[code]

**What you expected

[2020-12-09 19:25] dtourillon commented on #6947
@chrish42 ^^

[2020-12-09 20:11] #2557 closed

[2020-12-09 20:19] jsignell commented on #6906
Ah sorry I missed that `A` had changed.

[2020-12-09 20:24] jsignell commented on #6849
Closed by #6909! Thanks @GFleishman

[2020-12-09 20:24] #6849 closed

[2020-12-09 20:27] tebesfinwo opened #6948 "dask.dataframe.read_parquet infers pyarrow.decimal128 as datetimelike"
**What happened**:

`dask.dataframe.read_parquet` infers `pyarrow.decimal128` as datetimelike.

**What you expected to happen**:

I expect `dask.dataframe.read_parquet` to infer `pyarrow.decimal128` as `object`.

**Minimal Complete Verifiable Example**:

[code]

**Environment**:

- Dask version: 2.30.0
- Pandas version: 1.0.3 and 1.1.5
- Python version: 3.7.7
- Pyarrow version: 0.16.0, 0.17.1, 1.0

[2020-12-09 20:40] #6945 closed

[2020-12-09 20:59] #6899 closed

[2020-12-09 21:31] jsignell commented on #6947
With your example, I tried just calling apply on the pandas dataframes. The first one produced a `uint` as expected, but the second one didn't:

[code]
gives:
[code]

I think this is the root of the issue, because when the partition dataframes are concatenated if the dtypes don't match they are upcast. I am not sure if this is a pandas bug or expected behavior. As a workaround I would suggest addi

[2020-12-09 21:59] #4371 closed

[2020-12-09 21:59] #6873 closed

[2020-12-09 22:07] jsignell commented on #4643
I think this is fixed on dask master. I just failed to reproduce the MRE on dask master with pandas 1.1.4.

[2020-12-09 22:08] dtourillon commented on #6947
Thanks @jsignell for the quick investigation and workaround suggestion, it also worked on my side for the code snippet above... I'll give it a try on my real data set.

I didn't think about adding an `astype`, assuming the `meta` arg passed to `dask.apply` was essentially doing the same thing (and more)... clearly I was wrong!

[2020-12-09 22:12] jsignell commented on #6947
As far as I understand, setting meta like that sets the expectation for the output, but doesn't do any work to coerce the output to that.

[2020-12-09 22:42] #6891 closed

[2020-12-09 22:51] jsignell commented on #1291
I am closing this since it is about `agg` on resample which is on latest dask.

[2020-12-09 22:51] #1291 closed

[2020-12-09 22:53] jsignell commented on #1999
I think this is fixed now :)

[2020-12-09 22:53] #1999 closed

[2020-12-09 22:57] jsignell commented on #1815
I think we can close this at this point. There haven't been any issues in a while where people complained about docstrings that were missing the disclaimer, so maybe we hit them all with the brute force approach? Anyone should feel free to reopen if they disagree.

[2020-12-09 22:57] #1815 closed

[2020-12-09 23:00] jsignell commented on #2052
This seems to be resolved at this point. Closing.

[2020-12-09 23:00] #2052 closed

[2020-12-10 08:16] Sturla22 commented on #6899
Great work, thanks!

[2020-12-10 09:10] indrajitsg opened #6950 "The behavior of "sort" option in "from_pandas" method is not very clear"
Can you please enhance the documentation around the **sort** option in the **from_pandas** method. Currently I don't know what it will do. On which column is the sort going to happen? If I specify **npartitions=10** then will it sort it by the first column and then chunk by chunk and assign it to different partitions making sure all the observations for the same category in the sorted column (say

[2020-12-10 09:51] sdementen commented on #6925
If I can get some guidance on this topic, I can try a PR. I have no view on what is happening before/after neither on the divisions/partitions... So maybe a bit though for me.

[2020-12-10 15:12] rjzamora commented on #6950
For the [from_pandas docs](https://docs.dask.org/en/latest/dataframe-api.html#dask.dataframe.from_pandas), we have the following for `sort`:

[code]

This means that the input pandas DataFrame will be sorted by the **index** before conversion to a dask collection.  This ensures a monotonically increasing index, enabling a clean `divisions` calculation (a `dask.dataframe.DataFrame` object uses a `d

[2020-12-10 15:15] jsignell commented on #6948
I can reproduce on latest master, thanks for the detailed report! I found that when you call compute on the resultant dataframe you end up with dtype `object`:

[code]
So I imagine the issue must be with some assumption in the meta construction.

[2020-12-10 15:50] quasiben opened #6951 "Optional kwarg for `observered`"
In https://github.com/dask/dask/pull/6854, dask added the `observed` keyword to categorical groupby operations.  In RAPIDS we just released cuDF 0.17 which does not currently support the `observed` keyword for categorial series groupby operations:

[code]

The above fails with:

[code]

RAPIDS is addressing this https://github.com/rapidsai/cudf/pull/6964, however,  when Dask is next released, this

[2020-12-10 15:56] jsignell commented on #6951
Sorry about that @quasiben! I will open a PR to follow the dropna pattern. @jrbourbeau this should block release.

[2020-12-10 15:58] quasiben commented on #6951
@jsignell no no, I think of this is a very big ask from the RAPIDS group.   Also, we are happy to do the work here and track

[2020-12-10 15:59] jsignell commented on #6951
I mean I merged the observed PR yesterday (aka one day before release) so I don't think it would be bad to revert it slightly if we are breaking rapids.

[2020-12-10 16:04] rjzamora commented on #6951
I don't think the PR needs to be reverted, but we do want to avoid passing `observed` unless it is explicitly passed by the user.

[2020-12-10 16:12] jsignell commented on #6951
Agree. PR coming shortly.

[2020-12-10 20:03] #6951 closed

[2020-12-10 21:34] martindurant commented on #6925
Actually, it may be worth trying again versus fastparquet master, because previously failure to set the timezone was being ignored, and that particular failure should no longer happen. However, it *might* need more work to apply the same thing to the min/max values.

[2020-12-10 22:43] gerrymanoim opened #6954 "Unbound local variable `index` referenced before assignment"
**What happened**:

`UnboundLocalError: local variable 'index' referenced before assignment` originating from an unhandled case in https://github.com/dask/dask/blob/master/dask/dataframe/core.py#L2805-L2812.

**What you expected to happen**:

A `RuntimeError`? Some other sort of exception.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

I don't expect `np.re

[2020-12-11 03:39] indrajitsg commented on #6950
Let me explain my situation. I have a huge dataframe which has a customer id column. Initially the data frame came from multiple  csv.gz splits where customer id was scattered across the splits. Trying to sort it inside Dask dataframe was huge pain - so I used Pandas to read in the entire dataframe and sort it by customer id. Now I want to push it into dask dataframe so that I can use distributed

[2020-12-11 04:15] rjzamora commented on #6950
The only widely supported way to "sort" in `dask.dataframe` is by setting the index to the column you want to sort by (e.g. `ddf.set_index("column-I-want-sorted")`)

You do need to specify the number of partitions you want, but your data does not need to be reordered.  As I mentioned above, by default, `from_pandas` will sort your data so that the **index** is in ascending order.  However, your da

[2020-12-11 09:38] indrajitsg commented on #6950
Okay that makes sense @rjzamora. Thanks! Going back to your first message - yes - mentioning explicitly that sorting will happen on the index makes it clear for the reader.

[2020-12-11 12:17] ben10he opened #6956 "Dask worker tasks allocation"
By default, looks like dask would distribute tasks at the time when they are submitted. If we have a task run time depends on input and some input may cause the task run much longer than other, we may end up with all long running tasks assigned to one worker. Here is an example to illustrate the issue:

[code]
2 workers started. 10 tasks submitted. Odd number input will lead to a long task, but ev

[2020-12-11 14:43] jangorecki commented on #5622
Could we re-open this issue? Linked issue has been closed but according to latest published documentation this issue is still not yet resolved.

[2020-12-11 14:52] mrocklin commented on #6956
The right solution here is for Dask to submit everything to one worker, but
then when the other workers arrive to start load balancing.  Dask does this
normally, but there is an issue that with new types of tasks that it hasn't
seen before it doesn't have an estimate of how long they will take, so it
waits until the first one is done.  This is being resolved, I think, in
https://github.com/dask/di

[2020-12-11 15:29] jsignell commented on #6954
Thanks for raising this! I can reproduce and see the issue. I think this is expected to work because of [NEP 18](https://numpy.org/neps/nep-0018-array-function-protocol.html). I am looking into it now.

[2020-12-11 15:48] #6860 closed

[2020-12-11 15:52] jsignell commented on #6954
I somehow missed that this is a series being passed in. I agree that that is not expected to work because the method still needs to be implemented on the dask side, which `repeat` isn't for dataframe/series.

You might want to use dask.array:

[code]

[2020-12-11 15:52] ben10he commented on #6956
Took a look at the PR in dask/distributed#4213. Does it mean the free worker will automatically pick up some of the long running tasks in the other worker in my example above?

[2020-12-11 15:56] gerrymanoim commented on #6954
Right - I fully agree that this isn't the "correct" way to do anything (I hit this accidentally). I was just surprised at the failure mode.

[2020-12-11 15:58] jsignell commented on #6954
Yep :+1: on the surprise, I am trying to figure out what the behavior should be.

[2020-12-11 17:03] jakirkham commented on #6942
As @pentschev mentioned earlier (and please correct me if I get any of this wrong Peter), this should be fixed with NumPy 1.20 and PR ( https://github.com/dask/dask/pull/6738 ).

[2020-12-11 18:26] beckernick commented on #6942
👍

As discussed offline, we'll explore this once the linked NEP-35 PR lands

[2020-12-11 20:33] gerrymanoim opened #6958 "Error adding DateOffsets to datetime64"
**What happened**:

`UFuncTypeError: ufunc 'add' cannot use operands with types dtype('<M8[ns]') and dtype('O')` when adding `DateOffset` to `datetime64`

**What you expected to happen**:

An offset adjusted column, matching the pandas behavior.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

I'm not entirely sure if this is supposed to be supported, but I d

[2020-12-12 04:18] lmeyerov opened #6961 "[BUG] cannot dd.read_json"
**What happened**:

We're struggling to get a single json file to read.

**What you expected to happen**:

`dd.read_json('simple.json')`, and variants where we add hints like `orient`, do not seem to go through, and instead error:

[code]

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Environment**:

docker -> conda -> rapids 0.17 (stable) -> dask

[2020-12-12 12:39] jordi-crespo commented on #6812
I want to get assigned to this issue

[2020-12-12 18:49] kinghuang opened #6962 "Repartition by a factor of existing number of partitions"
The [DataFrame.repartition](https://docs.dask.org/en/latest/dataframe-api.html#dask.dataframe.DataFrame.repartition) method takes an `npartitions` argument as one of the ways to determine how many partitions to target. I often want to scale a dataframe by a factor of its existing number of partitions. It would be useful to have a `factor` argument that does this.

For example, say I read in a Parq

[2020-12-13 02:23] TomAugspurger commented on #6962
My initial reaction is that this doesn't warrant a dedicated keyword. Repartition already has four distinct ways of repartitioning. I wouldn't want to add another that's so closely related to `npartitions`.

[2020-12-13 11:07] syagev opened #6963 "Machine-level scheduling"
The abstraction of a distributed worker, which is totally detached from the physical machine on which it runs is awesome in the capability it adds to seamlessly move the same code from single-core > multi-core > multi-machine. However, it does present some significant limitations.

A notable example is that when the majority of the work is GIL-intensive (i.e. does not free-up the GIL very often),

[2020-12-13 17:35] mikewheel opened #6964 "Dask Dataframe read_parquet: OSError: Couldn't deserialize thrift: TProtocolException: Invalid data"
I'm generating a Dask dataframe to be used downstream in a clustering algorithm supplied by dask-ml. In a previous step in my pipeline I read a dataframe from disk using the dask.dataframe.read_parquet, apply a transformation to add columns using map_partitions, and then write the resulting dataframe back to disk using dask.dataframe.to_parquet. The issue occurs when the resulting dataframe gets r

[2020-12-13 21:10] vsraptor opened #6965 "Is this a good way to get a slice of a Bag ?"
[code]

[2020-12-13 22:14] Barracuda7779 opened #6966 ""pandas.util.testing is deprecated" warning"
I get the following warning, whenever i use "dask.dataframe":

FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.

[2020-12-14 07:39] jakirkham commented on #4643
We also just released on Friday. So this may already be fixed in a release. Would make sure to upgrade and see if there’s still an issue.

[2020-12-14 10:04] #6966 closed

[2020-12-14 10:05] Barracuda7779 commented on #6966
Issue due to another package ...

[2020-12-14 14:24] jacobtomlinson opened #6967 "Test"

[2020-12-14 14:48] quasiben commented on #6965
I'd recommend posting this on Stackoverflow.  Typically we keep the dask issue tracker reserved for bug reports and feature discussions

[2020-12-14 15:11] jsignell commented on #6812
Great! Just open a pull request when you have something written.

[2020-12-14 15:12] jsignell commented on #4643
I am going to close this, but feel free to reopen or comment if you can still reproduce.

[2020-12-14 15:12] #4643 closed

[2020-12-14 15:14] jsignell commented on #5622
Yes let's reopen this and add some labels to help people find it. Thanks for pinging :)

[2020-12-14 15:17] jsignell commented on #5622
Just to confirm, @jangorecki there is a disclaimer:

Some inconsistencies with the Dask version may exist.

and the kwargs are the correct ones for dask. Are you suggesting that the whole docstring should be rewritten?

[2020-12-14 15:27] jsignell commented on #6958
I feel like this is missing some context. Is this the description you intended to put on the dask issue tracker @gerrymanoim?

[2020-12-14 15:44] gerrymanoim commented on #6958
Err - whoops - sorry! Mistaken copy/paste here. Will find the repo that I originally had here.

[2020-12-14 16:13] jsignell commented on #6961
Hmm this seems to be an issue with the asynchronous client specifically since results is a coroutine in that traceback.

[2020-12-14 16:13] #6965 closed

[2020-12-14 16:24] jsignell commented on #6962
You might be able to play around with `chunksize` in your `read_parquet` call to get the desired behavior.

[2020-12-14 16:24] #6962 closed

[2020-12-14 16:33] rjzamora commented on #6964
Thanks for raising @mikewheel - I'll be happy to dig into this if you can help by making the "Minimal Complete Verifiable Example" pasted in this issue a "complete" example (i.e. add synthetic data generation to the code snippet).  I don't think I, or others watching dask.dataframe, will have time to experiment with data generation or translate your full/linked code to a simple reproducer...  If y

[2020-12-14 17:26] jangorecki commented on #5622
@jsignell If documentation is updated for dask, then it should not be rewritten, but the information about inconsistencies should be removed. Users reading this manual entry now might be wondering if they can rely on information found there. If something is not documented one should not expect that to be supported, and even if it is supported at the present moment, it might change without notice o

[2020-12-14 18:47] jsignell commented on #6954
@jrbourbeau I am wondering if you would be able to comment on what the behavior should be. I tried adding:

[code]

But the results in a pandas series being the output of `np.repeat(s)` which is definitely not expected. Poking around, I suspect that we need to do something before `__array_wrap__` is called, since in that method, `array` is already computed.

[2020-12-14 19:08] zulissi commented on #2119
This looks a little stale, but including a note here since I spent all weekend trying to do similar things!

As long as your distributed nodes have access to a shared filesystem, you can use joblib.memory cached functions directly with dask. The cached functions gets pickled/sent as normal, and the workers apply the normal memory logic when calling the function. For example:
[code]
could be cached

[2020-12-14 19:38] lmeyerov commented on #6961
Happy to provide further info, lmk!

[2020-12-14 20:52] maartenbreddels commented on #6391
I've been looking into this issue a bit, I've found https://www.youtube.com/watch?v=HtbLNgXmLrw&ab_channel=EuroPythonConference but that solution requires a recompilation of Python with dtrace enabled.

I managed to get a prototype working using the Linux perf tool https://github.com/maartenbreddels/per4m and https://github.com/gaogaotiantian/viztracer (some discussion at https://github.com/gaogao

[2020-12-14 21:53] datafuz commented on #3817
@TomAugspurger Was your original issue addressed by the pull request? I don't believe that `DataFrame.nunique()` works like pandas (I'm guessing your original intension).  Also, `DataFrame.nunique_approx()` is a surprising result in that it returns a single value, not a value for each column, which would also be more analogous to the pandas result.

[2020-12-14 21:57] gerrymanoim commented on #6958
@jsignell - Apologies - fixed the issue text now.

[2020-12-14 22:41] jakirkham commented on #2119
It might be worth filing an issue with the `graphchain` team about the things it struggled with (if you haven't already).

[2020-12-14 23:07] jsignell commented on #6958
Oh that is an interesting bug! It is kind of tough becuase I can't think of a way to pass a meta into the function, which would be the easiest way to workaround the issue. There are a couple other things going on though. One is that the default non_empty `_meta` for objects is a string. And the other is that even if you set the `_meta` on dask_offsets it is ignored. I'll open a PR to mull over som

[2020-12-14 23:15] gerrymanoim commented on #6958
I was trying to figure out how to override the meta guessing as well (or some other reasonable workaround), but couldn't figure out if there was a reasonable way to do that. Thanks for confirming.

[2020-12-15 00:51] nbren12 commented on #2119
After some thought, I now think that dask and a larger workflow scheduler occupy different niches. Yes tools like Dask and airflow both represent tasks as a DAG, but the similarity ends there. Tools like airflow schedule and observe individual long-running tasks, whereas I think dask is focused on coordinating a swarm of tiny tasks.

That said, the ability to move data to disk for global shuffles

[2020-12-15 00:54] gerrymanoim opened #6970 "ValueError with renaming series after dd.read_csv"
**What happened**:

`ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().` occurs when you try to rename a series from a dataframe created from `dd.read_csv`. This does not occur on 2.30.0 or when using `dd.from_pandas`.

**What you expected to happen**:

A series with a renamed column.

**Minimal Complete Verifiable Example**:

First, working

[2020-12-15 02:45] TomAugspurger commented on #3817
I'm not sure. If there's a behavior difference I'd recommend opening a new issue.

From: datafuz <notifications@github.com>
Sent: Monday, December 14, 2020 3:54 PM
To: dask/dask <dask@noreply.github.com>
Cc: Tom Augspurger <tom.augspurger88+dask@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [dask/dask] Add DataFrame.nunique (#3817)

@TomAugspurger<https://nam06.safelinks.protection

[2020-12-15 05:35] lmeyerov commented on #6961
I wonder if it's this: https://github.com/dask/dask/issues/5518 ... basically any async client program that tries to interact with the world, as all i/o is chained off dd ("dd.write_parquet", "dd.read_csv", ...)...

[2020-12-15 05:51] lmeyerov opened #6971 "[BUG] async clients cannot do i/o (parquet write)"
**What happened**:

async client to_parquet throws an exn on simple files.

This bug report is a continuation of the async client read_json bug report in https://github.com/dask/dask/issues/6961, with a similar error. Both might  be cases of https://github.com/dask/dask/issues/5518 . Put together, I'm wondering if the broader issue is async client is incompatible with normal i/o methods like readi

[2020-12-15 06:42] lmeyerov commented on #6971
I am wondering... what's the work around?

As a quick hack, we're doing:

[code]

But centralizes IO to a single client thread, which is fine for small data, but I assume for bigger datasets, dask's special methods are setup for parallel I/O.

So instead, `.persist()` + `.publish()`  the structure, start a sync client, and have it do a blocking dispatch of an i/o call?

[2020-12-15 11:17] FilippoBovo opened #6972 "Repartitioning on index with dtype object splits the same value of the index into different partitions."
**What happened**:

Repartitioning a Dask DataFrame on an index with `object` dtype does not isolate the values to single partitions.

For example, if the index contains values `A`, `B` and `C` and the DataFrame is repartitioned to 3 partitions, the first partition contains only `A`s, the second partition only `B`s and the third partition both `B`s and `C`s.

**What you expected to happen**:

I wo

[2020-12-15 11:28] FilippoBovo opened #6973 "Setting a sorted index drops rows"
**What happened**:

Setting a sorted column with `object` dtype as index with argument `sorted=True` drops some rows from the data.

**What you expected to happen**:

I expect that setting an index does not drop rows.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

Using `sorted=False` works correctly, that is, no rows are dropped from the data.

[code]

**E

[2020-12-15 11:35] FilippoBovo opened #6974 "`npartitions` argument in `set_index` DataFrame method does not work."
**What happened**:

Setting the index of a Dask DataFrame with argument `npartitions` does not set the specified number of partitions.

**What you expected to happen**:

I expect that, if I set for example `npartitions=1` on a DataFrame originally with 2 partitions, the output has 1 partition.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

Using different n

[2020-12-15 13:11] makslevental commented on #6118
I'm confused about how this should work? Running the initial code does indeed produce an FFT but from what I can tell (by watching `nvidia-smi`) dask does not use my GPUs when I run in this way. Is that correct? Is there a way to get dask to perform these FFTs on gpu workers?

[2020-12-15 14:08] zulissi commented on #2119
I think that makes Prefect particularly interesting as it uses dask for the scheduling of larger workflows.

That said, there's additional engineering overhead in understanding and using Prefect or larger schedulers, but joblib+dask is pretty easy to explain/use!

[2020-12-15 14:49] quasiben commented on #6118
@makslevental -- I would recommend opening up a new issue with a minimal reproducer if you have a problem here.   Generally, the way this works is through is with [NEP-18 ](https://numpy.org/neps/nep-0018-array-function-protocol.html), a protocol to dispatch to other libraries from NumPy

[code]

[2020-12-15 15:07] martindurant opened #6975 "parquet RangeIndex gets dtype "object" with fastparquet"
From:
https://stackoverflow.com/questions/65307263/writing-a-dask-dataframe-to-parquet-typeerror/65308232

[code]

**What happened**:
`dd_df.index` has type "object", but contains `RangeIndex(start=0, stop=100000, step=1)`. Upon writing, fastparquet tries to encode the integers as UTF8 and fails: `TypeError: expected list of bytes`.

[2020-12-15 15:45] jsignell commented on #6961
Oh that definitely sounds like what you are seeing! As a workaround, something like:

[code]

But if you want to take on that issue and open a PR you are more than welcome.

[2020-12-15 15:50] jsignell commented on #6971
Here is one option for a workaround:

[code]

[2020-12-15 15:57] mrocklin commented on #6971
You want the compute=False keyword.  This returns a dask.delayed object
that you can then use normal async tricks, like client.compute or the
x.persist().

On Tue, Dec 15, 2020 at 7:50 AM Julia Signell <notifications@github.com>
wrote:

[2020-12-15 15:58] jsignell commented on #6970
Thanks for raising this I can reproduce with this test case:

[code]

[2020-12-15 16:01] rjzamora commented on #6972
I'm not certain what the correct functionality "should" be for `repartition`, but I do know that the algorithm is very different from `set_index`...

If you have a numerical index type, specifying an increased number of partitions to `repartition` will result in new (interpolated) divisions.  If you have an "object" index type, interpolation is not spported, and so you will not have known division

[2020-12-15 16:24] makslevental commented on #6118
@quasiben thanks for the tip. will do if I can't track it down.

[2020-12-15 16:29] rjzamora commented on #6973
Thanks for raising this @FilippoBovo !  I can definitely reproduce the problem.  I'll try to figure out the cause soon.

[2020-12-15 17:17] nbren12 commented on #2119
Agreed. joblib + dask will work really well for non-distributed computations.

[2020-12-15 17:53] lmeyerov commented on #6971
Thank you @jsignell , @mrocklin , this closes the immediate issue!

I wonder if one of the async guides should explicitly call out that i/o should generally go through `compute=False`? E.g., at https://docs.dask.org/en/latest/futures.html or https://distributed.dask.org/en/latest/api.html#asynchronous-methods .

For future reference, passing async io test:

[code]

[2020-12-15 17:59] Kshitij68 opened #6977 "dask.bag.from_delayed gives error while calling compute method"
I was trying to convert list(dask.delayed) objects to dask.bag objects using dask.bag.from_delayed functionality

[code]

- Dask version: 2020.12.0
- Python version: 3.7.4
- Operating System: MacOS
- Install method (conda, pip, source): Pip

[2020-12-15 18:01] Kshitij68 commented on #6977
Full Traceback:
`---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-18-54807ec12509> in <module>
      9 a = [delayed(func)(i) for i in range(10)]
     10 a = db.from_delayed(a)
---> 11 a.compute()

~/anaconda3/lib/python3.7/site-packages/dask/base.py in compute(self, **kwargs)
    2

[2020-12-15 18:28] lmeyerov commented on #6961
Good news / bad news:

Bad news: Trying to reuse the clean `compute=False` approach for async parquet io in https://github.com/dask/dask/issues/6971 throws an exception here. Maybe not surprising as `compute` is not an official parameter: https://docs.dask.org/en/latest/dataframe-api.html#dask.dataframe.read_json .

Good news: @jsignell 's workaround via `submit` does get the `ddf`. Thanks!

[2020-12-15 19:19] jsignell commented on #6974
Indeed! Thanks for raising this. I think I have a fix. I'll open a PR in a minute.

[2020-12-15 21:14] rjzamora commented on #6973
I have been thinking through this, and the fix is proving to be a bit tricky.

In Dask-Dataframe, partitions are expected to be "non-overlapping."  For your example, a "correctly" partitioned result should have only three non-empty partitions (the result you get with `sorted=False`).  When you specify `sorted=True`, we are trying to get non-overlapping partitions, without shuffling the data, by mo

[2020-12-15 21:50] jsignell commented on #6958
There is still a lingering question of if `from_pandas` should have a `meta` kwarg. At the moment it tries to deduce it from the data which seems good, but it is being coerced to an empty dd.Series, so the only metadata that it retains is the dtype. In this case the dtype is object, which is super uninformative. It'd be better to just let the `meta` be `.head()` or something, but I am probably mis

[2020-12-16 12:49] FilippoBovo commented on #6974
Thank you very much for your quick reply, @jsignell!

[2020-12-16 12:53] FilippoBovo commented on #6972
@rjzamora, thank you for the explanation and prompt reply.

[2020-12-16 13:00] FilippoBovo commented on #6973
Thank you for your quick reply, @rjzamora.

What do you mean with non-overlapping partitions?

[2020-12-16 13:02] FilippoBovo commented on #6973
Also, would this work “correctly” if the index had a category dtype, rather than object dtype?

[2020-12-16 13:53] sdementen commented on #6925
I have checked with master for dask and fastparquet and the issue is still there.

[2020-12-16 19:31] rjzamora commented on #6973
Partitions `i` and `i+1` are overlapping if the maximum value in the index of `i` is not less than the minimum value in the index of `i+1`.  Therefore, if two adjacent partitions contain the same value in the index, those partitions are "overlapping."

Yes, it should - I will check and update this answer if I'm wrong :)

[2020-12-16 19:43] gioxc88 commented on #6705
@mrocklin I doing tests using nested calls to delayed and compute and I also came across the problem of [work stealing](http://distributed.dask.org/en/latest/work-stealing.html).
This results in errors and the overall job fails with a traceback because some process has been closed. And I think is related to work stealing.

I wonder though can this be because I also call compute on multiple times s

[2020-12-16 23:13] stephanie-wang opened #6983 ""Event loop was unresponsive in Worker" during df.set_index"
**What happened**:

I'm trying to call df.set_index on a large dataframe (10GB, with 64GiB RAM) and am seeing lots of errors, followed by Dask worker crashes and restarts. At first, I see 100% CPU usage, then close to 0% CPU with some disk writes from Dask workers (which I assume is spilling to disk), then many errors like this:
[code]

Eventually, the workers seem to get repeatedly killed and res

[2020-12-17 05:03] rjzamora commented on #6983
From a quick look at your script, I would guess that the `compute()` is causing most of the pain.  Calling `compute` means that you are performing the `set_index` (already an expensive operation), and then converting your Dask DataFrame to a Pandas DataFrame - which requires all 10GB of data to be sent from your workers to your client process.

I suggst that you try the following to time a `set_in

[2020-12-17 09:47] jangorecki commented on #5834
@kyprifog
You should not lose grouping column names and values if you don't use `drop=True` in your `reset_index` call. Maybe the default in older versions was `drop=True`, now it is not, so simple call like this should move indices into columns of your answer.
[code]

@TomAugspurger
Not sure how it was back in August but now Pandas documentation explains `as_index` quite well.

For aggregated out

[2020-12-17 10:15] jangorecki opened #6986 "dask groupby could support dropna argument"
I haven't found any existing request so filling this one.
If there are no plans to add support anytime soon, then I think it make sense to add at least a warning when user provide this argument. This is to prevent to silently giving unexpected (although documented) results.

[code]
[code]

[2020-12-17 18:08] #6925 closed

[2020-12-17 19:41] jangorecki opened #6990 "groupby raises: negative dimensions are not allowed"
**What happened**:

Unexpected exception during groupby operation.

**What you expected to happen**:

Compute sum by group and number of rows in group.

**Minimal Complete Verifiable Example**:

Reproducible on 5GB csv dataset, generate data using:

[code]

Reproduce error
[code]
[code]

**Anything else we need to know?**:

**Environment**:

- Dask version: 2020.12.0
- Python version: 3.6
- Operat

[2020-12-18 05:26] Ivan-HS commented on #3899
ImportError: Dask dataframe requirements are not installed.

Please either conda or pip install as follows:

  conda install dask                     # either conda install
  python -m pip install "dask[dataframe]" --upgrade  # or python -m pip install

  ya segui las intrucciones de la documentacion para intalarlo y nada.

[2020-12-18 09:28] FilippoBovo commented on #6973
Great. Thanks for the explanation, @rjzamora.

[2020-12-18 13:45] jsignell commented on #6971
Glad you are unstuck! I think a mention in the docs would make a lot of sense. Probably in both the places that you mentioned. Would you be interested in opening a PR for that?

[2020-12-18 13:45] #6054 closed

[2020-12-18 13:51] whalebot-helmsman opened #6991 "Pinned dask[distributed] deployemnts are broken."
I have pinned version `dask[distributed]==2.10.1` in my requirements file. Since recent release(2020.12.0) it installs `distributed==2020.12.0` which isn't compatible with pinned dask version

[2020-12-18 13:52] jsignell commented on #6961
It looks like there is a `compute=False` option for `to_json` but you aren't using `dd.to_json` in this case.

[2020-12-18 14:02] jsignell commented on #6975
Hmm maybe we take inspiration from what the pyarrow engine does, since that one seems to work.

[2020-12-18 14:05] jsignell commented on #2119
It seems like this discussion has reached a reasonable conclusion. Please feel free to open a documentation pull request if there is a place where you think this conversation can be distilled. I am closing this issue now.

[2020-12-18 14:05] #2119 closed

[2020-12-18 14:09] gforsyth commented on #6991
Thanks for reporting @whalebot-helmsman -- the `distributed` extra as defined in `setup.py` only has a lower bound defined in its version constraints.  I'd suggest that you pin `distributed` independently.  Usually you don't want `dask` and `distributed` to stray too much from one another version-wise, so maybe pin to `distributed==2.11.0`?

[2020-12-18 14:13] jsignell commented on #6977
Sorry for the slow response. `db.from_delayed` expected a list of delayed objects where each object represents a partition of the bag, so the delayed object should return lists.

[code]

I am going to close this issue, since I think the docs are pretty clear:

evaluate to a ``list`` or some other concrete sequence.

[2020-12-18 14:13] #6977 closed

[2020-12-18 14:48] #6973 closed

[2020-12-18 15:01] jsignell commented on #6972
Just as a note, you can do a similar pattern for `repartition`:

[code]

The difference is that like @rjzamora said, there is no interpolation, so only values that are in the index are valid divisions. Hence: `"C", "C"`.

I'm closing this since I think it is resolved, but feel free to reopen if you disagree. And as always if you can think of a way to improve the docs, please open a PR :)

[2020-12-18 15:01] #6972 closed

[2020-12-18 15:21] FilippoBovo commented on #6972
@jsignell, thank you. I will have a look at an improvement for the docs in the second week of January.

[2020-12-18 15:22] quasiben commented on #6990
@jangorecki I took the time to install R and generate the dataset but I'm not sure what's happening here.  When running with  a sample of the data (first 100 rows), everything worked smoothly .  Out of curiosity I tried this with pandas and was unable to accomplish the task:

The message above leads me to believe that we are hitting some memory error in the dask case.  Does this also fail if inste

[2020-12-18 15:23] quasiben commented on #6990
Also, have you tested with Dask.Distributed ?

[2020-12-18 16:16] jsignell commented on #6986
Hmm groupby does support `dropna` (I am opening a PR to fix the docstring), but it seems like it is only implemented for the named methods. `sum`, `mean`... and `apply`. I think we missed adding it to the generic `agg`.

[2020-12-18 16:31] #6948 closed

[2020-12-18 16:36] jsignell commented on #6991
@gforsyth would it make sense to pin distributed more tightly in dask? I could imaging pinning to `YYYY.MM.*` or something.

[2020-12-18 16:44] jsignell commented on #3899
Did you try using conda or pip? If conda, try doing `conda list` and if pip: `pip freeze` then tell us what you get.

[2020-12-18 16:47] jsignell commented on #6990
From the traceback it looks like you are using distributed, it'd be helpful to include that set up in the MRE

[2020-12-18 17:05] gforsyth commented on #6991
I think we should, and the calver switch should make it a lot easier to manage

[2020-12-18 17:14] jsignell commented on #6991
@dask/maintenance does anyone not like that idea?

[2020-12-18 17:18] martindurant commented on #6991
I don't think we formally promise to release together, though, so it's conceivable that a new release of distributed needs the version of dask from the previous month, or a bugfix-only release of dask is needed for the latest distributed, again crossing the month boundary.

[2020-12-18 17:59] lematmat opened #6993 "map_partition issue"
**What happened**:When I execute the map_partition I have the following error message
ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

![Capture d’écran 2020-12-18 à 18 56 15](https://user-images.githubusercontent.com/19993147/102645675-239d2100-4163-11eb-8201-be7c53199cc8.png)

Using the following text processing function:
![Capture d’e

[2020-12-18 18:04] jsignell commented on #6991
hmm yeah and I guess pinning it in the setup.py would make it hard for people to upgrade their distributed independently in a case like that.

[2020-12-18 18:10] jangorecki commented on #6990
@quasiben for pandas you probably need to add `observed=True` in `groupby` call.
@jschendel Sorry, I simplified code to much, already added missing piece in my first post.

[2020-12-18 18:19] martindurant commented on #6991
It would be hard in the case of `pip install -U dask[distributed]`. I don't know if that is considered common. You would still be able to upgrade the parts separately, though I hear that the new pip resolver is causing problems.

[2020-12-18 18:20] jangorecki commented on #6986
That is a good news.

From your PR it also looks that `observed` argument is also supported already, could you please confirm?

As pandas cannot yet use `dropna` for categorical columns, https://github.com/pandas-dev/pandas/issues/36327, I assume dask won't be able to do it as well. Once support for that will be implemented in pandas, is it gong  to work automatically in dask? or it will have to b

[2020-12-18 18:26] jsignell commented on #6991
Yeah ok I feel convinced that we should not change the setup.py. @gforsyth I'm going to close this unless you disagree.

[2020-12-18 18:51] kshitij-mathur-by commented on #6977
thanks for the response @jsignell !
Yes, this was pretty straightforward.

[2020-12-18 19:11] #6974 closed

[2020-12-18 19:12] #6991 closed

[2020-12-18 19:13] jsignell commented on #6986
Yeah observed was added pretty recently. I think that dropna will just work when categorical support is added in pandas, but I am not 100% sure.

[2020-12-18 19:20] jsignell commented on #6970
Just tried to reproduce again on dask master and it seems like the issue is resolved. I am going to close this, but please reopen if you run into it again.

[2020-12-18 19:20] #6970 closed

[2020-12-18 19:24] jsignell commented on #6993
You are on a very old version of dask, so I would say the first step is to update your dask version. The most recent version is `2020.12.0`. If you are still able to reproduce the issue, please paste your code into this issue so that we can copy and paste it locally to reproduce.

[2020-12-18 19:27] jsignell commented on #6993
It looks like you are trying to evaluate something like `text == ""`, so like the error mentions you might want to try `(text == "").any()`

[2020-12-18 20:26] MaximilianHoffmann opened #6994 "Dask and Skimage/ Pickling scipy fft objects not possible?"
I wanted to map the  [phase correlation](https://github.com/scikit-image/scikit-image/blob/73c210fe5f5452acb45e1bfd24e1cad832f76535/skimage/registration/_phase_cross_correlation.py#L11) sci-kit image onto a dask array, but the module prefers to use the [scipy fft module](https://github.com/scikit-image/scikit-image/blob/master/skimage/_shared/fft.py).
This leads to a pickling error
[code]

, becau

[2020-12-18 21:43] lmeyerov commented on #6961
yes, this is read_json

[2020-12-18 22:29] jsignell commented on #6961
Ok I am going to close this one since I think the issue is well-described in #5518. If you feel inspired to try to fix that it'd be much appreciated!

[2020-12-18 22:31] #6961 closed

[2020-12-19 13:31] TomAugspurger commented on #5834
There are other, undocumented, behaviors implied by as_index that are discussed in that issue.

[2020-12-19 15:42] #6668 closed

[2020-12-20 19:29] chrisroat commented on #6587
I don't want to hijack this thread, but I hit the empty dataframe w/ object dtype issue and the internet lead me here.  The error message was helpful @jsignell, and I was able to workaround.  I had a column with a variable length array, and I could make it work with a pa.list_(pa.float32()) type.

Is there a place this is being tracked/discussed, as there are now 3 levels where to sync up the sche

[2020-12-20 23:35] stephanie-wang commented on #6983
Thanks, I'll try that out!

[2020-12-21 00:06] chrisroat opened #6999 "Key Error in distributed worker tasks dictionary"
**What happened**:

In a dask-gateway GKE cluster, I have a graph that consistently stalls with the error below.  The error appears across many workers, and they all get wedged -- all referencing the same key value.  The workers stop communicating (last seen of 15+ minutes) and stop doing any work .  Killing the corresponding GKE pods does not help -- the scheduler still seems to happily wait for

[2020-12-21 01:21] chrisroat commented on #6999
Belongs in dask/distributed: https://github.com/dask/distributed/issues/4382

[2020-12-21 01:21] #6999 closed

[2020-12-21 10:40] lematmat commented on #6993
Hi,
thank you very much for your help, but  when I do that modification,
![image](https://user-images.githubusercontent.com/19993147/102767215-7f43f600-437f-11eb-8521-81d98ce8aca3.png).

I have the following error message:
![image](https://user-images.githubusercontent.com/19993147/102768332-4b69d000-4381-11eb-8d11-995f67ff697d.png)

lematmat

[2020-12-21 13:05] ravwojdyla opened #7001 "Update sphinx to 3.4.1 once it's released"
See example https://github.com/dask/dask/pull/7000 -> [doc CI](https://github.com/dask/dask/pull/7000/checks?check_run_id=1588693135).

Error:

[code]

Likely coming from https://github.com/sphinx-doc/sphinx/pull/8423 -> https://github.com/sphinx-doc/sphinx/issues/8480

[2020-12-21 14:52] jsignell commented on #6993
The `text is None` part also needs to be wrapped in a `().any()`. I am closing this since the error is clear and it's more of a usage question. I encourage you to look at Stack Overflow for help.

[2020-12-21 14:52] #6993 closed

[2020-12-21 16:00] lematmat commented on #6993
Ok, thank you for your help.

[2020-12-21 16:04] raybellwaves commented on #6795
slight follow on here

https://docs.dask.org/en/latest/support.html#paid-support

What that suppose to be updated?

Correct me if i'm wrong was it decided not to list the companies in the dask docs https://docs.dask.org/en/latest/ i.e. only https://dask.org/

[2020-12-21 16:11] martindurant commented on #6795
Not according to the discussion - there are several companies that provide services around Dask, but not of the kind of feature-for-cash contracts that Anaconda and Quansight have been involved in in the past.

There was no concrete decision on this. The main page shows a different list of associated companies/institutes involved with dask development and maintenance, mainly by paying (some of) th

[2020-12-21 16:18] raybellwaves commented on #6795
Thanks. I was after a link for the companies. Opened an issue here: https://github.com/dask/dask.github.io/issues/40

[2020-12-21 16:41] ravwojdyla commented on #7001
This has been now fixed upstream by https://github.com/sphinx-doc/sphinx/pull/8569, so once 3.4.1 is out, this shouldn't be a problem anymore.

[2020-12-21 21:07] jrbourbeau commented on #6994
Thanks for raising an issue @MaximilianHoffmann! Are you able to post a [minimal, reproducible example](https://blog.dask.org/2018/02/28/minimal-bug-reports)?

FWIW functions and their arguments need to be serializable with cloudpickle for Dask to be able to use them with the distributed or multiprocessing scheduler

[2020-12-22 06:54] Sushil-Deore commented on #6659
Hi, we can use merge here,
[code]
Please let me know if it's useful.

[2020-12-22 14:42] ravwojdyla commented on #6874
@tomwhite @mrocklin tried implementing `matmul` as `tensordot`, and it's possible but rather complicated and doesn't perform too well (for input above 2d, it get's complicated due to outer products nature of tensordot). So instead tried to implement a new matmul without concatenated contraction blockwise -> #7000.

[2020-12-22 14:45] eric-czech opened #7003 "Revert reverse compatibility issues in svd_compressed"
https://github.com/dask/dask/pull/6813/files introduced a couple changes that are not reverse compatible and cause problems like https://github.com/dask/dask-ml/pull/767.  Specifically:

- The iteration type was changed to 'none' instead of 'power'
- The default number of iterations was changed to 1 instead of 0

There isn't a good reason that enabling iteration should require changing two paramet

[2020-12-23 01:47] chrisroat commented on #2866
I have often had similar bogdown issues, with the scheduler giving GIL warnings.  I'm using dask-gateway and launched two graphs of ~10k tasks each.  The bulk of the processing that its currently doing are ~4k tasks that take 5-10 minutes each.  Not a lot for the scheduler to do!  **But still the scheduler ie pegged  100% cpu!**  The memory is at 1.9GiB, bandwidth at ~2MiB/s, and # file descriptor

[2020-12-23 08:17] RogerMoens commented on #7003
@eric-czech: to add a note on this, the reason for splitting the "none" and "power" iterator option was to follow the structure of the paper by Halko et al. This explicit notation also requires the user to notice that there is an actual difference, between those options.

[2020-12-23 12:28] eric-czech commented on #7003
Makes sense @RogerMoens.  I agree that iterator='none' is more clear than iterator='power' and n_iter=0 but I don't think it's important enough to break compatibility.  Allowing iterator='none' **and** n_iter=0 is one potential middle-ground but fewer possible parameterizations is probably better (so I'm weakly in favor of removing the 'none' option).

It does make me wonder when breaking changes

[2020-12-23 16:04] hellocoldworld opened #7005 "ValueError in groupby.get_group from read_csv"
**What happened**:
In dask==2020.12.0, trying to save a csv raised

[code]
Downgrading to dask==2.30 solved the issue. I think this is related to [PR 6878](https://github.com/dask/dask/pull/6878/files)

**What you expected to happen**:
The dataframe is saved.

**Anything else we need to know?**:
Full traceback:

[code]

**Environment**:

- Dask version: 2020.12.0
- Python version: 3.8.6
- Operatin

[2020-12-23 16:10] hellocoldworld commented on #7005
I'm working on a minimal reproducible example with mocked data, but didn't get there just yet, but while I'm working on it, I was using `to_csv` with the following keyword arguments `sep=",", index=False, encoding="utf-8", header=False, single_file=True`

[2020-12-23 16:15] hellocoldworld commented on #7005
Interesting, I could only reproduce after running a `group_by`. Here's the minimal reproducible example

[code]

[2020-12-23 18:56] jrbourbeau commented on #7005
Thanks for opening an issue @hellocoldworld! Could you produce an example that doesn't rely on a local data file? For example, a maintainer can't run the above snippet because they won't have `input.csv` locally (see https://blog.dask.org/2018/02/28/minimal-bug-reports)

[2020-12-23 20:41] jrbourbeau opened #7007 "Automatically open an issue for upstream CI failures"
I noticed Xarray has some [nice infrastructure](https://github.com/pydata/xarray/blob/d3792a6435c6e1e4a94d80bbaad22511114a9b5d/.github/workflows/upstream-dev-ci.yaml#L69) for automatically opening up an issue when there are failures in their upstream CI build. https://github.com/pydata/xarray/issues/4717 is an example issue which was opened and lists which tests failed.

Adding something similar h

[2020-12-24 08:58] thuydotm opened #7008 "Dask with CuPy backed: find min/max value?"
With numpy backed, I can easily find the min/max value of an array (excluding nans) using `dask.array.nanmin` and `dask.array.nanmax` as below:

[code]

However, this does not work with CuPy backed array:
[code]

[code]

`map_blocks` only returns the max of each chunk as it supposed to be.
[code]

Any workaround for this would be really appreciated.