[2021-03-01 21:32] bryevdv commented on #7292
The change was to use `width` and `height` for plots, to bring them in to alignment with every single other layout-able in Bokeh. We left `plot_width` and `plot_height` as read/writable aliases, and thought that would be sufficient compatibility. Some thoughts:

* The correct change on your end would be to now use `width` and `height`
* We may be able to re-include the aliases in the returned prop

[2021-03-01 21:52] jrbourbeau commented on #7292
Thank you for your help @bryevdv. Should we dispatch using `width`/`height` or `plot_width`/`plot_height` based on the version of `bokeh` users have or is using `width`/`height` backwards compatible?

It looks like bokeh-related tests for `distributed` are run but not the bokeh-related tests inside `dask`. For reference, `pytest dask/diagnostics` should catch all tests bokeh-related tests within t

[2021-03-01 21:57] bryevdv commented on #7292
AFAIK it is backwards compatible up to some point, but I will have to investigate and get back to you about just how far back that was introduced. cc @mattpap

[2021-03-01 22:06] bryevdv commented on #7292
@jrbourbeau This seems to work at least as far back as 1.0.4

[code]

Is that far enough?  `width` and `height` are also part of `properties()` as well

[2021-03-01 22:11] jrbourbeau commented on #7292
Going back to 1.0.0 is perfect as that's our minimum supported bokeh version

https://github.com/dask/dask/blob/ff63ae7e5f5c8ae724d1347cf19732ebe6675d52/setup.py#L26

Also, FWIW I opened up https://github.com/bokeh/bokeh/pull/10979 to add `dask/dask` tests to bokeh's downstream CI build

[2021-03-01 22:30] juergend7lytix commented on #7294
Thank you for the answer @jrbourbeau !

Also with creating explicitly the client, the problem still persists.

In fact, I tried before the same snippet with an explicit creation of the client, but as I saw, that dask doesn't need it (because it probably just creates in the background a client, and uses a scheduler object, which is created in the same python session), I left it out for the minimal

[2021-03-01 23:42] jrbourbeau commented on #7294
Thanks for updating those examples @juergend7lytix! I think you may be running into https://github.com/dask/dask/issues/7036. I've opened up https://github.com/dask/dask/pull/7298 to fix the issue -- if you have time to try out the changes in https://github.com/dask/dask/pull/7298 for your use case that would be appreciated (though no obligation)

[2021-03-01 23:47] GenevieveBuckley commented on #7291
Huh, yes - `test_setitem_extended_API` is the first test that fails. I'll give that a go...

[2021-03-01 23:53] GenevieveBuckley commented on #7291
Re: pip (should this be a separate issue? I think I've accidentally started two topics of conversation in one thread here)

Ubuntu 20.04 LTS
[code]
<details>
<summary>conda info:</summary>

[code]

</details>

Full details here, scroll right to the end to see the pip dependency resolver failing.

<details>
<summary>Details:</summary>

[code]

</details>

[2021-03-01 23:55] ian-r-rose commented on #7294
Agreeing with @jrbourbeau here, it looks like you have indeed run into #7036. By default dask will attempt to perform various graph optimization steps upon calling `compute`, during which time they can lose their annotations.

In addition to the fix that @jrbourbeau is working on, you can try to disable graph optimizations for the time being to get the expected result:

[code]

[2021-03-01 23:58] jrbourbeau commented on #7291
Sure, that sounds great

[2021-03-02 01:30] achapkowski commented on #4801
@TomAugspurger is there a demo/example of creating dask accessors?

[2021-03-02 03:02] TomAugspurger commented on #4801
Probably in cyberpandas, if you want it'd be good to have a PR with docs.

[2021-03-02 03:28] #7292 closed

[2021-03-02 03:30] GenevieveBuckley opened #7299 "pip cannot resolve dependencies when installing dask from master"
If I make a new conda environment and install the dask master branch using pip and the instructions from the [contributing guide](https://docs.dask.org/en/latest/develop.html), pip fails to resolve the dependencies and quits.
[code]

**Environment**:

- Dask version: master branch
- Python version: python 3.8
- Operating System: Ubuntu 20.04 LTS
- Install method (conda, pip, source): pip installat

[2021-03-02 03:30] GenevieveBuckley commented on #7299
cc @jrbourbeau

[2021-03-02 04:11] GenevieveBuckley commented on #7291
Ok, so if I comment out `test_setitem_extended_API` and run the tests, they still fail if `ulimit -n` is 1024 or thereabouts.
* If I set `ulimit -n 256` then we start seeing errors about halfway through the test suite: `pytest -v --maxfail=3`
* If I set `ulimit -n 1024` then the test suite gets almost 97% of the way through before we start to see failures.

<details>
<summary>Details:</summary>

[

[2021-03-02 04:40] GenevieveBuckley commented on #7299
I don't run into the same issue on my Mac, and [neither does James](https://github.com/dask/dask/issues/7291#issuecomment-788113467). This is most likely platform specific.

[2021-03-02 10:47] achapkowski commented on #4801
@TomAugspurger  cyberpandas is a great project covering Pandas' accessor.  I am trying to figure out best practices for working/accessing the Array data behind the DataFrame?  Should I use `map_partition`, etc...   My accessor is taking data from `Pandas`, which has a custom accessor/array.

I registered the Dtype with Dask, and I need to access the underlying functions defined on the custom array

[2021-03-02 11:29] piotr-rarus opened #7300 "Memory allocation error - proper way to consume available resources"
Hey folks

First and foremost, I'm deeply sorry to post this grumble here. Fewer people are answering on *stackoverflow* and I'm a bit hot on meeting the deadline at the university.

I've run into some memory problems while using Dask's `LocalCluster`. I'm working on a machine with 32 CPUs, but I have only 64GB RAM available. I'm instantiating the cluster like that:

[code]

Dask, by default, assi

[2021-03-02 12:34] TomAugspurger commented on #4801
Dask doesn't have the equivalent of `.array` on its Series. So you could
only access that through map_partitions right now. We have an open issue
about it.

On Tue, Mar 2, 2021 at 4:48 AM Andrew <notifications@github.com> wrote:

[2021-03-02 12:45] achapkowski commented on #4801
@TomAugspurger thank you for the clarification.  I was using the `map_partition` but I wanted to ensure I was doing it the best way possible.  Appreciate the help!

[2021-03-02 12:48] juergend7lytix commented on #7294
Thank you very much @jrbourbeau  @ian-r-rose !
Indeed #7036 resolves my issue!

Adding `optimize_graph=False` indeed gives me the expected behaviour in the MWE.

[2021-03-02 12:48] #7294 closed

[2021-03-02 14:18] Madhu94 opened #7301 "Interactive alternatives to graphviz for .visualize()"
Thoughts on improving the Jupyter display of dask objects with some of the JS libraries like cytoscape? Graphviz works, but there are some things that JS libraries do really well - like tooltips for additional data, zooming in on a section of the graph, etc.

[2021-03-02 14:30] jsignell commented on #7299
I think this has to do with the dask computed version being wrong. You can see in the logs that you have something like `1.1.1+1166.gff63ae7e.dirty` when it should be `2021.02.0+37.g61b578f5`. I have seen this before when using versioneer if I didn't have the tags locally. You can check what tags you have locally by doing:

[code]

for me that shows:
[code]

If that's not what you have then you sh

[2021-03-02 14:36] jsignell commented on #7291
I'm glad you are digging into this @GenevieveBuckley! I wonder if this is related to https://github.com/dask/dask/issues/7167

[2021-03-02 15:19] jorloplaz opened #7302 "Error in dask.dataframe.multi.merge when assigning left_on and right_on"
**What happened**: `dask.dataframe.multi.merge()` when passed a Pandas Dataframe causes `pd.merge()` method to fail because it passes `left_on=False` (resp. `right_on=False`) when it should be `left_on=None` (resp. `right_on=None`). The problem I think lies in these lines:

[code]

Which make this fail for example when `right` happens to be a Pandas dataframe:

[code]

**What you expected to happe

[2021-03-02 15:32] JuanAntonio03 commented on #7151
Sorry for the delay in answering, due to my project constraints I have to use "pyarrow". Nowadays I'm very busy and I'm not able to resolved it..... Hope someone can solve this.

[2021-03-02 15:35] S2020BD commented on #7253
It is. It was just closed with the issue still present.

[2021-03-02 16:05] jsignell commented on #7167
A lot of these are also coming from parquet. It doesn't seem like there is any attempt at closing files in pyarrow. I am not sure how best to workaround this or if I am missing something. In particular, these parts seem to cause issues:

[code]

I am wondering if we need to write our own versions of `get_metadata` and `piece.read` @rjzamora

[2021-03-02 16:28] jsignell commented on #7167
I will open a PR to try to make this discussion clearer.

[2021-03-02 16:39] jrbourbeau commented on #7167
Awesome, thanks @jsignell

[2021-03-02 17:46] jrbourbeau commented on #7301
Thanks for raising an issue @Madhu94! I'm not familiar with cytoscape, so I can't speak to that project specifically. Though providing a more rich graph visualization experience is certainly in scope. FWIW you might find the discussion over in https://github.com/dask/dask/issues/7141 interesting.

cc @ian-r-rose @GenevieveBuckley @jsignell who may be interested in thinking about interactively visu

[2021-03-02 18:21] jrbourbeau commented on #7299
+1 to what @jsignell said about tags. I didn't run into any issues with my fork, but I also have the latest version tags (the latest being `2021.02.0`). I then tried things with @GenevieveBuckley's fork, where the latest tag is `1.1.1`, and am able to reproduce the same issue she's running into.

@GenevieveBuckley could you try pulling all the tags from the main `dask/dask` repo with `git pull --t

[2021-03-02 19:36] #7203 closed

[2021-03-02 21:13] kylebarron opened #7304 "`partition_quantiles` finds incorrect minimum with large unsigned integers"
**What happened**:

`dask.dataframe.partitionquantiles.partition_quantiles` finds an incorrect minimum and maximum value with large integer inputs.

**What you expected to happen**:

For `partition_quantiles` to find correct minimum and maximum.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

As more commentary on this bug: this is the simplest example I cou

[2021-03-02 22:01] quasiben commented on #7300
You could maybe do something with [resources and annotations](https://distributed.dask.org/en/latest/resources.html?#example).  Instead of coming up with a queueing system you could change the spilling/memory management of the worker to spill earlier if some threshold is hit.  xref: https://distributed.dask.org/en/latest/worker.html#memory-management

[2021-03-02 22:28] eriknw commented on #7304
Thanks for the report @kylebarron!

I can reproduce.  I believe the issue arises from using linear interpolation when operating on integer dtypes.  Observe:
[code]
This could be solved by a few different ways:
1) don't perform perform linear interpolation for integer dtypes (always do nearest)
2) check the min/max value and do linear if the values can safely be cast to/from float64
3) let the user

[2021-03-02 22:45] eriknw commented on #7304
Always using `interpolation="nearest"` for integer dtypes is probably a very reasonable thing to do.  It will help the compression step when combining quantiles from blocks. See relevant comment here: https://github.com/dask/dask/pull/1261#discussion_r67936148 (if only we considered domain more carefully back then!).

Another option is to see if the min/max value from the percentile calculation *i

[2021-03-02 22:58] kylebarron commented on #7304
Glad it's reproducible! It looks like the relevant code is here?
https://github.com/dask/dask/blob/8663c6b7813fbdcaaa85d4fdde04ff42b1bb6ed0/dask/dataframe/partitionquantiles.py#L411-L418

So it looks like the float output is being rounded and coerced back to integer as you mentioned above.

I don't know Dask super well so I don't have a strong opinion on the best fix. Using `interpolation="nearest

[2021-03-02 23:07] eriknw commented on #7304
Yup, you're understanding of all of the above is correct.

If you want to make a PR to use nearest interpolation for integer dtypes, @kylebarron, that would be great!  We're here to help if you need it.

But just to be clear, you don't need to make a PR if you don't want to.  I can take care of it if you don't.  The reproducible bug report is already super-valuable.

[2021-03-02 23:54] ax3l opened #7307 "2D/nD histogram support"
Hi,

Are there plans to add the equivalents of the numpy
- `histogram2d`
- `histogramdd`

functions to Dask? This would be a great feature for us to process large-scale simulation data on [Summit](https://www.olcf.ornl.gov/summit/) (OLCF) and the upcoming [Perlmutter](https://www.nersc.gov/systems/perlmutter/) (NERSC) cluster.

## Background

We would like to use Dask for data analysis of particle

[2021-03-03 00:11] GenevieveBuckley commented on #7299
Ah, it is the tags - thanks @jsignell

[2021-03-03 03:14] GenevieveBuckley commented on #7299
Tell me if you think this could be clearer or phrased differently @jrbourbeau - https://github.com/dask/dask/pull/7308

[2021-03-03 03:17] GenevieveBuckley commented on #7301
Thanks, I'm definitely interested in this discussion (although I can't say I know anything about cytoscape)

[2021-03-03 03:58] GenevieveBuckley commented on #7291
Probably! Thanks for linking that

[2021-03-03 06:20] jameslamb opened #7310 "Setting explicit chunk sizes in dask.array.from_array() fails for 2D array: "Chunks do not add up to shape""
**What happened**:

Running `dask.array.from_array()` on a 2D `numpy.ndarray` and passing a specific list of chunk sizes to `chunks`, construction of the Dask Array failed with the following error:

[code]

**What you expected to happen**:

I expected that running `da.from_array(X, chunks=((67, 6), (33, 6)))` on a `numpy` array with shape `(100, 6)` would create a Dask Array with two chunks, where

[2021-03-03 11:09] Madhu94 commented on #7301
Cytoscape was just an example:) I just wanted to start some discussion on JS libraries for .visualize(). IMO, Jupyter's full potential isn't used with graphviz.

[2021-03-03 13:07] JiaRu2016 opened #7311 "Will dask optimize IO operation like `np.load` than `slicing`?"
A question related to performance optimization:
when I only need part of an array (saved on disk, in .npy format), I construct a pipeline like:
[code]
Will dask still read the whole file (maybe very large) in to memory, or only "touch" the sliced part? Actually I need lots of such `b` arrays (maybe concate them then an feed into deep learning model).  So will the compute of `b` be very slow if the

[2021-03-03 18:32] shoyer opened #7313 "Axis order from "fancy" indexing with dask.array does not match NumPy"
This indexing operations from Dask and NumPy should result in arrays with the same shape:
[code]

This is the "Combing advanced and basic indexing" case from NumPy: https://numpy.org/doc/stable/reference/arrays.indexing.html#combining-advanced-and-basic-indexing

It's also the same counter-intuitive example from NEP-21: https://numpy.org/neps/nep-0021-advanced-indexing.html#mixed-indexing

It woul

[2021-03-04 06:53] theXYZT commented on #4659
I am quite interested in having this functionality in Dask. Now that Numpy has implemented a sliding_window_view (https://github.com/numpy/numpy/pull/17394) which is now available in Numpy 1.20, I was wondering what the status of this issue is.

[2021-03-04 07:09] theXYZT commented on #7310
I think what you are looking for is:
[code]

[2021-03-04 10:20] pentschev commented on #4659
@theXYZT see https://github.com/dask/dask/pull/7234

[2021-03-04 14:20] quasiben opened #7320 "pytest hangs"
In running through the full test suite a macbook I experience a reproducible hang at:

I am running the with the following setup:

I believe @pentschev has also seen a similar hangs other linux based machines.  @crusaderky have you seen this issue ?

[2021-03-04 14:27] pentschev commented on #7320
I actually think I found the culprit, which is specifically [`test_setitem_extended_API`](https://github.com/dask/dask/blob/b73e7d0e187cf321f50b302e1f790aeb7528f11c/dask/array/tests/test_array_core.py#L3618-L3682). On my test machine (an NVIDIA DGX-1 with 40 cores/80 threads) it ends up creating more than 20000 threads, eventually making it impossible to create any new processes. If I run `pytest

[2021-03-04 14:43] jameslamb commented on #7310
oh I see, yep that worked, thank you! That wasn't clear to me from the documentation.

Would you be open to a pull request that adds an example under https://github.com/dask/dask/blob/b73e7d0e187cf321f50b302e1f790aeb7528f11c/dask/array/core.py#L3158 and a unit test on this pattern in https://github.com/dask/dask/blob/b73e7d0e187cf321f50b302e1f790aeb7528f11c/dask/tests/test_base.py?

[2021-03-04 14:58] jsignell commented on #7263
I am not sure if `dask-pytorch-ddp` would be affected, but @skirmer or @hhuuggoo would know.

[2021-03-04 15:01] jsignell commented on #7301
Yeah I can imagine having two versions of the visualize output kind of like we have for the dask array `repr`. I think that would be a really nice improvement.

[2021-03-04 15:04] #7299 closed

[2021-03-04 15:23] crusaderky commented on #7320
Yes I've seen it before. I've observed on very large AWS Ubuntu VMs (64 cores) that the Linux kernel just gives up after 20k-something threads. This is regardless of ulimit, and clearly a major kernel bug.

I've just run test_setitem_extended_API and I can confirm it spawns 29k threads on my 16 cores / 32 threads local Ubuntu box. I'm not affected by the kernel bug so it doesn't crash.

Clearly, d

[2021-03-04 15:27] crusaderky commented on #7320
@quasiben the first thing I'd check is that the global dask scheduler is 'threads' and not a distributed scheduler started by some unrelated test, not properly cleaned up, and halfway through its shutdown.

[2021-03-04 15:41] jrbourbeau commented on #7320
For context the issue with `test_setitem_extended_API` was reported over in https://github.com/dask/dask/issues/7261

[2021-03-04 15:44] crusaderky commented on #7261
Minimal reproducer:
[code]
Output on my 16 cores / 32 threads Ubuntu box:
[code]

[2021-03-04 15:48] pentschev commented on #7320
I actually think the hang was more of a side-effect to `test_setitem_extended_API`, probably at that point the process had already too many threads spawned, and later on `test_array_function_dask[2]` hangs when trying to obtain some now exhausted resource. Therefore, I don't think we have anything here besides the `test_setitem_extended_API` issue, so I think it's fine closing this and continuing

[2021-03-04 15:58] jakirkham commented on #7261
Should we add that as a test? Maybe marked as xfail?

[2021-03-04 16:05] jrbourbeau commented on #7261
Long term such a test would be nice to have. However short term, given the release tomorrow, if we can't resolve the `test_setitem_extended_API` issue before the release the plan is to revert https://github.com/dask/dask/pull/7033 altogether.

[2021-03-04 16:08] quasiben commented on #7320
Thanks @jrbourbeau and @crusaderky closing and continuing the discussion in #7261

[2021-03-04 16:08] #7320 closed

[2021-03-04 16:24] jakirkham commented on #7261
Yeah reverting makes sense. In that case should we go ahead and just include this test. That way we would be able to catch and fix this issue when undoing the revert

[2021-03-04 19:13] jsignell commented on #7310
Always open to more docs! I'll go ahead and close this, but feel free to open a docs PR :)

[2021-03-04 19:13] #7310 closed

[2021-03-04 19:13] achapkowski opened #7323 "Series map_partition example in documentation"
I was looking at the code: https://github.com/dask/dask/blob/master/dask/dataframe/core.py#L587 at the `map_partition` method for the Dask Series.  Can an example be added showing how this method should be used on the Series, not just the DataFrame?

[2021-03-04 20:16] sadielbartholomew commented on #7261
Hi, I'm commenting because I've been investigating the issue outlined here with @davidhassell because we are intrigued as to this new test he added in #7033 is showing this behaviour.

Having seen that you plan to revert #7033 for the forthcoming release, I thought I could summarise beforehand what we have found out, in case it helps to pinpoint any problems relating to either this or to #7291 (to

[2021-03-04 20:53] jsignell commented on #7323
I think that'd be a nice addition to the docs. Please feel free to open a PR with what you have in mind :)

[2021-03-04 21:14] jsignell commented on #7302
Hmm even if you set those to `None` you end up with at least a different index between the two merges. But maybe that's ok? Please feel free to open a pull request with your suggestions

[2021-03-04 21:37] pentschev commented on #7261
I can confirm this _improves_ the issue and allows the test to pass on my side. However, checking the process just after the `dx.persist()` that was added in the patch shows that there are still 8k threads, which is far from perfect, but at least it doesn't hit OS limits anymore.

[2021-03-04 21:45] jsignell commented on #7311
I think the answer is it depends on the filetype. Some file formats like parquet support this kind of chunked access. Others do not. I am closing this, but in the future please put usage questions like these in https://github.com/dask/dask/discussions

[2021-03-04 21:46] #7311 closed

[2021-03-04 21:47] jsignell commented on #7287
This should be resolved since all the mentioned PRs are in.

[2021-03-04 21:47] #7287 closed

[2021-03-04 21:49] jsignell commented on #7300
Seems like this is resolved, but please feel free to open a pull request if you have suggestions on how to improve the docs!

[2021-03-04 21:49] #7300 closed

[2021-03-04 21:51] #7304 closed

[2021-03-04 23:53] GenevieveBuckley commented on #7250
Put some first draft materials up here, Martin & I will keep working on it
* https://github.com/dask/dask/wiki/GSOC-2021-Project-Ideas
* https://github.com/dask/dask/wiki/Google-Summer-of-Code-Student-Instructions
* https://github.com/numfocus/gsoc/pull/362

[2021-03-05 07:06] pentschev opened #7324 "Failing CuPy tests"
Since the introduction of https://github.com/dask/dask/pull/6738, a few CuPy tests have broken.

- 1 `bincount` test fails after #7183 ;
- 16 `tri*` tests fail after #6997 .

We're discussing and trying to allocate GPUs for Dask PRs in the near future, so I'll probably wait for that to work on fixing the tests above.

[2021-03-05 07:53] jorloplaz commented on #7302
The thing is that Pandas doesn't support passing `right_index=True` and `right_on != None` at the same time. Notice how the check in the error trace looks specifically for that: if `right_on is not None` then we must have `right_index=False`.

And `None` is not the same as `False`. Both ifs that check for `is_dask_collection` are fine in their logic, but the problem is that they don't really deact

[2021-03-05 09:26] crusaderky commented on #7203
Downstream PR in xarray has been merged xarray: https://github.com/pydata/xarray/pull/4965

[2021-03-05 15:12] jrbourbeau commented on #7324
Thanks for tracking this @pentschev!

[2021-03-05 15:12] jrbourbeau commented on #7203
Thanks for following up here @crusaderky

[2021-03-05 15:31] jsignell commented on #7302
Yeah that makes sense to me.

[2021-03-05 17:20] jakirkham commented on #7263
Should we close now that PR ( https://github.com/dask/dask/pull/7321 ) is merged or is there more to do here?

[2021-03-05 17:23] jrbourbeau commented on #7263
This is good to close now, thanks for following up @jakirkham. And thank @djhoese for surfacing this issue to begin with!

[2021-03-05 17:23] #7263 closed

[2021-03-05 17:29] jakirkham commented on #7261
Reverting in PR ( https://github.com/dask/dask/pull/7326 ) to help get the release out today. We can revisit these changes and how to improve behavior after the release. I know this is non-ideal as folks adding those changes put a lot of work into them, but we are just trying to find a practical way forward on releasing in the near term. Hope that makes sense

[2021-03-05 17:32] jrbourbeau commented on #7261
+1 to what John said. I've updated the title of this issue to be more reflective of our goal to add the `__setitem__` changes back in

[2021-03-05 18:59] jakirkham opened #7327 "Rename `is_arraylike` to `is_duck_array`"
Based on some recent discussion, in particular this comment ( https://github.com/dask/dask/pull/7321#issuecomment-791243195 ), it would be good to rename `is_arraylike` to `is_duck_array` for clarity and possibly update the docstring of this function to reflect its intended usage.

cc @shoyer @pentschev @jrbourbeau

[2021-03-05 19:32] ian-r-rose commented on #7301
Agreed, thanks for bringing thus up @Madhu94.

I haven't played with cytoscape myself, but it looks cool. Another option that might be a useful small step could be [d3-graphviz](https://observablehq.com/@magjac/introduction-to-d3-graphviz). Since it understands graphviz graphs already, it probably would be pretty easy to adapt the current visualization to use (I also like that it is pretty lightwe

[2021-03-05 20:17] sadielbartholomew commented on #7261
Hi, just wanted to say on behalf of @davidhassell and myself that we are completely understand the need to revert #7033 to get a release out without worrying about the threading issue outlined here. Good luck with the release and thanks for keeping #7033 in mind to be re-incorporated later.

We now have a concrete theory about the root cause of the issue described here and ideas for potential mean

[2021-03-05 20:33] jakirkham commented on #7261
Yeah we should have a couple of weeks after this release to work with you on reintroducing and addressing issues here. So hopefully that helps 🙂

[2021-03-06 03:26] dovahcrow commented on #5060
Met the same problem from time to time. We currently just rerun the CI to workaround.

[2021-03-06 17:24] djhoese commented on #7263
Can confirm unstable CI environments are passing again. Thanks everyone!

[2021-03-06 23:03] jameslamb commented on #7310
thanks! I just opened https://github.com/dask/dask/pull/7330

[2021-03-07 00:17] jameslamb opened #7331 "map_blocks: "MaterializedLayer' object has no attribute 'pack_annotations'""
**What happened**:

Running the provided MCVE below, `compute()`-ing a small Dask array created with `.map_blocks()` resulted in this error

I remembered from the Dask community meeting that the annotations stuff was fairly new (or at least had recently been changed), so I tried downgrading from `dask` 2021.3.0 to `dask` 2021.2.0 and found that the error went away.

Looking more closely at my conf

[2021-03-07 00:19] jameslamb commented on #7331
In the process of writing up the reproducible example for this, I realized that my issue was actually incompatible versions of `dask` and `distributed`. I guess this is possible unless you're on the fairly-new versions of the `pip` resolver that are strict about versions.

I can see that `dask` does require `distributed>=2021.3.0` as of the most recent release (https://github.com/dask/dask/blob/fb

[2021-03-07 00:19] #7331 closed

[2021-03-07 00:38] dkoes commented on #7293
`file_to_blocks` in dask.bag.text is iterating over the lines of the file.  These files are opened with fsspec.open_files without setting the newline argument to define the line delimiter to the requested values.

However, even if that is fixed, it doesn't appear that fsspec has the expected behavior (it ignores the newline argument when iterating):
[code]
[code]

Looking at fsspec, the newline pa

[2021-03-07 00:43] dkoes commented on #7293
Note that `read_bytes` probably doesn't process the linedelimiter the exactly the same was as fsspec.open, which supports None and '' values for variants of universal newline support, so likely read_text should only support a single explicit newline: '\n','\r', and '\r\n' and error checking for these values should occur in `read_text`.

[2021-03-07 03:18] jrbourbeau commented on #7331
Thanks for the write up @jameslamb!

[2021-03-07 08:49] MosGeo opened #7332 "Bitwise operators mask (where parameter)"
It seems that dask does not implement the `where` parameter in the bitwise operations but numpy does. It would be great to implement those to increase compatibility of the current function.

Here is the documentation in number for invert (bitwise_not)
https://numpy.org/doc/stable/reference/generated/numpy.invert.html#numpy.invert

An example in dask below would produce an error. Substituting numpy

[2021-03-07 15:08] dkoes commented on #7293
I started to put together a pull request for this, but it's proving to be a deeper rabbit hole than expected.  Here's a test (that I cannot get to pass):
[code]
There are different code paths depending if blocksize is set.  If it is set, StringIO is used to separate the data into lines.  Although StringIO takes a newline argument, it uses it both to determine lines and to _translate_ newline chara

[2021-03-07 22:40] GenevieveBuckley commented on #7301
Understanding graphviz graphs already sounds like a point in favour of d3-graphviz. But I did see that
[there's a problem with tooltips](https://github.com/mstefaniuk/graph-viz-d3-js/issues/53) right now, which may or may not be a problem for us, depending on what we want to do.

[2021-03-08 04:30] dhirschfeld commented on #7301
On the cytoscape side there's [`ipycytoscape`](https://github.com/QuantStack/ipycytoscape) which might make it easier to integrate?

I've also come across [`ipyelk`](https://github.com/jupyrdf/ipyelk) which looks interesting, especially for me, the potential to collapse/drill down into different "jobs" running on the cluster at the same time.

[2021-03-08 09:41] martijnende opened #7333 "Dask dataframe read_hdf raises TypeError"
**What happened**:

While reading an HDF5 file into a `dask.dataframe`, the following `TypeError` is raised:

[code]

**What you expected to happen**:

I expected a Dask dataframe to be created, similar to reading the data with `h5py`

**Minimal Complete Verifiable Example**:

[code]

**Environment**:

- Dask version: `'2021.03.0'`
- Python version: `3.8.6`
- Operating System: `Linux Mint 19`
- In

[2021-03-08 15:34] jsignell commented on #7293
Thank you for looking into this so carefully! On first thought, it seems to me that we should deprecate `linedelimiter` and see if there is any pushback. Since the docstring seems not to define the behavior very well and there don't seem to be any open issues about this, my guess is that no one uses it. In cases like that getting rid of odd and confusing behavior is probably the best course of act

[2021-03-08 15:53] jsignell commented on #7307
I haven't heard of any plans to add those functions, but if you have time to dedicate to this issue, those functions would be a welcome addition!

[2021-03-08 16:02] m-rossi opened #7334 "ImportError: cannot import name 'ThreadPoolExecutor' when writing Parquet-file with pyarrow"
**What happened**:

I would like to reraise my issue #7193 as this is still occurs on Dask 2021.03.0. An error related to threading is raised when exporting a dask-dataframe as parquet when using Python 3.9 (other Python versions seems to be fine):
[code]

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

I tried the above example with both versions of pyarrow

[2021-03-08 16:34] jsignell commented on #7332
If you are interested in adding support for this please open a pull request. Otherwise, it is likely that the workaround is sufficient for now:

[code]

[2021-03-08 16:47] jsignell commented on #7333
This seems like a pandas bug or improper usage. It's not clear to me which, but you get the same error if you do: `pd.read_hdf("test.h5", "/random")`

[2021-03-08 16:50] jsignell commented on #7334
Thanks for re-raising this. Ping @rjzamora for visibility

[2021-03-08 17:04] rjzamora commented on #7334
Thanks for raising @m-rossi - It looks like pyarrow is running into problems within the default `pyarrow.Table.from_pandas` call.  Perhaps we just need to pass `nthreads=1` to prevent arrow from trying to use a thread pool here.

[2021-03-08 17:47] jrbourbeau opened #7337 "Maybe run HDFS tests based on commit message"
In https://github.com/dask/dask/pull/7329 we added the ability to trigger a CI build for our upstream tests in PRs based on the content of a commit's message (otherwise upstream tests are run on pushes to the main branch or periodically on a cron we have set up in GitHub actions). Similarly, today our [HDFS tests](https://github.com/dask/dask/blob/a620c15f3682c762baaa1e220c235e47b37d0e04/.github/w

[2021-03-08 20:19] jrbourbeau commented on #7199
Pinning this issue to increase its visibility

[2021-03-08 20:38] verasativa opened #7339 "how to debug killed workers from read_sql_table?"
I can read a SQLAlchemy sql expression on pandas (limit added so don't break memory), but same expression get me killed workers. I'm running dask docker 2021.3.0 on notebook, scheduler and workers.

¿How should I proceed to debug this killed workers?

cc: @jalvaradoruiz @pauforestal

[2021-03-08 20:44] jrbourbeau commented on #7339
Thanks for raising an issue @verasativa. I recommend reading through the documentation at https://distributed.dask.org/en/latest/killed.html

[2021-03-08 21:12] martindurant commented on #7293
So that we are on the same page, can we agree what the output of the original code ought to be? I think it's probably a trivial fix in `dask` and `fsspec` appears to be doing exactly what was asked of it. I am thinking to differentiate between the line delimiters that are explicitly supported by `StringIO` (`[None, '', '\n', '\r', '\r\n']`) and those that are not.

[2021-03-08 21:34] jakirkham commented on #874
People following this issue may be interested in [advanced graph manipulation]( https://docs.dask.org/en/latest/graph_manipulation.html ) functionality that has been added somewhat recently

[2021-03-08 22:28] hristog opened #7340 "Not immediately obvious: dask.dataframe indirectly depends on bz2 via pandas"
**What happened**: The `dask.dataframe` cannot be loaded due to an indirect dependency on `bz2`, via `pandas`. `bz2` is apparently an optional choice, when installing Python from source - please, see the references below).

Unfortunately, the resulting error message is not very helpful, because following its advice (and receiving a confirmation from `pip` that `dask[dataframe]` is already installe

[2021-03-08 23:18] radocisar opened #7341 ".value_counts(normalize=True) Unsupported"
Dask doesn't seem to support Series.value_counts(normalize=True) which is trivially supported by Pandas.

Example:
[code]
Results in:
[code]

Can all the value_counts()'s parameters be supported by Dask, please?

[2021-03-09 02:45] jameslamb commented on #7331
For anyone arriving here from search, I just want to add something we just discovered over in LightGBM (https://github.com/microsoft/LightGBM/pull/4048#issuecomment-793288582). If you install `dask` and `distributed` from the default conda channels, you may hit this error mentioned above

Because `dask` is still on 2021.2.0 there.

https://anaconda.org/anaconda/dask

![image](https://user-images.g

[2021-03-09 04:19] z7ye commented on #2792
is this bug still not fixed pls?

[2021-03-09 07:23] martijnende commented on #7333
Yes, you're right. I do get the same error with `pd.read_hdf`. I'll open an issue on their repo

[2021-03-09 07:35] m-rossi commented on #7334
That's a workaround I also had in mind, however passing it `to_parquet` does not have an effect. The `kwargs` did not get through to the  `pa.Table.from_*`-calls. I found these two which should be the relevant ones:

* https://github.com/dask/dask/blob/de0e6e8c767ea15a8557ae8d1bf58bd179262352/dask/dataframe/io/parquet/arrow.py#L108-L110
* https://github.com/dask/dask/blob/de0e6e8c767ea15a8557ae8d1

[2021-03-09 12:53] martijnende commented on #7333
**Update**: apparently [this is a known issue](https://github.com/pandas-dev/pandas/issues/9539) with Pandas. Data stored with `h5py` are incompatible with `pandas.DataFrame`. The solution that is offered is to convert the container using [Odo](https://github.com/blaze/odo).

Given the prevalence of the HDF5 format for storing large datasets, it would be a useful to the _clientele_ of Dask to have

[2021-03-09 13:01] TomAugspurger commented on #7340
bz2 is in the standard library right? It's strange that it wouldn't be available.

Regardless, this should be reported on pandas, not dask. Similar issue for lzma: https://github.com/pandas-dev/pandas/issues/27575

[2021-03-09 13:01] #7340 closed

[2021-03-09 13:09] hristog commented on #7340
Thanks for looking into this!

Just to clarify - the issue was raised in relation to the _error message_ (`dask.distributed`-wise) that gets provided to the user. My point was that it's probably not sufficiently detailed, but also it may be tricky to make it more informative whilst keeping it concise enough.

My understanding is that `bz2` is an optional, compile-flag specific library, which is in

[2021-03-09 13:28] TomAugspurger commented on #7340
Understood, and thanks for reporting. But my preference would be to fix it in pandas rather than work around it here.

[2021-03-09 14:01] hristog commented on #7340
Makes sense - thanks again.

[2021-03-09 14:04] quasiben commented on #2792
Yes, unfortunately this is still a bug

[2021-03-09 15:21] jsignell commented on #7341
Dask supports a subset of the pandas space. I agree that it would likely be straightforward to implement. I am looking into it now.

[2021-03-09 15:25] jrbourbeau commented on #7333
@martijnende since you're storing array data with `h5py` I recommend using Dask array (instead of Dask DataFrame) to load your data. There are examples of loading `h5py` datasets with Dask array at https://docs.dask.org/en/latest/array-creation.html. Dask arrays also have a `.to_dask_dataframe()` method if the DataFrame API is needed for your particular use case

[2021-03-09 15:40] rjzamora commented on #7341
Thanks @jsignell !  You're right that it wouldn't be difficut to divide the value-counts by the a count before returning.  It may take a bit of effort to optmize the aca algorithm to avoid a second pass over value counts (especially when `split_out`> 1), but I'm not sure how important it is to wory about that optimization.

[2021-03-09 15:43] achapkowski opened #7343 "Define Column Metadata with to_parquet"
When writing out to the `parquet` format, I want to define some column metadata.  Using pyarrow, I can write the metadata to the table using the following:

When writing out to parquet using pandas, I can create the Table using the pyarrow library, and once written, I can update the tables' metdata.
[code]

With dask, can I somehow pass this information in above to the `to_parquet` class?

I see m

[2021-03-09 15:51] jsignell commented on #7244
I am opening a PR to make this change now.

[2021-03-09 16:01] rjzamora commented on #7334
Right - Sorry, I didn't mean to imply that you should pass `nthreads=1` to `to_parquet`.  You are right that the easiest solution is probably to hard-code the `nthreads` option in `pa.Table.from_pandas`.  We are already passing `use_threads=False` for all read-related pyarrow operations, so I don't think there is any problem with this.

@jorisvandenbossche - Do you have any thoughts here?  Does py

[2021-03-09 16:17] jrbourbeau commented on #7343
cc @rjzamora

[2021-03-09 16:20] jorisvandenbossche commented on #7334
Yes, pyarrow certainly supports Python 3.9 (but which doesn't mean there can't be a bug related to it, of course).

I can reproduce it using Python 3.9 and pyarrow 3.0. But it only happens the first time I call it, not subsequent times. So it might indeed be an import issue.

[2021-03-09 16:39] jorisvandenbossche commented on #7334
I suppose this is the same Python import issue as distributed also ran into (https://github.com/dask/distributed/issues/4168), which seems to be caused by a change in Python? (https://discuss.python.org/t/differences-between-3-8-and-3-9-in-importing-module/5520/2, https://bugs.python.org/issue35943)

I would need to look into more detail to know whether (and how) this can be solved in pyarrow, but

[2021-03-09 19:46] achapkowski commented on #7343
A custom_metadata would be great, where you would do something like:

[code]

[2021-03-09 19:55] douglasdavis commented on #7307
Taking a stab at https://github.com/dask/dask/pull/7346

[2021-03-09 21:35] Madhu94 commented on #7301
Thanks @dhirschfeld, those look nice. I think plotly's Dash also has a cytoscape integration. What do you all think of summarizing the features that would be important for us and then we can do a proper evaluation around the open source ecosystem ?

Summary of what we discussed -
* Tooltips
* Zoom and drilldown (maybe even having the ability to lazily add nodes helps)

While features are good, but

[2021-03-09 22:24] kkraus14 opened #7350 "Allow specifying worker resources on a per thread basis"
Currently specifying worker resources happens on a per-process basis: https://distributed.dask.org/en/latest/resources.html#resources-are-applied-separately-to-each-worker-process

We have use cases where we'd ideally like to specify resources on a per thread basis. I.E. I'd want a worker with say 5 threads, 1 of which has a GPU resource, the other 4 of which have a CPU resource. We could then use

[2021-03-10 10:56] uellue opened #7355 "Add example for loading raw binary data with memory mapping to documentation"
In https://docs.dask.org/en/latest/array-creation.html there are a number of examples on how to create dask arrays.

A very efficient method that is not listed yet is memory mapping. Here's an example for that, see also https://github.com/LiberTEM/LiberTEM/pull/984#issuecomment-792948584:

[code]

This method has a number of advantages:

* Zero copy, very fast data access from the file system cach

[2021-03-10 10:57] rubenvdg commented on #7079
This one has been fixed.

[2021-03-10 10:57] #7079 closed

[2021-03-10 13:22] lfdversluis opened #7356 "Dask loading way too much data"
Running
[code]
I have a [very large dataset](http://wta.atlarge-research.com/alibaba2018.html), so I wanted to parse just the first 100k elements from my dataset.

I decided to run
[code]
and workers were dying exceeding memory left and right. I know by keeping an eye on the status page where I saw that it had even yet to begin computing unique numbers and sorting)

However, running it locally in

[2021-03-10 13:33] rubenvdg commented on #7139
@jsignell I think I have a (simple) fix for this, that I'm implementing. Could you confirm that the divisions in `pytest dask/dataframe/tests/test_dataframe.py::test_repartition_freq_month` are actually wrong atm?

The divisions generated are:

- `Timestamp('2015-01-01 00:00:00', freq='10T')`
- `Timestamp('2015-01-31 00:00:00', freq='M')`
- `Timestamp('2015-02-28 00:00:00', freq='M')`
- `Timestamp

[2021-03-10 14:13] rubenvdg opened #7358 "[DOCS] Development guide for pip-people incomplete?"
In the [Development Guidelines](https://docs.dask.org/en/latest/develop.html) it says that for pip-people to work on the dask code base one needs to do:

```python -m pip install -e ".[complete]"```

to be able to develop. In my experience, this did not work since all kinds of dependencies are missing (scipy, scikit-image, pytest, etc). Am I missing something, or is the documentation incomplete/in

[2021-03-10 14:54] jsignell commented on #7358
Oh! That is very true. If you install with pip you'll be missing the testing dependencies at the very least. The tests should all run without optional dependencies like `scipy` or `scikit-image`. I'm wondering if this is best handled by adding more docs, or by having a `pip install -e ".[test]"`. Docs is definitely quicker.

In the meantime you should be able to do:

[code]

[2021-03-10 15:01] jsignell commented on #7358
oh yeah sorry that was unclear. I meant should there be a `.[test]`?

[2021-03-10 15:04] rubenvdg commented on #7358
Ah I misunderstood. Yeah that could help. However, still if I do (in a fresh pyenv):

[code]

I catch:

[code]

[2021-03-10 15:35] jsignell commented on #7356
It seems a little odd to me that you have different versions of dask and dask-core. You probably ought to update `dask` if you can. I think selecting by column should read in only that one column, but @rjzamora correct me if I'm wrong.

I was looking at the memory using this snippet:

[code]

and comparing that to:

[code]

[2021-03-10 15:39] lfdversluis commented on #7356
Ah I see the root of the version mismatch. `conda-forge` has dask-core but not dask it seems. I installed dask with conda.

[2021-03-10 15:42] jsignell commented on #7355
I am definitely interested in adding more examples of efficient array creation. Probably adding an example to the docs is a good first step, and if it seems to be popular, then adding a helper might make sense. That is the path that we are taking with creating an array using `map_blocks`. Ping @martindurant since I suspect you'll be interested in this.

[2021-03-10 15:44] jsignell commented on #7356
conda-forge definitely has dask unless you are on a very peculiar architecture maybe?

[2021-03-10 16:51] jsignell opened #7361 "Verify that Read the Docs is building after master -> main"
Spotted on https://github.com/dask/dask-cloudprovider/issues/244#issuecomment-795310925. Read The Docs was still building `latest` from the `master` branch and builds were failing. It was configured to build from the default branch, but had cached the value `master` somewhere. Manually pointing it to  `main` in the RtD control panel fixed things.

[2021-03-10 16:57] jrbourbeau commented on #7361
Thanks for raising this @jsignell (and @jacobtomlinson). I've gone through and pointed RTD to the `main` branch for `dask`, `distributed`, `dask-jobqueue`, `dask-image`, and `dask-stories`. Other projects like `dask-examples`, `dask-ml`, and `dask-tutorial` don't deploy their docs with RTD. We can go through and spot check other repos in the Dask org

[2021-03-10 18:28] muscionig opened #7363 "Strange behavior of read_parquet when multiple big partitions are involved"
Hello,
I am working with a large (very large that even only a small portion [2 partitions] does not fit in an entire single server) dataset which is saved on disk with `30` parquet partitions. Each partition weights `7GB`, but when loaded in memory and decompressed the size of a single partition is about `250-300GB`.

Now, base on Best Practices and usual workflows I decided to read the parquet fo

[2021-03-10 23:29] davidhassell commented on #7261
Hi - we think that we've solved the unbounded threads issue, and also made the operation fully lazy for 1-d dask array indices, and removed the requirement of monotonic integer indices!

PR, with an explanation of what was wrong and how we changed it, to follow soon.

Thanks for your patience!
David

[2021-03-11 01:21] GenevieveBuckley commented on #7141
Thanks for writing out this wishlist @crusaderky

[2021-03-11 03:28] jrbourbeau opened #7366 "Upstream test failures"
Just wanted to flag that our upstream tests have a few failures again. Here's a recent build with four test failures https://github.com/dask/dask/runs/2082142688

[2021-03-11 09:53] sungreong opened #7367 "calculate data row shape and increase memory!"
**What happened**:

i just want to know data row shape, and execute code (len(x))
but it use many memory.
i want to know what happen this situation

**What you expected to happen**:
my expected result
len(x) -> use less memory(kb)

**Minimal Complete Verifiable Example**:

[code]

![image](https://user-images.githubusercontent.com/22166391/110768419-90274800-829a-11eb-8139-84101eeb6372.png)

**Any

[2021-03-11 10:56] madsbk commented on #7350
I guess, you need the same thread to run the GPU tasks, right? Otherwise setting something like `--resources "GPU=1, CPU=4"` should be sufficient.

I see two approaches:
 * Run a non-nannied worker per thread, which would make it possible to specify resources per thread. However, if the cluster includes multiple machines, we cannot use the `inproc` protocol between workers since workers doesn’t su

[2021-03-11 11:05] pentschev commented on #7366
I did a bit of investigating, and none of the issues are related to #7364 .

Pandas dev branch causes the following test to fail:
[code]

Two tests fail after installing NumPy dev branch:
[code]

And the last test fail with Sparse dev branch:
[code]

All of the failing tests above happened on https://github.com/dask/dask/commit/a81a9cdc671776dca0df0b8ebd95a879765084bd, which is the commit immediat

[2021-03-11 13:50] quasiben commented on #7367
@sungreong I'm not sure what you are asking here ? `shape` and `len` both report the same value:

[code]

How are you measuring memory usage ?  Note you can do something like the following:

[code]

[2021-03-11 14:59] jsignell opened #7368 "[MAINT] Clean up import order"
In working on https://github.com/dask/dask/pull/7345 I have noticed that in some files in dask the imports are not organized in any particular way. This seems petty, but I find that organized imports help me read code more quickly.

My plan is that after #7345 merges, I'll open a PR where I just run `isort` on the whole rep. I don't really see a need to enforce this with more linters in CI, just a

[2021-03-11 15:12] sungreong commented on #7367
i make the simple code for memory check

[code]

see the below output image.
if i use function len. increase memory

![image](https://user-images.githubusercontent.com/22166391/110808600-7d773800-82c7-11eb-9efb-cde98de3ae4f.png)

[2021-03-11 15:43] jrbourbeau commented on #7368
Great timing! @crusaderky and I were talking about `isort` yesterday

I certainly don't have an objection to running `isort` over the codebase. FWIW I'd also be okay trying it out in CI if others have an interest. Since `isort` will apply changes in-place (like `black` does) my hope is that adding it to our `pre-commit` setup won't drastically impact the developer experience

[2021-03-11 15:48] jrbourbeau opened #7369 "Flaky test_append_with_partition"
Over in https://github.com/dask/dask/pull/7365 we saw `test_append_with_partition` [failed](https://github.com/dask/dask/runs/2081531346) even though the changes in that PR are unrelated

<details>
<summary>Traceback:</summary>

[code]

</details>

[2021-03-11 15:59] quasiben commented on #7367
My guess is that some caching has happened between the calls if they are run serially.   When I execute each function independently I see similar usage:

## len
[code]

## shape[0].compute
[code]

[2021-03-11 16:20] jsignell commented on #7368
Yeah I think we could add it to pre-commit. I was seeing some things about it interacting poorly with black, but I haven't looked into it much at all. I just ran it on my branch and was pleased with the results.

[2021-03-11 16:25] jrbourbeau commented on #7368
Nice! I think there are some config settings which make `isort` and `black` play nice with each other. Here's the `isort` settings for [Xarray](https://github.com/pydata/xarray/blob/c195c2636a94b8136050d2c79c8e357740db66ea/setup.cfg#L156-L161) and [pandas](https://github.com/pandas-dev/pandas/blob/bf31347a1e82ac5e17b4d515b07e16aae738e60b/setup.cfg#L163-L175)

[2021-03-11 16:28] jsignell commented on #7368
Oh nice! Yeah I think this is the perfect thing to bake into pre-commit. Want me to open that PR?

[2021-03-11 16:33] jrbourbeau commented on #7368
Yeah, that'd be great : )

[2021-03-11 16:59] thoth291 commented on #6007
@seanfarley

I hit the same issue and was wondering how did you made your patch? Can you please share it?

[2021-03-11 17:54] crusaderky commented on #7368
You need to add this to setup.cfg or isort and black will bicker with each other:
https://github.com/pydata/xarray/blob/6ff27cae29df7ca52416f5849f6005858c6eb1e7/setup.cfg#L156-L161

[2021-03-11 18:21] martindurant commented on #7355
I think it would be optimistic to say that we have a concrete example of how to best do this. There is decent discussion on this at https://github.com/dask/distributed/issues/4497

For the given example, it's not obvious to me that this has an advantage over direct loading of the chunks. The function return value occupies memory just the same, and, by design, dask will not load the same chunk twic

[2021-03-11 20:35] ma-sadeghi opened #7371 "Dask ProgressBar not playing well with logger messages"
[code]
<img src="https://user-images.githubusercontent.com/14086031/110851643-4e3cd880-827f-11eb-8fb0-e44fbfc1adb5.png" width=70%>

[2021-03-11 21:22] nsmith- commented on #5503
I've found another workaround that also helps with the fact that `client.scatter` doesn't play nicely with adaptive deployments (see e.g. https://github.com/dask/distributed/issues/2454)

[code]
And this runs in less than a second.
The downside is this produces a warning that I'm doing it wrong!
[code]
which I think is unfair because the data would have been in the task graph regardless, just as a

[2021-03-11 21:35] sungreong commented on #7367
so i have a question.
how to remove cache??

[2021-03-11 21:52] quasiben commented on #7367
you can use the `del` operator  to delete objects.  Is that what you are looking for ?

[2021-03-11 22:04] sungreong commented on #7367
Actually i want to know deleting the cache of all operator such as dask.ml.transformer , isna etc

And i know why this object assign many memory than expected memory

[2021-03-11 22:15] quasiben commented on #7367
How much memory do you expect to be consumed ?

I'm sorry, I don't understand what you are asking about  when you write "the cache of all operators".

[2021-03-12 01:21] sungreong commented on #7367
i expect less than 0.1MB, because it just make object only included in row shape

What I want to is that when I use dask, I want to know how to use it without using cache

[2021-03-12 01:51] sungreong commented on #7367
same issue

https://github.com/dask/dask/issues/3247

[2021-03-12 03:11] #7244 closed

[2021-03-12 04:09] gjoseph92 commented on #7206
So this doesn't have anything to do with `head()`; in fact, it's just about `.values` on a delayed Series where the dtype is a pandas extension dtype:

[code]

When constructing the dask Array's `meta` object, we're currently assuming the underlying array type is a NumPy array, when in this case, it's actually going to be a pandas [StringArray](https://pandas.pydata.org/docs/reference/api/pandas.a

[2021-03-12 08:35] uellue commented on #7355
@martindurant Thx for linking to the discussion. As far as I can see, that discussion centers more around sharing data between workers, right? In this case here, the intent is just doing efficient I/O.

To show what this is about, I've appended two notebooks that compare memory mapping with conventional reading. The test simulates a common analysis for 4D STEM data: Working with the values from a

[2021-03-12 11:37] icfly2 opened #7376 "pyarrow raises ClientPayloadError when reading lots of files."
**What happened**:
Reading from an azure blob store I sometimes get a `ClientPayloadError`.

The setup is several parquet files, written with pandas not dask, in a azure blob storage container. Reading them, especially a small number (1-10) of them works fine. When reading a larger number (100-500), sometimes (too often) this error occurs.

I'm pretty sure it is from aiohttp due to a slower connec

[2021-03-12 12:19] achapkowski opened #7377 "map_partition performing calculations on metadata"
When I call map_partitions on my accessor, get some unexpected issues.

The first partition has data that is unrelated to the rest of my data.  This is causing issues performing type specific data.  How do I do I account for this first group of data?   It appears the first group is the set of data from the registration of the `make_nonempty.register` call.

[code]

Is there a tag stating this is m

[2021-03-12 12:34] achapkowski commented on #7377
The custom dtype is defined as:

[code]

Where Geometry is a base class that all other Geometries inherit from.

When given to `meta` on `map_partitions`, I get the following errors now:

[code]

What needs to be added to the Panda's registered data type for it to work in Dask?

[2021-03-12 13:23] quasiben commented on #7367
I don't think this is related to #3247.  Instead, I believe this is measuring the memory of the entire dataframe + the computation of `len`.  Instead, you can persist the data frame in memory then call `len`.  For example:

[code]

[code]

I would recommend reading the [best practices section on persist](https://docs.dask.org/en/latest/dataframe-best-practices.html#persist-intelligently)

[2021-03-12 14:15] jsignell commented on #5856
There have been lots more changes in parquet handling. So if you are able to try it again with dask 2021.03.0 you might find that it works, otherwise it'll be helpful to post a full traceback.

[2021-03-12 14:17] martindurant commented on #6123
Whilst looking through old issues, this one seems to have gone without activity for some time. Is it still of interest given the changes in high-level-graphs since then? If "yes" this sounds like a cool self-contained project that we should specifically task someone with.

[2021-03-12 14:25] martindurant commented on #6121
losing this issue as inactive. @kwmsmith - the documentation could of course be clearer. If you can think of a better way to phrase the practical use of `bytes_per_chunk` in the docsrting, please submit a PR with that change.

[2021-03-12 14:25] #6121 closed

[2021-03-12 14:26] jsignell opened #7378 "Policy for minimum versions on dependencies"
This came up in the maintenance meeting and then again in https://github.com/dask/dask/pull/7345#pullrequestreview-610010122 so I thought we can finish the conversation here.

@crusaderky mentioned how xarray handles this:

https://xarray.pydata.org/en/stable/installing.html#minimum-dependency-versions
The number of months listed is arbitrary and subject to negotiation. The key benefit of such a p

[2021-03-12 14:28] martindurant commented on #6108
Given the lack of activity here, I will close this in the absence of a clear reproducer and the passage of time. Please raise a *new* issue with a reproducer if the problem arises again.

[2021-03-12 14:28] #6108 closed

[2021-03-12 14:30] martindurant commented on #6104
Marked as "good first issue" for the latter suggestion of raising when encountering a `Grouper`. To actually solve using these objects is likely more involved.

[2021-03-12 14:35] martindurant commented on #6099
Closing this as inactive and a workaround available.
The parquet API has gone through a lot of changes in the mean time. This might even work now! In any case, we would still welcome a PR if not, but I would say that things are working correctly according to the specs of the documentation.

[2021-03-12 14:35] #6099 closed

[2021-03-12 14:38] martindurant commented on #6098
@HCelion , would you mind repeating this to see if it's still an issue? "Yes", it would be fine to make an example out of publicly available (large) data, if that's the only way you can get the problem to appear.

[2021-03-12 14:39] jsignell commented on #5873
I think this has been resolved now.

[2021-03-12 14:39] #5873 closed

[2021-03-12 14:39] jsignell commented on #5899
I am going to close, this but please feel free to reopen or open a new issue if you have suggestions!

[2021-03-12 14:39] #5899 closed

[2021-03-12 14:41] jsignell commented on #5910
I haven't seen this one show up in a while. I'll go ahead and optimistically close this.

[2021-03-12 14:41] #5910 closed

[2021-03-12 14:41] crusaderky commented on #7378
The 12 months policy of xarray has been found to be a bit too tight for people's comfort. 18 months sounds more reasonable.

[2021-03-12 14:44] martindurant commented on #6082
Given the extensive discussion here, I don't think there's much to add.
I will, however, briefly mention https://github.com/intake/fsspec-reference-maker/ , which would allow for (parallel) access to chunks of a binary file, where the set of offsets is easily available. That can be used in conjunction with Zarr to read binary data from some other file format. Worth a thought!

[2021-03-12 14:44] #6082 closed

[2021-03-12 14:45] #6081 closed

[2021-03-12 14:50] jsignell commented on #5914
This seems like a real issue with the `"kurt"` method. I think the flaky test part has been handled by making the check less precise.

[2021-03-12 14:52] martindurant commented on #6071
Marking as "good first issue", since `require` should solve this issue and would not be hard to add.

[2021-03-12 14:59] martindurant commented on #6070
Likely the same basic issue as https://github.com/dask/dask/issues/1493

[2021-03-12 14:59] hristog commented on #7324
For reference - I've documented some affected behavior under https://github.com/dask/dask-ml/issues/803 as well.

[2021-03-12 15:04] martindurant commented on #6058
XREF PR in xarray: https://github.com/pydata/xarray/pull/4659

[2021-03-12 15:06] martindurant commented on #6050
Closing as unverified.

[2021-03-12 15:06] #6050 closed

[2021-03-12 15:07] martindurant commented on #6049
Since this is rather old, I suspect that it will have been fixed in pyarrow.

[2021-03-12 15:07] #6049 closed

[2021-03-12 15:08] martindurant commented on #6039
Closing as unverified

[2021-03-12 15:08] #6039 closed

[2021-03-12 15:10] jrbourbeau commented on #7040
@lostmygithubaccount could you try with the latest release of `xgboost` / `dask` / `distributed`? There's been several updates since you originally ran into this issue. I wonder if this issue still exists

[2021-03-12 15:10] jakirkham commented on #6071
Actually I think we already fixed this in Distributed. Not sure what else is needed here

[2021-03-12 15:13] jrbourbeau commented on #7050
Just checking in here, @ravwojdyla do you have any updates?

[2021-03-12 15:15] #6071 closed

[2021-03-12 15:15] jsignell commented on #5942
import dask.array as da

def put_2(data):
    # Put 2 at first index of block
    data[0] = 2
    return data

# Create ones matrix with two chunk
d = da.ones(10, chunks=(5,), dtype='i4')
# Save it
d.to_zarr('/tmp/data.zarr', component='d', overwrite=True)

# Read Ones
read_d = da.from_zarr('/tmp/data.zarr', component='d')
# Apply put_2 on each block
new_d = da.blockwise(put_2, 'i', read_d, 'i', d

[2021-03-12 15:20] jrbourbeau commented on #7008
Just checking in here, @thuydotm could you see if this issue still exists after https://github.com/dask/dask/pull/6738 was included in Dask?

[2021-03-12 15:22] jrbourbeau commented on #6994
Closing due to lack of a reproducible example. @MaximilianHoffmann feel free to re-open if you're able to provide a code snippet we can run to reproduce the `TypeError`

[2021-03-12 15:22] #6994 closed

[2021-03-12 15:25] jrbourbeau commented on #6964
Closing due to lack of reproducible example. @mikewheel feel free to re-open if you're able to provide a code snippet we can use to reproduce the deserialization error.

[2021-03-12 15:25] #6964 closed

[2021-03-12 15:30] jsignell commented on #5942
I am taking a look at this now and can only reproduce with the distributed case. I think the issue is happening within the `to_zarr` method actually. If you add `compute=False` to the `to_zarr`,  it seems to work as expected:

[code]

[2021-03-12 15:36] lostmygithubaccount commented on #7040
this issue is no longer present

[2021-03-12 15:36] #7040 closed

[2021-03-12 15:47] AntSimi commented on #5942
I am able to recreate similar error with huge array, original array have only 1 and we put some 2, but several times i found  zeros in array
[code]

I used python 3.7.10 with dask-core-2021.3.0 and zarr 2.6.1

[2021-03-12 15:51] jsignell commented on #5942
I was able to get the desired output with this diff:

[code]

Would you be able to see if that works for you?

[2021-03-12 15:54] jsignell commented on #5942
I'm not sure what the implications are for performance, but that seems like a reasonable solution to me. I'll open a PR to carry on the conversation.

[2021-03-12 15:57] AntSimi commented on #5942
Thanks, with this patch, it work well for me.

[2021-03-12 16:00] jrbourbeau commented on #7040
Great, thanks for following up @lostmygithubaccount!

[2021-03-12 16:06] pentschev commented on #7008
I wasn't actually expecting workflows with xarray+CuPy to work after #6738, but at least this particular case seems to work for me now:

[code]

[2021-03-12 16:07] jrbourbeau commented on #7008
🎉 thanks for checking @pentschev!

[2021-03-12 16:07] #7008 closed

[2021-03-12 16:14] jsignell commented on #5953
If you are still interested in doing this PR @manzt it seems to me like you could just tweak `to_zarr` to accept chunks, and then pass chunks to `zarr.create` or `zarr.array` if #7379 merges.

[2021-03-12 16:18] jsignell commented on #5950
Would an acceptable solution here, be to add the `deep` kwarg and only accept `deep=False` and rais otherwise? I think that's what @TomAugspurger is suggesting above.

[2021-03-12 16:20] jsignell commented on #5951
Closing due to lack of example.

[2021-03-12 16:20] #5951 closed

[2021-03-12 16:21] jakirkham commented on #5953
Yeah I think the normal way to do this would be to `rechunk` since Dask isn't doing anything with locking.

If the chunks in Zarr are smaller than those in Dask and all Zarr chunks fit within Dask chunks, that may be safe to use without locking. However any deviations will require we use Zarr locking. I'm not totally sure how we will handle that when using the Distributed Scheduler.

[2021-03-12 16:28] martindurant commented on #5964
Closing as stale. The issue may be in HDF, and there a re a couple of suggestions of things to try as workarounds... Please reopen if you are still facing this issue.

[2021-03-12 16:28] #5964 closed

[2021-03-12 16:30] jsignell commented on #5965
I'm not sure if these images are interesting or not. But ping @jrbourbeau in case you have any opinions.

[2021-03-12 16:43] AntSimi commented on #5942
After a quick look to dask graph.
I think there will be a problem for array larger than memory, because if i understood correctly the graph all data must be loaded before to start storage.
![image](https://user-images.githubusercontent.com/36040805/110970454-0fc81c00-835a-11eb-80a4-b6885ff38103.png)

[2021-03-12 16:46] jakirkham commented on #7378
NumPy 1.17 was released at the end of July 2019, which would fit the 18 month requirement. This is handy as we can drop a bunch of compat code if we bump the minimum requirement to NumPy 1.17.

I think everything else is already meeting this requirement.

[2021-03-12 18:04] HCelion commented on #6098
Hi Martin,
Apologies I am not on that job anymore so don't even have that original data. I guess we can close the issue.

[2021-03-12 18:04] #6098 closed

[2021-03-12 18:33] jrbourbeau commented on #7371
Thanks for raising an issue @ma-sadeghi. Do you have thoughts on how the current situation could be improved?

[2021-03-13 05:11] sungreong commented on #7367
What I'm saying is that I don't want the memory increase to happen in any function, not just len.

Here too, when persisting, the memory increases, but as far as I can see, this part seems to increase linearly with the data size.

I'm asking because I want to avoid increasing memory in this way.

![image](https://user-images.githubusercontent.com/22166391/111019978-fd0b2100-8405-11eb-8179-10cffd26

[2021-03-13 10:27] hristog commented on #7369
Hi @jrbourbeau, thanks for creating this issue in correspondence to #7365!
If you agree that it wouldn't be an overkill, could you please label it as a [flaky test](https://github.com/dask/dask/labels/flaky%20test)?

[2021-03-13 10:44] kpasko opened #7382 "dask.config.set not working as described in docs"
**What happened**:

![image](https://user-images.githubusercontent.com/167271/111027516-9f46ec80-83a5-11eb-8c7f-a568b495b1ec.png)

**What you expected to happen**:

![image](https://user-images.githubusercontent.com/167271/111027503-9229fd80-83a5-11eb-92b2-f3b4ba52172b.png)

**Minimal Complete Verifiable Example**:

[code]

**Environment**:
- Dask version:  - dask=2021.3.0=pyhd8ed1ab_0, dask-core=

[2021-03-13 11:15] TAdeJong opened #7384 "min and max misbehave combined with da.as_gufunc (regression since 2.30.0)"
`min()` and `max()` do not work anymore when combined with at least some `da.as_gufunc()` signatures for recent dask releases, seemingly back to the 2020.12.0 update. Although this might be somewhat of a fringe use case, it seems it might signal some deeper issue, as other reductions do seem to behave correctly.

With a signature of `signature="(i,j) ->(i,j), ()"`, in past versions, for an input s

[2021-03-13 15:16] quasiben commented on #7367
It seems like you are asking for a workflow where you read in a bunch of data (read_csv) then do some work (calculate len) then delete everything.  If that's the case, great!   I would recommend reading through https://distributed.dask.org/en/latest/memory.html .  The sections on [clearing data](https://distributed.dask.org/en/latest/memory.html#clearing-data) may be particular useful for what you

[2021-03-13 16:49] jrbourbeau commented on #7382
Thanks for raising an issue @kpasko. Unfortunately I'm not able to reproduce using the conda packages you specified (i.e. in a fresh environment created with `conda create -n test python=3.8.8 dask=2021.3.0=pyhd8ed1ab_0 dask-core=2021.3.0=pyhd8ed1ab_0`) or the latest `main` branch. In both cases I get:

[code]

Could you confirm the version of Dask being used in your Jupyter session with `dask.__v

[2021-03-13 17:07] kpasko commented on #7382
can confirm it was '2021.03.0' within the kernel that was erroring. tried in a fresh kernel however, also returning '2021.03.0' and it seemed to no longer be an issue, so going to assume it was some minor conda-forge version update/mismatch on my end -- closing.

[2021-03-13 17:07] #7382 closed

[2021-03-13 17:18] LutzFassl commented on #6108
What

What was the problem with the code example that I provided? It’s not exactly minimal, but should be complete and reproduce the error (at least on systems with ram size <=24gig). The problem shows up only at a certain size of data therefore I needed/wanted to create a sizeable amount first. But could also just download a file instead of generating it.

[2021-03-13 18:34] martindurant commented on #6108
My apologies, your code was right there, but in an expandable block.

With the current version of dask, I am finding that the process *almost* completes, with "data stored" per worker hovering around 4GB. There are no longer warnings about memory leaks, at least for me. Perhaps a little more memory per worker would have been enough.

You should be aware that pivot_table produces a *single* partiti

[2021-03-13 20:11] hristog opened #7385 "[Discussion] Employ repository dispatch events to trigger CI jobs in dependent repos"
**Question:**
Would it be possible to employ repository dispatch events to trigger CI jobs in dependent repositories within the Dask organization?

**Background:**
For instance, a number of `dask-ml` (and other dependent on `dask` repos) tests started failing as a result of https://github.com/dask/dask/pull/7183. In the most general case, some changes may be needed in either/both repositories to e

[2021-03-13 20:32] LutzFassl commented on #6108
Thanks for your reply! I now understand that it's a given that pivot_table materialises into one partition. I was under the impression that dask should also carry this out in a distributed fashion. I worked around the problem eventually. Do you know if there is any plan to carry out pivot_table distributed in the future?

To your last comment: In this code example it's really the most classical /

[2021-03-14 11:34] sandeshlmore opened #7386 "TypeError: memoryview: cannot cast view with zeros in shape or strides"
What happened:

    distributed.protocol.core - CRITICAL - Failed to deserialize
    Traceback (most recent call last):
      File "/home/sandeshmore/PycharmProjects/dask_latest/dask_03/lib/python3.8/site-packages/distributed/protocol/core.py", line 130, in loads
        value = merge_and_deserialize(head, fs, deserializers=deserializers)
      File "/home/sandeshmore/PycharmProjects/dask_latest/d

[2021-03-14 12:59] TomAugspurger commented on #7324
cc @thomasjpfan, in case you have a chance to look at the bincount issue from https://github.com/dask/dask/pull/7183.

[2021-03-14 15:25] hristog commented on #7386
Hi,

To provide some further context, I've performed some quick investigation, and the latest versions of `dask` and `distributed`, that are fully compatible and work for both of @sandeshlmore's examples (`Interclusdistance1` and `Interclusdistance2`) are https://github.com/dask/dask/commit/3674876d75428a228c6db1b704f1cab73c1934eb and https://github.com/dask/distributed/commit/31119c49536303dbb877

[2021-03-14 16:35] nils-braun commented on #5644
Recently, @beckernick brought my attention to https://github.com/IntelPython/sdc (in https://github.com/nils-braun/dask-sql/issues/143). This project offers numba optimizations for pandas operations. In my very naive world I would think this (and numba itself) can be used on fused subgraphs to compile the code before distributing it to the workers (so compile it once and run it multiple times) - s

[2021-03-15 00:51] jrbourbeau commented on #7385
Thanks for bringing this up @hristog! Making sure changes to Dask don't break downstream projects is certainly an important goal.

One useful pattern we've seen is having downstream projects test against the development version of Dask (and other dependencies) in their own CI. Then when an issue arises, which typically happens at a relatively low frequency, they open an upstream issue in the Dask

[2021-03-15 05:42] ArchangeGabriel opened #7390 "Failing tests with OSError: [Errno 24] Too many open files"
**What happened**: Test suite fails with multiple `OSError: [Errno 24] Too many open files`

**What you expected to happen**: Test suite passes.

**Minimal Complete Verifiable Example**:

[code]

Output of failing tests:
[code]

**Anything else we need to know?**: Packaging for Arch Linux

**Environment**:

- Dask version: 2021.3.0
- Python version: 3.9
- Operating System: Arch Linux
- Install met

[2021-03-15 06:01] ArchangeGabriel commented on #7390
Apparently this seems intermittent, as re-running did not made these failures happen again. Not sure whether that’s worth investigating then…

[2021-03-15 08:00] GenevieveBuckley commented on #7324
@pentschev can you try this and see if it fixes the cupy tests for bincount? https://github.com/dask/dask/pull/7391

[2021-03-15 09:25] pentschev commented on #7324
@GenevieveBuckley thanks for pinging me, but unfortunately I still see the same failure with #7391 :

[code]

[2021-03-15 10:35] ravwojdyla commented on #7050
👋 @jrbourbeau, thanks for the checkin. Probably obvious at this point, but I wasn't able to find time to get this done yet. Will try to plan for it, but to be clear if anyone else would like to take a stab, by all means, please do.

[2021-03-15 13:23] davidhassell opened #7392 "Redesigned __setitem__ implementation"
This issue, and its accompanying PR, is for a redesign of the extended `Array.__setitem__` functionality.

### History

Issue #7029 proposed an extended `__setitem__` functionality that more closely matched that of `numpy`.

Whilst this did provide the functionality, it was flawed in that it could create an excessive number of threads leading to a crash (#7261). It was limited in other ways, too:

[2021-03-15 13:40] #7022 closed

[2021-03-15 14:36] raybellwaves opened #7395 "add readthedocs builds in PR"
I think this can be configured in readthedocs. I know xarray has it but I don't think there is any code for it on github. You can only see it on open PRs e.g. bottom of https://github.com/pydata/xarray/pull/5031

[2021-03-15 14:50] #7293 closed

[2021-03-15 15:05] jsignell commented on #7139
Yeah I think it should either be

[code]

or something that is basically equivalent like:

[code]

[2021-03-15 15:10] jsignell commented on #7139
For instance in that test you point to we should be able to add this check and it should work:

[code]

The index of `pandas_mean` indicates what our partitions should be like.

[2021-03-15 15:36] jrbourbeau commented on #7390
Thanks for raising an issue @ArchangeGabriel. Does it happen, but infrequently, or are you not able to trigger the `OSError` again?

[2021-03-15 15:56] jsignell commented on #7363
I suspect that @martindurant will be able to advise. I suspect you might be interested in the ``chunksize`` option.

[2021-03-15 15:58] jsignell commented on #7366
Yeah to be clear, I don't think our upstream tests have been passing in a very long time. I started #7180 again to start working on them.

[2021-03-15 16:08] jrbourbeau commented on #7395
Thanks for the suggestion @raybellwaves. We already have a documentation build on PRs to ensure that they can be built successfully. However it looks like the readthedocs builds do this as well as provide a preview of the docs for each PR -- which is really useful. Today maintainers have to checkout a PR locally and then build the docs themselves, so automating this in a CI build would definitely

[2021-03-15 16:11] jsignell commented on #7377
What happens if you pass in a dataframe that looks like the expected output to `meta` something like `df.head()` or `df.partitions[1].head()` if that is more representative.

[2021-03-15 16:14] jsignell commented on #7376
I'm not sure how much luck we'll have debugging this from the dask side, but ping @rjzamora just in case you've seen something like this before.

[2021-03-15 16:17] jsignell commented on #7377
Actually I'm wondering if this is a manifestation of https://github.com/dask/dask/pull/7375

[2021-03-15 16:18] achapkowski commented on #7377
If you pass what the data should look like, and it doesn't match the input, it will fail.  One solution I found was to set ```enforce_metadata=False```.

[2021-03-15 16:21] martindurant commented on #7376
It sounds like this should be a retriable condition within adlfs. There are similar things in s3fs, when too many connections are active at a time and either the server closes some prematurely or something times out.

[2021-03-15 16:32] jsignell commented on #7050
Ping @jakirkham, @quasiben in case you all have interest/time :)

[2021-03-15 16:34] jsignell commented on #7390
I think this is a duplicate of #7291

[2021-03-15 16:34] #7390 closed

[2021-03-15 16:45] jakirkham commented on #7050
cc @pentschev @cjnolet

[2021-03-15 16:50] rubenvdg commented on #7139
I don't think I understand that. Doesn't `ddf.mean()` just return the column means?

[2021-03-15 17:12] #7334 closed

[2021-03-15 17:15] gjoseph92 commented on #7377
@jsignell yes, I believe this is related to #7375. Basically right now, dask does not support `map_partitions` with a function that returns a pandas ExtensionArray. If it's going to return an array-like, it must return a NumPy array.

Note that #7375 will not resolve this in general; it'll just make `.values` on such a Series with an ExtensionDtype work. The fix for the issue in generality should

[2021-03-15 17:23] m-rossi commented on #7334
Seems to work now, thanks @rjzamora!

[2021-03-15 17:25] raybellwaves commented on #7395
May be somewhere in here. I forget

![Screen Shot 2021-03-15 at 1 24 45 PM](https://user-images.githubusercontent.com/17162724/111194697-d24dd380-8591-11eb-986d-5b3d39fa34f4.png)

[2021-03-15 17:30] achapkowski commented on #7377
The output is the partitions of data being send to each client.  The first chunk is a Point dataset which is derived from this:

[code]

Where the default geometry is:

[code]

The output for these calls is a DataFrame.  I am performing operations like spatial joins or performing overlay operations like select by location (intersection operation).  In the case of the `spatial join`, there are case

[2021-03-15 17:43] jakirkham commented on #7334
Thanks for confirming! 😄

[2021-03-15 18:06] jakirkham commented on #7366
Also seeing an HDFS failure [on CI]( https://github.com/dask/dask/runs/2114891256 )

[code]

[2021-03-15 18:08] jakirkham commented on #7366
Actually the first time that HDFS failure shows up is commit ( https://github.com/dask/dask/commit/5a12b5403250c4e5d712e3a76456d0d6da92fe54 ). Not sure if that is related or coincidental

cc @martindurant (in case you have any thoughts here 🙂)

[2021-03-15 18:37] hristog commented on #7385
Hi @jrbourbeau! Thanks for the detailed response! It does make sense, yes.

Yes, please. I'm closing this issue as rejected. I'll leave it up to you to decide whether you'd prefer to re-open it, for the sake of having it as a reminder for the `dask-ml` proposal.

[2021-03-15 18:37] #7385 closed

[2021-03-15 18:47] keewis commented on #7395
the option is in "Advanced Settings"

[2021-03-15 18:49] jrbourbeau commented on #7395
Thanks for the tips @raybellwaves @keewis. I opened up a PR over in https://github.com/dask/dask/pull/7397 which demonstrates that the readthedocs build is working (🎉 ) and removes our existing GitHub actions doc build

[2021-03-15 18:50] kpasko opened #7398 "add "ignore_order" parameter for categoricals in dd.concat"
it would be handy to have a passthrough parameter to dd.concat  - currently the union_categoricals call is parameter-free:

[code]

This can be made more flexible as follows from the pandas docs ( I believe, though I know there are details to how dask is handling categoricals vs pandas )

[code]

[code]

[2021-03-15 19:14] gjoseph92 commented on #7377
How are you seeing this? Print statements in the function you're passing to `map_partitions`? Again, if you could share the code for the function you're passing to `map_partitions`, that would be very helpful.

You may already know this, but `map_partitions` works by first calling your function on a "dummy" pandas DataFrame—in this case, the one produced by your `@make_array_nonempty.register(GeoT

[2021-03-15 21:10] ArchangeGabriel commented on #7390
Indeed seems a duplicate.

[2021-03-15 22:58] GenevieveBuckley commented on #7324
Thanks Peter, I might take more of a look at it today

[2021-03-15 23:38] jrbourbeau commented on #7378
FYI I opened up an issue in the community issue tracker informing folks who may not watch the `dask/dask` tracker about this issue

[2021-03-15 23:40] GenevieveBuckley commented on #7324
It seems `.meta` is always being made a numpy array (rather than updating to whatever the array type actually is). Let me see if I can change that

[2021-03-16 03:38] GenevieveBuckley commented on #7324
Thanks Peter! Fixed in this commit: https://github.com/dask/dask/pull/7391/commits/6bf5340e7434ac40de7812d90902fc9074bfad6b

I have cupy version 9.0.0b3 installed on my machine locally, and the cupy `test_bincount` passes with this change.

[code]

As you say, the other tests related to https://github.com/dask/dask/pull/6997 are still failing. PR https://github.com/dask/dask/pull/7391 doesn't addr

[2021-03-16 04:12] GenevieveBuckley commented on #7324
Hmm, it seems that the `like` kwarg for numpy array creation was only introduced in numpy version 1.20

This means my fix works if you have a recent version of numpy, but is now breaking the dask CI tests because the minimum numpy dependency allowed is version 1.15.1 See https://github.com/dask/community/issues/136

Not sure what's the best way to handle it.

[2021-03-16 09:19] pentschev commented on #7324
I added https://github.com/dask/dask/pull/7391#discussion_r594983434 on the PR, using [`array_safe`](https://github.com/dask/dask/blob/a1187b13321d69565b9c21359d739c239bd04c65/dask/array/utils.py#L445-L458) should resolve issues with older NumPy versions. 😄

Thanks @GenevieveBuckley for working on that!

[2021-03-16 12:09] achapkowski opened #7401 "Reading Multiple Parquet Causes Error"
Reading multiple parquet files is causing an error:

[code]

Error:

[code]

FID is an integer column.  I have 4 parquet files.

[2021-03-16 12:10] achapkowski commented on #7401
Here is a sample parquet file
[parquet_sample.zip](https://github.com/dask/dask/files/6148798/parquet_sample.zip)

[2021-03-16 13:18] bmerry commented on #7218
be curious to learn which downstream libraries are setting name and why.

I have some code that rewrites the name of an array in place (including renaming all the keys of the graph). This is done if the data underlying the bottom-most levels of the graph is modified, to ensure that any sort of caching of intermediate blocks is invalidated. So I am now using the escape hatch of assigning to `_name`

[2021-03-16 13:25] bmerry opened #7402 "HLG culling scales quadratically with number of layers"
The changes since dask 2.30 to do culling on high-level graphs has caused a significant performance degradation in some code that produces graphs with large numbers of layers. In practice I'll want to modify the code to not produce so many layers, but it is still something that can be improved.

I have a PR in the works to fix the hotspots that profiling is showing me.

**What happened**: The code

[2021-03-16 14:36] jrbourbeau commented on #7218
Good to know, thanks @bmerry. Hopefully the move to `_name` didn't disrupt things too much for you

[2021-03-16 14:40] bmerry commented on #7218
Nah, just a couple of lines of change. We religiously pin dependencies so the disruption was controlled. I brought it up mostly so that you're aware that the escape hatch is being used.

[2021-03-16 14:45] jorisvandenbossche commented on #7334
FYI, I opened https://issues.apache.org/jira/browse/ARROW-11983 on the pyarrow side (since it's still a bug that the import fails from inside a thread pool)

[2021-03-16 15:03] rjzamora commented on #7401
Thanks @achapkowski - Can you share what versions of `dask` and `distributed` you are using here?

[2021-03-16 15:56] achapkowski commented on #7401
[code]

[2021-03-16 16:03] jrbourbeau commented on #7401
Thanks @achapkowski. `distributed=2021.03.0` [requires `dask>=2021.03.0`](https://github.com/dask/distributed/blob/b57d7239b94d733c768b7c6597a0c06e35b079ee/requirements.txt#L3) -- could you update your version of Dask and try rerunning things?

[2021-03-16 16:09] crusaderky commented on #7378
We just discussed the issue at the maintainers' meeting. The general consensus is:
- People are generally happy to have *some* rolling policy instead of having to discuss version bumps every time
- If we're going with NEP-29, it should be implemented lazily, that is minimum versions should not be bumped up until they become an actual nuisance. In other words, we shouldn't aggressively pursue clean

[2021-03-16 16:19] achapkowski commented on #7401
sure

[2021-03-16 16:49] achapkowski commented on #7377
[code]

Where `part` would be a pd.DataFrame, `part.spatial` is a custom Pandas' accessor, and  self._sfn_method would be:

[code]

This allows me to perform a spatial join on each partition for the dask dataframe, or at least that is the thought.

[2021-03-16 17:28] achapkowski commented on #7401
That seems to have fixed it.  It appears dask-ml downgraded part of the dask install.

[2021-03-16 17:40] #7401 closed

[2021-03-16 18:18] jrbourbeau opened #7406 "Support for sqlalchemy>= 1.4.0"
In https://github.com/dask/dask/pull/7405 we temporarily pinned `sqlalchemy<1.4.0` to avoid deprecation warnings from being raised inside pandas (xref https://github.com/pandas-dev/pandas/issues/40467) which caused CI here to start failing.

We should revisit this and make sure Dask is compatible with newer version of `sqlalchemy`. There _may_ be some code changes we need to make to support `sqlal

[2021-03-16 19:53] hristog commented on #4290
Hi @mrocklin, I was about to pick this issue and have a stab at it, but it seems to me it's already been addressed in https://github.com/dask/distributed/pull/3429 (which introduces `dashboard_link`).

Could you, please, confirm if this issue can be closed as done?

[2021-03-16 20:32] theXYZT opened #7409 "Update Dask Array's FFT implementation to include `norm` keyword."
Numpy/Scipy FFT functions now accept a `norm` keyword for normalizing the output. Currently, `dask.array`'s FFT implementation does not allow for this. It would be great to update Dask Array's implementation to match with the current Numpy/Scipy API.

Here's a snippet of what currently happens:

[code]

[2021-03-16 20:36] theXYZT commented on #7409
This was requested in #3280. I didn't see it in my search, my apologies. I'll close this issue now.

[2021-03-16 20:36] #7409 closed

[2021-03-16 21:14] jrbourbeau commented on #4290
Thanks for following up @hristog! I think you're correct that `Client.dashboard_link` takes care of this feature request -- @ebo feel free to reopen if needed

[2021-03-16 21:14] #4290 closed

[2021-03-17 00:28] hristog commented on #6555
Hi @jrbourbeau, could you please elaborate on the "config option" part?
I suppose, based on the wording, you're referring to something other than a flag that's passed to a particular function or set of functions.

[2021-03-17 02:59] hmaarrfk commented on #7378
I somewhat disagree with this. I feel like versions should be bumped when:
* They become too old as per the established policy.
* Any contributor, core or not, has an interest in making the contribution.

The ability of non-core contributors to make the PR is critical since asking new contributors to ensure compatibility with old versions of libraries can be quite onerous.

I agree that they shoul

[2021-03-17 03:29] jrbourbeau commented on #6555
Dask has it's own [configuration system](https://docs.dask.org/en/latest/configuration.html) that let's user customize some of Dask's behavior (e.g. logging verbosity). The proposal here is to add a new configuration option that controls if users are informed when [`dask.base.normalize_object`](https://github.com/dask/dask/blob/1767fedd2f0662ba2fd6a9caebf2d3595ca8046c/dask/base.py#L838) isn't able

[2021-03-17 08:32] eric-czech commented on #6835
The "Random Projections" baseline in Figure 1 looks to be a compatible comparison (of accuracy) to the Halko 4.3 algorithm with no power iterations:

<img width="343" alt="Screen Shot 2021-03-17 at 2 44 39 AM" src="https://user-images.githubusercontent.com/6130352/111426252-c154ad80-86ca-11eb-8d40-10678024a673.png">

It would be interesting to see how much a power iteration or two changes that pic

[2021-03-17 10:37] crusaderky commented on #7378
With my addition in bold, what you and I said would become perfectly aligned

Support in downstream libraries for old versions of dask is something that each downstream library should be free to decide by themselves. Here we were strictly discussing the dependencies of dask itself...

[2021-03-17 11:30] jie666-6 opened #7412 "can't pickle_asyncio. task type using client.compute"
Here is my code:
[code]

Then I got this error for the line of client.compute: can't pickle_asyncio. task type

[code]

So I would like to ask for help to solve this error here.
Thanks in advance

**Environment**:

- Dask version: 2021.3.0
- Python version: 3.6.7
- Operating System: Win10
- Install method (conda, pip, source): conda

[2021-03-17 12:19] RogerMoens commented on #6835
@eric-czech: from my experience so-far, it changes a lot! Also if you have information from a previous SVD, it might speed up the process and the accuracy!

Also an important note is that it really depends on the matrix you are sampling/sketching. E.g. when your matrix has bases that are sparse (only a few entries which are important), it might be harder to achieve the same accuracy as when you ha

[2021-03-17 14:15] hristog commented on #6555
Thanks, @jrbourbeau! I've created https://github.com/dask/dask/pull/7413 to address this.
I've opted to not going for an overkill and adding analogous handling of other instances of fallbacks to `uuid.uuid4().hex`, elsewhere in `dask/base.py` (e.g., [here](https://github.com/dask/dask/blob/1767fedd2f0662ba2fd6a9caebf2d3595ca8046c/dask/base.py#L822) and [here](https://github.com/dask/dask/blob/1767

[2021-03-17 14:43] quasiben commented on #7350
Awhile back @crusaderky was contemplating how dask could operate in hybrid cpu-gpu environment in https://github.com/dask/distributed/issues/1226

I also think this issue is better suited for dask/distributed so I'll move this to the distributed GH repo

[2021-03-17 16:23] hmaarrfk commented on #7378
I think the requirement for "need" adds unnecessary complexity for minimum version bump.

I'm trying to find the numpy/scipy thread that discussed this. In the end, it is about having clear guidelines on what to support and what not to support.

Looking at the highlights from the [1.17.0 numpy release](https://numpy.org/devdocs/release/1.17.0-notes.html#highlights), ever single one of these could

[2021-03-17 17:26] #7395 closed

[2021-03-17 17:42] jrbourbeau commented on #7406
The deprecation warnings have been resolved upstream in https://github.com/pandas-dev/pandas/pull/40471. It looks like those updates are being backported to `pandas=1.2.4`.

Though I'll note that when using the latest `pandas` nightly release (which includes the updates from https://github.com/pandas-dev/pandas/pull/40471) and `sqlalchemy=1.4.0` I still get test failures like the one mentioned abo

[2021-03-17 21:47] jrbourbeau commented on #7412
Thanks for raising an issue @jie666-6. It looks like Dask is having trouble pickling an object. Are you able to provide a minimal reproducer that we can run to try and debug? (see https://blog.dask.org/2018/02/28/minimal-bug-reports)

[2021-03-18 06:20] jakirkham commented on #7361
Should we go ahead and close or is there more we'd like to do here?

[2021-03-18 06:24] jakirkham commented on #7261
It would be good if people here could try out PR ( https://github.com/dask/dask/pull/7393 ) and report back how it is working 🙂

[2021-03-18 11:06] davidhassell commented on #7392
Here are some figures that hopefully explain the implementation, that we found useful whilst developing this code:

![setitem1](https://user-images.githubusercontent.com/8126576/111615673-ef281800-87d8-11eb-8393-817c7c41d951.png)
![setitem2](https://user-images.githubusercontent.com/8126576/111616559-eedc4c80-87d9-11eb-8e40-2b7a13cda18c.png)

[2021-03-18 11:39] alimanfoo commented on #3530
Just thought I'd mention that I've been observing apparent memory leaks when using dask array on a kubernetes cluster, several GB was accumulating in the main process where the client and scheduler are running despite no large results being computed into memory. Memory usage remained after closing client and cluster. Clearing scheduler logs freed a little memory but did not resolve the main leak.

[2021-03-18 15:29] #7361 closed

[2021-03-18 15:29] jrbourbeau commented on #7361
Should be good here -- @jsignell opened up issues in other repos. Thanks for the reminder @jakirkham

[2021-03-18 15:46] #4659 closed

[2021-03-18 21:34] jsignell commented on #7384
Thank you for the well-crafted bug report. I'll ping @pentschev and @quasiben since they were involved in the PR you linked.

[2021-03-18 21:35] jsignell commented on #7398
That sounds like a nice addition, thanks for writing it up! If you have time to work on a pull request, that is the best and quickest way to get this feature :)

[2021-03-19 05:48] jakirkham commented on #2651
Interesting with that last example actually run into a different issue (should add I'm running from `main`)

[code]

[2021-03-19 05:49] jakirkham commented on #2651
In any event the issue in the OP, doesn't appear to produce an error any more. There has been a lot of work in this space over the years. While there are probably other cases that don't work, it would be easier to track these in new issues and tackle them separately. Going to go ahead and close this out (please do feel free to raise new issue though 🙂). Thanks! 😄

[code]

[2021-03-19 05:49] #2651 closed

[2021-03-19 05:56] Madhu94 commented on #6067
I'd like to pick this up if @Biarys is not planning to go ahead with this.

[2021-03-19 06:33] jakirkham commented on #6067
Would say go for it @Madhu94! 😄

[2021-03-19 07:35] gsc2001 commented on #7398
Can i work on this ?

[2021-03-19 10:37] alimanfoo opened #7416 "compute_chunk_sizes could be more efficient for arrays with >1 dimension"
MCVE: https://colab.research.google.com/drive/1KNlfPiZECPcCestEh3gzpDrB9mvbbN2H?usp=sharing

In the above example, after indexing a 3d dask array with a 1d dask array via `da.compress()`, I would like to then compute the chunk sizes. Running `compute_chunk_sizes()` takes 44 s. Manually computing the chunk sizes requires ~200 ms.

Looking at the source code for `compute_chunk_sizes()` I suspect the

[2021-03-19 13:15] jsignell commented on #7412
As a note, I often see issues like this when the library isn't available on the worker.

[2021-03-19 13:16] #7341 closed

[2021-03-19 13:26] jsignell commented on #5550
I can no longer reproduce on most recent dask - 2021.03.0 which means that it was probably fixed in the blockwise work the @rjzamora did!

[2021-03-19 13:26] #5550 closed

[2021-03-19 13:29] jsignell commented on #5592
I am going to close this since it seems like the behavior while possibly confusing is definitely intentional. If you have a suggestion for an improvement I suggest you bring it up on fsspec.

[2021-03-19 13:29] #5592 closed

[2021-03-19 13:33] martindurant commented on #6020
ping @gorlins , did you ever end up working on this?

[2021-03-19 13:37] martindurant commented on #6020
If not, I suggest checking that this is still a case and making a new issue or reopening with a clear test case showing the problem (lost rows).
I'll close this for now.

[2021-03-19 13:37] #6020 closed

[2021-03-19 13:51] martindurant commented on #6018
We find that the exception still occurs. It seems that `meta_nonempty`, when presented with an nullable integer, make a column containing one `<NA>`, even though the original data has none. **If** the original data has a <NA>, it fails in the same way.

So `meta_nonempty`/`_nonempty_sries` needs to make a decision on when to include NANs, whether this is necessary.

May be related to https://githu

[2021-03-19 14:01] jsignell commented on #5720
The error has changed now, but the reproducer still raises an error. I think that we need a different way of checking dtypes rather than relying on `np.issubdtype(data.dtype, np.integer)`. This is related to #7375.

[code]

[2021-03-19 14:02] martindurant commented on #6012
@TomAugspurger 's suggested fix, with appropriate test, may be a small PR. However, I suspect that setting the df _meta correctly would be at least a simple workaround.

[2021-03-19 14:07] martindurant commented on #5993
Can we mark this as at least partially resolved?

For a discussion on the status of shared memory in one-node distributed, see https://github.com/dask/distributed/issues/4497

[2021-03-19 14:10] jsignell commented on #5594
I am running this with the `ResourceProfiler` and can't reproduce. I am going to close this with the optimistic assumption that this issue has been resolved, but please reopen if you still see it.

[code]

![image](https://user-images.githubusercontent.com/4806877/111792847-0b8c8900-889b-11eb-9cd5-a19ce309844a.png)

[code]

![image](https://user-images.githubusercontent.com/4806877/111793052-40004

[2021-03-19 14:10] #5594 closed

[2021-03-19 14:12] martindurant commented on #6009
Ping here - can we come to a resolution here?

[2021-03-19 14:17] jsignell commented on #5622
Ok I am going to close this again. It's not feasible for dask to re-write many docstrings, so we have to rely on copying the ones from pandas and numpy and adding a generic disclaimer. If you have a section that you think should be added to the `corr` method, please open a pull request to add that.

[2021-03-19 14:17] #5622 closed

[2021-03-19 14:20] martindurant commented on #6914
Sorry I never noticed this before. Indeed, "tip-data" is gone.

[2021-03-19 14:20] #6914 closed

[2021-03-19 14:21] jsignell commented on #5595
I'm going to close this since work is not ongoing and there is no plan to work on this feature. @jcmgray please reopen if that changes!

[2021-03-19 14:21] #5595 closed

[2021-03-19 14:22] martindurant commented on #6877
I a closing this, as we were not able to recreate the problem. If a case can be generated that clearly shows it, then please reopen!

[2021-03-19 14:22] #6877 closed

[2021-03-19 14:23] martindurant commented on #6833
Following the appearance of high-level-graphs in the scheduler, there is a good chance that this issue has been mitigated. I suggest closing.

[2021-03-19 14:25] martindurant commented on #5967
Closing due to lack of a reprducer.

[2021-03-19 14:25] #5967 closed

[2021-03-19 14:26] jsignell commented on #5642
I ran the MRE in the related PR and wasn't able to reproduce the issue. I'm going to close this but please reopen if you run into it again!

[2021-03-19 14:26] #5642 closed

[2021-03-19 14:38] kpasko commented on #7398
I see two options -

[code]

Here kwargs is passed through, and so we could add a check -

[code]

where False is the pandas default.

Or alternatively, we explicitly daisy chain the ignore_order argument down through the functions and use directly.

Thoughts?

[2021-03-19 14:41] TomAugspurger commented on #5720
Just an FYI, I think pandas considers `DataFrame.set_index("nullable_dtype_column")` converting from a nullable Int64Dtype to a NumPy dtype to be a bug, and so it might be fixed in any version (there's some effort underway now). We *could* match pandas bug-for-bug here, but maybe it's best to have users do the conversion if that's really what they want. Then when pandas adds support for extension

[2021-03-19 15:32] jsignell commented on #7327
I think we need to have more discussion about this proposal especially since there are other methods that might benefit from a rename  `is_dataframe_like`.

@dask/maintenance for visibility

[2021-03-19 15:46] jsignell commented on #5621
Closing this issue since the failure is clear now.

[2021-03-19 15:47] gjoseph92 commented on #7377
What is `right_df` in this case? A `pd.DataFrame` or a dask DataFrame? (I don't think a dask DataFrame will work.)

I'm still unclear on what the issue is.

Is this accurate? Is the problem that `join` is failing on your dummy data that contains Points?

[2021-03-19 15:48] douglasdavis commented on #7327
@jsignell were talking through this a bit and thought about adding to the docstring something along the lines of:

[code]

Any thoughts on this?

[2021-03-19 15:51] jsignell commented on #5633
This method should be faster than when this issue was originally posted since dask is now looking at only one column. The parquet also has specially handling for when the len metadata is available.

[2021-03-19 15:54] jsignell commented on #5610
Just wanted to drop a note here that there are still many docs warnings https://readthedocs.org/api/v2/build/13290377.txt for example

[2021-03-19 16:33] jrbourbeau commented on #7416
Thanks for bringing this up @alimanfoo! I agree that the current implementation could be improved by just computing chunksize across the margins of each dimension. FWIW we do a similar optimization for computing the length of a Dask DataFrame (i.e. we only compute the length of a single column).

[2021-03-19 16:34] jrbourbeau commented on #7416
cc @gjoseph92 as this issue may interest you

[2021-03-19 17:21] douglasdavis commented on #7327
Beyond that, a quick
[code]
does the trick to rename all occurrences to `is_duck_array`, is more discussion around this necessary or would a PR be the next step?

[2021-03-19 17:37] jakirkham commented on #7327
@shoyer @pentschev @jrbourbeau, any more thoughts here? 🙂

[2021-03-19 18:08] #7337 closed

[2021-03-19 19:21] Biarys commented on #6067
@Madhu94 please go ahead :)

[2021-03-19 19:26] pentschev commented on #7384
TBH, I'm not very skilled with gufuncs. However, I spent some (too much) time trying to understand what's going on here, I can confirm changes from https://github.com/dask/dask/pull/6736 are indeed responsible for this. The problem lies on those divergences between how libraries treat scalars, 0D and ND arrays, and I'm fairly certain this is to some extent very similar to the problem discussed in

[2021-03-19 19:59] jakirkham opened #7424 "`test_basic` failing with sparse"
[code]

https://github.com/dask/dask/pull/6322/checks?check_run_id=2151490009

[2021-03-19 20:00] jsignell commented on #7424
See #7421 and #7169

[2021-03-19 20:00] #7424 closed

[2021-03-19 20:00] jakirkham commented on #7424
Oops sorry missed that

[2021-03-19 20:09] jakirkham commented on #6220
Sorry for the lack of reply Tom. Agree that switching Dask to use `map` in the future makes sense. We should probably track that in a new issue once we are happy with and have merged PR ( https://github.com/dask/dask/pull/6322 )

[2021-03-19 20:14] bolliger32 opened #7425 "bugs in daskhub-2021.3.0 chart"
I've noticed a couple of (what I think are) bugs in the latest daskhub chart.

1. while it should point to v0.9.0 of the dask-gateway chart (as indicated in `Chart.yaml`, when you actually go inside the `charts/dask-gateway` folder it looks like it is v0.8.0.
2. It seems that all of the default values from the jupyterhub and dask-gateway dependencies are copied into the `values.yaml` file. I'm not

[2021-03-19 20:17] jrbourbeau commented on #7425
cc @jacobtomlinson

[2021-03-19 20:41] #7402 closed

[2021-03-19 21:34] jsignell commented on #7424
No worries :) I've just stared at that test for too long in the past.

[2021-03-19 21:35] #7272 closed

[2021-03-19 21:45] Madhu94 commented on #6810
I think this is good to close since in the [linked PR](https://github.com/dask/dask/pull/6872#issuecomment-760213472), it was decided this warning may not be needed.

[2021-03-19 22:47] #7199 closed

[2021-03-19 23:01] gjoseph92 commented on #7416
Thanks for pointing this out @alimanfoo. I agree that there's probably a more efficient way to compute the chunksizes. A couple notes:

* I might be wrong here, but I think we actually are already only computing along the margin/basis of each dimension: yes, we `map_blocks`, but then for each axis, we slice out the chunk shapes at index 0 of all other axes (key here is the `[0]` (I also find this

[2021-03-19 23:39] pentschev commented on #7327
I'm fine with changing that as per @douglasdavis' proposal. However, I often forget about small details so it'd be great to hear from @shoyer and @jrbourbeau if they see anything missing.

[2021-03-19 23:44] jakirkham commented on #6220
One thing that is a little odd about `map`, is it doesn't return `Future`s, but instead a generator, which produces all of the results in order. However Dask doesn't really need to wait for them to finish in order and doesn't need for all of them to finish before submitting new tasks. Not sure if there is a better way to approach this with `concurrent.futures`, but wanted to raise these limitation

[2021-03-20 03:21] jakirkham commented on #6220
Ok PR ( https://github.com/dask/dask/pull/6322 ) now handles batching as well. We couldn't use `map` for the reason above and because of some oddities with `ProcessPoolExecutor.map` on Windows. However we do batch submissions with `Executor.submit`, which seem to have fairly similar performance

[2021-03-20 06:09] Vasilyeu opened #7428 "Error in version 2021.02.0 and later (ValueError: cannot convert float NaN to integer)"
Application runs in Docker container
Dockerfile:
[code]

requirements.txt file:
[code]

When I try to read parquet from Minio remote storage I have got an error
Code:
[code]

Error:
[code]

The same code with the same data runs without errors with dask versions 2021.01.1 and earlier.
The error happens in versions 2021.02.0 and 2021.03.0

[2021-03-20 16:06] jrbourbeau commented on #6690
It seems https://github.com/dask/dask/pull/6763 closes this issue. @oarcher  feel free to re-open if that's not the case

[2021-03-20 16:06] #6690 closed

[2021-03-20 16:20] jrbourbeau commented on #6956
Just checking in, @ben10he did the changes in https://github.com/dask/distributed/pull/4213 help with your use case?

[2021-03-20 16:48] jrbourbeau commented on #6376
Since https://github.com/dask/dask/pull/7200 has been merged is there anything else to do here? Or are we okay to close?

[2021-03-20 17:42] jrbourbeau commented on #7428
cc @martindurant @rjzamora

[2021-03-20 17:51] jrbourbeau commented on #6810
Thanks for following up here @Madhu94

[2021-03-20 17:51] #6810 closed

[2021-03-20 18:59] shoyer commented on #7327
Remind me what the use case for this function inside dask is?

If it's specifically for testing valid duck array types to return from computing a dask array, then this looks right to me.

With regards to the proposed docstring addition: it seems a little funny to include pandas.Series as an example of a "duck array" because it doesn't work like a numpy.ndarray object. Nor does pandas.Series implem

[2021-03-20 19:56] stonebig commented on #7428
isn't it a bit of a problem to have wheels distributed-2021.3.0 but requirement   distributed-2021.03.0 ?

[2021-03-20 20:05] jrbourbeau commented on #7428
Sorry @stonebig I don't follow what you're asking

[2021-03-20 20:47] alimanfoo commented on #7416
Thanks Gabe, appreciate there is some complexity here.

Just wanted to mention that arr[idx.compute()] is not an option for me
unfortunately. Because idx is of the order of 50MB computing it then using
as an argument causes a blow up of memory usage on the scheduler. That is
in fact what I was originally doing, then found I was running out of
memory, then started exploring indexing with the dask a

[2021-03-20 22:46] stonebig commented on #7428
hum, sorry I'm struggling with then new pip, and thought distributed-2021.**0**3.0  could be the problem. it seems not now.

[2021-03-21 00:57] CrashLaker commented on #6376
Hi @jrbourbeau

Is #7200 part of `dask==2021.3.0` already? I can't tell.
If yes then I'm afraid I'm still facing `segmentation fault`.

`pip freeze`
[code]

But still the main problem I was having when I first opened this issue **has been solved**.
So to me this can be closed now.
Again appreciate all your attention and hardworking :)

[2021-03-21 02:21] Madhu94 commented on #1259
I believe this ticket was closed by mistake while merging https://github.com/dask/dask/pull/7236. Can this be reopened?

[2021-03-21 15:51] tgaddair opened #7432 "Adding columns in loop overwrites previous column data"
**What happened**:

I'm trying to split a column containing lists into separate columns. My approach at the moment is to iterate over the number of elements in the list and perform a `ddf.map` operation that extracts the value at each index. However, each subsequent iteration overrides the previous, resulting in each new column taking on the same value.

**What you expected to happen**:

Every add

[2021-03-21 16:04] tgaddair commented on #7432
Seems this is actually a quirk of Pyhon, that variables do not capture until after the loop completes:

https://stackoverflow.com/questions/2295290/what-do-lambda-function-closures-capture

[2021-03-21 16:04] #7432 closed

[2021-03-21 16:08] TAdeJong commented on #7384
Thanks for looking into this @pentschev.
I am not an expert in the inner workings of gufuncs either, nor am I familiar with the difficulties and intricacies of `meta=` and the different libraries. It might be a good idea to start using a `meta=` kwarg for gufuncs in general to make them more consistent with the rest of the library.

That being said, I am unsure whether #7423 would be the direction

[2021-03-21 16:09] douglasdavis commented on #7327
Stephan Hoyer ***@***.***> writes:

Mistake on my end, thanks for pointing that out.

[2021-03-21 23:31] GenevieveBuckley commented on #4855
@dask/triage can we add a "good first issue" label here?

We have some Summer of Code potential applicants who are looking for more labelled issues right now.

[2021-03-22 00:55] Madhu94 commented on #6067
Thanks @jakirkham I'll wait till after gsoc applications close in case a student wants to pick this up.

[2021-03-22 01:54] parisholley opened #7434 "Is this check needed?"
https://github.com/dask/dask/blob/e00f2fa2a8cb4c971dafc1f7b4c45caf53165879/dask/dataframe/io/parquet/arrow.py#L1090-L1094

I have run into this problem with legacy data sitting in an S3 bucket. Is there any reason we couldn't just intersect the two lists?

[2021-03-22 04:00] GenevieveBuckley opened #7435 "Should `map_overlap` skip `trim` if `depth` is not equal to zero?"
This is possibly a silly question, but do we need to trim the result in `map_overlap` if the keyword argument `depth=0`?

https://github.com/dask/dask/blob/e00f2fa2a8cb4c971dafc1f7b4c45caf53165879/dask/array/overlap.py#L803

I wonder if it should be something like this instead:
[code]

I had expected these two examples to reduce down to the same thing.

[code]
![image](https://user-images.githubus

[2021-03-22 06:14] GenevieveBuckley commented on #7358
If https://github.com/dask/dask/pull/7360 was merged, can this issue be closed now @jsignell? Just flagging it for you.

[2021-03-22 10:33] pentschev commented on #7384
I can't say if it's overlapping with `output_sizes=`, but I would imagine it shouldn't, as `meta=` is generally expected to be a 0-D array. However, for `output_dtypes=` that is probably true, as in most other functions (e.g., `blockwise`), the `dtype` of `meta=` is used to infer the array's `dtype`, although in those cases the argument is called `dtype=` instead of `output_dtypes=`. IOW, if you s

[2021-03-22 13:53] McToel opened #7436 "dd.from_sql_table() duplicates index with SQLAlchemy==1.4.1"
When using `dd.from_sql_table(index='index_col')` (note that index is a string), the function internally duplicates the index, if it is already in columns. This is due to this code always being executed if index is of type str as columns contains sqlalchemy columns and not strings.
[code]
This was no problem so far because older versions of SQLAlchemy automatically removed this additional column.

[2021-03-22 14:06] mrocklin commented on #7384
cc'ing @dask/array for help with GUFuncs and @magonser in particular who did a lot of this work originally I believe.

[2021-03-22 14:14] mrocklin commented on #7435
If depth=0 then map_overlap should probably just default to map_blocks?  I
don't see a good use case for map_overlap when depth=0.

On Sun, Mar 21, 2021 at 11:00 PM Genevieve Buckley ***@***.***>
wrote:

[2021-03-22 14:23] mrocklin commented on #7327
I had to search a bit through docs to find rationale here.  Apparently numpy uses the term "array-like" to mean "anything that could be coerced into an array, like a list".  Quote from numpy docs:

If there isn't a great pressing need here I'm inclined to just keep this as it is.  I understand that we conflict a bit with an internal nuance of Numpy's naming, but "duck array" seems only interpretab

[2021-03-22 14:48] jrbourbeau commented on #7434
cc @rjzamora

[2021-03-22 14:49] jrbourbeau commented on #7358
Ah yes, thanks for following up here @GenevieveBuckley!

[2021-03-22 14:49] #7358 closed

[2021-03-22 15:02] jrbourbeau commented on #6376
https://github.com/dask/dask/pull/7200 was included in the `2021.03.0` release

Thanks for following up here @CrashLaker -- feel free to open a new issue for the seg fault

[2021-03-22 15:02] #6376 closed

[2021-03-22 15:05] rjzamora commented on #7434
This is a good question @parisholley.  I will think about this (and @martindurant  may have good feedback), but it would be helpful to know a bit more about the data:  I assume that you are reading hive-partitioned data.  How was the data written?  Does the data include "pandas metadata"? Does the data include a global "_metadata" file?  Could you share a simple reproducer (even if it is as simple

[2021-03-22 15:09] ag-tcm opened #7437 "Backend for scipy sparse building csr/csc matrix inefficiently"
**What happened**:
I'm using dask to work with `scipy.sparse` `csr_matrix`'s that are returned from `dask_ml.feature_extraction.text.HashingVectorizer`.
I need to save the matrix to disk and I was not able to do this with TileDB, Zarr or HDF5. (Maybe their is a way, but I haven't figured it out.)
So, I implemented a simple `SparseCache` class that supports numpy-style setitem indexing while under

[2021-03-22 15:15] martindurant commented on #7434
I assume you have a situation like
[code]
and that the parts also include a column called "field". In this case, how is dask to know whether "field" refers to the value encoded in the path or the values within the data files? We have chosen to error rather than try to guess the right thing to do.

Note that you can still load this data using
[code]
(here, we choose the in-file version of "field").

[2021-03-22 15:26] jrbourbeau commented on #7436
Thanks for raising an issue @McToel! `sqlalchemy=1.4.0` introduced changes which impacted both Dask and pandas (for example, see https://github.com/dask/dask/issues/7406). For the time being I'd recommend using `sqlalchemy<1.4`.

cc @dask/io

[2021-03-22 17:19] parisholley commented on #7434
no external metadata files

in my case, this data was formed via a datalake vendor using glue, the hive meta is casting the field=A/B as string/int/etc, and it is represented as the same data type in the values.

i could see how there is concern on the data types differing, but that feels like a way less probable edge case.

in my particular use case, regardless of any type conflicts, i don't even

[2021-03-22 17:27] martindurant commented on #7434
I meant the values, but that too

I see - I agree that the check should be skipped when the fields that might be problematic are not even needed.

[2021-03-22 18:21] jsignell commented on #7170
I just got rid of the skip in #7441 and everything is as expected so I think the upstream fix does what we needed :)

[2021-03-22 18:21] #7170 closed

[2021-03-22 18:29] jsignell commented on #7327
That sounds good to me. In that case, I think it'd be helpful to include a sentence in @douglasdavis's proposed docstring that points out this inconsistency with what numpy means by `array_like`.

[2021-03-22 18:32] jrbourbeau commented on #7327
+1 expanding the `is_arraylike` docstring sounds great

[2021-03-22 18:36] jsignell commented on #7327
I think we can be very verbose in that docstring since it's mostly targetting other dask developers and developers of downstream libraries ( aka not normal users)

[2021-03-22 18:52] jsignell opened #7444 "Test failure with pandas 1.3.0: `test_timezone_freq`"
I took a look at the codebase and it seems like `pandas.Series.iloc[slice]` used to return a freq and no longer does. The impact on dask is that when using `from_pandas` the freq data is not passed along. @jorisvandenbossche do you know if this is an intentional change in pandas? It doesn't seem too different from other change that you listed in #7100

This is the relevant code:

[code]
https://gi

[2021-03-22 19:54] jakirkham commented on #7327
Updating the docstring makes sense and also was one of the suggestions in the PR from which this issue was spun out

Agree this is mainly an internal function (does it see outside usage?) and as such it is mostly important that the group here understands its purpose

[2021-03-22 22:32] #7327 closed

[2021-03-22 23:26] jorisvandenbossche commented on #7444
I don't think this is related to one of the other issues in #7100, this is a recent change in pandas.

AFAIK, the change might have been done semi-intentionally: knowing it was changed, but assuming it wouldn't matter.
So the question here is: how is dask using this `freq` information of the column? (because the test that is failing is simply checking for the `freq` value, but doesn't actually do

[2021-03-23 00:37] jakirkham commented on #6674
@crusaderky added some operations to help manipulate the graph in PR ( https://github.com/dask/dask/pull/7109 ). Maybe that is useful here? 🙂

[2021-03-23 01:05] jrbourbeau commented on #6674
Thanks for following up here @jakirkham. In fact I suspect the new methods ([documented here](https://docs.dask.org/en/latest/graph_manipulation.html#api)), in particular `clone`, address @shoyer's original use case. @shoyer is it safe to close this issue out?

[2021-03-23 01:09] shoyer commented on #6674
+1 looks great!

On Mon, Mar 22, 2021 at 6:05 PM James Bourbeau ***@***.***>
wrote:

[2021-03-23 01:11] #6674 closed

[2021-03-23 02:31] jakirkham commented on #6674
Thanks for taking a look Stephan! Please let us know how using these goes 🙂

[2021-03-23 03:13] kpasko opened #7446 "add repartition parameter(s) for to_parquet"
df.to_parquet allows for multiple partition_on

`myframe.to_parquet(filename, partition_on=['col1','col2'],...)`

will result in filename/col1=xyz/col2=123/.....

however it would be helpful to be able to specify the size/number of partitions within col2, e.g.

`myframe.to_parquet(filename, partition_on=['col1','col2'],...)`

Output -- filename/col1=xyz,col2=123/part.0.parquet @ ~400MB

vs

`myfra

[2021-03-23 08:29] JSKenyon opened #7449 "Blockwise with `concatenate=True` broken with LocalCluster + `optimize_graph=False`"
**What happened**:
When using a LocalCluster (and probably the distributed scheduler in general), setting `optimize_graph=False` causes strange (and incorrect) behaviour in Blockwise with `concatentate=True`.

**What you expected to happen**:
Blockwise with `concatenate=True` should function as normal.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:
The examp

[2021-03-23 10:42] icfly2 commented on #7376
So we've done some digging. It looks like the error is caused by a network setting that closes connections that were open for too long a time. So moving to a VM without that fixes that.

An option to allow retries in `read_parquet` on dropped connections would be nice though, as connections do drop on occasion.

The problem is that the `compute()`, ideally is called after all sorts of computations

[2021-03-23 12:13] aktech opened #7452 "dask.array.triu does not works with cupy array"
**What happened**:
There is a bug which is preventing `da.triu` to work on `cupy` arrays. I feel the bug is in dask.array which is sending wrong array to cupy as in sending np.ndarray instead of cp.ndarray. I haven't looked very closely, but this should be easy to fix, I believe.

cc @pentschev for FYI

**What you expected to happen**:
Result of `triu` function on the cupy array

**Minimal Complet

[2021-03-23 12:34] aktech commented on #7452
I think the root cause of this is:

https://github.com/dask/dask/blob/f6e9e81903bd2416125a97cc3856c63bb792bddf/dask/array/creation.py#L681

The `dtype` is derived from numpy, irrespective of array being a cupy array.

[2021-03-23 12:55] pentschev commented on #7452
This is a duplicate of https://github.com/dask/dask/issues/7324 , unfortunately some recent changes have broken `tri*` functions with CuPy, but because we don't have GPUs in Dask CI builds don't fail when CuPy tests break.

Unfortunately, I don't have the bandwidth now to work on fixing that, but this isn't related to the `dtype`, `dtype`s just indicate the data type (float, int, etc.) and they're

[2021-03-23 13:17] aktech commented on #7452
Ah, I see thanks for the quick response. By the way the motivation for this issue, came from using `cupy` here: https://github.com/pystatgen/sgkit/pull/498 are you aware of any workarounds?

[2021-03-23 13:54] mrocklin commented on #7452
Amit, it looks like Peter has laid out a way to resolve this issue in his
comment.  Is this something that you would be interested in working on?

On Tue, Mar 23, 2021 at 8:17 AM Amit Kumar ***@***.***> wrote:

[2021-03-23 13:58] aktech commented on #7452
@mrocklin I might be able to sometime next week, I was wondering if there is a quick workaround from the user API point of view meanwhile, as even if I managed to fix it sometime soon I'll have to wait for the next release to use it anyways.

[2021-03-23 14:41] mrocklin commented on #7449
cc @rjzamora

On Tue, Mar 23, 2021 at 3:29 AM JSKenyon ***@***.***> wrote:

[2021-03-23 14:55] rjzamora commented on #7449
Thanks for raising @JSKenyon - I'll check it out

[2021-03-23 15:15] kpasko commented on #7446
I was assuming that partition_on would modify the prior partitioning scheme, but from what it sounds like it creates sub partitions from that original 'n-MB' repartitioning?

Alternatively I suppose this would achieve what I'm after, tho I'm not sure about speed issues
df.shuffle(on=['col1','col2']).repartition(partition_size='100MB').to_parquet(...)

[2021-03-23 15:39] brandon-b-miller commented on #7054
Hi all,
Having looked into this a bit, it seems to me the problem motivating this issue could be fixed in any of cuDF, Pandas, or Dask. To sort out exactly what to do, I collected the details of the problem in https://github.com/rapidsai/cudf/issues/7111 and am hoping to generate some consensus there on how to proceed.

[2021-03-23 16:21] hristog commented on #6104
Could somebody from the maintainers team, please, add a "dataframe" label to this when you get a chance, if you believe it'd be appropriate?

[2021-03-23 17:06] rjzamora commented on #7449
Hmm - This issues is exposing a general HLG/Blockwise challenge related to complex/nested (i.e. inlined) task serialization...

Since the primary callable object is already serialized by the time it reaches the scheduler, in `make_blockwise_graph`, we are replacing the usual `dumps_task` call with [an explicit `{"function": , "args": }` dictionary](https://github.com/dask/dask/blob/f6e9e81903bd241

[2021-03-23 17:50] gjoseph92 commented on #7416
Interesting. 50MB is big, but it's not _that_ big. I wonder we should instead focus our efforts on fancy indexing (`take`) performance with large indexers.

It's interesting to me that the memory is blowing up on the scheduler specifically, but neither on your client process (as it generates the graph for `arr[idx.compute()]`), nor on the workers as they actually compute it? Currently, there's no

[2021-03-23 18:15] jrbourbeau commented on #7376
@icfly2 you might try using Dask's [distributed scheduler](https://distributed.dask.org/en/latest/) (even on a single machine) as it allows you to specify the [number of times tasks should be retried](https://distributed.dask.org/en/latest/api.html#distributed.Client.compute)

[2021-03-23 20:20] jsignell commented on #7444
I am not entirely sure how dask is using `freq`, but if this is an intentional change then I think dask should set it back on the partitions. Otherwise this is kind of a surprising loss of information.

[2021-03-23 21:11] ahah-figure opened #7456 "ssd option for GCPCluster"
It would be nice to be able to specify ssds for the nodes when you instantiate a GCPCluster. For example, when you create a cluster in gcloud, you can pass parameters like

    --master-boot-disk-type pd-ssd
    --worker-boot-disk-type pd-ssd

[2021-03-23 22:41] pentschev commented on #7452
@aktech could you please try #7457 ? Hopefully that fixes the issue.

[2021-03-24 00:18] gerrymanoim opened #7458 "Promote dd.core.Scalar to dd.Series without forcing computation"
I have some user defined functions that return a `dd.core.Scalar`. However, I'd like to promote the result to a `dd.Series`, similar to how you can wrap a scalar in a regular `pandas.Series`. At the moment, I don't see any way to do this besides explicitly calling `.compute()` to materialize the scalar, put this into a `pandas.series` and then calling `dd.from_pandas`.

I don't believe this alread

[2021-03-24 00:44] gerrymanoim opened #7461 "dd.map_partitions will return wrong type when computation results in single value"
**What happened**:

Calling `dd.map_partitions` returned an object which thought it was a `dd.Series` when really it was a `dd.core.Scalar`.

**What you expected to happen**:

Either a `dd.Scalar` is returned or there is a way to specify `meta` such that I can force a `dd.Scalar` return.

**Minimal Complete Verifiable Example**:

[code]
`type(result)` gives ` dask.dataframe.core.Series`

**Anythin

[2021-03-24 03:03] jakirkham commented on #7355
Admittedly I haven't read the whole thread (so maybe this already came up), but would actually suggest loading the data a bit differently. Something like this...

[code]

Hopefully saves some boilerplate while still making good use of `mmap`ing.

[2021-03-24 08:34] uellue commented on #7355
@jakirkham thank you for the example! I've tried it out in comparison to the "original" method. It seems that `np.asarray()` is taking a copy of the data since it has the same performance as the read case:

[code]

For a _threaded_ single host case, this works better since it eliminates the copy:

[code]

However, with Dask.Distributed both tank since they both apparently send the whole data aroun

[2021-03-24 09:22] jakirkham commented on #7355
It shouldn’t be copying it. NumPy’s `asarray` takes a view if anything following the Python Buffer Protocol, which includes `mmap`

[2021-03-24 09:25] uellue commented on #7355
@jakirkham Actually, it does take a copy if it is not a subclass of ndarray: https://numpy.org/doc/stable/reference/generated/numpy.asarray.html

What you mean is probably `np.frombuffer()`? https://numpy.org/doc/stable/reference/generated/numpy.frombuffer.html

[2021-03-24 09:28] jakirkham commented on #7355
That said, agree Distributed will transmit data around. It’s use case is different. Changing that is likely more involved

I think `mmap`ing works better with the threaded scheduler. It may work with the multiprocessing scheduler, but that may involve some tricks

[2021-03-24 09:34] jakirkham commented on #7355
One can feed it through a `memoryview` before giving it to `asarray` and pass `copy=False`, but no it shouldn’t copy. Also don’t think either of those should be needed

[2021-03-24 09:37] uellue commented on #7355
@jakirkham So how do you explain that your version takes so much longer? Taking a copy in the process of creating the Dask array chunks would be a reasonable assumption, no?

[2021-03-24 09:40] jakirkham commented on #7355
Relevant NumPy code

https://github.com/numpy/numpy/blob/bb7a31a6a852ecc64d3f7cffb70121fc8bef20eb/numpy/core/src/multiarray/ctors.c#L1285

[2021-03-24 09:46] jakirkham commented on #7355
All I said was it _shouldn’t_ copy. Not ruling out the potential for a bug somewhere 😉

[2021-03-24 09:51] uellue commented on #7355
@jakirkham Ok, you are actually correct about the `asarray`. I've tried it out, and it is actually the Dask function that eats up time:

[code]

[2021-03-24 10:01] uellue commented on #7355
This is a bit funny. Apparently the NumPy array is somehow "not right"?

[code]

[2021-03-24 10:01] jakirkham commented on #7355
Thanks for the update

So I think we are missing `name=False` in `from_array`. Dask does some hashing with NumPy Arrays by default which we want to avoid here

[2021-03-24 10:07] aktech commented on #7452
Hey @pentschev thanks for working on this, I just tried that PR. It doesn't seems to work on the reproducer I shared above.

Just to confirm the git commit version:

[code]

[2021-03-24 10:09] uellue commented on #7355
@jakirkham Ok, that helped!

[code]

Updated function:

[code]

[2021-03-24 10:11] jakirkham commented on #7355
Yeah `memmap` in NumPy is a bit of an odd duck, which is why I typically go through `mmap` and coerce that into a NumPy Array

[2021-03-24 10:13] jakirkham commented on #7355
Awesome thanks for the update 😀

[2021-03-24 10:19] uellue commented on #7355
Interesting about the hashing function, I learned something. :-D Do be honest, I am a bit unsure if having hashing turned on by default is such a good idea since it can be quite punishing on large data.

[2021-03-24 10:22] uellue commented on #7355
Maybe one should even have both cases as example. One "quick and dirty" with `da.from_array(numpy.memmap(...))` for threaded single host cases, and one longer one with `delayed` etc that works on multiprocessing and distributed systems.

[2021-03-24 10:40] jakirkham commented on #7355
Yeah we’ve discussed turning hashing off before ( https://github.com/dask/dask/issues/4169 ). Would be good to have your perspective there as well 🙂

Yep 2 examples makes sense. There might be ways to improve the Distributed use case more. Will mull on that a bit

[2021-03-24 10:42] jakirkham commented on #4169
Thinking about this again maybe one naive approach would be to use a UUID when arrays are larger than a certain number of bytes. We’d have to determine a sensible cut off, but maybe this captures the best of both worlds? 🙂

[2021-03-24 10:56] pentschev commented on #7452
Can you ensure you have NumPy >= 1.20? That's required as well:

[code]

[2021-03-24 11:05] aktech commented on #7452
Ah, I see. Yes that works for me with upgraded numpy version.

[2021-03-24 13:15] uellue commented on #4169
The discussion in #7355 shows a real-world use case where a Dask array is created from a very large memory-mapped NumPy array. In this particular case the hashing was really surprising and led us off track when trying to find out why one version was much slower than the other. Hashing takes about 20x longer than the actual array operation for that use case and negates any advantage from memory map

[2021-03-24 14:46] jsignell opened #7463 "Cannot interpret `CategoricalDtype(categories=[1, 2], ordered=False)` as a data type"
**Minimal Complete Verifiable Example**:
[code]

[code]

[2021-03-24 15:37] #7461 closed

[2021-03-24 15:46] TomAugspurger commented on #7463
Note that pandas.Series.values sometimes returns an ndarray and sometimes returns an extension array.

To solve this, we'd need a solution for something like https://github.com/dask/dask/issues/5001, an analog to pandas' ExtensionArray that is also a Dask Collection.

[2021-03-24 15:49] jsignell commented on #7412
Closing this for now, but please reopen if you are able to create a reproducer

[2021-03-24 15:49] #7412 closed

[2021-03-24 16:01] jsignell commented on #7458
I think you are on the way to answering your own question :) You can write a function that takes in the scalar and constructs a `pandas.Series` and then use `map_partitions` to call that function so that you don't have to materialize the scalar in the client.

[2021-03-24 17:32] jrbourbeau commented on #7463
Additionally I think this may be a duplicate of https://github.com/dask/dask/issues/7206

[2021-03-24 17:33] jsignell commented on #7463
yeah definitely a dupe. I thought it probably was, but couldn't put my hands on the ticket. Thanks @jrbourbeau!

[2021-03-24 17:33] #7463 closed

[2021-03-24 22:23] TNonet commented on #6009
@martindurant Thanks for the ping!

I think the simplest solution would be to update the example as @gforsyth suggested.

The other potential issue I raised seems to be something we can leave alone/for another day.

[2021-03-25 00:07] GenevieveBuckley commented on #7250
This post about JupyterHub's OutReachy internships has a lot of great detail about how they created successful experiences (in particular 'micro-tasks' and a clear roadmap that gives context). https://discourse.jupyter.org/t/jupyterhubs-experience-with-outreachy-lessons-learned/4803

[2021-03-25 02:20] mengaldo commented on #6824
I strongly support @hayesgb.
I am trying to use the keyword overwrite=True, but I get this error:
`File "./main_format_gkx.py", line 111, in <module>
    main()
  File "./main_format_gkx.py", line 70, in main
    preprocess.format_data()
  File "/Users/gian/GIT-GM/options_project/operations/../data_handling/formatting/Preprocessing_GKX.py", line 60, in format_data
    self.add_prefix_to_columns(

[2021-03-25 02:23] mengaldo opened #7465 "Keyword overwrite not supported?"
I strongly support @hayesgb.
I am trying to use the keyword `overwrite=True`, but I get this error:

[code]

_Originally posted by @mengaldo in https://github.com/dask/dask/issues/6824#issuecomment-806311757_

[2021-03-25 02:26] rjzamora commented on #7465
Thanks @mengaldo - Can you share a reproducer, and specify the version of dask you are using?

[2021-03-25 02:44] mengaldo commented on #7465
Thank you for the prompt reply @rjzamora.
Version: dask==2.3.0

[code]

[2021-03-25 03:24] rjzamora commented on #7465
Thanks for the info @mengaldo - If I am understanding correctly, you are using dask-2.30, which was released in October 2020.  The `overwrite` argument was not added until November 2020.  Can you try updatinag to the latest version of Dask (at least something >2020.12.0 - note that the versioning changed to calver after 2.30).

[2021-03-25 03:26] rjzamora commented on #7465
I'm going to close this since I am pretty sure the issue has been resolved.  However, if I am wrong about this (very possible), please do feel free to re-open :)

[2021-03-25 03:26] #7465 closed

[2021-03-25 03:29] mengaldo commented on #7465
Thank you @rjzamora - it seems indeed to be fixed.

[2021-03-25 07:31] mengaldo opened #7466 "Read/write to same file using `.to_parquet(overwrite=True)` in the same task graph should raise an error"
Performing the operation `.to_parquet` produces an error if the Dask dataframe is loaded from a Dask file vs. if it is created within the code and not read from file.

**What happened**: **Way 1** of the code below works as expected - it correctly saves the output to parquet. **Way 2** of the below code, does NOT work as expected and fails with `FileNotFoundError: [Errno 2] No such file or directo

[2021-03-25 08:09] SultanOrazbayev commented on #7466
I provided an answer here: https://stackoverflow.com/questions/66794328/saving-to-parquet-throws-an-error-in-dask-dataframe/66794448#66794448

Happy to make a PR, but a decision is needed on how to handle the temporary folder.

[2021-03-25 08:16] mengaldo commented on #7466
Great, thanks - that helped. It would be good to have a workaround or fix for this.

[2021-03-25 10:52] mengaldo commented on #7466
BTW, instead of using
[code]

I use
[code]

it seems to be faster.

[2021-03-25 11:36] SultanOrazbayev commented on #7466
There are many ways to skin a dask dataframe...

On Thursday, March 25, 2021, mengaldo ***@***.***> wrote:

[2021-03-25 12:50] theoturner commented on #1849
This is still occuring. Fix with `pip install dask[complete]`. This should be the default install.

[2021-03-25 12:51] mesejo commented on #7398
@gsc2001 Are you working on this?

[2021-03-25 13:05] jsignell commented on #7466
Another solution would be to raise an error when a user adds a task that will delete a file that is referenced by a different task in the graph. I wonder if @rjzamora or @crusaderky have ideas about what the behavior should be here.

[2021-03-25 13:06] jsignell commented on #7398
Anyone can work on this, no need to ask. Just open a PR that references this issue.

[2021-03-25 13:08] jsignell commented on #6824
@mengaldo are you saying that this issue is not resolved?

[2021-03-25 13:11] jsignell commented on #1849
Starting at the next release, `pip install dask` will include `toolz`.

[2021-03-25 13:15] mengaldo commented on #6824
@jsingell my mistake - it has been resolved

[2021-03-25 14:04] martindurant commented on #6009
Good to head. Please mark your PR as resolving this issue.

[2021-03-25 14:54] rjzamora commented on #7466
One of our initial concerns about adding an `overwrite=` argument was that it should really be the users resoponsibility to deal with file/directory cleanup.  We wanted to avoid the need to deal with issues exactly like this one :).  I do think it makes sense to add an explicit check for a circular dependency, but we should avoid adding any special handling (temporary directory creation, etc) with

[2021-03-25 17:04] kylebarron commented on #6865
I don't know the Pyarrow API super well, but it seems simple to do random IO in a batched feather file:

[code]

So it seems pretty clear from the timings that `reader.get_batch()` is only reading a single batch from the file, and not the entire file.

[2021-03-25 17:53] jsignell commented on #7437
It sounds like you have a good handle on the issue and how you think it should be solved. Probably the most productive next step would be to open a pull request.

[2021-03-25 20:57] #7248 closed

[2021-03-25 21:58] fireballpoint1 commented on #6067
@Madhu94 I'd like to take this up. could you guide me to the correct documentation for this piece so that I can get a quick hang of the use-case for this functionality.

[2021-03-25 22:51] #7324 closed

[2021-03-25 22:51] #7452 closed

[2021-03-25 22:52] jakirkham commented on #7452
This should go out in our release on Friday

[2021-03-26 01:35] mengaldo commented on #7466
Thanks @jsignell @rjzamora
I think that having `overwrite=` is a nice feature. Many deployments that we have use a combination of spark and dask, and having some consistency on how the two handle overwriting is good. I think that this issue can be solved, but given my short experience, you are much better placed than me to answer how

[2021-03-26 02:06] gerrymanoim commented on #7458
@jsignell - maybe I'm missing something, but that seems to lead to a type error:

[code]

Specifically it looks like https://github.com/dask/dask/blob/main/dask/dataframe/core.py#L5568 special cases all arguments being `Scalar`s and forces a `Scalar` to be constructed.

If I do something like

[code]

`dfs` here https://github.com/dask/dask/blob/main/dask/dataframe/core.py#L5555 is empty causing a

[2021-03-26 09:40] vlagorsse commented on #7269
Hi,
I got the same error message with

[code]

[code]

[2021-03-26 09:59] vlagorsse commented on #7269
Ok, I found what was the issue. You have to set `protocol="tcp://"` if you want to set an host option that listen on the network.

```LocalCluster(host='0.0.0.0:8786',  n_workers=2, processes=False, threads_per_worker=1, protocol="tcp://")```

I would suggest that the documentation could be updated with a working example.

[2021-03-26 11:52] ben10he commented on #6956
Not sure if I understand this correctly. I am following this test: https://github.com/dask/distributed/blob/main/distributed/tests/test_steal.py#L815 and thought I would just need to set parameter allow_other_workers=True and give workers address will solve the issue. Here is my updated code:

[code]

But all tasks were run in the worker a. Basically, what I am looking for is something like a queu

[2021-03-26 14:53] jsignell commented on #7269
I'm glad you found the answer! Please feel free to open a pull request with any improvements to the docs.

[2021-03-26 15:32] jsignell commented on #7466
Ok like @rjzamora said I think the solution to this issue is:

I am updating the title of this issue to reflect that decision.

[2021-03-26 15:53] jsignell commented on #7139
I don't understand it anymore either, sorry about that. Let me try to write this down more carefully. I think this is what I meant:

[code]

But looking at this now I think you are totally right that last day of the month should be fully included in the division for that month. So your proposal in https://github.com/dask/dask/issues/7139#issuecomment-795419359 seems perfect.

[2021-03-26 16:47] rubenvdg commented on #7139
Fixed in https://github.com/dask/dask/pull/7357

[2021-03-26 16:47] #7139 closed

[2021-03-26 17:31] jsignell commented on #7366
Ok I have added `xfail` with references to the related issue for all currently failing upstream tests. So I think we should close this ticket and expect upstream tests to pass from here on out.

[2021-03-26 17:31] #7366 closed

[2021-03-26 17:46] #7355 closed

[2021-03-26 18:24] jsignell opened #7471 "HDFS `test_read_text` failure"
[code]

https://github.com/dask/dask/runs/2197606065

[2021-03-26 18:28] jsignell commented on #7471
cc @jakirkham this seems related to https://github.com/dask/dask/pull/7429

[2021-03-26 18:30] jakirkham commented on #7471
Ok one sec this should be an easy fix

[2021-03-26 18:31] jsignell commented on #7471
@jrbourbeau for visibility

[2021-03-26 18:45] jakirkham commented on #7471
Submitted PR ( https://github.com/dask/dask/pull/7472 ) to revert that piece of that change. Should fix this issue. Sorry for the surprise here

[2021-03-26 19:03] #7471 closed

[2021-03-26 19:35] jsignell commented on #7367
Closing this since it seems to be resolved.

[2021-03-26 19:35] #7367 closed

[2021-03-26 19:43] jsignell commented on #7435
depth is set to None by default so if this seems like something that people run into, we could raise an exception if it is explicitly set to 0 and in the exception point out that they should use `map_partitions` instead.

[2021-03-26 21:01] jsignell commented on #7458
Nice! I think both the `map_partitions` and the `from_delayed` solution look pretty good.

[2021-03-26 21:38] ax3l opened #7475 "Array: Slightly More Complex Chunks"
Hi,

I am reading through the chunking options in
- https://docs.dask.org/en/latest/array-chunks.html
- https://docs.dask.org/en/latest/array-api.html?highlight=from_array#other-functions

I want to read pre-chunked boxes of 2D and 3D arrays from disk with [openPMD-api](https://github.com/openPMD/openPMD-api/pull/935#issuecomment-800844453).

Looking at the options above, I think I need slightly m

[2021-03-26 21:47] ax3l commented on #7475
This is a visualization of our distribution in index space, in case this helps (not exactly the same slices as given above, just doodling here):
![dask_chunks](https://user-images.githubusercontent.com/1353258/112695934-23877e00-8e42-11eb-8e8d-451d873188cd.png)

[2021-03-27 03:37] #6220 closed

[2021-03-27 03:49] jakirkham commented on #7475
Maybe one could use [Dask Array's `block`]( https://docs.dask.org/en/latest/array-stack.html#block ) to put together chunks in the desired way?

[2021-03-27 03:52] jakirkham commented on #7435
Yeah if `depth` is computed as a function of something else (maybe in relation to a filter size), it may not be know until `map_overlap` is called. Special casing this to be `map_blocks` or dropping the `trim` step both seem like reasonable solutions/optimizations to apply at that point

[2021-03-27 03:54] jakirkham commented on #7261
Could people here please try the PR linked above and report back?

[2021-03-27 04:03] jakirkham commented on #6967
Is this still needed Jacob?

[2021-03-27 04:07] jakirkham commented on #6900
Any thoughts on Julia's suggestion above @kellymarchisio? 🙂

[2021-03-27 07:13] ax3l commented on #7475
Thank you for the pointer!

Trying this https://docs.dask.org/en/latest/array-api.html#dask.array.block
[code]

Somehow this gets tricky for blocks that span multiple dimensions...

[2021-03-27 11:00] mengaldo commented on #7466
By changing the way you suggested, it means that

[code]
and
[code]

would still be a workaround to overwrite, correct?

A simple case example in our pipeline is when updating data in a folder.
Say that you have `./data/filename.parquet`
What we typically do is:
- **read** `ddf = dd.read_parquet('filename.parquet')`
- **update** e.g. `ddf = ddf.merge(ddf_tmp, ...) `
- **resave** `dd.to_parquet(ddf

[2021-03-27 11:26] SultanOrazbayev commented on #7466
Yes, but keep in mind that if the process crashes for any reason before the writing is complete, you will lose all of the data since it was in memory...

[2021-03-27 11:27] hristog commented on #7428
Hi @Vasilyeu,

I suppose it might be a bit tricky to identify the root cause, without a bit more detailed context.

Could you please try to provide answers/data corresponding to as many as possible of the following:
- Is your data is nested?
- Have you narrowed down which file(s) might be the one(s) that cause `ValueError: cannot convert float NaN to integer`?
- Could you provide the associated (a

[2021-03-27 22:49] hristog commented on #3667
Seems to me that https://github.com/dask/dask/commit/fc71015ecf82e8416f6598377ab5d00e83a04dfb (#3698) closes this issue.

[2021-03-28 01:28] mrocklin commented on #3667
Thank you for following up @hristog

[2021-03-28 01:28] #3667 closed

[2021-03-28 03:45] mengaldo commented on #7466
Yes, there is backup; thank you for confirming.

[2021-03-28 19:02] GFleishman commented on #3565
Is it equivalent to set these spill related variables like so:

[code]

or does it need to be in a config file? The [documentation here](https://jobqueue.dask.org/en/latest/configuration-setup.html#no-local-storage) is a little bit confusing for me.

[2021-03-28 19:15] GFleishman commented on #3565
Additionally - after setting configs as above, I still see:

```distributed.worker - WARNING - Worker is at 81% memory usage. Pausing worker.  Process memory: 24.32 GB -- Worker memory limit: 30.00 GB```

In the `.err` output for my workers.

[2021-03-29 09:04] jacobtomlinson commented on #6967
I don't think so, thanks for nudging @jakirkham

[2021-03-29 09:04] #6967 closed

[2021-03-29 14:33] abergou commented on #7261
I took this out for a quick spin and it's very cool; seems quite useful!

A few thoughts (these are musings, so feel free to ignore them if they're not useful thoughts):
- It might be worth considering adding a readonly flag (or numpy flags-like attribute) to a dask array to make certain dask arrays readonly (this feature might be useful if for example if an object created a cached dask array inte

[2021-03-29 14:51] beckernick opened #7482 "Array unique fails with cupy backed arrays during cpu/gpu setitem"
When we call `unique` on a cupy backed dask array, we fail due to a setitem into on numpy array with a cupy array. Perhaps using `np.empty_like` rather than `np.empty` may help resolve this, though there may be more complexity due to the complex dimension/dtype handling:

https://github.com/dask/dask/blob/cdb89fe317a43393f6c89cd780b54a3260839fd3/dask/array/routines.py#L1041-L1059

[code]

[code]

[2021-03-29 15:41] davidhassell commented on #7261
Hi @abergou - thanks!

Good point. `Array.copy` is still a no-op, so is it sufficient just to drop the _", which are immutable"_ bit?
[code]

So that if readonly=True, \_\_setitem\_\_ raises an exception? Sounds fine to me, but perhaps this could be tackled in a separate issue - it sounds like this has ramifications far beyond \_\_setitem\_\_ ...

[2021-03-29 16:07] jakirkham commented on #7261
To be clear arrays still are immutable, what `__setitem__` is really doing is more like `np.where`. So it constructs a new array that keeps the same chunks where things are unchanged and replaces them with new chunks when modified

[2021-03-29 16:26] jsignell commented on #7482
Thanks for raising this. Probably best to use `empty_like_safe` https://github.com/dask/dask/blob/d7d041ce883c623911ca0fc962fbdb1cb626d39f/dask/array/utils.py#L376

[2021-03-29 17:40] jakirkham commented on #7482
My guess is it is not that simple as CuPy doesn't support structured arrays ( https://github.com/cupy/cupy/issues/2031 ), which is what this algorithm uses currently. We probably need to rewrite this to not use structured arrays to fix this issue

[2021-03-29 17:41] jakirkham commented on #7482
cc @pentschev @quasiben

[2021-03-29 18:23] pentschev commented on #7482
@jakirkham is right, but to be honest I'm little puzzled why `unique` in Dask is using structured arrays, was it just implemented like that because it was clearer to understand or is there a deeper reason to do so?

[2021-03-29 18:41] jakirkham commented on #7482
`np.unique` provides a bunch of optional additional return values like the indices where the unique values were found, a mapping of where unique values exist in the original array, and frequency of unique values. As Dask expected an array to be returned in a few cases and we needed to be able to return multiple arrays, which may not be the same shape, type, etc., we used a structured array to pack

[2021-03-29 19:03] pentschev commented on #7482
Thanks @jakirkham for the detailed explanation, it makes sense. For now, I think the only way to make it usable with CuPy would be indeed to rewrite that implementation.

[2021-03-29 19:29] abergou commented on #7261
@davidhassell thank you - that sounds great.

@jakirkham I saw that this is how it's done from an implementation standpoint, but from a user's standpoint I think a dask array container is effectively no longer immutable. For example, suppose I have a dask array `x`, then a piece of code that runs `y = x.compute()` may now no longer compute the same `y` as one that runs `f(x); y = x.compute()` for

[2021-03-29 20:07] jakirkham commented on #7261
We already support things like `+=` and sometimes support `out=` arguments

[2021-03-29 22:06] abergou commented on #7261
Thanks for the clarification @jakirkham! Indeed you're right, I would suggest that in that case dask arrays haven't been immutable for a while :-), but your point is taken that this has nothing to do with this particular commit.

[2021-03-29 22:16] jakirkham commented on #7261
The thing is that the graph is immutable. Meaning that existing nodes and connections cannot change. Not that this cannot be a subgraph contained in a larger graph that is still being built. Also not necessarily that other things are immutable (like classes that hold the graph at different stages)

[2021-03-30 07:48] mengaldo commented on #3194
Has this been solved?

[2021-03-30 07:58] jakirkham commented on #3194
Nope. This remains open. If this is of interest and you have ideas, we would welcome thoughts and PRs

[2021-03-30 16:27] jakirkham commented on #7475
One thing that I've done before is to create `np.empty(..., dtype=object)` arrays and filled them with the different Dask Arrays that I would like to pass to `da.block` (making sure to call `.tolist()` on the NumPy object array first).

Though this may still have limitations for the use case envisioned here. Perhaps judicious use of Dask Arrays with `0` lengths along some dimensions can help regul

[2021-03-30 20:00] mrocklin commented on #7475
Dask array does not support fully arbitrary chunking.  I think that it is
unlikely that it will ever do so.  The complexity involved in implementing
this would require a more-or-less full rewrite of most of the algorithms.

More complex chunking is a fully valid use case, just not one that I think
it makes sense for us.

On Tue, Mar 30, 2021 at 11:27 AM jakirkham ***@***.***> wrote:

[2021-03-30 20:14] jakirkham commented on #7475
Well I'm not sure to what extent arbitrary chunking is needed throughout the workflow as opposed to simply a way to compose data from disk into a form that Dask can consume. Currently my operating assumption is the latter and not the former. Agree the former is difficult

[2021-03-31 00:26] bnaul opened #7488 "partition_info contains incorrect information with distributed scheduler"
Run on dask+distributed main
[code]

[code]
I also checked and `test_map_partitions_partition_info` from #6776 fails when using the distributed scheduler.

Dug around a little bit but nothing obviously wrong jumped out at me. cc @jsignell @jrbourbeau @kumarprabhu1988 from that PR.

[2021-03-31 02:10] #7368 closed

[2021-03-31 02:49] mengaldo commented on #3194
Thank you for the note; it seems that the majority of operations acting on array shape fails when length is unknown, and the operation `compute_chunk_sizes()` can take quite a lot of time to be performed, becoming an effective bottleneck for practical ML workflows using Dask.

[2021-03-31 03:07] jakirkham commented on #3194
It's worth noting that one should call `.persist()` on the array (and assign it to some variable for later use) before calling `.compute_chunk_sizes()`. Otherwise it's like doing the same computation twice (first to get the chunks and second to compute the array)

I think that is the general sentiment here

If matching NumPy's order is not too important for you, would suggest looking at this ( htt

[2021-03-31 09:07] mengaldo commented on #3194
@jakirkham Thank you for the pointers!

[2021-03-31 09:50] bnavigator opened #7489 "test_distributed.py::test_blockwise_numpy_* fails on 32-bit"
[code]

**Environment**:

- Dask version: 2021.3.1
- Python version: 3.8.8
- NumPy version: 1.20.1
- Operating System: openSUSE Tumbleweed
- Install method (conda, pip, source): rpmbuild from source

Full build log with all package versions on intel 32-bit:  [dask_tumbleweed_32bit_log.txt](https://github.com/dask/dask/files/6235539/dask_tumbleweed_32bit_log.txt)

Same test failures on armv7l.

[2021-03-31 14:55] williamBlazing opened #7490 "crash in deserialize when using dask.dataframe.from_delayed"
**What happened**:
A query in the testing framework for BlazingSQL crashed. I was able to trace the issue to a crash in `dask.dataframe.from_delayed`. I have put together a reproducer which gives the following error:
[code]

**What you expected to happen**:
I expect it to not crash :-)  It works using version `dask=2021.3.0 distributed=2021.3.0` but stopped working with the latest:
`dask=2021.3.1

[2021-03-31 14:58] jrbourbeau commented on #7490
Thanks for raising an issue @williamBlazing! I'm going to close this as it's already been reported over in https://github.com/dask/distributed/issues/4645 -- feel free to engage over there

[2021-03-31 14:58] #7490 closed

[2021-03-31 14:59] williamBlazing commented on #7490
Awesome! Thanks

[2021-03-31 17:25] jrbourbeau commented on #7489
Thanks for reporting @bnavigator. We've been gradually adding cython to the scheduler. For reference, is this with or without cython compiling?

[2021-03-31 17:34] jrbourbeau commented on #7489
The error is being raised when the scheduler attempts to register workers. This is interesting as `tests/test_distributed.py::test_blockwise_numpy_args` and `tests/test_distributed.py::test_blockwise_numpy_kwarg` use the same `gen_cluster` decorator to manage the cluster setup

https://github.com/dask/dask/blob/a31c0fc72e1cc59b8b0254965824abb0718c5f56/dask/tests/test_distributed.py#L313-L314

as o

[2021-03-31 18:20] bnavigator commented on #7489
Yes, Distributed is built `--with-cython`.

That one is skipped because it regularly fails with pytest-asyncio >= 0.14 (https://github.com/dask/distributed/pull/4212 and https://github.com/pytest-dev/pytest-asyncio/issues/168):

[code]

[2021-03-31 19:04] toby-coleman opened #7492 "Unable to append dataframe using .to_parquet if column contains a dictionary/structure"
**What happened**: Saving a dataframe using `.to_parquet(path, append=True)` fails when one of the columns contains a dictionary. Raises: `ValueError: Appended columns not the same.`

**What you expected to happen**: Expected to be able to append parquet datasets (this works if using simple column types).

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Env

[2021-03-31 19:48] jsignell commented on #7488
Yeah I can reproduce. My first thought is maybe the whole task graph isn't passed to each worker, and that leads to `number` being wrong.

[2021-03-31 19:52] jrbourbeau commented on #7492
Thanks for raising an issue @toby-coleman. Are you using `fastparquet` or `pyarrow`? Also what version of the parquet engine library are you using?

cc @dask/io

[2021-03-31 19:57] toby-coleman commented on #7492
I'm using `pyarrow` version `3.0.0`.

[2021-03-31 19:59] martindurant commented on #7492
You may want to try with v2.x for now

[2021-03-31 20:29] jsignell opened #7493 "Upstream failures: extra kwargs in gufunc"
Seen on main in [Upstream CI tests](https://github.com/dask/dask/runs/2233244711). It seems like kwargs are no longer being handled properly.

[code]

[2021-03-31 21:00] ahah-figure opened #7495 "Error using read_parquet to read data from gs"
I'm attempting to read parquet files from gs into memory on a gcp VM. Code snippet is below.

[code]

When I watch the dashboard, it appears that all the parquet files get read, but I get the following error:

[code]

Not sure if it helps, but if I parallelize pandas.read_parquet using multiprocessing.imap_unordered on the individual parquet files, everything works fine. In memory, the DataFrame i

[2021-03-31 21:01] toby-coleman commented on #7492
Just tried it on `2.0.0` and I get the same thing.

[2021-03-31 21:47] rjzamora commented on #7492
Thanks for raising this @toby-coleman - I don't think there is any test coverage for dictionary-column types, so I am not surprised that there are issues. I don’t think this is working for me with fastparquet or pyarrow locally, but the pyarrow failure seems like it should be easy to address.

[2021-03-31 22:06] jrbourbeau commented on #7495
Thanks for raising an issue @ahah-figure. This was reported over in https://github.com/dask/distributed/issues/4645 and we're working to incorporate a fix. If you'd like to engage on that issue, that would be welcome

[2021-03-31 22:06] #7495 closed

[2021-03-31 22:13] benjha commented on #7475
Hi @ax3l, I am curious about your chunk layout.

Does this layout come from how the simulation code partitions the spatial domain ? if so, is it ok to assume chunk 1 was written by let's say MPI process 1, chunk 2 by MPI process 2 and so on ? Is it correct to assume that even the chunks are larger than others, do they have  the same amount of elements ?

[2021-04-01 01:02] RichardScottOZ opened #7496 "Dask reshape size error"
![image](https://user-images.githubusercontent.com/72196131/113229000-9fb81080-92dd-11eb-8534-3c45feeab93e.png)

**What happened**:
[code]

**What you expected to happen**:

Reshape DataArray

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Environment**:

- Dask version: 2.3.0
- Python version: 3.8.6
- Operating System: Windows10
- Install method (conda, p

[2021-04-01 11:07] crusaderky commented on #7466
[code]

This is IMHO a common dask antipattern. You should put yourself in a position to let dask re-run either any one node of the graph or the whole graph without warning. This is regardless of eagerness or laziness of the implementation.

I would suggest that you write to "error.parquet.new" or similar, and then rename and overwrite client-side after the computation is done, e.g. using ``distri

[2021-04-01 11:11] mengaldo commented on #7466
@crusaderky Thank you for the heads up - will try to implement what you suggested. Would you be able to provide a code snippet on how you would practically modify the above? Thank you!

[2021-04-01 11:18] crusaderky commented on #7466
pseudocode. Didn't actually check how the graph for read_parquet looks like.
[code]

[2021-04-01 11:48] crusaderky commented on #7466
[code]
or
[code]

[2021-04-01 12:00] mengaldo commented on #7466
@crusaderky  Thank you!

[2021-04-01 13:42] jsignell commented on #7493
I stuck a breakpoint in `__array_ufunc__` https://github.com/dask/dask/blob/a31c0fc72e1cc59b8b0254965824abb0718c5f56/dask/array/core.py#L1317 and in my upstream env it doesn't hit. So I think something is messed up with the dispatching.

[2021-04-01 13:50] quasiben commented on #7493
@seberg Does NumPy 1.21 have breaking changes ?  I confirmed this is valid for NumPy 1.20

[2021-04-01 14:03] mrocklin commented on #7171
cc'ing the @dask/array team in case anyone wants to dig into what is hopefully a small bug in the reshape code (beware, the reshape code is not for whimps :) )

[2021-04-01 14:27] gudipudipradeep opened #7499 "Connect the exisng scheduler pod to deploy works pods based on needs"
We are trying to connect the dask scheduler to deploy the pods based on configurations.
host & port are the running scheduler pod inside the cluster to connect.

cluster = KubeCluster(pod_spec1, host="192.168.171.113", port="8786")
client = Client(cluster)
cluster.scale(5)

existing scheduler I need to connect and specify the pods before running.

[2021-04-01 14:39] seberg commented on #7493
So you do pass additional keyword arguments after all :/... I thought I had seen `output_dtypes` but then missed that it was still related to NumPy (and was unaware of the others)

The change is that previously NumPy checked for `__array_ufunc__` up-front, which duplicated quite a bit of stuff for no good reason, as far as I could tell that was never intentional but that doesn't mean it can't be u

[2021-04-01 14:59] jsignell commented on #7493
I agree that this pattern is slightly odd, so I am happy to change these tests if this is an intentional change in numpy. But, from my reading of NEP13 it seemed like any additional arguments would be passed through.

[2021-04-01 15:03] jsignell commented on #7496
Thanks for raising this. I get a slightly different error on latest dask, but I still see this behavior. Here is a repoducer:

[code]

[code]

[2021-04-01 15:11] JSKenyon commented on #7171
I may be mistaken (as @mrocklin mentioned, this is pretty dense), but I believe line 52-54 should be:
[code]
The issue at present seems to be that the product is taken over all the input dimensions up to `ii` when in fact we only want to do it over the dimensions which are being combined. I am about to head off for the long weekend, otherwise I would do some more rigorous testing/submit a PR. If t

[2021-04-01 15:45] seberg commented on #7493
I doubt that it was ever intentional so to speak, I was going partially of this discussion: https://github.com/numpy/numpy/issues/8892

But, that doesn't matter much. Even if I am convinced that normalizing arguments up-front is better (e.g. `__array_function__` is very clear that additional arguments are invalid and enforces this.). The question would still be if there is any impact beyond fixing

[2021-04-01 16:23] jsignell opened #7502 "Move pandas dispatch.registers to their own file"
In the dask meeting today we talked about how we should be extra careful when making changes to the dispatchers. We are planning on adding some rapids folks to a codeowners file so that they get automatically  pinged when changes happen in the dispatch functions. I started looking into this just now and realized that we register dispatchers for pandas in several different places. I am proposing br

[2021-04-01 20:57] jsignell commented on #7493
Ok I think the workaround these aren't the only kwargs and I think the workaround is pretty straightforward. So probably dask should move on this one.

@dask/maintenance for visibility

[2021-04-01 20:57] RichardScottOZ commented on #7496
The (reduce, mul ) number was many times bigger in my examp,e when I asked it to print, too, nut the shape created at the start was ok

[2021-04-01 21:24] jsignell opened #7507 "`partd` serialization compatibility with `pandas` 1.3.0"
I just noticed this type of failure cropping up on [upstream tests](https://github.com/dask/dask/pull/7494/checks?check_run_id=2247108030). I imagine it has to do with issue around serialization in distributed, but in case it has to do with the fix, ping @rjzamora @jrbourbeau

[code]

[2021-04-01 22:04] freyam commented on #1259
I'd like to take up this issue and help in adding the following method(s) to Dask's Serial:
* **`axes`**
* **`product`**
* **`divide`** (I believe this has been already added)
* (feel free to suggest any other method from the complete list which is important or easy to implement)

@TomAugspurger which one of the listed ones or the ones I mentioned would be easier to implement?

This would be my fi

[2021-04-02 00:43] jrbourbeau commented on #7507
Thanks for surfacing this @jsignell. This is an issue with `partd` -- I've opened up an issue over there https://github.com/dask/partd/issues/48

[2021-04-02 00:45] jrbourbeau commented on #7489
I see, thanks for the info @bnavigator. Do tests fail when you don't use the `--with-cython` flag?

Also cc @jakirkham for visibility

[2021-04-02 02:21] jakirkham commented on #7489
Good to know. That said, I think it is fair for us to say that the latest optimizations are not going to work on older systems

[2021-04-02 02:33] gjoseph92 commented on #7187
I had hoped that #7508 would resolve this, since it turns out we did have a codepath to write chunk-by-chunk into a single output array, we just were never taking it. However, after applying that fix, both the runtime and peak memory usage of your reproducer don't change.

I think you were saying this already, but to be clear, the issue isn't specifically `np.concatenate`. It's more that with `com

[2021-04-02 10:34] bnavigator commented on #7489
I can confirm that the tests pass with cythonization disabled.

I removed the flag in distributed for 32-bit systems. You could consider to do the same in distributed's setup.py.

[2021-04-02 13:21] jsignell commented on #7376
I am going to close this issue since I think there are several good paths forward.

[2021-04-02 13:21] #7376 closed

[2021-04-02 13:28] TomAugspurger commented on #1259
I think `product` or `axes`. `product` would be more useful, and would follow the pattern of `Series.add`.

[2021-04-02 13:30] freyam commented on #1259
Perfect! I will start working on `dd.Serial.product`

[2021-04-02 14:43] alexis-intellegens commented on #6267
Has there been any further discussion on the multiprocessing shared memory implementation? I also run dask on single machines with high core counts and have read-only datastructures that I want shared.

[2021-04-02 14:43] jsignell commented on #7502
I had another idea that is milder and achieves the same outcome that I think we could try while #7503 and #7505 percolate. The idea is to create some tests for dispatch methods that assert that they contain only exactly the arguments that they currently do. Then we can make a new label ( :smile: ) that gets slapped on any PR that touches that one file.

The con of this approach is that someone cou

[2021-04-02 15:14] Hoeze commented on #6267
@alexis-intellegens the ray depelopers created a Dask scheduler for this called `dask-on-ray`.
I'd recommend you to try this one, it magically dropped my memory usage by an order of magnitue.
Note that you may need to use sth like this:
[code]
ray will automatically de-reference the object for you.

[2021-04-02 15:29] jsignell commented on #7496
Possibly related to ttps://github.com/dask/dask/issues/7171

[2021-04-02 16:12] Madhu94 commented on #7466
I'd like to pick this up!

[2021-04-02 16:16] jsignell commented on #7496
Actually I just read the reshape docstring more carefully and I think the behavior that you are seeing is intentional:

    following limitations:

        ``(1, 2, 3, 4) -> (1, 6, 4)`` or ``(64,) -> (4, 4, 4)``

You'll note that it works to reshape in a way that preserves the order like:

[code]

I am wondering if there is a way to clear up the docstring to make this constraint more clear, and I

[2021-04-02 18:46] #7493 closed

[2021-04-02 19:04] toby-coleman opened #7509 "Partition column missing when reading parquet from Google Cloud Storage"
**What happened**: When reading a partitioned parquet dataframe from Google Cloud Storage, the partition column is missing from the dataframe.

**What you expected to happen**: Expected a column in the dataframe returned by `.read_parquet` to contain partition.

**Minimal Complete Verifiable Example**:

See [this Colab notebook](https://colab.research.google.com/drive/1uCALWyrH1bYvVFk25frfbrAvARqn

[2021-04-02 19:16] jakirkham opened #7510 "Local scheduler parameter `chunksize`"
Recently we added the ability to batch submissions with the local scheduler [using `chunksize`]( https://github.com/dask/dask/blob/a31c0fc72e1cc59b8b0254965824abb0718c5f56/dask/local.py#L420 ) as users have voiced interest ( https://github.com/dask/dask/issues/6220#issuecomment-648878068 ). Mostly this is unused (so a no-op) with [the exception of the `multiprocessing` case where we do some batchi

[2021-04-02 19:17] jakirkham commented on #7510
cc @tomwhite @jcrist (who may have thoughts on these questions)

[2021-04-02 19:19] jakirkham commented on #6220
As to batching, raised issue ( https://github.com/dask/dask/issues/7510 ) about potentially refining this feature and documenting it better. Currently it is present, but a bit hidden atm

[2021-04-02 19:25] jakirkham opened #7511 "Using Loky with Dask"
[Loky]( https://github.com/joblib/loky ) supplies a [`concurrent.futures.Executor`]( https://docs.python.org/3/library/concurrent.futures.html#concurrent.futures.Executor ) that provides an alternative to the Python builtin [`ProcessPoolExecutor`]( https://docs.python.org/3/library/concurrent.futures.html#processpoolexecutor ) (so handling the Multiprocessing use case) with a number of improvement

[2021-04-02 19:26] jakirkham commented on #7511
cc @tomMoral @ogrisel @pierreglaser (in case this is of interest)

[2021-04-02 20:32] liuyangc1 opened #7512 "Issue with reading parquet file output from Spark with partition columns using pyarrow-dataset engine"
**What happened**: I am reading a parquet file output from sparklyr code and partitioned on column ['a', 'b', 'c'] using `pyarrow-dataset` engine, but encounter below error message:
`ValueError: partition(s) should not exist in columns.`

I went to the source code and find that it's due to these lines of code. [https://github.com/dask/dask/blob/main/dask/dataframe/io/parquet/arrow.py#L1090-L1094](

[2021-04-02 20:52] bnaul commented on #7488
Thanks @jsignell, that does seem right based on the graph objects I was seeing in a debugger. One more piece of info, I did a `git bisect` and I believe this was introduced in https://github.com/dask/distributed/pull/4489; @madsbk does this issue / @jsignell's diagnosis make sense to you? Any way we can work around it?

[2021-04-02 22:09] quasiben commented on #7493
Thank you @seberg for you thoughts and time! And thank you @jsignell for tracking and the fix!

[2021-04-02 22:48] gjoseph92 opened #7513 "[Idea] Alternative API for Blockwise io_deps"
tl;dr: what if we extend `Blockwise` to also take array-like objects in its inputs, along with symbols? Think of it as "move `io_deps` into the `indices`", with a few advantages that fall out:
1) More consistent interface to Blockwise: think about IO in terms of broadcasting (auxiliary) data against a chunk pattern, just like Blockwise already does.
1) More explicit pattern for serialization and m

[2021-04-02 23:53] jakirkham commented on #7513
cc @madsbk

[2021-04-03 00:11] jakirkham commented on #7511
Here's a simple example

[code]

[2021-04-03 02:45] RichardScottOZ commented on #7496
Thanks I will try that sometime soon.

Perhaps could include a common 4d and 3d to 2d example in the above that is a bit clearer than 4 cubed?  3 band image, 4d tensor, et al?  Not all on one line with multiple arrows?  Unlikely anyone uses Dask for 64 elements, generally speaking?

If I get this to work, perhaps I can do an example.

[2021-04-03 03:06] RichardScottOZ commented on #7496
Perhaps crosslink transpose too as you mention there, as maybe there will be others that misunderstand as I have?

[2021-04-03 08:23] alexis-intellegens commented on #6267
Very interesting! I'll give it a go. Thanks @Hoeze

[2021-04-03 08:24] alexis-intellegens commented on #6267
Out of curiosity, what were to happen if I made a shared memory object (via Python 3.8 multiprocessing) and tried to access it in dask workers? I'll try it later today.

[2021-04-03 18:56] freyam commented on #1259
@TomAugspurger

Turns out, `dd.DataFrame.prod` already exists.

https://github.com/dask/dask/blob/c5633c21e754df6b2c13195f1e2688e347c48963/dask/dataframe/core.py#L1718-L1740

And, I fond out that it is the same as `product` and I feel that it would be redundant to implement a new method -> `dd.DataFrame.product`

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.product.html
https://pa

[2021-04-03 19:28] SteffenBauer commented on #7161
Seems to be solved now: https://github.com/dask/dask/issues/7402

[2021-04-03 22:33] jakirkham commented on #7161
Thanks for the update :)

[2021-04-03 22:33] #7161 closed

[2021-04-03 22:37] hristog commented on #7301
Just to drop another library name, which might be worthy of consideration: https://c3js.org/.
I haven't had the chance to used it yet, but gave heard positive opinions about it.

[2021-04-03 23:28] henrypinkard commented on #7161
Thanks!

[2021-04-04 00:31] RichardScottOZ commented on #7496
Ok, so just trying taht I get

Geotiff_flat
<xarray.DataArray 'stack-4286d9eeb8766ba3c7466e4b6118c8e8' (variable: 41, band: 1, y: 81794, x: 78063)>
dask.array<stack, shape=(41, 1, 81794, 78063), dtype=int16, chunksize=(1, 1, 8000, 8000), chunktype=numpy.ndarray>
Coordinates:
  * band      (band) int64 1
  * y         (y) float64 -11.89 -11.89 -11.89 -11.89 ... -19.24 -19.24 -19.24
  * x         (x

[2021-04-04 00:33] RichardScottOZ commented on #7496
and an eventual error from xarray
geotiff_rs = dask.array.from_array(geotiff_squeeze).transpose().reshape( geotiff_squeeze.shape[1]*geotiff_squeeze.shape[2], geotiff_squeeze.shape[0] )

then I try and compute geotiff_rs as a test
Geotiff_rs
dask.array<reshape, shape=(6385085022, 41), dtype=uint16, chunksize=(59709620, 1), chunktype=numpy.ndarray>
Geotiff_rs type <class 'dask.array.core.Array'>

co

[2021-04-04 15:06] cpoptic commented on #1849
File "c:\programdata\anaconda3\envs\my_env\lib\site-packages\dask\base.py", line 15, in <module>
    from tlz import curry, groupby, identity, merge
ImportError: cannot import name 'curry' from 'tlz' (unknown location)

[2021-04-04 15:29] mesejo commented on #5610
There are a few warnings, such as:

see https://readthedocs.org/api/v2/build/13290827.txt

In which toctree, should these .rst files be included?

[2021-04-04 15:53] freyam commented on #7250
Hola @GenevieveBuckley @martindurant  :wave:

I am applying to Dask for GSoC this year :rocket:

#7517 is the first PR I have submitted and awaiting review.

I am currently working on adding more methods from Pandas to Dask https://github.com/dask/dask/issues/1259, and as I get more acquainted with Dask, I will continue fixing more advanced issues! :tada:

[2021-04-04 16:28] freyam commented on #1259
I have opened up a new Pull Request #7517 regarding the `product()` method. They passed all the tests and have no conflicts.

Now, I shall start working on adding the `axes()` and `duplicated()` methods, while waiting for your review on the PR.

[2021-04-05 07:47] Pleasesolvethis opened #7521 "please , solve this . I need do finish the work . I got this while deepfaking"
**What happened**:

**What you expected to happen**:

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Environment**:

- Dask version:
- Python version:
- Operating System:
- Install method (conda, pip, source):

[2021-04-05 07:48] Pleasesolvethis commented on #7521
please solve this , I need to finish the work.
raise FileNotFoundError("No such file: '%s'" % fn)
FileNotFoundError: No such file: 'F:\first-order-model-master\first-order-model-master\source.PNG'
I got this while deepfaking though I have source.PNG in that directory

[2021-04-05 08:56] toby-coleman opened #7522 "Appending parquet datasets to Google Cloud can make data unreadable"
**What happened**: Write a parquet dataset to GCS storage with `append=True`, read it back, write it again, then the data cannot be read. Error reported is: `ArrowInvalid: Some index in row_group_indices is 1, which is either < 0 or >= num_row_groups(1)`

**What you expected to happen**: Data should be readable.

**Minimal Complete Verifiable Example**:

See also this [Colab notebook](https://cola

[2021-04-05 13:33] martindurant commented on #7428
I wonder if this is a change in pandas NaN behaviour. Do you have the same pandas version with the earlier/later dask. versions? If yes, then perhaps something we changed to cope with pandas.

Note that questions have stood here unanswered for a while, so I am marking "needs info", and the issue might get closed.

[2021-04-05 14:13] jsignell commented on #7458
I'm going to close this since it seems like you have a solution that works. But if you would like to propose a change to the docs or to the codebase please open a pull request!

[2021-04-05 14:13] #7458 closed

[2021-04-05 15:18] #7521 closed

[2021-04-05 15:29] jrbourbeau commented on #1849
@cpoptic what version of `toolz` are you using? Dask requires `toolz >= 0.8.2`

[2021-04-05 15:46] jsignell commented on #7428
Ah yeah, I agree that this looks like it has to do with new versions of pandas. You can try calling `df.fillna(some_value)` before computing, or coerce to float.

[2021-04-05 15:50] jsignell commented on #5610
I think I've addressed those in #7426 @mesejo, sorry I forgot to link back to this issue.

[2021-04-05 16:00] jsignell commented on #7496
This looks like a separate issue, possibly with transpose in xarray. It'd be best to open a new issue with a minimal reproducible example.

[2021-04-05 16:03] dcherian commented on #7496
Xarray expects dimension names, not axes numbers.

A reshape in xarray land is `stack`: https://xarray.pydata.org/en/stable/generated/xarray.Dataset.stack.html?highlight=stack#xarray.Dataset.stack Can you try and that and open an issue on Xarray's discussions if you still have trouble?

[2021-04-05 16:06] jsignell commented on #7496
Ah perfect. It seems like they are not explicitly including any args or kwargs in transpose.

[2021-04-05 18:45] #7343 closed

[2021-04-05 18:46] rjzamora commented on #7513
Thanks for this @gjoseph92!  As I mentioned offline, I am a mostly supportive of this change.  I don’t think the actual functionality changes at all, and it will require slightly more changes to Blockwise than io_deps required, but future development/maintenance should become more intuitive.

 It is certainly possible to achieve the same behavior with `io_deps` if we, for example,  use `output_blo

[2021-04-05 18:59] jsignell commented on #3565
It's equivalent to set the config in the as you have written, but you have invalid values for `distributed.worker.memory.pause` and `distributed.worker.memory.terminate` those should be floats as indicated in the example in the docs.

[2021-04-05 19:06] jsignell commented on #7522
I would try an older version of pyarrow, but other than that @rjzamora will probably know best.

[2021-04-05 19:17] jsignell commented on #7054
Closed by #7469

[2021-04-05 19:17] #7054 closed

[2021-04-05 19:24] gjoseph92 commented on #7513
Agreed. To be clear, besides the less-tangible benefits of the interface change, the other benefits I listed could be backported to `io_deps`. As you noted, requiring IO arguments to follow a specific interface, where both `__getitem__` and `__dask_distributed_*pack__` are well-defined, is really the important change here. Once you've done that, the distinction between `blockwise(..., "x", "ij", i

[2021-04-05 19:30] jsignell commented on #7446
Yeah that's right. As an example you can mess around with the dask timeseries data:

[code]
You'll see that you end up with a dir for each name and within each dir, a file for each of the original partitions (in this case one for each day).

[2021-04-05 19:32] jsignell commented on #7509
I would recommend that you try an older version of pyarrow, but pinging @rjzamora in case you have a sense of what's going on.

In the meantime @toby-coleman if you can create a minimal reproducible example that'd be very helpful.

[2021-04-05 19:41] jsignell commented on #7512
From your description it seems like sparklyr is writing the file incorrectly. Is that also your interpretation?

[2021-04-05 19:42] jsignell commented on #7512
Ping @rjzamora for estimate on `pyarrow-legacy` deprecation plan.

[2021-04-05 19:46] liuyangc1 commented on #7512
No,  sparklyr is writing the file properly, we are using databricks to run the sparklyr code, which gives parquet files with no metadata. We are okay with the file created by the sparklyr code, I am able to consume it elsewhere, but not using pyarrow-dataset engine on dask.

[2021-04-05 20:10] rjzamora commented on #7513
Yeah - On second thought, it is probably fine to focus on array input for automatic `BlockwiseNdarray` creation within `Blockwise`.  It makes sense to require other `BlockwiseArraylike` objects to be defined outside `Blockwise.__init__` when the logic is bit trickier (because `shape` and `__getitem__` may not be "pass-through" operations).

[2021-04-05 20:14] jsignell commented on #7512
Ok thanks for that, there might be some issues with pyarrow 3, so you could try using pyarrow 2 instead.

[2021-04-05 20:15] ian-r-rose commented on #7513
I like this idea very much.

This, in particular, would help with some of the issues that I have been thinking about in #7417 where some code paths for array creation might involve a (lazy) array, and others might not, determining whether we have to go down a `Blockwise` or `BlockwiseIO` code path. Having a bunch of `if` branches handling all of those is much more difficult to reason about than ma

[2021-04-05 20:39] toby-coleman commented on #7509
Looks like the problem is there on `pyarrow==2.0.0`. @jsignell does the example above/Colab notebook not work as a minimal reproducible example - all that I left out was my GCP token?

Having said that looks like a new version of `fsspec` has just been released, which breaks something else... so it needs to be run with `fsspec<0.9.0`.

[2021-04-05 20:42] gjoseph92 commented on #7513
@ian-r-rose did you look at https://github.com/dask/dask/commit/ff15a85311c778636578234f3a37fee1cedba4a0? Since I cribbed a lot of ideas from #7417, I'm particularly curious what you think. Being able to avoid the `if`s and handle both lazy and non-lazy arrays was quite nice.

Yeah, this should have a more specific tighter type bound. I would have just required `np.ndarray`, but didn't want to add

[2021-04-05 20:57] ian-r-rose commented on #7513
Yes, I did, and I like it very much :+1:  . I think it's a nice improvement.

Sure, makes sense. This is essentially the same issue that we need to finesse in other places: how do we support ndarrays without importing numpy?  I would be to go ahead and put the utility function in `dask.array.utils` or similar where it can reference numpy, since that's the intent anyways.

I know it's doable with T

[2021-04-05 21:44] jsignell commented on #7509
Sorry I had missed that this only happens on GCP. Can you dump an `ls` of the files in `gs://my-bucket/dask-test`?

[2021-04-05 22:04] RichardScottOZ commented on #7496
Thanks @dcherian I was looking at stack last night but haven't tried it yet - one version is really slow, but to_stacked_array might be useful?

[2021-04-05 23:32] RichardScottOZ commented on #7496
Interestingly, quick test of this works - dies on laptop test from memory issues, not shape issues:-

![image](https://user-images.githubusercontent.com/72196131/113638757-c350d180-96b6-11eb-98ac-31f7fe82564c.png)

[2021-04-06 01:49] raybellwaves commented on #7522
I asked something similar on gitter recently: https://gitter.im/dask/dask. There may be a better way to add gitter links but it wasn't too long ago (3/29).

I'm unsure on appending when writing to a bucket instead of local. You could test the caching with something like `fs = gcfs.GCFileSystem(use_listings_cache=False)` cc. @martindurant.

I've tended to use a tmp file if it's a one off thing and

[2021-04-06 09:28] madsbk commented on #7488
I don't know why this worked before  dask/distributed#4489 but https://github.com/dask/dask/pull/7524 should fix it :)

[2021-04-06 10:43] crusaderky commented on #7513
You actually need it for all versions, or otherwise your imports will be a forest of ```try... except ImportError``. Also mypy is not always brilliant on conditional imports (remember, it does not run the code).

[2021-04-06 13:31] #7171 closed

[2021-04-06 15:01] toby-coleman commented on #7509
Just tried it again on the newly released `gcsfs==0.8.0` and now it works - the partition column gets returned when calling `.read_parquet` dataframe. Looks like the issue can be closed 😀

[2021-04-06 15:02] rjzamora commented on #7509
Cool, I just updated my env to pyarrow-3 to help here, and was about to second Julia's request for a file listing =)

[2021-04-06 15:11] toby-coleman commented on #7522
It's a private bucket. I tried downloading the data out of Google Cloud and found it was unreadable locally as well.

Having said that, I just retried with the newly release `gcsfs==0.8.0` and the problem looks to be resolved 😀. Reads and writes as expected now.

[2021-04-06 15:14] martindurant commented on #7522
Er, hurray?!
Then I suppose we can close this, but I can't say I know what happened.

[2021-04-06 15:16] rjzamora commented on #7509
Thanks for the update @toby-coleman - Feel free to re-open this if the problem shows up again with gcsfs>=0.8.0

[2021-04-06 15:16] #7509 closed

[2021-04-06 15:17] #7522 closed

[2021-04-06 15:27] toby-coleman commented on #7522
I know... I'll admit to being slightly bemused considering how long I spent working out how to reproduce the problem, but take a win where you can, eh?

[2021-04-06 16:53] rjzamora commented on #7512
I don't personally have a great estimate at the moment. There are a few downstream libraries that have yet to move to `ArrowDatasetEngine`, because the legacy engine is still a bit faster in some cases (or at least they *were* - I'll need to check pyarrow-3).

You should be able to read a partitioned dataset without the "_metadata" file, so I agree that there is a problem in Dask if you have probl

[2021-04-06 21:37] jakirkham commented on #7307
Done in PR ( https://github.com/dask/dask/pull/7387 ), which is included in the recent release, `2021.4.0`

[2021-04-06 21:37] #7307 closed

[2021-04-07 03:30] ax3l commented on #7307
Wuhu, thank you so much @douglasdavis for the PR and @jakirkham for the review and guidance! I'll try it tomorrow on our data! :tada:

[2021-04-07 07:50] jorisvandenbossche commented on #7507
(just a note about the title: it's not a pyarrow issue, but a pandas compatibility issue ;))

[2021-04-07 11:38] jorisvandenbossche commented on #7512
In general: there are indeed other systems that write partitioned datasets with keeping the partition columns also as physical columns in the files (as opposed to dask which drops them before writing the files), so I think it would be good for dask to support reading such data (plain ``pyarrow.dataset`` does support that).

Trying to create a reproducible example:

[code]

However, the above examp

[2021-04-07 11:39] jorisvandenbossche commented on #7492
@martindurant side question: is there a specific reason you recommend v2.x for now? Just to be sure that if there were issues with 3.0, we have addressed them in the upcoming 4.0 release (as this is targetted for next week)

[2021-04-07 12:45] AbhiSingam commented on #1259
Hey!!
I'd like to work this issue, specifically on the following methods:
- to_string
- first_valid_index
- last_valid_index

These seemed like good methods to pick for my first contribution to Dask. I'd love any input or suggestions on what other methods should take up or any specifics regarding the methods chosen.
For reference I've gone through the [Pandas documentation](https://pandas.pydata.o

[2021-04-07 12:50] martindurant commented on #7492
Only because 3 is new, and this is the quickest way to check whether it's the new version which made the difference. I have no particular reason to suspect it.

[2021-04-07 12:57] martindurant commented on #1259
I think you're best off implementing what you can, and then coming back for more.

[2021-04-07 13:23] rjzamora commented on #7492
Yup - I don't think I have seen any *real* pyarrow-3 problems, you guys are great about testing against Dask @jorisvandenbossche !  Even so, it typically makes sense to *consider* the parquet-engine backend when there is a perceived change in behavior.

[2021-04-07 13:33] rjzamora commented on #7512
Ah - Interesting.  This actually makes a lot of sense to me, but my only exposure to "partitioned" datasets has been through Dask :)

In the case that the partition column actually exists in the data, I assume that we should always **use** that data (rather than the value embedded in the partition name)?  I can imagine a scenario where the data type is coarsened for the partitioning (e.g. rounding

[2021-04-07 13:54] chrisroat opened #7532 "Configuration docs "dask." prefix not correct"
**What happened**:

Configuration parameters listed in the [configuration reference](https://docs.dask.org/en/latest/configuration-reference.html) with a `dask.` prefix should not have that prefix.

**Minimal Complete Verifiable Example**:

[code]

With `dask.` prefix, get error:

[code]

**Anything else we need to know?**:

The [conversion utility](https://docs.dask.org/en/latest/configuration.ht

[2021-04-07 14:16] quasiben commented on #7532
The spelling for Dask configs is a little confusing.  I believe it needs to be  `DASK_DASK__VALUE`

[code]

[2021-04-07 14:17] quasiben commented on #7532
Hmm, I think I might be wrong actually.  The above will build a new key/value in the config

[2021-04-07 14:23] jrbourbeau commented on #7532
Thanks for reporting @chrisroat -- I agree with you and @quasiben that the config values listed should be, for example, `optimization.fuse.active` instead of `dask.optimization.fuse.active`.

[2021-04-07 16:21] jsignell commented on #7507
I triggered a run here https://github.com/dask/dask/runs/2282926066 since the partd PR merged!

[2021-04-07 16:25] jrbourbeau commented on #7507
Ah, I'm checking things in https://github.com/dask/dask/pull/7534 too

[2021-04-07 16:56] #7532 closed

[2021-04-07 17:04] jrbourbeau commented on #7507
https://github.com/dask/partd/pull/49 resolved the serialization issue we were encountering in the upstream build. I've opened up an issue for releasing `partd` over at https://github.com/dask/partd/issues/51

[2021-04-07 17:06] jsignell commented on #7507
Good to close on this then I think.

[2021-04-07 19:08] #7392 closed

[2021-04-07 19:16] jsignell opened #7535 "Upstream failures with `idxmaxmin`"
I am taking a look now. But these failures just started showing up on upstream CI
[code]

[2021-04-07 19:17] jakirkham commented on #7261
This was reworked and reintroduced in `main`. Could some people here please try this out and report back on how it goes? 🙂

[2021-04-07 19:21] #7261 closed

[2021-04-07 19:24] beckernick opened #7536 "Linalg solve_triangular fails on cupy backed arrays"
`dask.array.linalg.solve_triangular` fails on cupy backed arrays due to the function explicitly using the scipy routine. Now that CuPy supports `solve_triangular` in the `cupyx.scipy.linalg` namespace, I suspect we could dispatch and provide support in dask.array.

https://github.com/dask/dask/blob/c5633c21e754df6b2c13195f1e2688e347c48963/dask/array/linalg.py#L1178-L1191

https://github.com/dask/d

[2021-04-07 19:33] beckernick opened #7537 "Linalg lstsq fails on cupy backed arrays"
`dask.array.linalg.lstsq` fails on cupy backed arrays due to `solve_triangular` explicitly using the scipy routine. Now that CuPy supports `solve_triangular` in the `cupyx.scipy.linalg` namespace, solving #7536 would likely be one of the last pieces to fall into place (as `linalg.qr` already works)

https://github.com/dask/dask/blob/c5633c21e754df6b2c13195f1e2688e347c48963/dask/array/linalg.py#L14

[2021-04-07 19:56] quasiben commented on #7537
This is going through scipy (as noted in the log) which has not implemented NEP-18: https://github.com/scipy/scipy/issues/10204

cc @jakirkham if you have more details here

[2021-04-07 20:42] jsignell commented on #7535
So far I think something is wrong with `split_every`. This test passes if you set the npartitions to 4 which is evenly divisible by 3.

[2021-04-07 20:53] jorisvandenbossche commented on #7492
OK, perfect (I was just wondering ;))

[2021-04-07 20:54] ax3l commented on #7475
Thank you for the feedback and details!

Our data is from large-scale simulations that compose multiples of a fundamental block size dynamically into grids and assigning one or more grids to MPI ranks ([AMReX](https://amrex-codes.github.io/amrex/docs_html/ManagingGridHierarchy_Chapter.html) details; note that we talk about the coarsest MR level at the moment). As these grids move around, the domai

[2021-04-07 21:44] jakirkham commented on #7475
Thanks for the update Axel! Glad you were able to get something working here 😄

Yeah I think we discussed this a few weeks back, but I think this probably happens in phases. Namely the first step is to get the whole workflow working with Dask. My guess is there are still lots of things we need to iterate on after that, but I think that will be easier to see after being able to run all the way thro

[2021-04-07 22:19] ax3l commented on #7475
Thanks John, that's also my plan :slightly_smiling_face:

For getting into the distributed setting: are there more details to the `h5py` tricks that Matthew mentioned in the SO that we could also make use of or should I follow the plan described above? If there is a persistent way to keep workers that are responsible for reading data alive and pass chunks to them without shutting down their I/O-li

[2021-04-08 01:08] ax3l commented on #7307
This works like a charm!! :+1:
I tried it in a non-distributed context so far, hope to get to distributed chunks soon (https://github.com/dask/dask/issues/7475#issuecomment-815256247)

![dask](https://user-images.githubusercontent.com/1353258/113953248-3e57dc00-97cc-11eb-9dbf-6890d7c8a755.png)
[DaskOpenPMD.pdf](https://github.com/dask/dask/files/6275308/DaskOpenPMD.pdf) / [DaskOpenPMD.ipynb.zip](h

[2021-04-08 01:15] jakirkham commented on #7307
Awesome thanks for sharing Axel! Nice to see all of these pieces coming together 😀

[2021-04-08 07:08] c-thiel opened #7539 "read_sql_table returns incomplete result if index_col is only column"
**What happened**:

When running ``dask.dataframe.read_sql_table(head_rows=0, meta=meta)`` with on a table which has only one column, or when selecting *only* the index_col from a table, then the returned result is incomplete.

**Minimal Complete Verifiable Example**:

[code]
where ``my_table`` has only the `ID` column and more than `head_rows` rows.

**Anything else we need to know?**:
This behav

[2021-04-08 07:20] freyam commented on #7250
In the meanwhile, I have also submitted a PR to `dask-tutorial`

Awaiting review https://github.com/dask/dask-tutorial/pull/211

It was a trivial Find and Replace job and I have tested it out on https://mybinder.org/ before submitting a PR.

[2021-04-08 09:17] bhagatsajan0073 opened #7540 "Exception: maximum recursion depth exceeded while calling a Python object"
**Code Base**

[code]

### Same error is coming on dask cluster with dask version 2021.04.0

----------------------------------------------------------------
[code]

### Error Message coming on operation with dask dataframe wherever a compute operation is happening
---------------------------------------------------------------------------
[code]