[2022-05-27 13:59] jrbourbeau commented on #9136
Thanks for surfacing this @charlesbluca. Do all `groupby` calls fail, or just when a `dropna=` keyword is specified?

[2022-05-27 14:30] jrbourbeau commented on #9136
In that case we should end up raising the same error `pandas` does when we attempt to construct `_meta` which is, I think, okay. Though I could be missing something

[2022-05-27 14:42] #8619 closed

[2022-05-27 14:42] #8832 closed

[2022-05-27 14:49] jcrist commented on #8031
All the linked issues have been resolved, closing this in favor of more specific issues.

[2022-05-27 14:49] #8031 closed

[2022-05-27 14:58] jcrist commented on #4894
`to_parquet` no longer produces a `_metadata` file by default, so the memory taken by metadata aggregation is no longer required by default. If the user sets `write_metadata_file=True`, only the metadata is collected and merged in a single aggregation task, the original data is not held in memory and can be released. Closing.

[2022-05-27 14:58] #4894 closed

[2022-05-27 16:04] mrocklin commented on #8031
Woo!

On Fri, May 27, 2022 at 9:50 AM Jim Crist-Harif ***@***.***>
wrote:

[2022-05-27 17:07] jrbourbeau opened #9137 "Can't find `cleanup` pytest fixture"
We started seeing

[code]

on `main` in all our `distributed`-related tests. Probably related to https://github.com/dask/distributed/pull/6231 cc @graingert

[2022-05-27 17:40] jorloplaz commented on #9122
This is because of the following code:

[code]

Thus, if you do `dask_df.cumsum(skipna=False).compute()` it works, because it just calls `iloc`, which is robust to column non-unicity.

However, with `skipna=True` it must look for the last non-nan value in each column, and here it assumes that column names are unique.

@faulaire Is there any good reason at all to have 2 equally-named columns in a `

[2022-05-27 20:57] miltava opened #9141 "DataFrameIOLayer becomes MaterializedLayer when pickled"
Hey everyone,

We have a use case where we are reading many parquet files that might have different schemas. To parallelize this we are submitting the read_parquet to workers and concatenating the different dataframes in the client.

It looks like the code below:

[code]

We noticed that, when reading the parquet files on workers (and concatenating them in the client), it takes much much longer to

[2022-05-27 21:38] jrbourbeau opened #9142 "`pyarrow` partition logic error"
Following https://github.com/dask/dask/pull/9041 being merged, we started seeing several tests fail on `main` (e.g. `dask/dataframe/io/parquet/arrow.py::test_split_row_groups[pyarrow]` with the following error:

[code]

I should also note that locally I didn't see this error when using `pyarrow=7`, but do with `pyarrow=8` (released two days ago)

cc @rjzamora @jcrist

[2022-05-27 21:48] jrbourbeau commented on #9142
I think I have a fix. Pushing up a PR now...

[2022-05-27 23:27] #9142 closed

[2022-05-27 23:47] rjzamora commented on #9142
Ah - Sorry about that. I didn't realize there was a new pyarrow release. Thanks for jumping on this so quickly @jrbourbeau !

[2022-05-30 07:46] faulaire commented on #9122
No good reasons to have 2 equally-names columns in my DataFrames. I was working on another issue #9092 and as you said, this case is handled by iloc that why I had this kind of DataFrames.

+1 to prevent this at construction.

[2022-05-30 08:36] jorloplaz commented on #9122
This check is trivial to add in `from_pandas`, but I'm in doubt whether it should be a more general check at a deeper level, perhaps inside `_Frame.__init__()`, or in `__new__()`, or even in `new_dd_object`.

@rjzamora @jsignell What happens if we try to build a `dd.DataFrame` from another object (let's say reading from Parquet/CSV files) which have repeated columns? Is that even possible? I'm nea

[2022-05-30 11:57] pavithraes commented on #9133
@johncoxon Welcome to Dask! I'm not able to reproduce this, could you please share the outputs you're seeing?

`da.where` evaluates lazily, so we see a `dask.array`, but calling compute gives the same result:

[code]

[2022-05-30 15:52] faulaire commented on #9042
All features of map_partitions are now implemented in map_overlap. But a lot of codes are duplicated between the two files.
I could only keep the part of creating new dask dataframe (with previous and nexts parts) and call a map_partitions with the a collection of modified args.

[2022-05-30 18:06] pavithraes commented on #5982
Resolved by #8507

[2022-05-30 18:06] #5982 closed

[2022-05-30 18:28] d70-t opened #9146 "wrong calculation of `warnsize` in slicing?"
**What happened**:
[code]

**What you expected to happen**:
No performance warning. Resulting chunks are each below 10MiB.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

The calculation of `warnsize` at [`take`](https://github.com/dask/dask/blob/cccb9d8d8e33a891396b1275c2448c352ef40c27/dask/array/slicing.py#L642) might be wrong. My guess would be, that it s

[2022-05-30 18:28] d70-t commented on #9146
cc @TomAugspurger

[2022-05-31 17:22] quasiben commented on #9146
@jakirkham when you are back from PTO can you take a look at this ?

[2022-05-31 18:05] pavithraes commented on #9135
@LunarLanding Welcome to Dask, and thanks for reporting!

[2022-05-31 18:33] jrbourbeau commented on #9125
The

[code]

error showing up here was fixed by https://github.com/dask/dask/pull/9143

[2022-05-31 18:33] #9125 closed

[2022-05-31 18:35] pavithraes commented on #9135
I took a look at this with @ian-r-rose, and this seems to be because cloudpickle isn't always deterministic: https://github.com/cloudpipe/cloudpickle/issues/385

I agree we can raise a warning/runtime error here. I can open a PR. :)

Reproducer:

[code]

[2022-05-31 22:43] ian-r-rose commented on #9141
Hi @miltava, I responded at greater length in the linked discourse issue, but briefly:

It is indeed deliberate that pickling a layer [materializes it by default](https://github.com/dask/dask/blob/0b876af35b5e49e1f9f0084db4b4d63d9d0ce432/dask/highlevelgraph.py#L471-L473). But this is mostly because you aren't supposed to transmit them via pickling them, they instead have their own serialization fr

[2022-06-01 00:38] #9092 closed

[2022-06-01 13:30] johncoxon commented on #9133
Ahhh, the docs for `da.where` don't say that it evaluates lazily, so I was expecting it to behave the same as `np.where` – it might be worth updating the documentation to make that clear?

[2022-06-01 13:31] johncoxon commented on #9133
Thanks for your response!

[2022-06-01 13:31] NickSchouten opened #9151 "Pyarrow schema not used. Cannot add an empty column that did not exist in parquet file"
**What happened**:
Dask does not generate an extra None column when given a schema that contains an extra column
**What you expected to happen**:
See pandas example below
**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

At this [line](https://github.com/dask/dask/blob/cdc7d2d326bddb4c51f642e806c59b635da958fd/dask/dataframe/io/parquet/arrow.py#L861)  L861 in da

[2022-06-01 14:02] github-actions[bot] opened #9152 "⚠️ Upstream CI failed ⚠️"
[Workflow Run URL](https://github.com/dask/dask/actions/runs/2537102455)

[2022-06-01 17:12] rjzamora commented on #9043
Thank you for commenting @g4brielvs !  This is good information - Hopefully we can preserve the features you are finding useful as we clean things up. A few questions with this motivation in mind:

1. Are you ever using `chunksize` in combination with `aggregate_files`? (Note that I am hoping the answer is "no," but no worries if you are)

2. Do your Parquet files have consistent row-group sizes (

[2022-06-01 17:17] jsignell commented on #9118
With the recent changes to try to make more informative errors, this has actually gotten a little harder to interpret. I'm wondering if period needs a special case like datetime has.

[2022-06-01 18:39] miltava commented on #9141
Hi Ian. Thanks for the the explnation. We can use dd.from_map in our case and it will help for sure.

[2022-06-01 19:59] ian-r-rose commented on #8816
As @pavithraes notes, this has been happening with regularity on python3.10+ubuntu for the last week+. I see there was a new release of h5py that happened around the same time.

Interestingly, we are using a `Lock` in the test, but it seems that the filesystem lock doesn't always agree.

[2022-06-01 20:01] jakirkham commented on #8816
As noted in the comment above ( https://github.com/dask/dask/issues/8816#issuecomment-1083850276 ), this may come down to defining an environment variable. Copying to be explicit:

[code]

[2022-06-01 20:07] ian-r-rose commented on #8816
Yes, I was about to open a PR testing that. I'm concerned that it came up at all, though, in the context of using a dask lock. It seems that the filesystem locking has a different perspective on things.

We can add that environment variable and say "we trust our lock more", of course, but I was hoping to understand what's going on a bit more.

[2022-06-01 20:35] jakirkham opened #9155 "Investigate using `SeedSequence` for random number generation"
NumPy's new API for random number generation has `SeedSequence` for parallel cases. Logic in Dask precedes this addition. Might be worth investigating using this for random number generation in Dask.

https://github.com/data-apis/array-api/issues/431#issuecomment-1143982829

[2022-06-02 07:50] NickSchouten commented on #9151
Going trough the source code further showed that physical_schema is only ignored when using pandas schema?

I created that as such:
[code]
and then gave that to dask read_parquet
[code]

Which gave me a new error:
[code]

Which I am still investigating atm

[2022-06-02 10:45] jorloplaz commented on #9118
My guess is that this is yet another duplicate of #5720

[2022-06-02 10:48] jorloplaz commented on #9056
This matches with the discussion in #9122 : IMHO Dask should prevent at all costs building DataFrames with duplicate column names.

[2022-06-02 11:40] NickSchouten commented on #9151
This [line](https://github.com/dask/dask/blob/217561b4266c170f452471fed64123940066c4b8/dask/dataframe/io/parquet/arrow.py#L267)

[code]

Seems to be the problem as pyarrow ParquetFile cannot receive a schema. Actually to me it seems the schema given to the function `_read_table_from_path(` is not used at all.

By changing the above linked lines to
[code]

The minimal example works **IF** the saved

[2022-06-02 14:31] pavithraes opened #9158 "Update relevant tests to use `sort_results` argument"
#9130 adds a `sort_results` argument to `assert_eq`, which allows us to assert DataFrame equality _without_ sorting them (by default, `assert_eq` sorts the input DataFrames before checking equality). It'll be nice to identify+update the tests that would benefit from it.

A first step could be to run the dataframe tests with `check_index=False` and `sort_results=False` as defaults.

[2022-06-02 15:06] jorloplaz commented on #9118
Yes, in my company we resort to a workaround which is not very elegant, but is the only thing we could think of:

1. A downcast of `index_col` to its numpy's underlying `kind`: `s = ddf[index_col].astype(ddf[index_col].dtype.kind)`.
2. A call `ddf.set_index(s)` instead of `ddf.set_index(index_col)`.
3. When doing `ddf.reset_index()`, be careful to upcast again: `ddf.reset_index(drop=False).astype(

[2022-06-02 17:52] rjzamora opened #9159 "[Discussion] HighLevelGraph Development Roadmap"
`HighLevelGraph`s (HLGs) are discussed in many places throughout Dask’s GitHub organization, but there is no single place with an up-to-date status and outlook.  This issue should be modified if/when the HLG roadmap changes.

**Last Update**: 2022/06/02

## Current status

`HighlevelGraph` development is currently “frozen”.

The ongoing development of new `highlevelgraph.Layer` classes and/or `Hig

[2022-06-02 17:55] rjzamora commented on #9159
@mrocklin @jrbourbeau @jcrist @ian-r-rose - Please feel free to weigh in here and correct and holes or inaccuracies. The current summary above is only my personal understanding of the status and outlook for HLGs.

[2022-06-02 18:30] douglasdavis commented on #9159
Thanks for writing this up, @rjzamora! Wanted to mention that you have a couple of links to issue 6028 in dask/dask instead of in dask/distributed

[2022-06-03 00:45] ian-r-rose commented on #8816
I'll keep an eye on it tomorrow, and if things seem better by EOD, I can close it then

[2022-06-03 07:28] NickSchouten commented on #9151
@pavithraes Thanks for the answer! I could make that work and will. To me it does seem a slight bit dirty as It will be avoiding the dask implementation of reading parquets.
I'm mostly afraid that other people (that will be using my implementation of reading the data) will call more from_maps (or worse delayeds) on it and the dask schedular will act out in revenge 😅

With regards to the use case,

[2022-06-03 14:21] guidocioni commented on #6575
As this is not yet implemented, is there any workaround to add the filepath as colum to the resulting dataframe when reading parquet files?

[2022-06-03 14:37] MrPowers commented on #6575
@guidocioni - I am not aware of any workaround, but pinging @martindurant and @rjzamora as they might know.

[2022-06-03 14:38] rjzamora commented on #9151
@NickSchouten - Thanks for raising this issue! (It is great to have clear reports on the current limitations of `read_parquet`).

I believe it is possible to address the issue you are seeing, but it won't be easy (I have been trying to clean things up for a while now, but I have had trouble figuring out a way to do it without deprecating some of the more complex read_parquet options).

Your concer

[2022-06-03 16:54] rjzamora commented on #6575
It may be tricky to add this feature to `read_parquet`. Can you use somethig like the following to capture what you need?

[code]

[2022-06-03 17:45] jakirkham commented on #8816
Hmm...looks like the issue persists ( https://github.com/dask/dask/pull/9161#issuecomment-1146213734 )

[2022-06-03 18:32] ian-r-rose commented on #8816
Shucks

[2022-06-04 17:18] shawnbrar opened #9162 "Cannot create a lagged variable with dask-cuDF"
I have the following `dask_cudf.core.DataFrame`:-

    import pandas as pd
    import numpy as np
    import dask_cudf
    import cudf

    data = {"x":range(1,21), "nor":np.random.normal(2, 4, 20), "unif":np.random.uniform(size = 20)}
    df = cudf.DataFrame(data)
    ddf = dask_cudf.from_cudf(df, npartitions = 2)
    ddf.compute()

I wanted to create 1st till 5th lagged values for the columns `n

[2022-06-05 16:48] guidocioni commented on #6575
Isn't this going to load every single parquet into memory?

[2022-06-06 13:48] khanetor opened #9163 "Pyarrow string bug"
[code]

**What happened**:
In the example above, an error that seems to relate to pyarrow string happened. It kills the workers, and scheduler, and the whole python process exits.
[code]
Notice the `nrows` argument. If you change that to a small number of rows, such as 300, then it is okay. If the nrows is about 1000, it starts to break.

**What you expected to happen**:
The computation should hap

[2022-06-06 13:57] pavithraes commented on #9162
@shawnbrar Welcome to Dask, and thanks for reporting!

The example seems to work fine with pandas + Dask DataFrame, @jakirkham this might be specific to cudf?

[2022-06-06 14:51] multimeric opened #9164 "Persistent caching"
I'm interesting in writing distributed code that runs using Dask, but that checkpoints at certain points, so that it can resume from these points in case of a failure. This is distinct from the [opportunistic caching](https://docs.dask.org/en/stable/caching.html) already built into dask, which doesn't persist between restarts of the scheduler.

[Previously I talked about this on Twitter](https://t

[2022-06-06 16:19] jrbourbeau commented on #9162
Also cc @dask/gpu

[2022-06-06 16:25] galipremsagar commented on #9162
Seems to be `dask-cudf` issue, I'm looking into it.

[2022-06-06 18:16] SultanOrazbayev commented on #9164
There is a relevant library here: https://github.com/radix-ai/graphchain

Here's one example (other than the ones in the docs of graphchain): https://stackoverflow.com/a/72521496/10693596

[2022-06-06 18:42] ian-r-rose opened #9166 "`DataFrame.to_parquet()` doesn't support passing in filesystem"
It seems that passing in a custom filesystem to `DataFrame.to_parquet()` is currently broken:

[code]
- Dask version: `main`

produces:
[code]

[2022-06-06 18:48] ian-r-rose commented on #9166
Ah, my mistake, I thought this was already part of the API, but it seems not to be the case. Closing, and possibly re-opening as a feature request

[2022-06-06 18:48] #9166 closed

[2022-06-06 19:01] jrbourbeau commented on #9166
I think you might be after

[code]

[2022-06-06 19:14] jrbourbeau commented on #9163
Thanks for reporting @nlhkh -- I can confirm this is a bug. Further, running your example on a few different commits, it looks like https://github.com/dask/dask/pull/9024 is where this serialization error was introduced. For context, here's the full traceback

[code]

cc @jcrist @ian-r-rose @jorisvandenbossche for visibility

[2022-06-06 19:19] ian-r-rose commented on #9166
I don't think that does the job either, my read of the current API is that the filesystem is always inferred from the path (`fsspec.get_fs_token_paths`).

I think the current status with a filesystem URI + `storage_options` is okay, I was just mixing up a couple of APIs in my brain

[2022-06-06 19:22] #9135 closed

[2022-06-06 19:46] jrbourbeau commented on #9152
It looks like we're still running into

[code]

when attempting to install the nightly `pandas` wheels -- even after https://github.com/dask/dask/pull/9103. I suppose we could increase the retries even further, but I wonder if other projects are running into a similar issue. @jorisvandenbossche do you know if other folks are encountering the above error when installing the nightly version of `pand

[2022-06-06 20:09] nlhkh commented on #9163
Thanks @jrbourbeau

[2022-06-06 20:45] galipremsagar commented on #9162
@shawnbrar From the stack-trace looks like you are on an older version of `cudf` that had this issue, but this is resolved in latest version of `dask_cudf`:
[code]

[2022-06-06 20:53] jrbourbeau commented on #9162
Thanks for looking into this @galipremsagar! @shawnbrar can you upgrade your `dask_cudf` version and confirm whether or not that fixes the issue?

[2022-06-07 02:41] multimeric commented on #9164
Interesting! I'll try to see if it suits my use cases

[2022-06-07 09:20] guidocioni commented on #6575
I found a solution using `dask.delayed` and assigning manually the filepath as a new column. I'll post the code here.
Unfortunately I started having another issue of type mismatching due (I believe) to the fact that Dask only checks some of the rows to infer the type...
When loading directly all the parquet files into pandas and concatenating I didn't have any issue, so I'm not sure exactly which

[2022-06-07 11:41] jorisvandenbossche commented on #9152
For example in the geopandas CI (where we also install pandas nightly), I haven't noticed such issues.

But now I take a look, I do see that we are stuck on an older version of pandas (pandas-1.5.0.dev0+686.g5b76b77399, while the latest should be around pandas-1.5.0.dev0+898).
We are using python 3.10 for the dev build, while dask is using 3.9. Looking at https://pypi.anaconda.org/scipy-wheels-nig

[2022-06-07 11:49] simonjayhawkins commented on #9152
the most recent comment that I am aware of is https://github.com/pandas-dev/pandas/issues/46856#issuecomment-1145366068

[2022-06-07 12:10] shawnbrar commented on #9162
Yes I am on `rapids 21.12` which is an older version. I will update it and tell you.

[2022-06-07 14:47] #9018 closed

[2022-06-07 14:55] #7323 closed

[2022-06-07 16:14] jsignell commented on #9129
I agree that it would be better if there were one canonical version of these config fields, but I do think that the current behavior is intentional. It is described in the `canonical_name` function:

https://github.com/dask/dask/blob/c5e4b7c367a7283c81c49978020a26d04c34d3b5/dask/config.py#L62-L66

In practice in dask it never matters if you have used an underscore or a hyphen because the `get` han

[2022-06-07 16:46] jcrist commented on #9163
Thanks for the reproducible example, this should be fixed by https://github.com/dask/dask/pull/9170.

[2022-06-07 17:49] mrocklin commented on #8842
@jcrist can you give a summary of where we are on this and what a set of good next steps would be?

[2022-06-07 17:50] #9163 closed, assigned to nobody

[2022-06-07 19:24] pavithraes commented on #9164
@multimeric Thanks for writing this up!

I don't think is in scope, at least in the short term. However, let's leave this issue open as a feature request to gather more thoughts. :)

[2022-06-08 14:37] fbriol opened #9172 "Persist throws an error : IndexError: tuple index out of range"
I can't evaluate a persistent Dask array if I change the scheduler before evaluating it.

**What happened**:

IndexError: tuple index out of range

**What you expected to happen**:

No error.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Environment**:

- Dask version: 2022.05.2
- Python version: Python 3.9.13 | packaged by conda-forge | (main, May 27 20

[2022-06-08 15:43] pavithraes commented on #8999
@ian-r-rose and I looked into this. We think the issues is that `merge_asof` sets the `on` column as index with `sorted=True`, here:
https://github.com/dask/dask/blob/6369cdb06813cf9d35f7d19f855ebabcde26d0a2/dask/dataframe/multi.py#L950 and, here:
https://github.com/dask/dask/blob/6369cdb06813cf9d35f7d19f855ebabcde26d0a2/dask/dataframe/multi.py#L955

`sorted=True` results in the same number of par

[2022-06-09 08:49] NickSchouten commented on #9151
Ok! Thanks to your tips I made this:
It works and is not gigantically slower.
Context we use intake, so the source is an intake driver.

[code]

[2022-06-09 12:27] pavithraes commented on #9172
@fbriol I think this is by design, I wouldn't expect dask to work correctly if we mix schedulers. See: #8474

In the above example, after persisting, `array` points to futures on the distributed workers which aren't accessible to the single machine "synchronous" scheduler.

If you run `array.compute(scheduler="sync")`, you will see the warning:

It'll be nice if a similar warning/error was raised

[2022-06-09 15:07] fbriol commented on #9172
It's really annoying not to be able to change the scheduling of the tasks. Is there a way to tell Dask to run the graph sequentially on the distributed cluster?

Apart from the problem with the "persist" method, the code works fine.

[2022-06-09 17:52] rrpelgrim opened #9176 "Improve docstring for `dask.dataframe.Series.str.split`"
From [this StackOverflow question](https://stackoverflow.com/questions/71493347/split-column-in-a-dask-dataframe-into-n-number-of-columns) it appears that it would be useful to modify the docstrings for `dask.dataframe.Series.str.split`.

The [docstrings](https://docs.dask.org/en/latest/generated/dask.dataframe.Series.str.split.html?highlight=dask.dataframe.Series.str.split) currently mention "Som

[2022-06-09 18:35] scharlottej13 commented on #9176
Thanks @rrpelgrim for opening up this issue and volunteering to work on it! Here's where [`Series.str.split`](https://github.com/dask/dask/blob/22915dca760f92219915e3afaf9ffa8dc31d1ad9/dask/dataframe/accessor.py#L275-L277) is defined, that's where you can change the docstring

[2022-06-10 14:11] mrocklin opened #9179 "Stop using dask.config.ensure_file in downstream libraries"
Ensure file is useful. It's not always what you want though. It creates an optionally-commented-out version of the config file in the user's config directory that corresponds to current default, if no such file exists. This is good because it helps people to quickly see what is available to them.

However, this is also somewhat shortsighted. As we change config we leave lots of these files around.

[2022-06-10 15:14] zklaus opened #9181 "Possible race condition in `dask.utils:Dispatch.dispatch`"
**What happened**:
When using a large number of tasks with `np.ma.core.MaskedArray` blocks, sometimes the scheduler loses the ability to deserialize them. I think I have tracked this down to a possible race condition in [`dask.utils:Dispatch.dispatch`](https://github.com/dask/dask/blob/71aa6ffb3cfdc2a7dcfbc5f5ed91b20f7735c7fd/dask/utils.py#L578), where the lazy registration function is popped off

[2022-06-13 13:16] magnunor opened #9183 "Inconsistent output from np.squeeze on dtype=object dask array vs numpy array"
There is some inconsistency with applying `np.squeeze` on a dask array, as opposed to a numpy array, both with `dtype=object` and with a 1-size dimension. I'm not sure if this is a bug or not, so reporting it here.

## Example

[code]

Gives the output:
[code]

-------------

Using `da.squeeze` gives the same result for both the dask array and the numpy array.

[code]

Output:
[code]

--------

-

[2022-06-13 13:39] rjzamora commented on #6765
Closing this since the requested feature was implemented in read_parquet. (**Note**: There are currently [plans to deprecate this feature](https://github.com/dask/dask/issues/9051), but that *shouldn't* happen until similar functionality is captured in a new way).

[2022-06-13 13:39] #6765 closed

[2022-06-13 16:50] jacobtomlinson commented on #9179
I would be in favour of dropping these. As you say the biggest shortfall here is that these files get frozen at a point in time. We could potentially do some ruaml magic to keep them up to date, but I think that would get messy quickly!

We also have the nice sphinx extension for including the config spec in docs. Not all downstream libraries have a spec, but we should add them.

I think the only

[2022-06-13 16:51] jacobtomlinson commented on #9179
I wonder if removing some of the tooling around YAML would also open us up to optionally supporting other formats like TOML that folks may be more familiar with due to it being more used in Python these days. (I will always be a YAML fan due to being a Kubernetes fanatic, but folks seem to like TOML).

[2022-06-13 17:09] #9176 closed

[2022-06-14 12:07] KamranAzeem opened #9185 "Cannot connect to host 10.0.0.1:443 ssl:default"
# Alternate issue description:

[code]

[code]
------

# Problem / symptom:

In the logs from controller-dask-gateway, we see this:
[code]

[code]

## Details of the problem:

We are running JupyterHub and DaskHub (through official helm chart) - in AKS, using Azure CNI plugin. We have some network policies implemented in the daskhub namespace.

While using the jupyter notebooks (through a browser

[2022-06-14 14:51] jrbourbeau commented on #9185
This looks like a `dask-gateway` ticket, so transferring to the `dask/dask-gateway` repo

[2022-06-14 14:56] charlesbluca commented on #8817
A fix was submitted and merged for this in https://github.com/pandas-dev/pandas/pull/47186, and should be included in the 1.5 release - I will go ahead and verify that things are working here with the latest source of Pandas.

Assuming things work now, how would we like to handle the required Pandas dependency? Is it okay to bump the Pandas min version for `dask.dataframe` to 1.5, or do we want to

[2022-06-14 15:44] charlesbluca commented on #8817
Can verify that https://github.com/pandas-dev/pandas/pull/47186 has resolved the issue for dataframe groupbys - I am still getting the same traceback for series groupbys though.

[2022-06-14 16:41] bnaul opened #9186 "to_parquet fails for nullable dtype index"
`git bisect` traced this back to #9131:
[code]

Removing `dtype="string"` fixes the issue.

I can't quite make out whether the mistaken assumption is in dask or pyarrow...? But regardless since it worked prior to #9131 it seems like dask should be able to work around the issue.

cc @jcrist

[2022-06-14 17:26] charlesbluca commented on #8817
Think I've isolated the series groupby failures to Pandas; as part of `_groupby_aggregate`, we are attempting to do a groupby on a series with a multi-index that has nulls in all levels, which seems to fail regardless of `dropna`:

[code]

Will open up another issue to track this in Pandas.

[2022-06-14 18:55] pavithraes commented on #9172
@fbriol Could you please elaborate on this and share more context around why you need to do this?

Generally speaking, in your example:
- if your array had just one chunk, it'll be computed on one thread
- you can use the `workers` parameter in `compute()` to specify just one worker for any given computation (and if that worker in your cluster has just one thread, it'll be sequential in theory)
-

[2022-06-14 19:08] jrbourbeau commented on #9186
Thanks for surfacing @bnaul. I'm able to reproduce using the latest `pyarrow=8.0.0` and `pandas=1.4.2` releases (with the current `dask` `main` branch).

I'm able to reproduce with `pyarrow` alone (see snippet below) which makes me think the underlying issue is related to `pyarrow`s handling of DataFrame's whose index are using extension dtypes. cc @jorisvandenbossche for visibility

[code]

This

[2022-06-14 19:29] pavithraes commented on #9181
@zklaus Thanks for sharing!

I see the dispatch function was updated in #8185. I believe `@jcrist` is on vacation, @jsignell do you have thoughts on this since you reviewed the PR?

[2022-06-14 21:18] jrbourbeau commented on #9186
So it turns out while

[code]

doesn't work, creating a `pyarrow.Table` and then extracting the schema with

[code]

does kind of work. It doesn't raise an exception but also doesn't preserve the `string[python]` extension dtype for the index. Instead it converts to `object`.

[2022-06-14 22:43] jrbourbeau commented on #9181
@zklaus do you have any traceback / error messages / logs you can post? I'm curious under what circumstances the distributed scheduler is running `Dispatch`-related code in multiple threads

[2022-06-15 12:29] quasiben commented on #9181
@jakirkham  do you have any thoughts about what could be going on here?

[2022-06-15 13:12] rrpelgrim opened #9187 "Standardize reporting known inconsistencies in `dask.dataframe` API"
**Current situation**
Portions of the `dask.dataframe` API are copied over directly from `pandas` using the `@derived_from` decorator. This pulls in the pandas docstring for the corresponding object and adds the "This docstring was copied from pandas. Some inconsistencies with the Dask version may exist."

**Problem**
New users often find the vagueness in this docstring confusing and intimidating

[2022-06-15 17:05] ian-r-rose commented on #9186
Reported upstream [here](https://issues.apache.org/jira/browse/ARROW-16838). I think changing to `schema=None` (or supplying a manual schema to `ddf.to_parquet`) is the correct workaround until it is fixed upstream.

[2022-06-15 19:44] jrbourbeau commented on #9187
Thanks @rrpelgrim. Optionally enumerating important discrepancies between pandas and Dask in auto-generated docstrings seems like a nice addition. We use the `@derived_from` decorator for automatically copying docstrings into Dask methods

https://github.com/dask/dask/blob/068eb7fe51aa4274e0b3f69714aec2f30567b39a/dask/utils.py#L774

One option would be to add a new `inconsistencies=` keyword which

[2022-06-16 01:46] patefon commented on #9043
I wish I could use **_chunksize_**, but I'm not sure that I doing it correctly.
Not sure that **_split_row_groups_** works for my case too.

- dask=2022.5.2
- dask-core=2022.5.2
- pyarrow=7.0.0
- s3fs=2022.1.0

===

My case: imbalanced parquet file on S3:

1) 1 row group
2) Parquet file splitted into partitions (parquet parts, which actually parquet files too) but in irregular way (this is out of

[2022-06-16 01:56] patefon commented on #9043
+ sample output from code in #

First row-group size: 96876297 bytes

              sizes
count  3.600000e+01
mean   9.698928e+07
std    2.057642e+07
min    5.790649e+07
25%    9.672966e+07
50%    1.036962e+08
75%    1.116984e+08
max    1.225265e+08

[2022-06-16 03:48] patefon commented on #9043
UPD: i think i found workaround for my case (sorry for offopic).

Thanks @rjzamora for implementation.

so. with [from_map](https://docs.dask.org/en/stable/generated/dask.dataframe.from_map.html?highlight=from_map#dask.dataframe.from_map) i found way to read parquet directly form PyArrow's `dataset.to_batches()`

[2022-06-16 06:19] jakirkham commented on #9181
Not really. The suggestions above seem reasonable

[2022-06-16 06:22] jakirkham commented on #9162
@shawnbrar have you had a chance to try with a newer version? No worries if not. Just wanted to check-in 🙂

[2022-06-16 06:29] shawnbrar commented on #9162
Yes, I was able to use the updated version. And it works correctly.

[2022-06-16 07:43] jorgesisco opened #9189 "AttributeError: 'MaterializedLayer' object has no attribute 'pack_annotations'"
I have a dask cluster active

[code]

When I try to encode my data I get the error:

`AttributeError: 'MaterializedLayer' object has no attribute 'pack_annotations'`

I encoded the data with the cluster closed and then tried to fit the model and I get the same error.

Context: I am training a model using dask distributed on Sagemkaer, so far I have not been able to pull it up on sagemaker instance

[2022-06-16 07:52] #9162 closed

[2022-06-16 07:53] jakirkham commented on #9162
Thanks for the update! Glad to hear things are working correctly 😄

Have gone ahead and closed as resolved. Though if something else comes up, please feel free to file a new issue and we can follow up there 🙂

[2022-06-16 08:31] cristianmtr opened #9190 "serialization issue"
**What happened**:
Full trace here:

<details>

[code]
</details>

**What you expected to happen**:

To see the sample

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Environment**:

- Dask version: modin==0.12.1, dask==2022.2.0
- Python version: 3.7
- Operating System: Ubuntu
- Install method (conda, pip, source): pip

<details>
<summary>Cluster Dump Stat

[2022-06-16 12:37] pavithraes commented on #9083
@bjudkewitz Thanks for opening this!

I think choosing better chunks for the Dask Array would help, but I'm assuming you created this example with `chunks = (1,-1)` just to demonstrate. In any case, here's a good blog about chunk sizes: https://blog.dask.org/2021/11/02/choosing-dask-chunk-sizes :)

I'd not expect this to work as in on the distributed scheduler, but maybe @gjoseph92 has more though

[2022-06-16 12:44] pavithraes commented on #9189
@jorgesisco Welcome!

Could you please share a minimal example that we reproduce and the complete error traceback? I'll allow us to help you better. :)

Also, it seems like this is more of a usage question than a bug report or feature request. We encourage people with such questions to ask them at the [Dask Discourse](https://dask.discourse.group/). Would you mind opening a discussion topic about

[2022-06-16 13:29] cristianmtr commented on #9190
Not supported on 3.8, it seems

[code]

[2022-06-16 13:33] pavithraes commented on #9190
@cristianmtr Welcome to Dask!

As `@quasiben` suggested, I tried your code locally with the latest Dask, and it does seem to work.

How are you installing/updating Dask? Dask [doesn't support Python 3.7 anymore](https://docs.dask.org/en/stable/changelog.html#v2022-02-1), but python=3.8 should work.

[2022-06-16 13:40] martinedgefocus opened #9191 "map_partitions of both pivot_table and pivot fail"
Dask version 2022.05.2

[code]
This works fine, but if I try to do it via dask:
[code]
ValueError: The columns in the computed data do not match the columns in the provided metadata
  Extra:   ['2022-06-01']
  Missing: ['foo']
Why is it expecting "foo" here?

Straight pivot also fails in a strange way.

[code]
that works fine.
[code]
ValueError('Index contains duplicate entries, cannot reshape')

[2022-06-16 15:14] jrbourbeau commented on #9190
FWIW I'm not able to reproduce the error locally when I use a fresh conda environment created with

[code]

and run the following script

[code]

which outputs

[code]

@cristianmtr can you confirm whether the steps above also work for you too?

[2022-06-16 15:57] jrbourbeau commented on #9187
I would add the new keyword to `derived_from` and forward it down through any necessary functions so it can be used with the "Some inconsistencies with the Dask version may exist" part of the docstring

[2022-06-16 16:03] cristianmtr commented on #9190
they work locally, but not on this remote machine. I guess there must be something wrong with the setup of it.

[2022-06-16 16:51] gjoseph92 commented on #9083
@bjudkewitz see https://github.com/dask/distributed/issues/6360#issuecomment-1129434333, https://github.com/dask/distributed/issues/5223, https://github.com/dask/distributed/issues/5555. This is a common issue to see with the distributed scheduler, and I suspect it's more due to a problem in the scheduling algorithm than a problem in the graph. Anecdotally, when I used to use the local threaded sc

[2022-06-16 17:59] #7737 closed

[2022-06-16 18:13] gjoseph92 commented on #9083
I threw together a quick hacky experiment to see how many root objects are hanging around in memory at once. **This confirms to me that root task overproduction is _not_ an issue with the local threaded scheduler.** I've been wanting to verify this for a bit, so thanks for the motivation to do so!

<details>

[code]

</details>

![instace-counts](https://user-images.githubusercontent.com/3309802/1

[2022-06-16 18:13] gjoseph92 commented on #9083
I think what you're observing here is that for this specific aggregation, the fact that we're not doing the sum in-place (each recursive aggregation is written into a new array, as opposed to overwriting an existing "scratch" array in-place) means that we'll use more memory. Each recursive step will have its N inputs + 1 output in memory, for each thread. With your in-place version, the "for each

[2022-06-16 18:19] gjoseph92 commented on #9083
Another thing to be aware of is the [`split_every`](https://docs.dask.org/en/stable/generated/dask.array.reduction.html#dask.array.reduction) parameter. This controls how many input chunks are summed at once. [By default](https://github.com/dask/dask/blob/068eb7fe51aa4274e0b3f69714aec2f30567b39a/dask/array/reductions.py#L256), I think this is 4. You can see in the graph @pavithraes posted that eac

[2022-06-16 20:25] rjzamora commented on #9043
Great! Please do let us know if you run into any issues with `from_map`. The purpose of that API is to make custom IO as easy as possible.

Regarding `chunksize`: I have been experimenting for the past two weeks with ways to simplify the `read_parquet` code without dropping this option (nor `aggregate_files`). It is taking me longer than I had hoped, but I do expect to have something ready soon.

[2022-06-17 03:21] jrbourbeau opened #9195 "Windows CI failure during conda setup"
We're consistently seeing

[code]

in CI during this step in our test workflow

https://github.com/dask/dask/blob/6b0b297046bbc8aa61ea5ee2304b3dc968f857f5/.github/workflows/tests.yml#L57

`distributed` is seeing similar behavior as well (xref https://github.com/dask/distributed/issues/6592)

[2022-06-17 08:04] HowHuang commented on #9006
I think your error happens both for `dd.to_timedelta` and `map_partitions`.
1. For `IndexError: list index out of range` when `dd.to_timedelta` calling `map_partitions`, try not to use `test = "1 day 1 hour"; print(dd.to_timedelta(test))`, but to let the input of dd.to_timedelta(input) be a dask.dataframe. For example ,
[code]
will return
[code]
Similarly, like @SultanOrazbayev 's extended example

[2022-06-17 16:21] jrbourbeau commented on #9195
@jakirkham not sure if that error message had any meaning to you. Any idea what might be happening here?

[2022-06-18 02:40] delgadom commented on #4837
## Current behavior

bumping this really old thread - this question on SO encounters this error and I see the same behavior on 2022.04.0
https://stackoverflow.com/questions/72663716/how-to-efficiently-convert-npy-to-xarray-zarr/72666271#72666271

MRE:
[code]

This bottlenecks all tasks behind a giant read job "original-array" which consumes all system memory then dies

![dask dashboard with large

[2022-06-18 02:52] delgadom commented on #5985
## Current behavior

this question on SO encounters this error and I see the same behavior on 2022.04.0
https://stackoverflow.com/questions/72663716/how-to-efficiently-convert-npy-to-xarray-zarr/72666271#72666271

I'm not sure if the full workaround below is necessary, but I'm also not sure how to read the array directly from the .npy file without using map_blocks

MRE:
[code]

This bottlenecks al

[2022-06-18 03:31] delgadom commented on #5985
ok - in the above, using threads in the LocalCluster does solve the problem. This works:
[code]

[2022-06-18 06:08] haochunchang commented on #9158
Hi, I am here for the first time and looking for contributing dask.
Can I create a task list that can be checked for each test files in `dataframe/tests` so that it can be done more systematically?

Hopefully this can help, thanks!

[2022-06-19 14:29] jorgesisco commented on #9189
Hello! @pavithraes I am sorry for the late response! The issue is, the error only happens on Sagemaker, if I run my notebook locally I won't have any issue except for the lack of memory when training the model.

When I try to run the block where I encode my data I get the error:

[code]

Error:

---------------------------------------------------------------------------
AttributeError

[2022-06-20 06:13] bjudkewitz commented on #9083
Thank you both for investing your time and for these helpful explanations!

[2022-06-20 12:45] trahloff commented on #6919
Hi, I'm unfortunately also impacted by this issue. Did anyone find a permanent fix?

Related: https://github.com/PrefectHQ/prefect/issues/5909#issuecomment-1157583010

[2022-06-20 14:36] crusaderky commented on #9195
The issue is still present in dask/dask with ipython 8.4.0, but it doesn't affect dask/distributed anymore

[code]

[2022-06-20 20:19] jsignell commented on #8817
Thanks for keeping on top of this Charles!

[2022-06-20 20:32] jsignell commented on #5156
latest dask is 2022.6.0, so I would recommend updating dask and distributed.

[2022-06-20 20:50] jsignell commented on #9191
Thanks for writing this up, that error message is definitely not intuitive. The issue has to do with how dask keeps track of what a particular dask.dataframe object looks like. Dask does that by storing a tiny dataframe that looks similar to the data. Then when you do a transformation on the data, dask tries to figure out what the output will look like by eagerly doing the transformation before yo

[2022-06-21 12:21] martinedgefocus commented on #9191
Thanks, that makes a bit more sense ... I'm curious about a couple of things:

1. Why does it use fake data instead of just a snippet of the real data? Seems like that might work better (and give more comprehensible errors)
2. Why does it need the metadata? It's difficult to provide as we're doing transforms on a somewhat fungible underlying schema, so the only way I could know it is to process a

[2022-06-21 13:42] jsignell commented on #9191
1. I think I oversimplified a bit too much. Most of the time the `meta` that dask stores is actually an empty dataframe with the correct column names and the correct dtypes for each of the columns. An empty dataframe works fine for emulating lots of operations. Sometimes though, the operations would fail on an empty dataframe so in those cases dask generates a little bit of data from the dtypes. T

[2022-06-21 14:15] martinedgefocus commented on #9191
Much appreciate all the feedback - thank you!
What seems odd to me is it seemed to do this even if the input was parquet or a Pandas dataframe and it seems like it could have figured this out itself without asking the user ... if that's unexpected, I'll try to get a decent problem reproduction. If it's possible but just known to be not fixed yet, I'll leave it in peace ;)

[2022-06-21 14:31] jsignell commented on #9181
Sorry for being slow to this. I'm wondering if there would be performance implications if we just change the `pop` to a `get`.

[code]

It seems to me like that would solve the race condition right? It just means that the same dispatch might be assigned to the lookup dict multiple times, but only in rarely based on the description in this issue.

[2022-06-21 14:47] zklaus commented on #9181
Strange. Thanks for taking care of this, @jsignell!

[2022-06-21 18:06] ncclementi commented on #9152
@jsignell Does your PR #9180 fixes the upstream problem, or am I missing a piece here?
Wondering if we should close this upstream issue.

[2022-06-21 18:21] jsignell commented on #9152
My PR did not seem to do anything useful. We can definitely close this and it will reopen itself if things still aren't working.

[2022-06-21 18:22] simonjayhawkins commented on #9152
from my perspective, the pandas wheels are building fine for the last week https://dev.azure.com/pandas-dev/pandas-wheels/_build?definitionId=3&_a=summary

lmk if any other issues.

[2022-06-21 18:22] #9152 closed

[2022-06-21 20:24] github-actions[bot] opened #9204 "⚠️ Upstream CI failed ⚠️"
[Workflow Run URL](https://github.com/dask/dask/actions/runs/3398176709)
<details><summary>Python log Test Summary</summary>

[code]

</details>

[2022-06-22 18:21] delgadom opened #9207 "repartitioning dataframe with unknown divisions results in poorly-distributed chunk sizes"
When a dask.dataframe has unknown division sizes (because it's been read from file or from delayed), repartition's heuristics for allocating the partitions could probably be a bit smarter. If not, a bit of extra docs might be helpful

MRE:
[code]
This dataframe has 5 chunks of 100 rows each, and a final chunk of 50 rows. This is a pretty common partition structure for a file (e.g. lots of big chun

[2022-06-22 18:50] taqd opened #9208 "Why does dask + FIPS require python 3.9?"
I am trying to use FIPS with dask using python 3.8, is this possible? Is there a reason why dask + fips is requiring python 3.9?

https://github.com/dask/dask/blob/78452267da9683fe637148fd7a667724c3ff7713/dask/base.py#L912-L920

On my system, I've been able to patch `dask/base.py` to instead test for python 3.8 (instead of 3.9), and everything seems to work fine; is it possible to change this to 3

[2022-06-22 19:00] jsignell commented on #9204
I am going to start taking a look as these.

[2022-06-22 19:17] jsignell commented on #9208
I think the decision to set this to python 3.9 was based on the understanding that this flag was added in 3.9 (https://docs.python.org/3.9/library/hashlib.html). I think the danger is that the `usedforsecurity` kwarg might be unsupported on older versions of Python.

[2022-06-22 19:36] rjzamora commented on #9207
Thanks for raising @delgadom - We cannot use partition-length information here, but I agree that we should probably do something a bit smarter than splitting the final partition for `ddf.repartition(npartitions=...)`. For now, I am labelling this as a  "good second issue."  However, once I get a chance to look at the actual `repartition` code path, I may remove/change the label.

[2022-06-22 21:18] faulaire opened #9209 "Enum deterministic hashing"
Hi,

Can we add a deterministic hashing behavior for Enum types ?

With current implementation, this code fails:

[code]

Possible Implementation:

[code]

If your ok with it, I can provide a PR.

Thanks

[2022-06-23 07:43] rrpelgrim commented on #9187
The `inconsistencies` keyword has been added here: https://github.com/dask/dask/pull/9192

[2022-06-23 09:52] faulaire opened #9210 "datetime.timedelta deterministic hashing"
What happened:

It seams that python datetime.timedelta arguments in a pure delayed are generating inconsistant dask keys.

Minimal Complete Verifiable Example:

[code]

Environment:

Dask version: 2022.6.0
Python version: 3.9
Operating System: Linux (Red Hat 7)
Install method (conda, pip, source): pip

Fix proposal:

Add date.timedelta in the list of types where identity is applied (https://githu

[2022-06-23 15:29] martinedgefocus opened #9211 "to_parquet on datetime.date objects works on 2022.5.2, fails on 2022.6.0"
[code]

This works OK on 2022.5.2 but regression in 2022.6.0 stops it working.
Really don't want to have to explicitly specify schemas everywhere, that seems unnecessary.

[code]

[2022-06-23 15:45] martinedgefocus commented on #9211
I think it's this change, but have not proved it:

commit 73c985c2bed5d61be6d05d67f7f381435fe8d1e2
Author: Jim Crist-Harif <jcristharif@gmail.com>
Date:   Fri May 27 09:42:01 2022 -0500

passing `schema=None` prevents the issue

[2022-06-23 17:21] rjzamora commented on #9211
Right - Prior to #9131, the default behavior was for a separate schema to be extracted for each partition at write time (same as `schema=None`). For your single-partition reproducer, this would always work. However, empty/nullable partitions can lead to problems when the schemas are extracted independently. The new default is to use `_meta_nonempty` to "infer" the schema for all partitions up fron

[2022-06-23 17:32] martinedgefocus commented on #9211
I think I can understand the motivation ... it does make it substantially harder to use for what should be a very simple operation though. Forcing everyone to explicitly specify schemas everywhere seems undesirable from a usability POV.

I presume the problem case is if someone mixed say datetime.date and str within a column and different partitions could see all date, or all str, and get a confli

[2022-06-23 17:40] ian-r-rose commented on #9211
This is correct -- in general it's really hard to infer what the correct output type is for an `object` dtype. Since most of the time `object`s are string dtypes (at least for the time being), the choice was made to *assume* that `object` meant string dtypes rather than crawl all the partitions and ensure it. This is a more scalable solution, at the cost of some users needing to provide schema inf

[2022-06-23 17:50] martinedgefocus commented on #9211
Can't do that unfortunately, it's very explicitly a date, not a datetime, else you run into nightmares with timezones, etc.

I totally understand the desire to avoid crawling all partitions, but a sample size of 1 row would seem cheap, and an infinitely better guess than "assume every object is always a string"? If people put mixed types in there it'd still fail, but that seems like a much less co

[2022-06-23 17:59] ian-r-rose commented on #9211
Understood, thanks.

To your earlier question: the downside of `schema=None` is that there is no checking that the schemas are at all consistent. So you can run into issues with things like nullable dtypes, as @rjzamora notes above. Even sampling a single row would not necessarily solve that problem. If you are certain that your dataframes wouldn't run into that, then you can feel free to pass `sc

[2022-06-23 18:09] ncclementi commented on #9204
@jsignell Happy to help with this if needed, or for a review (feel free to ping me). It looks like the up to now `numeric_only=True` by default in many `pandas.core.groupby.GroupBy`.operation, but this will not be the case moving forward.

[2022-06-23 18:16] martinedgefocus commented on #9211
Agree that sampling a single row wouldn't necessarily solve the problem, but it does seem like a much better default to me that'd work for most cases without user intervention ?

[2022-06-23 18:20] ian-r-rose commented on #9211
It's not necessarily as simple as sampling a single row, since that row might be downstream of a lot of computations. If your `to_parquet` call is at the end of a long set of transformations, in order to sample a row, we actually have to do those computations eagerly. Even trying to delay schema inference would force a synchronization point deep in the task graph which causes its own  problems. So

[2022-06-24 00:34] ian-r-rose commented on #8308
This wound up being the cause of a fairly tricky-to-debug issue in [dask-geopandas](https://github.com/geopandas/dask-geopandas/issues/197). I think it would be a good idea to raise a warning if DataFrame/Series are passed in via kwargs, as @gjoseph92 suggests above.

[2022-06-24 11:52] faulaire commented on #9209
Pull request opened

[2022-06-24 12:02] faulaire commented on #9210
Pull request opened

[2022-06-24 14:05] #9099 closed

[2022-06-24 14:08] #9209 closed

[2022-06-24 14:47] #9210 closed

[2022-06-24 14:52] #9190 closed

[2022-06-24 15:27] f-hafner opened #9214 "Ambiguous column name for sql queries with joins"
I get a `sqlite3.OperationalError` when doing `read_sql_query` from a sqlite database with a join, but it seems work with pandas.

**Example:**

[code]

**Traceback:**
[code]
I have little experience with dask and sqlalchemy, but I suspect it has to do with https://github.com/dask/dask/blob/95fdd3fe127fe116e02c222c3d38303c3375af4b/dask/dataframe/io/sql.py#L170.

and the sql query should include th

[2022-06-24 20:05] rjzamora opened #9216 "[Rough Idea] Remove HighLevelGraph/Layer.cull by simplifying Layer"
After beginning to push on #9117 (and #9159) for a bit, I decided it might be worthwhile to investigate ways to improve the existing `HighLevelGraph`/`Layer` design. In addition to the serialization pains that will hopefully be resolved by [dask/distributed#6028](https://github.com/dask/distributed/pull/6028), my impression is that a key problem with HLGs is that it is unnecessarily difficult to i

[2022-06-24 20:06] rjzamora commented on #9216
cc @ian-r-rose - Who seems fond of Mapping :)

[2022-06-24 20:17] ian-r-rose commented on #9216
I like contracts :)

[2022-06-25 02:01] orf opened #9218 "Using ddf.from_pandas with chunksize=1 results in one partition having two rows"
**What happened**: When creating a ddf using `from_pandas(chunksize=1)` not all partitions have 1 row. The last partition has two rows in it.

**What you expected to happen**: The dataframe should be evenly split into 10 partitions

**Minimal Complete Verifiable Example**:

[code]

Results in

[code]

**Anything else we need to know?**:

**Environment**:

- Dask version: 2022.6.1
- Python version:

[2022-06-27 13:14] tcompa commented on #5942
Hi there, quick question: Is this issue considered as closed?
The corresponding PR https://github.com/dask/dask/pull/7379 was not brought forward and -if I understand correctly- it would force the whole execution before writing data to disk, which doesn't play well with large data.

I am hitting this issue again: I load large amount of data via `from_zarr()`, I do some processing, and then I'd lik

[2022-06-27 13:57] crusaderky opened #9220 "pandas type stubs"
We should add pandas-stubs to mypy type checks:
[code]
The change at the moment causes mypy to produce a wealth of errors (see below).

Matching work on distributed (https://github.com/dask/distributed/pull/6635) showed that using pandas-stubs is not quite a smooth ride yet. However, their benefit to dask/dask would be substantial; we should collaborate with/contribute to upstream to fix any issue

[2022-06-27 17:16] rjzamora commented on #9218
Thanks for the simple example - I can also reproduce. I'll take a look at the `from_pandas` code to see whats going on.

[2022-06-28 14:11] uchennailodigwe commented on #5085
Hi, were you finally able to implement this?

[2022-06-28 15:10] asmith26 opened #9222 "`ddf.divisions` lost on `.to_parquet()`"
**What happened**:
Writing a `dask.DataFrame` to parquet and reading it back seems to lose the divisions information.

**What you expected to happen**:
`ddf.divisions` info to be retrain by the parquet/metadata files.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:
I've tried this with both pyarrow and fastparquet engines.

**Environment**:

- Dask version:

[2022-06-28 15:16] TomAugspurger commented on #9222
Thanks for the simple reproducer.

I think you want the `write_metadata_file=True` argument when writing the file

[code]

This was a [recent change](https://docs.dask.org/en/stable/changelog.html#id20).

[2022-06-28 15:20] rjzamora commented on #9222
Thanks for filing an issue @asmith26!

Default behavior of `to/read_parquet` has recently changed to improve stability, and two things that used to happen by default are now optional:

1. On the write side, you need to specify `write_metadata_file=True` if you want Dask to write a single global metadata file (as @TomAugspurger suggested).  This is not required to resolve your issue, but can improv

[2022-06-28 15:22] #9222 closed

[2022-06-28 15:54] pavithraes commented on #9214
@f-hafner Welcome to Dask, and thanks for a well-written bug report! I can reproduce this. :)

[2022-06-28 17:22] #9046 closed

[2022-06-28 19:44] fbunt opened #9223 "Update dask.dataframe.map_partitions docs to match dask.dataframe.DataFrame.map_partitions"
When I look up the documentation for `map_partitions`, I use the search box on the docs page. The top result is usually `dask.dataframe.map_partitions` so that is what I click on and that is the documentation I use as I assume that it is the same or similar to the docs for the method. Recently I wanted to see if map_partitions allows for a function argument like block_info. There is no mention of

[2022-06-28 19:50] fbunt commented on #9223
@faulaire Yep!

[2022-06-28 19:56] faulaire commented on #9223
Sorry, I removed my reply because I saw that you were talking about an issue on map_partitions and I updated map_overlap documentation in #9145.

So, the issue you are talking about is not resolved.

[2022-06-28 20:23] rjzamora opened #9224 "Incorrect partitioning in test_set_index_timezone"
[dask/dataframe/tests/test_shuffle.py::test_set_index_timezone](https://github.com/dask/dask/blob/bc3137d954d71068de4ef00c7c51470bfc69ef43/dask/dataframe/tests/test_shuffle.py#L726) uses `from_pandas(..., 2)`, but (as discussed in #9221) this is actually generating a single-partition DataFrame.

As far as I can tell, `test_set_index_timezone` fails when `d` is a multi-partition DataFrame (For exam

[2022-06-28 20:33] rjzamora opened #9225 "Incorrect partitioning in merge_asof tests"
[dask/dataframe/tests/test_multi.py::test_merge_asof_on_by ](https://github.com/dask/dask/blob/bc3137d954d71068de4ef00c7c51470bfc69ef43/dask/dataframe/tests/test_multi.py#L435)
 (as well as `test_merge_asof_on_by_tolerance` and `test_merge_asof_on_by_tolerance_no_exact_matches`) uses `from_pandas(..., npartitions=3)`, but (as discussed in #9221) this is actually generating a DataFrame with **two**

[2022-06-28 20:34] jsignell commented on #9223
Thanks for bring this up! It seems like there is an opportunity to consolidate a lot of docs :)

I am trying to think what the general solution should be. I looked to numpy to see how they handle this and they basically only have module docs. The method docs immediately link out the the module.

 - [module func docs](https://numpy.org/doc/stable/reference/generated/numpy.mean.html)
 - [method docs

[2022-06-28 20:42] rjzamora opened #9226 "ddf.cor and ddf.cov fail for single-row partition"
[dask/dataframe/tests/test_dataframe.py::test_cov_corr_meta](https://github.com/dask/dask/blob/bc3137d954d71068de4ef00c7c51470bfc69ef43/dask/dataframe/tests/test_dataframe.py#L3199) uses `from_pandas(..., npartitions=2)`, but (as discussed in #9221) this is actually produces a single-partition DataFrame.

As far as I can tell, `test_cov_corr_meta` fails when there really are 2+ partitions (e.g. `f

[2022-06-28 20:45] rjzamora opened #9227 "Incorrect partitioning in test_quantile_missing"
[dask/dataframe/tests/test_dataframe.py::test_quantile_missing](https://github.com/dask/dask/blob/bc3137d954d71068de4ef00c7c51470bfc69ef43/dask/dataframe/tests/test_dataframe.py#L1388) uses `from_pandas(..., npartitions=2)`, but (as discussed in #9221) this is actually produces a single-partition DataFrame.

As far as I can tell, `test_quantile_missing['dask']` fails when there really multiple par

[2022-06-29 15:28] #7647 closed

[2022-06-29 16:47] jorgesisco commented on #9189
@pavithraes Just to let you know you were right, by creating a new kernel with python 3.8, it's working.

[2022-06-29 17:56] ian-r-rose commented on #9214
Hi @f-hafner, thanks for the report.

The way Dask handles SQL queries is by assuming we have an indexed column that we can easily and quickly partition along. Internally, we create a series of sub-queries based upon your initial query that gets subsets of the data for each partition. This is the snippet that you correctly identified as the problem. This is quite difficult to do in general, and yo

[2022-06-29 17:59] ian-r-rose commented on #9214
Some more docs on how dask handles SQL indexes and SQLAlchemy expressions can be found [here](https://docs.dask.org/en/stable/dataframe-sql.html#index-column), in case you are not already aware of it.

[2022-06-29 18:24] fbunt commented on #9223
Yeah the numpy style is what I'm used to. I just checked pandas and they do the latter, however. I guess it comes down to what you all, as the maintainers, find easiest.

[2022-06-29 19:07] #9042 closed

[2022-06-30 03:19] multimeric opened #9228 "Optimizer hook for Futures API"
There are currently `X_optimize` config options [described here](https://docs.dask.org/en/stable/optimize.html#optimization) for the other main APIs (delayed, dataframe etc). But there doesn't seem to be the same thing for futures.

I would like to request this feature because I'm trying to wire up the graphchain library with dask Futures. Currently graphchain [works using the `optimize_delayed` h

[2022-06-30 11:17] adeljalalyousif commented on #8760
// same error  (my OS is Window 10), can you help me

while run (train.py) on  https://github.com/RoyalSkye/Image-Caption

Traceback (most recent call last):

  File D:\COCO\imge_captioning_transform_github\3\Image-Caption-master\train.py:394 in <module>
    train(args, train_loader=train_loader, encoder=encoder, decoder=decoder, criterion=criterion,

  File D:\COCO\imge_captioning_transform_githu

[2022-06-30 12:13] epizut commented on #9096
Agreed, but I am not sure replicating and tracking pandas config changes worth it.
Can we simply let pandas render the ._meta with a little sugar like npartitions, name...

[2022-06-30 13:19] f-hafner commented on #9214
Hi @ian-r-rose. I had not been thinking far enough to try to rename the column, but that works well for my use-case. Thanks!

[2022-06-30 15:08] pavithraes commented on #9189
Gald to hear! I'm closing this as resolved, please feel free to re-open it if needed!

[2022-06-30 15:08] #9189 closed

[2022-06-30 15:49] pavithraes commented on #9083
Thank you, Gabe!

@bjudkewitz I'll close this as resolved, please feel free to re-open if needed!

[2022-06-30 15:49] #9083 closed

[2022-06-30 16:00] pavithraes commented on #9208
Thanks, `@jsignell`! And, here's the relevant PR: #8762

@taqd If this resolves your question, please feel free to close this issue. :)

[2022-07-01 08:15] AntSimi commented on #5942
@tcompa I don't find a workaround

[2022-07-01 16:27] pavithraes commented on #9228
Thanks for opening this! I think @gjoseph92 and @crusaderky might find this interesting. :)

[2022-07-01 17:41] pavithraes commented on #9179
@mrocklin @jacobtomlinson What can be the next steps here? Shall we leave this issue open as a discussion or consider closing as resolved?

[2022-07-01 17:49] pavithraes commented on #9204
Thanks, @ncclementi! For reference, here are the deprecation docs: https://pandas.pydata.org/docs/dev/whatsnew/v1.5.0.html#numeric-only-default-value

[2022-07-01 18:03] multimeric opened #9233 "Typing overhaul"
This has been discussed in a piecemeal manner across a number of other issues, but it seems to me that dask could benefit from a type annotation overhaul to more widely apply type annotations. In particular Dask seems to be using Python>=3.8, so most of the type system should be available for systems that can run Dask already.

I'm happy to help with some of this, and actually I already started, b

[2022-07-01 19:42] pavithraes commented on #9146
@ian-r-rose and I think `@d70-t`'s proposed fix looks right. We tried out the fix locally and all the tests passed, I'll open a PR. :)

[2022-07-01 19:47] pavithraes commented on #9146
I looked at this with @ian-r-rose, and we think `@d70-t`'s proposed fix looks right. We tried out the fix locally and all the tests passed, I'll open a PR. :)

[2022-07-02 14:00] jreniel commented on #7589
Hi All,
Is there a way to make a meta for returning a geopandas.GeoDataFrame from map_{blocks/overlap} ?
Most of my operation involve returning a non-array from each block, but I am struggling to make this work for returning arbitrary objects.

[2022-07-04 11:13] crusaderky commented on #9228
The key difference between dask collections and Futures is that when you compute a collection you send all of its keys at once to the scheduler, whereas with a Future you send one key at a time.
Optimization is about taking multiple keys and manipulating the graph *before* they reach the scheduler. Hence, with futures, it is impossible.

Even without optimization, typically delayed objects offer b

[2022-07-04 11:45] fbriol opened #9238 "The "dask.array.Array.__reduce__" method loses the information stored in the "meta" attribute."
[code]

[dask.array.Array.__reduce__](https://github.com/dask/dask/blob/1a760229fc18c0c7df41669a13a329a287215819/dask/array/core.py#L1378) doesn't propagate ``_meta``.
``_meta`` is [set to numpy.ndarray](https://github.com/dask/dask/blob/1a760229fc18c0c7df41669a13a329a287215819/dask/array/utils.py#L51) because it's None when the object is reconstructed.

This behavior implies that it is impossible

[2022-07-04 11:47] multimeric commented on #9228
Right, I thought that might be the case. My motivation is #9164. In that issue I was pointed to graphchain, which cleverly caches `delayed` results based on the DAG structure, but I was wondering if it were possible to gain the advantages of both caching (which is very important in my work) and also the flexibility of `Futures`. This isn't a pressing issue because I can and will just use `delayed`

[2022-07-04 14:57] z4m0 opened #9239 "The dashboard is not cleaning Bokeh Sessions after the browser disconnects."
**What happened**:
The Dask Scheduler Dashboard CPU usage increases when the dashboard is used but it keeps being high after the user closes the dashboard.  I think that this could be related with other issues like #8493.

Steps to reproduce:
1. Start dask-scheduler
2. Open the browser at localhost:8787
3. Reload several times.

You can expect the CPU usage to increase the more you reload.

**What

[2022-07-05 01:35] GenevieveBuckley commented on #7589
@jreniel perhaps you'd like to say what solution you ended up with? People with similar problems seem to be finding this thread, so it may help them to know what you did.

We could also try to share the knowledge with a short blogpost. I wrote something [here for arrays](https://blog.dask.org/2021/07/02/ragged-output), having something sort of similar for dataframes could be useful. cc @jacobtomli

[2022-07-05 07:14] Yu-AnChen commented on #7589
@GenevieveBuckley A blog post on meta will be super helpful! The blog you wrote is a great reference for me as well.

I've come to the following approach for handling arbitrary output (or no output at all, that I just leverage the side effect of the function) from each block that I'm trying to process in parallel -

[code]

Here are the print and exec graph
[code]
![mapped](https://user-images.git

[2022-07-05 17:30] dustinwerran2 commented on #6768
I'm going to pick this up! Please don't close for now.

[2022-07-05 17:32] pavithraes commented on #9233
@multimeric Thanks for opening this! You may find https://github.com/dask/community/issues/255 interesting. :)

[2022-07-06 01:02] GenevieveBuckley commented on #7589
Thank you for the example, and the extra context @jreniel 😄

[2022-07-06 12:47] pavithraes commented on #9239
@z4m0 Thank you for a well-explained report, and for including a possible solution!

[2022-07-06 14:52] multimeric commented on #9233
Thanks for the link. It didn't come up in my search, I guess because it's in a different repo. Should I close this?

[2022-07-06 15:22] ian-r-rose commented on #9233
@multimeric Yes, I'd encourage you to weigh in with your thoughts on that issue and close this one, since there is still some active discussion over there around what best practices sould be within Dask. Thanks!

I've tried to annotate dispatching before as well, and have found it to be a tough one :)

[2022-07-06 15:23] jsignell opened #9242 "Sporadic Failures on GPU CI"
There have been some new failures on GPU CI.

Here's a snippet of what the failures look like:

[code]

From https://gpuci.gpuopenanalytics.com/job/dask/job/dask/job/prb/job/dask-prb/2246/testReport/

@charlesbluca @jakirkham @galipremsagar

[2022-07-06 16:44] #9233 closed

[2022-07-06 17:53] jsignell commented on #5085
I am going to close this issue for now, but if anyone runs into it again, please reopen1

[2022-07-06 17:53] #5085 closed

[2022-07-06 21:23] ncclementi opened #9245 "Client API docs showing on Futures page (documentation)"
I'm not sure if this issue corresponds here or in the distributed repo, but I noticed that at the bottom of the futures page in the docs right below Functions, we have things like `dump_cluster_state` which as result of the

[code]

in here https://github.com/dask/dask/blob/main/docs/source/futures.rst#api . But this is a can be confusing. On the other hand picking the `Client.methods` taht are on

[2022-07-06 22:32] ian-r-rose commented on #7169
I ran into this issue again yesterday. It turns out to be a pretty big problem when trying to use sparse arrays with dask, in that any kind of reduction will likely fail. @vttrifonov are you still interested in opening a PR with some of the work you have done?

[2022-07-07 05:39] yuluc123 commented on #7717
also for cx_Freeze?

[2022-07-07 05:40] suliuzh commented on #7717
also for cx_Freeze?

[2022-07-07 05:56] vttrifonov commented on #7169
I did come up with a solution and even started working up a PR, but things became hairy and I did not follow up. Let me explain

**Short story**

There does not seem to be a calculation of central moments which works for both sparse and dense matrices.

**Long story**

I will give an example with variance (second central moment). It can be computed in two ways

1. V(X) = E(X-E(X))^2
2. V(X) = E(X^

[2022-07-07 09:24] SultanOrazbayev opened #9246 "Filters in read_parquet are not working in the latest dask version"
While trying to reproduce code from [this answer](https://stackoverflow.com/a/72892141/10693596) with different dask versions I ran into inconsistent behavior.

Consider this snippet:

[code]

Environment 1:

[code]

Environment 2:

[code]

Just in case, here's the output of the fancy new `.show_versions()`:

[code]

[2022-07-07 09:37] SultanOrazbayev opened #9247 "Unable to save `date` column with latest dask"
When trying to save dataframe with an object column containing date, I get an error:

[code]

[code]

The traceback suggests passing in schema, but it's also possible to get it working by passing `fastparquet`:

[code]

This error doesn't appear when using `dask=2022.1.0` (so the snippet above runs without an error).

This is probably related to another issue raised #9246, please refer to that iss

[2022-07-07 09:39] MaximLippeveld opened #9249 "`dask.bag.random.sample` throws various errors"
**What happened**: I want to undersample items in a Bag using `dask.bag.random.sample`

**What you expected to happen**: Receive a Bag with specified amount of items.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Environment**:

- Dask version: 2022.6.1
- Python version: 3.9.10
- Operating System: Fedora 34
- Install method (conda, pip, source): pip

[2022-07-07 14:03] naarkhoo opened #9251 ""ArrowInvalid: Can't unify schema with duplicate field names" read parquet files from s3 using dask;"
using a query I dump data from redshift to parquet

    UNLOAD
    ('
    SELECT
         delivered_at
        , flow_name
        , variant_name
        , user_id
    ') TO
                's3://data/raw/redshift/all_campaigns'
                IAM_ROLE 'arn:aws:iam::XYZ:role/redshift'
                FORMAT AS PARQUET
                maxfilesize 96 mb
                ALLOWOVERWRITE

[2022-07-07 14:09] rjzamora commented on #9246
Thanks for raising! It looks like the main difference is that there is no global _metadata file in the newer version sending us down a slightly different code path. We should certainly be able to apply filters without the _metadata file.

[2022-07-07 15:25] TomAugspurger commented on #7717
That's only used by versioneer, which is not a runtime dependency.

[2022-07-07 17:47] #9247 closed, assigned to nobody

[2022-07-07 20:16] jakirkham commented on #9242
I think so. Though please feel free to reopen and ping us if it resurfaces

[2022-07-07 20:59] #9242 closed

[2022-07-07 21:28] DominiqueGarmier opened #9253 "Int64Index operations not working"
[code]
I get the following error:
[code]
with these dependencies
[code]

[2022-07-07 21:32] ian-r-rose commented on #9251
Hi @naarkhoo, the error seems to be coming from `arrow`. Are you able to read the parquet file with only arrow or only pandas?

That is to say, if you do something like
[code]
do you get the same error? That would help determine whether this is a problem with dask or if it lies elsewhere.

[2022-07-07 21:58] naarkhoo commented on #9251
Thanks for your reply
it is not the same error but very similar, right ?

[image: image.png]

On Thu, Jul 7, 2022 at 11:33 PM Ian Rose ***@***.***> wrote:

[2022-07-07 22:00] naarkhoo commented on #9251
Oh, I believe this is the same error

[code]

These are the versions
[code]

[2022-07-08 04:34] nikhil003 opened #9254 "404 dask dashboard"
When running jupyterlab on a local ubuntu machine, I notice the following in the logs.

**What happened**:

![image](https://user-images.githubusercontent.com/5336184/177917129-fbd9f44a-806b-41b5-8d54-58a7904e71f8.png)

**What you expected to happen**:

I expected the dashboard to work and not encounter the 404.

**Anything else we need to know?**:

When I look try to access https://localhost:8787

[2022-07-08 09:24] naarkhoo commented on #9251
I also have asked the question on [stackoverflow](https://stackoverflow.com/questions/72899255/arrowinvalid-cant-unify-schema-with-duplicate-field-names-read-parquet-files?noredirect=1#comment128762563_72899255)

[2022-07-08 10:42] naarkhoo commented on #9251
it turned out indeed there were two columns with identical col_names; I wish the library was smarter than that.

[2022-07-08 10:46] #9251 closed

[2022-07-08 11:30] DominiqueGarmier commented on #9253
im sorry, the correct way of doing it `b.loc[b.index ? 1].compute()`. Not sure why I didn't find this earlier.

[2022-07-08 11:30] #9253 closed

[2022-07-08 12:34] pavithraes commented on #9254
@nikhil003 Welcome and thanks for reporting!

I believe this is similar to: https://github.com/dask/dask-labextension/issues/164?

If so, I'd suggest moving this question to that issue and closing this one. :) You can also try out some solutions described there like clearing the URL and updating the version of dask-labextension.

[2022-07-08 12:42] pavithraes commented on #9245
Thanks, @ncclementi! I agree the API section can benefit from a better structure.

I think @scharlottej13 and @jsignell might have thoughts on this as well. :)

[2022-07-08 17:35] mrocklin commented on #9159
FWIW I'd say that code-wise stability has maybe been reached?  I wouldn't want to merge a bunch of stuff just yet (especially with Florian and Guido being out for the next few weeks (unless anyone else wants to take over the role of "will stay up nights and weekends unbreaking things if they break")) but things are looking good.

If anyone feels like unearthing the serialization PR, now might be a

[2022-07-08 18:02] pavithraes commented on #9249
@mesejo I know you did some work on Bag Sampling recently, do you have thoughts on this?

I'm able to reproduce this even with dask=2022.02.1, which suggested this was happening even before your refactor. :/

[2022-07-08 18:27] ian-r-rose commented on #9249
I think what's going on here is that the bag aggregation function for `sample()` returns something of a different shape of the inputs ( a `tuple[list, int]` vs just a `list`). As soon as the aggregation gets more than one level, the outputs of the agg function can no longer be fed into itself. `split_every` defaults to 8, so we start seeing the issue at 9 partitions.

This will require some change

[2022-07-10 17:32] JoJoRo commented on #8764
This happens also with the final cell in the dask bag tutorial:

https://examples.dask.org/bag.html

[2022-07-11 03:41] bryevdv opened #9257 "Test-only issue with Bokeh 3.0dev"
cc @jrbourbeau

There is a failing Dask test in the Bokeh 3.0 dev "downstream" job:
[code]

This is because in Bokeh 3.0 a grid plot is a real proper layout object unto itself, and no longer merely a helper function to assemble a ragged "column of distinct rows" array. So `.children[1].children` is no longer a thing.

I _think_ this is only a test issue, and not a real issue:

* The dashboard seem

[2022-07-11 10:37] lodo1995 opened #9258 "get_dummies error: order of columns does not match"
**What happened**:
When applying `categorize` and then `get_dummies` to columns that originally had a numerical data type, in some cases `get_dummies` fails with
[code]

I could not find the exact pattern behind these failures (happens on real-world data only on some columns, with no clear pattern), but I managed to produce a tiny example that exhibits the issue.

**What you expected to happen**:

[2022-07-11 15:13] pavithraes commented on #9257
@bryevdv Thanks for opening this! I agree, it does look like just a test issue.

Relevant code: https://github.com/dask/dask/blob/d6c0878472320661f1e1d3e636b422de5565d622/dask/diagnostics/tests/test_profiler.py#L333

Possible fix, we can update it to: `figures = [r[0] for r in p.children]` -- I tested this with `bokeh=3.0.0dev10` and dask=`main` and it seems to work. :)

[2022-07-11 19:46] jrbourbeau commented on #9257
Thanks for surfacing @bryevdv. I agree with you and @pavithraes that this is a test-only issue.

Thanks for the suggestion -- giving it a try over in https://github.com/dask/dask/pull/9261

[2022-07-11 22:15] #6768 closed

[2022-07-11 22:26] ncclementi opened #9263 "Use consistent variable names for pandas and dask dataframes in groupby docs"
In this docs https://github.com/dask/dask/blob/main/docs/source/dataframe-groupby.rst we are using df in some places for pandas dataframes and in other palces for dask dataframes. There is also mention to `ddf` and `df_dask`.

For example:

df (pandas):

[code]

df (dask)
[code]

We should consolidate names and us `df` only for pandas dataframes and `ddf` for dask ones.

[2022-07-12 12:42] pavithraes commented on #9028
@ian-r-rose and I looked at this last week.

This is an issue in upstream NumPy, where MaskedArrays currently don't have ` __array_ufunc__` implemented for compatibility with NEP-18: https://github.com/numpy/numpy/issues/15200

We should test it with Dask Array when the NumPy issue gets resolved, so I'll leave this issue open. :)

[2022-07-12 13:05] schlunma commented on #9028
Awesome, thanks for looking at this!

[2022-07-12 18:20] pavithraes commented on #9258
@lodo1995 Thanks for reporting! This does look like a bug, and I've opened a PR (with @ian-r-rose's help) to fix it. :)

[2022-07-12 21:23] rjzamora commented on #8991
Just leaving a note here that I am exploring changes to `fuse_roots`, and `test_gh_8991` passes when culling is performed before `fuse_roots`.

[2022-07-12 21:42] #9246 closed

[2022-07-12 21:58] ncclementi opened #9266 "New nav content design [docs]"
The nav bar in the docs has too many elements and you can easily get lost or not find things.
@jsignell and I were taking about this and we are going to rearrange them as:

HOME: Ideally we will have the collections -> TG -> Scheduler image in https://docs.dask.org/en/stable/ to be at the top and it will be clickable, so you can click in let's say "Dask Array" and that will lead you to the array p

[2022-07-12 22:19] jrbourbeau commented on #9266
Thanks @ncclementi @jsignell. Overall, I'm all in favor of improving our documentation navigation experience 👍

Looking at the current proposal, it seems like we're dropping some pages I often reference (e.g. FAQ, development guidelines, how to). Where will those pages live?

Also, where will the current array, DataFrame, bag, etc. pages live? Are those nested inside the "Collections" page?

Nice.

[2022-07-12 22:27] ncclementi commented on #9266
**FAQ**: We are thinking of moving that to the dask.org side
**Dev Guidelines**: I forgot to add it, but it goes in Reference
**How to**: We were not sure were to put, it but it can live at the bottom of Reference too.

This will live as a dropdown in Collections but not in the nav.

[2022-07-12 22:43] jrbourbeau commented on #9254
Closing in favor of https://github.com/dask/dask-labextension/issues/164

[2022-07-12 22:43] #9254 closed

[2022-07-13 07:49] ivojuroro commented on #9263
Hello, I'd like to work on this issue.

[2022-07-13 15:34] pavithraes commented on #9257
#9261 is merged, and [this specific test in Bokeh 3.0's downstream job](https://github.com/bokeh/bokeh/runs/7321433192?check_suite_focus=true#step:5:39) seems to be passing now!

Thank you, `@jrbourbeau` and `@bryevdv`!

I'll go ahead and close this as resolved, please feel free to re-open it if needed!

[2022-07-13 15:34] #9257 closed

[2022-07-13 16:21] ian-r-rose commented on #8991
Interesting! I wonder if it is for a similar reason as the above. Does `fuse_roots` drop existing `known_key_dependencies`? If those dependencies are bad, then it would be accidentally avoiding the issue as above.

[2022-07-13 16:27] rjzamora commented on #8991
Yes - Didn't dig in here much yet, but the basic reason seems to be that `fuse_roots` always returns `HighLevelGraph(layers, dependencies)` (even when the actual optimization is skipped). This essentially means that `fuse_roots` will always drop the `known_key_dependencies` calculated by `cull`.

[2022-07-13 18:22] rjzamora commented on #8991
It seems to me like the real problem here is indeed in `HighLevelGraph.cull`, where the `culled_deps` output of `layer.cull` is being used to update a dictionary that is then used to initialize `key_dependencies` in the new `HighLevelGraph` object.

The problem is that the `culled_deps` output of `layer.cull` **should not** be used to populate `HighLevelGraph.key_dependencies` in the general case,

[2022-07-14 12:17] pavithraes commented on #9249
Ian and I looked at this yesterday, and we've created a fix of the first error (`too many values to unpack (expected 2)`
) which is related to `split_every` as Ian described above.

We're yet to figure out why the second error (`Sample larger than population or is negative`) is raised when `npartitions` is equal to bag size.

[2022-07-14 16:29] pavithraes commented on #9208
I'll go ahead and close this as resolved, please feel free to re-open it if needed!

[2022-07-14 16:29] #9208 closed

[2022-07-14 21:42] TomAugspurger opened #9274 "`calculate_divisions` note in `read_parquet` is incorrect / incomplete"
**What happened**:

In the `read_parquet` docstring at https://github.com/dask/dask/blob/7b054f1d8f4a2343268f5182d47996a5469b10dc/dask/dataframe/io/parquet/core.py#L253, we note:

I think this is not necessarily accurate, or perhaps I'm misreading something.

IIUC, the presence of a `_metadata` file will ensure that divisions are set, at the cost of (just) a single extra HTTP call to blob storage

[2022-07-15 02:20] rjzamora commented on #9274
Thanks for pointing that out @TomAugspurger - I totally agree that the doc-string is incomplete, and that we should improve it. The note should probably clarify that calculating divisions can be slow for remote storage when when there is no `_metadata` file present, but that it may be necessary for some workflows (like those that need to join on a sorted index).

Overall, I don’t feel strongly at

[2022-07-15 03:03] #9146 closed

[2022-07-15 11:42] TomAugspurger commented on #9274
Sounds good. I think I got confused because the first line mentions that the divisions can come from the min/max statistics or the global `_metadata`. I'll update the note to say that the extreme slowness can occur when you don't have the global `_metadata` file.

[2022-07-15 13:15] pavithraes commented on #8474
With #8700, we raise a warning when we set `dask.compute(scheduler="<single-machine-scheduler>"`.

It'll be nice to also raise a warning if the scheduler is set using `dask.config.set`.

Minimal example:

[code]

@jsignell I'll re-open this, please let me know if it'll be better to open a fresh issue instead. :)

[2022-07-15 13:54] drstewart19 opened #9276 "repartition documentation doesn't specify whether the size will be reflected on output"
Noticed a difference between memory usage and storage size and I think this would be a good thing to note within the documentation that partition sizes won't necessarily be reflected when storing on disk. Moving the issue here from https://github.com/geopandas/dask-geopandas/issues/210#issue-1306025315

[2022-07-15 14:40] #9274 closed

[2022-07-15 14:45] TomNicholas opened #9277 "How to fuse / scatter / whatever dask.array objects"
@jsignell @jacobtomlinson and I discussed this at the dask users BoF at SciPy yesterday.

Basically when trying to do the work in https://github.com/dask/distributed/issues/6360 and https://github.com/dask/distributed/issues/6571 I wanted to manipulate my dask graph in various ways (e.g. fuse specific tasks, scatter data in the graph), but for my geospatial `dask.array` computation.

On the quadra

[2022-07-15 16:16] mrocklin opened #9279 "Config widget broken?"
![image](https://user-images.githubusercontent.com/306380/179264604-82d25c7b-f612-4a5c-8458-68993dc00229.png)

cc @jacobtomlinson @scharlottej13

[2022-07-15 16:30] ntabris opened #9280 "better search in docs"
My anecdotal experience is that the search bar in dask docs rarely gives me the page I actually want. It doesn't appear to do a good job on search term proximity or non-exact matches and maybe indexes too much on the API sections.

For example, if I search distributed docs for "worker plugin"

https://distributed.dask.org/en/stable/search.html?q=worker+plugin

it's quite challenging to see the res

[2022-07-15 17:28] scharlottej13 commented on #9280
Poking around on [search features](https://docs.readthedocs.io/en/stable/server-side-search.html#search-features) in the RTD docs I found a section on [configuring the search ranking](https://docs.readthedocs.io/en/stable/config-file/v2.html#search-ranking). Reading this it seems like we could make some pages more likely to show up than others, if that's something we wanted to explore.

@ntabris t

[2022-07-15 18:33] jrbourbeau commented on #9279
Thanks @mrocklin, I'm able to reproduce by going to https://docs.dask.org/en/stable/configuration.html#conversion-utility and making any changes to the YAML section.

Looking through the codebase it looks like [`jsyaml` is used here](https://github.com/dask/dask/blob/eeb876a822ffbeac22d44206de45f14ce9869da4/docs/source/_static/config_converter.js). Maybe this package used to be installed when we w

[2022-07-15 18:38] jrbourbeau commented on #9280
FWIW I find the results of searching for `"worker plugin"` (with the quotes) to be more meaningful

[2022-07-15 19:23] jacobtomlinson commented on #9279
Everything seems fine in terms of `js-yaml` being loaded in the page, so I don't think this is related to the theme. We vendor the file in due to the way Sphinx wants you to specify JS files, and looking at the console it seems to be throwing an error.

I wonder if either browsers have moved on in the last two years, or possibly it is trying to pull in a dependency that has moved on. I'll look at

[2022-07-15 19:35] ntabris commented on #9280
Hm, those results seem even worse to me since the top hits are all API/docstrings and the page that actually explains worker plugins is much further down.

[2022-07-15 19:45] jrbourbeau commented on #9280
Fair point. I suppose it ultimately depends on what you're looking for. My previous comment https://github.com/dask/dask/issues/9280#issuecomment-1185808265 was because the top results were at least related to plugins as opposed to about the worker generally (but not related to the plugin system)

[2022-07-15 21:29] naarkhoo opened #9281 "dask xgboost AttributeError: 'DataFrame' object has no attribute 'unique'"
I am trying to do classification using dask xgboost
but get

[code]

I am using dask '2021.04.1'; also I noticed a similar recent (25 days go) https://github.com/rapidsai/cuml/issues/3381 - not sure if relevant. I don't have this problem if I use xgboost regressor.

[2022-07-16 15:01] jacobtomlinson commented on #9279
I can't seem to figure out why this library isn't being loaded. I wonder if a more sustainable way of handling this would be to use [pyscript](https://pyscript.net/). We would just need to make sure it is loaded with `defer` so that it doesn't slow the whole page down.

[2022-07-16 18:51] ncclementi commented on #9281
@naarkhoo Can you please provide a [minimal reproducible example](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports)? That way we can reproduce the error and try to figure out what's happening.

[2022-07-18 07:04] SrSoto opened #9286 "Memory usage TypeError with Index"
Dask's `memory_usage` function is giving a `TypeError` depending on the order we call `compute` and `memory_usage`. I am concerned this function is rarely of direct usage, but we were doing some tests with Dask's `sizeof` function and metrics of managed and unmanaged memory (we are spotting some differences between estimated sizes that I'll give report soon)

The following MCVE tries to compare `m

[2022-07-18 12:28] ikabadzhov opened #9287 "SLURMCluster modifies a deprecated flag"
When I want to create a SLURM cluster and specify `process = X ` in the constructor, by looking at the job script, I see that the command that is run has a flag `--nprocs X`.

That currently does not error. However, referring to https://docs.dask.org/en/stable/deploying-ssh.html#cmdoption-dask-ssh-nworkers `--nprocs` is deprecated.

I tried to pass as an `extra = ['--nworkers X']`, but then from a

[2022-07-18 13:36] pavithraes commented on #9276
@drstewart19 Welcome, and thanks for opening this issue! I agree the docs can be improved here, would you be interested in submitting a PR?

[2022-07-18 14:04] pavithraes commented on #9281
@naarkhoo Also, note that [`dask-xgboost`](https://github.com/dask/dask-xgboost) (which you seem to be using) is now deprecated, and we recommend using the [direct Dask implementation in XGBoost](https://xgboost.readthedocs.io/en/stable/tutorials/dask.html).

[2022-07-18 14:27] naarkhoo commented on #9281
that was the case - thanks.

On Mon, Jul 18, 2022 at 4:05 PM Pavithra Eswaramoorthy <
***@***.***> wrote:

[2022-07-18 15:03] drstewart19 commented on #9276
@pavithraes thank you for the welcome! I am more than happy to submit a PR.

[2022-07-18 16:29] douglasdavis commented on #9287
Hi @ikabadzhov, I assume you're using`dask_jobqueue` to create your SLURM cluster? If that's the case, it may be better to raise the issue in the https://github.com/dask/dask-jobqueue issue tracker

[2022-07-18 17:55] #9287 closed, assigned to nobody

[2022-07-18 17:56] #9281 closed

[2022-07-18 19:04] jsignell commented on #9277
Thanks for writing this up! I think an example of how to apply customized optimizations to collections would be valuable. We kind of touch on it in https://docs.dask.org/en/stable/optimize.html#customizing-optimization but an example with images would probably be super helpful.

[2022-07-18 21:52] jrbourbeau commented on #9286
Thanks for opening up this issue and providing a nice minimal reproducer @SrSoto. I just pushed up https://github.com/dask/dask/pull/9290 which should fix Dask's `Index.memory_usage`

[2022-07-19 13:03] epizut opened #9291 "Exception while providing a categorical dictionary meta"
There is an exception when forcing *name* to be an unknown category instead of a string object dtype.

[code]
![image](https://user-images.githubusercontent.com/1694892/179756928-b7e9b03a-1863-48e4-9fbb-805c613cec72.png)

**Environment**:

- Dask version:  2022.7.0
- Python version: 3.9
- Operating System: Window 10
- Install method (conda, pip, source): pip

[2022-07-19 13:14] epizut commented on #9291
Going throuth make_meta is working fine:
[code]

[2022-07-19 13:55] douglasdavis commented on #9291
Thanks for the reproducer, @epizut! Adding a full traceback for reference:

<details open>
<summary> traceback</summary>
<br>

[code]
</details>

[2022-07-19 16:13] jsignell commented on #8630
I just saw this again on https://gpuci.gpuopenanalytics.com/job/dask/job/dask/job/prb/job/dask-prb/2330/

[2022-07-19 17:24] pavithraes commented on #8224
@crislanarafael Thanks for your interest in contributing! Here are Dask's [development guidelines](https://docs.dask.org/en/stable/develop.html) and the main task to do is described in [my previous comment here](https://github.com/dask/dask/issues/8224#issuecomment-1008733987).

[2022-07-19 19:13] MrPowers opened #9292 "groupby performance degrades rapidly as column cardinality increases"
Dask can perform groupby operations relatively well for columns with low cardinality, but performance seems to degrade significantly for columns with more distinct values.

Let's look at the h2o groupby benchmarks for some examples on the 1e9 dataset (contains one billion rows and is 50 GB on disk when stored as an uncompressed CSV file).

Let's query this dataset with a 16 node i3.large cluster (

[2022-07-19 20:04] #9258 closed

[2022-07-20 01:49] riversdark commented on #4843
Any update on this? I'm getting the same error messages on Colab.

[2022-07-20 10:44] pp-mo opened #9293 "Dask arrays are replaced with different objects in a forked process worker"
**What happened**:
I create a dask (lazy) array, then schedule an operation in a dask worker, which refers it as a free or global variable (i.e. not as an argument).
Within the worker code execution, the resulting (lazy) array object does not match the original in the parent code  :
  1. A lazy masked array, accessed by a free variable within a process worker, has the meta type of a "normal" numpy

[2022-07-20 11:02] billiejoe-bw opened #9294 "Exception after merging two dataframes on index"
**What happened**:

After I merge two data frames on their index, then `reset_index` and try to access the column that was the index, I get an exception.

**Minimal Complete Verifiable Example**:

[code]

Here's the output I get, including the traceback:

[code]

**Anything else we need to know?**:

It looks like the problem is that after the `merge`, the metadata thinks that the index (now turned

[2022-07-20 13:32] DamianBarabonkovQC opened #9295 "utils_tests `cleanup` fixture does not play well with `threading`"
**What happened**:

I use the `distributed.utils_test` fixture `cleanup` in my pytest tests. I have some code that uses dask `threading` scheduler. However, the `cleanup` fixture has a `check_thread_leak` function which throws an error.

When I took a deeper look, there are leftover threads such as `['ThreadPoolExecutor-1_0', 'ThreadPoolExecutor-2_0', 'ThreadPoolExecutor-2_1', 'ThreadPoolExecutor-

[2022-07-20 14:04] #6586 closed

[2022-07-20 14:13] pavithraes commented on #9293
@pp-mo Thanks for opening this!

e.g. because a memory-copied object contains O.S. resources (like file handles) which cannot function in a forked process.
If so, however, that is really not obvious, and should probably be documented somewhere.

Indeed, this is to be expected with multiprocessing and distributed schedulers. I also agree that we can document this better, maybe in the [Scheduling do

[2022-07-20 14:45] pavithraes commented on #9294
@billiejoe-bw Thanks for reporting!

When we call `compute()`, Dask DataFrame results in the same thing as pandas.

You're right that the metadata inference is what's wrong here. So, the error is valid (pandas raises the same), we need to raise this before `compute` though such that `merged_df['string_key_A']` fails.

[2022-07-20 14:49] #9276 closed

[2022-07-20 15:18] ian-r-rose commented on #8816
I took a look at the last month of CI runs on `main`, and this has happened twice in the last month:
https://github.com/dask/dask/runs/7291695922?check_suite_focus=true
https://github.com/dask/dask/runs/7043653348?check_suite_focus=true

There was also an hdf-related segfault a few days ago which may be related:
https://github.com/dask/dask/runs/7364095757?check_suite_focus=true

This is mostly a

[2022-07-20 16:39] pp-mo commented on #9293
[code]
Actually, I really don't think this **_is_** the same thing :
since in this case the array is passed as an argument, what the called function will receive is an actual (computed) numpy array, and _not_ the original lazy array object.

That is exactly why my example is using a global variable : because if it is passed as an argument, the Dask scheduler will compute it before passing to the w

[2022-07-20 16:46] pp-mo commented on #9293
P.S. I certainly don't mean to disparage the docs, which have really got so much better in recent years !

[2022-07-20 16:48] jsignell commented on #9122
Not necessarily. This could just not be any test of this behavior. I am proposing explicitly not allowing duplicate column names in the constructor. If someone has that in downstream code, then they would get an error. It's ok to change functionality, we just need to give notice so people have time to adjust and understand the change.

This seems correct, and this is something that could happen du

[2022-07-21 01:28] jcfaracco opened #9296 "Dask angle() function + Cupy are reporting errors in different versions"
**What happened**:

To reproduce this issue, I'm running a simple code like the one below.

[code]

After executing the code snippet above, I get the following error:

[code]

When I move to Dask **2022.7.0**, I get the error below:

[code]

According some old bugs it is clear that CuPy does not have `__array_wrap__` implemented. Other Dask issues with other functions were fixed, but apparently, `

[2022-07-21 03:30] DRudel opened #9297 "Mismatched columns created after get_dummies() [ValueError: Order of columns does not match]"
This may be related to [6865](https://github.com/dask/dask/issues/6856)
**What happened**: I called `get_dummies()` and then called head() to check results. I got a ValueError: Mismatched columns

**What you expected to happen**: Top 5 rows of new version are printed

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**: The order of the E columns is switched betwee

[2022-07-21 09:44] pp-mo commented on #9293
UPDATE:
I just discovered that the Dask scheduling is in fact copying other Python objects too.
E.G. with a global object created like this...
[code]
... a process worker (unlike a threaded one) does not see this object at the identical address.
So it must be a "copy".
Whereas, if the worker is a fork created via a `concurrent.futures.ProcessPoolExecutor`, then  it **_does_** have this object at t

[2022-07-21 13:21] pavithraes commented on #9296
@jcfaracco Thanks for reporting! I think it might be better to move this to the [cupy issue tracker](https://github.com/cupy/cupy/issues)?

[2022-07-21 13:24] pavithraes commented on #9297
@DRudel Welcome, and thank you for reporting!

This is the same as #9258 and the fix (#9264) was merged just this week. :)

Closing as resolved!

[2022-07-21 13:24] #9297 closed

[2022-07-21 13:40] pavithraes commented on #9293
@ian-r-rose Do you have thoughts on this issue and how we can improve the docs?

[2022-07-21 14:01] pavithraes commented on #9295
@DamianBarabonkovQC Thanks for reporting!

I'm looking at this with @ncclementi.

Even though we're trying to use the threaded scheduler, the error itself seems to be coming from `distributed/utils_test.py`.

The cleanup fixture we're importing if we just use the distributed scheduler. We think the issue arises when we override the scheduler to be the single-machine "threaded" scheduler in `ddf.co

[2022-07-21 14:58] pavithraes commented on #9291
@ncclementi and I are still looking into this, here are some observations.

The issue seems to be in how we're creating the Series on line 289 here:
https://github.com/dask/dask/blob/1f0af935aa5ac04bb9ca702d529cd3ae59280843/dask/dataframe/utils.py#L286-L291

The index seems to always have length=0, while it should be 1 because `pd.Categorical([UNKNOWN_CATEGORIES])` will always create a Categorical

[2022-07-21 16:00] rjzamora commented on #9292
Thanks for raising this @MrPowers - I will certainly try to help with this effort.  **Minor Note**: You should specify `index=False` in your `dd.read_parquet` commands to avoid reading the unnecessary int64 "null" index into memory (you can also specify `write_index=False` when you **write** the dataset to avoid writing the "null" index).

[2022-07-21 17:06] jrbourbeau commented on #9296
@jcfaracco do you have a pull traceback you could post? Also cc @pentschev

[2022-07-21 17:43] quasiben commented on #9296
This looks like something odd is happening with numpy/dask dispatching.  It looks like Numpy+Cupy is ok but wrapping a dask.array around cupy then calling angle leads to an implicit change for the metadata/chunktype:

[code]

[2022-07-22 02:41] charlesbluca commented on #7975
Sorry for the poor maintainer experience here @GenevieveBuckley 🙁 I definitely think some additional instructions/context in the bot message would go a long way in empowering maintainers to run gpuCI on more PRs (I've caught a handful where the message pops up and is ignored before merging). IIRC, there were some blockers internally that prevented us from changing this message from its current val

[2022-07-22 06:15] GenevieveBuckley commented on #7975
To summarize: Infrequent maintainers forget processes, and we could have a more efficient way to remind people of what to do in the moment.

Agree, I think improving the bot's message would be the most effective change we could make.

Thoughts:
1. This might be nice to add for new contributors, but I'm not too worried either way. I'll open an issue. Regardless, if we'd had that, it probably wouldn

[2022-07-22 12:16] pavithraes commented on #9067
Yes, I agree with Julia's thoughts here.

It'll be nice to update the `map_partitions` docstring to include this. :)

[2022-07-22 12:23] pavithraes commented on #9179
Closing for now, but please feel free to re-open it if needed. :)

[2022-07-22 12:23] #9179 closed

[2022-07-22 12:31] pavithraes commented on #9191
@martinedgefocus I think `@jsignell`'s comments have helped answer your questions. I'm closing this as resolved, but please feel free to re-open it if needed. :)

[2022-07-22 12:31] #9191 closed

[2022-07-22 12:46] pavithraes commented on #9228
@multimeric Based on `@crusaderky`'s comments, I think we can close this issue because this feature request can't be implemented. Please feel free to re-open it if needed. :)

[2022-07-22 12:46] #9228 closed

[2022-07-22 12:53] #9183 closed

[2022-07-22 14:35] ncclementi opened #9298 "How to pass compression level to_parquet, to_zarr [docs]"
@pavithraes and I were answering [this](https://dask.discourse.group/t/compression-levels-with-dask-dataframe-dask-array/910/2) question on discourse and we thought that this could be a nice How to page.

Thoughts?

[2022-07-22 17:54] RitikParmar opened #9299 "GroupBy Query returns KilledWorker Error"
**What happened**:
When running Dask's GroupBy Query for a 50GB dataset, a KilledWorker error occurred, stopping the query from completing.
**What you expected to happen**:
The query is supposed to complete and display Dask's runtime for a groupby query.
**Minimal Complete Verifiable Example**:

[code]
import pandas as pd
import dask as dk
import dask.dataframe as dd

**Anything else we need to kn

[2022-07-22 17:54] #9299 closed

[2022-07-23 17:07] rcomer opened #9301 "Mask preserving *_like functions"
It would be useful to have versions of `ones_like`, `zeros_like` and `empty_like` that preserve masks when applied to masked dask arrays.  Currently (version 2022.7.1) we have

[code]
[code]
whereas numpy's version preserves the mask
[code]
[code]

I notice there are several functions in `dask.array.ma` that just apply `map_blocks` to the `numpy.ma` version of the function.  So perhaps the simples

[2022-07-25 10:19] pentschev commented on #9296
The issue here is `cupy.angle()` does not support the `deg` kwarg:

[code]

The `deg` kwarg is embedded in the Dask array dispatcher: https://github.com/dask/dask/blob/cfaf931072ae079313761d4d61e25956029abf6c/dask/array/ufunc.py#L282-L287

@jcfaracco I would encourage you to file a feature request in the [CuPy issue tracker](https://github.com/cupy/cupy/issues), once `cupy.angle()` supports the `d

[2022-07-25 11:54] Alcadeus0 commented on #9263
Hello, @ivojuroro are you still working on this issue? I'd like to help out as well :)

[2022-07-25 11:58] ivojuroro commented on #9263
Hi @Alcadeus0 yes, I am! I was having issues when running tests. I'll post here my issues so that we can check. It that's ok for you.

[2022-07-25 13:58] pavithraes commented on #9298
cc @jsignel :)

[2022-07-25 14:48] ncclementi commented on #9263
@ivojuroro this is a fix to the docs, so tests should not be breaking because of your modification. Feel free to open a PR and that will trigger CI, and we can help from there. If you are not super happy with the PR, you can open it as a "work in progress", it doesn't have to be perfect the first time, we can iterate from there.

[2022-07-25 15:44] pavithraes commented on #9301
@rcomer Thanks for reporting!

I think this should mostly work.

However, I'd first like to confirm that this isn't related to  `https://github.com/numpy/numpy/issues/15200` -- what do you think about this?

cc @jsignell for visibility

[2022-07-25 16:55] jrbourbeau commented on #9298
Not totally sure what the scope if for our how to pages, but I could see a "How to store compressed data" page being useful for users. Alternatively, we might add something directly to the existing section in the docs (e.g. add something to https://docs.dask.org/en/stable/array-creation.html#zarr for Zarr)

[2022-07-25 17:01] jrbourbeau commented on #9279
Thanks for looking into this. I'll defer to your judgement as what would be the best way to handle this moving forward

[2022-07-25 18:51] ivojuroro commented on #9263
Actually it was with the `make html`  that I was having problems.
I have created the PR here #9304

[2022-07-25 19:48] the-matt-morris commented on #5839
Stumbled upon this issue today!  Converting to array also solved this problem for me, but I noticed this issue was closed awhile ago and seems like no work was done to automatically convert the series to array?

@TomAugspurger - mind if I submit a PR to perform this conversion when performing `da.where`?

[2022-07-25 21:26] gjoseph92 opened #9305 "Rolling operations fail with unknown divisions"
**Minimal Complete Verifiable Example**:

[code]

The problem is that this `_get_previous_partitions` helper assumes the dataframe has known divisions:
https://github.com/dask/dask/blob/b7846b986632d0b20668ff632d839bcfb0d5469f/dask/dataframe/rolling.py#L346-L349

I don't know anything about rolling operations—without known divisions, is it even possible to do them? I'm not sure here if the solutio

[2022-07-25 23:20] charlesbluca commented on #7975
@GenevieveBuckley update - chatted with RAPIDS ops and turns out we are able to change the bot message 🙂 now the message should read:

[code]

Unfortunately, this message is set globally across all gpuCI projects, so there wasn't an opportunity here to include a link to Dask's gpuCI documentation, but I think this should hopefully make it a little clearer to maintainers on how to proceed when this

[2022-07-26 03:01] jcfaracco commented on #9296
@pentschev.... done: https://github.com/cupy/cupy/issues/6900

[2022-07-26 03:29] GenevieveBuckley commented on #7975
Yes, I'd be happy with that! Thank you for being willing to update it.

[2022-07-26 14:22] jrbourbeau commented on #9286
Closed via https://github.com/dask/dask/pull/9290

[2022-07-26 14:22] #9286 closed

[2022-07-26 14:23] pavithraes opened #9308 "Document Dask DataFrame `Index` methods in the API reference"
We have some methods that operate on Dask DataFrame Index (sometimes this is slightly different from how they operate on DataFrame/Series, eg: #9290). It'll be nice to document these.

Maybe we can have a new section `Index` after `Series` here: https://docs.dask.org/en/stable/dataframe-api.html, which will include the methods defined in https://github.com/dask/dask/blob/6bad4c200bea46c76023c52fdf

[2022-07-26 14:27] #9279 closed

[2022-07-26 14:31] jrbourbeau commented on #9296
Thanks @jcfaracco! It looks like there's already been a fix merged into `cupy` (xref https://github.com/cupy/cupy/pull/6905). Does `cupy` have nightly builds? I wonder if it's easy for us to test whether or not this issue can be closed

[2022-07-26 15:00] jsignell commented on #9305
I would think the easiest solution is to raise an error as high up as possible that just fails. Without known divisions we can't be sure that the data is sorted by the index, which is pretty important for rolling divisions.

[2022-07-26 15:16] pavithraes opened #9310 "Verify `test_getitem_avoids_large_chunks_missing`"
`test_getitem_avoids_large_chunks_missing` here xfails for `chunks= ((np.nan, np.nan, np.nan, np.nan), (500,), (500,))`:

https://github.com/dask/dask/blob/00c8ec3e613c38af646ebc5c7ea4a60d562f6270/dask/array/tests/test_slicing.py#L919-L939

However, since we've resolved #6586, should we consider removing/updating this test case?

Also, note that #9235 updated the `warnsize` calculation. So we may

[2022-07-26 15:22] kloczek opened #9311 "2022.7.1: documentation build fails wth sphinx 5.x"
**What happened**:
Sphinx 5.x fails on generate documentaion because problematic `sphinx_design` extension

**What you expected to happen**:
It shoud be possible to generate documentation with latest sphinx.

**Minimal Complete Verifiable Example**:
Just run in projest root `sphinx-build -n -T -b man docs/source build/sphinx/man`

**Environment**:
- Dask version: 2022.7.1
- Python version: 3.8.13

[2022-07-26 15:22] kloczek commented on #9311
Here is the sphinx result:
<details>

[code]

[code]
</details>
This is related to alredy known issu https://github.com/executablebooks/sphinx-design/issues/54
Probably the best would be finfd some replacement for that sphinx ext.

As workaround I've removed `sphinx_design` from conf.py (minimal impact on generate man page which I'm interested)

[2022-07-26 15:22] TomAugspurger commented on #9310
+1 to removing this test now that similar behavior is covered in https://github.com/dask/dask/pull/9285/files#diff-b5399612ab748a4abf814ff106dd94eec7c8379b0e0f4e51ffcd8599d6353ef1R424.

I'm *guessing* the config is still needed, but I might be wrong.

[2022-07-26 15:26] #9238 closed

[2022-07-26 15:31] ncclementi commented on #9311
@jacobtomlinson Do you know what could be happening here, Is this related to the new design?

cc: @scharlottej13

[2022-07-26 15:51] pentschev commented on #9296
I installed CuPy from source and tested locally:

[code]

Also submitted https://github.com/dask/dask/pull/9312 to test `cupy.angle`. Tests will only run on CuPy 11.0.0rc2+ (rc2 doesn't exist yet).

[2022-07-26 15:56] scharlottej13 commented on #9311
I added `sphinx-design` in #9128 to make the side-by-side panels on the [dataframe docs page](https://docs.dask.org/en/stable/dataframe.html). It can be replaced with `sphinx-panels` if it's causing issues.

[2022-07-26 16:09] brandon-b-miller opened #9313 "`cumsum` results differ from pandas for series groupbys"
**What happened**:
I noticed that taking the cumulative sum of a pandas series groupby and an equivalent dask series groupby returns numerically different results.

**Minimal Complete Verifiable Example**:

[code]
[code]

**Anything else we need to know?**:
I get the right results when `npartitions=1.`

**Environment**:

- Dask version: 2022.7.0+16.gedfa91e22
- Python version: 3.9.13
- Operating S

[2022-07-26 16:32] scharlottej13 commented on #9311
Sounds good, I can open up a PR for this switch today. Thx for catching this @kloczek!

[2022-07-26 16:43] jrbourbeau commented on #9311
FWIW I think switching to `sphinx-panels` would be fine. Though looking at the `sphinx-design` changelog I see support for Sphinx 5 was added in the latest release https://github.com/executablebooks/sphinx-design/blob/main/CHANGELOG.md#v020---2022-06-14. Have we been able to reproduce the issue using the latest `sphinx-design` + `sphinx` releases?

[2022-07-26 17:02] scharlottej13 commented on #9311
When I tried with `sphinx v5.0.2` and `sphinx-design v0.2.0` there's a different error which appears to be specific to `sphinx-tabs`?

<details>
 <summary>complete log</summary>
# Sphinx version: 5.0.2
# Python version: 3.8.13 (CPython)
# Docutils version: 0.18.1 release
# Jinja2 version: 3.0.3
# Last messages:

# Loaded extensions:
Traceback (most recent call last):
  File "/Users/sarahj/mambafor

[2022-07-26 18:21] pavithraes commented on #9313
Thanks for reporting!

This only seems to affect the column we're grouping on (e.g., `ddf.groupby('xx').y.cumsum()` works fine). I'll keep looking into it.

[2022-07-26 19:30] jrbourbeau commented on #9311
Thanks for looking into that @scharlottej13. Just to confirm, are you using the latest version of `sphinx-tabs`? I'm surprised that our recent documentation builds on readthedocs haven't been running into this issue (https://readthedocs.org/projects/dask/builds).

[2022-07-26 21:50] #9263 closed

[2022-07-26 23:10] rjzamora commented on #9292
**Update**: I downloaded the billion-record csv file to my local system and played with this a bit on a LocalCluster with a memory allowance similar to the h2o instance. I found it a bit challenging to get the default `groupby(..).agg` operation to succeed with the existing ACA-based groupby algorithm. It **should** work with smaller `split_every` settings and/or larger `split_out` settings.  Howe

[2022-07-27 03:57] jcfaracco opened #9315 "Simple `cumsum` code is failing for CuPy."
**What happened**:

A simple code using Dask's `cumsum` function is throwing an issue if the input array is CuPy.

**What you expected to happen**:

A simple code should work fine for Dask.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

This is the error below after executing the code above:

[code]

**Environment**:

- Dask version: 2022.5.2
- Python versi

[2022-07-27 03:58] jcfaracco commented on #9315
It sounds that cupy ufunc `add()` does not support numpy which is fair. But the input is a cupy array, so it should not be a problem.

[2022-07-27 05:19] GenevieveBuckley opened #9316 "Contiguous order of arrays not preserved by dask."
Contiguous order of arrays not preserved by dask.

This may not be an actual problem, but I thought I should report this anomaly.

**What happened**:
When I do a round trip from numpy -> dask -> numpy, the contiguous order of the original array is not preserved. Dask seems to always produce c contiguous arrays as the output at `.compute()`

**What you expected to happen**:
I expected the order to

[2022-07-27 05:51] GenevieveBuckley opened #9318 "Dask array `astype` method does not support `order` keyword argument"
**What happened**:
The `astype` method for numpy arrays allows an `order` keyword argument, but the same keyword argument in dask causes an error.

**What you expected to happen**:
I expected the same behaviour as numpy. There are many other places in the dask code repository that include an `order` keyword argument.

**Minimal Complete Verifiable Example**:

[code]

[code]

**Anything else we nee

[2022-07-27 05:56] GenevieveBuckley commented on #9318
Here's someone else having the same problem (this time using `dask.array.to_zarr` which eventually calls `astype`): https://github.com/zarr-developers/zarr-python/issues/962#issuecomment-1195084096

[2022-07-27 08:00] meabhi07 commented on #3348
I confirm it works when kernel restarts

[2022-07-27 08:35] GenevieveBuckley commented on #9315
I'm also seeing some weirdness in the array type metadata.

@jcfaracco  can you run this code snippet and tell us what you see?
[code]

I see both of these falsely reporting that they are numpy, not cupy.

[2022-07-27 08:35] GenevieveBuckley commented on #9315
Then I tried this to force the metadata to be what it should look like:
[code]
But there's still some problems, so there's still some extra work to do here.

[2022-07-27 09:35] GenevieveBuckley commented on #9315
I think I found it!

1. This line has `np.full` in it, creating a numpy specific array:
https://github.com/dask/dask/blob/c98fab7112e92c6455a1e840a0d0f8b6c7ddc55d/dask/array/reductions.py#L1515

2. Less important but still nice to have, would be changing [this line](https://github.com/dask/dask/blob/c98fab7112e92c6455a1e840a0d0f8b6c7ddc55d/dask/array/reductions.py#L1535) to add a `meta=` keyword a

[2022-07-27 10:19] GenevieveBuckley opened #9321 "Document how to insert keyword arguments into custom dask task graphs"
I think we should add a section to [the docs page on custom dask task graphs](https://docs.dask.org/en/stable/custom-graphs.html) to include information on how to use keyword arguments.

_Originally posted by @GenevieveBuckley in https://github.com/dask/dask/issues/9320#issuecomment-1196538984_

[2022-07-27 12:56] pavithraes commented on #9316
Interesting, thanks for sharing @GenevieveBuckley!

I'd expect Dask to preserve the order, especially if we set `asarray=True` in `from_array`, because `da.asarray` seems to preserve order:

[code]

I also agree that we can better document this behaviour regardless. :)

@jsignell I see you[ added support for `order` and `dtype` for `da.asarray` and `da.asanyarray`](https://github.com/dask/dask/pul

[2022-07-27 17:14] jrbourbeau opened #9323 "Remove `werkzeug` pin in CI"
It looks like out test suite is consistently hanging in PRs (e.g. [see this build](https://github.com/dask/dask/runs/7527674753?check_suite_focus=true)) and `main` (e.g. [see this build](https://github.com/dask/dask/runs/7529722100?check_suite_focus=true)). I've not yet had a chance to dig deeper, but wanted to raise an issue for visibility

cc @jsignell @pavithraes @ncclementi

[2022-07-27 17:22] jrbourbeau commented on #9323
@pavithraes I know your work day is almost over -- @ncclementi do you have bandwidth to look into this?

[2022-07-27 17:27] #9296 closed

[2022-07-27 19:44] jrbourbeau opened #9324 "`delayed` can't handle some `dataclasses` as inputs"
Someone reported offline that the following snippet fails:

[code]

with this traceback:

[code]

I've not looked deeply into this yet, but after quickly skimming it looks like this section of code

https://github.com/dask/dask/blob/335882ef60f646c3aeb9234c431a6e1a87224eed/dask/delayed.py#L113-L122

if where this start to go awry

[2022-07-27 20:09] ncclementi commented on #9323
There were multiple cases where CI was hanging and it seems to be happening in `test_distributed.py::test_blockwise_dataframe_io` but I can't reproduce locally with the latest `dask` and `distributed`. I tried also exact versions of distributed pining matching the CI run one, and I can't reproduce it either

This is also hanging https://github.com/dask/dask/runs/7544919727?check_suite_focus=true

[2022-07-28 02:13] jrbourbeau commented on #9323
Ended up pinning `werkzeug` over in https://github.com/dask/dask/pull/9325 (there are more details in the PR). Going to keep this issue open as a reminder to removing the package pinning

[2022-07-28 04:24] lognorman20 commented on #6971
Just submitted a PR that addresses this issue.

[2022-07-28 09:33] neutrinoceros opened #9327 "Import time penalty from versioneer"
**What happened**:
`import dask` takes a noticeable runtime penalty because the `dask.__version__`'s computation with versioneer is expensive

**What you expected to happen**:

import time should be as short as possible

**Minimal Complete Verifiable Example**:
Here's how I profiled dask's import time
[code]

current state (notice the white overhead on the right, which accounts for ~30% of the tot

[2022-07-28 13:29] TomAugspurger commented on #9327
Doesn't versioneer only have a runtime cost during development? I thought that the version number is hardcoded as part of the release build.

[2022-07-28 13:39] neutrinoceros commented on #9327
Oh I guess you're right. I did not realise. Welp I guess you can close this then.

[2022-07-28 15:30] asmith26 opened #9328 "Writing to parquet with `.set_index("col", drop=False)` yields: `ValueError(f"cannot insert {column}, already exists")`"
**What happened**:
Writing to parquet with `.set_index("col", drop=False)` yields: `ValueError(f"cannot insert {column}, already exists")`. Interestingly when `drop=True` it works.

**What you expected to happen**:
I thought I would be able to set_index with `drop=False`.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:
Thanks for any help! :)

**Environment**

[2022-07-28 16:59] rcomer commented on #9301
Thanks @pavithraes.  I'm afraid my understanding of the `__array_ufunc__` and `__array_function__` methods is not very deep.  However, looking at dask's current implementation of these `*_like` functions, they just pass straight to `ones`, etc, which I think can only ever return an unmasked array.
https://github.com/dask/dask/blob/50ab8af982a31b186a8e47597f0ad7e5b59bcab5/dask/array/creation.py#L12

[2022-07-28 17:21] ncclementi commented on #9328
@asmith26 Thank you for reporting this. I can reproduce but it's not super clear to me what's happening. By looking at the traceback.
<details>
<summary>Traceback:</summary>

[code]
</details>

Something is going on when trying to `reset_index` in to_parquet. `write_index=True` by default and is failing in this line https://github.com/dask/dask/blob/50ab8af982a31b186a8e47597f0ad7e5b59bcab5/dask/da

[2022-07-28 17:25] ncclementi commented on #9327
Closing as this seems to not be an issue according to the previous two comments.

[2022-07-28 17:25] #9327 closed

[2022-07-28 18:05] rjzamora commented on #9328
My immediate assumption is that the `read_parquet` code doesn't allow an overlap between the set of column names and the set of index names.  I'm sure we can add support for this case, but I'd have to know more about the "real-world" motivation.  The reproducer itself doesn't make much sense, because there is no reason to duplicate a column before writing to Parquet.  There is really no concept of

[2022-07-28 18:20] asmith26 commented on #9328
Thanks for the quick responses all!

Regarding real-world motivation, I don't necessarily have to do this and I think I can easily work around it. Essentially I'm writing a pipeline that joins the original data with the processed data, hence at the start of the pipeline I create an `Idx` to track how to join the rows correctly at the end - using the dask.DataFrame index makes the join fast (hence

[2022-07-28 18:34] rjzamora commented on #9328
That makes sense, and I appreciate you raising an issue!  For your workflow, I'd probably do something like `ddf.set_index(ddf["Idx"].rename("Idx_orig"), drop=False)` to persist the original `"Idx"` column with a distinct name (although you would be writing the same data twice if you don't actually modify `"Idx"` after that).

[2022-07-28 18:42] asmith26 commented on #9328
Happy to help, and thank you for the code suggestion, I like it thanks!

Happy to use this workaround, so I'm happy to close this issue if helpful - also happy to leave it open if you'd find it helpful for the record/if a fix is required(?)

[2022-07-28 18:47] rjzamora commented on #9328
I'll close this for now, but if others feel there is a good reason to support column/index overlap (or duplicate column names for that matter), then they should feel free to re-open.  However, at the moment it isn't clear to me what Dask *should* do in this case: Ignore the redundant index, or just duplicate the data.

[2022-07-28 18:47] #9328 closed

[2022-07-28 18:57] TomAugspurger commented on #9327
Just a note: I was going by memory of how versioneer behaves. It's possible I could be wrong :)

[2022-07-28 19:14] neutrinoceros commented on #9327
Don't worry about it I actually checked. Thanks again !

[2022-07-28 22:33] jrbourbeau opened #9330 "`test_blockwise_concatenate` flaky"
In https://github.com/dask/dask/pull/9329 we observed `dask/tests/test_distributed.py::test_blockwise_concatenate` fail with the following traceback:

[code]

I'm seeing assertion errors on the worker and scheduler that seem more related to Dask's internal code than the user code in the tests.

@crusaderky @gjoseph92 any idea what might be going on here?

[2022-07-28 23:25] ncclementi commented on #9330
Adding link to the CI failures https://github.com/dask/dask/runs/7566536809?check_suite_focus=true

[2022-07-29 15:19] pp-mo commented on #9293
Update : I still don't get quite how+where this happens, but on reflection I'm more + more convinced that it is somehow inevitable.
That is ... you **_can't_** seriously expect workers in a Pool to have a code environment equivalent to a simple "fork", since they may be re-used.
So, _I will muse a bit longer on how we can improve the description_.

Meanwhile, good to see the #9240 "failure of seri

[2022-07-29 20:00] terramars commented on #1493
My company is interested in paying someone to implement this functionality.  Would significantly simplify our infrastructure and be a great contribution to the community.  Please reach out to me if you're interested or would like to suggest someone who can do it. @TomAugspurger @Hoeze @jsignell

[2022-07-29 20:28] georgek-auro opened #9331 "Dask DataFrame set_index does not work when column name matches index name"
**What happened:**

Calling set_index providing a column name that matches the name of the index does not perform the set_index.

**What you expected to happen:**

The provided column becomes the index, as was the case prior to Dask==2022.05.1

**Minimal Complete Verifiable Example:**

[code]

**Anything else we need to know?:**

This is the [branch](https://github.com/dask/dask/blob/0b637ab775fa1

[2022-07-29 21:04] quasiben commented on #9331
At the moment it looks like Dask chooses to do nothing if the column name matches the index name:
https://github.com/dask/dask/blob/0b637ab775fa177d0af737e4648a89484aee5c74/dask/dataframe/core.py#L4813-L4817

@jorloplaz do you have any thoughts whether this optimization was intended for a particular workflow ?

[2022-07-29 23:33] scharlottej13 commented on #9311
Sorry for the delay on this! After a bit more digging, I couldn't reproduce `sphinx-design` (or `sphinx-tabs`) being incompatible with `sphinx` >= 5.

`dask-sphinx-theme` has `sphinx-book-theme` [pinned to v0.2.0](https://github.com/dask/dask-sphinx-theme/blob/e1e8065844c96d64c6baec9091f855dac241e947/requirements.txt#L1) which is only supported by `sphinx` versions >=3 & < 5. I got this error when

[2022-07-30 06:43] anandhakrishnanaji commented on #9308
Hey I am new to open source, can I take up this issue?

[2022-07-31 16:34] andrewbarisser opened #9333 "`dask_key_name`s with hyphens can get altered"
**What happened**: If one uses `bind` with `delayed(... dask_key_name)`, the result of `dask.distributed.get_worker().get_current_task()` will not necessarily be the `dask_key_name` provided by the user. I noticed the problem when using ISO 8601 formatted dates as part of the `dask_key_name`.

**What you expected to happen**: I would expect `dask.distributed.get_worker().get_current_task()` to ret

[2022-08-01 07:33] jorloplaz commented on #9331
IMHO, a DataFrame should never have two columns with the same name, and this should be controlled at all times (see the discussion regarding #9122). This includes as a particular case the one currently acting as the index, so in your example the call to  `rename` should raise an error, as there would be two columns called `'a'`.

Think about it in simpler terms: if you want to use `b` as index, wh

[2022-08-01 09:55] billiejoe-bw opened #9334 "Documentation for 'keep' argument to 'drop_duplicates' on dask dataframe and series"
The documentation for `drop_duplicates` [for dask dataframes](https://docs.dask.org/en/stable/generated/dask.dataframe.DataFrame.drop_duplicates.html) and [for dask series](https://docs.dask.org/en/latest/generated/dask.dataframe.Series.drop_duplicates.html) says "(Not supported in Dask)" for the `keep` argument, but actually it seems to be implemented and seems to work fine when I've used it. It

[2022-08-01 17:08] jrbourbeau commented on #9308
Welcome @anandhakrishnanaji! You don't need to ask permission to work on an issue. See https://docs.dask.org/en/stable/develop.html for documentation on setting up a local development environment, how to build the docs, etc.

[2022-08-01 17:41] pavithraes commented on #9334
@billiejoe-bw Thanks for reporting!

I agree we can improve the docs, `@derived_from`'s new `inconsistencies` keyword argument can be useful here. :)

The docstrings for many Dask DataFrame/Array functions are generated from pandas/numpy docs. The arguments that are in the pandas function docstring but not in the Dask DataFrame function's signature, are automatically marked as "Not supported in Da

[2022-08-01 19:19] pavithraes opened #9335 "SciPy 1.9.0 compatibility"
SciPy 1.9.0 was released last week, and we have a related test failure.

[`dask/array/tests/test_linalg.py::test_solve_sym_pos`](https://github.com/dask/dask/runs/7617507756?check_suite_focus=true#step:6:22380) fails with:
[code]

[2022-08-01 19:35] jrbourbeau commented on #9335
Thanks for flagging this @pavithraes! Do you have bandwidth to look into this?

[2022-08-01 19:54] pavithraes commented on #9335
@jrbourbeau Yes, I'm looking into it. :)

[2022-08-01 20:16] jrbourbeau commented on #9335
Woo, thank you!

[2022-08-01 20:55] andrewbarisser commented on #9333
Thanks for pointing out the docstring. Are there rules for how one should expect keys to be regenerated? Based on https://github.com/dask/dask/issues/8783, I would think that at least `child-2000-01-01` would be part of the new key. It seems that hyphens play a special role in the key names but that isn't obvious from the documentation.

Also (and this is probably a much bigger issue), it isn't cl

[2022-08-01 22:44] ian-r-rose commented on #9324
Thanks for the initial investigation and nice reproducer @jrbourbeau!

I think there is likely a limit to our support for dataclasses here. If there is a dataclass with a custom `__init__` signature, then our logic for reconstituting the instance after computing any collections in its fields will, in general, be wrong. That being said, I think the following would be a big improvement:

1. When unp

[2022-08-02 07:13] jorloplaz commented on #9331
I don't think that solves the problem. What happens above if you do first `reset_index()` and then `set_index('a')`. My guess is that, since there's another column called `'a'` when resetting, it is reset with the name `index`, and then you end up with two columns `'a'` and `'index'` instead of `'b'` and `'a'`, which was the original situation.

Even if Dask doesn't currently prevent you now from

[2022-08-02 11:06] juanchoflorez commented on #8622
Have you tried using `capsys` as a module fixture, i.e. calling it once per module instead of once per test? To avoid `capsys` shutdown to interfere with the logger. AFAIK it should set a buffer for stderr and stdout that all the tests should use, WDYT?

[2022-08-02 13:57] georgek-auro commented on #9331
Why don't we give the user a warning when such a situation occurs as well as make a note in the documentation?

[2022-08-02 14:23] jsignell commented on #9291
Sorry for the slow response. I wonder if we can just set the index _after_ we subset the series? Something like:

[code]

[2022-08-02 14:24] jsignell commented on #9298
Yeah I think existing section of API docs is best for now.

[2022-08-02 14:35] jsignell commented on #9316
So I did! I will take a look now and see if it's easy to add support in the `from_array` case.

[2022-08-02 14:42] jorloplaz commented on #9331
Mmm, as I said, if you have a column `'a'` acting as index, it's because that's one of the original columns of your dataframe. So once it is the index, doing `.set_index(`'a'`)` on that frame makes sense it is a no-op (recall that `.set_index()` requires computing quantiles and shuffling, which is expensive, so it should be done with care).

If you do have another column in the frame with that sam

[2022-08-02 15:00] jsignell commented on #9316
Ok I took a quick look and it doesn't look straightforward. I think we should add a line to the docs and call it a day unless someone expresses a need for this.

[2022-08-02 15:04] jsignell commented on #9301
In principle this approach seems fine to me. I think masked arrays are kind of under-supported in Dask in general. So this kind of work is definitely appreciated!

[2022-08-02 15:26] jsignell opened #9339 "`ddf.set_index` with `sorted=True` drops rows"
Hi. I see the same issue, but I don't have empty partitions. Can someone explain why I lost records after `set_index`?
[code]
[code]
Dask: 2022.5.0
Python: 3.10.4
OS: macOS Monterey 12.1
Install method: pip

_Originally posted by @vdytyniak-exos in https://github.com/dask/dask/issues/8735#issuecomment-1185587580_

[2022-08-02 15:27] jsignell commented on #8735
Oh that is a nice clear example of bad behavior. I promoted it to a new issue.

[2022-08-02 15:46] ian-r-rose commented on #9339
Thanks for promoting this to an issue @jsignell. @pavithraes and I have seen issues with `sorted=True` before (cf. https://github.com/dask/dask/issues/8999#issuecomment-1150087728). I'm not 100% sure that is related, but linking so I don't forget later.

[2022-08-02 15:57] rcomer commented on #9301
Thanks @jsignell.  I'll put a PR up when I have some time.

[2022-08-02 16:58] jrbourbeau commented on #9249
@pavithraes should we re-open this issue or did https://github.com/dask/dask/pull/9272 fully close this? I see you said "Partially resolves" over in https://github.com/dask/dask/pull/9272

[2022-08-02 19:13] jsignell commented on #9331
I agree in principle with @jorloplaz that this is an odd behavior and that duplicate column names are never a good idea. However since they are still possible to create, it makes sense to at least give a warning in this case.

[2022-08-02 20:23] lassiterdc opened #9343 "Extracting Small Subset of Large Dataset Taking Hours"
Hello, I am attempting to extract a dataset with dimensions 14x25x7177 and datatype float32 (around 9.58 MiB in size) from a large (655.04 GiB uncompressed) dataset but it's taking hours. I am wondering whether it's user error or if this is the best I can do.

**Data**: [10-days of nationwide radar rainfall data in netcdf form (6.72GB)](https://www.dropbox.com/sh/78c986xgiwf7w6a/AADrPhbLFraxYcwtcJ

[2022-08-02 22:02] jsignell commented on #9343
You might want to cross-post this on the xarray issue tracker, but at first glance it looks like your data is chunked long the time dimension and you are trying to access a slice in space. This means that you need to read from every chunk.

A couple things look kind of odd to me about this snippet (I didn't try to run it)
1. Those don't look like lat/lon values. Are they maybe the index instead? I

[2022-08-02 23:20] lassiterdc commented on #9343
Thanks for taking a look! The format of the netcdf is not ideal - I had to make it that way to play nice with a piece of software that someone else wrote. `outlat` and `outlon` are integer indices whereas actual geospatial coordinates are recorded in the `latitude` and `longitude` data variables. Slicing an xarray dataset by dimension name and integer indices with that kind of syntax (`mrms[idx]`,

[2022-08-02 23:37] lassiterdc commented on #9343
One other bit of odd behavior I'm noticing. The following line of code will assign `time` a maximum chunk size of 719 no matter what chunk size I assign (here it's 1000). I'm guess the maximum chunk size for a dimension is limited by the individual netcdf files that comprise the dataset which have a minimum `time` dimensions size of 719. That probably has more to do with xarray than dask but I fig

[2022-08-03 01:53] GenevieveBuckley commented on #9316
Agreed, that sounds like a good way to handle things.

[2022-08-03 03:38] #9316 closed

[2022-08-03 07:00] jorloplaz commented on #9331
Thank you @jsignell ! As for me, I'll start working on preventing duplicate column names.

[2022-08-03 08:15] Mustapha-AJEGHRIR opened #9344 "module 'graphviz.backend' has no attribute 'ENCODING'"
**What happened**:  `dask_DataFrame.visualize()` yield the error `module 'graphviz.backend' has no attribute 'ENCODING'`

**What you expected to happen**: To visualize the graph

**Minimal Complete Verifiable Example**:

**It is important to give the dtypes argument to reproduce this error !**

[code]

**Anything else we need to know?**:

**Environment**:

- Dask version: 2022.7.1
- Graphviz versi

[2022-08-03 08:33] hendrikmakait commented on #9324
One alternative approach would be not to compose a new instance of the dataclass but to replace those fields that (transitively) contain embedded dask collections. Within the body of `unpack_collections` we could then set those fields to None or some other placeholder and the returned functions would set those fields to the actual values once we evaluated them. This way, we'd avoid problems with c

[2022-08-03 13:12] #9343 closed

[2022-08-03 14:51] martindurant commented on #1493
^ @mrocklin , I don't know if Coiled does paid feature requests or if there is any capacity. Perhaps you have a lead for this.

[2022-08-03 14:57] #9315 closed

[2022-08-03 18:45] Mustapha-AJEGHRIR commented on #9344
The exact error I was getting

[code]
Previously, I have only installed graphviz with pip and conda without installing the main graphviz from : https://www.graphviz.org/download/#windows .
After installing the main graphviz, I retested the same experiment and it work fine with the latest version.
Thank you for the quick answer,

[2022-08-03 19:05] pavithraes commented on #9310
@TomAugspurger Thank you!

@ncclementi and I looked into it. We aren't sure what this test is doing. We have a few thoughts, could you please help confirm if our understanding is accurate?

Based on the comment on line 930, it looks like we're testing for: when we have unknown chunks, we shouldn't get the `PerformanceWarning` about large chunks.

In the current state, this test doesn't fail if we

[2022-08-03 19:14] ncclementi commented on #9344
@Mustapha-AJEGHRIR If I understand correctly you were able to solve your problem, correct? If so can we close this issue?

[2022-08-03 20:26] Mustapha-AJEGHRIR commented on #9344
@ncclementi  Yes

[2022-08-03 20:26] #9344 closed

[2022-08-03 21:59] #9218 closed

[2022-08-04 11:21] #9310 closed

[2022-08-04 21:39] 0-ren commented on #1493
Hey @terramars Nice to virtually meet you :) Coiled would certainly like to try and help out! Especially since it would help out the community as well as make you and your teammates lives easier.

Are you free sometime next week to talk over the specifics? [Here's a link to my calendar](https://calendly.com/d/dtn-w6c-tr9/talk-about-coiled-o_p) where you can find a time that works best for you.

[2022-08-04 21:55] jcrist opened #9353 "make_meta(df) holds a reference to the backing data"
[code]

This can result in potentially large data being held in memory by the `._meta` attribute.

[2022-08-04 22:13] terramars commented on #1493
Thanks for reaching out, definitely would love to chat next week. After I
wrote this I actually realized a bigger problem for us is the inability for
dask to shuffle large data frames, which seems like an ongoing issue
although at least it's being worked on. We can see what makes sense and if
there's some way to start an engagement.

On Thu, Aug 4, 2022, 5:39 PM 0-ren ***@***.***> wrote:

[2022-08-04 22:42] #9353 closed

[2022-08-05 12:40] drew-parsons commented on #8620
This error is now showing up in Debian CI tests testing dask 2022.02.0 on 32 bit architectures, see https://ci.debian.net/packages/d/dask/ e.g. [armhf](https://ci.debian.net/data/autopkgtest/unstable/armhf/d/dask/24377532/log.gz) and [i386](https://ci.debian.net/data/autopkgtest/unstable/i386/d/dask/24377530/log.gz)

Apart from the error in `test_query_with_meta` documented here, we also see an er

[2022-08-05 12:43] pavithraes opened #9355 "Add support for 'sym' and 'her' matrix structures in `da.linalg.solve`"
In #9350, we added the `assume_a` kwarg to `da.linalg.solve` for consistency with [`scipy.linalg.solve`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.solve.html). Dask currently only supports `assume_a` = 'gen' and 'pos', it'll be nice to look into supporting 'her' and 'sym' structures as well.

[2022-08-05 12:48] pavithraes opened #9356 "Remove `sym_pos` kwarg from `da.linalg.solve`"
In #9350, we deprecated the `sym_pos` kwarg in favour of `assume_a`, [similar to scipy](https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.solve.html).

This issue is to ensure we remove `sym_pos` in a future release.

[2022-08-05 14:20] 0-ren commented on #1493
Sounds great! Excited to help you and hopefully the community too! :)

[2022-08-05 15:46] #9335 closed

[2022-08-05 21:09] jrbourbeau commented on #2794
Closed via https://github.com/dask/dask/pull/9268

[2022-08-05 21:09] #2794 closed

[2022-08-07 06:51] ba05 opened #9359 "GroupBy get_group KeyError when category and npartitions >1"
Appears there is an issue when using groupby get_group and the group was derived from a pandas categorical type. Only get error when npartitions is >1. Possibly related to #[5847](https://github.com/dask/dask/issues/5847)

[code]
**Traceback**:
[code]

**Environment**:

- Dask version: 2022.8.0
- Python version: 3.10
- Operating System: Windows 10
- Install method (conda, pip, source): conda

[2022-08-08 10:22] SultanOrazbayev commented on #7652
I would like to express interest in this feature also. To give more context, I am interested in performing some operations on large sparse arrays, however given the scale of the matrices the number of tasks grows excessively even though most of those tasks are useless (e.g. adding a block of zeros to another block of zeros).

One strategy is removing tasks from `.dask` graph based on the chunks/bl

[2022-08-08 10:29] SultanOrazbayev commented on #7652
This is a small example, but with some awareness about emptiness in the graph below only 3 tasks would be needed:

[code]

[2022-08-08 10:38] hendrikmakait opened #9363 "Deprecate unpacking `dataclass` in favor of `namedtuple`"
As mentioned in https://github.com/dask/dask/pull/9345#issuecomment-1207863896, we currently unpack `dataclass`es to discover embedded Dask collections. However, the support for `dataclass`es is limited:

In #9361, we add support for unpacking `namedtuple`, which seem to be a perfect match to the limited scope of functionality we want to support in unpacking `dataclass`es. They are immutable and h

[2022-08-08 12:49] pavithraes commented on #9363
Thank you, `@hendrikmakait`!

@jrbourbeau @ian-r-rose What do you think about this?

[2022-08-08 13:15] pavithraes commented on #9359
@ba05 Thanks for reporting! Your code seems to work with dask=2022.7.1, but fails with the latest release dask=2022.8.0.

The `npartitions` and `divisions` calculated is different between the versions, which might be causing this error:

`dask=2022.7.1`:

[code]

`dask=2022.8.0`:

[code]

I think this might be related to #9221? cc @jrbourbeau @ian-r-rose @rjzamora

[2022-08-08 15:45] jrbourbeau commented on #9355
Thanks @dustinwerran2 @geraninam

[2022-08-08 18:35] ian-r-rose commented on #9363
I agree that the issues around custom `__init__` functions and `init=False` fields make it difficult to fully support traversing, unpacking, and rebuilding dataclasses. I am a bit agnostic as to whether we need to deprecate it, or whether the fixes in #9345 are good enough moving forward.

Embedding collections within the field of a dataclass sounds like *extremely* niche behavior to me -- I'm not

[2022-08-08 20:43] ncclementi commented on #9204
Breakdown of upstream failures:

### `numeric_only`
Most of the failures are related to the change in `numeric_only` default behavior - see https://github.com/dask/dask/pull/9241 and https://github.com/dask/dask/pull/9269 for reference

### No `numeric_only`
https://github.com/dask/dask/pull/9271 Julia filter most of the `numeric only` problems and the remaining issues are

- [`test_roundtrip_parq

[2022-08-08 21:42] jrbourbeau commented on #9330
I'm able to consistently reproduce this failure locally using `pytest-repeat` and `pytest-xdist` with

[code]

With the changes in https://github.com/dask/distributed/pull/6856, I was able to determine that the

[code]

error we're getting is due to the task being in the `resumed` state (instead of `executing`) when running `Worker.execute`.

@crusaderky I see there have been several issues report

[2022-08-08 22:29] ncclementi opened #9365 "Fix `DataFrame.dropna` match pandas upstream bug fix"
Currently, these  two UPSTREAM test are broken:

- [test_map_partitions_with_delayed_collection](https://github.com/dask/dask/runs/7331385905?check_suite_focus=true#step:5:11853)
- [test_dropna](https://github.com/dask/dask/runs/7331385905?check_suite_focus=true#step:5:11560)

Due to a [BUG-fix upstream](https://github.com/ncclementi/pandas/commit/94280f021bda7fb23e26db6e485e5367f2de8963), that pr

[2022-08-09 02:36] galipremsagar opened #9367 "Errors being caused by allowing `conda-forge` & `dask/label/dev` packages to co-exist"
**What happened**:

Looks like the way currently `dask`, `dask-core` & `distributed` are being packaged in `conda-forge` & `dask/label/dev` to be able to use interchangeably is leading to issues when being used with `dask-cuda-worker`.

**What you expected to happen**:
Ideally, I'd expect `dask/label/dev` packages to not be compatible with `conda-forge` packages, and vice-versa.

**Minimal Complet

[2022-08-09 13:15] jsignell commented on #9204
Thanks for writing this up @ncclementi! Please feel free to pick up either of those PRs, or we can work on them together if you like.

[2022-08-09 13:21] jsignell commented on #7652
This feels equivalent to `sum(self.block.shape) == 0`, if you agree then I think the challenge is less how to tell which chunks are empty and more how to pluck those chunks out of the array and get rid of any dependencies on them.

[2022-08-09 13:26] SultanOrazbayev commented on #7652
I'm not sure I understand this approach correctly... shape of a block containing zeros is non-zero, right?

[2022-08-09 13:35] jsignell commented on #7652
I think the approach that you have makes sense and if you plan to put it at the block-level then I think you won't get complaints. So it would be like `self.blocks[0,1].is_empty`?

[2022-08-09 13:57] jrbourbeau commented on #9367
Thanks for surfacing @galipremsagar. Looking at those `conda list` outputs, the thing that stands out to me is (in the failing case) `dask` and `dask-core` are being installed from different channels -- `conda-forge` and `dask/label/dev`, respectively. Naively I would have expected those packages to be installed from the same channel, given the channel priorities being used. That said, I'm not sur

[2022-08-09 13:59] #9249 closed

[2022-08-09 14:04] SultanOrazbayev commented on #7652
Yes, except given your comment, perhaps a better name is `.is_all_zeros` (or something that emphasizes zeros). The reason `zeros` is good to emphasize is because the implemented logic should be special to the case of zero-filled matrix (so if someone had a `sparse` matrix with non-zero fill value, the optimizations would not necessarily apply).

Some of the optimizations possible for blocks that c

[2022-08-09 15:00] charlesbluca commented on #9367
Don't think this is related to the dask-cuda nightly, as the same issue comes up with a more minimal conda env specification:

[code]

Think what's happening here is that:

- we specified a strict pinning to `dask==2022.7.1`; this package isn't available in `dask/label/dev` (only packages with versions like `2022.7.1a.*`) so we end up pulling it from conda-forge
- the conda-forge `dask` package fo

[2022-08-09 18:22] jakirkham commented on #9367
Thanks all for the engagement here! 🙏

One consideration with `dask` & `distributed` packages is we may want to allow hot-fixes (like `2022.8.1.1`) for one of the packages without making a full release. If that is something we want, then `==` may be too tight to allow for that update.

Another thing that we may want to look at is whether this is still an issue with [strict channel priority]( https

[2022-08-09 18:46] #9324 closed

[2022-08-09 19:51] system123 commented on #7652
I'd suggest `is_nodata` or something along those lines to abstract it further away from any specific value (for instance, in my application, these values are often `nan`).

To avoid any impact to dense arrays, perhaps we want to subclass this into a `sparse_array` so that there is no performance hit for standard arrays (which I'd assume are a large percentage of use cases)

[2022-08-09 19:52] jrbourbeau opened #9368 "Enable installing nightly packages in gpuCI"
@ncclementi and I are working on https://github.com/dask/dask/pull/9366 and were wanting to run tests on gpuCI with the nightly version of `pandas`. In other CI jobs we use [this script](https://github.com/dask/dask/blob/e2548c53db70929e42aa8cdac18bee552a291adb/continuous_integration/scripts/install.sh) to install the development version of a few upstream dependencies (including `pandas`). However

[2022-08-09 20:46] charlesbluca commented on #9368
I can look into this! Were you thinking of this being done for all gpuCI runs, or only when some word/phrase is included in the PR title / a specific commit?

[2022-08-09 20:53] jrbourbeau commented on #9368
Thanks @charlesbluca! If you have the bandwidth, that would be great. Ideally, gpuCI would match what we're doing in our non-GPU CI build and run when `test-upstream` is included in a commit message

https://github.com/dask/dask/blob/e2548c53db70929e42aa8cdac18bee552a291adb/.github/workflows/upstream.yml#L20-L23

Thoughts on how do-able that would be?

[2022-08-09 21:25] jrbourbeau opened #9369 "Add `flake8-bugbear` to `pre-commit` hooks"
In https://github.com/dask/distributed/pull/6809 `distributed` added `flake8-bugbear` to their `pre-commit` hooks (thanks @hendrikmakait!) We might consider doing the same here.

Copying from https://github.com/dask/distributed/issues/6662:

    B006: Do not use mutable data structures for argument defaults.
    B018: Found useless expression.

[2022-08-10 09:59] crusaderky commented on #9330
Yes and no. I've been banging my head recently on state flickering in the very early stage of Worker.execute. I'm going to pick this up.

[2022-08-10 11:21] hendrikmakait opened #9370 "`dask.compute` can't handle some `dataclass`es as input"
As mentioned in https://github.com/dask/dask/pull/9345#discussion_r940533164, `dask.compute` can't handle some `dataclass`es as inputs due to a limitation in `dask.base.unpack_collections`. In #9345, we added support or error handling for these types of `dataclass`es, but the implementation of `dask.base.unpack_collections` makes it non-trivial to apply those changes. Specifically, we experience i

[2022-08-10 12:00] #8879 closed

[2022-08-10 12:56] jacobtomlinson commented on #9311
@scharlottej13 given we pin to `sphinx-book-theme==0.2.0` this should never actually come up, right? So I'm not entirely sure how @kloczek managed to get sphinx 5 installed in this environment, perhaps some things were installed out of order and `pip` didn't do the right thing in terms of dependency resolution?

I think we should open a PR to the `dask-sphinx-theme` to explicitly set our dependenc

[2022-08-10 13:36] pavithraes commented on #9333
@andrewbarisser Ah, I see what you mean.

I think you're absolutely right that the root cause is `key_split`. However, `key_split` seems to be intentionally trimming any numbers after hyphens. Maybe the solution here is to document this better.

https://github.com/dask/dask/blob/e61405cb5d345e73f1952ee3d50708566b5263d1/dask/utils.py#L1804-L1830

@crusaderky Do you have thoughts on this? Especially

[2022-08-10 13:39] pavithraes commented on #9318
I believe #9317 resolves this issue, thanks you `@GenevieveBuckley`!

[2022-08-10 13:39] #9318 closed

[2022-08-10 16:09] multimeric commented on #9047
Another important use case for this feature that I forgot to mention is error handling. Frequently you will get an error like this, and it won't be trivial to work out what part of your code is actually to blame, especially because a function like `concat` might not even have been called directly by the user, and it might be called by a different dask function:
[code]

And the call stack is of cou

[2022-08-11 03:14] TomNicholas opened #9373 "Hypothesis strategy for chunking arrays in different patterns"
I often want to test some parallel dask code for input with a range of different chunking structures. This seems like a possible candidate for a general chunks strategy using the hypothesis library, that could live in `dask.array`.

We actually made a simple strategy to test various chunking structures in both [xhistogram here](https://github.com/xgcm/xhistogram/blob/0d3bf5ad9c118dccb211d30fc88996

[2022-08-11 03:17] ahmedibrhm commented on #8353
`ignore_index` cannot be implemented here like pandas unless we computed the input of `concat` beforeahead. There are two ways to implement `ignore_index`.

The first one is resetting the index of each `df` in `.concat_pandas` the problem with this is that the output will be like [reset_index](https://docs.dask.org/en/stable/generated/dask.dataframe.DataFrame.reset_index.html).

The second way can

[2022-08-11 03:27] TomNicholas commented on #9373
I'm not sure how the hypothesis dependency should be handled though - if the strategy is exposed publicly then I guess it should be an optional dependency of `dask[array]`? Not quite sure how to specify that in the `setup.py` though.

[2022-08-11 10:11] kloczek commented on #9311
I've removed use some sphinx module by patching conf.py.
I'm interested only generate roff (man page) and remove use sphinx modules which affects html outpt has no impact in my case

[2022-08-11 14:41] HongLouyemeng commented on #4389
I also met this problem. Do you have a good solution？

[2022-08-11 19:03] #9365 closed

[2022-08-11 20:38] pavithraes commented on #9373
cc @jrbourbeau @jacobtomlinson, who I think might be interested in this. :)

[2022-08-11 21:01] TomNicholas commented on #9373
You might also be interested in some of the suggestions in https://github.com/HypothesisWorks/hypothesis/issues/3433#issuecomment-1212419256

[2022-08-11 23:11] #9323 closed

[2022-08-12 03:20] #9291 closed

[2022-08-12 03:26] #7169 closed

[2022-08-12 08:08] epizut commented on #9291
Thanks a lot

[2022-08-12 11:02] pavithraes commented on #9313
@jrbourbeau and I looked into this. The issue seems to be in:

https://github.com/dask/dask/blob/8b95f983c232c1bd628e9cba0695d3ef229d290b/dask/dataframe/groupby.py#L1274-L1281

Consider the following example (same example as OP, only the values are hardcoded for understanding):

[code]

The `cumpart_ext` calculated is different in both cases:

CASE 1:
[code]

CASE 2:
[code]

In case 2, while creat

[2022-08-12 12:46] pavithraes opened #9376 "`SeriesGroupBy` cumulative functions on `axis=1` don't raise an error"
**What happened**:

Dask DataFrame `SeriesGroupBy` cumulative functions: `cumsum`, `cumprod`, and `cumcount` currently produce outputs when used with `axis=1`. While the pandas equivalents raise a error

```ValueError: No axis named 1 for object type Series```

which makes sense.

**What you expected to happen**:

Dask should also raise relevant errors, and stay consistent with pandas

**Minimal C

[2022-08-12 13:29] fjetter commented on #4362
This issue got a bit stale. Just wanted to mention that there is an API for an approximate quantile with two algos to pick from https://docs.dask.org/en/latest/generated/dask.dataframe.DataFrame.quantile.html

Am I correctly assuming that a `DataFrame.median` API is missing that is an alias for `quantile(0.5, ...)`?

[2022-08-12 13:46] #9330 closed

[2022-08-12 13:59] jacobtomlinson commented on #9373
xref #9262

[2022-08-12 16:30] pavithraes commented on #9321
Closing as #9322 has now been merged. :)

[2022-08-12 16:30] #9321 closed

[2022-08-12 16:46] RitikParmar opened #9379 "KilledWorker error when running Groupby on 5GB dataset"
**What happened**:
When running Dask's GroupBy Query for a 5GB dataset, a KilledWorker error occurred, stopping the query from completing.

**What you expected to happen**:
The query is supposed to complete and display Dask's runtime for a groupby query.

**Minimal Complete Verifiable Example**:
Source repository required for running benchmark:  https://github.com/h2oai/db-benchmark
Run db-benchma

[2022-08-12 17:06] multimeric opened #9380 "ValueError when trying to reassign an index column"
**What happened**:

The following error:
[code]

**What you expected to happen**:
No error in this situation, it should compute as expected.

**Minimal Complete Verifiable Example**:
This is highly contrived, because I spent a long time reducing this error to a minimal state from my real world workflow. The `shuffle` method call here is used to represent any more complex operation like a hash join

[2022-08-12 18:09] gjoseph92 opened #9381 "Use Blockwise in `da.store`"
`da.store` is basically the main method for writing arrays out of dask; things like `to_zarr` use `da.store` internally, and downstream projects like xarray use it extensively. Currently, it produces low-level graphs. These graphs would be very simple to convert to Blockwise: https://github.com/dask/dask/blob/8b95f983c232c1bd628e9cba0695d3ef229d290b/dask/array/core.py#L4430-L4433

We're just mappi

[2022-08-12 18:12] jrbourbeau commented on #9381
+1 -- nice suggestion @gjoseph92

[2022-08-12 21:28] jrbourbeau commented on #9367
I believe this is closed by https://github.com/dask/distributed/pull/6862, https://github.com/conda-forge/dask-feedstock/pull/190, and https://github.com/conda-forge/distributed-feedstock/pull/217. @galipremsagar I'm going to close this issue, but feel free to re-open if you're still experiencing this issue

[2022-08-12 21:28] #9367 closed

[2022-08-13 06:45] sparkyniner commented on #8759
Hello if this is still open can I work on this?

[2022-08-13 06:55] multimeric commented on #9380
Okay so on further inspection I think this issue relates to the fact that the fact that dask isn't aware that a column has been converted into an index, which can be seen by looking at the meta. In the above example, if we `print(x._meta)`, we get:
[code]

So even though we've explicitly `set_index("index")`, dask still thinks that "index" is a column, and that the actual index has no name, which

[2022-08-13 08:01] multimeric commented on #9380
And here's another example that doesn't use `map` at all:
[code]
[code]

[2022-08-13 13:27] ljmc-github opened #9383 "dataframe.read_sql_query does not work with datetime index"
**What happened**:

Dask failed to read_sql_query for a datetime index.

See SO question [here](https://stackoverflow.com/questions/73340732/loading-dask-dataframe-with-sqlalchemy-fails/73344622#73344622), and MCVE below.

**What you expected to happen**:

Dask reads the database and returns a df.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

The issue app

[2022-08-13 13:33] ljmc-github commented on #9383
I am happy to send a PR if you can guide me for the solution as I am brand new to dask.

[2022-08-13 15:52] multimeric opened #9384 "Provide `DataFrame.to_pickle`"
Currently the best supported way to store the distributed dataframe to disk is using `to_parquet`. This is great, but there are some use cases where pickle would work better, for example when the dataframe contains native Python types that aren't easily represented in parquet. Also, the type inference for parquet isn't perfect, so often an `object` dtype that is e.g. clearly a `list[str]` gets inf

[2022-08-13 23:38] detrout commented on #8620
Since you were already skipping the dtype check on win32, what about this solution to extend ignoring the dtype test to any 32-bit platform? The test could also plausibly be sys.int_info.sizeof_digit == 4 or > 2.

[code]

[2022-08-14 00:10] ba05 commented on #9384
Can you just convert the parquet to a pandas dataframe and then use df.to_pickle?

[2022-08-14 03:17] multimeric commented on #9384
I want a direct `dask.dataframe.DataFrame` → pickle conversion, without parquet involved.

[2022-08-14 09:26] kutal10 commented on #9294
@pavithraes @jsignell Hey both - i've been working on this issue for the past few days

### **Approach**

At the minute, i'm looking at comparing the Dask Dataframe metadata to the Pandas equivalent using `compute()` all within the `__getitem__` method. I don't know if this approach is necessarily optimal, but it passes the test cases i've written for it.

I do acknowledge that maybe:

1. I need t

[2022-08-15 13:46] jsignell commented on #8759
@sparkyniner absolutely!! You are welcome to pick up any open issue!

[2022-08-15 14:34] jsignell commented on #9380
I think there are a couple different things going on here. In the first example, Dask is trying to be a bit too clever. It sees that the name that the column that you are trying to assign to index matches `ddf.index` and so the `set_index` bails early.  If you don't rename the column, and just set index with it as it is originally named things work fine:

[code]

So that is one little bug.

The re

[2022-08-15 14:59] multimeric commented on #9380
Thanks for the response. I agree that issue 2 is user error, I forget why I included it exactly. Possibly I was trying to make a point about dask needing a correctly named index which means it's not trivial to rename the index in point 1, because it will throw off all the downstream metadata unless you change it all.

[2022-08-15 16:07] hendrikmakait commented on #9363
@ian-r-rose: How do you feel about adding the `DeprecationWarning` now that `namedtuple` unpacking is supported? This might be a good chance to get rid of a rather inelegant piece of functionality or at least learn how those who complain about the deprecation are using that feature.

[2022-08-15 20:29] crusaderky commented on #9333
`bind` needs to regenerate the keys because it's designed so that you can use the original and the bound keys together.
e.g.

x = cheap_computation_with_large_output()
y = expensive_and_long_computation(x)
z = wrap_up(clone(x), y)

clone(). is a one-line wrapper around bind().
In the above code, the chunks of x will be forgotten as soon as they are consumed by the computation of y, and then they'l

[2022-08-15 21:47] jrbourbeau commented on #9384
Thanks for the issue @multimeric! Adding a `to_pickle` method seems in scope. That said if you're experiencing issues with Dask's use of Parquet, I'd be interested in hearing more about them or (if you're interested) opening new issues. Always interested in how we can improve Dask's Parquet experience for users

[2022-08-15 23:36] multimeric commented on #9384
Okay so my main issue with parquet at the moment is in serializing dicts and lists. Here's a very simple example:

[code]
[code]

So it's true that, with improved type inference we could avoid this error (not sure if the type inference lives in dask, or in pyarrow though). However, I believe Parquet's lists and dicts are strongly typed, so if you have a data frame with several thousand rows, you w

[2022-08-16 00:15] ian-r-rose commented on #9384
Dask makes the (often, but not always, accurate) assumption that an "object" dtype is a string when writing parquet datasets. If you are doing tricky things like serializing dicts and lists, then you will need to specify a pyarrow schema (see the brief discussion under the [schema](https://docs.dask.org/en/stable/generated/dask.dataframe.to_parquet.html#dask-dataframe-to-parquet) argument in `to_p

[2022-08-16 00:21] ian-r-rose commented on #9384
I should also note: if you want to just let pyarrow take a crack at serializing things, throwing schema-matching caution to the wind, you can pass `to_parquet(schema=None)`

[2022-08-16 02:43] #9376 closed

[2022-08-16 02:51] McToel commented on #9383
I have looked into this a little bit and I found that the problem only exists with `read_sql_query` and not with `read_sql_table`. As far as I can tell, this is because `read_sql_table` autoloads all the table scheme, e.g. the data types from the SQL table. Thus, `parse_dates` isn't even necessary, as the dates are automatically parsed by SQLAlchemy.

I tried around with passing `parse_dates` to e

[2022-08-16 03:03] multimeric commented on #9384
I think there are some meaningful downsides with these workarounds, though.

Manually specifying a schema works well when you only have two columns like in my example, but my real life use case is loading in a massive data frame with hundreds of columns from JSON, at which point curating the schema is a huge undertaking that I wouldn't want to burden my users with.

I can see the appeal of mapping

[2022-08-16 06:31] sparkyniner commented on #8759
Could you please link the html file I need to edit?, I'm having some trouble finding it.

[2022-08-17 13:21] jsignell commented on #8759
I think Ben was recommending that you add a section to this page: https://github.com/dask/dask/blob/main/docs/source/array-design.rst

[2022-08-17 13:40] jsignell commented on #9380
For the first issue. We recently added a warning, but maybe that was the wrong approach. Maybe we should stop bailing early in that case or maybe we should raise an error. I think there is a little thought left to do there.

For the hash_join though it's probably a straightforward fix, so you are welcome to open a pull request if you feel so inclined.

[2022-08-17 13:42] jsignell commented on #8620
Yeah that seems like a super reasonable solution @detrout. I haven't really heard of people experiencing issues with this in practice. Seems like the issues are more around the tests just not passing so a better skip seems like a good fix.

[2022-08-17 13:42] jsignell commented on #8620
Please feel free to open a pull request with your suggestion!

[2022-08-17 13:46] #9301 closed

[2022-08-17 13:49] #9333 closed

[2022-08-17 13:50] multimeric commented on #9380
Yes so I've noticed this warning (`UserWarning: New index has same name as existing, this is a no-op.`), but I didn't interpret correctly. I guess if you keep it, I would rather it be more clear, ie `New index has same name as existing, index assignment will be skipped`. But also, it must still be doing *something*, right? Or the metadata error wouldn't happen at all. Is it changing the metadata b

[2022-08-17 13:59] jluethi opened #9389 "Performance hit with da.delayed processing in dask 2022080 vs 2022070"
**What happened**:
We're using dask.delayed to process Zarr files, see here for details: https://dask.discourse.group/t/using-da-delayed-for-zarr-processing-memory-overhead-how-to-do-it-better/1007
The actual processing may not be optimal and we're looking to make it more memory efficient (separate discussion in the forum post). While doing that, I tested the new `2022080` release. It is about 25x

[2022-08-17 14:01] jsignell commented on #9380
That's a good point, but it's not. You get the same metadata error even without the `set_index` in the first example. If you change the last line to `x.shuffle(x["index"]).compute()` it works though. I just took a little look and gross as it is _I think_ this matches pandas behavior. See if you do `x.compute().index` you get a `RangeIndex` and if you do `x.compute()["index"]` you get the column na

[2022-08-17 14:41] multimeric commented on #9380
Okay so in my example I create a column named index, then call `set_index()` which does nothing, then try to shuffle it using the old index. Why does this then fail?

[2022-08-17 15:13] jsignell commented on #9380
Hmm. There must be something wrong with the meta in shuffle for the case where a dd.Index object is passed.

[code]

[2022-08-17 15:57] jrbourbeau opened #9391 "`test_gpu_write_parquet_simple` failure on gpuCI"
Over in https://github.com/dask/dask/pull/9388 we observed `dask/dataframe/io/tests/test_parquet.py::test_gpu_write_parquet_simple` failed with

[code]

in [this gpuCI build](https://gpuci.gpuopenanalytics.com/job/dask/job/dask/job/prb/job/dask-prb/2492/CUDA_VER=11.5,LINUX_VER=ubuntu18.04,PYTHON_VER=3.9,RAPIDS_VER=22.10/console)

<details>
<summary>Full treacback:</summary>

[code]

</details>

cc

[2022-08-17 15:58] jrbourbeau commented on #9391
Also popped up  in https://github.com/dask/dask/pull/9390 too. So this seems consistent

[2022-08-17 16:04] ian-r-rose opened #9392 "Warn if the number of categories in a categorical column is large"
While testing #9302 I ran into some undesirable behavior around categoricals, which I have seen in the wild:

If a user converts a column with high-cardinality (`n_groups ~ len`) into a categorical dtype, then *each partition* carries around the whole list of different categories, which is many. So in the degenerate case where `n_groups == len`, each partition basically has a whole copy of a categ

[2022-08-17 17:35] jrbourbeau commented on #9389
Thanks for reporting @jluethi. Looking at the `git log` between the `2022.07.0` and `2022.08.0` releases nothing seems like an obvious culprit. Are you able to run `git bisect` to determine which PR lead to a change in behavior?

Also, just to double check, are you using a local scheduler or a distributed cluster? From the example, it looks like a local cluster, but just wanted to confirm

[2022-08-17 17:41] ian-r-rose opened #9393 "Is there a good way to issue a warning from a task?"
We have a number of places where we issue user warnings during graph construction time that a user may not be doing what they want to be doing (e.g., [here](https://github.com/dask/dask/blob/785c8456ea2f62e41b0110b07e883eea42f969d2/dask/array/reshape.py#L261-L272)). But in some cases, we may not have all the information we need to issue a warning until a task is actually executed (e.g., it may be

[2022-08-17 17:47] jluethi commented on #9389
Thanks @jrbourbeau , will try to narrow it down with `git bisect`. As the only differentiating factor I could find is runtime, it may take a bit. Will report back when I manage to narrow it down.

And yes, just using the local scheduler both for this example as well as in general.

(We're currently using [parsl](https://parsl-project.org) for orchestration on our cluster to handle some further com

[2022-08-17 18:00] gjoseph92 commented on #9393
The `dask.warn` utility seems like the best idea to me. I agree that this would be useful, especially for library authors / dask itself.

[2022-08-17 18:47] rjzamora commented on #9391
I'll try to figure out what is going on here. Does gpuci uses cudf/dask_cudf nightly?

[2022-08-17 20:34] jrbourbeau commented on #9391
Thanks @rjzamora! Yes, it should install those packages from the RAPIDS nightly channel

[2022-08-17 20:56] lassiterdc opened #9396 "Suspected memory leakage when using dask and xarray to write a netcdf from a zarr file"
**What happened**:
I have a zarr file that I'd like to convert to a netcdf which is too large to fit in memory. My computer has 32GB of RAM so writing ~5.5GB chunks shouldn't be a problem. However, within seconds of running this script, my memory usage quickly tops out consuming the available ~20GB and the script fails.
![memory_screenshot](https://user-images.githubusercontent.com/64621312/185004

[2022-08-17 23:58] ian-r-rose opened #9397 "Performance regression in Parquet I/O"
In #9175 we added some logic to bump up the default number of retries when writing parquet to remote filesystems. The reasoning was that remote I/O is usually somewhat flakier than local I/O, and we wanted to provide a better default user experience for that case without having to recommend everyone explicitly tune `retries` themselves.

Unfortunately, this attempt to increase reliability seems to

[2022-08-18 01:42] Joshuaalbert opened #9399 "depth-first order destroyed when disconnect paths of dependency graph"
**What happened**:
When you have a dependency with separate paths that do _not_ merge into one node and all keys are traversed, then `toposort` loses depth-first ordering. In fact, the output depends on the ordering in the `dependencies` dict.

**What you expected to happen**:
You would like to maintain depth-first ordering in all cases, as according to the dask scheduling memorandum, doing longes

[2022-08-18 01:48] ian-r-rose commented on #9397
An alternative to just reverting #9175 could be to actually do the work of merging annotations of adjacent layers based on some simple rules. They could be something like
* **priority**: max of layer priorities
* **workers**: intersection of layer workers
* **resources**: max of layer resources
* **retries**: max of layer retries
* Any custom annotations: bail on fusing layers

The above *could* w

[2022-08-18 02:18] kumarspark commented on #3914
@tropicalpb How did you fix this? I am having a similar issue trying to read a 65 mb parquet file on a 16 gb ram ubuntu with 4 workers (4 gb ram each)

[2022-08-18 02:31] Joshuaalbert commented on #9399
For a quick fix you can run `toposort` twice where in between you use the first toposort to order the nodes in the dependencies such that depth-first sort is trivially satisfied (case 1 in MVCE).

[code]

[2022-08-18 07:38] Winand opened #9400 "Filter parquet file without statistics"
**What happened**: If there's no statistics in parquet file I get unclear error message when trying to apply filter

`TypeError: '<=' not supported between instances of 'NoneType' and 'int'`

**What you expected to happen**: no errors or more clear error message

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Environment**:

- Dask version: 2022.7.0
- Arro

[2022-08-18 07:50] fjetter commented on #9399
cc @eriknw

[2022-08-18 07:53] fjetter commented on #9397
Have we tried using retries on IO level? Naively, I would expect boto/fsspec/whatever to do this for us instead.

[2022-08-18 09:24] Tishj opened #9401 "Dask Dataframe does not support Pandas dtype 'Float32'"
[code]

**What happened**:
[code]

**What you expected to happen**:
I would expect the either `from_pandas` to fail instantly, or for it to be able to work with the dtype

**Anything else we need to know?**:

**Environment**:

- Dask version: installed through `python3 -m pip install dask`
[code]
- Python version: 3.9.13
- Operating System: MacOS
- Install method (conda, pip, source): pip

[2022-08-18 10:12] JSKenyon commented on #9399
I am not sure I follow. I have modified the MVCE to the following:

[code]

which runs just fine. Would you mind elaborating @Joshuaalbert?

[2022-08-18 13:33] rjzamora commented on #9400
Thanks for the issue and simple reproducer @Winand . There is definitely a lack of coverage for missing Parquet statistics, and it certainly makes sense to raise a clear warning (rather than a confusing error) when the necessary statistics for filtering or divisions are missing.

Are you interested in raising a PR to address this? (No worries if not - I appreciate you taking the time to write this

[2022-08-18 13:49] rjzamora commented on #9397
Without understanding the problem fully, I am also hoping this is a possibility :)

I seems like it could be possible to implement the rules you described above in a relatively clear and simple way. If so, I'd personally be supportive of that solution (even if the initial PR only addresses the `retries` case for now).

[2022-08-18 13:52] eriknw commented on #9399
Are the results of `toposort` not topologically sorted?  If not, then I don't think this is an issue.  Other than being topologically sorted, `toposort` makes no other claims about the order.  That said, I expect depth-first search ordering--do you require this?

A reproducible example would be nice to have, because it would be worrying for the current implementation to not have DFS ordering.

[2022-08-18 14:08] rjzamora commented on #9401
Thanks for raising @Tishj

It looks like the problem here is in the creation of a `dask.array.Array` with a `Float32Dtype()` (and probably not in `dask.dataframe`). As far as I can tell, `dask.dataframe` works with these dtypes just fine, but `dask.array` gets tripped up at creation time (i.e. when `ddf.values` is used). Here is another reproducer:

[code]

[2022-08-18 14:24] rjzamora commented on #9396
Thanks for sharing your experience here @lassiterdc . Have you opened an xarray issue about this? You may get better and faster feedback there, since your reproducer is not using Dask directly.

That said, it does seem within reason for your memory usage to be >2x the chunk size.  Depending on how xarray has implemented zarr reading and writing, there may be a data copy between reading a writing.

[2022-08-18 14:37] ian-r-rose commented on #9397
Both boto and s3fs/gcsfs/fsspec have some functionality around retries (this is discussed in the original issue), but even then odd behavior can bubble up to the dask level The work here was basically a belt-and-suspenders approach.

I'm sure there is also work that could be done in s3fs et al (perhaps @martindurant has some insight). The retry logic there currently retries for some error codes, b

[2022-08-18 14:39] ian-r-rose commented on #9397
I also think this could be fairly doable (regardless of whether this particular approach to retries is a good idea). I'm just not sure what our stance towards feature development on HLG/layers is right now...

[2022-08-18 14:43] martindurant commented on #9397
To be sure, there are some things that should *not* be retried, such as not-found and permission violations.

[2022-08-18 14:49] rjzamora commented on #9397
Your hesitation is warranted.  We know we want to change many things in HLG, and we want to avoid further-complicating the current state. However, my understanding is that this only applies to `Blockwise` fusion (there is no other way to fuse HLG Layers), and so the "fix" could be somewhat distinct from the larger HLG design. I'm imagining a simple/moduler `check_fusable_annotations` check in the

[2022-08-18 15:12] lassiterdc commented on #9396
Yes I did open an xarray issue and cross posted here since I wasn't sure which community would be most insightful. The fact that you aren't surprised by this behavior definitely leads me to believe this is not a bug which is good news. I wasn't sure whether I was running with the synchronous scheduler and whether I had multiple threads reading and writing in parallel. After looking into that, I ca

[2022-08-18 15:50] rjzamora commented on #9396
Glad that helped - and thanks for engaging here @lassiterdc !

[2022-08-18 15:50] #9396 closed

[2022-08-18 16:29] Joshuaalbert commented on #9399
@JSKenyon Yes, I extracted `toposort` to investigate and since `toposort` doesn't depend on on `dsk` actually, only the depdencies, I threw that arg away during debyg. However, your example does fail if you change the order of the `dsk` to match `deps`. In the code `dependencies are just extracted from `dsk` in the order provided by the `dsk` keys, so you need to change the order of `dsk` to see t

[2022-08-18 16:34] Joshuaalbert commented on #9399
@JSKenyon I updated my MVCE to reflect the `dask.core` version

[2022-08-18 17:00] eriknw commented on #9399
Thanks for the example.

`dask.order.order` should be used to determine the order that the scheduler runs tasks, not `toposort`.

`toposort` performs a DFS along _dependencies_, not _dependents_.  This means that after visiting `"a"`, it doesn't traverse the dependents of `"a"`, which would be `"b"`.  `"a"` has no dependencies, so the algorithm moves on to the next key, which could be any of them.

[2022-08-18 17:20] eriknw commented on #9399
I think we can simplify your workaround thusly:
[code]
but I don't think it's necessary to always do this.  For example, `toposort` is used in `inline`, which works with _any_ topological sort.  Is there a use case that needs DFS along dependents?

[2022-08-18 17:38] hansmohrmann commented on #7652
I am also registering my interest in such a feature! I have been trying both by using the `sparse ` library (per [this ](https://docs.dask.org/en/latest/array-sparse.html)reference) and by using `da.masked_array`, but it does not appear that either reduces computation in the case of very sparse array operations (even just the example on the `array-sparse` page above runs slower on using `sparse`).

[2022-08-18 17:40] ian-r-rose commented on #9396
@lassiterdc It sounds like using a single-threaded scheduler may have solved your problem, though note that it will also prevent other parts of your data pipeline from running in parallel.

You might be interested in trying a distributed [`Lock`](https://distributed.dask.org/en/stable/api.html?#distributed.Lock) on just the part of your computation that is not parallel-safe.

[2022-08-18 17:48] Joshuaalbert commented on #9399
@eriknw thanks for the replies. Ah, okay. So toposort isn't used for ordering, so this issue is irrelevant w.r.t. maintaining the scheduler principles. I came across this with a valid use case in a project I'm writing that is not based on dask, but also had the same problem in its toposort. In that case, I was desiring the behaviour of `dask.order.order` and had assumed it was a `toposort` with ex

[2022-08-18 18:14] rjzamora commented on #9396
Using distributed (e.g. LocalCluster) without a lock should probably do fine as well.  My understanding is that the problem is with memory usage rather than safety, and so I hope that worker pausing/spilling can handle this "embarassingly parallel" case.

[2022-08-18 18:16] eriknw commented on #9399
Cool.  From a usability perspective, I think adding an optional argument to `dask.core.toposort` to ensure DFS along _dependents_ is perfectly reasonable.  I've wanted this behavior before when toying around with my own graphs, and I'm pretty sure I used the trick I shared above.

`dask.order.order` _usually_ does DFS, but not always.  `order` is actually [a little complicated](https://github.com/

[2022-08-18 22:58] scott-arne opened #9404 "SpecCluster worker shutdown warnings"
**What happened**:

When a temporary ```dask.distributed.SpecCluster``` is run with ```asyncio``` with an ```AsyncExitStack``` context manager, the workers report the following errors on cluster shutdown:

[code]

**What you expected to happen**:

I would expect the workers to shut down cleanly without these messages.

**Minimal Complete Verifiable Example**:

This small example creates a ```dask.

[2022-08-19 00:26] ian-r-rose commented on #9391
This seem to have been fixed. Thank you, mystery person or machine.

[2022-08-19 00:26] #9391 closed

[2022-08-19 01:26] madkinsz commented on #9404
Thanks for opening the issue with a Dask-specific MRE Scott!

This was discovered in Prefect's Dask integration. Feel free to ping me or reach out if we can help! :)

[2022-08-19 06:41] JSKenyon commented on #9399
I understand now. Thanks for clarifying!

[2022-08-19 09:17] SultanOrazbayev commented on #7652
Thanks, @hansmohrmann ! I got in touch with @system123 and promised to tag him once I get a meaningful progress on a PR. I can tag you also, or if you want to work on it in sync (or any other action plan) kindly get in touch by email or LinkedIn and we can coordinate on a call.

[2022-08-19 10:50] system123 commented on #7652
@hansmohrmann fair point. I think taking that into account we could design this to optimize both for the case where all values are `zero` as this continues to hold mathematically, as well as for the case were all values are `masked` as the mask is essentially telling us that there are no guarentees about the data points underneath. This way in a case such as mine I can convert my `nan` points to a

[2022-08-19 13:49] Joshuaalbert commented on #9399
Hi @eriknw I ran `dask.order.order` of the above test cases and rearranged the keys by the resulting sort indicies and it meets the dask principles (as expected) and also meets my project needs. I appreciate both your attention on this, despite it being a false alarm.

[2022-08-19 13:49] #9399 closed

[2022-08-19 14:27] jluethi commented on #9389
@jrbourbeau Ok, ran git bisect, thanks a lot for pointing me there, that's a really useful tool!

Using that, I found the issue first at ac74939697c328bd6456aa9fad7d9520328db6e5

Given that this involves some changes to dask graph handling, this could make sense.

Also, again, we may not be using dask optimally here (see discussion about the memory inefficiencies in the forum post linked at the to

[2022-08-19 15:09] jrbourbeau opened #9406 "Shuffle-based groupby aggregation by default"
In https://github.com/dask/dask/pull/9302, @rjzamora added a new shuffle-based groupby algorithm which @ian-r-rose demonstrated has significant performance improvements in certain cases https://github.com/dask/dask/pull/9302#issuecomment-1216782830. Today this new shuffle-based groupby is gated behind an optional `shuffle=` keyword argument (off by default). We should probably turn it on by defaul

[2022-08-19 15:36] scott-arne commented on #9404
For more context, I've found this also happens with ```dask.distributed.LocalCluster``` as well (of course this cluster is not identical to the ```SpecCluster``` above in terms of resources, but still shows it is not unique to ```SpecCluster```).

[code]

This will still report that the connection to the scheduler is broken on closing:

[code]

[2022-08-19 18:59] qibin-integral opened #9407 "Ignore column order when reading multiple jsons to a dataframe"
I am trying reading multiple jsons to a dataframe, but got an error about mismatched columns. Here is a simple example with two json files:
`test/1.json`
[code]
And `test/2.json`
[code]
If I call `dd.read_json("test/*.json").compute()`, I will get error:
[code]
Can we ignore column order when reading multiple jsons (e.g. by sorting columns), since column order does not matter much in json?

[2022-08-19 20:24] #9397 closed

[2022-08-21 19:44] averri opened #9410 "Dask Scheduler is losing the context of annotations"
**What happened**:

The Dask Scheduler is losing the context of annotations, mixing annotations from different client submissions. The best way to describe this is to show an example, so please find the code and explanations below.

**What you expected to happen**:
It's expected that the Dask Scheduler respect the annotations, each task should have the annotations created for them.

**Minimal Comp

[2022-08-22 04:24] LUOXIAO92 commented on #7639
The same issue. But on my case, I reconstructed the matrix using M'=UΣV^† . The real matrix input yields reasonable answer, and it fails for complex matrix input. Here is my code
[code]

I calculated the trace and norm of M-M' (M:original matrix; M':M'~UΣV^†) which should be small. On the complex case, difference between M and M' is large.
[code]
But on the real case, it yields a reasonable answer

[2022-08-22 10:17] RogerThomas opened #9411 "Filtering on a Python list is 2 orders of magnitude slower than filtering on a numpy array"
**What happened**:
Filtering on a list of integers vs a numpy array on the example below is nearly 200 times slower
From the example below I get

[code]

**What you expected to happen**:

Filtering on a list vs an array shouldn't be that different in Dask, I would expect it to be a bit slower, but not nearly 200 times slower.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we ne

[2022-08-22 11:07] pavithraes commented on #9379
@RitikParmar Thanks for reporting, I'll look into reproducing this. Would you also be able to share the complete error traceback?

@MrPowers was looking into running the groupby queries with Dask, and AFAICT the [queries on the 5GB dataset didn't cause issues](https://github.com/coiled/coiled-resources/tree/main/benchmarks). cc @ncclementi and @ian-r-rose who have more background on this.

You may

[2022-08-22 11:40] pavithraes commented on #3914
@kumarspark Perhaps something in https://docs.dask.org/en/stable/dataframe-parquet.html might be helpful for you? I'd also encourage you to post this question on [Discourse](https://dask.discourse.group/) with the complete error traceback. :)

[2022-08-22 13:25] pavithraes commented on #9407
@qibin-integral Thanks for reporting! I think this would be a useful feature to support. :)

[2022-08-22 15:35] rjzamora commented on #9389
Thanks for the ping, and for writing this up!  I will try to figure out if that "fix" caused other graph-related problems.

[2022-08-22 16:37] gjoseph92 opened #9412 "Support ndarrays of Delayed objects in `da.from_delayed`"
Currently, `da.from_delayed` is not an inverse function of `da.to_delayed`.

`da.to_delayed` returns a NumPy array, with object dtype, where each element is a Delayed object referring to that chunk of the array.

But `da.from_delayed` only accepts a single Delayed object, representing a single chunk of the array. You'd have to map this over every Delayed object, then use `da.stack` to combine them

[2022-08-22 17:11] jrbourbeau commented on #9389
Totally agree : )

Thanks for taking a look @rjzamora!

[2022-08-22 18:10] rjzamora commented on #9389
Update: I'm expecting https://github.com/dask/dask/pull/9413 to resolve this issue

[2022-08-22 19:46] pavithraes commented on #9411
@RogerThomas Thanks for reporting, this is surprising and seems like a bug.

I looked at this with @ian-r-rose, and we think this might be related to how the list is being serialized, specifically by the distributed scheduler.

A few notes:
* we see short overall times and short time _differences_ while using single machine schedulers
* for the list case, the task stream shows some long red bars c

[2022-08-22 19:48] averri opened #9414 "Make annotations availble in the thread_state"
The following is a useful code that Dask distributed provides to get the key from a task, inside the task code:

[code]

I would like to suggest making the annotations available using the same mechanism:

[code]

This is very important to facilitate the implementation of distributed tracing and log correlation using single request ids, provided via annotations.

[2022-08-22 20:00] gjoseph92 opened #9415 "Array `__setitem__` with increment produces invalid HighLevelGraph"
[code]
[code]
As you can see, it does compute correctly in this case, but the HLG validation fails.

cc @ian-r-rose @rjzamora @davidhassell

[2022-08-22 20:19] ncclementi commented on #9379
@RitikParmar the benchmark as done in the repository: https://github.com/h2oai/db-benchmark has a lot of problems as they are persisting the data in memory. So likely the problem you are seeing is due to that. Keep in mind that the h2o benchmarks as stated on that repository were done in a powerful ec2 instance with lots of memory (needed if you persist the data).

That repository is not maintaine

[2022-08-22 21:01] gjoseph92 commented on #9412
FYI, I'll have a PR for this up soon.

[2022-08-23 06:54] LUOXIAO92 opened #9418 "bug report svd_compressed() fails at calculating svd for complex matrix"
What happened:
svd_compressed() fails at calculating svd for complex matrix. I reconstructed the matrix using M'=UΣV^† . The real matrix input yields reasonable answer, and it fails for complex matrix input.
I calculated the trace and norm of M-M' (M:original matrix; M':M'~UΣV^†) which should be small. On the complex case, difference between M and M' is large.
[code]
But on the real case, it yield

[2022-08-23 09:26] RogerThomas commented on #9411
thanks for looking into it @pavithraes, is there anything I can help with?

[2022-08-23 10:54] hayesgb commented on #9411
Hi @RogerThomas .  I've just added a PR that should improve this.  With your reproducer, on my machine, this PR reduces execution time for the list from 2 orders of magnitude greater than Pandas to 1.6x longer than in Pandas.  Most of this time is spent confirming that all of the elements in the list are of same datatype.

Would appreciate any feedback.

[2022-08-23 13:14] pavithraes commented on #4362
@ian-r-rose suggested we can also consider calling it something like `DataFrame.approximate_median()` because users might expect `median()` to be accurate.

[2022-08-23 14:53] pavithraes opened #9420 "Policy for handling backwards incompatible API changes in upstream libraries"
Originally noted by @ian-r-rose and @jsignell in https://github.com/dask/dask/pull/9366#pullrequestreview-1065912197:

[2022-08-23 15:15] TomAugspurger commented on #9420
I think the things to consider here are

1. The maintenance burden and code complexity of trying to support multiple versions of pandas. It can be quite complicated to correctly forward the appropriate keywords depending on the pandas version available at runtime. Supporting more versions  means more maintenance.
2. The benefit to the user of supporting multiple versions of pandas (Dask might be o

[2022-08-23 16:53] pavithraes commented on #9294
@kutal10 Thanks for working on this! I think you may want to look into how `meta` is created by `merge()` when `left_index=True, right_index=True`. Dask is using `'string_key_A'` as the index column name instead of `'index'`, while creating the meta.

Note that Dask creates the right `meta` here:

[code]

So, I might also look at the code path this operation takes. :)

[2022-08-24 00:33] LUOXIAO92 commented on #9418
apologize for forgetting to add a label.

[2022-08-24 00:33] #9418 closed

[2022-08-24 00:39] LUOXIAO92 opened #9421 "svd_compressed() fails at calculating svd for complex matrix"
**What happened**:
svd_compressed() fails at calculating svd for complex matrix. I reconstructed the matrix using M'=UΣV^† . The real matrix input yields reasonable answer, and it fails for complex matrix input.
I calculated the trace and norm of M-M' (M:original matrix; M':M'~UΣV^†) which should be small. On the complex case, difference between M and M' is large.
[code]
But on the real case, it y

[2022-08-24 10:47] jorloplaz commented on #9331
I opened a PR that prevents you from creating frames with duplicate column names.

[2022-08-24 11:20] jorloplaz commented on #9380
I mentioned this discussion in the above PR. My general view on this is the following:

- **A named index in a Pandas dataframe is actually a column in the original data** which, for convenience, is acting TEMPORARILY as the index.
- For this reason, Pandas by default uses an UNNAMED range index. **It is the fact that it is unnamed that makes clear this index is NOT a column of your data**, but on

[2022-08-24 12:56] jorloplaz commented on #9401
This is an ongoing issue. Dask doesn't support extension types altogether. Not just this one, but all of them, see #5720

[2022-08-24 13:55] jorloplaz commented on #9339
Exploring a bit, this seems to be some issue with `fix_overlap`. The original `ddf` is:

[code]

Because the index is sorted, we are calling `dd.shuffle.set_sorted_index()`, which in turn calls `M.set_index()`. The output from this is stored in `result`:

[code]

So far, so good. Now, since `divisions=None` when calling `set_sorted_index`, the last call is `compute_and_set_divisions(result)`, whic

[2022-08-24 14:48] #9389 closed

[2022-08-24 15:08] jsignell commented on #9339
That is very helpful! I think I can do a fix for just this issue.

[2022-08-24 16:45] jsignell opened #9424 "fastparquet 0.8.2 causing failures"
@martindurant there are failures cropping up in tests. Looks like 0.8.2 just made it to conda-forge an hour or so ago

[code]
ref: https://github.com/dask/dask/runs/7998537202?check_suite_focus=true

[2022-08-24 16:53] martindurant commented on #9424
Looks like a simple fix, but I wonder why it didn't get caught in tests...

[2022-08-24 16:59] martindurant commented on #9424
Ah, so this test is in dask/bytes, not under dask/dataframe/io

[2022-08-24 17:35] #9424 closed

[2022-08-24 18:41] gjoseph92 opened #9425 "Track whether DataFrame partitions are sorted by index, even if divisions are unknown?"
I imagine that operations like these are somewhat common:
[code]

[code]
In these cases, there's a much faster path we could take in `groupby` and `merge` if we knew that the input was already sorted by `["a", "b"]`—even if we didn't know its divisions.

We just need to know that the partitions are already sorted along the index/columns in question—that is, any given value of the group will only b

[2022-08-24 22:25] ian-r-rose commented on #9425
Another use-case for something like this would be reading in hive-partitioned parquet datasets. That partitioning scheme doesn't fit in well with dask's `divisions` tracking, and it makes certain very obvious operations more difficult than they should be (including merges, groupbys, filters).

Also xref https://github.com/dask/dask/issues/8980

[2022-08-24 23:45] jakirkham commented on #7975
FWIW this has since been done and can be seen in recent comments ( like this one https://github.com/dask/dask/pull/9378#issuecomment-1213298607 )

[2022-08-24 23:53] GenevieveBuckley commented on #7975
Looks great, thanks all!

[2022-08-24 23:56] ncclementi opened #9428 "Possible regression introduced by PR 9302"
Over in https://github.com/coiled/coiled-runtime/issues/272  and https://github.com/coiled/coiled-runtime/issues/271 we reported a potential regression, that after running a git-bisect we were able to identify it was caused by PR https://github.com/dask/dask/pull/9302 even though it's not supposed to affect this workflow, as the option is off by default.

The test we run consists of this query htt

[2022-08-25 01:16] ian-r-rose commented on #9428
Thanks for the report @ncclementi! This is probably due to the change to the `sort` arg in #9428 . It is now overriding the defaults for some of the aca functions (which previously had `False`, and now have `None`).