[2019-11-05 16:30] Ahrimanox commented on #5561
Thanks for your quick response.

I don't know which files are malformed.
So i have to read all of them once individually to be sure which one I will append to a list of valid files.
That list, then, i'll pass to `dd.read_csv`.
This leads me to load twice each files.

[2019-11-05 16:40] rabernat commented on #5105
Thanks @rsignell-usgs for this very useful workaround for a common use case!

Hopefully we can continue to work with the dask devs to try to find a solution within the scheduling algorithm, rather than depending on such workarounds in the long term.

[2019-11-05 17:03] quasiben commented on #4910
I believe we can close this now as a lot of work has gone into cudf to support `__array_function__` calls:

[code]

[2019-11-05 17:03] #4910 closed

[2019-11-05 17:13] jrbourbeau commented on #5561
Are you using the distributed scheduler? If so, you can manually remove `Future`s which have failed (would correspond to `pd.read_csv` calls which have failed). Something like what's outlined in https://docs.dask.org/en/latest/debugging.html#remove-failed-futures-manually

That would allow you to load each file only once

[2019-11-05 17:16] TomAugspurger commented on #5561
I don't think dask can feasibly add an option to ignore failures. That
would break the data model, since the number
of partitions is tied to the number of files in the directory. We wouldn't
know the actual number of partitions (the
number of loaded files) until runtime.

On Tue, Nov 5, 2019 at 11:49 AM Clément Dubus <notifications@github.com>
wrote:

[2019-11-05 18:35] jrbourbeau commented on #5561
Yeah, I agree with Tom that adding such an option doesn't seem feasible to do lazily. @Ahrimanox I'd recommend sticking with your current `delayed` approach or perhaps using futures with the distributed scheduler to avoid multiple reads.

[2019-11-05 21:33] #5069 closed

[2019-11-06 09:03] mgsnuno commented on #5525
Sorry for the delay.

Tornado hello world fails (using port `8786` because `8888` was in use):

[code]

with following error:

[code]

This runs fine in python and ipython, just fails in vscode.

It points towards my assumption that somehow vscode is spawning things twice somehow.

Can we narrow this example further?

Regarding dask/distributed#2343 what can I change nowadays on that code section

[2019-11-06 13:34] mgsnuno opened #5563 "read_parquet pyarrow memory build up"
create dummy dataframe (using `datasets.timeseries()` and mapping all elements with `sha256`)
[code]

multiple reads using `fastparquet`: `Bytes Stored` remains constant
[code]

multiple reads using `pyarrow`: `Bytes Stored` builds up
[code]

`pyarrow` should not cause this memory build up. Any clues and should I leave this here or post it in arrow?

Thank you

[2019-11-06 14:47] mrocklin commented on #5563
Thank you for the excellent bug report @mgsnuno .

I think that the next step here is probably to try to isolate the problem further.  If you have time, I recommend seeing if you can recreate the error without Dask, using only Pandas and Arrow.  If you can accomplish this, then yes, I would recommend posting this to the Arrow issue tracker.  They will be much better at diagnosing issues there than

[2019-11-06 16:32] crusaderky opened #5564 "dask without numpy"
Follow-up from https://github.com/dask/dask/pull/5511

In theory, according to setup.py, dask[bag, delayed] can run without numpy or pandas being installed.
In practice, at the moment there are no CI tests for the use case, and a quick local try highlighted multiple major breakages.

To reproduce:
1. remove the lines for numpy and pandas from ``continuous_integration/travis/travis-mindeps-bag-dela

[2019-11-06 16:55] mrocklin commented on #5564
Is it that tests fail, or does Dask itself not run well?  Are the only changes to be made here in testing files, or are there bugs in actual code as well?

In principle making things work well without numpy/pandas is, I think, important.  Having tests run well would also be nice, but probably isn't a huge deal today.  I don't get the sense that this affects anyone in practice.

If it's cheap from

[2019-11-06 17:02] crusaderky commented on #5564
@mrocklin sorry for sounding pedantic, but - what exactly is your definition of "run well", when automated tests won't even start? Play around with it by hand and verify that it doesn't crash (at least until the next commit)?

The test failures are *not* localized to ``dask/array/tests`` and ``dask/dataframe/tests``; they are all over the place, so I'm in no position to say if there are bugs in th

[2019-11-06 17:10] mrocklin commented on #5564
I'm generally strongly motivated by user experience.  So if users were frequently presenting with `ImportErrors` then that would be a strong motivation to take action quickly.  This doesn't happen today, so I'm not super concerned by the import issues.  I still think that it would be great to fix things, but it's less of a priority for me personally.

[2019-11-06 17:28] crusaderky commented on #5564
So you basically say it's OK to accidentally make the next dask version completely unusable for minimal bag/delayed users, and that the only thing that will save them is the ability of the code reviewers' to spot it in time??

Look, I am sympathetic with the people getting frustrated by the slowness of CI, as I'm definitely one of them. But offering a massive amount of different legal (and realist

[2019-11-06 17:42] crusaderky commented on #5564
I am happy to skip testing these edge cases in PRs, as long as you're happy to have master occasionally break after a merge (which I agree sounds like a reasonable trade-off).

[2019-11-06 19:20] mrocklin opened #5565 "Add dropna keyword to groupby aggregations"
Cudf recently started supporting a `dropna=` keyword to groupby aggregations.  See https://github.com/rapidsai/cudf/issues/2627

Pandas considered this in https://github.com/pandas-dev/pandas/pull/21669 , where there was some discussion around the API.

Would it be reasonable to add this to dask dataframe to support cudf workloads, even if there is not yet support in Pandas?

cc @TomAugspurger

[2019-11-06 19:21] jrbourbeau commented on #5564
FWIW, at least for the `dask[bag, delayed]` case, all test collection / failure issues are related to dependency `ImportError`s. With the following changes, `pytest dask` runs successfully without NumPy or Pandas installed.

<details>
<summary>Diff:</summary>

[code]

</details>

Just wanted to say that I also get the sense this isn't a huge problem for users and probably doesn't merit additional

[2019-11-06 22:38] alphahmed commented on #5557
No, the new dataframe I’m applying the display head(n) method is a result of joining a dataframe of more than 2 million rows and another one with few hundred rows. Their indices are dateTime values.

[2019-11-06 22:44] alphahmed commented on #5557
I provided a minimal sample above with the exact error message I am getting. It’s a result of joining a df with few millions rows with few dozens of columns, and another df with few thousands of rows with three columns. Their indices are dateTime values, and the error message I am getting is:

UserWarning: Insufficient elements for head. 5 elements requested, only 0 elements available. Try passing

[2019-11-06 22:44] mrocklin commented on #5557
Right, as the message suggests, head only looks at the first partition for efficiency reasons.  it looks like your first partition did not have any rows in it.  This can happen with certain joins.  The suggestion that it provides is to pass the `npartitions=` keyword to head.  Does this solve your problem?

[2019-11-07 01:16] TomAugspurger commented on #5565
Yep, that's reasonable.

On Wed, Nov 6, 2019 at 2:20 PM Matthew Rocklin <notifications@github.com>
wrote:

[2019-11-07 07:06] davidsebfischer commented on #3406
Also observing this in dask 2.6.0.

[2019-11-07 09:20] pranav-kohli opened #5567 "Worker hangs due to duplicate task key on the same worker within milli second gap"
I am running xgboost classifier on a dask cluster with adaptive deployment enabled.
A problem occurs randomly that on one of the worker when a task is submitted, it goes to waiting state, then the same task is resubmitted to the worker again within some millisecond difference and a deadlock occurs.

I cant produce a minimal reproducible sample for this as it happens very randomly

Dask : 0.17.5
Di

[2019-11-07 15:10] mrocklin commented on #3406
If someone is able to fix this, that would be welcome.

[2019-11-07 15:12] mrocklin commented on #5567
Thank you for the bug report and explanation @pranav-kohli .

Can you try again with a newer version of Dask and distributed?  The versions that have installed are fairly old.

[2019-11-07 16:08] TomAugspurger commented on #5525
I'm not entirely sure...

https://github.com/dask/distributed/issues/3202 sounds somewhat related
though?

On Wed, Nov 6, 2019 at 3:03 AM Nuno Gomes Silva <notifications@github.com>
wrote:

[2019-11-07 20:56] jrbourbeau commented on #5541
Closing for now, @nikhilbankar19 feel free to re-open if you're able to provide more information

[2019-11-07 20:56] #5541 closed

[2019-11-07 20:58] jrbourbeau commented on #5178
Closing as this doesn't seem to be an issue with Dask

[2019-11-07 20:58] #5178 closed

[2019-11-08 14:12] afaulconbridge opened #5570 "Bag repartition can increase, docstring implies otherwise"
The original issue https://github.com/dask/dask/issues/1699 solves being able to repartition a bag into more partitions (useful after a flatten() for example).

However, the doc string wasn't updated as part of the PR - it says: "Coalesce bag into fewer partitions."

I would suggest updating it to "Change number of partitions of bag". Happy to do a PR for it.

A similar fix was applied to datafram

[2019-11-08 15:15] mrocklin commented on #5570
That would be great.  Thank you Adam

On Fri, Nov 8, 2019 at 6:12 AM Adam Faulconbridge <notifications@github.com>
wrote:

[2019-11-08 16:44] mrocklin commented on #5565
@rjzamora , this is low priority, but if you want to take a look that would be welcome.

[2019-11-09 06:37] tinyms opened #5572 "dask-2.7.0 with PyQt5: may have been in progress in another thread when fork() was called."
dask-2.7.0  distributed-2.7.0 with PyQt5

[code]
throw exception
[code]

**but dask-2.6.0  distributed-2.6.0 with PyQt5 is ok**

[2019-11-09 15:10] mrocklin commented on #5572
Interesting.  Can you provide more information about how to reproduce the issue?  My guess is that the problem is related to whatever functions you are submitting.

https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-11-10 15:52] mrocklin commented on #5062
See https://github.com/dask/dask/pull/5575

[2019-11-10 17:57] bnaul commented on #5572
@mrocklin I'm seeing something similar when I try to start a `dask-worker` from the command-line on 2.7.0
[code]

[2019-11-10 18:52] mrocklin commented on #5572
Thanks for reporting in @bnaul .

A quick google search brings up terms around OSX and forking.

Can I ask you to try with the following config?

[code]

[2019-11-10 23:24] #2447 closed

[2019-11-11 05:28] alphahmed commented on #5557
Thank you mrocklin, you're right. I passed `npartitons=2` and it's positive!

[2019-11-11 05:28] #5557 closed

[2019-11-11 12:04] TomAugspurger commented on #5502
Looked at this a bit last week. The problem is the multiple calls to `optimize` (implicit in the `to_delayed()`). I think we'll need to use a new key for the task we make with the new `columns`.

Haven't had luck implementing that.

[2019-11-11 13:05] liucimin opened #5577 "How to get worker stdout in dask?"
1.
Wo.
I have some puzzle about the "stdout " in worker's tasks.
Such as blow codes.How can i get the print from the worker？

[code]

Thx for your help~

[2019-11-11 13:32] TomAugspurger commented on #5577
That likely depends on the cluster manager you're using, if any. Some will capture stdout and forward it to their logging system.

[2019-11-11 13:35] liucimin commented on #5577
I can’t understand what’s the cluster manager? I use the dask worker but I could not find the print.

发自我的iPhone

------------------ Original ------------------
From: Tom Augspurger <notifications@github.com&gt;
Date: Mon,Nov 11,2019 9:32 PM
To: dask/dask <dask@noreply.github.com&gt;
Cc: Jackson <64948939@qq.com&gt;, Author <author@noreply.github.com&gt;
Subject: Re: [dask/dask] How to get worker

[2019-11-11 13:36] liucimin commented on #5577
I just see the log from the worker itself.But how can I get the print in the func?

发自我的iPhone

------------------ Original ------------------
From: Tom Augspurger <notifications@github.com&gt;
Date: Mon,Nov 11,2019 9:32 PM
To: dask/dask <dask@noreply.github.com&gt;
Cc: Jackson <64948939@qq.com&gt;, Author <author@noreply.github.com&gt;
Subject: Re: [dask/dask] How to get worker stdout in dask? (#

[2019-11-11 15:42] mrocklin commented on #5577
Dask does not communicate stdout/stderr.

If you start Dask with Kubernetes or Yarn or PBS/LSF/SLURM or some other cluster system then that system can give you stderr/stdout.

How do you set up your workers?  Are you using the `dask-worker` command, or a project like `dask_kubernetes`?

[2019-11-11 15:52] liucimin commented on #5577
Yes,I use helm to create my dask cluster.In the worker pod it use dask-work to start worker in pod
That’s my puzzle if I use kubectl logs to show the worker pod I just find the logs from the dask-worker process.It can not get the print from the task when I use Client.map or Client.submit . But when I use Local cluster I can see it in my screen.
So my quesstion is when I submit a function in the k8

[2019-11-11 15:55] mrocklin commented on #5577
If you call `print` from your task then it should show in your dask-worker logs.

Dask does not move stdout/stderr.  We just do whatever Python does.  Nothing special.

[2019-11-11 16:08] liucimin commented on #5577
Thx for your reply.
I will try again tomorrow.
And then get more details.

发自我的iPhone

------------------ Original ------------------
From: Matthew Rocklin <notifications@github.com&gt;
Date: Mon,Nov 11,2019 11:55 PM
To: dask/dask <dask@noreply.github.com&gt;
Cc: Jackson <64948939@qq.com&gt;, Author <author@noreply.github.com&gt;
Subject: Re: [dask/dask] How to get worker stdout in dask? (#5577)

[2019-11-11 16:36] bnaul commented on #5572
Yep, `spawn` works just fine.

[2019-11-11 16:40] mrocklin commented on #5572
Thanks!  That's helpful.

The next helpful thing, if you or anyone else has time, would be to try `git bisect` to identify which commit caused the issue.  I would estimate that this would take around 20m of time.

[2019-11-11 16:45] bnaul commented on #5572
Was just about to post, `bisect`ing gives https://github.com/dask/distributed/commit/763a649e3e272b657d394409e74584505510f064 as the first problematic commit.

[2019-11-11 16:50] mrocklin commented on #5572
That's bizarre.  Do you even have ucxpy installed?  What is the result of `import ucp`?

[2019-11-11 17:33] bnaul commented on #5572
nope!
[code]

[2019-11-11 17:35] bnaul commented on #5572
actually @mrocklin I think I messed up the bisect, lemme try again

[2019-11-11 17:39] bnaul commented on #5572
@mrocklin not a bad bisect but a bad copy-paste from a similar commit name 😅 https://github.com/dask/distributed/commit/bc04d7642c0439bf3757b34bd1eb802b9679ba12

"avoid double init after fork" sounds a lot more relevant

[2019-11-11 18:30] mrocklin commented on #5572
Indeed, but even that commit only touches code in `distributed/comm/ucx.py` which you shouldn't ever be touching if you don't have ucx installed.

https://github.com/dask/distributed/blob/81df14f144d5358ed9d37a065c5f5220280a6f78/distributed/comm/ucx.py#L1-L22

https://github.com/dask/distributed/blob/81df14f144d5358ed9d37a065c5f5220280a6f78/distributed/comm/__init__.py#L19-L22

So if `import ucp`

[2019-11-12 07:06] liucimin commented on #5577
@mrocklin
I have two work pods and start with these args.
![image](https://user-images.githubusercontent.com/8232349/68649371-833afd00-055d-11ea-978f-1cbdf6161cb8.png)

And then i use the k8s dask cluster with this way:

![image](https://user-images.githubusercontent.com/8232349/68649182-01e36a80-055d-11ea-9477-cfc5c6584008.png)

When the task all done.I try to find the worker logs on the dashboar

[2019-11-12 11:31] crusaderky opened #5580 "dask.compute() with asynchronous distributed client"
dask 2.7.0, distributed 2.7.0

One would expect that, when using an async distributed client, the compute() method of dask collections would return a ``distributed.Future`` or a coroutine. Instead, it crashes:

[code]
Output:
[code]
Same error for ``dask.compute()``. Only ``client.compute([delayed(1)])[0]`` works.

This issue effectively nullifies the benefit of having a globally-registered client

[2019-11-12 11:55] xiskoct opened #5581 "Is it possible to batch the rows of a csv in dask?"
I'm trying to batch with the csv rows from dask:

[code]

Is there a problem with global variables and multiprocessing? In the good practices of Dask, they advise not to use global variables ... What would be the alternative?

Can this task be done with dask?

[2019-11-12 15:29] mrocklin commented on #5577
Right, the dashboard only shows the logs that come from the Python logging
module, not stdout.  For full output from the process you should use
Kubernetes.

On Mon, Nov 11, 2019 at 11:06 PM Jackson <notifications@github.com> wrote:

[2019-11-12 15:31] mrocklin commented on #5580
I definitely agree.  If you can find a nice way of acheiving that while keeping everything simple that would be great.

That seems like too extreme of a statement to me.  There are many benefits to having a globally-registered client beyond this case.

[2019-11-12 15:34] mrocklin commented on #5581
Unfortunately after reading your question I'm still not sure what you
want.  Are you looking for the blocksize= keyword of the read_csv function?

On Tue, Nov 12, 2019 at 3:55 AM xiskoct <notifications@github.com> wrote:

[2019-11-12 15:46] Sharma24Rahul commented on #4217
I want to append my dataframe to empty Dask DataFrame , not able to do by dd.append ? Is there anyway to do append operation . I dont want to use pandas for this

[2019-11-12 15:49] mrocklin commented on #5581
Duplicate of https://stackoverflow.com/questions/58810244/is-it-possible-to-batch-the-rows-of-a-csv-in-dask

Closing.

[2019-11-12 15:49] #5581 closed

[2019-11-12 15:52] jrbourbeau commented on #4217
You can try using the `dask.dataframe.concat` function

[2019-11-12 15:59] jrbourbeau commented on #5580
This has been brought up before in #5518. Closing this issue as a duplicate

[2019-11-12 15:59] #5580 closed

[2019-11-12 16:02] mrocklin commented on #4217
You may also want to read through
https://docs.dask.org/en/latest/best-practices.html#load-data-with-dask

On Tue, Nov 12, 2019 at 7:52 AM James Bourbeau <notifications@github.com>
wrote:

[2019-11-12 16:22] mrocklin commented on #5567
Checking in here @pranav-kohli , do you have time to try this with newer versions?

[2019-11-12 16:47] #5062 closed

[2019-11-12 17:41] bnaul commented on #5572
I poked around a bit more and the code you highlighted technically does run; it only fails at `import ucp`, but the lines before it are all executed.

The only obvious change is that some of the imports moved from after `ucp` to before; after some trial and error I'm pretty confident that commenting out the *first* (note that there are two) `import numpy as np` at https://github.com/dask/distribut

[2019-11-12 17:55] madsbk commented on #5572
@bnaul, could you try remove the three lines: https://github.com/dask/distributed/blob/81df14f144d5358ed9d37a065c5f5220280a6f78/distributed/comm/ucx.py#L20-L22 and see if it helps?
I don't think those lines should be there in the first place.

[2019-11-12 18:11] crusaderky opened #5582 "dask_key_name="foo""
dask 2.7.0.

Ok, this is weird.
If one invokes a delayed function with dask_key_name *exactly* equal to "foo", and then it computes it without explicitly setting the scheduler, it returns the wrapped function instead of the function output O_O

[code]

[2019-11-12 18:20] mrocklin commented on #5582
Interesting!  Any interest in tracking this down?

On Tue, Nov 12, 2019 at 10:11 AM crusaderky <notifications@github.com>
wrote:

[2019-11-12 18:30] crusaderky commented on #5582
Interest, plenty. Time, ehrm... 😢

[2019-11-12 18:42] bnaul commented on #5572
@madsbk nope, even with those lines removed I see the same error; removing the lines same lines before the import does fix the issue though.

[2019-11-12 18:49] mrocklin commented on #5572
So presumably https://github.com/dask/distributed/pull/3228 should fix this then.  It would be nice to understand why this was happening though.  @bnaul I'll leave it to you if you want to continue investigating here.  Perhaps we do something in one of the utils.py file at import time?

[2019-11-12 19:57] #5572 closed

[2019-11-13 06:45] liucimin commented on #5577
@mrocklin
Since i use kubectl logs the worker pod.
The logs is the same as dashboard show.

It seem the dask-worker use the stdout as its logging module output way?
Then the print in task can not show out?

![image](https://user-images.githubusercontent.com/8232349/68739615-32daa280-0624-11ea-9800-f822221ef356.png)

[2019-11-13 07:16] pranav-kohli commented on #5567
So on debugging a bit further, I found that xgboost library had threading issues, upgrading it seems to solve the problem for now. Sorry for the noise here, Ill close the issue.

[2019-11-13 07:16] #5567 closed

[2019-11-13 09:45] crusaderky commented on #5582
I'm an idiot.
The issue was that I was connecting to a distributed cluster where, several hours before, I persisted (and never cleaned up) an object with key="foo".

[2019-11-13 09:45] #5582 closed

[2019-11-13 10:03] mgsnuno commented on #5563
Issue fixed with latest pyarrow 0.15.1. Closing

Here the related issues (imo) that fixed it:
https://issues.apache.org/jira/browse/ARROW-6060
https://github.com/apache/arrow/pull/5016

[2019-11-13 10:03] #5563 closed

[2019-11-13 11:21] jmichel-otb opened #5584 "Tasks order and scheduling"
First of all I apologies because this is more a question than an issue or feature request (though it might turn to one of those in the end).

I am having a really hard time to figure out how to influence task scheduling to get it the way I want it.

Here is my setup. I have two set of tasks, say A and B. Each set has a few thousands tasks in it. A tasks depends on nothing. Each B task depends on a

[2019-11-13 11:46] kwunlyou opened #5585 "scatter dataframe"
when I run the following code

[code]

I received a warning message

[code]

- Is there an easy way to scatter dataframe before runing `map_partitions`?
- should I use a larger `npartitions` for the dataframe?

[2019-11-13 15:14] mrocklin commented on #5577
Dask uses the standard Python `logging` module.  We don't do anything special.

[2019-11-13 15:14] mrocklin commented on #5567
Thanks for the update!

On Tue, Nov 12, 2019 at 11:16 PM pranav-kohli <notifications@github.com>
wrote:

[2019-11-13 15:16] mrocklin commented on #5563
Thanks for checking back in and reporting the solution here!

On Wed, Nov 13, 2019 at 2:03 AM Nuno Gomes Silva <notifications@github.com>
wrote:

[2019-11-13 15:21] mrocklin commented on #5584
This page may interest you:
https://distributed.dask.org/en/latest/priority.html

In general though if you are submitting a single graph with `dask.compute`
then I would expect Dask to choose a prioritization that minimized memory
footprint.  It's heuristics are usually pretty good at this.  If you have
task graphs that are only a few hundred nodes then you can visualize the
prioritization by call

[2019-11-13 15:23] mrocklin commented on #5585
The warning doesn't necessarily relate to your map_partitions call.  It
could be due to anything in your computation up until that point.

I don't know exactly wher your problem is, but in dataframe computations
this is a common issue:
https://docs.dask.org/en/latest/best-practices.html#load-data-with-dask

On Wed, Nov 13, 2019 at 3:46 AM Kun Liu <notifications@github.com> wrote:

[2019-11-13 15:31] #5565 closed

[2019-11-13 23:02] jhulten opened #5591 "Dask Monthly Meeting Invite Expired"
In `docs/source/support.rst`, the google calendar invite is until 11/6/2019 (now in the past).

[2019-11-13 23:12] jrbourbeau commented on #5591
Thanks for opening up an issue @jhulten! There's an open PR (#5569) to fix the calendar invite, so this should be resolved soon

[2019-11-13 23:48] tomorrowleadcrunch opened #5592 "[BUG] IndexError raised by read_parquet when AccessDenied by S3"
Start a python interpreter without AWS credentials in the environment.

[code]

[code]

I would expect dask to raise a `PermissionError` like pandas does when S3 (botocore) raises a `ClientError`.

I hope this issue is helpful. Please let me know if you need any more details. Happy to contribute a solution if help is needed.

Thanks for maintaining such an awesome project! 😄

[2019-11-14 00:39] jrbourbeau commented on #5592
Thanks for opening up an issue @tomorrowleadcrunch! What version of `fsspec` and `fastparquet` are you using?

[2019-11-14 00:48] tomorrowleadcrunch commented on #5592
Here are the current versions of `fsspec` and `fastparquet` I have:

[code]

Thanks for the quick reply @jrbourbeau!

[2019-11-14 00:56] jrbourbeau commented on #5592
Sorry, I should have asked for the `s3fs` version too. Both `s3fs` and `fsspec` published new releases today that fixed several issues. Could you try updating to the latest release for those packages (`fsspec==0.6.0` and `s3fs==0.4.0`) and seeing if the problem still persists?

[2019-11-14 01:22] tomorrowleadcrunch commented on #5592
No worries @jrbourbeau! I wasn't aware of those new releases. I just installed them and tried again with no luck unfortunately. Here's an updated snippet:

[code]
[code]
[code]
[code]

Thanks again, for the quick replies.

[2019-11-14 08:25] jmichel-otb commented on #5584
Thanks for your answer. I submit work with a single compute on a list of delayed B. One thing to note is that A code calls C/C++ code under the hood, so dask may not be aware of all the memory used.

I have been able to visualize the graph on a subset my problem, and I can confirm that dask mostly prioritize A tasks over B tasks (I can share the graph plot if that helps).

[2019-11-14 10:45] Vanderser commented on #3348
I confirm it works (2)

[2019-11-14 15:42] mrocklin commented on #5584
Sure

On Thu, Nov 14, 2019 at 12:25 AM Julien Michel <notifications@github.com>
wrote:

[2019-11-14 17:08] jcrist commented on #5564
This is why we have the import tests. In general things fail on import if the minimal dependencies aren't installed. Functionality that requires a specific sub-dependency should use local imports. https://github.com/dask/dask/blob/master/continuous_integration/travis/test_imports.sh

Balancing CI costs and test value, the current quick import tests have served us well the last couple of years, I w

[2019-11-14 19:58] jrbourbeau commented on #5592
This is due to `fsspec` catching `IOError`s when `walk`ing a filesystem:

https://github.com/intake/filesystem_spec/blob/9459fffc543e85a4b52c7aeb71499a669cfe920c/fsspec/spec.py#L325-L328

which (I think) is in line with how `os.walk` behaves

https://github.com/python/cpython/blob/4d231bcc77ac8ce7d11bda0804130dcdd678f710/Lib/os.py#L342-L346

I agree this error raised here could be improved. @TomAu

[2019-11-14 20:06] TomAugspurger commented on #5592
I'm not sure, but I think that `fsspec.get_fs_token_paths('s3://some-bucket/some-key/*.parquet')` should raise back up with an error (not sure what kind, ideally some kind of permissions error, but may have to be a FileNotFound error).

[2019-11-14 20:10] TomAugspurger commented on #5592
The following diff to fsspec fixes things

[code]

I was a bit surprised that PermissionsError is a subclass of IOError. @martindurant does re-raising for PermissionsError make sense to you?

[2019-11-14 20:12] martindurant commented on #5592
Yes and no...
I can imagine a user wanting to know if some paths were unaccessible, but I can also imagine the general case where "path/*" means "all the things in path that I *can* see".
Would a warning be appropriate?

[2019-11-14 20:18] TomAugspurger commented on #5592
Mmm, that's tricky.

I guess on a linux file system, `ls` means just the paths I can see, right? So that's probably the model we should follow in `ls`...

[2019-11-14 20:21] martindurant commented on #5592
Roughly... you might be able to see the name of a dir but not its contents. I'm not sure how granular you can make permissions within a bucket, but I thought that you only see a prefix if there's a file within that you can see.

[2019-11-15 09:13] striajan opened #5594 "Memory usage in map_blocks: drop_axis vs. chunks"
Hello, I have found a possible wrong behaviour of the function `da.map_blocks`. The following code creates and persists 2D data matrix on on a worker and then maps the function `compute` on it, which returns 1D vector. This simulates application of a regression/classification on the data matrix, rows of which are formed by samples and columns by features.

[code]

If the result `res_drop_axis` is

[2019-11-15 11:09] pranav-kohli commented on #4511
I am having the exact same issue. I had raised a separate issue here
https://github.com/dask/dask/issues/5567
But closed this because xgboost upgrade seemed to solve the problem but its now back.
Dask workers get stuck while fitting an xgboost model
<img width="1434" alt="Screenshot 2019-11-15 at 4 38 01 PM" src="https://user-images.githubusercontent.com/9332650/68939392-84229780-07c6-11ea-8509-36

[2019-11-15 12:21] jcmgray opened #5595 "tensordot and maximum number dimensions"
Dask currently cannot handle more than 32 dimensions, which I believe is fairly intrinsically tied to how many dimensions [numpy can handle](https://github.com/numpy/numpy/issues/5744) (and it looks like one could indeed recompile numpy with a higher limit). I guess the first part of this issue is how feasible it would be to lift this. For the kind of things I have in mind the actual array chunks

[2019-11-15 15:16] mrocklin commented on #5595
Perhaps.  It sounds actually like you have a decent grasp on the situation (probably as good as anyone today).  If this is something that you want to pursue then please do.

Dask array doesn't intentionally add any additional limits.  It just uses Numpy.  You might consider raising this issue upstream with Numpy to see if this default can be changed.

[2019-11-15 16:05] jcmgray commented on #5595
I'd be interested, just need to wrap my head around how this ``blockwise`` function works I suspect.

[2019-11-15 16:28] randerzander opened #5596 "[FEA] Support writing Dask DataFrame as ORC files"
Reading ORC files into Dask DataFrames with `read_orc` works well, but I need to do some data processing and save the results as new ORC files. Would Dask be willing to support a Dask DataFrame `to_orc` method?

[2019-11-15 17:05] mrocklin commented on #5595
Blockwise is a powerful and complex component of dask array.  It's a very useful thing to understand, but also somewhat difficult.  I fully encourage you to jump in, but also don't be discouraged if you don't understand it immediately :)

[2019-11-15 17:07] mrocklin commented on #5596
Certainly a `to_orc` method is well in scope.

On the CPU side do we know if Arrow has an ORC writer?  cc @jcrist

Ideally I would like to see us repeat the engine system that we have for Parquet, which seems to be working out well.  Now that the design is formalized hopefully it wouldn't be too difficult to repeat this experiment, although it's probably still a week or more of solid effort to get

[2019-11-15 17:10] jcrist commented on #5596
It does not at this moment. `liborc` (the c++ library arrow wraps) has a rudimentary writer, but when I wrote the reader I ignored it since it lacked many common features. Things may be better now.

[2019-11-15 17:13] mrocklin commented on #5596
Do we know if a decent C/C++/Python ORC writer exists today?

[2019-11-15 17:20] jcrist commented on #5596
A quick google search only turns up the one in https://github.com/apache/orc (same mentioned above). This one does work, it just doesn't support the full ORC spec. Since pyarrow is already using it for the reader, this would make the most sense. If someone wanted to wrap the writer and add it to pyarrow, I'm sure Wes and team would be appreciative. I personally have no bandwidth/plans to do this.

[2019-11-15 17:25] mrocklin commented on #5596
Yeah.  No expectations.  My thought is that @rjzamora would probably be a good person to look into this at some point in the near-to-moderate future.  Rick, when you have a moment (after merge stuff) can I ask you to take a look at the Arrow/ORC code and estimate the time to ...

1.  Provide Python hooks in Arrow
2.  Wrap around those hooks in Dask Dataframe in a naive/simple way (like one file pe

[2019-11-15 17:41] rjzamora commented on #5596
This sounds good to me.

@randerzander - Given that it will take time to both add wrappers in pyarrow and to implement solution in dask,  would you be interested in a temporary/simple cudf-specific implementation in dask_cudf?

[2019-11-15 18:27] randerzander commented on #5596
I certainly would, yes.

[2019-11-15 19:32] jrbourbeau commented on #5591
Closed via #5569

[2019-11-15 19:33] #5591 closed

[2019-11-15 19:52] jrbourbeau commented on #5561
Closing as I don't think there's anything to do here on the Dask side

[2019-11-15 19:52] #5561 closed

[2019-11-15 19:54] jrbourbeau commented on #5532
Closing for now. @lchara03 please feel free to re-open if this problem persists with the latest release of `fsspec`. Thanks!

[2019-11-15 19:54] #5532 closed

[2019-11-15 19:57] jrbourbeau commented on #5416
Closing. @lmiroslaw feel free to follow up in https://github.com/dask/dask-adlfs

[2019-11-15 19:57] #5416 closed

[2019-11-15 20:03] jrbourbeau commented on #5261
Closed by #5456

[2019-11-15 20:03] #5261 closed

[2019-11-16 04:55] mrocklin commented on #5594
Thank you for the careful writeup @striajan

Which behavior in particular?  Using too much memory?  If so then no, this is not intended behavior.

Unfortunately I don't have any particular insight to give to you.  I don't off hand know why it would use more memory here.  If you are able to track things down that would be well appreciated.

[2019-11-16 04:57] mrocklin commented on #5585
Closing this for now.  If there is more information here then let us know and we'll reopen.

[2019-11-16 04:57] #5585 closed

[2019-11-16 04:58] mrocklin commented on #5564
OK.  Closing this.  Thanks all.

[2019-11-16 04:58] #5564 closed

[2019-11-16 05:01] mrocklin commented on #5550
I'm sorry for the long delay in responding here.

Would you be ok trying to find a reduced version of this problem?  Do you need all of the dimensions that you have here?  Is it important that they are called ant/jones/model/chan?  I'm not sure if these are critical.  In general, anything you can do to reduce the problem further would be welcome.  It's somewhat difficult to quickly understand what

[2019-11-16 09:30] landmanbester commented on #5550
Sorry, looking back, that example is a bit contrived. This is about as simple as I could make it.

import dask.array as da
import numpy as np

out_shape = 'a'
in1_shape = 'bc'
in2_shape = 'ab'

in1 = da.zeros((2,3))
in2 = da.zeros((1,2))

da.blockwise(lambda x:x, out_shape,
                      in1, in1_shape,
                      in2, in2_shape,
                      align_arrays=False,

[2019-11-17 23:44] GenevieveBuckley commented on #1296
Should this issue be closed now https://github.com/dask/dask/pull/1286 is merged?

[2019-11-18 02:45] mrocklin commented on #1296
It looks like #1286 solved this problem for Dask Dataframe, but not yet for dask array.  Looking briefly at the following code, it looks like `da.to_hdf5` always returns None, so this isn't yet done.

https://github.com/dask/dask/blob/539d1e27a8ccce01de5f3d49f1748057c27552f2/dask/array/core.py#L4332-L4379

[2019-11-18 10:55] jmichel-otb commented on #5584
So this is a code sample simulating what I am actually doing:

[code]

I tried to return `xarray` with approximate size matching what is done in the actual code. I am not sure this information is used by dask but I also use this code to simulate actual execution on a distributed cluster.

You can find attached the displayed graph.

![graph](https://user-images.githubusercontent.com/10595679/690462

[2019-11-18 15:28] kwunlyou opened #5599 "large objects passed and loaded"
I have a use case
- a large string object has to be passed to the function `_foo` which is applied for each row of a dataframe
- in the function `_foo`, a trained model is load and predict on the passed text data

The illustration is as follows
[code]

my question is for such use case
- is this the proper way to parallelize using dask?
- is there a better way to improve/optimize I/O
- the function

[2019-11-18 16:59] kcstauffer21 opened #5600 "Attempt to start cluster on mac using Client(processes =True) anaconda distribution"
Good Morning,
I am a new Dask user running dask 2.8.0 on MacOS Catalina. Every time I try to run Client(processes=True) I get a long FileNotFound Errno 2 No such file or directory: '/Users/123456/PycharmProjects/Data_folder/<input>' (See below for full error and code). How do I fix this? I've tried running Client(processes=False) and Dask seems to run on threads but not processes.

Let me know if

[2019-11-18 17:16] guillaumeeb commented on #5584
Just chiming in to ask if this may be related to https://github.com/dask/distributed/issues/2602? A simpler vision of the problem?

[2019-11-18 17:23] TomAugspurger commented on #5584
It's possibly similar, though there are a few issues at play. It's important to separate

1. `dask.order.order` getting a bad linear ordering of tasks
2. The distributed scheduler not understanding later dependency structure when assigning a batch of tasks to idle workers (see https://github.com/dask/distributed/issues/2602#issuecomment-518297064)

I'm not sure which one this is yet.

FYI @eriknw

[2019-11-19 02:07] jrbourbeau commented on #5600
Thank for opening an issue @kcstauffer21. I ran the code snippet you posted, but am not able to reproduce the error. What version of `distributed` are you using? Also, how are you running the above code snippet (e.g. from a Python script, from a Jupyter notebook, etc.)?

Just as a note, if from within a Python script, you need to start a local cluster in an `if __name__ == '__main__'` block:

[cod

[2019-11-19 02:14] jrbourbeau commented on #5326
Just checking in here. @xiaodaigh has this issue been resolved for you? Is it okay to close this issue?

[2019-11-19 02:17] jrbourbeau commented on #5323
Just checking in here, @AndreCNF could you please paste the full minimal example instead of a zip file?

[2019-11-19 02:32] jrbourbeau commented on #5305
Just checking in here, @apiszcz are you able to provide a minimal example?

[2019-11-19 03:09] jrbourbeau commented on #3443
Closed by #3480

[2019-11-19 03:09] #3443 closed

[2019-11-19 03:17] jrbourbeau commented on #4053
Closed by #5154. Thanks all!

[2019-11-19 03:18] #4053 closed

[2019-11-19 03:30] apiszcz commented on #5305
We can close, assume this was my problem, user error, reviewing the code, I changed my access methods and do not have that issue. Thank you.

[2019-11-19 03:30] #5305 closed

[2019-11-19 03:33] jrbourbeau commented on #5305
Glad to hear it's no longer an issue for you. Thanks for closing!

[2019-11-19 05:35] mrocklin commented on #5600
The paths suggest that this is being run in PyCharm, which sometimes does
odd things.

On Mon, Nov 18, 2019 at 7:07 PM James Bourbeau <notifications@github.com>
wrote:

[2019-11-19 10:00] ossdev07 commented on #4561
Hey @mrocklin , I'm facing the same issues on aarch64 platform, Is there any resolution for these issues ?

[2019-11-19 10:15] PyDataBlog opened #5601 "Memory issue when numpy arrays are passed to dask arrays"
I have a 68gb ram cluster running which runs into memory issues (which kills the worker) only when Numpy arrays are passed to Dask arrays.

![image](https://user-images.githubusercontent.com/29863388/69137246-a6652f80-0abc-11ea-80ab-ef3f15789f6f.png)

 Dask array reproducible example:

[code]

However, I am trying to pass a numpy array (representing my feature matrix with the same size as the simu

[2019-11-19 13:17] Hoeze opened #5602 "Overlapping computations / prefetching like Tensorflow dataset pipeline?"
**TL;DR:** Is there a way to speed up fetching sub-batches of the same chunk?

Hi, I'm trying to feed a stacked array of size (134,033,856 x 4) with a chunk size of (315,230 x 1) into Keras.
Therefore I wrote the following generator:
[code]
I noted that fetching batches of size 1,000 takes about 100x the training time than fetching batches of size 315,230. This suggests that Dask re-computes the w

[2019-11-19 14:43] mrocklin commented on #4561
This issue is still open, so my guess is that no one has resolved it.  Probably someone needs to go through the test and see what is going on. I don't think it's likely to be a major issue, but it looks like it's not high enough priority for anyone to resolve it.  If you or anyone else has time solve this that would be welcome.

[2019-11-19 14:44] kcstauffer21 commented on #5600
Yes I am using Pycharm Professional Anaconda edition as my IDE and my dask distributed version is 2.8.0. I believe it to be a Pycharm problem because the code runs just fine in Jupyter Lab.

[2019-11-19 14:46] mrocklin commented on #5601
Maybe your numpy array is to large to safely put on a single worker?  When
you use Dask arrays they are broken up into many small pieces so that you
can solve larger problems than you have ram.  When you use numpy, numpy
allocates a single array which has to fit in ram.

See https://docs.dask.org/en/latest/best-practices.html#load-data-with-dask

On Tue, Nov 19, 2019 at 3:15 AM Bernard Brenyah <no

[2019-11-19 14:49] mrocklin commented on #5602
If you want to use dask array the you are probably looking for the persist
method.

If you want to be higher performance and do overlapping then you might want
to look at the concurrent.futures API.
https://docs.dask.org/en/latest/futures.html

On Tue, Nov 19, 2019 at 6:17 AM Florian R. Hölzlwimmer <
notifications@github.com> wrote:

[2019-11-19 15:44] jrbourbeau commented on #5600
Thanks for the additional information. I'd recommend raising an issue with the PyCharm folks

[2019-11-19 15:45] kcstauffer21 commented on #5600
I just did. I'll close this for now. Thanks for the help.

[2019-11-19 15:45] #5600 closed

[2019-11-19 16:03] mrocklin commented on #5599
Hi @kwunlyou .  There are a variety of ways to use Dask.  The way that you've laid out here could work, but it's not clear that you need dask dataframes here.  In your case you might also look at dask bag or futures. I recommend that you look at the following documentation:

-  https://examples.dask.org/applications/embarrassingly-parallel.html
-  https://docs.dask.org/en/latest/delayed-best-pract

[2019-11-19 16:03] #5599 closed

[2019-11-19 16:07] RoelantStegmann commented on #2801
Somehow have the same errors. We are working with pyarrow 0.15.1

[code]

works fine in contrast to

[code]

which raises

`ArrowIOError: Failed to open local file 'C:/Data/test-parquet', error: Access is denied.`

[2019-11-19 16:12] martindurant commented on #2801
@RoelantStegmann , this again seems to be specific to pyarrow, no dask or even fsspec code is being used here. I can't even speculate what the Access Denied error might mean.

[2019-11-19 16:14] RoelantStegmann commented on #2801
Thanks, will move it to their issue tracker. :)

[2019-11-19 16:17] kkraus14 commented on #5596
cc @jreback for viz here as well given the recent PR for orc reading in Pandas. If an orc writer gets exposed nicely via PyArrow should be straightforward to integrate as well.

[2019-11-19 19:22] TomAugspurger commented on #5601
@PyDataBlog you gave a thumbs up. Does that mean Matt's comment and the docs explain things adequately?

[2019-11-19 19:24] cjnolet opened #5604 "Dask.Array to support cupy.sparse arrays"
While attempting to demonstrate the use of `cupy.sparse` arrays underneath `Dask.Array`, I found that `cupy.sparse` doesn't yet have `vstack` or `hstack` functions for concatenating sparse arrays. I have filed issue [1] with the cupy project.

Once this has been implemented, the corresponding concatenate function will need to be registered within Dask. I adapted the following code block from the `

[2019-11-19 19:35] TomAugspurger commented on #5577
Closing this as a duplicate of https://github.com/dask/distributed/issues/2033, though it's not clear that there's a solution there / desire to implement this.

[2019-11-19 19:35] #5577 closed

[2019-11-19 19:39] d-v-b commented on #5601
This looks like it is the same problem I reported over in distributed: https://github.com/dask/distributed/issues/3032.

If you call `da.from_array(numpy_array)`, regardless of the chunking of the dask array, any computation of any chunk will require the full array (as opposed to only requiring a chunk). For big arrays, this easily blows up a single worker.

So, If you actually want the numpy arra

[2019-11-19 19:44] PyDataBlog commented on #5601
@TomAugspurger I will try the suggestion from @d-v-b and report as well.

@d-v-b how can I make  `sliced_numpy_array` chunk generator.

[2019-11-19 20:02] d-v-b commented on #5601
@PyDataBlog something like this:
[code]
If you construct `x` like this, then the memory footprint of a single chunk should be `(ws, 15)` times the datatype. Whereas if you construct `x` just using `da.from_array(test_np)`, the memory footprint of a single chunk is the entire array.

[2019-11-20 02:49] quasiben opened #5606 "[FEA] Dask CuPy Array -> Dask CuDF DataFrame"
In dask, we can create a dataframe from a dask array like the following:

In the above, random numpy data is generated then transformed to a Pandas dataframe.  It would be really cool if I could do something similar with CuPy arrays -> CuDF DataFrames:

[code]

Maybe in `from_dask_array` we could detect if the obj implemented the `__cuda_array_interface__` and proceed accordingly ?

[2019-11-20 05:38] mrocklin commented on #5606
I suspect that `x.map_blocks(cudf.Series)` will work ok and that you don't need the special `from_dask_array` function.

[2019-11-20 07:56] jmichel-otb commented on #5584
So I have been trying to trick dask into consuming tasks the way I want, using my knowledge of how tasks are organized (which dask tries to discover by itself during graph optimization if I understand well).

I tried options listed on this documentation page (as pointed out by @mrocklin). If I read it correctly, `priority` and `fifo_timeout` should allow to control priority between several calls t

[2019-11-20 08:00] jmichel-otb commented on #5584
On this topic, should I cancel futures as I consume them in `as_completed()` using `client.cancel()` ?

[2019-11-20 11:04] kwunlyou commented on #5599
@mrocklin thank you for the response.

Dataframe is used because
- the input data is in parquet files and dataframe APIs has IO functions for parquet
- this is only a part of the whole job. we also need those dataframe convenient APIs to process/analyze data

[2019-11-20 11:22] ossdev07 commented on #4561
Hi @mrocklin,
The problem is due to floating point calculation and precision, caused mainly due to numpy.
At [this-line](https://github.com/dask/dask/blob/master/dask/dataframe/tests/test_dataframe.py#L1737) , if we change the list items from [10, 20, 30, 40, 50, 60] to [100, 200, 300, 400, 500, 600] in x86, **its failing**.
In Aarch64 we have to change [10, 20, 30, 40, 50, 60] to [1, 2, 3, 4, 5,

[2019-11-20 11:58] TomAugspurger commented on #4561
Changing the values to `[1, ... 6]` seems fine to me.

On Wed, Nov 20, 2019 at 5:22 AM ossdev07 <notifications@github.com> wrote:

[2019-11-20 12:40] TomAugspurger opened #5610 "Clean up warnings in doc build"
Right now our doc build has many warnings. This makes it hard to catch newly introduced errors in the doc build. Sphinx has an option to elevate warnings to errors.

In the details, I've included some warnings from a recent local build

<details>

[code]

</details>

[2019-11-20 12:42] TomAugspurger opened #5611 "Make docs compatible with recent numpydoc"
Right now we pin our doc build to numpydoc==0.8. Getting too far behind on that can be painful.

[code]

[2019-11-20 16:16] quasiben opened #5615 "Dask RandInt fails with cupy RandomState"
[code]

I believe the above is doing the equivalent of:

[2019-11-20 16:36] quasiben commented on #5615
Apologies, I think this is an issue upstream with cupy.  Closing

[2019-11-20 16:36] #5615 closed

[2019-11-20 17:27] quasiben commented on #5606
I need to do a bit more than that -- though not much:

[code]

What are your thoughts about usability of the above ?  Could this be simplified ?

[2019-11-20 17:45] d-v-b commented on #5601
@PyDataBlog did my suggestion work for you?

[2019-11-20 18:13] PyDataBlog commented on #5601
The client is now able to process that same test_np array object that it was failing earlier so that should solve the main task since they have the same shape and size. Feel free to close the issue.

[2019-11-20 18:37] mrocklin commented on #5606
What stops this from working?  If it's easy I'd rather fix this than work around it.

[2019-11-20 18:41] eggie5 opened #5618 "Feature Request: TFRecord file format support"
I've had much success w/ this TFRecord plugin for spark.

https://github.com/tensorflow/ecosystem/tree/master/spark/spark-tensorflow-connector

You can build your dataset using the DataFrame API and then save to disk in TFRecord format (Example protos) for fast io during TF training.

I've been migrating my spark workflows to Dask, and thought I would see if this is on anyone's radar?

[2019-11-20 18:48] quasiben commented on #5606
Hmm, looking at this again i think above is incorrect -- the `from_dask_array` is still going to cast the data to a pd.Series.  So I'm not sure how the dask array object can get wrapped into a Dask Dataframe object

[code]

[2019-11-20 18:55] quasiben commented on #5606
dtype issues:

[code]

[2019-11-20 20:19] TomAugspurger commented on #5618
I'm not aware of anyone doing this yet.

If you were using just pandas, how would you write a DataFrame as a TFRecord?

[2019-11-20 20:31] mrocklin commented on #5606
OK, for dask dataframe we use this

https://github.com/dask/dask/blob/0805d391718c1efc6f4730b90407fde8e32a2bd8/dask/dataframe/core.py#L5864-L5888

Which allows map_partitions calls that change the underlying meta type to return other kinds of Dask collections.  It looks like we don't currently do this for Dask array.  I can take a look at this starting next week.

@quasiben to unblock you I would

[2019-11-20 21:38] mark-boer commented on #5303
Let me just start by saying that I think Dask is a really cool project :-)

@d-v-b Cool you are working on this. I'm currently working on implementing a pad method for [xarray](https://github.com/pydata/xarray/issues/2605), I saw some of the unittest fail and wrote a little script to compare numpy as dask's implementation. I saw a couple of ways that numpy and xarray seem to differ:

1. The issue

[2019-11-20 21:49] d-v-b commented on #5303
@mark-boer I haven't touched my code for fixing this in a while -- my progress is stalled while waiting for answers to the questions I asked in my last comment on the issue.

That being said, I think there should be tests that catch these problems, so I assume additions to the test suite would be appreciated (and maybe we can catch @jakirkham's attention :)

[2019-11-20 22:08] TomAugspurger commented on #5303
In general, I think we should assume that undocumented differences between the two are unintentional bugs. PRs fixing these (small, independent ones each focused on a specific issue, if possible) would be welcome.

[2019-11-20 22:14] jakirkham commented on #5303
When I wrote this, I think we matched NumPy pretty closely. Since then NumPy revamped how they pad arrays to be more performant ( https://github.com/numpy/numpy/pull/11358 ) with some follow-up PRs. It's possible something changed through that churn. I don't have any objection to either raising an issue with NumPy if they changed behavior or aligning to it on our end.

[2019-11-20 22:18] chrysm commented on #5012
when calling
`grps = docs.groupby(pd.Grouper(key='created_at', freq='D'))`

i get the following error:
[code]

[2019-11-20 22:25] d-v-b commented on #5303
Ah, thanks for the historical context @jakirkham, that explains a lot. If I have time soon I'll look into bringing dask into alignment with numpy in this area.

[2019-11-20 22:30] TomAugspurger commented on #5012
@chrysm do you have a reproducible example for creating `docs`? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports?

[2019-11-20 22:30] TomAugspurger commented on #5012
And do you think that you're seeing the same issue as the original? Seems like they're both ValueErrors, but they have different error messages.

[2019-11-20 22:49] letmaik commented on #1659
Now it's
[code]

Also, note that setting `DASK_TEMPORARY_DIRECTORY` doesn't work, not sure why.

[2019-11-20 23:02] jrbourbeau commented on #1659
Thanks for the update @letmaik.

Hmmm that seems strange. I'm not able to reproduce:

[code]

[2019-11-20 23:53] jakirkham commented on #5303
Thanks @d-v-b! 😄

[2019-11-21 03:29] ossdev07 commented on #4561
ok .. will raise PR with proper changes ..

[2019-11-21 07:43] ossdev07 commented on #4561
PR raised ..
https://github.com/dask/dask/pull/5620
please review ..

[2019-11-21 09:24] sephib opened #5621 "str.cat fails on multiple columns"
Hi,
We encountered the following issue:
(`dask` version 2.8 and `pandas` 0.25.3)

[code]

When using `str.cat` on a single column there is no problem

`df['timestamp'].astype(str).str.cat(df['name'].astype(str), sep='_').head()`

When running with multiple columns we get a KeyError:
`df['timestamp'].astype(str).str.cat(df[['id', 'name']].astype(str), sep='_').head()`

see below:

<details>
-------

[2019-11-21 13:24] eggie5 commented on #5618
Each column of the pandas DF would map to a `Feature` in the `Example` proto. The `Example` protos are then written to disk in the tfrecords container format.

[2019-11-21 13:57] TomAugspurger commented on #5618
Can you provide an example? I suspect this is doable with `dask.delayed`, but I've never used TFRecord before.

[2019-11-21 14:03] TomAugspurger commented on #5621
Yes, it seems like we just haven't implemented this case yet. A PR doing so would be welcome.

I suspect we'll want to replace the `valid_types` with checks to `is_series_like`, `is_index_like` or `is_dataframe_like`.

[2019-11-21 14:20] Hoeze commented on #5602
Thanks for your answer @mrocklin.
The `persist` method does not really look like what I want, because it loads the whole dataset into memory. Instead, I only want to load the last chunk into memory.

Futures do look more like what I'd like, but does this concept work in a single process?
Otherwise Dask would do a lot of memcopy, wouldn't it?

[2019-11-21 14:33] TomAugspurger commented on #5602
@Hoeze you can start a distributed LocalCluster using just threads with `processes=False` https://distributed.dask.org/en/latest/local-cluster.html#distributed.deploy.local.LocalCluster.

If you have multiple machines / processes, yes: chunks of the data will need to be moved around. Dask tries to minimize that.

[2019-11-21 15:09] Hoeze commented on #5602
Wow, thanks @TomAugspurger. I did not know about this one.

[2019-11-21 15:09] #5602 closed

[2019-11-21 15:27] jangorecki opened #5622 "documentation of corr method"
Documentation of `corr` method (added in #5296) seems to be copied from pandas. It make sense to write dask documentation for this method. Current method description and current examples are pandas specific.
https://docs.dask.org/en/latest/dataframe-api.html#dask.dataframe.Series.corr

[2019-11-21 16:06] TomAugspurger commented on #5622
Is this different from https://github.com/dask/dask/issues/1815?

[2019-11-21 16:13] jangorecki commented on #5622
Yes, this issue asks for a correlation documentation rather than documentation in general. It is useful (for me) to have it, so I can be notified when it (correlation doc) is done.

[2019-11-21 16:57] TomAugspurger commented on #5622
Mmm, OK. I'm not sure we'll want an issue per method though, but will wait
for feeback from others.

On Thu, Nov 21, 2019 at 10:13 AM Jan Gorecki <notifications@github.com>
wrote:

[2019-11-21 18:09] mrocklin commented on #5622
I agree that raising an issue for every method is probably too much
administrative overhead on maintainers.  I suggest that we close this.  My
apologies to Jan for the inconvenience.

On Thu, Nov 21, 2019 at 9:57 AM Tom Augspurger <notifications@github.com>
wrote:

[2019-11-21 19:30] tlambert03 commented on #3650
I know it's been a long time since this topic, but I recently ran into unexpected `reshape` behavior while using `dask.delayed` or `dask-image` to load a folder of tiffs and then trying to reshape that folder to reflect the dimensions in the underlying dataset.  For instance:

[code]

As @mrocklin pointed out, using `.visualize()` is useful to see why...  here's a minimal example with reduced arra

[2019-11-22 01:32] jbrant commented on #5023
I'm getting this error with any image I try to download; even when just running the sample code from the gbdxtools docs:

`from gbdxtools import CatalogImage, WV03_VNIR

img = CatalogImage('104001001BA7C400')
print(img.shape, img.bounds)
print(isinstance(img, WV03_VNIR))`

[2019-11-22 03:05] jrbourbeau commented on #4561
Closed by #5620. Thanks for the fix @ossdev07!

[2019-11-22 03:05] #4561 closed

[2019-11-22 08:26] QuLogic commented on #4561
I just tried the patch against 2.8.0, and it fixes things for all of the arches mentioned in the original post.

[2019-11-22 12:12] TomAugspurger commented on #5622
Thanks Jan. I'll try to remember to ping you if there's movement on these
docstrings.

On Thu, Nov 21, 2019 at 8:08 PM Jan Gorecki <notifications@github.com>
wrote:

[2019-11-22 12:24] KrishanBhasin opened #5623 "Auto-closing connections to database after using read_sql_table()"
**Feature Request:** ( / clarification before potential PR)

per https://github.com/pandas-dev/pandas/issues/23086, the SQLAlchemy engine to connect to the SQL table is not automatically closed.
As the engine is created and used entirely within the `read_sql_table()` function like this:
https://github.com/dask/dask/blob/847ccf0a4c3a78965042d4966a20fc740e0e57aa/dask/dataframe/io/sql.py#L102-L108

W

[2019-11-22 14:49] TomAugspurger commented on #5623
That seems reasonable. Would we also do that in `_read_sql_chunk`?

On Fri, Nov 22, 2019 at 6:24 AM Krishan Bhasin <notifications@github.com>
wrote:

[2019-11-22 15:02] jrbourbeau commented on #4561
Great, thank you for testing it out @QuLogic

[2019-11-22 15:13] KrishanBhasin commented on #5623
Ah wait, how does this interact with the fact that the main SQL queries are delayed?
If the engine is disposed of before we return the delayed object, what happens to the main execution?

(I will run some tests this weekend to learn more)

[2019-11-22 15:16] KrishanBhasin commented on #5623
`_read_sql_chunk()` looks like it just hands off to pandas to create the engine, so that change couldn't sit here? But I may be misreading how it works.

[2019-11-22 15:24] drwelby commented on #5023
@jbrant see https://github.com/DigitalGlobe/gbdxtools/issues/797

We can help you over there.

[2019-11-22 19:01] mrocklin commented on #5604
This also came up recently in https://github.com/theislab/scanpy/issues/921

[2019-11-22 19:03] mrocklin commented on #5604
I noticed that you volunteered to help resolve this on the cupy side.  Thanks @cjnolet .  I'm looking forward to seeing this work.  It's nice seeing all of the Numpy implementations converge a bit.  (cc @stefanv )

[2019-11-22 19:44] beckernick opened #5624 "Support chunksize parameter for read_parquet with a single file"
I'd like to be able to read a single parquet file into multiple partitions, determined by the chunksize.

Without chunksize
[code]

With chunksize
[code]

[2019-11-22 19:49] mrocklin commented on #5624
cc @rjzamora because of the file_path_0 bug

@beckernick just to be clear the finest granularity that we're able to manage is an individual row group.  Parquet doesn't really support reading data at finer granularities.  In your case I would ask the question of how did `pandas.DataFrame.to_parquet` choose to save your file?  Did it use row groups?  If not then there is nothing that we can do here.

[2019-11-22 20:06] TomAugspurger commented on #5623
Will definitely want to play around with it, but IIRC we just use the
connection from the Client to get metadata. which is passed to
`_read_sql_chunk`.

`_read_sql_chunk` isn't actually executed until we want to data loaded, so
closing it after that's done seems appropriate.

On Fri, Nov 22, 2019 at 9:16 AM Krishan Bhasin <notifications@github.com>
wrote:

[2019-11-22 20:24] beckernick commented on #5624
Thanks @mrocklin , makes sense 👍 . This issue was primarily motivated by the `file_path_0` bug that comes up while using `chunksize`.

[2019-11-22 20:24] mrocklin commented on #5624
Yup.  Thanks for raising!

[2019-11-22 20:28] rjzamora commented on #5624
Thanks for raising @beckernick !  Ill add a test for the case like this where the row-group aggregation is impossible.  Although row-group aggregation cannot work in this case, there should certainly not be an error - Sorry about that!

[2019-11-22 20:48] ARDivekar opened #5625 "Dask Array map_blocks is slower than sequential code when using FastText ML model"
Hi,

I am new to Dask, so this might be my fault for using the wrong function/configuration, but am not quite sure how to set up Dask to parallelize my model prediction.

Essentially, I have a Python list containing text sentences. At the moment I have 25k sentences (a few MB), but in the future, I expect this to grow to 10MM+ sentences.

I have a pretrained [FastText ML model](https://fasttext.cc

[2019-11-22 20:56] TomAugspurger commented on #5625
`processes=False` is most appropriate for workloads that release the GIL. Do you know if that's the case for your workload? FWIW, if your input data is a list of strings, working with those will hold the GIL. I'm not familiar with fasttext, so I don't know if it converts things to some internal data structure.

As an alternatively, you can use multiple processes, but that will require serializing

[2019-11-22 21:20] ARDivekar commented on #5625
Hi Tom,

Here were my results on 100k sentences, with your suggestion of using `cluster = LocalCluster(n_workers=5, processes=True)`. I tried different chunk sizes as well.

Number of sentences | Without Dask | With Dask Array map_blocks
50k | 41.7 sec | 34.0 sec (chunksize 5,000)
100k | 78.1 sec  | 56.7 sec (chunksize 5,000) , 44.7 (chunksize 10,000), 58.6 (chunksize 20,000)

It seems to me that

[2019-11-22 21:30] jeffcbecker opened #5626 "Worker memory limit?"
I'm running on 25 nodes, each with 128G of memory, using dask-mpi. After requesting the nodes from PBS, I do:

[code]

So I'm using 8 cores per node. Then in Python I do:

[code]

Why is memory only 556.65 GB? Since I have 199 workers, and memory_limit='8GB', I thought I would get at least 1TB or more.  Perhaps I'm not understanding the memory_limit argument to Client?

[2019-11-22 21:38] mrocklin commented on #5626
You need to specify the memory limit when you create your workers, not your
client.  See the `--memory-limit` keyword of dask-mpi

On Fri, Nov 22, 2019 at 2:30 PM jeffcbecker <notifications@github.com>
wrote:

[2019-11-22 21:49] jeffcbecker commented on #5626
Thanks. That worked.

[2019-11-22 21:49] #5626 closed

[2019-11-23 04:14] #5624 closed

[2019-11-23 20:24] Madhu94 commented on #3657
@mathdugre Please do let me know if you are working on this, I'd like to give it a try

[2019-11-23 20:26] mathdugre commented on #3657
@Madhu94 I didn't get the time to work on it, feel free to do so :)

[2019-11-24 02:25] mikedeltalima commented on #4275
Hi @mrocklin, what do you think of checking the size of the arguments passed to `tokenize` instead of timing the method?
[code]
Also, looking at the test case above, the difference in timing is due to the use of `pickle` in  `normalize_array` for numpy arrays with python objects. Should we warn the user of this as well?

[2019-11-24 06:55] sephib commented on #5621
Hi,
We are suggesting for the PR to check for the general iterable requirement, and keep the the `valid types`.
How about:

[code]

If the `import collection` is problematic we can check only for list/tuple

[2019-11-24 08:08] sephib commented on #5621
Hi,
Following your comment - bellow is our suggested PR

[code]

And update the test with:
[code]

If this is the direction we will submit the PR

[2019-11-24 15:41] mrocklin commented on #4275
For some types we have efficient ways of tokenizing them even if they are very large, so I don't think that this would work generally.

[2019-11-24 17:29] SaturnFromTitan opened #5630 "Silence FutureWarning for empty Series in upcoming pandas version"
In upcoming pandas versions, the default dtype of an empty `Series` will change from `float64` to `object`. [This](https://github.com/pandas-dev/pandas/pull/29405) PR implements a FutureWarning for the next release.

I noticed that [this line](https://github.com/dask/dask/blob/master/dask/dataframe/core.py#L2058) will raise a FutureWarning that the user can't silence. @jreback suggested opening an

[2019-11-25 13:38] TomAugspurger commented on #5621
Probably easiest to discuses in a PR at this point.

I would recommend using `is_series_like`, etc, rather than a list of types we consider valid.

[2019-11-25 13:42] TomAugspurger commented on #5625
No, not really. Dask Array is just coordinating things. The bulk of the time is likely spent on the actual execution (in fasttext, or some other library). That's the code that may be using the GIL.

You might want to go through https://docs.dask.org/en/latest/diagnostics-distributed.html and apply those to your problem.

[2019-11-25 13:43] TomAugspurger commented on #5618
@eggie5 can you provide an example using just pandas?

[2019-11-25 14:04] mmccarty opened #5632 "How to pass a boto session to dd.read_parquet"
[S3fs](https://github.com/dask/s3fs/blob/master/s3fs/core.py#L112) accepts a botocore Session object, however it doesn't seem to be exposed in `dd.read_parquet`.

Passing the session via `storage_options` throws an AttributeError.

[code]

I recalled that the parquet IO code was recently re-written. Should the session be handled a different way?

[2019-11-25 14:05] mmccarty commented on #5632
cc @mdwgrogan

[2019-11-25 14:18] TomAugspurger commented on #5632
Your usage `storage_options={"session": boto_session}`, looks correct. That would be passed through to s3fs.S3FileSystem on the worker. It just seems that boto3 sessions aren't pickleable

[code]

I can raise an issue with boto if you want. In the meantime: why do you need to pass through a `session` in the first place? I wonder if we can avoid it entirely.

[2019-11-25 14:27] mmccarty commented on #5632
We could just pass the creds like so...
[code]
But we would rather not have the need to expose them to the user directly.  The magic institutional access thingy just gives us a boto_session from user-level context baked into the underlying infrastructure.

[2019-11-25 14:37] TomAugspurger commented on #5632
Gotcha. And using environment variables is not as nice of an option?

I wonder if we can register a custom serializer within distributed to work around this. The object itself is fine with cloudpickle

[code]

However, once we actually do anything with it like

[code]

We get a long traceback like

[code]

ending with

[code]

Will explore a bit.

[2019-11-25 14:38] mmccarty commented on #5632
I was wondering about a custom serializer as well. Thanks Tom!

[2019-11-25 14:51] hadim opened #5633 "[Feature Request] Fast shape computation using metadata in Parquet"
Following this SO question: https://stackoverflow.com/questions/59023793/why-is-computing-the-shape-on-an-indexed-parquet-file-so-slow-in-dask/59034239#59034239

It would be nice to compute the length of a dataframe from its metadata (if available) instead of iterating over all partitions.

[2019-11-25 14:52] hadim commented on #5633
In the meantime, is that possible to access the raw Parquet metadata from a Dask dataframe? So I should be able to compute this myself (and possibly submitting a PR).

[2019-11-25 15:41] mrocklin commented on #5632
My guess is that boto maintainers won't want to pass sessions around.  Semantically they're tied to, well, a particular session.

I think that institutionally credentials should probably be handled outside of Dask collections / task graphs, and instead maybe we should think about how to move them around with dask.distributed, dask-gateway, or other institutional infrastructure.

[2019-11-25 15:41] TomAugspurger commented on #5632
Played around with this a bit, and it's exactly straightforward to write a generic one. I don't know what all state needs to be extracted... Boto doesn't seem interested in supporting this either: https://github.com/boto/botocore/issues/636.

I see two options:

1. Register your own custom serializer with dask for these session objects. Send through just the bits you need to re-connect on the othe

[2019-11-25 16:17] simaster123 commented on #5633
Personally, I access the Parquet metadata using fastparquet directly, not Dask.  As an example:

[code]

[2019-11-25 16:17] TomAugspurger commented on #5633
We've had this discussion in a few places, but I'm not finding them at the moment.

The short-version is that adding new pieces of metadata to Dask's collections is costly maintenance-wise, since it affects many little things in many places. We're not opposed to this in principle, but it's worth stating that up front.

FWIW, I think that this is exactly the case we'd first introduce length-aware D

[2019-11-25 16:20] hadim commented on #5633
@TomAugspurger: thanks for the details. @simaster123's solution is good enough for my use case.

[2019-11-25 16:23] TomAugspurger commented on #5633
I've repurposed this to be a general issue for length-aware dataframes, so that we can link to it from elsewhere. Edited your original post to reflect that.

[2019-11-25 16:23] simaster123 commented on #5633
As an example to delay the parquet read to utilize dask's parallel processing:

[code]

[2019-11-25 16:27] simaster123 opened #5634 "read_parquet on specific parquet file stalls dask"
After much trial and error, I found that one specific parquet file causes my dask computes to stall indefinitely.  No errors or other flags are thrown; the parquet file looks fine to me otherwise.  I suspect that the program that was writing that parquet file was shutdown during write.  I will write a short MCVE.  What's the best way to share the problematic data for people to try?

[2019-11-25 16:51] TomAugspurger commented on #5634
Ideally, not at all :) Problems in Dask are rarely specific to the actual values in the data. I suspect that as you try to create your MCVE, you'll find out what the problem is.

I'd recommend seeing if the underlying parquet library (pyarrow or fastparquet) can read the file on its own (without Dask), and work from there.

[2019-11-25 16:54] trexfeathers commented on #5540
Thanks for your contributions everyone. Knowing the potential scale of the solution has helped my team make time for writing individual workarounds, this being much quicker than understanding and solving the root problem. We've also been able to spread awareness of the situation to colleagues who might encounter something similar.

If the individual workarounds become too much we may revisit and a

[2019-11-25 17:10] mrocklin commented on #5633
Short term I recommend that we improve the situation by defining a DataFrame.__len__ method that calls len on one of its' columns.   This should cheaply improve things in a common case.

[code]

For additional improvements we might ...

1.  Worry about dataframes with no columns
2.  Choose the column with the smallest dtype itemsize

[2019-11-25 20:30] quasiben commented on #5547
I've been looking into implementing this, and while it is relatively straightforward I'm running into resampling behavior which seems to be incorrect:

[code]

When resampling, the last row will often be `NaN` -- is this known ?

[2019-11-25 21:02] TomAugspurger commented on #5547
I wasn't aware of that. It does look buggy.

[2019-11-25 21:41] quasiben commented on #5547
This error might be an issue with `dask.datasets.timeseries`.  For example, in the following:

The divisions will be:

[code]

but there is no value at `2000-01-04`

[2019-11-25 22:33] jrbourbeau commented on #5526
After investigating some, it looks like this issue originates from `fsspec`'s `LocalFileSystem` having `auto_mkdir=True` by default:

https://github.com/intake/filesystem_spec/blob/6f2e733a144eb9620c789ea6dfd4c4b2e3187999/fsspec/implementations/local.py#L24

which causes parent directories to be automatically created:

https://github.com/intake/filesystem_spec/blob/6f2e733a144eb9620c789ea6dfd4c4b2

[2019-11-25 22:51] jrbourbeau commented on #5471
FWIW I just came across a GitHub action for automating releases (https://github.com/actions/create-release) that could be of use here

[2019-11-25 23:00] raybellwaves opened #5637 "page not found - https://azure-datalake-store.readthedocs.io/"
On https://docs.dask.org/en/latest/setup/cloud.html

Clicking on the link at 'adlfs for Microsoft’s ADL` points to:
https://azure-datalake-store.readthedocs.io/
which is not found

Could it be looking for one of these?
https://github.com/dask/adlfs
https://github.com/Azure/azure-data-lake-store-python
https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-data-operations-python

[2019-11-25 23:19] jrbourbeau commented on #5637
Good catch, thanks for reporting @raybellwaves. I think that should point to https://github.com/dask/adlfs. Any interest in submitting a PR? (no obligation though)

[2019-11-25 23:29] raybellwaves commented on #5637
Will do shortly

Sent from my iPhone

[2019-11-26 00:17] raybellwaves opened #5638 "build dask docs - can't find packages on main channel"
Tried following the commands at:
https://github.com/dask/dask/blob/master/docs/README.rst
got an error saying `dask_sphinx_theme` and `sphinx-click` are not available from the current channel (below).

Need to add conda-forge to the channels for the packages in https://github.com/dask/dask/blob/master/docs/requirements-docs.txt?

https://anaconda.org/conda-forge/dask-sphinx-theme
https://anaconda.

[2019-11-26 00:38] jrbourbeau commented on #5637
Closed by #5639

[2019-11-26 00:38] #5637 closed

[2019-11-26 00:52] eggie5 commented on #5618
@TomAugspurger

Not sure how to implement this in pandas, but w/ spark which has a DataFrame API, you can do it like this:

[code]

[code]

[2019-11-26 01:00] jrbourbeau commented on #5638
Thank you for raising an issue for this @raybellwaves! I updated the installation instructions over in #5640 which specify to use the `conda-forge` channel (or `pip`). Any comments you may have are appreciated

[2019-11-26 03:19] #5638 closed

[2019-11-26 03:57] jrbourbeau commented on #5055
Closing as it looks like support for passing `metadata_nthreads` was added in #4995. Thanks @rjzamora!

[2019-11-26 03:57] #5055 closed

[2019-11-26 04:06] jrbourbeau commented on #5036
Closing as the original failing example is passing on the current `master` branch of `dask` (0ecb05ffb0eda4d85a332c5d3c09bd37228ee4b2) and `fsspec` (https://github.com/intake/filesystem_spec/commit/3e2abdc5ce1617c3faa4946833050f684cf4bb66). @schnekke feel free to re-open if you're still experiencing issues.

[2019-11-26 04:06] #5036 closed

[2019-11-26 09:28] jmsking opened #5641 "Can dask support read data from jdbc ?"
**I know that dask can read data from _s3_, _http_, but i don't know wheather support reading data from _jdbc_? If _jdbc_ not support, is there other method realize reading data from _jdbc_?**

[2019-11-26 09:45] #5641 closed

[2019-11-26 09:47] 1534854467 commented on #5641
https://docs.dask.org/en/latest/dataframe-api.html#dask.dataframe.read_sql_table

this might help you

[2019-11-26 12:41] TomAugspurger commented on #5526
The comment there says

[code]

which camge from https://github.com/intake/filesystem_spec/commit/06f9a9a9de9188c7917d29b19d8609e33a214d28

@martindurant do you recall any specifics on that? A simple `df.to_parquet("/a/b/c.parquet", engine="pyarrow")` will fail with a FIleNotFoundError. Perhaps the pyarrow behavior changed?

If so, I recommend that we deprecate `auto_mkdir` and in fsspec and chang

[2019-11-26 12:46] TomAugspurger commented on #5618
It'd be quite similar with dask.dataframe. I think the main limitation is that we don't currently pass through any group / partition info to the user-defined function (`_writer`) passed to `map_partitions`.

[code]

[code]

Closing as this seems to be resolved, but LMK if not.

[2019-11-26 12:46] #5618 closed

[2019-11-26 12:47] TomAugspurger commented on #5618
Oh, and since I didn't explicitly state it, I think that writing to TFRecord is out of scope for dask.dataframe (though others may disagree). But hopefully that snippet helps.

[2019-11-26 12:58] mmccarty commented on #5632
Excellent, thanks for looking into this @TomAugspurger ! This gives us some options to consider until we have a deployment level solution.

@mrocklin Would you want to discuss this further in dask-gateway or distributed? I can open an issue there and we can close this one.

[2019-11-26 13:03] smartass101 opened #5642 "dask.array.blockwise tries to compute meta even if dtype provided"
I hit the issue described in https://github.com/pydata/xarray/issues/3574 and I traced it to the fact that `compute_meta` does not play well with `np.vectorize` as mentioned here

https://github.com/dask/dask/blob/e6ba8f5de1c56afeaed05c39c2384cd473d7c893/dask/array/utils.py#L118

One option would be to supply `meta` directly form `xarray.apply_ufunc`, but perhaps it would make more sense to bypass

[2019-11-26 13:39] martindurant commented on #5526
No I don't really remember...
*Normally* you wouldn't expect to be able to write to a directory that doesn't exit, but I think this must have been specific to parquet directory trees. `auto_mkdir` is certainly ugly, would be happy to see it go away.

[2019-11-26 14:07] TomAugspurger commented on #5526
I changed things locally, and we do have failures in Dask. I'll look into it a bit.

[2019-11-26 14:23] TomAugspurger commented on #5526
The following suffices

[code]

I'm going to check with Arrow to see what can be done here. If `_isfilesystem()` is considered public for filesystems, we can go ahead an implement that.

[2019-11-26 15:34] mrocklin commented on #5618
I think that this is something that we would defer to the Pandas community
to implement first.  Alex, I would encourage you to engage there.  Once
Pandas implements a TFRecord reader/writer it will be easy to add it to
Dask.  If they choose not to implement such a reader/writer then this
functionality should probably go in an external package.

On Tue, Nov 26, 2019 at 4:47 AM Tom Augspurger <notif

[2019-11-26 15:34] mrocklin commented on #5632
I'll defer that to @jcrist

[2019-11-26 15:58] beckernick opened #5643 "[FEA] Generalize concat_unindexed_dataframes to support non-pandas objects"
Following up on #5597, if `corr` ends up being called on GPU dataframes without known divisions, we go down a codepath in `concat` that still enforces a pandas concat due to `concat_unindexed_dataframes`.

https://github.com/dask/dask/blob/3960c6518318f2417658c2fc47cd5b5ece726f8b/dask/dataframe/multi.py#L1046-L1060

https://github.com/dask/dask/blob/3960c6518318f2417658c2fc47cd5b5ece726f8b/dask/da

[2019-11-26 16:19] rjzamora commented on #5643
Thanks for raising @beckernick  - using `methods.concat` should help us here.  Do you have a specific cudf example I can use to check that the fix covers your workflow?

[2019-11-26 16:28] mrocklin opened #5644 "Plan for high level graph optimizations"
Now that we have high level graphs in our collections, we can do some more complex optimizations.  We've done a little bit of this with blockwise fusion, read_parquet and column selection, and root fusion, all of which have had really positive effects.

There is likely more that we can do here.  Some thoughts ...

-  Fuse column selection with other kinds of data access, like read_csv or ORC
-  Pa

[2019-11-26 17:58] beckernick commented on #5643
I suspect that this would cover the workflow (rapidsai/cudf#3363 not-withstanding)

[code]

[2019-11-26 18:22] jcrist commented on #5632
How is the original boto session being created?

FWIW I agree with Matt that we probably shouldn't mess with serializing boto sessions, and should instead figure out how to make recreating those sessions easier for the end user. The parameters for instantiating them have to come from somewhere.

Having admin or user defined environment variables is already supported in dask-gateway, but depending

[2019-11-26 22:58] rjzamora commented on #5643
Just a note that this error should be resolved by using `methods.concat` on [this line](https://github.com/dask/dask/blob/3960c6518318f2417658c2fc47cd5b5ece726f8b/dask/dataframe/multi.py#L865) and [this line](https://github.com/dask/dask/blob/3960c6518318f2417658c2fc47cd5b5ece726f8b/dask/dataframe/multi.py#L876).  However, I was testing the behavior and noticed that the cudf backend seems to be do

[2019-11-27 06:02] jni commented on #3650
@shoyer I don't understand why chunks are getting "consolidated" in @tlambert03's example:

[code]

The chunksize goes from (1, 10, 10) to (1, 10, 10, 10), so stacking of the chunks is happening automatically and, in this case, with a detrimental effect on performance. Unless I'm misunderstanding what's happening, it seems to me that reshape and other functions should gain the ability to turn off

[2019-11-27 06:40] shoyer commented on #3650
Yeah, I don’t understand what is going on in that example. It looks like a bit of a different situation than what is described in the original issue here.

[2019-11-27 09:41] OliverHofkens opened #5645 "set_index on categorical fails with empty partitions"
## Reproducible example

[code]

    ValueError: zero-size array to reduction operation maximum which has no identity

Sounds similar to https://github.com/dask/dask/issues/2820

For now, [the `cull_empty_parititions` workaround from SO](https://stackoverflow.com/questions/47812785/remove-empty-partitions-in-dask) can be used.

[2019-11-27 16:31] #5547 closed

[2019-11-27 23:38] maxfirman opened #5647 "read_parquet fails with Decimal data types"
### Reproducible example

[code]

[code]

I've done some digging and I believe that the root cause of this issue is that the partition min and max in the metadata statistics for Decimal columns is not being decoded from bytes. This causes the logic in ```sorted_columns``` to fail because sometimes min is greater than max in terms of the raw bytes.

[2019-11-28 01:15] eggie5 commented on #5618
Ah, I understand better know. I guess why I posted the request here first, is that I was confused b/c spark owns the underlying serialization layer whereas Dask simply defers to Pandas.

I'll explore this w/ the Pandas community.

[2019-11-28 07:31] BabuTango opened #5648 "assigning values using '.loc"
the below code is taken from: https://docs.dask.org/en/latest/dataframe-indexing.html

...                   index=['a', 'b', 'c'])

Dask DataFrame Structure:
                   A      B
npartitions=1
a              int64  int64
c                ...    ...
Dask Name: from_pandas, 1 tasks.

**while i use ddf.loc["a",'A'] = 1,**
python thows
TypeError                                 Traceback (most

[2019-11-28 09:23] jacobtomlinson commented on #5648
@BabuTango just to let you know many US based folk are out for Thanksgiving.

[2019-11-28 14:51] mrocklin commented on #5648
As the error suggests, dask dataframe doesn't support item assignment in this case.

[2019-11-28 14:51] mrocklin commented on #5648
We're also unlikely to.  Iterating over a parallel dataframe and affecting rows one-by-one is generally not a good idea for performance. Thank you for raising this @BabuTango .  Closing.

[2019-11-28 14:51] #5648 closed

[2019-11-28 20:54] latusaki opened #5649 "Missleading / Incomplete Docs - Scheduling and Pandas"
When trying to decide scheduler between thread and process model, I read documentation on Dask like https://docs.dask.org/en/latest/scheduling.html#local-threads, which suggests numpy, Pandas operations are OK for thread scheduling.
I spent a lot of time debugging performance of purely pandas code (under map_partitions) only to find I had 95% thread wait times. After reading pandas release notes,

[2019-11-29 04:18] BabuTango opened #5650 "TypeError: can't pickle SSLContext objects"
@mrocklin **I get this error when using dask.distributed and dask.delayed, but just using dask.delayed and using the graph doesn't give me this error and it works perfectly fine.**

distributed.protocol.pickle - INFO - Failed to serialize ('getitem-b6f1df3d89ac638b767ecb1bb3cd4935', 'getitem-17668d79daf8808dc4bb1d7fc1faed20', '/home/babu/Downloads/6_1/6-1_22-11-2019_10_16_01_reid.zip', 'getitem-1f

[2019-11-29 06:34] hughcameron opened #5651 "KilledWorker error when accessing s3"
Using Dask Dataframe to read the same file locally and on S3 yields different results. The local file reads successfully but the S3 file encounters a `KilledWorker` error.

![image](https://user-images.githubusercontent.com/5008884/69848421-303ba680-12ce-11ea-8c77-815d2a956c02.png)

I'm using a docker-compose similar to that provided here: https://github.com/dask/dask-docker/blob/master/docker-com

[2019-11-29 08:42] jacobtomlinson commented on #5651
`KilledWorker` is usually encountered when a worker runs out of memory or is missing a dependency. As you appear to be using a local cluster I'm guessing this may be memory related.

I would recommend opening the Dask dashboard and keeping an eye on the memory plot under system resources to see if anything funny is happening there.

[2019-11-29 08:47] jacobtomlinson commented on #5650
Could you please provide an [MRE](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) for this issue rather than just providing the traceback. Please share a small amount of code which would allow us to reproduce it.

[2019-11-29 08:47] JSKenyon commented on #72
A little bit of necromancy here - was this ever resolved? This sort of behaviour would be incredibly useful in a number of situations. Consider the following (failing) example in which we want the unique elements per chunk and the inverse mapping:

[code]
This fails as the output of the map_blocks call is a tuple of arrays, which is not understood. We can fool it by instead doing the following:

[

[2019-11-29 08:47] jacobtomlinson commented on #5649
Yes please if you feel you can improve the documentation please don't hesitate to raise a PR.

[2019-11-29 10:35] BabuTango commented on #5650
@jacobtomlinson The problem was i was passing aws obj. I sorted it out. Thanks

[2019-11-29 10:35] #5650 closed

[2019-11-29 14:52] mrocklin commented on #72
I would also be grateful if someone could cleanly add this functionality to blockwise and map_blocks.

in the meantime, you might take a look at gufuncs.  https://docs.dask.org/en/latest/array-gufunc.html

[2019-11-29 14:54] mrocklin commented on #5649
When profiling a multi-threaded application often all you will see is that
you're waiting on thread.Lock.  This has nothing to do with the GIL.  It's
just that profiling multi-threaded applications is hard.  If you want to
use the cProfile module then please use Dask's single-threaded scheduler.
If you want to profile multi-threaded code then probably the best thing
today is to use Dask's dashboar

[2019-11-29 15:15] latusaki commented on #5649
I found out that the pandas code was holding GIL using this library: https://github.com/chrisjbillington/gil_load

I tested running multiple threads using ThreadPool to fire off functions with Pandas code. It's not related to Dask directly, although the suggestion from Dask documentation that Pandas won't hold the GIL lead me to consider it a fact for quite some time, and use threading scheduler i

[2019-11-29 15:17] mrocklin commented on #5649
For most operations, Pandas does not hold the GIL.

On Fri, Nov 29, 2019 at 7:15 AM Ioannis Latousakis <notifications@github.com>
wrote:

[2019-11-29 15:42] latusaki commented on #5649
It could be a coincidence then that most operations we use  (or the ones taking the longest) do hold the GIL, in any case I think it will be beneficial to leave room for doubt and have people test both schedulers rather than assume Thread is the right one. For example one of our main operations is rolling, which is not included among the ones mentioned for GIL release here: https://pandas.pydata.o

[2019-11-29 20:29] kaptravis opened #5652 "KeyErrors in scheduler with large dataset and sklearn"
I am running ElasticNetCV.fit() in parallel using Dask client.submit, and continue to see KeyErrors in the scheduler. I'm not sure if this is a problem, but it seems to be for large datasets. The fits finish despite the errors on smaller datasets, but with with higher NxP and default tolerance, I have yet to see the fit complete. On a single box using pandas/sklearn, it always completes.

Note tha

[2019-12-01 21:48] letmaik opened #5654 "Anaconda packaging issue with Python 3.5"
Dask 2.7 dropped support for Python 3.5. However, installing via `conda create --yes --name test python=3.5 numpy scikit-image` installs 2.7:
[code]

[2019-12-02 09:45] jacobtomlinson commented on #5654
cc @jakirkham

[2019-12-02 09:55] jacobtomlinson commented on #5652
Thanks for raising this. The scheduler will retry failed tasks a couple of times, so you may be seeing an intermediate failure which ends up succeeding on retry.

@TomAugspurger or @mrocklin may be able to advise more here.

[2019-12-02 10:00] jakirkham commented on #5654
cc @jjhelmus (as this is using packages from `defaults`)

[2019-12-02 12:09] TomAugspurger commented on #5652
@kaptravis what version of joblib are you using?

We have a few of these issues open I think. https://github.com/scikit-learn/scikit-learn/issues/15383 is one, though that's a CancelledError.

[2019-12-02 15:38] mrocklin commented on #5654
For historical context, this is my fault.  I accidentally published a
package on conda-forge that mistakenly allowed Python 3.5.  John corrected
this mistake quickly and removed the errant package from conda-forge, but
probably bots that watch defaults picked it up during that period.

On Mon, Dec 2, 2019 at 2:00 AM jakirkham <notifications@github.com> wrote:

[2019-12-02 15:40] djhoese opened #5658 "Interface for getting futures from a persisted array"
This is based on [this tweet](https://twitter.com/TobiasAdeJong/status/1200928293291274240) by @TAdeJong and the [associated gist](https://gist.github.com/tadejong/abc70b33f54c4230e3da1119c7a20609). The code involves getting the Futures behind a dask array that has been persisted on the cluster. I'm wondering if there is a defined interface to make this easier or if the current solution is the bes

[2019-12-02 15:43] jacobtomlinson commented on #5658
As this is a question about using Dask and understanding its API rather than reporting a bug or an issue perhaps this is more suitable for a question on Stack Overflow with the 'dask' tag.

[2019-12-02 15:48] jjhelmus commented on #5654
Yes, the uncorrected build was added to `defaults`.  I'll hotfix the package to correct the dependency.  That will not fix existing environment but will correct all new environments.

[2019-12-02 15:56] mrocklin commented on #5658
You might be looking for the `dask.distributed.futures_of` call.

 +1 on SO

[2019-12-02 16:01] letmaik commented on #5654
How could this be prevented in the future?

[2019-12-02 16:10] djhoese commented on #5658
Yeah, my one excuse is that I thought if this wasn't implemented and could be that this could turn in to an actionable issue. Also wanted to be able to mention Tobias to easily get their attention on this.

[2019-12-02 16:10] TAdeJong commented on #5658
Chiming in on this, as I spend quite some time on roaming around the documentation, I think I can confirm there is no better way of doing is using Dask's _advertised_ interfaces, as in documented interfaces.
Most information is either from https://docs.dask.org/en/latest/futures.html#waiting-on-futures and https://distributed.dask.org/en/latest/manage-computation.html#client-persist

Note that the

[2019-12-02 16:38] mrocklin commented on #5658
Futures_of is rarely used by people, so it's not surprising that it's hard
to find.  I suspect that it's in API docs, but I agree that that's not
super helpful for discovery.

In general I'm at a loss for how to arrange the documentation to suit
everyone's needs.  People come to this project with very different
objectives and skillsets, and it's a continuous challenge to figure out how
to arrange

[2019-12-02 18:01] #5643 closed

[2019-12-02 21:04] TAdeJong opened #5661 "da.diagonal is broken"
While working on #2726, I found that `da.diagonal()` is broken in a way that I do not understand.
If both of the dimensions of a 2D input contains more than one chunk, the resulting graph can still be computed, but any composing that graph with another graph containing something else than itself, can not be computed, failing with:

"UFuncTypeError: ufunc 'add' did not contain a loop with signature

[2019-12-02 21:20] TAdeJong commented on #5661
I would be happy to work on this and make a pull request together with my work on #2726, but I am a bit at a loss at what is happening here/ how to debug.

[2019-12-02 22:20] cjnolet commented on #5506
is it the result of a user loading in data? If I'm reading from an on-disk file structure
that's unbalanced like...

I am very much in agreement that it should be on the users to partition their data to be more uniform if they want better performance. We are working to make our algorithms more flexible so that we can allow users to control the trade-off between repartitioning and using the distrib

[2019-12-02 22:53] aprowe opened #5662 "Easier Task Resource Allocation? [Feature]"
I am very interested in running certain nodes on certain workers (for GPU tasks) but am finding it difficult to integrate the current resources API, as I have to keep track of all the nodes and eventually feed them into `compute(graph, resources={...})`. This means I would have to change the workflow of our code base, and default to working with dask at a lower level than we currently are (i.e. ke

[2019-12-03 03:44] chrisroat commented on #2403
I'd love to help write a multi-array `map_overlap` method.  I've just hit my second need for it. Is anyone aware of work towards this already?

[2019-12-03 05:50] simaster123 commented on #5634
Thank you, @TomAugspurger.

It seems that the error is caused by an error arising from the drop_duplicates function, which was only raised when I converted my dask code to pandas and wrapped it in a delayed function.  My dask code was roughly as follows:

[code]

Certain data sets stalled the whole algorithm with the above code.  I then tried the following pandas code in a delayed function:

[code

[2019-12-03 08:06] sjperkins commented on #5662
I think this is a variation of Task Annotations: https://github.com/dask/dask/issues/3783

[2019-12-03 09:04] jacobtomlinson commented on #5661
cc @TomAugspurger @mrocklin

[2019-12-03 11:24] Madhu94 commented on #3657
thanks! Starting on it.

[2019-12-03 12:18] madsbk opened #5664 "[FEA] In-place DataFrame.drops()"
### What
Support of in-place `DataFrame.drops()`

### Motivation
Pandas and cuDF support in-place `DataFrame.drops()`, which is significant faster and less memory intensive than copying the whole DataFrame.

This can double the performance of a distributed merges in some cases: https://github.com/dask/dask/pull/5657

Additionally, a fast `drops()` operation can simplify common workflows: https://g

[2019-12-03 12:31] TomAugspurger commented on #5634
I'm not sure why that would be either. Dask will reraise exceptions that
occur on worker processes. If you have a reproducible example where that's
not happening we'd appreciate seeing it.

On Mon, Dec 2, 2019 at 11:50 PM simaster123 <notifications@github.com>
wrote:

[2019-12-03 15:29] rjzamora commented on #5664
@mrocklin - I have a question about the kinds of "drop" tasks that can be safely modified to operate in-place.

I understand that we would not want to modify data that is the direct input to the `Blockwise` subgraph containing the drop operation. You also mentioned that we would probably not want to modify a task that had multiple direct dependents.  Is it dangerous when the dependents are also wi

[2019-12-03 15:33] mrocklin commented on #2403
There are gufuncs, which sort of do this today. There are no other efforts to my knowledge.

[2019-12-03 15:36] mrocklin commented on #5662
In principle the API that you propose seems fine.  I think that the next step would be to propose how this would be implemented.  In principle you're talking about a change to the core graph specification, which is a large undertaking that many people will have strong opionions on, so it's likely to be a challenge.

As @sjperkins writes above, something similar was tried a while ago with Task Anno

[2019-12-03 15:39] mrocklin commented on #5661
I'm able to reproduce the problem.  Based on the dtype error my guess is that key values are leaking out into the actual values.  I haven't investigated any further though.  If someone wanted to dive further I would recommend running the computation with `compute(scheduler=single-threaded)`, and then use `pdb` to see what is going on when the error occurs.

[2019-12-03 15:59] jjhelmus commented on #5654
The hotfixes to `dask` and `dask-core` are now live.  Creating a python 3.5 environment will now install dask/dask-core 2.6.0:

[code]

[2019-12-03 16:05] jacobtomlinson commented on #5654
Thanks @jjhelmus!

@jakirkham @jjhelmus do you have thoughts on this?

[2019-12-03 16:06] jjhelmus commented on #5654
The minimum python requirement is specified in the dask source and wheel of PyPI.  If this information was used by the conda-forge update bot to either alert or update the recipe with this information the correct requirement would have been present and there would be no need to move or hotfix packages.

The bot's [pull request](https://github.com/conda-forge/dask-core-feedstock/pull/52) updates th

[2019-12-03 16:15] mrocklin commented on #5664
I think that it is likely safe if the drop node has many dependents (many tasks use the result of drop).

The dangerous situtation, I think, is when the input to drop has other dependencies.  In that situation it would matter if the drop was called first or second in the computation, which is hard for us to guarantee.

[2019-12-03 16:17] mrocklin commented on #5654
Thank you Jonathan

On Tue, Dec 3, 2019 at 8:06 AM Jonathan J. Helmus <notifications@github.com>
wrote:

[2019-12-03 19:32] chrisroat commented on #2403
I haven't used gufuncs, but it looks like the `map_overlap` interface would be somewhat simpler interface for common use cases.  And `map_overlap` is just calling `map_blocks` under the hood, so it looks like a fairly straightforward thing to implement.   I could imagine I'm missing some checks that need to be done.   Deciding the function signature is probably a bit tricky.

Here's something I've

[2019-12-03 21:02] zacharylawrence opened #5666 "Documentation references "to_numeric" but can't find implementation"
The Dask documentation references a `to_numeric` method: https://docs.dask.org/en/latest/dataframe-api.html#dask.dataframe.DataFrame.astype

[code]

I can't seem to find where that code exists. Is `to_numeric` implemented in Dask?

[2019-12-03 21:03] zacharylawrence commented on #5666
To add a quick description for motivation: I'd like to covert a column to numeric but `astype` doesn't seem to support coercing errors.

[2019-12-03 23:51] #5649 closed

[2019-12-03 23:57] jcrist commented on #5654
I believe since this has been resolved on anaconda.org that this can be closed. Thanks all.

[2019-12-03 23:57] #5654 closed

[2019-12-04 00:10] jcrist commented on #5666
This is related to the larger issue of #1815. We generate our docstrings from the corresponding pandas docstrings - in most cases this is fine, but in some cases it leads to confusion. In this case the docstring references a "See Also" method that doesn't exist in dask (but does in pandas).

In this case, we should add support for the `errors` kwarg to astype. Would you be interested in submitting

[2019-12-04 00:26] Casyfill opened #5667 "running dask-ml randomized search on k8s gets stream closed"
not sure where is the issue.
[code]

Getting the below on adaptive k8s cluster, using dask-ml `RandomizedSearchCV` on a custom model.
Seems model is far from using even half of each pod's memory. Here is the worker log:
[code]

here is the scheduler log:
[code]

[2019-12-04 00:30] Casyfill commented on #5667
visually it looks like all tasks except model fitting are done, and some models are being finished, but then something happens (pod dies?) and the whole list of model fitting and a few other tasks re-run again and again

[2019-12-04 08:49] fansichao opened #5670 "Dask and Pandas syntax difference"
I am using Dask replace Pandas==0.24.2

I want to know the grammatical differences with Dask and Pandas.

I am searching for a long time on net. But no use. Please help or try to give some ideas how to achieve this.

Thanks

[2019-12-04 11:36] #5623 closed

[2019-12-04 12:08] TomAugspurger commented on #5670
The docstrings typically mention when we diverge from the pandas behavior:
https://docs.dask.org/en/latest/dataframe-api.html. I don't think there's a
single list collecting all of these, and I'm not sure that compiling that
list is feasible.

On Wed, Dec 4, 2019 at 2:49 AM fansichao <notifications@github.com> wrote:

[2019-12-04 12:18] TomAugspurger commented on #5667
Just to confirm, you can train the model to completion without using dask-ml?

You might try setting the logging level to debug: https://docs.dask.org/en/latest/configuration.html#yaml-files. That may give more information on why the worker is going away.

[2019-12-04 12:21] TomAugspurger commented on #5649
@latusaki FYI, most of the methods you mentioned in pandas released the GIL because people explicitly raised issues on the pandas issue tracker about them. There are likely places where the GIL could be released with little effort. I'd encourage you to raises issues where you identify GIL-holding to be a bottleneck.

[2019-12-04 15:49] latusaki commented on #5649
Thanks, will keep it in mind. Wll have to see if gil_load utility can produce per-line numbers, to help identify the exact lines that cause the bottleneck.

[2019-12-04 16:24] kaptravis commented on #5652
We're using joblib 0.14

I've seen similar issues like the one you mention, but it's difficult to tell if it's related

[2019-12-04 18:44] Casyfill commented on #5667
1) Yes, I can confirm that once I swap dask-ml Randomized CV with sklearn implementation, everything is fine.
2) That being said, when I switch to the local cluster (on my machine), issue persists.

With switching log levels I am now getting this issue
[code]

[2019-12-04 19:14] markkoob opened #5671 "Rows can be dropped when setting index on a categorical with non-lexical order."
When setting the index on a partitioned dataframe to a categorical whose order is not lexical, rows can be lost. That's a mouthful for sure, and I'm not certain that it would be reasonable to expect otherwise, but I have produced an MRP.

[code]

In my case, the output generated is:

[code]

This doesn't occur when the dataframe is a single partition. Digging around in the documentation makes me t

[2019-12-04 19:17] dlages opened #5672 "How to create a multiIndex pd.Series for the groupby-apply 'meta' parameter??"
Thank you for reporting an issue.

Please read the following guidelines to ensure that your issue is handled
properly.  If you have a ...

1.  **General Question**: like *"How do I filter a dask.dataframe?"* then
    please consider asking the question on Stack Overflow using the #Dask tag.

    Please do not ask a question in both locations.

    If you think that you have run into a bug or have

[2019-12-04 19:58] dlages commented on #5672
My code is:

`aggr = gestantes.groupby( by=['dan','kar'] ).apply( lambda x: ';'.join( x['dt_internacao'] + '--'+ x['dt_saida']), meta=???????)`

'gestantes' is a Dask Dataframe.

I have tried:

`meta=pd.Series([], name='NOME', dtype=np.str, index=gestantes.index.head(0)`.

But when I try to reset_index:

`aggr.reset_index().compute()`

I got the following error:

`ValueError: The columns in the co

[2019-12-04 20:26] zjost opened #5674 "Basic "delayed" example in docs doesn't work as expected"
I am working through the `delayed` example in [the documentation](https://tutorial.dask.org/01_dask.delayed.html).  It was working as expected, but I was surprised that the parallelized loop code took ~2 seconds instead of 1 second, since all the "inc" calls should be in parallel and there's not a "sleep" call in the "sum" function.

[code]
When I run this example in the linked [live session](http

[2019-12-04 20:52] jrbourbeau commented on #5674
What is the output of

[code]

on your local machine? It could be that all 8 delayed `inc` calls aren't running in parallel at the same time

[2019-12-04 21:01] zjost commented on #5674
The output is 4, which makes sense.  Can I change it to use threads or something larger than 4?

[2019-12-04 21:14] jrbourbeau commented on #5674
You can use the `scheduler` and `num_workers` compute parameters to use threads / specify the number of threads:

[code]

Note there will be some limit on the possible performance based on the resources of your local machine

[2019-12-04 21:15] jrbourbeau commented on #5674
https://docs.dask.org/en/latest/scheduling.html#configuration

[2019-12-04 21:19] zjost commented on #5674
Works.  Sorry for the false alarm.

[2019-12-04 21:19] #5674 closed

[2019-12-04 21:26] jrbourbeau commented on #5674
Not a problem, thanks for your quick responses @zjost

[2019-12-05 00:02] jcrist commented on #5670
Yeah, we're *mostly* compatible, with a few differences in keyword arguments/methods here and there. I suggest you try things out and report issues as you have them. We *could* generate a full api diff, but that's hard to do (see  #3688). Closing.

[2019-12-05 00:02] #5670 closed

[2019-12-05 00:09] jcrist commented on #5671
Thanks for the excellent issue report, I'm able to reproduce the issue. This is definitely a bug. I'd guess that it's an issue in our `set_index` code, which does sorting along the index to repartition. If you feel like debugging deeper, I'd start looking there.

[2019-12-05 00:12] jcrist commented on #5672
Without knowing what `gestantes` is, I'm afraid I can't help you very much. When filing an issue report it helps to provide a reproducible example showing the issue. Please see https://blog.dask.org/2018/02/28/minimal-bug-reports for examples.

`head` returns a pandas object, you only want `gestantes.index.head(0)` here, no need for the extra `.compute()` call.

[2019-12-05 09:01] OliverHofkens commented on #4371
I recently tried to implement `observed` support in my Dask branch here: https://github.com/OliverHofkens/dask/tree/feature/groupby-observed-categoricals

This wasn't too much work, just storing `observed` and passing it as argument to the `GroupBy._aca_agg` functions got a lot of it working. However, some test cases in this parametrized test case failed: https://github.com/OliverHofkens/dask/blob

[2019-12-05 09:11] OliverHofkens opened #5676 "Can't call unique() on ordered categorical."
### Reproducible example

[code]
`TypeError: to union ordered Categoricals, all categories must be the same`

`unique` is also called in `CategoricalAccessor.remove_unused_categories()`, so the same bug occurs when you call:

`>>> ddf["cat"].cat.remove_unused_categories()`
`TypeError: to union ordered Categoricals, all categories must be the same`

I'm guessing Dask fails to combine the results of

[2019-12-05 09:41] sephib opened #5677 "Reading parquet with category dtype"
Hi,
We have encountered a problem reading `category` dtype format from `parquet` file.
versions:
 dask: 2.8.1
 pandas: 0.25.3
 pyarrow: 0.15.1
 fastparquet:0.3.2

[code]
prints out

[code]

prints out

It is worth to note that:
1. when running with `dask engine=fastparquet` the categorical column is preserved.
2. when reading the parquet file directly with `pandas engine=pyarrow` the categorical c

[2019-12-05 10:51] TAdeJong opened #5679 "da.std and da.var handle complex values incorrectly"
Contrary to what the documentation claims ( [std](https://docs.dask.org/en/latest/array-api.html#dask.array.std), [var](https://docs.dask.org/en/latest/array-api.html#dask.array.var) ), complex values are not handled correctly by taking the absolute values in std and var, yielding a inconsistency with numpy:

[code]

nan 0.3650863869409762
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_met

[2019-12-05 11:01] TAdeJong opened #5680 "Applying da.std to numpy array yields keyword error"
When applying `da.std` to a numpy array it yields a Keyword error, while all other combinations of numpy and dask arrays and functions do work.

Admittedly this is a bit of pathetic use case / anti-pattern, but should be easy to fix.

Would there be some more general way to test for this kind of errors?

[code]

[2019-12-05 12:49] TomAugspurger commented on #5677
Thanks for the report. Can you reproduce this issue when writing / reading using pandas or PyArrow directly? Or is it just with Dask?

[2019-12-05 14:17] sephib commented on #5677
When using `pandas` there is no problem.

Also we used `PyArrow` directly (`read_table/write_table') and the dtype was successfully preserved. Thus it seams only an issue with `dask` implementation.

[2019-12-05 17:47] mglowacki100 commented on #1262
I'm facing exactly the same issue, but I use `dd.read_sql_table` instead of `dd.read_csv`.
I can't find anything similar to `assume_missing=True` for this.
How to solve it?

[2019-12-05 19:11] quasiben commented on #5676
This might be an issue with pandas -- seems as though you can't hand `union_categoricals` a list of single element categories which is what happens here:

https://github.com/dask/dask/blob/c3367b47c0d5ce4b68cab7f2f0ad33b03f592693/dask/dataframe/methods.py#L477

[code]

[2019-12-05 19:15] jcrist commented on #5679
Our docstrings are autogenerated from the numpy docstrings, small inconsistencies do occur (apologies). See #1815 for more info.

In this case this looks like a bug, the implementation of `std` and `var` should be adjusted accordingly. Would you be interested in making a PR?

[2019-12-05 19:16] #5680 closed

[2019-12-05 19:35] #5664 closed

[2019-12-05 19:56] markkoob commented on #5671
I've spent some more time with this and I think I've narrowed it down to `dataframe.shuffle:rearrange_by_column_disk()` but wow it is pretty gnarly in there. I'm not familiar enough with dask's internals yet to figure out exactly what is going on. It looks like there are some `as_ordered` references in the shuffle-collect stage of the graph, `dsk4`, and I think they might be related.

[2019-12-06 13:07] Saanidhyavats commented on #5051
I want to solve this issue. Whether one needs to understand the whole code for solving this particular issue.

[2019-12-06 18:01] TomAugspurger commented on #5051
Can you clarify this @Saanidhyavats?

[2019-12-06 22:39] TomAugspurger commented on #5677
Thanks for confirming. cc @rjzamora if you have a chance to take a look next week.

[2019-12-07 03:47] #5502 closed

[2019-12-07 04:05] mrocklin commented on #5642
Hi @smartass101 , I apologize that no one was able to respond to you before.  Thank you for tracking this down.  It sounds like you have a concise solution proposed.  It would probably be easier for people to see and respond to it if you were to submit a PR.

[2019-12-07 04:07] mrocklin commented on #5645
Thank you for the excellent reproducible example @OliverHofkens .  I'm able to reproduce.  For other reviewers I've attached the traceback here:

<details>

[code]

</details>

@OliverHofkens if you have any interest in investigating this further and seeing if you can find a fixt that would be very welcome.  Otherwise hopefully someone will have time to take a look at this in the next few months.

[2019-12-07 04:08] mrocklin commented on #5647
Thank you for the excellent reproducible example @maxfirman , and my apologies that no one has had the time to respond until now.

This has happened before for other data types.  Historically we've resolved this by raising an issue upstream in the Apache Arrow JIRA.  Is this something that you're comfortable doing?  If not I can handle it.

[2019-12-07 04:09] mrocklin commented on #5630
This appears to have been fixed by the attached PR.

[2019-12-07 04:09] #5630 closed

[2019-12-07 04:10] mrocklin commented on #5651
No response in a while.  Closing.

[2019-12-07 04:10] #5651 closed

[2019-12-07 04:12] mrocklin commented on #5652
This is a bug in the graph layout code in the dashboard, I think because of different key types.  It shouldn't affect actual operation.  It would be great if someone were to fix this, but it's not critical.

[2019-12-07 04:13] mrocklin commented on #5658
Conversation here has stalled.  Closing.  If anyone has a specific suggestion on how to improve things please speak up and we'll reopen.

[2019-12-07 04:13] #5658 closed

[2019-12-07 04:14] mrocklin commented on #5662
@aprowe any further updates from you on this?  If not I'm inclined to close in favor of the pre-existing issues.

[2019-12-07 04:24] aprowe commented on #5662
Its beyond the scope I was hoping for, and the task annotations ticket is further along, so I'll just keep an eye on that issue. Thanks for the response, feel free to close.

[2019-12-07 04:35] #5662 closed

[2019-12-07 18:19] zacharylawrence commented on #5666
@jcrist Thanks for that detailed explanation! I sent #5686 your way. As I noted in the PR, I'm having some trouble understanding how `numeric_equal` comes into play with respect to metadata.

Let me know if you have thoughts on that - thanks!

[2019-12-08 11:41] chrisroat opened #5687 "Using cloud-volume as a storage backend"
[Cloud-volume](https://github.com/seung-lab/cloud-volume) is a great library for interacting with chunked volumetric data on the cloud.  A big advantage is the web visualizer [Neuroglancer](https://github.com/google/neuroglancer) that can display the data "Google maps" style.  The cloud-volume API is very Numpy like, which leads to my desire to see how well it would work with Dask. Here is where I

[2019-12-08 19:57] Iolaum opened #5688 "dask mistakenly thinks or tries to invert a boolean as if it is a float."
As part of an application I am trying to compare the values of a column to a constant and keep track of the ones that I want to act on. I am getting the following error:

`E           TypeError: ufunc 'invert' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''`

I have created a minimal reproducible example. F

[2019-12-08 22:20] Cadair opened #5689 "Support byteswap"
I am trying to add Dask support to `astropy.io.fits` and because it's such a lovely file format FITS is big endian on disk, so before I can `.store()` the data to the file I need to byteswap the array.

What I have currently done which seems to work is:

[code]

which appears to work but is somewhat weird.

I was wondering what would be involved in adding `.byteswap` to `Array` [this](https://gith

[2019-12-08 22:42] mrocklin commented on #5689
@Cadair it looks like this is an embarassingly parallel operation, in which case, your current workaround might be faster as ...

[code]

Or, if you wanted to keep things numpy agnostic, maybe swap out `np.ndarray` for `M` as follows

[code]

See https://docs.dask.org/en/latest/best-practices.html#learn-techniques-for-customization

If it is this simple then this would probably make a fine contrib

[2019-12-09 03:06] rjzamora commented on #5677
Thanks for raising @sephib - You are correct.  We don't seem to be using the dtype information stored in the pandas metadata.  Therefore, the type isn't corrected to  categorical until you call `compute()`, etc.  This is definitely something we should be able to fix.

In the mean time, you can still read categorical data *correctly* if you explicitly specify the categorical columns in the `read_pa

[2019-12-09 04:14] djhoese opened #5691 "Providing URLs to imread"
The `imread` function currently performs a glob on the filename given to it as it expects a glob pattern to find local files. I have a case where I have a series of URLs, something that skimage imread can handle, and would like to load them in to one large dask array. I can see by reading the code that this is outside the expected use case of the function, but I think it could be updated to handle

[2019-12-09 04:15] djhoese commented on #5691
Shoot, this is a problem too:

https://github.com/dask/dask/blob/d0daa5bc7e86677b38794d4f9294fcc386f7b067/dask/array/image.py#L52

[2019-12-09 07:33] sephib commented on #5677
Thx for the work around.

[2019-12-09 08:27] voycey commented on #5596
Just a +1 here - this would be amazing and something that would mean I can start using Rapids immediately as our whole workflow is based on ORC
0.11 is looking like a great release already - a dask solution for this would mean I can hopefully do away with clusters for conversions!

[2019-12-09 11:11] maxfirman commented on #5647
@mrocklin thanks very much for taking the time to respond to my issue. I have now raised the issue on the Apache Arrow JIRA (https://issues.apache.org/jira/browse/ARROW-7350).

[2019-12-09 12:11] maxtrus opened #5692 "I HAVE THE SAME PROBLEM"
I have the same issue here is my code someone help

print(" ~~~~~~~~~~~~~~~~~~~~~~~ ")
print("|    TIM'S DINER        |")
print("|    Ordering System    |")
print(" ~~~~~~~~~~~~~~~~~~~~~~~ ")
print("")
print("Welcome to our takeway ordering system.")
print("Type X to exit")

code = input("Enter the option code you would like to order from the Menu : ")

file = open("foodMenu.txt","r")

totalCost =

[2019-12-09 12:12] maxtrus commented on #5692
Traceback (most recent call last):
  File "H:\report\new-tims-diner\tims-diner-new.py", line 11, in <module>
    file = open("foodMenu.txt","r")
FileNotFoundError: [Errno 2] No such file or directory: 'foodMenu.txt'

#this is the error i get

[2019-12-09 14:42] TomAugspurger commented on #5692
@maxtrus I don't see dask mentioned anywhere in your code. Did you mean to post this somewhere else/

[2019-12-09 14:43] TomAugspurger commented on #5677
We'll keep this open till #5690 is merged.

[2019-12-09 17:06] jcrist commented on #5692
Closing as unrelated.

[2019-12-09 17:06] #5692 closed

[2019-12-09 17:14] jcrist commented on #5691
Updating this to match the other IO routines makes sense to me. I suggest looking at how other IO routines interact with fsspec. The json reader may provide the simplest example of this: https://github.com/dask/dask/blob/d0daa5bc7e86677b38794d4f9294fcc386f7b067/dask/dataframe/io/json.py#L201-L213. Would you be willing to work on a PR?

[2019-12-09 17:16] mrocklin commented on #5691
In this case I recommend taking a look at http://image.dask.org/en/latest/ ,
which I think has a more advanced method.  cc @jakirkham

On Mon, Dec 9, 2019 at 9:14 AM Jim Crist-Harif <notifications@github.com>
wrote:

[2019-12-09 17:36] Cadair commented on #5689
Thanks @mrocklin

I swapped out my implementation with what you suggested, and it didn't work right away. I haven't looked into it any more though, will try and debug later.

[2019-12-09 17:49] #5611 closed

[2019-12-09 17:51] jcrist commented on #5688
The issue appears to be related to the assignment of `COL1` and `COL2` on `ddf`. If I handle that on the pandas dataframe beforehand then everything works fine:

[code]

Debugging now.

[2019-12-09 18:14] djhoese commented on #5691
I took a look at dask-image. It seems to use `pims` library's `open` function. I avoided this initially since it looked like it only accepted single files or glob patterns based on the quick start, but looking deeper it should take a list of filenames.

I wanted to use this functionality for a simple side project (local python meetup kaggle competition), but I ended up using some parts of scikit-i

[2019-12-09 18:22] djhoese commented on #5691
So looks like @mrocklin has run in to this already. `pims.open` doesn't like lists which makes dask-image break. I was about to file a bug with `pims` since their documentation says a list should work, but found this: https://github.com/soft-matter/pims/issues/310

[2019-12-09 18:32] quasiben opened #5695 "Configuration Validation"
I wanted to start a discussion on how to improve dask configuration through validation.

A common problem users experience (with regards to configuration) is invalid and/or missing values.  This can often bubble up to the user in obscure errors and only after the application has started.

A simple example:

[code]

With configuration validation in place, the user would have received an error at th

[2019-12-09 18:44] jcrist commented on #5688
I've tracked this down to a bug in `rewrite_blockwise` (one of our optimization routines). The bug is causing False to be swapped out for `0.0`, since in Python the following holds true:

[code]

If you turn off optimizations (pass `optimize_graph=False` to `.compute()`), or use a value that isn't 0 (e.g. `ddf["COL"] > 0.1) then everything works fine.

Working on a fix now.

[2019-12-09 18:57] jrbourbeau commented on #5691
I believe including the last modified time in the array hash is to avoid a re-computation in the case that `imread(files)` has already been computed and the files haven't been modified since

[2019-12-09 19:00] djhoese commented on #5691
Right, but how often do image files being analyzed get modified? If this is common or something that people are worried about should this kind of check be adopted by all I/O reading functions?

[2019-12-09 19:22] jakirkham commented on #5691
If there are other things you need from dask-image's `imread`, issues on that repo would be welcome. 🙂

[2019-12-09 19:25] jcrist commented on #5688
Should be fixed by #5696.

[2019-12-09 19:38] jcrist commented on #5687
Looks like a useful library.

For reading, your implementation looks fine (provided cloudvolume supports threaded/concurrent access). You might want to wrap your implementation in a larger method so users don't have to interact with your `CvReadToDaskWrap` implementation, but otherwise this looks good.

For writing, you usually want each dask worker to write the data directly to storage. As writte

[2019-12-09 19:58] chrisroat commented on #5687
Thanks for your comments.

I am storing large ND arrays, though a requirement is that they are viewable in Neuroglancer, which supports this precomputed format, as well as several others.  Unfortunately, I do not see zarr on that list.

The wrappers weren't intended for use.  I just used them to keep adding methods until I could get the two libraries to work together.  It was a minimal interface,

[2019-12-09 20:31] jcrist commented on #5687
IMO neuroglancer isn't common enough to warrant a method in dask itself. Perhaps such a method could be added to `cloudvolume`?

The issue with the current *write* implementation is that every time cloudvolume tries to write a new slice it
- Lazily extracts the slice as a dask-array
- The dask-array is computed and pulled back to the client node as a numpy array
- Cloudvolume calls `tostring` on t

[2019-12-10 16:38] markkoob commented on #5671
Ok I think I've found the defect, but I'm unsure of the best way to patch it. In `dask.dataframe.shuffle.set_partitions_pre` the `divisions.searchsorted` operation returns invalid results since Series `s` has dtype `pandas.CategoricalDtype` while `divisions` is of type `object`. If I override the dtype of `divisions` to match `s` then the results are correct. Performing that operation in `set_part

[2019-12-10 17:12] TomAugspurger opened #5698 "Implement dask.dataframe.to_numeric"
Which mimics `pandas.to_numeric`.

For scalar inputs, this could return a Delayed object.

For array inputs, this would return a `dask.array.Array` and would be `.map_blocks(pd.to_numeric)`.

For Series, it'd be `.map_partitions(pd.to_numeric)`.

I'm not sure if downcasting can be easily supported, since we'd need to scan the data for min / max values.

[2019-12-10 18:05] TomAugspurger commented on #5671
Thanks for continuing to update. Could you share snippets of input /outputs in `set_partitions` / `set_partitions_pre` and `searchsorted`? That'd make it easier for us to gauge things.

I'll also take a look locally now.

[2019-12-10 18:13] madsbk opened #5699 "[QST] Initiate Communication Task"
Is it possible to create a task (a node in the `dask` graph) that initiate communication asynchronously and then have a later task _wait_ on the communication to finish?

#### Motivation
I am working on optimizing distributed merge of two dataframes. I would like to implement double buffering so that workers can communicate while computing local dataframe merges.

cc @mrocklin

[2019-12-10 18:18] TomAugspurger commented on #5671
A  bit easier of a reproducer since it doesn't modify `ddf`

[code]

[2019-12-10 18:30] markkoob commented on #5671
Unfortunately I don't have a nice and tidy debug session since this involved stepping through the scheduler and such to find exactly where things broke. Digging through what's left in my console history here are some interesting bits:

Broken:
[code]

Not broken:

[code]

Although I'm definitely concerned about the labels being clumped together like that, so maybe it's just broken in a different w

[2019-12-10 19:05] mrocklin commented on #5699
Tasks should not explicitly communicate.  Instead they produce results, the scheduler decides subsequent tasks should be run, and then those workers initiate communications to gather the necessary results. Once all dependencies for a result have arrived on a worker then the worker feels free to start that task.

In this way overlapping communication and computation already happen in Dask, assuming

[2019-12-10 19:36] myidealab commented on #4861
@simaster123 I am having the same issue using jupyter notebook and a UNC path. Based on the link you provided, it's unclear to me what your solution was.

What worked for me was to generate a file handler. Then, read that into the data frame.

[code]

I'm still not sure why pandas works, but not dask in reading the path. I even use os.path.exists() to confirm that the file is there.

[2019-12-10 19:36] #5677 closed

[2019-12-10 20:08] #5688 closed

[2019-12-10 20:10] TomAugspurger commented on #4861
@myidealab if you're able to provide a failing example / debug if things are wrong somewhere we'd appreciate it.

Just a reminder, you'd need to verify that the *workers* think the file exists with `os.path.exists`, in addition to from your client process.

[2019-12-10 20:20] markkoob commented on #5671
Oh, one other hint for reproducing - this still fails with npartitions = 2, so for debug I was using 1000 rows with two partitions.

[2019-12-10 22:54] TomAugspurger commented on #5676
I think we might pass `ignore_order= to `union_categoricals` there. It should be safe to do for `unique` anyway.

[2019-12-10 22:55] JacksonMaxfield opened #5700 "dask.array.block multiplying indicies together resulting in incorrect dimension shape"
**Bug report:**
When using `dask.array.block` on an example 4D array `(2, 20, 2, 10)` where each element of the 4D is a `dask.array.from_delayed` which results in the 2D array `(200, 200)` we are finding that the produced object is `(2, 20, 400, 2000)` as opposed to the expected `(2, 20, 2, 10, 200, 200)`.

Testing with variants of the array shapes indicates that it is multiplying the last two dim

[2019-12-11 00:11] chrisroat commented on #5687
Thanks for your tips, as they are helping me better understand the dask model.  This could definitely be done via `map_blocks` using `block_info`.  Each block can be written by a single-threaded CloudVolume object.  I think it's probably safest, and lightweight enough, to create the object within the function.

In these cases, what kind of return value would be expected?

[2019-12-11 00:27] tinaok commented on #5439
Hi @mrocklin
here is the implementation of the bug fix that I showed you in SC19 conference;
basic idea is indicated in the comments.
and here is the test code which shows that this make the chunk size better.

----test code ----
import dask.array as da
from distributed.utils import parse_bytes
import dask
import numpy  as np

limit_list=['64MB','128MB','256MB','512MB']

timesteps=20834
lat=320
lo

[2019-12-11 00:36] mrocklin commented on #5699
As demonstration of this if you look at a task stream plot for a non-trivial computation you'll often see that red blocks (transfers) overlap non-red blocks (computation)

https://matthewrocklin.com/raw-host/dask-report.html

[2019-12-11 01:08] JacksonMaxfield commented on #5700
Closing this. Checked the documentation and the blog post again and somehow I missed that I need to include empty dimensions for where the chunks _would_ go. The shape I need to fill would be `(2, 20, 2, 10, 1, 1)` so that the chunks have somewhere to go if I am understanding correctly.

For future people finding this issue, add empty dimensions to the size of your delayed return. In our case this

[2019-12-11 01:08] #5700 closed

[2019-12-11 02:11] miguelangel commented on #5506
Hi,

I think something as the described below is need:

I am facing some issues with some ML models such as Random Forest which cannot go deeper because one of the GPUs contains more data than the others (the data seems to be unevenly split between the different GPUs). Once 1 GPU runs OOM, the model training fails.

The above also doesn't let the user of a multi-gpu system to use all the GPU memor

[2019-12-11 02:32] mrocklin commented on #5506
In principle allowing this sounds great.  I personally have no idea how to implement it safely though. If anyone has suggestions on how this could be done, that would be welcome.

I think that such an option would always be selected, so lets just make this automatic.  In principle we probably can't design scheduling algorithms which strongly prefer uniform allocation in general, the space of probl

[2019-12-11 02:33] mrocklin commented on #5506
Just to be clear, I don't think that Dask will ever be useful in the context where you want to use *all* of your memory.  It's a dynamic system.  It needs some slop space.  If you need to use all of your memory then you should choose some other tool.

[2019-12-11 02:57] miguelangel commented on #5506
I understand what you say, but I think that by evenly distributing the data through the workers, the issue described above might be mitigated.

[2019-12-11 09:26] maxtrus commented on #5692
yes didnt mean to post this where do i post it as im new and stuck

[2019-12-11 11:33] pklemenkov commented on #5506
Could DASK implement partition classes as Spark does? In that case there would be more freedom for users to control their data.

[2019-12-11 14:22] TomAugspurger commented on #5506
@pklemenkov can you describe what that would look like? You can already put individual pieces of data on specific workers. Perhaps you could build something with that?

[2019-12-11 14:23] TomAugspurger commented on #5692
Stackoverflow is generally a good resource if you have a well-posed question.

[2019-12-11 14:49] TomAugspurger commented on #5687
You might look at Array.to_zarr for inspiration.

[2019-12-11 15:37] simaster123 commented on #4861
@myidealab To solve my issue, I created identical shares across my cluster and moved everything to the same OS (Ubuntu) using virtual machines.  Now, to share data between nodes, I'm using CIFS shares.  To address the issue I raised here, I used the same CIFS mounted folder name on each node (e.g., /my_shared_data/) to access the shared folder with the data I wanted to process.

In other words, I

[2019-12-11 16:05] madsbk commented on #5699
Make sense, but it the case of merge this _ad hoc_ scheduling is a problem.
I think it is possible to hide most of the computation of the local `concat` and `merge` behind communication but it requires a very specific scheduling.

I think I finally found a viable approach :)
Will continue working on it tomorrow and report back.

[2019-12-11 16:23] AlbertDeFusco opened #5702 "Merged dataframe complains that not all divisions are known"
## versions
[code]

## simple example
I'm having trouble merging datatime indexed dataframes. The merge appears to complete but some further actions on the DataFrame fail with division and alignment errors. Is this a bug or improper use of merge?

[code]

The last line throws the following error

[code]

[2019-12-11 16:35] TomAugspurger commented on #5702
Hmm, looking at

[code]

before adding that as a column. That looks wrong. It should have the same divisions.

[2019-12-11 16:48] TomAugspurger commented on #5702
Hmm, actually maybe that's not wrong. We have

[code]

So I think what *should* happen is `DataFrame.__setitem__(key, value)` should not attempt to align `value` with `self` with `value` is an Index. Rather, it should be treated as an array-like. Roughly,

[code]

Will look into where things are going wrong. (Thanks for the nice bug report btw).

[2019-12-11 20:14] mrocklin commented on #5699
I would be curious to hear more about your plan.  Let me know if there is some way I can help.

[2019-12-11 21:23] jsignell commented on #1815
I was thinking of trying to implement a generic disclaimer as described in this comment https://github.com/dask/dask/issues/1815#issuecomment-263272272. Do people still think that is a good idea?

[2019-12-11 21:55] AlbertDeFusco commented on #5702
Is the `Insufficient elements for head` warning an issue here as well? I don't still quite understand if it can be avoided.

[2019-12-11 22:16] TomAugspurger commented on #5702
That's expected I think. I haven't looked closely, but there probably aren't any overlapping merge keys in the first two partitions, so `.head()` is empty. `.head(npartitions=3)` should give something.

[2019-12-12 02:29] haje01 commented on #3877
I have the same issue. When I first installed Dask, It worked just fine. But few days after, it started showing the issue. Strangely, it works fine with Python console as mentioned.

My environment: macOS 10.15.1, Dask 2.9.0, Python 3.7.2

[2019-12-12 06:10] About9 commented on #879
It will be very helpful if dask provides a function like dask.dataframe.read_pickle('*.pkl').
read_csv is very time-consuming in pandas (5-10 times slower than read_pickle).

[2019-12-12 07:37] simone-codeluppi commented on #5644
So if I understand correctly the `dask.optimization` utilities do not currently works on HighLevelGraphs, correct? I am curious because I would like to fuse some tasks in parallel branches of my processing graph generated using delayed functions to make sure that all the step in a branch will run on the same worker/node.

[2019-12-12 09:06] OliverHofkens commented on #5676
Sounds good, but it's gonna be hard to get `ignore_order=True` there only when calling `unique()`. Call stack looks like this:

[code]

Accepting `ignore_order=True` as a keyword to all those calls would be kind of dirty, no?

[2019-12-12 09:43] OliverHofkens commented on #5645
As your stack trace suggested, this comes from Pandas not implementing `min()` and `max()`  on empty frames the same for categoricals vs other types. See the following example:

[code]

[2019-12-12 11:15] ChrWesp opened #5704 "Enable compression for on-disk shuffle with PartD"
Dask team - first of all, thanks for the good work and providing such a usefull tool!

I would like to propose a feature request:
Shuffle operations like set_index use PartD for on-disk shuffling. PartD supports transparent compression (lz4), which can greatly improve performance in our usecase.
Howerver, from within dask it is not possibel to trigger a compressed shuffle as any interfacing to the

[2019-12-12 12:02] TomAugspurger commented on #5704
Thanks for the report. It'd be reasonable to control these by both keywords and dask configuration settings.

My preference would be for a `shuffle_options` keyword to places likes `set_index`, which would allow you to pass keywords through, while not conflicting with pandas' keywords.

[2019-12-12 12:15] TomAugspurger commented on #5676
Mmm they're all internal, so it may be OK.

[2019-12-12 12:17] TomAugspurger commented on #879
@About9 you can probably write your own helper using `dask.delayed`, `dd.from_delayed` and `dd.concat` to do this. I'm not sure it warrants its own method.

[2019-12-12 12:27] TomAugspurger commented on #5644
No, they do. See https://github.com/dask/dask/blob/1c39d48b452d857418c854008932fdac2608e121/dask/array/optimization.py#L40-L43 for example.

I'm not sure if this is likely to get fused. HighLevelGraphs rely on the structure provided by Dask's collections, and `dask.delayed` has less structure. But it's worth trying out.

Keep in mind that Dask's low-level fusion in https://github.com/dask/dask/blo

[2019-12-12 12:30] TomAugspurger commented on #3877
@haje01 have you read through https://docs.python.org/3/library/multiprocessing.html#multiprocessing-programming? I don't think there's much Dask (or any other Python program) can do about this, beyond perhaps giving a better warning.

[2019-12-12 13:22] jamescasbon opened #5705 "Consider implementing .array and .to_numpy"
Series and dataframe implement .values:

https://docs.dask.org/en/latest/dataframe-api.html#dask.dataframe.Series.values

But this api is warned against in pandas docs...

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.values.html

[2019-12-12 13:57] TomAugspurger commented on #5705
Duplicate for https://github.com/dask/dask/issues/5001 for `.array`. Chime in there if you have thoughts on what the return type would be (I suspect we'll need another Dask collection to implement this).

I'm not sure about a `to_numpy()`, since we wouldn't be creating a numpy array, we'd be creating a Dask array. And we already have `to_dask_array`. Thoughts on that?

[2019-12-12 14:37] pscholle opened #5706 "bagged numpy array in kwargs raises value error"
Hey everyone, I ran into this issue which only seems to occur if I provide a delayed function with keyword arguments, where I bag a numpy array. Below is a copy paste example:

[code]

error message(not the traceback):
[code]

So going into the source code and changing the function **reify()** in **core.py** from :

[code]
to the following:
[code]
obviously solved the issue. I dont have the time t

[2019-12-12 15:16] mrocklin commented on #5704
We could also:

   1. Include this as part of the dask.config configuration
   2. Encourage users to make their own Mapping classes using PartD
   manually, and then pass those to the Worker explicitly.  This is doable
   today, but requires users to do a bunch of things manually, and so is
   probably not fun.

On Thu, Dec 12, 2019 at 5:03 AM Tom Augspurger <notifications@github.com>
wrote:

[2019-12-12 15:17] mrocklin commented on #879
https://docs.dask.org/en/latest/dataframe-create.html#dask-delayed

On Thu, Dec 12, 2019 at 5:17 AM Tom Augspurger <notifications@github.com>
wrote:

[2019-12-12 15:39] madsbk commented on #5699
My plan was to create a task graph that implements latency hiding by making by interleaving independent task chains.
I can create the graph, but the scheduler re-distribute the initial dataframe partitions between the workers so it doesn't work.
I guess, it is not possible to pin results to a specific worker?

Alternatively, we can do as in cuML where they manually execute operations on the worker

[2019-12-12 15:43] TomAugspurger commented on #5706
Thanks for the report @pscholle. A bit simpler reproducer:

[code]

I'm not sure what's best here, but I would start by seeing if the `if seq` could be replaced with `if len(seq)` without breaking any tests. Are you interested in looking into that?

[2019-12-12 15:55] mrocklin commented on #5699
You can specify that certain tasks run on certain workers, yes, but this kind of manual control rarely works out well in practice.  It's not robust to new or dying workers, load balancing, or a variety of other systems.

For the UCX + Dask + cuDF work my sense is that accelerating this is possibly not the biggest bottleneck right now.  Personally I'm more curious about how to make full DGX-1 or mu

[2019-12-12 17:16] TomAugspurger commented on #5644
A slightly more specific optimization is pushing down binary operations and masking on DataFrames read from parquet files into the `filters` argument.

[code]

Would become something like

[code]

There are probably lots of complexity, but that might make a good first introduction to this (cc @eriknw)

[2019-12-12 17:51] madsbk commented on #5699
Do you have an example of this you can point me to? I would like to benchmark the performance impact even if it isn't a general solution :)

[2019-12-12 17:57] mrocklin commented on #5699
See
https://distributed.dask.org/en/latest/locality.html#specify-workers-with-compute-persist

On Thu, Dec 12, 2019 at 10:51 AM Mads R. B. Kristensen <
notifications@github.com> wrote:

[2019-12-12 17:58] mrocklin commented on #5699
Putting on my Dask maintainers hat, It's going to be very hard to convince folks that specifying workers directly in algorithms like merge is a good idea.  There are several things that make this janky for Dask, so it's unlikely to be accepted.

[2019-12-12 17:58] mrocklin commented on #5699
Experimentation is always good though, I just don't want you to be surprised by showing better numbers and then having your work turned away.

[2019-12-12 19:23] pscholle commented on #5706
Sure I can give it a go. Im flying home tomorrow evening and will most likely only have time to dig into it next week

[2019-12-12 21:18] timgates42 opened #5707 "Fix simple typo: wihout -> without"
There is a small typo in dask/dataframe/io/json.py.
Should read `without` rather than `wihout`.

[2019-12-12 21:25] #5707 closed

[2019-12-13 00:37] haje01 commented on #3877
@TomAugspurger I'm sorry. I did not understand what `Client()` actually doing. Without `processes=False`, it instantly spawns new process. That makes sense.

Thank you.

[2019-12-13 21:15] simaster123 commented on #5634
I'm still not really sure what caused my issue, but I note that switching to pyarrow as the read_parquet engine seemed to resolve it.

[2019-12-13 21:15] #5634 closed

[2019-12-14 22:20] psytron commented on #4184
+1

[2019-12-16 09:34] BodonFerenc opened #5712 "Function np.average fails on Dask data frame with categorical field"
Hi All

this works like a charm:
[code]

but if I change the type of field _bucket_ to _category_ then I get error

[code]

Any idea for a simple workaround?

[2019-12-16 12:54] TomAugspurger commented on #5712
I'm not entirely sure why, but an empty DataFrame is being passed to the `lambda`. It shouldn't be needed for `meta` since you provide it. So perhaps a bug, or an empty partition?

I'd recommend defining a function that caches the ZeroDivisionError and does the correct thing. With categorical data, zero-length groups are a possibility.

[2019-12-16 14:38] TomAugspurger commented on #5695
Thanks for opening this Ben. Both of those sound valuable.

Not to bring up complications too quickly but dask itself doesn't have any external dependencies. We could consider vendoring one of those validation libraries if necessary.

[2019-12-16 14:39] TomAugspurger commented on #5704
@ChrWesp do you have any interest in working on this? I think the configuration lookup would be easiest, and adding a new keyword won't be much additional work on top of that.

[2019-12-16 14:41] TomAugspurger commented on #5689
How are things going here @Cadair? Anything we can help with?

[2019-12-16 14:43] TomAugspurger commented on #5687
Checking in @chrisroat, how are things going here? Did `to_zarr` provide a useful example?

I share Jim's opinion that

Is there anything else to do here?

[2019-12-16 14:44] TomAugspurger commented on #5679
@TAdeJong are you interested in working on this? If so, need any help getting started?

[2019-12-16 14:45] TomAugspurger commented on #5672
@dlages can you provide a minimal example?

[2019-12-16 14:46] quasiben commented on #5695
No, I think it's a good thing to bring up external dependencies now.  `Trailets`, for example, depends on `ipython_genutils`, `six`, and `funcsigs`.

[2019-12-16 15:19] Juanlu001 commented on #4288
I think the optimization example in the docs got outdated after https://github.com/dask/dask/pull/4160:

https://docs.dask.org/en/latest/optimize.html#example

[2019-12-16 15:30] TomAugspurger commented on #4288
@Juanlu001 that sounds correct. We can fix this somewhat but including the literal values in the keynames,

[code]
which produces

![mydask](https://user-images.githubusercontent.com/1312546/70919562-adf9f480-1fe6-11ea-8f0f-76581bb3ab38.png)

Could probably do a bit more, though I worry about making the dask graph too complicated. What do you think?

[2019-12-16 15:40] TomAugspurger commented on #4184
@psytron are you interested in working on this? If so, we can help you get started.

[2019-12-16 15:54] Juanlu001 commented on #4288
Thanks @TomAugspurger - it's the empty rectangles for custom graphs what bothers me, but it's not a big deal and I only was going through an old notebook and updating it. It's probably more valuable to show real world graphs.

[2019-12-16 17:55] TomAugspurger commented on #5671
I think I have a fix for this. Basically, just extract the codes for these comparisions if we have a CategoricalDtype. Will put up a PR shortly.

[2019-12-16 18:25] ChrWesp commented on #5704
@TomAugspurger : Yes, I can take a look at it and submit a pull-request. I will need a bit of time as we are wuite quiet busy currently, but I am happy to work on it.

[2019-12-16 18:28] cjnolet opened #5714 "More explicit support for cupy-backed dask.Array"
While is possible to have a `dask.Array` backed by cupy arrays currently, there are places where numpy is explicitly used to perform operations on the underlying `ndarray` objects. One such example of this is in the `unique()` function on `dask.Array` [1].

Unfortunately, this causes users to have to reimplement the corresponding distributed functions just so `cupy` can be invoked, rather than `nu

[2019-12-16 18:36] mrocklin commented on #5714
If a dask array operation fails with cupy or coerces to numpy then it's probably a bug.  If you have specific cases where this is true then I recommend that you raise issues for them.

[2019-12-16 18:36] mrocklin commented on #5714
In the meantime I'm going to close this issue, just because it has sort of an endless scope.  We'll never get absolutely everything.

[2019-12-16 18:36] #5714 closed

[2019-12-16 21:03] eriknw commented on #5455
I could be mistaken, but it looks like this was done here:

https://github.com/dask/dask/pull/5451/files#diff-924701ed43121b24d428e299aa43d0d2R521-R523

[2019-12-17 00:01] chrisroat commented on #5687
I have started a method based on `to_zarr`, and it seems like it should work.  I'll just plan to add it to cloudvolume.  Thanks.

[2019-12-17 00:01] #5687 closed

[2019-12-17 01:24] xiaodaigh commented on #5326
It's pretty annoying to do. It is still failing. But I only set the schema for first 4 columns. Do I need to set schema for all columns?

Is there a way to extract the schema that Dask is going to use? So I only need to modify the parts that break? Would be nice to have a function that extracts the schema for all parts and checks for consistency.

[2019-12-17 09:16] TAdeJong commented on #5679
When I reported it I actually had a look, but got a bit lost in the very general moment calculation code, but that should be doable on second look. Higher order moments seem not necessarily well-defined for complex input. Should we add a case for variance and throw an exception/error otherwise?

[2019-12-17 10:03] bstadlbauer opened #5718 "Second Dask DataFrame computation breaks due to sklearn import"
Hi!

Using the example below, I observed that the second dataframe (`df1`) will not be loaded (`ProgressBar` gets stuck at 0%) when I import `sklearn`. When `sklearn` is not imported, everything works as expected.

[code]

Test data can be generated using the following script:
[code]

This was tested the following (`conda`) environment on macOS Mojave (10.14.6):

[code]

[2019-12-17 12:06] debabrata-mishra commented on #5667
I was facing a similar issue and mostly it was due to memory error. If you check for the worker logs then you might be able to see the event. This might be coming up when task graphs are computed on chunks of data, which is wrapped inside the fit method. In such scenarios, the worker is either restarted or it gets killed.

[2019-12-17 12:13] TomAugspurger commented on #5667
Thanks for that info @debabrata-mishra. Can you check, do you ever see the error with `refit=False`?

@Casyfill sorry, missed your other message. That second warning / AttributeError indicates a version mismatch in your environment.

[2019-12-17 12:15] TomAugspurger commented on #5718
That's a strange one! @bstadlbauer can you provide a reproducible example? In particular, is the `read_csv` needed, or can you create a NumPy array in memory and pass that to the DataFrame? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports may be helpful.

[2019-12-17 12:16] TomAugspurger commented on #5718
Ah, just saw your second code block making the data. Thanks.

[2019-12-17 12:18] TomAugspurger commented on #5679
Seems fine by me.

On Tue, Dec 17, 2019 at 3:16 AM Tobias de Jong <notifications@github.com>
wrote:

[2019-12-17 12:24] TomAugspurger commented on #5326
The schema is pyarrow's, not Dask's. You could likely get it with something like

[code]

[2019-12-17 12:30] bstadlbauer commented on #5718
That seems strange, I just tested the same on my linux machine (Ubuntu 18.04.3 with `conda` 4.7.10). Environment was installed using:
`conda create -n dask-debug python=3.6 dask scikit-learn`
and can reproduce the error

[2019-12-17 14:58] TomAugspurger commented on #5718
Yep, I used the same versions. Only difference is that I'm on MacOS. I don't really have any guesses about what the cause might be.

[2019-12-17 15:15] TomAugspurger commented on #5712
Ah, since you're grouping by a Categorical and doing a `.apply` you almost surely have empty groups within a partition. The docstring for groupby.apply has a warning about this.

[code]

You probably want to write a custom `dd.Aggregation` function and pass it to `.agg`. That might help with the empty groups in this specific case, though you'll want to consider it unless you know that it's impossi

[2019-12-17 15:15] #5712 closed

[2019-12-17 15:17] TomAugspurger commented on #5705
Any thoughts here @jamescasbon? Is `.array` useful to you, useful enough to implement a new Dask collection? Is having `.to_numpy()` return a Dask array too confusing?

[2019-12-17 15:20] TomAugspurger commented on #5672
Let us know if you have a minimal example @dlages and we can reopen this.

[2019-12-17 15:20] #5672 closed

[2019-12-17 15:32] TomAugspurger commented on #5632
It sounds like we'd prefer to handle this outside of dask and distributed. Does that seem reasonable? Anything else to do her @mmccarty?

[2019-12-17 15:33] TomAugspurger commented on #5625
@ARDivekar did https://github.com/dask/dask/issues/5625#issuecomment-558161087 make sense? Anything else to do here?

[2019-12-17 15:35] TomAugspurger commented on #5621
The KeyError is coming from `iter(dask.dataframe.DataFrame)` being incorrect. I'll put up a fix for that.

[2019-12-17 15:43] TomAugspurger commented on #5621
With #5719, I get the "expected" behavior of raising a TypeError.

[code]

So that at least is clearer than the KeyError. We can still implement proper support for DataFrames though.

[2019-12-17 15:52] TomAugspurger commented on #5645
@OliverHofkens that pandas PR has been merged. Anything left to do here?

[2019-12-17 15:54] TomAugspurger commented on #5555
@samuelkampa was a PR submitted for this? I don't see one linking to this issue.

[2019-12-17 16:05] TomAugspurger commented on #5550
I modified the `lambda` in the example to take two inputs.

I'm not really sure what this line is doing

[code]

with these values, we get

[code]

And `a` isn't anywhere in `chunkss`. I'm not sure whether this is a bug in the implementation, or if the user needs to verify something about their inputs / ouput indices when using `align_blocks=False`.

[2019-12-17 16:57] #5493 closed

[2019-12-17 19:17] jrbourbeau opened #5720 "DataFrame.set_index fails when column has pandas extension dtype"
I ran across an issue where `set_index` fails when the column that's being set to the index has a `dtype` of `Int64` (an extension dtype from pandas). Here's a reproducer:

[code]

fails with `TypeError: data type not understood`

<details>
<summary>Full traceback:</summary>

[code]
</details>

It looks like when we compute the `divisions` here

https://github.com/dask/dask/blob/95ab6ee80a51f85dae

[2019-12-17 19:21] TomAugspurger commented on #5720
FYI, pandas doesn't have a concept of an "ExtensionIndex", so the nullable integer type is converted to a NumPy-backed Index along the way.

[2019-12-17 19:28] jrbourbeau commented on #5720
Ah thanks, that's very good to know! So we could check if the new index dtype is an extension dtype and if so convert it to dtype `object`?

[2019-12-17 19:38] TomAugspurger commented on #5720
That's probably best, but we'll need to be careful since pandas has implemented indexes for specific types (datetime64[ns, tz], categorical, interval, period).

[2019-12-17 19:51] TomNicholas opened #5721 "visualize() not outputting anything for Delayed(xarray object)"
Hi, I'm trying to visualise the graph involved when xarray writes to a netcdf file, but no visualisation is appearing.

[code]

The `.to_netcdf()` task is not producing any image or file output, while the example from dask's documentation is. That's very confusing because in both cases the `.visualize()` method is being called on a `Delayed()` object - the console printout is:

[code]

Do I have t

[2019-12-17 20:43] TomAugspurger commented on #5721
The method is visuali**z**e, with a `z` :) You're the second person to run into this.

It may be worth aliasing `visualise` to `visualize`, given that you don't get an AttributeError with dask.delayed.

[2019-12-17 21:53] jrbourbeau commented on #5555
xref https://github.com/dask/dask/pull/5559

[2019-12-17 23:21] TomNicholas commented on #5721
Oh wow :sweat_smile:... Yeah that fixed it haha

That seems weird, why not? Did I not just call a method which isn't defined?

I'm happy to submit a quick PR for this?

[2019-12-17 23:33] jrbourbeau commented on #5721
Thanks would be very welcome, thanks @TomNicholas!

Since `delayed` results are lazily evaluated, `AttributeError`s don't arise until an actual computation takes place. For example:

[code]

[2019-12-18 01:10] jcuda000001 opened #5722 "Read ORC hive tables using Dask read_orc() - missing column names"
I have a general question regarding the behavior of read_orc('hdfs://.../*') function to read data from a hive table which is in orc format. It appears the data can be fetched using the above pattern by pointing to the hdfs directory of hive table. But the resultant Dask DataFrame doesn't have the actual column names of the hive table. Can Dask automatically fetch the column information as well fr

[2019-12-18 03:15] Vanderser opened #5723 "Dask read sql table() sometimes not functioning properly for reading DB"
Yesterday, I am using Dask to try to working with a Local DB, I also post this at StackOverflow with some detailed explanation: https://stackoverflow.com/questions/59370582/does-dask-dataframes-not-tolerate-for-na-values-in-it-getting-valueerror-canno

read_sql_table is able to read the table from my LocalDB, but The main issue I encounter is when I check it personally by inspecting each table usi

[2019-12-18 04:49] mrocklin commented on #5723
Hi Jovan, I'm curious, does this work with Pandas?  If the problem persists
with pandas then it would be more effective to raise the issue there.
Also, it would be useful to have a full traceback of the exception.

On Tue, Dec 17, 2019 at 9:16 PM Jovan Geraldy <notifications@github.com>
wrote:

[2019-12-18 04:58] Vanderser commented on #5723
Hi mrocklin, thanks for the reply :)

I runned ddf_reader.head()

And this is the Exception I get...

[code]

[2019-12-18 05:05] Vanderser commented on #5723
to test the reader table (if wanted), the reader table I converted to csv, are Included in the stackoverflow.. is is the table which I used to inspect the head()

[2019-12-18 07:16] OliverHofkens commented on #5645
Don't think so @TomAugspurger, thanks for the reviews and for getting it merged!

[2019-12-18 07:16] #5645 closed

[2019-12-18 09:00] bstadlbauer commented on #5718
Ok that is strange. I build a docker container and ran it on my Mac to get a reproducible example. Does the following also work for you:
[code]
And then in the container:
`/opt/conda/envs/dask-debug/bin/python /data/dask_debug.py`

`dask_debug.py` is a copy of the script above.

[2019-12-18 09:25] Vanderser commented on #5723
And also I test it in Pandas too. This works in Pandas..

x = pd.read_sql_table("reader", "mysql+pymysql://user_account:mysqlworld@127.0.0.1:3306/user")

x.head()
Out[6]:
   id      devicetype_fk  version  ... device_type merchant          last_ksn_mag
0   1  INGENICO_ICMP_122        1  ...        None     None                  None
1   2  INGENICO_ICMP_122       47  ...        None     None  4101

[2019-12-18 12:38] TomAugspurger commented on #5723
@Vanderser what are the dtypes on `ddf_reader`, and what are the types of the columns on the table?

That error message indicates an issue with trying to convert a float column to ints, which usually indicates a type inference problem. You might pass `meta=` to the `read_sql_table` with the correct dtypes. `read_csv` has a nice error message for this case.

[2019-12-18 13:26] Vanderser commented on #5723
actually for ddf_reader, I just subset it to these 3 important columns only,

[code]
so to put it straight.. my ddf_reader didn;t have the float columns.. but even with this, this still triggered the `ValueError: Cannot convert non-finite values (NA or inf) to integer`

[2019-12-18 14:06] markkoob commented on #5671
Hey Tom - I can confirm this fixes the use case in my environment. Thanks a bunch for making the PR.

[2019-12-18 14:06] TomAugspurger commented on #5723
The issue is (maybe) that `reader_id` is expecting integers by finds
missing values (floats), though it's hard to say for sure.without a minimal
example. Did you provide the types from the database? Is ID nullable?

What types do you get when you read with pandas?

On Wed, Dec 18, 2019 at 7:26 AM Jovan Geraldy <notifications@github.com>
wrote:

[2019-12-18 14:44] mrocklin commented on #5718
I also tried the original reproducer on both mac and linux and wasn't able to reproduce.  In the interests of time I'm going to pass on pulling down and running your docker image, my apologies.

[2019-12-18 18:27] tjperr opened #5725 "std function returns NaN for long floats"
Calling `.groupby().std()` on a dataframe with long floating point numbers returns NaNs and a warning. This occurs because internally the variance is calculated as a (small) negative number.

Seems to be a resurfacing of https://github.com/dask/dask/issues/4233

[code]
The following is returned:

[code]

Not totally sure if this is a bug or just the limits of floating point numbers, but would be i

[2019-12-18 19:01] beckernick opened #5726 "[BUG] cumulative aggregations fail on dataframes with empty partitions"
Following up on #4743 , cumulative aggregations (cumsum, prod) still fail due to empty partitions with Dask on GPUs and on CPUs. This has been partially resolved for pandas, but not for cuDF. Currently, they will succeed if the cumulative aggregation operates on the **dataframe**, not the series.

Empty partitions on the Series (pandas):

[code]

cuDF goes down a similar codepath:

[code]
Calling

[2019-12-18 20:49] mrocklin commented on #5725
Thank you for the excellent bug report @tjperr and especially for the minimal reproducible example.

My guess is that this is due to numeric instability.  Done naively, the calculation of std is prone to small errors rounding errors.  We have a much more advanced algorithm in dask.array that we also use for full series objects, which is more robust, but never did the work to extend this to dask da

[2019-12-18 20:51] beckernick opened #5729 "[FEA] API method for removing empty partitions from a dataframe"
It would be nice if there was a clean API method to remove empty partitions from a dataframe. This is particularly relevant given issues like #5726 .

[2019-12-18 21:12] mrocklin commented on #5726
Possibly fixed by https://github.com/dask/dask/pull/5730

[2019-12-18 21:15] mrocklin commented on #5729
Most dask dataframe operations respect laziness.  This wouldn't and so might surprise users.

As an alternative, there has been some effort to make things like `df = df.repartition(bytes='1 GB')` work.  This also has the same concern that it forces the computation of df (there is no way to see how big partitions are otherwise), but at least it's only one such case that is more generally useful, ra

[2019-12-18 21:17] mrocklin commented on #5729
Some version of this may already be implemented here: https://github.com/dask/dask/pull/4416

[2019-12-18 21:25] beckernick commented on #5729
Interesting, thanks for the link. I'll take a look down that thread.

To your comment on surprising users, I think in general you're right. But, I wonder if users who want to actively remove empty partitions may be more aware of the implications. Perhaps a common moment that a user notices empty partitions is while debugging downstream failures (extrapolating, perhaps wrongly, from myself). In tha

[2019-12-18 21:30] mrocklin commented on #5729
I'm sure that they do, but other users will come by and they'll see the `df.remove_empty_partitions()` method and they'll think "well sure, that's a great idea".

Anyway, I suspect that you have what you want already in the `repartition` method.

[2019-12-18 21:34] beckernick commented on #5726
❤️

[2019-12-18 21:43] mrocklin opened #5731 "Intermittent failure in Python 3.8 test_temporary directory"
This has occured a couple of times, both in Python 3.8

[code]

[2019-12-18 22:12] TomAugspurger commented on #5731
FWIW, this same test failed previously on older pythons. IIRC, there was a race condition between the assertion and the cleanup of the temporary directory. I fixed it by using the `pool` as a context manager.

[2019-12-19 02:10] Vanderser commented on #5723
@TomAugspurger here is the ddf_reader I converted for working example.. http://www.sharecsv.com/s/147ba0bb507bb6dcc14a3a6c91af4eef/reader_table.csv this is the table itself converted, I was sure there wasn't any null values in reader_id

[2019-12-19 02:17] Vanderser commented on #5723
This is the defined types from Database
![image](https://user-images.githubusercontent.com/40754909/71139152-ee07e400-223f-11ea-8560-e796b3edaa70.png)

[2019-12-19 02:19] Vanderser commented on #5723
Pandas type is the same with Dask..

[code]

[2019-12-19 05:44] jrbourbeau commented on #5731
After testing locally it looks like there's another race condition where files are being cleaned up (or maybe not created yet?) before we're expecting them to be, but I'm not sure why this is happening.

I actually get failures at `ddf2.compute()` before the `assert` statement (similar to https://github.com/dask/dask/issues/5408)

<details>
<summary>Traceback:</summary>

[code]

</details>

In ord

[2019-12-19 14:38] lungben opened #5732 "Crash when trying to use Julia from Dask multiprocessing"
Hello,

PyJulia crashes when I try to call Julia from inside a Python process using Dask multiprocessing (dask.distributed.Client) throwing the following exceptions:
[code]

Calling Julia from Python's built-in multiprocessing works however fine.

I am using Windows 10 (64 bit), Python 3.7, Dask 2.9 and Julia 1.3.

Test Code:

[code]

System setup and stack trace is given in the attachment.
[Dask_

[2019-12-19 15:39] TomAugspurger commented on #5723
Hard to say what's going on. I'd recommend trying to reduce things to the smallest possible example (size, columns, dtypes) that exhibits the issue to understand where things are going wrong.

[2019-12-19 15:58] #5725 closed

[2019-12-20 15:35] mmccarty commented on #5632
Yes, that makes sense. Thanks everyone.

[2019-12-20 15:35] #5632 closed

[2019-12-20 16:21] CJ-Wright opened #5738 "Feature Request: pull delayed scheduler from configuration"
Would it be possible for dask collections and delayed to initialize a distributed scheduler from some sort of configuration?

My understanding is that currently if a distributed client is instantiated then dask collections and delayed will use that client as the scheduler. However there is no way to put the client loading information into a configuration so that dask collections and delayed instan

[2019-12-20 16:22] CJ-Wright commented on #5738
CC @danielballan

[2019-12-20 17:40] mrocklin opened #5739 "Use shallow copies when assigning columns"
Currently when we run code like `df["z"] = df.x + df.y` we call `df = df.assign(z=df.x + df.y)`.  However, the latter snippet calls the underlying assign method, which calls `df.copy()` which can be slow.  Instead, it might be nice to do soemthing like the following:

[code]

And then replace the calls to `M.assign` with this.

This is particularly important for cudf, but probably helps pandas per

[2019-12-20 17:40] mrocklin commented on #5739
Also cc @rjzamora @quasiben and @kkraus14

[2019-12-20 17:42] TomAugspurger commented on #5526
Closed by https://github.com/intake/filesystem_spec/pull/211.

[2019-12-20 17:42] #5526 closed

[2019-12-20 17:56] TomAugspurger commented on #5739
That's my initial reaction.

On this topic, https://github.com/pandas-dev/pandas/issues/29309 may be worth reading through.

The operations

[code]

May or may not update the original `df` passed to your `set_column`, depending on if you're updating an existing column and the dtypes of the original and new values. I can prioritize fixing that on the pandas side of things if needed.

[2019-12-20 19:24] jrbourbeau commented on #5526
I think resolving this issue requires setting `auto_mkdir=False` still. xref https://github.com/intake/filesystem_spec/pull/222

[2019-12-20 19:41] mrocklin commented on #5738
When constructing a dask collection type you can specify a default scheduler to use.
 See https://docs.dask.org/en/latest/custom-collections.html

Maybe you'll be able to screw around with that to get what you want?

[2019-12-20 22:38] CJ-Wright commented on #5738
Awesome! Thank you very much! Is there something similar for delayed?

[2019-12-20 22:39] CJ-Wright commented on #5738
CC @martindurant

[2019-12-21 02:14] mrocklin commented on #5738
Delayed is a dask collection.  Everything I said holds true for it as well.

[2019-12-21 02:26] mrocklin commented on #5732
Can I ask you to try when using different multiprocessing contexts, like fork, forkserver, and spawn?

[2019-12-21 04:39] jrbourbeau commented on #5370
@birdsarah does #5530 fix this issue?

[2019-12-21 08:27] tkf commented on #5732
PyJulia dev here. Is `jl_calc` guaranteed to be called in the same thread always?  `libjulia` is not thread-safe so otherwise it is natural you have errors.  I'm guessing `multiprocessing` uses some OS threads behind the scene to implement the IPC.  We had a similar problem with vanilla `multiprocessing` before https://github.com/JuliaPy/pyjulia/issues/206 (still unsolved).

[2019-12-21 16:37] DmitriyG228 opened #5742 "read_hdf followed by drop_duplicates error"
**Bug report:**

Hi,  read_hdf  followed by drop_duplicates does not work for me:

[code]
this works fine:
[code]
this giver the error:
[code]
what could be the reason?
the error:
[code]

[2019-12-21 16:38] mrocklin commented on #5732
With Dask it will definitely be called from multiple different threads
within the same process, and on different processes.

To check this, you might create your cluster with the threads_per_worker=1
keyword

On Sat, Dec 21, 2019 at 12:27 AM Takafumi Arakaki <notifications@github.com>
wrote:

[2019-12-21 20:17] lungben commented on #5732
Hi,

thanks for your suggestions.
I checked the multiprocessing-method settings suggested by Matthew with threads_per_worker=1 (for my use case I actually need only one thread per worker, therefore this is fine for me).
I got again a number of errors (access violation, worker restart), but at the same time the actual calculation results were returned and printed.
Logs are attached.

[dask_julia_te

[2019-12-21 20:54] mrocklin commented on #5732
It looks like things aren't shutting down cleanly.  Can I ask you to try
creating the Dask client as a context manager with `with Client(...) as
executor_dask:`

On Sat, Dec 21, 2019 at 12:17 PM lungben <notifications@github.com> wrote:

[2019-12-22 05:43] tkf commented on #5732
If this is happening while shutting down the Python processes, maybe you can workaround this by calling [`atexit.unregister`](https://docs.python.org/3/library/atexit.html#atexit.unregister) on `jl.api.jl_atexit_hook`.

[2019-12-22 07:47] DmitriyG228 commented on #5742
I have  noticed, that the error happens in the presence of the following code:

[code]

[2019-12-22 11:34] maowerner opened #5744 "Feature request: DataFrame.mode()"
The pandas Series and DataFrame has a member function `mode()` which return a Series / DataFrame with the most frequent value(s).

The pandas docu can be found [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mode.html) and [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.mode.html#pandas.Series.mode)

In Dask the function is current

[2019-12-22 15:34] mrocklin commented on #5742
Hi @DmitriyG228 , thank you for raising an issue.  Unfortunately it's not clear why you're getting your error.  It could be from any number of reasons including Dask, HDF5, your file system, or many other issues.  We probably don't have enough information here to help you resolve your problem.

If you're able to isolate things further into a Dask bug then that would be helpful.  (See https://blog.

[2019-12-22 15:36] mrocklin commented on #5744
Hi Markus, thank you for raising an issue.

Sure, I would say that this is in-scope for the project.  Is this something
that you would like to contribute?

On Sun, Dec 22, 2019 at 3:34 AM Markus Werner <notifications@github.com>
wrote:

[2019-12-22 20:21] lungben commented on #5732
Hi,

when using a context manager for Dask Client, I get the error

When adding `atexit.unregister(jl.api.jl_atexit_hook)` inside the function submitted to the Client, the access violation error message vanishes, but I still got "Closing dangling stream" and "restarting worker" warnings.

Best Regards
Benjamin

[dask_julia_test3.txt](https://github.com/dask/dask/files/3992950/dask_julia_test3.txt)

[2019-12-23 00:13] jthielen commented on #4583
Are there any updates with respect to Dask Arrays checking argument types and not assuming it is at the top of the type casting hierarchy? I have been working on tests integrating Pint with Dask (xref https://github.com/hgrecco/pint/issues/845), and have been running into numerous issues with non-commutativity since Dask declares it can handle Pint Quantities (when it should instead be returning `

[2019-12-23 01:34] mrocklin commented on #4583
There have been no updates that I can see here.  If there is something you'd like to suggest then please do.

[2019-12-23 03:58] jthielen commented on #4583
I unfortunately don't have any suggestions beyond what has already been discussed, but if @shoyer's `register_chunk_type` idea seems like a good way forward and nobody else has been working on it, I'd be glad to try helping move it along. Progress may be slow since I'm not well-acquainted with Dask's internals, and I have a number of other ongoing projects, but I can still try!

Two questions I wo

[2019-12-23 04:05] ryan-williams commented on #2829
The example code here really helped me, thanks. Some search-engine breadcrumbs:

This is a way to convert an existing Dask Series to a categorical dtype, letting the user provide the categories explicitly, and avoiding having to do a full pass over the data / `.compute()` (as is required by e.g. `dd.categorize()`).

[2019-12-23 14:09] TOURIST-ML opened #5745 "can't pickle_asyncio.Task objects"
I have class

class train():
       def _init(client):
          self.client = client
       def train():
           print("in train function")

if __name__=="__main__":
        c = LocalCluster(processes=False, n_workers=4)
            dask_client = Client(c, asynchronous=True)
           ob = train(dask_client)
           dask_client.submit(ob.train)

ERROR:  **can't pickle _asyncio.Task objects

[2019-12-23 15:31] mrocklin commented on #5745
Thank you for raising an issue @TOURIST-ML .  My guess is that you don't need the asynchronous=True keyword, which is only used if you intend to use async/await keywords, see https://distributed.dask.org/en/latest/asynchronous.html .

Also, I recommend reading through https://blog.dask.org/2018/02/28/minimal-bug-reports

[2019-12-23 15:31] #5745 closed

[2019-12-23 17:06] TOURIST-ML commented on #5745
@mrocklin  I tried with asynchronous=False as well. But still the error persist.

[2019-12-23 17:16] mrocklin commented on #5745
Then I encourage you to make a minimal reproducible example that triggers the error.  Something that we can copy-paste to run.  Please see the blogpost that I pointed to above.

[2019-12-23 21:29] dfonnegra opened #5746 "Bug report: DataFrame resample fails for some timezones"
When a resample bin falls in a DST change datetime, the resample fails with NonExistentTimeError. This was a bug solved in pandas version 0.24.0 and what they do when a datetime doesnt exist by dst change is making a shift to the closest existing datetime.

To replicate the error copy and paste this:
[code]

I suggest changing the following instruction at dask/dataframe/tseries/resample.py in the

[2019-12-24 01:43] xybramble opened #5747 "Remove duplicate memory of data in _train()"
I run the project and notice in **_train()** there is a memory usage in process same as memory usage of data. However, *data* in **train_part()** (also the return value in **concat()**) also takes up the memory usage. As the **train_part()** only uses the list_of_parts, if it is possible to delete the original data after returning the list_of_parts in **_train()**?

I tried *client.cancel()* and *

[2019-12-25 10:00] JustM57 opened #5748 "free(): invalid size"
I'm using dask for quite large dataset(10G+)
I apply a function, which changes some variables in a row and then returns it.
I have a problem, that dask for some reason uses more and more memory in a process of applying(creates of copy of a data probably(and then crashes with the memory limit). The solution is that I split the data into 4 chunks, apply the function for each chunk in a loop and then

[2019-12-25 13:43] #5748 closed

[2019-12-26 04:35] raybellwaves opened #5749 "helm config environment in docs is out of date"
I belive the docs for the helm config environment is out of date (https://docs.dask.org/en/latest/setup/kubernetes-helm.html#configure-environment) source for this docs is https://github.com/dask/dask/blob/master/docs/source/setup/kubernetes-helm.rst#configure-environment

It says "By default, the Helm deployment launches three workers using two cores each".

I believe the latest chart has three w

[2019-12-26 16:58] mrocklin commented on #5749
Thanks Ray!  Are you interested in correcting this with a PR?

On Wed, Dec 25, 2019 at 8:35 PM Ray Bell <notifications@github.com> wrote:

[2019-12-27 03:41] ARDivekar commented on #5625
Yes this answered my issue. Also linking to an expanded SO answer [for predicting using multiple models on a LocalCluster](https://stackoverflow.com/a/59015702/4900327) for reference. Thanks and cheers.

[2019-12-27 03:41] #5625 closed

[2019-12-27 13:12] TomNicholas commented on #3954
@mrocklin here's a minimal working example of the same problem - copy and paste this into a jupyter notebook:

[code]
and you will get an `AttributeError` with this traceback:
<details>
<summary>Traceback</summary>

[code]

</details>

It seems to be an issue only when passing the `filename` argument...

<details>
<summary>Conda Environment</summary>

[code]

</details>

[2019-12-27 15:20] AakashKumarNain opened #5751 "dask.compute didn't work as expected"
I was trying to replicate a new paper that provides new augmentation strategies. For each image in the `training data`, we apply a series of transformations on the image and combine them to obtain the final image. As the transformations are being done using `PIL`, the processing is very slow and hence the preprocessing is a huge bottleneck for the GPU to be fully utilized. In order to speed up the

[2019-12-27 16:25] mrocklin commented on #5751
Thanks for raising the issue @AakashKumarNain .  It's a long example, so I don't know exactly what's happening, but my guess is that you're running into this:

https://docs.dask.org/en/latest/delayed-best-practices.html#avoid-calling-delayed-within-delayed-functions

If that doesn't help then I recommend reducing your problem down to something minimal and then asking again.  https://blog.dask.org/

[2019-12-27 16:25] #5751 closed

[2019-12-27 16:34] mrocklin commented on #3954
Thank you for taking the time to produce a minimal reproducible bug @TomNicholas .  At first glance i don't know what's going on with that traceback.  However, after looking at the `visualize` docstring I notice that there is no `filename=` keyword, but there is a `file_path=` keyword.  Maybe we're passing the `filename=` keyword onto a Bokeh figure and that causes some issue?

[2019-12-27 16:39] #5749 closed

[2019-12-27 16:41] AakashKumarNain commented on #5751
@mrocklin Thanks for the response. Yes, I have looked into `best practices`. In fact, I always keep that open in a separate tab. But in this example, I am not calling delayed within delayed. I will try to reduce the length of the example though

[2019-12-27 16:42] mrocklin commented on #5751
Yes you are.

[code]

Thanks!  I recommend reading that blogpost to set expectations.

[2019-12-27 16:44] AakashKumarNain commented on #5751
Ahh. Yes, I have put that delayed on the sampling function as well. Makes sense. I will try it again and will let you know. Also, will go through that blogpost again. Thanks

[2019-12-27 19:37] lostmygithubaccount opened #5752 "Dask.read_parquet fails - distributed.protocol.pickle - INFO - Failed to deserialize"
I've been struggling to use dask.dataframe.read_parquet from a distributed client. Replacing the code with equivalent pandas code works fine.

The code is at [https://github.com/lostmygithubaccount/dasky/blob/master/example.ipynb](https://github.com/lostmygithubaccount/dasky/blob/master/example.ipynb)

In short:

* download data to a cluster at '/mnt/noaa' in format '/mnt/noaa/year=*/month=*/*.par

[2019-12-27 20:45] mrocklin commented on #5752
Thanks for raising an issue @lostmygithubaccount .  My guess is that you have non-uniform versions of libraries across your client and workers. You might try running the following to check:

[code]

Other than that I'm not sure.  I took a brief look at your example notebook but it was long so I decided to pass.  If you end up needing more help then we would appreciate a minimal failing example.  S

[2019-12-27 21:04] esokoli opened #5753 "If/else Regex in dask dataframe (str.contains) not working"
I am having an issue passing columns through this regex logic. In pandas, this logic works, but using a dask dataframe, the if statement doesn't catch or change anything.

`df = dd.read_csv('chicago_taxi.csv')
print(df.dtypes)`

Trip_Id                        object
Taxi_Id                        object
Trip_Start_Timestamp           object
Trip_End_Timestamp             object
Trip_Seconds

[2019-12-27 21:15] mrocklin commented on #5753
See #5743 .  You need to explicitly call `.compute()` after the `all` call if you want to use it within an if statement.  Beware though that this will incur the cost of reading through all the data each time though, which may be expensive.

You might consider doing this check for columns at once.

[2019-12-27 21:35] esokoli commented on #5753
After including `.compute()`, I get the same output as first reading in the data in terms of the data types. Any ideas? Thanks for the response.

[2019-12-27 22:21] mrocklin commented on #5753
I'm not sure exactly what you're asking.  If you think that you've found a bug then I encourage you to produce a minimal reproducible example.  See https://blog.dask.org/2018/02/28/minimal-bug-reports

[2019-12-28 13:14] TomNicholas commented on #3954
Where are you looking? In [the code](https://github.com/dask/dask/blob/eaa0e80aa4301fe77551c12bc347d72f2cfb3217/dask/base.py#L440) I see `filename` (in the mixin [here](https://github.com/dask/dask/blob/eaa0e80aa4301fe77551c12bc347d72f2cfb3217/dask/base.py#L48)), and in the [actual documentation for `visualize`](https://docs.dask.org/en/latest/api.html#dask.visualize) it asks for a `filename` keyw

[2019-12-28 17:03] mrocklin commented on #3954
It looks like there is a difference between the `dask.base.visualize` function and the `dask.diagnostics.visualize` function

https://docs.dask.org/en/latest/diagnostics-local.html#dask.diagnostics.visualize

[2019-12-28 17:06] #5671 closed

[2019-12-28 17:23] mrocklin commented on #3954
cc also @jcrist who designed the diagnostics.visualize API, in case he has thoughts on how to proceed.

[2019-12-30 03:35] rainwoodman opened #5754 "numpy.broadcast_array on dask array raises ValueError("Chunks do not align")."
This is a regression. The old behaviour seems to be broadcast_array forces dask to perform a compute() to return arrays instead.

The new current behaviour seems to be going through the `__array_function__` protocol and perform a dask broadcast without automatic rechunking.

I am not sure when this has changed; and I don't know if there is anything we can do about this on the dask side -- eliminat

[2019-12-30 16:15] lostmygithubaccount commented on #5752
closing - was a library mismatch. thank you!

[2019-12-30 16:15] #5752 closed

[2019-12-30 16:18] mrocklin commented on #5754
Thanks @rainwoodman .  I'm not entirely sure I understand the context.  Do you have a small example that causes this error?

[2019-12-30 16:23] mrocklin commented on #5752
I'm glad to hear it!  Thanks for reporting back.

[2019-12-30 17:42] shoyer commented on #4583
I don't think we need to worry _too much_ about this. It should be straightforward to add `register_chunk_type` as necessary.

This covers the cases I'm familiar with.

[2019-12-30 22:07] WesRoach opened #5755 "set_index() on list with one item"
Dask is raising NotImplementedError when passing a single-item list to set_index()

[code]

The user is providing a single column on which to index, but Dask is assuming that the list contains multiple values.

[2019-12-31 02:47] mrocklin commented on #5755
It would be great to fix this.  Do you think that this is something that
you could do Wes?

On Mon, Dec 30, 2019 at 2:07 PM Wes Roach <notifications@github.com> wrote:

[2019-12-31 08:21] Saanidhyavats commented on #5666
I want to contribute on this issue, is this issue open?

[2019-12-31 11:59] lr4d opened #5756 "`clear_known_categories` overrides categories.dtype for non-object dtypes"
At https://github.com/dask/dask/blob/c69d10f97cadd06f147817f0084bddeadb8195e6/dask/dataframe/utils.py#L262, dask doesn't check the dtype of the categories, and just assumes it's an object (overwriting the original categorical dtype for one where `categories.dtype == object`).

Minimal example:
[code]

This can cause an exception at https://github.com/dask/dask/blob/master/dask/dataframe/methods.py

[2019-12-31 16:05] TomAugspurger commented on #5666
There’s already https://github.com/dask/dask/pull/5686, but it isn’t clear how to proceed.

[2019-12-31 16:40] mrocklin commented on #5756
Hrm, yes, I can see how that would cause an issue.

Currently it looks like we use the presence of the special value `"__UNKNOWN_CATEGORIES__"`, as a signal that we don't know the categories.  We probably can't do this if we want to have unknown categoricals of different dtypes.  We would probably need to come up with some other signal for this case.  I don't at the moment have a good idea for wha

[2019-12-31 16:58] mrocklin commented on #5746
Thank you for the excellent bug report and reproducible example @dfonnegra .  I apologise for the long delay in response.

It sounds like you have a solid idea for a fix.  Would you be willing to submit a PR?

Also, cc'ing resident Pandas expert @TomAugspurger just for his awareness.

[2019-12-31 17:49] bschreck opened #5758 "Reading from remote HDFS requires local libhdfs/arrow installation"
My scheduler/worker nodes are running on a cluster that has Hadoop/HDFS installed, and ideally I'd like to not have to install it on the machine that runs the (distributed) Client.

There are 2 ways I'm able to load a parquet dataset from HDFS into a dask dataframe:
1. Install Hadoop & HDFS locally, and use `ddf = dd.read_parquet('hdfs://filepath/*.parquet', engine='pyarrow', storage_options={host

[2019-12-31 17:56] WesRoach commented on #5755
Yeah, I'll take a look sometime this week.

[2019-12-31 17:57] mrocklin commented on #5758
Yes, that's correct.  Your option 2 is the best current workaround today.

There has been talk about doing the metadata loading as a compute task on the workers as well.  I believe that @jcrist raised an issue about this somewhere, but after a brief search I couldn't find it.

[2019-12-31 17:58] bschreck opened #5759 "Dask Dataframe doesn't read parquet metadata file/fails for multiple partitions"
I saved a dask dataframe to multiple parquet files by calling `ddf.to_parquet('hdfs://filepath', engine='pyarrow')` (remotely, using the distributed scheduler, to hdfs)

When I try to load this later using `ddf = dd.read_parquet('hdfs://filepath/*.parquet', engine='pyarrow')` I get an error about invalid schema - one of the partitions was different. I'm pretty sure this is due to one of the column

[2019-12-31 18:00] bschreck commented on #5758
Does the dask dataframe returned by the delayed call have access to all the same methods as a local dask dataframe?

[2019-12-31 18:22] bschreck commented on #5758
Actually When I try option 2 I still get an error upon deserialization:

[code]

[2019-12-31 22:17] mrocklin commented on #5758
Thank you for including the traceback @bschreck .  We might be able to resolve this upstream in Arrow.  I've raised https://issues.apache.org/jira/browse/ARROW-7486

[2019-12-31 22:18] mrocklin commented on #5758
I don't see any reason why they would be different.  There is only one kind of Dask dataframe.

[2020-01-01 00:48] petioptrv commented on #3663
I'd be interested in taking a crack at this if no one is currently working on it.

[2020-01-01 01:10] mrocklin commented on #3663
Crack away :)

[2020-01-01 07:44] Saanidhyavats commented on #5051
@TomAugspurger sorry for late reply, I want to contribute on this issue(earlier had difficulty in understanding certain lines of code but now everything seems to be familiar). Is this issue open?

[2020-01-01 12:56] Saanidhyavats commented on #5666
I will look into it

[2020-01-02 10:45] maowerner commented on #5744
Hello Matthew,

thanks for your estimation. I will try it next weekend

[2020-01-02 10:48] lr4d commented on #5756
FYI in pandas no exception is raised in `pd.concat` when this happens, although the column data type changes from categorical to object.
[code]

[2020-01-02 11:30] Saanidhyavats commented on #5051
What exactly we have to implement?

[2020-01-02 12:05] TomAugspurger commented on #5051
The original post has an example. You might look at the other reduction
methods.

On Thu, Jan 2, 2020 at 5:30 AM Saanidhya <notifications@github.com> wrote:

[2020-01-02 12:08] TomAugspurger commented on #5756
The only think I can think of use to use an empty index of the correct sub-type.

[code]

Not sure if that will fix everything / break other things, but that's where I would start.

[2020-01-02 13:24] Saanidhyavats commented on #5051
So we have to add a feature similar to this one  `pd.Series(pd.date_range('2000', periods=4)).mean()` as mentioned in the example?

[2020-01-02 13:28] TomAugspurger commented on #5051
Yep.

[2020-01-02 15:34] mrocklin commented on #5756
Are empty categorical rare enough that overlapping emptiness with
unknown-ness is ok?

On Thu, Jan 2, 2020 at 4:08 AM Tom Augspurger <notifications@github.com>
wrote:

[2020-01-02 16:07] TomAugspurger commented on #5756
I would need to look a bit more closely at how we use the actual value `UNKOWN_CATEGORIES"` to say. My hope would be that we could encode the fact that the categories are unknown completely independently of the values in the CategoricalDtype's categories, but I may be wrong.

[2020-01-02 18:13] DoDzilla-ai opened #5761 "Possible bug when checking an empty dataframe"
I am aware of [this question][1]. But check the code(minimal-working example) below:
[code]
When I try to print the `categoric_df` I get the following error:
[code]
And when I check the `categoric_df` from PyCharm debugger:

    Unable to get repr for <class 'dask.dataframe.core.DataFrame'>
With these errors, I can build a try/except block to check if the dataframe is empty or not. But I don't wan

[2020-01-02 20:57] TomAugspurger commented on #5761
I think the bug is just in `DataFrame.__repr__`, it's not related to categorical / select_dtypes. This shouldn't raise

[code]

[2020-01-02 20:58] TomAugspurger commented on #5761
You can check if the number of columns is 0

[code]

You can't lazily check if there are no rows.

[2020-01-02 21:00] TomAugspurger commented on #5761
To fix the bug, we can check at https://github.com/dask/dask/blob/c69d10f97cadd06f147817f0084bddeadb8195e6/dask/dataframe/core.py#L4286-L4289 if `len(meta.columns)` is 0 and return a special repr for the empty dataframe. We should probably still have the information about divisions / partitioning.

[2020-01-02 23:01] thomcom opened #5762 "GroupBy `std` aggregation raises `ValueError`"
When grouping by a key column that contains values that are above sqrt(max) for that column type, a `ValueError` can be thrown due to unique values overflowing into same-values, which invalidates the groupby results.

[code]
raises
[code]

I've created #5737 to resolve this issue. My current solution is dumb - it uses `try` and `set` operations to only square the value columns, but not the `by` co

[2020-01-03 07:26] DoDzilla-ai commented on #5761
Ah... I forgot about this. Thank you, kind sir.

[2020-01-03 19:01] chrisroat opened #5763 "Writing stacked delayed dask arrays raises exception"
Here is code to read 4 arrays from a hdf5 file, stack them, and output to zarr. It reads via the delayed mechanism because my realworld application works on h5py files on GCS, which must be read this way. If I write a single array (change `data.to_zarr` to `arrays[0].to_zarr`), it works. Writing the stacked array leads to an exception.

Is there some argument I missed somewhere?

Using h5py 2.10.0

[2020-01-04 16:15] #5755 closed

[2020-01-04 16:23] mrocklin commented on #5763
You're creating a dask array from a delayed value that creates an H5Py dataset, not a Numpy-like array.  H5Py datasets in many ways look like Numpy arrays, but don't do many things, like advanced slicing or computational operations.  I recommend having the `get_data` function return a numpy array.

This should work

[code]

Closing this for now.  If there is still some other problem then please le

[2020-01-04 16:23] #5763 closed

[2020-01-04 17:49] chrisroat commented on #5763
Makes sense.  Thank you.  To check my understanding, this means there isn't a way to take advantage of the chunking within the hdf file?

[2020-01-04 17:52] mrocklin commented on #5763
You would use the da.from_array function.  See
https://docs.dask.org/en/latest/array-creation.html

On Sat, Jan 4, 2020 at 9:49 AM Chris Roat <notifications@github.com> wrote:

[2020-01-04 17:54] chrisroat commented on #5763
I'm not sure I follow.  Does `get_data` use `da.from_array` and return a dask array?

[2020-01-04 17:57] mrocklin commented on #5763
Have you read through that page yet?  It has an example using from_array
and stack that I think does exactly what you're trying to do.

On Sat, Jan 4, 2020 at 9:54 AM Chris Roat <notifications@github.com> wrote:

[2020-01-04 18:18] chrisroat commented on #5763
I did not see the same use case of using `from_delayed`, `from_array`, and `stack`.  I see `from_delayed` used once, with something returning a numpy array (your original suggestion).  And I do see `from_array` on h5py.File using in concatentation, but not in a delayed context.

It wasn't clear to me that one can return an array (which is already 'delayed' in some sense) in a function wrapped by `

[2020-01-04 18:32] mrocklin commented on #5763
Ah, I see.  Yes so from_delayed is used to produce single chunked dask arrays.  You could make a function that opens an h5py file, gets a specific chunk of that file, and then closes the file and returns the numpy array.  I think that this is what Xarray does.  There was some extensive conversation on this topic here: https://github.com/pydata/xarray/issues/798

With your current approach you're r

[2020-01-04 18:33] mrocklin commented on #5763
I encourage you to raise a new issue asking for documentation on how to load an HDF5 dataset hosted on cloud storage into a Dask array.  The bug report you've listed here is, I'm going to claim, "not a bug" but the general thing that you're trying to accomplish seems valuable to me.  It would be good to make it easier for users.

[2020-01-04 18:34] mrocklin commented on #5763
It would be useful if, in that issue, you could also point to the work that caused h5py datasets to point to files on cloud storage as well as, if you have it, a public example of a simple file that devs can play with.

[2020-01-05 03:23] rainwoodman commented on #5754
Yes.

numpy.broadcast_array used to trigger .compute() (presumably via numpy.array) and did not dispatch this into dask's broadcast_arrays function.

With 2.9.0, it goes through dask's broadcast_arrays function:
[code]

The behavior is a bit surprising -- numpy.broadcast_array on ndarray doesn't throw a ValueError like this.

[2020-01-05 04:07] mrocklin commented on #5754
Ah I see, thank you for the very clear example.

Yes, I agree that that sounds sensible.  I've tried to implement this in https://github.com/dask/dask/pull/5765 using the `unify_chunks` function, but I have to admit that I haven't thought through the problem very deeply.  If you have some time to investigate that function and review things I would welcome the help.

[2020-01-07 00:54] tjorda01 opened #5768 "Bug report: Dask submit and gather of 2D array objects is unacceptably slow"
Our testing showed Dask is unacceptably slow to scatter/submit and gather a data object containing a 2D array for parallel processing on a single computer using a local distributed Client. Over the past few weeks I believe I've exhausted the options described in [distributed.dask.org](https://distributed.dask.org/en/latest/client.html) documentation without success, but I'm open to suggestions if

[2020-01-07 06:40] chrisroat opened #5769 "Retaining chunking when reading HDF files (on cloud storage)"
We have a project creating microscope O(1000) images in chunked HDF format, which we ship off the machine ASAP and into a GCS cloud bucket.  We are then attempting to process them later using dask.  When attempting this on a the processes scheduler, I run into the standard problem of needing to open the unpicklable objects in a delayed function.  (This probably needed anyway, since opening a GCS f

[2020-01-07 10:50] mgsnuno commented on #958
@jreback I modified `dask/dataframe/core.py` to include the following:

[code]

following what is done for `nlargest/smallest` and `value_counts`.

Is this a good way to go?

[2020-01-07 14:26] OliverHofkens commented on #5676
I tried the suggested fix and it works. Only problem is that the `union_categoricals(ignore_order=True)` returns an unordered categorical, while `Categorical.unique()` in pandas keeps the categorical order.

So this fix would create a behavioral difference between Dask and Pandas. I'll see if I can get it working without introducing this difference.

[2020-01-07 16:12] quasiben commented on #5768
Have you looked at the dask subproject dask-image or the examples of efficient images processing with dask ?

- https://dask-image.readthedocs.io/en/latest/quickstart.html
- https://examples.dask.org/applications/image-processing.html

[2020-01-07 16:45] mrocklin commented on #5768
@tjorda01 I'm sorry that you've had a hard time.

Profiling with the cProfile module unfortunately won't help you understand what is taking up time.  The cProfile module only really profiles sequential code.  For more information on profiling Dask I recommend reading through the following:

-  https://docs.dask.org/en/latest/understanding-performance.html
-  and in particular https://docs.dask.org

[2020-01-07 16:48] mrocklin commented on #5769
I wonder if some of the Xarray folks like @jhamman know people that would be able to help here.