[2015-07-13 17:12] shoyer commented on #419
I commented in #421, but I think this would actually be a reasonable idea if we also added `quasiquote` as a way to explicitly identify literal arguments. The fall back rules in the dask specification are convenient but also error prone.

[2015-07-13 17:23] jcrist commented on #421
On further thought, that distinction above fails if the data is ever inlined, so a recursive definition is needed. Drat, I was hoping it would be that simple :/ Looks like some kind of indicator (quasiquote or whatever) is needed to indicate the difference between data and keys.

[2015-07-13 20:56] #415 closed

[2015-07-14 05:06] cowlicks commented on #218
@gabrielelanaro Thanks for the feedback. Can you use zmq on your cluster? Have you tried using dask.distributed on it? :)

Off the top of my dask needs to:

* Wrap everything we use from zmq a module, this won't be too hard.
* wrap mpi4py with a to provide a similar interface
* wrapping mpi4py for things like sends and receives should be easy
* I'm not sure what is analogous to zmq sockets in mpi4

[2015-07-14 05:19] cowlicks commented on #405
@bheklilr if you are not already using the MKL linked version of NumPy that should give you a significant speed boost. Also I think `scipy.fftpack.fft` is faster than numpy's default.

[2015-07-14 14:25] gabrielelanaro commented on #218
I didn't manage to setup zmq or anything else on the cluster (PBS scheduling system).

The main problem is that (as far as my understanding goes) you are allowed to run a script that launches mpiexec, and mpiexec is configured such as it gets run on the proper cores in the proper nodes. So you can't control multiple nodes (except through mpi) .

[2015-07-14 14:29] gabrielelanaro commented on #218
Basically you mean implementing the Scheduler/Client architecture with mpi4py?

[2015-07-14 14:29] mrocklin commented on #218
One could use mpiexec to deploy the scheduler and workers

[code]

and then let them communicate with each other over zeromq.  ZeroMQ isn't that heavyweight and is fairly low-level.  It feels like the kind of library super-computer sysadmins might appreciate.

Just to be clear though, the communication patterns in `dask.distributed` aren't designed for high performance computing.  Just getting MPI

[2015-07-14 15:08] mrocklin commented on #247
Here is a new one.  cc @cowlicks

[code]

[2015-07-14 15:15] #386 closed

[2015-07-14 15:51] mrocklin commented on #414
pushed

[2015-07-14 15:51] #414 closed

[2015-07-14 15:54] mrocklin commented on #393
This should work now that #403 is in

[2015-07-14 15:54] #393 closed

[2015-07-14 17:13] cowlicks commented on #247
@mrocklin is this on master?

[2015-07-14 17:21] mrocklin commented on #247
Hrm, actually I don't recall.  It may have been while going through PRs.  Actually, it could have been on your recent PR (which would make sense and reduce the significance of this)

[2015-07-14 17:30] cowlicks commented on #218
@gabrielelanaro Yes, basically making dask.distributed agnostic to the message passing library you use.

Also @mrocklin, is correct. The bottlenecks in `dask.distributed` are not our message passing library. I edited the issue to reflect this.

[2015-07-14 17:33] cowlicks commented on #247
@mrocklin yeah, that should be locked anyway though. `self.send_to_worker(...)` will close a worker. So its heartbeats will stop. so it will be removed from the `self.workers` eventually.

[2015-07-14 18:34] cowlicks commented on #186
Anaconda-cluster now uses salt to deploy and manage the processes.

[2015-07-14 19:01] venabled commented on #186
Is there any open version of anaconda-cluster, or is it pay only?

[2015-07-14 19:43] koverholt commented on #186
@venabled, currently, Anaconda Cluster is a premium/paid feature of the Anaconda platform. In the next few weeks, we are working on making Anaconda Cluster more generally available with a free usage tier. Stay tuned to the [Anaconda Cluster] (http://continuum.io/anaconda-cluster) page for updates, or contact Continuum for more information.

[2015-07-14 19:46] mrocklin commented on #186
Just to be totally clear, dask in no way depends on anaconda-cluster or on any other proprietary project.  One can set up dask.distributed [easily](http://dask.pydata.org/en/latest/distributed.html#setup) by hand, particularly for system administrators.

Anaconda-cluster is one mechanism to handle this for you.  We'd love to see others arise as well.

[2015-07-14 20:51] shoyer commented on #329
This actually looks quite reasonable to me, and is certainly worth a try. Gzipped data files are quite common, either in hdf5 chunks or just entire files compressed.

[2015-07-14 23:29] #391 closed

[2015-07-14 23:29] #344 closed

[2015-07-15 04:00] chdoig commented on #412
Some options to create debian packages from python applications:

- debinate: https://github.com/rholder/debinate
- dh-virtualenv: https://github.com/spotify/dh-virtualenv

@rholder had some thoughts on those different alternatives.

[2015-07-15 05:27] rholder commented on #412
I've done a bit of work over the years packaging up Python applications to ease installations and generally trying to make installing things as painless as possible. Both `debinate` and `dh-virtualenv` use `virtualenv` to isolate the `pip` installed module and its associated dependencies. These would work if installing via a .deb in an isolated environment is acceptable, but would limit the abilit

[2015-07-15 14:19] cowlicks commented on #412
Thanks @rholder this is great feedback.

[2015-07-15 21:12] jcrist commented on #349
With #403 in, I think this can be closed.

[2015-07-15 21:15] jcrist commented on #326
I'm going to close this, as the parallel reads aren't a problem with dask, but with netCDF4/h5py.

[2015-07-15 21:15] #326 closed

[2015-07-15 23:09] jcrist commented on #411
With some modifications to the above, I was able to produce the following:

[code]

In general, I don't like this - too much magic. But it's doable if desired.

[2015-07-15 23:14] jcrist commented on #411
Also, if sum *isn't* delayed, you get a really interesting graph showing how python would unroll all the sum loops. Which was fun to see, but shows how much a danger doing this in a magical way can be. Better to be explicit than implicit.

[2015-07-15 23:15] mrocklin commented on #411
I'm happy closing this for now.  Lets use `dask.imperative` for a while and see how it feels.

[2015-07-15 23:45] #411 closed

[2015-07-16 19:10] JDWarner opened #429 "Results are not correctly written to `out` in dask.array functions"
Many NumPy functions allow an optional arg/kwarg `out` for results to be written into. When this feature is used in `dask.array`, the result returned by the function is correct but the dask array passed to `out` does not contain correct values.

I've tested and confirmed this for `da.maximum`, `da.minimum`, `da.cos`, and `da.sin` after which I decided it was likely a general problem.

Minimal exam

[2015-07-16 19:17] mrocklin commented on #429
Support for `out` is indeed lacking.  It's unfortunate that this didn't err.  Many `dask.array` functions accept `kwargs` and so silently fail in cases like this.

There are two solutions

1.  Support out parameters
2.  Improve handling of keyword arguments

I think that the choice between these two depends on whether or not out-parameters are valuable enough to warrant the extra maintenance costs

[2015-07-16 19:23] JDWarner commented on #429
I'll freely acknowledge that `out` is essentially irrelevant for efficiency _when using Dask_.

The reason I ran into this is because I've been making a proof-of-concept showing it's possible to support Dask arrays and NumPy arrays on a shared codebase in scikit-image. Our algorithms not infrequently use `out` to improve efficiency for NumPy, and since the option seemed to be understood I used it.

[2015-07-16 19:38] mrocklin commented on #429
In #430 dask.array now raises more informative errors when this happens in the common case..

[2015-07-16 21:22] jcrist commented on #413
I wrote something up, but I'm not sure if it's a good solution. Best way is to show some examples.

[code]
![mydask](https://cloud.githubusercontent.com/assets/2783717/8735496/c7c836b4-2bd6-11e5-9f41-2fff41dec2c4.png)

[2015-07-16 21:45] mrocklin commented on #413
I agree with you that the length of the label disrupts the visual effect of the dot graph.  It's fairly easy to fix that though with the following within dot

[code]

For profiling though we can probably skip that curtailment.

Thoughts on moving the paren to the right side of the function call?

[2015-07-16 21:49] shoyer commented on #413
What about adding line breaks to the labels in the dot graph?

[2015-07-16 21:54] jcrist commented on #413
I don't like that fix, that could result in truncated function names, missing close parens, etc... I'd prefer to just display the name of the top-level function for the task for the graph. Perhaps if there's nesting, something like `(foo, (...))` could work. For profiling though, I think this is good.

Could be done. I did it this way to match the internals of dask. No strong opinions here.

I'm a

[2015-07-17 00:31] gabrielelanaro opened #431 "Implementing np.histogram equivalent"
Hi, I would like to have some input on how to implement histogram (binning) using dask. It should be possible to do this in parallel, using the following steps:

1) determine bins (user-provided, or using max/min)
2) for each block, make a local histogram
3) sum the local histograms (for example with np.histogram) to obtain the final histogram
4) optionally normalize

Would a strategy like this be

[2015-07-17 00:38] #429 closed

[2015-07-17 00:43] mrocklin commented on #431
Hi @gabrielelanaro !

What you suggest is definitely doable in the case of user-provided bins.  I'd be happy to add this if it's valuable for you or to help you add it if you wanted to play around with the library.  The min/max solution would also work but would probably require an extra pass and so might be significantly more expensive depending on the context.

A good alternative parallel algori

[2015-07-17 01:16] mrocklin commented on #431
If you're interested in trying this out yourself I've written this doc that should give some basic pointers to start.  I would also welcome feedback on where that document is confusing or how it could better explain this process.

https://github.com/ContinuumIO/dask/pull/432/files

[2015-07-17 02:15] gabrielelanaro commented on #431
Thanks so much! Yes I'll try to implement it myself and I'll get back here when I get stuck or for  questions. The document is in fact very helpful, earlier I tried to look at the https://github.com/ContinuumIO/dask/blob/master/dask/array/reductions.py#L16 module, but I didn't understand much on first sight.

[2015-07-17 02:19] mrocklin commented on #431
There are some internal functions, like `atop`, that one can use to build these things more easily once you get used to them.  They're somewhat advanced technology though.  For cases like `np.histogram` building dictionaries by hand is probably more direct and also more educational.

Please ask for help if you get stuck.  I'm currently thinking about how to make this process easier for new develop

[2015-07-17 06:20] gabrielelanaro commented on #431
@mrocklin hi implemented a first, very very simple version that takes as input a flattened Array and performs the operations metioned above.

    tokens = iter(['1', '2', '3', '4', '5', '6'])
    def hist(v, bins):
        nchunks = len(v.chunks[0])

        name1 = 'hist_' + next(tokens)
        # Map the histogram to all bins
        chunks = ((1,) * nchunks, (len(bins),))

        def block_his

[2015-07-17 07:01] jhamman opened #433 "Slicing with lists in multiple axes"
From the From the [dask docs](http://dask.pydata.org/en/latest/slicing.html):

Here's that issue.

My use case is for point-wise indexing in xray: https://github.com/xray/xray/issues/475

A simple use case using dask arrays:
[code]
currently raises this error:
[code]

cc @shoyer

[2015-07-17 14:05] jakirkham opened #435 "DOC: Broken links in distributed docs"
Links to "here" occur twice on the same page resulting in neither link working ( http://dask.pydata.org/en/latest/distributed.html#known-limitations ).

[2015-07-17 14:17] mrocklin commented on #431
Thanks for the detailed feedback @gabrielelanaro .  I've responded to some of it in https://github.com/ContinuumIO/dask/pull/436

For n-dimensionally arrays I recommend getting a flat sequence of all input keys with the following

    dask.core.flatten(v._keys())

And then do what you're doing now.

In general your implementation seems pretty good to me.  Please let me know if there are things tha

[2015-07-17 14:20] #435 closed

[2015-07-17 14:23] mrocklin commented on #433
Am I correct in assuming that in this case you'd like the shape of the output to be `(3,)` and not `(3, 3)`?

[2015-07-17 14:24] mrocklin commented on #433
And if so is it important to you that this be the default array slicing syntax or are you ok with some other custom method?

[2015-07-17 14:27] mrocklin commented on #413
I see truncated function names and missing close parens as less bad than completely missing function names.  Often for nested tasks the important function is actually fairly deep within the task and the top-level function is somewhat irrelevant (e.g. `list`).  A `...` makes it somewhat unambiguous that there is more than what we see.  Leaving just the top-level doesn't give that impression.  I've

[2015-07-17 14:30] jhamman commented on #433
Correct.  I'm looking for the default numpy slicing *behavior*, how we get there is up for discussion.  My preference would be to use the numpy slicing syntax, but could use a `take` method of some kind if that is substantially easier.

[2015-07-17 14:31] mrocklin commented on #433
They're both the same level of difficulty to accomplish.  I mostly want to avoid locking dask into one behavior or the other for as long as possible.

[2015-07-17 14:52] jakirkham opened #438 "Using `get` with a cluster"
So, I have just looked over the cluster documentation. I am trying to implement something simple. For instance, say I have a `dask.array` (`a`) that I would like to take the max over one dimension (e.g. the `0`-th), which can be done simply to give me a new `dask.array` (`am`). Normally, if I want to get this value, I could allocate an array and store it. In the case of a dask client, I am not sur

[2015-07-17 14:58] mrocklin commented on #438
If you call `.compute(get=myclient.get)` on an array then the result will be sent back from the workers to the client.

[code]

If you want to store the result to something like an HDF5 file then all of the workers must have access to that thing, presumably through some network file system.  This is a bit tricky because each worker will have to open the HDF5 file on their own (h5py.datasets aren't

[2015-07-17 15:03] jakirkham commented on #438
Ah, ok. Thanks for clarifying.

Is this assuming that one has Parallel HDF5 then?

Indeed. So, if the `dask.array` was using `h5py.Dataset` to read from, would this also cause issues?

[2015-07-17 15:27] jakirkham commented on #438
Another thought on this. Maybe you could have something like, but admittedly not the same as, iPython's `%px`/`%%px` where it runs the same command on all engines. As you can't really use cell magics, maybe a `with` block would be an option.

[2015-07-17 16:16] shoyer commented on #433
NumPy has been discussing adding `vindex` and `oindex` attributes for explicit vectorized vs. outer/orthogonal indexing (see @seberg's [NEP](https://gist.github.com/seberg/976373b6a2b7c4188591) and [PR](https://github.com/numpy/numpy/pull/6075)).

I suggest that dask should follow NumPy's lead here, and consider implementing both attributes -- even if it will only support a limited subset of vecto

[2015-07-17 16:20] mrocklin commented on #433
OK, I've implemented this (I think) in #439 .  It could use a better name.  Happy to use `vindex` if that's best.  Feedback welcome.

[2015-07-17 16:23] mrocklin commented on #438
I would expect `from_array(h5py.File(...)['/data'])` to fail in a parallel setting where the dataset needed to be communicated across a wire.  I'm surprised that this doesn't fail for you.

I'm not sure exactly how safe HDF5 is in parallel.  My guess is that it's decently safe for reads even if not compiled specially.

[2015-07-17 16:40] jakirkham commented on #438
Never mind, I was doing something wrong. It doesn't seem to work. However, it doesn't explicitly fail, but just hangs.

Yes, reads are perfectly fine in parallel, but writes are not. I was musing more over the problem of how to store to HDF5 when running in the distributed mode.

[2015-07-17 16:50] jcrist commented on #413
Agree with the above, I just thought we should truncate at a nice break, rather than mid-string. Here's what I have now (just for graphs, profiling will use whole version). Prints top-level function if there are no sub-tasks, otherwise prints top-level function with closed parens around `...`. I think this is a good mix of succinctness and clarity when there are sub-tasks.

![mydask](https://cloud

[2015-07-17 16:55] mrocklin commented on #438
Hrm, so how would you normally solve this problem in practice without `dask`?  Parallel HDF5?  Some other solution?

[2015-07-17 17:09] jakirkham commented on #438
Which part?

If you are referring to reading, I bet serializing the filename and dataset name would be sufficient and then a file can be opened in read mode on the engines. However, I am sure you already thought about this. :)

Regarding the second, there are a few ways.

One is Parallel HDF5. However, this requires MPI and a special build of HDF5 and h5py. This could be a way to go. So, it could

[2015-07-17 17:11] jakirkham commented on #438
IMHO, the last case (having each process write to a file is easy, safe, reasonably scalable, and will work without adding more dependencies) is probably best.

[2015-07-17 18:07] gabrielelanaro commented on #431
@mrocklin reference docs looks good so far. Also, I had no problems with the extension of the implementation using v._keys() .

Would this function belong to the dask library? If so I can make a PR after making a proper implementation (better mimic numpy + tests + docs). If not, we may consider this issue resolved.

[2015-07-17 18:12] mrocklin commented on #413
This seems better than what was around before.  So +1 for now.

I wonder if we should rotate the graphs to be left-right or if we could use ellipses rather than circles to avoid size blowup

[2015-07-17 18:13] mrocklin commented on #431
Yes, this would be very good to have within dask.array.

The main extra point I would want to see would be good error messages when users try to use parts of the `np.histogram` interface that this doesn't implement.  Ideally those error messages point them to correct behavior.

[2015-07-17 18:16] mrocklin commented on #413
Thoughts on the lambda printing?

[2015-07-17 18:39] jakirkham commented on #438
How does serialization of arrays to the engines currently work? Does the scheduler serialize the whole array or does it simply hook up some sort of connection between the client and relevant engines?

[2015-07-17 19:28] jcrist commented on #413
I think just printing `<lambda>` is the best we can do. The reason the profiler looks weird is because bokeh fails to properly escape html for the hovers, but this can be worked around by using a custom hover for now.

[2015-07-17 22:22] jcrist commented on #371
We decided to table this for now due to appveyor speed issues. See #383 for reference. Closing.

[2015-07-17 23:01] shoyer commented on #371
Hmm. Xray builds with Appveyor seem to have gotten pretty fast, recently. I wonder if this is just a matter of when Appveyor switches you over to the new infrastructure.

[2015-07-18 05:09] mrocklin commented on #438
The graph moves from the client to the scheduler, the scheduler moves tasks of the graph to the workers as necessary.  When workers require intermediate results from each other then they communicate peer-to-peer.

Ideally the graph itself is relatively small and does not hold large data like arrays, but instead holds functions that say how to get an array (e.g. by loading from a network file syste

[2015-07-18 12:04] TomAugspurger opened #442 "BUG / DOC: DataFrame.value_counts doesn't sort the result, docstring says it does"
This is dask `0.6.0`.

[code]

I was surprised when it *did* say the results would be sorted (by default).

[code]

Not sure if this is a problem with the docstring or the implementation. A couple other things that may help track this down. It seems to be sorting the index (same thing on a larger example), and it raises a `TypeError` when you pass in sort.

[code]

[2015-07-18 15:06] mrocklin commented on #442
We just stole the docstring from Pandas.  I wasn't personally aware of this aspect of `value_counts` though and the tests were blind to it.  Community feedback/review like this is really valuable on things like this.

Fixed in #443

[2015-07-18 15:54] cowlicks commented on #417
@shoyer from your description I would propose:
 given final chunk size  `n = final_chunk.size`, and the array has `ndim` number of dimensions. Then the intermediate chunks can be square, where each dimension's length is the *ndim*th root of *n*. Like `intermediate_chunk = (floor(n**(1./ndim)),) * ndim`

But I'm not familiar enough with the rechunking internals to know if this is too naive.

[2015-07-18 15:55] cowlicks commented on #406
@mrocklin ping

[2015-07-18 15:59] mrocklin commented on #406
@cpcloud did this problem magically go away?

[2015-07-18 16:37] TomAugspurger commented on #442
I was confused when `dd.A.value_counts?` actually pointed back to `pandas/core/base.py`. Makes sense now.

I'll keep toying with `dask.dataframe` :+1:

[2015-07-18 16:56] #442 closed

[2015-07-18 17:59] cowlicks commented on #405
In Cooley-Tukey you "chunk" an FFT of `n` samples into an multiple FFTs of `n1`, `n2`, `n2`, ... samples. Where these `n`s are the prime factors of the original `n`. These chunks can be computed in parallel.

The first problem I notice, is that these are not "chunks" in the dask array sense, they are not contiguous, but cyclic.

A few use cases I can think of:

* The input data fits comfortably in

[2015-07-19 00:14] shoyer commented on #417
If you do the rechunking repeatedly, each time scaling the longer chunk axis by a factor of two, you can get the number of intermediate chunks created down to O(n log(n)). OTOH, I have no idea how this scales in practice.

[2015-07-19 00:34] cowlicks commented on #417
@shoyer I'm not sure I understand. Could you give an example?

[2015-07-19 01:35] shoyer commented on #417
Again, suppose you have an n x n array completely chunked along one axis with chunks of size (n, 1). In the first chunking operation, create chunks of size (n/2, 2). This involves 2n intermediate arrays. Then repeat the process log(n) times, and you have your final desired chunk size of (1, n).

.

On the plus side, this involves only O(n log(n)) tasks. But you also created O(log(n)) temporary cop

[2015-07-19 20:43] tkelman commented on #174
1. Anything where the interactions are not all-to-all, and the problem size is large enough that taking that structure into account matters for performance. Linear and nonlinear optimization, finite element and CFD calculations, many others.

2. Most commonly in CSR or CSC. Sometimes COO, or diagonal or banded or skyline or block and/or distributed versions of these. Ref http://netlib.org/linalg/h

[2015-07-20 03:18] shoyer commented on #417
I did a few benchmarks my machine:
http://nbviewer.ipython.org/gist/shoyer/425cb3dc9101c235fe86

For 1024 x 1024 arrays, I get a 15x speedup using one intermediate rechunking, and a 30x speedup using 3 intermediates -- bringing the calculation down from 4 minutes to 7 seconds. So it looks like a pretty clear win.

[2015-07-20 03:27] freeman-lab commented on #417
This is very cool @shoyer ! The size estimation we've done for this kind of chunking has been more about optimizing for axis swaps in large shuffles, and in that case chunks of approximately 100-150mb have empirically proven optimal, in that smaller chunks are slower (due to increased shuffle complexity) and larger chunks run into memory issues.

The optimal sizes here clearly have different const

[2015-07-20 03:31] shoyer commented on #417
@freeman-lab Do you guys use multiple intermediates in axis swaps or just one?

[2015-07-20 03:38] freeman-lab commented on #417
@shoyer just one... at least in Spark I'm fairly certain the time incurred just from processing the additional shuffles would outweigh any other gains, but I don't have hard numbers.

Btw, we've just about finished moving all the custom chunking logic into Bolt (https://github.com/bolt-project/bolt/pull/67), if you want to check out more of the details there.

[2015-07-20 04:42] mrocklin commented on #417
@shoyer how do these speeds compare to just throwing the array into an empty 1024x1024 numpy array and then pulling an array with different chunks back out?  How would your benchmarks change with an array that didn't fit in memory?  Are the current scheduling routines smart enough to manage a reshuffle like this without filling up the cache and writing back to disk?

[2015-07-20 04:47] mrocklin commented on #419
Closing this for now.  Using lists is sufficient for the other cases if you explicitly wrap them with calls to the collection, e.g. `(tuple, [1, 2, 3])`.  I like the idea of a quote function that explicitly creates these things, e.g.

    (tuple, [1, 2, 3])

[2015-07-20 04:47] #419 closed

[2015-07-20 05:06] shoyer commented on #417
I'm not quite sure what you're getting at here -- I think we can safely presume that creating the 1024x1024 numpy array directly would be far, far faster.

It takes 53 seconds merely to compute the *graph* to do the naive rechunking, before any of the values are computed. Naive rechunking will be entirely unworkable for arrays that don't fit in memory.

My sense is that doing a full rechunking wil

[2015-07-20 15:33] mrocklin commented on #417
In the single machine case if this requires spilling to disk and if creating the temporary explicitly is faster then maybe the optimal approach is to explicitly store the result into a shared array and then pull out from it again.

[2015-07-20 18:44] venabled opened #445 "KeyError when using da.map_blocks to reduce a dimension"
When using a mapping function that reduces a dimension of the array, dask throws a key error indicating that one of the nodes in the graph is not available.

I ran into this when trying to convert an (m,n,3) RGB nd-array to a (m,n) grayscale array using skimage. @shoyer suggested a simple example to rule out skimage doing anything, so I used the following code example:

[code]

And dask throws a k

[2015-07-20 18:48] venabled commented on #445
FYI, I was able to accomplish conversion to grayscale using this workflow:

[code]

[2015-07-20 18:48] mrocklin commented on #445
This also came back in https://github.com/ContinuumIO/dask/issues/263

This can be tricky to get right but is generally doable given enough time.

Alternatively we could establish a policy around `map_blocks` that the mapped function must maintain the same dimensionality as the input and improve error messaging suggesting the use of introducing empty dimensions in the mapped function, e.g.

    re

[2015-07-20 18:51] venabled commented on #445
@mrocklin I'm fine with a policy right now. I agree with @shoyer and your assessment that labeled axes probably makes this easier.

[2015-07-20 20:02] #413 closed

[2015-07-20 23:14] mrocklin commented on #329
Hrm, this is also relevant with `dask.bag.to_dataframe`.  Where we might want to wrap every task with `run_in_process`.

[2015-07-20 23:41] gabrielelanaro commented on #431
I've been working on an implementation, I have a few questions:

1) I added the code and tests to the wrap module (because it sort of wraps the np.histogram code), let me know if this function belong to somewhere else.
2) I'm implementing the 'weights' feature. Weights is an array that has the same block structure as the input array, and we have to call numpy.histogram on the matching chunks. The

[2015-07-21 01:16] mrocklin commented on #431
Assuming that the two arrays have the same block structure then yes, `flatten` on `_keys` will work appropriately.  Further comments on the PR itself.

[2015-07-21 16:42] venabled opened #451 "da.to_hdf5() fails when array is not evenly divisible by chunk size"
When a dask.array has some chunks not equal to the requested chunk/block size, dumping this array to hdf5 using da.to_hdf5 throws: ```TypeError:  Exception in remote process```. In my example, I have an array with requested chunk shape (250, 250), and the last chunk has size (250, 125).

If I ask for the result using da.compute(), it returns the correct result, so it must just be an assumption in

[2015-07-21 16:45] mrocklin commented on #451
Hrm, can you run this sequentially and provide the full traceback

[code]

This will help to identify from where the problem originated.

[2015-07-21 17:10] venabled commented on #451
Actually this is an error on my end. I miscalculated the chunk size returned from my mapper, so the actual chunks returned by the final computation weren't the correct size. Closing.

[2015-07-21 17:10] #451 closed

[2015-07-21 17:11] mrocklin commented on #451
Ah, I see.

I'm curious how we could help handle `chunks` with `map_blocks` for users.  It's hard to specify chunks exactly with uneven chunksizes.  This feels somewhat brittle.

[2015-07-21 18:41] shoyer opened #452 "dask.array indexing bug with slicing with small chunk size on large arrays"
[code]

[2015-07-21 18:58] mrocklin commented on #452
That is indeed odd.  Checking it out now

[2015-07-21 19:01] mrocklin commented on #452
Perhaps more telling

[code]

[2015-07-21 20:01] shoyer commented on #452
Secondary indexing is not even necessary:
[code]

[2015-07-21 20:02] mrocklin commented on #452
Whoa, that's bizarre

[2015-07-21 20:09] mrocklin commented on #452
I think I've tracked this down to how dicts order keys.  We weren't calling `sorted` when we should have been.

[2015-07-21 20:27] #452 closed

[2015-07-21 20:38] gabrielelanaro commented on #431
Closing this as it is now merged

[2015-07-21 20:38] #431 closed

[2015-07-21 21:18] rea725 opened #455 "Add to_csv() method to dask/dataframe/io.py"
Wondering if to_csv() pandas wrapper could be added, much like what was already done with read_csv().  We'd be happy to test it :)

[2015-07-21 21:20] mrocklin commented on #455
Would the desired output be a single CSV file or a collection of CSV files?  If a collection then what is the best way to specify the naming scheme?

[2015-07-21 21:25] rea725 commented on #455
I think the default should be a single file, just to replicate pandas directly.  I hadn't contemplated the collection output, but could see its applicability.  I'm not sure I can recommend a preferred way to specify a naming scheme, other than to find some other similar naming convention from another package with significant adoption.

[2015-07-21 21:26] rea725 commented on #455
Actually,  I think maybe an optional chunksize argument could be specified, and if the output exceeds the chunksize, just use an auto-increment.

[2015-07-21 21:59] mrocklin commented on #455
Fixed in the simple one file case in https://github.com/ContinuumIO/dask/pull/458 .

[2015-07-21 22:00] mrocklin commented on #455
For chunking we do something similar already in dask.bag.  The user either provides a list of filenames, or a filename with a `*` in it and a function that expects an increment and we use that to generate text that gets inserted into the `*` placeholder.

There is already a natural place at which to chunk (dataframes are themselves chunked).

I hope to wait on writing to collections of csvs until

[2015-07-21 22:56] shoyer commented on #455
I would something sort of similar to this for saving netCDFs in xray:
http://xray.readthedocs.org/en/stable/generated/xray.save_mfdataset.html#xray.save_mfdataset

[2015-07-21 23:25] mrocklin opened #459 "Separate dask.distributed"
Dask.distributed requires more maintenance than most dask submodules.  We may be at the point where it is worth separating it.

[2015-07-22 00:53] #455 closed

[2015-07-22 02:27] llllllllll opened #462 "Invalid magics in dask.imperitive.Value"
[code]

You are setting these to `operator.inv`, `operator.concat` and `operator.not_`; however, `inv` is an alias for `invert` and the magic is already defined. `concat` is an alias for `add` that is more readable for lists and collections. Also, `not_` cannot be overridden with a function, `__not__` is not called.

If you are using these names internally then I apologize; however, I would urge y

[2015-07-22 04:43] jcrist commented on #462
I literally just copied all of these that seemed valid over from [the operator docs](https://docs.python.org/2/library/operator.html), but definitely haven't try all of them. You are correct about all 3, will fix. Thanks!

[2015-07-22 05:04] #462 closed

[2015-07-22 05:24] llllllllll commented on #462
Sorry I didn't catch the rest sooner; however, I just looked back at my last python implementation of thunk and found some more magics. These might not all make sense, but at least the math ones sort of do.

[code]

Here was the class I was talking about: https://github.com/llllllllll/lazy_python/blob/047db06b67c46feb3e3cf7c8b37326c77c8d0177/lazy/thunk.py#L87 This is a really old version; however,

[2015-07-22 14:36] mrocklin commented on #319
Fixed by https://github.com/ContinuumIO/dask/pull/360

[2015-07-22 14:36] #319 closed

[2015-07-22 23:36] mrocklin opened #469 "dask.dataframe quantile should take values in [0, 1]"
Currently we take values in [0, 100].  This is the convention in NumPy.  Pandas uses a different convention.

cc @TomAugspurger

[2015-07-22 23:48] shoyer opened #470 "dask.array indexing with Ellipsis (...) broken"
[code]

[2015-07-23 00:39] #470 closed

[2015-07-24 20:33] StuartAxelOwen opened #472 "`bag.map(str)` fails in Python 3.4"
`' '.join(bag.from_sequence(range(4)).map(str))` should yield `0 1 2 3`, but instead fails in function application.  This seems to be caused by `dask.bag.core.takes_multiple_arguments`, which asserts that `str` takes multiple arguments (which it can), causing `dask.compatibility.apply` to attempt to use *args, when args is potentially not a list.

This isn't a problem in Python 2, as `inspect.geta

[2015-07-24 20:37] StuartAxelOwen commented on #472
This is also a problem for classes, and particularly classes inheriting from `object`, as the argspec for their __init__ function is `ArgSpec(args=['self'], varargs='args', keywords='kwargs', defaults=None)`

[2015-07-24 21:00] mrocklin commented on #472
Yes, that seems like a genuine issue and a good synopsis.  I can take a look at this early tomorrow.

[2015-07-24 21:07] mrocklin commented on #472
(That is if, of course, someone doesn't beat me to it :))

[2015-07-24 21:12] StuartAxelOwen commented on #472
Pull request doesn't completely solve the problem - I'm not sure how we can correctly get the argspec for `object`-based classes, but fixes it for other cases.

[2015-07-24 23:00] StuartAxelOwen commented on #472
We could potentially just check function membership in a set of builtins known to be single arity, which does better than the previous attempt I took - but that still doesn't solve the "inherits from object" problem.

[2015-07-25 00:04] StuartAxelOwen commented on #472
Okay, was probably drunk - using `inspect.getargspec` works for classes inheriting from `object`, I'll have update the PR and reopen it.

[2015-07-25 00:24] mattayes opened #474 "df.query() method for dask.dataframe"
[Method](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.query.html)

Thanks!

[2015-07-25 05:06] mrocklin commented on #474
Fixed in #475

[2015-07-25 14:20] leouieda opened #476 "Solving linear systems with symmetric positive definite matrices"
I do a lot of work with linear and non-linear least squares problems that involve large matrices. Fortunately these matrices are almost always symmetric positive definite, so there are ways of doing it more efficiently by exploring that's symmetry. It would be great be able to do this out-of-core. This would enable the whole process to be done streaming with dask arrays.

 I'm not an expert in lin

[2015-07-25 15:05] mrocklin commented on #476
What functions for combinations of functions do you use now within `numpy/scipy`?  Can you provide a small example with fake/artifiicial data and an expected result?

[2015-07-25 16:18] TomAugspurger commented on #469
In pandas it's also quantile not quantiles.

[2015-07-25 18:45] limx0 commented on #418
+1 would love to have a df.apply(axis=0)

[2015-07-25 19:14] gforsyth opened #477 "Can only specify boundary conditions per-axis with `ghost.ghost`"
As asked on [SO](http://stackoverflow.com/questions/31616830/individual-dask-array-boundaries-with-ghosting/31617671)

The current `ghost.ghost` function allows specifying a few different types of B.C. but they're always the same for both y-boundaries and both x-boundaries.  This makes perfect sense for periodic boundaries, but less so for Dirichlet boundaries.

As @mrocklin commented, `ghost.ghos

[2015-07-26 16:36] jrmontag opened #478 "Multiprocessing RuntimeError ('cannot join current thread')"
I'm observing a dask bag creation error where it seems that the dask task appears to run and finish correctly, but the multiprocessing code returns the following exception:

``Exception RuntimeError: RuntimeError('cannot join current thread',) in <Finalize object, dead> ignored``

This is running Python 2.7.3 in IPython 2.2.0 on a Ubuntu 12.04.5 LTS server. Let me know what other useful informatio

[2015-07-26 17:16] TomAugspurger opened #480 "BUG: DataFrames with integer column names"
Can't use getitem on integer column labels.

[code]

link to pandas `__getitem__` overview:https://github.com/pydata/pandas/issues/9595

[2015-07-26 17:20] TomAugspurger commented on #480
FWIW, I don't think dask should do any fallback indexing when given an integer, i.e. don't support this

[code]

[2015-07-26 17:40] mrocklin opened #481 "Add note on bolt/thunder to dask documentation"
see https://github.com/bolt-project/bolt/pull/70

[2015-07-27 14:28] leouieda commented on #476
@mrocklin usually only `dot` and `solve`. Sometimes I need to extract the diagonal of a matrix, but that as be done easily through fancy indexing. Only thing missing really is `solve`. I'll try to come up with a simple example and post a link here.

[2015-07-27 15:11] cowlicks commented on #476
My first naive approach to `solve` would be for some system of `n` equations with `n` variables. You would have a matrix equation like `A = Ib` where `A`, and `I` are `n x n` matrices, `b` is a vector of length `n`. You could do something like:
[code]
Does that sound right?

[2015-07-27 15:40] jcrist commented on #472
Another solution would be to remove the magic in `map`, in favor of `map` and `starmap` (as itertools does it). This removes any need for introspection, is explicit, and is already a proven interface.

[2015-07-27 15:55] StuartAxelOwen commented on #472
I like that suggestion - introspection here creates a lot of corner cases where `map` can get it wrong and the user would have no recourse. Also, the zen of Python seems pretty specific here:

[2015-07-27 15:59] mrocklin commented on #476
We would probably want to find a stable blocked algorithm for blocked cholesky decomposition

[2015-07-27 16:12] mrocklin commented on #476
My expertise here is limited.  This probably requires doing a bit of research first.

[2015-07-27 16:39] mrocklin commented on #478
I can reproduce this by using Python 2.7.3 as follows:

[code]

[code]

Although this doesn't seem to be a problem in recent versions of Python 2.7.  I'm not yet sure how we should handle bugs in older Python versions.

[2015-07-27 17:07] leouieda commented on #476
@cowlicks the SVD solution might work but it's not very efficient if you want an exact solution.

@mrocklin Cholesky would be great. I'll do some digging around to see if I can find any references for this. A conjugate gradient might also be good for an approximate solution. It seems straight forward to implement and probably won't require custom building custom graphs.

[2015-07-27 21:06] StuartAxelOwen commented on #418
IMO, pandas' `DataFrame.apply` does not apply, it maps - and even then the default of `axis=1` is confusing.   I think adding both would help - you could use `DataFrame.map` to do it the correct way, and `DataFrame.apply` to keep compatibility with pandas and reduce migration costs for existing codebases.

[2015-07-27 21:22] StuartAxelOwen opened #484 "Increase dask.Bag extendibility"
`dask.Bag` is a beautiful thing - it allows for method chaining and stream processing while decoupling program execution from just Python iterators.  In my eyes, it creates a wonderful interface to add more specific or niche tools, much like the `numpy.array`.  There is just one thing standing in the way!

Ideally, to build on top of `dask.Bag` you would only need to extend it:

[code]

And go alo

[2015-07-27 21:26] StuartAxelOwen commented on #484
You can find an example of using this technique in [DataStreams](https://github.com/StuartAxelOwen/datastreams/blob/master/datastreams/dictstreams.py), which was a similar method chaining/stream processing library.  The linked class is a DictStream - which thanks to the above technique, only required a tenth of the methods to be defined, and still allowed full utilization of the core library featu

[2015-07-27 21:30] mrocklin commented on #484
I agree that it would be good to take steps to enable others others to extend dask.bag.  Adding a `_bag` method as described above seems reasonable.  Using `type(self)(dsk, name, npartitions)` might work as well.  In either case we're limited to the interface of the constructor.

I would only want to do this if there were `Bag` subclasses around the corner.  Is this your intention @StuartAxelOwen

[2015-07-27 21:32] StuartAxelOwen commented on #484
It certainly is - I'm working on something that uses `Bag` as its base, and I'd prefer not to maintain a fork of `dask` just for that :stuck_out_tongue:

I'd be happy to submit a PR.

[2015-07-27 21:40] mrocklin commented on #484
Such a PR would be welcome.

I have a very slight preference to use `type(self)` over a `_bag` method.

[2015-07-27 21:48] mrocklin commented on #472
I would be comfortable removing the guesswork if people think that that's best.  The one concern I have is that Python 3 no longer supports argument unpacking in lambda signatures

[code]

In cases where we unambiguously have multiple arguments and all of them must be used (multiple non-variadic args) then I think it might still be useful to maintain this convenience.

[2015-07-27 21:56] jcrist commented on #472
I don't see how that can't be done with `starmap`.

`map(f, itbl) -> [f(i) for i in itbl]`
`starmap(f, itbl)` -> [f(*args) for args in itbl]`

If the magic is removed from `map`, starmap simply becomes the following:

[code]

In this way, it's up to the user to know if they want to splat the args in the bag into the function or not.

[2015-07-27 22:01] mrocklin commented on #472
I've found that the number of users who know about `map` vastly outweigh the number of users who know about `starmap`.

My suggestion would be that we respect Stuart's zen of Python quote

And only use `apply` when it is unambiguously the user's intent as in the case of `lambda a, b: ...`

[2015-07-27 22:02] #469 closed

[2015-07-27 22:11] jcrist commented on #472
Saying "many users don't know about it, so we shouldn't implement it"  seems like a bad philosophy to me - good docs and examples would be a solution to that. This also breaks compatibility with python's `map` api, which I think is how people would expect it to work. It's definitely how I expected it to work, I didn't even know we supported magic splatting.

I really prefer the explicitness of say

[2015-07-27 22:12] StuartAxelOwen commented on #472
Would it make sense to add an optional `star` arg to `map`, to allow the user to be explicit in what they want?  This would help the "no one knows about starmap" problem, and allow the user to be explicit.

[2015-07-27 23:18] mrocklin commented on #472
I've used dask.bag extensively and have found the auto-splatting to be really convenient, especially when in Python 3.  I've tried to push `starmap` in other projects before and my experience is that the `starmap` abstraction is virtually unknown.  While I appreciate that we have the ability to push a bit on people's knowledge of abstractions this ability is *very very slight*, happens slowly, and

[2015-07-28 15:50] mrocklin opened #487 "Rolling operations on dask.dataframe"
This probably requires a simpler version of `da.ghost`

http://pandas.pydata.org/pandas-docs/stable/computation.html#moving-rolling-statistics-moments

[2015-07-28 16:10] mrocklin commented on #484
Closing this due to #484

[2015-07-28 16:10] #484 closed

[2015-07-28 20:18] dataisle opened #488 "Caching option for dask.DataFrame"
As part of the analytical monitoring related workflow, we find querying the same type of data over and over again and there is currently no way to persist the dataframes in-memory for a near-realtime and interactive analysis.  This may also lead into  "aggressive caching" bit that i know @mrocklin is interested in solving for as well.

[2015-07-28 20:34] mrocklin commented on #488
For single node operation the solution is to back a dask.dataframe off of a pandas.dataframe in the following way.

    df = dd.from_pandas(df.compute(), npartition=10)

However from our talks I believe that @dataisle is more interested in the distributed memory case, where indeed no such solution exists.

This is more a question about the distributed scheduler and how we can choose to keep result

[2015-07-28 20:34] mrocklin commented on #488
cc @cowlicks, who has been thinking about distributed scheduling recently.

[2015-07-28 20:46] dataisle commented on #488
Thanks. Opportunistic caching seems like a really awesome end-state. i am in the middle of creating a computation setup with medium size data (around 60GB) using dask.distributed and i think i could potentially play around the scheduler API to let the workers know to cache a dataframe.

How are you thinking about the optimization that culls the precomputed elements of the graphs?

[2015-07-28 20:58] mrocklin commented on #488
It's in `dask.optimize.cull`

* [Docs](http://dask.pydata.org/en/latest/optimize.html)
* [Code](https://github.com/ContinuumIO/dask/blob/master/dask/optimize.py#L9-L33)

[2015-07-28 21:00] dataisle commented on #488
Cool. thanks.

[2015-07-28 21:00] mrocklin commented on #488
So when a scheduler [receives a graph from the client](https://github.com/ContinuumIO/dask/blob/master/dask/distributed/scheduler.py#L573) it can cull the graph based on the [keys found in the workers](https://github.com/ContinuumIO/dask/blob/master/dask/distributed/scheduler.py#L73-L76)

[2015-07-28 21:00] mrocklin commented on #488
I can find some time to do this tomorrow or maybe later this afternoon.

[2015-07-28 21:12] mrocklin commented on #488
Assuming you don't beat me too it that is :)

[2015-07-28 21:15] dataisle commented on #488
haha, i am quite slow, just started looking into the code base today.

[2015-07-29 17:05] #474 closed

[2015-07-29 17:28] mrocklin commented on #487
The relevant Pandas API is `pandas.rolling_*`

[code]

The solution is probably to make a new `dd.Series` with the same `name` and `divisions` where tasks for each partition depend on both the matching partition in the input and in the previous partition

    dsk[(s.name, i)] = (some_function, ..., (s.name, i), (s.name, i - 1))

There are corner cases that this doesn't hit, such as when the size o

[2015-07-29 17:33] cowlicks opened #491 "show imports in dask imperative docs"
Saying where and what to import to use dask imperative would be helpful.

[2015-07-29 20:02] mattayes commented on #474
Thanks!

[2015-07-29 21:49] #491 closed

[2015-07-29 22:20] jcrist commented on #395
"Realtime" profiling has turned out to be mildly problematic, in that we can't get the worker that ran the task until after the task completes (limitation of the thread/process pools). It could be plotted in a lagged version, but for long running tasks this would look odd. I'm also not sure how much value this brings.

The per-task-type progress bars could easily be done though.

[2015-07-29 22:30] jcrist commented on #397
I'm not sure if there's anything we can do for this. The user can always zoom in on the plot if they want more detail. A high level overview of parallelism would probably be covered by a different kind of plot.

At a high level, the data we have is (ignoring task data):
x = time
y = number of active workers at each timestep

Possible ways of plotting this include:
- A line graph (would be incredib

[2015-07-29 22:35] jcrist commented on #277
With the ocean slider demo that @mrocklin and @bryevdv worked up before SciPy, this (potentially) could be closed. Unless we wanted a different kind of demo using the data stored locally on disk.

[2015-07-29 22:38] #277 closed

[2015-07-30 15:57] mrocklin commented on #395
Lagging sounds good to me.  The real objective here is to give insight to people with long-running computations.  Perhaps we should find one of those people first.  The project that @cowlicks is working on right now might be a good example.  Also @shoyer might have some long running computations; we could ask him what he would like to see.

[2015-07-30 16:30] shoyer commented on #395
I'll give this a try today along with the progress bar. I have a long running task I'm running for which some transparency would be helpful.

[2015-07-30 18:08] shoyer opened #494 "Another dask.array bug with scalar arrays"
[code]

Arguably, the source of this bug is the fact that numpy turns 0d arrays into scalars after binary operations:
[code]

Unfortunately, dask still needs to work around this...

[2015-07-30 18:22] mrocklin commented on #494
Fixed in #495

[2015-07-30 18:22] mrocklin commented on #494
(cheaply/hackily)

[2015-07-30 18:26] shoyer commented on #494
What do you think about explicitly inserting calls to `np.array` into the dask task graph for binary operations on scalar arrays?

[2015-07-30 18:45] mrocklin commented on #494
I don't think that that was the problem here.  The results in these cases are often scalar arrays.  The problem was in the administrative code around numpy.

I may not understand the deeper problem though.  I'm not currently opposed to inserting calls to `np.array` if they're likely to help a decent class of problems.

[2015-07-30 18:47] shoyer commented on #494
You're right -- it looks like aggregation functions were entirely broken on 0d arrays, even if they aren't actually scalars:
[code]

[2015-07-30 19:02] mrocklin commented on #494
I treat this as a particular problem with the administrative functions that can be fixed after a few rounds of things like this issue.  Are you ok with this approach?  Also, can we merge #495 ?

[2015-07-30 19:16] shoyer commented on #494
Yep, I think this is fine. I might try to come up with some more comprehensive tests to proactively identify these issues.

[2015-07-30 19:21] mrocklin commented on #494
That would be good.

[2015-07-30 19:21] #494 closed

[2015-07-30 19:43] cpcloud opened #497 "Profiler fails with KeyError with dask.bag + dask.do"
Here's a snippet that reproduces the issue

[code]

I suspect this is related to using both thread and process based schedulers

[2015-07-30 19:45] mrocklin commented on #497
This is also fairly strange behavior.  You're wrapping one dask thing with another.

I suggest that dask calling dask is something of an anti-pattern.  You really want to merge graphs, not nest them.

[2015-07-30 19:47] cpcloud commented on #497
happy to chalk it up to user error, should i close?

[2015-07-30 19:48] mrocklin commented on #497
I'm curious what the behavior was that lead to this error.  The fact that you got to this state is an error in documentation.

[2015-07-30 19:58] jcrist commented on #497
The reason the profiler errors is because it's recording all computations in the dask, but then only working with the outermost dask. Definitely user error, not sure how we'd deal with this otherwise.

In the future I plan to make imperative play nice with the collections, so then doing it this way should work as you expected. Until then though we should update the docs to say not to mix collectio

[2015-07-31 03:31] StuartAxelOwen commented on #484
I'm getting the feeling that redoing the method chaining was only half the battle - the `Bag` constructors are currently all directly tied to the `Bag` type.  Currently the cost of just calling `OtherBag(*bag.from_sequence(things)._args)` is essentially nothing, but it is a possible point of divergence.  Assuming bag construction stays stable, this shouldn't be a problem... But something about it

[2015-07-31 04:30] mrocklin opened #500 "ProgressBar doesn't exit cleanly on error"
When call to get terminates abruptly due to an error in one of the tasks the progressbar continues counting off time.  Presumably we should call the finalize callback when we encounter an error.

[2015-07-31 14:31] jcrist commented on #500
Hmm, that is a problem. Calling `finish` on error seems wrong to me though, as there's no way to distinguish between an error and the actual end of task. I see three solutions to this:

- Add yet another callback to get called on errors. Could potentially call it `cleanup` or something, and have it called at the end as well. I imagine this taking no parameters.
- Handle this in the `__exit__` meth

[2015-07-31 14:36] mrocklin commented on #500
In current code is there anything that would break by calling `finish` on error?

[2015-07-31 14:39] jcrist commented on #500
None at all. I would want to add a parameter though to note whether it was a clean finish or not. Could be boolean, or include the traceback (thinking about it's uses, I think I'd actual prefer the parameter to be `clean_finish` or `errored`, and boolean).

[2015-07-31 14:40] mrocklin commented on #500
I trust your judgement here more than my own.

[2015-07-31 15:34] #500 closed

[2015-07-31 21:15] #487 closed

[2015-07-31 23:29] #433 closed

[2015-08-01 00:22] mrocklin opened #505 "Use meaningful tokens in dask.dataframe"
For caching to work well we need to use meaningful tokens in names.  This means replacing keys like

    ('read_csv-123', 3)

with

    ('read_csv-myfile.csv', 3)

Now anytime someone uses `read_csv('myfile.csv')` they should get mapped to the same set of keys.  Of course, this is overly simplistic because we also have to include information about keyword arguments and such.

Ideally we do this ev

[2015-08-03 02:20] StuartAxelOwen opened #511 "Strange behavior for dask.bag.fold"
Example:

`toolz.reduce`:
[code]

But now, with `bag.fold`:
[code]

Hmmm, maybe the params are switched for the reducer?

[code]

Nope... Seems like somewhere, somehow the params are being switched - perhaps when it goes from the combine to the actual reduction?  This passed tests because all `fold` tests used reducers in which parameter order doesn't matter.

[2015-08-03 02:53] StuartAxelOwen commented on #511
Ah, I see - when executing the dask, `fold` seems to expect a reducer type signature of `(a, a) -> a`, as reducer results are fed back into the reducer when no combine operation is provided.

[2015-08-03 03:11] StuartAxelOwen commented on #511
This looks like expected behavior - that would make it more of a documentation bug.

[2015-08-03 04:19] cowlicks commented on #412
The only dependencies not already packaged by debian are toolz, partd, and by extension locket. For now these can be bundled with dask. This is fairly cheap since they are pure python packages.

There is currently a [PR](https://github.com/pytoolz/toolz/pull/260) in toolz for creating a debian package. It could possibly be included in the debian repositories in the future.

[2015-08-03 20:36] TomAugspurger opened #517 "dataframe.index.nunique raises with TypeError"
[code]

That's a pandas error (from `pd.concact`). Just a report right now, haven't looked into it. I did see https://github.com/ContinuumIO/dask/pull/322 which implemented `nunique.`

[2015-08-03 21:20] #472 closed

[2015-08-04 15:05] mrocklin commented on #478
Given that this has been fixed in newer versions of Python and that it isn't a catastrophic failure (but mostly just a warning) I'm going to close this for now.  Please feel free to reopen if this ends up

[2015-08-04 15:05] #478 closed

[2015-08-04 15:07] mrocklin commented on #397
Closing for now.

[2015-08-04 15:07] #397 closed

[2015-08-04 15:10] mrocklin commented on #385
Sorry for the lateness in reply.

The `dask.dataframe.read_csv` guesses types based on the first thousand lines of the file.  If this isn't enough to get a clear picture of the dtypes involved you can increase the number of lines to sample with the following keyword argument:

    sample_nrows=10000

This will take a bit longer as we create the graph but might resolve the problem.  Explicitly prov

[2015-08-04 16:22] cowlicks commented on #517
So far I've tracked this down to `apply_concat_apply`. We are trying to use `pd.concat` to concatenate `index` objects. I'm looking the proper way to do this now.

[2015-08-04 16:43] TomAugspurger commented on #517
Again, sorry but I haven't looked at the code so I'm just guessing this would work. But something like this should work in this case:

[code]

Not quite a `concat` since it won't contain duplicates, but that doesn't matter in this case since we're going to `nunique` anyway.

[2015-08-04 21:09] mrocklin commented on #476
This might be an accessible read on this topic. https://math.berkeley.edu/~strain/128b.S15/van.de.geijn.cholesky.notes.pdf

[2015-08-04 21:15] #488 closed

[2015-08-04 21:23] #497 closed

[2015-08-04 21:29] #505 closed

[2015-08-05 03:18] bobhaffner commented on #385
Agreed. dtype arg is the way to go.  Appreciate the response

[2015-08-05 03:49] mrocklin commented on #385
I had starred this in my e-mail but it was swept away to the bowels of the second page before I looked at it again.  I only ran across this in a general sweep of dask issues.  If this happens again please ping or feel free to e-mail me directly.

Closing.

[2015-08-05 03:49] #385 closed

[2015-08-05 11:05] sinhrks opened #528 "SeriesGroupBy.nunique may output incorrect result"
[code]

[2015-08-05 14:47] #517 closed

[2015-08-05 21:16] #528 closed

[2015-08-06 00:27] mrocklin opened #531 "ProgressBar is not visible in the notebook"
The `ProgressBar` doesn't update itself during execution while in the notebook.  Afterwards the full bar will pop up but it doesn't give you any cues during execution.

[2015-08-06 00:28] mrocklin commented on #531
Here was my testing cell

[code]

[2015-08-06 01:13] jcrist commented on #531
Weird, it's because of the background thread. I specifically tested it in notebooks before originally pushing it. Commit 6d6fb216e works.

[2015-08-06 01:28] jcrist commented on #531
This explains it a bit more in detail: http://mail.scipy.org/pipermail/ipython-dev/2014-March/013614.html

If you add a call to `sys.stdout.flush()` in `f(x)`, then the progressbar updates after each function completion. This is because zmq sockets aren't threadsafe, so the output from the background thread is buffered until the kernel is idle. The call to `sys.stdout.flush()` clears that buffer.

[2015-08-06 02:50] mrocklin commented on #531
What about flushing within the post task callback?  This would hopefully be a noop in the console and would default to irregular printing in the notebook.

[2015-08-06 03:39] mrocklin opened #532 "Use dict rather than tuple for callbacks?"
A full callback set has four functions, `_start`, `_pretask`, `_posttask`, and `_finish`.  We represent them as a tuple with four functions in that order.

Thoughts on switching to a named entity rather than an ordered one?  Either a dict or namedtuple might be pleasant.  A dict has the advantage that one could more naturally specify a single callback or two.  I currently find myself writing

[cod

[2015-08-06 03:50] jcrist commented on #532
It already is a namedtuple: https://github.com/ContinuumIO/dask/blob/master/dask/callbacks.py#L5 (although we never use the namings...). I'm -1 on enforcing use of a namedtuple for users though, as a builtin seems easier. A dict could work, but something about strings for tags (and potentially misspelling) feels wrong to me.

On the name change, `pretask` and `posttask` mention `task` because `sta

[2015-08-06 03:53] jcrist commented on #532
My plan for the future of callback stuff is to remove `Diagnostic` in favor of something similar that will live in `callbacks.py`. This will still support the context manager things, and should be directly passable to `add_callbacks`. Probably will be just a subclass of tuple, to allow for the ordering, and normal tuples still to be used.

[2015-08-06 03:58] mrocklin commented on #532
OK, I think that my use case was wanting to create a callback with just one function.  I'd be happy if I could write the following

    cb = Callback(posttask=func)

[2015-08-06 03:59] jcrist commented on #532
That's totally doable. I'll probably tackle this tomorrow.

[2015-08-06 04:10] jcrist commented on #531
...

:+1:

[2015-08-06 04:14] #531 closed

[2015-08-06 18:08] #532 closed

[2015-08-06 18:13] #405 closed

[2015-08-06 19:51] cowlicks opened #541 "Add `shape` kwarg to `dask.array.arange`."
This would be useful for examples since we often do:
[code]
but this is limited to arrays that fit in-memory since we have to create the numpy array first. I'd like something like:
[code]

[2015-08-06 20:14] mrocklin commented on #541
I also do this a lot and find it kind of kludgy.  At the same time I'm concerned that adding a `shape` kwarg to `arange` makes a promise that we can not keep.

[2015-08-07 00:08] mrocklin opened #545 "Toolz dropin API for dask.bag"
@wrobstory suggested that dask.bag actually follow the `toolz` API directly.  Additionally it might be nice to have functions that could work equally well on dask.bag objects as on normal Python Iterators and Iterables.

@eriknw might find this interesting.

[2015-08-07 12:32] eriknw commented on #545
Good idea.  I'd like to tackle this, and the earliest I can do so is during my flight this Sunday.

Do you envision the toolz API wrapping and using the current `dask.Bag`, or do you think `dask.Bag` should be broken apart?

[2015-08-07 15:01] mrocklin commented on #545
I think that we probably want to keep the existing bag API as well.  I'm not sure if this answers your question.

[2015-08-07 15:48] mrocklin commented on #334
This is possible but requires two passes over the data or a very clever algorithm.  My guess is that we don't want to think about exact binning but more about approximate quantiles.

[2015-08-07 15:49] mrocklin commented on #379
What is the status on this?

[2015-08-07 15:51] cpcloud commented on #406
i can take a look today

[2015-08-07 15:51] mrocklin commented on #438
@jakirkham do you have any further questions on this topic or can this issue be closed?

[2015-08-07 15:53] mrocklin commented on #511
This was due to bad checking on the `initial` kwarg.  Fixed in #544 .  Closing.

[2015-08-07 15:53] #511 closed

[2015-08-07 15:54] mrocklin commented on #541
I think I'm -1 on this because it deviates from the NumPy API and doesn't satisfy the "works on out-of-core datasets" promise.  I'd like to close.

[2015-08-07 16:04] jcrist commented on #379
I haven't seen any problems with test skipping anymore. I always run `py.test dask` inside the toplevel directory, and everything now works fine.

[2015-08-07 17:00] mrocklin opened #549 "Conditional fuse"
We have a few optimizations that fuse tasks together

*  `fuse`: merge linear chains
*  `inline`: merge only certain tasks, even if this duplicates work

With the introduction of caching a full global `fuse` becomes less attractive because it diminishes our ability to find good caching points.  However we do still want to fuse *some* operations, notably getitem in arrays and all of the column-stor

[2015-08-07 19:23] TomAugspurger opened #551 "Cache issues with dtypes"
Not sure if this should be classified as user error.

[code]

raises with a long traceback, including `cannot safely convert passed user dtype of <i8 for float64 dtyped data in column 1`.

This is just no integer-NA biting me, I can work around it by just reading in my data as floats I think.

[2015-08-07 19:28] mrocklin commented on #551
Yeah, this came up recently with someone else.  We currently determine dtypes by looking at the first 1000 rows of the first CSV file.  This can and often does lead to incorrect results.

We used to look at many of the CSV files but this made `dd.read_csv` take a fairly long time on the pile of csvs case.

I'm coming around to the idea that the right solution here is to catch the error at computat

[2015-08-07 19:28] mrocklin commented on #551
What are some other solutions?

[2015-08-07 19:36] TomAugspurger commented on #551
This is something I've ran into with pandas when streaming chunks for data from Redshift to HDF5. The best I've been able to do is what you've proposed, specifying the dtypes at IO time or `.astyping`.

The other option (in this case) is to try the computation, and then retry with the type upcast. I don't think dask should do this though, since it could lead to very surprising / hard to debug perf

[2015-08-07 22:20] mrocklin commented on #551
Yeah, I'd prefer to raise an error and then have them make the change in their code explicitly.  I suppose that this needs to be added to a read_csv variant function that we call instead of `pd.read_csv`.

[2015-08-07 22:52] cowlicks commented on #541
Closing in favor of a `.reshape` method.

[2015-08-07 22:52] #541 closed

[2015-08-07 23:32] wrobstory opened #554 "Fold + List accumulator"
This is odd behavior:

[code]

Why am I seeing a generator and not a list as my accumulator?

[2015-08-08 00:15] mrocklin commented on #554
Oh, this is an interesting case.

The dask schedulers interpret lists as `Iterators` this ends up being *very* useful for a number of algorithms.  We usually end up quoting them into something like `(list, [])`.

This clearly doesn't work for user generated stuff though; we can't expect users to be aware of this trait of the schedulers.  This again calls for a general `quote` function to sanitize

[2015-08-08 00:22] mrocklin commented on #554
BTW: http://dask.pydata.org/en/latest/spec.html#what-functions-should-expect

[2015-08-08 00:24] mrocklin commented on #554
See https://github.com/ContinuumIO/dask/pull/555

[2015-08-08 00:31] #554 closed

[2015-08-08 13:37] mrocklin commented on #545
In hindsight I wish I had written dask.bag in a more toolzy way from the start.   I wouldn't be opposed to a full rewrite that put logic in a more pure functional style but kept the current API as a wrapping.  This is probably far more expensive though.

[2015-08-09 14:02] sinhrks opened #560 "Consider better node label representation of dot_graph"
Even after #556, ``DataFrame`` ops name is little long because of hash id. Thus, ``dot_graph`` output is little difficult to read. How about adding an keyword option to ``dot_graph`` which limit the max character length of nodes.

#### Current output (DataFrame.groupby().mean() with 2 partitions.

![index](https://cloud.githubusercontent.com/assets/1696302/9155154/84ceb97a-3ee9-11e5-800d-da57d86fa

[2015-08-09 15:36] mrocklin commented on #560
We could also identify hash strings (match `[0-9a-f]{32}`) and replace them with a symbol like `#`.

[2015-08-09 17:00] jcrist commented on #560
I vote for replacing the hash with `#`. The only (potential) downside is that keys will repeat themselves in the graph if the same computation is done more than once. But the shape of the graph is the important part.

[2015-08-09 17:44] mrocklin commented on #560
I can take care of this tomorrow if no one beats me too it.  Looks like we call `str(dep)` at one point.  This should probably be a more interesting function.

[2015-08-09 22:14] sinhrks commented on #560
Yes, replacing hash looks better idea than splitting by length.

[2015-08-10 16:55] sinhrks commented on #560
Gr8! It can be nicer if we can replace each hash enumerating up, like ```#1, #2, #3...```. Because we may want to distinguish each data source (like merge example below). Let me reopen if agreed.

![2015-08-11 1 50 20](https://cloud.githubusercontent.com/assets/1696302/9177296/60331f1a-3fcb-11e5-8320-24a1514cd250.png)

[2015-08-10 16:57] mrocklin commented on #560
Sounds reasonable to me

[2015-08-10 16:57] eriknw commented on #549
Good problem statement.  I can work on this tomorrow.

[2015-08-10 18:12] StuartAxelOwen commented on #545
When matching the toolz API, you would keep the monad-esque method chaining, right?  That's something I think dask.bag/spark/javascript all got right.  Most programmers have trouble unpacking code of the `map(filter(reduce(something, map(filter(source)))))` style.

[2015-08-10 18:16] mrocklin commented on #545
Toolz generally uses bare functions.  We tend to use currying and a pipe function for repeated function composition.

[2015-08-10 20:23] mrocklin commented on #549
Actually, I may want to handle my immediate need with another method.  The priority of this may have just dropped down.

[2015-08-10 21:32] #438 closed

[2015-08-10 21:41] mrocklin opened #570 "dask.array flatten and reshape"
The numpy method `flatten` can be used to reshape an n-dimensional array into a one-dimensional array.

[code]

We could add such a method onto `dask.array.Array` if we are willing to give up caring about byte order entirely.

This might be a good on-ramp issue.  It requires applying the `flatten` method onto each block, creating a new flattened dictionary, manipulating `chunks`, etc..  Furthermor

[2015-08-10 23:09] #560 closed

[2015-08-11 20:03] mrocklin commented on #549
Closing.

[2015-08-11 20:03] #549 closed

[2015-08-12 18:52] shoyer commented on #570
The natural generalization of `flatten` is `reshape`, which could also be useful.

At the very least, it would be nice to have support for reshaping *within blocks*. For example, if I have an array with shape `(100, 100, ...)` and blocks `(100, 100, 10)`, I should be able to reshape it to `(10000, ...)`. For example, this would let us generalize point-indexing (https://github.com/ContinuumIO/dask/

[2015-08-12 20:12] mrocklin opened #575 "Series.groupby"
We currently lack a `Series.groupby` method.  Fixing this probably involves a slight refactoring of the current groupby code.

[code]

[2015-08-12 20:55] jcrist opened #576 "`file_size` fails on files larger than 4 GB with gzip compression"
Uncompressed file size is stored as 4 bytes in gzip files, which means it rolls over every 4 GB. This causes problems for large gzip files using `db.from_filenames(fil, chunkbytes=...)`, as the `file_size` returns an incorrect value. From googling, there doesn't seem to be a way around this.

A good interim solution might be to through a warning if the compressed filesize is larger than 1 GB or so

[2015-08-13 12:41] wiso opened #580 "apply function to Series, NotImplementedError"
Hello, here my problem to apply function to Series:

while this works:

    import dask
    d = np.arange(10)
    dd = dask.array.from_array(d, 10)
    np.cos(dd)

with dask.DataFrame it doesn't:

    import pandas as pd
    d = pd.DataFrame({'x': np.arange(10, dtype=float)})
    dd = dask.dataframe.from_pandas(d, 2)
    np.cos(d['x'])      # this works
    np.cos(dd['x'])    # this doesn't work

[2015-08-13 15:35] mrocklin commented on #580
Hi @wiso good question.  A few things.

1.  You should probably be using `da.sin` rather than `np.sin`.  The NumPy function will turn the result into a numpy array.  This might change with the next release of NumPy if they release the `__numpy_ufunc__` protocol.  Until then we have to use our own funcions, namely `da.sin`.
2.  At the moment `da.sin` doesn't play nicely with `dd.Series` objects.  I

[2015-08-13 17:51] mrocklin commented on #477
Pinging @stefanv

[2015-08-13 18:39] wiso commented on #580
Ok, thank you. I am wondering why it works for dask.array but not series.

[2015-08-13 19:04] jcrist commented on #580
Dask arrays implement the [array interface](http://docs.scipy.org/doc/numpy/reference/arrays.classes.html#special-attributes-and-methods), meaning that numpy functions coerce them into instances of `np.ndarray` before computing. We don't currently support this for `dask.dataframe` objects, but we could.

Note that when using numpy functions like `np.sin`, the whole array will be pulled into memory

[2015-08-13 19:06] stefanv commented on #477
In the scikit-image use-case, a feature that would be useful is to only ghost "to the inside" of the array, i.e. to ghost, but to crop the ghosted array to the original image extents.

The reason for this is that scikit-image has specialized handling of boundaries, which sometimes causes artefacts.  If ghosting pads out those edges, these (desired) artefacts will disappear.

[2015-08-13 21:45] cowlicks commented on #477
@stefanv that is currently possible with [`ghost_internal`](https://github.com/ContinuumIO/dask/blob/master/dask/array/ghost.py#L99).

Perhaps this would be best exposed by adding a `internal_boundary` keyword argument to `da.ghost.ghost`. Which takes dict keyed with axes and valued with depths. If an axis in this dictionary is not specified then it will be taken from the `boundary` kwarg. And if

[2015-08-13 21:54] cowlicks commented on #477
Note I mixed up `boundary` and `depth` above, but have since edited the comment to fix this.^

[2015-08-13 22:01] stefanv commented on #477
There should be an easy way to say: "do what you normally do, just don't go outside the array boundaries"

[2015-08-13 23:12] mrocklin commented on #477
Ideally this option ends up within the `da.Array.map_overlap` function which, I think, has the most user friendly API so far.  I think that this function came out of @cowlicks early work with skimage.

At the moment the `boundary=None` option defaults to `reflect`.  Perhaps `None` should actually mean "no boundary."

[2015-08-14 00:10] shoyer opened #584 "Minimum time threshold before showing progress bars"
Just started playing around with dask progress bars. These are very handy -- thanks!

I especially like the ability to register a progress bar and see it for all operations.

One annoyance when using this with xray datasets is that xray operations often involve some very small calculations (e.g., to verify aligned indexes) before doing calculations. These take a fraction of a second, so showing a

[2015-08-14 00:27] jcrist commented on #584
Could definitely do that. If you know an operation is cheap, you could also turn it off (unregister it), or just use it in the contextmanager form. I'm happy to add this option if desired though, as long as it's not the default.

[2015-08-14 00:29] mrocklin commented on #584
This seems reasonable to me for any computation that takes less than, say 500ms.

[2015-08-14 00:31] mrocklin commented on #584
I only actually value the progressbar for longer running computations.  In @shoyer's case he has lots of small computations that are getting in the way.  These are in library code and so it's not convenient to wrap or unwrap them.

We all agree that an option with a minimum time before visible is good.  We potentially disagree on what that default should be.  Fortunately most of the work is indepe

[2015-08-14 00:32] mrocklin commented on #584
Actually @jcrist 's suggestion of zero for the default minimum time might be a sane default just because it is a natural choice (not at all subjective).  I don't mind saying the following when I start up.

[code]

[2015-08-14 00:34] jcrist commented on #584
I'll throw this in with the other progressbar changes in #581.

[2015-08-14 00:36] shoyer commented on #584
Agreed, I don't mind specifying the minimum time explicitly.

[2015-08-14 01:01] sinhrks opened #585 "Additional improvement for da.image.imread"
I think following 2 improvements make the function better.

#### 1. Allow custom ``imread`` function.

Some prefer ``opencv`` which reads color in BGR order, otherwise ``skimage`` reads in RGB order. Adding ``dialect`` option (like ``dialect='skimage'`` or ``dialect='cv'``) or accept different file read function may better.

#### 2. Allow custom preprocessing function.

In image processing, input

[2015-08-14 02:34] mrocklin commented on #585
Nice ideas.  https://github.com/ContinuumIO/dask/pull/586

[2015-08-14 14:24] cowlicks commented on #477
@mrocklin there are currently two arguments for specifying the ghosting. `depth` and `boundary`. Which, more verbosely, mean "depth of ghosting" and "external ghosting type". If someone specifies a ghosting depth, but no boundary type, I think they would still expect some ghosting to happen.

One reason `reflect` might be the default is because this is the behavior for some skimage filters.

[2015-08-14 14:30] cowlicks commented on #477
@stefanv we could have an `internal_ghosting_only=True/False` kwarg in ghost. However I think an `internal_depth` kwarg would be valuable since it would allow the user to have internal ghosting which differs from external ghosting.

[2015-08-14 14:31] #580 closed

[2015-08-14 14:34] mrocklin commented on #477
I agree.  But would the expect ghosting on the boundary?

This is a good reason to keep the default as `reflect`.  I wonder if we should set the default to `boundary='reflect'` in the function signature and then use `boundary=None` to mean internal ghosting only.

[2015-08-14 14:47] cowlicks commented on #477
@gforsyth you *can* specify the *external* boundary conditions per axis.
[code]

But you *cannot* specify the *internal* boundary conditions, the internal boundary conditions just copy the elements of the chunks next to them. We could possibly change this, but I'm not sure this is what you want.

And currently the `depth` argument is the depth of the boundary for both internal and external boundar

[2015-08-14 14:49] mrocklin commented on #477
I suspect that @gforsyth wanted to have different boundary conditions on the left vs right or top vs bottom, which is not currently supported.

[2015-08-14 14:50] gforsyth commented on #477
That's what I was thinking of.  I was just playing around with solving PDEs in Dask and if you're doing something that's elliptic and you want to set one side of your domain to 0 and the other 3 to 100 that doesn't work the way ghost is currently set up.

[2015-08-14 14:59] mrocklin opened #588 "DataFrame tests sensitive to order"
On Windows I get an error in `test_arithmetics` that reduces down to the fact that these two series don't compare as equal

[code]

That is, our code seems to be correct but the tests are perhaps overly strict in this case.

[2015-08-14 15:06] cowlicks commented on #477
@gforsyth Perhaps a good api here would be to allow tuples as values in the `boundary` argument like:
[code]

Note that doing something like this with the `depth` argument would make internal depth ambiguous.

If I understand correctly this is distinct from what @stefanv wants.

[2015-08-14 15:17] gforsyth commented on #477
I think that would work well for specifying the external boundaries.  Does it make any sense to also have a `depth` tuple possible?  You might need to have a reflection that's 2-deep for a Neumann boundary but only need a 1-deep for Dirichlet on the opposite boundary.

[2015-08-14 15:22] gforsyth commented on #477
Hrrr.  Just realized that that would necessitate a separate depth kwarg for internal vs. external boundaries otherwise it's going to be *very* ambiguous.

[2015-08-14 15:41] gforsyth commented on #477
Noting your example array

[code]

the external boundary depth doesn't particularly matter -- if it were the difference between a Neumann and Dirichlet boundary the extra bit of memory required to pad out a Dirichlet boundary one column further than necessary is negligible.

That said, `g[:-2]` seems to be a reflect while `g[:-1]` is Dirichlet.  I imagine it's just an editing error from mocking up

[2015-08-14 18:10] stefanv commented on #477
One thing to keep in mind when evaluating all these new options, is that
preferably all keywords should be usable in combination with each other.
The API becomes terribly convoluted when you have "use this keyword unless
than one is specified, in which case we change the meaning of the first or
ignore it".

[2015-08-14 19:07] gforsyth commented on #477
Agreed.  My suggestion for a depth tuple is unnecessary (and also ignored @cowlicks pointing out the inherent ambiguity in such a setup).  I think allowing tuples in the `boundary ` argument is sufficient.

[2015-08-14 21:21] cowlicks commented on #477
@gforsyth I'm giving a talk this weekend ([about dask]()), so I'll probably get to this Monday. Unless someone beats me to it.

@stefanv how is this API for your usecase: `boundary=None` will mean no external boundaries, `boundary={0:(1, None)}` would pad the left boundary with ones, and not add a boundary on the right, and it will default to `boundary='reflect'.

[2015-08-14 21:41] stefanv commented on #477
Perfect.

[2015-08-14 23:07] #584 closed

[2015-08-16 06:28] shoyer opened #593 "Tokenize as part of the public API?"
I'd like to clarify if `dask.base.tokenize` is part of the public API or not.

Basically, I'd like to replicate the rules used for `name` by dask's `imread` and `read_csv` when opening up a netCDF file in xray. To do this, it would be nice to be able to use dask's `tokenize`.

[2015-08-16 16:15] jcrist commented on #593
I'd say you should be able to use it, but be aware that there also might be changes in the future as we work more on the deterministic names.

[2015-08-16 16:19] mrocklin commented on #593
This could be two questions:

1.  Can we depend on the future existence of the function `dask.base.tokenize`
2.  Can we depend on the consistent operation of this function.

I'm comfortable saying "yes" to 1 with moderately high probability and "no" to 2 with moderately high probability.

[2015-08-16 16:29] shoyer commented on #593
I'm happy with those constraints. As long as tokenize has a consistent signature, I'm happy. The goal is only to produce results that are consistent with dask -- they don't need to be fixed across versions.

On Sun, Aug 16, 2015 at 9:19 AM, Matthew Rocklin <notifications@github.com>
wrote:

[2015-08-16 16:52] mrocklin commented on #593
@jcrist do you anticipate any API changes?  If not then we can probably close this.

[2015-08-16 23:13] jcrist commented on #593
I don't. Implementation will probably change some, but the api is probably solid.

[2015-08-16 23:13] #593 closed

[2015-08-18 03:27] cowlicks opened #595 "investigate using dask in sklearn's grid search and pipelines"
cc @amueller

My understanding  is that sklearn is using joblib in for pararllelizing their pipelines and gridsearches, but there is room for improvement.

For example in the pipelines, when the last part of a pipeline is changed, the entire thing is recomputed. But the results from the first part of the pipeline could be reused, but they are not.

[2015-08-18 14:20] amueller commented on #595
Exactly.
The overall process of the "pipeline" is a bit more complex than it sounds from that, but that is the gist.
Do you think this can be done using the imperative interface or should we try writing the graph directly?

I am not sure which part we need to replace for this to work. We probably need to implement dasky versions of GridSearchCV and Pipeline for a first prove of concept.

Ping @jno

[2015-08-18 14:33] mrocklin commented on #595
Dask.imperative and writing dictionaries directly are roughly equivalent in terms of capability.  It's just a question of style.  Internally we tend to stick to dictionaries because this allows us to specify the key names explicitly; this is useful for debugging.  However dictionaries limits the pool of potential co-developers; imperative may be better from a community standpoint.

[2015-08-18 14:33] mrocklin commented on #595
The cross validation example at the bottom of this blogpost may be of interest http://matthewrocklin.com/blog/work/2015/07/23/Imperative/

[2015-08-18 14:36] amueller commented on #595
I'll (try to) look into it. I'd love to write the prototypes myself, but I'm not sure I can find the time.
@cowlicks said he could look into it.

[2015-08-18 15:43] vipinanandcpp opened #597 "AssertionError: Impossible to call blocking function in the event loop callback while handling Dask dataframes"
I recently started playing with Dask and have been trying to work with larger json.gz files. I am trying to load a gzipped json file which is about 700mbs and am using

`json_ = dask.bag.from_filenames(filename).map(json.loads)`
When I try to use this function `json_.to_dataframes()`, I get the following exception:
`IOError: [Errno 35] Resource temporarily unavailable`
along with this exception

`

[2015-08-18 15:49] mrocklin commented on #597
It's odd that there are `gevent` errors happening here.  Apparently this is a [known issue](http://stackoverflow.com/questions/8678307/gevent-monkeypatching-breaking-multiprocessing).

Can you try this without importing `gevent` and see if the problem persists?

[2015-08-18 16:53] NoonienSoong opened #598 "array-overview.rst needs to be edited"
The last line of the .rst file needs to be changed since the np.full_like funtionality has been implemented in the array.wrap.py

[2015-08-18 17:09] mrocklin commented on #598
Good point.  Can i interest you in submitting a pull request with a fix?

[2015-08-18 18:38] cowlicks commented on #595
Hey @amueller, here is a naive grid search example with dask.imperative. It just takes a function, list of parameters, and key for sorting the results of the function with the parameters.
[code]

[2015-08-18 18:47] NoonienSoong commented on #598
I would love to. However need write permission.

On Tue, Aug 18, 2015 at 1:09 PM, Matthew Rocklin <notifications@github.com>
wrote:

[2015-08-18 18:48] mrocklin commented on #598
You can fork this repository, push the fix to your own fork, then submit a pull request asking us to merge those changes.

[2015-08-18 19:10] NoonienSoong commented on #598
Done

On Tue, Aug 18, 2015 at 2:48 PM, Matthew Rocklin <notifications@github.com>
wrote:

[2015-08-18 19:11] blitzd opened #601 "CParserError: Exception occurred in remote worker."
I'm having issues using dask dataframes to analyze any data. It initially appears to work with small sets of the data, but then when anything is run on the dataframe as a whole it throws a CParserError.

[code]

I'm running on:

dask/0.7.0/np19py34_0

Error:

[code]

I have also tried changing the engine for the dataframe to 'python' as suggested, but that just results in other issues. To be clear

[2015-08-18 19:14] mrocklin commented on #601
The `dd.read_csv` function does not read the entire file when determining dtypes, only the first 1000 lines or so.  I suspect that some row more deeply in is causing trouble.  Since you have the ability to load the entire dataframe into memory you could actually see what the full dtypes are.  Do the following differ?

[code]

[2015-08-18 19:24] blitzd commented on #601
I'm specifying dtypes as str by default though... the output of both of the above is object for all columns.

[2015-08-18 19:46] cowlicks opened #602 "Add comparison docs for dato's s-frames"
Someone asked about this after my talk, I had no answer.

[2015-08-18 19:53] shoyer commented on #570
@cowlicks notes that my use case (reshaping within blocks) could be solved by `map_blocks`. This is almost, but not quite true -- `map_blocks` can't handle changed array dimensions (see #263, #445).

[2015-08-18 21:22] amueller commented on #595
Thanks. I think I have to look into dask in more detail before I can give any helpful feedback.
A very naive question: when / how will results be re-used?
in the cross-validation example that @mrocklin posted, in the middle there seems to be a lot of sharing going on. Is that just everybody accessing the ``score_params`` list?

I have an unrelated question that I forgot to ask on the weekend: what

[2015-08-18 21:23] mrocklin commented on #595
We use graphviz to generate plots.  If the user doesn't have it we raise an informative error pointing them to where they can get it.

We use the Python `graphviz` library, mostly because it's python2/3 compatible.

[2015-08-18 21:24] mrocklin commented on #595
Shared intermediates are held until all tasks that depend on them are finished.  Then they are are released.

[2015-08-18 21:37] amueller commented on #595
A cool example would be using
[code]

I guess using the imperative interface we would need to rewrite the loops entirely.
That actually seems pretty tricky, and maybe we should just use caching? hum....

[2015-08-18 21:45] mrocklin commented on #601
Hrm, yes that is odd.  Is your data publicly sharable?  I wouldn't mind taking a closer look at the problem.

[2015-08-18 23:08] wiso opened #603 "impossible to call _visualize"
from dask import dataframe
    import numpy as np
    import pandas as pd
    d = pd.DataFrame({'x': np.arange(10, dtype=float)})
    dd = dataframe.from_pandas(d, 2)
    dd._visualize()

error:

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "dask/base.py", line 25, in _visualize
        return self.visualize(optimize_graph)
      File "dask/base.py",

[2015-08-18 23:18] jcrist commented on #603
Try working off master, this has been fixed.

[code]

Also, `_visualize` has been deprecated in favor of `visualize`.

[2015-08-18 23:21] jcrist commented on #603
Actually, you're right. This doesn't work for `_visualize`, just for `visualize`. Thanks for the fix!

[2015-08-18 23:32] #603 closed

[2015-08-19 02:47] vipinanandcpp commented on #597
Hi Matthew,
Thank you for getting back to me. I am not explicitly importing gevent in my code. I am testing Dask so started playing with dask.bag to load a big json.gz and just called these two lines

json_ = db.from_filenames(user_data_filename).map(json.loads)
json_.take(2)

[2015-08-19 11:13] ogrisel commented on #595
Related to this discussion: here are some experiments I did with dask for out-of-core, parallel cross-validation with dask on scikit-learn models that support `partial_fit`:

https://gist.github.com/ogrisel/ef8cbc1e42cef66d4184

I did experiments both with dask array and dataframe to handle the data and using the dict API of dask for the CV logic itself. Using the new imperative API might render t

[2015-08-19 14:58] blitzd commented on #601
This particular data is not shareable unfortunately, though I have narrowed it down further to utf-16 specifically, and a small repro:

[code]

I tried varying ranges of rows. It will work up to 400000, but somewhere between that and 410000 it starts to die.

I also did the same tests with utf-8 up to 5 million rows, and there were no issues there.

Hope that helps.

[2015-08-19 15:02] #585 closed

[2015-08-19 15:04] mrocklin commented on #601
Excellent.  Taking a look now.  I suspect that the number of rows corresponds to the default size of a partition.  `d.npartitions == 2` for this data.

[2015-08-19 15:58] mrocklin opened #606 "Textblock does not respect encoding size"
### Background on `textblock`

The `textblock` function in `dask/utils.py` reads a block of bytes from a file at rough locations.  It does the following

1.  Seek to the desired start byte within the file
2.  Find the next endline
3.  Seek to the desired end byte within the file
4.  Find the next endline
5.  Read from start endline to end endline

This lets us parallelize large files, splitting up

[2015-08-19 16:49] mrocklin commented on #601
@blitzd I've tracked down at least part of the problem to #606 .

[2015-08-19 20:16] blitzd opened #608 "_visualize() resulting in TypeError"
I was trying to work through some parts of the tutorial and ran into issues when attempting to visualize the task graph.

When executing the following code:

[code]

The testfile was based on what was generated here:

https://github.com/ContinuumIO/dask/issues/601

[code]

[2015-08-19 20:21] jcrist commented on #608
This is fixed in git master by #604. Also, `_visualize` is deprecated in favor of `visualize`. Closing.

[2015-08-19 20:21] #608 closed

[2015-08-19 20:22] jcrist commented on #608
Thanks for pointing out that some of our docs still use `_visualize` though, we'll have to fix that.

[2015-08-19 21:11] blitzd commented on #608
Got it, thanks!

[2015-08-19 22:08] cowlicks commented on #595
Here is my WIP attempt at analog of `make_pipeline`:
https://github.com/cowlicks/scikit-learn/blob/dask/sklearn/pipeline.py#L575-L593

Basically I wrapped each "transform" with `dask.imperative.value` I'm not sure this is working yet. I should check the unittests for pipeline.

And I'm working on a `DaskSearchCV` here:
https://github.com/cowlicks/scikit-learn/blob/dask/sklearn/grid_search.py#L954-

[2015-08-20 15:46] sinhrks commented on #588
Added sort logic (value -> index) before comparison in #630. I believe it can solve this issue.

[2015-08-20 15:47] cowlicks commented on #598
Thanks @NoonienSoong closing.

[2015-08-20 15:47] #598 closed

[2015-08-20 15:57] sinhrks opened #611 "Add Base.to_graphviz"
Add function to return ``graphviz`` instance created from dask graph for below reasons:

- When using IPython, ``.visualize`` outputs unnecessary image file
- Sometimes we want to modify graphviz instance directly

[2015-08-20 15:58] sinhrks opened #612 "Add dask._merge to toplevel"
There are lots of codes like: ```toolz.merge(dask, [x.dask for x in seq])```.

How about adding ``_merge`` function which can handle ``dict``, ``Base`` and nested list for internal use? It accepts `_merge(dask, seq)`.

[code]

[2015-08-20 16:25] jcrist commented on #611
I'm not too keen on having this as a method on collections, seems a little extraneous. `dask.dot.to_graphviz` could be changed to accept either a dask graph or an instance of `Base`. Then this would work:
[code]

Perhaps temporary files could be used by `visualize` when no path name is specified. This would still allow displaying through IPython notebook, but wouldn't clutter your directory with `

[2015-08-20 22:04] cowlicks commented on #595
Hey @amueller what is the proper way for comaparing the equality of two estimators?

p.s. can I shoot you random questions over email?

[2015-08-21 01:31] amueller commented on #595
You can, but I'm sick at the moment and slow to respond :-/
testing two estimators for equality after ``fit`` was called is hard. Before ``fit`` was called by comparing ``get_params``.
Why / when do you need that?

[2015-08-21 01:32] amueller commented on #595
I'll probably not be able to review your attempt this week, I'll try on Monday or Tuesday. I'm not leaving my bed for now.

[2015-08-21 18:34] cowlicks commented on #595
@amueller no worries, get well soon.

I was trying to compare the result of my `DaskGridSearch` vs `GridSearchCV`. Currently I'm calling `.fit_transform(iris.data)` and comparing the arrays.

[2015-08-21 21:19] amueller commented on #595
Ah. you want to see if the learned model is the same. ``decision_function(iris.data)`` is a good proxy for that.

for benchmarking ``iris`` is too small and also for ``StandardScaler`` there is probably not a huge gain. But it is a good / quick example for debugging.

If you want to benchmark, replacing ``iris`` by ``digits`` or ``load_mldata("MNIST")`` might be interesting, and replacing ``Standa

[2015-08-22 07:04] fortiema commented on #606
Actually, reading this makes me think about my own modifications in `bag` and how data is ingested into bags' partitions. Pretty sure that the byte chunking is also not robust to multi-bytes encoding formats there, meaning the split could happen on the middle of a character for variable length encodings like UTF-8.  Need to have a second look at this!

[2015-08-22 07:50] fortiema commented on #606
I created a branch and started hacking on this. Should be pretty easy to solve, basically add support for encoding in `textblock` so that we can pass the paramer to the `open` call.

Do we have sample data already that shows this particular problem? If not I will just create one I guess.

[2015-08-22 14:24] shoyer commented on #290
I have a PR on this that I'm putting together -- still needs a few fixes for the tests.

[2015-08-22 15:37] mrocklin commented on #290
Glad to hear it :)

[2015-08-22 15:50] mrocklin commented on #606
I was using this toned down version of the error presented in #601 for testing

[code]

[2015-08-22 23:02] sinhrks commented on #611
Thanks. On current master, specifying ``filename=None`` results in ``TypeError``.

[code]

I think this can be fixed to:

1. Return image using temporary file
2. Return image itself without saving a file
3. Return graphiz instance

Maybe option 2 is prefereable? (I want 3 in future, but it should be done via different option...)

[2015-08-23 01:21] mrocklin commented on #611
Historically we've defaulted to a default filename, `'mydask'`.

[2015-08-23 04:05] sinhrks commented on #611
Ah, I mean optionally accept ``filename=None`` without changing the default. Prepared a PR.

[2015-08-23 04:08] fortiema commented on #606
Thanks!

[2015-08-24 16:28] mrocklin commented on #595
I'm surprised at how simple the changes to `Pipeline` were.  I suspect that the same simple changes to grid search aren't enough to get things to work.  There are cases where the control code depends on the value, e.g. there is a for loop over `range(len(value(out)))`, we might need to keep the original concrete `out` variable around for cases like this.

[2015-08-24 17:59] amueller commented on #595
I don't think that much can be gained by using dask on anything after "out" is computed.
If out is just the result of the dask computation, I think that should be fine as a first go.

[2015-08-24 20:08] lakshmanok opened #620 "Series vs. DataFrame confusion"
I'm applying a function that returns a scalar to a group (alldata is a Dask dataframe):

[code]

I find that estimates is now a Series, and Series doesn't support writing out. How can I write out all the values in this Series to disk? There is no values() method. I tried to work around this by using head()
[code]
but this doesn't work either because only the first partition is written out, not the

[2015-08-24 20:27] mrocklin commented on #620
Apply is, as in Pandas, always a little wonky.

I suspect that you'll have a better time if you use `.apply(func, columns=...)` rather than trying to mutate the columns directly.

I've added `Series.to_csv` in https://github.com/blaze/dask/pull/621

[2015-08-24 20:31] mrocklin commented on #620
Hrm I wonder if we should force the user to supply `columns=` in apply calls.  This would likely avoid a lot of surprises.

[2015-08-24 23:01] lakshmanok commented on #620
First of all, thanks for your suggestion on using apply(func, columns) and for the prompt change.

apply(func, columns) worked, and the resulting Series has the right column names.

When will Series.to_csv() get merged into master? The reason I ask is that I'm providing example code for a Kaggle contest, and don't want to make people figure out how to install specific branches of dask.

Until then

[2015-08-24 23:05] mrocklin commented on #620
I've just merged #621

Creating a `DataFrame` from a `Series` seems like a useful operation as well.

[2015-08-24 23:08] mrocklin commented on #620
See https://github.com/blaze/dask/pull/623

[2015-08-24 23:10] mrocklin commented on #620
Note that, unlike with pandas, dask.dataframe is unable to run your function on some sample data to get a sense of what the output will be.  This means that we are far less intelligent than Pandas about guessing output types, hence the need to give the columns explicitly.

[2015-08-25 05:11] mrocklin opened #624 "Support globstrings in read_hdf"
This StackOverflow question http://stackoverflow.com/questions/32195880/creating-a-dask-dataframe-from-a-list-of-hdf5-files by @limx0 asks how one can read many HDF5 datasets into a single dask.dataframe object.

He is interested both in many datasets within different files

    dd.read_hdf('2014-*.hdf5', '/data')

as well as many datasets within the same file

    dd.read_hdf('2014.hdf5', '/*/dat

[2015-08-25 22:57] lakshmanok opened #627 "Partition boundaries not honoring index"
I may be misunderstanding dask, but I think the results should be independent of where the data are partitioned.  That doesn't seem to happen.  You can observe that the results change depending on whether npartitions is 2 or 1.

[code]

[2015-08-25 23:25] mrocklin commented on #627
Some issues:

1.  `inplace=True` won't work with dask.dataframe.  We need to error loudly in this case
2.  groupby('uid') works neither with pandas nor with dask dataframe.  If you use `.index` then it works with both.

[code]

[2015-08-25 23:27] mrocklin commented on #627
This is still a problem though

[code]

[2015-08-26 00:34] lakshmanok commented on #627
Thanks!  Didn't know that about grouping by index ...

Lak

[2015-08-27 03:44] mrocklin opened #630 "Add expanding_* functions"
In #487 we added rolling operations.  It would be nice to add their cumulative counterparts.  This is likely to be similar in nature to rolling operations.

I came across this need while trying to make a simple demo with random data.

[2015-08-27 03:46] #611 closed

[2015-08-27 18:52] mrocklin opened #633 "Add version label?"
In the gitter chat @sinhrks suggested that we start tracking versions more robustly.  A cheap solution that he suggested was to label all PRs with a "next release" label, and then rename that label to the version number at the release.  We would then continue by making a new "next release" label for the next release.

Thoughts on this?  I'm quite open to it.  Historically I haven't used processes

[2015-08-28 20:12] mrocklin opened #637 "Add CPU, memory, and disk usage to Profiler"
I'm running a parallel application using `dask.do` on a 16 core machine.  When computing I find myself watching `top` on the side, looking for the following information

1.  How does CPU activity track over time?
2.  How does memory use track over time?
3.  How close does memory use get to full?  When do we start swapping to disk?
4.  What parts of my computation are engaging disk?

[2015-08-28 20:17] mrocklin commented on #637
[`psutil`](https://pythonhosted.org/psutil/) can give some of this information.  I wasn't able to get CPU activity very well after a couple minutes of trying.  It's unclear how we would record and present this to the screen.  Recording is a bit tricky because we only call the callbacks between tasks, so presumably this would underestimate cpu activity.  One could consider a separate thread, althou

[2015-08-28 20:17] jcrist commented on #637
[psutil](https://github.com/giampaolo/psutil) would be a great way of measuring these things, especially since we can get process/thread specific usage. How important is this right now compared to other tasks? How important is this information in real0time?

[2015-08-28 20:19] mrocklin commented on #637
I hadn't even thought of realtime.  That idea has been floating out there for a while.  We would probably want other stuff for real time computation as well.  Responding to priority question off list.

[2015-08-28 20:19] jcrist commented on #637
What I would do if I did this fully:
- Tie in to the pool object to get a list of process/thread ids
- Spin up a second process to track resource usage across all ids, and push to a queue feeding profiler

[2015-08-28 20:22] mrocklin commented on #637
Profiler currently works off of static data (which is nice sometimes.)  Presumably this would need interaction with a live bokeh server, yes?

[2015-08-28 20:24] jcrist commented on #637
Not necessarily the bokeh server. I did some experiments with a subprocessed flask app that were promising. This would mean the user wouldn't have to start up anything extra, and would *just work* from the shell. We could also use something other than bokeh, but I like the bokeh plots for after the fact visualization, so I'd be reluctant to change.

[2015-08-28 21:17] mrocklin commented on #637
Is a subprocessed flask app nicer than a subprocessed bokeh-server?  It'd be interesting to think about why the bokeh-server might feel heavy weight.

[2015-08-28 21:38] jcrist commented on #637
I suppose the bokeh server could be started as a subprocess as well. I was just looking for a way that the user didn't have to start something up themselves.

[2015-09-01 22:03] #290 closed

[2015-09-02 15:44] cowlicks commented on #606
@fortiema how's it going?

[2015-09-02 16:49] #620 closed

[2015-09-02 16:49] #627 closed

[2015-09-02 21:21] mrocklin opened #653 "Change rows in dask.dataframe"
[This stackoverflow question](http://stackoverflow.com/questions/32363114/dask-syntax-vs-pandas) raises a valid question:

*How do we change a few rows in a dask.dataframe?*

E.g. how do we change all negative entries to NaN?  How do we change a particular column in a particular index range to zero?

The equivalent column operations are handled by `assign`.  Is there an analagous row-wise operatio

[2015-09-02 21:37] jreback commented on #653
http://pandas.pydata.org/pandas-docs/stable/indexing.html#the-where-method-and-masking

but note that a ``.where`` is equiv to ``s[mask]`` (e.g. indexing)

[2015-09-02 21:43] mrocklin commented on #653
Cool.  Is there a similar function to change values based on `loc` and columns?  For example the SO questioner asks about the following:

    df.loc[[2,6], 'a']  = np.pi

[2015-09-02 21:50] jreback commented on #653
this should work directly like the above, is their an issue?

[2015-09-02 22:09] mrocklin commented on #653
I'm looking for syntax that doesn't involve mutating the underlying dataframe.  I like `assign` because it accomplishes this use case

    df['c'] = df.a + df.b
    df = df.assign(c=df.a + df.b)

I think that I'm looking for the same thing that operates on row ranges rather than columns.

[2015-09-02 22:20] jreback commented on #653
on, then ``.where`` is your man so to speak. It returns a new frame.

[code]

[2015-09-02 22:21] jreback commented on #653
The original purpose is actually for masking (but returning a same shaped frame)
[code]

[2015-09-02 23:20] mrocklin commented on #406
Ping.  I'd like to close this if it's no longer an issue.

[2015-09-03 18:29] jcrist commented on #630
With cumulative methods in #636 in, the immediate need for this may be delayed. I have a first pass at this (done before #636 came in, should definitely be reworked to share methods with #636) up on my fork [here](https://github.com/jcrist/dask/tree/expanding). If anyone ever has a need for these this work can be restarted.

[2015-09-04 05:08] mrocklin opened #658 "Wide DataFrames"
Recently a few people have asked about dataframes that have many thousands of columns.

Generally the current design of `dask.dataframe` doesn't work well in this case; we partition on the index, not on different columns.

We could consider partitioning on columns though, this would be a completely separate design but might be useful.  I suspect that this approach would be simpler to implement for

[2015-09-04 06:00] mrocklin commented on #658
Decided to try this out as a proof of concept.  https://github.com/blaze/dask/compare/master...mrocklin:wide

cc @shoyer @sinhrks @wrobstory .  Thoughts welcome on how useful this would be and, if it is useful, how it should be designed.

[2015-09-04 06:03] mrocklin commented on #658
Some questions arose while building the proof of concept

1.  Do we want to store series or just the numpy arrays that back them?
2.  How eagerly should we evaluate things?  One thought is that we maintain a fully evaluated index, so that `df.loc[df.x]` would trigger evaluation of `df.x`.

[2015-09-04 14:09] #551 closed

[2015-09-04 14:11] #575 closed

[2015-09-04 14:28] #418 closed

[2015-09-04 14:32] mrocklin commented on #658
Yes, column direction only.  I've recently seen a few applications that only need this spread.

Regarding series vs numpy arrays how about storing the contents of `myseries.values`, this might be either a numpy array, `Categorical`, or `DatetimeBlockTZ`.   Reasons:

1.  We already have the index and name stored as metadata on the `WideDataFrame` object
2.  I suspect that moving values around is ch

[2015-09-04 15:16] mrocklin commented on #406
Closing in 24 hours if no comment

[2015-09-04 15:16] mrocklin commented on #317
It looks like the pandas PR has gone in.  This is up for grabs in dask.dataframe

[2015-09-04 15:16] mrocklin commented on #307
This is complete.

[2015-09-04 15:16] #307 closed

[2015-09-04 15:17] mrocklin commented on #302
This was completed by #332  #369 and finally #613

[2015-09-04 15:17] #302 closed

[2015-09-04 15:18] mrocklin commented on #303
partd is now part of anaconda

[2015-09-04 15:18] #303 closed

[2015-09-04 15:18] mrocklin commented on #262
Fixed in #320

[2015-09-04 15:18] #262 closed

[2015-09-04 15:19] mrocklin commented on #223
We've managed this is relevant computations by bringing together two or three neighboring dataframes and then loc-ing down.  This has proven sufficiently effective that I'm now closing this.

[2015-09-04 15:19] #223 closed

[2015-09-04 15:20] mrocklin commented on #206
This no longer seems to be an issue.

[2015-09-04 15:20] #206 closed

[2015-09-04 15:21] mrocklin commented on #185
Dask.dataframe now uses threads by default.  Recent pandas work releasing the GIL makes this issue unnecessary.

[2015-09-04 15:21] #185 closed

[2015-09-04 15:21] mrocklin commented on #118
This is mostly solved by cachey and #502 .  This could still use actual use on real problems but, for the most part, this feels done.

[2015-09-04 15:21] #118 closed

[2015-09-04 15:40] mrocklin commented on #612
I personally like using the explicit `toolz.merge` function.  My preference is to use general purpose functions as much as possible, even if they are slightly inconvenient.

[2015-09-04 15:50] #588 closed

[2015-09-04 15:52] phrrngtn commented on #118
great! I only just recently got my own 'expression tree rewriting' stuff
done: execute our Python-based internal DSL with what is essentially a
mocked out implementation and run a visitor on the tree to rewrite it to
the 'real' implementation. I will attempt a visitor that targets dasks and
cachey.

pjjH

[2015-09-04 16:01] TomAugspurger opened #661 "COMPAT: expand `parse_dates` keyword in `dataframe.read_csv`"
I had a need for this today,

[code]

FWIW, I've never been a fan of the `parse_dates=True` option in `In [7]`, especially when working with MultiIndexes where only one level is datetime (my actual case).

I *might* be able to carve out some time for it today or early next week.

[2015-09-04 16:16] mrocklin commented on #661
The problem here might not be `parse_dates`, but rather `index_col`.  At the moment there is no way to tell dask.dataframe that a particular column within the csv file is the index or is a sorted index.

To do this *well* we would want to read a little bit of the csv file at all of the lines where we break on partitions to get the index value at that point.  This is important because we can use th

[2015-09-04 16:31] shoyer commented on #658
Not that this couldn't be useful, but what are the actual use cases here? Lots of columns goes against the tidy data maxim. If the many columns actually a few variables repeated under many conditions, I would say just use xray backed by dask.array.

On Fri, Sep 4, 2015 at 7:32 AM, Matthew Rocklin <notifications@github.com>
wrote:

[2015-09-04 16:36] shoyer commented on #658
Note that Index has immutable values, so the same object can live on multiple series. I think you would gain more from the consistency of using series internally than lose from the overhead of some duplicate metadata. There are lots of strange edge cases (e.g., arithmetic with Timedelta/Timestamp objects) where pandas has fixes for series that don't work on ndarrays, so you would have to construct

[2015-09-04 17:12] stonebig opened #662 "it would be nice to have it also in a wheel format on Pypi"
a dask-0.7.1-py2.py3-none-any.whl

[code]

[2015-09-04 17:13] mrocklin commented on #662
Interestingly we're chatting about release process over at #660 .  Perhaps you can recommend an addition to that workflow on that issue?

[2015-09-04 17:14] caseyclements commented on #658
Some color on where this might be of current value in the financial industry:

1.  When does this come up?

One situation that I have in mind is that banks are being asked by regulators to provide bank-wide simulations of their entire portfolios. One way to approach this is to estimate the joint probability distribution across all underlying factors, hence produce a big covariance matrix.

2.  Wha

[2015-09-04 17:28] shoyer commented on #658
@caseyclements Why not simply use a big 2D (dask) array instead of a DataFrame? That will already let you do arbitrary chunking and is a natural abstraction for implementing the matrix decompositions you want. It already does svd and we've discussed cholesky (https://github.com/blaze/dask/issues/476).

If you want pandas style labels/alignment/groupby [xray](http://xray.readthedocs.org/) can do al

[2015-09-04 18:25] cpcloud commented on #658
+1 for trying out existing technologies to improve them!

[2015-09-04 19:41] caseyclements commented on #658
@shoyer pandas is good for aligning the data sets, as these time series won't line up well at first. once the big 2d array is dense, then dask.array is the natural candidate. great to hear we've got svd! it sounds like we've got what we need in place, then. i'll have a further go at this soon.

[2015-09-04 21:55] sinhrks commented on #612
I've looked through and found there are fewer cases than I initially thought. Let me close this.

[2015-09-04 21:55] #612 closed

[2015-09-04 23:34] lakshmanok opened #665 "Is there a hidden random seed in dask?"
Running this twice on a dask dataframe returns different results in 'outfile' each time:

[code]

myfunc is deterministic.  Yet, if I run the script twice, I get different results.  The format of the input file is as follows:

[code]
The file itself is 8 million lines long.

[2015-09-04 23:42] mrocklin commented on #665
There isn't a random seed in this case, it's just multiple threads acting non-deterministically in the groupby's shuffle.

I suspect that the issue here is that we're not guaranteeing a fixed order within each group.  Perhaps we should sort groups before sending them to myfunc?

I'm curious, what is pandas' policy during a `groupby(...).apply(myfunc)`?  Do the dataframes sent to myfunc obey some c

[2015-09-04 23:55] shoyer commented on #665
Yes, I'm pretty sure pandas preserves the original order of elements in a groupby/apply. I'm not sure if that's actually guaranteed as part of the API though.

[2015-09-05 00:24] mrocklin commented on #665
Preserving original order is going to be *hard*.

The two options I see are sort or ignore.  Thoughts?

[2015-09-05 05:54] shoyer commented on #665
Here's a timely reference for the pandas behavior: https://github.com/pydata/pandas/pull/10931/

[2015-09-05 14:06] lakshmanok commented on #665
Thanks! I think not having the original order preserved is
counterintuitive. However, if the original dataframe has some natural
ordering, users can do a sort in myfunc, so it is not the end of the world.

Perhaps, just document this difference in the API?

Sent from my phone
On Sep 4, 2015 10:55 PM, "Stephan Hoyer" <notifications@github.com> wrote:

[2015-09-05 15:26] mrocklin commented on #665
See https://github.com/blaze/dask/pull/669

[2015-09-06 04:48] ssanderson opened #670 "Shell Injection in dask.dot.dot_graph"
`dask.dot_graph` does a `subprocess.call(..., shell=True)` with a string built from user input.  This is a classic opportunity for shell injection.  Quoting from the [Python docs](https://docs.python.org/2/library/subprocess.html#frequently-used-arguments):

Consider:

[code]
Replacing "touch foo.txt" with something more violent has similar results.

Even ignoring security concerns (I doubt many p

[2015-09-06 04:52] ssanderson commented on #670
https://github.com/blaze/dask/pull/671

[2015-09-06 06:31] 22csnyder opened #672 "Controlling data storage with dask.array.image imread"
This is a follow up to my previous well answered SO question:
http://stackoverflow.com/questions/31951507/out-of-core-4d-image-tif-storage-as-hdf5-python

There are two limitations not addressed. I will work on my own workaround in the meantime--maybe I can make a small poorly written contribution one day to this end.

1) image.imread currently assumes that the images should be stacked "one after

[2015-09-06 15:09] mrocklin commented on #672
Hi Chris,

Thanks for the feedback.  I was also pretty happy with the result of the SO question.  Thanks for raising it and for following up.

1.  It would be pretty easy to turn a nested list of filenames into an appropriate dask.array.  E.g. if we can get the following list of lists

[code]

    then it should be easy to make the array.  Is a list of lists like this an appropriate input to `imre

[2015-09-06 15:43] 22csnyder commented on #672
Dr. Rocklin, (and Dan -- see point 2)

Thanks for the followup. I'll respond inline

1.It would be pretty easy to turn a nested list of filenames into an
appropriate dask.array. E.g. if we can get the following list of lists

[['a.r.tiff', 'a.g.tiff', 'a.b.tiff'],
 ['b.r.tiff', 'b.g.tiff', 'b.b.tiff'],
 ['c.r.tiff', 'c.g.tiff', 'c.b.tiff'],
 ...]

I like this idea, and I hadn't thought of it. I wo

[2015-09-06 15:53] mrocklin commented on #672
The `dims=(...)` idea sounds good to me!

You're right that the current implementation of imread doesn't store the data anywhere, it's just telling dask.array where it can go to retrieve the data from image files when necessary.  The `imread` function should return instantly; it performs no actual work.

However, as you point out, you might actually *want* to base your computations off of an HDF5

[2015-09-06 17:10] 22csnyder commented on #672
Cool! Thanks a lot. Bug me in like 2 weeks if I haven't gotten back to you
about extending imread.

Best,
Chris

On Sun, Sep 6, 2015 at 10:53 AM, Matthew Rocklin <notifications@github.com>
wrote:

[2015-09-06 17:20] shoyer commented on #672
I'm not sure it's necessary to add support for dimensions in `da.imread`.

You can already do this currently with repeated calls to `imread` and `stack`:
[code]

Alternatively, this could be a good use case for a dask array `reshape` method (see https://github.com/blaze/dask/issues/570 for some discussion).

You're absolutely right that you probably want more flexible chunking than than per file.

[2015-09-07 20:31] #480 closed

[2015-09-07 20:58] #665 closed

[2015-09-08 00:14] #670 closed

[2015-09-08 05:38] fortiema commented on #606
@cowlicks I've been very busy with other stuff lately, haven't had the chance to come back to this issue. Hoping I can wrap this up next weekend!

[2015-09-08 13:03] twiecki opened #679 "'GroupBy' has no attribute 'count' on most recent pandas"
Current pandas master and dask master:
[code]
[code]

[2015-09-08 13:21] sinhrks commented on #679
Thanks for the report. Prepared the fix.

[2015-09-08 18:52] mrocklin opened #682 "Create docpage about how to use async scheduler"
There are various options and flags that are pretty handy in non-trivial use.  Currently the only documentation is more research-y.  It would be good to have a doc page that was about “How to run the thing you just made” (feedback from @seibert)

[2015-09-08 18:57] seibert commented on #682
To add some more information here: The main thing that was lacking was some page that showed some simple examples of how to execute the dask graph that was created with different schedulers and different options to those schedulers.

[2015-09-08 19:16] lakshmanok commented on #665
I don't think that this is fixed.  I updated to the latest 'master', and even tried sorting the group within "myfunc".  Here's a short program that illustrates the problem:

[code]

[2015-09-08 19:44] mrocklin commented on #665
Note that by default `DataFrame.sort` doesn't operate in place.  You might want the following.

[code]

By adding this I get the following:

[code]

[2015-09-08 19:47] lakshmanok commented on #665
thanks, yes, changing to sort the group fixes the problem.

[2015-09-08 22:20] sinhrks commented on #679
Closed by https://github.com/pydata/pandas/pull/11025

[2015-09-08 22:20] #679 closed

[2015-09-08 23:47] cowlicks commented on #597
Hello @vipinanandcpp, when you do `json_.to_dataframes()` the entire uncompressed dataset is being loaded into memory. Which could be significantly larger than 700MB, maybe even larger than RAM.

I think this is might be a not-enough-memory thing. Another hint this is the case is that the err'ing line has the comment `# reject large message`.

Could you try with a subset of the data?

[2015-09-08 23:56] cowlicks commented on #224
There is a prototype here https://github.com/ContinuumIO/dask-distributed-demo (private repo)

@chdoig could you move this to the blaze org? Or maybe we should wait for @mrocklin's planned distributed changes.

[2015-09-09 00:03] mrocklin commented on #224
My current plan is to avoid committing resources to the current `dask.distributed` system.  I'm open to other suggestions.  My work at github.com/mrocklin/distributed is slowgoing but also somewhat steady.

[2015-09-09 00:04] cowlicks commented on #633
reference to the discussion here: https://gitter.im/blaze/dask?at=55d7d0349c8a343a5a1e9ab1

I would not be in favor of adding a third party version tracking framework like versioneer. Just due to the complexity.

[2015-09-09 00:06] mrocklin commented on #633
I don't think he's talking about versioning the code.  I think he's talking about versioning the issues and pull requests.  See https://github.com/blaze/dask/issues?q=milestone%3A0.7.1

[2015-09-09 00:22] cowlicks commented on #633
I don't have a real reason, other than I would probably forget sometimes.

[2015-09-09 00:27] cowlicks commented on #602
@cpcloud I heard you have played with these?

[2015-09-09 01:49] cpcloud commented on #633
FWIW versioneer is pretty much a set it and forget it kind of thing. There's a one time cost to setting it up but after that it requires virtually no maintenance. What you get out of it far outweighs the cost of the one time setup.

[2015-09-09 08:54] sinhrks commented on #633
As labeling issues/PRs take not much time, I'm willing to do when we release, until we need more robust management like release note:)

We can discuss versioning separately.

[2015-09-09 14:05] rossant opened #684 "NPY support"
It would be nice to have a method `array.to_npy('file.npy')`

[2015-09-09 14:25] mrocklin commented on #684
Sure.  Just to be clear, my understanding is that npy files do not support partial reads so we should be able to assume that the result fits in memory.  Is this correct?

If this is the case then the implementation will probably be something only marginally more complex than the following:

[code]

[2015-09-09 14:30] rossant commented on #684
Actually I would need this for huge out-of-memory arrays. AFAIU [npy does support memmapping](http://docs.scipy.org/doc/numpy/reference/generated/numpy.load.html)?

To write a big array on disk maybe you could first write an empty array in a file, and fill it chunk by chunk? Otherwise there might be a way to just append data to an existing file, since [npy](http://docs.scipy.org/doc/numpy-dev/neps

[2015-09-09 14:40] mrocklin commented on #684
Ah, I had forgotten about memmap.

Your suggested approach should work well.  Here is a small test:

[code]

[2015-09-09 14:42] mrocklin commented on #684
Hrm, this approach unfortunately involves two complete writes to disk.

[2015-09-09 14:47] jcrist commented on #684
From the format spec, we could probably do an append approach if we wanted (https://github.com/numpy/numpy/blob/master/doc/neps/npy-format.rst). Would you want the arrays written as chunks (format looks like multiple arrays on disk to numpy), or as a single array (looks like 1 array on disk to numpy)?

[2015-09-09 15:03] rossant commented on #684
@jcrist probably multiple arrays on disk. Here's what I'm trying to do:

Initially I have a dask array `D=(D1, D2, ..., Dn)` (2D arrays chunked along axis=1) loaded from a big flat binary array. Then a function `f` is applied to every chunk in parallel, returning array `O=(O1, ..., On)`. I want to persist this big output array on disk, using the `npy` format, in a sensible way that I can control.

[2015-09-09 15:08] mrocklin commented on #684
Ah, ok, so you don't want a single npy file, you're looking for a more custom/chunked solution.  Implementing this is probably easier than figuring out the right API/spec.  What were you thinking?  Perhaps the following?

[code]

[2015-09-09 15:13] rossant commented on #684
Yes, something like that. I guess there would be one directory per dask array, with one file per chunk?

Conversely, how would I load this set of files into a dask array without loading all files into memory? This would be to export this multi-npy-files array into a single npy array.

[2015-09-09 15:17] mrocklin commented on #684
I was thinking one file per slice rather than one file per chunk.

Regarding loading, this work would accompany a second function to load.

[2015-09-09 18:46] mrocklin commented on #684
So @rossant just to be clear on things before I start on this.  Does the following look right to you?

[code]

[2015-09-09 18:56] shoyer commented on #684
Just a note -- reading mmapped arrays with dask is already highly performant with the multi-threaded engine. We do this all the time for reading netcdf3 files in xray via scipy (which uses mmap for reads).

[2015-09-09 19:36] rossant commented on #684
@mrocklin to be clear can you precise the structure of `my_dask_array` and the contents of `0.npy` etc?

[2015-09-09 19:38] mrocklin commented on #684
[code]

[2015-09-09 19:38] mrocklin commented on #684
[code]

[2015-09-09 19:42] rossant commented on #684
ah, okay, so that's not exactly what I had in mind. In my case I have `my_dask_array.shape == (5000, 2000)` with, say, 100 chunks of size 50, and I'd expect `np.load('/path/to/data/0.npy').shape == (50, 2000)`

[2015-09-09 20:50] mrocklin commented on #684
Potential candidate implemented in #686.  Feedback welcome.

As a general disclaimer though this seems like the kind of problem for which several valid solutions exist.  It's entirely possible that this API changes significantly in the future.

[2015-09-10 01:25] mrocklin opened #688 "Add to dask graph mid-computation"
Sometimes we learn about more tasks to compute *during computation*.  At the moment the dask schedulers don't support this and with good reason.  The state that we initialize at the beginning of computation might be tricky to update.

In practice our current solution to this problem is to have several completely separate calls to `get`.  This is simple and effective but loses some potential parall

[2015-09-10 01:40] mrocklin opened #689 "Tool to diagnose the parallelizability of a dask graph"
I have a nice computational graph with lots of mostly-numeric functions.  However I'm only getting 200-300% CPU usage on a twelve core machine.  I'd like to track down which of my functions parallelize well and which don't.  I'd also like to test the purity of these functions, ensuring that they produce the same results on each execution.  What I need is a set of valid inputs for each of these fun

[2015-09-10 02:18] mrocklin commented on #689
Hrm, this could probably just be done with the synchronous scheduler and a callback.

[2015-09-10 06:08] shoyer commented on #689
I'm surprised you need to verify which functions are pure. That part is usually pretty obvious (at least it should be!). I also doubt it can be diagnosed reliability, especially for functions with side effects like writing to disk.

I agree that it would be useful to diagnose the parallelizability of tasks. The diagnostic might also try running tasks in a process pool for the sake of comparison, w

[2015-09-10 10:25] rossant opened #690 "Specify the name of a map_blocks task"
It would be nice to be able to do `arr.map_blocks(f, name='my_function')`. When using callbacks, it would allow one to know which function is being executed in the current task.

[2015-09-10 13:53] mrocklin commented on #689
I'm working with a large-ish foreign codebase.  It's much easier wrap things with `do` than to investigate each function.

[2015-09-10 14:00] mrocklin commented on #690
Yeah, that's doable.

[2015-09-10 14:01] #317 closed

[2015-09-10 15:38] mrocklin commented on #689
I'm currently getting by with just a decorator

[code]

[2015-09-10 16:04] #690 closed

[2015-09-10 16:27] #477 closed

[2015-09-10 18:28] cowlicks commented on #477
@stefanv I think #681 partially serves your needs.

[2015-09-11 17:07] jreback opened #693 "pandas v0.17.0rc1"
we have some fairly significant changes and would like you to test and provide any feedback: https://github.com/pydata/pandas/releases/tag/v0.17.0rc1

thanks!

[2015-09-11 22:04] sinhrks opened #696 "Bug in DataFrame elemwise results in incorrect columns metadata"
[code]

[2015-09-12 19:13] mrocklin commented on #595
OK, I took a crack at this myself.  General feedback is that I found it fairly comfortable to wrap the scikit learn logic with dask imperative.  However, I ran into issues because of the reliance of the API on side effects.  For example I really want to have some token at the end of calling

    result = estimator.fit(...)

but sadly it's quite idiomatic to just say the following:

    estimator.f

[2015-09-12 19:38] mrocklin opened #699 "Unite do and value into delay"
When parallelizing existing codes I find myself adding a kwargs `do=identity` in many functions

[code]

By default this does nothing and the original code continues without change.

For more complex functions sometimes we pass do within subfunctions

[code]

This is again harmless in the common case.   However now I need to track which functions parallelize themselves with `do` and onto which I w

[2015-09-12 20:32] shoyer opened #700 "Duck typed dask collections for use with dask.imperative"
If an `xray.Dataset` consists of dask arrays, it should work like a first class dask collection for integration with `dask.imperative`. That is, when you call a delayed function (constructed with `dask.imperative.do`) on a xray Dataset consisting of dask arrays, dask should merge the task graphs when it executes.

The logic in dask.imperative that does this currently checks if the object inherits

[2015-09-12 20:53] shoyer opened #701 "Convert dask.imperative values into dask collections"
Dask imperative transparently converts dask collections into `Value` objects. It would be useful to be able to do the opposite -- that is, to convert a lazy value into a dask array (or dataframe).

This would be quite useful for constructing dask collections from arbitrary user defined code, as a more flexible alternative to `da.core.from_func` (https://github.com/blaze/dask/pull/400).

Here's an

[2015-09-12 21:11] shoyer opened #702 "atop with multiple output arguments"
Yesterday, we (@mrocklin, @clarkfitzg and myself) discussed writing some sort of user facing API for `atop` for xray that makes use of xray's metadata to automatically generate complex `atop` calls by inspecting the result of applying the function to a single block.

To make this work generically as a function that transforms `xray.Dataset` objects, which can be containers of multiple dask arrays,

[2015-09-12 21:22] mrocklin commented on #702
The `atop` function may be restrictive in other ways as well.

For example it currently it trusts that chunks either maintain their shape or else collapse dimensions entirely.  This may be overly restrictive for your case.

The lower-level function `top` may also be appropriate though would also require mucking about with dicts a bit more and handling shape and chunk shapes yourself.

I see a few

[2015-09-12 21:57] shoyer commented on #702
I'm OK with chunks along a dimension either preserving their shape or being collapsed entirely.

What I would like, though, is the ability to create new, unchunked, dimensions. I suspect that we could accommodate this by adjusting the `numblocks` argument to `top`, e.g., instead of this:

    ...                                                      'y': (2, 2)})  # doctest: +SKIP

we should specif

[2015-09-12 22:15] shoyer commented on #702
Actually, working with the existing version of `top` directly might be fine. The functions I want to insert into the task graph will each returning a single `xray.Dataset` (or `DataArray`) object. We can then write the book-keeping that turns these results back into dask arrays ourselves.

[2015-09-13 14:10] #696 closed

[2015-09-13 14:15] #684 closed

[2015-09-13 15:46] amueller commented on #595
Hm... I don't have a good answer to that... The API wasn't really designed with lazy evaluation in mind...

[2015-09-13 15:48] mrocklin commented on #595
Yeah, this probably just means that if we want to make dask-enabled pipeline and gridsearch stuff then it probably can't be cleanly integrated into the existing code.  We'll probably have to make something new that has a different internal interface.

[2015-09-14 15:07] clarkfitzg commented on #702
Still wrapping my head around all this. I'd like to understand:

1. what the existing dask / xray libraries can do together here
2. a specific use case of new functionality we'd like for xray

@shoyer writes:

Does that happen in the code below?

[code]

Which produces:

![image](https://cloud.githubusercontent.com/assets/5356122/9853089/c6cf28c6-5ab6-11e5-802b-500627da9f7a.png)

This creates the

[2015-09-14 15:37] cowlicks commented on #606
Hey @fortiema if you have not had time to pick this back up, I can work on it today.

[2015-09-14 16:38] shoyer commented on #702
Yes, that's a good example of adding a new dimension.

A simple use case that is currently impossible is to take the median along one axis of a large array. We currently don't have a median in dask array because streaming quantiles are non-trivial. However, in many practical cases it's actually fine to load al the data necessary for the median in a single chunk:

- Given a large 3D dataset with di

[2015-09-14 17:20] clarkfitzg commented on #702
So in this case the large 3d dataset contains several dask arrays. Then we use `da.top` to apply an arbitrary function along a dimension. Is this correct?

[2015-09-14 17:33] shoyer commented on #702
Yes, though we might actually be able to use `da.atop` here to keep track of a bit more of the bookkeeping for us.

[2015-09-14 17:35] #624 closed

[2015-09-15 03:54] fortiema commented on #606
@cowlicks Please do so! I've been recently caught up in more pressing issues and didn't have time to make any significant progress on this.

[2015-09-15 08:52] ogrisel commented on #595
+1 for not sticking too strictly to the sklearn's API when it does not make sense from a dask point of view.

[2015-09-15 16:17] mrocklin opened #710 "Groupby.nunique along index"
We currently calculate groupby.nunique by using `drop_duplicates` on all chunks, then concatenate all results together followed by an `nunique`.  This works ok as long as the intermediate result fits into memory.  In cases where we group along the index,

[code]

or along an operation that maintains groups along the index

[code]

Then we can just do `nuniques` directly on the chunks.  This is mor

[2015-09-16 09:43] willfurnass opened #714 "read_csv: passing index_col results in KeyError"
Sample data:
[code]

The following results in a `KeyError` (full stack trace on [pastebin.com](http://pastebin.com/nx1zBQA7)):
[code]

However, setting the index column using the `set_index` method works (e.g. as follows) for single-columned indexes ([MultiIndexes](http://pandas.pydata.org/pandas-docs/stable/advanced.html) are not yet supported in Dask).

[code]

Issue detected when using Dask 0.7

[2015-09-16 14:49] mrocklin commented on #714
Indexes have to be a bit more strange when working in parallel.  I think that, for the moment we should just raise an informative error pointing people to use `set_index` explicitly.

[2015-09-16 15:35] cowlicks opened #715 "Encoding issues in dask.bag"
This will raise an exception in decode sequence that the `'ascii'` codec can't decode some character. This is because the data is unicode.
[code]

[2015-09-16 15:47] cowlicks commented on #715
Here is a better test
[code]

[2015-09-16 21:24] #715 closed

[2015-09-16 21:27] clarkfitzg opened #719 "random states may have same seed"
The current implementation of seeding the random number generator is:

[code]

This can result in repetition of seeds => random sequences are the same, which is probably not what users intend. The reasoning is the same as the [birthday problem](https://en.wikipedia.org/wiki/Birthday_problem) in probability.

[code]

Here's a few figures:
[code]

So if there are 50000 chunks, there's a 44% chance t

[2015-09-16 21:36] clarkfitzg commented on #719
cc @shoyer

[2015-09-16 21:38] mrocklin commented on #719
Changing the replacement choice seems like a cheap and useful change to me.

[2015-09-16 21:42] shoyer commented on #719
@clarkfitzg do you mean "eliminate this by sampling *without* replacement"? If you same *with* replacement, I think you'll still get this same problem.

[2015-09-16 21:45] clarkfitzg commented on #719
@shoyer good catch. Yes, should be _without_ replacement.

[2015-09-16 21:47] clarkfitzg commented on #719
So code should be
[code]

I'll send a PR.

[2015-09-16 21:50] mrocklin commented on #719
We do this trick in a few places if you feel adventurous :)

[code]

[2015-09-16 22:23] #693 closed

[2015-09-16 22:44] clarkfitzg commented on #719
Looks like Numpy tries to actually build the array here. This blows up the memory:
[code]
So we'll need a helper function that can efficiently sample without replacement. This shouldn't be hard, but I'll have to come back to this.

[2015-09-16 22:46] mrocklin commented on #719
[code]

One shouldn't be afraid of pure python in cases like this.

[2015-09-17 18:03] metaperture opened #721 "dask.imperative.do kwargs support"
Hey Blaze team! I've just started using Blaze/Dask/Odo, and I love your work.

I came across this issue recently--I would expect the following behavior from dask:
[code]

Currently, however, it returns a value object, from which it looks like the kwargs in mysum aren't being considered as dask-able. I do get the expected result when I monkey-patch dask.imperative.applyfunc with the following:
[cod

[2015-09-17 19:18] metaperture commented on #721
Actually, a better test case:
[code]
Shows the return format needs to be:
[code]
Again, I still don't entirely know why that works, so I might be overcomplicating things. All hail the cargo cult.

[2015-09-17 19:25] jcrist commented on #721
Thanks for the bug report and test case. This should be fixed in #722, please try it out and let me know if it solves your problem.

[2015-09-18 14:43] jcrist opened #726 "Resample fails on freqs > day"
Resample currently fails on certain cases. These are:

- Empty bins that are between two partitions. Pandas fills these with NaN (or as specified by a kwarg), these bins will just not be there in dask.
- Weirdness from the behavior of closed='right' and label='right' kwargs. These are also the defaults for resample('W'). This can cause repeat bins, as we didn't actually split on the partition appr

[2015-09-19 03:45] shoyer opened #731 "dask.dataframe quantile fails spectacularly in some edge cases"
[code]

This is also true for arbitrarily large repetitions of this data, e.g.,
[code]

cc @ogrisel

[2015-09-19 05:29] shoyer opened #732 "Implement da.einsum"
I think this should be a simple wrapper on top of `dask.array.core.atop`.

[2015-09-19 05:59] shoyer commented on #732
This version appears to work:
[code]

So this looks like a partial solution:
[code]

But it fails for some variants of einsum:
[code]

[2015-09-19 16:01] sinhrks commented on #731
Is there better approximate/interpolate method, or add ``strict`` option?

[2015-09-20 05:39] shoyer commented on #731
Yes, there are streaming algorithms designed to handle approximate quantiles. t-Digest is a good candidate: https://github.com/CamDavidsonPilon/tdigest

[2015-09-20 07:31] ogrisel commented on #731
tdigest's quantile seems to do interpolation by default though. It's probably fine for large data but might be unexpected for user looking for a median.

[2015-09-20 20:23] thrasibule opened #734 "dask.dataframe is missing reindex and reset_index methods"
Right now the only way to update an index is to reload a dataframe from file, or is there a better way to do it?

[2015-09-20 22:17] thrasibule opened #735 "dask.dataframe groupby(as_index=False) does nothing"
When doing a groupby, the index gets set even when specifying as_index=False. This combined with issue #734 means that groupby has to be the last operation, otherwise we're losing columns.
Also it seems that groupby works fine with multiple columns, even though multiindex are not supported, which doesn't seem very consistent.

[2015-09-21 14:37] metaperture commented on #721
Wow, that was quick! And it works, thanks!!

[2015-09-21 15:36] #721 closed

[2015-09-21 16:14] mrocklin commented on #734
Does `set_index` satisfy your needs?

The reindex method is probably doable as long as we don't care too much about order.  Can you describe what you're trying to accomplish?

[2015-09-21 16:17] mrocklin commented on #735
Yes, we should at least raise a `NotImplementedError` here.

Can you give an example of losing columns?

[2015-09-21 16:26] #726 closed

[2015-09-21 16:59] thrasibule commented on #735
What I mean by losing columns is that once a column becomes the index in dask, I see no way to bring it back as a normal column. If I use set_index(drop=False) that would work, but groupby silently creates an index without giving that option. The example is a little contrived, but hopefully conveys what I'm trying to achieve:

[code]
In dask, A would be the index of df2, and then I don't see any w

[2015-09-21 17:02] mrocklin commented on #735
OK, this makes sense to me.  I'm a bit saturated this week but may be able to pick this up next week.  At the very least `reset_index` should be trivial to add if we don't mind having a non-sensical index (e.g. `[0, 1, 2, 3, ... 0, 1, 2, 3, ... 0, 1, 2, 3]`)

[2015-09-21 17:03] mrocklin commented on #735
Of course it'd be great if anyone else can pick this up in the meantime.

[2015-09-21 17:04] thrasibule commented on #734
Yes set_index(drop=False) works, that way I can always create a new index, but otherwise it seems to me once that setting the index in a dask dataframe is a non reversible operation. The only way to reset it is by reloading the dataframe from disk. I'll close this particular issue, since #735 probably gives a more concrete example of why being able to reset the index is needed.

[2015-09-21 17:04] #734 closed

[2015-09-21 18:58] #682 closed

[2015-09-21 20:17] mrocklin opened #738 "Tokenize/hash numpy/pandas inputs"
Currently we tokenize numpy arrays with `(id(x), x.shape, x.dtype, x.strides)`

We should consider tokenizing based off of the data instead of the object id

    sha1(x.data).hexdigest()

This gets about 400MB/s on my old laptop.  We can also learn from what `joblib` does here.

This gets trickier on object dtype.  In this case we might want to depend on Python's hash + `.tolist`

    hash(x.flat.

[2015-09-21 20:18] mrocklin commented on #738
Gitter conversation on this here https://gitter.im/BIDS/ds4ds?at=55fda8c218e0111d7e4fae35

[2015-09-21 20:32] #714 closed

[2015-09-21 22:04] cowlicks commented on #601
@blitzd Could you try specifying the encoding as `utf-16-be` or `utf-16-le` which ever it is.

You can figure out the encoding by reading the first two bytes of the file and comparing them with the constants in the `codecs` package in the python standard library.

[2015-09-21 22:11] mrocklin opened #741 "Special case apply in pprint_task"
When looking at profile plots, tasks that use apply become illegible

    f(x, y, z=10) # want to specify this
    (f, x, y, ??) # no way to specify kwargs
    (apply, f, (x, y), {'z': 10})  # so we use apply!
    (apply, f, (tuple, [x, y]), (dict, (list, [(list, ['x'])]), (list, [(list, [10])])])))  # but we also quote

:(

We might consider special casing `apply` in the `pprint_task` function.

[2015-09-22 14:29] blitzd commented on #601
@cowlicks In the repro above the file is being created just a few lines before the read, and still shows the same issue. I did try the below, though I think I am even more confused by the results:

[code]

out:

[code]

I'm running on Win-10, which is LE. When I write/read the file as utf-16-be I actually get the correct count. When I write/read the file as just uft-16, I continue to get a CParser

[2015-09-22 16:56] jcrist commented on #741
Unquote:

[code]

`pprint_task` will probably have to use something different, to properly handle printing keys and things. Not sure.

[2015-09-22 16:57] mrocklin commented on #741
Perhaps `pprint_task` just includes recursive cases for `(list, ...)` and `(dict, ...)`.

[2015-09-22 17:00] jcrist commented on #741
For tasks with `apply`, would you want them to show `apply`? Or convert to normal call syntax, and show the dict as kwargs? I can see the merit in both options, just need a decision.

[2015-09-22 17:01] mrocklin commented on #741
I suspect that most users are unfamiliar with `apply`.  I would opt to show them `f(x, y, z=10)` instead if possible.

[2015-09-22 19:16] jcrist commented on #738
Was this 100% fixed in #742?

[2015-09-22 19:18] cowlicks commented on #735
I can pick this up.

[2015-09-22 19:45] cowlicks commented on #601
#739 should close this, see the tests [here](https://github.com/blaze/dask/pull/739/files#diff-bddfeaebc5b26f731ea3fbf5595b1825R750), which pass.

[2015-09-22 20:07] #738 closed

[2015-09-22 21:12] shoyer opened #746 "Add optimizations to dask.array to remap ufunc(data)[key] to ufunc(data[key])"
This is a reminder to finish up/reboot the aborted PR #410

These optimizations would be *extremely* useful for xray's integration with dask (both internally and for our users), by allowing us to write transformations on entire dask arrays without any cost in unnecessary IO. Once this is working robustly, I'll be able to delete a pretty significant chunk of code from xray that deals with lazy comp

[2015-09-22 21:30] #741 closed

[2015-09-23 08:41] rabernat opened #747 "hdf read error"
I am trying to read an hdf5 file created with pytables into dask. I am calling

[code]

And getting the error
[code]

If helpful, I can post the h5dump of the file header. (It's really long.)

[2015-09-23 08:43] rabernat commented on #747
I should also mention that I don't know whether pandas can read this or not--it is too big to fit into memory.

[2015-09-23 15:49] mrocklin commented on #747
Try

pd.read_hdf(..., start=0, stop=10)

to get a few rows using pandas.

On Wed, Sep 23, 2015 at 1:43 AM, Ryan Abernathey <notifications@github.com>
wrote:

[2015-09-23 17:00] jcrist commented on #746
I'm working on this. For single argument ufuncs, this is fairly simple. I'm uncertain how to handle functions with multiple arguments (or operators), as the slicing can't be pushed to all arguments due to broadcasting:

[code]

Suggestions on how to properly handle this would be appreciated.

[2015-09-23 17:11] shoyer commented on #746
I think we should insert an explicit broadcasting step into `elemwise` using the dask equivalent of `np.broadcast_arrays`. We can build this up out of `broadcast_to`, though we'll need our own code to calculate the target shape. Then, we can simply index into each non-scalar argument, because they will all be the same shape.

[2015-09-23 17:17] shoyer commented on #746
It's possibly worth copying NumPy's unit tests from `_broadcast_shape` in `numpy.lib.stride_tricks`: https://github.com/numpy/numpy/blob/941a4e037d394dada43e3c2beef1e650d5505742/numpy/lib/tests/test_stride_tricks.py#L267

However, the current implementation only works on NumPy arrays because it uses the NumPy array iterator: https://github.com/numpy/numpy/blob/941a4e037d394dada43e3c2beef1e650d5505

[2015-09-23 17:23] shoyer commented on #747
In my experience, pandas struggles to read HDF5 files that were created with anything other than pandas. It uses pretty specific conventions for storing metadata.

[2015-09-23 19:20] jcrist commented on #746
After experimenting with this for a bit, it seems that explicitly calling `broadcast_to` in the graph is 20% slower on simplistic cases (summing a 500x500x500 array with a 500x500 one, chunked by 250 in each dimension). I tried a few other cases, and saw similar numbers. This may be insignificant in real cases, I'm not certain. I suspect it will have an impact though, as elementwise computations a

[2015-09-23 19:22] shoyer commented on #746
20% slower at compute or compile time?

On Wed, Sep 23, 2015 at 12:20 PM, Jim Crist <notifications@github.com>
wrote:

[2015-09-23 19:32] jcrist commented on #746
[code]

Again, toy computation, probably not representative of real world things.

[2015-09-23 20:11] shoyer commented on #746
Hmm. Might be worth a shot trying `getitem_from_broadcasted` then.

[2015-09-23 20:58] cowlicks opened #748 "Windows error in test_array_core.py::test_memmap"
An error trying to close a file while another process has access to it.
[code]

[2015-09-23 20:59] mrocklin commented on #748
Probably just need to close the file in a finally clause

[code]

[2015-09-23 20:59] cowlicks opened #749 "Windows error in array/tests/test_random.py::test_concurrency"
Not sure about this one
[code]

[2015-09-23 21:17] rabernat commented on #747
[code]
gives
[code]

Frustrating. I guess this is a more general pandas issue.

I have hundreds of GB of data in this format. I was hoping to be able to use dask on it. Too bad...

[2015-09-23 21:23] cowlicks commented on #747
You could try loading it into dask.array.

http://dask.pydata.org/en/latest/array-creation.html

[2015-09-23 21:25] shoyer commented on #747
You might also be able to whip up a custom solution using `dd.from_array`.

Alternatively, I think there might be an easy way to construct a dask DataFrame out of dask arrays?

[2015-09-23 21:30] rabernat commented on #747
Thanks a lot for the feedback.

I was able to load the data as a dask array, following the example from @cowlicks. This is useful progress. But none of the column names were imported.

I would like to be able to use the dataframe api, specifically groupby, on this dataset. So constructing a DataFrame out of the dask array would be ideal. Can't see exactly how to do that however.

[2015-09-23 21:44] mrocklin commented on #747
You may find the dask.dataframe.from_dask_array function to be of use.

On Wed, Sep 23, 2015 at 2:30 PM, Ryan Abernathey <notifications@github.com>
wrote:

[2015-09-23 23:19] jcrist commented on #746
So I'm running into a problem - the following won't work with non-array objects (hdf5 files, etc...).

[code]

For indexing/slicing operations, I can transform the index appropriately with a little extra logic to remove the need to call `broadcast_to`. I'm unsure if the same can be done for indexing with boolean or integer arrays.

[2015-09-23 23:26] shoyer commented on #746
As long as you aren't doing vectorized fancy indexing stuff, you can treat each axis independently. Then indexing into a synthetically enlarged axis is pretty simple: just grab the approach number of elements (preferably using broadcast_to), since they will all be duplicated.

On Wed, Sep 23, 2015 at 4:19 PM, Jim Crist <notifications@github.com>
wrote:

[2015-09-24 00:09] cowlicks opened #751 "windows error in diagnostics tests"
[code]

[2015-09-24 00:17] cowlicks commented on #751
cc @jcrist should this work on windows?

[2015-09-24 00:22] jcrist commented on #751
This looks like an intermittent error - the results list is empty. If there are never any results (say for a longer test) then it might be a windows issue. Either way, that `zip` should be changed to `unzip` from `dask.imperative` (and that function should be moved to `utils`)

[2015-09-24 00:23] cowlicks opened #752 "Windows error in dask distributed"
This looks similar to #749, the exception occurs at the same place in the multiprocessing scheduler.

[code]

[2015-09-24 00:35] cowlicks commented on #752
I missed part of the traceback, an important part:
[code]

I think this is a bug in python's pickling or multiprocessing. Same as this SO question https://stackoverflow.com/questions/26041404/python-windows-and-multiprocessing

[2015-09-24 01:01] cowlicks commented on #749
Not sure how to fix this. I tried made the relative imports in multiprocessing.py absolute. But now I get
[code]

[2015-09-24 15:03] cowlicks commented on #751
This happens consistently.

[2015-09-24 16:56] jcrist commented on #746
So would it be fine if this optimization pass only worked on indexes composed of slices, ellipsis, or single integers?

[2015-09-24 17:01] shoyer commented on #746
Indexing with 1D arrays is also pretty important. I don't think that's much
harder than doing slices. Slices, ellipsis and single integers would be a
good start, though, and I can see if there's an obvious way to extend that.

On Thu, Sep 24, 2015 at 9:56 AM, Jim Crist <notifications@github.com> wrote:

[2015-09-24 19:31] jcrist commented on #751
Blake and I tested this on a windows VM, and found it works for longer runtimes - the test is too short for windows to spin up a process, log data, then send it. My vote is to leave the test as is (unix-likes test that data is recorded), and the fix in #754 ensures that plotting works with empty results. Other option is to make the test longer. Thoughts?

[2015-09-24 20:03] cowlicks commented on #601
#739 is in

[2015-09-24 20:12] cowlicks commented on #606
Closed by #723

[2015-09-24 20:12] #606 closed

[2015-09-24 20:40] jcrist commented on #751
Tested on windows, closing.

[2015-09-24 20:40] #751 closed

[2015-09-24 20:44] #748 closed

[2015-09-24 21:21] cowlicks commented on #735
I'm confused by this. What was the approach you had in mind @mrocklin ?

[2015-09-24 21:37] cowlicks commented on #672
Ping @22csnyder

@shoyer would something like `da.to_hdf5(..., write_chunks=False)` work?

[2015-09-24 22:11] mrocklin commented on #752
I suggest that we skip dealing with distributed issues.

On Wed, Sep 23, 2015 at 5:35 PM, Blake Griffith <notifications@github.com>
wrote:

[2015-09-24 22:18] mrocklin commented on #735
We should probably check keyword arguments in groupby and raise notimplementederrors accordingly.  We should probably also implement `reset_index` which will just map `self._partition_type.reset_index` onto the blocks and set `divisions = [None] * (self.npartitions + 1)`

[2015-09-24 22:23] cowlicks commented on #752
@mrocklin I agree. But I think this is a windows multiprocessing issue. It is probably caused by the same thing as #749. So fixing #749 would fix this.

[2015-09-24 22:25] mrocklin commented on #752
OK

On Thu, Sep 24, 2015 at 3:23 PM, Blake Griffith <notifications@github.com>
wrote:

[2015-09-25 15:11] cowlicks commented on #747
@rabernat did @mrocklin's suggestion work for you? If you have anymore questions we're happy to help.

[2015-09-25 15:52] mrocklin commented on #689
Closing as speculative

[2015-09-25 15:52] #689 closed

[2015-09-25 16:01] mrocklin commented on #719
Given that we do this a few times whatever solution we come to should probably live as a general utility function.

[2015-09-25 18:58] cowlicks commented on #662
@stonebig there is now a wheel available for the latest release -- 0.7.3.

[2015-09-25 18:59] #662 closed

[2015-09-25 19:31] sinhrks commented on #333
Closed by #725.

[2015-09-25 19:31] #333 closed

[2015-09-25 19:51] clarkfitzg commented on #719
Yes, that's what I figured, and it's also why I hesitated on submitting a PR. Thanks for the reminder! I have a couple hours now, let me take another look.

[2015-09-25 20:16] jcrist commented on #637
Closed by #687.

[2015-09-25 20:16] #637 closed

[2015-09-25 20:17] jcrist commented on #349
Closed by #403.

[2015-09-25 20:17] #349 closed

[2015-09-25 20:24] jcrist commented on #749
This was discovered to be due to running tests in `dask/dask` directory. Closing.

[2015-09-25 20:24] #749 closed

[2015-09-25 20:24] jcrist commented on #752
This was discovered to be due to running tests in `dask/dask` directory. Closing.

[2015-09-25 20:24] #752 closed

[2015-09-25 21:20] clarkfitzg commented on #719
An observation- `dataframe.DataFrame.random_split` takes `seed` as a parameter while `dataframe.DataFrame.sample` takes `random_state`. It would be nice if these were the same.

[2015-09-25 21:27] stonebig commented on #662
thanks !

[2015-09-26 08:45] rabernat commented on #747
@cowlicks @mrocklin, really appreciate your help here.

dask.dataframe.from_dask_array did work in the sense that it did not raise any errors. However, the resulting dataframe is unusable. This is my complete workflow

[code]

But if I try to actually access the dataframe, e.g. ```ddf.head()```, I get the error

[code]

Since a compound dtype is the essence of tabular data, and the whole reason I

[2015-09-26 09:02] rabernat commented on #747
Btw, in retrospect I was wrong about this. The column names were imported in the form of a numpy structured array.

I just want to be able to do groupby.

[2015-09-27 09:30] shoyer commented on #672
I think Matthew actually added this feature in a recent PR... I'm pretty sure you can now say chunks=None to turn off chunking.

On Thu, Sep 24, 2015 at 2:37 PM, Blake Griffith <notifications@github.com>
wrote:

[2015-09-27 15:52] mrocklin commented on #747
This may be resolved in https://github.com/blaze/dask/pull/759

[2015-09-27 20:53] #570 closed

[2015-09-27 20:54] mrocklin commented on #747
@rabernat this should now work if you're on master branch.  Are you able to verify this?

[2015-09-28 00:54] shoyer commented on #672
PR #758 added support for `reshape`, which should solve your need for the `dims` argument. As long the image dimensions are along the last axes, this sort of reshaping will be very efficient.

[2015-09-28 08:37] rabernat commented on #747
Yes, it works! :+1:

[2015-09-28 09:20] rabernat opened #760 "segmentation fault with dask.dataframe.read_hdf"
I continue in my quest to use dask with a large hdf file.

After learning that my original pytables-generated HDF files might not be able to be read by dask.dataframe (because dask uses subselection: pydata/pandas#11188), I tried re-generating the files using the pandas HDFStore interface. (First I had to updated pytables overcome a different bug: pydata/pandas#10672.) (Also, in the meantime, a wo

[2015-09-28 15:32] cowlicks commented on #760
This might be hard to debug without a little more info. Could you try stepping through the computation with pdb to see where the segfault happens?

[2015-09-28 15:47] mrocklin commented on #747
Great!   I'm going to close this for now.

[2015-09-28 15:47] #747 closed

[2015-09-28 16:04] mrocklin commented on #760
This would probably require the use of `gdb` rather than `pdb`.

I think that the right thing to do from a dask development perspective is to kick this up to pytables as an issue about thread-safety.  I suspect that if you were to make many calls like `df.read_hdf(..., start=100000*i, stop=100000*(i+1))` in different threads that this would trigger the issue without dask (this is, in fact, all tha

[2015-09-28 16:13] mrocklin commented on #760
We could also throw in a `lock=True` keyword argument around the `pd.read_hdf` calls

[2015-09-28 18:13] shoyer commented on #760
:+1: for `lock=True`. HDF5 does not support concurrency with threads (this is normally not an issue unless you've enabled compression or are using multiple disks), so we can either add our own lock or push the lock upstream to pytables, but in the end it will all be the same.

[2015-09-28 18:29] mrocklin commented on #760
@rabernat can you verify that dd.read_hdf works fine in your example with a single thread?  If so then I'll go ahead and add a lock around the `pd.read_hdf` calls.

[code]

[2015-09-28 20:02] shoyer opened #761 "Dask needs a logo"
Dask is starting to get lots of buzz, which is great, but without a logo there's no consistent memorable graphic someone can plot on a slide or webpage to indicate that they use the tool. I've resorted to using @mrocklin's collections/tasks/schedulers graphic on slides, but it's really not ideal:

![image](https://cloud.githubusercontent.com/assets/1217238/10147003/79d3664c-65e0-11e5-919e-45c7953e

[2015-09-28 20:46] mrocklin commented on #761
I would love for this to happen.  My own attempts at creating a logo have been less-than-aesthetically-pleasing.  It would be great to have people toss out a few ideas.

[2015-09-28 20:55] 22csnyder commented on #672
Hi Stephan,

Thanks for the heads up. I think I know what you mean. Let me sketch the
usual scenario, and you tell me if that would be covered efficiently by
this PR.

.. I load T*Z many 2d images each of shape (X,Y). I get a dask array which
is 3-dimensional of shape img.shape=(T*Z,X,Y). Let's say I'm interested in
the time information when x,y,z are all between 2 and 5.

img.reshape(T,Z,X,Y)
vie

[2015-09-28 21:20] shoyer commented on #672
@22csnyder Yes, that use case is very efficient:
[code]
![image](https://cloud.githubusercontent.com/assets/1217238/10149051/fc48dae8-65eb-11e5-9c73-4f45210d5094.png)

Notice that the graph consists of linear chains of tasks -- no complex mixing or forking.

[2015-09-28 22:11] bryevdv commented on #761
In the past we have used sites like 99designs, but that's only because there was no-one in-house to help out. I think you could ping Sara about this.

[2015-09-29 13:35] rabernat commented on #760
Yes, I can verify that dd.read_hdf works with if I first call ``dask.set_options(get=dask.async.get_sync)``. (It's is quite slow though--I guess it has to read the whole dataset just figure out how many rows in the table.)

Do you still want me to develop a minimum non-working example? Or is the source of the problem (HDF5 threading issues) sufficiently clear already?

[2015-09-30 22:18] mrocklin opened #764 "block coarsen"
@rossant asked the following on [gitter](https://gitter.im/blaze/dask?at=560c435af4b61c106fb2dd70):

This was my answer

[code]

I'm not sure if we want this in public API or not.  I'm unsure what common use cases are for this.

[2015-09-30 22:24] rossant commented on #764
Here's my use case for future reference: I have a big dask array `X` of size `(N, M)` with N=1e7 or 1e8. It is stored on disk in multiple chunks (in .npy files), of size (1000, M) for example. I want to compute something like PCA on a subset of all rows. Doing `X[::k, :]` may be inefficient because all files are loaded but few rows are taken from each chunk. It might be more efficient to select al

[2015-09-30 22:38] shoyer commented on #764
Note that you don't need to read every npy file into memory if you use the mmap option. So using strides may be more efficient that you might think.

[2015-09-30 22:40] rossant commented on #764
Yeah, but I'll still have to open all files wrt a handful. I should just benchmark...

[2015-09-30 22:43] shoyer commented on #764
As far as implementation goes, I would probably suggest doing this with the higher level array API rather than dicts. Something like:
[code]

[2015-10-01 00:08] mrocklin commented on #764
For large arrays the slicing implementation might actually generate non-trivial overhead.  The small size of the dict implementation seems encouraging to me.  It also has the virtue of being done :)

[2015-10-01 00:11] shoyer commented on #764
Yes, done is great ;). In general, though, I think we could do a better job
of leveraging existing higher level code inside dask.array. The only
downside of the later is that it results in graphs with less directly
interpretable task names.

On Wed, Sep 30, 2015 at 5:08 PM, Matthew Rocklin <notifications@github.com>
wrote:

[2015-10-01 00:23] mrocklin commented on #764
That's fair.  Dict stuff is also probably not as legible to most potential
developers.

On Wed, Sep 30, 2015 at 5:11 PM, Stephan Hoyer <notifications@github.com>
wrote:

[2015-10-01 14:38] #719 closed

[2015-10-01 14:38] #760 closed

[2015-10-03 00:08] stefanv opened #766 "Wrapping RandomState.choice raises numpy dependency to 1.7"
scikit-image depends on dask, but has a minimum requirement of numpy 1.6.1.  Dask trying to wrap RandomState.choice moves that dependency up to 1.7.

[2015-10-03 01:06] #766 closed

[2015-10-04 13:57] 22csnyder commented on #672
Excellent. Thank you very much.

Last question, once you slice, reshape and then call compute() you get a
numpy array back. Do you know if that array [always, usually, almost never]
contiguous? It's important because the way I use cython requires it. Of
course I could just call np.ascontiguousarray but I'm just curious.

Best,
Chris S

On Mon, Sep 28, 2015 at 4:21 PM, Stephan Hoyer <notifications@

[2015-10-04 18:37] shoyer commented on #672
It really depends on exactly what you're doing. I would certainly call ascontiguousarray either way -- the overhead would be minimal.

[2015-10-06 12:39] sinhrks opened #770 "DOC: Readthedocs doesn't work automatically?"
Latest build looks 2 weeks ago, and doc for v0.7.2 is not built.

https://readthedocs.org/projects/dask/builds/

[2015-10-06 13:49] mrocklin commented on #770
I've triggered a build manually.  I'm not sure why it's not building on every push.  After a brief look at the settings I don't see anyplace to ask readthedocs to build automatically.

[2015-10-06 18:02] mrocklin opened #771 "Link to dask-examples within docs"
We've built some nice examples within github.com/blaze/dask-examples.  We should link to them as appropriate within the docs.

cc @cowlicks

[2015-10-06 18:20] jreback opened #772 "BUG: groupby specification with a multi-index"
[code]

This seems buggy
[code]

Going back to the reset frame
[code]
Seems like a nice exception (excluding nuisance columns) except that this operation *does* work for built-ins to dask, e.g. ``.sum()`` above.

[2015-10-07 03:55] shoyer commented on #770
@mrocklin you should see ReadTheDocs listed under Services on this page: https://github.com/blaze/dask/settings/hooks

[2015-10-07 04:45] shoyer opened #773 "dask.array.nanmax does not properly skip missing values"
<img width="809" alt="screen shot 2015-10-06 at 9 44 14 pm" src="https://cloud.githubusercontent.com/assets/1217238/10329252/75538ca2-6c73-11e5-9afd-8474df535c31.png">

Still working on a minimal example with data I can share.

[2015-10-07 10:55] cournape opened #774 "Crash in dask w/ blosc built against external libblosc, disappears when built w/ internal libblosc"
When I built bcolz and blosc against an external libblosc shared library, the dask test suite crashes. A minimal script to show the crash:

[code]

(linux, bcolz 0.11.3, blosc 1.2.8, libblosc 1.2.8). The traceback is:

[code]

If I built either bcolz or blosc with its default internal libblosc, then the crash disappears. I suspect this is because in this case you get multiple copies of the corresp

[2015-10-07 14:15] mrocklin commented on #770
Indeed.  I do.  Everything seems to be fine there.

[2015-10-07 14:23] sinhrks commented on #770
Thanks, ``DataFrame`` API looks not rendered properly. Maybe caused by #733, but not sure as it works on local.

http://dask.pydata.org/en/stable/dataframe-api.html

[2015-10-07 14:36] mrocklin commented on #770
Perhaps your local sphinx version differs from the sphinx version used on readthedocs?

@sinhrks do you have an account on readthedocs?  I would be happy to give you access to the dask projects there if so.

[2015-10-07 14:46] sinhrks commented on #770
Thanks, my account is "sinhrks".

About build problem, I'll check it using my own repo.

[2015-10-07 15:03] mrocklin opened #775 "BColz fails when read with multiple threads"
Apparently bcolz fails hard when read concurrently from multiple threads.  We should do one of the following:

1.  Deprecate this API, depending on `da.from_array` and `dd.from_dask_dataframe`.  (from_array already includes logic to handle locks)
2.  Wrap calls to read from bcolz in a lock

I'm slightly in favor of option 1 in order to reduce surface area.

[2015-10-07 15:03] mrocklin commented on #774
Closing in favor of #775

[2015-10-07 15:03] #774 closed

[2015-10-07 20:28] shoyer commented on #773
This was easier to reproduce that I thought:
[code]

[2015-10-07 20:29] shoyer commented on #773
I have a fix coming up shortly...

[2015-10-07 20:59] shoyer opened #777 "da.nanargmax fails when it encounters an all-NaN slice in a chunk"
Follow up on #776

[code]

[2015-10-08 16:50] #773 closed

[2015-10-09 01:21] mrocklin opened #778 "TestCase for get functions"
With `distributed` we're starting to acquire more `get` functions.  It would be nice to be able to import a `TestCase` that enforced all known expectations on get functions.  This would require thinking about the spec and making, I think, a fairly simple `unittest` style `TestCase`.

This would also be nice because we could then codify the spec into something more than prose.

[2015-10-11 20:18] matthewwillian commented on #732
Has any progress been made on implementing this ?

[2015-10-11 21:40] shoyer commented on #732
Nope, this is as far as I got. I would encourage you to try finishing it up if you're interested. I think we just need some sort of recursion inside the kernel function to handle nested arguments.

[2015-10-11 23:34] matthewwillian commented on #732
Cool. I will take a look.

[2015-10-12 01:23] mrocklin opened #781 "Core function to update dependencies, dependents"
Given an existing dask graph, and its derivative `dependencies` and `dependents` dicts.

[code]

And given a new graph that builds on top of the old one

[code]

Update dependencies and dependents efficiently in place.  This operation must be able to run well under both the large update case (new is large) and the many-frequent small update case (new is just a single added task).

A naive (and slo

[2015-10-12 15:11] eriknw commented on #781
I can get to this today.

What if the new graph shares keys with the old graph?  Should we override?

Also, what if the old graph has literals that are keys in the new graph?  Should they remain as literals?

I don't know what you plan to do with this, but I bet I'll like it!

[2015-10-12 15:40] mrocklin commented on #781
We can assume that the new graph does not conflict with the old graph, e.g. all overlapping keys have identical values.

Overlapping literals is an interesting question.  I think that the right thing to do here is to follow the semantics of `get_deps(merge(old_dask, new_dask))` and so treat overlapping new literals as keys in the old graph.

[2015-10-12 17:55] mrocklin commented on #781
Slight disclaimer, I'm still working through exactly how this fits into current work.  Needs are not fully formed.  It's possible that I might come back with a slight alteration so it might be best to delay this slightly.  I can work with the slow/naive solution for a while if necessary.

[2015-10-12 18:01] eriknw commented on #781
Okay, no problem.

Is the original graph complete--that is, should we assume it can run and give correct results up to that point--or is the original graph a work in progress that may (for some reason) reference keys that have not been added yet?

[2015-10-12 18:09] mrocklin commented on #781
It's complete.  The intent here is to support glomming on additional computations on the fly.  This is to support concurrent construction and execution of the graph.

[2015-10-12 18:12] mrocklin commented on #781
Ah, sorry, but yes, at every stage the graph represents a consistent computation.

[2015-10-12 18:43] jcrist commented on #421
Upon further thought, it seems better to only traverse lists that are arguments to a task (i.e. traverse `(foo, [a, b, c])`, but not `[a, b, c]`). Current behavior is fine. Closing.

[2015-10-12 18:43] #421 closed

[2015-10-12 18:46] jcrist commented on #334
Closed by #675.

[2015-10-12 18:46] #334 closed

[2015-10-12 19:01] mrocklin commented on #781
Ah, I think I see where you were going with this.  As I currently do things keys from the old graph that are attached to the new graph are wrapped in an object.  In my case this is a `RemoteData` object.  I currently unpack these in an explicit step.  This might need to be merged with the update process though.

Relevant functions on the `distributed.dask` side include [`RemoteData`](https://githu

[2015-10-12 19:19] eriknw commented on #781
Thanks for the context.  I think I understand, and will look more closely at the linked `distributed.dask` elements once I dive into this.

To keep things efficient and to introduce the least amount of complexity, I think we should assume that there are no *literals* in the old graph that overlap with the *keys* in the new graph.  If we want to assert this efficiently, we would need to keep track

[2015-10-12 19:23] mrocklin commented on #781
I believe that to be a fair assumption.

I apologize also for this problem not being as clear cut as I originally thought.  I'd be happy for this to stall for a while until I can produce a clearer problem statement.

[2015-10-12 19:41] eriknw commented on #781
Okay, although I think the goals and assumptions are pretty clear now.  Perhaps I'll update `cytoolz` first, then do this.

[2015-10-13 23:19] mrocklin commented on #781
I may have to do something more custom than this in `distributed`.  Closing for now; may reopen in a day or two.

[2015-10-13 23:19] #781 closed

[2015-10-14 23:16] #770 closed

[2015-10-16 20:10] rabernat opened #787 "dataframe column names getting scrambled"
I am loading from data from bcolz into a dask dataframe. After applying a ``.where()`` operation, the column names get scrambled.

Unfortunately I haven't been able to reproduce this with a simpler example. But here it is. Quite stuck and frustrated. (Dask version 0.7.3.)

[code]
gives
[code]
but if I do
[code]
I get
[code]

The ``x`` and ``vort`` columns have been exchanged.

Any idea what is wro

[2015-10-16 20:22] mrocklin commented on #787
Hrm, odd.  Do you have a small example that you can share that I can take a
look at?

What happens if you use dd.from_array?

bc = bcolz.ctable(rootdir='...')
df = dd.from_array(bc)

On Fri, Oct 16, 2015 at 1:10 PM, Ryan Abernathey <notifications@github.com>
wrote:

[2015-10-16 21:03] rabernat commented on #787
I am struggling to create a small example (will try), but in the meantime, I can confirm that your version with ``dd.from_array`` does NOT produce the same problem. (Also pure pandas does not make produce the problem.)

[2015-10-16 21:43] mrocklin commented on #787
The `from_bcolz` function will be a more efficient because it'll leverage
the column-store nature of bcolz.

I find myself tempted to remove it though, just to reduce the maintenance
burden of dask.dataframe.  I'm not surprised to find a bug here.  This
particular codepath is infrequently used.

However, from_bcolz gets used then we should definitely continue to support
it.  E-mail responses like

[2015-10-16 23:40] Carreau opened #788 "Can't visualize graphs as PNG"
Seen with @mrocklin today in person.

[code]

Works if force format as svg, graphviz CLI (2.38) installed with conda, graphviz lib (0.4.7) installed with pip. Dask master as of today.

Error message appear launching terminal if executed in notebook.
SVG works fine. Conda have libpng installed.

[2015-10-17 00:04] jcrist commented on #788
I cannot reproduce. It may be an issue with the graphviz cli installed from conda. The python wrapper (and our use of it) is just a thin layer above that. To test, create a file "test.dot", with this in it:

[code]

And then run

[code]

[2015-10-17 00:08] Carreau commented on #788
Yep fails too. Did you know who to ping at Continuum to investigate that.
I just removed and reinstall graphviz and it does not fix the problem.

(Note dask does not seem to depends on graphviz, should it ?)

[2015-10-17 00:14] jcrist commented on #788
I'm forwarding this upstream to them. What OS are you on?

In general, we try to only depend on the mandatory packages - visualizing graphs not being one of them. Note that most linux distributions/osx have graphviz available through the system package manager (I installed with homebrew).

[2015-10-17 00:21] jcrist commented on #788
Actually, you should just file an issue here: https://github.com/ContinuumIO/anaconda-recipes. I'm going to close this, as the problem is upstream. I'll ping them as well, so hopefully we can get this resolved.

[2015-10-17 00:21] #788 closed

[2015-10-17 02:50] shoyer commented on #788
I've had issues when using Legacy Python with conda's graphviz on OS X, but Python 3 works fine. Go figure.

[2015-10-17 03:16] msarahan commented on #788
I think this might be an issue with the build recipe for graphviz not enabling png at compile time.  The correct place to report issues like this is currently at https://github.com/ContinuumIO/anaconda-issues, and the anaconda team will triage from there.

[2015-10-18 11:32] 22csnyder opened #789 "feature request for dask array"
Hi,

I'm definitely enjoying dask.array, and I recommend it when I can. I found it useful to write one class that stored the array as an np.array when compute() was previously called and when space was available. This is useful because I'm transparently working with data that is both large and small. When it can fit in memory I'd like to take advantage of that.

Let's use daX and npX for dask and

[2015-10-18 15:20] mrocklin commented on #789
Hrm, interesting.  This is the sort of thing that @shoyer might also find to be useful.

I would be curious to get your feedback on a caching system somewhat similar to this currently built into the dask schedulers.  Let me write up a quick doc page.

[2015-10-18 16:01] mrocklin opened #790 "Failing HDF tests in master"
A number of upstream projects were released recently.  This has triggered failing tests in master.  See reports in https://travis-ci.org/blaze/dask for more details.

[2015-10-18 16:28] mrocklin commented on #789
@22csnyder I would be interested to hear your thoughts on http://dask.pydata.org/en/latest/caching.html with respect to your problem.

[2015-10-18 18:08] 22csnyder commented on #789
Matthew,

Hey thanks for the quick followup.

(1) just as an aside, it's not clear to me from the link whether dask
attempts to cache by default or not.

(2) I have an additional motivation to the caching which is specific to
dask.array and not addressed by the article. Lots of python modules work
with numpy already and they work great. (I use mayavi for volume rendering,
sklearn, skimage, etc). W

[2015-10-18 19:35] mrocklin commented on #789
(1) Opportunistic caching is not turned on by default.  You can turn it on as follows:

[code]

(2) Trust me, I want exactly the same thing.  @shoyer is actually a good person on this because he's had to go through all of this pain when integrating `dask.array` into `xray`, which handles dask arrays and numpy ndarrays the same, depending on which was provided.  Stephan, do you have a writeup anywh

[2015-10-18 20:13] 22csnyder commented on #789
Yeah that's a clearer way of saying it. Okay seems we're all on the same
page..

(oooo xray looks interesting too!)

Just out of curiosity, (sorry off topic) do most of the people working on
dask work for Continuum Analytics, or is there a sizable volunteer core?

Best,
Chris Snyder

On Sun, Oct 18, 2015 at 2:35 PM, Matthew Rocklin <notifications@github.com>
wrote:

[2015-10-18 20:34] mrocklin commented on #789
Most of the day-to-day grind (bugfixes, releases, etc.) is handled by people employed by Continuum of which there are between 1-3 of us at any given time.

However yes, there is a sizable volunteer base.  Individuals here tend to focus on particular parts of dask that interest them.  @shoyer is active on dask.array. @sinhrks, a pandas dev, has probably done more work on dask.dataframe lately than

[2015-10-18 20:54] 22csnyder commented on #789
Awesome. Yes I imagine I probably will at some point.

Best,
ChrisSnyder

On Sun, Oct 18, 2015 at 3:34 PM, Matthew Rocklin <notifications@github.com>
wrote:

[2015-10-18 22:42] shoyer commented on #789
So, we actually have such a facade around dask.array in xray, though it's combined into our `xray.Variable` class, which also handles things like dimensions. Of course, this behavior is super useful -- for stuff that fits in memory, NumPy arrays can be significantly faster than dask. It might indeed be cleaner and independently useful to separate it out. So let me summarize how this aspect of the

[2015-10-20 01:28] rabernat commented on #787
As you might be able to infer from the issues I have been leaving around, I am trying to build a pipeline for storing and processing a ton of binary data. I read your [post on castra](http://matthewrocklin.com/blog/work/2015/08/28/Storage/) and that sounded like a perfect solution for my problem. Unfortunately I couldn't easily get castra working (see anaconda-issues/issues#456), so I decided to f

[2015-10-20 01:29] mrocklin commented on #787
OK.  I'll take a look at this issue tomorrow.  It's probably just something
silly.

On Mon, Oct 19, 2015 at 6:28 PM, Ryan Abernathey <notifications@github.com>
wrote:

[2015-10-20 15:42] mrocklin commented on #787
See fix in https://github.com/blaze/dask/pull/792

[2015-10-20 18:22] Carreau commented on #788
Thanks, sorry for the delay, will update-retry and report there, if still the case.

[2015-10-20 19:12] #787 closed

[2015-10-21 01:19] datnamer commented on #789
@mrocklin @shoyer, not to hijack this thread too much...but there is some interesting feedback on your dasklean post that relates to this discussion: https://www.reddit.com/r/MachineLearning/comments/3pgx6y/dask_sklearn_experiment_reuse_intermediate/

[2015-10-21 01:32] mrocklin commented on #789
Thanks for the pointer.  That's an interesting conversation.  You may find the dask gitter chat a good place to post things like this http://gitter.im/blaze/dask

[2015-10-22 08:42] catethos commented on #688
Consider the the pipeline consists of a few computations, i.e. `f -> g -> h`, and suppose that `f` is very expensive to calculate, and `g` throws some error, I think it would be a waste to throw away the `states` dictionary and restart the whole pipe again. What if we could return the `states` dictionary, tweak it abit and resume the whole pipeline from where it stops?

[2015-10-22 15:29] mrocklin commented on #688
If you supply your own cache you can manage this now if you're using the standard scheduler

[code]

[2015-10-22 17:23] catethos commented on #688
Thanks for the advice. How about the `get

[2015-10-22 17:30] mrocklin commented on #688
All of `dask.get`, `dask.threaded.get` and `dask.multiprocessing.get` are mostly the same.  This should work with all of them.

[2015-10-22 23:13] #701 closed

[2015-10-22 23:25] shoyer opened #795 "Inspect function annotations to enable unpacking of results with dask.imperative's do?"
Unpacking is a really nice feature for writing readable Python code. Unfortunately, it can't work with dask imperative, because we don't have any way of determining the number of elements to iterate over.

But if we use function annotations for type hints, we could make something like the following work on Python 3:
[code]

Currently this results in `TypeError: Value objects are not iterable`.

[2015-10-23 03:59] jcrist commented on #795
This is doable, and may be one of the better ideas I've heard for getting around this problem. Another thought I've had was adding this information to the `do` decorator.

[code]

The only issue with this is that it's not quite as succinct to use inline `x, y = do(foo, nout=2)`. It is simple though. Not sure what's best here.

[2015-10-23 16:13] mrocklin commented on #790
I've resolved this by changing tests to be single-threaded.  This is a bit of a hack though.  The tests around `hdf_globbing` should be inspected, changed back to using threads, and then debugged.

[2015-10-23 16:15] mrocklin commented on #775
Now slightly in favor of 2

[2015-10-23 20:56] cowlicks commented on #790
I'm not having any luck reproducing this after undoing #793

Were there other failing tests? I can't find the failing tests in the travis-ci build history.

[2015-10-23 21:02] mrocklin commented on #790
I recommend undoing #793 and pushing to a branch on github and issuing a dummy pull request.  Travis.ci's machines are much slower and more prone to these faults.  I also wasn't able to reproduce on my personal machine.

[2015-10-23 21:04] cowlicks commented on #790
For reference I've been using `stress --cpu 4` in one terminal and `for i in {1..10}; do nice -12 py.test test.py; done` in another. So it should be running quite slowly.

[2015-10-23 21:05] mrocklin commented on #790
https://travis-ci.org/blaze/dask/jobs/85622338

[2015-10-23 21:17] cowlicks commented on #790
yep https://travis-ci.org/cowlicks/dask/jobs/87120202

[2015-10-23 21:26] mrocklin commented on #790
We could also just leave it as is if it's unlikely to cause a problem and if its taking a while.

[2015-10-23 21:49] cowlicks commented on #775
Code to reproduce the issue.

[code]

[2015-10-24 01:53] mrocklin opened #799 "Allow errors in async scheduler"
Ryan (@groutr) had an interesting question about using the dask scheduler to build as many conda packages as possible, even if some of the packages fail.  This would require a mode in the async scheduler that allows for failures, and just continues on to complete the computations that it can.

[code]

@jcrist do you have any interest in taking this on?  I can handle it if not.

[2015-10-24 01:54] mrocklin commented on #799
Interestingly the scheduler in `distributed` can handle this now (more or less).

[2015-10-26 13:52] cowlicks commented on #799
Why not just wrap the possibly failing task with something like:
[code]

[2015-10-26 15:52] mrocklin commented on #799
We would also want to avoid all downstream tasks

[2015-10-26 16:45] jcrist commented on #799
What would the output of a scheduler in this mode be? Some object with the original dask updated with the state of the cache (so completed results are subbed in for the task)? I'm not sure what a good api would be for this. I'm also skeptical of its uses.

[2015-10-26 17:43] cowlicks commented on #775
The test above is broken. It modifies the bcolz file in a non-thread safe way.

[2015-10-26 19:35] eribean opened #804 "Dask Bag global imports"
Using Bag to create chunks of random array's results in named error on numpy.  Imports should be serialized in bag.

The following doesn't work
[code]
the error is:

The following, however, does work
[code]

[2015-10-26 19:36] mrocklin commented on #804
Ping @mmckerns is there a way to make dill manage these cases?

[2015-10-26 21:36] cowlicks commented on #804
This works for me with dill 0.2.4 python 3.4

[2015-10-26 21:38] cowlicks commented on #790
I was able to get this traceback locally
[code]

[2015-10-26 21:40] #775 closed

[2015-10-26 23:43] eribean commented on #804
I am running dill 0.2.4 with Python 2.7.6.  Still seeing errors....

[2015-10-27 00:45] mmckerns commented on #804
If I'm not mistaken, this has nothing to do with `dask` -- and is basically asking for `dill` to support pickling a module that is referred to in the local scope, but imported in the global scope.  In at least the development version of `dill` this is supported -- on windows (using a forked pickle) or linux, in `2.x` and `3.x`, and with `dill.settings['recurse'] = x` where `x = True` or `x=False`.

[2015-10-27 14:11] cowlicks commented on #790
I'm putting this on pause for a while since I'm stuck. If the traceback is enlightening to anyone please leave a comment or take a crack at this.

[2015-10-27 14:48] cowlicks commented on #772
@jreback the `In [35]` line seems right. There is no `'second'` level because the dataframe was created with a reset index. Are you suggesting the exception to be more consistent with pandas?

[2015-10-27 15:00] cowlicks commented on #772
I'm not sure what your last comment means. When you replace the `lamba x: x+1` with a builtin like `sum`? This does not work for me.

[2015-10-27 18:00] #735 closed

[2015-10-27 19:10] cowlicks commented on #735
I don't think I've yet fixed @thrasibule's problem. Wouldn't we have to allow `as_index=False` I don't know the group by code very well, would this be too hard?

[2015-10-27 19:27] mrocklin commented on #735
is `groupby(..., as_index=False)...` equivalent to `groupby(...)....reset_index()`?

[2015-10-27 21:34] jcrist opened #808 "Viewing large profile plots stresses the browser"
The current profiler stores data in memory, and constructs a bokeh plot from that. This writes all data + markup to a static html document, which can then be viewed with no dependencies. For small graphs this works great, but larger plots can result in extremely large files (I just saw a 160 MB one), which can slow down (or even crash) the browser viewing it.

The data output from a profile run is

[2015-10-28 02:40] alancj opened #809 "EOFError when using dask.multiprocessing in dask tutorial example 02-Foundations"
I was running through the dask tutorial, and couldn't figure out why this step in particular didn't work for me whilst the rest worked (e.g. dask.threading worked fine). Is this expected behaviour when running on a windows machine?

from dask.multiprocessing import get
get(dsk, 'z')  # Execute in multiple processes
---------------------------------------------------------------------------
EOFErro

[2015-10-28 11:29] jreback commented on #772
@cowlicks no, see ``[33]`` which uses the original df (with levels) to create a new ``ddf``, it DOES have a level. I think that the ``level`` keyword is not supported on ``ddf.groupby``?

[2015-10-28 11:30] jreback commented on #772
in ``[39]`` I think you need to ignore columns which give an exception (e.g. strings with a numeric operation)

[2015-10-28 13:15] cowlicks commented on #772
@jreback Ah you created a dask.dataframe with a multiindex. As far as I know we do NOT support this (right @mrocklin ?). We should be clear about this in the documentation. I'm not sure what it would take to add this.

Also the code I pushed in #805 depends on there not being `MultiIndex`s.

[2015-10-28 13:16] jreback commented on #772
@cowlicks yep ,totally cool w/o supporting a multi-index. But should raise a nice message (*or* maybe just reset), though then you can odd errors.

[2015-10-28 13:41] cowlicks commented on #735
Yes. But the current implementation drops the name of the index, and just calls it `'index'`. Which is what pandas does when the index is not named. Fixing this now.

[2015-10-28 14:07] mrocklin commented on #772
Correct that we don't currently support multi-indexes

On Wed, Oct 28, 2015 at 6:16 AM, Jeff Reback <notifications@github.com>
wrote:

[2015-10-28 14:25] mrocklin commented on #809
That looks quite odd.  It's not failing in dask code, it's failing to produce a `multiprocessing.Manager()`

Can you try to create such a manager outside the context of dask?

[code]

Are you running this in a special context somehow or are you just running the Jupyter notebook?  Python multiprocessing and Windows can be finicky.

[2015-10-28 14:30] mrocklin commented on #809
So far I'm unable to reproduce this on my Windows virtual machine.  I cloned the dask-tutorials repository, navigated to that directory using a git-bash shell, then typed `ipython notebook 02-Foundations.ipynb` and ran through all of the cells happily.

[2015-10-28 14:36] cowlicks commented on #735
This is kind of tricky to add since we are not tracking the index name like we do columns. I'm still figuring out how to do this.

[2015-10-28 14:52] cowlicks opened #811 "Investigate support for MultiIndex in dask.dataframe."
@jreback expected this to work. I expect other people would too.

[2015-10-28 14:54] mrocklin commented on #811
Probably it would be both quite useful and also quite a bit of trouble.  This is the sort of thing that would probably require a fair amount of forethought and a solid amount of effort.

[2015-10-28 14:55] cowlicks opened #812 "Track Index names as metadata in dask.dataframe"
Currently to get the name of an index of a dask.dataframe, the dask must be computed. This is a small amount of metadata, which should change consistently. So we should be tracking it. This would touch a lot of dataframe creation code. And maybe give some idea about the difficulty of supporting MultiIndexs.

[2015-10-28 14:59] mrocklin commented on #812
Seems like a reasonable idea.  You could integrate this into existing tests by adding this check to the `eq`  functions commonly used throughout the dask.dataframe tests.

[2015-10-28 15:00] jreback commented on #811
my 2c.

you actually have 2 issue here:

- a syntax issue for supporting  a multi-index where you are actually only chunking on a single column

e.g. ``ddf.groupby(level='second')``, so from ``dask`` POV it is exactly the same as a ``dd.from_pandas(df.reset_index())``, and interpreting ``second`` as a column. Conceptually this is very easy.

- a more involved method of actually chunking on a multi

[2015-10-28 15:01] cowlicks commented on #809
@alancj If you are in the dask source directory can you try running this from a separate directory? It might sound odd. There are subtle bugs caused by some combination of windows multiprocessing implementation, pickling, relative and absolute imports, and the fact that dask has module named multiprocessing (which collides with the multiprocessing module in the python stdlib.

[2015-10-28 22:06] mrocklin commented on #812
From talking with Blake it sounds like this ends up touching a lot of code.  If we're going to consider doing something serious here then it might be good to get ideas from @sinhrks and @shoyer about how to pass through more pandas metadata.

One thought would be to pass through an empty version of the dask.dataframe object.  For example a `dd.DataFrame` might carry an empty `pd.DataFrame` and a `

[2015-10-28 22:38] shoyer commented on #812
Using an empty pandas object for metadata seems pretty sane to me.

[2015-10-29 00:44] alancj commented on #809
@mrocklin I'm running this in a Jupyter notebook, and when I try multiprocessing.Manager() I get the same error as above. In addition, I also see this error in stdout:
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "C:\Anaconda\lib\multiprocessing\forking.py", line 380, in main
    prepare(preparation_data)
  File "C:\Anaconda\lib\multiprocessing\forking.py", line

[2015-10-29 00:58] mrocklin commented on #809
Hrm, I suggest trying to track down the source of the error with `multiprocessing.Manager()`, perhaps by trying other variants, like `multiprocessing.Pool()` or by trying this in different environments, like a python script.

The fact that the standard library `multiprocessing` isn't functioning signals that there is something wrong the environment that it is possibly deeper than dask.

[2015-10-29 01:24] alancj commented on #809
Yeah, definitely nothing to do with dask specifically so I'll close the ticket. I just ran through the steps of the tutorial in a python script and everything worked perfectly fine, no error with ```multiprocessing.Manager()```.

I think I'll try steer clear of windows + notebook + multiprocessing because it seems to be flaky at best from chatting to others who've had similar issues with that comb

[2015-10-29 01:24] #809 closed

[2015-10-29 15:20] sinhrks commented on #812
This seems to be a valid approach which was in my mind for a dtype follow-up (#695).
Sorry I haven't started yet...

[2015-10-29 17:52] maxalbert opened #814 "dataframe.read_csv() raises TypeError when "usecols=None" is passed explicitly"
`dask.dataframe.read_csv` has `usecols=None` as default, but when this is passed explicitly it raises a TypeError.

To reproduce:

[code]

[code]

The reason this is inconvenient is that I have a custom function which internally calls `read_csv` but exposes its `usecols` argument. However, I can't set the default to `None` because then the internal call looks like this: `read_csv(... usecols, usec

[2015-10-30 00:11] mrocklin commented on #790
It looks like its happening within PyTables code.  Have you asked that community about the error?  Are we confident that we never read from the same file in two separate threads concurrently?

[2015-10-30 00:14] mrocklin commented on #672
What's the status on this?  Can this be closed?

[2015-10-30 00:15] mrocklin commented on #595
Closing this in favor of https://github.com/mrocklin/dasklearn and http://blaze.pydata.org/blog/2015/10/19/dask-learn/

[2015-10-30 00:15] #595 closed

[2015-10-30 00:15] #459 closed

[2015-10-30 00:15] #380 closed

[2015-10-30 00:15] #327 closed

[2015-10-30 00:16] mrocklin commented on #772
I think that raising an error at the right time would be sufficient to close this issue.

[2015-10-30 01:13] 22csnyder commented on #672
Yes I think so. I'm more than happy populating dask with glob and tokenize
and then calling reshape.

Best,
Chris Snyder

On Thu, Oct 29, 2015 at 7:14 PM, Matthew Rocklin <notifications@github.com>
wrote:

[2015-10-30 01:22] #672 closed

[2015-10-30 19:54] #771 closed

[2015-10-30 20:36] cowlicks commented on #778
Is [this](https://dask.readthedocs.org/en/latest/scheduler-overview.html#the-get-function) the most formal specification we have?

[2015-10-30 20:43] mrocklin commented on #778
https://dask.readthedocs.org/en/latest/spec.html

The objective here is probably to build a clean baseline system that other people can add to easily.