[2019-03-24 13:18] afzalmushtaque commented on #4511
I fixed my issue by changing
from **sklearn**.model_selection import RandomizedSearchCV
to
from **dask_ml**.model_selection import RandomizedSearchCV

[2019-03-24 17:51] jrbourbeau commented on #4620
@Shekharrajak I'm not sure what you mean by this. If you want to use a local version of Dask that has changes you've made, then you'll need to [install your local version of Dask](http://docs.dask.org/en/latest/install.html#install-from-source). Feel free to elaborate a little more, I could be misunderstanding your particular use case.

[2019-03-25 08:35] gijzelaerr commented on #4616
ok thanks, that explains. I think I shall just close this issue then.

[2019-03-25 08:35] #4616 closed

[2019-03-25 09:55] tyler-abbot opened #4629 "No workers error when trying to scatter"
I am trying to scatter data to workers but getting a `TimeoutError: No workers found`. I can do `sacct` and see my workers running, despite dask throwing this error. Here is a minimal working example which produces the error on my machine:
[code]

[2019-03-25 13:08] mrocklin commented on #4629
Yes.  It has been proposed to have some sort of "wait for workers" method
added to the cluster for situations like this.

On Mon, Mar 25, 2019 at 6:12 AM tyler-abbot <notifications@github.com>
wrote:

[2019-03-25 13:47] mmccarty commented on #4194
@mrocklin @wesm Any movement on this issue?  We are running into it as well.  Please let me know if you need help.

[2019-03-25 14:16] wesm commented on #4194
Not yet. It would be great if someone could write a patch for this or contact me about paying for development work on the project. Absent these things I don't know when it will get fixed

[2019-03-25 14:52] rabernat opened #4630 "persist and forget history"
Another issue about dask performance and optimization, slightly related to #107.

I frequently end up creating dask graphs with 1M+ tasks. Graphs this big cause the scheduler to start to choke. One idea I have had to mitigate this is to call `.persist()` on some intermediate results. I would  essentially like to save some results in the memory of my dask cluster, and then do further computations o

[2019-03-25 15:40] mrocklin commented on #4630
Two questions:

1.  Have high level expression graphs had an impact on your work?  This came about in https://github.com/dask/dask/issues/4038 as a result of issues that you were having.  It would be good to hear if that had any effect.
2.  What would you want to happen if a worker goes down holding the last copy of some data?  Currently we need the task graph in order to provide resilience.  Woul

[2019-03-25 16:55] Hoeze commented on #4523
Also not working: `y.compute()`

[2019-03-25 17:04] pentschev commented on #4523
@Hoeze that works for me, could you post a traceback?

[2019-03-25 17:15] Hoeze commented on #4523
Dask v1.1.4:

[code]
[code]

[2019-03-25 17:19] Hoeze commented on #4523
The fun thing here is the fact that I got no idea how to execute `todense()` on that:
[code]
[code]

[2019-03-25 17:35] Hoeze commented on #4523
[Maybe related?](https://github.com/pydata/sparse/issues/10)
Autmatic densification seems like an important feature to use `sparse` with dask, especially when mixing different types of arrays...

[2019-03-25 17:49] pentschev commented on #4523
You can try this:

[code]

or, alternatively without a numpy array:

[code]

Would that be an option for your use case?

[2019-03-25 17:51] Hoeze commented on #4523
Unfortunately, this does not work for me.
I need to load a huge sparse matrix from disk and combine this with another dense matrix.
Therefore, I planned something like that:
[code]

[2019-03-25 17:58] Hoeze commented on #4523
@pentschev
[@hameerabbasi just stated that disallowing `np.asarray` was intentionally.](https://github.com/pydata/sparse/issues/10#issuecomment-476307688)
This means that Dask needs to do its own check at every point whether the current chunk is a sparse matrix (e.g. to calculate the concatenation of a sparse and a dense array). Is this doable?

[2019-03-25 18:00] pentschev commented on #4523
Yes, I see your point, unfortunately, this won't be the case, due to Dask's design to prevent accidental densification of a sparse matrix.

I think the only alternative for your case is to densify your matrix manually, from your prior example, you would need to do the following:

[code]

[2019-03-25 18:01] hameerabbasi commented on #4523
Copying relevant comment of mine from elsewhere: https://github.com/pydata/sparse/issues/10#issuecomment-476312208

[2019-03-25 18:16] Hoeze commented on #4523
Setting `SPARSE_AUTO_DENSIFY=1` works!
Of course, it's a quick and dirty way, but that's still the only option in my case, since I cannot convert the full dataset into a dense format.

Thanks again @hameraabbasi and @pentschev

[2019-03-25 19:14] rabernat commented on #4630
@mrocklin - thanks for your quick response.

I have not seen any measurable effect from this. Here is the simplest benchmark I can think of with real data.

[code]

Dask 1.0.0 (before #4092):
[code]

Dask 1.1.4
[code]

Am I doing something wrong? Bottom line is that we are still waiting a long time for large graphs, even with very simple calculations.

Very good point. I had not thought about that

[2019-03-25 20:20] edgan8 commented on #1225
Yes as Ted pointed out the moments code is more of a prototype proof of concept than something I would recommend production use, in my experience the t-digest is a reasonable choice and I would also look at https://datasketches.github.io/ which has quite nice error guarantees @leerho.

@tdunning  can you elaborate which method you're calling to run into these issues? For a uniform distribution fro

[2019-03-25 20:40] hameerabbasi commented on #4523
@Hoeze I added `std` and `var` in sparse `master`. :slightly_smiling_face: You should be able to use those without any kind of densification now. `mean` was already there.

[2019-03-25 22:13] tdunning commented on #1225
@edgan8 See here https://gist.github.com/tdunning/11867865e17b8805d8f4da5938342961

[2019-03-25 22:38] tdunning commented on #1225
@edgan8

If you would like comments on the code, I would be happy to make some.

On Mon, Mar 25, 2019 at 1:20 PM Edward Gan <notifications@github.com> wrote:

[2019-03-26 00:13] abergou commented on #4627
Adding a bit more detail. The issue comes up when the array has a highly non-uniform chunksize. That is the following condition is triggered:
[code]

Consider first, a case where auto-chunking works as desired:
[code]
Now one where it doesn't:
[code]
The array is chunked too finely along axes 1 and 2.  Interestingly enough (and consistent with the bug) when the "limit" is reduced the chunk size in

[2019-03-26 08:05] Dimplexion commented on #1225
Thanks for linking this, it seems interesting indeed. It would be an option to create a Python wrapper for the  C++ version if it's better suited for this use-case than t-digest. Based on a quick glance the error guarantees seem good enough for us, I think the question here is if it's noticeable faster than t-digest.

[2019-03-26 14:43] mrocklin commented on #4629
Yes, I can see how that would be an issue.  I don't currently have any
thoughts on how to improve the situation.  There are almost certainly
plenty of good approaches here.  It would be good to get ideas from others,
perhaps after investigating the adaptive code.

On Mon, Mar 25, 2019 at 9:54 AM tyler-abbot <notifications@github.com>
wrote:

[2019-03-26 14:49] mrocklin commented on #4630
[code]

You would need to do something like

[code]

I tried the minimal example, but ran into not having the zarr plugin.  I'm not sure how best to install plugins in intake.  Moving on this morning.  I'll try to get back to this in a while (no promises though).

[2019-03-26 14:50] mrocklin commented on #4630
This would require diving into Scheduler state a bit.  It's highly unlikely that I'll get to this this week or next, but perhaps the future will be easier.

[2019-03-26 14:53] rabernat commented on #4630
@mrocklin - I really appreciate your response on this.

Also, I should have learned by now to never try to use real data in an example!

The data in question can be recreated at the dask level as
[code]

[2019-03-26 14:57] mrocklin commented on #4630
So the number of tasks definitely shrinks

[code]

But this doesn't address the fact that you're seeing increased compute times.  It would be useful to dive into the difference here and profile things.  I would probably start with profiling with the single-threaded scheduler, and see what is taking up the most time.

[2019-03-26 15:04] martindurant commented on #4630
Package intake-xarray
In the current master, you get a message when the plugin isn't found, pointing you to the page where all the plugins of all the packages are listed. Can you think of a better way? Plugins can be referred to by simple string name or by python import, but in neither case would Intake know where to actually get that thing from.

[2019-03-26 15:13] pentschev commented on #2218
@mrocklin any thoughts here?

[2019-03-26 15:23] mrocklin commented on #4630
No particular thoughts.  I as a user didn't know how to find the right
package other than you telling it to me now, or doing a web search (which
is fine).  Not a huge deal for this issue though.  @rabernat was kind
enough to provide an example that was simpler.

On Tue, Mar 26, 2019 at 8:04 AM Martin Durant <notifications@github.com>
wrote:

[2019-03-26 15:24] mrocklin commented on #2218
Code coverage seems like a good idea to me. cc @jakirkham

On Tue, Mar 26, 2019 at 8:13 AM Peter Andreas Entschev <
notifications@github.com> wrote:

[2019-03-26 15:38] pentschev commented on #2218
I opened a PR, let's what happens. Specifically if we need to grant codecov permissions to Dask.

[2019-03-26 16:38] skrah opened #4632 "Try __array_interface__["typestr"] when calling np.dtype(obj)."
Would it be possible to try `x.__array_interface__["typestr"]` in situations like the following?

I would prefer `xnd.array.dtype` to return `ndt()`, so it needs to be translated for NumPy:

[code]

[2019-03-26 16:42] ian-r-rose opened #4633 "`dd.read_csv` fails when the server doesn't support HTTP HEAD requests"
Reading a CSV from a URL with `dask.dataframe` fails when the HTTP server does not support HEAD requests. The corresponding `pd.read_csv` succeeds, since it gets the whole file in one go and does not try to chunk the download.

Here is a MWE:
[code]

I had hoped that by setting `blocksize=None` I might be able to download the whole CSV and avoid the HEAD request (GET works fine), but it still trie

[2019-03-26 16:52] ihnorton commented on #3759
I ended up here via TBB, so +1. Might also have been the cause of #2602. My stacktrace looked [just like the one in 2602](https://github.com/dask/dask/issues/2602#issuecomment-321991032), which doesn't give very much indication of what library specifically is causing the hang (it's only obvious after attaching lldb to the child process -- it's sitting on a spinlock).

FWIW, this probably impacts a

[2019-03-26 17:53] martindurant commented on #4633
The trouble is, that Dask wants to know the metadata of the dataframe before reading all of the data, so that you can do symbolic operations on it in a lazy way. When you load with pandas, you are up-front committed to reading the whole thing.

The version of HTTPFileSystem in [fsspec](https://filesystem-spec.readthedocs.io/en/latest/api.html#fsspec.implementations.http.HTTPFileSystem) is a little

[2019-03-26 17:56] mrocklin commented on #4633
If we were given a list of many (hopefully small) CSV files presumably we
would only have to read in the first file.  Is this correct?

On Tue, Mar 26, 2019 at 10:53 AM Martin Durant <notifications@github.com>
wrote:

[2019-03-26 17:57] ian-r-rose commented on #4633
To be sure, if the server doesn't support grabbing header information or range requests, we can't do any of the chunking or lazy operations (at least until it is downloaded).

But is it possible to make this more fault-tolerant for those cases? It would still be nice to be able to read these CSVs, even if the process is not very smart or high-performance.

[2019-03-26 18:10] martindurant commented on #4633
https://github.com/martindurant/filesystem_spec/pull/38 would help int he fsspec implementation. This could be ported to dask, but is still ugly and hacky. We can be smarter, e.g., have "sample" be the whole of the first file and not try to seek delimiters anywhere. Should be possible with a little work.

[2019-03-26 18:17] mrocklin commented on #4633
I think that @ian-r-rose is volunteering to do some of that work.  @martindurant if you're able to lay out steps that a newcomer to the project (though generally an experienced dev otherwise) could execute then I suspect that you could get Ian to help you with this.  It may be that this gets too deep into the project though, in which case perhaps it's better not to do so.

(for context, Ian is a J

[2019-03-26 18:26] martindurant commented on #4633
I think basically it comes down to being able to pass `sample=False` in [this line](https://github.com/dask/dask/blob/master/dask/dataframe/io/csv.py#L341), in which case the first of the `values` after line 360 would, once computed, play the part of the `b_sample`. Currently, the input `sample` arg to read_csv is treated explicitly as a number further up the function.

[2019-03-26 18:31] martindurant commented on #4633
Another thing we could consider to shortcut the whole issue, is for the user to be able to provide `meta=` and not bother analysing the header at all.

[2019-03-26 19:38] bluecoconut commented on #4617
Small update in looking at this deeper.

I realized that in the example i wasn't explicit about the `on` parameter, which highlights another difference/potential bug between pandas and dask, but is unrelated to the main problem.

Eg.
[code]

### Updated code for bug:

[code]
[code]
The result is now:
[code]

Still highlighting the difference/problem.

[2019-03-26 21:33] jakirkham commented on #4626
Note: Would be good to revert any commits like ( https://github.com/dask/dask/pull/4604/commits/b0976a98bc27661b91ca7e25038c376bdf1a6d63 ) once this issue is resolved.

[2019-03-26 21:54] mrocklin commented on #4627
@jakirkham if you have a moment can I ask you to take a quick look at this?

[2019-03-26 22:15] bluecoconut commented on #4617
Digging deeper into tests now (how this is happening, that divisions and index get out of sync):

In `dask/dataframe/tests/test_multi.py::test_merge` I see a bunch of `list_eq` rather than `assert_eq` (not sure the purpose of `list_eq` vs. the more common `assert_eq` throughout the tests).

Changing these to `assert_eq` raises errors based on the index being incorrect, which seems to be a sign of

[2019-03-26 22:15] jakirkham opened #4635 "Use da.eye with chunks="auto" fails"
Currently if a user tries to create an array with `da.eye(..., chunks="auto")`, it fails. An MRE is included below.

<details>
<summary>Example:</summary>

[code]

</details>

<br>

<details>
<summary>Environment:</summary>

[code]

</details>

[2019-03-26 22:25] mrocklin commented on #4635
It looks like the `chunks` parameter to `eye` differs from how it is used everywhere else.  This is unfortunate, but also not very surprising.  Supporting arbitrary `chunks=` values would be more difficult.  Maybe we look at the value, verify that it is an integer or a string (otherwise err informatively) then call `normalize_chunks` if it's a string and pull out the default value again?

[code]

[2019-03-27 00:11] mrocklin commented on #4617
@jcrist do you have a moment to check this out?

[2019-03-27 03:03] bluecoconut commented on #4617
I think I was able to chase down this bug (was reproducible as a test, and then fixable) see: https://github.com/dask/dask/pull/4636

A semi-separate (but clarification question about intention in dask that came up in chasing this):
Is it the case that the result of merge of dataframes that are _not_ indexed do not guarantee any indexing uniqueness?

Eg.
[code]

Here, pandas re-indexes the resulti

[2019-03-27 03:35] mrocklin commented on #4617
In general any time a range index would be applied to a Pandas dataframe Dask dataframe won't be able to follow.  We don't know how many elements are in each partition up front, so it's hard/expensive to coordinate index values across partitions.

[2019-03-27 03:35] mrocklin commented on #4617
(hopefully that answered your question, I have to admit I'm rushing through things a bit at the moment)

[2019-03-27 03:48] bluecoconut commented on #4617
I guess I understand that it can't keep up in the interim (would be expensive), but what surprises me is that after a `.compute()` and gather to a local in memory pandas frame, there are 2 differences from the pandas result:

1) Index isn't necessarily sorted (even for indexed inputs), and
2) Index isn't necessarily unique (for non-indexed input dfs)

I think for (1) it's a non issue, since any op

[2019-03-27 05:14] mrocklin commented on #4589
Closing due to lack of response.

[2019-03-27 05:14] #4589 closed

[2019-03-27 05:20] mrocklin commented on #4608
Any further information here?  Closing soon otherwise.

[2019-03-27 05:22] mrocklin commented on #4611
Hi @KathyGCY , any further information here?

[2019-03-27 05:27] mrocklin commented on #4615
It looks like the `.time` attribute produces an object dtype series.  In trying to determine the dtype of the output series of the `<` comparison Dask tries a small computation.  In this case it looks at the dtype of the left side, sees that it's object, and then uses the value "foo" instead of `datetime.time` objects that we would prefer.  The testing comparison fails because `"foo" < datetime.ti

[2019-03-27 05:28] mrocklin commented on #4615
@jcrist might have thoughts

[2019-03-27 05:38] mrocklin commented on #4622
Anything further here?

[2019-03-27 05:45] mrocklin commented on #4632
Interesting.  I guess we would to ask a few questions:

-  Do all Numpy-like array objects support `__arrray_interface__`?  (cupy, sparse, ...)
-  Is there some way to make `np.dtype` support non-numpy types?  We (and I think other projects) use `np.dtype` as a general normalization function for dtypes.  I wonder if we might be able to move this conversation there.

[2019-03-27 05:51] mrocklin commented on #4573
your dataframe is the `df` object

[2019-03-27 16:09] jrbourbeau opened #4639 "SciPy 2019 Sprint"
From discussion during previous monthly developer meetings, it sounds like there are several Dask developers who will be attending SciPy this year. I'd like to organize a Dask sprint at the conference https://www.scipy2019.scipy.org/sprints

Some related tasks:

- [x] Officially register as a sprint
- [ ] Do prep work so that sprinters have activities when they arrive, including people with a rang

[2019-03-27 17:22] mrocklin commented on #4639
Thanks for starting this issue @jrbourbeau !

[2019-03-27 20:51] skrah commented on #4632
Unfortunately support does not look that good: For some reason `cupy` only has `__cuda_array_interface__["typestr"] `, and I could not find it in `sparse`.

Making another protocol for `np.dtype` (`__numpy_dtype__`,  `__pep3118_format__`?) would perhaps work. But that is yet another protocol. :)

What would also work of course is `np.dtype(memoryview(array).format)`.

I'm not sure how well that wo

[2019-03-27 23:34] mrocklin commented on #4632
I suspect that calling `memoryview` on a cupy or sparse array might have negative effects.

Yes, given how common using `np.dtype` is to normalize dtypes, it seems like a useful conversation to have anyway.

[2019-03-27 23:36] #4591 closed

[2019-03-27 23:48] mrocklin commented on #4632
It's worth noting that the NumPy community is actively thinking about how to engage with user defined types, so this is a relevant topic for them to consider today.

[2019-03-28 03:40] bchu opened #4640 "read_parquet does not handle timezones"
Dask DataFrame method `read_parquet` does not read parquet timezone metadata (despite fastparquet handling this metadata), except if the file was written with fastparquet _and_ is being read with pyarrow.

This works:
[code]

`to_parquet` does correctly write timezones, for any permutation of read/write engines:
[code]

[2019-03-28 11:31] Shekharrajak commented on #4620
Thanks! Now I am able to run python code inside the cloned repo. Previously it was not using my changes when I run it inside the folder.

[2019-03-28 11:31] #4620 closed

[2019-03-28 16:08] jrbourbeau commented on #4639
I've added a [sprint discussion item](https://docs.google.com/document/d/1UqNAP87a56ERH_xkQsS5Q_0PKYybd5Lj2WANy_hRzI0/edit) to the next monthly developers meeting agenda.

At this point, has anyone already officially registered us? If not, I'm happy to do so.

[2019-03-28 19:18] gregrf opened #4642 "bug in dataframe.describe when using percentiles parameter"
Think that I found a bug in `dataframe.describe`. I'm using dask 1.1.4, numpy 1.16.2, pandas 0.24.2.

For a dataframe, `df`, `df.describe(percentiles=[0.25, 0.50, 0.75])` should be the same as `df.describe()` and it is but if I add in a higher percentile like 0.99 it breaks the 75'th percentile which seems to become a copy of the 50'th percentile:

[code]

count    100.000000
mean      49.500000
s

[2019-03-28 20:31] gregrf commented on #4642
FWIW, the equivalent code produced the expected result in pandas.

[2019-03-28 21:39] trstovall opened #4643 "[bug] dask.dataframe.DataFrame.merge fails for inner join"
## Setup
[code]

## Traceback
[code]
## Version
[code]

[2019-03-28 21:51] mrocklin commented on #4643
Reproduced.  Thanks for the excellent bug report.

On Thu, Mar 28, 2019 at 2:39 PM trstovall <notifications@github.com> wrote:

[2019-03-28 22:24] lightsighter opened #4644 "dtype needs to be passed to normalize_chunks in fromfunction"
The "dtype" argument needs to be passed to "normalize_chunks" in the "fromfunction" method here:
https://github.com/dask/dask/blob/master/dask/array/creation.py#L678

[2019-03-29 04:52] mrocklin commented on #4642
This may be due to a failure of our approximate quantiles algorithm.  See #1225 for more information.

[2019-03-29 04:52] mrocklin commented on #4640
@martindurant any thoughts here?

@bchu does this also happen when using `engine='pyarrow'`?

[2019-03-29 04:53] mrocklin commented on #4632
@skrah ok to close?

[2019-03-29 05:03] mrocklin commented on #4627
Thanks for the excellent issue @abergou .  I have a proposed fix in https://github.com/dask/dask/pull/4645

Can you suggest a simple test that would use user-facing API, perhaps slightly higher level than the auto_chunks function, maybe something with `da.ones(..., chunks=(...))`?

[2019-03-29 05:04] #4622 closed

[2019-03-29 05:04] #4617 closed

[2019-03-29 05:04] mrocklin commented on #4617
Thanks for finding, diagnosing, and fixing this issue @bluecoconut !

[2019-03-29 08:37] gregrf commented on #4642
I don't think so. With the same arguments, dataframe.quantile() doesn't appear to have this issue.

0.25    24.75
0.50    49.50
0.75    74.25
dtype: float64

0.25    24.75
0.50    49.50
0.75    74.25
0.99    98.01
dtype: float64

The 75'th percentile has not changed like it did with describe() when I added the 99'th percentile.

[2019-03-29 09:03] gregrf commented on #4642
I think I've isolated the problem. Here's the code for dataframe.describe():

[code]

when I pass `percentiles=[0.25, 0.50, 0.75, 0.99]` the percentiles get passed to the line I've marked "HERE!"

But look what happens in that line:
[code]

[0.25, 0.5, 0.99, 0.75]

`set` doesn't produce a sorted output. `sorted` needs to be called after `set`. I'd re-write the line

[code]

[0.25, 0.5, 0.75, 0.99]

[2019-03-29 09:30] gregrf commented on #4642
I issued a pull request for my change to that line: https://github.com/dask/dask/pull/4647 .

[2019-03-29 09:40] bchu commented on #4640
I've updated the comment. `dd.to_parquet` actually does work. `dd.read_parquet` only works with pyarrow, and only when the original Pandas dataframe is written with fastparquet.

[2019-03-29 10:40] skrah commented on #4632
Yes, sure, let's move it to numpy!

[2019-03-29 10:40] #4632 closed

[2019-03-29 13:48] gregrf commented on #4642
That pull request just fixes the specific bug where describe sometimes shuffles the order of the percentiles which it obviously should never do. But this leaves the issue of why quantile() gives wrong results when it's quantiles argument is unsorted. For example

[code]
0.75    24.75
0.50    74.25
0.25    24.75
dtype: float64

Notice that the results for the 25th and 50th percentiles are wrong her

[2019-03-29 13:49] martindurant commented on #4640
Hah, that is a surprise! Metadata handling for parquet is something we've been talking about elsewhere also and could probably do with an overhaul. In the meantime, could you please check that the timezone information does roundtrip successfully when using fastparquet directly? I seem to think there is such a test.

[2019-03-29 17:33] mrocklin opened #4652 "Release"
I plan to push out a release later today if there are no objections.

[2019-03-29 18:28] #4644 closed

[2019-03-29 20:40] bchu commented on #4640
Do you mean without using Dask? Using fastparquet directly does correctly roundtrip (both as an engine in pandas, and if I do `fastparquet.write` / `fastparquet.ParquetFile().to_pandas()`.

[2019-03-29 20:42] martindurant commented on #4640
OK, thanks for testing that - then the bug is in Dask alone. I'll try to look into it.

[2019-03-29 21:35] pentschev opened #4654 "Codecov shall not comment and needs a report"
Codecov is commenting on PRs (see https://github.com/dask/dask/pull/4650 for an example), even though that's supposedly disabled https://github.com/dask/dask/blob/master/.codecov.yml#L15

There should be also a report already, but that's not the case for the aforementioned PR.

I will try to fix these.

cc @mrocklin @jakirkham @jrbourbeau

[2019-03-30 00:23] martindurant commented on #4640
For the fastparquet arm, I can fix this in fastparquet alone. That PR: https://github.com/dask/fastparquet/pull/411
(and fastparquet is due for a release anyway)

[2019-04-01 02:39] abergou commented on #4627
Unfortunately, when auto_chunks is called through normalize_chunks then it is only triggered if `previous_chunks` is `None` (auto_chunks is only recursively called in this case). At the moment this is only exposed when `auto_chunks` or `normalize_chunks` is directly called (I was doing the latter). Thus, the lowest level test I can propose is:

[code]

I believe we would expect `Out[2]: True`

[2019-04-01 02:53] mrocklin commented on #4627
Hrm, without thinking hard, it's not immediately clear to me why that would be

[2019-04-01 03:00] mrocklin commented on #4627
To be clear, I don't understand the intent of the test.

[2019-04-01 03:00] #4627 closed

[2019-04-01 03:16] abergou commented on #4627
Thanks Matt!
Indeed I wasn't very clear about what the test does - sorry about that. The test calls normalize chunks twice changing only the limit parameter. It then computes the maximum chunk-size (in items) generated by the two calls and shows that in the buggy version of auto-chunks decreasing the limit-size actually increases the chunk size.

This is good to close though since your change fixe

[2019-04-01 16:17] mrocklin commented on #4555
Unfortunately, the short answer today is "no".  Dask doesn't have enough maintainers to help people make their first contributions to the project.  In general we're happy to review work and answer the occasional question, but getting more guidance than that is rare.  This isn't the way it should be, but unfortunately it is the way it is today.

[2019-04-01 16:19] jrbourbeau commented on #4654
👍 sounds good to me, thank you for monitoring this @pentschev

[2019-04-01 16:34] jrbourbeau opened #4658 "Monthly Meeting: April 4th at 16:00 UTC"
As a reminder, the monthly meeting is this Thursday (April 4th) at 16:00 UTC.

- Minutes: https://docs.google.com/document/d/1UqNAP87a56ERH_xkQsS5Q_0PKYybd5Lj2WANy_hRzI0/edit
- Video: https://appear.in/dask-dev
- Calendar invite: https://calendar.google.com/event?action=TEMPLATE&tmeid=MXRmc2sxNDVocm1ycTI5YjEyazFhN2Vsa2FfMjAxOTAyMDdUMTYwMDAwWiA0bDB2dHMwYzFjZ2RicTVqaGNvZ2o1NXNmc0Bn&tmsrc=4l0vts0c1cg

[2019-04-01 16:34] mrocklin commented on #4315
Sorry for not responding earlier @andersy005

This has been done and is available in the [Client.profile](http://docs.dask.org/en/latest/futures.html#distributed.Client.profile) method.

It would be nice to also have a context manager solution, similar to `get_task_stream` that tracked start and end times, but I'm going to close this for now.

[2019-04-01 16:34] #4315 closed

[2019-04-01 16:36] martindurant commented on #4658
Note: some of us will be at AnacondaCon, may be tricky to attend.

[2019-04-01 16:43] jrbourbeau commented on #4658
Good to know, thanks for the info @martindurant. I saw a post from the RAPIDS twitter account about @mrocklin being at AnacondaCon too. Perhaps it makes sense to reschedule the meeting. Does pushing back a week work for others? Same time on April 11?

[2019-04-01 16:44] mrocklin commented on #4658
Alternatively, having many of us in the same place for AnacondaCon may be
beneficial

On Mon, Apr 1, 2019 at 9:43 AM James Bourbeau <notifications@github.com>
wrote:

[2019-04-01 16:53] jrbourbeau commented on #4658
Also a fair point. That seemed to work well a couple of meetings ago when there was a large contingent in Austin.

[2019-04-01 16:58] HSR05 commented on #4555
@mrocklin no problem. I'll start working on it and would love to get a review!! 👍

[2019-04-01 17:12] jrbourbeau commented on #4652
Closing as release version 1.1.5 is on PyPI and conda-forge, thanks for pushing that out @mrocklin

[2019-04-01 17:12] #4652 closed

[2019-04-01 17:17] mrocklin commented on #4652
Ah whoops!  Thanks for cleaning up @jrbourbeau

On Mon, Apr 1, 2019 at 10:12 AM James Bourbeau <notifications@github.com>
wrote:

[2019-04-01 18:15] darrenleeweber commented on #1849
This is still an issue, i.e.
[code]

[code]

[2019-04-01 19:02] pentschev opened #4659 "Support sliding window computations"
Consider the following code:

[code]

After computing `g`, this will return the mean of the two chunks `[0:4]` and `[4:8]`. Currently, there seems to be no way to specify a step size different (smaller) than the chunk size for each dimension. One could want a step size of 2, result in the mean for ranges `[0:4]`, `[2:6]`, `[4:8]`.

Being able to specify a step size is very useful for filtering ima

[2019-04-01 19:04] pentschev commented on #4658
@jrbourbeau can you confirm the calendar invite is correct? For some reason it says Jan 3rd, 2019, for me.

[2019-04-01 19:07] pentschev commented on #2218
I think this can now be closed.

[2019-04-01 19:28] jrbourbeau commented on #4658
I think that's an artifact of when the invite was created. It should add an event to your calendar for every first Thursday of the month.

[2019-04-01 19:44] pentschev commented on #4658
Ah yes, you're right, thanks for clarifying. I'm not very used to Google Calendar.

[2019-04-01 20:22] mrocklin commented on #4659
I've renamed this issue to "Support sliding window comptutations" (I hope that that's ok).  The map_overlap function is more specifically for mapping a function over chunks of data, my guess is that it would be used internally by some sort of sliding window function, but may not be the user level API directly.

Today, NumPy lacks a sliding window API.  This is discussed in more depth here: https:/

[2019-04-01 21:05] jimfulton opened #4661 "Document special handling of dataframe positional arguments to map_partitions."
See #3637.

map_partitions treats dataframes specially when passed as positional arguments.  As far as I can tell, this isn't mentioned in the map_partitions documentation.  I think it should be.

[2019-04-01 21:21] pentschev commented on #4659
Thanks for your input @mrocklin. I'm definitely gonna take a look at the NumPy discussion in detail.

I have a feeling you're right, we're probably gonna need the block-wise function, or Numba as a last resort. I'm particularly concerned about the memory footprint, certainly making a copy of every window+boundaries to use it as a chunk will be too expensive.

[2019-04-01 21:24] mrocklin commented on #4659
I think that we can use either Numba or stride tricks to do an efficient sliding window computation in low memory.

I think that we can use map_overlap to handle the boundaries between large blocks.

I think that with both of these we can achieve what you want in small space.

[2019-04-01 21:30] andersy005 commented on #4315
No worries, @mrocklin! I am glad to see that this has been implemented! Thank you for mentioning `get_task_stream`, I wasn't aware this method existed.

[2019-04-01 21:48] pentschev commented on #4659
I'll continue to investigate this, thanks for the suggestions @mrocklin.

[2019-04-02 11:39] kingfischer16 commented on #735
This doesn't appear to be fixed (using dask version 1.1.5, Python 3.7.0). Performing a simple `.groupby` raises the following:
`TypeError: __init__() got an unexpected keyword argument 'as_index'`
In dask\dataframe\core.py the DataFrameGroupBy class is constructed and **kwargs are passed. The DataFrameGroupBy class uses the _GroupBy class from, dask\dataframe\groupby.py, as it's base (and I'm assu

[2019-04-02 14:22] pentschev commented on #4659
There's a sliding window PR https://github.com/numpy/numpy/pull/10771, it seems to be what we want. The progress has stalled for quite some time, the author mentioned he would pick it up again, but that hasn't happened yet, presumable he's got no time for that. I can probably suggest there that I continue with it. Do you think that looks good @mrocklin ?

I'd nevertheless have to find a more immed

[2019-04-02 15:10] mrocklin commented on #735
Thanks @thrasibule .  At this point I recommend raising a new issue with a minimal reproducible example, if you have the time.

[2019-04-02 15:15] mrocklin commented on #4659
I think it would be good for that PR to be finished.  In principle having anyone finish it would be good.

Putting on my NVIDIA hat I don't currently know where this task fits into our current priorities.  It's not clearly tied to any particular task that I know of, so I would prioritize is somewhat low.  That being said, if you're excited about doing it then please don't let me get in the way :)

[2019-04-02 15:33] trstovall commented on #4643
This bug doesn't occur when `pandas.DataFrame` is replaced by `cudf.DataFrame`.

[2019-04-02 18:04] skrah opened #4662 "Try np.concatenate() for unregistered backends."
As discussed in https://github.com/plures/gumath/issues/22, unregistered backends work if `np.concatenate()` is tried.  This is a an example that deliberately does not touch the code path for registered backends but works for `xnd.array`:

[code]

[2019-04-02 18:33] iambatman07 opened #4664 "da.sum() not working for sparse csr_matrix"
da.sum()  throws a
`TypeError: sum() got an unexpected keyword argument 'keepdims'` ,
when trying to add a sparse csr_matrix along one axis .

Here is the code
`adj_matrix_dask.compute()`
<79x79 sparse matrix of type '<type 'numpy.float64'>'
	with 812 stored elements in Compressed Sparse Row format>
`da.sum(adj_matrix_dask, axis = 1).compute()`.

If you want I can add the full stacktrace.

@mrockl

[2019-04-02 18:36] hameerabbasi commented on #4662
cc @mrocklin @pentschev I believe this is the right way forward, since it was the point of `__array_function__`. 😄

[2019-04-02 19:51] mrocklin commented on #4664
Right, scipy.sparse matrices don't implement the numpy.ndarray interface, so they don't work with all (or even most) dask array operations.  You might want to consider looking at the pydata/sparse project instead, which does support the numpy.ndarray interface.

See https://docs.dask.org/en/latest/array-sparse.html

[2019-04-02 20:26] mrocklin commented on #4662
This function is a little bit hacky (my apologies).  Ideally arrays use the logic at the bottom of this function, which allocates an array and then assigns into it.  The `_concatenate2` solution is slower and involves a new copy for every dimension.

The proposed solution is sub-ideal because it slows down the common numpy case.  Probably short term we want to do something like ...

[code]

In the

[2019-04-02 21:28] jrbourbeau commented on #4658
To follow up, will those (or some) attending AnacondaCon be able to join the call on Thursday?

[2019-04-02 21:32] mrocklin commented on #4658
I will be there

On Tue, Apr 2, 2019 at 4:28 PM James Bourbeau <notifications@github.com>
wrote:

[2019-04-02 21:38] jrbourbeau commented on #4658
Great 👍 Then to clarify, we will have the meeting this Thursday. Also, note that daylight savings has happened since the last meeting

[2019-04-03 00:32] #4640 closed

[2019-04-03 02:12] bchu opened #4665 "If LocalCluster(processes=True), then **kwargs are not forwarded to Worker"
[code]

Results in `TypeError: __init__() got an unexpected keyword argument 'memory_target_fraction'` (specifically `ServerNode.__init__()`)

[code]

The code works if `processes=False`.

[2019-04-03 02:13] #4665 closed

[2019-04-03 09:37] pentschev opened #4666 "Parquet tests fail in PRs"
For a couple of days, parquet tests have been failing in PRs, for Python 3.6 and 3.7 builds only. Some examples are: https://travis-ci.org/dask/dask/builds/514818005?utm_source=github_status&utm_medium=notification (#4663) and https://travis-ci.org/dask/dask/builds/514571777?utm_source=github_status&utm_medium=notification (#4525).

I'm not sure who to tag here that has some knowledge about that s

[2019-04-03 10:20] pantaray commented on #4584
Hi Tom!

I was wondering if you already had a chance to further investigate the root cause of the problem? Thank you!

[2019-04-03 13:14] mrocklin commented on #4666
cc @martindurant

On Wed, Apr 3, 2019 at 4:38 AM Peter Andreas Entschev <
notifications@github.com> wrote:

[2019-04-03 13:14] mrocklin commented on #4584
@jcrist @jakirkham if either of you have time can I ask you to look into
this?

On Wed, Apr 3, 2019 at 5:20 AM Stefan Fuertinger <notifications@github.com>
wrote:

[2019-04-03 14:28] martindurant commented on #4666
Pyarrow 0.13.0 was released - I had the impression they were maintaining backward compatibility in the metadata, but it seems not. I'll try to look into this, it should be possible to work around fairly easily.

[2019-04-03 14:56] jcrist commented on #4626
I think that `__dask_optimize__` *should* return a raw dict - the point of the optimize method is to optimize the full graph which requires deeper work and looses any information that the `HighLevelGraph` might have. If your intent is any easy method to optimize and return a new `HighLevelGraph`, that could be added separately, but not at the dask collections protocol level.

[2019-04-03 15:20] jcrist commented on #4361
This seems to have been resolved by #2505:

[code]

[code]

Things still aren't as optimal as they could be (higher level fusion as described in #4360 would help), but this specific issue is resolved. Closing.

[2019-04-03 15:20] #4361 closed

[2019-04-03 15:24] jcrist commented on #4661
Right, dataframes passed as args first have their partitions aligned, then the function is mapped across all partitions. Agree this would be good to document, can I interest you in submitting a PR?

[2019-04-03 15:38] martindurant commented on #4666
I have an environment up which demonstrates the problem. It is not so straight-forward, because the new metadata not only has a new structure for the index column info (dict), but now allows an index column with name==None, and actually we can infer the divisions from the row counts of the pieces. In fact, the latter is true for the case that there is no index or pandas metadata at all, and should

[2019-04-03 16:18] pentschev commented on #4666
If this is too time-consuming, can we mark the failing tests to xfail until we have a permanent fix?

[2019-04-03 16:23] martindurant commented on #4666
That would be OK by me, but getting this parquet thing right might be more pressing than the other PRs that could be waiting for it.

[2019-04-03 16:24] martindurant commented on #4666
and to be sure, after a little while of trying to tweak some minimal changes, I think it may take a decent amount of work to get right :(

[2019-04-03 16:38] pentschev commented on #4666
I understand, the best is really to get the tests right, but in these circumstances it may take quite some effort. I don't have a strong opinion on this, the xfail was only a suggestion, if this may need a week or more until somebody can get them fixed, it may be a good idea to have them xfailing, otherwise, there's a risk of people merging bad PRs thinking that possible failures are only coming f

[2019-04-03 16:39] pentschev commented on #4666
Another (subpar) idea, that probably nobody will like, is to perhaps constrain testing against an older PyArrow version for the time being.

[2019-04-03 16:41] martindurant commented on #4666
Certainly; I don't feel like this is my decision to make, regarding what happens to non-parquet PRs, since I'm conflicted. If you were to submit a PR with either of those temporary solutions, then it will get discussed there.

[2019-04-03 16:47] pentschev commented on #4666
I will submit a PR with the xfail idea then, probably more likely to not be completely hated. Would you say the issue is something that may take 1+ week to be fixed? If it only takes you or somebody else a day or two, I think we can survive with that.

[2019-04-03 16:50] martindurant commented on #4666
In theory it should have been simple, but arrow is doing some magic things I don't understand yet. There is also @mrocklin 's parquet rewrite that may or may not make this simpler, but probably I'm stuck with the somewhat convoluted codebase in the current implementation. I am at conference right now, so it may well take me a week, especially if maintaining compatibility for old pyarrow. If anybod

[2019-04-03 16:55] pentschev commented on #4666
I won't commit to trying to fix this because I'm clueless about the whole parquet/pyarrow integration, it's likely that anything I do will be wrong in one way or another.

This is an interesting question. @mrocklin is this something that we would generally like to discuss, or maybe even better, does this answer maybe already exists?

[2019-04-03 19:05] jakirkham commented on #4626
An easy to use optimize function that returns `HighLevelGraph` objects would be welcome. Any thoughts on where this should go? Should it be a method of `HighLevelGraph`? A function in `dask.optimization`? Something else?

[2019-04-04 14:56] pentschev commented on #4662
I agree with what @mrocklin is saying, we should try to avoid slowing the current implementation down. Seems like his suggestion wouldn't be too difficult to get working, so if we have a PR that covers his concerns, that's +1 from me.

[2019-04-04 15:16] stsievert commented on #4658
i.e., the Dask meeting has moved an hour later for all time zones that observe daylight savings time.

[2019-04-04 15:23] mrocklin commented on #4658
For folks at AnacondaCon lets meet at 10:50am at the NumFOCUS booth and then walk up from there to the seventh floor at 10:55am, which has some relatively quiet space.

[2019-04-04 15:25] mrocklin commented on #4658
cc @jcrist @martindurant @jakirkham @quasiben @pzwang

[2019-04-04 17:03] #4658 closed

[2019-04-04 22:36] labuve commented on #3590
Hello! I am sorry if this is very silly question, but I am quite new to python and I don't quite understand the above discussion.
Basically, I saw `read_bgen` from `bgen_reader` package use the function `compute()` from `dask` package. The main data object from `read_bgen` (data) looks as following
`[Delayed(0), Delayed(1), ..., Delayed(N)]`
In the example, they use compute to a specific element o

[2019-04-05 15:45] #4633 closed

[2019-04-06 16:56] jrbourbeau opened #4670 "Set codecov commit status threshold"
Codecov is marking the commit status as failed (with a red 'X') for PRs where there is any decrease in coverage (ref #4669). Since we're not currently enforcing any minimum required coverage, it would be nice to avoid the red 'X' on PRs where the coverage slightly decreases. We should be able to configure this using the [`target`](https://docs.codecov.io/docs/commit-status#section-target) and/or [

[2019-04-06 17:13] mrocklin commented on #4670
cc @pentschev

On Sat, Apr 6, 2019 at 11:56 AM James Bourbeau <notifications@github.com>
wrote:

[2019-04-06 17:13] jrbourbeau commented on #4670
Open to other options here if others have different thoughts on this topic

[2019-04-06 19:34] pentschev commented on #4670
Agreed, thanks for the report. I'll send a PR for that.

[2019-04-07 06:26] GenevieveBuckley commented on #4556
To reproduce numpy-like behaviour, we'd need `minlength = np.max(input_dask_array) + 1`. This bit has to happen first in the task graph, since we need an integer result for the `minlength` keyword argument in bincount.

This seems relevant. The dask [specification docs](https://docs.dask.org/en/latest/spec.html) say:

``toolz.curry``.

Is this the type of use case that suggestion is made for?

[2019-04-08 07:41] GenevieveBuckley commented on #4556
Actually, maybe it's simpler than that. We might just need to add a bit on to the start of the dask graph:

Teeny tiny working example:
[code]

[2019-04-08 07:46] GenevieveBuckley commented on #4556
I don't understand what's happening with the tuple keys in dsk. How can I refer to these keys with `get`? I'm hoping one of you might be able to point me in the right direction.

This works:
[code]

But this doesn't:
[code]

[code]

[2019-04-08 11:19] r0f1 opened #4672 "read_csv() not working"
Hi,
[code]

The first command works, the second does not. I get the following error message. Why it that?

[code]

[2019-04-08 12:53] pentschev commented on #4487
This is fixed since CuPy v6.0.0rc1.

[2019-04-08 12:53] #4487 closed

[2019-04-08 13:11] #4672 closed

[2019-04-08 13:12] martindurant commented on #4672
Sorry for the problem. A quick-fix has been made, so you can run from master or wait for a release (they come along pretty fast).

[2019-04-08 13:29] mrocklin commented on #4556
@GenevieveBuckley I think that you're just missing the graph of `x`.  You might want something like ...

[code]

[2019-04-08 13:29] mrocklin commented on #4556
Although when actually writing dask array operations we tend to use HighLevelGraphs, which are marginally more complex than what is above.  Please see http://docs.dask.org/en/latest/high-level-graphs.html if you're going in this direction.

[2019-04-08 13:32] mrocklin commented on #4487
Thanks for tracking this @pentschev !

On Mon, Apr 8, 2019 at 7:53 AM Peter Andreas Entschev <
notifications@github.com> wrote:

[2019-04-08 14:09] r0f1 commented on #4672
Thank you!

[2019-04-08 14:18] pentschev commented on #4670
If #4669 passes after merging latest master, this can probably be closed.

[2019-04-08 14:48] jcrist commented on #4626
Probably a function in `dask.base`.

[2019-04-08 15:37] jrbourbeau commented on #4670
It's passing, thanks for working on this @pentschev!

[2019-04-08 15:37] #4670 closed

[2019-04-08 15:52] jcrist commented on #4615
Hmmm, there's not an easy solution to this. We don't currently have a place to keep information on what an object series contains (we assume strings, which is correct most of the time). One thought would be to move to keeping around a nonempty pandas object instead of an empty one. This could be done transparently to the user, but I'm hesitant to do so until I'm sure there's not a better way.

For

[2019-04-08 18:28] mansenfranzen opened #4676 "Inconsistent memory usage results with ResourceProfiler"
## Motivation
Let's say I'm trying to profile different dask computation graphs which solve the exact same problem and yield identical results. What I'm interested in is their memory consumption. I want to know which computation graph requires less memory during execution.

## Expectation
Using the `ResourceProfiler` I expect multiple profile runs to yield identical results for the same computatio

[2019-04-08 20:31] henriqueribeiro opened #4678 "from_dask_array with wrong dtype when passing index"
Example:

[code]
Output:
[code]

As far as I could understand from the source code, the index dtype is not populated to the meta index dtype. Is this a bug?

[2019-04-09 03:40] rabernat commented on #2557
👍 to `ravel_multi_index`

[2019-04-09 18:07] #4666 closed

[2019-04-09 19:54] quasiben commented on #4477
From last week's meeting and summarizing the above discussion, I was going to start labeling issues \(to the best of my abilities).  We are going to keep the labels at least through SciPy sprints and evaluate if the labels were helpful/harmful/indifferent in the lead up to and during the sprints.

Before proceeding I would like to get consensus on the the labels:

## Type Label
bug
question
good f

[2019-04-10 02:27] jrbourbeau commented on #4639
We're registered!

[2019-04-10 02:40] mrocklin commented on #4639
Thanks James!

On Tue, Apr 9, 2019 at 9:27 PM James Bourbeau <notifications@github.com>
wrote:

[2019-04-10 02:44] jcrist commented on #4676
Dask runs aren't deterministic (as can be expected with most threaded programming), so there is bound to be some variation here. However, fresh runs (e.g. multiple runs of `python yourscript.py`) should go about the same.

The scheduler releases all references to objects upon completion, so this isn't a memory leak on our side - what you're running into is likely a result of memory fragmentation d

[2019-04-10 02:49] jcrist commented on #4678
This is a bug - the index dtype should be propagated to the `meta` object (perhaps in `dask.dataframe.io.io._meta_from_array`). Would you be interested in fixing this issue?

[2019-04-10 02:53] mrocklin opened #4681 "Dask array best practices"
I'd like for us to make a doc page about best practices for Dask Array.  What are some topics?

Starting off..

1.  Chunk sizes
    -  Right size
    -  Right shape
    -  Aligned with storage
2.  Avoid oversubscribing threads with environment variables
3.  Use efficient storage
4.  Consider Xarray
5.   ...

What else?  cc @jakirkham @jhamman @rabernat @shoyer

[2019-04-10 02:55] mrocklin commented on #4274
This didn't happen.  Closing.

[2019-04-10 02:55] #4274 closed

[2019-04-10 02:58] mrocklin opened #4682 "Dask Dataframe best practices"
I'd like for us to make a doc page about best practices for Dask DataFrame. What are some topics?

As a reminder, here is the best practices doc for dask delayed: http://docs.dask.org/en/latest/delayed-best-practices.html

Here is a current page that we might update: https://docs.dask.org/en/latest/dataframe-performance.html and bring in line with common styling

What else should we mention that i

[2019-04-10 03:00] rabernat commented on #4681
Excellent timing. A discussion from today (https://github.com/pangeo-data/pangeo-datastore/pull/24#issuecomment-481357649) made me realize how much un-documented best practice knowledge is locked up in our heads. A new dask user commented

I will be glad to contribute to such a best practices effort.

[2019-04-10 03:01] jrbourbeau commented on #4681
cc @djhoese who may be interested in this based on https://github.com/dask/dask/issues/4514

[2019-04-10 03:06] mrocklin commented on #4270
Cross referencing https://github.com/dask/dask.github.io/pull/2

[2019-04-10 03:06] jcrist commented on #4682
There's some content in a few other pages that may full under best practices as well:

- https://docs.dask.org/en/latest/dataframe-design.html (partitions, passing metadata)
- https://docs.dask.org/en/latest/dataframe-categoricals.html (how to use known/unknown categoricals)
- https://docs.dask.org/en/latest/dataframe.html#common-uses-and-anti-uses

[2019-04-10 03:13] #4664 closed

[2019-04-10 03:19] #4608 closed

[2019-04-10 10:10] henriqueribeiro commented on #4678
@jcrist Yes, I will try to fix it

[2019-04-10 10:34] glemaitre opened #4685 "Issue with casting during concatenation of dataframe"
I got an issue with the following code which suprised me:

[code]

The parquet parts dumped on the disk are of different dtype while I would have expect `dd.concat` to make the casting without the need to explicitly call `.compute()`.

Is it a desired behavior?

[2019-04-10 10:36] henriqueribeiro commented on #4678
@jcrist I think this https://github.com/dask/dask/pull/4686 fix the issue.

[2019-04-10 12:39] EdwardJB opened #4688 "Bag.compute ignores num_workers"
Hi.

I'm using `dask==1.1.5` and trying to run the following workflow:

[code]

The `num_workers` is getting ignored. It just uses the core count (meaning I can't do any other work as the computer is unresponsive).

Side note: the `ProgressBar` doesn't display anything either. It used to but after changing some of the pipeline steps (I didn't notice which) it stopped.

[2019-04-10 12:43] djhoese commented on #4681
Thanks @jrbourbeau. I'm guessing that number 2 above includes `OMP_NUM_THREADS`. Another one I realized after working with a threaded scheduler for a majority of the time: not using nested functions as arguments to map_blocks and the like:

[code]

Which will fail to serialize in non-threaded schedulers.

[2019-04-10 13:08] aterrel commented on #4270
I just threw the "Always Use HTTPS" setting on. Let me know if there are any issues that come up.

[2019-04-10 13:17] aterrel commented on #4270
I've also set a page redirect rule for docs.dask.org. will wait to see if that fixes the issue.

[2019-04-10 13:24] mrocklin commented on #4688
My guess is that you're using the distributed scheduler, which doesn't
respect either of those elements.  I'm not sure though given your code
example.

https://docs.dask.org/en/latest/understanding-performance.html
<http://docs.dask.org/en/latest/understanding-performance.html>

<http://docs.dask.org/en/latest/scheduling.html> come with *different*
diagnostic
tools. These tools are deeply integrat

[2019-04-10 13:26] mrocklin commented on #4270
So far things are working for dask.org (thanks a ton!) and not yet for
docs.dask.org (I'll wait a bit though and report back)

On Wed, Apr 10, 2019 at 8:17 AM Andy R. Terrel <notifications@github.com>
wrote:

[2019-04-10 13:30] EdwardJB commented on #4688
Thanks for the reply. I've actually fixed both issues now:

[code]

Looks like it respects the settings if applied to `dask.config`, but not if passed directly to the `compute` method.

[2019-04-10 13:31] mrocklin commented on #4688
If my previous guess that you had created a Client was correct, then the
difference here is that you're explicitly setting the scheduler='processes'
keyword, which tells Dask that you want to use the local scheduler instead
of the distributed one.

Glad to see that you've resolved your issue.

On Wed, Apr 10, 2019 at 8:30 AM Edward Brown <notifications@github.com>
wrote:

[2019-04-10 13:34] EdwardJB commented on #4688
I did make a `Client` _at one point_ but it's no longer in the code. Does it still have an effect?

[2019-04-10 13:36] mrocklin commented on #4688
If you made a client in that Python process yes.  You can look at
dask.config.get('scheduler')

On Wed, Apr 10, 2019 at 8:34 AM Edward Brown <notifications@github.com>
wrote:

[2019-04-10 14:41] mrocklin commented on #4270
docs.dask.org is still insecure.

I also tried the Always Use HTTPS setting from within RTD, which hasn't been successful (it has actually be checked for a while now)

I did happen upon these docs from RTD though: https://docs.readthedocs.io/en/stable/custom_domains.html#custom-domain-ssl

There are a couple notes there that I don't understand fully, but may be relevant.

[2019-04-10 15:04] mrocklin commented on #4047
Some notes from the monthly Dask meeting last week.

-  People seem generally in favor of dropping soonish.  There were questions on how to drop.
    -  We might warn people, by placing a warning on import, similar to how `pip` does things.
    -  We might publish a package that is still technically Python 2 compatibile, but we publish it as Python 3 only and see if anyone cares
    -  We might ma

[2019-04-10 15:10] mrocklin opened #4689 "Release"
I'd like to issue a release of dask/dask and dask/distributed at the end of the week.

In particular this should help to push out some Parquet fixes.

[2019-04-10 15:12] martindurant commented on #4689
(note that parquet with pyarrow 0.13 is still broken in distributed)

[2019-04-10 15:15] mrocklin commented on #4689
I'm aware (just prodded on https://issues.apache.org/jira/browse/ARROW-5144).
I still think that we should push something out though.  The serialization
work is probably something that is better done in Arrow than Dask.

On Wed, Apr 10, 2019 at 10:12 AM Martin Durant <notifications@github.com>
wrote:

[2019-04-10 15:17] martindurant commented on #4689
Agreed, just wanted to note that things are not all well :)

[2019-04-10 15:17] jcrist commented on #4047
That seems reasonable to me. I'm not sure how many will notice though - both pip and conda will just install the last valid version for py27, so unless the user explicitly asks for the new version they won't see an error.

[2019-04-11 01:44] #4678 closed

[2019-04-11 02:48] andersy005 opened #4690 "__array_function__ protocol does not work for SVD"
According to https://blog.dask.org/2019/03/18/dask-nep18, #4567, https://github.com/dask/dask/issues/4563 , calling `np.linalg.svd()` on a dask array should return a dask array. However, I am noticing inconsistent behavior: when I call `np.linalg.svd(d)` where d is a dask array, the computation of results is not deferred until its consumption (see example below). In contrast, when I call `np.sin(d

[2019-04-11 03:30] GenevieveBuckley opened #4691 "dask.array.ones() and dask.array.zeros() do not accept dask arrays as input"
It was unclear to me from [the documentation on dask.array.ones()](http://docs.dask.org/en/latest/array-api.html) whether this was expected or unexpected behaviour. If this is expected behaviour, I'd like to clarify it in the docs.

`dask.array.ones()` and `dask.array.zeros()` do not accept dask arrays as input, but will accept input numpy arrays.

In contrast, `dask.array.ones_like()` and `dask.a

[2019-04-11 14:29] pearu commented on #4410
@xhochy Do you mean the Builder classes such as ColumnChunkMetaDataBuilder, RowGroupMetaDataBuilder, FileMetaDataBuilder need to be exposed to Python? I'd be happy to take any pointers on what is needed for resolving ARROW-1983.

[2019-04-11 15:54] beckernick opened #4693 "[FEA] Support Append for concatenating dask dataframes or fail gracefully"
### Description
Calling append without `interleave_partitions` causes the standard interleave partitions ValueError, but if you pass it as a keyword argument to append, you get a TypeError due to append not expecting this keyword.

### Request
It would be great in terms of user experience if Dask would either:
- Support the `append` API for row-wise concatenation; or
- Fail gracefully by raising a

[2019-04-11 16:47] jrbourbeau commented on #4690
Thank you for the inquiry and very nice example @andersy005! The `__array_function__` protocol is currently an experimental feature that is turned off by default. To enable the protocol you need to set the environment variable `NUMPY_EXPERIMENTAL_ARRAY_FUNCTION=1` (for reference see https://www.numpy.org/neps/nep-0018-array-function-protocol.html#implementation). In your example, was the `NUMPY_EX

[2019-04-11 16:48] jrbourbeau commented on #4690
cc @pentschev

[2019-04-11 17:15] mrocklin opened #4694 "Weekly maintainer standup"
Three people have mentioned a desire to have a weekly standup recently.  Let's start this back up again.  I'll arbitrarily suggest Thursdays at 3pm UTC (8am US Pacific, 11am US Eastern, 5pm Paris) at https://appear.in/dask-dev, though counter proposals are welcome.

[2019-04-11 17:26] mrocklin commented on #4694
Actually, to help plan things, it's probably better to have this earlier in the week.  Maybe Tuesday?

[2019-04-11 20:14] jcrist commented on #2564
This is fixed by #4695:

[code]

[2019-04-11 20:17] jcrist commented on #4694
End of week is also fine, can discuss what everyone did that week and set tentative plans for the following week. I don't think it really matters what day it is as long as most people can make it. I'm free every day but Thursdays at the suggested time.

[2019-04-11 20:31] jcrist commented on #4691
Those functions do different things:

- `da.ones` and `np.ones` accept a sequence of integers describing the output shape. A 1D numpy array happens to be a valid sequence, but tuples/lists are certainly more common here.
- `da.ones_like` and `np.ones_like` accept an existing array-like and return a new array-like with the same shape and dtype filled with ones. Array-likes are the expected input he

[2019-04-11 21:35] jcrist commented on #4693
I'm not sure that we should support `interleave_partitions` in append - append implies the rows are added to the end of the frame, whereas `interleave_partitions` will potentially do a reorder if needed. Instead, I think we should raise a nice error telling users to use `concat` instead. Would you be interested submitting a PR for this?

[2019-04-12 03:34] jrbourbeau commented on #4477
I generally like this proposed list of labels @quasiben, thanks for continuing this discussion. I'd put forward that we also keep the current ["io" label](https://github.com/dask/dask/issues?utf8=%E2%9C%93&q=label%3Aio+) as it's used relatively frequently.

[2019-04-12 03:51] jrbourbeau commented on #4477
Also, I'm happy to help with labeling existing (and new) issues. We should probably make that "discussion" label so we can label this issue : )

[2019-04-12 04:26] jrbourbeau commented on #4694
I'm free anytime other than Tuesdays 2-3 PM and Fridays 12-1 PM central time

[2019-04-12 08:23] GenevieveBuckley commented on #4691
I realise they do different things, so I think my question was more along the lines of "if a 1D numpy array is acceptable input, should a 1D dask array also be considered acceptable as input"? Since the docstring is a copy of the numpy docstring, it doesn't mention dask arrays one way or the other.

is your suggestion that we add something like this to the function? I could do that.
[code]

[2019-04-12 10:50] sergiocalde94 opened #4697 "Dask XGboost impossible to reproduce same results"
I´m using dask for implementing a data pipeline with dask dataframes and dask ml in a Yarn Cluster.

When I build an XGBoost model, the results are always different, even if I manually fix a seed with da.random.seed().

[code]

Is it possible to reproduce the results of a dask model like the one in local using sklearn instead of dask ml???

[2019-04-12 11:13] sergiocalde94 commented on #4697
The problem is when I run the model in cluster mode (not local). It´s a Yarn Cluster as I mentioned before.

[2019-04-12 15:21] seanlaw commented on #3877
@neverfox This solved my problem and I never would've thought to do this. So, thank you! Can you provide an explanation as to why this is needed as it isn't obvious?

[2019-04-12 15:26] jcrist commented on #4697
Closing, as double posted in the dask-xgboost repo: https://github.com/dask/dask-xgboost/issues/37. Will continue discussion there.

[2019-04-12 15:26] #4697 closed

[2019-04-12 15:42] beckernick commented on #4693
Yep, I'll pick that up @jcrist

[2019-04-12 15:48] jcrist commented on #3877
See https://stackoverflow.com/a/20222706/1667287, same thing applies here. When processes are started in the absence of fork, they'll try to import the script that launched them, which will cause failures if the creation of `Client` isn't shielded in the `if` block.

[2019-04-12 18:59] jcrist commented on #4691
If that's a sufficient fix from your perspective, then yeah that'd be good. I'd use a `TypeError` instead though.

[2019-04-12 20:00] jakirkham commented on #4694
Could I suggest we aim to keep the meeting to 30mins?

Also would suggest we do a poll for times, which might help us pick a time a bit quicker. Given we each know our own schedules well, but not other people's. Happy to make this poll if the idea is agreeable.

[2019-04-12 20:05] jcrist commented on #4694
I second keeping it less than 30 min (I was hoping for 15-20 tops). I don't think we should try to discuss anything to technical (this is just a standup), I'd mostly be interested in discussing:

- What everyone did for the last week (or 2)
- What everyone is planning on doing for the next week
- Any additional *brief* discussion around planning future work

Technical discussions should be held on

[2019-04-12 20:26] #4523 closed

[2019-04-12 21:13] andersy005 commented on #4690
Thank you, @jrbourbeau! I assumed that the behavior was enabled by default for numpy version >= 1.16. Setting `NUMPY_EXPERIMENTAL_ARRAY_FUNCTION=1` environment variable fixes the issue. Feel free to close the issue

[2019-04-13 02:04] jrbourbeau commented on #4690
Awesome, glad to hear things are working now : )

[2019-04-13 02:04] #4690 closed

[2019-04-13 02:18] jrbourbeau commented on #4586
Closing as `min_count` was added in #4648. Thank you for the bug report @atlasstrategic.

[2019-04-13 02:18] #4586 closed

[2019-04-13 02:26] jrbourbeau commented on #3564
@henriqueribeiro is it safe to close this issue as the `name` parameter was added to the index `to_frame` method in #4498?

[2019-04-13 04:48] jrbourbeau commented on #4321
Closing as this was fixed in #4475.

[2019-04-13 04:48] #4321 closed

[2019-04-13 14:03] jcrist commented on #4598
@verasativa any update here? Without a reproducible example we'll have a difficult time debugging this. See also https://blog.dask.org/2018/02/28/minimal-bug-reports.

[2019-04-13 21:46] jrbourbeau commented on #4689
Closing as 1.2.0 is live on PyPI and conda-forge. Thanks @mrocklin!

[2019-04-13 21:46] #4689 closed

[2019-04-13 23:10] martindurant commented on #4598
Since https://github.com/dask/dask/pull/4634 , it is now possible to do without the sample.

[2019-04-13 23:42] mrocklin commented on #4689
My pleasure

On Sat, Apr 13, 2019 at 4:47 PM James Bourbeau <notifications@github.com>
wrote:

[2019-04-14 02:42] verasativa commented on #4598
Ok, sorry for the delay, hope my test code its clear:
[code]
Perhaps @martindurant can try it on #4634 width ```blocksize=None, sample=False```

[2019-04-14 13:14] henriqueribeiro commented on #3564
@jrbourbeau Sure, I close it! Thanks

[2019-04-14 13:14] #3564 closed

[2019-04-14 13:22] martindurant commented on #4598
Yes, I can confirm that `dd.read_csv('fail.csv', dtype=types, blocksize=None, sample=False)` does work on master. I think this should have been included in v1.2.0.

[2019-04-14 13:24] avnovikov opened #4700 "Dask worker utilises enormous amount of memory before distributing load to other workers."
Dask worker utilises an enormous amount of memory before distributing load to other workers when loading relatively large ~1Gb gziped parquet files for the simple _repartition - apply - save_ operation
[code]
running on the distributed client on the single node

1) one of the worker processes reads the parquet file and grows up to 8Gb
2) it continues to grow up to maximum allowed limit and dies fo

[2019-04-14 13:31] martindurant commented on #4700
(edited the syntax so we could read it - note that github will render text as markdown)

[2019-04-15 12:34] jcrist commented on #4700
How is this file partitioned? How large is the uncompressed data? A 1 GB file may expand to a much larger amount of data - if it's not partitioned it would have to be loaded all on the same machine before splitting out amount workers.

[2019-04-15 13:19] avnovikov commented on #4700
It has just one partition - the problem as stated is that it first seems to load it into the memory (that seems fine, however, no read is shown on dashboard)  but then it rereads it and occupies memory roughly proportional to the number of workers.
The problem was solved by loading pandas dataframe and doing
[code]
This is definetely not the solution for the file larger than a memory clause.

[2019-04-15 16:23] mrocklin commented on #4693
An alternate outcome would be that we would append, but then we would lose divisions information.  I think I'm ok with that.  Presumably the user knows that they are losing the sortedness of their data.

[2019-04-15 21:02] nmerket opened #4701 "A long time before jobs start running when reading parquet files"
I am using dask-yarn on Amazon EMR almost exactly as [described in the documentation](http://yarn.dask.org/en/latest/aws-emr.html) including your handy bootstrap script (thanks).

![image](https://user-images.githubusercontent.com/5325034/56164461-f8c1f900-5f8d-11e9-9fc9-ab0e79ff8607.png)

I have ~16,000 parquet files (~110 GB on disk) that I'm trying to load into a dask dataframe from s3. The ope

[2019-04-15 21:16] nmerket commented on #4701
I suspected that it was dask's parquet reader as well, which is why I did something like this to get around it by using pandas parquet reader directly

[code]

Same problem.

[2019-04-15 21:36] mrocklin commented on #4047
Dropping Python 2 from CI in dask/distributed: https://github.com/dask/distributed/pull/2615

[2019-04-15 21:43] jcrist commented on #4701
Hmmm, that is odd. That still has nothing to do with dask-yarn (which only sets up the workers). You might look at the profile tab of the dashboard, or using `Client.profile` to collect some profiling information. Are the workers idle for 2:55 and then do work for the last 0:05? Which parquet engine are you using? Is there any way you could build a reproducible example showing this issue? This is

[2019-04-15 22:17] nmerket commented on #4701
When I hook it up to a profiler (snakeviz) what I'm seeing is that 383/387 seconds running were spent pickling.

[2019-04-15 22:20] martindurant commented on #4701
Is that also true for your delayed way? The only thing I see there that needs pickling is the `fs` instance, which would surprise me a lot. (You could create the instance in the function rather than include it in the closure for pickling)

[2019-04-15 22:26] nmerket commented on #4701
Yes, that was for my delayed way. Does it try to pickle all of pandas as well or is it smart enough to know that it can import that?

[2019-04-15 22:30] nmerket commented on #4701
Whoa, when I move the `fs` instance creation inside the function, it's almost immediate now.

[2019-04-15 23:50] jcrist commented on #4701
cloudpickle will only serialize functions as bytecode for functions defined in `__main__` (e.g. in an interpreter or script). Anything imported will be assumed to have the same import paths on the workers.

What it looks like you're seeing here is that `fs` is included in the closure of your function (instead of creating it in the function or using it as a parameter), leading to a potentially slow

[2019-04-16 03:35] jakirkham commented on #4580
To summarize it sounds like the recommendation is as follows.

* NumPy 1.13
* Pandas 0.21.0

Does that sound right? Is this agreeable?

[2019-04-16 03:39] jakirkham commented on #4477
@quasiben, your proposal seems reasonable. Do you know if there is a way to ask users to select a type and then some components?

[2019-04-16 03:45] jakirkham commented on #4047
So if not a warning, how do we ensure users know that Python 2 is no longer supported?

Alternatively if we were to add a warning, how would you configure the warning to make it easy to turn off?

[2019-04-16 03:55] shoyer commented on #4047
Python 2 doesn't stop working, they just can't get new dask releases on Python 2.

[2019-04-16 03:56] shoyer commented on #4580
+1 for updating to NumPy 1.13 and pandas 0.21.0.

[2019-04-16 05:19] jakirkham commented on #4584
Sure, the next step would be to run `git bisect` and see what commit that identifies. If you are able to try that @pantaray, that would be very helpful. If not, I can give it a go using what you have provided.

[2019-04-16 05:47] CMCDragonkai opened #4702 "Getting access to the delayed.Delayed class"
I'd like to get access to the `delayed.Delayed` class, since I'm writing some wrappers around delayed objects to experiment with distributed incremental computation.

However I've found that I cannot even import it.

[code]

I get this error:

[code]

I'm guessing this is problematic as the smart constructor `delayed` is conflicting with the module name of `delayed.py`.

[2019-04-16 13:05] mrocklin commented on #4047
I think that most projects just announce it on social media these days.

[2019-04-16 13:07] jrbourbeau commented on #4702
You could use

[code]

[2019-04-16 13:19] hugovk commented on #4047
Other ideas:
* put it prominently in the release notes, docs and README
* pin this issue
* sign https://python3statement.org

[2019-04-16 14:30] mrocklin commented on #4694
-  What everyone did for the last week (or 2)
- What everyone is planning on doing for the next week
- Any additional brief discussion around planning future work

Personally I'm more interested in planning than in reporting.  So I might want to add on questions like ...

-  What are some current fires going on in the project?
-  What common themes do we see coming up recently?
-  Who has time to

[2019-04-16 18:07] mrocklin commented on #4694
Yes, please do (also, in the future I encourage people to just do things rather than wait for the group to assent)

[2019-04-16 18:52] mrocklin commented on #4682
I've started on this in https://github.com/dask/dask/pull/4703 .  Mostly I just moved over the original dataframe-performance file, and added a couple things.

[2019-04-16 18:53] mrocklin commented on #4682
Help there would be welcome

[2019-04-16 19:33] mrocklin commented on #4681
Starting work here: https://github.com/dask/dask/pull/4705

Direct edits there would be quite welcome.

[2019-04-16 21:19] tswast commented on #3121
Regarding BigQuery support, I believe the new BigQuery Storage API is a good fit for Dask. I'm proposing the following design, in order of increasing complexity. I think starting out with just reading BigQuery table data maps quite closely to the underlying API, and then helpers for calling queries and pushing down filtering to BigQuery can be added after that.

## Design Summary

The [BigQuery St

[2019-04-16 21:32] jrbourbeau opened #4706 "Tests skipped with optional dependencies installed"
There are a few tests being skipped with `pytest.importorskip` in the CI even though it appears the corresponding dependency is installed in the CI environment. See https://travis-ci.org/dask/dask/jobs/520461060#L2631 for a `snappy` example and https://ci.appveyor.com/project/daskdev/dask/builds/23870810#L1112 for a `moto` example. It's not immediately clear to me why this is happening, so I'm ope

[2019-04-17 01:13] jrbourbeau commented on #4688
@EdwardJB any update here? Is it safe to close this issue?

[2019-04-17 01:32] jrbourbeau commented on #4611
Closing as additional information is needed to reproduce the original issue. @KathyGCY please feel free to re-open this issue if you would like to continue the discussion.

[2019-04-17 01:32] #4611 closed

[2019-04-17 01:47] jrbourbeau commented on #4598
@verasativa I was able to successfully run you excellent code example when specifying `sample=False` in `dd.read_csv` with the latest release of Dask (release version `1.2.0`). Is it safe to close this issue?

[2019-04-17 02:00] jrbourbeau commented on #4574
@mcsoini do you have an interest in submitting a PR to raise a warning? Definitely no obligation though

[2019-04-17 02:15] jrbourbeau commented on #4573
Any update here @MichaelSchroter? Did @TomAugspurger suggestion of using `ddf.map_partitions(pandas.DataFrame.replace, months)` address your issue?

[2019-04-17 02:31] verasativa commented on #4598
Sure, thanks!

[2019-04-17 02:31] #4598 closed

[2019-04-17 03:03] jrbourbeau commented on #4598
Thank you!

[2019-04-17 08:08] mcsoini commented on #4574
yes, seems like to a good excuse to get more familiar with the codebase

________________________________
De : James Bourbeau <notifications@github.com>
Envoyé : mercredi 17 avril 2019 04:01:04
À : dask/dask
Cc : Martin Soini; Mention
Objet : Re: [dask/dask] Merge fails depending on dtypes and npartitions (#4574)

@mcsoini<https://github.com/mcsoini> do you have an interest in submitting a PR to r

[2019-04-17 12:13] jcrist commented on #4355
The application period is now over, closing.

[2019-04-17 12:13] #4355 closed

[2019-04-17 12:17] #4691 closed

[2019-04-17 12:19] jcrist commented on #4706
Perhaps imports are failing due to incompatible/missing deps of those packages?

[2019-04-17 13:52] jrbourbeau commented on #4574
Great, thanks @mcsoini!

[2019-04-17 15:43] martindurant commented on #4630
snakeviz rendering of the persist line:

![Screen Shot 2019-04-17 at 11 42 33](https://user-images.githubusercontent.com/6042212/56301511-f5517d80-6105-11e9-96a3-b2face76dc75.png)

[2019-04-17 17:06] rabernat commented on #4630
@martindurant - am I correct in interpreting your benchmark that most of the time is spent on communication, i.e. serialization and transmission of the graph?

[2019-04-17 17:29] martindurant commented on #4630
[code]

`unpack_remotedata` is the major culprit (not the communication, at least not with a local scheduler) - I don't understand what it does. Quite a few iterations over all tasks in the graph here, perhaps a chance to fuse them.

[2019-04-17 18:05] jrbourbeau commented on #4642
Closing this issue as it seems to be resolved in #4647 and #4650

[2019-04-17 18:05] #4642 closed

[2019-04-17 18:52] martindurant commented on #4630
Specific answer, @rabernat , is that the time is spent all in the one function, but I don't really know what the specific lines do - @mrocklin probably does, not sure who else. Since this is all about looping over an awful lot of python objects multiple times plus a little logic, it may be an excellent case for cythonization - or perhaps there are simpler things that could be done.

[2019-04-17 18:58] mrocklin commented on #4630
A lot of this is just general dask optimization and graph manipulation.  My knowledge of the distributed scheduler isn't strictly required here.  Someone like @jcrist or @eriknw would have good experience here.

In general, it would be good for someone to take another look at our overhead.  We've done some biggish changes over the last several months and haven't revisted this topic.

[2019-04-17 21:59] Bidek56 opened #4711 "http://localhost/dask/clusters 404 (Not Found)"
When running Dask using [Dask Chart](https://github.com/helm/charts/tree/master/stable/dask) in [Azure AKS](https://azure.microsoft.com/en-us/services/kubernetes-service/)
`helm install --namespace=dask --name dask ./dask`

Starting Dask 1.1.5, I am seeing a lot of these errors in the Chrome console (Ctrl+Shift+J):
**GET http://10.10.0.50/dask/clusters?1555537293299 404 (Not Found)**

but I do NOT

[2019-04-18 00:19] birdsarah commented on #3198
Just ran into this. Lost a lot of time. To restate the workaround:  turn what you're using to filter (e.g. `Series`, `list`, or `np.array`) into, in my case, a `DataFrame` and then dask proceeded.

If not, dask got stuck doing something single threaded and never started parallel processing. The most I waited was for 10 minutes for a task graph to show up, which it never did. With this in place, wh

[2019-04-18 01:13] aterrel commented on #4270
wll poo.

Can you add me as an admin for RTD then I can play with the setting and contact their support?

[2019-04-18 01:26] mrocklin commented on #4270
Sure.  What is your RTD username?

On Wed, Apr 17, 2019 at 8:13 PM Andy R. Terrel <notifications@github.com>
wrote:

[2019-04-18 02:31] MichaelSchroter commented on #4573
Hi @jrbourbeau,

What I have are `dask` dataframes. Within the brackets there is a `pandas` dataframe. The reason I did not want to convert into pandas is that the the dataframe is large. Furthermore, the advantage of using dask is lost if the dataframe could load in memory in my instance. The workaround that I used was.

[code]
This worked for me. The for loop resolves the issue when the `to_repl

[2019-04-18 02:59] jrbourbeau commented on #4573
Glad to hear you found something that addressed your problem!

That's totally understandable. However, calling `map_partitions` with a function (in this case the function is `pd.DataFrame.replace`) on a Dask DataFrame does not load the Dask DataFrame into memory. Hopefully, the below example helps illustrates that point.

[code]

Running the above example outputs:

[code]

[2019-04-18 03:02] jrbourbeau commented on #4573
I'm going to close this issue as it appears both the `mask` and `map_partitions` approaches address the originally posted issue. Feel free to re-open if this is not the case.

[2019-04-18 03:02] #4573 closed

[2019-04-18 03:34] aterrel commented on #4270
aterrel

[2019-04-18 04:19] MichaelSchroter commented on #4573
Hi @jrbourbeau,

Ok thanks a lot. That also helped. Your solution is much more efficient.

Thanks

Michael

[2019-04-18 10:35] bmerry opened #4712 "map_blocks: block_info doesn't work with broadcasting"
While working on an alternative approach to #4476, I noticed that the code in `da.map_blocks` for computing `block_info` doesn't take broadcasting into account. That causes the following code to crash (on dask 1.2.0-10-g967e30c3):
[code]

[code]

If the `block_info` argument is removed, then it runs and produces sensible output.

[2019-04-18 13:12] mrocklin commented on #4270
- User aterrel does not exist

On Wed, Apr 17, 2019 at 10:34 PM Andy R. Terrel <notifications@github.com>
wrote:

[2019-04-18 13:35] mrocklin commented on #4573
This was simple enough to add, at least for the simple case.  https://github.com/dask/dask/pull/4714

[2019-04-18 13:36] aterrel commented on #4270
meh, RTD user stuff confuses me... Let me delete the account and see if I can make another that isn't just authenticated from github.

<img width="463" alt="Screen Shot 2019-04-18 at 8 34 19 AM" src="https://user-images.githubusercontent.com/30583/56364711-dbbb3f00-61b4-11e9-9055-cd03bb80c257.png">

[2019-04-18 13:41] mrocklin commented on #4270
Hrm, still no luck.  I'll give it a few minutes and then try again.

On Thu, Apr 18, 2019 at 8:36 AM Andy R. Terrel <notifications@github.com>
wrote:

[2019-04-18 13:42] mrocklin commented on #4270
Alternatively, if you're around downtown Austin today or tomorrow I'd be
happy to meet up (regardless) and see if we can bang this out.

On Thu, Apr 18, 2019 at 8:41 AM Matthew Rocklin <mrocklin@gmail.com> wrote:

[2019-04-18 13:57] xhochy commented on #4410
@pearu Yes. In the end to create the `_metadata` we would need to collect the `RowGroupMetaData` instances from all files, pickle them, send them to a single worker and then create out of all of them a single `FileMetaData` that is stored as part of an empty Parquet file named `_metadata`.

[2019-04-18 15:10] jcrist commented on #4712
Thanks for the excellent issue example @bmerry. This should be fixable, any issue in tackling this?

[2019-04-18 15:10] jcrist commented on #4702
Closing as answered. Feel free to reopen if needed.

[2019-04-18 15:10] #4702 closed

[2019-04-18 15:17] jcrist commented on #4711
@mrocklin, @ian-r-rose - any changes to the docker images/jupyterlab extension that may lead to this?

[2019-04-18 15:40] bmerry commented on #4712
It wasn't immediately obvious to me where the broadcasting happens and hence how to unwind it for constructing the block info - I think it's several layers further down. I guess one option is just to handle any dimension with only one block specially, since in that case the block spans the whole array regardless of whether that dimension was broadcast or not.

[2019-04-18 19:29] jcrist commented on #3854
For the last few months we've been meeting on the first thursday of every month at 16:00 UTC at http://appear.in/dask-dev. Closing.

[2019-04-18 19:29] #3854 closed

[2019-04-18 19:30] jcrist commented on #3787
This is no longer true (builds are ~20-25 min). Closing.

[2019-04-18 19:30] #3787 closed

[2019-04-18 19:31] jcrist commented on #3775
Closing as stale, feel free to reopen if it's still an issue.

[2019-04-18 19:31] #3775 closed

[2019-04-18 19:35] jcrist commented on #3740
Fixed by #3771. Closing.

[2019-04-18 19:35] #3740 closed

[2019-04-18 19:36] jcrist commented on #3616
We currently have a dask blog hosted at https://blog.dask.org/, with content at https://github.com/dask/dask-blog. Closing.

[2019-04-18 19:36] #3616 closed

[2019-04-18 19:49] jcrist commented on #4694
I've created a doodle poll here: https://doodle.com/poll/e6r4kzhiwavzpwr9

If everyone could respond asap that would be appreciated. Thanks.

[2019-04-18 20:14] mrocklin commented on #4694
Thanks @jcrist !  Responded.

[2019-04-18 20:18] mrocklin commented on #4711
Dask labextension currently polls to see if there is a dashboard available.  It's not a great solution for exactly the reason listed here.  I think that there is some improvement in master, but I'm not sure that it resolves this problem completely.  @ian-r-rose would know more.

[2019-04-18 21:02] xiaofanyang002 commented on #4366
I've had a similar issue. The key normalization is causing a bug that disables existing loggers if calling `logging.config.dictConfig(dask.config.config.get('logging'))` , e.g. https://github.com/dask/distributed/blob/master/distributed/config.py#L110

Basically, setting `disable_existing_loggers: False` in dask config also does not work because the normalization will change it to `disable-existin

[2019-04-18 21:15] ian-r-rose commented on #4711
I suspect that the problem here is actually that it is not installed correctly. We do poll the server for active clusters (indeed, JupyterLab and the classic notebook poll for kernel info as well). If the `dask_labextension` server extension is not installed or activated, it will result in 404s.

I couldn't see any reference to installing `dask-labextension` in the linked helm chart. Can anyone po

[2019-04-18 21:20] mrocklin commented on #4711
Probably here:
https://github.com/dask/dask-docker/blob/master/notebook/Dockerfile

On Thu, Apr 18, 2019 at 4:15 PM Ian Rose <notifications@github.com> wrote:

[2019-04-18 21:23] ian-r-rose commented on #4711
Ah, yep, looks like the server side component is missing (which was added as of 0.3)

[2019-04-18 21:31] mrocklin commented on #4711
I'll put up a PR and ping you

On Thu, Apr 18, 2019 at 4:23 PM Ian Rose <notifications@github.com> wrote:

[2019-04-18 21:33] mrocklin commented on #4711
https://github.com/dask/dask-docker/pull/44

On Thu, Apr 18, 2019 at 4:30 PM Matthew Rocklin <mrocklin@gmail.com> wrote:

[2019-04-18 21:39] Bidek56 commented on #4711
How about the development build of React issue?

[2019-04-18 22:31] ian-r-rose commented on #4711
@Bidek56 Currently the ability to do a prod (that is, minified) build of the application via the CLI is broken (see https://github.com/jupyterlab/jupyterlab/issues/5661), which should be fixed in the upcoming release. Once that happens, this image should be able to do that.

[2019-04-19 12:40] aterrel commented on #4270
For those following along. We met in meatspace. Played with settings for an hour. Then enjoyed beer.

The internet seems to think that our current set up won't work... https://github.com/rtfd/readthedocs.org/issues/4907#issuecomment-439447749

But pypa works.... try http://pip.pypa.io/en/stable/ ... but look... they use fastly to cache.

[code]

I'll ping folks at pypa and rtd to see if they have

[2019-04-19 12:48] aterrel commented on #4270
Here is the active issue for RTD http->https redirects. https://github.com/rtfd/readthedocs.org/issues/4641

[2019-04-19 13:20] mrocklin commented on #4270
At least it was good beer

On Fri, Apr 19, 2019 at 7:48 AM Andy R. Terrel <notifications@github.com>
wrote:

[2019-04-19 14:21] jakirkham commented on #4694
Submitted. Thanks Jim!

[2019-04-19 17:47] beckernick opened #4718 "[FEA] Use M methodcaller in melt"
### Request
As a dask user, I'd like to be able to potentially use `melt` for multiple types of dataframe data structures. Currently, melt is hard tied to pandas via `pd.melt`. Switching dask's melt to use the `M` methodcaller should make this possible.

Note: I'm going to open a PR for this issue.

[2019-04-19 20:42] jcrist commented on #4580
Fine by me. This is currently blocking a PR, shall we go for it?

[2019-04-19 21:39] mrocklin commented on #4580
There are a couple +1s, no one seems opposed.  I think it's fine to go ahead.

[2019-04-19 22:19] jcrist commented on #4580
On it.

[2019-04-20 08:17] birdsarah commented on #4194
I was having this problem too and the following, not very elegant, patch fixes it for my data:

[code]

I then manually create a pyarrow schema and pass it in:

[code]

[2019-04-20 12:46] mmccarty commented on #4194
Thanks @birdsarah !  This isn't too terrible.  Do others think it would be reasonable fix this in Dask until we can get a solution at the lower level?

Wes, I'm working on making open source contributions possible for my team.  Unfortunately, it is an uphill battle, however I am making progress.  Stay tuned!  I have folks, including myself, that would love to help out!

[2019-04-20 18:06] Bidek56 commented on #4711
Commit [3b0c6e6](https://github.com/jupyterlab/jupyterlab/commit/3b0c6e622b25b8fee11fc11fff3da0436fbc2756) was merged into master, and [5661](https://github.com/jupyterlab/jupyterlab/issues/5661) was closed, what do we need to do to bring this fix into Dask and get a prod build of the hub? Thx

[2019-04-20 18:18] ian-r-rose commented on #4711
You should be able to install from JupyterLab master, with all the caveats that come with a potentially unstable version. Otherwise, we can wait until the release.

[2019-04-21 02:18] lazarillo commented on #1259
I'd like to start contributing to Dask, and this was tagged as a "good first issue".  But it's not clear to me what items to focus upon.  Can I assume (a) to stay away from time-related API methods, and (b) *any* of the *unchecked* items in the OP with the checklist are equally helpful / worthwhile?

I'm thinking I'd start with `T` and `reindex`.

[2019-04-21 02:29] TomAugspurger commented on #1259
I don’t think transpose makes sense for dask DataFrame’s design.

Reindex should be doable, but will require some care.

It sounds like an updated list of missing methods with guesses about the implementation difficulty would be useful, but I’m not sure if anyone will have time to put that together near term.

[2019-04-21 02:30] lazarillo commented on #1259
OK.  I'll look for another issue with clearer goals where I can help w/out causing more hassle.  ;-p

[2019-04-21 14:05] dungthuapps opened #4723 "failed to write index in to_parquet() when using read_sql_table()"
hi, I have tried using read_sql_table to read data from sqlite.
but failed when trying to write to parquet file while seting write_index=True
My code:

[code]
[code]
[code]
### Case 1: leave index_col in meta
meta = {"MEASURE_DATE": [pd.to_datetime("2000-01-01")],  "STATIONS_ID": [1], 'FX': [0.1]}
index_col = "STATIONS_ID"
**> KeyError: 'Only a column name can be used for the key in a dtype mappin

[2019-04-22 14:40] martindurant commented on #4194
Probably the thing to do is produce the pyarrow schema from the meta? Or does that not produce a useful schema for an empty dataframe, is that the problem?
Being allowed to explicitly specify the schema does seem like a useful option in any case.

[2019-04-22 15:59] jcrist commented on #4694
From looking at the times when everyone was available on the poll, I'll arbitrarily pick Tuesdays at 10:30 am Central as the standup time. Lets meet at http://appear.in/dask-dev. I'll be there tomorrow morning, but given the short notice don't expect everyone to make the first one.

[2019-04-22 16:45] birdsarah commented on #4194
@martindurant I think that sounds right.

I'm not having an empty dataframe problem so I can't speak to that. The problem I'm having is that the schema is inferrred each time from each partition of data and attempts to specify the meta have been ignored. I have a string field that's sometimes all null for a given partition, then my individual partitions are written with different schemas and I can

[2019-04-22 16:59] martindurant commented on #4194
So although a dataframe should always have one, the meta is usually empty, so calling pyarrow on it directly to make a schema would produce exactly the wrong thing :|  I suppose you could always make the schema from a partition of the data that you know to be sound.
fastparquet has this problem too, and you need to, in the general case, specify how you want to interpret object columns.

[2019-04-22 17:07] #4580 closed

[2019-04-22 17:52] youngsaj opened #4724 "http seek name nloc is not defined with whence=1"
**Bug Report***
I've run a trace on an issue with seek into https file.
I get to a point where I have a whence=1, and get *** NameError: name 'nloc' is not defined
self.loc is definitely set
for whence = 1 it's doing
nloc +=

which off hand doesn't make sense, but I could be overlooking something simple.
I also have a self.size so that's good.
attempting it on:
https://six-library.s3.amazonaws.com

[2019-04-22 17:57] martindurant commented on #4724
Agree, should be `nloc = self.loc + where`.
Would you like to submit the fix as a PR?

Surprised that you are calling this directly, what is your use case.

[2019-04-22 18:14] youngsaj commented on #4724
I'm trying to write an Intake driver.
I was closely trying to reuse code that used local file system.

With local file system I could do:
set_of_open_files = dask.bytes.open_files(urlpath, mode='rb')

Reading basic metadata from the file, then later pulling out a subset of file.
Perhaps not the way to do that, I'm open for suggestions.

I'll give a PR a try (very limited use on my part of github p

[2019-04-22 18:18] martindurant commented on #4724
You are quite right, so you are going beyond typical Dask use here.
Note that the version of HTTPFile in [fsspec](https://github.com/martindurant/filesystem_spec) doesn't have this problem, and eventually Intake will be moving to use fsspec instead of the functions in Dask (and eventually eventually, Dask should use fsspec).

[2019-04-22 18:23] birdsarah commented on #4194
Good point. Maybe it's possible to can in the other direction then. I'm working with my initial data processing pipeline. Here's the code:

[code]

Seems like there's potential to give a pyarrow schema to meta, as it's actually more specific, and then anything that needs to be cast as an object could be.

[2019-04-22 18:24] birdsarah commented on #4194
Obviously there's no need to optimize to my use case, just sharing.

[2019-04-22 18:31] martindurant commented on #4194
That way around is certainly possible
[code]
Generally, an arrow schema versus a pandas dtypes object do not map perfectly to one-another, I'm not sure you can do better; but still it may be useful to pass the arrow schema down functions like to_parquet which need direct use of them.

[2019-04-22 18:57] jakirkham commented on #4694
Thanks Jim. Have sent out a calendar invite to everyone who responded to the poll. Please let me know if you got it (or not). Also please check that I have configured it correctly. Happy to fix if not.

[2019-04-22 19:03] #2564 closed

[2019-04-22 19:04] #4718 closed

[2019-04-22 19:39] jcrist commented on #4723
Thanks for filing a bug report. A few general notes when reporting bug reports to projects:

- Please include the full traceback when you get error messages. You've provided the text of the error, but the full traceback is useful for seeing where the error comes from.
- It appears that your issue is happening when writing the output parquet files, not when reading from the sql table (to confirm, t

[2019-04-22 19:49] martindurant commented on #4723
The `meta` you provide must match the dataframe you expect - in this case, it will have an index, but you have not specified one. You probably need

[code]
(or provide `index=` in the call to `DataFrame`).

Or you could always map_partitions with `reset_index`, or something... I agree with @jcrist , it's too hard to know what you're really doing to try to guess further.

[2019-04-22 22:18] birdsarah commented on #4194
Thanks. Do you know how to handle categoricals?

[2019-04-22 22:50] dungthuapps commented on #4723
@martindurant sorry, this actually 2 problems.
First is with read_sql_table
assume. my index col is **"STATIONS_ID"**
in case 1: I cannot define both in read_sql_table for the index in meta and index_col .
if I use read_sql_table(, **index_col="STATIONS_ID"**) and also defined it in meta -> error
Then I need to rename "STATIONS_ID" -> "ID" by: sql.columns("STATIONS_ID").label("ID") to avoid this e

[2019-04-22 23:11] birdsarah opened #4726 "Performance with isin function on large filter list"
I am opening a separate issue from #3198 as there seem to be two separate threads in that issue. Here's reproduce-able code:

[code]

    CPU times: user 51.9 ms, sys: 4.07 ms, total: 56 ms
    Wall time: 45.3 ms
    CPU times: user 231 ms, sys: 10.5 ms, total: 242 ms
    Wall time: 198 ms
    CPU times: user 2.32 s, sys: 167 ms, total: 2.49 s
    Wall time: 2.01 s

[code]

    CPU times: user 4.7

[2019-04-22 23:48] martindurant commented on #4194
No, I really don't, sorry :| Surely someone from arrow can help with that one.

[2019-04-23 02:09] jrbourbeau commented on #4688
Closing as the originally posted issue seems to have been resolved. Feel free to re-open if this is not the case

[2019-04-23 02:09] #4688 closed

[2019-04-23 02:17] jrbourbeau commented on #4724
Thanks @youngsaj! There is documentation about contributing to Dask at http://docs.dask.org/en/latest/develop.html.

[2019-04-23 02:54] jrbourbeau commented on #4694
@jakirkham thank you for setting up the calendar invite, I received it and it seems to be configured correctly

[2019-04-23 12:12] jcrist commented on #4726
Thanks for the excellent issue report, I'll look into this this morning.

[2019-04-23 13:44] jcrist commented on #4726
Fixed by #4727. The issue was that the large list was placed as a literal in every task. This caused slowdowns in a few places:

- Serialization of the graph to workers was slower, as every task had a large piece of data in it.
- Evaluation of the graph was slower, as traversing a large list had to happen for each list
- Optimization of the graph was much slower (this was the single threaded slowd

[2019-04-23 16:49] mrocklin commented on #4694
In the call today we mentioned organizing a issue/PR closeout sprint sometime next week.  I've put up a doodle poll here: https://doodle.com/poll/t38be8upiy8z6d72

@jcrist you mentioned that you might be out next week.  Is this the entire week, or is there some possibility that you'll be free later on?

[2019-04-23 19:08] jrbourbeau commented on #4706
Looks like unpinning the `conda` version in #4720 fixed this issue for `zarr`-related tests on Appveyor.

I plan to look into this more sometime next week

[2019-04-23 19:42] ericmjl opened #4729 "Conditional gather?"
If I would like to gather the result of parallel computations that have finished (not those that have thrown an error, or are still in computation), I would write cod that does this:

[code]

Would it be of interest, and would it also make sense or not (I'm open to this not being a sensible thing), to have this wrapped in a `client.gather_finished(futures)` class method? Some of my parallel comput

[2019-04-23 19:46] martindurant commented on #4729
Is `as_completed` useful for you? https://distributed.readthedocs.io/en/latest/api.html#distributed.as_completed

[2019-04-23 20:05] ericmjl commented on #4729
Thanks for pinging back, @martindurant!

I took a careful look at the docs, but I think I need to clarify one point:

If I understand the above statement correctly, I think this might be a blocker to using `as_completed` in the way I'm hoping to, but I might be wrong here. I'm basically looking for non-blocking behaviour - that is, if the future is still running, skip over it, and let me just cont

[2019-04-23 20:13] martindurant commented on #4729
Yes, I suppose you are right. Your loop is simple enough, and seems it works well - I don't suppose it's designed to be run too often.

There may be interest in supplying this convenience method. I would recommend proposing a PR with clear docstring and tests (some futures don't finish for a long time, some error).

[2019-04-23 20:34] eriknw commented on #4729
The `as_completed` object is able to be used in a non-blocking fashion.  For example:
[code]
Hope this helps.  The docs could maybe be improved.  Check out the source code:

http://distributed.dask.org/en/latest/_modules/distributed/client.html#as_completed

[2019-04-24 01:18] jcrist commented on #4694
No, looks like it's not til next month.

[2019-04-24 08:40] bmerry commented on #4298
There is an off-by-one error in the computation of `old_k`, so the array-location and chunk-location will be incorrect. I'm fixing it as part of #4713.

[2019-04-24 12:36] bmerry commented on #4712
I can take a look at fixing this, but after #4713 is merged since that touches some of the same code.

[2019-04-24 14:57] MMAThijssen opened #4730 "Change index.dtype"
Hi,

The dtype of the index changes from datetime64[ns] to int after executing map_partitions.
 ``` data[COLUMN_A] = data[COLUMN_A].map_partitions(butterworth_filter, frequency, critical_frequency, order, meta=a_dtype)```

Next, I want to do a groupby which requires DatetimeIndex, TimedeltaInda or PeriodIndex, while I know have a RangeIndex.

Trying to change the dtype using ```data.index = data.i

[2019-04-24 16:12] pentschev opened #4731 "NEP-18 Issue Tracking"
We want to track what are the issues that need to be solved in the long-term for NEP-18 support and interoperability with libraries such as CuPy.

Structural changes:
- [ ] Support `dask.Array._meta` attribute https://github.com/dask/dask/pull/4543 #4888
- [ ] `__array_function__` fallback to NumPy implementation https://github.com/numpy/numpy/issues/12974, https://github.com/numpy/numpy/pull/1330

[2019-04-24 16:30] mrocklin commented on #4731
Thanks @pentschev !  This is great.  I enjoyed looking through the various NumPy and CuPy PRs and issues listed here.

[2019-04-24 18:25] beckernick opened #4732 "[DISCUSSION] Remove pandas groupby.last() dependency from _take_last method"
Currently, cumulative aggregation operations are tied to non-hash based groupbys and pandas through the process of grabbing the last row and explicit pandas mentions in several places, particularly in [_take_last](https://github.com/dask/dask/blob/master/dask/dataframe/core.py#L4179).

Handling the explicit pandas references is already a TODO, but I'd like to raise for discussion removing the usag

[2019-04-24 18:44] mrocklin commented on #4732
What about a Python for loop that walks from the end of each series to the front that checks for a non-null value?

[code]

[2019-04-24 18:45] christianbeland opened #4733 "TypeError: delete_namespaced_pod() takes 3 positional arguments but 4 were given"
Problem when deleting pods:

[code]
Any idea?
Is this version related? whre can I find the proper version of all dependencies?

[2019-04-24 18:55] beckernick commented on #4732
That would certainly work. I'd defer to you and others as to how common that the scenario of having to iterate over many columns most of the way up would be, as I think the penalty could be significant if so.

[2019-04-24 19:02] mrocklin commented on #4732
[code]

So if we had 1000 columns (which I'm going to claim as extreme), each of which had no null elements, this approach would take 1ms + 6ms, which is fine.  There are some other challenges I think:

1.  In the case where there are a ton of null elements (thousands before we got to a non-null element) we would be incurring something like 6ms per column (which is probably ok still)
2.  It's not

[2019-04-24 19:35] beckernick commented on #4732
cudf's iloc is indeed slower (about 20x in the cudf version of the above example).

Here is a pandas example with some loose timing for the worst case scenario:

100,000 rows, 100 columns
[code]
Null checking every value independently is the largest timesink. Since it takes ~10-20 us per nan/nullcheck (and there may be a faster way of course), then at 100,000 values per column it takes 1-2 seconds

[2019-04-24 19:44] mrocklin commented on #4732
If we wanted to get crazy in terms of performance, we could start with the for loop solution for maybe 10 iterations, and then if that didn't work, we could switch to one of the bulk solutions that you suggest above?

[code]

[2019-04-24 19:46] beckernick commented on #4732
I'm generally a fan of that kind of camel solution if it provides the value to end users and doesn't add too much complexity/confusing code for future development. I'd be happy to make a such change combining these ideas and verify if tests still pass.

[2019-04-24 19:47] mrocklin commented on #4732
I'm in favor of it.  You might also want to check on the cudf side to verify that `notnull` is implemented (and if not, hopefully it's an easy fix).

[2019-04-24 19:49] beckernick commented on #4732
That kind of null support is not yet implemented, but will be eventually. I'd initially try test this change with a methodcaller version of all pandas functions such that it could eventually automatically support the analogous cudf methods.

[2019-04-24 19:52] mrocklin commented on #4732
Yeah, so in the code above I never actually call out pandas, I just use methods, so hopefully it would work as-is.

[2019-04-24 20:03] #4682 closed

[2019-04-24 20:04] #4556 closed

[2019-04-24 20:19] jcrist opened #4734 "Extract long lists passed as arguments into separate tasks"
In #4727 it was identified that a long list included in many tasks led to slowdowns for 3 reasons:

- Longer optimization time (need to traverse the list looking for tasks multiple times)
- Longer execution time (scheduler traverses lists in tasks during execution)
- Longer serialization time (including large data in each task is a general no-no).

We already pull out arguments larger than 1e6 byt

[2019-04-24 20:28] #4726 closed

[2019-04-24 20:47] jcrist commented on #4730
What version of Dask are you using? From your description it sounds like the metadata of `data` is inferred incorrectly after:

[code]

it doesn't look like you're modifying the index of `data`, but you say it changes to `int`. This was a bug in previous versions, but should be fixed in the latest release (1.2.0). Here I try to do a similar operation to demonstrate the bug, but the index dtype is

[2019-04-24 21:41] beckernick commented on #4732
Combining the logic works beautifully performance wise (in pandas at least), and should succeed when cuDF implements `isnull` and `notna` at the Series level.

One potential question I'd like to discuss here given the use of `pd.isnull(val)` is how to best handle the usage of top-level functions. We can operate on the series by slicing instead of direct indexing above, and then leverage the `isnul

[2019-04-24 22:11] mrocklin commented on #4732
We're currently only using `pd.isnull` on scalar values.  I suspect that this won't conflict with cudf.

I'm not sure I understand the value of wrapping pandas in methodcaller.  That seems to be the same as just using `pd`.

[2019-04-24 23:58] beckernick commented on #4732
Good point. I had in mind a potential scenario in which we would want to use the top level function of a specific module (pandas or cudf) depending on the data structure and was curious about that as a possibility, but you're absolutely right. It's not necessary here due to the scalar.

[2019-04-25 07:54] MMAThijssen commented on #4730
Thank you for your reply!

I updated Dask from 1.1.4 to 1.2.0. However, if I reproduce your example, the dtype of the index is still converted from datetime64[ns] to int64. The bug doesn't seem to be fixed.

[2019-04-25 13:03] #4693 closed

[2019-04-25 13:14] jcrist commented on #4730
What version of Pandas are you using? I can't remember what version, but some older version of pandas has a bug where empty indices are ignored when setting the index type (which breaks our metadata handling). This does work with Pandas 0.24.2.

[2019-04-25 19:47] TomAugspurger commented on #4630
For my understanding, there are two potential issues here:

1. High-level graph fusion (maybe?) not helping as much as expected. Something like https://github.com/dask/dask/issues/4630#issuecomment-476686913.
2. An API for persisting just data, without the task graph. This is likely a keyword to persist?

I can start to poke at these issues, and will take them up when I'm back full time (~2 weeks

[2019-04-25 19:55] mrocklin commented on #4630
Agreed with the separation.  I think that both fixes are good generally.

I recommend prioritizing looking at task overhead, and high level graph fusion in particular.  I expect it to be more wide-reaching, and probably more straightforward to investigate.

[2019-04-26 08:42] MMAThijssen commented on #4730
I am also working with Pandas 0.24.2, so I do not get why I still get the error. I have decided to continue on without Dask.

[2019-04-26 11:14] TomAugspurger commented on #4630
@rabernat when you have time, can you check double-check some timings for me?

Using an example like https://github.com/dask/dask/issues/4630#issuecomment-476686913, I don't see a slowdown from dask 1.0 -> dask master.

[code]

I get the following times:

Dask Version | Distributed Version | Time
------------ | ------------------- | ----
1.0.0        | 1.27.0              | 25.93
1.2.0+21.g20 | 1.

[2019-04-26 11:22] rabernat commented on #4630
Thanks for looking into this @TomAugspurger! (Shouldn't you be changing diapers, not hacking dask! 😉)

I will try to find time later today to run this test again with your sample code.

[2019-04-26 11:26] TomAugspurger commented on #4630
The sleep schedules occasionally align :)

Thanks, no rush though since I likely won't be able to put together a fix for a week or two.

[2019-04-26 14:38] jcrist commented on #4730
I'm sorry to hear that, hopefully dask can still be of use to you in the future. Since we're unable to reproduce this error locally, I'm going to close this issue. Feel free to reopen if you're still interested in resolving it.

[2019-04-26 14:38] #4730 closed

[2019-04-26 14:41] #4734 closed

[2019-04-26 14:57] #4712 closed

[2019-04-26 15:30] mmann1123 commented on #1493
This is maybe a simple but not ideal hack with a less that idea resolution.  If there were a way to do element-wise concatenation on the two indexes you could create a unique multi-index value (sort of).

The issue that I am running into is that i can't figure out how to do element-wise concat on two dask arrays.  Any way to do the following?
[code]

[2019-04-26 15:34] jorisvandenbossche commented on #4194
@birdsarah do you mean in light of manually creating the schema (as this is the workaround you are doing above)?

In arrow, Categoricals map to DictionaryType:

[code]

So you can create the type manually to add this to the schema (from the datatype of the indices, and the unique categories):

[code]

I think you should be able to get the categories from the dtype of the empty `_meta` ?

Indeed, w

[2019-04-26 17:00] jcrist commented on #4590
Fixed by #4738.

[2019-04-26 17:19] crusaderky opened #4739 "map_blocks broadcasting regression in dask >= 1.1.0"
[code]
dask 1.0.0 output:
[code]
dask 1.1.0 and later:
[code]

[2019-04-26 17:20] codercody opened #4740 "Repartition min/max behavior"
I’m working in the dataframe/multi.py file and had the following issue. When I call the merge method, the use of align_partitions often causes the desired behavior of divisions to no longer be adhered. That is, it might cause a DataFrame to have divisions d_0, d_1, …, d_n where the ith part doesn’t necessarily have minimum index d_i. Indeed, the merge function sometimes causes parts to be complete

[2019-04-26 19:15] #4590 closed

[2019-04-26 20:49] birdsarah opened #4741 "Confusing error when remote path is wrong"
Here's an error I recently received when running `df = dd.read_parquet('s3://birdsarah-data-store-live/javascript_10percen_value_1000_only.parquet')`

[code]

The path I passed in had a typo in it, and when I correct it everything is fine. However, I spent a long time on this because by the time the error got kicked back to me the `s3://` prefix has been stripped and I though it was looking for th

[2019-04-26 20:52] martindurant commented on #4741
I could imagine catching this and providing a better message, but it would depend on knowing what error exactly pyarrow would raise - which seems like an implementation deal. I would prefer for pyarrow to raise a more useful/correct error. They are currently working on parquet/dask related things, so this would be a good time to raise it with them.

[2019-04-26 21:12] beckernick opened #4743 "[BUG] cumulative aggregations fail when there are empty partitions"
### Description
As @mrocklin noticed, the cumulative aggregation functions will error when there are empty partitions, due to the `_take_last` function hitting an index error trying to grab the 0th element of an empty array.

### Example

[code]

[2019-04-26 21:24] birdsarah commented on #4741
Agree. I guess it depends on what dask sends to pyarrow as to whether they can "do the right thing". Does dask pre-separate the path and initiate s3 access. If yes, then I would guess dask will need to stitch it back together to error report well. If no, then 100% will raise with pyarrow.

[2019-04-26 21:26] martindurant commented on #4741
I think the protocol is stripped, but pyarrow does know the file-system that is in use (so it can make a reasonable message out of that)

[2019-04-27 10:09] jangorecki commented on #4372
Any update on this? 1.2.0 is still returning incorrect results. Shouldn't this be labelled as high priority?

[2019-04-27 13:03] TomAugspurger commented on #4372
I haven’t had time to investigate further. Please let us know if you intend to.

[2019-04-27 14:02] mrocklin commented on #4372
cc @jcrist @jrbourbeau

[2019-04-27 14:08] mrocklin commented on #4372
@jangorecki as always, anything you can do to reduce the example to a minimal form would help enocurage others to get involved.  You can probably help most here by producing a minimal reproducible example.  Currently in order to reproduce this someone needs to download your script, install R, figure out which of the columsn are necessary, and so on, which makes it less likely that a volunteer main

[2019-04-27 14:15] #4732 closed

[2019-04-27 14:15] #4743 closed

[2019-04-27 14:36] jangorecki commented on #4372
@TomAugspurger (un)fortunately I am not a python developer.
@mrocklin in comments in this issue I provided python code that can be used to produce data so there is no need to download script or install R AFAIK. I understand it can take time for volunteer maintainers to address report, but I think the cases where query returns incorrect result should have reasonably higher priority over most of oth

[2019-04-27 15:21] mrocklin commented on #4372
Ah, this code:

[code]

Are all of these columns necessary in order to reproduce the error?  Do we need 1e7 rows to reproduce the error or does the problem present itself with a smaller amount of data?

I totally agree, and I encourage your efforts to get people to help solve the problem.  The way it was phrased before it sounded like you were saying "this is your responsibility to solve this prob

[2019-04-27 15:50] TomAugspurger commented on #4372
Same.

I spent the last 10 minutes simplifying the example.

[code]

[code]

[2019-04-27 16:02] mrocklin commented on #4372
Thanks @TomAugspurger !  You're the best.

Looks like the difference is in the handling of null values

[code]

[2019-04-27 16:03] jangorecki commented on #4372
@mrocklin Sorry for lack of minimal example. It definitely could be smaller. I work with multiple different technologies, in result it happens that I have to report multiple issues in multiple projects. It also happened that due to lack of time (and idle machines at hand) I stopped reporting non-critical bugs/segfaults/etc (one might be even related to dask+arrow, not sure now). Example provided b

[2019-04-27 16:07] mrocklin commented on #4372
Yeah, it's also not your responsibility to craft a minimal example (none of us have any control over the others).  It's just the easiest way to get maintainers to do things.  If you have a chance I do recommend that you glance through [the craft minimal bug reports post](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports).

I appreciate the work you do on comparative benchmarks.

[2019-04-27 16:41] ian-r-rose commented on #4711
Can this be closed now?

[2019-04-27 19:28] mrocklin commented on #4711
Thanks @ian-r-rose !  Closing.

[2019-04-27 19:28] #4711 closed

[2019-04-28 03:23] birdsarah commented on #4194
@martindurant

pandas doesn't accept schema keyword

[2019-04-28 03:52] martindurant commented on #4194
I think it was meant to be
[code]

[2019-04-28 04:48] birdsarah commented on #4194
thank you!!!

[2019-04-28 05:05] birdsarah commented on #4194
Interestingly (maybe) that didn't work with timestamps because

[code]
Pandas made `datetime64[ns, UTC] ` but the meta from `pa.Table.from_pandas(pd.DataFrame(columns=schema.fields), schema=schema).to_pandas()` was just `datetime64[ns] `.

[2019-04-28 07:09] birdsarah commented on #4701
I've been having the same problem. My data is ~5000 files. The above pasted code was really helpful for being able to take a look at my data, but I was having the same problem when I tried to write my processed data out.

I was regularly seeing errors about too many files open which I never got to the bottom of fixing.

In the end what I did was this:

* read my data in with spark and then out aga

[2019-04-28 08:05] birdsarah commented on #4701
It turned out to be too slow to work with 5000 files, I'm down to 1200 which is the smallest I can get away with for the size of my data. Even still something as simple as df.head() on 1200 files which do have _common_metadata is taking minutes.

[2019-04-28 13:38] martindurant commented on #4194
The implicit timezone in parquet is UTC, I don't know if arrow follows this. The implicit timezone in pandas where none is given is also UTC, so the two above could be considered equivalent.

[2019-04-28 13:39] martindurant commented on #4701
Are you using `infer_divisions=False`?

[2019-04-28 13:53] jreback commented on #4194
this is incorrect; no time zone means it’s a naive time; this is distinct from UTC

[2019-04-28 15:14] Bidek56 commented on #4711
Can I expect the fix be included in the latest image on Docker Hub or next release? Thx

[2019-04-28 16:16] birdsarah commented on #4701
No, should I?

[2019-04-28 16:52] beckernick opened #4747 "[FEA] Remove pandas dependency of cummin_aggregate and cummax_aggregate"
Removing the pandas dependency in the Series/DataFrame vs scalar check within [cummin_aggregate](https://github.com/dask/dask/blob/master/dask/dataframe/methods.py#L147) and [cummax_aggregate](https://github.com/dask/dask/blob/master/dask/dataframe/methods.py#L154) will help allow us to use other backend dataframe libraries such as cuDF for cummin and cummax. When these functions are run in the cu

[2019-04-28 18:01] javadba commented on #1849
I ran the command for "dask[delayed]" and still get

     ImportError: No module named 'cloudpickle '

Is there a way to avoid whack-a-mole here?

[2019-04-28 18:03] mrocklin commented on #1849
pip install dask[complete]

On Sun, Apr 28, 2019 at 1:01 PM StephenBoesch <notifications@github.com>
wrote:

[2019-04-28 18:19] mrocklin opened #4748 "User Survey"
We might consider developing a survey to better understand our users.

### Larger questions we should consider

1.  What are larger themes of questions that might actually change our behavior?  There are *many* questions that we might ask in a survey, but focusing on questions that would meaningfully affect the project will probably keep things more concise and make it more likely that users will

[2019-04-28 18:25] mrocklin commented on #4748
I've added some high level goals in the original comment

[2019-04-28 18:39] martindurant commented on #4701
Short answer: try it!

Loger: dask wants to know divisions of the index column up front, to make decisions on which partitions to read. That requires reading from every file in the client, if there is no metadata file. If the divisions aren't useful to you, you can skip this stage. Or perhaps we could parallelise the metadata reading...

On April 28, 2019 12:16:26 PM EDT, Sarah Bird <notifications

[2019-04-28 19:00] TomAugspurger commented on #4372
I realize now that we can simplify further. The root cause is the output shape ambiguity in pandas' DataFrameGroupby.apply. `.apply` can do anything (aggregate, transform, or an entirely different shape), so it's not clear in this case whether we should do a final cross-partition aggregation.

[code]

The outputs are

[code]

So returning to the original example, we would implement that as a `dd.A

[2019-04-28 19:15] birdsarah commented on #4701
I will - thanks. Just to be clear, things are still slow (for example for df.head()) even when the `_common_metadata` file is available.

[2019-04-28 19:34] martindurant commented on #4701
the `_common_metadata` file does not help in this respect, I am talking of a `_metadata` file, which arrow does not yet create (fastparquet does and spark optionally does)

[2019-04-28 23:06] birdsarah commented on #4701
aha - this is illuminating - thanks.

[2019-04-29 08:08] CMCDragonkai opened #4749 "Using graphchain with Dask"
I'm trying to use graphchain (https://github.com/radix-ai/graphchain) with dask. It implements on-disk caching for Dask. However I've hit an error https://github.com/radix-ai/graphchain/issues/35. The main reason is that since Dask moved to using the HighLevelGraph, things like `copy` method no longer exists, and possibly other problems as well. Is it possible to add back copy operations to the Hi

[2019-04-29 08:52] crusaderky commented on #4739
Explicitly invoking ``x, y = da.broadcast_arrays(x, y)`` works around the issue.

[2019-04-29 11:05] crusaderky commented on #3557
@mrocklin @jakirkham sorry for the long silence.

As of dask 1.2, I can see there is still a good deal of space for optimization:
[code]

The difference between b and c is broken down as follows:
1. b contains 2 keys, of which 1 is redundant:
[code]
2. The computation of the innermost value could be sped up:
[code]

[2019-04-29 11:58] lsorber opened #4750 "Add a `HighLevelGraph.__setitem__`"
We're adding support for `HighLevelGraph`s in [graphchain](https://github.com/radix-ai/graphchain) (cf. https://github.com/radix-ai/graphchain/issues/35), and in doing so we had a need for a `HighLevelGraph.__setitem__`. Right now we're monkey patching that class, but it would be great if dask could add a simple implementation itself so we don't have to do that.

For reference, here's our implemen

[2019-04-29 12:06] MMAThijssen commented on #4730
It seems like I do need to use Dask, so I am looking into this problem again. I am working with Python version 3.7. I created a virtual environment to check functionality, but the issue is still present.

To be clear, these are the installed packages in the venv.

[code]

I checked and these are all the latest versions of the packages. I still get the exact same result when trying your examples: i

[2019-04-29 13:03] crusaderky commented on #3492
Can't reproduce anymore with dask 1.2

[2019-04-29 13:03] #3492 closed

[2019-04-29 13:07] crusaderky commented on #3406
Still an issue in dask 1.2.0

[2019-04-29 13:21] crusaderky commented on #3815
Sorry - this is still valid but very deep in the backlog

[2019-04-29 13:25] martindurant commented on #4749
Related: #4750

[2019-04-29 13:58] mrocklin commented on #4694
Based on the Doodle poll, it looks like tomorrow, Tuesday April 30th works best for everyone.  I recommend that we meet up at 10am US Central time at https://appear.in/dask-dev .

OK @jcrist @martindurant @jrbourbeau @jakirkham @quasiben ? (also @TomAugspurger if you feel like making a brief appearance it'd be fun to see you)  Also, if anyone else wants to join this is entirely open to anyone (any

[2019-04-29 14:15] mrocklin commented on #4748
Some output from the 2018 Python user survey.  This isn't necessarily a good or bad example, but provides food for thought.

https://www.jetbrains.com/research/python-developers-survey-2018/

[2019-04-29 14:34] TomAugspurger commented on #4694
Tomorrow probably won't work for me. I'll be back full time on the 13th.

[2019-04-29 14:34] TomAugspurger commented on #4748
IIRC, Bokeh ran a user survey. @bryevdv, are there any write-ups on how that went?

[2019-04-29 14:38] mrocklin commented on #4694
Yeah, no expectations.  Mostly this was an FYI in case nap times align and
you want to pop in to say hi for a few minutes.

On Mon, Apr 29, 2019 at 9:34 AM Tom Augspurger <notifications@github.com>
wrote:

[2019-04-29 15:29] bryevdv commented on #4748
No, I never had time to prioritize any writing about it. The results are in the project team drive and a few of us studied them informally.

[2019-04-29 16:05] wesm commented on #4194
Timestamps in Arrow are UTC-normalized if time-zone aware. If time-zone naive, they have the same kind of interpretation that pandas gives them (https://github.com/apache/arrow/blob/master/format/Schema.fbs#L171)

[2019-04-29 16:29] jcrist commented on #4694
Fine by me. To be clear, were we wanting to continue with the standups at 10:30 am Central on Tuesdays like we did last week? I was under the impression that would be a weekly thing.

[2019-04-29 16:46] mrocklin commented on #4694
Agreed.  I figure that we just roll it into the day.  Open to other
thoughts though.

On Mon, Apr 29, 2019 at 11:29 AM Jim Crist <notifications@github.com> wrote:

[2019-04-29 16:50] jcrist commented on #4694
No, that makes sense, just wanted to clarify that on normal tuesdays standups will still occur.

[2019-04-29 16:54] mrocklin commented on #4748
@bryevdv any wisdom you have from doing this would be welcome (though of course, no pressure).

Also, is the Bokeh user survey still up somewhere?  It would be interesting to see what you all chose to ask about.

[2019-04-29 16:56] bryevdv commented on #4748
messaging you offline

[2019-04-29 17:15] mrocklin commented on #4748
Questions from the Bokeh user survey (thanks @bryevdv !)

- How long have you been using Bokeh?
-  What country do you reside in?
-  What platforms do you use Bokeh on?
-  How did you install Bokeh?
-  How do you use Bokeh?
-  In what roles do you use Bokeh?
-  What resources have you used for support in the last six months?
-  Describe major or primary uses you have for Bokeh (please include link

[2019-04-29 19:09] quasiben commented on #4477
I think we can ask uses to optionally select labels when creating an issue.  The issue template will need to be amended:
https://help.github.com/en/articles/creating-issue-templates-for-your-repository

Additionally, for me to start applying labels I think I need write access to the repository.  Perhaps this should wait until https://github.com/dask/governance/pull/12 is merged

[2019-04-29 19:52] TomAugspurger commented on #4630
I may be missing something, but isn't the main issue here

already how `persist` works with distributed?

[code]

![before](https://user-images.githubusercontent.com/1312546/56922638-4cecd300-6a8e-11e9-8a7f-36dc07ba5479.png)
![after](https://user-images.githubusercontent.com/1312546/56922643-4f4f2d00-6a8e-11e9-889d-adc953d1a00c.png)

[code]

So does changing the line

[code]

to

[code]

solve thi

[2019-04-29 20:25] quasiben commented on #4750
Hey @lsorber thanks for raising an issue

cc @mrocklin

[2019-04-29 20:30] quasiben commented on #4747
@beckernick good idea!  Any interest in submitting a PR ?  You could probably use `is_dataframe_like`

https://github.com/dask/dask/blob/8d13240841fcefb6c2410f94c4d7dbd7f7ea9a66/dask/dataframe/utils.py#L502-L518

[2019-04-29 20:32] quasiben commented on #4741
@birdsarah did you end up filing an issue with pyarrow folks ?

[2019-04-29 20:32] beckernick commented on #4747
@quasiben Yes absolutely. I intended to take this and do exactly that (used that in an update to `_take_last` last week), but I need to prioritize other work until mid-week. Happy to pick this up if nobody else jumps in before that timeline.

[2019-04-29 21:12] birdsarah commented on #4741
Not yet. I wanted to dig into the code path a bit more to see what gets passed from dask (which i'm not going to have time to do soon)

[2019-04-29 21:50] quasiben commented on #4740
Thanks for asking the question.  I recommend reading the following related issue: https://github.com/dask/dask/issues/3384

cc @mrocklin

[2019-04-29 22:03] mrocklin commented on #4740
That sounds concerning.

Ah, in this case divisions are a bound, not a guarantee that an element exists.

Nope.  We can't enforce that a value exists over all operations.  For example we might call something like `df.sample(frac=0.0001)` and it would be very unlikely that the minimum value continued to exist.  The only way to achieve this would be to compute every operation as we go, which would d

[2019-04-29 22:21] quasiben commented on #4739
Thanks for the issue @crusaderky I was able to reproduce.   @jcrist  do you have thoughts on what could be going on here?  It looks like you recently it touched `map_blocks`

[2019-04-29 22:31] jcrist commented on #4739
From the `map_blocks` docstring:

[code]

`map_blocks` is a naive map of blocks between arrays. In the past this *may* have had your desired effect, but wasn't the intent of the function. For what you want I recommend either `blockwise` or explicitly broadcasting beforehand as you've stated above.

[code]

[2019-04-29 23:23] quasiben commented on #4739
Thanks for the quick response @jcrist .  @crusaderky ok to close?

[2019-04-30 01:35] quasiben commented on #4729
@ericmjl what are your thoughts here ?  The block described by @eriknw seems to satisfy what you are after but the docs should probably be amended.

[2019-04-30 01:38] quasiben commented on #4724
@youngsaj are you still interested in submitting a PR ?  Happy to help/review

[2019-04-30 01:50] martindurant commented on #4724
(if no reply, I can handle this tomorrow)

[2019-04-30 04:54] jrbourbeau commented on #4694
That time works for me. Unfortunately I won't be able to stay all day, but looking forward to a few hours of cleaning up the issue tracker and old PRs : )

[2019-04-30 10:30] crusaderky commented on #4739
Happy to close

[2019-04-30 10:30] #4739 closed

[2019-04-30 11:25] jorisvandenbossche commented on #4194
@birdsarah can you give a bit more details how you ran into this? Has your original dask dataframe a tz-aware column, but the way to create an empty `meta` as above does not match that?

[2019-04-30 14:49] TomAugspurger commented on #4694
Looks like I’ll end up being free at 10:00, so I’ll pop in then!

[2019-04-30 14:51] mrocklin commented on #4750
First, my apologies that changes in Dask broke your code

One challenge here is that the layers of a high level graph can be shared among many graphs.  One of the reasons why they were created was to avoid repeatedly copying large dictionaries every time we made a change.   For this reason I'm somewhat wary of adding mutation onto these classes.

I wonder if, instead, something like graphchain mig

[2019-04-30 15:08] TomAugspurger commented on #3006
https://github.com/dask/dask/issues/3006#issuecomment-352264123 looks correct.

[2019-04-30 15:08] #3006 closed

[2019-04-30 15:14] #4366 closed

[2019-04-30 15:18] #4724 closed

[2019-04-30 15:38] jcrist commented on #4749
Closing as duplicate of #4750.

[2019-04-30 15:38] #4749 closed

[2019-04-30 15:39] mrocklin commented on #4609
I'll try to take care of this later this afternoon

[2019-04-30 15:39] martindurant commented on #4477
@quasiben , you now have rights.

This issue could be closed (we agreed in principle), although setting of the issue template has not yet happened.

[2019-04-30 15:40] TomAugspurger commented on #3727
For reference, in https://github.com/dask/dask/pull/3731 is was decided that the best approach here is to add keywords to `apply_along_axis` to specify the shape and dtype of the output.

[2019-04-30 15:41] quasiben commented on #4477
closing

[2019-04-30 15:41] #4477 closed

[2019-04-30 15:42] martindurant commented on #4468
Given that the pandas issue has gone stale, I am closing this until such a time that pandas implements the proposed API, so we can use it directly.

[2019-04-30 15:42] #4468 closed

[2019-04-30 15:43] quasiben commented on #3832
I think this issue is still valid but it looks like xarray is unblocked for now, correct ?

cc @shoyer

[2019-04-30 15:43] jakirkham commented on #4217
Maybe I'm missing something, but is there something actionable here? Could someone please clarify? If not, should we close this issue?

[2019-04-30 15:44] jcrist commented on #4750
I agree with @mrocklin that directly touching the graphs outside of the standard plugin spots (optimizations, etc..., see https://docs.dask.org/en/latest/optimize.html#customizing-optimization and https://docs.dask.org/en/latest/custom-collections.html) is potentially fragile. It could also be a scheduler plugin, which is how caching currently works (see https://github.com/dask/dask/blob/master/da

[2019-04-30 15:44] TomAugspurger commented on #3718
Does anyone have concrete suggestions on how to close this? I could imagine an API for reading in a directory of h5py files, but that feels like it's on the edge of dask array's scope.

[2019-04-30 15:45] mrocklin commented on #4592
It looks like it might not be terribly difficult to add support for the `group_keys=` keyword.  I *think* that this needs to be passed in here:

https://github.com/dask/dask/blob/d8a4f3be9a6ec685261ed043a45ecc019055ec0d/dask/dataframe/groupby.py#L144-L150

You would have to follow how the keyword arguments get passed into that function, which might go back a few levels.  But I suspect that there i

[2019-04-30 15:46] quasiben commented on #3831
I believe https://github.com/dask/dask/pull/3931 resolved this issue.  @martindurant if that is correct, I am happy to close, or you can

[2019-04-30 15:47] jakirkham commented on #4216
As noted above, there is not a way to serialize generic Python objects into an HDF5 file. The data will need to be transformed to something that HDF5 can handle. If you have further questions about what HDF5 supports, would suggest reaching out to [h5py]( https://github.com/h5py/h5py ) developers for help.

[2019-04-30 15:47] #4216 closed

[2019-04-30 15:48] martindurant commented on #4410
This issue is still relevant, but partly covered by the conversation in https://issues.apache.org/jira/browse/ARROW-1983

Consider, though, that it may well still be useful to have an option *not* to make column statistics, partly to speed up writing and partly to decrease the metadata size. Fastparquet has this option in https://github.com/dask/fastparquet/pull/259 (which is py3 only, and so not

[2019-04-30 15:49] jakirkham commented on #4196
Can someone (maybe @mrocklin or @martindurant 😉) please update us on the status of this issue?

[2019-04-30 15:51] martindurant commented on #3831
Yes, closing, although there are certainly parquet optimisations that we are still thinking about.

[2019-04-30 15:51] #3831 closed

[2019-04-30 15:52] jrbourbeau commented on #3898
Closing. @kostasmarkakis feel free to re-open this issue if you're able to construct a reproducible example https://blog.dask.org/2018/02/28/minimal-bug-reports

[2019-04-30 15:52] #3898 closed

[2019-04-30 15:52] martindurant commented on #4401
This should be a quick fix to the docs

[2019-04-30 15:55] martindurant commented on #4196
I am not sufficiently convinced of a need to change this. HTTPFileSystem already takes arbitrary kwargs, so it's possible right now to set the user agent string using storage_options - so I suggest closing.

[2019-04-30 15:55] TomAugspurger commented on #3716
Closing this, since I think the suggestion in https://github.com/dask/dask/issues/3716#issuecomment-402489727 is correct.

@rpanai if not, could you provide a minimal example demonstrating the problem http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports?

[2019-04-30 15:55] #3716 closed

[2019-04-30 15:57] jakirkham commented on #4184
Is there still interest in this feature?

[2019-04-30 15:57] quasiben commented on #3824
@jcrist said he would revisit this issue again

[2019-04-30 15:58] jrbourbeau commented on #3853
@djhoese is it safe to close this issue? Seems as though discussion around potentially adopting `donfig` is happening over in #4328

[2019-04-30 15:59] jakirkham commented on #4179
@TomAugspurger, do you have thoughts on this issue?

[2019-04-30 15:59] birdsarah commented on #4194
@jorisvandenbossche yes, it's a bit lost in this thread. I am currently manually making a meta dataframe and a *separate* pyarrow schema. I was lamenting this and @martindurant suggested making the meta dataframe from the pyarrow schema by running `pa.Table.from_pandas(pd.DataFrame(columns=fields), schema=schema).to_pandas()` on my pyarrow schema. But it failed at the timezone step.

My pyarrow sc

[2019-04-30 16:00] shoyer commented on #3832
Yes, we figured out another way. A reentrant lock would be a little cleaner but our solution works fine.

[2019-04-30 16:00] martindurant commented on #4398
It seems like we have a fix above, which may work, and a good test to add.

[2019-04-30 16:02] jakirkham commented on #4173
Do you have pointers on where you see this living in `top`?

Also what are your thoughts on having this in `Array` construction (given we've both now discussed this option 😉)?

[2019-04-30 16:03] quasiben commented on #3817
This was resolved by:
- https://github.com/dask/dask/pull/1358 (nunique_approx)
- https://github.com/dask/dask/pull/1663 (nunique)

[2019-04-30 16:03] #3817 closed

[2019-04-30 16:04] mrocklin commented on #4584
I took a brief look at this.  This is one of the unfortuante collisions in complex logic of all of the keyword arguments within `map_blocks`.  In particular here we're using both `drop_axis` and `block_info`.  It would be good to fix, but this is exotic enough and that code is hairy enough that, for me at least, it's something of a low priority.

@pantaray I have a couple of suggestions:
1.

[2019-04-30 16:04] #4196 closed

[2019-04-30 16:05] martindurant commented on #4393
Should be a quick fix.

[2019-04-30 16:06] jrbourbeau commented on #3961
@spleiner any update here? Does @martindurant's comment about avoiding the COUNT branch help your situation?

Is there a proposed change to Dask for this issue, or is it safe to close?

[2019-04-30 16:06] quasiben commented on #2792
I'm happy to take a look at this issue some time this week (self-assigning)

[2019-04-30 16:07] mrocklin commented on #4584
Whoops, misfire.  A couple suggestions:

1.  Find a way to not use map_blocks with both of these keyword arguments at the same time.  Maybe you return an output array that is of the same number of dimensions as your input?
2.  Dive in and fix this in the codebase.

    The relevant code (I think) is here

https://github.com/dask/dask/blob/d8a4f3be9a6ec685261ed043a45ecc019055ec0d/dask/array/core.py

[2019-04-30 16:08] martindurant commented on #4384
This issue remains live, but there is nothing that we can do about it on our side.

[2019-04-30 16:10] jcrist commented on #4729
I added the `as_completed` method docstrings to the docs in https://github.com/dask/distributed/pull/2642, and also added a public method `has_ready` for checking if there are any ready futures. Erik's example using more public interfaces would then look like:

[code]

[2019-04-30 16:10] jakirkham commented on #4170
Glad to hear you got something working, @mlisovyi. Given the interest here, I wonder if there is a general function that would be useful. Maybe worth a PR? Any thoughts on this @TomAugspurger?

[2019-04-30 16:12] #4367 closed

[2019-04-30 16:13] TomAugspurger commented on #3714
Thanks for the report. Something is going awry in https://github.com/dask/dask/blob/d8a4f3be9a6ec685261ed043a45ecc019055ec0d/dask/dataframe/core.py#L4432.

I think this is perhaps hard to support. Dask's metadata requires that the divisions be the minimum value in each partition and the max value of the last partition. When a user passes an anchored offset like `W-THU`, we're stuck because the fir

[2019-04-30 16:13] jakirkham commented on #4169
FWIW I think this remains an issue that people care about. The xref'd issue from the user above was solicited after talking with him about issues he had encountered with Dask (this issue being one of them). It would be good to figure out a strategy to make hashing more customizable.

[2019-04-30 16:14] martindurant commented on #4488
@jakirkham , does this still happen? I imagine pandas-dev has moved on since.

[2019-04-30 16:15] TomAugspurger commented on #3708
By "old ways" do you mean the other two alternatives in the original post? As you say, those aren't part of the public API, so there shouldn't be need for a deprecation.

[2019-04-30 16:15] jakirkham commented on #4166
Any thoughts on this one, @TomAugspurger?

[2019-04-30 16:16] mrocklin commented on #4574
Checking in here @mcsoini is this still something that you're interested in?  (no pressure, just figuring out if I should close this issue out or not)

[2019-04-30 16:17] jcrist commented on #4723
@dungthuapps any update here? A reproducible example (https://blog.dask.org/2018/02/28/minimal-bug-reports) would be very useful in resolving your issue.

[2019-04-30 16:17] TomAugspurger commented on #3707
@isveryok Adding this to read_csv sounds complicated. I see it interfering with things like user-provided columns. Do you have an example that would benefit from it?

Agreed that `partition_info` useful for map_partitions.

[2019-04-30 16:17] jakirkham commented on #4157
Have retested and am still seeing this issue with Dask 1.2.1.

[2019-04-30 16:17] jcrist commented on #4706
@jrbourbeau does the issue persist?

[2019-04-30 16:18] mrocklin commented on #4568
A lot of these were resolved in https://github.com/dask/dask/pull/4576

Closing

[2019-04-30 16:18] #4568 closed

[2019-04-30 16:19] jakirkham commented on #4155
Thoughts on this, @TomAugspurger?

[2019-04-30 16:19] quasiben commented on #3803
@DBZshahin are you still having issues with parquet and hive ?

There is and has been some recent work on parquet reading/writing.  I'd recommend trying out latest dask/distributed and reporting back

[2019-04-30 16:20] mrocklin commented on #4561
Sorry for the long delay in responding to you here @QuLogic .

I suspect that things are fine here.  I'm inclined to just skip this test for 32-bit systems.  Thoughts?

[2019-04-30 16:20] jakirkham commented on #4154
Is this feature still of interest to you, @hmaarrfk? Would you be interested in submitting a PR?

[2019-04-30 16:21] quasiben commented on #3802
@mrocklin are you still interested in namespacing these options ?  @jcrist you recently worked on config name changes.  Do you have opinions here ?

[2019-04-30 16:21] jakirkham commented on #4149
Is this still an issue you are running into today, @djhoese?

[2019-04-30 16:22] jrbourbeau commented on #3972
Closing as this issue based on

and the separate issue / PR opened in geopandas. Also, there is a separate issue (#3976) related to the `nbytes` issue

[2019-04-30 16:22] #3972 closed

[2019-04-30 16:23] quasiben commented on #3794
@jakirkham I suspect we can close this?  Do you have thoughts ?

[2019-04-30 16:23] hoangthienan95 opened #4754 "Persist/checkpoint to disk"
Do we have some function to persist data into disk when not using a cluster? It would just be a small function that calls compute, writes the data to disk and then loads it back again. I'm currently writing my own wrapper function.

[code]

[2019-04-30 16:24] mcsoini commented on #4574
Yes, still interested, just fairly busy these days.

________________________________
De : Matthew Rocklin <notifications@github.com>
Envoyé : mardi 30 avril 2019 18:16:45
À : dask/dask
Cc : Martin Soini; Mention
Objet : Re: [dask/dask] Merge fails depending on dtypes and npartitions (#4574)

Checking in here @mcsoini<https://github.com/mcsoini> is this still something that you're interested in? (

[2019-04-30 16:25] jakirkham commented on #4142
Is this still something we are interested in?

Meta-comment: I was tempted to label this as `maintenance`, but did not see such a label currently so went with `core`.

[2019-04-30 16:25] TomAugspurger commented on #4155
To clarify, I assume you're asking to reindex a dask series / dataframe with a dask index, correct? Not a pandas Index?

When the target index has know divisions, this should be doable. We'd need to align the partitions and then map a pandas reindex across each. @johngu are you interested in working on this?

[2019-04-30 16:27] jakirkham commented on #4120
@martindurant, any thoughts on Tom's suggestion above?

[2019-04-30 16:28] TomAugspurger commented on #3677
@rclough sorry for the delay, are you able to provide a minimal example that demonstrates the issue? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-04-30 16:29] martindurant commented on #4120
Yes, I think it should be tried: we know the line to put it in, and there's a decent test at the top of the thread.

[2019-04-30 16:31] jcrist commented on #4700
The first ready is just extracting the metadata (schema, etc...), and shouldn't be reading the whole file (although gzipped files will require decompression to read). Since it's only a single partition, you'd need to repartition it to divide the work up (which you're doing). This *may* be a scheduler fail case - we'd expect the scheduler to do the partitioning task on the same node that the data e

[2019-04-30 16:31] TomAugspurger commented on #3670
@rpanai do you think this is distinct from https://github.com/pandas-dev/pandas/issues/19941?

[2019-04-30 16:31] quasiben commented on #3788
@CermakM I think this is working correctly.  From the docstring:

not be monotonically increasing from 0. Instead, it will restart at 0
for each partition (e.g. ``index1 = [0, ..., 10], index2 = [0, ...]``).
This is due to the inability to statically know the full length of the
index.

ddf has three partitions and thus the `reset_index` builds 3 [0,1,3] indexes for each partition.

I'm going to cl

[2019-04-30 16:31] #3788 closed

[2019-04-30 16:34] jcrist commented on #4676
Closing as stale, feel free to reopen if you're still having issues.

[2019-04-30 16:34] #4676 closed

[2019-04-30 16:34] mrocklin commented on #4544
I agree that this will be ideal.  This will also force all of the data to be in memory at once (need to compute min/max before we can compute any histogram).  Given that, do we still want this behavior, or should we inform the user about the limitation and let them make their own choice?

In practice, my guess is that some other algorithm like approximate quantiles is likely to be more useful for

[2019-04-30 16:35] jakirkham commented on #4105
@rpanai, has Matt accurately captured your question above? If so, are you able to clarify further what is being asked of Dask? Sounds like there were some performance implications of the previous proposal that we would like to avoid. If I've mischaracterized anything here, please (anyone) feel free to hop in 🙂

[2019-04-30 16:35] quasiben commented on #3785
@bielefem did you end up implementing (or spec out an implementation for) an external package ?

[2019-04-30 16:36] quasiben commented on #3784
resolved by https://github.com/dask/dask/pull/3888

[2019-04-30 16:36] #3784 closed

[2019-04-30 16:37] jcrist commented on #4694
I'm going to close this issue, as we've resolved to have standups at http://appear.in/dask-dev every Tuesday at 10:30 am Central.

[2019-04-30 16:37] #4694 closed

[2019-04-30 16:39] jrbourbeau commented on #3868
@asifali123 could you construct a minimal bug report for this issue https://blog.dask.org/2018/02/28/minimal-bug-reports ?

[2019-04-30 16:40] quasiben commented on #3783
ping @mrocklin (this issue had a fair amount of activity last fall and we should probably pick it back up)

[2019-04-30 16:44] hmaarrfk commented on #4154
Oh man, my work has made me jump down the rabbit hole of performance unfortunately.

I still haven't had the time to create real benchmarks for how things work on strided arrays.

Thinking of memory models has been big on my priority list, but I haven't had too much time to focus on it.

In other performance related PRs I issued, the main question was: "who is this improvement for".

For example
[

[2019-04-30 16:45] jakirkham commented on #4103
@nick-youngblut, are you able to narrow this down to a list of random seeds that would be useful?

[2019-04-30 16:47] jakirkham commented on #4101
Is this still actionable? If so, @TomAugspurger do you have any thoughts on this?

[2019-04-30 16:48] d-v-b commented on #3718
I did some more research on this and I found that the the fundamental slowness / hysteresis has to do some with h5py internal state, so essentially it's not a dask issue; the `delayed` solution is perfect adequate for my purposes, so from my point of view the issue can be closed.

[2019-04-30 16:50] jakirkham commented on #4100
It sounds like this was resolved. Is that correct? If so, would someone like to close this one out? If not, please feel free to correct me 🙂

[2019-04-30 16:51] jakirkham commented on #4096
Is this still of interest?

[2019-04-30 16:54] jrbourbeau commented on #3842
@martindurant does the fastparquet repo seem like the appropriate place for this issue?

[2019-04-30 16:54] jakirkham commented on #4072
FWIW this is still reproducible with Dask 1.2.1.

[2019-04-30 16:57] jcrist commented on #4661
Fixed by #4757.

[2019-04-30 17:05] martindurant commented on #3718
Let's close, in that case.

[2019-04-30 17:05] #3718 closed

[2019-04-30 17:06] #4100 closed

[2019-04-30 17:06] quasiben commented on #3776
This is still valid.  Have you tried changing the chunk size?

cc @mrocklin

[2019-04-30 17:08] martindurant commented on #4096
Could be contemplated in the context of #4336 , but interop with arrow more important now that spark per se (plus pyspark's inherent limitations) - so maybe the issue of rountripping to spark should be something that they care about more than we do. In any case, I don't think there are any plans to work on this. I am ambivalent on whether to close.

[2019-04-30 17:08] mrocklin commented on #3776
Answerring on Stack Overflow.  Closing here.  We prefer not to have duplicates.

Thanks @martindurant for flagging this.

[2019-04-30 17:08] #3776 closed

[2019-04-30 17:10] mrocklin commented on #4096
I care about this.  I think that it is important for the Dask project to be
able to easily move data back and forth.  I agree with @martindurant that
this might be partially solved by doing work in the Arrow codebase.  I'd
still like to keep track of it here.

On Tue, Apr 30, 2019 at 12:08 PM Martin Durant <notifications@github.com>
wrote:

[2019-04-30 17:11] martindurant commented on #3842
This is not a fastparquet issue, no, but a fundamental limitation of partitioning in dask. I can imagine having better parquet-statistics-based optimisation down the line, but not immediately. This specific issue could be closed with docs clarification.

[2019-04-30 17:12] nick-youngblut commented on #4103
Sorry, but I forgot to set a seed. It did happen quite often, so it shouldn't be too hard to reproduce

[2019-04-30 17:13] quasiben commented on #3773
@mrocklin @martindurant this issue has lingered for a bit .  Do you have more recent thoughts what you'd like to see done here and the associated PR ?

[2019-04-30 17:38] martindurant commented on #4120
This no longer fails (although you must ignore divisions int he given example)

[2019-04-30 17:38] #4120 closed

[2019-04-30 17:39] quasiben commented on #3760
Thanks @itamarst !

since this was filed dask now has:
- https://examples.dask.org/ (with quick access to binder)
- http://stories.dask.org/en/latest/
- https://github.com/dask/dask-tutorial

Snapshot from https://docs.dask.org/en/latest/
<img width="206" alt="Screen Shot 2019-04-30 at 1 37 43 PM" src="https://user-images.githubusercontent.com/1403768/56981602-41141600-6b4d-11e9-936e-d4a8a5434b1a.

[2019-04-30 17:39] #3760 closed

[2019-04-30 17:40] quasiben commented on #3756
resolved by https://github.com/dask/dask/pull/3799

[2019-04-30 17:40] #3756 closed

[2019-04-30 17:52] martindurant commented on #4170
I think we can safely close this, as there seems to be a workaround, but no general framework we can propose for the variety of JSON input that users may be interested in.

[2019-04-30 17:55] jcrist commented on #4307
While this exposes a pandas bug, the main issue here is that Dask doesn't support multi-indices in the way you're using them (as you've found above). It can output them (e.g. from a groupby operation), but usually can't take them as inputs. The normal way of working around this is to avoid multi-indices. Here's one way of doing the computation you described above:

[code]

[2019-04-30 17:57] jcrist commented on #4754
Since different data types/situations would want to use different file formats, a standard method for doing so would be tricky. As you've done above, writing to parquet and then reading back out is one valid method.

[2019-04-30 17:58] jorisvandenbossche commented on #4194
@birdsarah you create the time stamp field with `pa.timestamp('ns')`, but if you have tz-aware data, this would need to be `pa.timestamp('ns', 'UTC')`.

That fails when creating the empty pandas DataFrame:

[code]

But that can be solved by specifying `ignore_metadata=True`
[code]

The reason that it originally fails is because the pandas metadata that are created when converting the empty DataFra

[2019-04-30 18:04] jcrist commented on #4292
Since this would require computing shape information before constructing the graph (going against dask-array's data model), I'm closing this as won't fix. We recommend either specifying your known shapes beforehand, or specifying them as `nan` (unknown). You may also be interested in https://github.com/dask/dask/issues/3293.

[2019-04-30 18:04] #4292 closed

[2019-04-30 18:04] rpanai commented on #4105
Yes he has. We can close it.

[2019-04-30 18:04] #4105 closed

[2019-04-30 18:06] rpanai commented on #3670
@TomAugspurger no I don't. I guess we could merge these issues.

[2019-04-30 18:15] birdsarah commented on #4194
Thanks. To get this issue back on track, I believe we still need a solution where dask lets you specify the schema or uses the provided metadata. I am currently running patched dask and it's not ideal.

[2019-04-30 18:21] mrocklin commented on #4217
With the recent update to derived_from I think that we can close docstring issues like this.

[2019-04-30 18:21] #4217 closed

[2019-04-30 18:22] mrocklin commented on #4419
Closing in favor.

[2019-04-30 18:22] #4419 closed

[2019-04-30 18:26] mrocklin commented on #3853
Closing this for now.  Lets reopen if an active plan develops.

@djhoese , I'll endeavor to keep you updated when config changes occur.

[2019-04-30 18:26] #3853 closed

[2019-04-30 18:26] mrocklin commented on #4179
Fixed in https://github.com/dask/dask/pull/4744

[2019-04-30 18:26] #4179 closed

[2019-04-30 18:31] djhoese commented on #3853
I was just about to reply and say this can be closed given that `donfig` exists and @mrocklin has been keeping me updated on any changes to `config.py`. I'm hoping with the recent `_/-` normalization change and merge that it will be easier for me to make a PR that can be considered for dask to fully switch to an object-based config interface.

After that we can consider `donfig` more. Is dask open

[2019-04-30 18:31] mrocklin opened #4758 "Use derived_from logic in dask array"
Dask Dataframe methods copy Pandas docstrings, but with some logic to add disclaimers around unsupported arguments (and other niceties).  It would be useful to reuse this logic in dask array, which often uses functools.wraps.  I ran into this in dask.array.routines, but I suspect that it is in lots of places.

The `derived_from` code is currently baked around class methods, which isn't always appr

[2019-04-30 18:32] jakirkham commented on #3832
As we are revisiting this issue, am curious if anyone has thoughts on my comment above.

[2019-04-30 18:33] mrocklin commented on #4173
Not off the top of my head, no.  This would require diving in a bit into the blockwise code (top was renamed to blockwise).

I don't have any thoughts on this at the moment

[2019-04-30 18:34] mrocklin commented on #4393
@martindurant does this mean that you plan to execute this fix?

On Tue, Apr 30, 2019 at 11:05 AM Martin Durant <notifications@github.com>
wrote:

[2019-04-30 18:34] mrocklin commented on #3961
Given the age of this issue.  Lets just close.  @spleiner if you'd like to continue the conversation let us know and we'll reopen.

[2019-04-30 18:34] #3961 closed

[2019-04-30 18:35] jakirkham commented on #4196
Thanks Martin!

[2019-04-30 18:35] TomAugspurger commented on #3670
We'll close this one then. Worth revisiting if / when the pandas issue is fixed.

[2019-04-30 18:35] #3670 closed

[2019-04-30 18:36] #4729 closed

[2019-04-30 18:36] djhoese commented on #4149
Yes and no. Dask hasn't added any interfaces like the ones we described above, has it?

I'd say my group has worked around it for the most part and our library (Satpy) does not have a lot of users running dask on multiprocess/cluster schedulers where this would be a bigger issue. Saving to zarr and then converting to another format is a workaround in my opinion and not a solution.

I also haven't

[2019-04-30 18:40] mrocklin commented on #3708
Closing then.  Happy to have this reopened if folks disagree.

[2019-04-30 18:40] #3708 closed

[2019-04-30 18:40] jakirkham commented on #3794
Sure, let's close this. My guess is the issue has gone away (given the age and quiet nature of this issue).

[2019-04-30 18:40] #3794 closed

[2019-04-30 18:43] mrocklin commented on #3802
Yes, I'm still in favor of this happening.

We would need to also add aliases for the old versions.

https://github.com/dask/distributed/blob/2d431399ee32aef85f4ccd386623d599fa1ca50c/distributed/config.py#L24-L55

Probably we should think more carefully about how we want to structure things like ideal partition size and so on in between collections.

[2019-04-30 18:44] jakirkham commented on #4544
Let's ask @GenevieveBuckley and @jni if they have thoughts 🙂

[2019-04-30 18:45] TomAugspurger commented on #4170
Agreed with @martindurant that this would be difficult to solve in general. For simple cases, `dask.delayed` works well.

[code]

For anything more complex, moving to the dask.bag API is reasonable. Documentation writing around this would be valuable.

[2019-04-30 18:45] mrocklin commented on #4142
+1 to using core here.  I think that I (and perhaps a few others) will be happier if the number of labels we have is small.

When I did this warning->error process before with Pandas I found it valuable.  I found things that we were ignoring that did need to be resolved.

[2019-04-30 18:45] mrocklin commented on #4142
This issue is a bit open ended though, which is a slight concern.  I figure that after we get a few libraries solidified (numpy, pandas, scikit-learn?) maybe we close this out.

[2019-04-30 18:47] martindurant commented on #4754
This is sidelong related to the concept of `persist` in Intake, which specifically has exactly one file format to output for each type of data source. In dask, we could say that the canonical storage for dataframes is parquet and for arrays zarr... or something like that, but this is not a simple problem at all. It may be that Intake or some other pipeline-like system would be a good layer over da

[2019-04-30 18:48] mrocklin commented on #4700
I would just use Pandas.  Dask won't provide any benefits to single-partition parquet files.

[2019-04-30 18:48] lsorber commented on #4750
Graphchain is in fact already intended to be used as a dask graph optimizer (which at the time of creation looked like the best way to hook into dask). This is an example usage from the README:

[code]

When dask calls the optimizer, graphchain replaces computations with `CachedComputation`s, which is a light wrapper around the original computation. It's at that time that we have the need to set c

[2019-04-30 18:50] mrocklin commented on #3783
Agreed that it had activity.  No objection to people picking it up.  Just to make it clear though, despite being pinged, I personally am unlikely to work on this short term.

[2019-04-30 18:50] TomAugspurger commented on #4101
An example of what happened in pandas

[code]

With dask

[code]

So, I guess we have the future behavior now. Pandas' old behavior of sorting was an unfortunate consequence of how the union of the columns was done, nobody really wanted that behavior. So I'd say close for now.

[2019-04-30 18:50] #4101 closed

[2019-04-30 18:50] martindurant commented on #4194
Short term, this seems to be the only solution, given the ambiguity going back and forth from pandas. I think it may be reasonable to provide a `schema=` keyword to `to_parquet` for the pyarrow branch as one of the arbitrary kwargs that gets passed to the partition-writing tasks.

[2019-04-30 18:53] #4661 closed

[2019-04-30 18:54] jakirkham commented on #3718
Glad to hear `delayed` is working well for you 🙂

[2019-04-30 18:55] TomAugspurger commented on #4166
With some light modifications from Pandas API changes, the original issue seems fixed on dask master.

[code]

LMK if you're still seeing issues @makmanalp or @Allardvm

[2019-04-30 18:55] #4166 closed

[2019-04-30 18:56] #3773 closed

[2019-04-30 18:57] birdsarah commented on #4194
I can work up a PR. I'm not sure how I would write a test for the error described here though. Perhaps we can collaborate.

[2019-04-30 18:57] bchu commented on #4592
Yep, I'll take a look.

[2019-04-30 18:57] TomAugspurger commented on #3547
@jakirkham do you think this is still relevant now that high-level graph fusion is in?

[2019-04-30 19:01] TomAugspurger commented on #3546
@jcrist IIRC you recently solved an issue in this area (HLG -- a dask-only thing -- interacting with Futures). Do you think raising with an error message is the best we can do in this case? Is it worth fixing, or do you think we should just close this? I worry a bit about trying to import distributed to detect futures, even if just for an informative error message.

[2019-04-30 19:03] mrocklin commented on #3547
Yes, this is likely still relevant, particularly for map_overlap.

On Tue, Apr 30, 2019 at 1:57 PM Tom Augspurger <notifications@github.com>
wrote:

[2019-04-30 19:04] martindurant commented on #4194
I guess make a dask dataframe with a zoned datetime column and no rows (or only NaT) in one partition.

[2019-04-30 19:07] jakirkham commented on #4173
My guess is this would be pretty easy to add to `Array` and would immediately benefit much of the codebase. That said, if there are concerns with that approach, would be interested in discussing them.

[2019-04-30 19:07] quasiben commented on #3753
@cjalmeida I don't think the custom aggregate function is removing labels, rather, this particular implementation of mode does not maintain the same multiindex labels through the computation

[2019-04-30 19:08] TomAugspurger commented on #3545
Is this a non-issue for Python 3.7 and above, due to https://www.python.org/dev/peps/pep-0479/?

With the original code, I get

[code]

[2019-04-30 19:10] quasiben commented on #3750
@rainwoodman this was submitted some time ago.  Any updates on your experiments with `dask-jobqueue`?

[2019-04-30 19:11] birdsarah commented on #4194
The original issue here has nothing to do with datetime. That whole discussion only arised out of trying to build a shortcut and i would say it's separate if we're not going to try and infer the pyarrow schema from the already provided data to meta.

[2019-04-30 19:13] martindurant commented on #4398
The test code above actually passes now. I will submit a PR to include it in the test suite, though.

[2019-04-30 19:13] quasiben commented on #3747
I'm going to close this but @Cadair if you are still getting errors please reopen

[2019-04-30 19:13] #3747 closed

[2019-04-30 19:14] #4585 closed

[2019-04-30 19:15] quasiben commented on #3741
is this still a discussion worth having ?

[2019-04-30 19:15] jakirkham commented on #4101
Thanks Tom!

[2019-04-30 19:16] martindurant commented on #4194
OK, just thought datetime was the most complex case; the simplest case (int?) would do.

Right, so it seems this isn't as simple to do as I had originally hoped. It it were straight-forward, no extra options would be needed.

[2019-04-30 19:18] jakirkham commented on #3547
Yeah, this is helpful as people can cutdown on repeated communication between neighboring chunks in a computation by simply accepting a larger overlap at the outset.

I don't think high-level graph fusion addresses this currently and it may be tricky for it to do, but would be happy if someone proved me wrong 😄

[2019-04-30 19:19] jcrist commented on #3546
Let me think on this, I'll either fix it or close it.

[2019-04-30 19:20] birdsarah commented on #4194
There's also array cases and other datatypes which i feel like i don't know enough about pyarrow to make sure are properly covered. Providing your own pyarrow schema bypasses any attempts to be clever that could fail.

[2019-04-30 19:28] mrocklin commented on #4173
You would have to modify the passed in dictionary, which at times may be
challenging.

On Tue, Apr 30, 2019 at 2:07 PM jakirkham <notifications@github.com> wrote:

[2019-04-30 19:29] jcrist commented on #4750
The local and distributed schedulers are sufficiently different that I doubt they'll ever have the same plugin api. That said, both do expose hooks for their internals:

- Distributed: http://distributed.dask.org/en/latest/plugins.html
- Local: https://docs.dask.org/en/latest/diagnostics-local.html#custom-callbacks

I recommend not mutating the original graph, but creating a new graph. The exposed

[2019-04-30 19:30] mrocklin commented on #3741
Closing.  Currently we convert dicts to lists like `(dict, [...])`

[2019-04-30 19:30] #3741 closed

[2019-04-30 19:30] #4547 closed

[2019-04-30 19:32] #4532 closed

[2019-04-30 19:34] quasiben commented on #3736
possible related to #3714 .  I think this has to do with the initial setting of `npartitions=1` ?  If the divisions/index don't have an initial frequency then I don't think dask can guarantee perfect partitions

cc @mrocklin

[2019-04-30 19:40] quasiben commented on #3734
@souravsingh do you have access to example ORC files ?

[2019-04-30 19:45] lsorber commented on #4750
I believe that's what we're doing:

1. We create a deepcopy of the graph
2. We mutate the copy's computations

Is there another way we should be creating the cached version of the graph? We'd need to support both classical dask graphs and HighLevelGraphs.

[2019-04-30 19:51] quasiben opened #4761 "Labels for Issue Templates"
GH has the ability to apply labels or help apply labels during issue creation.  I think this worth investigating but would require changes to the issue template:

FYI:
https://help.github.com/en/articles/creating-issue-templates-for-your-repository

cc @jakirkham

[2019-04-30 19:59] souravsingh commented on #3734
@quasiben No, I dont

[2019-04-30 20:00] mrocklin commented on #4750
Often in optimization we end up converting the HighLevelGraph
MutableMapping objects into normal dicts.  This tends to be necessary
before we do any mutation operations.

On Tue, Apr 30, 2019 at 2:45 PM Laurent Sorber <notifications@github.com>
wrote:

[2019-04-30 20:06] ericmjl commented on #4729
Thanks @quasiben and @eriknw for getting back.

I briefly tried `as_completed`, but it didn't work out for what I was thinking of doing. That's not an issue though, as the code block I had was small enough that I could just make it a function and leave the patch as just that - "a patch".

I'll have another opportunity to try out `as_completed` later in the week, when I get back to the project I wa

[2019-04-30 20:06] mrocklin commented on #4681
Fixes https://github.com/dask/dask/issues/4514

[2019-04-30 21:13] #4579 closed

[2019-04-30 21:25] #4398 closed

[2019-04-30 21:38] hoangthienan95 commented on #4754
Wow @martindurant Intake is very cool, thanks for letting me know!! Sorry I haven't had time to go through the docs, but have you guys thought of integrating with Great Expectations and DVC for data validation (not just schema, actual data, but statistics and distribution of features). Again sorry if Intake already has these features

[2019-04-30 21:43] hoangthienan95 commented on #4754
Also yes, using Intake to do this in Dask would be a great idea! User can choose to output the data in any way, the container type will be stored in the metadata, and whoever loads the data back in need not worry about what format it is in or how it was saved.

[2019-04-30 21:52] #4393 closed

[2019-04-30 22:13] jakirkham commented on #4173
So perhaps the first step is simply to define a function that applies this operation to the Dask graph?

[2019-04-30 22:44] martindurant commented on #4754
It may be a bit premature ...

Honestly I don't know what these are, but please raise on the Intake tracker with some description, and we'd be happy to consider it.

From the point of view of this issue, I don't think we have a solution at the moment beyond specific "store" for arrays and "to_parquet" for dataframes (i.e., the user needs to know which and how); so I suspect we should close this fo

[2019-04-30 22:45] martindurant commented on #4754
related: https://github.com/dask/dask/pull/4025

[2019-04-30 22:55] mrocklin commented on #4173
I don't know.  I'm not sure what exactly will happen when people try to do this.  I'm just portending that manipulating graphs at this stage might prove challenging.  People have already done a bunch of logic to make a graph.  You might have to undo and redo that logic in removing keys.

[2019-04-30 23:04] dungthuapps commented on #4723
@jcrist Sorry, I forgot: here I reproduce my code more simpler as example
[code]
and the error trace
[code]

[2019-04-30 23:13] dungthuapps commented on #4723
This block as suggested by @martindurant solved the above error but when writing to parquet, then error again.
[code]
Traceback (most recent call last):
  File "C:\DevTools\miniconda3\envs\data-etl-3\lib\site-packages\pandas\core\indexes\base.py", line 2657, in get_loc
    return self._engine.get_loc(key)
  File "pandas/_libs/index.pyx", line 108, in pandas._libs.index.IndexEngine.get_loc
  File "

[2019-04-30 23:31] martindurant commented on #4723
But you can't partition on the index...

Following successfully loading the dataframe, as I think you have, you need to
[code]
and I think it's unlikely that you really want `write_index=True`.

[2019-04-30 23:48] mrocklin opened #4763 "Rechunk in unify_chunks"
When multiple dask arrays with different chunking combine we need to align their chunks.  We do that today in the unify_chunks function.

When chunking is particularly out of alignment, we get many more output chunks than input chunks, triggering a warning to users:

[code]

Unfortunately, this warning doesn't give users a good idea of how to change things.  Indeed, this function is used in enough

[2019-05-01 02:21] #4754 closed

[2019-05-01 02:37] #4529 closed

[2019-05-01 03:15] TomAugspurger commented on #4488
I think this was fixed on the pandas side in https://github.com/pandas-dev/pandas/pull/24907. The LOC in the traceback isn't around anymore, so I don't think there's any cleanup to do.

[2019-05-01 03:15] #4488 closed

[2019-05-01 03:27] #4553 closed

[2019-05-01 03:34] #2493 closed

[2019-05-01 05:01] birdsarah commented on #4701
Thanks to some help from @mrocklin on how to go about profiling, I've so far learned the following:

When reading from local disk, the top of my profile is:

[code]

when reading from s3 it is:

[code]

First thing to note is that _parquet.ParquetReader is getting called 2x as many partitions as I have.

After some more digging:
* the same problem seems to persist between fastparquet and pyarrow.

[2019-05-01 05:49] birdsarah commented on #4701
@martindurant can you explain the mechanism to me a little.

I'm doing my profiling on just `df = dd.read_parquet('s3://file', ....)` This line is taking about 5 minutes to run on for a 1200 partition parquet file on s3. I haven't tried to compute anything.

Why does dask need to read every parquet partition in order to compute start building the graph? I understand reading the directory or needin

[2019-05-01 05:54] GenevieveBuckley commented on #4544
I agree that if `range` is left unspecified then dask should just work something sensible out, and that would be as close as possible to the behaviour of `np.histogram()`.

We could have the default be calculating the min/max and warn the user about the extra computation.

The fallback option the warning could suggest might be using a min & max based on the dtype of the input array. Again, the use

[2019-05-01 06:04] jni commented on #4544
@GenevieveBuckley

I had a nice chuckle reading this because @jakirkham ranted to me about this issue just last month. =D

https://github.com/numpy/numpy/issues/9836

I think you did. =) Firstly, quantiles and quartiles are different things. Secondly, the idea is that the distribution of the data should not change if you randomly subsample the data unless you are really unlucky. Therefore, to comp

[2019-05-01 06:06] jakirkham commented on #4384
IIRC we tracked this down to CPython itself in the cloudpickle issue linked above. FWIW would be ok closing this as it is not a Dask issue. That said, I do appreciate the effort everyone put in to isolate this one.

[2019-05-01 06:36] GenevieveBuckley commented on #4544
Ah, thank you for clarifying @jni. So, more along the lines of this?

Manku, *et al.* 1998 ['Approximate Medians and other Quantiles in One Pass and with Limited Memory'](https://dl.acm.org/citation.cfm?id=276342)
(PDF download [here](http://www.cs.umd.edu/~samir/498/manku.pdf))

Chen, *et al.* 2018 ['Quantile Regression Under Memory Constraint'](https://arxiv.org/abs/1810.08264)
(PDF download [he

[2019-05-01 07:06] dungthuapps commented on #4723
Thanks, @martindurant.
You are right, I just want to do partition on "v1", not on index "id", my mistake. Your code solved the problem.

However, correct me if I wrong, I think  reset_index or set_index will lead to expensive computation, doesn't it?

[2019-05-01 07:07] dungthuapps commented on #4723
I close issue here, because the script provided by @martindurant  solved the issue

[2019-05-01 07:07] #4723 closed

[2019-05-01 07:31] lsorber commented on #4750
All right, we can do that. I was hesitant to take that approach because it would destroy the additional information that a `HighLevelGraph` carries. Should we be using `dask.utils.ensure_dict` to normalise the graph to a dict before optimizing it?

Also, what would be the best way to benefit from dask's default optimizer(s) in addition to third-party optimizers like graphchain? As far as I can tel

[2019-05-01 11:08] avnovikov commented on #4700
The problem is to use groupby apply on approx 20 000 groups in parallel as done in my example workaround.

[2019-05-01 13:10] martindurant commented on #4723
No, reset_index should be simple, and you are calling set_index on the small meta piece, not the total dataframe, so that's ok too.

[2019-05-01 13:53] mrocklin commented on #4750
Yes to ensure_dict.

Yeah, we don't currently have a nice way to add something into an existing
optimization pipeline.  There is no structure here to take advantage of.
It would be nice to see this improved.

On Wed, May 1, 2019 at 2:31 AM Laurent Sorber <notifications@github.com>
wrote:

[2019-05-01 13:55] mrocklin commented on #4700
Dask dataframe is particularly slow for groupby apply if the thing on which
you're grouping isn't the index.

On Wed, May 1, 2019 at 6:08 AM avnovikov <notifications@github.com> wrote:

[2019-05-01 13:56] martindurant commented on #4701
Parquet maintains more information in its metadata besides the schema: it includes the max and min of the values of each column within each chunk. Dask uses this information to construct the "divisions" of a dataframe, if possible, so that when you do a selection df.loc[..], Dask can figure out which of the partitions don't need to be loaded. This in general is a very useful optimisation, especial

[2019-05-01 14:16] wesm commented on #4410
@jorisvandenbossche @enpiar to make you aware of this issue

[2019-05-01 14:56] jrbourbeau commented on #4514
Closing as `OMP_NUM_THREADS` was included in #4705

[2019-05-01 14:56] #4514 closed

[2019-05-01 15:23] jcrist commented on #4750
Currently you can add things to a list of optimizations to run *before* the defaults. This isn't super flexible, but may work for what you need.

[code]

[2019-05-01 15:28] mrocklin commented on #4750
The defaults will want to receieve HighLevelGraphs ideally though, and
they'd like a state of things after the high level graph optimizations are
complete, and they can modify a normal dictionary.

On Wed, May 1, 2019 at 10:23 AM Jim Crist <notifications@github.com> wrote:

[2019-05-01 15:32] jcrist commented on #4750
Perhaps we should add a configuration option for methods to run after the default optimizations? These would receive a dict graph and keys, and should return a dict.

[2019-05-01 15:59] mrocklin commented on #4750
Long term I would prefer that we try to structure optimizations somewhat.
Perhaps a named list or something that people can query and inject at more
precise locations.  That's a larger conversation though.

On Wed, May 1, 2019 at 10:32 AM Jim Crist <notifications@github.com> wrote:

[2019-05-01 16:00] jcrist commented on #4609
I just stumbled upon this:

https://github.com/dask/dask/blob/c6aa46e076e611b6e5522ddea2e070eb5239995b/dask/bag/core.py#L2106

[2019-05-01 17:35] avnovikov commented on #4700
Do you think that map_partitions may work better in this case?

[2019-05-01 21:11] #4747 closed

[2019-05-01 23:28] syagev commented on #2119
Is this issue still being considered? I think it's priceless.

As mentioned multiple times in the docs, dask with a distributed scheduler is a great for running workloads also on a single machine. Persisting on disk can also be very useful when RAM is limited but computation time is long + you want transparent caching to disk without having to explicitly write out a parquet file or such.

[2019-05-02 05:22] andersy005 commented on #4635
Would it be useful to add `chunks='auto'` as a default argument to `da.eye()` and then apply the logic that @mrocklin described above?  It seems to me that this is the common behavior for most if not all other functions in `array/creation.py` module.

[2019-05-02 07:32] H4dr1en commented on #4118
The `memory_limit` parameter is not described in the [doc](http://distributed.dask.org/en/latest/api.html#distributed.Client). Was it removed in newer versions? If not, it should be appearing in the doc.

[2019-05-02 08:24] H4dr1en opened #4767 "Bug: visualize() not showing any text in rectangles"
Regarding the example of the [doc](http://docs.dask.org/en/latest/delayed.html) for delayed, the result of the call to `visualize()` gives me:

![image](https://user-images.githubusercontent.com/16240134/57063641-37f98500-6cc4-11e9-874d-44789ceaade5.png)

No text in rectangles...

[2019-05-02 13:05] martindurant commented on #4767
It is the doc which is outdated, this change was purposeful, because the text was not adding any extra information.

[2019-05-02 13:41] mrocklin commented on #4118
It's a keyword on LocalCluster.  See https://github.com/dask/distributed/pull/2647

[2019-05-02 13:52] #4767 closed

[2019-05-02 14:20] dungthuapps commented on #4723
Thanks @martindurant
Could you also add the your above hints of dealing with index_col and parquet to the documents to help other users like me?

[2019-05-02 14:25] jorisvandenbossche commented on #4194
So trying to summarize the different threads from the discussion above:

-  Provide a `schema=` keyword to `to_parquet` for the pyarrow branch as one of the arbitrary kwargs that gets passed to the partition-writing tasks (and we might want to do something similar in pandas' `to_parquet`).
   This can be used as a work-around to ensure consistent schema's across partitions / multiple writes.
- On

[2019-05-02 15:52] martindurant commented on #4194
That sounds like a fair summary to me. The first point should not be required if we can tackle the third (or ameliorated by the second), although maybe it's possible to get such inconsistent schemas from elsewhere.

[2019-05-02 16:47] mrocklin commented on #4748
In looking around at different survey tooling slowly converged on https://www.sogosurvey.com/ .  I don't have strong confidence in this though.

[2019-05-02 16:54] martindurant commented on #4723
I don't know where such documentation might go, this is rather a specific case. I imagine anyone doing a search might happen to find this very issue.

[2019-05-02 17:18] Mr-Jree opened #4769 "Worker Already Exists w/ TPOT"
When using Dask with TPOT to run AutoML, I often get redlines telling me that worker already exists under a different IP.

It happens about 80% of the time I run the AutoML code. Below is the code I'm running and the error that I get.

When the Dask client is initialized this is what I get:

ClientScheduler: tcp://127.0.0.1:61988
Dashboard: http://127.0.0.1:8787/status |
ClusterWorkers: 6
Cores: 3

[2019-05-02 17:44] kingfischer16 commented on #1233
Ok, I finally put the gist online. You can find it here: https://gist.github.com/kingfischer16/0907764bed4fd9619f05929b7b964cdf
Like it says, data transmission time is the limiting factor, but it does let you use SAS tables as a source for dask.DataFrames. The code uses saspy, which only works if you have SAS Base or SAS EG installed on the machine running the code. Cheers!

[2019-05-02 23:11] QuLogic commented on #4561
Well, that's up to you, but it fails on more than just 32-bit systems.

[2019-05-03 02:21] jakirkham commented on #4750
Totally unrelated, but graphchain looks really cool, @lsorber! You might enjoy engaging in the discussion in issue ( https://github.com/dask/dask/issues/2119 ) where users are looking for functionality like this. 🙂

[2019-05-03 03:33] jakirkham commented on #4635
Good question. IIRC I was talking with @lightsighter, which prompted this issue. Maybe he can advise us on desirable behavior.

[2019-05-03 17:38] lightsighter commented on #4635
I would like da.eye to support arbitrary chunking sizes because I was using a brute-force autotuning script to select the chunks sizes. It really starts to get hard to do autotuning when you can't choose arbitrarily reasonable values.

[2019-05-04 06:24] YashSinha1996 opened #4773 "TypeError: read_json() got an unexpected keyword argument 'meta'"
Code:
[code]
Environment:
- OS: Ubuntu 16.04
- Version: 1.2.1
- Installation: Using pip

On inspecting the read_json function:
[code]
Output:
[code]

In the docs at https://docs.dask.org/en/latest/dataframe-api.html#dask.dataframe.read_json , it does mention `meta` as a keyword argument. However, on inspecting the traceback, the argument is directly being passed onto pandas' `read_json`.

I really

[2019-05-04 07:04] lsorber commented on #4750
Thanks @jakirkham! Will check out that issue and see if we can contribute there.

In the short term, we'll be updating graphchain to use `ensure_dict` before optimising the graph. Long term it would indeed be nice if the dask graph optimization API is extended to support a series of optimizers.

[2019-05-04 07:37] lsorber commented on #2119
[Graphchain](https://github.com/radix-ai/graphchain) might be of interest to this thread. It is a caching optimiser for dask graphs. Some of its features:
1. Caches dask computations to any [PyFilesystem FS URL](https://docs.pyfilesystem.org/en/latest/openers.html), including for example the [OS filesystem](https://docs.pyfilesystem.org/en/latest/reference/osfs.html), to [Memory](https://docs.pyfi

[2019-05-04 13:21] mrocklin commented on #4773
Added in https://github.com/dask/dask/pull/4588 , not yet released.  You
may want to read docs.dask.org/en/stable instead

On Sat, May 4, 2019 at 1:24 AM Yash Pratyush Sinha <notifications@github.com>
wrote:

[2019-05-04 13:23] mrocklin commented on #4750
extended to support a series of optimizers.

Agreed.  If this is something that you or people around you might be able
to help with, that would be great (though of course, no expectation).  If
so then we should probably design something in an issue somewhere.

On Sat, May 4, 2019 at 2:04 AM Laurent Sorber <notifications@github.com>
wrote:

[2019-05-04 17:08] mrocklin commented on #4748
A strawman

### Who are you?

-  Academia, industry, student
-  Domain
-  Optional, include subdomain as short answer like "astronomy" or "quantitative trading"
-  Role
-  Experience with PyData in years

### How do you use Dask?

-  Extent (just curious, from time to time, daily, infrastructurally)
-  Collections we use (array, dataframe, delayed, futures, xarray, ml, other)
-  Installation/deplo

[2019-05-05 03:42] lijose opened #4775 "Issue in setting partition size in Dask dataframe while reading from DB"
I am trying to read from table and set the size of each chunk to 256MB without specifying divisions and partition. But when I checking the size of each partition it is less than 60 MB

Minimal complete code for stimulating issue:
Generate Data:
[code]

For Data processing
[code]

[2019-05-05 11:44] YashSinha1996 commented on #4773
Okay, thanks makes a lot of sense.

[2019-05-05 11:44] #4773 closed

[2019-05-05 21:20] almaleksia commented on #4401
Hi, it would be useful to have describe for categorical columns, I presume many people miss it, myself included. I think I can add it, shall I?

[2019-05-05 21:33] mrocklin commented on #4401
That would be very welcome @almaleksia !

[2019-05-06 03:08] jdanbrown commented on #2564
@jcrist Thanks!

[2019-05-06 09:16] avnovikov opened #4776 "Task stealing"
I'm runing into task-stealing and workers killings on Linux machines withing dask.
The code is the following:

[code]

The errors (with faulthandler) are the following:

[code]

Setup is Linux (ubuntu and amazon) machines with

[code]

Tasks run from 30 to 180 seconds, **retries** option in the client.submit seems not to work (as the process dies earlier than 250 thousand errors.

Is there any way

[2019-05-06 14:34] gerritholl commented on #3245
It's not enough to manage `warnings.catch_warnings`, one would also need to manage `np.errstate`, since either can be used to silence a `RuntimeWarning`.  Perhaps not in the example at the OP, but if I have

`np.array([1, 2, nan]) < 1.5`

then it's quite valid to use

[code]

Unfortunately, this will have no effect if we replace the array by a dask array.

[2019-05-06 14:41] gerritholl commented on #3245
From a user point of view, ideally I would like something that mimics the numpy `errstate` context manager closely, so that a user could write:

[code]

I'm new to dask, but I imagine that dask would store a copy of `np.geterr()` with each task at submission time, then use this with `np.errstate()` when computing each task.  But that only works for cases that are covered by `np.errstate`, which `n

[2019-05-06 15:27] jcrist commented on #4775
Thanks @lijose for the excellent reproducible issue. ccing @martindurant who may be able to provide some insight here.

[2019-05-06 15:29] martindurant commented on #4775
Repeat of https://stackoverflow.com/questions/55983095/issue-in-setting-partition-size-in-dask-dataframe-while-reading-from-db

[2019-05-06 15:29] #4775 closed

[2019-05-06 15:37] jcrist commented on #4776
cc @mrocklin - do you have any insights in this? I haven't seen the `ValueError: Worker already exists ...` error before, but it also showed up in #4769.

[2019-05-06 15:37] JreeYu commented on #4769
Hi @jcrist , unfortunately, these errors are not reproducible consistently, or I don't know what is triggering them yet.

I do know that it is happening on both my PC and Mac environments. And the error seems to not come up when running the dask cell for the first time upon opening up the notebook. However, it seems that the error pops up many times once I initialize another dask client for anothe

[2019-05-06 15:40] jcrist commented on #4769
Are you calling `Client()` twice in the same notebook? The issue may be that you're creating multiple local clusters which are competing with each other. Ideally you should call `Client()` only once per notebook.

[2019-05-06 15:41] JreeYu commented on #4769
Yes, that's maybe why. However, if I don't call a new client the opened dask dashboard doesn't seem to update if I run the tpot cell.

[2019-05-06 15:49] jcrist commented on #4769
Hmmm, I'm able to reproduce with [this example](https://examples.dask.org/machine-learning/tpot.html) from our docs. I'm not sure what's going on here - it's not a second cluster being started up. cc @mrocklin for potential insight.

[2019-05-06 15:51] jcrist commented on #4769
Similar issue: https://github.com/dask/distributed/issues/2540

[2019-05-06 16:09] parkerhancock opened #4777 "Dask Bag.distinct does not work with a key value"
The Dask documentation indicates that [Bag.distinct](https://docs.dask.org/en/latest/bag-api.html#dask.bag.Bag.distinct) takes a keyword argument "key" that can be a callable or a string. However, the actual function throws an error when you attempt to give it a key.

Example:

[code]
Throws:
[code]

The helpstring for the function also does not show that distinct takes a key:
[code]

Maybe the do

[2019-05-06 16:12] parkerhancock commented on #4777
Nvm. Went to go see what a fix would look like and found #4423

Should be fixed in the next release.

It appears that the documentation is ahead of the release...

[2019-05-06 16:12] parkerhancock commented on #4777
Nvm. Went to go see what a fix would look like and found #4423

Should be fixed in the next release.

It appears that the documentation is ahead of the release...

[2019-05-06 16:12] #4777 closed

[2019-05-06 16:12] martindurant commented on #4777
This was added in the last week, and not yet released.

[2019-05-06 17:18] mrocklin commented on #4776
I don't have a strong understanding of what's going on here.  It's a bit
odd to see dask dataframe and futures combined in that way.  I think it
would be useful to get a minimal reproducible example here.

On Mon, May 6, 2019 at 10:37 AM Jim Crist <notifications@github.com> wrote:

[2019-05-06 17:19] mrocklin commented on #4769
Nothing from me here unfortunately.

[2019-05-06 17:41] avnovikov commented on #4776
Matthew @mrocklin  - the dataframe is a regular pandas dataframe, this approach is caused by the #4700 (or how to waste 500Gb of memory). The question is how to trace this problem further?

I **constantly** run in the problems with dask including KilledWorkers when moving code from development (macos) to the test - production (linux) environments.

[2019-05-06 17:55] jcrist commented on #4609
Fixed by #4774

[2019-05-06 17:55] #4609 closed

[2019-05-06 19:47] rgommers commented on #3589
This wish list or "areas of work" or whatever you want to call it would indeed be very helpful to have. Most helpful are the things that are _not_ already in the pipeline and are likely to be delivered within 2-3 months. Bokeh's doc is a good example, and so is [SciPy's](http://scipy.github.io/devdocs/roadmap.html). Those are things that many people would really like to have, but are in many cases

[2019-05-06 20:00] mrocklin commented on #3589
Relative to its use, yes.  I think that outreach or applying Dask to other domains is likely much more important than improving Dask itself.  If I had a free engineer, I would tell them to go explore a particular domain (indeed, this is my current situation).  So today my list would be something like:

1.  Use Dask in imaging
2.  Use Dask is radio astronomy
3.  Use Dask to build parameter servers

[2019-05-06 20:20] rgommers commented on #3589
Both of those are not other domains, they're major items for your wish list.

maybe you did it all, but uncovering a ton of work is exactly the point where you put some work items on your wish list.

What then goes on your wish list is "improve interaction between Dask and Numba".

I'm suggesting _the Dask team_ does this, and writes down the outcomes. It's not hard, you already have talked to the

[2019-05-06 20:34] mrocklin commented on #3589
Whoa, that is definitely not a core issue.  I wouldn't put it on a Dask wish list.  It is important in the field of ML and deep learning though, so there is a sub-community that would care about it.  It is one of perhaps a hundred similar issues.

I personally am unlikely to do this anytime in the next month (or longer?), though I encourage other people within the Dask community to collaborate and

[2019-05-06 21:05] michaelaye opened #4779 "DOC: Impossible sequence of commands"
On here:

http://docs.dask.org/en/latest/setup/single-distributed.html

in the examples section, there's the following set of commands:

<img width="688" alt="Screenshot 2019-05-06 14 58 51" src="https://user-images.githubusercontent.com/69774/57254896-b2513e80-700f-11e9-96e5-953aa391a107.png">

The last command is not possible, because the `Client()` object does not have a method called `start_wo

[2019-05-06 21:10] martindurant commented on #4779
Agreed that it would make sense to be more explicit, and call the variables `client` and `cluster`, to remove the ambiguity. Elsewhere, `c` is normally the client, so it could be only the cluster variable that gets changed.

If you would like to fix this yourself, the file of concern is this: https://github.com/dask/dask/blob/master/docs/source/setup/single-distributed.rst

[2019-05-06 21:12] martindurant commented on #4779
Sorry, here is the right location: https://github.com/dask/distributed/blob/master/distributed/deploy/local.py#L85

[2019-05-06 21:16] michaelaye commented on #4779
So, the example meant to use cluster then, correct? So only a minimal change like this would do:

`cluster = LocalCluster()`

?

[2019-05-06 21:18] martindurant commented on #4779
yes, but you would need to refer to `cluster` again on the next line (where we just get the repr) and start/stop worker lines.

[2019-05-06 21:23] michaelaye commented on #4779
Added dask/distributed#2664

[2019-05-06 22:15] almaleksia commented on #4401
@mrocklin thank you, I hope I'll finish this by the end of this week.

[2019-05-06 22:28] mrocklin commented on #4401
Great!  I'm also very glad to see you working on Dask again.

[2019-05-07 01:37] gbaier commented on #2244
Are there any updates on this? My use case is somewhat related to stencil operations. Essentially after one call of `map_blocks`, where the mapped function also writes to the overlapped regions, I need to also aggregate all results. The exact application are denoising algorithms similar to BM3D.

My idea how to implement this is the following:
1. Implement `overlap_aggregate(x, func, depth)` which

[2019-05-07 10:07] rgommers commented on #3589
Okay. Since Machine Learning is pretty prominently in the doc navigation, that wasn't clear to me. The `dask` vs `dask-ml` distinction (and `distributed` etc) seems more like a project-internal thing with "Dask" being a project and a set of maintainers that work on the various repos. I'm interested in Dask the project more than dask the repo. Anyway, this can easily be addressed by a short stateme

[2019-05-07 12:43] pantaray commented on #4584
@mrocklin Thank you for the explanation!

Just to clarify: our base problem is that we have a dask array holding about 100GB of data scattered across multiple workers in distributed memory. How can we save the array to disk?

Hence, the only reason we we're using this particular `map_blocks`-construct is to collect and save results computed by multiple workers to a single file. You mentioning the

[2019-05-07 13:24] #4779 closed

[2019-05-07 14:55] #3265 closed

[2019-05-07 14:55] #4401 closed

[2019-05-07 15:56] mrocklin commented on #4681
Closed for now

[2019-05-07 15:56] #4681 closed

[2019-05-07 16:00] #4592 closed

[2019-05-07 21:38] almaleksia commented on #4233
I could repro it as well.

This code returns NaN:
[code]

Warning:
`compatibility.py:95: RuntimeWarning: invalid value encountered in sqrt
return func(*args)`

When I debugged there was a negative variance passed to np.sqrt function.

Looks like it overflows in var function:
[code]
Maybe smth like this can be used: https://en.wikipedia.org/wiki/Algorithms_for_calculating_variance#Parallel_algorith

[2019-05-07 21:41] mathdugre commented on #3657
Hi, is this issue solved? I would like to work on it

[2019-05-07 21:51] mrocklin commented on #4233
@jcrist did something similar for Dask Array a while ago in
https://github.com/dask/dask/pull/297 and it seems to have worked out
well.  Doing the same for Dask DataFrame would be a nice (and possibly fun)
contribution.

On Tue, May 7, 2019 at 4:38 PM Ksenia Bobrova <notifications@github.com>
wrote:

[2019-05-07 22:10] almaleksia commented on #4233
@mrocklin for dask array it works, indeed :) thank you, looks interesting.

[2019-05-07 23:12] jakirkham commented on #3657
It is still open. Please feel free to work on it if it is of interest. Would be happy to review a PR. 😄

[2019-05-08 00:33] mrocklin opened #4781 "Release"
I would like to issue a release tomorrow.

There was a fair amount of work merged in over the last couple days.  Additionally, I'd like to consider some breaking changes in dask.distributed, and I figure it'd be good to have a nicely released version just before then so that they can simmer for a little while.

[2019-05-08 00:46] jrbourbeau commented on #4781
Fine by me. Would you be available tomorrow to walk me through the release process?

[2019-05-08 01:01] mrocklin commented on #4781
Oh yes, that would be great.  I'll contact you offline for timing.

[2019-05-08 08:19] quickpanda opened #4782 "dask series persist twice cause keyError"
dask.__version__='1.1.4'
distributed.__version__='1.26.0'
When I use dask to read parquet file and persist the data then map_partition then persist again. The first iteration will be fine, however the second iteration, I will get the keyError

The following is the minimum example.

[code]

Error message:
[code]