[2021-08-08 13:53] jorisvandenbossche commented on #8010
I think fastparquet doesn't try to restore the integer column names, so won't have this problem:

[code]

In [8]: df.to_parquet("foo_pandas.parquet")
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-8-6f4954b63c11> in <module>
----> 1 df.to_parquet("foo_pandas.parquet")

~/minicond

[2021-08-08 13:58] mrocklin commented on #8001
In the common case split_out=1 makes sense for groupby-aggregations.  There are usually a small number of groups (where "small" means less than ten million) and so we want a single output partition.  Split_out is computationally decently expensive.  It requires something like a mini-shuffle in order to achieve.

I agree that informative error messages would be good.  If we knew the values of the d

[2021-08-08 17:08] kinghuang commented on #7977
I've been able to find the underlying cause of the error for my case! The Dask workers lacked permissions to put objects to the target S3 bucket. The `RuntimeError` went away once that was corrected.

I'm guessing there's an underlying error being gobbled up in PyArrow when it's writing a table.

[2021-08-09 01:29] GenevieveBuckley commented on #7589
Broadly yes, it seems like the easiest way to get around these problems is to
1. Expand the array with `dask.array.overlap.overlap` to get an overlap around each chunk, then
2. Run `map_blocks` on the expanded array

I don't have a specific number to give you about RAM use. I didn't notice anything too out of the ordinary when I ran this. You might like to check this with your own work using the "

[2021-08-09 08:04] jorisvandenbossche commented on #7977
Ah, good catch! That aligns with my observation from above (https://github.com/dask/dask/issues/7977#issuecomment-894376815) that the current code in pyarrow might mask any other error that prevented the metadata file from being created.

Although with lacking write permissions, I would have expected that it would only error when *writing* it and not yet when *creating* the metadata object in the

[2021-08-09 08:43] jorisvandenbossche commented on #7977
I tried a small reproducer with a public S3 bucket for which I don't have write permissions:

[code]

for the latest s3fs that gives a "PermissionError: Access Denied" / "ClientError: An error occurred (AccessDenied) when calling the PutObject operation: Access Denied".
But trying the older s3fs 0.4.2 as you listed, I see the RuntimeError as well (although also AccessDenied).

<details>
<summary>F

[2021-08-09 08:45] jorisvandenbossche commented on #6782
The several issues I mentioned above should all be resolved I think, so it would be good to check if this is still a problem with the latest versions of s3fs / fsspec / pyarrow.

[2021-08-09 11:38] pentschev commented on #7126
Hi @mughetto , sorry I forgot to update this issue, but you're correct, it now works and can be closed. Thanks for pinging here!

[2021-08-09 11:55] #7126 closed

[2021-08-09 12:49] TomAugspurger commented on #8011
At some point, I think these operations will need to move from using NumPy operations on ndarrays to using methods on the Series / extension array, at least if we want to support arbitrary extension arrays.

Regardless, once we get past the `partitionquantiles` stage, `set_index` still won't work since pandas doesn't support extension types like `string` in the index yet: https://github.com/pandas

[2021-08-09 14:28] kinghuang commented on #6782
I'll give my Redshift data a try and report back.

[2021-08-09 15:23] kinghuang commented on #6782
Everything's working on the Redshift exports with the following modules:

[code]

[2021-08-09 15:32] TomAugspurger opened #8012 "TypeError: 'Serialize' object is not subscriptable when reading parquet dataset with `Client(processes=False)`."
*What happened**:

When computing on a Parquet dataset (e.g. `.get_partition(0).compute()`) with a scheduler created with `Client(processes=False)`, I see a an exception

[code]

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

It only occurs with `processes=False`. With the default of `processes=True`, things are fine.

**Environment**:

I've tried with dask

[2021-08-09 15:41] ncclementi commented on #8005
@enthusiastics Thank you for opening an issue, would you mind providing a [minimal reproducible example](https://blog.dask.org/2018/02/28/minimal-bug-reports) ? This will allow us to reproduce the problem and help you, otherwise is a bit complicated to know what is happening.

[2021-08-09 15:50] kinghuang commented on #7977
I spun up a Dask cluster with the following modules.

[code]

It still produces a `RuntimeError` about the metadata.

<details>
<summary>Traceback</summary>

[code]
</details>

If I go to one of the cluster nodes and run the reproducer, I do see the same `PermissionError` that you got.

<details>
<summary>Traceback</summary>

[code]
</details>

[2021-08-09 16:10] rjzamora commented on #8012
You are exactly right that the culprit is `processes=False` - This is a known issue that has proven difficult to resolve.  Note that the [fine-grained seriealization work](https://github.com/dask/distributed/pull/4897) from @madsbk would fix this, but I'm not sure what the status is on that front.

[2021-08-09 16:14] kinghuang commented on #7977
I suspect the problem lies in one of the context managers, though I'm not sure if it's the file's context manager or the `ParquetWriter`'s context manager. fsspec's [`AbstractBufferedFile` context manager](https://github.com/intake/filesystem_spec/blob/master/fsspec/spec.py#L1601) doesn't consider whether an exception was thrown. PyArrow's [ParquetWriter context manager](https://github.com/apache/

[2021-08-09 16:23] kinghuang commented on #7977
Looking at it some more, I'm pretty sure it's PyArrow's ParquetWriter that needs to explicitly consider whether an exception was thrown in [`__exit__()`](https://github.com/apache/arrow/blob/0f1c3a3bddf46c8981c2582b81bf6ffbea0b41a8/python/pyarrow/parquet.py#L677), in addition to propagating it. I think it needs to tell the [`close()`](https://github.com/apache/arrow/blob/0f1c3a3bddf46c8981c2582b81

[2021-08-09 16:32] jorisvandenbossche commented on #6782
Thanks for checking!
I think this issue can be closed then?

[2021-08-09 16:36] #6782 closed

[2021-08-09 16:38] kinghuang commented on #6782
Yup, this can be closed. Thanks!

[2021-08-09 17:41] TomAugspurger commented on #8012
Thanks. I'll close this then, if it's a know issue.

[2021-08-09 17:41] #8012 closed

[2021-08-09 18:48] pentschev commented on #7997
I should have done this before, but I'm tagging @dask/array in case people have ideas too. To handle the second case (`(nan|)arg(min|max)`), I've produced https://github.com/dask/dask/pull/8014 as a possible solution. This resolved the issue with CuPy, and although IMO it doesn't pollute the code too much, it stillrequires the `_concatenate2` change mentioned in the description.

[2021-08-09 18:58] freyam commented on #7709
@GenevieveBuckley This would be a great thing for me to work during the last week (16th to 23rd August).
- Adding documentation about HLGs (dask docs)
- A blogpost about my GSoC Project (dask blog)
- Personal blogpost on my work (medium)

[2021-08-09 19:23] #7847 closed

[2021-08-09 21:11] asmeurer commented on #7933
Here are some thoughts from a SymPy maintainer. You'll have to pardon my ignorance of the dask internals. If something I say here doesn't make sense, please let me know.

- My first thought when I saw this idea is that the expression system would be separate from the classes. However, Matt makes a good point that this may require keeping the separate things in sync too much. You considered making

[2021-08-09 22:07] mrocklin commented on #7933
Thank you for the comments @asmeurer .  Some responses!

-  So far I like expressions being in collections.  This keeps the user API the same as it is today.
- I think that mutability will be ok.  Expressions can be immutable, but operations on a collection can create and swap out a new expression.  We do this today with Dask graphs.  It is also what Theano did back in the day.
- "every expression

[2021-08-09 22:53] asmeurer commented on #7933
It sounds like you are saying that the design of collections containing corresponding expressions makes it so that collections can be mutable with expressions immutable. If collections are indeed mutable, I agree this is the best design.

This sounds good. It might be worth getting some basic familiarity with MatchPy to make sure you don't design your way out of the possibility of using it. But ot

[2021-08-09 22:55] mrocklin commented on #7933
We'll have to make sure that someone who works on this is familiar with MatchPy ;)

I wouldn't look too closely :)

[2021-08-10 00:58] Yu-AnChen commented on #7589
Thank you @GenevieveBuckley for the summary and the helpful tips! Looking forward to seeing future releases that would allow more flexibility in `map_overlap` outputs 😃

[2021-08-10 08:42] DahnJ opened #8017 "Cannot `set_index` with `string[pyarrow]` column"
It seems that `string[pyarrow]` does not yet support all operations. I haven't found an issue about it, so I'm posting this.

Possibly will result in an issue for PyArrrow, but since I encountered it using Dask, I decided to post here.

## Reproducible example

[code]

Results in

[code]

**Environment**:

- Dask version: `2021.07.0`
- Pandas: `1.3.1`
- Pyarrow: `5.0.0`
- Python version: `3.9.5`
-

[2021-08-10 08:57] jorisvandenbossche commented on #7977
Something like the following?

[code]

I still can't reproduce it locally (so difficult to check the above patch). With my small test (with a read-only bucket and anonymous access, this might certainly be different), the Permission error only happens after the closing of the ParquetWriter context (ParquetWriter itself doesn't error, and thus can also access the metadata fine, it's only the closing

[2021-08-10 12:26] mrocklin commented on #8017
This is reported upstream in

- https://github.com/pandas-dev/pandas/issues/42597
- https://issues.apache.org/jira/browse/ARROW-13410

[2021-08-10 13:06] tomwhite commented on #7847
That's great - thanks for working on this @freyam!

[2021-08-10 13:21] GenevieveBuckley commented on #7847
Would love to hear your experience @tomwhite if you road test at any point. We're hoping it should make for an easier debugging experience with some of the common frustrations you've shared with us.

[2021-08-10 13:30] jsignell opened #8018 "HDFS CI failing"
There is a new failure on hdfs ci

[code]
https://github.com/dask/dask/runs/3291151260 for instance

@martindurant

[2021-08-10 13:38] martindurant commented on #8018
Is this definitely happening in a run that is supposed to execute HDFS tests?

If the import fail, it looks like all the tests should be skipped, but maybe not.

@jorisvandenbossche , did a recent change in pyarrow remove `pyarrow.[_]hdfs._maybe_set_hadoop_classpath` ? Is there an alternative? I recall we had a problem just calling `HadoopFileSystem()` directly without explicit `_connect()`.

[2021-08-10 13:40] #7970 closed

[2021-08-10 13:55] jorisvandenbossche commented on #8018
I think the tests are not properly skipped. There is

https://github.com/dask/dask/blob/cb1527693d0590b67ba4fd51b1833905f1927f7b/dask/bytes/tests/test_hdfs.py#L53

but it's only applied to a single test that uses pyarrow directly. But all other tests also require pyarrow.

(which doesn't explain why it only started to fail now of course)

[2021-08-10 13:58] jorisvandenbossche commented on #8018
And the build seems to use pyarrow 0.15, which has https://github.com/apache/arrow/blob/apache-arrow-0.15.1/python/pyarrow/hdfs.py. So it has both `_maybe_set_hadoop_classpath` and `connect` in a `pyarrow.hdfs` module, but that combination doesn't seem to be available in the try/except import sequence at

https://github.com/dask/dask/blob/cb1527693d0590b67ba4fd51b1833905f1927f7b/dask/bytes/tests/t

[2021-08-10 14:02] kinghuang commented on #7977
That looks reasonable. I'll monkeypatch a cluster with that change and see what happens.

[2021-08-10 14:07] martindurant commented on #8018
How about the following:
[code]

[2021-08-10 14:23] jorisvandenbossche commented on #8018
Do you know for which version the `pyarrow._hdfs` is actually needed?

[2021-08-10 14:32] martindurant commented on #8018
No idea! :)

[2021-08-10 19:35] kvnkho commented on #4471
This is the second time I myself looking for these images as I prepare a presentation. Funny enough, I first saw it from a presentation @jameslamb  did. Would like to echo the comment that these really fit into the docs.

[2021-08-10 19:58] jrbourbeau commented on #8006
Thanks for raising an issue @asmith26! The error you're running into looks similar to https://github.com/zarr-developers/zarr-python/issues/601. It looks like `zarr` itself doesn't have full support for `pathlib.Path` objects yet, but that it is currently in the works (xref https://github.com/zarr-developers/zarr-python/pull/768). I agree it would be reasonable for Dask to support them

cc @martin

[2021-08-10 20:05] martindurant commented on #8006
fsspec handles Path objects in a few places (e.g., `fsspec.open`), but not generally, because there is no consensus on how to represent non-local paths.  I think zarr will defer to fsspec only if the path is URL-like (containing "://" or "::" - but probably not knowing to convert to string first), and `fsspec.get_mapper` does not support Path.

Do you think a `Path` is implicitly local?

[2021-08-11 07:12] jjerphan commented on #4471
I once quickly did this diagram for a presentation about dask.
![Screenshot from 2021-08-11 09-11-19](https://user-images.githubusercontent.com/13029839/128985532-0b4430fd-c694-4738-81b3-f759e3129745.png)

[2021-08-11 10:33] asmith26 commented on #8006
Thanks for all the answers.

That's a good question - I had a little Google and would consider `pathlib.Path` to be intended only for local paths. In particular:
- I couldn't find any mentions of remote/s3/cloud/,.. in the [main docs](https://docs.python.org/3/library/pathlib.html).
- `pathlib.Path` supports a [`.home()` method](https://docs.python.org/3/library/pathlib.html#pathlib.Path.home), wh

[2021-08-11 12:51] mrocklin commented on #4471
Since people seem to be looking here I'll drop in some images.  These are the reuslts of a community design party a couple of years ago and more recent updating by the Coiled marketing folks.

![abstraction-hierarchy](https://user-images.githubusercontent.com/306380/129031260-ad9600b0-1942-40ad-99a7-694ea2d3a382.jpg)
![abstraction-hierarchy-white](https://user-images.githubusercontent.com/306380/1

[2021-08-11 16:09] martindurant commented on #8006
I encourage you to comment at https://github.com/drivendataorg/cloudpathlib/issues/96 to push support for pathlib with fsspec. That would solve this kind of issue, without dask's explicit involvement, for local and remote paths both.

[2021-08-11 16:49] ncclementi commented on #7614
@Srj Are you still having this problem in Dask 2021.07.2? If so, a minimal reproducible example that we can run would be helpful. The example that you show us unfortunately is not reproducible since we don't have the data available.

[2021-08-11 18:37] ncclementi commented on #7371
I'm able to reproduce this with `logging.warnings` too. I'm not entirely sure but it seems that both `ProgressBar` and `logging.warnings` are writing to `stdout` see [here fro ProgressBar](`logging.warnings`) and [here for logging](https://github.com/python/cpython/blob/8c93a63c03ddc789040a6ad50a18af1df7764884/Lib/logging/__init__.py#L1044) and maybe this is causing the problem. I don't think we c

[2021-08-11 18:55] ncclementi commented on #7363
@muscionig are you still struggling with this problem?

@martindurant Do you have any advice?

[2021-08-11 19:02] ncclementi commented on #7313
Retested and this issue still persists on `Dask 2021.07.2`,
@shoyer Would you like to take a crack at this?

[2021-08-11 19:43] ncclementi commented on #7285
@crusaderky checking in.  What's the status of this issue?

[2021-08-11 19:54] ncclementi commented on #7332
@MosGeo  Would you like to take a crack at this?

[2021-08-11 20:02] martindurant commented on #7363
I had completely forgotten about this issue, sorry.

Firstly, there is nothing that Dask ca do about the basic chunk size ("row-group" of a parquet file) of your data - it will be read into a single dataframe partition, which will typically be much larger than the on-disc representation, and extra memory will typically be used to create it.

In your case, you *can* handle one partition at a time,

[2021-08-11 20:23] ncclementi commented on #7155
@verasativa due to the lack of info I'm going to close this issue but if you still have this problem, and are able to provide a minimal reproducible example or some more information so we can help you, feel free to re-open it.

[2021-08-11 20:23] #7155 closed

[2021-08-11 20:56] jrbourbeau commented on #7285
I'll let @crusaderky comment on the full current status, but it looks like an `Blockwise`-specific `clone` implementation was added in https://github.com/dask/dask/pull/7312

[2021-08-11 21:45] ncclementi commented on #7081
@jsignell what is the status of this issue? Since there is a workaround, should we close it?

[2021-08-11 21:52] ncclementi commented on #7082
@mrocklin Checking in here, Is there an update on the status of this issue?

[2021-08-11 21:59] ncclementi commented on #6963
cc: @jrbourbeau

[2021-08-11 22:04] ncclementi commented on #6956
Checking in here, on the status of this issue./
@jrbourbeau Would you mind shining some light on the previous comment/question?

[2021-08-11 22:20] ncclementi commented on #6928
@sjperkins Checking in here, I was wondering if the documentation/blog about the annotation interaction with distributed SchedulerPlugins is still something you'd like to take on?

[2021-08-11 22:30] ncclementi commented on #6906
@jsignell @shangw-nvidia Checking in here, maybe I'm missing something but it seems this issue got solved in #7027, should we close it?

[2021-08-11 23:30] ma-sadeghi commented on #7371
Hi @ncclementi, thanks for looking into this. `logging.warnings` plays nicely with `tqdm` progress bars. I don't know the implementation, but maybe you can do the same?

[2021-08-11 23:37] ncclementi commented on #6858
It seems these docs currently match the "this should be" on the initial comment. See https://github.com/dask/dask/blob/1c4a84225d1bd26e58d716d2844190cc23ebcfec/dask/array/linalg.py#L1368-L1404 .

@eric-czech can you confirm this is the docstring you wanted to see?

[2021-08-11 23:41] ncclementi commented on #7371
@ma-sadeghi I recently learned that there is a `tqdm`- `dask` integration done on the `tqdm` side. https://github.com/tqdm/tqdm#dask-integration

Would you be interested in taking a crack at this issue?

[2021-08-11 23:56] shoyer commented on #7313
I don't have time to work on this right now

On Wed, Aug 11, 2021 at 12:03 PM Naty Clementi ***@***.***>
wrote:

[2021-08-12 01:38] jrbourbeau commented on #6963
Thanks for the ping @ncclementi. Sorry nobody got back to you @syagev

`distributed` recently added support for running tasks in different types of `concurrent.futures.Executors`. Previously tasks were always run in a `ThreadPoolExecutor` which is why using a single-threaded task executor was recommended before. However, today for GIL-intensive tasks you might try using a `ProcessPoolExecutor` ins

[2021-08-12 02:25] ma-sadeghi commented on #7371
Great, I didn't know about that!

Sure, I'd be happy to. I'll look into it next week and will keep you posted in this thread.

[2021-08-12 09:55] jorisvandenbossche opened #8022 "BUG: compute=False not working correctly in new ORC writer"
Using the new ORC writer from https://github.com/dask/dask/pull/7756 with `compute=False`, and then afterwards computing the result, only the first partition gets written:

[code]

With the Parquet writer, it's working correctly.

cc @rjzamora

[2021-08-12 10:14] arm2arm opened #8023 "unable to read multiple hdfs after dask update"
**What happened**:
after upgrading dask version above >=2021.06.1 reading with dd.read_hdf("*.hdf5") code is failing with:
[code]
**What you expected to happen**:
reading all data as expected

**Minimal Complete Verifiable Example**:
pip install dask==2021.06.1 distributed==2021.06.1
[code]

**Anything else we need to know?**:
[code]
**Environment**:

- Dask version: dask-2021.6.1 distributed-2021

[2021-08-12 12:22] eric-czech commented on #6858
Yep, looks good!

[2021-08-12 12:22] #6858 closed

[2021-08-12 14:31] ncclementi commented on #7371
@ma-sadeghi Great we really appreciate it. Feel free to open a PR with your work in progress, you can add (WIP) to the name of the PR and we'll give you feedback there. If this is your first time contributing, here are some guidelines on how to go about it https://docs.dask.org/en/latest/develop.html

[2021-08-12 14:34] jsignell commented on #8023
Hmm it's hard to reproduce without the files that were causing the error. Can you generate files that trigger this same error or share small versions of your real files? For reference, there are lots of hdf files being generated in  https://github.com/dask/dask/blob/main/dask/dataframe/io/tests/test_hdf.py

[2021-08-12 14:41] jsignell commented on #8022
Just tried to reproduce this and turns out I was on pyarrow 3 which failed at `ddf.to_orc`:

[code]

[2021-08-12 14:51] rjzamora commented on #8022
Thanks for raising @jorisvandenbossche !  I should be able to look into this today.  Note that I am in the process of preparing a PR to dramatically change the ORC API for Dask anyway.

[2021-08-12 15:05] jsignell commented on #8017
Closing this as it's a purely upstream issue.

[2021-08-12 15:05] #8017 closed

[2021-08-12 15:23] jsignell commented on #7081
Thanks for the ping - I think we can go ahead and close. This same behavior can be found using pure numpy:

[code]

[2021-08-12 15:23] #7081 closed

[2021-08-12 15:25] jsignell commented on #6906
Yep! Closing

[2021-08-12 15:25] #6906 closed

[2021-08-12 15:26] jorisvandenbossche commented on #8022
Yes, ORC write support was only added more recently, so maybe dask could check for the version and give a nicer error message

[2021-08-12 15:28] jorisvandenbossche commented on #8022
Interested in seeing that :) (I am basically copying a bit what you did currently for the ORC code for a IO method in dask_geopandas)

[2021-08-12 16:01] jrbourbeau commented on #4257
We started pinning `dask` and `distributed` releases more tightly starting with the `2021.05.0` release (see https://github.com/dask/community/issues/150 and https://github.com/dask/community/issues/155 for context around this decision). Over the past three months there haven't been any complaints about this (that I'm aware of) and the number of new version incompatibility issues reported in the `

[2021-08-12 16:01] #4257 closed

[2021-08-12 16:13] #7983 closed

[2021-08-12 16:18] #7697 closed

[2021-08-12 17:12] jsignell commented on #8001
Yeah that makes sense. I think as a first step we could template in docstrings for `split_out` wherever it's allowed. As of right now `split_out` is not listed in the params for the groupby aggreagtion methods.

[2021-08-12 18:45] jsignell commented on #7262
I added `'birthYear': 'object'` to the `dtype` definitions and it seems to work fine now. I am going to close.

[2021-08-12 18:45] #7262 closed

[2021-08-12 19:27] ncclementi commented on #6943
@Joshfindit There have been recently some efforts on getting more information display in the form of plots about network bandwidth, check https://github.com/dask/distributed/pull/5129 .

I am afraid that this feature request is a bit broad and needs more information, if you are interested in describing in more detail what is what you would like to see, please let us know in this thread. I would le

[2021-08-12 20:02] rjzamora commented on #8022
Yes - Sorry for all the churn here. I have a rough version of what I want to do in #8004 - Note that I decided to go with a slightly different design from what we have for parquet, because I realized that the parquet-engine model will make it a bit difficult to deal with both cudf-filtering support and the upcomming high-level expression work.  The primary change is that, instead of having an engi

[2021-08-12 21:03] Joshfindit commented on #6943
@ncclementi I checked the thread and that looks awesome already.

I apologize as I’m too far out from the project I was referencing and don’t have access to the notes about the specifics.

*Generally* my questions around these types of requests are about one of the following questions:

- How can we be sure that everything is running as expected?
- There was an unexpectedly high usage bill. What s

[2021-08-12 21:12] jrbourbeau opened #8026 "S3 rate limit encountered during DataFrame computation"
I was computing the length of a Dask DataFrame which contains many (i.e. several thousand) partitions and is stored in Parquet format on S3. Something that looks like:

[code]

Shortly after this computation was kicked off, I got the following error (the full traceback is further down):

[code]

My guess is that since our `len(df)` implementation triggers lots of small, fast length computations, w

[2021-08-12 21:21] jrbourbeau opened #8027 "Parquet `_metadata` too large to parse"
I encountered the following error (the full traceback is further down):

[code]

when reading in a Parquet dataset on S3 with a large `_metadata` file. In this particular case the `_metadata` file was 676.5 MB. Based on the error message it looks like this `_metadata` file is too big for `pyarrow` to parse.

cc @jorisvandenbossche @rjzamora

<details>
<summary>Full traceback:</summary>

[code]

</

[2021-08-12 21:39] ncclementi commented on #6943
Thank you for your reply @Joshfindit, I think those are valid questions and they would probably be helpful for other people. I wonder if @jrbourbeau  has any insight/updates on this.

[2021-08-12 21:44] mrocklin commented on #8027
Also, we should probably make it optional to even read this file.  I think that in @jrbourbeau 's case this resulted in him downloading a 600MB file every time.  We should consider a `read_metadata_file=True` keyword that can be set to False.  Currently there is no way to turn this off.

[2021-08-12 21:48] jrbourbeau opened #8028 "Parquet filepath parsing error"
I attempted to load a large Parquet dataset on S3 with

[code]

but encountered the following error from `pyarrow` (full traceback down below):

[code]

I'm not sure if the underlying issue is with `pyarrow` or `dask` or `fsspec`. I'll attempt to create a minimal reproducer, but thought the traceback might be useful by itself.

cc @jorisvandenbossche @rjzamora

<details>
<summary>Full traceback:</

[2021-08-12 21:56] jrbourbeau commented on #8027
Thanks for the additional context @mrocklin. I was going to open a separate issue for that, but as it's also related to the large `_metadata` file, here is a good place for that discussion too.

I should also point out that based on the description of `gather_statistics`

https://github.com/dask/dask/blob/8d6f2da210900195cca6b531cdf689460763db51/dask/dataframe/io/parquet/core.py#L174-L178

FWIW I

[2021-08-12 21:57] mrocklin commented on #8027
Separate issue sounds good to me.

[2021-08-12 22:40] jrbourbeau opened #8030 "Disabling loading consolidated Parquet `_metadata`"
For large Parquet datasets, loading the consolidated `_metadata` file, especially when it's a remote file, can be quite slow. We should consider adding an flag to optionally disable reading `_metadata`. Initially I thought setting `gather_statistics=False` would do this, but that turned out to not be the case (at least for the `pyarrow-dataset` and `fastparquet` engines)

cc @rjzamora in case you

[2021-08-12 22:40] jrbourbeau commented on #8027
xref https://github.com/dask/dask/issues/8030

[2021-08-12 22:56] jrbourbeau opened #8031 "Processing large remote Parquet datsets"
Recently I ran into some issues processing large Parquet datasets which were stored in S3 (with the code snippet below) and raised a few corresponding issues:

- https://github.com/dask/dask/issues/8026
- https://github.com/dask/dask/issues/8027
- https://github.com/dask/dask/issues/8030
- https://github.com/dask/dask/issues/8028
- https://github.com/dask/dask/issues/8056

I'm wondering if others

[2021-08-12 22:58] ncclementi commented on #7212
@allefeld  and @TomAugspurger. Checking in here.
I run the code on the original post and now things behave much nicer. After computingthe array, and then calculate the mean locally. Worker memory use climbs to around 5 GB during compute. But after the compute memory goes down to around 300MB

![memory](https://user-images.githubusercontent.com/7526622/129279463-a5ef2582-b7d3-4114-84c4-6db72dd62af9

[2021-08-13 01:47] GenevieveBuckley opened #8032 "HTML repr for dask.config.config"
Perhaps it would be nice if we had a HTML representation for the dask config settings.

The dask `config` object is currently a plain dictionary. Presumably this would require us to make a new configuration class that inherits from dict, and holds a `_repr_html_` method.

You can make nested HTML tables, that might be a good fit for this type of nested dictionary structure.

[code]
[code]

Note: y

[2021-08-13 01:50] GenevieveBuckley commented on #8032
I'd like to see if there's enthusiasm from the dask community, anyone want to weigh in?

This might be a fun thing for @freyam if he unexpectedly ends up with some extra time. Alternatively we could add a "good first issue" label since this problem is nicely self-contained.

[2021-08-13 03:30] rjzamora commented on #8030
I agree that we should make it possible to avoid reading _metadata if there are fundamental limits in pyarrow for parsing the file.

Other (somewhat-related) thoughts...

I also think we should try to decentralize the read_parquet "planning" stage a bit.  Note that I am working on a (second) refactor of the read_orc API in #8004, where I am breaking up the typical "`read_metadata`" stage, and I am

[2021-08-13 05:51] freyam commented on #8032
Yes, glad to help :rocket:

[2021-08-13 07:35] jorisvandenbossche commented on #8028
From the traceback, it seems this is a problem with `fs` (an fsspec / s3fs filesystem) not recognizing it correctly as a file or directory (not sure which of the two would be correct?)

Is the file publicly accessible? (or do you see something similar with a publicly accessible bucket?)

[2021-08-13 07:37] jorisvandenbossche commented on #8028
Also, which version of dask are you using? If not latest main branch, can you check with `engine=pyarrow-dataset`?

[2021-08-13 07:48] GenevieveBuckley commented on #2225
Here is a sketch of the continuum of 2D array shapes we can have for a tensordot operation:
https://docs.google.com/drawings/d/1qdq60Exvz1GvVIGd54Bo74n99j1k8-QDVxYEZd5uH4A/edit?usp=sharing

The three important stages are where:
1.  The output array is smaller than one or both input arrays (the easiest to deal with)
2. The output array size is equal to the largest input array
3. The output array si

[2021-08-13 07:49] jorisvandenbossche commented on #8030
I suppose the idea is that the `meta` can be constructed exclusively with information gathered here?
I am wondering how you can do that with the current parquet datasets written by dask without either parsing a metadata file or either reading one single parquet data file + doing a filesystem scan (which can also be costly).

For example to discover the partitioning (know which fields need to be ad

[2021-08-13 07:55] GenevieveBuckley commented on #2225
There are a couple of general rules that apply everywhere:
* Chunk boundaries should be aligned along the inner axes of the arrays
* We should prioritize square shaped chunks over long and skinny chunks. It's a compromise between low worker memory and reducing data duplication. https://docs.google.com/drawings/d/1TqPAJtWy2PTjUJCFf_TtOVvbkTt37MtiZa52xLG4bzw/edit?usp=sharing

I think this means that

[2021-08-13 08:12] jorisvandenbossche commented on #8022
No need to be sorry! I am just genuinely interested to see how it could organized / if I want to adapt my implementation in https://github.com/geopandas/dask-geopandas/pull/91 as well. Will try to take a look at #8004 one of the coming days.

[2021-08-13 08:57] jorisvandenbossche commented on #8027
And the metadata file itself was produced by pyarrow? (or did it come from somewhere else?)

[2021-08-13 09:19] allefeld commented on #7212
@ncclementi, my code has changed a lot since February, so this issue is not immediately relevant to me any more. Since you think it may have been resolved, I'm okay to close. Thanks!

[2021-08-13 09:19] #7212 closed

[2021-08-13 11:54] mrocklin commented on #8032
I kind of like that this is just a dictionary.

On Fri, Aug 13, 2021 at 12:51 AM Freyam Mehta ***@***.***>
wrote:

[2021-08-13 11:55] mrocklin commented on #8032
I'm open to changing the repr, but if we do this then I think we should
have a plan for what our objectives are and I'd love to see a mock-up of a
proposed design.

On Fri, Aug 13, 2021 at 6:54 AM Matthew Rocklin ***@***.***> wrote:

[2021-08-13 11:57] mrocklin commented on #2225
Thank you for sharing these diagrams @GenevieveBuckley .

@tomwhite , do these match your operational experience?

[2021-08-13 12:04] mraspaud commented on #7583
This also affect our satellite processing in https://github.com/pytroll/satpy/issues/1791
Feel free to ping me if we can be of any help testing/trying things.

[2021-08-13 12:07] mrocklin commented on #7583
Thanks all for bumping this issue.

@quasiben can you poke @jakirkham about this when he gets back?  This seems to be a priority issue that arose from his work on swapping in concurrent.futures.

Also cc @eriknw in case he is interested (although this may not be ordering related)

[2021-08-13 13:13] rjzamora commented on #8030
I am wondering how you can do that with the current parquet datasets written by dask without either parsing a metadata file or either reading one single parquet data file + doing a filesystem scan (which can also be costly).

You are 100% correct - This step cannot always be "fast", and I am still unsure of the best way to handle the case where we don't have a _metadata file, or that _metadata fil

[2021-08-13 13:35] djhoese commented on #7583
I wanted to see if @sjperkins was on to something with the `reverse` changes so I made this script:

[code]

Note I used a smaller number of rows to make the computation go faster for easier testing. Ran it locally and here's a screenshot of the results (github doesn't let me attach HTML files, I can put them somewhere if desired).

### Version 2021.3.1 - profile_20210813_132924.html

![image](htt

[2021-08-13 14:35] chrisroat commented on #7851
I verified this is still true in 2021.7.2.

There are an enormous number of calls to [highlevelgraph getitem](https://github.com/dask/dask/blob/ad6f837ea11f03a32c7bb51d6e33516d93e85148/dask/highlevelgraph.py#L738), and I suspect it may be falling back to the O(n) branch.  From `prun`:

[code]

And from `pyinstrument`.

[code]

[2021-08-13 15:03] arm2arm commented on #8023
Yes sure you can grub those hdf files and example from:
https://cloud.aip.de/index.php/s/SkxQTHLfXkP3rMA

[2021-08-13 15:48] jsignell commented on #8023
Ok thanks! I think the issue is that the files are different lengths. I am not sure if this is supposed to be supported. Maybe @martindurant would know? In the meantime, I think you could achieve the desired behavior with map_partitions. I'll give it a go.

[2021-08-13 15:54] arm2arm commented on #8023
Yes this is true, my hdfs are random length, even some of them with 0. I was using dask with the data since 2018, only the recent update broke the pipeline.

[2021-08-13 15:55] jsignell commented on #8023
Oh! I forgot that this is a recent failure that you've noticed. I'll check for changes. In the meantime here is a workaround:

[code]

[2021-08-13 15:57] jsignell commented on #8023
Seems likely that this is related to https://github.com/dask/dask/pull/7625 @rjzamora

[2021-08-13 15:59] jsignell commented on #8023
Looking at the diff in that PR, the workaround that I just gave you is essentially what the multiread code used to do, so I don't anticipate you having any performance issues with it.

[2021-08-13 16:05] arm2arm commented on #8023
Interesting,  thanks for the workaround, but would't explode my memory? or how is the concat managing the partitions, assuming you have 100K files and only 16 workers?

[2021-08-13 16:07] mrocklin commented on #7583
If you revert the concurrent.futures commit (is this possible?) do things
improve?

On Fri, Aug 13, 2021 at 8:35 AM David Hoese ***@***.***>
wrote:

[2021-08-13 16:08] jsignell commented on #8023
It will be one partition per file. I think it should be fine. But also the fix was pretty trivial so I'm hoping we can get it into this release.

[2021-08-13 16:08] mrocklin commented on #8030
We can probably read the head of the first row group and get the _meta
information happily

On Fri, Aug 13, 2021 at 8:13 AM Richard (Rick) Zamora <
***@***.***> wrote:

[2021-08-13 16:09] rjzamora commented on #8030
information happily

Yes - This will do the trick in most cases, but it will not capture directory-partitioned columns.

[2021-08-13 16:31] slevang commented on #7583
`git revert ad0e5d1` leaves a pile of conflicts since this change was ~10 releases ago. The problem was clearly introduced with the `concurrent.futures` change in this commit though. Performance is as expected on the previous commit ([fba94e65](https://github.com/dask/dask/commit/fba94e65e6053163fd1b1ed3c1803ab4f4aa541f)).

[2021-08-13 16:34] eriknw commented on #7583
Stopping by to share that ordering hasn't changed and, indeed, probably isn't the issue.  Using https://github.com/dask/dask/pull/7992, this plot shows the number of dependencies in memory based on `dask.order` for the example in the original post:

![bokeh_plot (3)](https://user-images.githubusercontent.com/2058401/129389761-213f5f52-0ad8-4b00-87a3-fe0d0960816c.png)

This looks similar to the "Ca

[2021-08-13 16:37] fjetter commented on #8026
I do not quite understand where the issue is raised but the [ListObjectsV2](https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListObjectsV2.html) is an operation which lists all blobs in a given container. This is an operation which is relatively expensive on S3/ABS/GCS and can be a significant slow down for very large datasets (>>100k files)
Depending on how the API is actually called, the scal

[2021-08-13 17:03] #8023 closed

[2021-08-13 19:16] djhoese commented on #7583
I was hoping to be able to walk through the commits (eventually git blame) of the PR and find the exact issue. Unfortunately the PR was squashed and @jakirkham deleted the branch (totally expected behavior and is the same thing I would do, just too bad in this case). There may be an option to recover the deleted branch but unlikely, especially to us non-jakirkham people.

I can confirm @slevang's

[2021-08-13 19:49] djhoese commented on #7583
I was able to run git bisect on the individual commits from the pull request and unless I'm doing something wrong it all worked fine until the second to last commit which was a merge of `main` into the PR branch. Not the easiest to decipher after that.

[2021-08-13 19:58] ncclementi commented on #6790
Checking in here, I run the code on the initial post and it still gives the same output.
After checking the commit pointed in the previous comment maybe @quasiben or @TomAugspurger would be able to shine some light on this?

[2021-08-13 20:10] djhoese commented on #7583
Ok so the first problem commit is https://github.com/dask/dask/pull/6322/commits/9d0aaa29d6b439ba9164d55c98a857f8907b165a

I updated my script for quick memory checking by replacing the visualize call with `print(max(x.mem for x in rprof.results))` which let me easily see if the memory usage was in the ~200s or ~10000s.

I took that problem commit, ran my script and noted the high memory usage, th

[2021-08-13 20:16] jsignell opened #8036 "Upstream CI failing"
Upstream is failing again:

I'm working on isolating the separate issues.

<details >
<summary>
574: FutureWarning: 'kind' argument in get_slice_bound is deprecated and will be removed in a future version.  Do not pass it.
</summary>

[code]

</details>

<details>
<summary>
35: IndexError: Too many levels: Index has only 1 level, not 2
</summary>

[code]
</details>

<details>
<summary>
2: Assertio

[2021-08-13 22:42] #8022 closed

[2021-08-14 00:33] slevang commented on #7583
Adding a diagnostic to main [here](https://github.com/dask/dask/blob/main/dask/local.py#L501):
[code]
reveals that all 5000 (or whatever number of) tasks are simultaneously in `state["running"]`, whereas in the last working commit ([e52bbbd](https://github.com/jakirkham/dask/blob/e52bbbd786c57c7aa44ccfde4d2f2f670d16d38c/dask/local.py#L479)) there are never more than `n_workers` tasks in `state["ru

[2021-08-14 02:25] djhoese commented on #7583
Thanks for pointing that out. That helps the understanding a lot more. I think I'm actually starting to understand the code, but don't know enough apparently to fix any memory issue. The running tasks are definitely not good and you can fix it by changing the code right under your print statement to say:

[code]

But you also need to update the code a little higher so that when tasks are fired onl

[2021-08-14 03:04] chrisroat commented on #7851
@GenevieveBuckley Given your expertise in HighLevelGraphs and your interest in alternatives when creating non-arrays from chunked arrays, I thought this would be of interest.  Do you have any tips in how we might avoid this behavior when returning delayed dataframes?

Similar code that returns delayed arrays does not have this problem.  I suspect something can be done in `dd.from_delayed` with the

[2021-08-14 08:01] MosGeo commented on #7332
@ncclementi If you think it is a good first issue, I will take a look at it this week :)

[2021-08-14 12:58] djhoese commented on #7583
Got it! See my edits above for the path to debugging, here's the current diff:

[code]

I can make a pull request later today if this seems reasonable and we can discuss pros/cons of this approach (and see what tests fail). Here's the profile as proof:

![image](https://user-images.githubusercontent.com/1828519/129446945-85714179-568d-410c-addd-f87c47a12bb4.png)

So in summary:

1. The batch logic

[2021-08-14 16:01] djhoese commented on #7583
PR #8040

[2021-08-14 18:21] TomAugspurger commented on #6790
This currently warns

[code]

and if you pass a  dask Array to `da.from_array`, it raises:

[code]

So it really seems like we don't want people passing Dask objects to `from_array`. Given that `da.asarray` does the right thing, I'm tempted to close this:

[code]

What do you think @djhoese?

[2021-08-14 20:59] djhoese commented on #6790
The warning is definitely nice. I'm not against closing this, but it would also be nice if there was a better solution.

Is `chunktype` being `xarray.DataArray` ok? Is that useful? There is a weird recursive nature here where you end up with a dask array with a DataArray underneath with a dask array underneath.

Thinking about the warning, why is it not an error? When would someone get that warnin

[2021-08-15 08:16] netanelEvo opened #8041 "Worker (docker) cannot connect to scheduler on Amazon's ECS Fargate"
Hey everyone, I tried to run both worker's and scheduler docker containers on Amazon's ECS. The scheduler works perfectly, I successfully connected to it from my local machine:

[code]
I try to run the worker the same way, with this command:
`dask-worker tcp://SCHEDULER_PUBLIC_IP:8786`
The worker is writing these logs and exits:

[code]

I expected the worker to connect to the scheduler, because t

[2021-08-15 10:08] NativeVex opened #8042 "dask dataframe from delayeds of dask dataframes"
tl;dr Can we please add (or could someone explain how this is already possible) creating dask dataframes from a function that returns a list of delayed(dd.DataFrame) without evaluating all the delayed(dd.DataFrame)s in the list? I'm okay with passing metadata up the chain.

I've been using dask to interact with sqlalchemy queries and to distribute larger-than-memory outputs with the pd.from_sql fu

[2021-08-15 12:18] TomAugspurger commented on #6790
I haven't looked at the actual code / other issues, so I'm not sure.

[2021-08-16 01:54] GenevieveBuckley commented on #7851
My first suggestion was going to be to remove the delayed within a delayed, since that's something recommended against [in the docs](https://docs.dask.org/en/latest/delayed-best-practices.html) (you have `image.to_delayed()` passed into another delayed function later on). But when I change that in a notebook I still see an exponential increase in time taken to construct the graph, so that can't be

[2021-08-16 01:58] GenevieveBuckley commented on #7851
@chrisroat take a look at the way I've structured https://github.com/dask/dask-image/pull/240/files and see if that helps you here (less pleasantly, perhaps you can tell us if we'll run into problems with large numbers of chunks with that PR too)

[code]

[2021-08-16 02:29] GenevieveBuckley commented on #7851
When I do this the memory leak is observable. If the chunk size is changed to 1000 instead of 1 it runs (there are many fewer chunks overall in that scenario)

[code]

[2021-08-16 04:51] chrisroat commented on #7851
Thanks for helping out.  I see what you are saying about the recommendation of not using delayed-in-delayed, though I'm not sure if the problem I'm seeing is related to that recommendation (though it may be).

I have this pattern (of creating dataframes from chunks) several places in my codebase, and most times I do defer the from_delayed until outside the loop.  In those cases, I want the datafra

[2021-08-16 09:13] GenevieveBuckley commented on #7851
Maintainers, do we know who our experts are on dask delayed? (I don't think there's a project team list I can ping here)

[2021-08-16 11:22] lmmx opened #8045 "Assist dask in choosing partition positions to avoid parser EOF error when CSV rows contain unescaped newlines"
This follows discussion in #4415 on the parser error encountered (‘EOF within string’) when partitioning a file with unescaped newlines on a row. The partition naively splits on newlines (from what I understand?), which is only a valid assumption for files without unescaped within-row EOL characters.

**Would it be possible to ‘assist’ dask in identifying where to partition a CSV somehow?**

From

[2021-08-16 13:00] rajagurunath opened #8046 "Add deltalake read functionality"
This issue was already discussed and closed here: https://github.com/dask/dask/issues/6001

I like to reopen the issue, since pandas now support reading delta lake tables with the help of a third-party package https://github.com/delta-io/delta-rs

Pandas official doc refereeing this delta-rs integration here, https://pandas.pydata.org/docs/ecosystem.html#io

I have done some initial groundwork her

[2021-08-16 13:25] mrocklin commented on #7583
Thank you for stepping up here David

On Sat, Aug 14, 2021 at 11:01 AM David Hoese ***@***.***>
wrote:

[2021-08-16 13:37] mrocklin commented on #8046
I'm personally open to adding better deltalake support.  It looks like there is already PyArrow Dataset support.  That might be a good initial entry point for a proof of concept if anyone wants to play around.  Dask's parquet reading already includes PyArrow Dataset support.

cc @dask/io @jorisvandenbossche @rjzamora

[2021-08-16 13:57] RogerMoens commented on #7718
@ncclementi , I will try to give it a go next week.

[2021-08-16 14:03] martindurant commented on #8026
Indeed, the purpose of a _metadata file is not to have to list and read the metadata from many files. Where it's practical, it can save a lot of time, as well as circumvent API rate limits. If it is *not* present, you need to know what files to read from.

Some digging (even a traceback) would help us identify why there are many list calls. I can't even be sure if this is in the client or a worker

[2021-08-16 14:48] Sh4zKh4n opened #8048 "da.histogram just loops and never completes on a small dataset."
**What happened**:
I am finding that dask array histogram is just looping for ever. I have tried this on a large dataset and have tried it on a small dataset. On both occasions the histogram takes for ever. This is a recent issue because it used to work. All the files are 3d arrays saved as zarr files but I am not sure what is going on here

- Dask version:
- Python version: 3.8
- Operating System

[2021-08-16 14:57] mrocklin commented on #8046
also cc @MrPowers

[2021-08-16 15:05] douglasdavis commented on #8048
Thanks for raising the issue! Would it be possible to provide a [reproducible example](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports)? Perhaps additional help would be to include the Dask version where you are seeing the issue.

[2021-08-16 15:19] MrPowers commented on #8046
It'd be great to allow Dask to read Delta Lakes, thanks for opening this issue.  That'd make it easier for teams to pick up Spark analyses with Dask, a common workflow.

Adding read support should be relatively straightforward.  Writing to Delta Lakes will probably be a lot harder (concurrency control, isolation guarantees, etc.).

This issue is specially on reading Delta Lakes, which I support.

[2021-08-16 15:58] ncclementi commented on #7332
@MosGeo that sounds great, feel free to open a PR with work in progress (add WIP to the name) and we can help you there if you need it.

[2021-08-16 16:19] djhoese commented on #7583
FYI to anyone following this and not the #8040 PR, my reversing of the order of tasks which had a huge impact on the memory usage actually breaks the order setup by [`dask.order`](https://github.com/dask/dask/blob/main/dask/order.py) so it can't be included as part of a fix. However, the original example code doesn't optimize the graph. I found that by letting it get optimized reduces the memory u

[2021-08-16 16:26] mrocklin commented on #7583
I'll be surprised if dask.order is what is misbehaving here.  Finding valid bugs/rooms for improvement in that code are rare.

I suspect that it's more likely that the changes of dask.local to use concurrent.futures messed with things a bit.  In theory a single-threaded dask.local execution should follow the dask.order ordering _exactly_.  I would encourage us to verify this with a test before goi

[2021-08-16 16:31] djhoese commented on #7583
There is this test:

https://github.com/dask/dask/blob/4a59a6827578fdf8e105d1fb7e9d50d428c9d5fa/dask/tests/test_local.py#L160-L172

Were you thinking something more complex?

I see what you're saying though. Current `main` with my available workers fix and 2021.3.1 are producing major unoptimized memory usage. There must be something else going on. I will try applying my fixes to 2021.4.0 and see

[2021-08-16 16:32] crusaderky commented on #7285
#7312 resolves this issue for
- ``Blockwise``
- ``BlockwiseCreateArray``
- ``DataFrameIOLayer``

, but leaves it open for
- ``ArrayOverlapLayer``
-  ``DataFrameLayer``
- ``SimpleShuffleLayer`` (subclass of ``DataFrameLayer``)
- ``BroadcastJoinLayer`` (subclass of ``DataFrameLayer``)

[2021-08-16 17:19] mrocklin commented on #7583
Something more complex.  Let's get a larger computation (maybe something like `x.dot(x.T) - x.mean(axis=0)` for example) and then make a [custom callback](https://docs.dask.org/en/latest/diagnostics-local.html#custom-callbacks) that, whenever a task finishes, checks the order value of the key of that task, and ensures that the order value is continuously increasing, that in a single-threaded situa

[2021-08-16 20:37] sadielbartholomew commented on #4435
Hi Dask team, I realise this issue is marked as closed, but having read through the brief conversation here I was wondering if you would indeed consider aliasing `visualise` to `visualize` as @TomAugspurger asked above?

I raise this because as well as the original poster, I (also a British English speaker) too ran into this when following along with the official tutorial (in `01_dask.delayed.ipyn

[2021-08-16 20:40] TomAugspurger commented on #4435
I'm fine with aliasing visualise if other maintainers are on board. I think I'd prefer that to emitting a warning.

[2021-08-16 20:41] jrbourbeau commented on #4435
Thanks for poking this issue @sadielbartholomew! I think today we should raise an informative warning

https://github.com/dask/dask/blob/95fb60a31a87c6b94b01ed75ab6533fa04d51f19/dask/delayed.py#L544-L552

What version of `dask` are you using?

[2021-08-16 20:42] jrbourbeau commented on #4435
For example, this is what I see on the current `main` branch

[code]

[2021-08-16 20:59] gjoseph92 commented on #8001
https://github.com/dask/distributed/pull/5220 could make it easier to send a warning back to users at runtime. Yes, it would be nice to know at call time, but getting a warning at compute time would still be far more helpful than no warning at all!

[2021-08-16 21:00] sadielbartholomew commented on #4435
Thanks Tom and James for the extremely quick replies.

Ah, so there already is a warning, that's really useful! Sorry for not checking the current `main` branch which I should probably have done before commenting. I was using the environment that is provided for binder for the tutorial from the `dask-tutorial` repo, which is `'2.20.0'` (from `dask.__version__`) as backed up by [the environment fil

[2021-08-16 21:01] sadielbartholomew commented on #4435
Oh wait, just re-reading and seeing that you are probably proposing that for `main`, not that it is already there as I assumed? Either way, that exact warning looks great to me.

[2021-08-16 21:12] jrbourbeau commented on #4435
https://github.com/dask/dask/pull/6216 is where the `visualise` warning was added, which should be included in the `dask==2.17.0` release. When I launch a binder session from the Dask tutorial I see the warning when I use `visualise` instead of `visualize`:

<img width="1552" alt="Screen Shot 2021-08-16 at 4 08 43 PM" src="https://user-images.githubusercontent.com/11656932/129629919-cc8f78fe-4efc-

[2021-08-16 21:34] jrbourbeau commented on #7972
Just noting that the upstream issue in NumPy was resolved in https://github.com/numpy/numpy/pull/19627

[2021-08-16 21:35] sadielbartholomew commented on #4435
Interesting, I didn't see that (or any) warning before, no. I was using the binder environment but not actually on Binder, just running the Jupyter Notebooks of the tutorial repo locally.

Strangely, I have just re-run the original Notebook I was working with and still had open, and this warning did indeed pop up, much to my surprise! So it is implemented as you indicated and does emerge, however

[2021-08-16 21:43] jrbourbeau commented on #4435
Good to know. Thank you for following up. The warning is disappearing because, by default, Python will not repeat the same warning multiple times if it's coming from the same source location. From the [`warning` module docs](https://docs.python.org/3/library/warnings.html):

I'm going to close this issue, but thank you for engaging here. I had forgotten that we raised this warning, so it was good

[2021-08-16 21:43] #4435 closed

[2021-08-16 22:25] richardbeare opened #8051 "High memory usage for file to file streaming - h5py and zarr"
**What happened**:

Streaming dask arrays from disk back to disk appears to cause the entire array to be loaded into RAM. Same behaviour for both hdf5 files with h5py and zarr.

The test below creates a large random array, writes it to disk, then uses dask to reload the array and save in another file. I observed the same problems when saving into the same hd5 file (`test2a`).

The correct behaviou

[2021-08-16 23:41] iameskild commented on #8030
Hi folks, this might the same issue I'm currently experiencing, here is the error message I see when we call [`read_parquet` (spatialpandas, using pyarrow v0.3.0)](https://github.com/holoviz/spatialpandas/blob/b6809e79f615e0be6fda6845b9725b5f87529c56/spatialpandas/io/parquet.py#L421):

[code]

I recently upgraded to `2021.8.0` and got this error. After reverting back to `2021.7.2` the issue seems

[2021-08-16 23:46] GenevieveBuckley commented on #8051
Thank you for taking the trouble to write this all up @richardbeare

[2021-08-17 01:10] mrocklin commented on #8026
I missed it the first time reading through the issue, but it looks like there *is* a traceback in the original post as a `<details>` tag.

[2021-08-17 01:11] mrocklin commented on #8027
@jorisvandenbossche given @jrbourbeau 's comment in the meta-issue here https://github.com/dask/dask/issues/8031 I suspect that this was done with the pyarrow-dataset engine.  James would know for sure though.

[2021-08-17 01:16] mrocklin commented on #8030
In general I support parallelizing metadata harvesting and construction. FWIW I think that Spark also does this (there appears to be a small compute period when they read a dataset).

I'm curious about moving statistics functionality out of core.  My current sense is that the remote-vs-local choice doesn't necessarily have to trigger a change of responsibility from core code to engine code.  Is th

[2021-08-17 01:17] mrocklin commented on #8028
Ping @jrbourbeau to put this on his inbox in the morning.

[2021-08-17 03:17] richardbeare commented on #8051
Further tests:

[2021-08-17 07:40] rrpelgrim commented on #8031
_Not entirely sure this is related @jrbourbeau as your issues seem to do more with reading rather than writing parquet files. But thought I'd share anyway, feel free to LMK if it'd be more useful for me to post this elsewhere._

I'm running into issues when writing larger datasets to parquet into a public S3 bucket with the code snippet below.

**tl;dr**
Small, dummy datasets work (see "This Works

[2021-08-17 08:08] rrpelgrim commented on #8031
FWIW this workaround suggested to me by @fjetter does work:

[code]

[2021-08-17 09:00] jorisvandenbossche commented on #8027
Would it be possible to put the offending file on a public bucket (or somewhere else publicly accessible)?
And the code that was used to create the file, is this the code in https://github.com/dask/dask/issues/8031? (to have a reproducible code example)

[2021-08-17 09:03] jorisvandenbossche commented on #8030
@iameskild that doesn't seem directly related. It _is_ an error coming from parsing the `_metadata` file, and so having an option to not use that file (what this issue is about) would also help for your case as a workaround. But the fact that you get an error reading this file should have some cause / is a bug (for which I would recommend opening a separate issue).

[2021-08-17 09:36] fjetter commented on #8031
@rrpelgrim As already discussed, the KilledWorker problem of yours is related to a segmentation fault with `pyarrow` and is **not** connected to this issue. The workaround works because you're not using `pyarrow`. Can you please open a new issue for this?

[2021-08-17 12:30] mrocklin commented on #8051
My guess is that this is what @djhoese is working on in https://github.com/dask/dask/pull/8040 .  If you could try out that PR and report back that would be helpful.

[2021-08-17 12:35] jsignell commented on #8041
Thank you for reporting this. I'm going to move this issue to the dask/distributed issue tracker where people will be better able to help.

[2021-08-17 12:42] jsignell commented on #8042
Hi @NativeVex thanks for opening this issue. It would definitely help to have an example of the type of workflow that you have tried. I am imagining something like:

[code]

Is that similar to what you have? In that case you can use `dd.concat` or `dd.merge` depending on how your data are divided up.

[2021-08-17 12:50] mrocklin commented on #7583
If this is confusing then speak up and I'll try to provide more guidance / an example.

[2021-08-17 13:29] djhoese commented on #8051
Sounds likely. That PR should be in a functional state so it would be good to test with your use case (I just need to add tests and verify some things before the PR is ready for merging). You could compare the difference between 2021.03.1 and 2021.04.0. If that version change shows your huge jump in memory then my PR is/will be the fix.

[2021-08-17 13:35] clbarnes commented on #8006
That PR is now merged; zarr will accept `pathlib.Path` in its convenience methods and store constructors (although it does so by normalising to `str`).

[2021-08-17 13:36] martindurant commented on #8045
As you can see, @lmmx , it's not a simple problem, and there's a reason that it's been around a long time. Your suggestions may be interesting, but hard to evaluate without some case studies. Providing custom offsets for read_block that have been obtained in some other way is certainly doable, and providing custom validation of blocks is not totally unreasonable either. However, the read_csv funct

[2021-08-17 14:17] rjzamora commented on #8030
Yes. Your understanding is correct - but the exact separation between “core” and “engine” logic already varies a bit among engine implementation.

Right now, the `read_parquet` logic starts by asking the engine to read and process the dataset and all relevant parquet metadata (in `engine.read_metadata`).  This classmethod is expected to produce the output `meta`, a list of information needed to pr

[2021-08-17 14:53] fjetter commented on #8001
One would still need to put some thought into how to issue the warning with https://github.com/dask/distributed/pull/5220 you wouldn't want every single task to issue a warning since the client would receive hundreds or even thousands of warnings which might be a little excessive :) but the infrastructure is there, yes.

[2021-08-17 15:48] jacobtomlinson commented on #8032
From a technical viewpoint I also like that it is just a dictionary.

However, from a user perspective, it can be pretty unpleasant to try and view the config once it gets big. Also `dask.config.config` doesn't show all of the default values.

I would really like to see some kind of config inspector where you can see all of the Dask config, whether default values have been overridden and maybe eve

[2021-08-17 16:05] jacobtomlinson commented on #8032
In #8044 I suggested that if we don't want to mess with the `dask.config.config` dict we could have some kind of inspector function.

[code]

[2021-08-17 16:22] gjoseph92 commented on #8001
With https://github.com/dask/distributed/pull/5217 we could have a `warn_once` event which is the same as `warn` but filters the messages for uniqueness on the client :) bit inefficient, but easy!

[2021-08-17 16:57] martindurant commented on #8026
There are a few S3-specific details that concern this issue. First I'll write some description of the situation.

- Currently, s3fs uses list_objects_v2 to get the info on a file (size, Etag, etc.).
- We need the file size during a call to `open()`, so that we can random-access read; indeed, parquet specifically needs the file footer for reading metadata (bytes [-8:-4] say how big the footer is).

[2021-08-17 18:05] rajagurunath commented on #8046
Thanks for the detailed explanation @mrocklin, @MrPowers, got some good understanding of the delta files now.

So what I understood from the above discussion is instead of using `deltalake` third-party packages we will build delta lake reader ourselves using JSON delta log and pyarrow Dataset similar to parquet implementation using pyarrow, is this the right understanding?

I think we can follow,

[2021-08-17 18:08] mrocklin commented on #8046
cc also @rjzamora and @fjetter

[2021-08-17 19:20] mrocklin commented on #8046
I don't think that that is necessarily the right approach.  I think that if a library is out there that handles reading this (like the library that you reference) then it would probably be good to use that library.

@rajagurunath you may know more about this topic than anyone here.  I certainly don't know much about Deltalake.  It sounds like @MrPowers may know something about it, but he doesn't k

[2021-08-17 19:49] mrocklin commented on #8046
Well, thanks to this video by @MrPowers (high on youtube search rankings :) ) I am now somewhat less ignorant :) .  Thanks!

https://www.youtube.com/watch?v=euBvYFTVN8s&ab_channel=Databricks

[2021-08-17 22:18] jrbourbeau opened #8056 "Overwriting parquet dataset on S3 doesn't create a new bucket"
When iterating on workflows, I find it useful to specify `overwrite=True` when writing out parquet datasets. Previously I had always been writing to an S3 bucket which already existed and everything worked as expected. Today I tried writing to a bucket which did not exist and hoped that `to_parquet` would create the bucket for me, however when I run this snippet:

[code]

I get the following `File

[2021-08-17 23:09] rjzamora opened #8058 "[Discussion] Improve Parquet-Metadata Processing in read_parquet"
## Current Metadata-Related Challenges in `read_parquet`

The current approach to parquet-metadata handling in Dask-Dataframe has been causing pain for many users recently. The problem is especially true for large-scale IO from cloud-based file systems.  The origin of this pain seems to be the historical decision to rely on a shared _metadata file.

### Why we use _metadata

The historical reason

[2021-08-18 00:44] GenevieveBuckley commented on #8032
As discussed in https://github.com/dask/dask/pull/8044 this was really just an idea for fun and/or filling time at the end of GSOC. We don't really need it, this could be closed.

[2021-08-18 00:46] jrbourbeau commented on #8027
Good question. I'm not sure certain as, IIRC, I was running into https://github.com/dask/dask/issues/7977 when using the `pyarrow-dataaset` engine, so I switched to `fastparquet`. I ended up deleting the `_metadata` file as a temporary workaround which, with hindsight, wasn't the wisest decision. I'll try to reproduce in a public bucket and will report back

[2021-08-18 01:30] richardbeare commented on #8051
Confirmed - a jump in RAM usage between 2021.03.1 and 2021.04.0

[2021-08-18 01:38] jrbourbeau commented on #8051
Thanks for following up @richardbeare. If you want to give https://github.com/dask/dask/pull/8040 a spin, i suspect that will resolve your issue

[2021-08-18 02:14] jrbourbeau commented on #8027
Indeed I ran into issues writing a large dataset using the `pyarrow-dataset` engine and switched to `fastparquet` (for writing). Below is the code snippet used the create the parquet dataset

[code]

I'm able to reproduce the

[code]

error when attempting to read the dataset using the `pyarrow-dataset` engine:

[code]

I'll make that bucket publicly accessible in AWS us-east-1 tomorrow :+1:

[2021-08-18 02:29] #7583 closed

[2021-08-18 04:31] richardbeare commented on #8051
@jrbourbeau Confirmed - #8040 behaves in the expect way regarding RAM. Great news!

Now if only h5py was as fast as zarr!

[2021-08-18 04:55] GenevieveBuckley commented on #6907
Stuff I did:
* Traced through the low level graph visualization (eg: for an example [like this](https://github.com/dask/dask/issues/6907#issuecomment-893276181)). Sometimes graphviz displays the nodes shuffled around a bit
* Used the dask `get` entry point ([link to docs](https://docs.dask.org/en/latest/spec.html#entry-point-the-get-function)) to examine all intermediate task results

I think this

[2021-08-18 05:36] GenevieveBuckley commented on #6907
I've narrowed it down the circumstances in which this occurs a bit further (although I still don't know the reason it happens).

I can reproduce this if:
* The two input arrays have the same numeric values in all locations (note: they don't have to be the same dask array, they just need to contain the same numeric values), AND...
* There is a conditional "where" done on the same value/location(s),

[2021-08-18 07:34] NativeVex commented on #8042
I wrote up a more generalizable demo of my use case, substituting communicating with sqlalchemy with selecting ranges from dask.datasets.timeseries.

[code]

I'm hoping to avoid dd.concat and dd.merge, as in this case it would require the list of delayeds to be computed one by one, and that would defeat the purpose of delaying the function. Unfortunately, the for loop within `sql_limit_to_larger_t

[2021-08-18 08:00] jorisvandenbossche commented on #8027
@jrbourbeau thanks for the reproducer!

I downloaded the file to check locally, and I can reproduce the error with pyarrow 4.0 and 5.0, but it *does* work with my local development install:

[code]

[code]

[2021-08-18 08:11] rrpelgrim commented on #8031
@fjetter -- apologies for the confusion, will open a new issue. Would it be best for me to remove my comments above from this thread?

[2021-08-18 08:14] rrpelgrim opened #8059 "Writing large parquet files to public S3 bucket with pyarrow failing"
I'm running into issues when writing larger datasets to parquet into a public S3 bucket with the code snippet below.

**tl;dr**
Small, dummy datasets work (see "This Works" section below) but larger timeseries dataframe (thousands of partitions) fails (see "This Fails" section) with a KilledWorker error. Writing to_csv works for both the small and the large datasets.

**IMPORTS AND SPINNING UP CLU

[2021-08-18 08:43] GenevieveBuckley commented on #8051
That's excellent news!

Does this fix all of your problem @richardbeare, or are there a few more things to work through besides this specific issue? We can keep talking on the slack if need be, but this feels like a good step forward.

[2021-08-18 08:49] jacobtomlinson commented on #8032
Personally I would really appreciate a way to find out where each config value has been set for debugging. It's easy to make changes in YAML files and forget about them, or have some system add an environment variable at runtime that you don't know about.

But that's maybe not what we are talking about here.

[2021-08-18 09:08] GenevieveBuckley commented on #6907
More investigation into the chunks reveals:
* If the whole array has only a single chunk, the bug does not occur
* it seems to happen only for square shaped input chunks

[2021-08-18 09:14] richardbeare commented on #8051
Thanks everyone - I think that covers it! I can keep my current project moving forward now that I have these options.

[2021-08-18 10:29] GenevieveBuckley commented on #6907
I thought maybe it might have something to do with the insert trick used in `_tensordot` to expand the dimensions, followed by the sum reduction, but perhaps not. I haven't been able to make a simpler reproducible example.

Investigating the `intermediate` named arrays for both situations in []():
* The values in the arrays are the same
* The chunk sizes/shapes don't match, according to `da.assert

[2021-08-18 13:31] jorisvandenbossche commented on #8027
OK, so indeed this is related to the thrift version. In my local development environment, I still had libthrift 0.13, with which it works fine as mentioned above. But the latest releases of pyarrow on conda-forge are build with libthrift 0.14. Creating a new local environment with thrift 0.14 and building master of pyarrow with that, I also get the error.

It seems that Apache Thrift introduced a

[2021-08-18 13:35] mrocklin commented on #8032
If there is good motivation for a change then I'm in favor.  Mostly I want
to make sure that we are being guided by some practical need, rather than
just filling time.  Writing software is a tax on everyone (review,
maintenance, etc) so we should only do something if we have a solid
motivation.  It sounds like Jacob has some solid motivations.  If folks are
free and excited about working on this t

[2021-08-18 13:41] mrocklin commented on #8027
Thank you for tracking this down

On Wed, Aug 18, 2021 at 8:31 AM Joris Van den Bossche <
***@***.***> wrote:

[2021-08-18 15:50] jrbourbeau commented on #8032
Just want to +1 both @mrocklin and @jacobtomlinson's points. Let's make sure we have some motivation behind development. I personally would have found what Jacob is proposing useful for debugging the Dask config in the past 👍  Also cc @djhoese who may find this conversation interesting

[2021-08-18 16:33] djhoese commented on #8032
Just want to point out to @GenevieveBuckley and @jacobtomlinson that the `donfig` library exists which is a class-ified version of the dask.config module (still a dict internally). If I remember right @mrocklin wasn't super excited about adding another dependency to `dask` core so it was more of a side project for my other libraries who need/want similar functionality to `dask.config`.

I personal

[2021-08-18 17:26] jrbourbeau opened #8062 "Flaky `test_create_metadata_file`"
Over in https://github.com/dask/dask/pull/8057 we observed `dask/dataframe/io/tests/test_parquet.py::test_create_metadata_file[pyarrow-dataset-fastparquet-a]` failed due to a DataFrame shape mismatch in one [CI build](https://github.com/dask/dask/pull/8057/checks?check_run_id=3355589275) (full traceback below). This seems unrelated to the changes in that PR as the test itself doesn't specify `over

[2021-08-18 17:46] jrbourbeau opened #8063 "gpuCI failing"
Yesterday out gpuCI builds started failing

[code]

with error like `TypeError: No dispatch for <class 'cudf.core.series.Series'>` (see [this build](https://gpuci.gpuopenanalytics.com/job/dask/job/dask/job/prb/job/dask-prb/211/CUDA_VER=11.2,LINUX_VER=ubuntu18.04,PYTHON_VER=3.8,RAPIDS_VER=21.10/console) for an example). I believe this is because we were waiting on https://github.com/rapidsai/cudf/p

[2021-08-18 17:51] galipremsagar commented on #8063
https://github.com/dask/dask/pull/8055 now has the commits to fix this issue

[2021-08-18 19:54] #7919 closed

[2021-08-18 19:58] jrbourbeau commented on #8051
Thats good to hear. I'm going to close this issue, but feel free to let us know if you run into other issues

[2021-08-18 19:58] #8051 closed

[2021-08-18 21:03] jsignell commented on #7920
Closing this - thanks @rajagurunath

[2021-08-18 21:03] #7920 closed

[2021-08-18 21:05] jsignell commented on #5666
I think this should be closed now. `to_numeric` exists and is documented.

[2021-08-18 21:05] #5666 closed

[2021-08-18 21:12] jsignell commented on #8042
Thanks for the extra details that is really helpful! I was going to suggest that you do this hackish thing with `map_partitions` where you set up an empty dataframe with exactly the partitions that you want and then you fill it in using map_partitions. Something like this:

[code]
But then I saw that what you want is a dataframe that contains dask dataframes in each of its partitions. I am not qui

[2021-08-19 00:36] #8063 closed

[2021-08-19 00:38] jakirkham commented on #8063
Are there particular PRs where we should be rerunning CI James?

[2021-08-19 01:26] TomAugspurger commented on #8058
Thanks for writing this up Rick. I'm still digesting it, but do you think this "allow parts/statistics to be collected in parallel" would help with dask-geopandas, where they have to (re)-open each partition to read some metadata out of the partition's schema? (https://github.com/geopandas/dask-geopandas/blob/99fa1a865156649d66c9ae4fa6fe119b6be6206c/dask_geopandas/io/parquet.py#L22-L37)

[2021-08-19 01:41] GenevieveBuckley commented on #8032
This would be very useful, but you're right - that's not quite the same thing being discussed here. Might be worth following up on that idea separately?

I'll close this issue. We'll get the dask blogpost about GSOC done today, then @freyam can take tomorrow off.

[2021-08-19 01:41] #8032 closed

[2021-08-19 11:37] ianozsvald opened #8065 "Possible docstring error for `DataFrame.quantile`"
Out of curiosity I decided to see how approximate quantiles are calculated in Dask. I've followed the [past bug reports](https://github.com/dask/dask/pull/3819#issuecomment-410063014) and the move to `tdigest` so I can see that there's some flux. I think that the `DataFrame.quantile` docstring might be in error, but I can't easily follow the code to check.

Specifically for `DataFrame.quantile` th

[2021-08-19 14:03] rjzamora commented on #8058
Thanks for sharing this application @TomAugspurger ! This is similar to how NVTabular needs to re-read the metadata to calculate the length of a dataset more efficiently (although our solution solution is quite a bit uglier than yours).

Generally speaking, the short-term proposal here does not solve your metadata problem by itself.  However, the refactor does provide an opportunity to expose an A

[2021-08-19 14:17] jsignell commented on #8065
I think you have the notions of row-wise and column-wise flipped. I was not at all confident of this so I looked up the pandas docs where it says:

![image](https://user-images.githubusercontent.com/4806877/130084619-9561802c-0782-4bc0-a7de-a794c7299939.png)

[ref](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.quantile.html)

[2021-08-19 14:27] martindurant commented on #8056
Coming back to this, I wonder if it's possible to write a test with s3fs methods alone, which produces contradictory outputs for `isdir` and `exists`? I have not been able to do it yet.

[2021-08-19 14:43] mrocklin commented on #8058
Like @TomAugspurger , I read through this, and everything made sense as I was reading it, but now I'm having difficulty packing it into a small enough space in my brain to reason about it effectively :)

I'll add two notes here for context:

1.  Whenever we call `compute` in dask collections code we break the ability to operate asynchronously.  This isn't a big deal for users (most of the time) bu

[2021-08-19 15:44] rjzamora commented on #8058
Yes - We probably want to accept that (like in `set_index`) we really **need** to use `compute` in `read_parquet` whenever the metadata needs to be collected manually.  I agree that we should be transparent about this decision.

I think it would degrade the state of the world a bit, but I am still feeling open minded.  My intuition is that we should preserve the "_metadata-exists" code path for us

[2021-08-19 15:46] martindurant commented on #8026
@jrbourbeau , can you see if setting `S3FileSystem.retries = 10` (in the client and workers too) avoids this problem?

[2021-08-19 16:20] jsignell commented on #7851
Hmm, not sure if there is a specific expert, but there have been some roughly related issues. Specifically https://github.com/dask/dask/pull/7922 and https://github.com/dask/dask/issues/8042

[2021-08-19 17:07] ianozsvald commented on #8065
@jsignell thanks for checking the Pandas docs (and yes, if I was smarter I should have started there!). I've googled through the numpy docs and the only place I see references to column- and row-wise are in relation to stacking of arrays, everywhere else the axis discussion doesn't mention whether you should interpret that as columns or rows.
Being in agreement with the Pandas docs is definitely t

[2021-08-19 17:07] #8065 closed

[2021-08-19 18:06] #7986 closed

[2021-08-19 21:15] ncclementi commented on #7793
Closing this issue now, since we have a `dask-mongo` connector now. Leaving a link here for documentation purposes.
https://github.com/coiled/dask-mongo

[2021-08-19 21:15] #7793 closed

[2021-08-19 21:17] ncclementi commented on #4873
Adding a comment here for documentation purposes and letting @curiouscod3 that there is a `dask-mongo` connector now that you can find here.
https://github.com/coiled/dask-mongo

[2021-08-19 21:19] jrbourbeau commented on #7793
🚀 woo!

[2021-08-19 21:20] lmmx commented on #8045
I'm with you on all of the above. Regarding not overloading `read_csv`, I propose that the routine I'm outlining here can reuse the `sample_rows=10` argument.

That said, not sure about how else this check could be switched off (if it isn't switched off, then rows would be read from every offset, greedily, which may be undesirable for known-valid CSVs, e.g. those without multiline strings within r

[2021-08-19 21:28] ncclementi commented on #6321
@sanjaymeena It's been a while since this issue has the tag `needs info` and after a request for a minimal reproducible example, there has been no answer so I'm going to close this issue for now. But if you have such an example please feel free to re-open this issue with it.

[2021-08-19 21:28] #6321 closed

[2021-08-20 10:58] MrPowers commented on #6556
Added [a blog post here](https://coiled.io/parquet-column-pruning-predicate-pushdown/) on how to use column pruning and Parquet predicate pushdown filtering which can at least give users Googleable results if they're looking for the syntax 🤓

[2021-08-20 10:58] #6556 closed

[2021-08-20 12:27] wesm commented on #7933
Hopefully this isn't too OT, but I wanted to make Dask folks aware that we have an adjacent effort/discussion under way in Apache Arrow to develop a language-independent serialized expression format connecting user SDKs (e.g. things like Ibis or even dask.dataframe potentially) with Arrow-based/Arrow-compatible computing engines:

https://lists.apache.org/thread.html/r90c1e6ba1c7b27a960df3f27dc2c1

[2021-08-20 13:26] martindurant commented on #8045
This is quite a lot of information to take in, so before attempting that, a quick question, which of these does your procedure do:
- given a random offset in a CSV file, find the location of valid newline character that is truly a row terminator
- scan a CSV from the beginning to find the locations of all true row-terminating newlines

[2021-08-20 14:15] lmmx commented on #8045
Apologies for any information overload! I just wanted it in one place after having reached a conclusion I was confident in.

I misread your question, it does the former. It does not read an entire file!

It would only need to read an entire file if the file was a single row extending over multiple lines (if it was a single row on one line or otherwise in one partition then it would be assumed vali

[2021-08-20 14:18] joshmoore commented on #7673
The fix above has hit the mainline and should be released as 2.9.0 ASAP: https://github.com/zarr-developers/zarr-python/pull/812

[2021-08-20 14:39] ncclementi commented on #5960
I'm going to close this issue since it's been a while after Tom requested a minimal reproducible example and there was no answer. @jerrytim If you still have this problem, feel free to re-open the issue with a minimal reproducible example so we can help you.

[2021-08-20 14:39] #5960 closed

[2021-08-20 14:42] ncclementi commented on #8005
Closing this one due to the lack of info, @enthusiastics if you still having this issue please feel free to re-open with a minimal reproducible example so we can help you.

[2021-08-20 14:42] #8005 closed

[2021-08-20 14:48] ncclementi commented on #7614
Closing this one due to the lack of info, @Srj  if you still having this issue please feel free to re-open with a minimal reproducible example so we can help you.

[2021-08-20 14:48] #7614 closed

[2021-08-20 16:11] r-luo opened #8070 "Parquet Reading Failed due to `aiobotocore` release"
**What happened**:
I got this error
[code]
When trying to read a parquet file from s3 with:
[code]

**What you expected to happen**:
The same line hasn't generated any errors before today.

**Minimal Complete Verifiable Example**:
Essentially any s3 parquet read with `aiobotocore==1.4.0`

**Anything else we need to know?**:

I think it's due to the `aiobotocore==1.4.0` release 6 hours ago.

**Envi

[2021-08-20 16:15] r-luo commented on #8070
pinning `aiobotocore` to `1.3.3` solves the issue

[2021-08-20 16:29] chrisroat commented on #7851
Thanks for pointing out those issues, @jsignell .  It looks like #7922 is related to arrays iterating via blocks, which is similar to this, but here the iterate is via delayed (or in following @GenevieveBuckley , using numpy slicing).  And #8042 is requesting some sort of new functionality in computation, while this issue is around graph construction only -- not computation.

My investigation has

[2021-08-20 16:48] jrbourbeau commented on #8070
Thanks for raising an issue @r-luo. Closing as a duplicate of https://github.com/dask/s3fs/issues/514

[2021-08-20 16:48] #8070 closed

[2021-08-20 17:00] ncclementi commented on #7134
@AlecThomson  Checking in here, since it seems to be an existing option for your issue by using `xarray`  as suggested in the comment above, do you still want to leave this issue open or should we close it?

[2021-08-20 17:02] ayushdg opened #8071 "read_parquet equality (=) filter returns incorrect result"
**What happened**:
When using a `filter` with `read_parquet` consisting of the equality op `=` , results returned are incorrect. Using `==` however returns the correct result.

**What you expected to happen**:
Same behavior with `=` and `==`.

**Minimal Complete Verifiable Example**:

[code]
returns
[code]

while `==` returns the right result:
[code]
[code]

The same issue doesn't exist in pandas:

[2021-08-20 17:13] ncclementi commented on #6722
@saul-gush I will close this issue, due to lack of information. If you are still having this problem? Please feel free to re-open with a minimal reproducible example as described [here](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports)

[2021-08-20 17:13] #6722 closed

[2021-08-20 18:06] jrbourbeau commented on #8056
That's a fair point, here's what I've been able to come up with

[code]

when I run this locally I get the following

[code]

Note that `fs.exists(bad_path)` returns `False`, while `fs.isdir(bad_path)` raises a `FileNotFoundError: The specified bucket does not exist` error. This is the type of discrepancy I was running into earlier with `to_parquet` + `overwrite=True` and what motivated me proposi

[2021-08-20 18:23] rjzamora commented on #8058
Just a heads up that I submitted #8072 with a draft of some of the "pyarrow-dataset" changes I proposed.  If anyone has a system that was previously struggling with up-front metadata-processing, I'd be curious to know if the performance improves at all with that PR (cc @jrbourbeau).

Note that you can play with both `ignore_metadata_file` and `files_per_metadata_tasks` to compare the different alg

[2021-08-20 20:34] lmmx commented on #8045
I'm not sure if the dask `read_bytes` interface can be changed (if a new argument is added to it then it may break existing code that uses it), so I propose popping a kwarg at the very start of `read_bytes`,

[code]

passed only by `read_pandas` https://github.com/dask/dask/blob/e6b9e8983b26389c74036aeec615ac0e5ef34c65/dask/dataframe/io/csv.py#L547

and then the remaining kwargs would be valid for

[2021-08-21 08:43] NativeVex commented on #8042
Very cool! I've understood the link to mean I should be offloading my data to a bucket, and that's worked very well for the limited trial run I've done. Also I believe the documentation might be out of date here- https://docs.dask.org/en/latest/remote-data-services.html claims that you can use `'gcs.session.credentials,'` but `gcs.credentials.credentials` is the only thing that's worked for me as

[2021-08-22 16:24] mrocklin opened #8074 "Dask Arrow DataFrame"
Dask dataframe today supports a few different in-memory compute systems, primarily Pandas and RAPIDS/cudf, but also geopandas, spatialpandas, etc.. with subprojects.

The folks at Arrow are planning a compute backend as well (or there are already compute backends based on arrow memory) so we should probably consider how to support these in the future.

This issue is being pulled from https://githu

[2021-08-22 16:29] mrocklin commented on #7933
Thanks for jumping in @wesm .  That seems like an important topic to me.  I've made a dedicated issue for it at https://github.com/dask/dask/issues/8074

For the purposes of this conversation I think that Dask will need a high level expression system that is separate from Arrow's compute engine expression serialization format.  I don't think that this is what you were suggesting, but I doubt that

[2021-08-22 16:31] mrocklin commented on #8074
Thanks for jumping in @wesm .  This seems on-topic to me.

We discussed this over video, but I thought I'd copy that conversation here as well for the general public.  Once there is a Python-accessible way to use those kernels (presumably through something like Ibis) then I think that having a `dask.arrow` module or `dask-arrow` project that looked a lot like `dask.dataframe` or `dask_cudf` would

[2021-08-22 16:38] mrocklin commented on #8074
I suppose rather than dask-arrow I should probably say dask-ibis or some other thing-that-uses-arrow-memory, assuming that arrow itself doesn't want to grow the scope of maintaining a pandas-like compute layer.

[2021-08-23 02:15] AlecThomson commented on #7134
Thanks for following up on this @ncclementi. Indeed `xarray` is an alternative option I'll look into. However, it would still be nice to have the 'numpy drop-in' option that `dask.array` provides. Of course, this is naive to the difficulty of the implementation requirements in `dask`.

[2021-08-23 06:56] joshmoore commented on #7673
https://pypi.org/project/zarr/2.9.0/ is released, @martindurant

[2021-08-23 13:54] martinfleis opened #8075 "DataFrame.shuffle not in documentation"
`DataFrame.shuffle` method seems to be a part of the public API, drawing from the code but it is not listed in the API reference in the documentation. Is that on purpose (is it private?)? It made me unsure to which degree I can rely on it downstream.

https://github.com/dask/dask/blob/4229c16cf0cc7ed5f60f313618680bfd04e381ea/dask/dataframe/core.py#L1255

[2021-08-23 14:04] mrocklin commented on #8075
I don't think that it's going anywhere.  I would be fine with it being in
public API documentation (do you want to add this?).

Also, as a heads-up, I'm working on a newer algorithm here.  The API will
still be the same (I saw that you're doing this for geopandas) but there
may be new algorithms to learn from in the future that may perform slightly
better at large scale.

On Mon, Aug 23, 2021 at 8

[2021-08-23 16:09] mrocklin commented on #7933
Quick logistical update.  The plan here was for Rick or I to take a first pass at implementing the plan above before Aaron came back from vacation.  However, Rick was sidelined by Parquet issues and I was sidelined by shuffling ones.  As a result we're a little bit behind schedule.

@asmeurer I don't know if you are comfortable enough to try this blind (I imagine that you'll run into a couple of f

[2021-08-23 16:59] asmeurer commented on #7933
How long do you think it would take to do whatever it was you were planning on doing? I have other projects I can work on in the interim, but I'd say I'd probably like to get started no later than next week, so if it would take longer than that, I should probably just try to jump in.

[2021-08-23 17:01] mrocklin commented on #7933
I'm fully supportive of you just jumping in and was hoping that this is
what you were going to propose.  I like this just because it gets us moving
faster.  It does increase your frustration load I think though.  I suggest
that you take on the dev burden here and that you and I check in frequently
this week if that works for you.  I'll follow-up off-list as well.

On Mon, Aug 23, 2021 at 11:59 AM

[2021-08-23 17:26] ericpre opened #8078 "`da.percentile` of dask array with dask 2021.8.1 requires pandas"
**What happened**:
Latest version of dask breaks hyperspy test suite: https://github.com/hyperspy/hyperspy/actions/runs/1156515097
It seems that this is due to the fact that `da.percentile` of dask array with dask 2021.8.1 requires pandas

**What you expected to happen**:
pandas is not required as dependency

**Minimal Complete Verifiable Example**:

[code]
raises the following error:
[code]

**An

[2021-08-23 18:29] quasiben commented on #8078
@galipremsagar I recall you submitting a PR to resolve this, did that go in?

[2021-08-23 19:16] adriesse commented on #3245
+1

[2021-08-23 20:03] mrocklin commented on #7933
Just to reiterate a starting place I suggest starting with https://github.com/dask/dask/issues/7933#issuecomment-892087327 . This might proceed in a few steps:

## Create DataFrameExpr class, support backwards compatibility

We would make a DataFrameExpr and a DataFrameLeafExpr class (better names welcome).

We would then modifying the existing DataFrame/Series/_Frame classes to consume mostly jus

[2021-08-23 20:19] jrbourbeau commented on #8078
Thank you for reporting @ericpre. @quasiben I thought https://github.com/dask/dask/pull/8055 was sufficient, but there was an indirect `pandas` import through the dispatches in `dask.dataframe.dispatch`. Also, see https://github.com/dask/dask/pull/8079

[2021-08-23 21:45] max-sixty commented on #3245
Please do not leave +1s on issues. If you have something semantic to add, please feel free. Otherwise add a 👍 on the issue. Thanks.

[2021-08-23 21:46] max-sixty commented on #3245
(I added and deleted a comment because I thought this was the issue on the xarray repo, apologies)

[2021-08-23 22:49] #8075 closed

[2021-08-24 09:47] ritchie46 commented on #8074
Polars is a query engine on top Apache Arrow, so that would kill two birds in one stone. :)

I don't know if polars expression could also be beneficial to the earlier discussion. I can imagine that query plans/ expressions trees can be transpiled.

[2021-08-24 12:11] TomAugspurger opened #8081 "DataFrame.assign doesn't support "dependent" columns"
**What happened**:

pandas' assign supports "dependent" columns, where later arguments to `.assign` can refer to earlier ones: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.assign.html?highlight=assign#pandas.DataFrame.assign

[code]

With dask, this raises

[code]

**What you expected to happen**:

Same as pandas.

**Minimal Complete Verifiable Example**:

[code]

In pandas, we do

[2021-08-24 14:49] wesm commented on #8074
One of the goals of the "Arrow IR" we are discussing in the project now is to provide for a language-independent middleware to reduce the need to build custom bridges between front ends (including Dask) and backends, e.g. schematically something like

![image](https://user-images.githubusercontent.com/329591/130638420-fd6119b1-dbec-42e9-a764-a6b762a7514f.png)

(here keep in mind that Gandiva isn't

[2021-08-24 14:51] wesm commented on #7933
Indeed it wasn't what I was suggesting, so wanted to reiterate that I see these are parallel/complementary efforts, but where each can learn from each other (e.g. we want to make sure that the Arrow serialized expressions can support a lot of the concepts that a dask.dataframe-like interface would produce)

[2021-08-24 15:19] marcelned opened #8082 "Dask Dataframe index renaming doesn't work in place"
`Inplace` parameter doesn't behave as expected:

<img width="608" alt="Screenshot 2021-08-24 at 17 18 27" src="https://user-images.githubusercontent.com/82392567/130643593-54481251-a2d5-4afc-9311-e55f72cefc4d.png">

[2021-08-24 15:43] martindurant commented on #8056
Close this?

[2021-08-24 16:50] jrbourbeau commented on #8056
Yep, let's close via https://github.com/dask/dask/pull/8057 and continue to track over in https://github.com/dask/s3fs/issues/519

[2021-08-24 16:50] #8056 closed

[2021-08-24 17:12] jrbourbeau commented on #8030
Closing this issue as an ` ignore_metadata_file` option was added in https://github.com/dask/dask/pull/8034 and @rjzamora opened https://github.com/dask/dask/issues/8058 to discuss improving metadata processing

[2021-08-24 17:12] #8030 closed

[2021-08-24 22:12] jrbourbeau commented on #8082
Thanks for repoting @marcelned! I'm able to reproduce. My guess is that since we regenerate `.index` each time it's accessed:

https://github.com/dask/dask/blob/ab69fe124eb36a63c092026ab082ccb08311fc79/dask/dataframe/core.py#L480-L489

There's some underlying state that `rename(..., inplace=True)` isn't updating that it should. Is this something you're interested in working on? (no obligation thou

[2021-08-24 22:26] jrbourbeau commented on #8026
Setting `s3fs.S3FileSystem.retries = 10` (both on the cluster workers and my client Python session) didn't have an impact on rate errors being raised. However, adding Dask retries

[code]

did help

[2021-08-24 22:54] asmeurer commented on #7933
What is the best way to compare two meta objects to see if they are equal?

[2021-08-24 23:03] rjzamora commented on #7933
You could probably start with [assert_eq](https://github.com/dask/dask/blob/ab69fe124eb36a63c092026ab082ccb08311fc79/dask/dataframe/utils.py#L525) for now.  We could probably work out a more-streamlined check if one doesn't already exist.

[2021-08-25 04:02] asmeurer commented on #7933
I pushed up my very initial thoughts at https://github.com/dask/dask/pull/8084. I'm probably going to play around with this some more tomorrow, but if you have any initial thoughts on what I am doing before then, I'd love to hear them.

[2021-08-25 04:22] suriya-it19 commented on #8081
@TomAugspurger, I'm new here, I would like to solve this issue.

[2021-08-25 08:50] df19900725 opened #8085 "TypeError: '<=' not supported between instances of 'int' and 'str' if dask.dataframe use map_partitions for twice"
**What happened**: dask.DataFrame use map_partitions to add a new column. But the first time it will be successfully transformed, but it will throw `TypeError: '<=' not supported between instances of 'int' and 'str'` for the second time

**What you expected to happen**: it should be get correct new column for the second time

**Minimal Complete Verifiable Example**:

[code]

**Anything else we nee

[2021-08-25 09:07] suriya-it19 commented on #8081
I guess, updating each column once computed will work. Have made the changes as follows:

- For each in **kwargs(either callable functions or series frame) update in place with all corresponding columns
- Updated same df without copy

[2021-08-25 11:40] stromnov opened #8087 "Inconsistency and errors between different parquet engines on Spark-generated parquet files."
Creation of two partitioned parquet files using Spark:
[code]

Content of the parquet files:
[code]

#### Experiment 1 (`pyarrow-legacy` engine)
[code]

All works as expected.

#### Experiment 2 (`pyarrow` engine)
[code]
So, something goes wrong with hierarchy-inferred columns. The same exception with with `test2.parquet`.

#### Experiment 3 (`fastparquet` engine)
[code]
Reason : `fastparquet` eng

[2021-08-25 11:52] TomAugspurger commented on #8081
We still need the copy (that's part of the defined behavior of assign). We
need to assign the results of one kwarg to `self` before moving on to the
next one.

On Wed, Aug 25, 2021 at 4:07 AM Suriya Senthilkumar <
***@***.***> wrote:

[2021-08-25 13:07] suriya-it19 commented on #8081
Updated! Processing kwargs and assigning to the df one by one, so previously added columns can be used for upcoming columns. please check my PR.

[2021-08-25 22:14] TomAugspurger opened #8088 "`DataFrame.head` shouldn't warn when there's one partition"
dask.data

[code]

When there's just a single partition (or, more generally, if all the partitions are used), then there's no reason to warn.

I think the fix is change https://github.com/dask/dask/blob/7cfee4a394df591280c31e87b961873bec750c43/dask/dataframe/core.py#L1081-L1084 or perhaps https://github.com/dask/dask/blob/7cfee4a394df591280c31e87b961873bec750c43/dask/dataframe/core.py#L1071 to use

[2021-08-26 07:19] JaguarPaw2409 opened #8089 "dask/distributed failing randomly (KeyError: 'dask.dataframe')"
**What happened**:

**What you expected to happen**:

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

The behavior is weird as it is not failing all the time.

**Environment**:

- Dask version: 2021.08.0
- Python version: 3.7.10
- Operating System: Linux
- Install method (conda, pip, source): conda

[2021-08-26 23:33] DahnJ opened #8094 "`make_people` should work with `processes` scheduler"
**What happened**: I wanted to

[code]

But this failed with `TypeError: cannot pickle 'generator' object` because
- The default scheduler is `processes` which pickles the data
- `make_people` [uses a generator under the hood](https://github.com/dask/dask/blob/c5633c21e754df6b2c13195f1e2688e347c48963/dask/datasets.py#L79), which cannot be pickled
It also seems that [none of the tests](https://gith

[2021-08-27 14:52] #8089 closed, assigned to nobody

[2021-08-28 00:49] df19900725 commented on #8085
Sure. I will try to fix this.

[2021-08-29 14:39] Oxi84 opened #8095 "Can you add some meaningfull examples?"
I was not able to find a meanigfull example of using dask for multiprocessing. Could you add some.

I installed dask and add delayed code in my code and it does not do anything. And it should run a function in paralel but i just do no see any example on how to do it.

Of course i need to run function with parameters and get the result, like in python multiprocessing module.

[2021-08-29 18:18] orf opened #8096 "AttributeError: 'SingleBlockManager' object has no attribute 'axes'"
**What happened**:

We're creating a distributed dataframe and are calling `.apply` on it, to run a model on each row. This results in the traceback shown below.

Lots of partitions appear to complete fine, but after some time it errors.

**What you expected to happen**:

It not to error.

**Minimal Complete Verifiable Example**:

[code]

This results in:

[code]

**Anything else we need to know?*

[2021-08-30 05:33] umonaca commented on #7777
I can confirm this bug exists and I solved it by just removing the `processes=False` option. So I think the observation above is probably correct

[2021-08-30 15:31] jrbourbeau commented on #8095
Thanks for raising an issue. I recommend looking at https://examples.dask.org which has many example usages of Dask. In particular, if you're using the `delayed` interface check out https://examples.dask.org/delayed.html and/or the section in the documentation that covers the `delayed` https://docs.dask.org/en/latest/delayed.html.

For multiprocessing specifically, see https://docs.dask.org/en/lat

[2021-08-30 15:31] #8095 closed

[2021-08-30 15:35] jrbourbeau commented on #8096
Thanks for raising an issue @orf. It's unclear to me if this is an issue in Dask or pandas. Are you able to provide a minimal example for others to run? (see https://blog.dask.org/2018/02/28/minimal-bug-reports) Also, what version of `pandas` are you using?

[2021-08-30 15:42] tomwhite commented on #7764
Dask array in local synchronous mode works fine (with a workaround from https://github.com/pyodide/pyodide/issues/1603) on https://pyodide.org/en/latest/console.html

Nice for demos, teaching, trying things out etc.

[code]

[2021-08-30 16:01] mattcleigh opened #8099 "Dask running out of memory reading in csv files post 2021.04.0 update"
I have been using dask since the beginning of the year to calculate stats, plot histograms and convert file types for some large datasets (~1000 csv files with identical column names totalling ~180GB).

Using version 2021.3.0, dask has worked exactly as expected.

For example the code below uses very little memory, around 1GB for the whole duration of the program.

[code]

However, since updating

[2021-08-30 16:50] jrbourbeau opened #8101 "`test_tsqr_uncertain` failing on gpuCI"
`dask/array/tests/test_cupy_linalg.py::test_tsqr_uncertain` [failed on gpuCI](https://gpuci.gpuopenanalytics.com/job/dask/job/dask/job/prb/job/dask-prb/297/CUDA_VER=11.2,LINUX_VER=ubuntu18.04,PYTHON_VER=3.8,RAPIDS_VER=21.10/console) with ``TypeError: Implicit conversion to a NumPy array is not allowed. Please use `.get()` to construct a NumPy array``

[code]

cc @dask/gpu

[2021-08-30 16:56] quasiben commented on #8101
@charlesbluca can you take a look at this when you have a moment ?

[2021-08-30 17:05] jrbourbeau commented on #8099
Thanks for raising an issue @mattcleigh. It seems like you're running into https://github.com/dask/dask/issues/7583. A fix for this was included in the latest `dask==2021.08.1` release (xref https://github.com/dask/dask/pull/8040). If you're not using `dask==2021.08.1` yet, could you update and retry your workload?

[2021-08-30 17:10] jrbourbeau commented on #8101
Just wanted to note that this appears to only fail intermittently as the gpuCI build in https://github.com/dask/dask/pull/8102 (which only modified an unrelated test module) passed

[2021-08-30 17:24] charlesbluca commented on #8101
Yeah I'm not able to replicate this failure locally after several runs, so perhaps this is just a flaky test? I'm assuming the issue here is that either `b` or `out` are somehow numpy arrays, and I'll see if I can debug how this happens if I get a a failure.

In the meantime, do we have a preference on marking GPU tests as `flaky`?

[2021-08-30 19:26] orf commented on #8096
I'm really sorry - I couldn't get a minimal reproduction to work and it was only appearing sporadically on a job that took several hours to run. Removing `schema="infer"` seemed to stop it from happening. I know this isn't too helpful, but if this bites us again I will allocate some time to dig into it more and update this issue. I thought that the traceback alone might be enough for someone more

[2021-08-30 20:38] jrbourbeau commented on #8094
Thanks for reporting @DahnJ. Switching to a function seems like a reasonable thing to do.

[2021-08-30 20:45] jrbourbeau commented on #8101
Hrm interesting, just to confirm, you're using the same `cupy`, `numpy`, etc. versions as the gpuCI build?

[2021-08-30 20:50] jrbourbeau commented on #8096
I see. I certainly appreciate how difficult it can be to create a minimal reproducer, especially when the failure is sporadic. That said, I suspect it will be difficult for others to help debug things as is.

One thing that sticks in your code snippet is that you're mixing Dask concurrent.futures interface and Dask collections (in this case a DataFrame)

[code]

In general, we recommend not mixing

[2021-08-30 21:06] charlesbluca commented on #8101
Sorry, should've bumped this - I can confirm that this is a flaky test, but the chances of failure are relatively low (only failed 2-3 times after running the specific test around 300 times). It looks like the failure is what I suspected - at some point, we are calling `np.dot` on a numpy and cupy array, although I still am not sure why this happens sometimes

[2021-08-30 21:11] DahnJ commented on #8094
Do you mean that you agree that I should proceed with switching a *list* instead of a generator in [`_generate_mimesis`](https://github.com/dask/dask/blob/c5633c21e754df6b2c13195f1e2688e347c48963/dask/datasets.py#L67), or are you suggesting another approach?

[2021-08-30 21:23] jrbourbeau commented on #8094
Yes

[2021-08-30 22:19] jakirkham commented on #8101
Guessing you are already familiar with [pytest's ability to run a debugger during testing]( https://docs.pytest.org/en/6.2.x/usage.html#dropping-to-pdb-python-debugger-on-failures ), might be useful for exploring the stack and finding out where things go off the rails.

[2021-08-31 13:59] #5950 closed

[2021-08-31 17:41] jrbourbeau opened #8105 "`TypeError` in `asanyarray` `__array_function__`"
As reported by @jsignell and @jakirkham over in https://github.com/dask/dask/pull/8054

[code]

works fine with the latest `dask` `main` branch + `numpy=1.21.2`. However,

[code]

both fail with

[code]

and

[code]

respectively.

I should note that these snippets also fail with the `dask=2021.8.1` release, but `arr = np.asanyarray([1,2,3], like.dtype, like=like)` is missing the `(and 1 keyword-o

[2021-08-31 17:44] jakirkham commented on #8105
Yeah Peter's out this week

[2021-09-01 00:51] charlesbluca commented on #8101
It looks like the erroneous numpy array is associated with these `getitem` task(s) being generated by `tsqr`:

https://github.com/dask/dask/blob/bfbce61a623587ca8693ba280c76387bb8060c22/dask/array/linalg.py#L146-L153

It's a little hard to get any additional info from the debugger though since it's just reraising the above error and I imagine whatever went wrong seemingly happened earlier on

[2021-09-01 04:24] jakirkham commented on #8101
Might be worth trying with [the single threaded scheduler]( https://docs.dask.org/en/latest/scheduling.html#single-thread )?

[2021-09-01 04:55] charlesbluca commented on #8101
Thanks for the suggestion, I'll give that a try and bump this if I find anything else 🙂

[2021-09-01 08:46] clbarnes commented on #8006
Zarr's convenience methods accept Path objects as of 2.9.0: https://zarr.readthedocs.io/en/stable/release.html#enhancements

[2021-09-01 11:49] RogerMoens commented on #7718
I don't see any similar thing (i.e. promoting the precision) being performed within the NumPy linalg norm function:
https://github.com/numpy/numpy/blob/5ae53e93b2be9ccf47bf72a85d71ea15d15a2eed/numpy/linalg/linalg.py#L2500

So, an easy fix would be to remove the promotion of types. However, I am trying to figure out why this was required. Would it be possible that it is done to handle complex input

[2021-09-01 14:43] #8094 closed

[2021-09-01 14:55] jsignell commented on #8006
I just reran the original reproducer with zarr=2.9.0 and it worked as expected, so I think we can safely close this.

[2021-09-01 14:55] #8006 closed

[2021-09-01 15:47] jsignell opened #8108 "fsspec test failing on main"
The latest release of fsspec seems to have broken dask tests. It seems like an easy fix, but the fact that we are testing this within dask makes me a little wary that we might be depending on the error being exactly what we expect. @martindurant and @jrbourbeau in case you have extra insight.

[code]

[2021-09-01 15:56] martindurant commented on #8108
Correct, this is a fix in fsspec: the error is no longer a lower-level requests error is now `FileNotFoundError`

[2021-09-01 17:15] #8108 closed

[2021-09-01 17:48] dcherian opened #8110 "reshape constructs extremely large chunks"
**What happened**:

`reshape` constructs extremely large chunks.

Related: https://github.com/dask/dask/issues/5544; upstream xarray issue: https://github.com/pydata/xarray/issues/5754

**What you expected to happen**:

`reshape` should not construct extremely large chunks.

**Minimal Complete Verifiable Example**:

[code]
<img width="510" alt="image" src="https://user-images.githubusercontent.com

[2021-09-01 19:27] v1shanker opened #8111 "Inconsistent Tokenization due to Lazy Registration"
I am running into a case where objects are inconsistently tokenized due to lazy registration of pandas dispatch handlers.

Here is a minimal, reproducible example:

[code]

The bug requires a subclass of a pandas (or other lazily registered module) to be tokenized before and then after an object in the module.

It occurs because the `Dispatch`er used by tokenize[ decides whether to lazily register

[2021-09-02 01:06] quasiben commented on #8026
Pinterest engineering is also currently engaged with s3/parquet improved reading:

https://medium.com/pinterest-engineering/improving-efficiency-and-reducing-runtime-using-s3-read-optimization-b31da4b60fa0

[2021-09-02 03:21] davidhao3300 opened #8113 "Incorrect divisions when doing an inner join between 2 1-partition dataframes"
**What happened**:

When doing an inner join between 2 Dask DataFrames that both have 1 partition, the joined Dask Dataframe inherits the divisions from the right DF. This appears to be incorrect behavior when `on` is specified.

This problem was discovered when calling repartition() later on yielded an empty dataframe.

**What you expected to happen**:

The divisions field should be inherited fro

[2021-09-02 03:35] davidhao3300 commented on #8113
My current workaround is something like this:
[code]

[2021-09-02 03:53] GenevieveBuckley commented on #7167
7303 was a [partial fix](https://github.com/dask/dask/pull/7303#issuecomment-910396991) - should this issue be kept open to track the remaining arrow stuff?

[2021-09-02 15:45] jrbourbeau commented on #7167
Whoops, good catch @GenevieveBuckley -- reopening

[2021-09-02 15:47] jrbourbeau commented on #8101
`pdb` also has commands like `up` and `down` which will let you go up or down the call stack to help figure out where things went wrong https://docs.python.org/3/library/pdb.html#debugger-commands

[2021-09-02 20:59] raybellwaves opened #8115 "how to get info (total memory usage) of a dask.dataframe?"
I'm hoping to get an idea of the memory size of a dask.dataframe once I call .compute() on it

My current approach is

[code]

<img width="481" alt="Screen Shot 2021-09-02 at 4 53 39 PM" src="https://user-images.githubusercontent.com/17162724/131914676-3f388dc0-6ab2-4509-b488-cd312d604cc0.png">

pandas has `.info` which gives the this as well as other info (and returns a `NoneType`)

I see dask.da

[2021-09-02 21:37] jrbourbeau commented on #8115
Thanks for reporting @raybellwaves, I'm able to reproduce. It looks like if I pass `verbose=True`, then the Dask result is what I would expect based on the pandas `.info()` method:

[code]

[2021-09-02 23:33] raybellwaves commented on #8046
Interested in this.

Given the agreed approached here is only to read data it might make sense to work towards an intake plugin https://intake.readthedocs.io/en/latest/making-plugins.html cc. @blackary @tdhopper

[2021-09-03 18:01] Nogbit commented on #8027
@jorisvandenbossche any idea on a workaround?  I just ran into this myself with a 700MB metadata file using Dask with Pyarrow 5 to create and read the metadata.  Now I can't read it with Dask in my cluster.  I'm thinking a custom container with older versions etc, but that's a chore of course (using default image from the Dask helm chart right now).

[2021-09-03 18:22] jrbourbeau commented on #8027
FYI, I think @jorisvandenbossche is on vacation for a few more days. The `dask=2021.08.1` release added a `ignore_metadata_file=` keyword argument to `read_parquet` which can be used to bypass reading the global `_metadata` file altogether. That may be useful for working around the thrift `MaxMessageSize` issue

[2021-09-03 18:36] Nogbit commented on #8027
Fantastic, I will give that try

[2021-09-03 20:24] Nogbit commented on #8027
Not going too well.  I have over 100K parquet files, that metadata file seems pretty essential.  I run into this now https://github.com/dask/dask/issues/4701 as a `df = dd.read_parquet()` takes forever, with zero activity on the dashboard (workers sit there doing nothing).  Looks like I might have to rebuild my parquet files with a different engine.

[2021-09-03 20:29] jrbourbeau commented on #8027
Ah, I see. Could you try setting `gather_statistics=False` too then?

Also wanted to point out that there is some ongoing work to improve reading parquet metadata in parallel over in https://github.com/dask/dask/pull/8072

[2021-09-03 20:33] Nogbit commented on #8027
Isn't that param ignored if also ignoring metadata file?  Here is what I tried...(with and without inferdivisions)

        df = dd.read_parquet(
          path='s3://bucket-here/parquet/**/*.*',
          engine='pyarrow',
          ignore_metadata_file=True,     # https://github.com/dask/dask/issues/8027
          columns=parquet_to_read,
          infer_divisions=False
        )

[2021-09-03 22:16] Nogbit commented on #8027
I tried what you suggested, same problem.  I'm having issues when writing with fastparquet that I wasn't getting with pyarrow.

[code]

[2021-09-04 01:17] martindurant commented on #8046
Certainly, if there were a dask reader, there should also be an Intake plugin. It raises the question of whether Intake could add anything extra, such as listing the sets of data known to delta, giving summary history in the metadata, or providing a parameterised way to access sections/history of some particular set. If there were *not* enough effort available to provide a reader within Dask or da

[2021-09-04 09:40] guzuomuse opened #8117 "future is cancelled in add_done_callback"
**What happened**:
future is cancelled in add_done_callback
**What you expected to happen**:
we should get the future's result inner our callback function
**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:
run the code above you can see the print log from "my_cb" function:
...
call_back: False
call_back: False
call_back: False
call_back: False
call_back: True
cal

[2021-09-04 19:16] yiliema commented on #6167
For future reference for myself and whoever ends up here: if you call reset_index on result 1 before grouping on it it seems to work fine.

[2021-09-05 13:46] a-agmon opened #8118 "df.loc[id] often hangs though executed by worker"
Apologies - cannot generate a reproducible code, writing here hoping that I stumbled on a known issue.
Running on a distributed Dask cluster over AWS EKS.
The following describes the code that generates the issue.

A dataframe is loaded from S3 (CSV file of about 20GB with sessions data of users. each row has user_id, session_type, and start and end timestamps).

`df = dd.read_csv(query_file)`

th

[2021-09-06 02:21] johanbog opened #8119 "merge() with how="cross" does not work"
**What happened**:
Running `dd.merge(left, right, how="cross")` fails with `MergeError: Can not pass on, right_on, left_on or set right_index=True or left_index=True`.

**What you expected to happen**:

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Environment**:

- Dask version: '2021.09.0'
- Python version: 3.7.10
- Operating System: MacOS
- Install met

[2021-09-06 16:31] pentschev commented on #8101
#8122 should fix this, no more than 2-3 hours were spent debugging that one-liner fix. 🙂

Thanks everyone for jumping in trying to resolve this.

[2021-09-07 08:52] rajagurunath commented on #8046
Hi Team,

Thanks for the detailed Discussion/ideas and for granting me this opportunity to work on this feature, especially Thanks to @mrocklin.

And Apologies for dragging this issue too long (was in dilemma to create or not to create a WIP PR) After trying for some time, I have created a WIP PR https://github.com/dask/dask/pull/8123, Need help from the team to complete the PR.  Please review and

[2021-09-07 09:16] fjetter commented on #8059
cc @jorisvandenbossche I looked a bit into this and it turns out to be a segmenetation fault on pyarrow side. I couldn't find out more, yet, but if you have a suggestion on how to debug this, that's much appreciated.

[2021-09-07 10:57] GenevieveBuckley commented on #8110
@dcherian would you be able to try out [PR 8124](https://github.com/dask/dask/pull/8124) for me? I've given it a basic test, but it'd be very helpful if you could road test this in a more real-world situation, checking the final `compute` result, etc.

[2021-09-07 13:12] charlesbluca commented on #8101
Thanks @pentschev 😄

[2021-09-07 13:30] jsignell commented on #8096
I'm going to close this since it's not clear how to reproduce the issue, but please feel free to reopen if you are able to gather more information @orf

[2021-09-07 13:30] #8096 closed

[2021-09-07 13:35] #8101 closed

[2021-09-07 14:28] jsignell commented on #8113
Thank you for the excellent bug report! Are you interested in opening a pull request to resolve this issue? It seems like you have a good sense of what is going on.

[2021-09-07 15:18] jsignell commented on #8117
I tried to reproduce on dask main and distributed main and didn't see any cancelled futures. I am moving this issue to the dask/distributed issue tracker. But if you are able to double check that you are seeing it with the latest releases of dask and distributed that would be helpful.

[2021-09-07 15:28] jsignell commented on #8118
Is it possible that you are running out of memory? Does `df.loc[random_user_id].head()` or `df.loc[random_user_id].tail()` return?

[2021-09-07 15:34] #8105 closed

[2021-09-07 15:54] jsignell commented on #8115
So it seems like the task here is:
1. add the total memory usage to the output of `info(verbose=True)`
2. change the default from `verbose=False` to `verbose=True`

1 seems like a good and straightforward addition to me, but 2 is a little more controversial since flipping the kwarg would trigger computation everytime `info` is called, which is obviously something that dask tries to avoid.

[2021-09-07 17:14] davidhao3300 commented on #8113
Thanks! As mentioned above, I know enough to fix my particular case, but am not familiar enough with all the other possibile combinations of parameters to know whether or not I'll break other cases

[2021-09-07 20:11] jsignell commented on #8113
That's totally fair and that is what tests are for if you want to give it a go :)

[2021-09-08 23:02] timothymillar opened #8131 "Use of `da.where` before `da.einsum` on a chunked array produces incorrectly sized result"
**What happened**:

Using `dask.array.where` prior to `dask.array.einsum` on some chunked arrays results in an incorrectly sized array. This seems to only occur if the array is chunked in the dimensions that are retained by einsum. Using einsum without first using 'where' produces the correct result. Note that this occurs even when 'where' does not change any values within the array.

**What you e

[2021-09-09 06:14] GenevieveBuckley commented on #6907
I redid my experiment with the Dask [get entry point](https://docs.dask.org/en/latest/spec.html?highlight=get#entry-point-the-get-function), after my conversation with Peter. The results were the same as last time, but I thought it's worthwhile sharing here regardless.

- If you `.compute()` the input arrays, they appear correct.
- All of the intermediate task results look identical.
- ...but if w

[2021-09-09 13:43] #7436 closed

[2021-09-09 15:33] jorisvandenbossche commented on #8027
Unfortunately there is no direct workaround (if needing to read the actual file), except for using an older thrift version. But the built packages (both wheels and conda-forge, I think) of recent pyarrow versions include the latest thrift, so that might mean building (py)arrow yourself ..
I hope we can fix this on the pyarrow side for the next release (https://issues.apache.org/jira/browse/ARROW-1

[2021-09-09 15:41] jorisvandenbossche commented on #8027
Although it seems that some old builds of arrow-cpp 4.0 still have libthrift0.13

[2021-09-09 23:02] jcrist commented on #7933
Ok, I've finally had a day to poke deeply at this. I don't have any real code
to show for it (lots of scrapped implementations), but I've come up with a few
design issues/questions we'll want to tackle.

## 1. Structure of the expression datastructure

There are a few ways to structure an expression datastructure.

**Direct references**

All of the discussion above represents it as a DAG of `Expr`

[2021-09-09 23:19] mrocklin commented on #7933
Thank you for the writeup @jcrist .  I've only skimmed it so far, and plan to go through it more thoroughly tomorrow.  However, some quick notes:

I'd like to add a third approach to how to handle dependencies

1.  Use a tree, but be careful about duplicated expressions
2. Use a named layer approach
3. (new!) Use a `.dependencies/children` attribute as in the current plan, but also add a `.depende

[2021-09-09 23:34] asmeurer commented on #7933
I think my homework now is to take a closer look at HighLevelGraph, so I can't really say much here until I do that. It does seem to me from what I've done so far that 1) we don't really want expressions to be tied to closely to the container classes and 2) the expression system is very similar to the graph, just with more higher level information. So it might make sense to merge them. OTOH, the e

[2021-09-10 04:58] rajeshkumarrs commented on #6812
Hello .. Is this still open? Shall I work on this?

[2021-09-10 12:34] jsignell commented on #6812
No PR is linked so you can assume that no one is working on this.

[2021-09-10 14:13] jsignell commented on #8131
Thanks for taking the time to write this up. I can reproduce, but I'm kind of stumped. I went through line by line and it seems like it's this sum:

https://github.com/dask/dask/blob/e1974bffd6067659bb250fd84b6eb3f224cdb79f/dask/array/einsumfuncs.py#L247-L249

The input array seems right, but after the sum the dask array has the right shape, but when you call compute on it the numpy array has the

[2021-09-10 14:16] jsignell commented on #6907
Having just looked at #8131 this is looking very similar. @GenevieveBuckley do you think they could be related?

[2021-09-10 14:29] jsignell commented on #8082
Whoa I had no idea that a series could have a different name than its column name. For anyone else reading this, this is what pandas does:

[code]

I think you are right to bring up the option of removing the `inplace` option from rename. That seems like the safest and best path forward. Are you interested in opening a pull request to implement that change?

[2021-09-10 14:44] martindurant opened #8132 "Parquet enhancements"
A summary of my conversation/investigation with @rjzamora and @jrbourbeau .

xref https://github.com/rapidsai/cudf/issues/7475 , https://github.com/NVIDIA/NVTabular/issues/1088

Related PRs:
- https://github.com/dask/fastparquet/pull/678 (make statistics writign optional in fastparquet)
- https://github.com/intake/filesystem_spec/pull/744 (cat_ranges method for fsspec to grab many bytes chunks con

[2021-09-10 14:44] jsignell commented on #8082
Incidentally the inplace rename _does_ work for a series in dask. The issue you are running into is that when you access the series by getting it off the dataframe like `ddf["Animal"]` you actually get a new object. So even if you then rename that inplace, you don't affect the real object. Here's where the new object gets created:

https://github.com/dask/dask/blob/e1974bffd6067659bb250fd84b6eb3f2

[2021-09-10 16:01] martindurant commented on #8132
Proof of concept with the fsspec PR plus https://github.com/dask/s3fs/pull/530
[code]

Takes < 2s, cf 45s for the first attempt, and 9s for the best attempt so far. Note that this is using pyarrow's read blocks, not what should be more optimal, calculated from the pyarrow metadata. We cheat slightly by downloading the metadata along with the the columns data - normally we wouldn't know where the l

[2021-09-10 18:37] ncclementi commented on #8119
Hi @johanbog for what I'm reading in the docs the reason why `dd.merge()` with `how="cross"` does not work, it's because it's not supported. [`dd.merge` documentation](https://docs.dask.org/en/latest/generated/dask.dataframe.multi.DataFrame.merge.html#dask.dataframe.multi.DataFrame.merge)
[merge source code](https://docs.dask.org/en/latest/_modules/dask/dataframe/core.html#DataFrame.merge)

If wha

[2021-09-10 18:42] ncclementi commented on #8048
@Sh4zKh4n I will close this issue since it's been a while since there was a request for a minimal reproducible example. If you are still having this problem please feel free to re-open the issue with a minimal reproducible example. Otherwise, it's a bit difficult to provide some guidance/help.

[2021-09-10 18:42] #8048 closed

[2021-09-10 22:56] marcelned commented on #8082
@jsignell @jrbourbeau I made Pull request #8133, removing the inplace argument and associated logic from the renaming function.

@jsignell the inplace argument seems to be a highly contentious issue even in base pandas: https://github.com/pandas-dev/pandas/issues/16529. It is used in edge testing cases rather than user code.

Dask being lazily evaluated (so no saving memory by inplacing data on an

[2021-09-10 23:03] asmeurer commented on #7933
Question: The documentation at https://docs.dask.org/en/latest/high-level-graphs.html says "For example, in the case above we may want to automatically rewrite our code to filter our datasets before adding 100:" Is this optimization implemented somewhere? I saw optimizations.py but I couldn't tell if any of the functions in it actually do this. This is obviously the sort of optimization we want to

[2021-09-11 08:21] f-istvan commented on #7239
What is the solution for this? I have the same issue.

[2021-09-11 17:20] rajeshkumarrs commented on #6812
Is this issue about adding a meaningful error message for to_csv? I tried to look for File Not Found error message in ./dataframe/io/csv.py, which has the to_csv method, but I couldnt find the error message. Can you please help me if I am looking at the right place for this issue? If not, can you please provide direction? Thanks!

[2021-09-13 10:02] rrpelgrim commented on #8059
AFAICT just some garbage collection info messages that seem out of the ordinary. Copying the full logs of 1 worker below:

[code]

[2021-09-13 12:18] zzhengnan opened #8135 "Potential inconsistency in `dask.delayed` best practices"
Hi team. I'm somewhat puzzled by the following tips from https://docs.dask.org/en/latest/delayed-best-practices.html; specifically, tips 2 and 3 seem to be at odds with tip 1.

Regarding tip 2, one of the examples given in the docs is as follows. `part` is a delayed object, and yet is being called by a delayed function (`train`). Doesn't this violate tip 1?
[code]

Similarly, regarding the example

[2021-09-13 13:42] douglasdavis commented on #8135
In your first code block: `delayed` is not called inside of a `delayed` function (which is discouraged); `delayed` has already been called by creating the list of `Delayed` objects in `df.to_delayed`, so you're really just passing existing `Delayed` objects (created by `df.to_delayed`) to a `delayed` function, and this is fine.

In your second code block, the "large input" (`x`) is passed to a `de

[2021-09-13 14:51] #7924 closed

[2021-09-13 15:44] jsignell commented on #8119
In the meantime we could raise a clearer exception.

[2021-09-13 16:04] jsignell commented on #7957
For what it's worth, I think the pandas implementation is sort of confusing. Based on the dtypes of the different series, the dtype of the result can be different. In the case of `ser1.eq(ser2)` the dtype is `pd.BooleanDtype` and in the case of `ser1.eq(ser1)` the dtype is the more generic `dtype('bool')`.

[code]

Dask should try to match pandas, but just to say that you might not want to rely on

[2021-09-13 16:58] ncclementi commented on #8119
@jsignell that sounds like a great idea. I can take a crack at that but I have few questions

Looking at the code where `merge` is defined more explicitly here https://github.com/dask/dask/blob/9f0b00f039a7775dccccffe59d6802468508d9f7/dask/dataframe/core.py#L4614-L4634

Should the raise go in the definition in `.multi`, like somewhere in here?
https://github.com/dask/dask/blob/9f0b00f039a7775dcccc

[2021-09-13 17:00] jcrist commented on #7933
Since this information is easy to compute later (and once computed could be maintained as part of the optimization passes, as we do now), I'm skeptical of the benefits of maintaining bidirectional pointers. Usually you want to find nodes that have only one dependency/dependent (for e.g. fusion) or all dependents of a certain node. Having an external mapping computed during the optimization pass th

[2021-09-13 17:09] jcrist commented on #7933
I'd really like to hear from some of the people that worked on the HighLevelGraph stuff. Rebumping:

have been more involved in the previous HighLevelGraph work to chime in here
with some thoughts (cc @gjoseph92, @rjzamora, @jrbourbeau,
apologies if there are others I should ping, not sure who all was involved).

[2021-09-13 17:14] jsignell commented on #8119
Cool! Yeah I think it should go in multi right above the line that you are pointing to.

[2021-09-13 17:42] jcrist commented on #7933
Question: if during an optimization pass we change the inputs to a call such that they would have hashed differently, do we regenerate the layer name? Or do we leave it as is? For example:

[code]

Here we have `res1` and `res2`, which should have the same result. The first relies on column projection to automatically cull the loaded columns. The second specifies it manually. Do these share struct

[2021-09-13 18:00] asmeurer commented on #7933
I think the complexity here is thinking about how we handle duplicate nodes in a sane way. In other words, we really do have to think of expressions as a DAG, not just a tree. This will probably require some adaptation on my part. I'm used to SymPy. In SymPy, if you have an expression like `(x + 1)**2 + (x + 1)**3`, the `x + 1` is just repeated twice in the expression tree. The literal Add class m

[2021-09-13 18:03] jcrist commented on #7933
We let users write some things using the high-level api that _look_ like mutation. But no low-level task (the thing that is actually in the low-level graph) should ever mutate one of their inputs. So while you can do:

[code]

The actual pandas objects during execution are never mutated. Instead a copy is made, a new column added, and the result returned.

[2021-09-13 18:10] asmeurer commented on #7933
I'm probably missing some context here. Why would they have different hashes? Does the hash include some sort of timestamp that makes the exact same expression unique?

I guess I'm also not really understanding why this matters. Do you foresee this being a problem during optimization passes, perhaps related to the "duplicate computation" problem I talked about in my previous comment? It seems to m

[2021-09-13 18:23] jcrist commented on #7933
Currently all dask collection objects (e.g. `dd.DataFrame`) have a `name` that usually becomes part of the keys for that operation in the low-level graph (e.g. `(df.name, 0)` would be the key for the 0th partition in a dask dataframe). This name is usually computed by intelligent hashing of the arguments to the method that produced that object (the `tokenize` function is what handles this). For ex

[2021-09-13 18:39] asmeurer commented on #7933
Isn't that expected? In your example, they *aren't* the same. `res3 = df1.x + df1.y + df1.z` would work but `res3 = df2.x + df2.y + df2.z` would not. Requiring df1 and df2 to know this requires global knowledge of the entire graph, which complicates things.

This worries me, regarding using hash for equality. Canonicalization at construction should be avoided. You can do anything that you would be

[2021-09-13 18:50] jsignell opened #8137 "Test failure with pandas 1.3.3"
There is a new test failure on main with the latest pandas release 1.3.3. I am looking into it now.

[code]

[2021-09-13 18:55] jcrist commented on #7933
I think we're talking past each other, partly because our tower of abstractions here is complicated and partly because I'm doing a bad job of explaining things. I think this would be easier to clarify when we meet later this week.

[2021-09-13 19:02] jsignell commented on #8137
I think something is wrong with `nunique` specifically. I just tried with `count` and the outcome is as expected.

[2021-09-13 19:57] asmeurer commented on #7933
I agree, although it would be helpful if I had something concrete to work on in the interim, if you can suggest anything. For now, the only "work" I feel I can do on this is trying to become more familiar with the current Dask internals, and trying to think about how this should be implemented based on my (likely confused) understanding of things.

[2021-09-13 20:02] jsignell commented on #8137
It boils down to a change in the output from groupby.apply in pandas. Compare:

[code]
pandas 1.2.5:
[code]

pandas 1.3.3:
[code]

[2021-09-13 20:06] ncclementi commented on #6329
@raybellwaves  Are you still interested in adding the example above or some version of it? I'm noticing there are no PR's linked to this issue.

[2021-09-13 20:14] ncclementi commented on #5126
I believe this issue is quite out of date since the config setting has changed a lot since then, and the documentation has been updated multiple times. I will close this issue, for now, if there is a need to still be more explicit in the configuration docs, we can always re-open it.

[2021-09-13 20:14] #5126 closed

[2021-09-13 20:15] jcrist commented on #7933
That's fair. I'm actually free now for a bit if you want to meet to go through the current dask internals.

[2021-09-13 20:22] ncclementi commented on #4358
Closing this issue since, this was fixed in https://github.com/dask/dask/pull/4382, and updated here https://github.com/dask/dask/pull/5685 and here https://github.com/dask/dask/pull/5531 but the issue was never close.

[2021-09-13 20:22] #4358 closed

[2021-09-13 20:29] ncclementi commented on #4813
@TomAugspurger would you say this has been resolved, it looks like it to me but I might be missing something. If so, should we close the issue?

[2021-09-13 20:36] timothymillar commented on #8131
Thanks for looking into it.
Playing around with this shows it's not always a shape error, sometimes the shape is correct but the values are wrong and sometimes dask raises a ValueError:

E.g. wrong values are returned:
[code]
[code]

- If I re-run this example with `chunks=((3,3), (2,))` I get the correct answer.
- If I re-run this example with `chunks=((4,1,1), (2,))` einsum produces the wrong sh

[2021-09-13 20:40] ncclementi commented on #5100
Checking in here, it seems that installation instructions have changed a bit since this issue was open. I believe we are not having this problem anymore, as a matter of fact, I believe this PR https://github.com/dask/dask/pull/6399 adds the instructions to create the environment from the CI file.

Closing the issue, since it is resolved.

[2021-09-13 20:40] #5100 closed

[2021-09-13 20:44] timothymillar commented on #8131
Ah, the shape errors seem to be a result of broadcasting. Any (non-leading) 1s are getting treated as the leading value. So `chunks=(2,1,1,1,1)` results in an array of shape (10, 10) and `chunks=(2,2,1,1)` results in an array of shape (8, 8).

If there is a mixture of chunk sizes other than 1s (or if the first value is 1) then you get the `ValueError` related to broadcasting.

[2021-09-13 20:48] ncclementi commented on #2930
@jakirkham checking-in here, would you say this issue was addressed with the note added here https://github.com/dask/dask/pull/6040/commits/0793e125a3cc7608a8096bfa1e41093ed7eaf635 or this is still not documented enough?

[2021-09-13 20:55] ncclementi commented on #4058
Hi folks, checking in here, it seems this was addressed here https://github.com/dask/dask/pull/6403 and we could probably close this issue, is that accurate or am I missing something?
cc: @jsignell

[2021-09-13 21:00] ncclementi commented on #8099
@mattcleigh checking in here.  Are you still having this issue or has an update to Dask 2021.08.1 solve this problem for you.

[2021-09-13 21:04] jrbourbeau commented on #8099
Ah, thanks for following up here @ncclementi! Indeed I think https://github.com/dask/dask/pull/8040 resolves this issue. @mattcleigh let us know if that's not the case and we can re-open

[2021-09-13 21:04] #8099 closed

[2021-09-13 21:16] jakirkham commented on #2930
Not really since that PR is just showing how the `name` can be changed. The issue is really ask to document what happens when the `name` is unspecified or has a default value.

[2021-09-13 22:18] jakirkham commented on #4058
Agreed let's close. That PR both fixed broken links and added a CI check. If there's something else missing, please feel free to reopen.

[2021-09-13 22:18] #4058 closed

[2021-09-13 23:36] ncclementi opened #8140 "`.visualize()` returns wrong graph when having multiple arithmetic operations"
My understanding is that  Delayed objects support several standard Python operations, each of which creates another Delayed object representing the result.
For example, it supports arithmetic operators, e.g. *, -, +

as a matter of fact, the following code shows this:

[code]
[code]
Returns this graph:

![Screen Shot 2021-09-13 at 6 57 53 PM](https://user-images.githubusercontent.com/7526622/13316

[2021-09-14 01:21] GenevieveBuckley commented on #6907
Hm, maybe! Thanks for highlighting that here, Julia

[2021-09-14 01:56] TomAugspurger commented on #4813
Yep I think so too.

[2021-09-14 01:56] #4813 closed

[2021-09-14 07:50] jorisvandenbossche commented on #8059
Hmm, with the current information that's difficult to say. Were you able to observe in what functionality the segmentation fault happened? (is it from writing the parquet file, or from converting to arrow, ..?)
My first suggestion would be to use a debug build of arrow which can give more information when crashing (for this you will probably have to build Arrow from source, AFAIK)

Some other non-

[2021-09-14 07:53] jorisvandenbossche commented on #8027
Small update: we have a PR to fix this for the next pyarrow release (https://github.com/apache/arrow/pull/11123, thanks to Antoine Pitrou). There are some security questions related to a CVE, but hopefully that can get resolved.

[2021-09-14 09:22] Nickkontschak opened #8141 "`.corr()` takes orders of magnitude longer then `np.corrcoef()`"
I want to create a correlation matrix for a large dataframe (>1k columns, >2 million rows).

**What happened**:
The numpy calculation runs in ~6sec for a dataframe of shape (1000000, 1000). The dask calculation did not finish in >1hour.

**What you expected to happen**:
I expected Dask to finish the calculation in a reasonable time similarly to the numpy runtime.

**Minimal Complete Verifiable Exa

[2021-09-14 12:53] MrPowers commented on #8087
@stromnov - thanks for raising this issue.  When Spark writes out files with `partitionBy`, the columns that are abstracted to the filesystem aren't actually written in the Parquet files.  This is consistent with the Hive conventions.

It's easier to see with an example.

[code]

Here's what's written to the filesystem in `/Users/powers/Documents/tmp/spark/some-df`:

[code]

Let's look at the cont

[2021-09-14 13:11] martindurant commented on #8087
fastparquet certainly does support hive-style partitioning, and there are tests in both the core library and dask for this. Your dataset is special, because all the data files live in the same directory, so there is no unambiguous way to know where the root of the dataset directory tree is (you could have avoided this by instructing spark to write a global metadata file.

With fastparquet:
[code]

[2021-09-14 13:17] jsignell commented on #8137
@jorisvandenbossche do you know if this is an intentional change? From reading the groupby kwargs it looks like `group_keys` is meant to control this behavior, but that kwarg is True by default.

The behavior also differs from the behavior if you pass a string as the `by`.

[code]

[2021-09-14 13:28] jsignell commented on #8137
I think this PR on pandas would resolve this behavior https://github.com/pandas-dev/pandas/pull/34998

[2021-09-14 13:42] jorisvandenbossche commented on #8137
That last pandas example in https://github.com/dask/dask/issues/8137#issuecomment-919141783 doesn't seem to have changed between 1.2.5 and 1.3.3?

[2021-09-14 13:45] jsignell commented on #8140
I think the visualization is correct. If you look at the materialized task graph you'll see that the add ends up as two tasks the second of which takes the output of the first as input.

[code]

[2021-09-14 13:56] rjzamora commented on #8087
Disk partitioning is certainly supported by read_parquet. Thanks for sharing the dataset here @stromnov - I'll try to figure out what is going wrong.

[2021-09-14 14:04] jsignell commented on #8141
This is kind of an odd comparison. The dask analog for `np.corrcoef` would be `dask.array.corrcoef`. Here's an example using that:

[code]

The non-distributed equivalent for dask.dataframe is pandas.

[2021-09-14 14:08] jsignell commented on #8137
Right, that one always returns the groups as well as the original index. This is the one that changed: https://github.com/dask/dask/issues/8137#issuecomment-918531004

[2021-09-14 14:11] #8008 closed

[2021-09-14 14:15] jsignell commented on #4058
Thanks @JimCircadian for your work on this!

[2021-09-14 14:53] TomAugspurger commented on #8137
@jsignell do you know which output we actually want? If we want the "old" way, we need to trick pandas into thinking that the index has changed.

[code]

Index.copy is shallow, so the actual data shouldn't be copied, so this should be pretty cheap.

https://github.com/pandas-dev/pandas/pull/34998 is the change we want to pandas, but I don't think that's likely to land any time soon.

[2021-09-14 15:42] jorisvandenbossche commented on #8137
OK, so pure pandas reproducer (just replacing dask with pandas when calling the `makeTimeDataFrame`):

[code]

Tom's explanation is correct about the underlying issue (did the resulting index change or not?) / the discussion going on in https://github.com/pandas-dev/pandas/pull/34998. But, we still should not have changed this behaviour in a bug-fix release, though (the actual referenced PR that m

[2021-09-14 15:46] jorisvandenbossche commented on #8137
@TomAugspurger there is a small mistake in your example. In the second case, the `lambda x: f` is not actually calling the function, so that needs to be `lambda x: f(x)` (or simply `apply(f)`).
However, when fixing that, this still gives the new behaviour of not giving a MultiIndex (so it doesn't do anything different than the pure `lambda x: x.drop_duplicates()`).

[2021-09-14 15:56] TomAugspurger commented on #8137
Ah sorry about the incorrect example :/

[2021-09-14 16:58] jorisvandenbossche commented on #8137
BTW, it's a bit unfortunate this was only catched after the release. But I suppose the upstream builds have been failing too much to notice those additional failures ..

[2021-09-14 17:47] jsignell commented on #8137
Totally. I have been trying to crack away at them but there are still outstanding failures.

[2021-09-14 18:01] jsignell commented on #8036
The groupby issues seem to have been resolved upstream. These issues no longer exist on main.

[2021-09-14 18:48] jsignell commented on #8036
Actually they were just being drowned out by a `FutureWarning` for `pd.Int64Index` :facepalm:

[2021-09-14 19:07] jsignell commented on #8036
@jorisvandenbossche I think most of these errors have to do with changes to the index in the response from groupby as well.

[2021-09-14 19:49] ncclementi commented on #8140
Yep, after taking a look and studying a bit more about how the built-in `add` function works, this makes sense. It is basically computing first the sum of `x` and `y` and then adding that to `z`.  I'm not seeing a change in the times just because the two `add` in the graph of this example, take a few micro-seconds which is nothing compared to the order of magnitude of the `sleep(1)` of inc.
[code]

[2021-09-14 19:49] #8140 closed

[2021-09-14 21:37] rjzamora commented on #8087
For `engine="pyarrow"`, it seems that the root problem is that the "pandas" key-value metadata is being used to check which columns are physically stored in the file (since this metadata does not include disk/directory partitions).  I added [a possible fix](https://github.com/dask/dask/pull/8072/commits/ae3fc23d9c2bafb3132fa9150eb0811f2026c616) for the case that the pandas-metadata is missing in #

[2021-09-14 22:07] a-agmon commented on #8118
Thanks for the reply @jsignell  (and apologies for the delay in answering).
I have made several tests and, indeed, when the call to `df.loc[random_user_id].compute()` hangs then the call to `df.loc[random_user_id].tail()` also hangs and does not return.
Where am I running out of memory? How can I resolve this?
(I should also say that using the same dataset and cluster, sometimes I actually do get

[2021-09-15 01:31] MrPowers opened #8145 "to_parquet fails when append=True"
**What happened**: Wrote some Parquet files to a directory.  Then tried to write more Parquet files with `append=True` and the code errored out.

**What you expected to happen**: I expected `append=True` to allow the second write to work.

**Minimal Complete Verifiable Example**:

[code]

Here's the error message: ValueError: Appended divisions overlapping with previous ones.
Previous: 5 | New: 0

[2021-09-15 01:32] MrPowers commented on #8145
cc: @dask/io

[2021-09-15 02:39] MrPowers opened #8147 "Unified data reader / writer interfaces"
This post summarizes some of the inconsistencies in the reader / writer APIs.

Inconsistencies naturally arise as open source projects develop.  I think the project is now in a place where we can think about the readers / writers holistically and design an interface that'll be internally consistent.  This'll also be a great opportunity to revisit assumptions and defaults (e.g. default append behav

[2021-09-15 11:49] jorisvandenbossche commented on #8058
Thanks @rjzamora for this thorough wite-up and the proposal. Generally it certainly sounds as a good improvement of the current state. Will take a look at your open PR for this as well.

Putting this a bit in a broader perspective, I am wondering to what extent this _really_ solves the problems, though. A large part of the problem comes from the single, large binary blob of the `_metadata` file th

[2021-09-15 14:29] mrocklin commented on #8147
Thanks for writing this up @MrPowers .  In general I think that it makes sense to assess our I/O routines.  cc @dask/io

I encourage you to write up your thoughts as a proposal.  I think that it's easier for folks to think about a possible solution than it is to talk about an existing problem.  I don't think that we'll get much disagreement here that inconsistency is bad.  The one caveat might be

[2021-09-15 15:38] MrPowers commented on #8147
Moving on to proposals:

**Save modes**

* append - add files to existing folder
* overwrite - delete all files in folder, then write
* errorifexists - throw an error if any files are in the folder, then write

The default save mode should be append.  The current default save mode is clobber, which I don't think should even be an option.  Clobbering makes partial overwrites possible, which I don't

[2021-09-15 16:23] jsignell commented on #8137
I missed this yesterday but @TomAugspurger I think we need the old way or a newer way where only the group names are included in the index and the original index is dropped. I spent a while trying to come up with a workaround, but I couldn't quite work it out. The best I could come up with was iterating over the groups rather than using apply.

[2021-09-15 16:28] TomAugspurger commented on #8137
One option is to ensure that the index of the result of the apply changes by using `.reset_index()` and then setting it on the final result.

[code]

Or we can skip the tests for now and see if the old behavior is restored for pandas 1.3.4. This is really hard to work around.

[2021-09-15 16:32] jsignell commented on #8137
Yeah I did skip the test for now in #8142.

Just FYI there are a lot more of this kind of issue popping up in the upstream tests. Here's an example:

[code]
ref https://github.com/dask/dask/issues/8036

[2021-09-15 16:33] jsignell commented on #8137
That is a nice workaround. I hadn't thought of that one :slightly_smiling_face:

[2021-09-15 18:14] jakirkham opened #8152 "Warn if `num_workers == 1`"
Currently `num_workers` can wind up being `1` if a machine has only a single CPU (like a minimal cloud instance). In these cases, it might be worth warning users that they only have `1` worker and so they won't get the benefits of parallelism with Dask. Of course the messaging/communication may need a bit of thought to find the right balance.

[2021-09-15 19:18] abergou commented on #8152
Setting `num_workers=1` is useful for debugging purposes across all schedulers (and can also be useful in other instances) so I would suggest that such a warning only appear if a user requested something other than num_workers = 1 (including in an explicit num_workers default = 1).

[2021-09-15 19:55] jsignell commented on #6535
I just came across this issue again and now I'm wondering if it might make more sense to use `set_index` to reorganize the data by the column that you are grouping by. Another option would be to use `groupby.get_group` and iterate through all the groups. That would make more sense when you have a low cardinality in your `by` column.

[2021-09-15 20:21] jakirkham commented on #8152
To be clear, this is not referring to [the single-threaded scheduler]( https://docs.dask.org/en/latest/scheduling.html#single-thread ). This is referring to cases where threads or processes are used, but only `1` worker is present.

Also this is not proposing removing this functionality. Only raising a warning to make users aware that this may be an unusual setup that is not likely to perform well

[2021-09-15 20:23] jsignell commented on #8118
Looking at this with fresh eyes I'm a little confused why you are both setting the index to `user_id` and doing a groupby on `user_id`. Also I assume this is just a typo in your reproducer, but you have `sus = result.loc[random_user_id].compute()` not `sus = df.loc[random_user_id].compute()` right?

[2021-09-15 22:41] jrbourbeau opened #8154 "`git clone` issue in gpuCI build"
In a couple of PRs we've noticed gpuCI failing to clone the `dask` repo (see [this build](https://gpuci.gpuopenanalytics.com/job/dask/job/dask/job/prb/job/dask-prb/397/console) for an example)

[code]

cc @dask/gpu

[2021-09-15 22:53] jakirkham commented on #8154
cc @charlesbluca

[2021-09-15 22:54] jakirkham commented on #8154
Mentioned internally though my guess is most folks are already signed out for the day.

[2021-09-16 00:09] ncclementi commented on #7570
@nikusha37 As another alternative you can save the computations as a performance report which will generate an HTML of some useful information. See https://distributed.dask.org/en/latest/diagnosing-performance.html#performance-reports

[2021-09-16 00:16] ncclementi commented on #7356
@lfdversluis checking in here. Has this issue been resolved with the update of Dask or you are still running into this problem?

[2021-09-16 00:47] ncclementi commented on #6811
Checking in here:
As of Dask 2021.08.1  and pandas 1.3.2 the example above follows this behavior.
[code]
[code]

[code]
[code]

[code]
[code]

[code]
[code]

[code]
[code]

[code]

[code]
@TomAugspurger is this the behavior we should expect, or we need to re-visit the types returned?

[2021-09-16 01:15] ncclementi commented on #6696
Closing this, since it's currently fixed.

![Screen Shot 2021-09-15 at 9 13 26 PM](https://user-images.githubusercontent.com/7526622/133533451-88dcc76c-d09c-46de-9544-29a7f44a25c3.png)

[2021-09-16 01:15] #6696 closed

[2021-09-16 01:25] ncclementi commented on #6477
@mgorny and @gforsyth checking in here. I've personally haven't seen this on the CI but I might be missing something, I can't reproduce locally so I'm wondering, Is this issue still an issue or we should close it?

[2021-09-16 01:53] GenevieveBuckley commented on #8152
Might be one for the "good first issue" tag?

[2021-09-16 03:23] jakirkham commented on #8152
Was going to wait to see if others agree with this change or not first

[2021-09-16 03:28] GenevieveBuckley commented on #8131
Just want to draw your attention to this change Klaus made in order to properly calculate array shapes using blockwise
- [explanation](https://github.com/dask/dask/pull/7980#issuecomment-915079374)
- [code changes](https://github.com/dask/dask/pull/7980/files/2200bf655e290fd2fcb9b441c457e1f098a96138..bb55ac9885f6afc17911f701fcdfbbe0307b533f)

I suspect what needs to happen with broadcasting here m

[2021-09-16 05:03] GenevieveBuckley commented on #8131
Drilling a little deeper into which specific line shows the problem, this blockwise call in the reduction looks problematic:

https://github.com/dask/dask/blob/478a794717a81b8b317fb4b7710eef89e8e150a5/dask/array/reductions.py#L158-L160

If you pop a breakpoint in there, `x.compute()` works fine but `tmp.compute()` produces a broadcast error:

[code]

What's baffling to me is why it's only differen

[2021-09-16 06:55] mgorny commented on #6477
I haven't seen it since, so feel free to close.

[2021-09-16 13:46] #1279 closed

[2021-09-16 14:06] #6477 closed

[2021-09-16 14:20] jsignell commented on #6811
I think I can answer this one. There are a couple things going on here. I ran into some of them recently when working on #7719.

1. Pandas has decided that timedelta and datetime columns should be treated as numeric. Dask hasn't quite kept up, so when you call `.mean` or `.std` on a whole dataframe, dask will drop time columns.
2. There are no Dask implementations of std for timedelta, and no impl

[2021-09-16 14:28] ajschmidt8 commented on #8154
We just pushed some updates to CI that should address this. Please try re-running the tests again to see if it is resolved.

[2021-09-16 14:35] jrbourbeau commented on #8154
Re-running tests here https://github.com/dask/dask/pull/7719#issuecomment-920959574

[2021-09-16 14:44] jakirkham commented on #8154
Looks like [it worked]( https://gpuci.gpuopenanalytics.com/job/dask/job/dask/job/prb/job/dask-prb/CUDA_VER=11.2,LINUX_VER=ubuntu18.04,PYTHON_VER=3.8,RAPIDS_VER=21.10/lastBuild/consoleFull ) 😄

[2021-09-16 14:47] ajschmidt8 commented on #8154
Cool. Feel free to close this issue. We added `ssh` credentials to the clone operations to prevent them from hitting GitHub's rate-limit for unauthenticated requests.

[2021-09-16 14:56] jrbourbeau commented on #8154
Thanks @ajschmidt8!

[2021-09-16 14:56] #8154 closed

[2021-09-16 15:29] #6434 closed

[2021-09-16 15:29] jrbourbeau commented on #7570
Thanks @SultanOrazbayev @ncclementi for providing feedback here. As mentioned, there are a couple of ways one can save dashboard plots to static files today. @nikusha37 if there's something you think would be broadly useful to add the Dask's performance reports, please let us know

[2021-09-16 15:29] #7570 closed

[2021-09-16 17:22] jsignell commented on #7333
I'm going to close this since James' suggestion seems like the right approach.

[2021-09-16 17:22] #7333 closed

[2021-09-16 17:25] jsignell commented on #7930
I'm wondering if your original approach would work better now that #7583 is resolved. Are you able to update to latest dask and try again?

[2021-09-16 18:05] umonaca opened #8156 "Improve `DataFrame.query` docstring with local variable example"
**What happened**:
Prepare Dask distributed:
[code]

This works:
[code]
This doesn't work:
[code]
Throws UndefinedVariableError("local variable 'pick' is not defined").

**What you expected to happen**:
Dask version of DataFrame.query should work as in pandas.

**Minimal Complete Verifiable Example**:
See above

**Anything else we need to know?**:
No

**Environment**:

- Dask version: 2021.8.0
- P

[2021-09-16 18:17] a-agmon commented on #8118
Thanks for the response, @jsignell
The run_alg function used here `df.groupby('user_id').apply(run_alg)`, is a function that accepts and calculates user data of one user_id. I call the `set_index('user_id')` beforehand in order to execute all the required shuffles first.

There is no typo in the code I provided  - I run this `sus = df.loc[random_user_id].compute()` on the original df to test the f

[2021-09-16 18:30] jsignell commented on #8111
Thanks for writing this up @v1shanker! I looked at it at the time but forgot to write down what I found :facepalm: Looking at it again now I can't quite figure out what the behavior should be. Regardless of whether I've tokenized a pandas object or not, I get a different hash every time I call `dask.base.tokenize(custom_df)`. Is that what you see?

[2021-09-16 18:39] jsignell commented on #8156
Hmm yeah I don't think the `@` syntax is necessarily supported in dask. As a workaround either of these will work:

[code]

[code]

[2021-09-16 18:41] v1shanker commented on #8111
Yes I do see this behavior now (although I can't remember if I tested this particular case when I wrote this up).

So it seems there are two different issues here:

1. How subclasses of  DataFrames (and likely other types) are tokenized
2. The inconsistent dispatching described in the initial issue.

1. Likely hides observation of 2. in most (if not all) cases.

Thanks for taking a look! Happy to

[2021-09-16 18:45] jsignell commented on #8156
Or you can do

[code]

[2021-09-16 18:49] Nickkontschak commented on #8141
That is a fair point. I started to use `np.corrcoef` before I tried dask since the pandas version takes longer (apparently since it checks NAs). I think that Dask might simply not fit for my use case and will focus on other approaches.

Here are more timings with every dask version taking significantly longer in case others are interested and wants to look into it.

[code]
[code]

[code]

`dask.ar

[2021-09-16 19:11] N4321D commented on #7930
Thank you!
Using 2018.08.1 (newest version on anaconda)
It partly works now without the distributed cluster:

not using distributed:
- Working: Calculating the mean
- Working: Saving h5 with dask array (da.to_hdf)
- Not working: Saving to h5 with dask dataframe (ddf.to_hdf) still overloads the memory and kills the kernel when at ~50% using the local cluster.

Using distributed cluster:
- Not worki

[2021-09-16 20:16] umonaca commented on #8156
Sometimes there will be complex queries. Besides, f-string does not always work, for example, if you want to use datetime object into the query.

[2021-09-16 20:22] jrbourbeau commented on #8156
Will @jsignell's other suggestion (xref https://github.com/dask/dask/issues/8156#issuecomment-921153847) work in that case?

[code]

[2021-09-16 20:51] martindurant commented on #8147
A few high-level thoughts, without getting into too much detail.

I totally agree that the large number of options available in the various IO functions currently makes them hard to use and hard to optimise. Obviously they have grown organically, as more options have become available.

Secondly, I agree that we can revisit what reasonable defaults to have, such as data overwrite and filename gener

[2021-09-17 01:48] zzhengnan commented on #8135
Thanks for the reply @douglasdavis. I'm afraid I'm still not getting it.

Regarding your comment below, I thought we shouldn't pass a Dask collection into a delayed function, [per the docs](https://docs.dask.org/en/latest/delayed-best-practices.html#don-t-call-dask-delayed-on-other-dask-collections)?

Specifically, the following example is marked as a usage example that should be discouraged.
![im

[2021-09-17 03:52] GenevieveBuckley commented on #8152
I think what you're proposing sounds reasonable. Yes, let's see if other people also want to weigh in.

[2021-09-17 14:48] gerrymanoim commented on #7933
Thanks for highlighting this thread in the Dask Heartbeat post. I wanted to mention that we're working on a similar-ish (more high level?) effort in https://github.com/ibis-project/ibis/, which now has a (very alpha) dask backend. Following the developments here with interest.

[2021-09-17 19:18] jsignell commented on #8118
Ok thanks for the additional context! So the groupby is not part of this issue at all, it's a separate task graph. So it's really just an issue with calling `.set_index` and then `.loc`. I am thinking this might have to do with the number of unique user_ids. It should be fast to do a `loc` if the data is persisted.  Has the persist finished? You can use `wait` from distributed to check that.

I am

[2021-09-17 19:41] asmeurer commented on #7933
@gerrymanoim any references you can provide for similar work in ibis would be helpful to see how you are tackling the same problems. My understanding was that ibis already has an expression system, so I'd be interested to hear what works and what doesn't work in the ibis design.

[2021-09-17 20:55] jsignell commented on #7930
Ok thanks for the report!

[2021-09-17 21:20] jsignell commented on #8141
On my machine the following takes about 30 seconds and the numpy version takes 13 seconds.

[code]

[2021-09-18 18:23] umonaca commented on #4869
I am seeing a lot of bugs when running code like `df.groupby(by='APCODE')['Account ID'].nunique().compute()`. Call stack looks like the following:
[code]
When running another line of code with two groupby columns `df.groupby(by=['Account ID', 'Date'])['APCODE'].nunique().compute()` I am getting another error:
[code]

I have no idea how to create a minimal example to reproduce these errors. I only

[2021-09-18 19:41] a-agmon commented on #8118
Thanks, @jsignell,
I can't get the prob reproducing with the code you suggested, though I have about 1.5 million users, each with about 100 records.

At any rate, when my code hangs, it looks as if the actual `loc` has been completed, as you can see below:

![image](https://user-images.githubusercontent.com/54080741/133906018-f075c4b6-b306-4266-82f0-59d3454932e1.png)

Does this mean that it hangs

[2021-09-18 23:26] chirag-indi commented on #8115
Hi,
I'm a little new to Open Source. Could I take this up?

[2021-09-18 23:58] yosoyjay commented on #6812
I randomly ran into a similar issue when I forgot the remote worker mounts were different than the local mounts.  I'm curious if there exists an efficient way to test for such a situation such that dask could provide a more helpful error message? I thought perhaps that the `File Not Found` exception could be caught and a comparison of `/etc/fstab` could be made between local and worker file system

[2021-09-19 18:44] a-agmon commented on #8118
closing this as the following code  - actually does not raise this issue

[code]

[2021-09-19 19:03] #8118 closed

[2021-09-20 00:27] jordanparker6 opened #8159 "Repartition by frequency errors for DatetimeIndex"
I am trying to read in a collection of parquet files that have been indexed by a Datetime column. I have checked the columns and confirmed that the read_parquet method is reading in Datetime values. However, even with the Datetime column set as the index, I get the following error ``` TypeError: Can only repartition on frequency for timeseries```

The code to reproduce this error is below.

[code]

[2021-09-20 03:09] abergou commented on #8152
I will take the other side of this: there are legitimate uses for num_workers=1 even in the threaded scheduler (e.g. debugging in the exact codepath or being in a share computation environment where I want to scale to the number of available cpus, which may be 1). If I want to avoid warnings (e.g. because an unexpected warning will cause my job to fail) then I need to special case num_workers=1 or

[2021-09-20 06:09] jakirkham commented on #8152
Can you please help me understand something? Is there a reason [the single-threaded scheduler]( https://docs.dask.org/en/latest/scheduling.html#single-thread ) would not work in those cases?

[2021-09-20 13:32] jsignell commented on #8159
If you do `df.known_divisions` you'll get `False` which means that dask doesn't know the start and end of the index for each partition. This might happen because your index isn't set on the dask dataframe or isn't sorted. To fix this issue, you can explicitly set the index like: `df = df.set_index("index")`. If that doesn't work, you may need to unset the index first. Something like: `df  = df.res

[2021-09-20 13:43] jsignell commented on #8115
Sure! The work is to add the total_memory usage to the output of `info` when `verbose=True`. Just let me know if you run into any issues :)

[2021-09-20 13:46] bphillips-exos opened #8160 "`SystemError: unknown opcode` with compiled nested function"
I am encountering a `SystemError: unknown opcode` when trying to use a [nuitka](https://github.com/Nuitka/Nuitka) compiled library in a Dask cluster (both local and distributed). The source code works fine when run outside of a cluster, and when compiled by nuitka. It even works if I use cloudpickle to dump and load the outer compiled function before using it, outside of a cluster context.

I orig

[2021-09-20 13:46] jsignell commented on #8118
I'm glad you were able to get it working :)

[2021-09-20 13:51] jsignell commented on #8160
Hmmm. I can't reproduce with more recent versions of dask and distributed. Are you able to update and try again?

[2021-09-20 13:59] bphillips-exos commented on #8160
Yes I can reproduce with latest versions of dask and distributed (2021.9.0), I will update ticket.

[2021-09-20 14:00] jsignell commented on #8135
Maybe this is the piece that you are missing: when you call `.to_delayed()` on a dask collection (like a dataframe) what you get back is a list of delayed objects. So it's no longer a collection.

[2021-09-20 14:08] bphillips-exos commented on #8160
Here is a runbook to reproduce. Perhaps you missed the compile step?

[code]

[2021-09-20 16:32] jsignell commented on #8160
You are totally right - I missed the compile step. I am going to move this issue to the distributed repo since it only occurs on distributed clusters.

[2021-09-20 16:44] PCanavelli opened #8161 "Incompatible storage_options handling between dd.read_csv and dd.read_parquet"
Hey there,

I've been dealing with a puzzling issue while trying to remotely read either csv or parquet files from a MinIO bucket.

This works:

[code]

However, using the same `storage_options` format to read parquet files from the same bucket fails:

[code]

Here is the full error:

[code]

I've noticed reading through the source code that `dd.read_parquet` and `dd.read_csv` handle `storage_opti

[2021-09-20 16:45] jsignell commented on #4869
Yeah there are definitely still some issues with groupby.nunique particularly when paired with recent versions of pandas.

You can always try this workaround https://github.com/dask/dask/issues/4869#issuecomment-610912769

[2021-09-20 16:55] jsignell commented on #8161
@martindurant maybe you can comment on the differences between storage_options in these two readers? I would expect that if you are using fsspec, the storage_options should be the same in both cases. Based on the pandas docs, it looks like you use fsspec if the path starts with `s3` and not if it starts with `http`

![image](https://user-images.githubusercontent.com/4806877/134042433-1cfd0aeb-9322

[2021-09-20 16:56] jsignell commented on #6812
I was imagining that we'd just look at the path before attempting computation and raise if it cannot work, but I didn't ever get around to trying that approach out.

[2021-09-20 17:00] PCanavelli commented on #8161
Hi @jsignell, and thanks for answering so rapidly.

Yes, I confirm that both urls follow the same s3://<...> format, and should then be forwarded to `fsspec`.

[2021-09-20 17:04] martindurant commented on #8161
Yes, the options are the same when passed to fsspec. However, pandas already had http support before relying on fsspec, so that one specific protocol is handled separately - I believe this is still the case.

Whether using parquet or csv, dask handles creating the fsspec instance explicitly, and it's open files that get passed to pandas or passing path + filesystem instance to the parquet backends

[2021-09-20 17:52] chirag-indi commented on #8115
Hi Julia! (@jsignell)

It was a pretty small change as most of it was already present. I was able to get it working but had a couple of small questions before I opened up a PR.

The enhancement to ```ddf.info(verbose=True)```
![image](https://user-images.githubusercontent.com/20301919/134048854-ad596ab4-3a84-415e-8d86-8ee286643169.png)

1. Considering the problem faced by @raybellwaves, wouldn't a

[2021-09-20 18:18] martindurant commented on #8161
You can make your own easily enough
[code]

[2021-09-20 19:12] jsignell commented on #8115
Yeah you are right! I should have gone to look at the method to check on what kwargs were already there. Given that there is already a `memory_usage=True` kwarg, I think we can either just close this issue, or we could make `verbose=True` also set `memory_usage=True`.

For 2. I do not think we should flip the default from `verbose=False` to `verbose=True`. My thinking is that anytime dask triggers

[2021-09-21 00:21] jdldeauna opened #8163 "Error when plotting xarray dataset while using dask"
Hi! The following lines of code works fine (produces a plot) when used without `dask`:
[code]
However, if I activate a `dask` client based on [these instructions](https://nbviewer.jupyter.org/gist/jbusecke/d0da9998f19d235852e7a96d484f3f9b):
[code]
Running the same first set of code produces the following error:
[code]

The error message `TypeError: interp_1d_linear() got an unexpected keyword argu

[2021-09-21 01:20] zzhengnan commented on #8135
@jsignell Thanks for the clarification.

I think my confusion may have stemmed from the fact that, per the first sentence on [this page](https://docs.dask.org/en/latest/custom-collections.html), I'm interpreting the term "dask collection" to include delayed objects _in addition to_ dask arrays and dataframes. However, it sounds like that interpretation is not appropriate for the delayed best pract

[2021-09-21 06:50] jordanparker6 commented on #8159
The lack of sorting looked it was the issue. `df = df.reset_index().set_index("index")` worked a charm. Thanks a lot for your help.

When saving to disk, I was aiming to have the parts saved by yyyy-mm or in a directory structure yyyy/mm. However, it was just saved as part-*.parquet. Is the ability to control the partitions filenames present?

[2021-09-21 13:15] jsignell commented on #8163
I believe that the issue is that you have different versions of `xgcm` on your dask cluster compared to your client. It looks like you have `xgcm='0.5.2'` on your cluster. You can tell this because the option that is throwing an error `bypass_checks` didn't exist in `0.5.1` (ref: https://github.com/xgcm/xgcm/blob/v0.5.1/xgcm/transform.py#L37).

The reason why you are getting this newer version on

[2021-09-21 13:34] jsignell commented on #8135
Yeah I think that's correct. There is definitely some confusion about terminology.

[2021-09-21 13:56] jsignell commented on #8159
There is an open pull request for controlling the filename (https://github.com/dask/dask/pull/7682), but you should be able to save in a particular directory structure using the `partition_on` option on `to_parquet` but I think it only allows one level of nesting.

[2021-09-21 13:57] jsignell commented on #8159
I'm going to close this issue since it seems like the original issue is resolved, but if you run into anything else, please feel free to open a new issue!

[2021-09-21 13:57] #8159 closed

[2021-09-21 14:23] thomasstevenm opened #8164 "Assignment silently fails for array with unknown chunk size"
**What happened**:
I want to exclude the 0th element of a dask array for some future computation, so I tried setting its value to 0. Discovered later that the array was not updated and no errors were thrown. I suspect it's due to the size of the array being unknown for the assignment.

**What you expected to happen**:
For some operations on arrays with unknown chunk sizes, a ValueError is thrown (

[2021-09-21 15:25] jsignell commented on #8164
Thanks for opening this! I 100% agree with your assessment.

[2021-09-21 16:06] jamestwebber commented on #8006
I could create a new issue it's _so_ close to this one: while `to_zarr` works as expected, `from_zarr` still raises the error mentioned in the original post. It'd be great if it worked both ways!

Just tested with `zarr=2.10` and `dask=2021.09.0`

[2021-09-21 16:27] jrbourbeau commented on #8006
A new issue, or a PR, for `from_zarr` would be very welcome : )

[2021-09-21 16:57] #8137 closed

[2021-09-21 17:00] quasiben commented on #7687
@astrofrog unfortunately, we don't really have a good example

It can be controlled with a combination of Dask and CuPy:
https://docs.dask.org/en/latest/configuration-reference.html#rmm
+

[code]

Or with Dask-CUDA directly:

[code]

Can I ask you to file an issue on Dask-CUDA issue tracker:
https://github.com/rapidsai/dask-cuda/

There we can find the way to best document how to use RMM with Dask

[2021-09-21 17:07] pentschev commented on #7687
To add to @quasiben 's answer, we have a [`setup_memory_pool`](https://github.com/rapidsai/dask-cuda/blob/a884233cab309c5b66a9e8ca5a102a634260c6d1/dask_cuda/benchmarks/utils.py#L268-L287) function in Dask-CUDA benchmarks to do exactly that.

[2021-09-21 20:22] jamestwebber opened #8168 "Support Path objects in from_zarr"
Related to #8006 but the opposite side of the coin: while one can save `to_zarr`, it is still not possible to give a `pathlib.Path` object to `dask.array.from_zarr`, although this is possible with`zarr.open`.

[2021-09-22 07:35] jdldeauna commented on #8163
Thanks so much for this explanation! What I ended up doing was installing an updated version of xgcm:
[code]
then doing the same for the PipInstallPlugin:
[code]

[2021-09-22 07:35] #8163 closed

[2021-09-22 13:31] bnavigator opened #8169 "32bit test suite: pandas 1.3.3 "Buffer dtype mismatch""
**What happened**:

When running the test suite in a 32-bit environment on the openSUSE buildservice, I get the following error

[code]

If I didn't overlook something, it is the same error for 187 tests:
[code]

Full buildlog:
[dask-test-i586_log.txt](https://github.com/dask/dask/files/7210987/dask-test-i586_log.txt)

[code]

**Anything else we need to know?**:
- Pandas 1.3.3
- Distributed is bui

[2021-09-22 13:37] TomAugspurger commented on #8169
Can you check if changing https://github.com/dask/dask/blob/7b661440e7a916b8a9b369cc24bd4180f8564e0b/dask/dataframe/backends.py#L359 from `np.int64` to `np.intp` fixes the issue?

[2021-09-22 13:42] bnavigator commented on #8169
Checking right now. Meanwhile here is the change in pandas for reference: https://github.com/pandas-dev/pandas/pull/40528

[2021-09-22 13:58] bnavigator commented on #8169
I can confirm that changing the casting to `np.intp` fixes the failures with pandas 1.3.3 Not sure how to make this backwards compatible with pandas < 1.3 where `groupsort_indexer` expects an `np.int64`.

[2021-09-22 17:08] clbarnes commented on #8168
Yes, this seems to be because fsspec does not support `Path`s and `from_zarr` uses fsspec directly where `to_zarr` uses `zarr.open`. On the zarr side, someone passing fsspec mappers around shouldn't be using `Path`s, so it's probably best not to do this `Path` -> `str` conversion in zarr, but here as the fsspec mapper is an internal implementation detail it's probably fair to add another condition

[2021-09-23 15:15] cliffplaysdrums opened #8172 "botocore error when writing parquet to S3"
I'm unable to write a particular dataframe to S3.

## Code overview
Read a parquet file from S3
[code]
Extract rows with an na value to troubleshoot later
[code]
Some columns that should be int have na values we can't directly cast. Find na values in columns that are supposed to be int, and replace them with a representative value (-1)
[code]
Now types can be safely converted
[code]
(I also replac

[2021-09-23 15:48] gjoseph92 opened #8173 "`to_delayed(optimize_graph=False)` objects often have incorrect `__dask_layers__`"
`to_delayed(optimize_graph=False)` on a DataFrame or Array creates semi-broken Delayed objects which can't interoperate.

These objects have keys like `('array-abcde', 0)`. Calling `__dask_layers__` also gives you `('array-abcde', 0)`. However, `('array-abcde', 0)` isn't actually a layer in the HighLevelGraph—`'array-abcde'` is the correct name of the layer.

When you try to use these delayed obje

[2021-09-23 16:15] #8164 closed

[2021-09-23 16:41] ncclementi commented on #8156
@umonaca Checking in here, Do you think the second suggestion made here https://github.com/dask/dask/issues/8156#issuecomment-921153847 would work in that case?

[2021-09-23 20:43] jrbourbeau commented on #7096
Thanks for raising an issue @beckernick -- closing as a duplicate of https://github.com/dask/dask/issues/5974

[2021-09-23 20:43] #7096 closed

[2021-09-24 03:36] umonaca commented on #8156
I'll look into it tomorrow.

[2021-09-24 11:19] zzhengnan commented on #8135
Thanks for the confirmation.

[2021-09-24 11:19] #8135 closed

[2021-09-24 13:02] Paul424 opened #8175 "When updating a parquet dataset on S3 using arrow-engine it fails reading the schema (_get_dataset_offset)"
When creating a new parquet (hive partitioned) dataset on S3 using pyarrow this runs fine initially; the parts are created, so is the common/metadata.

But then when updating this dataset with additional chunks of data it asserts.

Notice this is a:
- (hive) partitioned dataset
- pyarrow engine selected
- schema explicitly provided (so no infer of schema)

code fragment:

[code]

Callstack to the

[2021-09-24 16:27] ncclementi commented on #7800
@jrbourbeau checking in here, I noticed that the PR that "fixes" this issue was closed and not merged since there is still use for `tmpdir` and `tmpfile`. See https://github.com/dask/dask/pull/7803#issuecomment-893899855 . Should we close this issue then?

[2021-09-24 18:53] beckernick commented on #7096
Thanks for deduping here @jrbourbeau !

[2021-09-24 20:25] jthielen commented on #6635
Discussion on this topic (and hopefully converging efforts towards a resolution) is welcome at https://github.com/pydata/duck-array-discussion/issues/3!

[2021-09-25 03:11] kesmit13 commented on #7622
I'm running into the same error when I do want to return a `DataFrame`. It seems as though calling `func` in `apply_and_enforce` is always returning a `Series` rather than a `DataFrame`.
[code]
Results in:
[code]

[2021-09-25 10:40] keszybz commented on #7406
With python3-sqlalchemy-1.4.23-1.fc36.x86_64, python3-pandas-1.3.0-2.fc35.x86_64 (current in Fedora 35), I only get one test failure because of a deprecation warning:

[code]

[2021-09-25 14:38] MrPowers commented on #8058
@rjzamora - awesome write up!

Delta Lake writes Parquet files + metadata files.  Dask Parquet writers output Parquet files + metadata by default, similar to Delta Lake.

As @jorisvandenbossche mentioned, metadata can have the same scaling challenges as regular big data.  Delta Lake has solved the "metadata scaling problem".  They output one metadata file in the JSON file format per transaction an

[2021-09-25 17:48] jmoralez opened #8178 "`to_parquet` fails with dataframe built from futures"
**What happened**:
Trying to write a dask dataframe built from pandas futures using the `to_parquet` method fails.

**What you expected to happen**:
Writing the dataframe successfully (the `to_csv` method works).

**Minimal Complete Verifiable Example**:

[code]
<details>
    <summary>Stacktrace</summary>

[code]
</details>

**Anything else we need to know?**:
I believe this was introduced in #796

[2021-09-25 21:59] raybellwaves opened #8179 "improve SSHCluster docs for setup"
I would like to try to create a SSHCluster. AFAICT this may be a good tool when i'm working in one machine and want to run the computations on another machine.

Before I get into issues with running this in the cloud I would like to test it locally (if possible).

Following https://docs.dask.org/en/latest/setup/ssh.html#python-interface

There is an example:

[code]

I was thinking this would work

[2021-09-26 01:57] raybellwaves commented on #8179
Renamed title as original issue solved. I'll make a PR to the docs incase others come across this in the future

[2021-09-27 14:53] jsignell commented on #8175
Ping @martindurant for ideas on this one.

[2021-09-27 15:25] TAdeJong opened #8182 "Usage of numpy quantile/percentile functions on da.array broken on distributed scheduler in 2021.08.0"
Using `np.quantile`/`np.nanquantile`/`np.percentile`/`np.nanpercentile` on dask arrays while running a localcluster broke in 2021.08.0, while it still worked in 2021.06.2.

Especially for `np.nanquantile` the workaround is non-trivial (`da.percentile(X[~np.isnan(X)].flatten(), q * 100).compute()` seems to give the desired result).

To be fair, using these functions has been throwing a future warni

[2021-09-27 15:36] rjzamora commented on #8058
Thanks for engaging in this discussion @jorisvandenbossche and @MrPowers ! Sorry - I didn’t realize there were comments I missed here.  

  It would be super helpful to get your eyes on that PR if you have time :)

You have this all correct, but I believe my focus is on slightly different “use cases” than you seem to be assuming here.  **I do not intend to improve the case where we have a proper _

[2021-09-27 15:39] jsignell commented on #8178
Thanks for reporting this @jmoralez. I am able to reproduce, but I do wonder if passing futures rather than delayed objects to `dd.from_delayed` was ever intentionally supported. Maybe @jrbourbeau or @jcrist will know the answer to that question.

[2021-09-27 16:18] martindurant commented on #8175
I expect that `engine="fastparquet"` handles this fine. On calling the specific method that does not handle filesystems, I have not yet looked in details, but very probably that pyarrow method can take a file-like object as created by fsspec
[code]

Perhaps your specific code path is not hit in our test suite.

cc @rjzamora

[2021-09-27 17:50] jcrist commented on #8178
Yeah, I don't think we ever intentionally supported implicitly converting futures to delayed objects (and I'm not sure if we'd want to). Explicitly calling `delayed` on each future does work though:

[code]

Note that if your code looks like the above, you're better off dropping the `submit` calls and relying on `dask.delayed` to manage your `create_partition` calls.

[code]

Also note that you pr

[2021-09-27 18:01] jmoralez commented on #8178
Yes I currently call `.head()` on the first partition to get the meta. Thank you very much!

[2021-09-27 18:04] Puertarra opened #8183 "OSError 22 when df.compute()"
Hello. I'm reading a parquet file created with Dask.
I applied some filters and try to convert to a Pandas DF

Python 3.8.8
dask                          2021.4.0           pyhd3eb1b0_0
dask-core                 2021.4.0           pyhd3eb1b0_0
dask-labextension         0.3.3                      py_1    conda-forge

This is the trace:

--------------------------------------------------------------

[2021-09-27 18:32] jakirkham commented on #7764
@ashokgaire my guess is one would need to build [a new package for Pyodide]( https://pyodide.org/en/stable/development/new-packages.html ). In any event this is off-topic for this issue. So would recommend following up on [the pyodide issue tracker]( https://github.com/pyodide/pyodide/issues/new ) for help getting that started. Thanks! 😄

[2021-09-27 18:56] chrisroat commented on #7851
The fix by #8174 by @gjoseph92 fixed this issue.  In my testing, the 8000 block reproducer finished in <8s with minimal memory usage.

[2021-09-27 18:56] #7851 closed

[2021-09-27 19:17] #8179 closed

[2021-09-27 19:19] gjoseph92 commented on #7851
Ah that makes sense, every `from_delayed` probably had to materialize and merge the full un-culled graph of the array. Nice! I had no idea I was fixing this.

[2021-09-27 19:24] jcrist commented on #8111
Thanks @v1shanker, I've pushed a patch for this hereat #8185.

[code]

[2021-09-27 19:31] jcrist commented on #8183
Hi @Puertarra, this error is hard to diagnose without any context around it. Can you please post a [minimal reproducible example](https://blog.dask.org/2018/02/28/minimal-bug-reports)? On first guess, this likely indicates some issue with cluster health (either networking issue or a worker/scheduler dieing during computation).

[2021-09-27 19:38] jcrist commented on #8182
Thanks for the reproducible example @TAdeJong. This is a duplicate of https://github.com/dask/distributed/issues/5224, recently fixed by https://github.com/dask/distributed/pull/5236. I can confirm that on distributed `main` things now work again (though with warnings still).

[code]

If you want to open an issue about those warnings instead that would be welcome, but I think the original issue he

[2021-09-27 19:38] #8182 closed

[2021-09-27 21:11] #8111 closed

[2021-09-27 22:33] rjzamora commented on #8175
Thanks for the clear writeup @Paul424 - We should certainly be passing a file-like object to `pq.read_metadata` (rather than a path).  I submitted #8186 with the fix already suggested by Martin.

[2021-09-28 01:40] Puertarra commented on #8183
Hello Jim:

Thanks for the response. These where my steps:

1. Read a csv file (800 million records, 44GB on disk) with Dask - Ok
2. Make a merge operation against a tiny Pandas - Ok
3. Make a filter on the resulting df, generating 49 million records  - Ok
4. Compute the graph and generate a parquet file with 740 partitions  (2.51 GB on disk) - Ok
5. In other notebook create a cluster (12 workers)

[2021-09-28 02:21] jmoralez commented on #8178
@jcrist I'm sorry about this but I didn't test the first snippet (where each future gets delayed) and it fails with the same error for me. I use other futures as arguments to the `create_partition` function so a solution like that one would be very nice. Is there another way?

[2021-09-28 09:58] pavithraes opened #8188 "Documentation build instructions fail using conda"
**What happened**: While building the docs using the conda commands here: https://docs.dask.org/en/latest/develop.html#how-to-build-the-dask-documentation, I get the following error

[code]

I see that `docs/requirements.txt` was changed in July: https://github.com/dask/dask/pull/7943/files
and I’m assuming `git+https://github.com/dask/distributed` works only with pip?

**What you expected to happ

[2021-09-28 10:04] pavithraes commented on #8188
@jsignell pinging you here because you've been working on docs recently :)

cc @ncclementi

[2021-09-28 10:22] ncclementi commented on #8188
Thank you @pavithraes for reporting this. I was able to reproduce and I added a comment on the Docs reorganization PR since there are some changes in the `requirements-docs.txt` file that will have the same issue.

[2021-09-28 12:47] ncclementi commented on #8141
On my machine, for the code of the comment above, I'm seeing longer times for the Dask code but it does complete (116 s). The time for the numpy version (14 s).
I'm on a mac with the M1 chip, 16GB of RAM.

[2021-09-28 13:12] jacobtomlinson opened #8189 "Read the docs permissions"
@jsignell and I are continuing with our docs work (see #7984 and dask/dask-sphinx-theme#54).

Could we get maintainer rights on Read the Docs so we can check some settings in there? Given that we are both org owners it would be really helpful to have maintainer rights on all RTD sites.

cc @mrocklin @jrbourbeau

[2021-09-28 15:11] mrocklin commented on #8189
I've added Jacob (I got his login from the dask-cloudprovider rtd site).
Julia, are you jsignell?

On Tue, Sep 28, 2021 at 9:15 AM Matthew Rocklin ***@***.***> wrote:

[2021-09-28 16:38] jrbourbeau commented on #8189
Closing as Matt added Jacob and Julia in RTD. Thanks @mrocklin!

[2021-09-28 16:38] #8189 closed

[2021-09-28 17:42] jsignell commented on #8178
Huh yeah, I am re-opening this issue.

[2021-09-28 19:49] #8175 closed

[2021-09-28 20:19] randerzander opened #8190 "Support assignment of scalars based on boolean indexes"
With Dask DataFrame, I often want to update values for columns only if some condition holds true for the values of one or more columns in those rows.

For example:
[code]

This is supported in Pandas:
[code]

[2021-09-28 20:26] mrocklin commented on #8190
We've wanted to do this for a while, but mutable semantics have made it
hard (I did this once in a PR, Julia did too I think)

The workaround is to use the where method I think.  Short term maybe we can
improve the error message to point to this method?  Longer term I'd love to
see proper support here if that's doable.

(This is a drive by comment, I apologize if I don't follow up to responses)

O

[2021-09-28 20:57] jrbourbeau commented on #8188
Just wanted to note that it looks like @jsignell is taking care of this issue over in https://github.com/dask/dask/pull/7984

[2021-09-28 21:27] jrbourbeau commented on #8156
Just checking in, @umonaca did this work out?

[2021-09-28 21:35] jrbourbeau commented on #8145
Thanks for the nice reproducer @MrPowers. I think there are some assumptions we make about the `divisions` for the partitions for the DataFrame we're writing to disk. As you mentioned, setting `ignore_divisions=True` allows your example to work. Do you have a concrete suggestion as to how the current state of things may be improved?

Also cc @rjzamora for visibility

[2021-09-29 00:12] #7007 closed

[2021-09-29 09:29] ncclementi commented on #8188
Yes, I was thinking we can close it once that PR is merged, since they are related.

[2021-09-29 11:31] jacobtomlinson commented on #8189
Thanks all!

[2021-09-29 12:19] zzhengnan opened #8194 "Alternative to `Client.get_events` on older versions of `distributed`?"
Hi team. In attempting to follow [this example](https://distributed.dask.org/en/latest/logging.html#structured-logs) to capture logs from my workers, I realized the version of `distributed` I was using doesn't seem to support the `get_events` method.

[code]

Using a newer version of `distributed` solves this issue. Unfortunately, I'm not able to upgrade the package version due to external constra

[2021-09-29 12:21] zzhengnan commented on #8194
I tried to search the phrase "get_events" in the [changelog](https://distributed.dask.org/en/latest/changelog.html) but didn't find anything.

[2021-09-29 18:05] jcrist commented on #8183
I'm not sure, and without a fully reproducible example (e.g. something I can run locally, as described in that blogpost) I wouldn't be able to dig in deeper. The error is coming from our network stack (signaling some kind of issue with socket communication), but as a generic OSError it's hard to tell more detail than that. Anyway, glad you got things working - is this good to close?

[2021-09-29 18:11] Puertarra commented on #8183
Thanks Jim. For me is good to close it.
If you want to dig it deeper, I have no problem in to prepare a fully reproducible example for you.
All the best.

[2021-09-29 18:19] jcrist commented on #8178
Ah, sorry, I had assumed since the `from_delayed` call worked the df was fine, I hadn't actually tested the `to_parquet` call. This is due to #8178, I'll start on a fix for this today. For now though you can manually disable graph optimizations for the `to_parquet` call and that should fix things. Note that wrapping futures in `delayed` isn't necessary, that does happen automatically for `dd.from_

[2021-09-29 18:23] #8183 closed

[2021-09-29 18:30] jcrist commented on #8178
Hmmm, actually this isn't #8173. I can confirm that the above does work, but it's not related to graph optimization. I've amended the workaround above to optimize like normal. Looking deeper now.

[2021-09-29 20:57] jcrist commented on #8178
Found the bug, a fix is in #8199.

[2021-09-30 08:41] RGBYCP commented on #7333
Hi, I have the same problem with my hdf5 files (when reading with dask or pandas), inside are arrays. When is `read_hdf()` supposed to work, please?

[2021-09-30 15:57] charlesbluca commented on #8190
Is there any reason we can't just rely on the same `where` call used when the `key` is a dataframe or dataframe-like?

[code]

This seems to give us consistent behavior with Pandas, but I'm not sure if there's ideally a less expensive way to do this.

[2021-09-30 17:41] jrbourbeau commented on #7076
I believe this was closed by https://github.com/dask/dask/pull/7077. @Illviljan feel free to re-open if that's not the case

[2021-09-30 17:41] #7076 closed

[2021-09-30 18:29] yohplala opened #8201 "Correct fastparquet call"
Please, could you remove the setting of `sep` parameter when calling `ParquetFile.__init__()` from fastparquet lib?
This parameter is not used any longer.

[code]

[line 96 in fasparquet lib, api.py file.](https://github.com/dask/fastparquet/blob/88cc7653a428c07e732b75621d619b8b78ed8b6f/fastparquet/api.py#L96)

[2021-09-30 19:38] jrbourbeau commented on #8172
Thanks for raising an issue @cliffplaysdrums! Apologies for the delayed response

cc @martindurant for the ` OSError: [Errno 22] The XML you provided was not well-formed or did not validate against our published schema.` part of the traceback.

For the ` RuntimeError: file metadata is only available after writer close` part, that looks similar to the issue reported in https://github.com/dask/dask/

[2021-09-30 21:17] github-actions[bot] opened #8203 "⚠️ Upstream CI failed ⚠️"
[Workflow Run URL](https://github.com/dask/dask/actions/runs/1293336313)

[2021-09-30 21:53] jrbourbeau commented on #8203
I see this issue didn't get the `upstream` label assigned to it even though it's specified here

https://github.com/dask/dask/blob/bbda5529e4ceba32dadcb8d1110aa3b0814e12b2/.github/workflows/upstream.yml#L107

@jsignell @wreis any thoughts on why that might be?

[2021-09-30 22:19] github-actions[bot] opened #8204 "⚠️ Upstream CI failed ⚠️"
[Workflow Run URL](https://github.com/dask/dask/actions/runs/1292821989)

[2021-10-01 01:01] jrbourbeau commented on #8204
See https://github.com/dask/dask/issues/8203

[2021-10-01 01:01] #8204 closed

[2021-10-01 13:16] martindurant commented on #8172
I think "The XML you provided..." happens when too many requests are in flight at once - it should probably be retried by s3fs.

[2021-10-01 13:29] jsignell commented on #8203
Did it already exist?

[2021-10-01 13:45] jrbourbeau commented on #8203
Yeah, the `upstream` label already existed (I manually assigned it to this issue, but originally it wasn't there)

[2021-10-01 14:37] jsignell commented on #7333
@RGBYCP it would help to have a reproducible example. Can you alter the original example in this issue to make it like the case you are describing? Here's my understanding of the situation you are describing:

[code]

[2021-10-01 14:48] RGBYCP commented on #7333
Dear @jsignell
I am very sorry. I started like this

[code]

[2021-10-01 14:48] jsignell commented on #8201
Thanks for opening this issue. I will open a PR to try removing `sep`.

[2021-10-01 15:06] jsignell commented on #7333
It is not common to store 2d arrays as values in a dataframe. Have you considered using xarray instead? Otherwise you could just create a dictionary of 2d arrays and reference them that way.

For the record I tried using dd.from_array but it throws an error if the data > 2D:

[code]

[2021-10-01 15:08] #8190 closed

[2021-10-01 15:12] #8203 closed

[2021-10-01 15:16] RGBYCP commented on #7333
Hi @jsignell,
"It is not common to store 2d arrays as values in a dataframe. Have you considered using xarray instead? Otherwise you could just create a dictionary of 2d arrays and reference them that way."
Sorry, if I ask embarrassing newbie questions. I did something recently in smaller with a pandas dataframe. It gives me a nice overview about my dataset and I can store in one row further infor

[2021-10-01 15:22] charlesbluca commented on #8190
Looks like that diff was merged in. which should resolve this - happy to open a follow up issue if there's a better way to do this.

[2021-10-01 15:35] github-actions[bot] opened #8207 "⚠️ Upstream CI failed ⚠️"
[Workflow Run URL](https://github.com/dask/dask/actions/runs/1295574945)

[2021-10-01 15:41] jsignell commented on #7333
For xarray, you could do something like (there is probably a better way):

[code]

Re dict, I just meant you might be ok with something simpler. Just a regular python dictionary where each item is a dask array.

Re error, yeah it's expected.

`read_hdf()` should work wherever `pd.read_hdf()` works.